openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LogsMetricFilters
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/logsMetricFilters:
    get:
      operationId: LogsMetricFilters_ListBySubscription
      tags:
      - LogsMetricFilters
      description: List LogsMetricFilter resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a LogsMetricFilter list operation.
                properties:
                  value:
                    type: array
                    description: The LogsMetricFilter items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                filterName:
                                  type: string
                                  description: The name of the metric filter.
                                filterPattern:
                                  type: string
                                  description: A filter pattern for extracting metric
                                    data out of ingested log events. For more information,
                                    see [Filter and Pattern Syntax](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html).
                                logGroupName:
                                  type: string
                                  description: The name of an existing log group that
                                    you want to associate with this metric filter.
                                metricTransformations:
                                  type: array
                                  description: The metric transformations.
                                  items:
                                    type: object
                                    description: Definition of MetricTransformation
                                    properties:
                                      defaultValue:
                                        type: integer
                                        format: int32
                                        description: (Optional) The value to emit
                                          when a filter pattern does not match a log
                                          event. This value can be null.
                                      dimensions:
                                        type: array
                                        description: The fields to use as dimensions
                                          for the metric. One metric filter can include
                                          as many as three dimensions.  Metrics extracted
                                          from log events are charged as custom metrics.
                                          To prevent unexpected high charges, do not
                                          specify high-cardinality fields such as
                                          ``IPAddress`` or ``requestID`` as dimensions.
                                          Each different value found for a dimension
                                          is treated as a separate metric and accrues
                                          charges as a separate custom metric.  CloudWatch
                                          Logs disables a metric filter if it generates
                                          1000 different name/value pairs for your
                                          specified dimensions within a certain amount
                                          of time. This helps to prevent accidental
                                          high charges. You can also set up a billing
                                          alarm to alert you if your charges are higher
                                          than expected. For more information, see
                                          [Creating a Billing Alarm to Monitor Your
                                          Estimated Charges](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/monitor_estimated_charges_with_cloudwatch.html).
                                        items:
                                          type: object
                                          description: Definition of Dimension
                                          properties:
                                            key:
                                              type: string
                                              description: The name for the CW metric
                                                dimension that the metric filter creates.
                                                Dimension names must contain only
                                                ASCII characters, must include at
                                                least one non-whitespace character,
                                                and cannot start with a colon (:).
                                            value:
                                              type: string
                                              description: The log event field that
                                                will contain the value for this dimension.
                                                This dimension will only be published
                                                for a metric if the value is found
                                                in the log event. For example, ``$.eventType``
                                                for JSON log events, or ``$server``
                                                for space-delimited log events.
                                        x-ms-identifiers: []
                                      metricName:
                                        type: string
                                        description: The name of the CloudWatch metric.
                                      metricNamespace:
                                        type: string
                                        description: A custom namespace to contain
                                          your metric in CloudWatch. Use namespaces
                                          to group together metrics that are similar.
                                          For more information, see [Namespaces](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Namespace).
                                      metricValue:
                                        type: string
                                        description: The value that is published to
                                          the CloudWatch metric. For example, if you're
                                          counting the occurrences of a particular
                                          term like ``Error``, specify 1 for the metric
                                          value. If you're counting the number of
                                          bytes transferred, reference the value that
                                          is in the log event by using $. followed
                                          by the name of the field that you specified
                                          in the filter pattern, such as ``$.size``.
                                      unit:
                                        description: The unit to assign to the metric.
                                          If you omit this, the unit is set as ``None``.
                                        type: string
                                        enum:
                                        - Bits
                                        - Bits/Second
                                        - Bytes
                                        - Bytes/Second
                                        - Count
                                        - Count/Second
                                        - Gigabits
                                        - Gigabits/Second
                                        - Gigabytes
                                        - Gigabytes/Second
                                        - Kilobits
                                        - Kilobits/Second
                                        - Kilobytes
                                        - Kilobytes/Second
                                        - Megabits
                                        - Megabits/Second
                                        - Megabytes
                                        - Megabytes/Second
                                        - Microseconds
                                        - Milliseconds
                                        - None
                                        - Percent
                                        - Seconds
                                        - Terabits
                                        - Terabits/Second
                                        - Terabytes
                                        - Terabytes/Second
                                        x-ms-enum:
                                          name: MetricTransformationUnit
                                          modelAsString: true
                                          values:
                                          - name: Bits
                                            value: Bits
                                            description: MetricTransformationUnit
                                              enum Bits
                                          - name: BitsSecond
                                            value: Bits/Second
                                            description: MetricTransformationUnit
                                              enum Bits/Second
                                          - name: Bytes
                                            value: Bytes
                                            description: MetricTransformationUnit
                                              enum Bytes
                                          - name: BytesSecond
                                            value: Bytes/Second
                                            description: MetricTransformationUnit
                                              enum Bytes/Second
                                          - name: Count
                                            value: Count
                                            description: MetricTransformationUnit
                                              enum Count
                                          - name: CountSecond
                                            value: Count/Second
                                            description: MetricTransformationUnit
                                              enum Count/Second
                                          - name: Gigabits
                                            value: Gigabits
                                            description: MetricTransformationUnit
                                              enum Gigabits
                                          - name: GigabitsSecond
                                            value: Gigabits/Second
                                            description: MetricTransformationUnit
                                              enum Gigabits/Second
                                          - name: Gigabytes
                                            value: Gigabytes
                                            description: MetricTransformationUnit
                                              enum Gigabytes
                                          - name: GigabytesSecond
                                            value: Gigabytes/Second
                                            description: MetricTransformationUnit
                                              enum Gigabytes/Second
                                          - name: Kilobits
                                            value: Kilobits
                                            description: MetricTransformationUnit
                                              enum Kilobits
                                          - name: KilobitsSecond
                                            value: Kilobits/Second
                                            description: MetricTransformationUnit
                                              enum Kilobits/Second
                                          - name: Kilobytes
                                            value: Kilobytes
                                            description: MetricTransformationUnit
                                              enum Kilobytes
                                          - name: KilobytesSecond
                                            value: Kilobytes/Second
                                            description: MetricTransformationUnit
                                              enum Kilobytes/Second
                                          - name: Megabits
                                            value: Megabits
                                            description: MetricTransformationUnit
                                              enum Megabits
                                          - name: MegabitsSecond
                                            value: Megabits/Second
                                            description: MetricTransformationUnit
                                              enum Megabits/Second
                                          - name: Megabytes
                                            value: Megabytes
                                            description: MetricTransformationUnit
                                              enum Megabytes
                                          - name: MegabytesSecond
                                            value: Megabytes/Second
                                            description: MetricTransformationUnit
                                              enum Megabytes/Second
                                          - name: Microseconds
                                            value: Microseconds
                                            description: MetricTransformationUnit
                                              enum Microseconds
                                          - name: Milliseconds
                                            value: Milliseconds
                                            description: MetricTransformationUnit
                                              enum Milliseconds
                                          - name: None
                                            value: None
                                            description: MetricTransformationUnit
                                              enum None
                                          - name: Percent
                                            value: Percent
                                            description: MetricTransformationUnit
                                              enum Percent
                                          - name: Seconds
                                            value: Seconds
                                            description: MetricTransformationUnit
                                              enum Seconds
                                          - name: Terabits
                                            value: Terabits
                                            description: MetricTransformationUnit
                                              enum Terabits
                                          - name: TerabitsSecond
                                            value: Terabits/Second
                                            description: MetricTransformationUnit
                                              enum Terabits/Second
                                          - name: Terabytes
                                            value: Terabytes
                                            description: MetricTransformationUnit
                                              enum Terabytes
                                          - name: TerabytesSecond
                                            value: Terabytes/Second
                                            description: MetricTransformationUnit
                                              enum Terabytes/Second
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/logsMetricFilters:
    get:
      operationId: LogsMetricFilters_ListByResourceGroup
      tags:
      - LogsMetricFilters
      description: List LogsMetricFilter resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a LogsMetricFilter list operation.
                properties:
                  value:
                    type: array
                    description: The LogsMetricFilter items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                filterName:
                                  type: string
                                  description: The name of the metric filter.
                                filterPattern:
                                  type: string
                                  description: A filter pattern for extracting metric
                                    data out of ingested log events. For more information,
                                    see [Filter and Pattern Syntax](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html).
                                logGroupName:
                                  type: string
                                  description: The name of an existing log group that
                                    you want to associate with this metric filter.
                                metricTransformations:
                                  type: array
                                  description: The metric transformations.
                                  items:
                                    type: object
                                    description: Definition of MetricTransformation
                                    properties:
                                      defaultValue:
                                        type: integer
                                        format: int32
                                        description: (Optional) The value to emit
                                          when a filter pattern does not match a log
                                          event. This value can be null.
                                      dimensions:
                                        type: array
                                        description: The fields to use as dimensions
                                          for the metric. One metric filter can include
                                          as many as three dimensions.  Metrics extracted
                                          from log events are charged as custom metrics.
                                          To prevent unexpected high charges, do not
                                          specify high-cardinality fields such as
                                          ``IPAddress`` or ``requestID`` as dimensions.
                                          Each different value found for a dimension
                                          is treated as a separate metric and accrues
                                          charges as a separate custom metric.  CloudWatch
                                          Logs disables a metric filter if it generates
                                          1000 different name/value pairs for your
                                          specified dimensions within a certain amount
                                          of time. This helps to prevent accidental
                                          high charges. You can also set up a billing
                                          alarm to alert you if your charges are higher
                                          than expected. For more information, see
                                          [Creating a Billing Alarm to Monitor Your
                                          Estimated Charges](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/monitor_estimated_charges_with_cloudwatch.html).
                                        items:
                                          type: object
                                          description: Definition of Dimension
                                          properties:
                                            key:
                                              type: string
                                              description: The name for the CW metric
                                                dimension that the metric filter creates.
                                                Dimension names must contain only
                                                ASCII characters, must include at
                                                least one non-whitespace character,
                                                and cannot start with a colon (:).
                                            value:
                                              type: string
                                              description: The log event field that
                                                will contain the value for this dimension.
                                                This dimension will only be published
                                                for a metric if the value is found
                                                in the log event. For example, ``$.eventType``
                                                for JSON log events, or ``$server``
                                                for space-delimited log events.
                                        x-ms-identifiers: []
                                      metricName:
                                        type: string
                                        description: The name of the CloudWatch metric.
                                      metricNamespace:
                                        type: string
                                        description: A custom namespace to contain
                                          your metric in CloudWatch. Use namespaces
                                          to group together metrics that are similar.
                                          For more information, see [Namespaces](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Namespace).
                                      metricValue:
                                        type: string
                                        description: The value that is published to
                                          the CloudWatch metric. For example, if you're
                                          counting the occurrences of a particular
                                          term like ``Error``, specify 1 for the metric
                                          value. If you're counting the number of
                                          bytes transferred, reference the value that
                                          is in the log event by using $. followed
                                          by the name of the field that you specified
                                          in the filter pattern, such as ``$.size``.
                                      unit:
                                        description: The unit to assign to the metric.
                                          If you omit this, the unit is set as ``None``.
                                        type: string
                                        enum:
                                        - Bits
                                        - Bits/Second
                                        - Bytes
                                        - Bytes/Second
                                        - Count
                                        - Count/Second
                                        - Gigabits
                                        - Gigabits/Second
                                        - Gigabytes
                                        - Gigabytes/Second
                                        - Kilobits
                                        - Kilobits/Second
                                        - Kilobytes
                                        - Kilobytes/Second
                                        - Megabits
                                        - Megabits/Second
                                        - Megabytes
                                        - Megabytes/Second
                                        - Microseconds
                                        - Milliseconds
                                        - None
                                        - Percent
                                        - Seconds
                                        - Terabits
                                        - Terabits/Second
                                        - Terabytes
                                        - Terabytes/Second
                                        x-ms-enum:
                                          name: MetricTransformationUnit
                                          modelAsString: true
                                          values:
                                          - name: Bits
                                            value: Bits
                                            description: MetricTransformationUnit
                                              enum Bits
                                          - name: BitsSecond
                                            value: Bits/Second
                                            description: MetricTransformationUnit
                                              enum Bits/Second
                                          - name: Bytes
                                            value: Bytes
                                            description: MetricTransformationUnit
                                              enum Bytes
                                          - name: BytesSecond
                                            value: Bytes/Second
                                            description: MetricTransformationUnit
                                              enum Bytes/Second
                                          - name: Count
                                            value: Count
                                            description: MetricTransformationUnit
                                              enum Count
                                          - name: CountSecond
                                            value: Count/Second
                                            description: MetricTransformationUnit
                                              enum Count/Second
                                          - name: Gigabits
                                            value: Gigabits
                                            description: MetricTransformationUnit
                                              enum Gigabits
                                          - name: GigabitsSecond
                                            value: Gigabits/Second
                                            description: MetricTransformationUnit
                                              enum Gigabits/Second
                                          - name: Gigabytes
                                            value: Gigabytes
                                            description: MetricTransformationUnit
                                              enum Gigabytes
                                          - name: GigabytesSecond
                                            value: Gigabytes/Second
                                            description: MetricTransformationUnit
                                              enum Gigabytes/Second
                                          - name: Kilobits
                                            value: Kilobits
                                            description: MetricTransformationUnit
                                              enum Kilobits
                                          - name: KilobitsSecond
                                            value: Kilobits/Second
                                            description: MetricTransformationUnit
                                              enum Kilobits/Second
                                          - name: Kilobytes
                                            value: Kilobytes
                                            description: MetricTransformationUnit
                                              enum Kilobytes
                                          - name: KilobytesSecond
                                            value: Kilobytes/Second
                                            description: MetricTransformationUnit
                                              enum Kilobytes/Second
                                          - name: Megabits
                                            value: Megabits
                                            description: MetricTransformationUnit
                                              enum Megabits
                                          - name: MegabitsSecond
                                            value: Megabits/Second
                                            description: MetricTransformationUnit
                                              enum Megabits/Second
                                          - name: Megabytes
                                            value: Megabytes
                                            description: MetricTransformationUnit
                                              enum Megabytes
                                          - name: MegabytesSecond
                                            value: Megabytes/Second
                                            description: MetricTransformationUnit
                                              enum Megabytes/Second
                                          - name: Microseconds
                                            value: Microseconds
                                            description: MetricTransformationUnit
                                              enum Microseconds
                                          - name: Milliseconds
                                            value: Milliseconds
                                            description: MetricTransformationUnit
                                              enum Milliseconds
                                          - name: None
                                            value: None
                                            description: MetricTransformationUnit
                                              enum None
                                          - name: Percent
                                            value: Percent
                                            description: MetricTransformationUnit
                                              enum Percent
                                          - name: Seconds
                                            value: Seconds
                                            description: MetricTransformationUnit
                                              enum Seconds
                                          - name: Terabits
                                            value: Terabits
                                            description: MetricTransformationUnit
                                              enum Terabits
                                          - name: TerabitsSecond
                                            value: Terabits/Second
                                            description: MetricTransformationUnit
                                              enum Terabits/Second
                                          - name: Terabytes
                                            value: Terabytes
                                            description: MetricTransformationUnit
                                              enum Terabytes
                                          - name: TerabytesSecond
                                            value: Terabytes/Second
                                            description: MetricTransformationUnit
                                              enum Terabytes/Second
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/logsMetricFilters/{name}
  : get:
      operationId: LogsMetricFilters_Get
      tags:
      - LogsMetricFilters
      description: Get a LogsMetricFilter
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of LogsMetricFilter
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          filterName:
                            type: string
                            description: The name of the metric filter.
                          filterPattern:
                            type: string
                            description: A filter pattern for extracting metric data
                              out of ingested log events. For more information, see
                              [Filter and Pattern Syntax](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html).
                          logGroupName:
                            type: string
                            description: The name of an existing log group that you
                              want to associate with this metric filter.
                          metricTransformations:
                            type: array
                            description: The metric transformations.
                            items:
                              type: object
                              description: Definition of MetricTransformation
                              properties:
                                defaultValue:
                                  type: integer
                                  format: int32
                                  description: (Optional) The value to emit when a
                                    filter pattern does not match a log event. This
                                    value can be null.
                                dimensions:
                                  type: array
                                  description: The fields to use as dimensions for
                                    the metric. One metric filter can include as many
                                    as three dimensions.  Metrics extracted from log
                                    events are charged as custom metrics. To prevent
                                    unexpected high charges, do not specify high-cardinality
                                    fields such as ``IPAddress`` or ``requestID``
                                    as dimensions. Each different value found for
                                    a dimension is treated as a separate metric and
                                    accrues charges as a separate custom metric.  CloudWatch
                                    Logs disables a metric filter if it generates
                                    1000 different name/value pairs for your specified
                                    dimensions within a certain amount of time. This
                                    helps to prevent accidental high charges. You
                                    can also set up a billing alarm to alert you if
                                    your charges are higher than expected. For more
                                    information, see [Creating a Billing Alarm to
                                    Monitor Your Estimated Charges](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/monitor_estimated_charges_with_cloudwatch.html).
                                  items:
                                    type: object
                                    description: Definition of Dimension
                                    properties:
                                      key:
                                        type: string
                                        description: The name for the CW metric dimension
                                          that the metric filter creates. Dimension
                                          names must contain only ASCII characters,
                                          must include at least one non-whitespace
                                          character, and cannot start with a colon
                                          (:).
                                      value:
                                        type: string
                                        description: The log event field that will
                                          contain the value for this dimension. This
                                          dimension will only be published for a metric
                                          if the value is found in the log event.
                                          For example, ``$.eventType`` for JSON log
                                          events, or ``$server`` for space-delimited
                                          log events.
                                  x-ms-identifiers: []
                                metricName:
                                  type: string
                                  description: The name of the CloudWatch metric.
                                metricNamespace:
                                  type: string
                                  description: A custom namespace to contain your
                                    metric in CloudWatch. Use namespaces to group
                                    together metrics that are similar. For more information,
                                    see [Namespaces](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Namespace).
                                metricValue:
                                  type: string
                                  description: The value that is published to the
                                    CloudWatch metric. For example, if you're counting
                                    the occurrences of a particular term like ``Error``,
                                    specify 1 for the metric value. If you're counting
                                    the number of bytes transferred, reference the
                                    value that is in the log event by using $. followed
                                    by the name of the field that you specified in
                                    the filter pattern, such as ``$.size``.
                                unit:
                                  description: The unit to assign to the metric. If
                                    you omit this, the unit is set as ``None``.
                                  type: string
                                  enum:
                                  - Bits
                                  - Bits/Second
                                  - Bytes
                                  - Bytes/Second
                                  - Count
                                  - Count/Second
                                  - Gigabits
                                  - Gigabits/Second
                                  - Gigabytes
                                  - Gigabytes/Second
                                  - Kilobits
                                  - Kilobits/Second
                                  - Kilobytes
                                  - Kilobytes/Second
                                  - Megabits
                                  - Megabits/Second
                                  - Megabytes
                                  - Megabytes/Second
                                  - Microseconds
                                  - Milliseconds
                                  - None
                                  - Percent
                                  - Seconds
                                  - Terabits
                                  - Terabits/Second
                                  - Terabytes
                                  - Terabytes/Second
                                  x-ms-enum:
                                    name: MetricTransformationUnit
                                    modelAsString: true
                                    values:
                                    - name: Bits
                                      value: Bits
                                      description: MetricTransformationUnit enum Bits
                                    - name: BitsSecond
                                      value: Bits/Second
                                      description: MetricTransformationUnit enum Bits/Second
                                    - name: Bytes
                                      value: Bytes
                                      description: MetricTransformationUnit enum Bytes
                                    - name: BytesSecond
                                      value: Bytes/Second
                                      description: MetricTransformationUnit enum Bytes/Second
                                    - name: Count
                                      value: Count
                                      description: MetricTransformationUnit enum Count
                                    - name: CountSecond
                                      value: Count/Second
                                      description: MetricTransformationUnit enum Count/Second
                                    - name: Gigabits
                                      value: Gigabits
                                      description: MetricTransformationUnit enum Gigabits
                                    - name: GigabitsSecond
                                      value: Gigabits/Second
                                      description: MetricTransformationUnit enum Gigabits/Second
                                    - name: Gigabytes
                                      value: Gigabytes
                                      description: MetricTransformationUnit enum Gigabytes
                                    - name: GigabytesSecond
                                      value: Gigabytes/Second
                                      description: MetricTransformationUnit enum Gigabytes/Second
                                    - name: Kilobits
                                      value: Kilobits
                                      description: MetricTransformationUnit enum Kilobits
                                    - name: KilobitsSecond
                                      value: Kilobits/Second
                                      description: MetricTransformationUnit enum Kilobits/Second
                                    - name: Kilobytes
                                      value: Kilobytes
                                      description: MetricTransformationUnit enum Kilobytes
                                    - name: KilobytesSecond
                                      value: Kilobytes/Second
                                      description: MetricTransformationUnit enum Kilobytes/Second
                                    - name: Megabits
                                      value: Megabits
                                      description: MetricTransformationUnit enum Megabits
                                    - name: MegabitsSecond
                                      value: Megabits/Second
                                      description: MetricTransformationUnit enum Megabits/Second
                                    - name: Megabytes
                                      value: Megabytes
                                      description: MetricTransformationUnit enum Megabytes
                                    - name: MegabytesSecond
                                      value: Megabytes/Second
                                      description: MetricTransformationUnit enum Megabytes/Second
                                    - name: Microseconds
                                      value: Microseconds
                                      description: MetricTransformationUnit enum Microseconds
                                    - name: Milliseconds
                                      value: Milliseconds
                                      description: MetricTransformationUnit enum Milliseconds
                                    - name: None
                                      value: None
                                      description: MetricTransformationUnit enum None
                                    - name: Percent
                                      value: Percent
                                      description: MetricTransformationUnit enum Percent
                                    - name: Seconds
                                      value: Seconds
                                      description: MetricTransformationUnit enum Seconds
                                    - name: Terabits
                                      value: Terabits
                                      description: MetricTransformationUnit enum Terabits
                                    - name: TerabitsSecond
                                      value: Terabits/Second
                                      description: MetricTransformationUnit enum Terabits/Second
                                    - name: Terabytes
                                      value: Terabytes
                                      description: MetricTransformationUnit enum Terabytes
                                    - name: TerabytesSecond
                                      value: Terabytes/Second
                                      description: MetricTransformationUnit enum Terabytes/Second
                            x-ms-identifiers: []
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: LogsMetricFilters_CreateOrReplace
      tags:
      - LogsMetricFilters
      description: Create a LogsMetricFilter. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of LogsMetricFilter
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        filterName:
                          type: string
                          description: The name of the metric filter.
                        filterPattern:
                          type: string
                          description: A filter pattern for extracting metric data
                            out of ingested log events. For more information, see
                            [Filter and Pattern Syntax](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html).
                        logGroupName:
                          type: string
                          description: The name of an existing log group that you
                            want to associate with this metric filter.
                        metricTransformations:
                          type: array
                          description: The metric transformations.
                          items:
                            type: object
                            description: Definition of MetricTransformation
                            properties:
                              defaultValue:
                                type: integer
                                format: int32
                                description: (Optional) The value to emit when a filter
                                  pattern does not match a log event. This value can
                                  be null.
                              dimensions:
                                type: array
                                description: The fields to use as dimensions for the
                                  metric. One metric filter can include as many as
                                  three dimensions.  Metrics extracted from log events
                                  are charged as custom metrics. To prevent unexpected
                                  high charges, do not specify high-cardinality fields
                                  such as ``IPAddress`` or ``requestID`` as dimensions.
                                  Each different value found for a dimension is treated
                                  as a separate metric and accrues charges as a separate
                                  custom metric.  CloudWatch Logs disables a metric
                                  filter if it generates 1000 different name/value
                                  pairs for your specified dimensions within a certain
                                  amount of time. This helps to prevent accidental
                                  high charges. You can also set up a billing alarm
                                  to alert you if your charges are higher than expected.
                                  For more information, see [Creating a Billing Alarm
                                  to Monitor Your Estimated Charges](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/monitor_estimated_charges_with_cloudwatch.html).
                                items:
                                  type: object
                                  description: Definition of Dimension
                                  properties:
                                    key:
                                      type: string
                                      description: The name for the CW metric dimension
                                        that the metric filter creates. Dimension
                                        names must contain only ASCII characters,
                                        must include at least one non-whitespace character,
                                        and cannot start with a colon (:).
                                    value:
                                      type: string
                                      description: The log event field that will contain
                                        the value for this dimension. This dimension
                                        will only be published for a metric if the
                                        value is found in the log event. For example,
                                        ``$.eventType`` for JSON log events, or ``$server``
                                        for space-delimited log events.
                                x-ms-identifiers: []
                              metricName:
                                type: string
                                description: The name of the CloudWatch metric.
                              metricNamespace:
                                type: string
                                description: A custom namespace to contain your metric
                                  in CloudWatch. Use namespaces to group together
                                  metrics that are similar. For more information,
                                  see [Namespaces](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Namespace).
                              metricValue:
                                type: string
                                description: The value that is published to the CloudWatch
                                  metric. For example, if you're counting the occurrences
                                  of a particular term like ``Error``, specify 1 for
                                  the metric value. If you're counting the number
                                  of bytes transferred, reference the value that is
                                  in the log event by using $. followed by the name
                                  of the field that you specified in the filter pattern,
                                  such as ``$.size``.
                              unit:
                                description: The unit to assign to the metric. If
                                  you omit this, the unit is set as ``None``.
                                type: string
                                enum:
                                - Bits
                                - Bits/Second
                                - Bytes
                                - Bytes/Second
                                - Count
                                - Count/Second
                                - Gigabits
                                - Gigabits/Second
                                - Gigabytes
                                - Gigabytes/Second
                                - Kilobits
                                - Kilobits/Second
                                - Kilobytes
                                - Kilobytes/Second
                                - Megabits
                                - Megabits/Second
                                - Megabytes
                                - Megabytes/Second
                                - Microseconds
                                - Milliseconds
                                - None
                                - Percent
                                - Seconds
                                - Terabits
                                - Terabits/Second
                                - Terabytes
                                - Terabytes/Second
                                x-ms-enum:
                                  name: MetricTransformationUnit
                                  modelAsString: true
                                  values:
                                  - name: Bits
                                    value: Bits
                                    description: MetricTransformationUnit enum Bits
                                  - name: BitsSecond
                                    value: Bits/Second
                                    description: MetricTransformationUnit enum Bits/Second
                                  - name: Bytes
                                    value: Bytes
                                    description: MetricTransformationUnit enum Bytes
                                  - name: BytesSecond
                                    value: Bytes/Second
                                    description: MetricTransformationUnit enum Bytes/Second
                                  - name: Count
                                    value: Count
                                    description: MetricTransformationUnit enum Count
[...]
