openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Macie2JobSummaries
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/macie2JobSummaries:
    get:
      operationId: Macie2JobSummaries_ListBySubscription
      tags:
      - Macie2JobSummaries
      description: List Macie2JobSummary resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Macie2JobSummary list operation.
                properties:
                  value:
                    type: array
                    description: The Macie2JobSummary items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                bucketCriteria:
                                  description: <p>The property- and tag-based conditions
                                    that determine which S3 buckets are included or
                                    excluded from the job's analysis. Each time the
                                    job runs, the job uses these criteria to determine
                                    which buckets to analyze. A job's definition can
                                    contain a bucketCriteria object or a bucketDefinitions
                                    array, not both.</p>
                                  type: object
                                  properties:
                                    excludes:
                                      description: <p>The property- and tag-based
                                        conditions that determine which buckets to
                                        exclude from the job.</p>
                                      type: object
                                      properties:
                                        and:
                                          type: array
                                          description: <p>An array of conditions,
                                            one for each condition that determines
                                            which buckets to include or exclude from
                                            the job. If you specify more than one
                                            condition, Amazon Macie uses AND logic
                                            to join the conditions.</p>
                                          items:
                                            type: object
                                            description: Definition of CriteriaForJob
                                            properties:
                                              simpleCriterion:
                                                description: <p>A property-based condition
                                                  that defines a property, operator,
                                                  and one or more values for including
                                                  or excluding buckets from the job.</p>
                                                type: object
                                                properties:
                                                  comparator:
                                                    description: <p>The operator to
                                                      use in the condition. Valid
                                                      values are EQ (equals) and NE
                                                      (not equals).</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - CONTAINS
                                                        - EQ
                                                        - GT
                                                        - GTE
                                                        - LT
                                                        - LTE
                                                        - NE
                                                        - STARTS_WITH
                                                        x-ms-enum:
                                                          name: JobComparator
                                                          modelAsString: true
                                                          values:
                                                          - name: CONTAINS
                                                            value: CONTAINS
                                                            description: JobComparator
                                                              enum CONTAINS
                                                          - name: EQ
                                                            value: EQ
                                                            description: JobComparator
                                                              enum EQ
                                                          - name: GT
                                                            value: GT
                                                            description: JobComparator
                                                              enum GT
                                                          - name: GTE
                                                            value: GTE
                                                            description: JobComparator
                                                              enum GTE
                                                          - name: LT
                                                            value: LT
                                                            description: JobComparator
                                                              enum LT
                                                          - name: LTE
                                                            value: LTE
                                                            description: JobComparator
                                                              enum LTE
                                                          - name: NE
                                                            value: NE
                                                            description: JobComparator
                                                              enum NE
                                                          - name: STARTS_WITH
                                                            value: STARTS_WITH
                                                            description: JobComparator
                                                              enum STARTS_WITH
                                                  key:
                                                    description: <p>The property to
                                                      use in the condition.</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - ACCOUNT_ID
                                                        - S3_BUCKET_EFFECTIVE_PERMISSION
                                                        - S3_BUCKET_NAME
                                                        - S3_BUCKET_SHARED_ACCESS
                                                        x-ms-enum:
                                                          name: SimpleCriterionKeyForJob
                                                          modelAsString: true
                                                          values:
                                                          - name: ACCOUNT_ID
                                                            value: ACCOUNT_ID
                                                            description: SimpleCriterionKeyForJob
                                                              enum ACCOUNT_ID
                                                          - name: S3_BUCKET_EFFECTIVE_PERMISSION
                                                            value: S3_BUCKET_EFFECTIVE_PERMISSION
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_EFFECTIVE_PERMISSION
                                                          - name: S3_BUCKET_NAME
                                                            value: S3_BUCKET_NAME
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_NAME
                                                          - name: S3_BUCKET_SHARED_ACCESS
                                                            value: S3_BUCKET_SHARED_ACCESS
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_SHARED_ACCESS
                                                  values:
                                                    type: array
                                                    description: <p>An array that
                                                      lists one or more values to
                                                      use in the condition. If you
                                                      specify multiple values, Amazon
                                                      Macie uses OR logic to join
                                                      the values. Valid values for
                                                      each supported property (key)
                                                      are:</p> <ul><li><p>ACCOUNT_ID
                                                      - A string that represents the
                                                      unique identifier for the Amazon
                                                      Web Services account that owns
                                                      the bucket.</p></li> <li><p>S3_BUCKET_EFFECTIVE_PERMISSION
                                                      - A string that represents an
                                                      enumerated value that Macie
                                                      defines for the <a href='https://docs.aws.amazon.com/macie/latest/APIReference/datasources-s3.html#datasources-s3-prop-bucketpublicaccess-effectivepermission'>BucketPublicAccess.effectivePermission</a>
                                                      property of a bucket.</p></li>
                                                      <li><p>S3_BUCKET_NAME - A string
                                                      that represents the name of
                                                      a bucket.</p></li> <li><p>S3_BUCKET_SHARED_ACCESS
                                                      - A string that represents an
                                                      enumerated value that Macie
                                                      defines for the <a href='https://docs.aws.amazon.com/macie/latest/APIReference/datasources-s3.html#datasources-s3-prop-bucketmetadata-sharedaccess'>BucketMetadata.sharedAccess</a>
                                                      property of a bucket.</p></li></ul>
                                                      <p>Values are case sensitive.
                                                      Also, Macie doesn't support
                                                      use of partial values or wildcard
                                                      characters in these values.</p>
                                                    items:
                                                      type: string
                                              tagCriterion:
                                                description: <p>A tag-based condition
                                                  that defines an operator and tag
                                                  keys, tag values, or tag key and
                                                  value pairs for including or excluding
                                                  buckets from the job.</p>
                                                type: object
                                                properties:
                                                  comparator:
                                                    description: <p>The operator to
                                                      use in the condition. Valid
                                                      values are EQ (equals) and NE
                                                      (not equals).</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - CONTAINS
                                                        - EQ
                                                        - GT
                                                        - GTE
                                                        - LT
                                                        - LTE
                                                        - NE
                                                        - STARTS_WITH
                                                        x-ms-enum:
                                                          name: JobComparator
                                                          modelAsString: true
                                                          values:
                                                          - name: CONTAINS
                                                            value: CONTAINS
                                                            description: JobComparator
                                                              enum CONTAINS
                                                          - name: EQ
                                                            value: EQ
                                                            description: JobComparator
                                                              enum EQ
                                                          - name: GT
                                                            value: GT
                                                            description: JobComparator
                                                              enum GT
                                                          - name: GTE
                                                            value: GTE
                                                            description: JobComparator
                                                              enum GTE
                                                          - name: LT
                                                            value: LT
                                                            description: JobComparator
                                                              enum LT
                                                          - name: LTE
                                                            value: LTE
                                                            description: JobComparator
                                                              enum LTE
                                                          - name: NE
                                                            value: NE
                                                            description: JobComparator
                                                              enum NE
                                                          - name: STARTS_WITH
                                                            value: STARTS_WITH
                                                            description: JobComparator
                                                              enum STARTS_WITH
                                                  tagValues:
                                                    type: array
                                                    description: <p>The tag keys,
                                                      tag values, or tag key and value
                                                      pairs to use in the condition.</p>
                                                    items:
                                                      type: object
                                                      description: Definition of TagCriterionPairForJob
                                                      properties:
                                                        key:
                                                          type: string
                                                          description: <p>The value
                                                            for the tag key to use
                                                            in the condition.</p>
                                                        value:
                                                          type: string
                                                          description: <p>The tag
                                                            value to use in the condition.</p>
                                                    x-ms-identifiers: []
                                          x-ms-identifiers: []
                                    includes:
                                      description: <p>The property- and tag-based
                                        conditions that determine which buckets to
                                        include in the job.</p>
                                      type: object
                                      properties:
                                        and:
                                          type: array
                                          description: <p>An array of conditions,
                                            one for each condition that determines
                                            which buckets to include or exclude from
                                            the job. If you specify more than one
                                            condition, Amazon Macie uses AND logic
                                            to join the conditions.</p>
                                          items:
                                            type: object
                                            description: Definition of CriteriaForJob
                                            properties:
                                              simpleCriterion:
                                                description: <p>A property-based condition
                                                  that defines a property, operator,
                                                  and one or more values for including
                                                  or excluding buckets from the job.</p>
                                                type: object
                                                properties:
                                                  comparator:
                                                    description: <p>The operator to
                                                      use in the condition. Valid
                                                      values are EQ (equals) and NE
                                                      (not equals).</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - CONTAINS
                                                        - EQ
                                                        - GT
                                                        - GTE
                                                        - LT
                                                        - LTE
                                                        - NE
                                                        - STARTS_WITH
                                                        x-ms-enum:
                                                          name: JobComparator
                                                          modelAsString: true
                                                          values:
                                                          - name: CONTAINS
                                                            value: CONTAINS
                                                            description: JobComparator
                                                              enum CONTAINS
                                                          - name: EQ
                                                            value: EQ
                                                            description: JobComparator
                                                              enum EQ
                                                          - name: GT
                                                            value: GT
                                                            description: JobComparator
                                                              enum GT
                                                          - name: GTE
                                                            value: GTE
                                                            description: JobComparator
                                                              enum GTE
                                                          - name: LT
                                                            value: LT
                                                            description: JobComparator
                                                              enum LT
                                                          - name: LTE
                                                            value: LTE
                                                            description: JobComparator
                                                              enum LTE
                                                          - name: NE
                                                            value: NE
                                                            description: JobComparator
                                                              enum NE
                                                          - name: STARTS_WITH
                                                            value: STARTS_WITH
                                                            description: JobComparator
                                                              enum STARTS_WITH
                                                  key:
                                                    description: <p>The property to
                                                      use in the condition.</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - ACCOUNT_ID
                                                        - S3_BUCKET_EFFECTIVE_PERMISSION
                                                        - S3_BUCKET_NAME
                                                        - S3_BUCKET_SHARED_ACCESS
                                                        x-ms-enum:
                                                          name: SimpleCriterionKeyForJob
                                                          modelAsString: true
                                                          values:
                                                          - name: ACCOUNT_ID
                                                            value: ACCOUNT_ID
                                                            description: SimpleCriterionKeyForJob
                                                              enum ACCOUNT_ID
                                                          - name: S3_BUCKET_EFFECTIVE_PERMISSION
                                                            value: S3_BUCKET_EFFECTIVE_PERMISSION
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_EFFECTIVE_PERMISSION
                                                          - name: S3_BUCKET_NAME
                                                            value: S3_BUCKET_NAME
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_NAME
                                                          - name: S3_BUCKET_SHARED_ACCESS
                                                            value: S3_BUCKET_SHARED_ACCESS
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_SHARED_ACCESS
                                                  values:
                                                    type: array
                                                    description: <p>An array that
                                                      lists one or more values to
                                                      use in the condition. If you
                                                      specify multiple values, Amazon
                                                      Macie uses OR logic to join
                                                      the values. Valid values for
                                                      each supported property (key)
                                                      are:</p> <ul><li><p>ACCOUNT_ID
                                                      - A string that represents the
                                                      unique identifier for the Amazon
                                                      Web Services account that owns
                                                      the bucket.</p></li> <li><p>S3_BUCKET_EFFECTIVE_PERMISSION
                                                      - A string that represents an
                                                      enumerated value that Macie
                                                      defines for the <a href='https://docs.aws.amazon.com/macie/latest/APIReference/datasources-s3.html#datasources-s3-prop-bucketpublicaccess-effectivepermission'>BucketPublicAccess.effectivePermission</a>
                                                      property of a bucket.</p></li>
                                                      <li><p>S3_BUCKET_NAME - A string
                                                      that represents the name of
                                                      a bucket.</p></li> <li><p>S3_BUCKET_SHARED_ACCESS
                                                      - A string that represents an
                                                      enumerated value that Macie
                                                      defines for the <a href='https://docs.aws.amazon.com/macie/latest/APIReference/datasources-s3.html#datasources-s3-prop-bucketmetadata-sharedaccess'>BucketMetadata.sharedAccess</a>
                                                      property of a bucket.</p></li></ul>
                                                      <p>Values are case sensitive.
                                                      Also, Macie doesn't support
                                                      use of partial values or wildcard
                                                      characters in these values.</p>
                                                    items:
                                                      type: string
                                              tagCriterion:
                                                description: <p>A tag-based condition
                                                  that defines an operator and tag
                                                  keys, tag values, or tag key and
                                                  value pairs for including or excluding
                                                  buckets from the job.</p>
                                                type: object
                                                properties:
                                                  comparator:
                                                    description: <p>The operator to
                                                      use in the condition. Valid
                                                      values are EQ (equals) and NE
                                                      (not equals).</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - CONTAINS
                                                        - EQ
                                                        - GT
                                                        - GTE
                                                        - LT
                                                        - LTE
                                                        - NE
                                                        - STARTS_WITH
                                                        x-ms-enum:
                                                          name: JobComparator
                                                          modelAsString: true
                                                          values:
                                                          - name: CONTAINS
                                                            value: CONTAINS
                                                            description: JobComparator
                                                              enum CONTAINS
                                                          - name: EQ
                                                            value: EQ
                                                            description: JobComparator
                                                              enum EQ
                                                          - name: GT
                                                            value: GT
                                                            description: JobComparator
                                                              enum GT
                                                          - name: GTE
                                                            value: GTE
                                                            description: JobComparator
                                                              enum GTE
                                                          - name: LT
                                                            value: LT
                                                            description: JobComparator
                                                              enum LT
                                                          - name: LTE
                                                            value: LTE
                                                            description: JobComparator
                                                              enum LTE
                                                          - name: NE
                                                            value: NE
                                                            description: JobComparator
                                                              enum NE
                                                          - name: STARTS_WITH
                                                            value: STARTS_WITH
                                                            description: JobComparator
                                                              enum STARTS_WITH
                                                  tagValues:
                                                    type: array
                                                    description: <p>The tag keys,
                                                      tag values, or tag key and value
                                                      pairs to use in the condition.</p>
                                                    items:
                                                      type: object
                                                      description: Definition of TagCriterionPairForJob
                                                      properties:
                                                        key:
                                                          type: string
                                                          description: <p>The value
                                                            for the tag key to use
                                                            in the condition.</p>
                                                        value:
                                                          type: string
                                                          description: <p>The tag
                                                            value to use in the condition.</p>
                                                    x-ms-identifiers: []
                                          x-ms-identifiers: []
                                bucketDefinitions:
                                  type: array
                                  description: <p>An array of objects, one for each
                                    Amazon Web Services account that owns specific
                                    S3 buckets for the job to analyze. Each object
                                    specifies the account ID for an account and one
                                    or more buckets to analyze for that account. A
                                    job's definition can contain a bucketDefinitions
                                    array or a bucketCriteria object, not both.</p>
                                  items:
                                    type: object
                                    description: Definition of S3BucketDefinitionForJob
                                    properties:
                                      accountId:
                                        type: string
                                        description: <p>The unique identifier for
                                          the Amazon Web Services account that owns
                                          the buckets.</p>
                                      buckets:
                                        type: array
                                        description: <p>An array that lists the names
                                          of the buckets.</p>
                                        items:
                                          type: string
                                  x-ms-identifiers: []
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: <p>The date and time, in UTC and extended
                                    ISO 8601 format, when the job was created.</p>
                                jobId:
                                  type: string
                                  description: <p>The unique identifier for the job.</p>
                                jobStatus:
                                  description: <p>The current status of the job. Possible
                                    values are:</p> <ul><li><p>CANCELLED - You cancelled
                                    the job or, if it's a one-time job, you paused
                                    the job and didn't resume it within 30 days.</p></li>
                                    <li><p>COMPLETE - For a one-time job, Amazon Macie
                                    finished processing the data specified for the
                                    job. This value doesn't apply to recurring jobs.</p></li>
                                    <li><p>IDLE - For a recurring job, the previous
                                    scheduled run is complete and the next scheduled
                                    run is pending. This value doesn't apply to one-time
                                    jobs.</p></li> <li><p>PAUSED - Macie started running
                                    the job but additional processing would exceed
                                    the monthly sensitive data discovery quota for
                                    your account or one or more member accounts that
                                    the job analyzes data for.</p></li> <li><p>RUNNING
                                    - For a one-time job, the job is in progress.
                                    For a recurring job, a scheduled run is in progress.</p></li>
                                    <li><p>USER_PAUSED - You paused the job. If you
                                    paused the job while it had a status of RUNNING
                                    and you don't resume it within 30 days of pausing
                                    it, the job or job run will expire and be cancelled,
                                    depending on the job's type. To check the expiration
                                    date, refer to the UserPausedDetails.jobExpiresAt
                                    property.</p></li></ul>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - CANCELLED
                                      - COMPLETE
                                      - IDLE
                                      - PAUSED
                                      - RUNNING
                                      - USER_PAUSED
                                      x-ms-enum:
                                        name: JobStatus
                                        modelAsString: true
                                        values:
                                        - name: CANCELLED
                                          value: CANCELLED
                                          description: JobStatus enum CANCELLED
                                        - name: COMPLETE
                                          value: COMPLETE
                                          description: JobStatus enum COMPLETE
                                        - name: IDLE
                                          value: IDLE
                                          description: JobStatus enum IDLE
                                        - name: PAUSED
                                          value: PAUSED
                                          description: JobStatus enum PAUSED
                                        - name: RUNNING
                                          value: RUNNING
                                          description: JobStatus enum RUNNING
                                        - name: USER_PAUSED
                                          value: USER_PAUSED
                                          description: JobStatus enum USER_PAUSED
                                jobType:
                                  description: <p>The schedule for running the job.
                                    Possible values are:</p> <ul><li><p>ONE_TIME -
                                    The job runs only once.</p></li> <li><p>SCHEDULED
                                    - The job runs on a daily, weekly, or monthly
                                    basis.</p></li></ul>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - ONE_TIME
                                      - SCHEDULED
                                      x-ms-enum:
                                        name: JobType
                                        modelAsString: true
                                        values:
                                        - name: ONE_TIME
                                          value: ONE_TIME
                                          description: JobType enum ONE_TIME
                                        - name: SCHEDULED
                                          value: SCHEDULED
                                          description: JobType enum SCHEDULED
                                lastRunErrorStatus:
                                  description: <p>Specifies whether any account- or
                                    bucket-level access errors occurred when the job
                                    ran. For a recurring job, this value indicates
                                    the error status of the job's most recent run.</p>
                                  type: object
                                  properties:
                                    code:
                                      description: <p>Specifies whether any account-
                                        or bucket-level access errors occurred when
                                        the job ran. For a recurring job, this value
                                        indicates the error status of the job's most
                                        recent run. Possible values are:</p> <ul><li><p>ERROR
                                        - One or more errors occurred. Amazon Macie
                                        didn't process all the data specified for
                                        the job.</p></li> <li><p>NONE - No errors
                                        occurred. Macie processed all the data specified
                                        for the job.</p></li></ul>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - ERROR
                                          - NONE
                                          x-ms-enum:
                                            name: LastRunErrorStatusCode
                                            modelAsString: true
                                            values:
                                            - name: ERROR
                                              value: ERROR
                                              description: LastRunErrorStatusCode
                                                enum ERROR
                                            - name: NONE
                                              value: NONE
                                              description: LastRunErrorStatusCode
                                                enum NONE
                                name:
                                  type: string
                                  description: <p>The custom name of the job.</p>
                                userPausedDetails:
                                  description: <p>If the current status of the job
                                    is USER_PAUSED, specifies when the job was paused
                                    and when the job or job run will expire and be
                                    cancelled if it isn't resumed. This value is present
                                    only if the value for jobStatus is USER_PAUSED.</p>
                                  type: object
                                  properties:
                                    jobExpiresAt:
                                      type: string
                                      format: date-time
                                      description: <p>The date and time, in UTC and
                                        extended ISO 8601 format, when the job or
                                        job run will expire and be cancelled if you
                                        don't resume it first.</p>
                                    jobImminentExpirationHealthEventArn:
                                      type: string
                                      description: <p>The Amazon Resource Name (ARN)
                                        of the Health event that Amazon Macie sent
                                        to notify you of the job or job run's pending
                                        expiration and cancellation. This value is
                                        null if a job has been paused for less than
                                        23 days.</p>
                                    jobPausedAt:
                                      type: string
                                      format: date-time
                                      description: <p>The date and time, in UTC and
                                        extended ISO 8601 format, when you paused
                                        the job.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/macie2JobSummaries:
    get:
      operationId: Macie2JobSummaries_ListByResourceGroup
      tags:
      - Macie2JobSummaries
      description: List Macie2JobSummary resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Macie2JobSummary list operation.
                properties:
                  value:
                    type: array
                    description: The Macie2JobSummary items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                bucketCriteria:
                                  description: <p>The property- and tag-based conditions
                                    that determine which S3 buckets are included or
                                    excluded from the job's analysis. Each time the
                                    job runs, the job uses these criteria to determine
                                    which buckets to analyze. A job's definition can
                                    contain a bucketCriteria object or a bucketDefinitions
                                    array, not both.</p>
                                  type: object
                                  properties:
                                    excludes:
                                      description: <p>The property- and tag-based
                                        conditions that determine which buckets to
                                        exclude from the job.</p>
                                      type: object
                                      properties:
                                        and:
                                          type: array
                                          description: <p>An array of conditions,
                                            one for each condition that determines
                                            which buckets to include or exclude from
                                            the job. If you specify more than one
                                            condition, Amazon Macie uses AND logic
                                            to join the conditions.</p>
                                          items:
                                            type: object
                                            description: Definition of CriteriaForJob
                                            properties:
                                              simpleCriterion:
                                                description: <p>A property-based condition
                                                  that defines a property, operator,
                                                  and one or more values for including
                                                  or excluding buckets from the job.</p>
                                                type: object
                                                properties:
                                                  comparator:
                                                    description: <p>The operator to
                                                      use in the condition. Valid
                                                      values are EQ (equals) and NE
                                                      (not equals).</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - CONTAINS
                                                        - EQ
                                                        - GT
                                                        - GTE
                                                        - LT
                                                        - LTE
                                                        - NE
                                                        - STARTS_WITH
                                                        x-ms-enum:
                                                          name: JobComparator
                                                          modelAsString: true
                                                          values:
                                                          - name: CONTAINS
                                                            value: CONTAINS
                                                            description: JobComparator
                                                              enum CONTAINS
                                                          - name: EQ
                                                            value: EQ
                                                            description: JobComparator
                                                              enum EQ
                                                          - name: GT
                                                            value: GT
                                                            description: JobComparator
                                                              enum GT
                                                          - name: GTE
                                                            value: GTE
                                                            description: JobComparator
                                                              enum GTE
                                                          - name: LT
                                                            value: LT
                                                            description: JobComparator
                                                              enum LT
                                                          - name: LTE
                                                            value: LTE
                                                            description: JobComparator
                                                              enum LTE
                                                          - name: NE
                                                            value: NE
                                                            description: JobComparator
                                                              enum NE
                                                          - name: STARTS_WITH
                                                            value: STARTS_WITH
                                                            description: JobComparator
                                                              enum STARTS_WITH
                                                  key:
                                                    description: <p>The property to
                                                      use in the condition.</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - ACCOUNT_ID
                                                        - S3_BUCKET_EFFECTIVE_PERMISSION
                                                        - S3_BUCKET_NAME
                                                        - S3_BUCKET_SHARED_ACCESS
                                                        x-ms-enum:
                                                          name: SimpleCriterionKeyForJob
                                                          modelAsString: true
                                                          values:
                                                          - name: ACCOUNT_ID
                                                            value: ACCOUNT_ID
                                                            description: SimpleCriterionKeyForJob
                                                              enum ACCOUNT_ID
                                                          - name: S3_BUCKET_EFFECTIVE_PERMISSION
                                                            value: S3_BUCKET_EFFECTIVE_PERMISSION
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_EFFECTIVE_PERMISSION
                                                          - name: S3_BUCKET_NAME
                                                            value: S3_BUCKET_NAME
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_NAME
                                                          - name: S3_BUCKET_SHARED_ACCESS
                                                            value: S3_BUCKET_SHARED_ACCESS
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_SHARED_ACCESS
                                                  values:
                                                    type: array
                                                    description: <p>An array that
                                                      lists one or more values to
                                                      use in the condition. If you
                                                      specify multiple values, Amazon
                                                      Macie uses OR logic to join
                                                      the values. Valid values for
                                                      each supported property (key)
                                                      are:</p> <ul><li><p>ACCOUNT_ID
                                                      - A string that represents the
                                                      unique identifier for the Amazon
                                                      Web Services account that owns
                                                      the bucket.</p></li> <li><p>S3_BUCKET_EFFECTIVE_PERMISSION
                                                      - A string that represents an
                                                      enumerated value that Macie
                                                      defines for the <a href='https://docs.aws.amazon.com/macie/latest/APIReference/datasources-s3.html#datasources-s3-prop-bucketpublicaccess-effectivepermission'>BucketPublicAccess.effectivePermission</a>
                                                      property of a bucket.</p></li>
                                                      <li><p>S3_BUCKET_NAME - A string
                                                      that represents the name of
                                                      a bucket.</p></li> <li><p>S3_BUCKET_SHARED_ACCESS
                                                      - A string that represents an
                                                      enumerated value that Macie
                                                      defines for the <a href='https://docs.aws.amazon.com/macie/latest/APIReference/datasources-s3.html#datasources-s3-prop-bucketmetadata-sharedaccess'>BucketMetadata.sharedAccess</a>
                                                      property of a bucket.</p></li></ul>
                                                      <p>Values are case sensitive.
                                                      Also, Macie doesn't support
                                                      use of partial values or wildcard
                                                      characters in these values.</p>
                                                    items:
                                                      type: string
                                              tagCriterion:
                                                description: <p>A tag-based condition
                                                  that defines an operator and tag
                                                  keys, tag values, or tag key and
                                                  value pairs for including or excluding
                                                  buckets from the job.</p>
                                                type: object
                                                properties:
                                                  comparator:
                                                    description: <p>The operator to
                                                      use in the condition. Valid
                                                      values are EQ (equals) and NE
                                                      (not equals).</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - CONTAINS
                                                        - EQ
                                                        - GT
                                                        - GTE
                                                        - LT
                                                        - LTE
                                                        - NE
                                                        - STARTS_WITH
                                                        x-ms-enum:
                                                          name: JobComparator
                                                          modelAsString: true
                                                          values:
                                                          - name: CONTAINS
                                                            value: CONTAINS
                                                            description: JobComparator
                                                              enum CONTAINS
                                                          - name: EQ
                                                            value: EQ
                                                            description: JobComparator
                                                              enum EQ
                                                          - name: GT
                                                            value: GT
                                                            description: JobComparator
                                                              enum GT
                                                          - name: GTE
                                                            value: GTE
                                                            description: JobComparator
                                                              enum GTE
                                                          - name: LT
                                                            value: LT
                                                            description: JobComparator
                                                              enum LT
                                                          - name: LTE
                                                            value: LTE
                                                            description: JobComparator
                                                              enum LTE
                                                          - name: NE
                                                            value: NE
                                                            description: JobComparator
                                                              enum NE
                                                          - name: STARTS_WITH
                                                            value: STARTS_WITH
                                                            description: JobComparator
                                                              enum STARTS_WITH
                                                  tagValues:
                                                    type: array
                                                    description: <p>The tag keys,
                                                      tag values, or tag key and value
                                                      pairs to use in the condition.</p>
                                                    items:
                                                      type: object
                                                      description: Definition of TagCriterionPairForJob
                                                      properties:
                                                        key:
                                                          type: string
                                                          description: <p>The value
                                                            for the tag key to use
                                                            in the condition.</p>
                                                        value:
                                                          type: string
                                                          description: <p>The tag
                                                            value to use in the condition.</p>
                                                    x-ms-identifiers: []
                                          x-ms-identifiers: []
                                    includes:
                                      description: <p>The property- and tag-based
                                        conditions that determine which buckets to
                                        include in the job.</p>
                                      type: object
                                      properties:
                                        and:
                                          type: array
                                          description: <p>An array of conditions,
                                            one for each condition that determines
                                            which buckets to include or exclude from
                                            the job. If you specify more than one
                                            condition, Amazon Macie uses AND logic
                                            to join the conditions.</p>
                                          items:
                                            type: object
                                            description: Definition of CriteriaForJob
                                            properties:
                                              simpleCriterion:
                                                description: <p>A property-based condition
                                                  that defines a property, operator,
                                                  and one or more values for including
                                                  or excluding buckets from the job.</p>
                                                type: object
                                                properties:
                                                  comparator:
                                                    description: <p>The operator to
                                                      use in the condition. Valid
                                                      values are EQ (equals) and NE
                                                      (not equals).</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - CONTAINS
                                                        - EQ
                                                        - GT
                                                        - GTE
                                                        - LT
                                                        - LTE
                                                        - NE
                                                        - STARTS_WITH
                                                        x-ms-enum:
                                                          name: JobComparator
                                                          modelAsString: true
                                                          values:
                                                          - name: CONTAINS
                                                            value: CONTAINS
                                                            description: JobComparator
                                                              enum CONTAINS
                                                          - name: EQ
                                                            value: EQ
                                                            description: JobComparator
                                                              enum EQ
                                                          - name: GT
                                                            value: GT
                                                            description: JobComparator
                                                              enum GT
                                                          - name: GTE
                                                            value: GTE
                                                            description: JobComparator
                                                              enum GTE
                                                          - name: LT
                                                            value: LT
                                                            description: JobComparator
                                                              enum LT
                                                          - name: LTE
                                                            value: LTE
                                                            description: JobComparator
                                                              enum LTE
                                                          - name: NE
                                                            value: NE
                                                            description: JobComparator
                                                              enum NE
                                                          - name: STARTS_WITH
                                                            value: STARTS_WITH
                                                            description: JobComparator
                                                              enum STARTS_WITH
                                                  key:
                                                    description: <p>The property to
                                                      use in the condition.</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - ACCOUNT_ID
                                                        - S3_BUCKET_EFFECTIVE_PERMISSION
                                                        - S3_BUCKET_NAME
                                                        - S3_BUCKET_SHARED_ACCESS
                                                        x-ms-enum:
                                                          name: SimpleCriterionKeyForJob
                                                          modelAsString: true
                                                          values:
                                                          - name: ACCOUNT_ID
                                                            value: ACCOUNT_ID
                                                            description: SimpleCriterionKeyForJob
                                                              enum ACCOUNT_ID
                                                          - name: S3_BUCKET_EFFECTIVE_PERMISSION
                                                            value: S3_BUCKET_EFFECTIVE_PERMISSION
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_EFFECTIVE_PERMISSION
                                                          - name: S3_BUCKET_NAME
                                                            value: S3_BUCKET_NAME
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_NAME
                                                          - name: S3_BUCKET_SHARED_ACCESS
                                                            value: S3_BUCKET_SHARED_ACCESS
                                                            description: SimpleCriterionKeyForJob
                                                              enum S3_BUCKET_SHARED_ACCESS
                                                  values:
                                                    type: array
                                                    description: <p>An array that
                                                      lists one or more values to
                                                      use in the condition. If you
                                                      specify multiple values, Amazon
                                                      Macie uses OR logic to join
                                                      the values. Valid values for
                                                      each supported property (key)
                                                      are:</p> <ul><li><p>ACCOUNT_ID
                                                      - A string that represents the
                                                      unique identifier for the Amazon
                                                      Web Services account that owns
                                                      the bucket.</p></li> <li><p>S3_BUCKET_EFFECTIVE_PERMISSION
                                                      - A string that represents an
                                                      enumerated value that Macie
                                                      defines for the <a href='https://docs.aws.amazon.com/macie/latest/APIReference/datasources-s3.html#datasources-s3-prop-bucketpublicaccess-effectivepermission'>BucketPublicAccess.effectivePermission</a>
                                                      property of a bucket.</p></li>
                                                      <li><p>S3_BUCKET_NAME - A string
                                                      that represents the name of
                                                      a bucket.</p></li> <li><p>S3_BUCKET_SHARED_ACCESS
                                                      - A string that represents an
                                                      enumerated value that Macie
                                                      defines for the <a href='https://docs.aws.amazon.com/macie/latest/APIReference/datasources-s3.html#datasources-s3-prop-bucketmetadata-sharedaccess'>BucketMetadata.sharedAccess</a>
                                                      property of a bucket.</p></li></ul>
                                                      <p>Values are case sensitive.
                                                      Also, Macie doesn't support
                                                      use of partial values or wildcard
                                                      characters in these values.</p>
                                                    items:
                                                      type: string
                                              tagCriterion:
                                                description: <p>A tag-based condition
                                                  that defines an operator and tag
                                                  keys, tag values, or tag key and
                                                  value pairs for including or excluding
                                                  buckets from the job.</p>
                                                type: object
                                                properties:
                                                  comparator:
                                                    description: <p>The operator to
                                                      use in the condition. Valid
                                                      values are EQ (equals) and NE
                                                      (not equals).</p>
                                                    type: object
                                                    properties:
                                                      value:
                                                        description: Property value
                                                        type: string
                                                        enum:
                                                        - CONTAINS
                                                        - EQ
                                                        - GT
                                                        - GTE
                                                        - LT
                                                        - LTE
                                                        - NE
                                                        - STARTS_WITH
                                                        x-ms-enum:
                                                          name: JobComparator
                                                          modelAsString: true
                                                          values:
                                                          - name: CONTAINS
                                                            value: CONTAINS
                                                            description: JobComparator
                                                              enum CONTAINS
                                                          - name: EQ
                                                            value: EQ
                                                            description: JobComparator
[...]
