openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NetworkFirewallRuleGroups
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/networkFirewallRuleGroups:
    get:
      operationId: NetworkFirewallRuleGroups_ListBySubscription
      tags:
      - NetworkFirewallRuleGroups
      description: List NetworkFirewallRuleGroup resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a NetworkFirewallRuleGroup list operation.
                properties:
                  value:
                    type: array
                    description: The NetworkFirewallRuleGroup items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                capacity:
                                  type: integer
                                  format: int32
                                  description: Property capacity
                                description:
                                  type: string
                                  description: Property description
                                ruleGroup:
                                  description: Property ruleGroup
                                  type: object
                                  properties:
                                    referenceSets:
                                      description: Property referenceSets
                                      type: object
                                      properties:
                                        ipSetReferences:
                                          type: object
                                          description: Property ipSetReferences
                                          additionalProperties:
                                            type: object
                                            description: Definition of IPSetReference
                                            properties:
                                              referenceArn:
                                                type: string
                                                description: A resource ARN.
                                    ruleVariables:
                                      description: Property ruleVariables
                                      type: object
                                      properties:
                                        ipSets:
                                          type: object
                                          description: Property ipSets
                                          additionalProperties:
                                            type: object
                                            description: Definition of IPSet
                                            properties:
                                              definition:
                                                type: array
                                                description: Property definition
                                                items:
                                                  type: string
                                        portSets:
                                          type: object
                                          description: Property portSets
                                          additionalProperties:
                                            type: object
                                            description: Definition of PortSet
                                            properties:
                                              definition:
                                                type: array
                                                description: Property definition
                                                items:
                                                  type: string
                                    rulesSource:
                                      description: Property rulesSource
                                      type: object
                                      properties:
                                        rulesSourceList:
                                          description: Property rulesSourceList
                                          type: object
                                          properties:
                                            generatedRulesType:
                                              description: Property generatedRulesType
                                              type: string
                                              enum:
                                              - ALLOWLIST
                                              - DENYLIST
                                              x-ms-enum:
                                                name: RulesSourceListGeneratedRulesType
                                                modelAsString: true
                                                values:
                                                - name: ALLOWLIST
                                                  value: ALLOWLIST
                                                  description: RulesSourceListGeneratedRulesType
                                                    enum ALLOWLIST
                                                - name: DENYLIST
                                                  value: DENYLIST
                                                  description: RulesSourceListGeneratedRulesType
                                                    enum DENYLIST
                                            targetTypes:
                                              type: array
                                              description: Property targetTypes
                                              items:
                                                type: string
                                            targets:
                                              type: array
                                              description: Property targets
                                              items:
                                                type: string
                                        rulesString:
                                          type: string
                                          description: Property rulesString
                                        statefulRules:
                                          type: array
                                          description: Property statefulRules
                                          items:
                                            type: object
                                            description: Definition of StatefulRule
                                            properties:
                                              action:
                                                description: Property action
                                                type: string
                                                enum:
                                                - ALERT
                                                - DROP
                                                - PASS
                                                - REJECT
                                                x-ms-enum:
                                                  name: StatefulRuleAction
                                                  modelAsString: true
                                                  values:
                                                  - name: ALERT
                                                    value: ALERT
                                                    description: StatefulRuleAction
                                                      enum ALERT
                                                  - name: DROP
                                                    value: DROP
                                                    description: StatefulRuleAction
                                                      enum DROP
                                                  - name: PASS
                                                    value: PASS
                                                    description: StatefulRuleAction
                                                      enum PASS
                                                  - name: REJECT
                                                    value: REJECT
                                                    description: StatefulRuleAction
                                                      enum REJECT
                                              header:
                                                description: Property header
                                                type: object
                                                properties:
                                                  destination:
                                                    type: string
                                                    description: Property destination
                                                  destinationPort:
                                                    type: string
                                                    description: Property destinationPort
                                                  direction:
                                                    description: Property direction
                                                    type: string
                                                    enum:
                                                    - ANY
                                                    - FORWARD
                                                    x-ms-enum:
                                                      name: HeaderDirection
                                                      modelAsString: true
                                                      values:
                                                      - name: ANY
                                                        value: ANY
                                                        description: HeaderDirection
                                                          enum ANY
                                                      - name: FORWARD
                                                        value: FORWARD
                                                        description: HeaderDirection
                                                          enum FORWARD
                                                  protocol:
                                                    description: Property protocol
                                                    type: string
                                                    enum:
                                                    - DCERPC
                                                    - DHCP
                                                    - DNS
                                                    - FTP
                                                    - HTTP
                                                    - ICMP
                                                    - IKEV2
                                                    - IMAP
                                                    - IP
                                                    - KRB5
                                                    - MSN
                                                    - NTP
                                                    - SMB
                                                    - SMTP
                                                    - SSH
                                                    - TCP
                                                    - TFTP
                                                    - TLS
                                                    - UDP
                                                    x-ms-enum:
                                                      name: HeaderProtocol
                                                      modelAsString: true
                                                      values:
                                                      - name: DCERPC
                                                        value: DCERPC
                                                        description: HeaderProtocol
                                                          enum DCERPC
                                                      - name: DHCP
                                                        value: DHCP
                                                        description: HeaderProtocol
                                                          enum DHCP
                                                      - name: DNS
                                                        value: DNS
                                                        description: HeaderProtocol
                                                          enum DNS
                                                      - name: FTP
                                                        value: FTP
                                                        description: HeaderProtocol
                                                          enum FTP
                                                      - name: HTTP
                                                        value: HTTP
                                                        description: HeaderProtocol
                                                          enum HTTP
                                                      - name: ICMP
                                                        value: ICMP
                                                        description: HeaderProtocol
                                                          enum ICMP
                                                      - name: IKEV2
                                                        value: IKEV2
                                                        description: HeaderProtocol
                                                          enum IKEV2
                                                      - name: IMAP
                                                        value: IMAP
                                                        description: HeaderProtocol
                                                          enum IMAP
                                                      - name: IP
                                                        value: IP
                                                        description: HeaderProtocol
                                                          enum IP
                                                      - name: KRB5
                                                        value: KRB5
                                                        description: HeaderProtocol
                                                          enum KRB5
                                                      - name: MSN
                                                        value: MSN
                                                        description: HeaderProtocol
                                                          enum MSN
                                                      - name: NTP
                                                        value: NTP
                                                        description: HeaderProtocol
                                                          enum NTP
                                                      - name: SMB
                                                        value: SMB
                                                        description: HeaderProtocol
                                                          enum SMB
                                                      - name: SMTP
                                                        value: SMTP
                                                        description: HeaderProtocol
                                                          enum SMTP
                                                      - name: SSH
                                                        value: SSH
                                                        description: HeaderProtocol
                                                          enum SSH
                                                      - name: TCP
                                                        value: TCP
                                                        description: HeaderProtocol
                                                          enum TCP
                                                      - name: TFTP
                                                        value: TFTP
                                                        description: HeaderProtocol
                                                          enum TFTP
                                                      - name: TLS
                                                        value: TLS
                                                        description: HeaderProtocol
                                                          enum TLS
                                                      - name: UDP
                                                        value: UDP
                                                        description: HeaderProtocol
                                                          enum UDP
                                                  source:
                                                    type: string
                                                    description: Property source
                                                  sourcePort:
                                                    type: string
                                                    description: Property sourcePort
                                              ruleOptions:
                                                type: array
                                                description: Property ruleOptions
                                                items:
                                                  type: object
                                                  description: Definition of RuleOption
                                                  properties:
                                                    keyword:
                                                      type: string
                                                      description: Property keyword
                                                    settings:
                                                      type: array
                                                      description: Property settings
                                                      items:
                                                        type: string
                                                x-ms-identifiers: []
                                          x-ms-identifiers: []
                                        statelessRulesAndCustomActions:
                                          description: Property statelessRulesAndCustomActions
                                          type: object
                                          properties:
                                            customActions:
                                              type: array
                                              description: Property customActions
                                              items:
                                                type: object
                                                description: Definition of CustomAction
                                                properties:
                                                  actionDefinition:
                                                    description: Property actionDefinition
                                                    type: object
                                                    properties:
                                                      publishMetricAction:
                                                        description: Property publishMetricAction
                                                        type: object
                                                        properties:
                                                          dimensions:
                                                            type: array
                                                            description: Property
                                                              dimensions
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of Dimension
                                                              properties:
                                                                value:
                                                                  type: string
                                                                  description: Property
                                                                    value
                                                            x-ms-identifiers: []
                                                  actionName:
                                                    type: string
                                                    description: Property actionName
                                              x-ms-identifiers: []
                                            statelessRules:
                                              type: array
                                              description: Property statelessRules
                                              items:
                                                type: object
                                                description: Definition of StatelessRule
                                                properties:
                                                  priority:
                                                    type: integer
                                                    format: int32
                                                    description: Property priority
                                                  ruleDefinition:
                                                    description: Property ruleDefinition
                                                    type: object
                                                    properties:
                                                      actions:
                                                        type: array
                                                        description: Property actions
                                                        items:
                                                          type: string
                                                      matchAttributes:
                                                        description: Property matchAttributes
                                                        type: object
                                                        properties:
                                                          destinationPorts:
                                                            type: array
                                                            description: Property
                                                              destinationPorts
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of PortRange
                                                              properties:
                                                                fromPort:
                                                                  type: integer
                                                                  format: int32
                                                                  description: Property
                                                                    fromPort
                                                                toPort:
                                                                  type: integer
                                                                  format: int32
                                                                  description: Property
                                                                    toPort
                                                            x-ms-identifiers: []
                                                          destinations:
                                                            type: array
                                                            description: Property
                                                              destinations
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of Address
                                                              properties:
                                                                addressDefinition:
                                                                  type: string
                                                                  description: Property
                                                                    addressDefinition
                                                            x-ms-identifiers: []
                                                          protocols:
                                                            type: array
                                                            description: Property
                                                              protocols
                                                            items:
                                                              type: integer
                                                              format: int32
                                                          sourcePorts:
                                                            type: array
                                                            description: Property
                                                              sourcePorts
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of PortRange
                                                              properties:
                                                                fromPort:
                                                                  type: integer
                                                                  format: int32
                                                                  description: Property
                                                                    fromPort
                                                                toPort:
                                                                  type: integer
                                                                  format: int32
                                                                  description: Property
                                                                    toPort
                                                            x-ms-identifiers: []
                                                          sources:
                                                            type: array
                                                            description: Property
                                                              sources
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of Address
                                                              properties:
                                                                addressDefinition:
                                                                  type: string
                                                                  description: Property
                                                                    addressDefinition
                                                            x-ms-identifiers: []
                                                          tcpFlags:
                                                            type: array
                                                            description: Property
                                                              tcpFlags
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of TCPFlagField
                                                              properties:
                                                                flags:
                                                                  type: array
                                                                  description: Property
                                                                    flags
                                                                  items:
                                                                    type: string
                                                                masks:
                                                                  type: array
                                                                  description: Property
                                                                    masks
                                                                  items:
                                                                    type: string
                                                            x-ms-identifiers: []
                                              x-ms-identifiers: []
                                    statefulRuleOptions:
                                      description: Property statefulRuleOptions
                                      type: object
                                      properties:
                                        ruleOrder:
                                          description: Property ruleOrder
                                          type: string
                                          enum:
                                          - DEFAULT_ACTION_ORDER
                                          - STRICT_ORDER
                                          x-ms-enum:
                                            name: StatefulRuleOptionsRuleOrder
                                            modelAsString: true
                                            values:
                                            - name: DEFAULT_ACTION_ORDER
                                              value: DEFAULT_ACTION_ORDER
                                              description: StatefulRuleOptionsRuleOrder
                                                enum DEFAULT_ACTION_ORDER
                                            - name: STRICT_ORDER
                                              value: STRICT_ORDER
                                              description: StatefulRuleOptionsRuleOrder
                                                enum STRICT_ORDER
                                ruleGroupArn:
                                  type: string
                                  description: A resource ARN.
                                ruleGroupId:
                                  type: string
                                  description: Property ruleGroupId
                                ruleGroupName:
                                  type: string
                                  description: Property ruleGroupName
                                tags:
                                  type: array
                                  description: Property tags
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                type:
                                  description: Property type
                                  type: string
                                  enum:
                                  - STATEFUL
                                  - STATELESS
                                  x-ms-enum:
                                    name: Type
                                    modelAsString: true
                                    values:
                                    - name: STATEFUL
                                      value: STATEFUL
                                      description: Type enum STATEFUL
                                    - name: STATELESS
                                      value: STATELESS
                                      description: Type enum STATELESS
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/networkFirewallRuleGroups
  : get:
      operationId: NetworkFirewallRuleGroups_ListByResourceGroup
      tags:
      - NetworkFirewallRuleGroups
      description: List NetworkFirewallRuleGroup resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a NetworkFirewallRuleGroup list operation.
                properties:
                  value:
                    type: array
                    description: The NetworkFirewallRuleGroup items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                capacity:
                                  type: integer
                                  format: int32
                                  description: Property capacity
                                description:
                                  type: string
                                  description: Property description
                                ruleGroup:
                                  description: Property ruleGroup
                                  type: object
                                  properties:
                                    referenceSets:
                                      description: Property referenceSets
                                      type: object
                                      properties:
                                        ipSetReferences:
                                          type: object
                                          description: Property ipSetReferences
                                          additionalProperties:
                                            type: object
                                            description: Definition of IPSetReference
                                            properties:
                                              referenceArn:
                                                type: string
                                                description: A resource ARN.
                                    ruleVariables:
                                      description: Property ruleVariables
                                      type: object
                                      properties:
                                        ipSets:
                                          type: object
                                          description: Property ipSets
                                          additionalProperties:
                                            type: object
                                            description: Definition of IPSet
                                            properties:
                                              definition:
                                                type: array
                                                description: Property definition
                                                items:
                                                  type: string
                                        portSets:
                                          type: object
                                          description: Property portSets
                                          additionalProperties:
                                            type: object
                                            description: Definition of PortSet
                                            properties:
                                              definition:
                                                type: array
                                                description: Property definition
                                                items:
                                                  type: string
                                    rulesSource:
                                      description: Property rulesSource
                                      type: object
                                      properties:
                                        rulesSourceList:
                                          description: Property rulesSourceList
                                          type: object
                                          properties:
                                            generatedRulesType:
                                              description: Property generatedRulesType
                                              type: string
                                              enum:
                                              - ALLOWLIST
                                              - DENYLIST
                                              x-ms-enum:
                                                name: RulesSourceListGeneratedRulesType
                                                modelAsString: true
                                                values:
                                                - name: ALLOWLIST
                                                  value: ALLOWLIST
                                                  description: RulesSourceListGeneratedRulesType
                                                    enum ALLOWLIST
                                                - name: DENYLIST
                                                  value: DENYLIST
                                                  description: RulesSourceListGeneratedRulesType
                                                    enum DENYLIST
                                            targetTypes:
                                              type: array
                                              description: Property targetTypes
                                              items:
                                                type: string
                                            targets:
                                              type: array
                                              description: Property targets
                                              items:
                                                type: string
                                        rulesString:
                                          type: string
                                          description: Property rulesString
                                        statefulRules:
                                          type: array
                                          description: Property statefulRules
                                          items:
                                            type: object
                                            description: Definition of StatefulRule
                                            properties:
                                              action:
                                                description: Property action
                                                type: string
                                                enum:
                                                - ALERT
                                                - DROP
                                                - PASS
                                                - REJECT
                                                x-ms-enum:
                                                  name: StatefulRuleAction
                                                  modelAsString: true
                                                  values:
                                                  - name: ALERT
                                                    value: ALERT
                                                    description: StatefulRuleAction
                                                      enum ALERT
                                                  - name: DROP
                                                    value: DROP
                                                    description: StatefulRuleAction
                                                      enum DROP
                                                  - name: PASS
                                                    value: PASS
                                                    description: StatefulRuleAction
                                                      enum PASS
                                                  - name: REJECT
                                                    value: REJECT
                                                    description: StatefulRuleAction
                                                      enum REJECT
                                              header:
                                                description: Property header
                                                type: object
                                                properties:
                                                  destination:
                                                    type: string
                                                    description: Property destination
                                                  destinationPort:
                                                    type: string
                                                    description: Property destinationPort
                                                  direction:
                                                    description: Property direction
                                                    type: string
                                                    enum:
                                                    - ANY
                                                    - FORWARD
                                                    x-ms-enum:
                                                      name: HeaderDirection
                                                      modelAsString: true
                                                      values:
                                                      - name: ANY
                                                        value: ANY
                                                        description: HeaderDirection
                                                          enum ANY
                                                      - name: FORWARD
                                                        value: FORWARD
                                                        description: HeaderDirection
                                                          enum FORWARD
                                                  protocol:
                                                    description: Property protocol
                                                    type: string
                                                    enum:
                                                    - DCERPC
                                                    - DHCP
                                                    - DNS
                                                    - FTP
                                                    - HTTP
                                                    - ICMP
                                                    - IKEV2
                                                    - IMAP
                                                    - IP
                                                    - KRB5
                                                    - MSN
                                                    - NTP
                                                    - SMB
                                                    - SMTP
                                                    - SSH
                                                    - TCP
                                                    - TFTP
                                                    - TLS
                                                    - UDP
                                                    x-ms-enum:
                                                      name: HeaderProtocol
                                                      modelAsString: true
                                                      values:
                                                      - name: DCERPC
                                                        value: DCERPC
                                                        description: HeaderProtocol
                                                          enum DCERPC
                                                      - name: DHCP
                                                        value: DHCP
                                                        description: HeaderProtocol
                                                          enum DHCP
                                                      - name: DNS
                                                        value: DNS
                                                        description: HeaderProtocol
                                                          enum DNS
                                                      - name: FTP
                                                        value: FTP
                                                        description: HeaderProtocol
                                                          enum FTP
                                                      - name: HTTP
                                                        value: HTTP
                                                        description: HeaderProtocol
                                                          enum HTTP
                                                      - name: ICMP
                                                        value: ICMP
                                                        description: HeaderProtocol
                                                          enum ICMP
                                                      - name: IKEV2
                                                        value: IKEV2
                                                        description: HeaderProtocol
                                                          enum IKEV2
                                                      - name: IMAP
                                                        value: IMAP
                                                        description: HeaderProtocol
                                                          enum IMAP
                                                      - name: IP
                                                        value: IP
                                                        description: HeaderProtocol
                                                          enum IP
                                                      - name: KRB5
                                                        value: KRB5
                                                        description: HeaderProtocol
                                                          enum KRB5
                                                      - name: MSN
                                                        value: MSN
                                                        description: HeaderProtocol
                                                          enum MSN
                                                      - name: NTP
                                                        value: NTP
                                                        description: HeaderProtocol
                                                          enum NTP
                                                      - name: SMB
                                                        value: SMB
                                                        description: HeaderProtocol
                                                          enum SMB
                                                      - name: SMTP
                                                        value: SMTP
                                                        description: HeaderProtocol
                                                          enum SMTP
                                                      - name: SSH
                                                        value: SSH
                                                        description: HeaderProtocol
                                                          enum SSH
                                                      - name: TCP
                                                        value: TCP
                                                        description: HeaderProtocol
                                                          enum TCP
                                                      - name: TFTP
                                                        value: TFTP
                                                        description: HeaderProtocol
                                                          enum TFTP
                                                      - name: TLS
                                                        value: TLS
                                                        description: HeaderProtocol
                                                          enum TLS
                                                      - name: UDP
                                                        value: UDP
                                                        description: HeaderProtocol
                                                          enum UDP
                                                  source:
                                                    type: string
                                                    description: Property source
                                                  sourcePort:
                                                    type: string
                                                    description: Property sourcePort
                                              ruleOptions:
                                                type: array
                                                description: Property ruleOptions
                                                items:
                                                  type: object
                                                  description: Definition of RuleOption
                                                  properties:
                                                    keyword:
                                                      type: string
                                                      description: Property keyword
                                                    settings:
                                                      type: array
                                                      description: Property settings
                                                      items:
                                                        type: string
                                                x-ms-identifiers: []
                                          x-ms-identifiers: []
                                        statelessRulesAndCustomActions:
                                          description: Property statelessRulesAndCustomActions
                                          type: object
                                          properties:
                                            customActions:
                                              type: array
                                              description: Property customActions
                                              items:
                                                type: object
                                                description: Definition of CustomAction
                                                properties:
                                                  actionDefinition:
                                                    description: Property actionDefinition
                                                    type: object
                                                    properties:
                                                      publishMetricAction:
                                                        description: Property publishMetricAction
                                                        type: object
                                                        properties:
                                                          dimensions:
                                                            type: array
                                                            description: Property
                                                              dimensions
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of Dimension
                                                              properties:
                                                                value:
                                                                  type: string
                                                                  description: Property
                                                                    value
                                                            x-ms-identifiers: []
                                                  actionName:
                                                    type: string
                                                    description: Property actionName
                                              x-ms-identifiers: []
                                            statelessRules:
                                              type: array
                                              description: Property statelessRules
                                              items:
                                                type: object
                                                description: Definition of StatelessRule
                                                properties:
                                                  priority:
                                                    type: integer
                                                    format: int32
                                                    description: Property priority
                                                  ruleDefinition:
                                                    description: Property ruleDefinition
                                                    type: object
                                                    properties:
                                                      actions:
                                                        type: array
                                                        description: Property actions
                                                        items:
                                                          type: string
                                                      matchAttributes:
                                                        description: Property matchAttributes
                                                        type: object
                                                        properties:
                                                          destinationPorts:
                                                            type: array
                                                            description: Property
                                                              destinationPorts
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of PortRange
                                                              properties:
                                                                fromPort:
                                                                  type: integer
                                                                  format: int32
                                                                  description: Property
                                                                    fromPort
                                                                toPort:
                                                                  type: integer
                                                                  format: int32
                                                                  description: Property
                                                                    toPort
                                                            x-ms-identifiers: []
                                                          destinations:
                                                            type: array
                                                            description: Property
                                                              destinations
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of Address
                                                              properties:
                                                                addressDefinition:
                                                                  type: string
                                                                  description: Property
                                                                    addressDefinition
                                                            x-ms-identifiers: []
                                                          protocols:
                                                            type: array
                                                            description: Property
                                                              protocols
                                                            items:
                                                              type: integer
                                                              format: int32
                                                          sourcePorts:
                                                            type: array
                                                            description: Property
                                                              sourcePorts
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of PortRange
                                                              properties:
                                                                fromPort:
                                                                  type: integer
                                                                  format: int32
                                                                  description: Property
                                                                    fromPort
                                                                toPort:
                                                                  type: integer
                                                                  format: int32
                                                                  description: Property
                                                                    toPort
                                                            x-ms-identifiers: []
                                                          sources:
                                                            type: array
                                                            description: Property
                                                              sources
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of Address
                                                              properties:
                                                                addressDefinition:
                                                                  type: string
                                                                  description: Property
                                                                    addressDefinition
                                                            x-ms-identifiers: []
                                                          tcpFlags:
                                                            type: array
                                                            description: Property
                                                              tcpFlags
                                                            items:
                                                              type: object
                                                              description: Definition
                                                                of TCPFlagField
                                                              properties:
                                                                flags:
                                                                  type: array
                                                                  description: Property
                                                                    flags
                                                                  items:
                                                                    type: string
                                                                masks:
                                                                  type: array
                                                                  description: Property
                                                                    masks
                                                                  items:
                                                                    type: string
                                                            x-ms-identifiers: []
                                              x-ms-identifiers: []
                                    statefulRuleOptions:
                                      description: Property statefulRuleOptions
                                      type: object
                                      properties:
                                        ruleOrder:
                                          description: Property ruleOrder
                                          type: string
                                          enum:
                                          - DEFAULT_ACTION_ORDER
                                          - STRICT_ORDER
                                          x-ms-enum:
                                            name: StatefulRuleOptionsRuleOrder
                                            modelAsString: true
                                            values:
                                            - name: DEFAULT_ACTION_ORDER
                                              value: DEFAULT_ACTION_ORDER
                                              description: StatefulRuleOptionsRuleOrder
                                                enum DEFAULT_ACTION_ORDER
                                            - name: STRICT_ORDER
                                              value: STRICT_ORDER
                                              description: StatefulRuleOptionsRuleOrder
                                                enum STRICT_ORDER
                                ruleGroupArn:
                                  type: string
                                  description: A resource ARN.
                                ruleGroupId:
                                  type: string
                                  description: Property ruleGroupId
                                ruleGroupName:
                                  type: string
                                  description: Property ruleGroupName
                                tags:
                                  type: array
                                  description: Property tags
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                                type:
                                  description: Property type
                                  type: string
                                  enum:
                                  - STATEFUL
                                  - STATELESS
                                  x-ms-enum:
                                    name: Type
                                    modelAsString: true
                                    values:
                                    - name: STATEFUL
                                      value: STATEFUL
                                      description: Type enum STATEFUL
                                    - name: STATELESS
                                      value: STATELESS
                                      description: Type enum STATELESS
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/networkFirewallRuleGroups/{name}
  : get:
      operationId: NetworkFirewallRuleGroups_Get
      tags:
      - NetworkFirewallRuleGroups
      description: Get a NetworkFirewallRuleGroup
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of NetworkFirewallRuleGroup
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
[...]
