openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: NetworkFirewallFirewallPolicies
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/networkFirewallFirewallPolicies:
    get:
      operationId: NetworkFirewallFirewallPolicies_ListBySubscription
      tags:
      - NetworkFirewallFirewallPolicies
      description: List NetworkFirewallFirewallPolicy resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a NetworkFirewallFirewallPolicy list
                  operation.
                properties:
                  value:
                    type: array
                    description: The NetworkFirewallFirewallPolicy items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                description:
                                  type: string
                                  description: Property description
                                firewallPolicy:
                                  description: Property firewallPolicy
                                  type: object
                                  properties:
                                    policyVariables:
                                      description: Property policyVariables
                                      type: object
                                      properties:
                                        ruleVariables:
                                          type: object
                                          description: Property ruleVariables
                                          additionalProperties:
                                            type: object
                                            description: Definition of IPSet
                                            properties:
                                              definition:
                                                type: array
                                                description: Property definition
                                                items:
                                                  type: string
                                    statefulDefaultActions:
                                      type: array
                                      description: Property statefulDefaultActions
                                      items:
                                        type: string
                                    statefulEngineOptions:
                                      description: Property statefulEngineOptions
                                      type: object
                                      properties:
                                        ruleOrder:
                                          description: Property ruleOrder
                                          type: string
                                          enum:
                                          - DEFAULT_ACTION_ORDER
                                          - STRICT_ORDER
                                          x-ms-enum:
                                            name: StatefulEngineOptionsRuleOrder
                                            modelAsString: true
                                            values:
                                            - name: DEFAULT_ACTION_ORDER
                                              value: DEFAULT_ACTION_ORDER
                                              description: StatefulEngineOptionsRuleOrder
                                                enum DEFAULT_ACTION_ORDER
                                            - name: STRICT_ORDER
                                              value: STRICT_ORDER
                                              description: StatefulEngineOptionsRuleOrder
                                                enum STRICT_ORDER
                                        streamExceptionPolicy:
                                          description: Property streamExceptionPolicy
                                          type: string
                                          enum:
                                          - CONTINUE
                                          - DROP
                                          - REJECT
                                          x-ms-enum:
                                            name: StatefulEngineOptionsStreamExceptionPolicy
                                            modelAsString: true
                                            values:
                                            - name: CONTINUE
                                              value: CONTINUE
                                              description: StatefulEngineOptionsStreamExceptionPolicy
                                                enum CONTINUE
                                            - name: DROP
                                              value: DROP
                                              description: StatefulEngineOptionsStreamExceptionPolicy
                                                enum DROP
                                            - name: REJECT
                                              value: REJECT
                                              description: StatefulEngineOptionsStreamExceptionPolicy
                                                enum REJECT
                                    statefulRuleGroupReferences:
                                      type: array
                                      description: Property statefulRuleGroupReferences
                                      items:
                                        type: object
                                        description: Definition of StatefulRuleGroupReference
                                        properties:
                                          override:
                                            description: Property override
                                            type: object
                                            properties:
                                              action:
                                                description: Property action
                                                type: string
                                                enum:
                                                - DROP_TO_ALERT
                                                x-ms-enum:
                                                  name: StatefulRuleGroupOverrideAction
                                                  modelAsString: true
                                                  values:
                                                  - name: DROP_TO_ALERT
                                                    value: DROP_TO_ALERT
                                                    description: StatefulRuleGroupOverrideAction
                                                      enum DROP_TO_ALERT
                                          priority:
                                            type: integer
                                            format: int32
                                            description: Property priority
                                          resourceArn:
                                            type: string
                                            description: A resource ARN.
                                      x-ms-identifiers: []
                                    statelessCustomActions:
                                      type: array
                                      description: Property statelessCustomActions
                                      items:
                                        type: object
                                        description: Definition of CustomAction
                                        properties:
                                          actionDefinition:
                                            description: Property actionDefinition
                                            type: object
                                            properties:
                                              publishMetricAction:
                                                description: Property publishMetricAction
                                                type: object
                                                properties:
                                                  dimensions:
                                                    type: array
                                                    description: Property dimensions
                                                    items:
                                                      type: object
                                                      description: Definition of Dimension
                                                      properties:
                                                        value:
                                                          type: string
                                                          description: Property value
                                                    x-ms-identifiers: []
                                          actionName:
                                            type: string
                                            description: Property actionName
                                      x-ms-identifiers: []
                                    statelessDefaultActions:
                                      type: array
                                      description: Property statelessDefaultActions
                                      items:
                                        type: string
                                    statelessFragmentDefaultActions:
                                      type: array
                                      description: Property statelessFragmentDefaultActions
                                      items:
                                        type: string
                                    statelessRuleGroupReferences:
                                      type: array
                                      description: Property statelessRuleGroupReferences
                                      items:
                                        type: object
                                        description: Definition of StatelessRuleGroupReference
                                        properties:
                                          priority:
                                            type: integer
                                            format: int32
                                            description: Property priority
                                          resourceArn:
                                            type: string
                                            description: A resource ARN.
                                      x-ms-identifiers: []
                                    tlsInspectionConfigurationArn:
                                      type: string
                                      description: A resource ARN.
                                firewallPolicyArn:
                                  type: string
                                  description: A resource ARN.
                                firewallPolicyId:
                                  type: string
                                  description: Property firewallPolicyId
                                firewallPolicyName:
                                  type: string
                                  description: Property firewallPolicyName
                                tags:
                                  type: array
                                  description: Property tags
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/networkFirewallFirewallPolicies
  : get:
      operationId: NetworkFirewallFirewallPolicies_ListByResourceGroup
      tags:
      - NetworkFirewallFirewallPolicies
      description: List NetworkFirewallFirewallPolicy resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a NetworkFirewallFirewallPolicy list
                  operation.
                properties:
                  value:
                    type: array
                    description: The NetworkFirewallFirewallPolicy items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                description:
                                  type: string
                                  description: Property description
                                firewallPolicy:
                                  description: Property firewallPolicy
                                  type: object
                                  properties:
                                    policyVariables:
                                      description: Property policyVariables
                                      type: object
                                      properties:
                                        ruleVariables:
                                          type: object
                                          description: Property ruleVariables
                                          additionalProperties:
                                            type: object
                                            description: Definition of IPSet
                                            properties:
                                              definition:
                                                type: array
                                                description: Property definition
                                                items:
                                                  type: string
                                    statefulDefaultActions:
                                      type: array
                                      description: Property statefulDefaultActions
                                      items:
                                        type: string
                                    statefulEngineOptions:
                                      description: Property statefulEngineOptions
                                      type: object
                                      properties:
                                        ruleOrder:
                                          description: Property ruleOrder
                                          type: string
                                          enum:
                                          - DEFAULT_ACTION_ORDER
                                          - STRICT_ORDER
                                          x-ms-enum:
                                            name: StatefulEngineOptionsRuleOrder
                                            modelAsString: true
                                            values:
                                            - name: DEFAULT_ACTION_ORDER
                                              value: DEFAULT_ACTION_ORDER
                                              description: StatefulEngineOptionsRuleOrder
                                                enum DEFAULT_ACTION_ORDER
                                            - name: STRICT_ORDER
                                              value: STRICT_ORDER
                                              description: StatefulEngineOptionsRuleOrder
                                                enum STRICT_ORDER
                                        streamExceptionPolicy:
                                          description: Property streamExceptionPolicy
                                          type: string
                                          enum:
                                          - CONTINUE
                                          - DROP
                                          - REJECT
                                          x-ms-enum:
                                            name: StatefulEngineOptionsStreamExceptionPolicy
                                            modelAsString: true
                                            values:
                                            - name: CONTINUE
                                              value: CONTINUE
                                              description: StatefulEngineOptionsStreamExceptionPolicy
                                                enum CONTINUE
                                            - name: DROP
                                              value: DROP
                                              description: StatefulEngineOptionsStreamExceptionPolicy
                                                enum DROP
                                            - name: REJECT
                                              value: REJECT
                                              description: StatefulEngineOptionsStreamExceptionPolicy
                                                enum REJECT
                                    statefulRuleGroupReferences:
                                      type: array
                                      description: Property statefulRuleGroupReferences
                                      items:
                                        type: object
                                        description: Definition of StatefulRuleGroupReference
                                        properties:
                                          override:
                                            description: Property override
                                            type: object
                                            properties:
                                              action:
                                                description: Property action
                                                type: string
                                                enum:
                                                - DROP_TO_ALERT
                                                x-ms-enum:
                                                  name: StatefulRuleGroupOverrideAction
                                                  modelAsString: true
                                                  values:
                                                  - name: DROP_TO_ALERT
                                                    value: DROP_TO_ALERT
                                                    description: StatefulRuleGroupOverrideAction
                                                      enum DROP_TO_ALERT
                                          priority:
                                            type: integer
                                            format: int32
                                            description: Property priority
                                          resourceArn:
                                            type: string
                                            description: A resource ARN.
                                      x-ms-identifiers: []
                                    statelessCustomActions:
                                      type: array
                                      description: Property statelessCustomActions
                                      items:
                                        type: object
                                        description: Definition of CustomAction
                                        properties:
                                          actionDefinition:
                                            description: Property actionDefinition
                                            type: object
                                            properties:
                                              publishMetricAction:
                                                description: Property publishMetricAction
                                                type: object
                                                properties:
                                                  dimensions:
                                                    type: array
                                                    description: Property dimensions
                                                    items:
                                                      type: object
                                                      description: Definition of Dimension
                                                      properties:
                                                        value:
                                                          type: string
                                                          description: Property value
                                                    x-ms-identifiers: []
                                          actionName:
                                            type: string
                                            description: Property actionName
                                      x-ms-identifiers: []
                                    statelessDefaultActions:
                                      type: array
                                      description: Property statelessDefaultActions
                                      items:
                                        type: string
                                    statelessFragmentDefaultActions:
                                      type: array
                                      description: Property statelessFragmentDefaultActions
                                      items:
                                        type: string
                                    statelessRuleGroupReferences:
                                      type: array
                                      description: Property statelessRuleGroupReferences
                                      items:
                                        type: object
                                        description: Definition of StatelessRuleGroupReference
                                        properties:
                                          priority:
                                            type: integer
                                            format: int32
                                            description: Property priority
                                          resourceArn:
                                            type: string
                                            description: A resource ARN.
                                      x-ms-identifiers: []
                                    tlsInspectionConfigurationArn:
                                      type: string
                                      description: A resource ARN.
                                firewallPolicyArn:
                                  type: string
                                  description: A resource ARN.
                                firewallPolicyId:
                                  type: string
                                  description: Property firewallPolicyId
                                firewallPolicyName:
                                  type: string
                                  description: Property firewallPolicyName
                                tags:
                                  type: array
                                  description: Property tags
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: Property key
                                      value:
                                        type: string
                                        description: Property value
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/networkFirewallFirewallPolicies/{name}
  : get:
      operationId: NetworkFirewallFirewallPolicies_Get
      tags:
      - NetworkFirewallFirewallPolicies
      description: Get a NetworkFirewallFirewallPolicy
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of NetworkFirewallFirewallPolicy
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          description:
                            type: string
                            description: Property description
                          firewallPolicy:
                            description: Property firewallPolicy
                            type: object
                            properties:
                              policyVariables:
                                description: Property policyVariables
                                type: object
                                properties:
                                  ruleVariables:
                                    type: object
                                    description: Property ruleVariables
                                    additionalProperties:
                                      type: object
                                      description: Definition of IPSet
                                      properties:
                                        definition:
                                          type: array
                                          description: Property definition
                                          items:
                                            type: string
                              statefulDefaultActions:
                                type: array
                                description: Property statefulDefaultActions
                                items:
                                  type: string
                              statefulEngineOptions:
                                description: Property statefulEngineOptions
                                type: object
                                properties:
                                  ruleOrder:
                                    description: Property ruleOrder
                                    type: string
                                    enum:
                                    - DEFAULT_ACTION_ORDER
                                    - STRICT_ORDER
                                    x-ms-enum:
                                      name: StatefulEngineOptionsRuleOrder
                                      modelAsString: true
                                      values:
                                      - name: DEFAULT_ACTION_ORDER
                                        value: DEFAULT_ACTION_ORDER
                                        description: StatefulEngineOptionsRuleOrder
                                          enum DEFAULT_ACTION_ORDER
                                      - name: STRICT_ORDER
                                        value: STRICT_ORDER
                                        description: StatefulEngineOptionsRuleOrder
                                          enum STRICT_ORDER
                                  streamExceptionPolicy:
                                    description: Property streamExceptionPolicy
                                    type: string
                                    enum:
                                    - CONTINUE
                                    - DROP
                                    - REJECT
                                    x-ms-enum:
                                      name: StatefulEngineOptionsStreamExceptionPolicy
                                      modelAsString: true
                                      values:
                                      - name: CONTINUE
                                        value: CONTINUE
                                        description: StatefulEngineOptionsStreamExceptionPolicy
                                          enum CONTINUE
                                      - name: DROP
                                        value: DROP
                                        description: StatefulEngineOptionsStreamExceptionPolicy
                                          enum DROP
                                      - name: REJECT
                                        value: REJECT
                                        description: StatefulEngineOptionsStreamExceptionPolicy
                                          enum REJECT
                              statefulRuleGroupReferences:
                                type: array
                                description: Property statefulRuleGroupReferences
                                items:
                                  type: object
                                  description: Definition of StatefulRuleGroupReference
                                  properties:
                                    override:
                                      description: Property override
                                      type: object
                                      properties:
                                        action:
                                          description: Property action
                                          type: string
                                          enum:
                                          - DROP_TO_ALERT
                                          x-ms-enum:
                                            name: StatefulRuleGroupOverrideAction
                                            modelAsString: true
                                            values:
                                            - name: DROP_TO_ALERT
                                              value: DROP_TO_ALERT
                                              description: StatefulRuleGroupOverrideAction
                                                enum DROP_TO_ALERT
                                    priority:
                                      type: integer
                                      format: int32
                                      description: Property priority
                                    resourceArn:
                                      type: string
                                      description: A resource ARN.
                                x-ms-identifiers: []
                              statelessCustomActions:
                                type: array
                                description: Property statelessCustomActions
                                items:
                                  type: object
                                  description: Definition of CustomAction
                                  properties:
                                    actionDefinition:
                                      description: Property actionDefinition
                                      type: object
                                      properties:
                                        publishMetricAction:
                                          description: Property publishMetricAction
                                          type: object
                                          properties:
                                            dimensions:
                                              type: array
                                              description: Property dimensions
                                              items:
                                                type: object
                                                description: Definition of Dimension
                                                properties:
                                                  value:
                                                    type: string
                                                    description: Property value
                                              x-ms-identifiers: []
                                    actionName:
                                      type: string
                                      description: Property actionName
                                x-ms-identifiers: []
                              statelessDefaultActions:
                                type: array
                                description: Property statelessDefaultActions
                                items:
                                  type: string
                              statelessFragmentDefaultActions:
                                type: array
                                description: Property statelessFragmentDefaultActions
                                items:
                                  type: string
                              statelessRuleGroupReferences:
                                type: array
                                description: Property statelessRuleGroupReferences
                                items:
                                  type: object
                                  description: Definition of StatelessRuleGroupReference
                                  properties:
                                    priority:
                                      type: integer
                                      format: int32
                                      description: Property priority
                                    resourceArn:
                                      type: string
                                      description: A resource ARN.
                                x-ms-identifiers: []
                              tlsInspectionConfigurationArn:
                                type: string
                                description: A resource ARN.
                          firewallPolicyArn:
                            type: string
                            description: A resource ARN.
                          firewallPolicyId:
                            type: string
                            description: Property firewallPolicyId
                          firewallPolicyName:
                            type: string
                            description: Property firewallPolicyName
                          tags:
                            type: array
                            description: Property tags
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: Property key
                                value:
                                  type: string
                                  description: Property value
                            x-ms-identifiers: []
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: NetworkFirewallFirewallPolicies_CreateOrReplace
      tags:
      - NetworkFirewallFirewallPolicies
      description: Create a NetworkFirewallFirewallPolicy. Please note that end user
        resource creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of NetworkFirewallFirewallPolicy
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        description:
                          type: string
                          description: Property description
                        firewallPolicy:
                          description: Property firewallPolicy
                          type: object
                          properties:
                            policyVariables:
                              description: Property policyVariables
                              type: object
                              properties:
                                ruleVariables:
                                  type: object
                                  description: Property ruleVariables
                                  additionalProperties:
                                    type: object
                                    description: Definition of IPSet
                                    properties:
                                      definition:
                                        type: array
                                        description: Property definition
                                        items:
                                          type: string
                            statefulDefaultActions:
                              type: array
                              description: Property statefulDefaultActions
                              items:
                                type: string
                            statefulEngineOptions:
                              description: Property statefulEngineOptions
                              type: object
                              properties:
                                ruleOrder:
                                  description: Property ruleOrder
                                  type: string
                                  enum:
                                  - DEFAULT_ACTION_ORDER
                                  - STRICT_ORDER
                                  x-ms-enum:
                                    name: StatefulEngineOptionsRuleOrder
                                    modelAsString: true
                                    values:
                                    - name: DEFAULT_ACTION_ORDER
                                      value: DEFAULT_ACTION_ORDER
                                      description: StatefulEngineOptionsRuleOrder
                                        enum DEFAULT_ACTION_ORDER
                                    - name: STRICT_ORDER
                                      value: STRICT_ORDER
                                      description: StatefulEngineOptionsRuleOrder
                                        enum STRICT_ORDER
                                streamExceptionPolicy:
                                  description: Property streamExceptionPolicy
                                  type: string
                                  enum:
                                  - CONTINUE
                                  - DROP
                                  - REJECT
                                  x-ms-enum:
                                    name: StatefulEngineOptionsStreamExceptionPolicy
                                    modelAsString: true
                                    values:
                                    - name: CONTINUE
                                      value: CONTINUE
                                      description: StatefulEngineOptionsStreamExceptionPolicy
                                        enum CONTINUE
                                    - name: DROP
                                      value: DROP
                                      description: StatefulEngineOptionsStreamExceptionPolicy
                                        enum DROP
                                    - name: REJECT
                                      value: REJECT
                                      description: StatefulEngineOptionsStreamExceptionPolicy
                                        enum REJECT
                            statefulRuleGroupReferences:
                              type: array
                              description: Property statefulRuleGroupReferences
                              items:
                                type: object
                                description: Definition of StatefulRuleGroupReference
                                properties:
                                  override:
                                    description: Property override
                                    type: object
                                    properties:
                                      action:
                                        description: Property action
                                        type: string
                                        enum:
                                        - DROP_TO_ALERT
                                        x-ms-enum:
                                          name: StatefulRuleGroupOverrideAction
                                          modelAsString: true
                                          values:
                                          - name: DROP_TO_ALERT
                                            value: DROP_TO_ALERT
                                            description: StatefulRuleGroupOverrideAction
                                              enum DROP_TO_ALERT
                                  priority:
                                    type: integer
                                    format: int32
                                    description: Property priority
                                  resourceArn:
                                    type: string
                                    description: A resource ARN.
                              x-ms-identifiers: []
                            statelessCustomActions:
                              type: array
                              description: Property statelessCustomActions
                              items:
                                type: object
                                description: Definition of CustomAction
                                properties:
                                  actionDefinition:
                                    description: Property actionDefinition
                                    type: object
                                    properties:
                                      publishMetricAction:
                                        description: Property publishMetricAction
                                        type: object
                                        properties:
                                          dimensions:
                                            type: array
                                            description: Property dimensions
                                            items:
                                              type: object
                                              description: Definition of Dimension
                                              properties:
                                                value:
                                                  type: string
                                                  description: Property value
                                            x-ms-identifiers: []
                                  actionName:
                                    type: string
                                    description: Property actionName
                              x-ms-identifiers: []
                            statelessDefaultActions:
                              type: array
                              description: Property statelessDefaultActions
                              items:
                                type: string
                            statelessFragmentDefaultActions:
                              type: array
                              description: Property statelessFragmentDefaultActions
                              items:
                                type: string
                            statelessRuleGroupReferences:
                              type: array
                              description: Property statelessRuleGroupReferences
                              items:
                                type: object
                                description: Definition of StatelessRuleGroupReference
                                properties:
                                  priority:
                                    type: integer
                                    format: int32
                                    description: Property priority
                                  resourceArn:
                                    type: string
                                    description: A resource ARN.
                              x-ms-identifiers: []
                            tlsInspectionConfigurationArn:
                              type: string
                              description: A resource ARN.
                        firewallPolicyArn:
                          type: string
                          description: A resource ARN.
                        firewallPolicyId:
                          type: string
                          description: Property firewallPolicyId
                        firewallPolicyName:
                          type: string
                          description: Property firewallPolicyName
                        tags:
                          type: array
                          description: Property tags
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: Property key
                              value:
                                type: string
                                description: Property value
                          x-ms-identifiers: []
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'NetworkFirewallFirewallPolicy' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          description:
                            type: string
                            description: Property description
                          firewallPolicy:
                            description: Property firewallPolicy
                            type: object
                            properties:
                              policyVariables:
                                description: Property policyVariables
                                type: object
                                properties:
                                  ruleVariables:
                                    type: object
                                    description: Property ruleVariables
                                    additionalProperties:
                                      type: object
                                      description: Definition of IPSet
                                      properties:
                                        definition:
                                          type: array
                                          description: Property definition
                                          items:
                                            type: string
                              statefulDefaultActions:
                                type: array
                                description: Property statefulDefaultActions
                                items:
                                  type: string
                              statefulEngineOptions:
                                description: Property statefulEngineOptions
                                type: object
                                properties:
                                  ruleOrder:
                                    description: Property ruleOrder
                                    type: string
                                    enum:
                                    - DEFAULT_ACTION_ORDER
                                    - STRICT_ORDER
                                    x-ms-enum:
                                      name: StatefulEngineOptionsRuleOrder
                                      modelAsString: true
                                      values:
                                      - name: DEFAULT_ACTION_ORDER
                                        value: DEFAULT_ACTION_ORDER
                                        description: StatefulEngineOptionsRuleOrder
                                          enum DEFAULT_ACTION_ORDER
                                      - name: STRICT_ORDER
                                        value: STRICT_ORDER
                                        description: StatefulEngineOptionsRuleOrder
                                          enum STRICT_ORDER
                                  streamExceptionPolicy:
[...]
