openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RdsDBSnapshots
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/rdsDBSnapshots:
    get:
      operationId: RdsDbSnapshots_ListBySubscription
      tags:
      - RdsDBSnapshots
      description: List RdsDBSnapshot resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a RdsDBSnapshot list operation.
                properties:
                  value:
                    type: array
                    description: The RdsDBSnapshot items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                allocatedStorage:
                                  type: integer
                                  format: int32
                                  description: <p>Specifies the allocated storage
                                    size in gibibytes (GiB).</p>
                                availabilityZone:
                                  type: string
                                  description: <p>Specifies the name of the Availability
                                    Zone the DB instance was located in at the time
                                    of the DB snapshot.</p>
                                dbInstanceIdentifier:
                                  type: string
                                  description: <p>Specifies the DB instance identifier
                                    of the DB instance this DB snapshot was created
                                    from.</p>
                                dbSnapshotArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) for
                                    the DB snapshot.</p>
                                dbSnapshotIdentifier:
                                  type: string
                                  description: <p>Specifies the identifier for the
                                    DB snapshot.</p>
                                dbSystemId:
                                  type: string
                                  description: <p>The Oracle system identifier (SID),
                                    which is the name of the Oracle database instance
                                    that manages your database files. The Oracle SID
                                    is also the name of your CDB.</p>
                                dbiResourceId:
                                  type: string
                                  description: <p>The identifier for the source DB
                                    instance, which can't be changed and which is
                                    unique to an Amazon Web Services Region.</p>
                                dedicatedLogVolume:
                                  type: boolean
                                  description: <p>Indicates whether the DB instance
                                    has a dedicated log volume (DLV) enabled.</p>
                                encrypted:
                                  type: boolean
                                  description: <p>Indicates whether the DB snapshot
                                    is encrypted.</p>
                                engine:
                                  type: string
                                  description: <p>Specifies the name of the database
                                    engine.</p>
                                engineVersion:
                                  type: string
                                  description: <p>Specifies the version of the database
                                    engine.</p>
                                iamDatabaseAuthenticationEnabled:
                                  type: boolean
                                  description: <p>Indicates whether mapping of Amazon
                                    Web Services Identity and Access Management (IAM)
                                    accounts to database accounts is enabled.</p>
                                instanceCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>Specifies the time in Coordinated
                                    Universal Time (UTC) when the DB instance, from
                                    which the snapshot was taken, was created.</p>
                                iops:
                                  type: integer
                                  format: int32
                                  description: <p>Specifies the Provisioned IOPS (I/O
                                    operations per second) value of the DB instance
                                    at the time of the snapshot.</p>
                                kmsKeyId:
                                  type: string
                                  description: <p>If <code>Encrypted</code> is true,
                                    the Amazon Web Services KMS key identifier for
                                    the encrypted DB snapshot.</p> <p>The Amazon Web
                                    Services KMS key identifier is the key ARN, key
                                    ID, alias ARN, or alias name for the KMS key.</p>
                                licenseModel:
                                  type: string
                                  description: <p>License model information for the
                                    restored DB instance.</p>
                                masterUsername:
                                  type: string
                                  description: <p>Provides the master username for
                                    the DB snapshot.</p>
                                multiTenant:
                                  type: boolean
                                  description: <p>Indicates whether the snapshot is
                                    of a DB instance using the multi-tenant configuration
                                    (TRUE) or the single-tenant configuration (FALSE).</p>
                                optionGroupName:
                                  type: string
                                  description: <p>Provides the option group name for
                                    the DB snapshot.</p>
                                originalSnapshotCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>Specifies the time of the CreateDBSnapshot
                                    operation in Coordinated Universal Time (UTC).
                                    Doesn't change when the snapshot is copied.</p>
                                percentProgress:
                                  type: integer
                                  format: int32
                                  description: <p>The percentage of the estimated
                                    data that has been transferred.</p>
                                port:
                                  type: integer
                                  format: int32
                                  description: <p>Specifies the port that the database
                                    engine was listening on at the time of the snapshot.</p>
                                processorFeatures:
                                  type: array
                                  description: <p>The number of CPU cores and the
                                    number of threads per core for the DB instance
                                    class of the DB instance when the DB snapshot
                                    was created.</p>
                                  items:
                                    type: object
                                    description: Definition of ProcessorFeature
                                    properties:
                                      name:
                                        type: string
                                        description: <p>The name of the processor
                                          feature. Valid names are <code>coreCount</code>
                                          and <code>threadsPerCore</code>.</p>
                                      value:
                                        type: string
                                        description: <p>The value of a processor feature
                                          name.</p>
                                  x-ms-identifiers: []
                                snapshotCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>Specifies when the snapshot was
                                    taken in Coordinated Universal Time (UTC). Changes
                                    for the copy when the snapshot is copied.</p>
                                snapshotDatabaseTime:
                                  type: string
                                  format: date-time
                                  description: <p>The timestamp of the most recent
                                    transaction applied to the database that you're
                                    backing up. Thus, if you restore a snapshot, SnapshotDatabaseTime
                                    is the most recent transaction in the restored
                                    DB instance. In contrast, originalSnapshotCreateTime
                                    specifies the system time that the snapshot completed.</p>
                                    <p>If you back up a read replica, you can determine
                                    the replica lag by comparing SnapshotDatabaseTime
                                    with originalSnapshotCreateTime. For example,
                                    if originalSnapshotCreateTime is two hours later
                                    than SnapshotDatabaseTime, then the replica lag
                                    is two hours.</p>
                                snapshotTarget:
                                  type: string
                                  description: '<p>Specifies where manual snapshots
                                    are stored: Amazon Web Services Outposts or the
                                    Amazon Web Services Region.</p>'
                                snapshotType:
                                  type: string
                                  description: <p>Provides the type of the DB snapshot.</p>
                                sourceDBSnapshotIdentifier:
                                  type: string
                                  description: <p>The DB snapshot Amazon Resource
                                    Name (ARN) that the DB snapshot was copied from.
                                    It only has a value in the case of a cross-account
                                    or cross-Region copy.</p>
                                sourceRegion:
                                  type: string
                                  description: <p>The Amazon Web Services Region that
                                    the DB snapshot was created in or copied from.</p>
                                status:
                                  type: string
                                  description: <p>Specifies the status of this DB
                                    snapshot.</p>
                                storageThroughput:
                                  type: integer
                                  format: int32
                                  description: <p>Specifies the storage throughput
                                    for the DB snapshot.</p>
                                storageType:
                                  type: string
                                  description: <p>Specifies the storage type associated
                                    with DB snapshot.</p>
                                tagList:
                                  type: array
                                  description: Property tagList
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: '<p>A key is the required name
                                          of the tag. The string value can be from
                                          1 to 128 Unicode characters in length and
                                          can''t be prefixed with <code>aws:</code>
                                          or <code>rds:</code>. The string can only
                                          contain only the set of Unicode letters,
                                          digits, white-space, ''_'', ''.'', '':'',
                                          ''/'', ''='', ''+'', ''-'', ''@'' (Java
                                          regex: ''^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'').</p>'
                                      value:
                                        type: string
                                        description: '<p>A value is the optional value
                                          of the tag. The string value can be from
                                          1 to 256 Unicode characters in length and
                                          can''t be prefixed with <code>aws:</code>
                                          or <code>rds:</code>. The string can only
                                          contain only the set of Unicode letters,
                                          digits, white-space, ''_'', ''.'', '':'',
                                          ''/'', ''='', ''+'', ''-'', ''@'' (Java
                                          regex: ''^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'').</p>'
                                  x-ms-identifiers: []
                                tdeCredentialArn:
                                  type: string
                                  description: <p>The ARN from the key store with
                                    which to associate the instance for TDE encryption.</p>
                                timezone:
                                  type: string
                                  description: <p>The time zone of the DB snapshot.
                                    In most cases, the <code>Timezone</code> element
                                    is empty. <code>Timezone</code> content appears
                                    only for snapshots taken from Microsoft SQL Server
                                    DB instances that were created with a time zone
                                    specified.</p>
                                vpcId:
                                  type: string
                                  description: <p>Provides the VPC ID associated with
                                    the DB snapshot.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/rdsDBSnapshots:
    get:
      operationId: RdsDbSnapshots_ListByResourceGroup
      tags:
      - RdsDBSnapshots
      description: List RdsDBSnapshot resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a RdsDBSnapshot list operation.
                properties:
                  value:
                    type: array
                    description: The RdsDBSnapshot items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                allocatedStorage:
                                  type: integer
                                  format: int32
                                  description: <p>Specifies the allocated storage
                                    size in gibibytes (GiB).</p>
                                availabilityZone:
                                  type: string
                                  description: <p>Specifies the name of the Availability
                                    Zone the DB instance was located in at the time
                                    of the DB snapshot.</p>
                                dbInstanceIdentifier:
                                  type: string
                                  description: <p>Specifies the DB instance identifier
                                    of the DB instance this DB snapshot was created
                                    from.</p>
                                dbSnapshotArn:
                                  type: string
                                  description: <p>The Amazon Resource Name (ARN) for
                                    the DB snapshot.</p>
                                dbSnapshotIdentifier:
                                  type: string
                                  description: <p>Specifies the identifier for the
                                    DB snapshot.</p>
                                dbSystemId:
                                  type: string
                                  description: <p>The Oracle system identifier (SID),
                                    which is the name of the Oracle database instance
                                    that manages your database files. The Oracle SID
                                    is also the name of your CDB.</p>
                                dbiResourceId:
                                  type: string
                                  description: <p>The identifier for the source DB
                                    instance, which can't be changed and which is
                                    unique to an Amazon Web Services Region.</p>
                                dedicatedLogVolume:
                                  type: boolean
                                  description: <p>Indicates whether the DB instance
                                    has a dedicated log volume (DLV) enabled.</p>
                                encrypted:
                                  type: boolean
                                  description: <p>Indicates whether the DB snapshot
                                    is encrypted.</p>
                                engine:
                                  type: string
                                  description: <p>Specifies the name of the database
                                    engine.</p>
                                engineVersion:
                                  type: string
                                  description: <p>Specifies the version of the database
                                    engine.</p>
                                iamDatabaseAuthenticationEnabled:
                                  type: boolean
                                  description: <p>Indicates whether mapping of Amazon
                                    Web Services Identity and Access Management (IAM)
                                    accounts to database accounts is enabled.</p>
                                instanceCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>Specifies the time in Coordinated
                                    Universal Time (UTC) when the DB instance, from
                                    which the snapshot was taken, was created.</p>
                                iops:
                                  type: integer
                                  format: int32
                                  description: <p>Specifies the Provisioned IOPS (I/O
                                    operations per second) value of the DB instance
                                    at the time of the snapshot.</p>
                                kmsKeyId:
                                  type: string
                                  description: <p>If <code>Encrypted</code> is true,
                                    the Amazon Web Services KMS key identifier for
                                    the encrypted DB snapshot.</p> <p>The Amazon Web
                                    Services KMS key identifier is the key ARN, key
                                    ID, alias ARN, or alias name for the KMS key.</p>
                                licenseModel:
                                  type: string
                                  description: <p>License model information for the
                                    restored DB instance.</p>
                                masterUsername:
                                  type: string
                                  description: <p>Provides the master username for
                                    the DB snapshot.</p>
                                multiTenant:
                                  type: boolean
                                  description: <p>Indicates whether the snapshot is
                                    of a DB instance using the multi-tenant configuration
                                    (TRUE) or the single-tenant configuration (FALSE).</p>
                                optionGroupName:
                                  type: string
                                  description: <p>Provides the option group name for
                                    the DB snapshot.</p>
                                originalSnapshotCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>Specifies the time of the CreateDBSnapshot
                                    operation in Coordinated Universal Time (UTC).
                                    Doesn't change when the snapshot is copied.</p>
                                percentProgress:
                                  type: integer
                                  format: int32
                                  description: <p>The percentage of the estimated
                                    data that has been transferred.</p>
                                port:
                                  type: integer
                                  format: int32
                                  description: <p>Specifies the port that the database
                                    engine was listening on at the time of the snapshot.</p>
                                processorFeatures:
                                  type: array
                                  description: <p>The number of CPU cores and the
                                    number of threads per core for the DB instance
                                    class of the DB instance when the DB snapshot
                                    was created.</p>
                                  items:
                                    type: object
                                    description: Definition of ProcessorFeature
                                    properties:
                                      name:
                                        type: string
                                        description: <p>The name of the processor
                                          feature. Valid names are <code>coreCount</code>
                                          and <code>threadsPerCore</code>.</p>
                                      value:
                                        type: string
                                        description: <p>The value of a processor feature
                                          name.</p>
                                  x-ms-identifiers: []
                                snapshotCreateTime:
                                  type: string
                                  format: date-time
                                  description: <p>Specifies when the snapshot was
                                    taken in Coordinated Universal Time (UTC). Changes
                                    for the copy when the snapshot is copied.</p>
                                snapshotDatabaseTime:
                                  type: string
                                  format: date-time
                                  description: <p>The timestamp of the most recent
                                    transaction applied to the database that you're
                                    backing up. Thus, if you restore a snapshot, SnapshotDatabaseTime
                                    is the most recent transaction in the restored
                                    DB instance. In contrast, originalSnapshotCreateTime
                                    specifies the system time that the snapshot completed.</p>
                                    <p>If you back up a read replica, you can determine
                                    the replica lag by comparing SnapshotDatabaseTime
                                    with originalSnapshotCreateTime. For example,
                                    if originalSnapshotCreateTime is two hours later
                                    than SnapshotDatabaseTime, then the replica lag
                                    is two hours.</p>
                                snapshotTarget:
                                  type: string
                                  description: '<p>Specifies where manual snapshots
                                    are stored: Amazon Web Services Outposts or the
                                    Amazon Web Services Region.</p>'
                                snapshotType:
                                  type: string
                                  description: <p>Provides the type of the DB snapshot.</p>
                                sourceDBSnapshotIdentifier:
                                  type: string
                                  description: <p>The DB snapshot Amazon Resource
                                    Name (ARN) that the DB snapshot was copied from.
                                    It only has a value in the case of a cross-account
                                    or cross-Region copy.</p>
                                sourceRegion:
                                  type: string
                                  description: <p>The Amazon Web Services Region that
                                    the DB snapshot was created in or copied from.</p>
                                status:
                                  type: string
                                  description: <p>Specifies the status of this DB
                                    snapshot.</p>
                                storageThroughput:
                                  type: integer
                                  format: int32
                                  description: <p>Specifies the storage throughput
                                    for the DB snapshot.</p>
                                storageType:
                                  type: string
                                  description: <p>Specifies the storage type associated
                                    with DB snapshot.</p>
                                tagList:
                                  type: array
                                  description: Property tagList
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: '<p>A key is the required name
                                          of the tag. The string value can be from
                                          1 to 128 Unicode characters in length and
                                          can''t be prefixed with <code>aws:</code>
                                          or <code>rds:</code>. The string can only
                                          contain only the set of Unicode letters,
                                          digits, white-space, ''_'', ''.'', '':'',
                                          ''/'', ''='', ''+'', ''-'', ''@'' (Java
                                          regex: ''^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'').</p>'
                                      value:
                                        type: string
                                        description: '<p>A value is the optional value
                                          of the tag. The string value can be from
                                          1 to 256 Unicode characters in length and
                                          can''t be prefixed with <code>aws:</code>
                                          or <code>rds:</code>. The string can only
                                          contain only the set of Unicode letters,
                                          digits, white-space, ''_'', ''.'', '':'',
                                          ''/'', ''='', ''+'', ''-'', ''@'' (Java
                                          regex: ''^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'').</p>'
                                  x-ms-identifiers: []
                                tdeCredentialArn:
                                  type: string
                                  description: <p>The ARN from the key store with
                                    which to associate the instance for TDE encryption.</p>
                                timezone:
                                  type: string
                                  description: <p>The time zone of the DB snapshot.
                                    In most cases, the <code>Timezone</code> element
                                    is empty. <code>Timezone</code> content appears
                                    only for snapshots taken from Microsoft SQL Server
                                    DB instances that were created with a time zone
                                    specified.</p>
                                vpcId:
                                  type: string
                                  description: <p>Provides the VPC ID associated with
                                    the DB snapshot.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/rdsDBSnapshots/{name}:
    get:
      operationId: RdsDbSnapshots_Get
      tags:
      - RdsDBSnapshots
      description: Get a RdsDBSnapshot
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of RdsDBSnapshot
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          allocatedStorage:
                            type: integer
                            format: int32
                            description: <p>Specifies the allocated storage size in
                              gibibytes (GiB).</p>
                          availabilityZone:
                            type: string
                            description: <p>Specifies the name of the Availability
                              Zone the DB instance was located in at the time of the
                              DB snapshot.</p>
                          dbInstanceIdentifier:
                            type: string
                            description: <p>Specifies the DB instance identifier of
                              the DB instance this DB snapshot was created from.</p>
                          dbSnapshotArn:
                            type: string
                            description: <p>The Amazon Resource Name (ARN) for the
                              DB snapshot.</p>
                          dbSnapshotIdentifier:
                            type: string
                            description: <p>Specifies the identifier for the DB snapshot.</p>
                          dbSystemId:
                            type: string
                            description: <p>The Oracle system identifier (SID), which
                              is the name of the Oracle database instance that manages
                              your database files. The Oracle SID is also the name
                              of your CDB.</p>
                          dbiResourceId:
                            type: string
                            description: <p>The identifier for the source DB instance,
                              which can't be changed and which is unique to an Amazon
                              Web Services Region.</p>
                          dedicatedLogVolume:
                            type: boolean
                            description: <p>Indicates whether the DB instance has
                              a dedicated log volume (DLV) enabled.</p>
                          encrypted:
                            type: boolean
                            description: <p>Indicates whether the DB snapshot is encrypted.</p>
                          engine:
                            type: string
                            description: <p>Specifies the name of the database engine.</p>
                          engineVersion:
                            type: string
                            description: <p>Specifies the version of the database
                              engine.</p>
                          iamDatabaseAuthenticationEnabled:
                            type: boolean
                            description: <p>Indicates whether mapping of Amazon Web
                              Services Identity and Access Management (IAM) accounts
                              to database accounts is enabled.</p>
                          instanceCreateTime:
                            type: string
                            format: date-time
                            description: <p>Specifies the time in Coordinated Universal
                              Time (UTC) when the DB instance, from which the snapshot
                              was taken, was created.</p>
                          iops:
                            type: integer
                            format: int32
                            description: <p>Specifies the Provisioned IOPS (I/O operations
                              per second) value of the DB instance at the time of
                              the snapshot.</p>
                          kmsKeyId:
                            type: string
                            description: <p>If <code>Encrypted</code> is true, the
                              Amazon Web Services KMS key identifier for the encrypted
                              DB snapshot.</p> <p>The Amazon Web Services KMS key
                              identifier is the key ARN, key ID, alias ARN, or alias
                              name for the KMS key.</p>
                          licenseModel:
                            type: string
                            description: <p>License model information for the restored
                              DB instance.</p>
                          masterUsername:
                            type: string
                            description: <p>Provides the master username for the DB
                              snapshot.</p>
                          multiTenant:
                            type: boolean
                            description: <p>Indicates whether the snapshot is of a
                              DB instance using the multi-tenant configuration (TRUE)
                              or the single-tenant configuration (FALSE).</p>
                          optionGroupName:
                            type: string
                            description: <p>Provides the option group name for the
                              DB snapshot.</p>
                          originalSnapshotCreateTime:
                            type: string
                            format: date-time
                            description: <p>Specifies the time of the CreateDBSnapshot
                              operation in Coordinated Universal Time (UTC). Doesn't
                              change when the snapshot is copied.</p>
                          percentProgress:
                            type: integer
                            format: int32
                            description: <p>The percentage of the estimated data that
                              has been transferred.</p>
                          port:
                            type: integer
                            format: int32
                            description: <p>Specifies the port that the database engine
                              was listening on at the time of the snapshot.</p>
                          processorFeatures:
                            type: array
                            description: <p>The number of CPU cores and the number
                              of threads per core for the DB instance class of the
                              DB instance when the DB snapshot was created.</p>
                            items:
                              type: object
                              description: Definition of ProcessorFeature
                              properties:
                                name:
                                  type: string
                                  description: <p>The name of the processor feature.
                                    Valid names are <code>coreCount</code> and <code>threadsPerCore</code>.</p>
                                value:
                                  type: string
                                  description: <p>The value of a processor feature
                                    name.</p>
                            x-ms-identifiers: []
                          snapshotCreateTime:
                            type: string
                            format: date-time
                            description: <p>Specifies when the snapshot was taken
                              in Coordinated Universal Time (UTC). Changes for the
                              copy when the snapshot is copied.</p>
                          snapshotDatabaseTime:
                            type: string
                            format: date-time
                            description: <p>The timestamp of the most recent transaction
                              applied to the database that you're backing up. Thus,
                              if you restore a snapshot, SnapshotDatabaseTime is the
                              most recent transaction in the restored DB instance.
                              In contrast, originalSnapshotCreateTime specifies the
                              system time that the snapshot completed.</p> <p>If you
                              back up a read replica, you can determine the replica
                              lag by comparing SnapshotDatabaseTime with originalSnapshotCreateTime.
                              For example, if originalSnapshotCreateTime is two hours
                              later than SnapshotDatabaseTime, then the replica lag
                              is two hours.</p>
                          snapshotTarget:
                            type: string
                            description: '<p>Specifies where manual snapshots are
                              stored: Amazon Web Services Outposts or the Amazon Web
                              Services Region.</p>'
                          snapshotType:
                            type: string
                            description: <p>Provides the type of the DB snapshot.</p>
                          sourceDBSnapshotIdentifier:
                            type: string
                            description: <p>The DB snapshot Amazon Resource Name (ARN)
                              that the DB snapshot was copied from. It only has a
                              value in the case of a cross-account or cross-Region
                              copy.</p>
                          sourceRegion:
                            type: string
                            description: <p>The Amazon Web Services Region that the
                              DB snapshot was created in or copied from.</p>
                          status:
                            type: string
                            description: <p>Specifies the status of this DB snapshot.</p>
                          storageThroughput:
                            type: integer
                            format: int32
                            description: <p>Specifies the storage throughput for the
                              DB snapshot.</p>
                          storageType:
                            type: string
                            description: <p>Specifies the storage type associated
                              with DB snapshot.</p>
                          tagList:
                            type: array
                            description: Property tagList
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: '<p>A key is the required name of the
                                    tag. The string value can be from 1 to 128 Unicode
                                    characters in length and can''t be prefixed with
                                    <code>aws:</code> or <code>rds:</code>. The string
                                    can only contain only the set of Unicode letters,
                                    digits, white-space, ''_'', ''.'', '':'', ''/'',
                                    ''='', ''+'', ''-'', ''@'' (Java regex: ''^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'').</p>'
                                value:
                                  type: string
                                  description: '<p>A value is the optional value of
                                    the tag. The string value can be from 1 to 256
                                    Unicode characters in length and can''t be prefixed
                                    with <code>aws:</code> or <code>rds:</code>. The
                                    string can only contain only the set of Unicode
                                    letters, digits, white-space, ''_'', ''.'', '':'',
                                    ''/'', ''='', ''+'', ''-'', ''@'' (Java regex:
                                    ''^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'').</p>'
                            x-ms-identifiers: []
                          tdeCredentialArn:
                            type: string
                            description: <p>The ARN from the key store with which
                              to associate the instance for TDE encryption.</p>
                          timezone:
                            type: string
                            description: <p>The time zone of the DB snapshot. In most
                              cases, the <code>Timezone</code> element is empty. <code>Timezone</code>
                              content appears only for snapshots taken from Microsoft
                              SQL Server DB instances that were created with a time
                              zone specified.</p>
                          vpcId:
                            type: string
                            description: <p>Provides the VPC ID associated with the
                              DB snapshot.</p>
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: RdsDbSnapshots_CreateOrReplace
      tags:
      - RdsDBSnapshots
      description: Create a RdsDBSnapshot. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of RdsDBSnapshot
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        allocatedStorage:
                          type: integer
                          format: int32
                          description: <p>Specifies the allocated storage size in
                            gibibytes (GiB).</p>
                        availabilityZone:
                          type: string
                          description: <p>Specifies the name of the Availability Zone
                            the DB instance was located in at the time of the DB snapshot.</p>
                        dbInstanceIdentifier:
                          type: string
                          description: <p>Specifies the DB instance identifier of
                            the DB instance this DB snapshot was created from.</p>
                        dbSnapshotArn:
                          type: string
                          description: <p>The Amazon Resource Name (ARN) for the DB
                            snapshot.</p>
                        dbSnapshotIdentifier:
                          type: string
                          description: <p>Specifies the identifier for the DB snapshot.</p>
                        dbSystemId:
                          type: string
                          description: <p>The Oracle system identifier (SID), which
                            is the name of the Oracle database instance that manages
                            your database files. The Oracle SID is also the name of
                            your CDB.</p>
                        dbiResourceId:
                          type: string
                          description: <p>The identifier for the source DB instance,
                            which can't be changed and which is unique to an Amazon
                            Web Services Region.</p>
                        dedicatedLogVolume:
                          type: boolean
                          description: <p>Indicates whether the DB instance has a
                            dedicated log volume (DLV) enabled.</p>
                        encrypted:
                          type: boolean
                          description: <p>Indicates whether the DB snapshot is encrypted.</p>
                        engine:
                          type: string
                          description: <p>Specifies the name of the database engine.</p>
                        engineVersion:
                          type: string
                          description: <p>Specifies the version of the database engine.</p>
                        iamDatabaseAuthenticationEnabled:
                          type: boolean
                          description: <p>Indicates whether mapping of Amazon Web
                            Services Identity and Access Management (IAM) accounts
                            to database accounts is enabled.</p>
                        instanceCreateTime:
                          type: string
                          format: date-time
                          description: <p>Specifies the time in Coordinated Universal
                            Time (UTC) when the DB instance, from which the snapshot
                            was taken, was created.</p>
                        iops:
                          type: integer
                          format: int32
                          description: <p>Specifies the Provisioned IOPS (I/O operations
                            per second) value of the DB instance at the time of the
                            snapshot.</p>
                        kmsKeyId:
                          type: string
                          description: <p>If <code>Encrypted</code> is true, the Amazon
                            Web Services KMS key identifier for the encrypted DB snapshot.</p>
                            <p>The Amazon Web Services KMS key identifier is the key
                            ARN, key ID, alias ARN, or alias name for the KMS key.</p>
                        licenseModel:
                          type: string
                          description: <p>License model information for the restored
                            DB instance.</p>
                        masterUsername:
                          type: string
                          description: <p>Provides the master username for the DB
                            snapshot.</p>
                        multiTenant:
                          type: boolean
                          description: <p>Indicates whether the snapshot is of a DB
                            instance using the multi-tenant configuration (TRUE) or
                            the single-tenant configuration (FALSE).</p>
                        optionGroupName:
                          type: string
                          description: <p>Provides the option group name for the DB
                            snapshot.</p>
                        originalSnapshotCreateTime:
                          type: string
                          format: date-time
                          description: <p>Specifies the time of the CreateDBSnapshot
                            operation in Coordinated Universal Time (UTC). Doesn't
                            change when the snapshot is copied.</p>
                        percentProgress:
                          type: integer
                          format: int32
                          description: <p>The percentage of the estimated data that
                            has been transferred.</p>
                        port:
                          type: integer
                          format: int32
                          description: <p>Specifies the port that the database engine
                            was listening on at the time of the snapshot.</p>
                        processorFeatures:
                          type: array
                          description: <p>The number of CPU cores and the number of
                            threads per core for the DB instance class of the DB instance
                            when the DB snapshot was created.</p>
                          items:
                            type: object
                            description: Definition of ProcessorFeature
                            properties:
                              name:
                                type: string
                                description: <p>The name of the processor feature.
                                  Valid names are <code>coreCount</code> and <code>threadsPerCore</code>.</p>
                              value:
                                type: string
                                description: <p>The value of a processor feature name.</p>
                          x-ms-identifiers: []
                        snapshotCreateTime:
                          type: string
                          format: date-time
                          description: <p>Specifies when the snapshot was taken in
                            Coordinated Universal Time (UTC). Changes for the copy
                            when the snapshot is copied.</p>
                        snapshotDatabaseTime:
                          type: string
                          format: date-time
                          description: <p>The timestamp of the most recent transaction
                            applied to the database that you're backing up. Thus,
                            if you restore a snapshot, SnapshotDatabaseTime is the
                            most recent transaction in the restored DB instance. In
                            contrast, originalSnapshotCreateTime specifies the system
                            time that the snapshot completed.</p> <p>If you back up
                            a read replica, you can determine the replica lag by comparing
                            SnapshotDatabaseTime with originalSnapshotCreateTime.
                            For example, if originalSnapshotCreateTime is two hours
                            later than SnapshotDatabaseTime, then the replica lag
                            is two hours.</p>
                        snapshotTarget:
                          type: string
                          description: '<p>Specifies where manual snapshots are stored:
                            Amazon Web Services Outposts or the Amazon Web Services
                            Region.</p>'
                        snapshotType:
                          type: string
                          description: <p>Provides the type of the DB snapshot.</p>
                        sourceDBSnapshotIdentifier:
                          type: string
                          description: <p>The DB snapshot Amazon Resource Name (ARN)
                            that the DB snapshot was copied from. It only has a value
                            in the case of a cross-account or cross-Region copy.</p>
                        sourceRegion:
                          type: string
                          description: <p>The Amazon Web Services Region that the
                            DB snapshot was created in or copied from.</p>
                        status:
                          type: string
                          description: <p>Specifies the status of this DB snapshot.</p>
                        storageThroughput:
                          type: integer
                          format: int32
                          description: <p>Specifies the storage throughput for the
                            DB snapshot.</p>
                        storageType:
                          type: string
                          description: <p>Specifies the storage type associated with
                            DB snapshot.</p>
                        tagList:
                          type: array
                          description: Property tagList
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: '<p>A key is the required name of the
                                  tag. The string value can be from 1 to 128 Unicode
                                  characters in length and can''t be prefixed with
                                  <code>aws:</code> or <code>rds:</code>. The string
                                  can only contain only the set of Unicode letters,
                                  digits, white-space, ''_'', ''.'', '':'', ''/'',
                                  ''='', ''+'', ''-'', ''@'' (Java regex: ''^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'').</p>'
                              value:
                                type: string
                                description: '<p>A value is the optional value of
                                  the tag. The string value can be from 1 to 256 Unicode
[...]
