openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Route53HostedZones
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/route53HostedZones:
    get:
      operationId: Route53HostedZones_ListBySubscription
      tags:
      - Route53HostedZones
      description: List Route53HostedZone resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Route53HostedZone list operation.
                properties:
                  value:
                    type: array
                    description: The Route53HostedZone items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                hostedZoneConfig:
                                  description: A complex type that contains an optional
                                    comment. If you don't want to specify a comment,
                                    omit the ``HostedZoneConfig`` and ``Comment``
                                    elements. A complex type that contains an optional
                                    comment about your hosted zone. If you don't want
                                    to specify a comment, omit both the ``HostedZoneConfig``
                                    and ``Comment`` elements.
                                  type: object
                                  properties:
                                    comment:
                                      type: string
                                      description: Any comments that you want to include
                                        about the hosted zone.
                                hostedZoneTags:
                                  type: array
                                  description: Adds, edits, or deletes tags for a
                                    health check or a hosted zone. For information
                                    about using tags for cost allocation, see [Using
                                    Cost Allocation Tags](https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html)
                                    in the *User Guide*.
                                  items:
                                    type: object
                                    description: Definition of HostedZoneTag
                                    properties:
                                      key:
                                        type: string
                                        description: 'The value of ``Key`` depends
                                          on the operation that you want to perform:  +   *Add
                                          a tag to a health check or hosted zone*:
                                          ``Key`` is the name that you want to give
                                          the new tag.  +   *Edit a tag*: ``Key``
                                          is the name of the tag that you want to
                                          change the ``Value`` for.  +   *Delete a
                                          key*: ``Key`` is the name of the tag you
                                          want to remove.  +   *Give a name to a health
                                          check*: Edit the default ``Name`` tag. In
                                          the Amazon Route 53 console, the list of
                                          your health checks includes a *Name* column
                                          that lets you see the name that you''ve
                                          given to each health check.'
                                      value:
                                        type: string
                                        description: 'The value of ``Value`` depends
                                          on the operation that you want to perform:  +   *Add
                                          a tag to a health check or hosted zone*:
                                          ``Value`` is the value that you want to
                                          give the new tag.  +   *Edit a tag*: ``Value``
                                          is the new value that you want to assign
                                          the tag.'
                                  x-ms-identifiers: []
                                id:
                                  type: string
                                  description: Property id
                                name:
                                  type: string
                                  description: The name of the domain. Specify a fully
                                    qualified domain name, for example, *www.example.com*.
                                    The trailing dot is optional; Amazon Route 53
                                    assumes that the domain name is fully qualified.
                                    This means that Route 53 treats *www.example.com*
                                    (without a trailing dot) and *www.example.com.*
                                    (with a trailing dot) as identical. If you're
                                    creating a public hosted zone, this is the name
                                    you have registered with your DNS registrar. If
                                    your domain name is registered with a registrar
                                    other than Route 53, change the name servers for
                                    your domain to the set of ``NameServers`` that
                                    are returned by the ``Fn::GetAtt`` intrinsic function.
                                nameServers:
                                  type: array
                                  description: Property nameServers
                                  items:
                                    type: string
                                queryLoggingConfig:
                                  description: 'Creates a configuration for DNS query
                                    logging. After you create a query logging configuration,
                                    Amazon Route 53 begins to publish log data to
                                    an Amazon CloudWatch Logs log group. DNS query
                                    logs contain information about the queries that
                                    Route 53 receives for a specified public hosted
                                    zone, such as the following:  +  Route 53 edge
                                    location that responded to the DNS query  +  Domain
                                    or subdomain that was requested  +  DNS record
                                    type, such as A or AAAA  +  DNS response code,
                                    such as ``NoError`` or ``ServFail``     + Log
                                    Group and Resource Policy Before you create a
                                    query logging configuration, perform the following
                                    operations. If you create a query logging configuration
                                    using the Route 53 console, Route 53 performs
                                    these operations automatically. Create a CloudWatch
                                    Logs log group, and make note of the ARN, which
                                    you specify when you create a query logging configuration.
                                    Note the following: You must create the log group
                                    in the us-east-1 region. You must use the same
                                    to create the log group and the hosted zone that
                                    you want to configure query logging for. When
                                    you create log groups for query logging, we recommend
                                    that you use a consistent prefix, for example:
                                    /aws/route53/hosted zone name In the next step,
                                    you''ll create a resource policy, which controls
                                    access to one or more log groups and the associated
                                    resources, such as Route 53 hosted zones. There''s
                                    a limit on the number of resource policies that
                                    you can create, so we recommend that you use a
                                    consistent prefix so you can use the same resource
                                    policy for all the log groups that you create
                                    for query logging. Create a CloudWatch Logs resource
                                    policy, and give it the permissions that Route
                                    53 needs to create log streams and to send query
                                    logs to log streams. For the value of Resource,
                                    specify the ARN for the log group that you created
                                    in the previous step. To use the same resource
                                    policy for all the CloudWatch Logs log groups
                                    that you created for query logging configurations,
                                    replace the hosted zone name with *, for example:
                                    arn:aws:logs:us-east-1:123412341234:log-group:/aws/route53/*
                                    To avoid the confused deputy problem, a security
                                    issue where an entity without a permission for
                                    an action can coerce a more-privileged entity
                                    to perform it, you can optionally limit the permissions
                                    that a service has to a resource in a resource-based
                                    policy by supplying the following values: For
                                    aws:SourceArn, supply the hosted zone ARN used
                                    in creating the query logging configuration. For
                                    example, aws:SourceArn: arn:aws:route53:::hostedzone/hosted
                                    zone ID. For aws:SourceAccount, supply the account
                                    ID for the account that creates the query logging
                                    configuration. For example, aws:SourceAccount:111111111111.
                                    For more information, see The confused deputy
                                    problem in the IAM User Guide. You can''t use
                                    the CloudWatch console to create or edit a resource
                                    policy. You must use the CloudWatch API, one of
                                    the SDKs, or the . + Log Streams and Edge Locations
                                    When Route 53 finishes creating the configuration
                                    for DNS query logging, it does the following:
                                    Creates a log stream for an edge location the
                                    first time that the edge location responds to
                                    DNS queries for the specified hosted zone. That
                                    log stream is used to log all queries that Route
                                    53 responds to for that edge location. Begins
                                    to send query logs to the applicable log stream.
                                    The name of each log stream is in the following
                                    format: hosted zone ID/edge location code The
                                    edge location code is a three-letter code and
                                    an arbitrarily assigned number, for example, DFW3.
                                    The three-letter code typically corresponds with
                                    the International Air Transport Association airport
                                    code for an airport near the edge location. (These
                                    abbreviations might change in the future.) For
                                    a list of edge locations, see ''The Route 53 Global
                                    Network'' on the Route 53 Product Details page.
                                    + Queries That Are Logged Query logs contain only
                                    the queries that DNS resolvers forward to Route
                                    53. If a DNS resolver has already cached the response
                                    to a query (such as the IP address for a load
                                    balancer for example.com), the resolver will continue
                                    to return the cached response. It doesn''t forward
                                    another query to Route 53 until the TTL for the
                                    corresponding resource record set expires. Depending
                                    on how many DNS queries are submitted for a resource
                                    record set, and depending on the TTL for that
                                    resource record set, query logs might contain
                                    information about only one query out of every
                                    several thousand queries that are submitted to
                                    DNS. For more information about how DNS works,
                                    see Routing Internet Traffic to Your Website or
                                    Web Application in the Amazon Route 53 Developer
                                    Guide. + Log File Format For a list of the values
                                    in each query log and the format of each value,
                                    see Logging DNS Queries in the Amazon Route 53
                                    Developer Guide. + Pricing For information about
                                    charges for query logs, see Amazon CloudWatch
                                    Pricing. + How to Stop Logging If you want Route
                                    53 to stop sending query logs to CloudWatch Logs,
                                    delete the query logging configuration. For more
                                    information, see DeleteQueryLoggingConfig. A complex
                                    type that contains information about a configuration
                                    for DNS query logging.'
                                  type: object
                                  properties:
                                    cloudWatchLogsLogGroupArn:
                                      type: string
                                      description: The Amazon Resource Name (ARN)
                                        of the CloudWatch Logs log group that Amazon
                                        Route 53 is publishing logs to.
                                vpCs:
                                  type: array
                                  description: '*Private hosted zones:* A complex
                                    type that contains information about the VPCs
                                    that are associated with the specified hosted
                                    zone.  For public hosted zones, omit ``VPCs``,
                                    ``VPCId``, and ``VPCRegion``.'
                                  items:
                                    type: object
                                    description: Definition of VPC
                                    properties:
                                      vpcId:
                                        type: string
                                        description: '*Private hosted zones only:*
                                          The ID of an Amazon VPC.  For public hosted
                                          zones, omit ``VPCs``, ``VPCId``, and ``VPCRegion``.'
                                      vpcRegion:
                                        type: string
                                        description: '*Private hosted zones only:*
                                          The region that an Amazon VPC was created
                                          in.  For public hosted zones, omit ``VPCs``,
                                          ``VPCId``, and ``VPCRegion``.'
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/route53HostedZones:
    get:
      operationId: Route53HostedZones_ListByResourceGroup
      tags:
      - Route53HostedZones
      description: List Route53HostedZone resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Route53HostedZone list operation.
                properties:
                  value:
                    type: array
                    description: The Route53HostedZone items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                hostedZoneConfig:
                                  description: A complex type that contains an optional
                                    comment. If you don't want to specify a comment,
                                    omit the ``HostedZoneConfig`` and ``Comment``
                                    elements. A complex type that contains an optional
                                    comment about your hosted zone. If you don't want
                                    to specify a comment, omit both the ``HostedZoneConfig``
                                    and ``Comment`` elements.
                                  type: object
                                  properties:
                                    comment:
                                      type: string
                                      description: Any comments that you want to include
                                        about the hosted zone.
                                hostedZoneTags:
                                  type: array
                                  description: Adds, edits, or deletes tags for a
                                    health check or a hosted zone. For information
                                    about using tags for cost allocation, see [Using
                                    Cost Allocation Tags](https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html)
                                    in the *User Guide*.
                                  items:
                                    type: object
                                    description: Definition of HostedZoneTag
                                    properties:
                                      key:
                                        type: string
                                        description: 'The value of ``Key`` depends
                                          on the operation that you want to perform:  +   *Add
                                          a tag to a health check or hosted zone*:
                                          ``Key`` is the name that you want to give
                                          the new tag.  +   *Edit a tag*: ``Key``
                                          is the name of the tag that you want to
                                          change the ``Value`` for.  +   *Delete a
                                          key*: ``Key`` is the name of the tag you
                                          want to remove.  +   *Give a name to a health
                                          check*: Edit the default ``Name`` tag. In
                                          the Amazon Route 53 console, the list of
                                          your health checks includes a *Name* column
                                          that lets you see the name that you''ve
                                          given to each health check.'
                                      value:
                                        type: string
                                        description: 'The value of ``Value`` depends
                                          on the operation that you want to perform:  +   *Add
                                          a tag to a health check or hosted zone*:
                                          ``Value`` is the value that you want to
                                          give the new tag.  +   *Edit a tag*: ``Value``
                                          is the new value that you want to assign
                                          the tag.'
                                  x-ms-identifiers: []
                                id:
                                  type: string
                                  description: Property id
                                name:
                                  type: string
                                  description: The name of the domain. Specify a fully
                                    qualified domain name, for example, *www.example.com*.
                                    The trailing dot is optional; Amazon Route 53
                                    assumes that the domain name is fully qualified.
                                    This means that Route 53 treats *www.example.com*
                                    (without a trailing dot) and *www.example.com.*
                                    (with a trailing dot) as identical. If you're
                                    creating a public hosted zone, this is the name
                                    you have registered with your DNS registrar. If
                                    your domain name is registered with a registrar
                                    other than Route 53, change the name servers for
                                    your domain to the set of ``NameServers`` that
                                    are returned by the ``Fn::GetAtt`` intrinsic function.
                                nameServers:
                                  type: array
                                  description: Property nameServers
                                  items:
                                    type: string
                                queryLoggingConfig:
                                  description: 'Creates a configuration for DNS query
                                    logging. After you create a query logging configuration,
                                    Amazon Route 53 begins to publish log data to
                                    an Amazon CloudWatch Logs log group. DNS query
                                    logs contain information about the queries that
                                    Route 53 receives for a specified public hosted
                                    zone, such as the following:  +  Route 53 edge
                                    location that responded to the DNS query  +  Domain
                                    or subdomain that was requested  +  DNS record
                                    type, such as A or AAAA  +  DNS response code,
                                    such as ``NoError`` or ``ServFail``     + Log
                                    Group and Resource Policy Before you create a
                                    query logging configuration, perform the following
                                    operations. If you create a query logging configuration
                                    using the Route 53 console, Route 53 performs
                                    these operations automatically. Create a CloudWatch
                                    Logs log group, and make note of the ARN, which
                                    you specify when you create a query logging configuration.
                                    Note the following: You must create the log group
                                    in the us-east-1 region. You must use the same
                                    to create the log group and the hosted zone that
                                    you want to configure query logging for. When
                                    you create log groups for query logging, we recommend
                                    that you use a consistent prefix, for example:
                                    /aws/route53/hosted zone name In the next step,
                                    you''ll create a resource policy, which controls
                                    access to one or more log groups and the associated
                                    resources, such as Route 53 hosted zones. There''s
                                    a limit on the number of resource policies that
                                    you can create, so we recommend that you use a
                                    consistent prefix so you can use the same resource
                                    policy for all the log groups that you create
                                    for query logging. Create a CloudWatch Logs resource
                                    policy, and give it the permissions that Route
                                    53 needs to create log streams and to send query
                                    logs to log streams. For the value of Resource,
                                    specify the ARN for the log group that you created
                                    in the previous step. To use the same resource
                                    policy for all the CloudWatch Logs log groups
                                    that you created for query logging configurations,
                                    replace the hosted zone name with *, for example:
                                    arn:aws:logs:us-east-1:123412341234:log-group:/aws/route53/*
                                    To avoid the confused deputy problem, a security
                                    issue where an entity without a permission for
                                    an action can coerce a more-privileged entity
                                    to perform it, you can optionally limit the permissions
                                    that a service has to a resource in a resource-based
                                    policy by supplying the following values: For
                                    aws:SourceArn, supply the hosted zone ARN used
                                    in creating the query logging configuration. For
                                    example, aws:SourceArn: arn:aws:route53:::hostedzone/hosted
                                    zone ID. For aws:SourceAccount, supply the account
                                    ID for the account that creates the query logging
                                    configuration. For example, aws:SourceAccount:111111111111.
                                    For more information, see The confused deputy
                                    problem in the IAM User Guide. You can''t use
                                    the CloudWatch console to create or edit a resource
                                    policy. You must use the CloudWatch API, one of
                                    the SDKs, or the . + Log Streams and Edge Locations
                                    When Route 53 finishes creating the configuration
                                    for DNS query logging, it does the following:
                                    Creates a log stream for an edge location the
                                    first time that the edge location responds to
                                    DNS queries for the specified hosted zone. That
                                    log stream is used to log all queries that Route
                                    53 responds to for that edge location. Begins
                                    to send query logs to the applicable log stream.
                                    The name of each log stream is in the following
                                    format: hosted zone ID/edge location code The
                                    edge location code is a three-letter code and
                                    an arbitrarily assigned number, for example, DFW3.
                                    The three-letter code typically corresponds with
                                    the International Air Transport Association airport
                                    code for an airport near the edge location. (These
                                    abbreviations might change in the future.) For
                                    a list of edge locations, see ''The Route 53 Global
                                    Network'' on the Route 53 Product Details page.
                                    + Queries That Are Logged Query logs contain only
                                    the queries that DNS resolvers forward to Route
                                    53. If a DNS resolver has already cached the response
                                    to a query (such as the IP address for a load
                                    balancer for example.com), the resolver will continue
                                    to return the cached response. It doesn''t forward
                                    another query to Route 53 until the TTL for the
                                    corresponding resource record set expires. Depending
                                    on how many DNS queries are submitted for a resource
                                    record set, and depending on the TTL for that
                                    resource record set, query logs might contain
                                    information about only one query out of every
                                    several thousand queries that are submitted to
                                    DNS. For more information about how DNS works,
                                    see Routing Internet Traffic to Your Website or
                                    Web Application in the Amazon Route 53 Developer
                                    Guide. + Log File Format For a list of the values
                                    in each query log and the format of each value,
                                    see Logging DNS Queries in the Amazon Route 53
                                    Developer Guide. + Pricing For information about
                                    charges for query logs, see Amazon CloudWatch
                                    Pricing. + How to Stop Logging If you want Route
                                    53 to stop sending query logs to CloudWatch Logs,
                                    delete the query logging configuration. For more
                                    information, see DeleteQueryLoggingConfig. A complex
                                    type that contains information about a configuration
                                    for DNS query logging.'
                                  type: object
                                  properties:
                                    cloudWatchLogsLogGroupArn:
                                      type: string
                                      description: The Amazon Resource Name (ARN)
                                        of the CloudWatch Logs log group that Amazon
                                        Route 53 is publishing logs to.
                                vpCs:
                                  type: array
                                  description: '*Private hosted zones:* A complex
                                    type that contains information about the VPCs
                                    that are associated with the specified hosted
                                    zone.  For public hosted zones, omit ``VPCs``,
                                    ``VPCId``, and ``VPCRegion``.'
                                  items:
                                    type: object
                                    description: Definition of VPC
                                    properties:
                                      vpcId:
                                        type: string
                                        description: '*Private hosted zones only:*
                                          The ID of an Amazon VPC.  For public hosted
                                          zones, omit ``VPCs``, ``VPCId``, and ``VPCRegion``.'
                                      vpcRegion:
                                        type: string
                                        description: '*Private hosted zones only:*
                                          The region that an Amazon VPC was created
                                          in.  For public hosted zones, omit ``VPCs``,
                                          ``VPCId``, and ``VPCRegion``.'
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/route53HostedZones/{name}
  : get:
      operationId: Route53HostedZones_Get
      tags:
      - Route53HostedZones
      description: Get a Route53HostedZone
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Route53HostedZone
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          hostedZoneConfig:
                            description: A complex type that contains an optional
                              comment. If you don't want to specify a comment, omit
                              the ``HostedZoneConfig`` and ``Comment`` elements. A
                              complex type that contains an optional comment about
                              your hosted zone. If you don't want to specify a comment,
                              omit both the ``HostedZoneConfig`` and ``Comment`` elements.
                            type: object
                            properties:
                              comment:
                                type: string
                                description: Any comments that you want to include
                                  about the hosted zone.
                          hostedZoneTags:
                            type: array
                            description: Adds, edits, or deletes tags for a health
                              check or a hosted zone. For information about using
                              tags for cost allocation, see [Using Cost Allocation
                              Tags](https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html)
                              in the *User Guide*.
                            items:
                              type: object
                              description: Definition of HostedZoneTag
                              properties:
                                key:
                                  type: string
                                  description: 'The value of ``Key`` depends on the
                                    operation that you want to perform:  +   *Add
                                    a tag to a health check or hosted zone*: ``Key``
                                    is the name that you want to give the new tag.  +   *Edit
                                    a tag*: ``Key`` is the name of the tag that you
                                    want to change the ``Value`` for.  +   *Delete
                                    a key*: ``Key`` is the name of the tag you want
                                    to remove.  +   *Give a name to a health check*:
                                    Edit the default ``Name`` tag. In the Amazon Route
                                    53 console, the list of your health checks includes
                                    a *Name* column that lets you see the name that
                                    you''ve given to each health check.'
                                value:
                                  type: string
                                  description: 'The value of ``Value`` depends on
                                    the operation that you want to perform:  +   *Add
                                    a tag to a health check or hosted zone*: ``Value``
                                    is the value that you want to give the new tag.  +   *Edit
                                    a tag*: ``Value`` is the new value that you want
                                    to assign the tag.'
                            x-ms-identifiers: []
                          id:
                            type: string
                            description: Property id
                          name:
                            type: string
                            description: The name of the domain. Specify a fully qualified
                              domain name, for example, *www.example.com*. The trailing
                              dot is optional; Amazon Route 53 assumes that the domain
                              name is fully qualified. This means that Route 53 treats
                              *www.example.com* (without a trailing dot) and *www.example.com.*
                              (with a trailing dot) as identical. If you're creating
                              a public hosted zone, this is the name you have registered
                              with your DNS registrar. If your domain name is registered
                              with a registrar other than Route 53, change the name
                              servers for your domain to the set of ``NameServers``
                              that are returned by the ``Fn::GetAtt`` intrinsic function.
                          nameServers:
                            type: array
                            description: Property nameServers
                            items:
                              type: string
                          queryLoggingConfig:
                            description: 'Creates a configuration for DNS query logging.
                              After you create a query logging configuration, Amazon
                              Route 53 begins to publish log data to an Amazon CloudWatch
                              Logs log group. DNS query logs contain information about
                              the queries that Route 53 receives for a specified public
                              hosted zone, such as the following:  +  Route 53 edge
                              location that responded to the DNS query  +  Domain
                              or subdomain that was requested  +  DNS record type,
                              such as A or AAAA  +  DNS response code, such as ``NoError``
                              or ``ServFail``     + Log Group and Resource Policy
                              Before you create a query logging configuration, perform
                              the following operations. If you create a query logging
                              configuration using the Route 53 console, Route 53 performs
                              these operations automatically. Create a CloudWatch
                              Logs log group, and make note of the ARN, which you
                              specify when you create a query logging configuration.
                              Note the following: You must create the log group in
                              the us-east-1 region. You must use the same to create
                              the log group and the hosted zone that you want to configure
                              query logging for. When you create log groups for query
                              logging, we recommend that you use a consistent prefix,
                              for example: /aws/route53/hosted zone name In the next
                              step, you''ll create a resource policy, which controls
                              access to one or more log groups and the associated
                              resources, such as Route 53 hosted zones. There''s a
                              limit on the number of resource policies that you can
                              create, so we recommend that you use a consistent prefix
                              so you can use the same resource policy for all the
                              log groups that you create for query logging. Create
                              a CloudWatch Logs resource policy, and give it the permissions
                              that Route 53 needs to create log streams and to send
                              query logs to log streams. For the value of Resource,
                              specify the ARN for the log group that you created in
                              the previous step. To use the same resource policy for
                              all the CloudWatch Logs log groups that you created
                              for query logging configurations, replace the hosted
                              zone name with *, for example: arn:aws:logs:us-east-1:123412341234:log-group:/aws/route53/*
                              To avoid the confused deputy problem, a security issue
                              where an entity without a permission for an action can
                              coerce a more-privileged entity to perform it, you can
                              optionally limit the permissions that a service has
                              to a resource in a resource-based policy by supplying
                              the following values: For aws:SourceArn, supply the
                              hosted zone ARN used in creating the query logging configuration.
                              For example, aws:SourceArn: arn:aws:route53:::hostedzone/hosted
                              zone ID. For aws:SourceAccount, supply the account ID
                              for the account that creates the query logging configuration.
                              For example, aws:SourceAccount:111111111111. For more
                              information, see The confused deputy problem in the
                              IAM User Guide. You can''t use the CloudWatch console
                              to create or edit a resource policy. You must use the
                              CloudWatch API, one of the SDKs, or the . + Log Streams
                              and Edge Locations When Route 53 finishes creating the
                              configuration for DNS query logging, it does the following:
                              Creates a log stream for an edge location the first
                              time that the edge location responds to DNS queries
                              for the specified hosted zone. That log stream is used
                              to log all queries that Route 53 responds to for that
                              edge location. Begins to send query logs to the applicable
                              log stream. The name of each log stream is in the following
                              format: hosted zone ID/edge location code The edge location
                              code is a three-letter code and an arbitrarily assigned
                              number, for example, DFW3. The three-letter code typically
                              corresponds with the International Air Transport Association
                              airport code for an airport near the edge location.
                              (These abbreviations might change in the future.) For
                              a list of edge locations, see ''The Route 53 Global
                              Network'' on the Route 53 Product Details page. + Queries
                              That Are Logged Query logs contain only the queries
                              that DNS resolvers forward to Route 53. If a DNS resolver
                              has already cached the response to a query (such as
                              the IP address for a load balancer for example.com),
                              the resolver will continue to return the cached response.
                              It doesn''t forward another query to Route 53 until
                              the TTL for the corresponding resource record set expires.
                              Depending on how many DNS queries are submitted for
                              a resource record set, and depending on the TTL for
                              that resource record set, query logs might contain information
                              about only one query out of every several thousand queries
                              that are submitted to DNS. For more information about
                              how DNS works, see Routing Internet Traffic to Your
                              Website or Web Application in the Amazon Route 53 Developer
                              Guide. + Log File Format For a list of the values in
                              each query log and the format of each value, see Logging
                              DNS Queries in the Amazon Route 53 Developer Guide.
                              + Pricing For information about charges for query logs,
                              see Amazon CloudWatch Pricing. + How to Stop Logging
                              If you want Route 53 to stop sending query logs to CloudWatch
                              Logs, delete the query logging configuration. For more
                              information, see DeleteQueryLoggingConfig. A complex
                              type that contains information about a configuration
                              for DNS query logging.'
                            type: object
                            properties:
                              cloudWatchLogsLogGroupArn:
                                type: string
                                description: The Amazon Resource Name (ARN) of the
                                  CloudWatch Logs log group that Amazon Route 53 is
                                  publishing logs to.
                          vpCs:
                            type: array
                            description: '*Private hosted zones:* A complex type that
                              contains information about the VPCs that are associated
                              with the specified hosted zone.  For public hosted zones,
                              omit ``VPCs``, ``VPCId``, and ``VPCRegion``.'
                            items:
                              type: object
                              description: Definition of VPC
                              properties:
                                vpcId:
                                  type: string
                                  description: '*Private hosted zones only:* The ID
                                    of an Amazon VPC.  For public hosted zones, omit
                                    ``VPCs``, ``VPCId``, and ``VPCRegion``.'
                                vpcRegion:
                                  type: string
                                  description: '*Private hosted zones only:* The region
                                    that an Amazon VPC was created in.  For public
                                    hosted zones, omit ``VPCs``, ``VPCId``, and ``VPCRegion``.'
                            x-ms-identifiers: []
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Route53HostedZones_CreateOrReplace
      tags:
      - Route53HostedZones
      description: Create a Route53HostedZone. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Route53HostedZone
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        hostedZoneConfig:
                          description: A complex type that contains an optional comment.
                            If you don't want to specify a comment, omit the ``HostedZoneConfig``
                            and ``Comment`` elements. A complex type that contains
                            an optional comment about your hosted zone. If you don't
                            want to specify a comment, omit both the ``HostedZoneConfig``
                            and ``Comment`` elements.
                          type: object
                          properties:
                            comment:
                              type: string
                              description: Any comments that you want to include about
                                the hosted zone.
                        hostedZoneTags:
                          type: array
                          description: Adds, edits, or deletes tags for a health check
                            or a hosted zone. For information about using tags for
                            cost allocation, see [Using Cost Allocation Tags](https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html)
                            in the *User Guide*.
                          items:
                            type: object
                            description: Definition of HostedZoneTag
                            properties:
                              key:
                                type: string
                                description: 'The value of ``Key`` depends on the
                                  operation that you want to perform:  +   *Add a
                                  tag to a health check or hosted zone*: ``Key`` is
                                  the name that you want to give the new tag.  +   *Edit
                                  a tag*: ``Key`` is the name of the tag that you
                                  want to change the ``Value`` for.  +   *Delete a
                                  key*: ``Key`` is the name of the tag you want to
                                  remove.  +   *Give a name to a health check*: Edit
                                  the default ``Name`` tag. In the Amazon Route 53
                                  console, the list of your health checks includes
                                  a *Name* column that lets you see the name that
                                  you''ve given to each health check.'
                              value:
                                type: string
                                description: 'The value of ``Value`` depends on the
                                  operation that you want to perform:  +   *Add a
                                  tag to a health check or hosted zone*: ``Value``
                                  is the value that you want to give the new tag.  +   *Edit
                                  a tag*: ``Value`` is the new value that you want
                                  to assign the tag.'
                          x-ms-identifiers: []
                        id:
                          type: string
                          description: Property id
                        name:
                          type: string
                          description: The name of the domain. Specify a fully qualified
                            domain name, for example, *www.example.com*. The trailing
                            dot is optional; Amazon Route 53 assumes that the domain
                            name is fully qualified. This means that Route 53 treats
                            *www.example.com* (without a trailing dot) and *www.example.com.*
                            (with a trailing dot) as identical. If you're creating
                            a public hosted zone, this is the name you have registered
                            with your DNS registrar. If your domain name is registered
                            with a registrar other than Route 53, change the name
                            servers for your domain to the set of ``NameServers``
                            that are returned by the ``Fn::GetAtt`` intrinsic function.
                        nameServers:
                          type: array
                          description: Property nameServers
                          items:
                            type: string
                        queryLoggingConfig:
                          description: 'Creates a configuration for DNS query logging.
                            After you create a query logging configuration, Amazon
                            Route 53 begins to publish log data to an Amazon CloudWatch
                            Logs log group. DNS query logs contain information about
                            the queries that Route 53 receives for a specified public
                            hosted zone, such as the following:  +  Route 53 edge
                            location that responded to the DNS query  +  Domain or
                            subdomain that was requested  +  DNS record type, such
                            as A or AAAA  +  DNS response code, such as ``NoError``
                            or ``ServFail``     + Log Group and Resource Policy Before
                            you create a query logging configuration, perform the
                            following operations. If you create a query logging configuration
                            using the Route 53 console, Route 53 performs these operations
                            automatically. Create a CloudWatch Logs log group, and
                            make note of the ARN, which you specify when you create
                            a query logging configuration. Note the following: You
                            must create the log group in the us-east-1 region. You
                            must use the same to create the log group and the hosted
                            zone that you want to configure query logging for. When
                            you create log groups for query logging, we recommend
                            that you use a consistent prefix, for example: /aws/route53/hosted
                            zone name In the next step, you''ll create a resource
                            policy, which controls access to one or more log groups
                            and the associated resources, such as Route 53 hosted
                            zones. There''s a limit on the number of resource policies
                            that you can create, so we recommend that you use a consistent
                            prefix so you can use the same resource policy for all
                            the log groups that you create for query logging. Create
                            a CloudWatch Logs resource policy, and give it the permissions
                            that Route 53 needs to create log streams and to send
                            query logs to log streams. For the value of Resource,
[...]
