openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: S3AccessControlPolicies
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/s3AccessControlPolicies:
    get:
      operationId: S3AccessControlPolicies_ListBySubscription
      tags:
      - S3AccessControlPolicies
      description: List S3AccessControlPolicy resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a S3AccessControlPolicy list operation.
                properties:
                  value:
                    type: array
                    description: The S3AccessControlPolicy items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                grants:
                                  type: array
                                  description: <p>A list of grants.</p>
                                  items:
                                    type: object
                                    description: Definition of Grant
                                    properties:
                                      grantee:
                                        description: <p>The person being granted permissions.</p>
                                        type: object
                                        properties:
                                          displayName:
                                            type: string
                                            description: <p>Screen name of the grantee.</p>
                                          emailAddress:
                                            type: string
                                            description: "<p>Email address of the\
                                              \ grantee.</p> <note> <p>Using email\
                                              \ addresses to specify a grantee is\
                                              \ only supported in the following Amazon\
                                              \ Web Services Regions: </p> <ul> <li>\
                                              \ <p>US East (N. Virginia)</p> </li>\
                                              \ <li> <p>US West (N. California)</p>\
                                              \ </li> <li> <p> US West (Oregon)</p>\
                                              \ </li> <li> <p> Asia Pacific (Singapore)</p>\
                                              \ </li> <li> <p>Asia Pacific (Sydney)</p>\
                                              \ </li> <li> <p>Asia Pacific (Tokyo)</p>\
                                              \ </li> <li> <p>Europe (Ireland)</p>\
                                              \ </li> <li> <p>South America (S\xE3\
                                              o Paulo)</p> </li> </ul> <p>For a list\
                                              \ of all the Amazon S3 supported Regions\
                                              \ and endpoints, see <a href='https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region'>Regions\
                                              \ and Endpoints</a> in the Amazon Web\
                                              \ Services General Reference.</p> </note>"
                                          id:
                                            type: string
                                            description: <p>The canonical user ID
                                              of the grantee.</p>
                                          type:
                                            description: <p>Type of grantee</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - AmazonCustomerByEmail
                                                - CanonicalUser
                                                - Group
                                                x-ms-enum:
                                                  name: Type
                                                  modelAsString: true
                                                  values:
                                                  - name: AmazonCustomerByEmail
                                                    value: AmazonCustomerByEmail
                                                    description: Type enum AmazonCustomerByEmail
                                                  - name: CanonicalUser
                                                    value: CanonicalUser
                                                    description: Type enum CanonicalUser
                                                  - name: Group
                                                    value: Group
                                                    description: Type enum Group
                                          uri:
                                            type: string
                                            description: <p>URI of the grantee group.</p>
                                      permission:
                                        description: <p>Specifies the permission given
                                          to the grantee.</p>
                                        type: object
                                        properties:
                                          value:
                                            description: Property value
                                            type: string
                                            enum:
                                            - FULL_CONTROL
                                            - READ
                                            - READ_ACP
                                            - WRITE
                                            - WRITE_ACP
                                            x-ms-enum:
                                              name: Permission
                                              modelAsString: true
                                              values:
                                              - name: FULL_CONTROL
                                                value: FULL_CONTROL
                                                description: Permission enum FULL_CONTROL
                                              - name: READ
                                                value: READ
                                                description: Permission enum READ
                                              - name: READ_ACP
                                                value: READ_ACP
                                                description: Permission enum READ_ACP
                                              - name: WRITE
                                                value: WRITE
                                                description: Permission enum WRITE
                                              - name: WRITE_ACP
                                                value: WRITE_ACP
                                                description: Permission enum WRITE_ACP
                                  x-ms-identifiers: []
                                owner:
                                  description: <p>Container for the bucket owner's
                                    display name and ID.</p>
                                  type: object
                                  properties:
                                    displayName:
                                      type: string
                                      description: "<p>Container for the display name\
                                        \ of the owner. This value is only supported\
                                        \ in the following Amazon Web Services Regions:</p>\
                                        \ <ul> <li> <p>US East (N. Virginia)</p> </li>\
                                        \ <li> <p>US West (N. California)</p> </li>\
                                        \ <li> <p>US West (Oregon)</p> </li> <li>\
                                        \ <p>Asia Pacific (Singapore)</p> </li> <li>\
                                        \ <p>Asia Pacific (Sydney)</p> </li> <li>\
                                        \ <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe\
                                        \ (Ireland)</p> </li> <li> <p>South America\
                                        \ (S\xE3o Paulo)</p> </li> </ul> <note> <p>This\
                                        \ functionality is not supported for directory\
                                        \ buckets.</p> </note>"
                                    id:
                                      type: string
                                      description: <p>Container for the ID of the
                                        owner.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3AccessControlPolicies
  : get:
      operationId: S3AccessControlPolicies_ListByResourceGroup
      tags:
      - S3AccessControlPolicies
      description: List S3AccessControlPolicy resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a S3AccessControlPolicy list operation.
                properties:
                  value:
                    type: array
                    description: The S3AccessControlPolicy items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                grants:
                                  type: array
                                  description: <p>A list of grants.</p>
                                  items:
                                    type: object
                                    description: Definition of Grant
                                    properties:
                                      grantee:
                                        description: <p>The person being granted permissions.</p>
                                        type: object
                                        properties:
                                          displayName:
                                            type: string
                                            description: <p>Screen name of the grantee.</p>
                                          emailAddress:
                                            type: string
                                            description: "<p>Email address of the\
                                              \ grantee.</p> <note> <p>Using email\
                                              \ addresses to specify a grantee is\
                                              \ only supported in the following Amazon\
                                              \ Web Services Regions: </p> <ul> <li>\
                                              \ <p>US East (N. Virginia)</p> </li>\
                                              \ <li> <p>US West (N. California)</p>\
                                              \ </li> <li> <p> US West (Oregon)</p>\
                                              \ </li> <li> <p> Asia Pacific (Singapore)</p>\
                                              \ </li> <li> <p>Asia Pacific (Sydney)</p>\
                                              \ </li> <li> <p>Asia Pacific (Tokyo)</p>\
                                              \ </li> <li> <p>Europe (Ireland)</p>\
                                              \ </li> <li> <p>South America (S\xE3\
                                              o Paulo)</p> </li> </ul> <p>For a list\
                                              \ of all the Amazon S3 supported Regions\
                                              \ and endpoints, see <a href='https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region'>Regions\
                                              \ and Endpoints</a> in the Amazon Web\
                                              \ Services General Reference.</p> </note>"
                                          id:
                                            type: string
                                            description: <p>The canonical user ID
                                              of the grantee.</p>
                                          type:
                                            description: <p>Type of grantee</p>
                                            type: object
                                            properties:
                                              value:
                                                description: Property value
                                                type: string
                                                enum:
                                                - AmazonCustomerByEmail
                                                - CanonicalUser
                                                - Group
                                                x-ms-enum:
                                                  name: Type
                                                  modelAsString: true
                                                  values:
                                                  - name: AmazonCustomerByEmail
                                                    value: AmazonCustomerByEmail
                                                    description: Type enum AmazonCustomerByEmail
                                                  - name: CanonicalUser
                                                    value: CanonicalUser
                                                    description: Type enum CanonicalUser
                                                  - name: Group
                                                    value: Group
                                                    description: Type enum Group
                                          uri:
                                            type: string
                                            description: <p>URI of the grantee group.</p>
                                      permission:
                                        description: <p>Specifies the permission given
                                          to the grantee.</p>
                                        type: object
                                        properties:
                                          value:
                                            description: Property value
                                            type: string
                                            enum:
                                            - FULL_CONTROL
                                            - READ
                                            - READ_ACP
                                            - WRITE
                                            - WRITE_ACP
                                            x-ms-enum:
                                              name: Permission
                                              modelAsString: true
                                              values:
                                              - name: FULL_CONTROL
                                                value: FULL_CONTROL
                                                description: Permission enum FULL_CONTROL
                                              - name: READ
                                                value: READ
                                                description: Permission enum READ
                                              - name: READ_ACP
                                                value: READ_ACP
                                                description: Permission enum READ_ACP
                                              - name: WRITE
                                                value: WRITE
                                                description: Permission enum WRITE
                                              - name: WRITE_ACP
                                                value: WRITE_ACP
                                                description: Permission enum WRITE_ACP
                                  x-ms-identifiers: []
                                owner:
                                  description: <p>Container for the bucket owner's
                                    display name and ID.</p>
                                  type: object
                                  properties:
                                    displayName:
                                      type: string
                                      description: "<p>Container for the display name\
                                        \ of the owner. This value is only supported\
                                        \ in the following Amazon Web Services Regions:</p>\
                                        \ <ul> <li> <p>US East (N. Virginia)</p> </li>\
                                        \ <li> <p>US West (N. California)</p> </li>\
                                        \ <li> <p>US West (Oregon)</p> </li> <li>\
                                        \ <p>Asia Pacific (Singapore)</p> </li> <li>\
                                        \ <p>Asia Pacific (Sydney)</p> </li> <li>\
                                        \ <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe\
                                        \ (Ireland)</p> </li> <li> <p>South America\
                                        \ (S\xE3o Paulo)</p> </li> </ul> <note> <p>This\
                                        \ functionality is not supported for directory\
                                        \ buckets.</p> </note>"
                                    id:
                                      type: string
                                      description: <p>Container for the ID of the
                                        owner.</p>
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3AccessControlPolicies/{name}
  : get:
      operationId: S3AccessControlPolicies_Get
      tags:
      - S3AccessControlPolicies
      description: Get a S3AccessControlPolicy
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of S3AccessControlPolicy
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          grants:
                            type: array
                            description: <p>A list of grants.</p>
                            items:
                              type: object
                              description: Definition of Grant
                              properties:
                                grantee:
                                  description: <p>The person being granted permissions.</p>
                                  type: object
                                  properties:
                                    displayName:
                                      type: string
                                      description: <p>Screen name of the grantee.</p>
                                    emailAddress:
                                      type: string
                                      description: "<p>Email address of the grantee.</p>\
                                        \ <note> <p>Using email addresses to specify\
                                        \ a grantee is only supported in the following\
                                        \ Amazon Web Services Regions: </p> <ul> <li>\
                                        \ <p>US East (N. Virginia)</p> </li> <li>\
                                        \ <p>US West (N. California)</p> </li> <li>\
                                        \ <p> US West (Oregon)</p> </li> <li> <p>\
                                        \ Asia Pacific (Singapore)</p> </li> <li>\
                                        \ <p>Asia Pacific (Sydney)</p> </li> <li>\
                                        \ <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe\
                                        \ (Ireland)</p> </li> <li> <p>South America\
                                        \ (S\xE3o Paulo)</p> </li> </ul> <p>For a\
                                        \ list of all the Amazon S3 supported Regions\
                                        \ and endpoints, see <a href='https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region'>Regions\
                                        \ and Endpoints</a> in the Amazon Web Services\
                                        \ General Reference.</p> </note>"
                                    id:
                                      type: string
                                      description: <p>The canonical user ID of the
                                        grantee.</p>
                                    type:
                                      description: <p>Type of grantee</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - AmazonCustomerByEmail
                                          - CanonicalUser
                                          - Group
                                          x-ms-enum:
                                            name: Type
                                            modelAsString: true
                                            values:
                                            - name: AmazonCustomerByEmail
                                              value: AmazonCustomerByEmail
                                              description: Type enum AmazonCustomerByEmail
                                            - name: CanonicalUser
                                              value: CanonicalUser
                                              description: Type enum CanonicalUser
                                            - name: Group
                                              value: Group
                                              description: Type enum Group
                                    uri:
                                      type: string
                                      description: <p>URI of the grantee group.</p>
                                permission:
                                  description: <p>Specifies the permission given to
                                    the grantee.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - FULL_CONTROL
                                      - READ
                                      - READ_ACP
                                      - WRITE
                                      - WRITE_ACP
                                      x-ms-enum:
                                        name: Permission
                                        modelAsString: true
                                        values:
                                        - name: FULL_CONTROL
                                          value: FULL_CONTROL
                                          description: Permission enum FULL_CONTROL
                                        - name: READ
                                          value: READ
                                          description: Permission enum READ
                                        - name: READ_ACP
                                          value: READ_ACP
                                          description: Permission enum READ_ACP
                                        - name: WRITE
                                          value: WRITE
                                          description: Permission enum WRITE
                                        - name: WRITE_ACP
                                          value: WRITE_ACP
                                          description: Permission enum WRITE_ACP
                            x-ms-identifiers: []
                          owner:
                            description: <p>Container for the bucket owner's display
                              name and ID.</p>
                            type: object
                            properties:
                              displayName:
                                type: string
                                description: "<p>Container for the display name of\
                                  \ the owner. This value is only supported in the\
                                  \ following Amazon Web Services Regions:</p> <ul>\
                                  \ <li> <p>US East (N. Virginia)</p> </li> <li> <p>US\
                                  \ West (N. California)</p> </li> <li> <p>US West\
                                  \ (Oregon)</p> </li> <li> <p>Asia Pacific (Singapore)</p>\
                                  \ </li> <li> <p>Asia Pacific (Sydney)</p> </li>\
                                  \ <li> <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe\
                                  \ (Ireland)</p> </li> <li> <p>South America (S\xE3\
                                  o Paulo)</p> </li> </ul> <note> <p>This functionality\
                                  \ is not supported for directory buckets.</p> </note>"
                              id:
                                type: string
                                description: <p>Container for the ID of the owner.</p>
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: S3AccessControlPolicies_CreateOrReplace
      tags:
      - S3AccessControlPolicies
      description: Create a S3AccessControlPolicy. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of S3AccessControlPolicy
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        grants:
                          type: array
                          description: <p>A list of grants.</p>
                          items:
                            type: object
                            description: Definition of Grant
                            properties:
                              grantee:
                                description: <p>The person being granted permissions.</p>
                                type: object
                                properties:
                                  displayName:
                                    type: string
                                    description: <p>Screen name of the grantee.</p>
                                  emailAddress:
                                    type: string
                                    description: "<p>Email address of the grantee.</p>\
                                      \ <note> <p>Using email addresses to specify\
                                      \ a grantee is only supported in the following\
                                      \ Amazon Web Services Regions: </p> <ul> <li>\
                                      \ <p>US East (N. Virginia)</p> </li> <li> <p>US\
                                      \ West (N. California)</p> </li> <li> <p> US\
                                      \ West (Oregon)</p> </li> <li> <p> Asia Pacific\
                                      \ (Singapore)</p> </li> <li> <p>Asia Pacific\
                                      \ (Sydney)</p> </li> <li> <p>Asia Pacific (Tokyo)</p>\
                                      \ </li> <li> <p>Europe (Ireland)</p> </li> <li>\
                                      \ <p>South America (S\xE3o Paulo)</p> </li>\
                                      \ </ul> <p>For a list of all the Amazon S3 supported\
                                      \ Regions and endpoints, see <a href='https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region'>Regions\
                                      \ and Endpoints</a> in the Amazon Web Services\
                                      \ General Reference.</p> </note>"
                                  id:
                                    type: string
                                    description: <p>The canonical user ID of the grantee.</p>
                                  type:
                                    description: <p>Type of grantee</p>
                                    type: object
                                    properties:
                                      value:
                                        description: Property value
                                        type: string
                                        enum:
                                        - AmazonCustomerByEmail
                                        - CanonicalUser
                                        - Group
                                        x-ms-enum:
                                          name: Type
                                          modelAsString: true
                                          values:
                                          - name: AmazonCustomerByEmail
                                            value: AmazonCustomerByEmail
                                            description: Type enum AmazonCustomerByEmail
                                          - name: CanonicalUser
                                            value: CanonicalUser
                                            description: Type enum CanonicalUser
                                          - name: Group
                                            value: Group
                                            description: Type enum Group
                                  uri:
                                    type: string
                                    description: <p>URI of the grantee group.</p>
                              permission:
                                description: <p>Specifies the permission given to
                                  the grantee.</p>
                                type: object
                                properties:
                                  value:
                                    description: Property value
                                    type: string
                                    enum:
                                    - FULL_CONTROL
                                    - READ
                                    - READ_ACP
                                    - WRITE
                                    - WRITE_ACP
                                    x-ms-enum:
                                      name: Permission
                                      modelAsString: true
                                      values:
                                      - name: FULL_CONTROL
                                        value: FULL_CONTROL
                                        description: Permission enum FULL_CONTROL
                                      - name: READ
                                        value: READ
                                        description: Permission enum READ
                                      - name: READ_ACP
                                        value: READ_ACP
                                        description: Permission enum READ_ACP
                                      - name: WRITE
                                        value: WRITE
                                        description: Permission enum WRITE
                                      - name: WRITE_ACP
                                        value: WRITE_ACP
                                        description: Permission enum WRITE_ACP
                          x-ms-identifiers: []
                        owner:
                          description: <p>Container for the bucket owner's display
                            name and ID.</p>
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: "<p>Container for the display name of the\
                                \ owner. This value is only supported in the following\
                                \ Amazon Web Services Regions:</p> <ul> <li> <p>US\
                                \ East (N. Virginia)</p> </li> <li> <p>US West (N.\
                                \ California)</p> </li> <li> <p>US West (Oregon)</p>\
                                \ </li> <li> <p>Asia Pacific (Singapore)</p> </li>\
                                \ <li> <p>Asia Pacific (Sydney)</p> </li> <li> <p>Asia\
                                \ Pacific (Tokyo)</p> </li> <li> <p>Europe (Ireland)</p>\
                                \ </li> <li> <p>South America (S\xE3o Paulo)</p> </li>\
                                \ </ul> <note> <p>This functionality is not supported\
                                \ for directory buckets.</p> </note>"
                            id:
                              type: string
                              description: <p>Container for the ID of the owner.</p>
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'S3AccessControlPolicy' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          grants:
                            type: array
                            description: <p>A list of grants.</p>
                            items:
                              type: object
                              description: Definition of Grant
                              properties:
                                grantee:
                                  description: <p>The person being granted permissions.</p>
                                  type: object
                                  properties:
                                    displayName:
                                      type: string
                                      description: <p>Screen name of the grantee.</p>
                                    emailAddress:
                                      type: string
                                      description: "<p>Email address of the grantee.</p>\
                                        \ <note> <p>Using email addresses to specify\
                                        \ a grantee is only supported in the following\
                                        \ Amazon Web Services Regions: </p> <ul> <li>\
                                        \ <p>US East (N. Virginia)</p> </li> <li>\
                                        \ <p>US West (N. California)</p> </li> <li>\
                                        \ <p> US West (Oregon)</p> </li> <li> <p>\
                                        \ Asia Pacific (Singapore)</p> </li> <li>\
                                        \ <p>Asia Pacific (Sydney)</p> </li> <li>\
                                        \ <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe\
                                        \ (Ireland)</p> </li> <li> <p>South America\
                                        \ (S\xE3o Paulo)</p> </li> </ul> <p>For a\
                                        \ list of all the Amazon S3 supported Regions\
                                        \ and endpoints, see <a href='https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region'>Regions\
                                        \ and Endpoints</a> in the Amazon Web Services\
                                        \ General Reference.</p> </note>"
                                    id:
                                      type: string
                                      description: <p>The canonical user ID of the
                                        grantee.</p>
                                    type:
                                      description: <p>Type of grantee</p>
                                      type: object
                                      properties:
                                        value:
                                          description: Property value
                                          type: string
                                          enum:
                                          - AmazonCustomerByEmail
                                          - CanonicalUser
                                          - Group
                                          x-ms-enum:
                                            name: Type
                                            modelAsString: true
                                            values:
                                            - name: AmazonCustomerByEmail
                                              value: AmazonCustomerByEmail
                                              description: Type enum AmazonCustomerByEmail
                                            - name: CanonicalUser
                                              value: CanonicalUser
                                              description: Type enum CanonicalUser
                                            - name: Group
                                              value: Group
                                              description: Type enum Group
                                    uri:
                                      type: string
                                      description: <p>URI of the grantee group.</p>
                                permission:
                                  description: <p>Specifies the permission given to
                                    the grantee.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - FULL_CONTROL
                                      - READ
                                      - READ_ACP
                                      - WRITE
                                      - WRITE_ACP
                                      x-ms-enum:
                                        name: Permission
                                        modelAsString: true
                                        values:
                                        - name: FULL_CONTROL
                                          value: FULL_CONTROL
                                          description: Permission enum FULL_CONTROL
                                        - name: READ
                                          value: READ
                                          description: Permission enum READ
                                        - name: READ_ACP
                                          value: READ_ACP
                                          description: Permission enum READ_ACP
                                        - name: WRITE
                                          value: WRITE
                                          description: Permission enum WRITE
                                        - name: WRITE_ACP
                                          value: WRITE_ACP
                                          description: Permission enum WRITE_ACP
                            x-ms-identifiers: []
                          owner:
                            description: <p>Container for the bucket owner's display
                              name and ID.</p>
                            type: object
                            properties:
                              displayName:
                                type: string
                                description: "<p>Container for the display name of\
                                  \ the owner. This value is only supported in the\
                                  \ following Amazon Web Services Regions:</p> <ul>\
                                  \ <li> <p>US East (N. Virginia)</p> </li> <li> <p>US\
                                  \ West (N. California)</p> </li> <li> <p>US West\
                                  \ (Oregon)</p> </li> <li> <p>Asia Pacific (Singapore)</p>\
                                  \ </li> <li> <p>Asia Pacific (Sydney)</p> </li>\
                                  \ <li> <p>Asia Pacific (Tokyo)</p> </li> <li> <p>Europe\
                                  \ (Ireland)</p> </li> <li> <p>South America (S\xE3\
                                  o Paulo)</p> </li> </ul> <note> <p>This functionality\
                                  \ is not supported for directory buckets.</p> </note>"
                              id:
                                type: string
                                description: <p>Container for the ID of the owner.</p>
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'S3AccessControlPolicy' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          grants:
                            type: array
                            description: <p>A list of grants.</p>
                            items:
                              type: object
                              description: Definition of Grant
                              properties:
                                grantee:
                                  description: <p>The person being granted permissions.</p>
[...]
