openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SecretsManagerSecrets
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/secretsManagerSecrets:
    get:
      operationId: SecretsManagerSecrets_ListBySubscription
      tags:
      - SecretsManagerSecrets
      description: List SecretsManagerSecret resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SecretsManagerSecret list operation.
                properties:
                  value:
                    type: array
                    description: The SecretsManagerSecret items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                description:
                                  type: string
                                  description: The description of the secret.
                                generateSecretString:
                                  description: A structure that specifies how to generate
                                    a password to encrypt and store in the secret.
                                    To include a specific string in the secret, use
                                    ``SecretString`` instead. If you omit both ``GenerateSecretString``
                                    and ``SecretString``, you create an empty secret.
                                    When you make a change to this property, a new
                                    secret version is created. We recommend that you
                                    specify the maximum length and include every character
                                    type that the system you are generating a password
                                    for can support. Generates a random password.
                                    We recommend that you specify the maximum length
                                    and include every character type that the system
                                    you are generating a password for can support.  *Required
                                    permissions:* ``secretsmanager:GetRandomPassword``.
                                    For more information, see [IAM policy actions
                                    for Secrets Manager](https://docs.aws.amazon.com/service-authorization/latest/reference/list_awssecretsmanager.html#awssecretsmanager-actions-as-permissions)
                                    and [Authentication and access control in Secrets
                                    Manager](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html).
                                  type: object
                                  properties:
                                    excludeCharacters:
                                      type: string
                                      description: A string of the characters that
                                        you don't want in the password.
                                    excludeLowercase:
                                      type: boolean
                                      description: Specifies whether to exclude lowercase
                                        letters from the password. If you don't include
                                        this switch, the password can contain lowercase
                                        letters.
                                    excludeNumbers:
                                      type: boolean
                                      description: Specifies whether to exclude numbers
                                        from the password. If you don't include this
                                        switch, the password can contain numbers.
                                    excludePunctuation:
                                      type: boolean
                                      description: 'Specifies whether to exclude the
                                        following punctuation characters from the
                                        password: ``! '' # $ % & '' ( ) * + , - .
                                        / : ; < = > ? @ [ \ ] ^ _ ` { | } ~``. If
                                        you don''t include this switch, the password
                                        can contain punctuation.'
                                    excludeUppercase:
                                      type: boolean
                                      description: Specifies whether to exclude uppercase
                                        letters from the password. If you don't include
                                        this switch, the password can contain uppercase
                                        letters.
                                    generateStringKey:
                                      type: string
                                      description: The JSON key name for the key/value
                                        pair, where the value is the generated password.
                                        This pair is added to the JSON structure specified
                                        by the ``SecretStringTemplate`` parameter.
                                        If you specify this parameter, then you must
                                        also specify ``SecretStringTemplate``.
                                    includeSpace:
                                      type: boolean
                                      description: Specifies whether to include the
                                        space character. If you include this switch,
                                        the password can contain space characters.
                                    passwordLength:
                                      type: integer
                                      format: int32
                                      description: The length of the password. If
                                        you don't include this parameter, the default
                                        length is 32 characters.
                                    requireEachIncludedType:
                                      type: boolean
                                      description: Specifies whether to include at
                                        least one upper and lowercase letter, one
                                        number, and one punctuation. If you don't
                                        include this switch, the password contains
                                        at least one of every character type.
                                    secretStringTemplate:
                                      type: string
                                      description: A template that the generated string
                                        must match. When you make a change to this
                                        property, a new secret version is created.
                                id:
                                  type: string
                                  description: Property id
                                kmsKeyId:
                                  type: string
                                  description: The ARN, key ID, or alias of the KMS
                                    key that Secrets Manager uses to encrypt the secret
                                    value in the secret. An alias is always prefixed
                                    by ``alias/``, for example ``alias/aws/secretsmanager``.
                                    For more information, see [About aliases](https://docs.aws.amazon.com/kms/latest/developerguide/alias-about.html).
                                    To use a KMS key in a different account, use the
                                    key ARN or the alias ARN. If you don't specify
                                    this value, then Secrets Manager uses the key
                                    ``aws/secretsmanager``. If that key doesn't yet
                                    exist, then Secrets Manager creates it for you
                                    automatically the first time it encrypts the secret
                                    value. If the secret is in a different AWS account
                                    from the credentials calling the API, then you
                                    can't use ``aws/secretsmanager`` to encrypt the
                                    secret, and you must create and use a customer
                                    managed KMS key.
                                name:
                                  type: string
                                  description: 'The name of the new secret. The secret
                                    name can contain ASCII letters, numbers, and the
                                    following characters: /_+=.@- Do not end your
                                    secret name with a hyphen followed by six characters.
                                    If you do so, you risk confusion and unexpected
                                    results when searching for a secret by partial
                                    ARN. Secrets Manager automatically adds a hyphen
                                    and six random characters after the secret name
                                    at the end of the ARN.'
                                replicaRegions:
                                  type: array
                                  description: A custom type that specifies a ``Region``
                                    and the ``KmsKeyId`` for a replica secret.
                                  items:
                                    type: object
                                    description: Definition of ReplicaRegion
                                    properties:
                                      kmsKeyId:
                                        type: string
                                        description: The ARN, key ID, or alias of
                                          the KMS key to encrypt the secret. If you
                                          don't include this field, Secrets Manager
                                          uses ``aws/secretsmanager``.
                                      region:
                                        type: string
                                        description: A string that represents a ``Region``,
                                          for example 'us-east-1'.
                                  x-ms-identifiers: []
                                secretString:
                                  type: string
                                  description: The text to encrypt and store in the
                                    secret. We recommend you use a JSON structure
                                    of key/value pairs for your secret value. To generate
                                    a random password, use ``GenerateSecretString``
                                    instead. If you omit both ``GenerateSecretString``
                                    and ``SecretString``, you create an empty secret.
                                    When you make a change to this property, a new
                                    secret version is created.
                                tags:
                                  type: array
                                  description: 'A list of tags to attach to the secret.
                                    Each tag is a key and value pair of strings in
                                    a JSON text string, for example:  ``[{''Key'':''CostCenter'',''Value'':''12345''},{''Key'':''environment'',''Value'':''production''}]``  Secrets
                                    Manager tag key names are case sensitive. A tag
                                    with the key ''ABC'' is a different tag from one
                                    with key ''abc''. Stack-level tags, tags you apply
                                    to the CloudFormation stack, are also attached
                                    to the secret.  If you check tags in permissions
                                    policies as part of your security strategy, then
                                    adding or removing a tag can change permissions.
                                    If the completion of this operation would result
                                    in you losing your permissions for this secret,
                                    then Secrets Manager blocks the operation and
                                    returns an ``Access Denied`` error. For more information,
                                    see [Control access to secrets using tags](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html#tag-secrets-abac)
                                    and [Limit access to identities with tags that
                                    match secrets'' tags](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html#auth-and-access_tags2).
                                    For information about how to format a JSON parameter
                                    for the various command line tool environments,
                                    see [Using JSON for Parameters](https://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json).
                                    If your command-line tool or SDK requires quotation
                                    marks around the parameter, you should use single
                                    quotes to avoid confusion with the double quotes
                                    required in the JSON text. The following restrictions
                                    apply to tags:  +  Maximum number of tags per
                                    secret: 50  +  Maximum key length: 127 Unicode
                                    characters in UTF-8  +  Maximum value length:
                                    255 Unicode characters in UTF-8  +  Tag keys and
                                    values are case sensitive.  +  Do not use the
                                    ``aws:`` prefix in your tag names or values because
                                    AWS reserves it for AWS use. You can''t edit or
                                    delete tag names or values with this prefix. Tags
                                    with this prefix do not count against your tags
                                    per secret limit.  +  If you use your tagging
                                    schema across multiple services and resources,
                                    other services might have restrictions on allowed
                                    characters. Generally allowed characters: letters,
                                    spaces, and numbers representable in UTF-8, plus
                                    the following special characters: + - = . _ :
                                    / @.'
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The key identifier, or name,
                                          of the tag.
                                      value:
                                        type: string
                                        description: The string value associated with
                                          the key of the tag.
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/secretsManagerSecrets:
    get:
      operationId: SecretsManagerSecrets_ListByResourceGroup
      tags:
      - SecretsManagerSecrets
      description: List SecretsManagerSecret resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SecretsManagerSecret list operation.
                properties:
                  value:
                    type: array
                    description: The SecretsManagerSecret items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                description:
                                  type: string
                                  description: The description of the secret.
                                generateSecretString:
                                  description: A structure that specifies how to generate
                                    a password to encrypt and store in the secret.
                                    To include a specific string in the secret, use
                                    ``SecretString`` instead. If you omit both ``GenerateSecretString``
                                    and ``SecretString``, you create an empty secret.
                                    When you make a change to this property, a new
                                    secret version is created. We recommend that you
                                    specify the maximum length and include every character
                                    type that the system you are generating a password
                                    for can support. Generates a random password.
                                    We recommend that you specify the maximum length
                                    and include every character type that the system
                                    you are generating a password for can support.  *Required
                                    permissions:* ``secretsmanager:GetRandomPassword``.
                                    For more information, see [IAM policy actions
                                    for Secrets Manager](https://docs.aws.amazon.com/service-authorization/latest/reference/list_awssecretsmanager.html#awssecretsmanager-actions-as-permissions)
                                    and [Authentication and access control in Secrets
                                    Manager](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html).
                                  type: object
                                  properties:
                                    excludeCharacters:
                                      type: string
                                      description: A string of the characters that
                                        you don't want in the password.
                                    excludeLowercase:
                                      type: boolean
                                      description: Specifies whether to exclude lowercase
                                        letters from the password. If you don't include
                                        this switch, the password can contain lowercase
                                        letters.
                                    excludeNumbers:
                                      type: boolean
                                      description: Specifies whether to exclude numbers
                                        from the password. If you don't include this
                                        switch, the password can contain numbers.
                                    excludePunctuation:
                                      type: boolean
                                      description: 'Specifies whether to exclude the
                                        following punctuation characters from the
                                        password: ``! '' # $ % & '' ( ) * + , - .
                                        / : ; < = > ? @ [ \ ] ^ _ ` { | } ~``. If
                                        you don''t include this switch, the password
                                        can contain punctuation.'
                                    excludeUppercase:
                                      type: boolean
                                      description: Specifies whether to exclude uppercase
                                        letters from the password. If you don't include
                                        this switch, the password can contain uppercase
                                        letters.
                                    generateStringKey:
                                      type: string
                                      description: The JSON key name for the key/value
                                        pair, where the value is the generated password.
                                        This pair is added to the JSON structure specified
                                        by the ``SecretStringTemplate`` parameter.
                                        If you specify this parameter, then you must
                                        also specify ``SecretStringTemplate``.
                                    includeSpace:
                                      type: boolean
                                      description: Specifies whether to include the
                                        space character. If you include this switch,
                                        the password can contain space characters.
                                    passwordLength:
                                      type: integer
                                      format: int32
                                      description: The length of the password. If
                                        you don't include this parameter, the default
                                        length is 32 characters.
                                    requireEachIncludedType:
                                      type: boolean
                                      description: Specifies whether to include at
                                        least one upper and lowercase letter, one
                                        number, and one punctuation. If you don't
                                        include this switch, the password contains
                                        at least one of every character type.
                                    secretStringTemplate:
                                      type: string
                                      description: A template that the generated string
                                        must match. When you make a change to this
                                        property, a new secret version is created.
                                id:
                                  type: string
                                  description: Property id
                                kmsKeyId:
                                  type: string
                                  description: The ARN, key ID, or alias of the KMS
                                    key that Secrets Manager uses to encrypt the secret
                                    value in the secret. An alias is always prefixed
                                    by ``alias/``, for example ``alias/aws/secretsmanager``.
                                    For more information, see [About aliases](https://docs.aws.amazon.com/kms/latest/developerguide/alias-about.html).
                                    To use a KMS key in a different account, use the
                                    key ARN or the alias ARN. If you don't specify
                                    this value, then Secrets Manager uses the key
                                    ``aws/secretsmanager``. If that key doesn't yet
                                    exist, then Secrets Manager creates it for you
                                    automatically the first time it encrypts the secret
                                    value. If the secret is in a different AWS account
                                    from the credentials calling the API, then you
                                    can't use ``aws/secretsmanager`` to encrypt the
                                    secret, and you must create and use a customer
                                    managed KMS key.
                                name:
                                  type: string
                                  description: 'The name of the new secret. The secret
                                    name can contain ASCII letters, numbers, and the
                                    following characters: /_+=.@- Do not end your
                                    secret name with a hyphen followed by six characters.
                                    If you do so, you risk confusion and unexpected
                                    results when searching for a secret by partial
                                    ARN. Secrets Manager automatically adds a hyphen
                                    and six random characters after the secret name
                                    at the end of the ARN.'
                                replicaRegions:
                                  type: array
                                  description: A custom type that specifies a ``Region``
                                    and the ``KmsKeyId`` for a replica secret.
                                  items:
                                    type: object
                                    description: Definition of ReplicaRegion
                                    properties:
                                      kmsKeyId:
                                        type: string
                                        description: The ARN, key ID, or alias of
                                          the KMS key to encrypt the secret. If you
                                          don't include this field, Secrets Manager
                                          uses ``aws/secretsmanager``.
                                      region:
                                        type: string
                                        description: A string that represents a ``Region``,
                                          for example 'us-east-1'.
                                  x-ms-identifiers: []
                                secretString:
                                  type: string
                                  description: The text to encrypt and store in the
                                    secret. We recommend you use a JSON structure
                                    of key/value pairs for your secret value. To generate
                                    a random password, use ``GenerateSecretString``
                                    instead. If you omit both ``GenerateSecretString``
                                    and ``SecretString``, you create an empty secret.
                                    When you make a change to this property, a new
                                    secret version is created.
                                tags:
                                  type: array
                                  description: 'A list of tags to attach to the secret.
                                    Each tag is a key and value pair of strings in
                                    a JSON text string, for example:  ``[{''Key'':''CostCenter'',''Value'':''12345''},{''Key'':''environment'',''Value'':''production''}]``  Secrets
                                    Manager tag key names are case sensitive. A tag
                                    with the key ''ABC'' is a different tag from one
                                    with key ''abc''. Stack-level tags, tags you apply
                                    to the CloudFormation stack, are also attached
                                    to the secret.  If you check tags in permissions
                                    policies as part of your security strategy, then
                                    adding or removing a tag can change permissions.
                                    If the completion of this operation would result
                                    in you losing your permissions for this secret,
                                    then Secrets Manager blocks the operation and
                                    returns an ``Access Denied`` error. For more information,
                                    see [Control access to secrets using tags](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html#tag-secrets-abac)
                                    and [Limit access to identities with tags that
                                    match secrets'' tags](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html#auth-and-access_tags2).
                                    For information about how to format a JSON parameter
                                    for the various command line tool environments,
                                    see [Using JSON for Parameters](https://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json).
                                    If your command-line tool or SDK requires quotation
                                    marks around the parameter, you should use single
                                    quotes to avoid confusion with the double quotes
                                    required in the JSON text. The following restrictions
                                    apply to tags:  +  Maximum number of tags per
                                    secret: 50  +  Maximum key length: 127 Unicode
                                    characters in UTF-8  +  Maximum value length:
                                    255 Unicode characters in UTF-8  +  Tag keys and
                                    values are case sensitive.  +  Do not use the
                                    ``aws:`` prefix in your tag names or values because
                                    AWS reserves it for AWS use. You can''t edit or
                                    delete tag names or values with this prefix. Tags
                                    with this prefix do not count against your tags
                                    per secret limit.  +  If you use your tagging
                                    schema across multiple services and resources,
                                    other services might have restrictions on allowed
                                    characters. Generally allowed characters: letters,
                                    spaces, and numbers representable in UTF-8, plus
                                    the following special characters: + - = . _ :
                                    / @.'
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The key identifier, or name,
                                          of the tag.
                                      value:
                                        type: string
                                        description: The string value associated with
                                          the key of the tag.
                                  x-ms-identifiers: []
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/secretsManagerSecrets/{name}
  : get:
      operationId: SecretsManagerSecrets_Get
      tags:
      - SecretsManagerSecrets
      description: Get a SecretsManagerSecret
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SecretsManagerSecret
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          description:
                            type: string
                            description: The description of the secret.
                          generateSecretString:
                            description: A structure that specifies how to generate
                              a password to encrypt and store in the secret. To include
                              a specific string in the secret, use ``SecretString``
                              instead. If you omit both ``GenerateSecretString`` and
                              ``SecretString``, you create an empty secret. When you
                              make a change to this property, a new secret version
                              is created. We recommend that you specify the maximum
                              length and include every character type that the system
                              you are generating a password for can support. Generates
                              a random password. We recommend that you specify the
                              maximum length and include every character type that
                              the system you are generating a password for can support.  *Required
                              permissions:* ``secretsmanager:GetRandomPassword``.
                              For more information, see [IAM policy actions for Secrets
                              Manager](https://docs.aws.amazon.com/service-authorization/latest/reference/list_awssecretsmanager.html#awssecretsmanager-actions-as-permissions)
                              and [Authentication and access control in Secrets Manager](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html).
                            type: object
                            properties:
                              excludeCharacters:
                                type: string
                                description: A string of the characters that you don't
                                  want in the password.
                              excludeLowercase:
                                type: boolean
                                description: Specifies whether to exclude lowercase
                                  letters from the password. If you don't include
                                  this switch, the password can contain lowercase
                                  letters.
                              excludeNumbers:
                                type: boolean
                                description: Specifies whether to exclude numbers
                                  from the password. If you don't include this switch,
                                  the password can contain numbers.
                              excludePunctuation:
                                type: boolean
                                description: 'Specifies whether to exclude the following
                                  punctuation characters from the password: ``! ''
                                  # $ % & '' ( ) * + , - . / : ; < = > ? @ [ \ ] ^
                                  _ ` { | } ~``. If you don''t include this switch,
                                  the password can contain punctuation.'
                              excludeUppercase:
                                type: boolean
                                description: Specifies whether to exclude uppercase
                                  letters from the password. If you don't include
                                  this switch, the password can contain uppercase
                                  letters.
                              generateStringKey:
                                type: string
                                description: The JSON key name for the key/value pair,
                                  where the value is the generated password. This
                                  pair is added to the JSON structure specified by
                                  the ``SecretStringTemplate`` parameter. If you specify
                                  this parameter, then you must also specify ``SecretStringTemplate``.
                              includeSpace:
                                type: boolean
                                description: Specifies whether to include the space
                                  character. If you include this switch, the password
                                  can contain space characters.
                              passwordLength:
                                type: integer
                                format: int32
                                description: The length of the password. If you don't
                                  include this parameter, the default length is 32
                                  characters.
                              requireEachIncludedType:
                                type: boolean
                                description: Specifies whether to include at least
                                  one upper and lowercase letter, one number, and
                                  one punctuation. If you don't include this switch,
                                  the password contains at least one of every character
                                  type.
                              secretStringTemplate:
                                type: string
                                description: A template that the generated string
                                  must match. When you make a change to this property,
                                  a new secret version is created.
                          id:
                            type: string
                            description: Property id
                          kmsKeyId:
                            type: string
                            description: The ARN, key ID, or alias of the KMS key
                              that Secrets Manager uses to encrypt the secret value
                              in the secret. An alias is always prefixed by ``alias/``,
                              for example ``alias/aws/secretsmanager``. For more information,
                              see [About aliases](https://docs.aws.amazon.com/kms/latest/developerguide/alias-about.html).
                              To use a KMS key in a different account, use the key
                              ARN or the alias ARN. If you don't specify this value,
                              then Secrets Manager uses the key ``aws/secretsmanager``.
                              If that key doesn't yet exist, then Secrets Manager
                              creates it for you automatically the first time it encrypts
                              the secret value. If the secret is in a different AWS
                              account from the credentials calling the API, then you
                              can't use ``aws/secretsmanager`` to encrypt the secret,
                              and you must create and use a customer managed KMS key.
                          name:
                            type: string
                            description: 'The name of the new secret. The secret name
                              can contain ASCII letters, numbers, and the following
                              characters: /_+=.@- Do not end your secret name with
                              a hyphen followed by six characters. If you do so, you
                              risk confusion and unexpected results when searching
                              for a secret by partial ARN. Secrets Manager automatically
                              adds a hyphen and six random characters after the secret
                              name at the end of the ARN.'
                          replicaRegions:
                            type: array
                            description: A custom type that specifies a ``Region``
                              and the ``KmsKeyId`` for a replica secret.
                            items:
                              type: object
                              description: Definition of ReplicaRegion
                              properties:
                                kmsKeyId:
                                  type: string
                                  description: The ARN, key ID, or alias of the KMS
                                    key to encrypt the secret. If you don't include
                                    this field, Secrets Manager uses ``aws/secretsmanager``.
                                region:
                                  type: string
                                  description: A string that represents a ``Region``,
                                    for example 'us-east-1'.
                            x-ms-identifiers: []
                          secretString:
                            type: string
                            description: The text to encrypt and store in the secret.
                              We recommend you use a JSON structure of key/value pairs
                              for your secret value. To generate a random password,
                              use ``GenerateSecretString`` instead. If you omit both
                              ``GenerateSecretString`` and ``SecretString``, you create
                              an empty secret. When you make a change to this property,
                              a new secret version is created.
                          tags:
                            type: array
                            description: 'A list of tags to attach to the secret.
                              Each tag is a key and value pair of strings in a JSON
                              text string, for example:  ``[{''Key'':''CostCenter'',''Value'':''12345''},{''Key'':''environment'',''Value'':''production''}]``  Secrets
                              Manager tag key names are case sensitive. A tag with
                              the key ''ABC'' is a different tag from one with key
                              ''abc''. Stack-level tags, tags you apply to the CloudFormation
                              stack, are also attached to the secret.  If you check
                              tags in permissions policies as part of your security
                              strategy, then adding or removing a tag can change permissions.
                              If the completion of this operation would result in
                              you losing your permissions for this secret, then Secrets
                              Manager blocks the operation and returns an ``Access
                              Denied`` error. For more information, see [Control access
                              to secrets using tags](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html#tag-secrets-abac)
                              and [Limit access to identities with tags that match
                              secrets'' tags](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access_examples.html#auth-and-access_tags2).
                              For information about how to format a JSON parameter
                              for the various command line tool environments, see
                              [Using JSON for Parameters](https://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json).
                              If your command-line tool or SDK requires quotation
                              marks around the parameter, you should use single quotes
                              to avoid confusion with the double quotes required in
                              the JSON text. The following restrictions apply to tags:  +  Maximum
                              number of tags per secret: 50  +  Maximum key length:
                              127 Unicode characters in UTF-8  +  Maximum value length:
                              255 Unicode characters in UTF-8  +  Tag keys and values
                              are case sensitive.  +  Do not use the ``aws:`` prefix
                              in your tag names or values because AWS reserves it
                              for AWS use. You can''t edit or delete tag names or
                              values with this prefix. Tags with this prefix do not
                              count against your tags per secret limit.  +  If you
                              use your tagging schema across multiple services and
                              resources, other services might have restrictions on
                              allowed characters. Generally allowed characters: letters,
                              spaces, and numbers representable in UTF-8, plus the
                              following special characters: + - = . _ : / @.'
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The key identifier, or name, of the
                                    tag.
                                value:
                                  type: string
                                  description: The string value associated with the
                                    key of the tag.
                            x-ms-identifiers: []
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: SecretsManagerSecrets_CreateOrReplace
      tags:
      - SecretsManagerSecrets
      description: Create a SecretsManagerSecret. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SecretsManagerSecret
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        description:
                          type: string
                          description: The description of the secret.
                        generateSecretString:
                          description: A structure that specifies how to generate
                            a password to encrypt and store in the secret. To include
                            a specific string in the secret, use ``SecretString``
                            instead. If you omit both ``GenerateSecretString`` and
                            ``SecretString``, you create an empty secret. When you
                            make a change to this property, a new secret version is
                            created. We recommend that you specify the maximum length
                            and include every character type that the system you are
                            generating a password for can support. Generates a random
                            password. We recommend that you specify the maximum length
                            and include every character type that the system you are
                            generating a password for can support.  *Required permissions:*
                            ``secretsmanager:GetRandomPassword``. For more information,
                            see [IAM policy actions for Secrets Manager](https://docs.aws.amazon.com/service-authorization/latest/reference/list_awssecretsmanager.html#awssecretsmanager-actions-as-permissions)
                            and [Authentication and access control in Secrets Manager](https://docs.aws.amazon.com/secretsmanager/latest/userguide/auth-and-access.html).
                          type: object
                          properties:
                            excludeCharacters:
                              type: string
                              description: A string of the characters that you don't
                                want in the password.
                            excludeLowercase:
                              type: boolean
                              description: Specifies whether to exclude lowercase
                                letters from the password. If you don't include this
                                switch, the password can contain lowercase letters.
                            excludeNumbers:
                              type: boolean
                              description: Specifies whether to exclude numbers from
                                the password. If you don't include this switch, the
                                password can contain numbers.
                            excludePunctuation:
                              type: boolean
                              description: 'Specifies whether to exclude the following
                                punctuation characters from the password: ``! '' #
                                $ % & '' ( ) * + , - . / : ; < = > ? @ [ \ ] ^ _ `
                                { | } ~``. If you don''t include this switch, the
                                password can contain punctuation.'
                            excludeUppercase:
                              type: boolean
                              description: Specifies whether to exclude uppercase
                                letters from the password. If you don't include this
                                switch, the password can contain uppercase letters.
                            generateStringKey:
                              type: string
                              description: The JSON key name for the key/value pair,
                                where the value is the generated password. This pair
                                is added to the JSON structure specified by the ``SecretStringTemplate``
                                parameter. If you specify this parameter, then you
                                must also specify ``SecretStringTemplate``.
                            includeSpace:
                              type: boolean
                              description: Specifies whether to include the space
                                character. If you include this switch, the password
                                can contain space characters.
                            passwordLength:
                              type: integer
                              format: int32
                              description: The length of the password. If you don't
                                include this parameter, the default length is 32 characters.
                            requireEachIncludedType:
                              type: boolean
                              description: Specifies whether to include at least one
                                upper and lowercase letter, one number, and one punctuation.
                                If you don't include this switch, the password contains
                                at least one of every character type.
                            secretStringTemplate:
                              type: string
                              description: A template that the generated string must
                                match. When you make a change to this property, a
                                new secret version is created.
                        id:
                          type: string
                          description: Property id
                        kmsKeyId:
                          type: string
                          description: The ARN, key ID, or alias of the KMS key that
                            Secrets Manager uses to encrypt the secret value in the
                            secret. An alias is always prefixed by ``alias/``, for
                            example ``alias/aws/secretsmanager``. For more information,
                            see [About aliases](https://docs.aws.amazon.com/kms/latest/developerguide/alias-about.html).
                            To use a KMS key in a different account, use the key ARN
                            or the alias ARN. If you don't specify this value, then
                            Secrets Manager uses the key ``aws/secretsmanager``. If
                            that key doesn't yet exist, then Secrets Manager creates
                            it for you automatically the first time it encrypts the
                            secret value. If the secret is in a different AWS account
                            from the credentials calling the API, then you can't use
                            ``aws/secretsmanager`` to encrypt the secret, and you
                            must create and use a customer managed KMS key.
                        name:
                          type: string
                          description: 'The name of the new secret. The secret name
                            can contain ASCII letters, numbers, and the following
                            characters: /_+=.@- Do not end your secret name with a
                            hyphen followed by six characters. If you do so, you risk
                            confusion and unexpected results when searching for a
                            secret by partial ARN. Secrets Manager automatically adds
                            a hyphen and six random characters after the secret name
                            at the end of the ARN.'
                        replicaRegions:
                          type: array
                          description: A custom type that specifies a ``Region`` and
                            the ``KmsKeyId`` for a replica secret.
                          items:
                            type: object
                            description: Definition of ReplicaRegion
                            properties:
                              kmsKeyId:
                                type: string
                                description: The ARN, key ID, or alias of the KMS
                                  key to encrypt the secret. If you don't include
                                  this field, Secrets Manager uses ``aws/secretsmanager``.
                              region:
                                type: string
                                description: A string that represents a ``Region``,
                                  for example 'us-east-1'.
                          x-ms-identifiers: []
                        secretString:
                          type: string
                          description: The text to encrypt and store in the secret.
                            We recommend you use a JSON structure of key/value pairs
                            for your secret value. To generate a random password,
                            use ``GenerateSecretString`` instead. If you omit both
                            ``GenerateSecretString`` and ``SecretString``, you create
                            an empty secret. When you make a change to this property,
                            a new secret version is created.
                        tags:
                          type: array
                          description: 'A list of tags to attach to the secret. Each
                            tag is a key and value pair of strings in a JSON text
[...]
