openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SnsTopics
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/snsTopics:
    get:
      operationId: SnsTopics_ListBySubscription
      tags:
      - SnsTopics
      description: List SnsTopic resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SnsTopic list operation.
                properties:
                  value:
                    type: array
                    description: The SnsTopic items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                archivePolicy:
                                  description: The archive policy determines the number
                                    of days SNS retains messages. You can set a retention
                                    period from 1 to 365 days.
                                contentBasedDeduplication:
                                  type: boolean
                                  description: Enables content-based deduplication
                                    for FIFO topics.  +  By default, ``ContentBasedDeduplication``
                                    is set to ``false``. If you create a FIFO topic
                                    and this attribute is ``false``, you must specify
                                    a value for the ``MessageDeduplicationId`` parameter
                                    for the [Publish](https://docs.aws.amazon.com/sns/latest/api/API_Publish.html)
                                    action.   +  When you set ``ContentBasedDeduplication``
                                    to ``true``, SNS uses a SHA-256 hash to generate
                                    the ``MessageDeduplicationId`` using the body
                                    of the message (but not the attributes of the
                                    message). (Optional) To override the generated
                                    value, you can specify a value for the the ``MessageDeduplicationId``
                                    parameter for the ``Publish`` action.
                                dataProtectionPolicy:
                                  description: 'The body of the policy document you
                                    want to use for this topic. You can only add one
                                    policy per topic. The policy must be in JSON string
                                    format. Length Constraints: Maximum length of
                                    30,720.'
                                deliveryStatusLogging:
                                  type: array
                                  description: Property deliveryStatusLogging
                                  items:
                                    type: object
                                    description: Definition of LoggingConfig
                                    properties:
                                      failureFeedbackRoleArn:
                                        type: string
                                        description: Property failureFeedbackRoleArn
                                      protocol:
                                        description: Property protocol
                                        type: string
                                        enum:
                                        - application
                                        - firehose
                                        - http/s
                                        - lambda
                                        - sqs
                                        x-ms-enum:
                                          name: LoggingConfigProtocol
                                          modelAsString: true
                                          values:
                                          - name: application
                                            value: application
                                            description: LoggingConfigProtocol enum
                                              application
                                          - name: firehose
                                            value: firehose
                                            description: LoggingConfigProtocol enum
                                              firehose
                                          - name: HttpS
                                            value: http/s
                                            description: LoggingConfigProtocol enum
                                              http/s
                                          - name: lambda
                                            value: lambda
                                            description: LoggingConfigProtocol enum
                                              lambda
                                          - name: sqs
                                            value: sqs
                                            description: LoggingConfigProtocol enum
                                              sqs
                                      successFeedbackRoleArn:
                                        type: string
                                        description: Property successFeedbackRoleArn
                                      successFeedbackSampleRate:
                                        type: string
                                        description: Property successFeedbackSampleRate
                                  x-ms-identifiers: []
                                displayName:
                                  type: string
                                  description: The display name to use for an SNS
                                    topic with SMS subscriptions. The display name
                                    must be maximum 100 characters long, including
                                    hyphens (-), underscores (_), spaces, and tabs.
                                fifoTopic:
                                  type: boolean
                                  description: Set to true to create a FIFO topic.
                                kmsMasterKeyId:
                                  type: string
                                  description: The ID of an AWS managed customer master
                                    key (CMK) for SNS or a custom CMK. For more information,
                                    see [Key terms](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms).
                                    For more examples, see ``KeyId`` in the *API Reference*.
                                    This property applies only to [server-side-encryption](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html).
                                signatureVersion:
                                  type: string
                                  description: The signature version corresponds to
                                    the hashing algorithm used while creating the
                                    signature of the notifications, subscription confirmations,
                                    or unsubscribe confirmation messages sent by Amazon
                                    SNS. By default, ``SignatureVersion`` is set to
                                    ``1``.
                                subscription:
                                  type: array
                                  description: The SNS subscriptions (endpoints) for
                                    this topic.  If you specify the ``Subscription``
                                    property in the ``AWS::SNS::Topic`` resource and
                                    it creates an associated subscription resource,
                                    the associated subscription is not deleted when
                                    the ``AWS::SNS::Topic`` resource is deleted.
                                  items:
                                    type: object
                                    description: Definition of Subscription
                                    properties:
                                      endpoint:
                                        type: string
                                        description: The endpoint that receives notifications
                                          from the SNS topic. The endpoint value depends
                                          on the protocol that you specify. For more
                                          information, see the ``Endpoint`` parameter
                                          of the ``Subscribe`` action in the *API
                                          Reference*.
                                      protocol:
                                        type: string
                                        description: The subscription's protocol.
                                          For more information, see the ``Protocol``
                                          parameter of the ``Subscribe`` action in
                                          the *API Reference*.
                                  x-ms-identifiers: []
                                tags:
                                  type: array
                                  description: The list of tags to add to a new topic.  To
                                    be able to tag a topic on creation, you must have
                                    the ``sns:CreateTopic`` and ``sns:TagResource``
                                    permissions.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The required key portion of the
                                          tag.
                                      value:
                                        type: string
                                        description: The optional value portion of
                                          the tag.
                                  x-ms-identifiers: []
                                topicArn:
                                  type: string
                                  description: Property topicArn
                                topicName:
                                  type: string
                                  description: The name of the topic you want to create.
                                    Topic names must include only uppercase and lowercase
                                    ASCII letters, numbers, underscores, and hyphens,
                                    and must be between 1 and 256 characters long.
                                    FIFO topic names must end with ``.fifo``. If you
                                    don't specify a name, CFN generates a unique physical
                                    ID and uses that ID for the topic name. For more
                                    information, see [Name type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).  If
                                    you specify a name, you can't perform updates
                                    that require replacement of this resource. You
                                    can perform updates that require no or some interruption.
                                    If you must replace the resource, specify a new
                                    name.
                                tracingConfig:
                                  type: string
                                  description: Tracing mode of an SNS topic. By default
                                    ``TracingConfig`` is set to ``PassThrough``, and
                                    the topic passes through the tracing header it
                                    receives from an SNS publisher to its subscriptions.
                                    If set to ``Active``, SNS will vend X-Ray segment
                                    data to topic owner account if the sampled flag
                                    in the tracing header is true.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/snsTopics:
    get:
      operationId: SnsTopics_ListByResourceGroup
      tags:
      - SnsTopics
      description: List SnsTopic resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SnsTopic list operation.
                properties:
                  value:
                    type: array
                    description: The SnsTopic items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                archivePolicy:
                                  description: The archive policy determines the number
                                    of days SNS retains messages. You can set a retention
                                    period from 1 to 365 days.
                                contentBasedDeduplication:
                                  type: boolean
                                  description: Enables content-based deduplication
                                    for FIFO topics.  +  By default, ``ContentBasedDeduplication``
                                    is set to ``false``. If you create a FIFO topic
                                    and this attribute is ``false``, you must specify
                                    a value for the ``MessageDeduplicationId`` parameter
                                    for the [Publish](https://docs.aws.amazon.com/sns/latest/api/API_Publish.html)
                                    action.   +  When you set ``ContentBasedDeduplication``
                                    to ``true``, SNS uses a SHA-256 hash to generate
                                    the ``MessageDeduplicationId`` using the body
                                    of the message (but not the attributes of the
                                    message). (Optional) To override the generated
                                    value, you can specify a value for the the ``MessageDeduplicationId``
                                    parameter for the ``Publish`` action.
                                dataProtectionPolicy:
                                  description: 'The body of the policy document you
                                    want to use for this topic. You can only add one
                                    policy per topic. The policy must be in JSON string
                                    format. Length Constraints: Maximum length of
                                    30,720.'
                                deliveryStatusLogging:
                                  type: array
                                  description: Property deliveryStatusLogging
                                  items:
                                    type: object
                                    description: Definition of LoggingConfig
                                    properties:
                                      failureFeedbackRoleArn:
                                        type: string
                                        description: Property failureFeedbackRoleArn
                                      protocol:
                                        description: Property protocol
                                        type: string
                                        enum:
                                        - application
                                        - firehose
                                        - http/s
                                        - lambda
                                        - sqs
                                        x-ms-enum:
                                          name: LoggingConfigProtocol
                                          modelAsString: true
                                          values:
                                          - name: application
                                            value: application
                                            description: LoggingConfigProtocol enum
                                              application
                                          - name: firehose
                                            value: firehose
                                            description: LoggingConfigProtocol enum
                                              firehose
                                          - name: HttpS
                                            value: http/s
                                            description: LoggingConfigProtocol enum
                                              http/s
                                          - name: lambda
                                            value: lambda
                                            description: LoggingConfigProtocol enum
                                              lambda
                                          - name: sqs
                                            value: sqs
                                            description: LoggingConfigProtocol enum
                                              sqs
                                      successFeedbackRoleArn:
                                        type: string
                                        description: Property successFeedbackRoleArn
                                      successFeedbackSampleRate:
                                        type: string
                                        description: Property successFeedbackSampleRate
                                  x-ms-identifiers: []
                                displayName:
                                  type: string
                                  description: The display name to use for an SNS
                                    topic with SMS subscriptions. The display name
                                    must be maximum 100 characters long, including
                                    hyphens (-), underscores (_), spaces, and tabs.
                                fifoTopic:
                                  type: boolean
                                  description: Set to true to create a FIFO topic.
                                kmsMasterKeyId:
                                  type: string
                                  description: The ID of an AWS managed customer master
                                    key (CMK) for SNS or a custom CMK. For more information,
                                    see [Key terms](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms).
                                    For more examples, see ``KeyId`` in the *API Reference*.
                                    This property applies only to [server-side-encryption](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html).
                                signatureVersion:
                                  type: string
                                  description: The signature version corresponds to
                                    the hashing algorithm used while creating the
                                    signature of the notifications, subscription confirmations,
                                    or unsubscribe confirmation messages sent by Amazon
                                    SNS. By default, ``SignatureVersion`` is set to
                                    ``1``.
                                subscription:
                                  type: array
                                  description: The SNS subscriptions (endpoints) for
                                    this topic.  If you specify the ``Subscription``
                                    property in the ``AWS::SNS::Topic`` resource and
                                    it creates an associated subscription resource,
                                    the associated subscription is not deleted when
                                    the ``AWS::SNS::Topic`` resource is deleted.
                                  items:
                                    type: object
                                    description: Definition of Subscription
                                    properties:
                                      endpoint:
                                        type: string
                                        description: The endpoint that receives notifications
                                          from the SNS topic. The endpoint value depends
                                          on the protocol that you specify. For more
                                          information, see the ``Endpoint`` parameter
                                          of the ``Subscribe`` action in the *API
                                          Reference*.
                                      protocol:
                                        type: string
                                        description: The subscription's protocol.
                                          For more information, see the ``Protocol``
                                          parameter of the ``Subscribe`` action in
                                          the *API Reference*.
                                  x-ms-identifiers: []
                                tags:
                                  type: array
                                  description: The list of tags to add to a new topic.  To
                                    be able to tag a topic on creation, you must have
                                    the ``sns:CreateTopic`` and ``sns:TagResource``
                                    permissions.
                                  items:
                                    type: object
                                    description: Definition of Tag
                                    properties:
                                      key:
                                        type: string
                                        description: The required key portion of the
                                          tag.
                                      value:
                                        type: string
                                        description: The optional value portion of
                                          the tag.
                                  x-ms-identifiers: []
                                topicArn:
                                  type: string
                                  description: Property topicArn
                                topicName:
                                  type: string
                                  description: The name of the topic you want to create.
                                    Topic names must include only uppercase and lowercase
                                    ASCII letters, numbers, underscores, and hyphens,
                                    and must be between 1 and 256 characters long.
                                    FIFO topic names must end with ``.fifo``. If you
                                    don't specify a name, CFN generates a unique physical
                                    ID and uses that ID for the topic name. For more
                                    information, see [Name type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).  If
                                    you specify a name, you can't perform updates
                                    that require replacement of this resource. You
                                    can perform updates that require no or some interruption.
                                    If you must replace the resource, specify a new
                                    name.
                                tracingConfig:
                                  type: string
                                  description: Tracing mode of an SNS topic. By default
                                    ``TracingConfig`` is set to ``PassThrough``, and
                                    the topic passes through the tracing header it
                                    receives from an SNS publisher to its subscriptions.
                                    If set to ``Active``, SNS will vend X-Ray segment
                                    data to topic owner account if the sampled flag
                                    in the tracing header is true.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/snsTopics/{name}:
    get:
      operationId: SnsTopics_Get
      tags:
      - SnsTopics
      description: Get a SnsTopic
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SnsTopic
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          archivePolicy:
                            description: The archive policy determines the number
                              of days SNS retains messages. You can set a retention
                              period from 1 to 365 days.
                          contentBasedDeduplication:
                            type: boolean
                            description: Enables content-based deduplication for FIFO
                              topics.  +  By default, ``ContentBasedDeduplication``
                              is set to ``false``. If you create a FIFO topic and
                              this attribute is ``false``, you must specify a value
                              for the ``MessageDeduplicationId`` parameter for the
                              [Publish](https://docs.aws.amazon.com/sns/latest/api/API_Publish.html)
                              action.   +  When you set ``ContentBasedDeduplication``
                              to ``true``, SNS uses a SHA-256 hash to generate the
                              ``MessageDeduplicationId`` using the body of the message
                              (but not the attributes of the message). (Optional)
                              To override the generated value, you can specify a value
                              for the the ``MessageDeduplicationId`` parameter for
                              the ``Publish`` action.
                          dataProtectionPolicy:
                            description: 'The body of the policy document you want
                              to use for this topic. You can only add one policy per
                              topic. The policy must be in JSON string format. Length
                              Constraints: Maximum length of 30,720.'
                          deliveryStatusLogging:
                            type: array
                            description: Property deliveryStatusLogging
                            items:
                              type: object
                              description: Definition of LoggingConfig
                              properties:
                                failureFeedbackRoleArn:
                                  type: string
                                  description: Property failureFeedbackRoleArn
                                protocol:
                                  description: Property protocol
                                  type: string
                                  enum:
                                  - application
                                  - firehose
                                  - http/s
                                  - lambda
                                  - sqs
                                  x-ms-enum:
                                    name: LoggingConfigProtocol
                                    modelAsString: true
                                    values:
                                    - name: application
                                      value: application
                                      description: LoggingConfigProtocol enum application
                                    - name: firehose
                                      value: firehose
                                      description: LoggingConfigProtocol enum firehose
                                    - name: HttpS
                                      value: http/s
                                      description: LoggingConfigProtocol enum http/s
                                    - name: lambda
                                      value: lambda
                                      description: LoggingConfigProtocol enum lambda
                                    - name: sqs
                                      value: sqs
                                      description: LoggingConfigProtocol enum sqs
                                successFeedbackRoleArn:
                                  type: string
                                  description: Property successFeedbackRoleArn
                                successFeedbackSampleRate:
                                  type: string
                                  description: Property successFeedbackSampleRate
                            x-ms-identifiers: []
                          displayName:
                            type: string
                            description: The display name to use for an SNS topic
                              with SMS subscriptions. The display name must be maximum
                              100 characters long, including hyphens (-), underscores
                              (_), spaces, and tabs.
                          fifoTopic:
                            type: boolean
                            description: Set to true to create a FIFO topic.
                          kmsMasterKeyId:
                            type: string
                            description: The ID of an AWS managed customer master
                              key (CMK) for SNS or a custom CMK. For more information,
                              see [Key terms](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms).
                              For more examples, see ``KeyId`` in the *API Reference*.
                              This property applies only to [server-side-encryption](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html).
                          signatureVersion:
                            type: string
                            description: The signature version corresponds to the
                              hashing algorithm used while creating the signature
                              of the notifications, subscription confirmations, or
                              unsubscribe confirmation messages sent by Amazon SNS.
                              By default, ``SignatureVersion`` is set to ``1``.
                          subscription:
                            type: array
                            description: The SNS subscriptions (endpoints) for this
                              topic.  If you specify the ``Subscription`` property
                              in the ``AWS::SNS::Topic`` resource and it creates an
                              associated subscription resource, the associated subscription
                              is not deleted when the ``AWS::SNS::Topic`` resource
                              is deleted.
                            items:
                              type: object
                              description: Definition of Subscription
                              properties:
                                endpoint:
                                  type: string
                                  description: The endpoint that receives notifications
                                    from the SNS topic. The endpoint value depends
                                    on the protocol that you specify. For more information,
                                    see the ``Endpoint`` parameter of the ``Subscribe``
                                    action in the *API Reference*.
                                protocol:
                                  type: string
                                  description: The subscription's protocol. For more
                                    information, see the ``Protocol`` parameter of
                                    the ``Subscribe`` action in the *API Reference*.
                            x-ms-identifiers: []
                          tags:
                            type: array
                            description: The list of tags to add to a new topic.  To
                              be able to tag a topic on creation, you must have the
                              ``sns:CreateTopic`` and ``sns:TagResource`` permissions.
                            items:
                              type: object
                              description: Definition of Tag
                              properties:
                                key:
                                  type: string
                                  description: The required key portion of the tag.
                                value:
                                  type: string
                                  description: The optional value portion of the tag.
                            x-ms-identifiers: []
                          topicArn:
                            type: string
                            description: Property topicArn
                          topicName:
                            type: string
                            description: The name of the topic you want to create.
                              Topic names must include only uppercase and lowercase
                              ASCII letters, numbers, underscores, and hyphens, and
                              must be between 1 and 256 characters long. FIFO topic
                              names must end with ``.fifo``. If you don't specify
                              a name, CFN generates a unique physical ID and uses
                              that ID for the topic name. For more information, see
                              [Name type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).  If
                              you specify a name, you can't perform updates that require
                              replacement of this resource. You can perform updates
                              that require no or some interruption. If you must replace
                              the resource, specify a new name.
                          tracingConfig:
                            type: string
                            description: Tracing mode of an SNS topic. By default
                              ``TracingConfig`` is set to ``PassThrough``, and the
                              topic passes through the tracing header it receives
                              from an SNS publisher to its subscriptions. If set to
                              ``Active``, SNS will vend X-Ray segment data to topic
                              owner account if the sampled flag in the tracing header
                              is true.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: SnsTopics_CreateOrReplace
      tags:
      - SnsTopics
      description: Create a SnsTopic. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SnsTopic
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        archivePolicy:
                          description: The archive policy determines the number of
                            days SNS retains messages. You can set a retention period
                            from 1 to 365 days.
                        contentBasedDeduplication:
                          type: boolean
                          description: Enables content-based deduplication for FIFO
                            topics.  +  By default, ``ContentBasedDeduplication``
                            is set to ``false``. If you create a FIFO topic and this
                            attribute is ``false``, you must specify a value for the
                            ``MessageDeduplicationId`` parameter for the [Publish](https://docs.aws.amazon.com/sns/latest/api/API_Publish.html)
                            action.   +  When you set ``ContentBasedDeduplication``
                            to ``true``, SNS uses a SHA-256 hash to generate the ``MessageDeduplicationId``
                            using the body of the message (but not the attributes
                            of the message). (Optional) To override the generated
                            value, you can specify a value for the the ``MessageDeduplicationId``
                            parameter for the ``Publish`` action.
                        dataProtectionPolicy:
                          description: 'The body of the policy document you want to
                            use for this topic. You can only add one policy per topic.
                            The policy must be in JSON string format. Length Constraints:
                            Maximum length of 30,720.'
                        deliveryStatusLogging:
                          type: array
                          description: Property deliveryStatusLogging
                          items:
                            type: object
                            description: Definition of LoggingConfig
                            properties:
                              failureFeedbackRoleArn:
                                type: string
                                description: Property failureFeedbackRoleArn
                              protocol:
                                description: Property protocol
                                type: string
                                enum:
                                - application
                                - firehose
                                - http/s
                                - lambda
                                - sqs
                                x-ms-enum:
                                  name: LoggingConfigProtocol
                                  modelAsString: true
                                  values:
                                  - name: application
                                    value: application
                                    description: LoggingConfigProtocol enum application
                                  - name: firehose
                                    value: firehose
                                    description: LoggingConfigProtocol enum firehose
                                  - name: HttpS
                                    value: http/s
                                    description: LoggingConfigProtocol enum http/s
                                  - name: lambda
                                    value: lambda
                                    description: LoggingConfigProtocol enum lambda
                                  - name: sqs
                                    value: sqs
                                    description: LoggingConfigProtocol enum sqs
                              successFeedbackRoleArn:
                                type: string
                                description: Property successFeedbackRoleArn
                              successFeedbackSampleRate:
                                type: string
                                description: Property successFeedbackSampleRate
                          x-ms-identifiers: []
                        displayName:
                          type: string
                          description: The display name to use for an SNS topic with
                            SMS subscriptions. The display name must be maximum 100
                            characters long, including hyphens (-), underscores (_),
                            spaces, and tabs.
                        fifoTopic:
                          type: boolean
                          description: Set to true to create a FIFO topic.
                        kmsMasterKeyId:
                          type: string
                          description: The ID of an AWS managed customer master key
                            (CMK) for SNS or a custom CMK. For more information, see
                            [Key terms](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms).
                            For more examples, see ``KeyId`` in the *API Reference*.
                            This property applies only to [server-side-encryption](https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html).
                        signatureVersion:
                          type: string
                          description: The signature version corresponds to the hashing
                            algorithm used while creating the signature of the notifications,
                            subscription confirmations, or unsubscribe confirmation
                            messages sent by Amazon SNS. By default, ``SignatureVersion``
                            is set to ``1``.
                        subscription:
                          type: array
                          description: The SNS subscriptions (endpoints) for this
                            topic.  If you specify the ``Subscription`` property in
                            the ``AWS::SNS::Topic`` resource and it creates an associated
                            subscription resource, the associated subscription is
                            not deleted when the ``AWS::SNS::Topic`` resource is deleted.
                          items:
                            type: object
                            description: Definition of Subscription
                            properties:
                              endpoint:
                                type: string
                                description: The endpoint that receives notifications
                                  from the SNS topic. The endpoint value depends on
                                  the protocol that you specify. For more information,
                                  see the ``Endpoint`` parameter of the ``Subscribe``
                                  action in the *API Reference*.
                              protocol:
                                type: string
                                description: The subscription's protocol. For more
                                  information, see the ``Protocol`` parameter of the
                                  ``Subscribe`` action in the *API Reference*.
                          x-ms-identifiers: []
                        tags:
                          type: array
                          description: The list of tags to add to a new topic.  To
                            be able to tag a topic on creation, you must have the
                            ``sns:CreateTopic`` and ``sns:TagResource`` permissions.
                          items:
                            type: object
                            description: Definition of Tag
                            properties:
                              key:
                                type: string
                                description: The required key portion of the tag.
                              value:
                                type: string
                                description: The optional value portion of the tag.
                          x-ms-identifiers: []
                        topicArn:
                          type: string
                          description: Property topicArn
                        topicName:
                          type: string
                          description: The name of the topic you want to create. Topic
                            names must include only uppercase and lowercase ASCII
                            letters, numbers, underscores, and hyphens, and must be
                            between 1 and 256 characters long. FIFO topic names must
                            end with ``.fifo``. If you don't specify a name, CFN generates
                            a unique physical ID and uses that ID for the topic name.
                            For more information, see [Name type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).  If
                            you specify a name, you can't perform updates that require
                            replacement of this resource. You can perform updates
                            that require no or some interruption. If you must replace
                            the resource, specify a new name.
                        tracingConfig:
                          type: string
                          description: Tracing mode of an SNS topic. By default ``TracingConfig``
                            is set to ``PassThrough``, and the topic passes through
                            the tracing header it receives from an SNS publisher to
                            its subscriptions. If set to ``Active``, SNS will vend
                            X-Ray segment data to topic owner account if the sampled
                            flag in the tracing header is true.
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'SnsTopic' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          archivePolicy:
                            description: The archive policy determines the number
                              of days SNS retains messages. You can set a retention
                              period from 1 to 365 days.
                          contentBasedDeduplication:
                            type: boolean
                            description: Enables content-based deduplication for FIFO
                              topics.  +  By default, ``ContentBasedDeduplication``
                              is set to ``false``. If you create a FIFO topic and
                              this attribute is ``false``, you must specify a value
                              for the ``MessageDeduplicationId`` parameter for the
                              [Publish](https://docs.aws.amazon.com/sns/latest/api/API_Publish.html)
                              action.   +  When you set ``ContentBasedDeduplication``
                              to ``true``, SNS uses a SHA-256 hash to generate the
                              ``MessageDeduplicationId`` using the body of the message
                              (but not the attributes of the message). (Optional)
                              To override the generated value, you can specify a value
                              for the the ``MessageDeduplicationId`` parameter for
                              the ``Publish`` action.
                          dataProtectionPolicy:
                            description: 'The body of the policy document you want
                              to use for this topic. You can only add one policy per
                              topic. The policy must be in JSON string format. Length
                              Constraints: Maximum length of 30,720.'
                          deliveryStatusLogging:
                            type: array
                            description: Property deliveryStatusLogging
                            items:
                              type: object
                              description: Definition of LoggingConfig
                              properties:
                                failureFeedbackRoleArn:
                                  type: string
                                  description: Property failureFeedbackRoleArn
                                protocol:
                                  description: Property protocol
                                  type: string
                                  enum:
                                  - application
                                  - firehose
                                  - http/s
                                  - lambda
                                  - sqs
                                  x-ms-enum:
                                    name: LoggingConfigProtocol
                                    modelAsString: true
                                    values:
                                    - name: application
                                      value: application
[...]
