openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SsmInstanceInformations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ssmInstanceInformations:
    get:
      operationId: SsmInstanceInformations_ListBySubscription
      tags:
      - SsmInstanceInformations
      description: List SsmInstanceInformation resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SsmInstanceInformation list operation.
                properties:
                  value:
                    type: array
                    description: The SsmInstanceInformation items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                activationId:
                                  type: string
                                  description: <p>The activation ID created by Amazon
                                    Web Services Systems Manager when the server or
                                    virtual machine (VM) was registered.</p>
                                agentVersion:
                                  type: string
                                  description: <p>The version of SSM Agent running
                                    on your Linux managed node. </p>
                                associationOverview:
                                  description: <p>Information about the association.</p>
                                  type: object
                                  properties:
                                    detailedStatus:
                                      type: string
                                      description: <p>Detailed status information
                                        about the aggregated associations.</p>
                                    instanceAssociationStatusAggregatedCount:
                                      type: object
                                      description: <p>The number of associations for
                                        the managed nodes.</p>
                                      additionalProperties:
                                        format: int32
                                        type: integer
                                associationStatus:
                                  type: string
                                  description: <p>The status of the association.</p>
                                computerName:
                                  type: string
                                  description: <p>The fully qualified host name of
                                    the managed node.</p>
                                ipAddress:
                                  type: string
                                  description: <p>The IP address of the managed node.</p>
                                iamRole:
                                  type: string
                                  description: <p>The Identity and Access Management
                                    (IAM) role assigned to the on-premises Systems
                                    Manager managed node. This call doesn't return
                                    the IAM role for Amazon Elastic Compute Cloud
                                    (Amazon EC2) instances. To retrieve the IAM role
                                    for an EC2 instance, use the Amazon EC2 <code>DescribeInstances</code>
                                    operation. For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a>
                                    in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a>
                                    in the <i>Amazon Web Services CLI Command Reference</i>.</p>
                                instanceId:
                                  type: string
                                  description: <p>The managed node ID. </p>
                                isLatestVersion:
                                  type: boolean
                                  description: <p>Indicates whether the latest version
                                    of SSM Agent is running on your Linux managed
                                    node. This field doesn't indicate whether or not
                                    the latest version is installed on Windows managed
                                    nodes, because some older versions of Windows
                                    Server use the EC2Config service to process Systems
                                    Manager requests.</p>
                                lastAssociationExecutionDate:
                                  type: string
                                  format: date-time
                                  description: <p>The date the association was last
                                    run.</p>
                                lastPingDateTime:
                                  type: string
                                  format: date-time
                                  description: <p>The date and time when the agent
                                    last pinged the Systems Manager service. </p>
                                lastSuccessfulAssociationExecutionDate:
                                  type: string
                                  format: date-time
                                  description: <p>The last date the association was
                                    successfully run.</p>
                                name:
                                  type: string
                                  description: <p>The name assigned to an on-premises
                                    server, edge device, or virtual machine (VM) when
                                    it is activated as a Systems Manager managed node.
                                    The name is specified as the <code>DefaultInstanceName</code>
                                    property using the <a>CreateActivation</a> command.
                                    It is applied to the managed node by specifying
                                    the Activation Code and Activation ID when you
                                    install SSM Agent on the node, as explained in
                                    <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-linux.html'>Install
                                    SSM Agent for a hybrid and multicloud environment
                                    (Linux)</a> and <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-win.html'>Install
                                    SSM Agent for a hybrid and multicloud environment
                                    (Windows)</a>. To retrieve the <code>Name</code>
                                    tag of an EC2 instance, use the Amazon EC2 <code>DescribeInstances</code>
                                    operation. For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a>
                                    in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a>
                                    in the <i>Amazon Web Services CLI Command Reference</i>.</p>
                                pingStatus:
                                  description: <p>Connection status of SSM Agent.
                                    </p> <note> <p>The status <code>Inactive</code>
                                    has been deprecated and is no longer in use.</p>
                                    </note>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - ConnectionLost
                                      - Inactive
                                      - Online
                                      x-ms-enum:
                                        name: PingStatus
                                        modelAsString: true
                                        values:
                                        - name: ConnectionLost
                                          value: ConnectionLost
                                          description: PingStatus enum ConnectionLost
                                        - name: Inactive
                                          value: Inactive
                                          description: PingStatus enum Inactive
                                        - name: Online
                                          value: Online
                                          description: PingStatus enum Online
                                platformName:
                                  type: string
                                  description: <p>The name of the operating system
                                    platform running on your managed node. </p>
                                platformType:
                                  description: <p>The operating system platform type.
                                    </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - Linux
                                      - MacOS
                                      - Windows
                                      x-ms-enum:
                                        name: PlatformType
                                        modelAsString: true
                                        values:
                                        - name: Linux
                                          value: Linux
                                          description: PlatformType enum Linux
                                        - name: MacOS
                                          value: MacOS
                                          description: PlatformType enum MacOS
                                        - name: Windows
                                          value: Windows
                                          description: PlatformType enum Windows
                                platformVersion:
                                  type: string
                                  description: <p>The version of the OS platform running
                                    on your managed node. </p>
                                registrationDate:
                                  type: string
                                  format: date-time
                                  description: <p>The date the server or VM was registered
                                    with Amazon Web Services as a managed node.</p>
                                resourceType:
                                  description: <p>The type of instance. Instances
                                    are either EC2 instances or managed instances.
                                    </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - EC2Instance
                                      - ManagedInstance
                                      x-ms-enum:
                                        name: ResourceType
                                        modelAsString: true
                                        values:
                                        - name: EC2Instance
                                          value: EC2Instance
                                          description: ResourceType enum EC2Instance
                                        - name: ManagedInstance
                                          value: ManagedInstance
                                          description: ResourceType enum ManagedInstance
                                sourceId:
                                  type: string
                                  description: <p>The ID of the source resource. For
                                    IoT Greengrass devices, <code>SourceId</code>
                                    is the Thing name. </p>
                                sourceType:
                                  description: <p>The type of the source resource.
                                    For IoT Greengrass devices, <code>SourceType</code>
                                    is <code>AWS::IoT::Thing</code>. </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - AWS::EC2::Instance
                                      - AWS::IoT::Thing
                                      - AWS::SSM::ManagedInstance
                                      x-ms-enum:
                                        name: SourceType
                                        modelAsString: true
                                        values:
                                        - name: AWSEC2Instance
                                          value: AWS::EC2::Instance
                                          description: SourceType enum AWS::EC2::Instance
                                        - name: AWSIoTThing
                                          value: AWS::IoT::Thing
                                          description: SourceType enum AWS::IoT::Thing
                                        - name: AWSSSMManagedInstance
                                          value: AWS::SSM::ManagedInstance
                                          description: SourceType enum AWS::SSM::ManagedInstance
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ssmInstanceInformations
  : get:
      operationId: SsmInstanceInformations_ListByResourceGroup
      tags:
      - SsmInstanceInformations
      description: List SsmInstanceInformation resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SsmInstanceInformation list operation.
                properties:
                  value:
                    type: array
                    description: The SsmInstanceInformation items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                activationId:
                                  type: string
                                  description: <p>The activation ID created by Amazon
                                    Web Services Systems Manager when the server or
                                    virtual machine (VM) was registered.</p>
                                agentVersion:
                                  type: string
                                  description: <p>The version of SSM Agent running
                                    on your Linux managed node. </p>
                                associationOverview:
                                  description: <p>Information about the association.</p>
                                  type: object
                                  properties:
                                    detailedStatus:
                                      type: string
                                      description: <p>Detailed status information
                                        about the aggregated associations.</p>
                                    instanceAssociationStatusAggregatedCount:
                                      type: object
                                      description: <p>The number of associations for
                                        the managed nodes.</p>
                                      additionalProperties:
                                        format: int32
                                        type: integer
                                associationStatus:
                                  type: string
                                  description: <p>The status of the association.</p>
                                computerName:
                                  type: string
                                  description: <p>The fully qualified host name of
                                    the managed node.</p>
                                ipAddress:
                                  type: string
                                  description: <p>The IP address of the managed node.</p>
                                iamRole:
                                  type: string
                                  description: <p>The Identity and Access Management
                                    (IAM) role assigned to the on-premises Systems
                                    Manager managed node. This call doesn't return
                                    the IAM role for Amazon Elastic Compute Cloud
                                    (Amazon EC2) instances. To retrieve the IAM role
                                    for an EC2 instance, use the Amazon EC2 <code>DescribeInstances</code>
                                    operation. For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a>
                                    in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a>
                                    in the <i>Amazon Web Services CLI Command Reference</i>.</p>
                                instanceId:
                                  type: string
                                  description: <p>The managed node ID. </p>
                                isLatestVersion:
                                  type: boolean
                                  description: <p>Indicates whether the latest version
                                    of SSM Agent is running on your Linux managed
                                    node. This field doesn't indicate whether or not
                                    the latest version is installed on Windows managed
                                    nodes, because some older versions of Windows
                                    Server use the EC2Config service to process Systems
                                    Manager requests.</p>
                                lastAssociationExecutionDate:
                                  type: string
                                  format: date-time
                                  description: <p>The date the association was last
                                    run.</p>
                                lastPingDateTime:
                                  type: string
                                  format: date-time
                                  description: <p>The date and time when the agent
                                    last pinged the Systems Manager service. </p>
                                lastSuccessfulAssociationExecutionDate:
                                  type: string
                                  format: date-time
                                  description: <p>The last date the association was
                                    successfully run.</p>
                                name:
                                  type: string
                                  description: <p>The name assigned to an on-premises
                                    server, edge device, or virtual machine (VM) when
                                    it is activated as a Systems Manager managed node.
                                    The name is specified as the <code>DefaultInstanceName</code>
                                    property using the <a>CreateActivation</a> command.
                                    It is applied to the managed node by specifying
                                    the Activation Code and Activation ID when you
                                    install SSM Agent on the node, as explained in
                                    <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-linux.html'>Install
                                    SSM Agent for a hybrid and multicloud environment
                                    (Linux)</a> and <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-win.html'>Install
                                    SSM Agent for a hybrid and multicloud environment
                                    (Windows)</a>. To retrieve the <code>Name</code>
                                    tag of an EC2 instance, use the Amazon EC2 <code>DescribeInstances</code>
                                    operation. For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a>
                                    in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a>
                                    in the <i>Amazon Web Services CLI Command Reference</i>.</p>
                                pingStatus:
                                  description: <p>Connection status of SSM Agent.
                                    </p> <note> <p>The status <code>Inactive</code>
                                    has been deprecated and is no longer in use.</p>
                                    </note>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - ConnectionLost
                                      - Inactive
                                      - Online
                                      x-ms-enum:
                                        name: PingStatus
                                        modelAsString: true
                                        values:
                                        - name: ConnectionLost
                                          value: ConnectionLost
                                          description: PingStatus enum ConnectionLost
                                        - name: Inactive
                                          value: Inactive
                                          description: PingStatus enum Inactive
                                        - name: Online
                                          value: Online
                                          description: PingStatus enum Online
                                platformName:
                                  type: string
                                  description: <p>The name of the operating system
                                    platform running on your managed node. </p>
                                platformType:
                                  description: <p>The operating system platform type.
                                    </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - Linux
                                      - MacOS
                                      - Windows
                                      x-ms-enum:
                                        name: PlatformType
                                        modelAsString: true
                                        values:
                                        - name: Linux
                                          value: Linux
                                          description: PlatformType enum Linux
                                        - name: MacOS
                                          value: MacOS
                                          description: PlatformType enum MacOS
                                        - name: Windows
                                          value: Windows
                                          description: PlatformType enum Windows
                                platformVersion:
                                  type: string
                                  description: <p>The version of the OS platform running
                                    on your managed node. </p>
                                registrationDate:
                                  type: string
                                  format: date-time
                                  description: <p>The date the server or VM was registered
                                    with Amazon Web Services as a managed node.</p>
                                resourceType:
                                  description: <p>The type of instance. Instances
                                    are either EC2 instances or managed instances.
                                    </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - EC2Instance
                                      - ManagedInstance
                                      x-ms-enum:
                                        name: ResourceType
                                        modelAsString: true
                                        values:
                                        - name: EC2Instance
                                          value: EC2Instance
                                          description: ResourceType enum EC2Instance
                                        - name: ManagedInstance
                                          value: ManagedInstance
                                          description: ResourceType enum ManagedInstance
                                sourceId:
                                  type: string
                                  description: <p>The ID of the source resource. For
                                    IoT Greengrass devices, <code>SourceId</code>
                                    is the Thing name. </p>
                                sourceType:
                                  description: <p>The type of the source resource.
                                    For IoT Greengrass devices, <code>SourceType</code>
                                    is <code>AWS::IoT::Thing</code>. </p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - AWS::EC2::Instance
                                      - AWS::IoT::Thing
                                      - AWS::SSM::ManagedInstance
                                      x-ms-enum:
                                        name: SourceType
                                        modelAsString: true
                                        values:
                                        - name: AWSEC2Instance
                                          value: AWS::EC2::Instance
                                          description: SourceType enum AWS::EC2::Instance
                                        - name: AWSIoTThing
                                          value: AWS::IoT::Thing
                                          description: SourceType enum AWS::IoT::Thing
                                        - name: AWSSSMManagedInstance
                                          value: AWS::SSM::ManagedInstance
                                          description: SourceType enum AWS::SSM::ManagedInstance
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ssmInstanceInformations/{name}
  : get:
      operationId: SsmInstanceInformations_Get
      tags:
      - SsmInstanceInformations
      description: Get a SsmInstanceInformation
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SsmInstanceInformation
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          activationId:
                            type: string
                            description: <p>The activation ID created by Amazon Web
                              Services Systems Manager when the server or virtual
                              machine (VM) was registered.</p>
                          agentVersion:
                            type: string
                            description: <p>The version of SSM Agent running on your
                              Linux managed node. </p>
                          associationOverview:
                            description: <p>Information about the association.</p>
                            type: object
                            properties:
                              detailedStatus:
                                type: string
                                description: <p>Detailed status information about
                                  the aggregated associations.</p>
                              instanceAssociationStatusAggregatedCount:
                                type: object
                                description: <p>The number of associations for the
                                  managed nodes.</p>
                                additionalProperties:
                                  format: int32
                                  type: integer
                          associationStatus:
                            type: string
                            description: <p>The status of the association.</p>
                          computerName:
                            type: string
                            description: <p>The fully qualified host name of the managed
                              node.</p>
                          ipAddress:
                            type: string
                            description: <p>The IP address of the managed node.</p>
                          iamRole:
                            type: string
                            description: <p>The Identity and Access Management (IAM)
                              role assigned to the on-premises Systems Manager managed
                              node. This call doesn't return the IAM role for Amazon
                              Elastic Compute Cloud (Amazon EC2) instances. To retrieve
                              the IAM role for an EC2 instance, use the Amazon EC2
                              <code>DescribeInstances</code> operation. For information,
                              see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a>
                              in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a>
                              in the <i>Amazon Web Services CLI Command Reference</i>.</p>
                          instanceId:
                            type: string
                            description: <p>The managed node ID. </p>
                          isLatestVersion:
                            type: boolean
                            description: <p>Indicates whether the latest version of
                              SSM Agent is running on your Linux managed node. This
                              field doesn't indicate whether or not the latest version
                              is installed on Windows managed nodes, because some
                              older versions of Windows Server use the EC2Config service
                              to process Systems Manager requests.</p>
                          lastAssociationExecutionDate:
                            type: string
                            format: date-time
                            description: <p>The date the association was last run.</p>
                          lastPingDateTime:
                            type: string
                            format: date-time
                            description: <p>The date and time when the agent last
                              pinged the Systems Manager service. </p>
                          lastSuccessfulAssociationExecutionDate:
                            type: string
                            format: date-time
                            description: <p>The last date the association was successfully
                              run.</p>
                          name:
                            type: string
                            description: <p>The name assigned to an on-premises server,
                              edge device, or virtual machine (VM) when it is activated
                              as a Systems Manager managed node. The name is specified
                              as the <code>DefaultInstanceName</code> property using
                              the <a>CreateActivation</a> command. It is applied to
                              the managed node by specifying the Activation Code and
                              Activation ID when you install SSM Agent on the node,
                              as explained in <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-linux.html'>Install
                              SSM Agent for a hybrid and multicloud environment (Linux)</a>
                              and <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-win.html'>Install
                              SSM Agent for a hybrid and multicloud environment (Windows)</a>.
                              To retrieve the <code>Name</code> tag of an EC2 instance,
                              use the Amazon EC2 <code>DescribeInstances</code> operation.
                              For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a>
                              in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a>
                              in the <i>Amazon Web Services CLI Command Reference</i>.</p>
                          pingStatus:
                            description: <p>Connection status of SSM Agent. </p> <note>
                              <p>The status <code>Inactive</code> has been deprecated
                              and is no longer in use.</p> </note>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - ConnectionLost
                                - Inactive
                                - Online
                                x-ms-enum:
                                  name: PingStatus
                                  modelAsString: true
                                  values:
                                  - name: ConnectionLost
                                    value: ConnectionLost
                                    description: PingStatus enum ConnectionLost
                                  - name: Inactive
                                    value: Inactive
                                    description: PingStatus enum Inactive
                                  - name: Online
                                    value: Online
                                    description: PingStatus enum Online
                          platformName:
                            type: string
                            description: <p>The name of the operating system platform
                              running on your managed node. </p>
                          platformType:
                            description: <p>The operating system platform type. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - Linux
                                - MacOS
                                - Windows
                                x-ms-enum:
                                  name: PlatformType
                                  modelAsString: true
                                  values:
                                  - name: Linux
                                    value: Linux
                                    description: PlatformType enum Linux
                                  - name: MacOS
                                    value: MacOS
                                    description: PlatformType enum MacOS
                                  - name: Windows
                                    value: Windows
                                    description: PlatformType enum Windows
                          platformVersion:
                            type: string
                            description: <p>The version of the OS platform running
                              on your managed node. </p>
                          registrationDate:
                            type: string
                            format: date-time
                            description: <p>The date the server or VM was registered
                              with Amazon Web Services as a managed node.</p>
                          resourceType:
                            description: <p>The type of instance. Instances are either
                              EC2 instances or managed instances. </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - EC2Instance
                                - ManagedInstance
                                x-ms-enum:
                                  name: ResourceType
                                  modelAsString: true
                                  values:
                                  - name: EC2Instance
                                    value: EC2Instance
                                    description: ResourceType enum EC2Instance
                                  - name: ManagedInstance
                                    value: ManagedInstance
                                    description: ResourceType enum ManagedInstance
                          sourceId:
                            type: string
                            description: <p>The ID of the source resource. For IoT
                              Greengrass devices, <code>SourceId</code> is the Thing
                              name. </p>
                          sourceType:
                            description: <p>The type of the source resource. For IoT
                              Greengrass devices, <code>SourceType</code> is <code>AWS::IoT::Thing</code>.
                              </p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - AWS::EC2::Instance
                                - AWS::IoT::Thing
                                - AWS::SSM::ManagedInstance
                                x-ms-enum:
                                  name: SourceType
                                  modelAsString: true
                                  values:
                                  - name: AWSEC2Instance
                                    value: AWS::EC2::Instance
                                    description: SourceType enum AWS::EC2::Instance
                                  - name: AWSIoTThing
                                    value: AWS::IoT::Thing
                                    description: SourceType enum AWS::IoT::Thing
                                  - name: AWSSSMManagedInstance
                                    value: AWS::SSM::ManagedInstance
                                    description: SourceType enum AWS::SSM::ManagedInstance
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: SsmInstanceInformations_CreateOrReplace
      tags:
      - SsmInstanceInformations
      description: Create a SsmInstanceInformation. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SsmInstanceInformation
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        activationId:
                          type: string
                          description: <p>The activation ID created by Amazon Web
                            Services Systems Manager when the server or virtual machine
                            (VM) was registered.</p>
                        agentVersion:
                          type: string
                          description: <p>The version of SSM Agent running on your
                            Linux managed node. </p>
                        associationOverview:
                          description: <p>Information about the association.</p>
                          type: object
                          properties:
                            detailedStatus:
                              type: string
                              description: <p>Detailed status information about the
                                aggregated associations.</p>
                            instanceAssociationStatusAggregatedCount:
                              type: object
                              description: <p>The number of associations for the managed
                                nodes.</p>
                              additionalProperties:
                                format: int32
                                type: integer
                        associationStatus:
                          type: string
                          description: <p>The status of the association.</p>
                        computerName:
                          type: string
                          description: <p>The fully qualified host name of the managed
                            node.</p>
                        ipAddress:
                          type: string
                          description: <p>The IP address of the managed node.</p>
                        iamRole:
                          type: string
                          description: <p>The Identity and Access Management (IAM)
                            role assigned to the on-premises Systems Manager managed
                            node. This call doesn't return the IAM role for Amazon
                            Elastic Compute Cloud (Amazon EC2) instances. To retrieve
                            the IAM role for an EC2 instance, use the Amazon EC2 <code>DescribeInstances</code>
                            operation. For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a>
                            in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a>
                            in the <i>Amazon Web Services CLI Command Reference</i>.</p>
                        instanceId:
                          type: string
                          description: <p>The managed node ID. </p>
                        isLatestVersion:
                          type: boolean
                          description: <p>Indicates whether the latest version of
                            SSM Agent is running on your Linux managed node. This
                            field doesn't indicate whether or not the latest version
                            is installed on Windows managed nodes, because some older
                            versions of Windows Server use the EC2Config service to
                            process Systems Manager requests.</p>
                        lastAssociationExecutionDate:
                          type: string
                          format: date-time
                          description: <p>The date the association was last run.</p>
                        lastPingDateTime:
                          type: string
                          format: date-time
                          description: <p>The date and time when the agent last pinged
                            the Systems Manager service. </p>
                        lastSuccessfulAssociationExecutionDate:
                          type: string
                          format: date-time
                          description: <p>The last date the association was successfully
                            run.</p>
                        name:
                          type: string
                          description: <p>The name assigned to an on-premises server,
                            edge device, or virtual machine (VM) when it is activated
                            as a Systems Manager managed node. The name is specified
                            as the <code>DefaultInstanceName</code> property using
                            the <a>CreateActivation</a> command. It is applied to
                            the managed node by specifying the Activation Code and
                            Activation ID when you install SSM Agent on the node,
                            as explained in <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-linux.html'>Install
                            SSM Agent for a hybrid and multicloud environment (Linux)</a>
                            and <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-win.html'>Install
                            SSM Agent for a hybrid and multicloud environment (Windows)</a>.
                            To retrieve the <code>Name</code> tag of an EC2 instance,
                            use the Amazon EC2 <code>DescribeInstances</code> operation.
                            For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a>
                            in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a>
                            in the <i>Amazon Web Services CLI Command Reference</i>.</p>
                        pingStatus:
                          description: <p>Connection status of SSM Agent. </p> <note>
                            <p>The status <code>Inactive</code> has been deprecated
                            and is no longer in use.</p> </note>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - ConnectionLost
                              - Inactive
                              - Online
                              x-ms-enum:
                                name: PingStatus
                                modelAsString: true
                                values:
                                - name: ConnectionLost
                                  value: ConnectionLost
                                  description: PingStatus enum ConnectionLost
                                - name: Inactive
                                  value: Inactive
                                  description: PingStatus enum Inactive
                                - name: Online
                                  value: Online
                                  description: PingStatus enum Online
                        platformName:
                          type: string
                          description: <p>The name of the operating system platform
                            running on your managed node. </p>
                        platformType:
                          description: <p>The operating system platform type. </p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - Linux
                              - MacOS
                              - Windows
                              x-ms-enum:
                                name: PlatformType
                                modelAsString: true
                                values:
                                - name: Linux
                                  value: Linux
                                  description: PlatformType enum Linux
                                - name: MacOS
                                  value: MacOS
                                  description: PlatformType enum MacOS
                                - name: Windows
                                  value: Windows
                                  description: PlatformType enum Windows
                        platformVersion:
                          type: string
                          description: <p>The version of the OS platform running on
                            your managed node. </p>
                        registrationDate:
                          type: string
                          format: date-time
                          description: <p>The date the server or VM was registered
                            with Amazon Web Services as a managed node.</p>
                        resourceType:
                          description: <p>The type of instance. Instances are either
                            EC2 instances or managed instances. </p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - EC2Instance
                              - ManagedInstance
                              x-ms-enum:
                                name: ResourceType
                                modelAsString: true
                                values:
                                - name: EC2Instance
                                  value: EC2Instance
                                  description: ResourceType enum EC2Instance
                                - name: ManagedInstance
                                  value: ManagedInstance
                                  description: ResourceType enum ManagedInstance
                        sourceId:
                          type: string
                          description: <p>The ID of the source resource. For IoT Greengrass
                            devices, <code>SourceId</code> is the Thing name. </p>
                        sourceType:
                          description: <p>The type of the source resource. For IoT
                            Greengrass devices, <code>SourceType</code> is <code>AWS::IoT::Thing</code>.
                            </p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - AWS::EC2::Instance
                              - AWS::IoT::Thing
                              - AWS::SSM::ManagedInstance
                              x-ms-enum:
                                name: SourceType
                                modelAsString: true
                                values:
                                - name: AWSEC2Instance
                                  value: AWS::EC2::Instance
                                  description: SourceType enum AWS::EC2::Instance
                                - name: AWSIoTThing
                                  value: AWS::IoT::Thing
                                  description: SourceType enum AWS::IoT::Thing
                                - name: AWSSSMManagedInstance
                                  value: AWS::SSM::ManagedInstance
                                  description: SourceType enum AWS::SSM::ManagedInstance
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
[...]
