openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SsmParameters
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ssmParameters:
    get:
      operationId: SsmParameters_ListBySubscription
      tags:
      - SsmParameters
      description: List SsmParameter resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SsmParameter list operation.
                properties:
                  value:
                    type: array
                    description: The SsmParameter items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                allowedPattern:
                                  type: string
                                  description: 'A regular expression used to validate
                                    the parameter value. For example, for ``String``
                                    types with values restricted to numbers, you can
                                    specify the following: ``AllowedPattern=^\d+$``'
                                dataType:
                                  description: The data type of the parameter, such
                                    as ``text`` or ``aws:ec2:image``. The default
                                    is ``text``.
                                  type: string
                                  enum:
                                  - aws:ec2:image
                                  - text
                                  x-ms-enum:
                                    name: DataType
                                    modelAsString: true
                                    values:
                                    - name: AwsEc2Image
                                      value: aws:ec2:image
                                      description: DataType enum aws:ec2:image
                                    - name: text
                                      value: text
                                      description: DataType enum text
                                description:
                                  type: string
                                  description: Information about the parameter.
                                name:
                                  type: string
                                  description: 'The name of the parameter.  The maximum
                                    length constraint listed below includes capacity
                                    for additional system attributes that aren''t
                                    part of the name. The maximum length for a parameter
                                    name, including the full length of the parameter
                                    Amazon Resource Name (ARN), is 1011 characters.
                                    For example, the length of the following parameter
                                    name is 65 characters, not 20 characters: ``arn:aws:ssm:us-east-2:111222333444:parameter/ExampleParameterName``'
                                policies:
                                  type: string
                                  description: Information about the policies assigned
                                    to a parameter.  [Assigning parameter policies](https://docs.aws.amazon.com/systems-manager/latest/userguide/parameter-store-policies.html)
                                    in the *User Guide*.
                                tags:
                                  description: Optional metadata that you assign to
                                    a resource in the form of an arbitrary set of
                                    tags (key-value pairs). Tags enable you to categorize
                                    a resource in different ways, such as by purpose,
                                    owner, or environment. For example, you might
                                    want to tag a SYS parameter to identify the type
                                    of resource to which it applies, the environment,
                                    or the type of configuration data referenced by
                                    the parameter.
                                tier:
                                  description: The parameter tier.
                                  type: string
                                  enum:
                                  - Advanced
                                  - Intelligent-Tiering
                                  - Standard
                                  x-ms-enum:
                                    name: Tier
                                    modelAsString: true
                                    values:
                                    - name: Advanced
                                      value: Advanced
                                      description: Tier enum Advanced
                                    - name: IntelligentTiering
                                      value: Intelligent-Tiering
                                      description: Tier enum Intelligent-Tiering
                                    - name: Standard
                                      value: Standard
                                      description: Tier enum Standard
                                type:
                                  description: The type of parameter.
                                  type: string
                                  enum:
                                  - String
                                  - StringList
                                  x-ms-enum:
                                    name: Type
                                    modelAsString: true
                                    values:
                                    - name: String
                                      value: String
                                      description: Type enum String
                                    - name: StringList
                                      value: StringList
                                      description: Type enum StringList
                                value:
                                  type: string
                                  description: The parameter value.  If type is ``StringList``,
                                    the system returns a comma-separated string with
                                    no spaces between commas in the ``Value`` field.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ssmParameters:
    get:
      operationId: SsmParameters_ListByResourceGroup
      tags:
      - SsmParameters
      description: List SsmParameter resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SsmParameter list operation.
                properties:
                  value:
                    type: array
                    description: The SsmParameter items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                allowedPattern:
                                  type: string
                                  description: 'A regular expression used to validate
                                    the parameter value. For example, for ``String``
                                    types with values restricted to numbers, you can
                                    specify the following: ``AllowedPattern=^\d+$``'
                                dataType:
                                  description: The data type of the parameter, such
                                    as ``text`` or ``aws:ec2:image``. The default
                                    is ``text``.
                                  type: string
                                  enum:
                                  - aws:ec2:image
                                  - text
                                  x-ms-enum:
                                    name: DataType
                                    modelAsString: true
                                    values:
                                    - name: AwsEc2Image
                                      value: aws:ec2:image
                                      description: DataType enum aws:ec2:image
                                    - name: text
                                      value: text
                                      description: DataType enum text
                                description:
                                  type: string
                                  description: Information about the parameter.
                                name:
                                  type: string
                                  description: 'The name of the parameter.  The maximum
                                    length constraint listed below includes capacity
                                    for additional system attributes that aren''t
                                    part of the name. The maximum length for a parameter
                                    name, including the full length of the parameter
                                    Amazon Resource Name (ARN), is 1011 characters.
                                    For example, the length of the following parameter
                                    name is 65 characters, not 20 characters: ``arn:aws:ssm:us-east-2:111222333444:parameter/ExampleParameterName``'
                                policies:
                                  type: string
                                  description: Information about the policies assigned
                                    to a parameter.  [Assigning parameter policies](https://docs.aws.amazon.com/systems-manager/latest/userguide/parameter-store-policies.html)
                                    in the *User Guide*.
                                tags:
                                  description: Optional metadata that you assign to
                                    a resource in the form of an arbitrary set of
                                    tags (key-value pairs). Tags enable you to categorize
                                    a resource in different ways, such as by purpose,
                                    owner, or environment. For example, you might
                                    want to tag a SYS parameter to identify the type
                                    of resource to which it applies, the environment,
                                    or the type of configuration data referenced by
                                    the parameter.
                                tier:
                                  description: The parameter tier.
                                  type: string
                                  enum:
                                  - Advanced
                                  - Intelligent-Tiering
                                  - Standard
                                  x-ms-enum:
                                    name: Tier
                                    modelAsString: true
                                    values:
                                    - name: Advanced
                                      value: Advanced
                                      description: Tier enum Advanced
                                    - name: IntelligentTiering
                                      value: Intelligent-Tiering
                                      description: Tier enum Intelligent-Tiering
                                    - name: Standard
                                      value: Standard
                                      description: Tier enum Standard
                                type:
                                  description: The type of parameter.
                                  type: string
                                  enum:
                                  - String
                                  - StringList
                                  x-ms-enum:
                                    name: Type
                                    modelAsString: true
                                    values:
                                    - name: String
                                      value: String
                                      description: Type enum String
                                    - name: StringList
                                      value: StringList
                                      description: Type enum StringList
                                value:
                                  type: string
                                  description: The parameter value.  If type is ``StringList``,
                                    the system returns a comma-separated string with
                                    no spaces between commas in the ``Value`` field.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ssmParameters/{name}:
    get:
      operationId: SsmParameters_Get
      tags:
      - SsmParameters
      description: Get a SsmParameter
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SsmParameter
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          allowedPattern:
                            type: string
                            description: 'A regular expression used to validate the
                              parameter value. For example, for ``String`` types with
                              values restricted to numbers, you can specify the following:
                              ``AllowedPattern=^\d+$``'
                          dataType:
                            description: The data type of the parameter, such as ``text``
                              or ``aws:ec2:image``. The default is ``text``.
                            type: string
                            enum:
                            - aws:ec2:image
                            - text
                            x-ms-enum:
                              name: DataType
                              modelAsString: true
                              values:
                              - name: AwsEc2Image
                                value: aws:ec2:image
                                description: DataType enum aws:ec2:image
                              - name: text
                                value: text
                                description: DataType enum text
                          description:
                            type: string
                            description: Information about the parameter.
                          name:
                            type: string
                            description: 'The name of the parameter.  The maximum
                              length constraint listed below includes capacity for
                              additional system attributes that aren''t part of the
                              name. The maximum length for a parameter name, including
                              the full length of the parameter Amazon Resource Name
                              (ARN), is 1011 characters. For example, the length of
                              the following parameter name is 65 characters, not 20
                              characters: ``arn:aws:ssm:us-east-2:111222333444:parameter/ExampleParameterName``'
                          policies:
                            type: string
                            description: Information about the policies assigned to
                              a parameter.  [Assigning parameter policies](https://docs.aws.amazon.com/systems-manager/latest/userguide/parameter-store-policies.html)
                              in the *User Guide*.
                          tags:
                            description: Optional metadata that you assign to a resource
                              in the form of an arbitrary set of tags (key-value pairs).
                              Tags enable you to categorize a resource in different
                              ways, such as by purpose, owner, or environment. For
                              example, you might want to tag a SYS parameter to identify
                              the type of resource to which it applies, the environment,
                              or the type of configuration data referenced by the
                              parameter.
                          tier:
                            description: The parameter tier.
                            type: string
                            enum:
                            - Advanced
                            - Intelligent-Tiering
                            - Standard
                            x-ms-enum:
                              name: Tier
                              modelAsString: true
                              values:
                              - name: Advanced
                                value: Advanced
                                description: Tier enum Advanced
                              - name: IntelligentTiering
                                value: Intelligent-Tiering
                                description: Tier enum Intelligent-Tiering
                              - name: Standard
                                value: Standard
                                description: Tier enum Standard
                          type:
                            description: The type of parameter.
                            type: string
                            enum:
                            - String
                            - StringList
                            x-ms-enum:
                              name: Type
                              modelAsString: true
                              values:
                              - name: String
                                value: String
                                description: Type enum String
                              - name: StringList
                                value: StringList
                                description: Type enum StringList
                          value:
                            type: string
                            description: The parameter value.  If type is ``StringList``,
                              the system returns a comma-separated string with no
                              spaces between commas in the ``Value`` field.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: SsmParameters_CreateOrReplace
      tags:
      - SsmParameters
      description: Create a SsmParameter. Please note that end user resource creation
        is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SsmParameter
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        allowedPattern:
                          type: string
                          description: 'A regular expression used to validate the
                            parameter value. For example, for ``String`` types with
                            values restricted to numbers, you can specify the following:
                            ``AllowedPattern=^\d+$``'
                        dataType:
                          description: The data type of the parameter, such as ``text``
                            or ``aws:ec2:image``. The default is ``text``.
                          type: string
                          enum:
                          - aws:ec2:image
                          - text
                          x-ms-enum:
                            name: DataType
                            modelAsString: true
                            values:
                            - name: AwsEc2Image
                              value: aws:ec2:image
                              description: DataType enum aws:ec2:image
                            - name: text
                              value: text
                              description: DataType enum text
                        description:
                          type: string
                          description: Information about the parameter.
                        name:
                          type: string
                          description: 'The name of the parameter.  The maximum length
                            constraint listed below includes capacity for additional
                            system attributes that aren''t part of the name. The maximum
                            length for a parameter name, including the full length
                            of the parameter Amazon Resource Name (ARN), is 1011 characters.
                            For example, the length of the following parameter name
                            is 65 characters, not 20 characters: ``arn:aws:ssm:us-east-2:111222333444:parameter/ExampleParameterName``'
                        policies:
                          type: string
                          description: Information about the policies assigned to
                            a parameter.  [Assigning parameter policies](https://docs.aws.amazon.com/systems-manager/latest/userguide/parameter-store-policies.html)
                            in the *User Guide*.
                        tags:
                          description: Optional metadata that you assign to a resource
                            in the form of an arbitrary set of tags (key-value pairs).
                            Tags enable you to categorize a resource in different
                            ways, such as by purpose, owner, or environment. For example,
                            you might want to tag a SYS parameter to identify the
                            type of resource to which it applies, the environment,
                            or the type of configuration data referenced by the parameter.
                        tier:
                          description: The parameter tier.
                          type: string
                          enum:
                          - Advanced
                          - Intelligent-Tiering
                          - Standard
                          x-ms-enum:
                            name: Tier
                            modelAsString: true
                            values:
                            - name: Advanced
                              value: Advanced
                              description: Tier enum Advanced
                            - name: IntelligentTiering
                              value: Intelligent-Tiering
                              description: Tier enum Intelligent-Tiering
                            - name: Standard
                              value: Standard
                              description: Tier enum Standard
                        type:
                          description: The type of parameter.
                          type: string
                          enum:
                          - String
                          - StringList
                          x-ms-enum:
                            name: Type
                            modelAsString: true
                            values:
                            - name: String
                              value: String
                              description: Type enum String
                            - name: StringList
                              value: StringList
                              description: Type enum StringList
                        value:
                          type: string
                          description: The parameter value.  If type is ``StringList``,
                            the system returns a comma-separated string with no spaces
                            between commas in the ``Value`` field.
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'SsmParameter' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          allowedPattern:
                            type: string
                            description: 'A regular expression used to validate the
                              parameter value. For example, for ``String`` types with
                              values restricted to numbers, you can specify the following:
                              ``AllowedPattern=^\d+$``'
                          dataType:
                            description: The data type of the parameter, such as ``text``
                              or ``aws:ec2:image``. The default is ``text``.
                            type: string
                            enum:
                            - aws:ec2:image
                            - text
                            x-ms-enum:
                              name: DataType
                              modelAsString: true
                              values:
                              - name: AwsEc2Image
                                value: aws:ec2:image
                                description: DataType enum aws:ec2:image
                              - name: text
                                value: text
                                description: DataType enum text
                          description:
                            type: string
                            description: Information about the parameter.
                          name:
                            type: string
                            description: 'The name of the parameter.  The maximum
                              length constraint listed below includes capacity for
                              additional system attributes that aren''t part of the
                              name. The maximum length for a parameter name, including
                              the full length of the parameter Amazon Resource Name
                              (ARN), is 1011 characters. For example, the length of
                              the following parameter name is 65 characters, not 20
                              characters: ``arn:aws:ssm:us-east-2:111222333444:parameter/ExampleParameterName``'
                          policies:
                            type: string
                            description: Information about the policies assigned to
                              a parameter.  [Assigning parameter policies](https://docs.aws.amazon.com/systems-manager/latest/userguide/parameter-store-policies.html)
                              in the *User Guide*.
                          tags:
                            description: Optional metadata that you assign to a resource
                              in the form of an arbitrary set of tags (key-value pairs).
                              Tags enable you to categorize a resource in different
                              ways, such as by purpose, owner, or environment. For
                              example, you might want to tag a SYS parameter to identify
                              the type of resource to which it applies, the environment,
                              or the type of configuration data referenced by the
                              parameter.
                          tier:
                            description: The parameter tier.
                            type: string
                            enum:
                            - Advanced
                            - Intelligent-Tiering
                            - Standard
                            x-ms-enum:
                              name: Tier
                              modelAsString: true
                              values:
                              - name: Advanced
                                value: Advanced
                                description: Tier enum Advanced
                              - name: IntelligentTiering
                                value: Intelligent-Tiering
                                description: Tier enum Intelligent-Tiering
                              - name: Standard
                                value: Standard
                                description: Tier enum Standard
                          type:
                            description: The type of parameter.
                            type: string
                            enum:
                            - String
                            - StringList
                            x-ms-enum:
                              name: Type
                              modelAsString: true
                              values:
                              - name: String
                                value: String
                                description: Type enum String
                              - name: StringList
                                value: StringList
                                description: Type enum StringList
                          value:
                            type: string
                            description: The parameter value.  If type is ``StringList``,
                              the system returns a comma-separated string with no
                              spaces between commas in the ``Value`` field.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'SsmParameter' create operation succeeded
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          allowedPattern:
                            type: string
                            description: 'A regular expression used to validate the
                              parameter value. For example, for ``String`` types with
                              values restricted to numbers, you can specify the following:
                              ``AllowedPattern=^\d+$``'
                          dataType:
                            description: The data type of the parameter, such as ``text``
                              or ``aws:ec2:image``. The default is ``text``.
                            type: string
                            enum:
                            - aws:ec2:image
                            - text
                            x-ms-enum:
                              name: DataType
                              modelAsString: true
                              values:
                              - name: AwsEc2Image
                                value: aws:ec2:image
                                description: DataType enum aws:ec2:image
                              - name: text
                                value: text
                                description: DataType enum text
                          description:
                            type: string
                            description: Information about the parameter.
                          name:
                            type: string
                            description: 'The name of the parameter.  The maximum
                              length constraint listed below includes capacity for
                              additional system attributes that aren''t part of the
                              name. The maximum length for a parameter name, including
                              the full length of the parameter Amazon Resource Name
                              (ARN), is 1011 characters. For example, the length of
                              the following parameter name is 65 characters, not 20
                              characters: ``arn:aws:ssm:us-east-2:111222333444:parameter/ExampleParameterName``'
                          policies:
                            type: string
                            description: Information about the policies assigned to
                              a parameter.  [Assigning parameter policies](https://docs.aws.amazon.com/systems-manager/latest/userguide/parameter-store-policies.html)
                              in the *User Guide*.
                          tags:
                            description: Optional metadata that you assign to a resource
                              in the form of an arbitrary set of tags (key-value pairs).
                              Tags enable you to categorize a resource in different
                              ways, such as by purpose, owner, or environment. For
                              example, you might want to tag a SYS parameter to identify
                              the type of resource to which it applies, the environment,
                              or the type of configuration data referenced by the
                              parameter.
                          tier:
                            description: The parameter tier.
                            type: string
                            enum:
                            - Advanced
                            - Intelligent-Tiering
                            - Standard
                            x-ms-enum:
                              name: Tier
                              modelAsString: true
                              values:
                              - name: Advanced
                                value: Advanced
                                description: Tier enum Advanced
                              - name: IntelligentTiering
                                value: Intelligent-Tiering
                                description: Tier enum Intelligent-Tiering
                              - name: Standard
                                value: Standard
                                description: Tier enum Standard
                          type:
                            description: The type of parameter.
                            type: string
                            enum:
                            - String
                            - StringList
                            x-ms-enum:
                              name: Type
                              modelAsString: true
                              values:
                              - name: String
                                value: String
                                description: Type enum String
                              - name: StringList
                                value: StringList
                                description: Type enum StringList
                          value:
                            type: string
                            description: The parameter value.  If type is ``StringList``,
                              the system returns a comma-separated string with no
                              spaces between commas in the ``Value`` field.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
[...]
