openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: SsmResourceComplianceSummaryItems
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ssmResourceComplianceSummaryItems:
    get:
      operationId: SsmResourceComplianceSummaryItems_ListBySubscription
      tags:
      - SsmResourceComplianceSummaryItems
      description: List SsmResourceComplianceSummaryItem resources by subscription
        ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SsmResourceComplianceSummaryItem list
                  operation.
                properties:
                  value:
                    type: array
                    description: The SsmResourceComplianceSummaryItem items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                complianceType:
                                  type: string
                                  description: <p>The compliance type.</p>
                                compliantSummary:
                                  description: <p>A list of items that are compliant
                                    for the resource.</p>
                                  type: object
                                  properties:
                                    compliantCount:
                                      type: integer
                                      format: int32
                                      description: <p>The total number of resources
                                        that are compliant.</p>
                                    severitySummary:
                                      description: <p>A summary of the compliance
                                        severity by compliance type.</p>
                                      type: object
                                      properties:
                                        criticalCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of <code>Critical</code>. Critical
                                            severity is determined by the organization
                                            that published the compliance items.</p>
                                        highCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of high. High severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        informationalCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of informational. Informational
                                            severity is determined by the organization
                                            that published the compliance items.</p>
                                        lowCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of low. Low severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        mediumCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of medium. Medium severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        unspecifiedCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of unspecified. Unspecified severity
                                            is determined by the organization that
                                            published the compliance items.</p>
                                executionSummary:
                                  description: <p>Information about the execution.</p>
                                  type: object
                                  properties:
                                    executionId:
                                      type: string
                                      description: <p>An ID created by the system
                                        when <code>PutComplianceItems</code> was called.
                                        For example, <code>CommandID</code> is a valid
                                        execution ID. You can use this ID in subsequent
                                        calls.</p>
                                    executionTime:
                                      type: string
                                      format: date-time
                                      description: '<p>The time the execution ran
                                        as a datetime object that is saved in the
                                        following format: <code>yyyy-MM-dd''T''HH:mm:ss''Z''</code>
                                        </p>'
                                    executionType:
                                      type: string
                                      description: <p>The type of execution. For example,
                                        <code>Command</code> is a valid execution
                                        type.</p>
                                nonCompliantSummary:
                                  description: <p>A list of items that aren't compliant
                                    for the resource.</p>
                                  type: object
                                  properties:
                                    nonCompliantCount:
                                      type: integer
                                      format: int32
                                      description: <p>The total number of compliance
                                        items that aren't compliant.</p>
                                    severitySummary:
                                      description: <p>A summary of the non-compliance
                                        severity by compliance type</p>
                                      type: object
                                      properties:
                                        criticalCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of <code>Critical</code>. Critical
                                            severity is determined by the organization
                                            that published the compliance items.</p>
                                        highCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of high. High severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        informationalCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of informational. Informational
                                            severity is determined by the organization
                                            that published the compliance items.</p>
                                        lowCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of low. Low severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        mediumCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of medium. Medium severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        unspecifiedCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of unspecified. Unspecified severity
                                            is determined by the organization that
                                            published the compliance items.</p>
                                overallSeverity:
                                  description: <p>The highest severity item found
                                    for the resource. The resource is compliant for
                                    this item.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - CRITICAL
                                      - HIGH
                                      - INFORMATIONAL
                                      - LOW
                                      - MEDIUM
                                      - UNSPECIFIED
                                      x-ms-enum:
                                        name: ComplianceSeverity
                                        modelAsString: true
                                        values:
                                        - name: CRITICAL
                                          value: CRITICAL
                                          description: ComplianceSeverity enum CRITICAL
                                        - name: HIGH
                                          value: HIGH
                                          description: ComplianceSeverity enum HIGH
                                        - name: INFORMATIONAL
                                          value: INFORMATIONAL
                                          description: ComplianceSeverity enum INFORMATIONAL
                                        - name: LOW
                                          value: LOW
                                          description: ComplianceSeverity enum LOW
                                        - name: MEDIUM
                                          value: MEDIUM
                                          description: ComplianceSeverity enum MEDIUM
                                        - name: UNSPECIFIED
                                          value: UNSPECIFIED
                                          description: ComplianceSeverity enum UNSPECIFIED
                                resourceId:
                                  type: string
                                  description: <p>The resource ID.</p>
                                resourceType:
                                  type: string
                                  description: <p>The resource type.</p>
                                status:
                                  description: <p>The compliance status for the resource.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - COMPLIANT
                                      - NON_COMPLIANT
                                      x-ms-enum:
                                        name: ComplianceStatus
                                        modelAsString: true
                                        values:
                                        - name: COMPLIANT
                                          value: COMPLIANT
                                          description: ComplianceStatus enum COMPLIANT
                                        - name: NON_COMPLIANT
                                          value: NON_COMPLIANT
                                          description: ComplianceStatus enum NON_COMPLIANT
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ssmResourceComplianceSummaryItems
  : get:
      operationId: SsmResourceComplianceSummaryItems_ListByResourceGroup
      tags:
      - SsmResourceComplianceSummaryItems
      description: List SsmResourceComplianceSummaryItem resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a SsmResourceComplianceSummaryItem list
                  operation.
                properties:
                  value:
                    type: array
                    description: The SsmResourceComplianceSummaryItem items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                complianceType:
                                  type: string
                                  description: <p>The compliance type.</p>
                                compliantSummary:
                                  description: <p>A list of items that are compliant
                                    for the resource.</p>
                                  type: object
                                  properties:
                                    compliantCount:
                                      type: integer
                                      format: int32
                                      description: <p>The total number of resources
                                        that are compliant.</p>
                                    severitySummary:
                                      description: <p>A summary of the compliance
                                        severity by compliance type.</p>
                                      type: object
                                      properties:
                                        criticalCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of <code>Critical</code>. Critical
                                            severity is determined by the organization
                                            that published the compliance items.</p>
                                        highCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of high. High severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        informationalCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of informational. Informational
                                            severity is determined by the organization
                                            that published the compliance items.</p>
                                        lowCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of low. Low severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        mediumCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of medium. Medium severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        unspecifiedCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of unspecified. Unspecified severity
                                            is determined by the organization that
                                            published the compliance items.</p>
                                executionSummary:
                                  description: <p>Information about the execution.</p>
                                  type: object
                                  properties:
                                    executionId:
                                      type: string
                                      description: <p>An ID created by the system
                                        when <code>PutComplianceItems</code> was called.
                                        For example, <code>CommandID</code> is a valid
                                        execution ID. You can use this ID in subsequent
                                        calls.</p>
                                    executionTime:
                                      type: string
                                      format: date-time
                                      description: '<p>The time the execution ran
                                        as a datetime object that is saved in the
                                        following format: <code>yyyy-MM-dd''T''HH:mm:ss''Z''</code>
                                        </p>'
                                    executionType:
                                      type: string
                                      description: <p>The type of execution. For example,
                                        <code>Command</code> is a valid execution
                                        type.</p>
                                nonCompliantSummary:
                                  description: <p>A list of items that aren't compliant
                                    for the resource.</p>
                                  type: object
                                  properties:
                                    nonCompliantCount:
                                      type: integer
                                      format: int32
                                      description: <p>The total number of compliance
                                        items that aren't compliant.</p>
                                    severitySummary:
                                      description: <p>A summary of the non-compliance
                                        severity by compliance type</p>
                                      type: object
                                      properties:
                                        criticalCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of <code>Critical</code>. Critical
                                            severity is determined by the organization
                                            that published the compliance items.</p>
                                        highCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of high. High severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        informationalCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of informational. Informational
                                            severity is determined by the organization
                                            that published the compliance items.</p>
                                        lowCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of low. Low severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        mediumCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of medium. Medium severity is determined
                                            by the organization that published the
                                            compliance items.</p>
                                        unspecifiedCount:
                                          type: integer
                                          format: int32
                                          description: <p>The total number of resources
                                            or compliance items that have a severity
                                            level of unspecified. Unspecified severity
                                            is determined by the organization that
                                            published the compliance items.</p>
                                overallSeverity:
                                  description: <p>The highest severity item found
                                    for the resource. The resource is compliant for
                                    this item.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - CRITICAL
                                      - HIGH
                                      - INFORMATIONAL
                                      - LOW
                                      - MEDIUM
                                      - UNSPECIFIED
                                      x-ms-enum:
                                        name: ComplianceSeverity
                                        modelAsString: true
                                        values:
                                        - name: CRITICAL
                                          value: CRITICAL
                                          description: ComplianceSeverity enum CRITICAL
                                        - name: HIGH
                                          value: HIGH
                                          description: ComplianceSeverity enum HIGH
                                        - name: INFORMATIONAL
                                          value: INFORMATIONAL
                                          description: ComplianceSeverity enum INFORMATIONAL
                                        - name: LOW
                                          value: LOW
                                          description: ComplianceSeverity enum LOW
                                        - name: MEDIUM
                                          value: MEDIUM
                                          description: ComplianceSeverity enum MEDIUM
                                        - name: UNSPECIFIED
                                          value: UNSPECIFIED
                                          description: ComplianceSeverity enum UNSPECIFIED
                                resourceId:
                                  type: string
                                  description: <p>The resource ID.</p>
                                resourceType:
                                  type: string
                                  description: <p>The resource type.</p>
                                status:
                                  description: <p>The compliance status for the resource.</p>
                                  type: object
                                  properties:
                                    value:
                                      description: Property value
                                      type: string
                                      enum:
                                      - COMPLIANT
                                      - NON_COMPLIANT
                                      x-ms-enum:
                                        name: ComplianceStatus
                                        modelAsString: true
                                        values:
                                        - name: COMPLIANT
                                          value: COMPLIANT
                                          description: ComplianceStatus enum COMPLIANT
                                        - name: NON_COMPLIANT
                                          value: NON_COMPLIANT
                                          description: ComplianceStatus enum NON_COMPLIANT
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ssmResourceComplianceSummaryItems/{name}
  : get:
      operationId: SsmResourceComplianceSummaryItems_Get
      tags:
      - SsmResourceComplianceSummaryItems
      description: Get a SsmResourceComplianceSummaryItem
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SsmResourceComplianceSummaryItem
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          complianceType:
                            type: string
                            description: <p>The compliance type.</p>
                          compliantSummary:
                            description: <p>A list of items that are compliant for
                              the resource.</p>
                            type: object
                            properties:
                              compliantCount:
                                type: integer
                                format: int32
                                description: <p>The total number of resources that
                                  are compliant.</p>
                              severitySummary:
                                description: <p>A summary of the compliance severity
                                  by compliance type.</p>
                                type: object
                                properties:
                                  criticalCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of <code>Critical</code>. Critical severity
                                      is determined by the organization that published
                                      the compliance items.</p>
                                  highCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of high. High severity is determined by the
                                      organization that published the compliance items.</p>
                                  informationalCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of informational. Informational severity is
                                      determined by the organization that published
                                      the compliance items.</p>
                                  lowCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of low. Low severity is determined by the organization
                                      that published the compliance items.</p>
                                  mediumCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of medium. Medium severity is determined by
                                      the organization that published the compliance
                                      items.</p>
                                  unspecifiedCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of unspecified. Unspecified severity is determined
                                      by the organization that published the compliance
                                      items.</p>
                          executionSummary:
                            description: <p>Information about the execution.</p>
                            type: object
                            properties:
                              executionId:
                                type: string
                                description: <p>An ID created by the system when <code>PutComplianceItems</code>
                                  was called. For example, <code>CommandID</code>
                                  is a valid execution ID. You can use this ID in
                                  subsequent calls.</p>
                              executionTime:
                                type: string
                                format: date-time
                                description: '<p>The time the execution ran as a datetime
                                  object that is saved in the following format: <code>yyyy-MM-dd''T''HH:mm:ss''Z''</code>
                                  </p>'
                              executionType:
                                type: string
                                description: <p>The type of execution. For example,
                                  <code>Command</code> is a valid execution type.</p>
                          nonCompliantSummary:
                            description: <p>A list of items that aren't compliant
                              for the resource.</p>
                            type: object
                            properties:
                              nonCompliantCount:
                                type: integer
                                format: int32
                                description: <p>The total number of compliance items
                                  that aren't compliant.</p>
                              severitySummary:
                                description: <p>A summary of the non-compliance severity
                                  by compliance type</p>
                                type: object
                                properties:
                                  criticalCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of <code>Critical</code>. Critical severity
                                      is determined by the organization that published
                                      the compliance items.</p>
                                  highCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of high. High severity is determined by the
                                      organization that published the compliance items.</p>
                                  informationalCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of informational. Informational severity is
                                      determined by the organization that published
                                      the compliance items.</p>
                                  lowCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of low. Low severity is determined by the organization
                                      that published the compliance items.</p>
                                  mediumCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of medium. Medium severity is determined by
                                      the organization that published the compliance
                                      items.</p>
                                  unspecifiedCount:
                                    type: integer
                                    format: int32
                                    description: <p>The total number of resources
                                      or compliance items that have a severity level
                                      of unspecified. Unspecified severity is determined
                                      by the organization that published the compliance
                                      items.</p>
                          overallSeverity:
                            description: <p>The highest severity item found for the
                              resource. The resource is compliant for this item.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - CRITICAL
                                - HIGH
                                - INFORMATIONAL
                                - LOW
                                - MEDIUM
                                - UNSPECIFIED
                                x-ms-enum:
                                  name: ComplianceSeverity
                                  modelAsString: true
                                  values:
                                  - name: CRITICAL
                                    value: CRITICAL
                                    description: ComplianceSeverity enum CRITICAL
                                  - name: HIGH
                                    value: HIGH
                                    description: ComplianceSeverity enum HIGH
                                  - name: INFORMATIONAL
                                    value: INFORMATIONAL
                                    description: ComplianceSeverity enum INFORMATIONAL
                                  - name: LOW
                                    value: LOW
                                    description: ComplianceSeverity enum LOW
                                  - name: MEDIUM
                                    value: MEDIUM
                                    description: ComplianceSeverity enum MEDIUM
                                  - name: UNSPECIFIED
                                    value: UNSPECIFIED
                                    description: ComplianceSeverity enum UNSPECIFIED
                          resourceId:
                            type: string
                            description: <p>The resource ID.</p>
                          resourceType:
                            type: string
                            description: <p>The resource type.</p>
                          status:
                            description: <p>The compliance status for the resource.</p>
                            type: object
                            properties:
                              value:
                                description: Property value
                                type: string
                                enum:
                                - COMPLIANT
                                - NON_COMPLIANT
                                x-ms-enum:
                                  name: ComplianceStatus
                                  modelAsString: true
                                  values:
                                  - name: COMPLIANT
                                    value: COMPLIANT
                                    description: ComplianceStatus enum COMPLIANT
                                  - name: NON_COMPLIANT
                                    value: NON_COMPLIANT
                                    description: ComplianceStatus enum NON_COMPLIANT
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: SsmResourceComplianceSummaryItems_CreateOrReplace
      tags:
      - SsmResourceComplianceSummaryItems
      description: Create a SsmResourceComplianceSummaryItem. Please note that end
        user resource creation is currently restricted, but it will be enabled in
        the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of SsmResourceComplianceSummaryItem
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        complianceType:
                          type: string
                          description: <p>The compliance type.</p>
                        compliantSummary:
                          description: <p>A list of items that are compliant for the
                            resource.</p>
                          type: object
                          properties:
                            compliantCount:
                              type: integer
                              format: int32
                              description: <p>The total number of resources that are
                                compliant.</p>
                            severitySummary:
                              description: <p>A summary of the compliance severity
                                by compliance type.</p>
                              type: object
                              properties:
                                criticalCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    <code>Critical</code>. Critical severity is determined
                                    by the organization that published the compliance
                                    items.</p>
                                highCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    high. High severity is determined by the organization
                                    that published the compliance items.</p>
                                informationalCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    informational. Informational severity is determined
                                    by the organization that published the compliance
                                    items.</p>
                                lowCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    low. Low severity is determined by the organization
                                    that published the compliance items.</p>
                                mediumCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    medium. Medium severity is determined by the organization
                                    that published the compliance items.</p>
                                unspecifiedCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    unspecified. Unspecified severity is determined
                                    by the organization that published the compliance
                                    items.</p>
                        executionSummary:
                          description: <p>Information about the execution.</p>
                          type: object
                          properties:
                            executionId:
                              type: string
                              description: <p>An ID created by the system when <code>PutComplianceItems</code>
                                was called. For example, <code>CommandID</code> is
                                a valid execution ID. You can use this ID in subsequent
                                calls.</p>
                            executionTime:
                              type: string
                              format: date-time
                              description: '<p>The time the execution ran as a datetime
                                object that is saved in the following format: <code>yyyy-MM-dd''T''HH:mm:ss''Z''</code>
                                </p>'
                            executionType:
                              type: string
                              description: <p>The type of execution. For example,
                                <code>Command</code> is a valid execution type.</p>
                        nonCompliantSummary:
                          description: <p>A list of items that aren't compliant for
                            the resource.</p>
                          type: object
                          properties:
                            nonCompliantCount:
                              type: integer
                              format: int32
                              description: <p>The total number of compliance items
                                that aren't compliant.</p>
                            severitySummary:
                              description: <p>A summary of the non-compliance severity
                                by compliance type</p>
                              type: object
                              properties:
                                criticalCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    <code>Critical</code>. Critical severity is determined
                                    by the organization that published the compliance
                                    items.</p>
                                highCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    high. High severity is determined by the organization
                                    that published the compliance items.</p>
                                informationalCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    informational. Informational severity is determined
                                    by the organization that published the compliance
                                    items.</p>
                                lowCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    low. Low severity is determined by the organization
                                    that published the compliance items.</p>
                                mediumCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    medium. Medium severity is determined by the organization
                                    that published the compliance items.</p>
                                unspecifiedCount:
                                  type: integer
                                  format: int32
                                  description: <p>The total number of resources or
                                    compliance items that have a severity level of
                                    unspecified. Unspecified severity is determined
                                    by the organization that published the compliance
                                    items.</p>
                        overallSeverity:
                          description: <p>The highest severity item found for the
                            resource. The resource is compliant for this item.</p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - CRITICAL
                              - HIGH
                              - INFORMATIONAL
                              - LOW
                              - MEDIUM
                              - UNSPECIFIED
                              x-ms-enum:
                                name: ComplianceSeverity
                                modelAsString: true
                                values:
                                - name: CRITICAL
                                  value: CRITICAL
                                  description: ComplianceSeverity enum CRITICAL
                                - name: HIGH
                                  value: HIGH
                                  description: ComplianceSeverity enum HIGH
                                - name: INFORMATIONAL
                                  value: INFORMATIONAL
                                  description: ComplianceSeverity enum INFORMATIONAL
                                - name: LOW
                                  value: LOW
                                  description: ComplianceSeverity enum LOW
                                - name: MEDIUM
                                  value: MEDIUM
                                  description: ComplianceSeverity enum MEDIUM
                                - name: UNSPECIFIED
                                  value: UNSPECIFIED
                                  description: ComplianceSeverity enum UNSPECIFIED
                        resourceId:
                          type: string
                          description: <p>The resource ID.</p>
                        resourceType:
                          type: string
                          description: <p>The resource type.</p>
                        status:
                          description: <p>The compliance status for the resource.</p>
                          type: object
                          properties:
                            value:
                              description: Property value
                              type: string
                              enum:
                              - COMPLIANT
                              - NON_COMPLIANT
                              x-ms-enum:
                                name: ComplianceStatus
                                modelAsString: true
                                values:
                                - name: COMPLIANT
                                  value: COMPLIANT
                                  description: ComplianceStatus enum COMPLIANT
[...]
