openapi: 3.0.0
info:
  title: Microsoft.AwsConnector
  version: 2024-12-01
  description: Microsoft.AwsConnector Resource Provider management API.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Wafv2LoggingConfigurations
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/wafv2LoggingConfigurations:
    get:
      operationId: Wafv2LoggingConfigurations_ListBySubscription
      tags:
      - Wafv2LoggingConfigurations
      description: List Wafv2LoggingConfiguration resources by subscription ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Wafv2LoggingConfiguration list operation.
                properties:
                  value:
                    type: array
                    description: The Wafv2LoggingConfiguration items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                logDestinationConfigs:
                                  type: array
                                  description: The Amazon Resource Names (ARNs) of
                                    the logging destinations that you want to associate
                                    with the web ACL.
                                  items:
                                    type: string
                                loggingFilter:
                                  description: Filtering that specifies which web
                                    requests are kept in the logs and which are dropped.
                                    You can filter on the rule action and on the web
                                    request labels that were applied by matching rules
                                    during web ACL evaluation.
                                  type: object
                                  properties:
                                    defaultBehavior:
                                      description: Default handling for logs that
                                        don't match any of the specified filtering
                                        conditions.
                                      type: string
                                      enum:
                                      - DROP
                                      - KEEP
                                      x-ms-enum:
                                        name: DefaultBehavior
                                        modelAsString: true
                                        values:
                                        - name: DROP
                                          value: DROP
                                          description: DefaultBehavior enum DROP
                                        - name: KEEP
                                          value: KEEP
                                          description: DefaultBehavior enum KEEP
                                    filters:
                                      type: array
                                      description: The filters that you want to apply
                                        to the logs.
                                      items:
                                        type: object
                                        description: Definition of Filter
                                        properties:
                                          behavior:
                                            description: How to handle logs that satisfy
                                              the filter's conditions and requirement.
                                            type: string
                                            enum:
                                            - DROP
                                            - KEEP
                                            x-ms-enum:
                                              name: FilterBehavior
                                              modelAsString: true
                                              values:
                                              - name: DROP
                                                value: DROP
                                                description: FilterBehavior enum DROP
                                              - name: KEEP
                                                value: KEEP
                                                description: FilterBehavior enum KEEP
                                          conditions:
                                            type: array
                                            description: Match conditions for the
                                              filter.
                                            items:
                                              type: object
                                              description: Definition of Condition
                                              properties:
                                                actionCondition:
                                                  description: A single action condition.
                                                  type: object
                                                  properties:
                                                    action:
                                                      description: Logic to apply
                                                        to the filtering conditions.
                                                        You can specify that, in order
                                                        to satisfy the filter, a log
                                                        must match all conditions
                                                        or must match at least one
                                                        condition.
                                                      type: string
                                                      enum:
                                                      - ALLOW
                                                      - BLOCK
                                                      - CAPTCHA
                                                      - CHALLENGE
                                                      - COUNT
                                                      - EXCLUDED_AS_COUNT
                                                      x-ms-enum:
                                                        name: Action
                                                        modelAsString: true
                                                        values:
                                                        - name: ALLOW
                                                          value: ALLOW
                                                          description: Action enum
                                                            ALLOW
                                                        - name: BLOCK
                                                          value: BLOCK
                                                          description: Action enum
                                                            BLOCK
                                                        - name: CAPTCHA
                                                          value: CAPTCHA
                                                          description: Action enum
                                                            CAPTCHA
                                                        - name: CHALLENGE
                                                          value: CHALLENGE
                                                          description: Action enum
                                                            CHALLENGE
                                                        - name: COUNT
                                                          value: COUNT
                                                          description: Action enum
                                                            COUNT
                                                        - name: EXCLUDED_AS_COUNT
                                                          value: EXCLUDED_AS_COUNT
                                                          description: Action enum
                                                            EXCLUDED_AS_COUNT
                                                labelNameCondition:
                                                  description: A single label name
                                                    condition.
                                                  type: object
                                                  properties:
                                                    labelName:
                                                      type: string
                                                      description: The label name
                                                        that a log record must contain
                                                        in order to meet the condition.
                                                        This must be a fully qualified
                                                        label name. Fully qualified
                                                        labels have a prefix, optional
                                                        namespaces, and label name.
                                                        The prefix identifies the
                                                        rule group or web ACL context
                                                        of the rule that added the
                                                        label.
                                            x-ms-identifiers: []
                                          requirement:
                                            description: Logic to apply to the filtering
                                              conditions. You can specify that, in
                                              order to satisfy the filter, a log must
                                              match all conditions or must match at
                                              least one condition.
                                            type: string
                                            enum:
                                            - MEETS_ALL
                                            - MEETS_ANY
                                            x-ms-enum:
                                              name: FilterRequirement
                                              modelAsString: true
                                              values:
                                              - name: MEETS_ALL
                                                value: MEETS_ALL
                                                description: FilterRequirement enum
                                                  MEETS_ALL
                                              - name: MEETS_ANY
                                                value: MEETS_ANY
                                                description: FilterRequirement enum
                                                  MEETS_ANY
                                      x-ms-identifiers: []
                                managedByFirewallManager:
                                  type: boolean
                                  description: Indicates whether the logging configuration
                                    was created by AWS Firewall Manager, as part of
                                    an AWS WAF policy configuration. If true, only
                                    Firewall Manager can modify or delete the configuration.
                                redactedFields:
                                  type: array
                                  description: The parts of the request that you want
                                    to keep out of the logs. For example, if you redact
                                    the HEADER field, the HEADER field in the firehose
                                    will be xxx.
                                  items:
                                    type: object
                                    description: Definition of FieldToMatch
                                    properties:
                                      method:
                                        description: Inspect the HTTP method. The
                                          method indicates the type of operation that
                                          the request is asking the origin to perform.
                                      queryString:
                                        description: Inspect the query string. This
                                          is the part of a URL that appears after
                                          a ? character, if any.
                                      singleHeader:
                                        description: Inspect a single header. Provide
                                          the name of the header to inspect, for example,
                                          User-Agent or Referer. This setting isn't
                                          case sensitive.
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: The name of the query header
                                              to inspect.
                                      uriPath:
                                        description: Inspect the request URI path.
                                          This is the part of a web request that identifies
                                          a resource, for example, /images/daily-ad.jpg.
                                  x-ms-identifiers: []
                                resourceArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    web ACL that you want to associate with LogDestinationConfigs.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/wafv2LoggingConfigurations
  : get:
      operationId: Wafv2LoggingConfigurations_ListByResourceGroup
      tags:
      - Wafv2LoggingConfigurations
      description: List Wafv2LoggingConfiguration resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Wafv2LoggingConfiguration list operation.
                properties:
                  value:
                    type: array
                    description: The Wafv2LoggingConfiguration items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            awsProperties:
                              description: AWS Properties
                              type: object
                              properties:
                                logDestinationConfigs:
                                  type: array
                                  description: The Amazon Resource Names (ARNs) of
                                    the logging destinations that you want to associate
                                    with the web ACL.
                                  items:
                                    type: string
                                loggingFilter:
                                  description: Filtering that specifies which web
                                    requests are kept in the logs and which are dropped.
                                    You can filter on the rule action and on the web
                                    request labels that were applied by matching rules
                                    during web ACL evaluation.
                                  type: object
                                  properties:
                                    defaultBehavior:
                                      description: Default handling for logs that
                                        don't match any of the specified filtering
                                        conditions.
                                      type: string
                                      enum:
                                      - DROP
                                      - KEEP
                                      x-ms-enum:
                                        name: DefaultBehavior
                                        modelAsString: true
                                        values:
                                        - name: DROP
                                          value: DROP
                                          description: DefaultBehavior enum DROP
                                        - name: KEEP
                                          value: KEEP
                                          description: DefaultBehavior enum KEEP
                                    filters:
                                      type: array
                                      description: The filters that you want to apply
                                        to the logs.
                                      items:
                                        type: object
                                        description: Definition of Filter
                                        properties:
                                          behavior:
                                            description: How to handle logs that satisfy
                                              the filter's conditions and requirement.
                                            type: string
                                            enum:
                                            - DROP
                                            - KEEP
                                            x-ms-enum:
                                              name: FilterBehavior
                                              modelAsString: true
                                              values:
                                              - name: DROP
                                                value: DROP
                                                description: FilterBehavior enum DROP
                                              - name: KEEP
                                                value: KEEP
                                                description: FilterBehavior enum KEEP
                                          conditions:
                                            type: array
                                            description: Match conditions for the
                                              filter.
                                            items:
                                              type: object
                                              description: Definition of Condition
                                              properties:
                                                actionCondition:
                                                  description: A single action condition.
                                                  type: object
                                                  properties:
                                                    action:
                                                      description: Logic to apply
                                                        to the filtering conditions.
                                                        You can specify that, in order
                                                        to satisfy the filter, a log
                                                        must match all conditions
                                                        or must match at least one
                                                        condition.
                                                      type: string
                                                      enum:
                                                      - ALLOW
                                                      - BLOCK
                                                      - CAPTCHA
                                                      - CHALLENGE
                                                      - COUNT
                                                      - EXCLUDED_AS_COUNT
                                                      x-ms-enum:
                                                        name: Action
                                                        modelAsString: true
                                                        values:
                                                        - name: ALLOW
                                                          value: ALLOW
                                                          description: Action enum
                                                            ALLOW
                                                        - name: BLOCK
                                                          value: BLOCK
                                                          description: Action enum
                                                            BLOCK
                                                        - name: CAPTCHA
                                                          value: CAPTCHA
                                                          description: Action enum
                                                            CAPTCHA
                                                        - name: CHALLENGE
                                                          value: CHALLENGE
                                                          description: Action enum
                                                            CHALLENGE
                                                        - name: COUNT
                                                          value: COUNT
                                                          description: Action enum
                                                            COUNT
                                                        - name: EXCLUDED_AS_COUNT
                                                          value: EXCLUDED_AS_COUNT
                                                          description: Action enum
                                                            EXCLUDED_AS_COUNT
                                                labelNameCondition:
                                                  description: A single label name
                                                    condition.
                                                  type: object
                                                  properties:
                                                    labelName:
                                                      type: string
                                                      description: The label name
                                                        that a log record must contain
                                                        in order to meet the condition.
                                                        This must be a fully qualified
                                                        label name. Fully qualified
                                                        labels have a prefix, optional
                                                        namespaces, and label name.
                                                        The prefix identifies the
                                                        rule group or web ACL context
                                                        of the rule that added the
                                                        label.
                                            x-ms-identifiers: []
                                          requirement:
                                            description: Logic to apply to the filtering
                                              conditions. You can specify that, in
                                              order to satisfy the filter, a log must
                                              match all conditions or must match at
                                              least one condition.
                                            type: string
                                            enum:
                                            - MEETS_ALL
                                            - MEETS_ANY
                                            x-ms-enum:
                                              name: FilterRequirement
                                              modelAsString: true
                                              values:
                                              - name: MEETS_ALL
                                                value: MEETS_ALL
                                                description: FilterRequirement enum
                                                  MEETS_ALL
                                              - name: MEETS_ANY
                                                value: MEETS_ANY
                                                description: FilterRequirement enum
                                                  MEETS_ANY
                                      x-ms-identifiers: []
                                managedByFirewallManager:
                                  type: boolean
                                  description: Indicates whether the logging configuration
                                    was created by AWS Firewall Manager, as part of
                                    an AWS WAF policy configuration. If true, only
                                    Firewall Manager can modify or delete the configuration.
                                redactedFields:
                                  type: array
                                  description: The parts of the request that you want
                                    to keep out of the logs. For example, if you redact
                                    the HEADER field, the HEADER field in the firehose
                                    will be xxx.
                                  items:
                                    type: object
                                    description: Definition of FieldToMatch
                                    properties:
                                      method:
                                        description: Inspect the HTTP method. The
                                          method indicates the type of operation that
                                          the request is asking the origin to perform.
                                      queryString:
                                        description: Inspect the query string. This
                                          is the part of a URL that appears after
                                          a ? character, if any.
                                      singleHeader:
                                        description: Inspect a single header. Provide
                                          the name of the header to inspect, for example,
                                          User-Agent or Referer. This setting isn't
                                          case sensitive.
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: The name of the query header
                                              to inspect.
                                      uriPath:
                                        description: Inspect the request URI path.
                                          This is the part of a web request that identifies
                                          a resource, for example, /images/daily-ad.jpg.
                                  x-ms-identifiers: []
                                resourceArn:
                                  type: string
                                  description: The Amazon Resource Name (ARN) of the
                                    web ACL that you want to associate with LogDestinationConfigs.
                            publicCloudConnectorsResourceId:
                              type: string
                              description: Public Cloud Connectors Resource ID
                            awsAccountId:
                              type: string
                              description: AWS Account ID
                            arn:
                              type: string
                              description: Amazon Resource Name (ARN)
                            publicCloudResourceName:
                              type: string
                              description: Public Cloud Resource Name
                            awsSourceSchema:
                              type: string
                              description: AWS Source Schema
                            awsRegion:
                              type: string
                              description: AWS Region
                            awsTags:
                              type: object
                              description: AWS Tags
                              additionalProperties:
                                type: string
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/wafv2LoggingConfigurations/{name}
  : get:
      operationId: Wafv2LoggingConfigurations_Get
      tags:
      - Wafv2LoggingConfigurations
      description: Get a Wafv2LoggingConfiguration
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Wafv2LoggingConfiguration
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      awsProperties:
                        description: AWS Properties
                        type: object
                        properties:
                          logDestinationConfigs:
                            type: array
                            description: The Amazon Resource Names (ARNs) of the logging
                              destinations that you want to associate with the web
                              ACL.
                            items:
                              type: string
                          loggingFilter:
                            description: Filtering that specifies which web requests
                              are kept in the logs and which are dropped. You can
                              filter on the rule action and on the web request labels
                              that were applied by matching rules during web ACL evaluation.
                            type: object
                            properties:
                              defaultBehavior:
                                description: Default handling for logs that don't
                                  match any of the specified filtering conditions.
                                type: string
                                enum:
                                - DROP
                                - KEEP
                                x-ms-enum:
                                  name: DefaultBehavior
                                  modelAsString: true
                                  values:
                                  - name: DROP
                                    value: DROP
                                    description: DefaultBehavior enum DROP
                                  - name: KEEP
                                    value: KEEP
                                    description: DefaultBehavior enum KEEP
                              filters:
                                type: array
                                description: The filters that you want to apply to
                                  the logs.
                                items:
                                  type: object
                                  description: Definition of Filter
                                  properties:
                                    behavior:
                                      description: How to handle logs that satisfy
                                        the filter's conditions and requirement.
                                      type: string
                                      enum:
                                      - DROP
                                      - KEEP
                                      x-ms-enum:
                                        name: FilterBehavior
                                        modelAsString: true
                                        values:
                                        - name: DROP
                                          value: DROP
                                          description: FilterBehavior enum DROP
                                        - name: KEEP
                                          value: KEEP
                                          description: FilterBehavior enum KEEP
                                    conditions:
                                      type: array
                                      description: Match conditions for the filter.
                                      items:
                                        type: object
                                        description: Definition of Condition
                                        properties:
                                          actionCondition:
                                            description: A single action condition.
                                            type: object
                                            properties:
                                              action:
                                                description: Logic to apply to the
                                                  filtering conditions. You can specify
                                                  that, in order to satisfy the filter,
                                                  a log must match all conditions
                                                  or must match at least one condition.
                                                type: string
                                                enum:
                                                - ALLOW
                                                - BLOCK
                                                - CAPTCHA
                                                - CHALLENGE
                                                - COUNT
                                                - EXCLUDED_AS_COUNT
                                                x-ms-enum:
                                                  name: Action
                                                  modelAsString: true
                                                  values:
                                                  - name: ALLOW
                                                    value: ALLOW
                                                    description: Action enum ALLOW
                                                  - name: BLOCK
                                                    value: BLOCK
                                                    description: Action enum BLOCK
                                                  - name: CAPTCHA
                                                    value: CAPTCHA
                                                    description: Action enum CAPTCHA
                                                  - name: CHALLENGE
                                                    value: CHALLENGE
                                                    description: Action enum CHALLENGE
                                                  - name: COUNT
                                                    value: COUNT
                                                    description: Action enum COUNT
                                                  - name: EXCLUDED_AS_COUNT
                                                    value: EXCLUDED_AS_COUNT
                                                    description: Action enum EXCLUDED_AS_COUNT
                                          labelNameCondition:
                                            description: A single label name condition.
                                            type: object
                                            properties:
                                              labelName:
                                                type: string
                                                description: The label name that a
                                                  log record must contain in order
                                                  to meet the condition. This must
                                                  be a fully qualified label name.
                                                  Fully qualified labels have a prefix,
                                                  optional namespaces, and label name.
                                                  The prefix identifies the rule group
                                                  or web ACL context of the rule that
                                                  added the label.
                                      x-ms-identifiers: []
                                    requirement:
                                      description: Logic to apply to the filtering
                                        conditions. You can specify that, in order
                                        to satisfy the filter, a log must match all
                                        conditions or must match at least one condition.
                                      type: string
                                      enum:
                                      - MEETS_ALL
                                      - MEETS_ANY
                                      x-ms-enum:
                                        name: FilterRequirement
                                        modelAsString: true
                                        values:
                                        - name: MEETS_ALL
                                          value: MEETS_ALL
                                          description: FilterRequirement enum MEETS_ALL
                                        - name: MEETS_ANY
                                          value: MEETS_ANY
                                          description: FilterRequirement enum MEETS_ANY
                                x-ms-identifiers: []
                          managedByFirewallManager:
                            type: boolean
                            description: Indicates whether the logging configuration
                              was created by AWS Firewall Manager, as part of an AWS
                              WAF policy configuration. If true, only Firewall Manager
                              can modify or delete the configuration.
                          redactedFields:
                            type: array
                            description: The parts of the request that you want to
                              keep out of the logs. For example, if you redact the
                              HEADER field, the HEADER field in the firehose will
                              be xxx.
                            items:
                              type: object
                              description: Definition of FieldToMatch
                              properties:
                                method:
                                  description: Inspect the HTTP method. The method
                                    indicates the type of operation that the request
                                    is asking the origin to perform.
                                queryString:
                                  description: Inspect the query string. This is the
                                    part of a URL that appears after a ? character,
                                    if any.
                                singleHeader:
                                  description: Inspect a single header. Provide the
                                    name of the header to inspect, for example, User-Agent
                                    or Referer. This setting isn't case sensitive.
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the query header to
                                        inspect.
                                uriPath:
                                  description: Inspect the request URI path. This
                                    is the part of a web request that identifies a
                                    resource, for example, /images/daily-ad.jpg.
                            x-ms-identifiers: []
                          resourceArn:
                            type: string
                            description: The Amazon Resource Name (ARN) of the web
                              ACL that you want to associate with LogDestinationConfigs.
                      publicCloudConnectorsResourceId:
                        type: string
                        description: Public Cloud Connectors Resource ID
                      awsAccountId:
                        type: string
                        description: AWS Account ID
                      arn:
                        type: string
                        description: Amazon Resource Name (ARN)
                      publicCloudResourceName:
                        type: string
                        description: Public Cloud Resource Name
                      awsSourceSchema:
                        type: string
                        description: AWS Source Schema
                      awsRegion:
                        type: string
                        description: AWS Region
                      awsTags:
                        type: object
                        description: AWS Tags
                        additionalProperties:
                          type: string
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Wafv2LoggingConfigurations_CreateOrReplace
      tags:
      - Wafv2LoggingConfigurations
      description: Create a Wafv2LoggingConfiguration. Please note that end user resource
        creation is currently restricted, but it will be enabled in the future.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: name
        in: path
        description: Name of Wafv2LoggingConfiguration
        required: true
        schema:
          type: string
          pattern: ^(?=.{0,259}[^\s.]$)(?!.*[<>%&\?/#])
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    awsProperties:
                      description: AWS Properties
                      type: object
                      properties:
                        logDestinationConfigs:
                          type: array
                          description: The Amazon Resource Names (ARNs) of the logging
                            destinations that you want to associate with the web ACL.
                          items:
                            type: string
                        loggingFilter:
                          description: Filtering that specifies which web requests
                            are kept in the logs and which are dropped. You can filter
                            on the rule action and on the web request labels that
                            were applied by matching rules during web ACL evaluation.
                          type: object
                          properties:
                            defaultBehavior:
                              description: Default handling for logs that don't match
                                any of the specified filtering conditions.
                              type: string
                              enum:
                              - DROP
                              - KEEP
                              x-ms-enum:
                                name: DefaultBehavior
                                modelAsString: true
                                values:
                                - name: DROP
                                  value: DROP
                                  description: DefaultBehavior enum DROP
                                - name: KEEP
                                  value: KEEP
                                  description: DefaultBehavior enum KEEP
                            filters:
                              type: array
                              description: The filters that you want to apply to the
                                logs.
                              items:
                                type: object
                                description: Definition of Filter
                                properties:
                                  behavior:
                                    description: How to handle logs that satisfy the
                                      filter's conditions and requirement.
                                    type: string
                                    enum:
                                    - DROP
                                    - KEEP
                                    x-ms-enum:
                                      name: FilterBehavior
                                      modelAsString: true
                                      values:
                                      - name: DROP
                                        value: DROP
                                        description: FilterBehavior enum DROP
                                      - name: KEEP
                                        value: KEEP
                                        description: FilterBehavior enum KEEP
                                  conditions:
                                    type: array
                                    description: Match conditions for the filter.
                                    items:
                                      type: object
                                      description: Definition of Condition
                                      properties:
                                        actionCondition:
                                          description: A single action condition.
                                          type: object
                                          properties:
                                            action:
                                              description: Logic to apply to the filtering
                                                conditions. You can specify that,
                                                in order to satisfy the filter, a
                                                log must match all conditions or must
                                                match at least one condition.
                                              type: string
                                              enum:
                                              - ALLOW
                                              - BLOCK
                                              - CAPTCHA
                                              - CHALLENGE
                                              - COUNT
                                              - EXCLUDED_AS_COUNT
                                              x-ms-enum:
                                                name: Action
                                                modelAsString: true
                                                values:
                                                - name: ALLOW
                                                  value: ALLOW
                                                  description: Action enum ALLOW
                                                - name: BLOCK
                                                  value: BLOCK
                                                  description: Action enum BLOCK
                                                - name: CAPTCHA
                                                  value: CAPTCHA
                                                  description: Action enum CAPTCHA
                                                - name: CHALLENGE
                                                  value: CHALLENGE
                                                  description: Action enum CHALLENGE
                                                - name: COUNT
                                                  value: COUNT
                                                  description: Action enum COUNT
                                                - name: EXCLUDED_AS_COUNT
                                                  value: EXCLUDED_AS_COUNT
                                                  description: Action enum EXCLUDED_AS_COUNT
                                        labelNameCondition:
                                          description: A single label name condition.
                                          type: object
                                          properties:
                                            labelName:
                                              type: string
                                              description: The label name that a log
                                                record must contain in order to meet
                                                the condition. This must be a fully
                                                qualified label name. Fully qualified
                                                labels have a prefix, optional namespaces,
                                                and label name. The prefix identifies
                                                the rule group or web ACL context
                                                of the rule that added the label.
                                    x-ms-identifiers: []
                                  requirement:
                                    description: Logic to apply to the filtering conditions.
                                      You can specify that, in order to satisfy the
                                      filter, a log must match all conditions or must
                                      match at least one condition.
                                    type: string
                                    enum:
                                    - MEETS_ALL
                                    - MEETS_ANY
                                    x-ms-enum:
                                      name: FilterRequirement
                                      modelAsString: true
                                      values:
                                      - name: MEETS_ALL
                                        value: MEETS_ALL
                                        description: FilterRequirement enum MEETS_ALL
                                      - name: MEETS_ANY
                                        value: MEETS_ANY
                                        description: FilterRequirement enum MEETS_ANY
                              x-ms-identifiers: []
                        managedByFirewallManager:
                          type: boolean
                          description: Indicates whether the logging configuration
                            was created by AWS Firewall Manager, as part of an AWS
                            WAF policy configuration. If true, only Firewall Manager
                            can modify or delete the configuration.
                        redactedFields:
                          type: array
                          description: The parts of the request that you want to keep
                            out of the logs. For example, if you redact the HEADER
                            field, the HEADER field in the firehose will be xxx.
                          items:
                            type: object
                            description: Definition of FieldToMatch
                            properties:
                              method:
                                description: Inspect the HTTP method. The method indicates
                                  the type of operation that the request is asking
                                  the origin to perform.
                              queryString:
                                description: Inspect the query string. This is the
                                  part of a URL that appears after a ? character,
                                  if any.
                              singleHeader:
                                description: Inspect a single header. Provide the
                                  name of the header to inspect, for example, User-Agent
                                  or Referer. This setting isn't case sensitive.
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the query header to inspect.
                              uriPath:
                                description: Inspect the request URI path. This is
                                  the part of a web request that identifies a resource,
                                  for example, /images/daily-ad.jpg.
                          x-ms-identifiers: []
                        resourceArn:
                          type: string
                          description: The Amazon Resource Name (ARN) of the web ACL
                            that you want to associate with LogDestinationConfigs.
                    publicCloudConnectorsResourceId:
                      type: string
                      description: Public Cloud Connectors Resource ID
                    awsAccountId:
                      type: string
                      description: AWS Account ID
                    arn:
                      type: string
                      description: Amazon Resource Name (ARN)
                    publicCloudResourceName:
                      type: string
                      description: Public Cloud Resource Name
                    awsSourceSchema:
                      type: string
                      description: AWS Source Schema
                    awsRegion:
                      type: string
                      description: AWS Region
                    awsTags:
                      type: object
                      description: AWS Tags
                      additionalProperties:
                        type: string
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'Wafv2LoggingConfiguration' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
[...]
