openapi: 3.0.0
info:
  version: 2024-04-01
  title: DomainRegistrationProvider API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DomainRegistration/operations:
    get:
      tags:
      - DomainRegistrationProvider
      summary: Implements Csm operations Api to exposes the list of available Csm
        Apis under the resource provider
      description: Description for Implements Csm operations Api to exposes the list
        of available Csm Apis under the resource provider
      operationId: DomainRegistrationProvider_ListOperations
      parameters:
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Azure resource manager operation metadata.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      description: Description of an operation available for Microsoft.Web
                        resource provider.
                      type: object
                      properties:
                        name:
                          type: string
                        isDataAction:
                          type: boolean
                        display:
                          description: Meta data about operation used for display
                            in portal.
                          type: object
                          properties:
                            provider:
                              type: string
                            resource:
                              type: string
                            operation:
                              type: string
                            description:
                              type: string
                        origin:
                          type: string
                        properties:
                          description: Properties available for a Microsoft.Web resource
                            provider operation.
                          type: object
                          properties:
                            serviceSpecification:
                              description: Resource metrics service provided by Microsoft.Insights
                                resource provider.
                              type: object
                              properties:
                                metricSpecifications:
                                  type: array
                                  items:
                                    description: Definition of a single resource metric.
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      displayName:
                                        type: string
                                      displayDescription:
                                        type: string
                                      unit:
                                        type: string
                                      aggregationType:
                                        type: string
                                      supportsInstanceLevelAggregation:
                                        type: boolean
                                      enableRegionalMdmAccount:
                                        type: boolean
                                      sourceMdmAccount:
                                        type: string
                                      sourceMdmNamespace:
                                        type: string
                                      metricFilterPattern:
                                        type: string
                                      fillGapWithZero:
                                        type: boolean
                                      isInternal:
                                        type: boolean
                                      dimensions:
                                        type: array
                                        items:
                                          description: "Dimension of a resource metric.\
                                            \ For e.g. instance specific HTTP requests\
                                            \ for a web app, \nwhere instance name\
                                            \ is dimension of the metric HTTP request"
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                            displayName:
                                              type: string
                                            internalName:
                                              type: string
                                            toBeExportedForShoebox:
                                              type: boolean
                                        x-ms-identifiers:
                                        - name
                                      category:
                                        type: string
                                      availabilities:
                                        type: array
                                        items:
                                          description: Retention policy of a resource
                                            metric.
                                          type: object
                                          properties:
                                            timeGrain:
                                              type: string
                                            blobDuration:
                                              type: string
                                        x-ms-identifiers: []
                                      supportedTimeGrainTypes:
                                        type: array
                                        items:
                                          type: string
                                      supportedAggregationTypes:
                                        type: array
                                        items:
                                          type: string
                                  x-ms-identifiers:
                                  - name
                                logSpecifications:
                                  type: array
                                  items:
                                    description: Log Definition of a single resource
                                      metric.
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      displayName:
                                        type: string
                                      blobDuration:
                                        type: string
                                      logFilterPattern:
                                        type: string
                                  x-ms-identifiers:
                                  - name
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers: []
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    CsmOperationDisplay:
      description: Meta data about operation used for display in portal.
      type: object
      properties:
        provider:
          type: string
        resource:
          type: string
        operation:
          type: string
        description:
          type: string
    Dimension:
      description: "Dimension of a resource metric. For e.g. instance specific HTTP\
        \ requests for a web app, \nwhere instance name is dimension of the metric\
        \ HTTP request"
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        internalName:
          type: string
        toBeExportedForShoebox:
          type: boolean
    MetricAvailability:
      description: Retention policy of a resource metric.
      type: object
      properties:
        timeGrain:
          type: string
        blobDuration:
          type: string
    MetricSpecification:
      description: Definition of a single resource metric.
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        displayDescription:
          type: string
        unit:
          type: string
        aggregationType:
          type: string
        supportsInstanceLevelAggregation:
          type: boolean
        enableRegionalMdmAccount:
          type: boolean
        sourceMdmAccount:
          type: string
        sourceMdmNamespace:
          type: string
        metricFilterPattern:
          type: string
        fillGapWithZero:
          type: boolean
        isInternal:
          type: boolean
        dimensions:
          type: array
          items:
            description: "Dimension of a resource metric. For e.g. instance specific\
              \ HTTP requests for a web app, \nwhere instance name is dimension of\
              \ the metric HTTP request"
            type: object
            properties:
              name:
                type: string
              displayName:
                type: string
              internalName:
                type: string
              toBeExportedForShoebox:
                type: boolean
          x-ms-identifiers:
          - name
        category:
          type: string
        availabilities:
          type: array
          items:
            description: Retention policy of a resource metric.
            type: object
            properties:
              timeGrain:
                type: string
              blobDuration:
                type: string
          x-ms-identifiers: []
        supportedTimeGrainTypes:
          type: array
          items:
            type: string
        supportedAggregationTypes:
          type: array
          items:
            type: string
    LogSpecification:
      description: Log Definition of a single resource metric.
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        blobDuration:
          type: string
        logFilterPattern:
          type: string
    ServiceSpecification:
      description: Resource metrics service provided by Microsoft.Insights resource
        provider.
      type: object
      properties:
        metricSpecifications:
          type: array
          items:
            description: Definition of a single resource metric.
            type: object
            properties:
              name:
                type: string
              displayName:
                type: string
              displayDescription:
                type: string
              unit:
                type: string
              aggregationType:
                type: string
              supportsInstanceLevelAggregation:
                type: boolean
              enableRegionalMdmAccount:
                type: boolean
              sourceMdmAccount:
                type: string
              sourceMdmNamespace:
                type: string
              metricFilterPattern:
                type: string
              fillGapWithZero:
                type: boolean
              isInternal:
                type: boolean
              dimensions:
                type: array
                items:
                  description: "Dimension of a resource metric. For e.g. instance\
                    \ specific HTTP requests for a web app, \nwhere instance name\
                    \ is dimension of the metric HTTP request"
                  type: object
                  properties:
                    name:
                      type: string
                    displayName:
                      type: string
                    internalName:
                      type: string
                    toBeExportedForShoebox:
                      type: boolean
                x-ms-identifiers:
                - name
              category:
                type: string
              availabilities:
                type: array
                items:
                  description: Retention policy of a resource metric.
                  type: object
                  properties:
                    timeGrain:
                      type: string
                    blobDuration:
                      type: string
                x-ms-identifiers: []
              supportedTimeGrainTypes:
                type: array
                items:
                  type: string
              supportedAggregationTypes:
                type: array
                items:
                  type: string
          x-ms-identifiers:
          - name
        logSpecifications:
          type: array
          items:
            description: Log Definition of a single resource metric.
            type: object
            properties:
              name:
                type: string
              displayName:
                type: string
              blobDuration:
                type: string
              logFilterPattern:
                type: string
          x-ms-identifiers:
          - name
    CsmOperationDescriptionProperties:
      description: Properties available for a Microsoft.Web resource provider operation.
      type: object
      properties:
        serviceSpecification:
          description: Resource metrics service provided by Microsoft.Insights resource
            provider.
          type: object
          properties:
            metricSpecifications:
              type: array
              items:
                description: Definition of a single resource metric.
                type: object
                properties:
                  name:
                    type: string
                  displayName:
                    type: string
                  displayDescription:
                    type: string
                  unit:
                    type: string
                  aggregationType:
                    type: string
                  supportsInstanceLevelAggregation:
                    type: boolean
                  enableRegionalMdmAccount:
                    type: boolean
                  sourceMdmAccount:
                    type: string
                  sourceMdmNamespace:
                    type: string
                  metricFilterPattern:
                    type: string
                  fillGapWithZero:
                    type: boolean
                  isInternal:
                    type: boolean
                  dimensions:
                    type: array
                    items:
                      description: "Dimension of a resource metric. For e.g. instance\
                        \ specific HTTP requests for a web app, \nwhere instance name\
                        \ is dimension of the metric HTTP request"
                      type: object
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        internalName:
                          type: string
                        toBeExportedForShoebox:
                          type: boolean
                    x-ms-identifiers:
                    - name
                  category:
                    type: string
                  availabilities:
                    type: array
                    items:
                      description: Retention policy of a resource metric.
                      type: object
                      properties:
                        timeGrain:
                          type: string
                        blobDuration:
                          type: string
                    x-ms-identifiers: []
                  supportedTimeGrainTypes:
                    type: array
                    items:
                      type: string
                  supportedAggregationTypes:
                    type: array
                    items:
                      type: string
              x-ms-identifiers:
              - name
            logSpecifications:
              type: array
              items:
                description: Log Definition of a single resource metric.
                type: object
                properties:
                  name:
                    type: string
                  displayName:
                    type: string
                  blobDuration:
                    type: string
                  logFilterPattern:
                    type: string
              x-ms-identifiers:
              - name
    CsmOperationDescription:
      description: Description of an operation available for Microsoft.Web resource
        provider.
      type: object
      properties:
        name:
          type: string
        isDataAction:
          type: boolean
        display:
          description: Meta data about operation used for display in portal.
          type: object
          properties:
            provider:
              type: string
            resource:
              type: string
            operation:
              type: string
            description:
              type: string
        origin:
          type: string
        properties:
          description: Properties available for a Microsoft.Web resource provider
            operation.
          type: object
          properties:
            serviceSpecification:
              description: Resource metrics service provided by Microsoft.Insights
                resource provider.
              type: object
              properties:
                metricSpecifications:
                  type: array
                  items:
                    description: Definition of a single resource metric.
                    type: object
                    properties:
                      name:
                        type: string
                      displayName:
                        type: string
                      displayDescription:
                        type: string
                      unit:
                        type: string
                      aggregationType:
                        type: string
                      supportsInstanceLevelAggregation:
                        type: boolean
                      enableRegionalMdmAccount:
                        type: boolean
                      sourceMdmAccount:
                        type: string
                      sourceMdmNamespace:
                        type: string
                      metricFilterPattern:
                        type: string
                      fillGapWithZero:
                        type: boolean
                      isInternal:
                        type: boolean
                      dimensions:
                        type: array
                        items:
                          description: "Dimension of a resource metric. For e.g. instance\
                            \ specific HTTP requests for a web app, \nwhere instance\
                            \ name is dimension of the metric HTTP request"
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            internalName:
                              type: string
                            toBeExportedForShoebox:
                              type: boolean
                        x-ms-identifiers:
                        - name
                      category:
                        type: string
                      availabilities:
                        type: array
                        items:
                          description: Retention policy of a resource metric.
                          type: object
                          properties:
                            timeGrain:
                              type: string
                            blobDuration:
                              type: string
                        x-ms-identifiers: []
                      supportedTimeGrainTypes:
                        type: array
                        items:
                          type: string
                      supportedAggregationTypes:
                        type: array
                        items:
                          type: string
                  x-ms-identifiers:
                  - name
                logSpecifications:
                  type: array
                  items:
                    description: Log Definition of a single resource metric.
                    type: object
                    properties:
                      name:
                        type: string
                      displayName:
                        type: string
                      blobDuration:
                        type: string
                      logFilterPattern:
                        type: string
                  x-ms-identifiers:
                  - name
    CsmOperationCollection:
      description: Collection of Azure resource manager operation metadata.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            description: Description of an operation available for Microsoft.Web resource
              provider.
            type: object
            properties:
              name:
                type: string
              isDataAction:
                type: boolean
              display:
                description: Meta data about operation used for display in portal.
                type: object
                properties:
                  provider:
                    type: string
                  resource:
                    type: string
                  operation:
                    type: string
                  description:
                    type: string
              origin:
                type: string
              properties:
                description: Properties available for a Microsoft.Web resource provider
                  operation.
                type: object
                properties:
                  serviceSpecification:
                    description: Resource metrics service provided by Microsoft.Insights
                      resource provider.
                    type: object
                    properties:
                      metricSpecifications:
                        type: array
                        items:
                          description: Definition of a single resource metric.
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            displayDescription:
                              type: string
                            unit:
                              type: string
                            aggregationType:
                              type: string
                            supportsInstanceLevelAggregation:
                              type: boolean
                            enableRegionalMdmAccount:
                              type: boolean
                            sourceMdmAccount:
                              type: string
                            sourceMdmNamespace:
                              type: string
                            metricFilterPattern:
                              type: string
                            fillGapWithZero:
                              type: boolean
                            isInternal:
                              type: boolean
                            dimensions:
                              type: array
                              items:
                                description: "Dimension of a resource metric. For\
                                  \ e.g. instance specific HTTP requests for a web\
                                  \ app, \nwhere instance name is dimension of the\
                                  \ metric HTTP request"
                                type: object
                                properties:
                                  name:
                                    type: string
                                  displayName:
                                    type: string
                                  internalName:
                                    type: string
                                  toBeExportedForShoebox:
                                    type: boolean
                              x-ms-identifiers:
                              - name
                            category:
                              type: string
                            availabilities:
                              type: array
                              items:
                                description: Retention policy of a resource metric.
                                type: object
                                properties:
                                  timeGrain:
                                    type: string
                                  blobDuration:
                                    type: string
                              x-ms-identifiers: []
                            supportedTimeGrainTypes:
                              type: array
                              items:
                                type: string
                            supportedAggregationTypes:
                              type: array
                              items:
                                type: string
                        x-ms-identifiers:
                        - name
                      logSpecifications:
                        type: array
                        items:
                          description: Log Definition of a single resource metric.
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            blobDuration:
                              type: string
                            logFilterPattern:
                              type: string
                        x-ms-identifiers:
                        - name
          x-ms-identifiers:
          - name
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
