openapi: 3.0.0
info:
  version: 2024-04-01
  title: TopLevelDomains API Client
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains:
    get:
      tags:
      - TopLevelDomains
      summary: Get all top-level domains supported for registration.
      description: Description for Get all top-level domains supported for registration.
      operationId: TopLevelDomains_List
      parameters:
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of Top-level domains.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        kind:
                          description: Kind of resource.
                          type: string
                        type:
                          description: Resource type.
                          type: string
                          readOnly: true
                        properties:
                          description: TopLevelDomain resource specific properties
                          type: object
                          properties:
                            privacy:
                              description: If <code>true</code>, then the top level
                                domain supports domain privacy; otherwise, <code>false</code>.
                              type: boolean
                          x-ms-client-flatten: true
                      description: Azure proxy only resource. This resource is not
                        tracked by Azure Resource Manager.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}:
    get:
      tags:
      - TopLevelDomains
      summary: Get details of a top-level domain.
      description: Description for Get details of a top-level domain.
      operationId: TopLevelDomains_Get
      parameters:
      - name: name
        in: path
        description: Name of the top-level domain.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  kind:
                    description: Kind of resource.
                    type: string
                  type:
                    description: Resource type.
                    type: string
                    readOnly: true
                  properties:
                    description: TopLevelDomain resource specific properties
                    type: object
                    properties:
                      privacy:
                        description: If <code>true</code>, then the top level domain
                          supports domain privacy; otherwise, <code>false</code>.
                        type: boolean
                    x-ms-client-flatten: true
                description: Azure proxy only resource. This resource is not tracked
                  by Azure Resource Manager.
                x-ms-azure-resource: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements:
    post:
      tags:
      - TopLevelDomains
      summary: Gets all legal agreements that user needs to accept before purchasing
        a domain.
      description: Description for Gets all legal agreements that user needs to accept
        before purchasing a domain.
      operationId: TopLevelDomains_ListAgreements
      parameters:
      - name: name
        in: path
        description: Name of the top-level domain.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: API Version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Options for retrieving the list of top level domain legal
                agreements.
              type: object
              properties:
                includePrivacy:
                  description: If <code>true</code>, then the list of agreements will
                    include agreements for domain privacy as well; otherwise, <code>false</code>.
                  type: boolean
                forTransfer:
                  description: If <code>true</code>, then the list of agreements will
                    include agreements for domain transfer as well; otherwise, <code>false</code>.
                  type: boolean
        description: Domain agreement options.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of top-level domain legal agreements.
                required:
                - value
                type: object
                properties:
                  value:
                    description: Collection of resources.
                    type: array
                    items:
                      description: Legal agreement for a top level domain.
                      required:
                      - agreementKey
                      - title
                      - content
                      type: object
                      properties:
                        agreementKey:
                          description: Unique identifier for the agreement.
                          type: string
                        title:
                          description: Agreement title.
                          type: string
                        content:
                          description: Agreement details.
                          type: string
                        url:
                          description: URL where a copy of the agreement details is
                            hosted.
                          type: string
                    x-ms-identifiers:
                    - agreementKey
                  nextLink:
                    description: Link to next page of resources.
                    type: string
                    readOnly: true
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                type: object
                properties:
                  error:
                    description: Error model.
                    type: object
                    properties:
                      code:
                        description: Standardized string to programmatically identify
                          the error.
                        type: string
                        readOnly: true
                      message:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      target:
                        description: Detailed error description and debugging information.
                        type: string
                        readOnly: true
                      details:
                        type: array
                        items:
                          description: Detailed errors.
                          type: object
                          properties:
                            code:
                              description: Standardized string to programmatically
                                identify the error.
                              type: string
                              readOnly: true
                            message:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                            target:
                              description: Detailed error description and debugging
                                information.
                              type: string
                              readOnly: true
                          readOnly: true
                        x-ms-identifiers: []
                      innererror:
                        description: More information to debug error.
                        type: string
                        readOnly: true
                    readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      description: API Version
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    TldLegalAgreement:
      description: Legal agreement for a top level domain.
      required:
      - agreementKey
      - title
      - content
      type: object
      properties:
        agreementKey:
          description: Unique identifier for the agreement.
          type: string
        title:
          description: Agreement title.
          type: string
        content:
          description: Agreement details.
          type: string
        url:
          description: URL where a copy of the agreement details is hosted.
          type: string
    TldLegalAgreementCollection:
      description: Collection of top-level domain legal agreements.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            description: Legal agreement for a top level domain.
            required:
            - agreementKey
            - title
            - content
            type: object
            properties:
              agreementKey:
                description: Unique identifier for the agreement.
                type: string
              title:
                description: Agreement title.
                type: string
              content:
                description: Agreement details.
                type: string
              url:
                description: URL where a copy of the agreement details is hosted.
                type: string
          x-ms-identifiers:
          - agreementKey
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    TopLevelDomain:
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
        properties:
          description: TopLevelDomain resource specific properties
          type: object
          properties:
            privacy:
              description: If <code>true</code>, then the top level domain supports
                domain privacy; otherwise, <code>false</code>.
              type: boolean
          x-ms-client-flatten: true
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      x-ms-azure-resource: true
    TopLevelDomainAgreementOption:
      description: Options for retrieving the list of top level domain legal agreements.
      type: object
      properties:
        includePrivacy:
          description: If <code>true</code>, then the list of agreements will include
            agreements for domain privacy as well; otherwise, <code>false</code>.
          type: boolean
        forTransfer:
          description: If <code>true</code>, then the list of agreements will include
            agreements for domain transfer as well; otherwise, <code>false</code>.
          type: boolean
    TopLevelDomainCollection:
      description: Collection of Top-level domains.
      required:
      - value
      type: object
      properties:
        value:
          description: Collection of resources.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource Id.
                type: string
                readOnly: true
              name:
                description: Resource Name.
                type: string
                readOnly: true
              kind:
                description: Kind of resource.
                type: string
              type:
                description: Resource type.
                type: string
                readOnly: true
              properties:
                description: TopLevelDomain resource specific properties
                type: object
                properties:
                  privacy:
                    description: If <code>true</code>, then the top level domain supports
                      domain privacy; otherwise, <code>false</code>.
                    type: boolean
                x-ms-client-flatten: true
            description: Azure proxy only resource. This resource is not tracked by
              Azure Resource Manager.
            x-ms-azure-resource: true
        nextLink:
          description: Link to next page of resources.
          type: string
          readOnly: true
    DefaultErrorResponse:
      description: App Service error response.
      type: object
      properties:
        error:
          description: Error model.
          type: object
          properties:
            code:
              description: Standardized string to programmatically identify the error.
              type: string
              readOnly: true
            message:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            target:
              description: Detailed error description and debugging information.
              type: string
              readOnly: true
            details:
              type: array
              items:
                description: Detailed errors.
                type: object
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    type: string
                    readOnly: true
                  message:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                  target:
                    description: Detailed error description and debugging information.
                    type: string
                    readOnly: true
                readOnly: true
              x-ms-identifiers: []
            innererror:
              description: More information to debug error.
              type: string
              readOnly: true
          readOnly: true
    ProxyOnlyResource:
      description: Azure proxy only resource. This resource is not tracked by Azure
        Resource Manager.
      type: object
      properties:
        id:
          description: Resource Id.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        kind:
          description: Kind of resource.
          type: string
        type:
          description: Resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
