openapi: 3.0.0
info:
  title: Informatica.DataManagement
  version: 2024-05-08
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: Organizations
- name: ServerlessRuntimes
paths:
  /providers/Informatica.DataManagement/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Informatica.DataManagement/organizations:
    get:
      operationId: Organizations_ListBySubscription
      tags:
      - Organizations
      description: List InformaticaOrganizationResource resources by subscription
        ID
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a InformaticaOrganizationResource list
                  operation.
                properties:
                  value:
                    type: array
                    description: The InformaticaOrganizationResource items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning State of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Accepted
                                  value: Accepted
                                  description: Organization resource creation request
                                    accepted
                                - name: Creating
                                  value: Creating
                                  description: Organization resource creation started
                                - name: Updating
                                  value: Updating
                                  description: Organization resource is being updated
                                - name: Deleting
                                  value: Deleting
                                  description: Organization resource deletion started
                                - name: Succeeded
                                  value: Succeeded
                                  description: Organization resource creation successful
                                - name: Failed
                                  value: Failed
                                  description: Organization resource creation failed
                                - name: Canceled
                                  value: Canceled
                                  description: Organization resource creation canceled
                                - name: Deleted
                                  value: Deleted
                                  description: Organization resource is deleted
                                - name: NotSpecified
                                  value: NotSpecified
                                  description: Organization resource state is unknown
                            informaticaProperties:
                              description: Informatica Organization properties.
                              type: object
                              properties:
                                organizationId:
                                  type: string
                                  description: Organization id
                                organizationName:
                                  type: string
                                  description: Organization name
                                informaticaRegion:
                                  type: string
                                  description: Informatica organization region
                                singleSignOnUrl:
                                  type: string
                                  format: uri
                                  description: Single sing on URL for informatica
                                    organization
                            marketplaceDetails:
                              description: Marketplace details.
                              type: object
                              properties:
                                marketplaceSubscriptionId:
                                  type: string
                                  description: Marketplace Subscription Id
                                offerDetails:
                                  description: Marketplace offer details.
                                  type: object
                                  properties:
                                    publisherId:
                                      type: string
                                      description: Id of the product publisher.
                                      maxLength: 250
                                    offerId:
                                      type: string
                                      description: Id of the product offering.
                                      maxLength: 250
                                    planId:
                                      type: string
                                      description: Id of the product offer plan.
                                      maxLength: 250
                                    planName:
                                      type: string
                                      description: Name of the product offer plan.
                                      maxLength: 250
                                    termUnit:
                                      type: string
                                      description: Offer plan term unit.
                                      maxLength: 50
                                    termId:
                                      type: string
                                      description: Offer plan term id.
                                      maxLength: 250
                                  required:
                                  - publisherId
                                  - offerId
                                  - planId
                                  - planName
                                  - termId
                              required:
                              - offerDetails
                            userDetails:
                              description: User details
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  description: User first name.
                                  maxLength: 50
                                lastName:
                                  type: string
                                  description: User last name.
                                  maxLength: 50
                                emailAddress:
                                  description: User email address.
                                  type: string
                                  pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                upn:
                                  type: string
                                  description: UPN of user
                                phoneNumber:
                                  type: string
                                  description: Phone number of the user used by for
                                    contacting them if needed
                                  maxLength: 40
                            companyDetails:
                              description: Company details.
                              type: object
                              properties:
                                companyName:
                                  type: string
                                  description: company Name
                                officeAddress:
                                  type: string
                                  description: Office Address
                                country:
                                  type: string
                                  description: Country name
                                domain:
                                  type: string
                                  description: Domain name
                                business:
                                  type: string
                                  description: Business phone number
                                numberOfEmployees:
                                  type: integer
                                  format: int32
                                  description: Number Of Employees
                            linkOrganization:
                              description: Link Organization
                              type: object
                              properties:
                                token:
                                  type: string
                                  description: Link organization token
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Informatica.DataManagement/organizations:
    get:
      operationId: Organizations_ListByResourceGroup
      tags:
      - Organizations
      description: List InformaticaOrganizationResource resources by resource group
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a InformaticaOrganizationResource list
                  operation.
                properties:
                  value:
                    type: array
                    description: The InformaticaOrganizationResource items on this
                      page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning State of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Accepted
                                  value: Accepted
                                  description: Organization resource creation request
                                    accepted
                                - name: Creating
                                  value: Creating
                                  description: Organization resource creation started
                                - name: Updating
                                  value: Updating
                                  description: Organization resource is being updated
                                - name: Deleting
                                  value: Deleting
                                  description: Organization resource deletion started
                                - name: Succeeded
                                  value: Succeeded
                                  description: Organization resource creation successful
                                - name: Failed
                                  value: Failed
                                  description: Organization resource creation failed
                                - name: Canceled
                                  value: Canceled
                                  description: Organization resource creation canceled
                                - name: Deleted
                                  value: Deleted
                                  description: Organization resource is deleted
                                - name: NotSpecified
                                  value: NotSpecified
                                  description: Organization resource state is unknown
                            informaticaProperties:
                              description: Informatica Organization properties.
                              type: object
                              properties:
                                organizationId:
                                  type: string
                                  description: Organization id
                                organizationName:
                                  type: string
                                  description: Organization name
                                informaticaRegion:
                                  type: string
                                  description: Informatica organization region
                                singleSignOnUrl:
                                  type: string
                                  format: uri
                                  description: Single sing on URL for informatica
                                    organization
                            marketplaceDetails:
                              description: Marketplace details.
                              type: object
                              properties:
                                marketplaceSubscriptionId:
                                  type: string
                                  description: Marketplace Subscription Id
                                offerDetails:
                                  description: Marketplace offer details.
                                  type: object
                                  properties:
                                    publisherId:
                                      type: string
                                      description: Id of the product publisher.
                                      maxLength: 250
                                    offerId:
                                      type: string
                                      description: Id of the product offering.
                                      maxLength: 250
                                    planId:
                                      type: string
                                      description: Id of the product offer plan.
                                      maxLength: 250
                                    planName:
                                      type: string
                                      description: Name of the product offer plan.
                                      maxLength: 250
                                    termUnit:
                                      type: string
                                      description: Offer plan term unit.
                                      maxLength: 50
                                    termId:
                                      type: string
                                      description: Offer plan term id.
                                      maxLength: 250
                                  required:
                                  - publisherId
                                  - offerId
                                  - planId
                                  - planName
                                  - termId
                              required:
                              - offerDetails
                            userDetails:
                              description: User details
                              type: object
                              properties:
                                firstName:
                                  type: string
                                  description: User first name.
                                  maxLength: 50
                                lastName:
                                  type: string
                                  description: User last name.
                                  maxLength: 50
                                emailAddress:
                                  description: User email address.
                                  type: string
                                  pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                                upn:
                                  type: string
                                  description: UPN of user
                                phoneNumber:
                                  type: string
                                  description: Phone number of the user used by for
                                    contacting them if needed
                                  maxLength: 40
                            companyDetails:
                              description: Company details.
                              type: object
                              properties:
                                companyName:
                                  type: string
                                  description: company Name
                                officeAddress:
                                  type: string
                                  description: Office Address
                                country:
                                  type: string
                                  description: Country name
                                domain:
                                  type: string
                                  description: Domain name
                                business:
                                  type: string
                                  description: Business phone number
                                numberOfEmployees:
                                  type: integer
                                  format: int32
                                  description: Number Of Employees
                            linkOrganization:
                              description: Link Organization
                              type: object
                              properties:
                                token:
                                  type: string
                                  description: Link organization token
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Informatica.DataManagement/organizations/{organizationName}
  : get:
      operationId: Organizations_Get
      tags:
      - Organizations
      description: Get a InformaticaOrganizationResource
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: organizationName
        in: path
        description: Name of the Organizations resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning State of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Accepted
                            value: Accepted
                            description: Organization resource creation request accepted
                          - name: Creating
                            value: Creating
                            description: Organization resource creation started
                          - name: Updating
                            value: Updating
                            description: Organization resource is being updated
                          - name: Deleting
                            value: Deleting
                            description: Organization resource deletion started
                          - name: Succeeded
                            value: Succeeded
                            description: Organization resource creation successful
                          - name: Failed
                            value: Failed
                            description: Organization resource creation failed
                          - name: Canceled
                            value: Canceled
                            description: Organization resource creation canceled
                          - name: Deleted
                            value: Deleted
                            description: Organization resource is deleted
                          - name: NotSpecified
                            value: NotSpecified
                            description: Organization resource state is unknown
                      informaticaProperties:
                        description: Informatica Organization properties.
                        type: object
                        properties:
                          organizationId:
                            type: string
                            description: Organization id
                          organizationName:
                            type: string
                            description: Organization name
                          informaticaRegion:
                            type: string
                            description: Informatica organization region
                          singleSignOnUrl:
                            type: string
                            format: uri
                            description: Single sing on URL for informatica organization
                      marketplaceDetails:
                        description: Marketplace details.
                        type: object
                        properties:
                          marketplaceSubscriptionId:
                            type: string
                            description: Marketplace Subscription Id
                          offerDetails:
                            description: Marketplace offer details.
                            type: object
                            properties:
                              publisherId:
                                type: string
                                description: Id of the product publisher.
                                maxLength: 250
                              offerId:
                                type: string
                                description: Id of the product offering.
                                maxLength: 250
                              planId:
                                type: string
                                description: Id of the product offer plan.
                                maxLength: 250
                              planName:
                                type: string
                                description: Name of the product offer plan.
                                maxLength: 250
                              termUnit:
                                type: string
                                description: Offer plan term unit.
                                maxLength: 50
                              termId:
                                type: string
                                description: Offer plan term id.
                                maxLength: 250
                            required:
                            - publisherId
                            - offerId
                            - planId
                            - planName
                            - termId
                        required:
                        - offerDetails
                      userDetails:
                        description: User details
                        type: object
                        properties:
                          firstName:
                            type: string
                            description: User first name.
                            maxLength: 50
                          lastName:
                            type: string
                            description: User last name.
                            maxLength: 50
                          emailAddress:
                            description: User email address.
                            type: string
                            pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                          upn:
                            type: string
                            description: UPN of user
                          phoneNumber:
                            type: string
                            description: Phone number of the user used by for contacting
                              them if needed
                            maxLength: 40
                      companyDetails:
                        description: Company details.
                        type: object
                        properties:
                          companyName:
                            type: string
                            description: company Name
                          officeAddress:
                            type: string
                            description: Office Address
                          country:
                            type: string
                            description: Country name
                          domain:
                            type: string
                            description: Domain name
                          business:
                            type: string
                            description: Business phone number
                          numberOfEmployees:
                            type: integer
                            format: int32
                            description: Number Of Employees
                      linkOrganization:
                        description: Link Organization
                        type: object
                        properties:
                          token:
                            type: string
                            description: Link organization token
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Organizations_CreateOrUpdate
      tags:
      - Organizations
      description: Create a InformaticaOrganizationResource
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: organizationName
        in: path
        description: Name of the Organizations resource
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_-]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning State of the resource.
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleted
                      - NotSpecified
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Accepted
                          value: Accepted
                          description: Organization resource creation request accepted
                        - name: Creating
                          value: Creating
                          description: Organization resource creation started
                        - name: Updating
                          value: Updating
                          description: Organization resource is being updated
                        - name: Deleting
                          value: Deleting
                          description: Organization resource deletion started
                        - name: Succeeded
                          value: Succeeded
                          description: Organization resource creation successful
                        - name: Failed
                          value: Failed
                          description: Organization resource creation failed
                        - name: Canceled
                          value: Canceled
                          description: Organization resource creation canceled
                        - name: Deleted
                          value: Deleted
                          description: Organization resource is deleted
                        - name: NotSpecified
                          value: NotSpecified
                          description: Organization resource state is unknown
                    informaticaProperties:
                      description: Informatica Organization properties.
                      type: object
                      properties:
                        organizationId:
                          type: string
                          description: Organization id
                        organizationName:
                          type: string
                          description: Organization name
                        informaticaRegion:
                          type: string
                          description: Informatica organization region
                        singleSignOnUrl:
                          type: string
                          format: uri
                          description: Single sing on URL for informatica organization
                    marketplaceDetails:
                      description: Marketplace details.
                      type: object
                      properties:
                        marketplaceSubscriptionId:
                          type: string
                          description: Marketplace Subscription Id
                        offerDetails:
                          description: Marketplace offer details.
                          type: object
                          properties:
                            publisherId:
                              type: string
                              description: Id of the product publisher.
                              maxLength: 250
                            offerId:
                              type: string
                              description: Id of the product offering.
                              maxLength: 250
                            planId:
                              type: string
                              description: Id of the product offer plan.
                              maxLength: 250
                            planName:
                              type: string
                              description: Name of the product offer plan.
                              maxLength: 250
                            termUnit:
                              type: string
                              description: Offer plan term unit.
                              maxLength: 50
                            termId:
                              type: string
                              description: Offer plan term id.
                              maxLength: 250
                          required:
                          - publisherId
                          - offerId
                          - planId
                          - planName
                          - termId
                      required:
                      - offerDetails
                    userDetails:
                      description: User details
                      type: object
                      properties:
                        firstName:
                          type: string
                          description: User first name.
                          maxLength: 50
                        lastName:
                          type: string
                          description: User last name.
                          maxLength: 50
                        emailAddress:
                          description: User email address.
                          type: string
                          pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                        upn:
                          type: string
                          description: UPN of user
                        phoneNumber:
                          type: string
                          description: Phone number of the user used by for contacting
                            them if needed
                          maxLength: 40
                    companyDetails:
                      description: Company details.
                      type: object
                      properties:
                        companyName:
                          type: string
                          description: company Name
                        officeAddress:
                          type: string
                          description: Office Address
                        country:
                          type: string
                          description: Country name
                        domain:
                          type: string
                          description: Domain name
                        business:
                          type: string
                          description: Business phone number
                        numberOfEmployees:
                          type: integer
                          format: int32
                          description: Number Of Employees
                    linkOrganization:
                      description: Link Organization
                      type: object
                      properties:
                        token:
                          type: string
                          description: Link organization token
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'InformaticaOrganizationResource' update operation
            succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning State of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Accepted
                            value: Accepted
                            description: Organization resource creation request accepted
                          - name: Creating
                            value: Creating
                            description: Organization resource creation started
                          - name: Updating
                            value: Updating
                            description: Organization resource is being updated
                          - name: Deleting
                            value: Deleting
                            description: Organization resource deletion started
                          - name: Succeeded
                            value: Succeeded
                            description: Organization resource creation successful
                          - name: Failed
                            value: Failed
                            description: Organization resource creation failed
                          - name: Canceled
                            value: Canceled
                            description: Organization resource creation canceled
                          - name: Deleted
                            value: Deleted
                            description: Organization resource is deleted
                          - name: NotSpecified
                            value: NotSpecified
                            description: Organization resource state is unknown
                      informaticaProperties:
                        description: Informatica Organization properties.
                        type: object
                        properties:
                          organizationId:
                            type: string
                            description: Organization id
                          organizationName:
                            type: string
                            description: Organization name
                          informaticaRegion:
                            type: string
                            description: Informatica organization region
                          singleSignOnUrl:
                            type: string
                            format: uri
                            description: Single sing on URL for informatica organization
                      marketplaceDetails:
                        description: Marketplace details.
                        type: object
                        properties:
                          marketplaceSubscriptionId:
                            type: string
                            description: Marketplace Subscription Id
                          offerDetails:
                            description: Marketplace offer details.
                            type: object
                            properties:
                              publisherId:
                                type: string
                                description: Id of the product publisher.
                                maxLength: 250
                              offerId:
                                type: string
                                description: Id of the product offering.
                                maxLength: 250
                              planId:
                                type: string
                                description: Id of the product offer plan.
                                maxLength: 250
                              planName:
                                type: string
                                description: Name of the product offer plan.
                                maxLength: 250
                              termUnit:
                                type: string
                                description: Offer plan term unit.
                                maxLength: 50
                              termId:
                                type: string
                                description: Offer plan term id.
                                maxLength: 250
                            required:
                            - publisherId
                            - offerId
                            - planId
                            - planName
                            - termId
                        required:
                        - offerDetails
                      userDetails:
                        description: User details
                        type: object
                        properties:
                          firstName:
                            type: string
                            description: User first name.
                            maxLength: 50
                          lastName:
                            type: string
                            description: User last name.
                            maxLength: 50
                          emailAddress:
                            description: User email address.
                            type: string
                            pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                          upn:
                            type: string
                            description: UPN of user
                          phoneNumber:
                            type: string
                            description: Phone number of the user used by for contacting
                              them if needed
                            maxLength: 40
                      companyDetails:
                        description: Company details.
                        type: object
                        properties:
                          companyName:
                            type: string
                            description: company Name
                          officeAddress:
                            type: string
                            description: Office Address
                          country:
                            type: string
                            description: Country name
                          domain:
                            type: string
                            description: Domain name
                          business:
                            type: string
                            description: Business phone number
                          numberOfEmployees:
                            type: integer
                            format: int32
                            description: Number Of Employees
                      linkOrganization:
                        description: Link Organization
                        type: object
                        properties:
                          token:
                            type: string
                            description: Link organization token
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'InformaticaOrganizationResource' create operation
            succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning State of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Accepted
                            value: Accepted
                            description: Organization resource creation request accepted
                          - name: Creating
                            value: Creating
                            description: Organization resource creation started
                          - name: Updating
                            value: Updating
                            description: Organization resource is being updated
                          - name: Deleting
                            value: Deleting
                            description: Organization resource deletion started
                          - name: Succeeded
                            value: Succeeded
                            description: Organization resource creation successful
                          - name: Failed
                            value: Failed
                            description: Organization resource creation failed
                          - name: Canceled
                            value: Canceled
                            description: Organization resource creation canceled
                          - name: Deleted
                            value: Deleted
                            description: Organization resource is deleted
                          - name: NotSpecified
                            value: NotSpecified
                            description: Organization resource state is unknown
                      informaticaProperties:
                        description: Informatica Organization properties.
                        type: object
                        properties:
                          organizationId:
                            type: string
                            description: Organization id
                          organizationName:
                            type: string
                            description: Organization name
                          informaticaRegion:
                            type: string
                            description: Informatica organization region
                          singleSignOnUrl:
                            type: string
                            format: uri
                            description: Single sing on URL for informatica organization
                      marketplaceDetails:
                        description: Marketplace details.
                        type: object
                        properties:
                          marketplaceSubscriptionId:
                            type: string
                            description: Marketplace Subscription Id
                          offerDetails:
                            description: Marketplace offer details.
                            type: object
                            properties:
                              publisherId:
                                type: string
                                description: Id of the product publisher.
                                maxLength: 250
                              offerId:
                                type: string
                                description: Id of the product offering.
                                maxLength: 250
                              planId:
                                type: string
                                description: Id of the product offer plan.
                                maxLength: 250
                              planName:
                                type: string
                                description: Name of the product offer plan.
                                maxLength: 250
                              termUnit:
                                type: string
                                description: Offer plan term unit.
                                maxLength: 50
                              termId:
                                type: string
                                description: Offer plan term id.
                                maxLength: 250
                            required:
                            - publisherId
                            - offerId
                            - planId
                            - planName
                            - termId
                        required:
                        - offerDetails
                      userDetails:
                        description: User details
                        type: object
                        properties:
                          firstName:
                            type: string
                            description: User first name.
                            maxLength: 50
                          lastName:
                            type: string
                            description: User last name.
                            maxLength: 50
                          emailAddress:
                            description: User email address.
                            type: string
                            pattern: ^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,}$
                          upn:
                            type: string
                            description: UPN of user
[...]
