openapi: 3.0.0
info:
  version: 2021-12-01-preview
  title: EducationManagementClient
  description: Education client provides access to education resources for Azure subscriptions.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Education/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Microsoft.Education API operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
  /providers/Microsoft.Education/grants:
    get:
      tags:
      - Grants
      operationId: Grants_ListAll
      description: Get a list of grants that Microsoft has provided.
      parameters:
      - name: includeAllocatedBudget
        x-ms-parameter-location: method
        in: query
        description: May be used to include information about budget that has been
          allocated.
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: list of Grants
          content:
            application/json:
              schema:
                description: List of Grants info.
                type: object
                properties:
                  value:
                    description: The list of labs.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Grant detail properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            offerCap:
                              description: Offer Cap
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                            effectiveDate:
                              type: string
                              format: date-time
                              description: Grant Effective Date
                              readOnly: true
                            offerType:
                              type: string
                              description: Grant Offer Type
                              enum:
                              - Student
                              - Academic
                              x-ms-enum:
                                name: Grant type
                                modelAsString: true
                              readOnly: true
                            expirationDate:
                              type: string
                              format: date-time
                              description: Expiration Date
                              readOnly: true
                            status:
                              type: string
                              description: Grant status
                              enum:
                              - Active
                              - Inactive
                              x-ms-enum:
                                name: Grant status
                                modelAsString: true
                              readOnly: true
                            allocatedBudget:
                              description: allocated budget
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Education/grants
  : get:
      tags:
      - Grants
      operationId: Grants_List
      description: Get details for a specific grant linked to the provided billing
        account and billing profile.
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: includeAllocatedBudget
        x-ms-parameter-location: method
        in: query
        description: May be used to include information about budget that has been
          allocated.
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: list of Grants
          content:
            application/json:
              schema:
                description: List of Grants info.
                type: object
                properties:
                  value:
                    description: The list of labs.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Grant detail properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            offerCap:
                              description: Offer Cap
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                            effectiveDate:
                              type: string
                              format: date-time
                              description: Grant Effective Date
                              readOnly: true
                            offerType:
                              type: string
                              description: Grant Offer Type
                              enum:
                              - Student
                              - Academic
                              x-ms-enum:
                                name: Grant type
                                modelAsString: true
                              readOnly: true
                            expirationDate:
                              type: string
                              format: date-time
                              description: Expiration Date
                              readOnly: true
                            status:
                              type: string
                              description: Grant status
                              enum:
                              - Active
                              - Inactive
                              x-ms-enum:
                                name: Grant status
                                modelAsString: true
                              readOnly: true
                            allocatedBudget:
                              description: allocated budget
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Education/grants/default
  : get:
      tags:
      - Grants
      operationId: Grants_Get
      description: Get details for a specific grant linked to the provided billing
        account and billing profile.
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: includeAllocatedBudget
        x-ms-parameter-location: method
        in: query
        description: May be used to include information about budget that has been
          allocated.
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: Grant detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Grant detail properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      offerCap:
                        description: Offer Cap
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      effectiveDate:
                        type: string
                        format: date-time
                        description: Grant Effective Date
                        readOnly: true
                      offerType:
                        type: string
                        description: Grant Offer Type
                        enum:
                        - Student
                        - Academic
                        x-ms-enum:
                          name: Grant type
                          modelAsString: true
                        readOnly: true
                      expirationDate:
                        type: string
                        format: date-time
                        description: Expiration Date
                        readOnly: true
                      status:
                        type: string
                        description: Grant status
                        enum:
                        - Active
                        - Inactive
                        x-ms-enum:
                          name: Grant status
                          modelAsString: true
                        readOnly: true
                      allocatedBudget:
                        description: allocated budget
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Education/labs
  : get:
      tags:
      - Labs
      operationId: Labs_ListAll
      description: Get a list of labs associated with the provided billing account
        name and billing profile name.
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: includeBudget
        x-ms-parameter-location: method
        in: query
        description: May be used to include budget information.
        schema:
          type: boolean
      - name: includeDeleted
        x-ms-parameter-location: method
        in: query
        description: May be used to show deleted items.
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: Lab details.
          content:
            application/json:
              schema:
                description: List of labs.
                type: object
                properties:
                  value:
                    description: The list of labs.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Get lab response properties.
                          x-ms-client-flatten: true
                          type: object
                          required:
                          - displayName
                          - budgetPerStudent
                          - description
                          - expirationDate
                          properties:
                            displayName:
                              description: Lab Display Name
                              type: string
                            budgetPerStudent:
                              description: Default monetary cap for each student in
                                this lab
                              x-ms-mutability:
                              - create
                              - read
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                            description:
                              type: string
                              description: Detail description of this lab
                            expirationDate:
                              type: string
                              format: date-time
                              description: Default expiration date for each student
                                in this lab
                            effectiveDate:
                              type: string
                              format: date-time
                              description: Lab creation date
                              readOnly: true
                            status:
                              type: string
                              description: The status of this lab
                              enum:
                              - Active
                              - Deleted
                              - Pending
                              x-ms-enum:
                                name: LabStatus
                                modelAsString: true
                              readOnly: true
                            maxStudentCount:
                              type: number
                              description: the total number of students that can be
                                accepted to the lab.
                              readOnly: true
                            invitationCode:
                              type: string
                              description: invitation code for redeemable lab
                              readOnly: true
                            totalBudget:
                              description: Total budget
                              x-ms-client-flatten: true
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                            totalAllocatedBudget:
                              description: Total allocated budget
                              x-ms-client-flatten: true
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Education/labs
  : get:
      tags:
      - Labs
      operationId: Labs_List
      description: Get the details for a specific lab associated with the provided
        billing account name, billing profile name, and invoice section name.
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: invoiceSectionName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies an invoice section.
        schema:
          type: string
      - name: includeBudget
        x-ms-parameter-location: method
        in: query
        description: May be used to include budget information.
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: Lab details.
          content:
            application/json:
              schema:
                description: List of labs.
                type: object
                properties:
                  value:
                    description: The list of labs.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: Get lab response properties.
                          x-ms-client-flatten: true
                          type: object
                          required:
                          - displayName
                          - budgetPerStudent
                          - description
                          - expirationDate
                          properties:
                            displayName:
                              description: Lab Display Name
                              type: string
                            budgetPerStudent:
                              description: Default monetary cap for each student in
                                this lab
                              x-ms-mutability:
                              - create
                              - read
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                            description:
                              type: string
                              description: Detail description of this lab
                            expirationDate:
                              type: string
                              format: date-time
                              description: Default expiration date for each student
                                in this lab
                            effectiveDate:
                              type: string
                              format: date-time
                              description: Lab creation date
                              readOnly: true
                            status:
                              type: string
                              description: The status of this lab
                              enum:
                              - Active
                              - Deleted
                              - Pending
                              x-ms-enum:
                                name: LabStatus
                                modelAsString: true
                              readOnly: true
                            maxStudentCount:
                              type: number
                              description: the total number of students that can be
                                accepted to the lab.
                              readOnly: true
                            invitationCode:
                              type: string
                              description: invitation code for redeemable lab
                              readOnly: true
                            totalBudget:
                              description: Total budget
                              x-ms-client-flatten: true
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                            totalAllocatedBudget:
                              description: Total allocated budget
                              x-ms-client-flatten: true
                              readOnly: true
                              type: object
                              properties:
                                currency:
                                  description: The type of currency being used for
                                    the value.
                                  type: string
                                value:
                                  description: Amount value.
                                  type: number
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link (url) to the next page of results.
                    type: string
                    readOnly: true
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Education/labs/default
  : get:
      tags:
      - Labs
      operationId: Labs_Get
      description: Get the details for a specific lab associated with the provided
        billing account name, billing profile name, and invoice section name.
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: invoiceSectionName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies an invoice section.
        schema:
          type: string
      - name: includeBudget
        x-ms-parameter-location: method
        in: query
        description: May be used to include budget information.
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: Lab details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Get lab response properties.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - displayName
                    - budgetPerStudent
                    - description
                    - expirationDate
                    properties:
                      displayName:
                        description: Lab Display Name
                        type: string
                      budgetPerStudent:
                        description: Default monetary cap for each student in this
                          lab
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      description:
                        type: string
                        description: Detail description of this lab
                      expirationDate:
                        type: string
                        format: date-time
                        description: Default expiration date for each student in this
                          lab
                      effectiveDate:
                        type: string
                        format: date-time
                        description: Lab creation date
                        readOnly: true
                      status:
                        type: string
                        description: The status of this lab
                        enum:
                        - Active
                        - Deleted
                        - Pending
                        x-ms-enum:
                          name: LabStatus
                          modelAsString: true
                        readOnly: true
                      maxStudentCount:
                        type: number
                        description: the total number of students that can be accepted
                          to the lab.
                        readOnly: true
                      invitationCode:
                        type: string
                        description: invitation code for redeemable lab
                        readOnly: true
                      totalBudget:
                        description: Total budget
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      totalAllocatedBudget:
                        description: Total allocated budget
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
    delete:
      tags:
      - Labs
      operationId: Labs_Delete
      description: Delete a specific lab associated with the provided billing account
        name, billing profile name, and invoice section name. Note all students must
        be removed from the lab in order to delete the lab.
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: invoiceSectionName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies an invoice section.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: lab deleted
        '204':
          description: lab does not exists
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
    put:
      tags:
      - Labs
      operationId: Labs_CreateOrUpdate
      description: Create a new lab or update a previously created lab.
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: invoiceSectionName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies an invoice section.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: Get lab response properties.
                  x-ms-client-flatten: true
                  type: object
                  required:
                  - displayName
                  - budgetPerStudent
                  - description
                  - expirationDate
                  properties:
                    displayName:
                      description: Lab Display Name
                      type: string
                    budgetPerStudent:
                      description: Default monetary cap for each student in this lab
                      x-ms-mutability:
                      - create
                      - read
                      type: object
                      properties:
                        currency:
                          description: The type of currency being used for the value.
                          type: string
                        value:
                          description: Amount value.
                          type: number
                    description:
                      type: string
                      description: Detail description of this lab
                    expirationDate:
                      type: string
                      format: date-time
                      description: Default expiration date for each student in this
                        lab
                    effectiveDate:
                      type: string
                      format: date-time
                      description: Lab creation date
                      readOnly: true
                    status:
                      type: string
                      description: The status of this lab
                      enum:
                      - Active
                      - Deleted
                      - Pending
                      x-ms-enum:
                        name: LabStatus
                        modelAsString: true
                      readOnly: true
                    maxStudentCount:
                      type: number
                      description: the total number of students that can be accepted
                        to the lab.
                      readOnly: true
                    invitationCode:
                      type: string
                      description: invitation code for redeemable lab
                      readOnly: true
                    totalBudget:
                      description: Total budget
                      x-ms-client-flatten: true
                      readOnly: true
                      type: object
                      properties:
                        currency:
                          description: The type of currency being used for the value.
                          type: string
                        value:
                          description: Amount value.
                          type: number
                    totalAllocatedBudget:
                      description: Total allocated budget
                      x-ms-client-flatten: true
                      readOnly: true
                      type: object
                      properties:
                        currency:
                          description: The type of currency being used for the value.
                          type: string
                        value:
                          description: Amount value.
                          type: number
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request parameters that are provided to create lab resource.
        required: true
      responses:
        '200':
          description: Normal response to get lab details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Get lab response properties.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - displayName
                    - budgetPerStudent
                    - description
                    - expirationDate
                    properties:
                      displayName:
                        description: Lab Display Name
                        type: string
                      budgetPerStudent:
                        description: Default monetary cap for each student in this
                          lab
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      description:
                        type: string
                        description: Detail description of this lab
                      expirationDate:
                        type: string
                        format: date-time
                        description: Default expiration date for each student in this
                          lab
                      effectiveDate:
                        type: string
                        format: date-time
                        description: Lab creation date
                        readOnly: true
                      status:
                        type: string
                        description: The status of this lab
                        enum:
                        - Active
                        - Deleted
                        - Pending
                        x-ms-enum:
                          name: LabStatus
                          modelAsString: true
                        readOnly: true
                      maxStudentCount:
                        type: number
                        description: the total number of students that can be accepted
                          to the lab.
                        readOnly: true
                      invitationCode:
                        type: string
                        description: invitation code for redeemable lab
                        readOnly: true
                      totalBudget:
                        description: Total budget
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      totalAllocatedBudget:
                        description: Total allocated budget
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Accepted. Lab details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Get lab response properties.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - displayName
                    - budgetPerStudent
                    - description
                    - expirationDate
                    properties:
                      displayName:
                        description: Lab Display Name
                        type: string
                      budgetPerStudent:
                        description: Default monetary cap for each student in this
                          lab
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      description:
                        type: string
                        description: Detail description of this lab
                      expirationDate:
                        type: string
                        format: date-time
                        description: Default expiration date for each student in this
                          lab
                      effectiveDate:
                        type: string
                        format: date-time
                        description: Lab creation date
                        readOnly: true
                      status:
                        type: string
                        description: The status of this lab
                        enum:
                        - Active
                        - Deleted
                        - Pending
                        x-ms-enum:
                          name: LabStatus
                          modelAsString: true
                        readOnly: true
                      maxStudentCount:
                        type: number
                        description: the total number of students that can be accepted
                          to the lab.
                        readOnly: true
                      invitationCode:
                        type: string
                        description: invitation code for redeemable lab
                        readOnly: true
                      totalBudget:
                        description: Total budget
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      totalAllocatedBudget:
                        description: Total allocated budget
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Education/labs/default/generateInviteCode
  : post:
      tags:
      - Labs
      operationId: Labs_GenerateInviteCode
      description: Generate invite code for a lab
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: invoiceSectionName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies an invoice section.
        schema:
          type: string
      - name: onlyUpdateStudentCountParameter
        x-ms-parameter-location: method
        in: query
        description: set this flag to true if you want to update student count without
          generating a new invite code
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: invite code generate request.
              type: object
              properties:
                maxStudentCount:
                  type: number
                  description: the total number of students that can be accepted to
                    the lab.
        description: Request parameters that are provided to generate invite code.
        required: true
      responses:
        '200':
          description: lab detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: Get lab response properties.
                    x-ms-client-flatten: true
                    type: object
                    required:
                    - displayName
                    - budgetPerStudent
                    - description
                    - expirationDate
                    properties:
                      displayName:
                        description: Lab Display Name
                        type: string
                      budgetPerStudent:
                        description: Default monetary cap for each student in this
                          lab
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      description:
                        type: string
                        description: Detail description of this lab
                      expirationDate:
                        type: string
                        format: date-time
                        description: Default expiration date for each student in this
                          lab
                      effectiveDate:
                        type: string
                        format: date-time
                        description: Lab creation date
                        readOnly: true
                      status:
                        type: string
                        description: The status of this lab
                        enum:
                        - Active
                        - Deleted
                        - Pending
                        x-ms-enum:
                          name: LabStatus
                          modelAsString: true
                        readOnly: true
                      maxStudentCount:
                        type: number
                        description: the total number of students that can be accepted
                          to the lab.
                        readOnly: true
                      invitationCode:
                        type: string
                        description: invitation code for redeemable lab
                        readOnly: true
                      totalBudget:
                        description: Total budget
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                      totalAllocatedBudget:
                        description: Total allocated budget
                        x-ms-client-flatten: true
                        readOnly: true
                        type: object
                        properties:
                          currency:
                            description: The type of currency being used for the value.
                            type: string
                          value:
                            description: Amount value.
                            type: number
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Describes the error if the operation is not successful.
          content:
            application/json:
              schema:
                description: Error response indicates that the service is not able
                  to process the incoming request. The reason is provided in the error
                  message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    type: object
                    properties:
                      code:
                        description: Error code
                        type: string
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Education/labs/default/joinRequests
  : get:
      tags:
      - JoinRequest
      operationId: JoinRequests_List
      description: get student join requests
      parameters:
      - name: billingAccountName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing account.
        schema:
          type: string
      - name: billingProfileName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies a billing profile.
        schema:
          type: string
      - name: invoiceSectionName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The ID that uniquely identifies an invoice section.
        schema:
          type: string
      - name: includeDenied
        x-ms-parameter-location: method
        in: query
        description: Include denied
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request. Current
          version is 2021-12-01-preview
        schema:
          type: string
      responses:
        '200':
          description: invite request list.
          content:
            application/json:
              schema:
                description: list of join requests.
                type: object
                properties:
                  value:
                    description: The list of requests.
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: join request properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            firstName:
                              type: string
                              description: First Name
                            lastName:
                              type: string
                              description: Last Name
                            email:
                              type: string
                              description: join request email
                            status:
[...]
