openapi: 3.0.0
info:
  title: AzureChangeAnalysisManagementClient
  version: 2021-04-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ChangeAnalysis/operations:
    get:
      tags:
      - Operations
      summary: Lists all the supported operations by the Microsoft.ChangeAnalysis
        resource provider along with their descriptions.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - in: query
        name: $skipToken
        description: A skip token is used to continue retrieving items after an operation
          returns a partial result. If a previous response contains a nextLink element,
          the value of the nextLink element will include a skipToken parameter that
          specifies a starting point to use for subsequent calls.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                description: The resource provider operation list.
                type: object
                properties:
                  value:
                    description: Resource provider operations list.
                    type: array
                    items:
                      description: The resource provider operation definition.
                      type: object
                      properties:
                        name:
                          description: The resource provider operation name.
                          type: string
                        display:
                          description: The resource provider operation details.
                          type: object
                          properties:
                            provider:
                              description: Name of the resource provider.
                              type: string
                            resource:
                              description: Name of the resource type.
                              type: string
                            operation:
                              description: Name of the resource provider operation.
                              type: string
                            description:
                              description: Description of the resource provider operation.
                              type: string
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: The URI that can be used to request the next page
                      for list of Azure operations.
                    type: string
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceId}/providers/Microsoft.ChangeAnalysis/resourceChanges:
    post:
      tags:
      - ResourceChanges
      summary: List the changes of a resource within the specified time range. Customer
        data will be masked if the user doesn't have access.
      operationId: ResourceChanges_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - in: path
        name: resourceId
        description: The identifier of the resource.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: query
        name: $startTime
        description: Specifies the start time of the changes request.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          format: date-time
      - in: query
        name: $endTime
        description: Specifies the end time of the changes request.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          format: date-time
      - in: query
        name: $skipToken
        description: A skip token is used to continue retrieving items after an operation
          returns a partial result. If a previous response contains a nextLink element,
          the value of the nextLink element will include a skipToken parameter that
          specifies a starting point to use for subsequent calls.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                description: The list of detected changes.
                type: object
                properties:
                  value:
                    description: The list of changes.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          description: The properties of a change.
                          type: object
                          properties:
                            resourceId:
                              description: The resource id that the change is attached
                                to.
                              type: string
                            timeStamp:
                              format: date-time
                              description: The time when the change is detected.
                              type: string
                            initiatedByList:
                              description: "The list of identities who might initiated\
                                \ the change.\r\nThe identity could be user name (email\
                                \ address) or the object ID of the Service Principal."
                              type: array
                              items:
                                type: string
                            changeType:
                              description: The type of the change.
                              enum:
                              - Add
                              - Remove
                              - Update
                              type: string
                              x-ms-enum:
                                name: ChangeType
                                modelAsString: true
                            propertyChanges:
                              description: The list of detailed changes at json property
                                level.
                              type: array
                              items:
                                description: Data of a property change.
                                type: object
                                properties:
                                  changeType:
                                    description: The type of the change.
                                    enum:
                                    - Add
                                    - Remove
                                    - Update
                                    type: string
                                    x-ms-enum:
                                      name: ChangeType
                                      modelAsString: true
                                  changeCategory:
                                    description: The change category.
                                    enum:
                                    - User
                                    - System
                                    type: string
                                    x-ms-enum:
                                      name: ChangeCategory
                                      modelAsString: false
                                  jsonPath:
                                    description: The json path of the changed property.
                                    type: string
                                  displayName:
                                    description: The enhanced display name of the
                                      json path. E.g., the json path value[0].properties
                                      will be translated to something meaningful like
                                      slots["Staging"].properties.
                                    type: string
                                  level:
                                    enum:
                                    - Noisy
                                    - Normal
                                    - Important
                                    type: string
                                    x-ms-enum:
                                      name: Level
                                      modelAsString: true
                                  description:
                                    description: The description of the changed property.
                                    type: string
                                  oldValue:
                                    description: The value of the property before
                                      the change.
                                    type: string
                                  newValue:
                                    description: The value of the property after the
                                      change.
                                    type: string
                                  isDataMasked:
                                    description: The boolean indicating whether the
                                      oldValue and newValue are masked. The values
                                      are masked if it contains sensitive information
                                      that the user doesn't have access to.
                                    type: boolean
                              x-ms-identifiers: []
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URI that can be used to request the next page
                      of changes.
                    type: string
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeAnalysis/changes:
    get:
      tags:
      - Changes
      summary: List the changes of a resource group within the specified time range.
        Customer data will always be masked.
      operationId: Changes_ListChangesByResourceGroup
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: query
        name: $startTime
        description: Specifies the start time of the changes request.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          format: date-time
      - in: query
        name: $endTime
        description: Specifies the end time of the changes request.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          format: date-time
      - in: query
        name: $skipToken
        description: A skip token is used to continue retrieving items after an operation
          returns a partial result. If a previous response contains a nextLink element,
          the value of the nextLink element will include a skipToken parameter that
          specifies a starting point to use for subsequent calls.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                description: The list of detected changes.
                type: object
                properties:
                  value:
                    description: The list of changes.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          description: The properties of a change.
                          type: object
                          properties:
                            resourceId:
                              description: The resource id that the change is attached
                                to.
                              type: string
                            timeStamp:
                              format: date-time
                              description: The time when the change is detected.
                              type: string
                            initiatedByList:
                              description: "The list of identities who might initiated\
                                \ the change.\r\nThe identity could be user name (email\
                                \ address) or the object ID of the Service Principal."
                              type: array
                              items:
                                type: string
                            changeType:
                              description: The type of the change.
                              enum:
                              - Add
                              - Remove
                              - Update
                              type: string
                              x-ms-enum:
                                name: ChangeType
                                modelAsString: true
                            propertyChanges:
                              description: The list of detailed changes at json property
                                level.
                              type: array
                              items:
                                description: Data of a property change.
                                type: object
                                properties:
                                  changeType:
                                    description: The type of the change.
                                    enum:
                                    - Add
                                    - Remove
                                    - Update
                                    type: string
                                    x-ms-enum:
                                      name: ChangeType
                                      modelAsString: true
                                  changeCategory:
                                    description: The change category.
                                    enum:
                                    - User
                                    - System
                                    type: string
                                    x-ms-enum:
                                      name: ChangeCategory
                                      modelAsString: false
                                  jsonPath:
                                    description: The json path of the changed property.
                                    type: string
                                  displayName:
                                    description: The enhanced display name of the
                                      json path. E.g., the json path value[0].properties
                                      will be translated to something meaningful like
                                      slots["Staging"].properties.
                                    type: string
                                  level:
                                    enum:
                                    - Noisy
                                    - Normal
                                    - Important
                                    type: string
                                    x-ms-enum:
                                      name: Level
                                      modelAsString: true
                                  description:
                                    description: The description of the changed property.
                                    type: string
                                  oldValue:
                                    description: The value of the property before
                                      the change.
                                    type: string
                                  newValue:
                                    description: The value of the property after the
                                      change.
                                    type: string
                                  isDataMasked:
                                    description: The boolean indicating whether the
                                      oldValue and newValue are masked. The values
                                      are masked if it contains sensitive information
                                      that the user doesn't have access to.
                                    type: boolean
                              x-ms-identifiers: []
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URI that can be used to request the next page
                      of changes.
                    type: string
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ChangeAnalysis/changes:
    get:
      tags:
      - Changes
      summary: List the changes of a subscription within the specified time range.
        Customer data will always be masked.
      operationId: Changes_ListChangesBySubscription
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - in: query
        name: $startTime
        description: Specifies the start time of the changes request.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          format: date-time
      - in: query
        name: $endTime
        description: Specifies the end time of the changes request.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          format: date-time
      - in: query
        name: $skipToken
        description: A skip token is used to continue retrieving items after an operation
          returns a partial result. If a previous response contains a nextLink element,
          the value of the nextLink element will include a skipToken parameter that
          specifies a starting point to use for subsequent calls.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The request was successful; the request was well-formed and
            received properly.
          content:
            application/json:
              schema:
                description: The list of detected changes.
                type: object
                properties:
                  value:
                    description: The list of changes.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          description: The properties of a change.
                          type: object
                          properties:
                            resourceId:
                              description: The resource id that the change is attached
                                to.
                              type: string
                            timeStamp:
                              format: date-time
                              description: The time when the change is detected.
                              type: string
                            initiatedByList:
                              description: "The list of identities who might initiated\
                                \ the change.\r\nThe identity could be user name (email\
                                \ address) or the object ID of the Service Principal."
                              type: array
                              items:
                                type: string
                            changeType:
                              description: The type of the change.
                              enum:
                              - Add
                              - Remove
                              - Update
                              type: string
                              x-ms-enum:
                                name: ChangeType
                                modelAsString: true
                            propertyChanges:
                              description: The list of detailed changes at json property
                                level.
                              type: array
                              items:
                                description: Data of a property change.
                                type: object
                                properties:
                                  changeType:
                                    description: The type of the change.
                                    enum:
                                    - Add
                                    - Remove
                                    - Update
                                    type: string
                                    x-ms-enum:
                                      name: ChangeType
                                      modelAsString: true
                                  changeCategory:
                                    description: The change category.
                                    enum:
                                    - User
                                    - System
                                    type: string
                                    x-ms-enum:
                                      name: ChangeCategory
                                      modelAsString: false
                                  jsonPath:
                                    description: The json path of the changed property.
                                    type: string
                                  displayName:
                                    description: The enhanced display name of the
                                      json path. E.g., the json path value[0].properties
                                      will be translated to something meaningful like
                                      slots["Staging"].properties.
                                    type: string
                                  level:
                                    enum:
                                    - Noisy
                                    - Normal
                                    - Important
                                    type: string
                                    x-ms-enum:
                                      name: Level
                                      modelAsString: true
                                  description:
                                    description: The description of the changed property.
                                    type: string
                                  oldValue:
                                    description: The value of the property before
                                      the change.
                                    type: string
                                  newValue:
                                    description: The value of the property after the
                                      change.
                                    type: string
                                  isDataMasked:
                                    description: The boolean indicating whether the
                                      oldValue and newValue are masked. The values
                                      are masked if it contains sensitive information
                                      that the user doesn't have access to.
                                    type: boolean
                              x-ms-identifiers: []
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URI that can be used to request the next page
                      of changes.
                    type: string
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ResourceIdParameter:
      in: path
      name: resourceId
      description: The identifier of the resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    StartTimeParameter:
      in: query
      name: $startTime
      description: Specifies the start time of the changes request.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
    EndTimeParameter:
      in: query
      name: $endTime
      description: Specifies the end time of the changes request.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        format: date-time
    SkipTokenParameter:
      in: query
      name: $skipToken
      description: A skip token is used to continue retrieving items after an operation
        returns a partial result. If a previous response contains a nextLink element,
        the value of the nextLink element will include a skipToken parameter that
        specifies a starting point to use for subsequent calls.
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ResourceProviderOperationDisplay:
      description: The resource provider operation details.
      type: object
      properties:
        provider:
          description: Name of the resource provider.
          type: string
        resource:
          description: Name of the resource type.
          type: string
        operation:
          description: Name of the resource provider operation.
          type: string
        description:
          description: Description of the resource provider operation.
          type: string
    ResourceProviderOperationDefinition:
      description: The resource provider operation definition.
      type: object
      properties:
        name:
          description: The resource provider operation name.
          type: string
        display:
          description: The resource provider operation details.
          type: object
          properties:
            provider:
              description: Name of the resource provider.
              type: string
            resource:
              description: Name of the resource type.
              type: string
            operation:
              description: Name of the resource provider operation.
              type: string
            description:
              description: Description of the resource provider operation.
              type: string
    ResourceProviderOperationList:
      description: The resource provider operation list.
      type: object
      properties:
        value:
          description: Resource provider operations list.
          type: array
          items:
            description: The resource provider operation definition.
            type: object
            properties:
              name:
                description: The resource provider operation name.
                type: string
              display:
                description: The resource provider operation details.
                type: object
                properties:
                  provider:
                    description: Name of the resource provider.
                    type: string
                  resource:
                    description: Name of the resource type.
                    type: string
                  operation:
                    description: Name of the resource provider operation.
                    type: string
                  description:
                    description: Description of the resource provider operation.
                    type: string
          x-ms-identifiers:
          - name
        nextLink:
          description: The URI that can be used to request the next page for list
            of Azure operations.
          type: string
    ChangeType:
      description: The type of the change.
      enum:
      - Add
      - Remove
      - Update
      type: string
      x-ms-enum:
        name: ChangeType
        modelAsString: true
    Level:
      enum:
      - Noisy
      - Normal
      - Important
      type: string
      x-ms-enum:
        name: Level
        modelAsString: true
    PropertyChange:
      description: Data of a property change.
      type: object
      properties:
        changeType:
          description: The type of the change.
          enum:
          - Add
          - Remove
          - Update
          type: string
          x-ms-enum:
            name: ChangeType
            modelAsString: true
        changeCategory:
          description: The change category.
          enum:
          - User
          - System
          type: string
          x-ms-enum:
            name: ChangeCategory
            modelAsString: false
        jsonPath:
          description: The json path of the changed property.
          type: string
        displayName:
          description: The enhanced display name of the json path. E.g., the json
            path value[0].properties will be translated to something meaningful like
            slots["Staging"].properties.
          type: string
        level:
          enum:
          - Noisy
          - Normal
          - Important
          type: string
          x-ms-enum:
            name: Level
            modelAsString: true
        description:
          description: The description of the changed property.
          type: string
        oldValue:
          description: The value of the property before the change.
          type: string
        newValue:
          description: The value of the property after the change.
          type: string
        isDataMasked:
          description: The boolean indicating whether the oldValue and newValue are
            masked. The values are masked if it contains sensitive information that
            the user doesn't have access to.
          type: boolean
    ChangeProperties:
      description: The properties of a change.
      type: object
      properties:
        resourceId:
          description: The resource id that the change is attached to.
          type: string
        timeStamp:
          format: date-time
          description: The time when the change is detected.
          type: string
        initiatedByList:
          description: "The list of identities who might initiated the change.\r\n\
            The identity could be user name (email address) or the object ID of the\
            \ Service Principal."
          type: array
          items:
            type: string
        changeType:
          description: The type of the change.
          enum:
          - Add
          - Remove
          - Update
          type: string
          x-ms-enum:
            name: ChangeType
            modelAsString: true
        propertyChanges:
          description: The list of detailed changes at json property level.
          type: array
          items:
            description: Data of a property change.
            type: object
            properties:
              changeType:
                description: The type of the change.
                enum:
                - Add
                - Remove
                - Update
                type: string
                x-ms-enum:
                  name: ChangeType
                  modelAsString: true
              changeCategory:
                description: The change category.
                enum:
                - User
                - System
                type: string
                x-ms-enum:
                  name: ChangeCategory
                  modelAsString: false
              jsonPath:
                description: The json path of the changed property.
                type: string
              displayName:
                description: The enhanced display name of the json path. E.g., the
                  json path value[0].properties will be translated to something meaningful
                  like slots["Staging"].properties.
                type: string
              level:
                enum:
                - Noisy
                - Normal
                - Important
                type: string
                x-ms-enum:
                  name: Level
                  modelAsString: true
              description:
                description: The description of the changed property.
                type: string
              oldValue:
                description: The value of the property before the change.
                type: string
              newValue:
                description: The value of the property after the change.
                type: string
              isDataMasked:
                description: The boolean indicating whether the oldValue and newValue
                  are masked. The values are masked if it contains sensitive information
                  that the user doesn't have access to.
                type: boolean
          x-ms-identifiers: []
    Change:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        properties:
          description: The properties of a change.
          type: object
          properties:
            resourceId:
              description: The resource id that the change is attached to.
              type: string
            timeStamp:
              format: date-time
              description: The time when the change is detected.
              type: string
            initiatedByList:
              description: "The list of identities who might initiated the change.\r\
                \nThe identity could be user name (email address) or the object ID\
                \ of the Service Principal."
              type: array
              items:
                type: string
            changeType:
              description: The type of the change.
              enum:
              - Add
              - Remove
              - Update
              type: string
              x-ms-enum:
                name: ChangeType
                modelAsString: true
            propertyChanges:
              description: The list of detailed changes at json property level.
              type: array
              items:
                description: Data of a property change.
                type: object
                properties:
                  changeType:
                    description: The type of the change.
                    enum:
                    - Add
                    - Remove
                    - Update
                    type: string
                    x-ms-enum:
                      name: ChangeType
                      modelAsString: true
                  changeCategory:
                    description: The change category.
                    enum:
                    - User
                    - System
                    type: string
                    x-ms-enum:
                      name: ChangeCategory
                      modelAsString: false
                  jsonPath:
                    description: The json path of the changed property.
                    type: string
                  displayName:
                    description: The enhanced display name of the json path. E.g.,
                      the json path value[0].properties will be translated to something
                      meaningful like slots["Staging"].properties.
                    type: string
                  level:
                    enum:
                    - Noisy
                    - Normal
                    - Important
                    type: string
                    x-ms-enum:
                      name: Level
                      modelAsString: true
                  description:
                    description: The description of the changed property.
                    type: string
                  oldValue:
                    description: The value of the property before the change.
                    type: string
                  newValue:
                    description: The value of the property after the change.
                    type: string
                  isDataMasked:
                    description: The boolean indicating whether the oldValue and newValue
                      are masked. The values are masked if it contains sensitive information
                      that the user doesn't have access to.
                    type: boolean
              x-ms-identifiers: []
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ChangeList:
      description: The list of detected changes.
      type: object
      properties:
        value:
          description: The list of changes.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              properties:
                description: The properties of a change.
                type: object
                properties:
                  resourceId:
                    description: The resource id that the change is attached to.
                    type: string
                  timeStamp:
                    format: date-time
                    description: The time when the change is detected.
                    type: string
                  initiatedByList:
                    description: "The list of identities who might initiated the change.\r\
                      \nThe identity could be user name (email address) or the object\
                      \ ID of the Service Principal."
                    type: array
                    items:
                      type: string
                  changeType:
                    description: The type of the change.
                    enum:
                    - Add
                    - Remove
                    - Update
                    type: string
                    x-ms-enum:
                      name: ChangeType
                      modelAsString: true
                  propertyChanges:
                    description: The list of detailed changes at json property level.
                    type: array
                    items:
                      description: Data of a property change.
                      type: object
                      properties:
                        changeType:
                          description: The type of the change.
                          enum:
                          - Add
                          - Remove
                          - Update
                          type: string
                          x-ms-enum:
                            name: ChangeType
                            modelAsString: true
                        changeCategory:
                          description: The change category.
                          enum:
                          - User
                          - System
                          type: string
                          x-ms-enum:
                            name: ChangeCategory
                            modelAsString: false
                        jsonPath:
                          description: The json path of the changed property.
                          type: string
                        displayName:
                          description: The enhanced display name of the json path.
                            E.g., the json path value[0].properties will be translated
                            to something meaningful like slots["Staging"].properties.
                          type: string
                        level:
                          enum:
                          - Noisy
                          - Normal
                          - Important
                          type: string
                          x-ms-enum:
                            name: Level
                            modelAsString: true
                        description:
                          description: The description of the changed property.
                          type: string
                        oldValue:
                          description: The value of the property before the change.
                          type: string
                        newValue:
                          description: The value of the property after the change.
                          type: string
                        isDataMasked:
                          description: The boolean indicating whether the oldValue
                            and newValue are masked. The values are masked if it contains
                            sensitive information that the user doesn't have access
                            to.
                          type: boolean
                    x-ms-identifiers: []
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          description: The URI that can be used to request the next page of changes.
          type: string
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
