openapi: 3.0.0
info:
  title: Nginx.NginxPlus
  version: 2023-09-01
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/certificates/{certificateName}
  : get:
      tags:
      - NginxCertificate
      summary: Get a certificate of given NGINX deployment
      operationId: Certificates_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - in: path
        name: certificateName
        description: The name of certificate
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                  name:
                    type: string
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      keyVirtualPath:
                        type: string
                      certificateVirtualPath:
                        type: string
                      keyVaultSecretId:
                        type: string
                      sha1Thumbprint:
                        type: string
                        readOnly: true
                      keyVaultSecretVersion:
                        type: string
                        readOnly: true
                      keyVaultSecretCreated:
                        type: string
                        format: date-time
                        readOnly: true
                      certificateError:
                        type: object
                        properties:
                          code:
                            type: string
                          message:
                            type: string
                  location:
                    type: string
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - NginxCertificate
      summary: Create or update the NGINX certificates for given NGINX deployment
      operationId: Certificates_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - in: path
        name: certificateName
        description: The name of certificate
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-ms-azure-resource: true
              properties:
                id:
                  type: string
                  readOnly: true
                name:
                  type: string
                  readOnly: true
                type:
                  type: string
                  readOnly: true
                properties:
                  type: object
                  properties:
                    provisioningState:
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleted
                      - NotSpecified
                      type: string
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: ProvisioningState
                    keyVirtualPath:
                      type: string
                    certificateVirtualPath:
                      type: string
                    keyVaultSecretId:
                      type: string
                    sha1Thumbprint:
                      type: string
                      readOnly: true
                    keyVaultSecretVersion:
                      type: string
                      readOnly: true
                    keyVaultSecretCreated:
                      type: string
                      format: date-time
                      readOnly: true
                    certificateError:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                location:
                  type: string
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
        description: The certificate
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                  name:
                    type: string
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      keyVirtualPath:
                        type: string
                      certificateVirtualPath:
                        type: string
                      keyVaultSecretId:
                        type: string
                      sha1Thumbprint:
                        type: string
                        readOnly: true
                      keyVaultSecretVersion:
                        type: string
                        readOnly: true
                      keyVaultSecretCreated:
                        type: string
                        format: date-time
                        readOnly: true
                      certificateError:
                        type: object
                        properties:
                          code:
                            type: string
                          message:
                            type: string
                  location:
                    type: string
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                  name:
                    type: string
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      keyVirtualPath:
                        type: string
                      certificateVirtualPath:
                        type: string
                      keyVaultSecretId:
                        type: string
                      sha1Thumbprint:
                        type: string
                        readOnly: true
                      keyVaultSecretVersion:
                        type: string
                        readOnly: true
                      keyVaultSecretCreated:
                        type: string
                        format: date-time
                        readOnly: true
                      certificateError:
                        type: object
                        properties:
                          code:
                            type: string
                          message:
                            type: string
                  location:
                    type: string
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    delete:
      tags:
      - NginxCertificate
      summary: Deletes a certificate from the NGINX deployment
      operationId: Certificates_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - in: path
        name: certificateName
        description: The name of certificate
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
        '202':
          description: Success
        '204':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/certificates
  : get:
      tags:
      - NginxCertificate
      summary: List all certificates of given NGINX deployment
      operationId: Certificates_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      x-ms-azure-resource: true
                      properties:
                        id:
                          type: string
                          readOnly: true
                        name:
                          type: string
                          readOnly: true
                        type:
                          type: string
                          readOnly: true
                        properties:
                          type: object
                          properties:
                            provisioningState:
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                            keyVirtualPath:
                              type: string
                            certificateVirtualPath:
                              type: string
                            keyVaultSecretId:
                              type: string
                            sha1Thumbprint:
                              type: string
                              readOnly: true
                            keyVaultSecretVersion:
                              type: string
                              readOnly: true
                            keyVaultSecretCreated:
                              type: string
                              format: date-time
                              readOnly: true
                            certificateError:
                              type: object
                              properties:
                                code:
                                  type: string
                                message:
                                  type: string
                        location:
                          type: string
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                  nextLink:
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/configurations
  : get:
      tags:
      - NginxConfiguration
      summary: List the NGINX configuration of given NGINX deployment.
      operationId: Configurations_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: Response of a list operation.
                type: object
                properties:
                  value:
                    description: Results of a list operation.
                    type: array
                    items:
                      type: object
                      x-ms-azure-resource: true
                      properties:
                        id:
                          type: string
                          readOnly: true
                        name:
                          type: string
                          readOnly: true
                        type:
                          type: string
                          readOnly: true
                        properties:
                          type: object
                          properties:
                            provisioningState:
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Deleting
                              - Succeeded
                              - Failed
                              - Canceled
                              - Deleted
                              - NotSpecified
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                            files:
                              type: array
                              items:
                                type: object
                                properties:
                                  content:
                                    type: string
                                  virtualPath:
                                    type: string
                              x-ms-identifiers: []
                            protectedFiles:
                              type: array
                              items:
                                type: object
                                properties:
                                  content:
                                    type: string
                                  virtualPath:
                                    type: string
                              x-ms-identifiers: []
                            package:
                              type: object
                              properties:
                                data:
                                  type: string
                                protectedFiles:
                                  type: array
                                  items:
                                    type: string
                                  x-ms-identifiers: []
                            rootFile:
                              type: string
                        location:
                          type: string
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                  nextLink:
                    description: Link to the next set of results, if any.
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/configurations/{configurationName}
  : get:
      tags:
      - NginxConfiguration
      summary: Get the NGINX configuration of given NGINX deployment
      operationId: Configurations_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - in: path
        name: configurationName
        description: The name of configuration, only 'default' is supported value
          due to the singleton of NGINX conf
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                  name:
                    type: string
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                            virtualPath:
                              type: string
                        x-ms-identifiers: []
                      protectedFiles:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                            virtualPath:
                              type: string
                        x-ms-identifiers: []
                      package:
                        type: object
                        properties:
                          data:
                            type: string
                          protectedFiles:
                            type: array
                            items:
                              type: string
                            x-ms-identifiers: []
                      rootFile:
                        type: string
                  location:
                    type: string
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - NginxConfiguration
      summary: Create or update the NGINX configuration for given NGINX deployment
      operationId: Configurations_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - in: path
        name: configurationName
        description: The name of configuration, only 'default' is supported value
          due to the singleton of NGINX conf
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-ms-azure-resource: true
              properties:
                id:
                  type: string
                  readOnly: true
                name:
                  type: string
                  readOnly: true
                type:
                  type: string
                  readOnly: true
                properties:
                  type: object
                  properties:
                    provisioningState:
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Deleting
                      - Succeeded
                      - Failed
                      - Canceled
                      - Deleted
                      - NotSpecified
                      type: string
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: ProvisioningState
                    files:
                      type: array
                      items:
                        type: object
                        properties:
                          content:
                            type: string
                          virtualPath:
                            type: string
                      x-ms-identifiers: []
                    protectedFiles:
                      type: array
                      items:
                        type: object
                        properties:
                          content:
                            type: string
                          virtualPath:
                            type: string
                      x-ms-identifiers: []
                    package:
                      type: object
                      properties:
                        data:
                          type: string
                        protectedFiles:
                          type: array
                          items:
                            type: string
                          x-ms-identifiers: []
                    rootFile:
                      type: string
                location:
                  type: string
                systemData:
                  readOnly: true
                  description: Metadata pertaining to creation and last modification
                    of the resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
        description: The NGINX configuration
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                  name:
                    type: string
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                            virtualPath:
                              type: string
                        x-ms-identifiers: []
                      protectedFiles:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                            virtualPath:
                              type: string
                        x-ms-identifiers: []
                      package:
                        type: object
                        properties:
                          data:
                            type: string
                          protectedFiles:
                            type: array
                            items:
                              type: string
                            x-ms-identifiers: []
                      rootFile:
                        type: string
                  location:
                    type: string
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-ms-azure-resource: true
                properties:
                  id:
                    type: string
                    readOnly: true
                  name:
                    type: string
                    readOnly: true
                  type:
                    type: string
                    readOnly: true
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Deleting
                        - Succeeded
                        - Failed
                        - Canceled
                        - Deleted
                        - NotSpecified
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                      files:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                            virtualPath:
                              type: string
                        x-ms-identifiers: []
                      protectedFiles:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                            virtualPath:
                              type: string
                        x-ms-identifiers: []
                      package:
                        type: object
                        properties:
                          data:
                            type: string
                          protectedFiles:
                            type: array
                            items:
                              type: string
                            x-ms-identifiers: []
                      rootFile:
                        type: string
                  location:
                    type: string
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    delete:
      tags:
      - NginxConfiguration
      summary: Reset the NGINX configuration of given NGINX deployment to default
      operationId: Configurations_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - in: path
        name: configurationName
        description: The name of configuration, only 'default' is supported value
          due to the singleton of NGINX conf
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
        '202':
          description: Success
        '204':
          description: Success
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/configurations/{configurationName}/analyze
  : post:
      tags:
      - NginxConfigurationAnalysis
      summary: Analyze an NGINX configuration without applying it to the NGINXaaS
        deployment
      operationId: Configurations_Analysis
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - in: path
        name: deploymentName
        description: The name of targeted NGINX deployment
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^([a-z0-9A-Z][a-z0-9A-Z-]{0,28}[a-z0-9A-Z]|[a-z0-9A-Z])$
      - name: configurationName
        in: path
        description: The name of configuration, only 'default' is supported value
          due to the singleton of NGINX conf
        required: true
        schema:
          type: string
          pattern: ^[a-z][a-z0-9]*$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The request body for creating an analysis for an NGINX
                configuration.
              properties:
                config:
                  type: object
                  properties:
                    rootFile:
                      type: string
                      description: The root file of the NGINX config file(s). It must
                        match one of the files' filepath.
                    files:
                      type: array
                      items:
                        type: object
                        properties:
                          content:
                            type: string
                          virtualPath:
                            type: string
                      x-ms-identifiers: []
                    protectedFiles:
                      type: array
                      items:
                        type: object
                        properties:
                          content:
                            type: string
                          virtualPath:
                            type: string
                      x-ms-identifiers: []
                    package:
                      type: object
                      properties:
                        data:
                          type: string
                        protectedFiles:
                          type: array
                          items:
                            type: string
                          x-ms-identifiers: []
              required:
              - config
        description: The NGINX configuration to analyze
      responses:
        '200':
          description: Analysis complete
          content:
            application/json:
              schema:
                type: object
                description: The response body for an analysis request. Contains the
                  status of the analysis and any errors.
                required:
                - status
                properties:
                  status:
                    type: string
                    description: The status of the analysis.
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          description: An error object found during the analysis of
                            an NGINX configuration.
                          required:
                          - directive
                          - description
                          - file
                          - line
                          - message
                          - rule
                          properties:
                            id:
                              type: string
                              description: Unique identifier for the error
                            directive:
                              type: string
                            description:
                              type: string
                            file:
                              type: string
                              description: the filepath of the most relevant config
                                file
                            line:
                              type: number
                            message:
                              type: string
                            rule:
                              type: string
        default:
          description: Default error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error detail.
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
[...]
