openapi: 3.0.0
info:
  title: Azure Addons Resource Provider
  description: The service for managing third party addons.
  version: 2018-03-01
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Addons/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available Addons RP operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                type: object
                description: List of supported operations.
                properties:
                  value:
                    type: array
                    description: List of supported operations.
                    items:
                      type: object
                      description: Definition object with the name and properties
                        of an operation.
                      properties:
                        name:
                          type: string
                          description: Name of the operation.
                        display:
                          description: Display object with properties of the operation.
                          type: object
                          properties:
                            provider:
                              type: string
                              description: Resource provider of the operation.
                            resource:
                              type: string
                              description: Resource for the operation.
                            operation:
                              type: string
                              description: Short description of the operation.
                            description:
                              type: string
                              description: Description of the operation.
                    x-ms-identifiers:
                    - name
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                title: Error
                description: Error description and code explaining why an operation
                  failed.
                required:
                - message
                - code
                properties:
                  message:
                    type: string
                    description: Description of the error.
                  code:
                    type: string
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
  /subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/{providerName}/supportPlanTypes/{planTypeName}:
    get:
      tags:
      - AddonDetails
      operationId: SupportPlanTypes_Get
      description: Returns whether or not the canonical support plan of type {type}
        is enabled for the subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: providerName
        in: path
        required: true
        description: The support plan type. For now the only valid type is "canonical".
        x-ms-parameter-location: method
        schema:
          type: string
      - name: planTypeName
        in: path
        required: true
        description: The Canonical support plan type.
        x-ms-enum:
          name: PlanTypeName
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - Essential
          - Standard
          - Advanced
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The status of the Canonical support plan.
                required:
                - properties
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The id of the ARM resource, e.g. "/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}".
                  name:
                    readOnly: true
                    type: string
                    description: The name of the Canonical support plan, i.e. "essential",
                      "standard" or "advanced".
                  type:
                    readOnly: true
                    type: string
                    description: Microsoft.Addons/supportProvider
                  properties:
                    type: object
                    description: Describes Canonical support plan type and status.
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the resource.
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Purchasing
                        - Downgrading
                        - Cancelling
                        - Upgrading
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                x-ms-azure-resource: true
        '404':
          description: Not Found
        default:
          description: '''404'' - ''Not Found''.

            ''400'' - ''Bad Request'''
          content:
            application/json:
              schema:
                type: object
                title: Error
                description: Error description and code explaining why an operation
                  failed.
                required:
                - message
                - code
                properties:
                  message:
                    type: string
                    description: Description of the error.
                  code:
                    type: string
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
    put:
      tags:
      - AddonDetails
      operationId: SupportPlanTypes_CreateOrUpdate
      description: Creates or updates the Canonical support plan of type {type} for
        the subscription.
      x-ms-long-running-operation: true
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: providerName
        in: path
        required: true
        description: The support plan type. For now the only valid type is "canonical".
        x-ms-parameter-location: method
        schema:
          type: string
      - name: planTypeName
        in: path
        required: true
        description: The Canonical support plan type.
        x-ms-enum:
          name: PlanTypeName
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - Essential
          - Standard
          - Advanced
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: The status of the Canonical support plan.
                required:
                - properties
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The id of the ARM resource, e.g. "/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}".
                  name:
                    readOnly: true
                    type: string
                    description: The name of the Canonical support plan, i.e. "essential",
                      "standard" or "advanced".
                  type:
                    readOnly: true
                    type: string
                    description: Microsoft.Addons/supportProvider
                  properties:
                    type: object
                    description: Describes Canonical support plan type and status.
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the resource.
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Purchasing
                        - Downgrading
                        - Cancelling
                        - Upgrading
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                description: The status of the Canonical support plan.
                required:
                - properties
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The id of the ARM resource, e.g. "/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}".
                  name:
                    readOnly: true
                    type: string
                    description: The name of the Canonical support plan, i.e. "essential",
                      "standard" or "advanced".
                  type:
                    readOnly: true
                    type: string
                    description: Microsoft.Addons/supportProvider
                  properties:
                    type: object
                    description: Describes Canonical support plan type and status.
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the resource.
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Purchasing
                        - Downgrading
                        - Cancelling
                        - Upgrading
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                x-ms-azure-resource: true
        '404':
          description: Not Found
        default:
          description: '''404'' - ''Not Found''.

            ''400'' - ''Bad Request'''
          content:
            application/json:
              schema:
                type: object
                title: Error
                description: Error description and code explaining why an operation
                  failed.
                required:
                - message
                - code
                properties:
                  message:
                    type: string
                    description: Description of the error.
                  code:
                    type: string
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
    delete:
      operationId: SupportPlanTypes_Delete
      description: Cancels the Canonical support plan of type {type} for the subscription.
      x-ms-long-running-operation: true
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: providerName
        in: path
        required: true
        description: The support plan type. For now the only valid type is "canonical".
        x-ms-parameter-location: method
        schema:
          type: string
      - name: planTypeName
        in: path
        required: true
        description: The Canonical support plan type.
        x-ms-enum:
          name: PlanTypeName
          modelAsString: true
        x-ms-parameter-location: method
        schema:
          type: string
          enum:
          - Essential
          - Standard
          - Advanced
      responses:
        '202':
          description: Accepted
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: The status of the Canonical support plan.
                required:
                - properties
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: The id of the ARM resource, e.g. "/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}".
                  name:
                    readOnly: true
                    type: string
                    description: The name of the Canonical support plan, i.e. "essential",
                      "standard" or "advanced".
                  type:
                    readOnly: true
                    type: string
                    description: Microsoft.Addons/supportProvider
                  properties:
                    type: object
                    description: Describes Canonical support plan type and status.
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        type: string
                        description: The provisioning state of the resource.
                        enum:
                        - Succeeded
                        - Failed
                        - Cancelled
                        - Purchasing
                        - Downgrading
                        - Cancelling
                        - Upgrading
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                x-ms-azure-resource: true
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                type: object
                title: Error
                description: Error description and code explaining why an operation
                  failed.
                required:
                - message
                - code
                properties:
                  message:
                    type: string
                    description: Description of the error.
                  code:
                    type: string
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
  /subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/canonical/listSupportPlanInfo:
    post:
      tags:
      - AddonStatus
      operationId: SupportPlanTypes_ListInfo
      description: Returns the canonical support plan information for all types for
        the subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials that uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                title: Canonical Support Plan Info
                description: The status of all Canonical support plans for a subscription.
                items:
                  type: object
                  description: Definition object with the properties of a canonical
                    plan
                  properties:
                    supportPlanType:
                      type: string
                      description: Support plan type.
                      enum:
                      - essential
                      - standard
                      - advanced
                      x-ms-enum:
                        name: SupportPlanType
                        modelAsString: true
                    enabled:
                      type: boolean
                      description: Flag to indicate if this support plan type is currently
                        enabled for the subscription.
                    oneTimeCharge:
                      type: string
                      description: The one time charge status for the subscription.
                      enum:
                      - 'no'
                      - onEnabled
                      - onReenabled
                      x-ms-enum:
                        name: OneTimeCharge
                        modelAsString: true
                x-ms-identifiers: []
        '404':
          description: Not Found
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                type: object
                title: Error
                description: Error description and code explaining why an operation
                  failed.
                required:
                - message
                - code
                properties:
                  message:
                    type: string
                    description: Description of the error.
                  code:
                    type: string
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription credentials that uniquely identify the Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SupportProviderName:
      name: providerName
      in: path
      required: true
      description: The support plan type. For now the only valid type is "canonical".
      x-ms-parameter-location: method
      schema:
        type: string
    CanonicalSupportPlanType:
      name: planTypeName
      in: path
      required: true
      description: The Canonical support plan type.
      x-ms-enum:
        name: PlanTypeName
        modelAsString: true
      x-ms-parameter-location: method
      schema:
        type: string
        enum:
        - Essential
        - Standard
        - Advanced
    OperationResultsIdParameter:
      name: operationResultsId
      in: path
      required: true
      description: The id representing an async operation.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CanonicalSupportPlanProperties:
      type: object
      description: The properties of the Canonical support plan.
      properties:
        provisioningState:
          type: string
          description: The provisioning state of the resource.
          enum:
          - Succeeded
          - Failed
          - Cancelled
          - Purchasing
          - Downgrading
          - Cancelling
          - Upgrading
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
    CanonicalSupportPlanResponseEnvelope:
      type: object
      description: The status of the Canonical support plan.
      required:
      - properties
      properties:
        id:
          readOnly: true
          type: string
          description: The id of the ARM resource, e.g. "/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}".
        name:
          readOnly: true
          type: string
          description: The name of the Canonical support plan, i.e. "essential", "standard"
            or "advanced".
        type:
          readOnly: true
          type: string
          description: Microsoft.Addons/supportProvider
        properties:
          type: object
          description: Describes Canonical support plan type and status.
          x-ms-client-flatten: true
          properties:
            provisioningState:
              type: string
              description: The provisioning state of the resource.
              enum:
              - Succeeded
              - Failed
              - Cancelled
              - Purchasing
              - Downgrading
              - Cancelling
              - Upgrading
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
      x-ms-azure-resource: true
    CanonicalSupportPlanInfo:
      type: array
      title: Canonical Support Plan Info
      description: The status of all Canonical support plans for a subscription.
      items:
        type: object
        description: Definition object with the properties of a canonical plan
        properties:
          supportPlanType:
            type: string
            description: Support plan type.
            enum:
            - essential
            - standard
            - advanced
            x-ms-enum:
              name: SupportPlanType
              modelAsString: true
          enabled:
            type: boolean
            description: Flag to indicate if this support plan type is currently enabled
              for the subscription.
          oneTimeCharge:
            type: string
            description: The one time charge status for the subscription.
            enum:
            - 'no'
            - onEnabled
            - onReenabled
            x-ms-enum:
              name: OneTimeCharge
              modelAsString: true
      x-ms-identifiers: []
    CanonicalSupportPlanInfoDefinition:
      type: object
      description: Definition object with the properties of a canonical plan
      properties:
        supportPlanType:
          type: string
          description: Support plan type.
          enum:
          - essential
          - standard
          - advanced
          x-ms-enum:
            name: SupportPlanType
            modelAsString: true
        enabled:
          type: boolean
          description: Flag to indicate if this support plan type is currently enabled
            for the subscription.
        oneTimeCharge:
          type: string
          description: The one time charge status for the subscription.
          enum:
          - 'no'
          - onEnabled
          - onReenabled
          x-ms-enum:
            name: OneTimeCharge
            modelAsString: true
    OperationListValue:
      type: object
      description: List of supported operations.
      properties:
        value:
          type: array
          description: List of supported operations.
          items:
            type: object
            description: Definition object with the name and properties of an operation.
            properties:
              name:
                type: string
                description: Name of the operation.
              display:
                description: Display object with properties of the operation.
                type: object
                properties:
                  provider:
                    type: string
                    description: Resource provider of the operation.
                  resource:
                    type: string
                    description: Resource for the operation.
                  operation:
                    type: string
                    description: Short description of the operation.
                  description:
                    type: string
                    description: Description of the operation.
          x-ms-identifiers:
          - name
    OperationList:
      type: array
      description: List of supported operations.
      items:
        type: object
        description: Definition object with the name and properties of an operation.
        properties:
          name:
            type: string
            description: Name of the operation.
          display:
            description: Display object with properties of the operation.
            type: object
            properties:
              provider:
                type: string
                description: Resource provider of the operation.
              resource:
                type: string
                description: Resource for the operation.
              operation:
                type: string
                description: Short description of the operation.
              description:
                type: string
                description: Description of the operation.
      x-ms-identifiers:
      - name
    OperationsDefinition:
      type: object
      description: Definition object with the name and properties of an operation.
      properties:
        name:
          type: string
          description: Name of the operation.
        display:
          description: Display object with properties of the operation.
          type: object
          properties:
            provider:
              type: string
              description: Resource provider of the operation.
            resource:
              type: string
              description: Resource for the operation.
            operation:
              type: string
              description: Short description of the operation.
            description:
              type: string
              description: Description of the operation.
    OperationsDisplayDefinition:
      type: object
      description: Display object with properties of the operation.
      properties:
        provider:
          type: string
          description: Resource provider of the operation.
        resource:
          type: string
          description: Resource for the operation.
        operation:
          type: string
          description: Short description of the operation.
        description:
          type: string
          description: Description of the operation.
    ErrorDefinition:
      type: object
      title: Error
      description: Error description and code explaining why an operation failed.
      required:
      - message
      - code
      properties:
        message:
          type: string
          description: Description of the error.
        code:
          type: string
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
