openapi: 3.0.0
info:
  title: MarketplaceOrdering.Agreements
  description: REST API for MarketplaceOrdering Agreements.
  version: 2021-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/offerTypes/{offerType}/publishers/{publisherId}/offers/{offerId}/plans/{planId}/agreements/current
  : get:
      operationId: MarketplaceAgreements_Get
      description: Get marketplace terms.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription ID that identifies an Azure subscription.
        schema:
          type: string
      - name: offerType
        in: path
        required: true
        description: Offer Type, currently only virtualmachine type is supported.
        x-ms-parameter-location: method
        x-ms-enum:
          name: OfferType
          modelAsString: true
        schema:
          type: string
          enum:
          - virtualmachine
      - name: publisherId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Publisher identifier string of image being deployed.
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Offer identifier string of image being deployed.
        schema:
          type: string
      - name: planId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Plan identifier string of image being deployed.
        schema:
          type: string
      responses:
        '200':
          description: Terms returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  properties:
                    description: Represents the properties of the resource.
                    x-ms-client-flatten: true
                    properties:
                      publisher:
                        type: string
                        description: Publisher identifier string of image being deployed.
                      product:
                        type: string
                        description: Offer identifier string of image being deployed.
                      plan:
                        type: string
                        description: Plan identifier string of image being deployed.
                      licenseTextLink:
                        type: string
                        description: Link to HTML with Microsoft and Publisher terms.
                      privacyPolicyLink:
                        type: string
                        description: Link to the privacy policy of the publisher.
                      marketplaceTermsLink:
                        type: string
                        description: Link to HTML with Azure Marketplace terms.
                      retrieveDatetime:
                        type: string
                        format: date-time
                        description: Date and time in UTC of when the terms were accepted.
                          This is empty if Accepted is false.
                      signature:
                        type: string
                        description: Terms signature.
                      accepted:
                        type: boolean
                        description: If any version of the terms have been accepted,
                          otherwise false.
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.MarketplaceOrdering
                  service is not able to process the incoming request. The reason
                  is provided in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
    put:
      operationId: MarketplaceAgreements_Create
      description: Save marketplace terms.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request.
        schema:
          type: string
      - name: offerType
        in: path
        required: true
        description: Offer Type, currently only virtualmachine type is supported.
        x-ms-parameter-location: method
        x-ms-enum:
          name: OfferType
          modelAsString: true
        schema:
          type: string
          enum:
          - virtualmachine
      - name: subscriptionId
        in: path
        required: true
        description: The subscription ID that identifies an Azure subscription.
        schema:
          type: string
      - name: publisherId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Publisher identifier string of image being deployed.
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Offer identifier string of image being deployed.
        schema:
          type: string
      - name: planId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Plan identifier string of image being deployed.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                properties:
                  description: Represents the properties of the resource.
                  x-ms-client-flatten: true
                  properties:
                    publisher:
                      type: string
                      description: Publisher identifier string of image being deployed.
                    product:
                      type: string
                      description: Offer identifier string of image being deployed.
                    plan:
                      type: string
                      description: Plan identifier string of image being deployed.
                    licenseTextLink:
                      type: string
                      description: Link to HTML with Microsoft and Publisher terms.
                    privacyPolicyLink:
                      type: string
                      description: Link to the privacy policy of the publisher.
                    marketplaceTermsLink:
                      type: string
                      description: Link to HTML with Azure Marketplace terms.
                    retrieveDatetime:
                      type: string
                      format: date-time
                      description: Date and time in UTC of when the terms were accepted.
                        This is empty if Accepted is false.
                    signature:
                      type: string
                      description: Terms signature.
                    accepted:
                      type: boolean
                      description: If any version of the terms have been accepted,
                        otherwise false.
                systemData:
                  readOnly: true
                  description: The system meta data relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              description: ARM resource.
              x-ms-azure-resource: true
        description: Parameters supplied to the Create Marketplace Terms operation.
        required: true
      responses:
        '200':
          description: OK. The request was successfully processed and the terms were
            accepted or acceptance revoked as per the request body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  properties:
                    description: Represents the properties of the resource.
                    x-ms-client-flatten: true
                    properties:
                      publisher:
                        type: string
                        description: Publisher identifier string of image being deployed.
                      product:
                        type: string
                        description: Offer identifier string of image being deployed.
                      plan:
                        type: string
                        description: Plan identifier string of image being deployed.
                      licenseTextLink:
                        type: string
                        description: Link to HTML with Microsoft and Publisher terms.
                      privacyPolicyLink:
                        type: string
                        description: Link to the privacy policy of the publisher.
                      marketplaceTermsLink:
                        type: string
                        description: Link to HTML with Azure Marketplace terms.
                      retrieveDatetime:
                        type: string
                        format: date-time
                        description: Date and time in UTC of when the terms were accepted.
                          This is empty if Accepted is false.
                      signature:
                        type: string
                        description: Terms signature.
                      accepted:
                        type: boolean
                        description: If any version of the terms have been accepted,
                          otherwise false.
                  systemData:
                    readOnly: true
                    description: The system meta data relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.MarketplaceOrdering
                  service is not able to process the incoming request. The reason
                  is provided in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
  /providers/Microsoft.MarketplaceOrdering/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Microsoft.MarketplaceOrdering REST API
        operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list MarketplaceOrdering operations.
                  It contains a list of operations and a URL link to get the next
                  set of results.
                properties:
                  value:
                    type: array
                    items:
                      description: Microsoft.MarketplaceOrdering REST API operation
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}'
                          type: string
                        display:
                          description: The object that represents the operation.
                          properties:
                            provider:
                              description: 'Service provider: Microsoft.MarketplaceOrdering'
                              type: string
                            resource:
                              description: 'Resource on which the operation is performed:
                                Agreement, virtualmachine, etc.'
                              type: string
                            operation:
                              description: 'Operation type: Get Agreement, Sign Agreement,
                                Cancel Agreement etc.'
                              type: string
                            description:
                              description: Operation description.
                              type: string
                    x-ms-identifiers:
                    - name
                    description: List of Microsoft.MarketplaceOrdering operations
                      supported by the Microsoft.MarketplaceOrdering resource provider.
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      if there are any.
                    readOnly: true
        default:
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.MarketplaceOrdering
                  service is not able to process the incoming request. The reason
                  is provided in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}/sign
  : post:
      operationId: MarketplaceAgreements_Sign
      description: Sign marketplace terms.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription ID that identifies an Azure subscription.
        schema:
          type: string
      - name: publisherId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Publisher identifier string of image being deployed.
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Offer identifier string of image being deployed.
        schema:
          type: string
      - name: planId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Plan identifier string of image being deployed.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request was successfully processed and the terms were
            accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  properties:
                    description: Represents the properties of the resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      id:
                        type: string
                        description: A unique identifier of the agreement.
                      publisher:
                        type: string
                        description: Publisher identifier string of image being deployed.
                      offer:
                        type: string
                        description: Offer identifier string of image being deployed.
                      signDate:
                        type: string
                        format: date-time
                        description: Date and time in UTC of when the terms were accepted.
                          This is empty if state is cancelled.
                      cancelDate:
                        type: string
                        format: date-time
                        description: Date and time in UTC of when the terms were cancelled.
                          This is empty if state is active.
                      state:
                        type: string
                        enum:
                        - Active
                        - Canceled
                        description: Whether the agreement is active or cancelled
                        x-ms-enum:
                          name: state
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.MarketplaceOrdering
                  service is not able to process the incoming request. The reason
                  is provided in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}/cancel
  : post:
      operationId: MarketplaceAgreements_Cancel
      description: Cancel marketplace terms.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription ID that identifies an Azure subscription.
        schema:
          type: string
      - name: publisherId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Publisher identifier string of image being deployed.
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Offer identifier string of image being deployed.
        schema:
          type: string
      - name: planId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Plan identifier string of image being deployed.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request was successfully processed and the terms were
            rejected.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  properties:
                    description: Represents the properties of the resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      id:
                        type: string
                        description: A unique identifier of the agreement.
                      publisher:
                        type: string
                        description: Publisher identifier string of image being deployed.
                      offer:
                        type: string
                        description: Offer identifier string of image being deployed.
                      signDate:
                        type: string
                        format: date-time
                        description: Date and time in UTC of when the terms were accepted.
                          This is empty if state is cancelled.
                      cancelDate:
                        type: string
                        format: date-time
                        description: Date and time in UTC of when the terms were cancelled.
                          This is empty if state is active.
                      state:
                        type: string
                        enum:
                        - Active
                        - Canceled
                        description: Whether the agreement is active or cancelled
                        x-ms-enum:
                          name: state
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.MarketplaceOrdering
                  service is not able to process the incoming request. The reason
                  is provided in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements/{publisherId}/offers/{offerId}/plans/{planId}
  : get:
      operationId: MarketplaceAgreements_GetAgreement
      description: Get marketplace agreement.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription ID that identifies an Azure subscription.
        schema:
          type: string
      - name: publisherId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Publisher identifier string of image being deployed.
        schema:
          type: string
      - name: offerId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Offer identifier string of image being deployed.
        schema:
          type: string
      - name: planId
        in: path
        required: true
        x-ms-parameter-location: method
        description: Plan identifier string of image being deployed.
        schema:
          type: string
      responses:
        '200':
          description: Terms returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  properties:
                    description: Represents the properties of the resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      id:
                        type: string
                        description: A unique identifier of the agreement.
                      publisher:
                        type: string
                        description: Publisher identifier string of image being deployed.
                      offer:
                        type: string
                        description: Offer identifier string of image being deployed.
                      signDate:
                        type: string
                        format: date-time
                        description: Date and time in UTC of when the terms were accepted.
                          This is empty if state is cancelled.
                      cancelDate:
                        type: string
                        format: date-time
                        description: Date and time in UTC of when the terms were cancelled.
                          This is empty if state is active.
                      state:
                        type: string
                        enum:
                        - Active
                        - Canceled
                        description: Whether the agreement is active or cancelled
                        x-ms-enum:
                          name: state
                          modelAsString: true
                description: ARM resource.
                x-ms-azure-resource: true
        default:
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.MarketplaceOrdering
                  service is not able to process the incoming request. The reason
                  is provided in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.MarketplaceOrdering/agreements:
    get:
      operationId: MarketplaceAgreements_List
      description: List marketplace agreements in the subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for the request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription ID that identifies an Azure subscription.
        schema:
          type: string
      responses:
        '200':
          description: Terms returned successfully
          content:
            application/json:
              schema:
                description: Agreement Terms definition list
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        properties:
                          description: Represents the properties of the resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            id:
                              type: string
                              description: A unique identifier of the agreement.
                            publisher:
                              type: string
                              description: Publisher identifier string of image being
                                deployed.
                            offer:
                              type: string
                              description: Offer identifier string of image being
                                deployed.
                            signDate:
                              type: string
                              format: date-time
                              description: Date and time in UTC of when the terms
                                were accepted. This is empty if state is cancelled.
                            cancelDate:
                              type: string
                              format: date-time
                              description: Date and time in UTC of when the terms
                                were cancelled. This is empty if state is active.
                            state:
                              type: string
                              enum:
                              - Active
                              - Canceled
                              description: Whether the agreement is active or cancelled
                              x-ms-enum:
                                name: state
                                modelAsString: true
                      description: ARM resource.
                      x-ms-azure-resource: true
        default:
          description: Microsoft.MarketplaceOrdering error response describing why
            the operation failed.
          content:
            application/json:
              schema:
                description: Error response indicates Microsoft.MarketplaceOrdering
                  service is not able to process the incoming request. The reason
                  is provided in the error message.
                type: object
                properties:
                  error:
                    description: The details of the error.
                    properties:
                      code:
                        description: Error code.
                        type: string
                        readOnly: true
                      message:
                        description: Error message indicating why the operation failed.
                        type: string
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription ID that identifies an Azure subscription.
      schema:
        type: string
    OfferTypeParameter:
      name: offerType
      in: path
      required: true
      description: Offer Type, currently only virtualmachine type is supported.
      x-ms-parameter-location: method
      x-ms-enum:
        name: OfferType
        modelAsString: true
      schema:
        type: string
        enum:
        - virtualmachine
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for the request.
      schema:
        type: string
    PublishersParameter:
      name: publisherId
      in: path
      required: true
      x-ms-parameter-location: method
      description: Publisher identifier string of image being deployed.
      schema:
        type: string
    OffersParameter:
      name: offerId
      in: path
      required: true
      x-ms-parameter-location: method
      description: Offer identifier string of image being deployed.
      schema:
        type: string
    PlansParameter:
      name: planId
      in: path
      required: true
      x-ms-parameter-location: method
      description: Plan identifier string of image being deployed.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AgreementTerms:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        properties:
          description: Represents the properties of the resource.
          x-ms-client-flatten: true
          properties:
            publisher:
              type: string
              description: Publisher identifier string of image being deployed.
            product:
              type: string
              description: Offer identifier string of image being deployed.
            plan:
              type: string
              description: Plan identifier string of image being deployed.
            licenseTextLink:
              type: string
              description: Link to HTML with Microsoft and Publisher terms.
            privacyPolicyLink:
              type: string
              description: Link to the privacy policy of the publisher.
            marketplaceTermsLink:
              type: string
              description: Link to HTML with Azure Marketplace terms.
            retrieveDatetime:
              type: string
              format: date-time
              description: Date and time in UTC of when the terms were accepted. This
                is empty if Accepted is false.
            signature:
              type: string
              description: Terms signature.
            accepted:
              type: boolean
              description: If any version of the terms have been accepted, otherwise
                false.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      description: ARM resource.
      x-ms-azure-resource: true
    AgreementProperties:
      properties:
        publisher:
          type: string
          description: Publisher identifier string of image being deployed.
        product:
          type: string
          description: Offer identifier string of image being deployed.
        plan:
          type: string
          description: Plan identifier string of image being deployed.
        licenseTextLink:
          type: string
          description: Link to HTML with Microsoft and Publisher terms.
        privacyPolicyLink:
          type: string
          description: Link to the privacy policy of the publisher.
        marketplaceTermsLink:
          type: string
          description: Link to HTML with Azure Marketplace terms.
        retrieveDatetime:
          type: string
          format: date-time
          description: Date and time in UTC of when the terms were accepted. This
            is empty if Accepted is false.
        signature:
          type: string
          description: Terms signature.
        accepted:
          type: boolean
          description: If any version of the terms have been accepted, otherwise false.
      description: Agreement Terms definition
    OldAgreementTermsList:
      description: Agreement Terms definition list
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              properties:
                description: Represents the properties of the resource.
                x-ms-client-flatten: true
                type: object
                properties:
                  id:
                    type: string
                    description: A unique identifier of the agreement.
                  publisher:
                    type: string
                    description: Publisher identifier string of image being deployed.
                  offer:
                    type: string
                    description: Offer identifier string of image being deployed.
                  signDate:
                    type: string
                    format: date-time
                    description: Date and time in UTC of when the terms were accepted.
                      This is empty if state is cancelled.
                  cancelDate:
                    type: string
                    format: date-time
                    description: Date and time in UTC of when the terms were cancelled.
                      This is empty if state is active.
                  state:
                    type: string
                    enum:
                    - Active
                    - Canceled
                    description: Whether the agreement is active or cancelled
                    x-ms-enum:
                      name: state
                      modelAsString: true
            description: ARM resource.
            x-ms-azure-resource: true
    OldAgreementTerms:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        properties:
          description: Represents the properties of the resource.
          x-ms-client-flatten: true
          type: object
          properties:
            id:
              type: string
              description: A unique identifier of the agreement.
            publisher:
              type: string
              description: Publisher identifier string of image being deployed.
            offer:
              type: string
              description: Offer identifier string of image being deployed.
            signDate:
              type: string
              format: date-time
              description: Date and time in UTC of when the terms were accepted. This
                is empty if state is cancelled.
            cancelDate:
              type: string
              format: date-time
              description: Date and time in UTC of when the terms were cancelled.
                This is empty if state is active.
            state:
              type: string
              enum:
              - Active
              - Canceled
              description: Whether the agreement is active or cancelled
              x-ms-enum:
                name: state
                modelAsString: true
      description: ARM resource.
      x-ms-azure-resource: true
    OldAgreementProperties:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier of the agreement.
        publisher:
          type: string
          description: Publisher identifier string of image being deployed.
        offer:
          type: string
          description: Offer identifier string of image being deployed.
        signDate:
          type: string
          format: date-time
          description: Date and time in UTC of when the terms were accepted. This
            is empty if state is cancelled.
        cancelDate:
          type: string
          format: date-time
          description: Date and time in UTC of when the terms were cancelled. This
            is empty if state is active.
        state:
          type: string
          enum:
          - Active
          - Canceled
          description: Whether the agreement is active or cancelled
          x-ms-enum:
            name: state
            modelAsString: true
      description: Old Agreement Terms definition
    ErrorResponse:
      description: Error response indicates Microsoft.MarketplaceOrdering service
        is not able to process the incoming request. The reason is provided in the
        error message.
      type: object
      properties:
        error:
          description: The details of the error.
          properties:
            code:
              description: Error code.
              type: string
              readOnly: true
            message:
              description: Error message indicating why the operation failed.
              type: string
              readOnly: true
    Operation:
      description: Microsoft.MarketplaceOrdering REST API operation
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: The object that represents the operation.
          properties:
            provider:
              description: 'Service provider: Microsoft.MarketplaceOrdering'
              type: string
            resource:
              description: 'Resource on which the operation is performed: Agreement,
                virtualmachine, etc.'
              type: string
            operation:
              description: 'Operation type: Get Agreement, Sign Agreement, Cancel
                Agreement etc.'
              type: string
            description:
              description: Operation description.
              type: string
    OperationListResult:
      description: Result of the request to list MarketplaceOrdering operations. It
        contains a list of operations and a URL link to get the next set of results.
      properties:
        value:
          type: array
          items:
            description: Microsoft.MarketplaceOrdering REST API operation
            type: object
            properties:
              name:
                description: 'Operation name: {provider}/{resource}/{operation}'
                type: string
              display:
                description: The object that represents the operation.
                properties:
                  provider:
                    description: 'Service provider: Microsoft.MarketplaceOrdering'
                    type: string
                  resource:
                    description: 'Resource on which the operation is performed: Agreement,
                      virtualmachine, etc.'
                    type: string
                  operation:
                    description: 'Operation type: Get Agreement, Sign Agreement, Cancel
                      Agreement etc.'
                    type: string
                  description:
                    description: Operation description.
                    type: string
          x-ms-identifiers:
          - name
          description: List of Microsoft.MarketplaceOrdering operations supported
            by the Microsoft.MarketplaceOrdering resource provider.
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
    Resource:
      description: ARM resource.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
