openapi: 3.0.0
info:
  title: BlueprintClient
  description: Azure Blueprints Client provides access to blueprint definitions, assignments,
    and artifacts, and related blueprint operations.
  version: 2018-11-01-preview
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}:
    put:
      tags:
      - Blueprint
      operationId: Blueprints_CreateOrUpdate
      description: Create or update a blueprint definition.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client API Version.
        schema:
          type: string
      - name: resourceScope
        in: path
        required: true
        description: 'The scope of the resource. Valid scopes are: management group
          (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}'').'
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: blueprintName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint definition.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: String Id used to locate any resource on Azure.
                type:
                  readOnly: true
                  type: string
                  description: Type of this resource.
                name:
                  readOnly: true
                  type: string
                  description: Name of this resource.
                properties:
                  type: object
                  properties:
                    displayName:
                      type: string
                      description: One-liner string explain this resource.
                      maxLength: 256
                    description:
                      type: string
                      description: Multi-line explain this resource.
                      maxLength: 500
                    status:
                      type: object
                      properties:
                        timeCreated:
                          type: string
                          format: date-time
                          readOnly: true
                          description: Creation time of this blueprint definition.
                        lastModified:
                          type: string
                          format: date-time
                          readOnly: true
                          description: Last modified time of this blueprint definition.
                      description: Shared status properties between all blueprint
                        resources.
                      readOnly: true
                    targetScope:
                      type: string
                      description: The scope where this blueprint definition can be
                        assigned.
                      enum:
                      - subscription
                      - managementGroup
                      x-ms-enum:
                        name: BlueprintTargetScope
                        modelAsString: true
                        values:
                        - value: subscription
                          description: The blueprint targets a subscription during
                            blueprint assignment.
                        - value: managementGroup
                          description: The blueprint targets a management group during
                            blueprint assignment. This is reserved for future use.
                    parameters:
                      description: Parameters required by this blueprint definition.
                      type: object
                      additionalProperties:
                        description: Named collection of parameter metadata.
                        type: object
                        properties:
                          type:
                            type: string
                            description: Allowed data types for Resource Manager template
                              parameters.
                            enum:
                            - string
                            - array
                            - bool
                            - int
                            - object
                            - secureObject
                            - secureString
                            x-ms-enum:
                              name: TemplateParameterType
                              modelAsString: true
                          metadata:
                            description: User-friendly properties for this parameter.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              displayName:
                                type: string
                                description: DisplayName of this parameter/resourceGroup.
                                maxLength: 256
                              description:
                                type: string
                                description: Description of this parameter/resourceGroup.
                                maxLength: 500
                              strongType:
                                type: string
                                description: StrongType for UI to render rich experience
                                  during blueprint assignment. Supported strong types
                                  are resourceType, principalId and location.
                                maxLength: 64
                          defaultValue:
                            description: Default Value for this parameter.
                          allowedValues:
                            type: array
                            description: Array of allowed values for this parameter.
                            items:
                              description: Allowed value.
                        required:
                        - type
                    resourceGroups:
                      description: Resource group placeholders defined by this blueprint
                        definition.
                      type: object
                      additionalProperties:
                        description: Named collection for resourceGroupDefinition.
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of this resourceGroup. Leave empty if
                              the resource group name will be specified during the
                              blueprint assignment.
                          location:
                            type: string
                            description: Location of this resourceGroup. Leave empty
                              if the resource group location will be specified during
                              the blueprint assignment.
                          metadata:
                            description: User-friendly properties for this resource
                              group.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              displayName:
                                type: string
                                description: DisplayName of this parameter/resourceGroup.
                                maxLength: 256
                              description:
                                type: string
                                description: Description of this parameter/resourceGroup.
                                maxLength: 500
                              strongType:
                                type: string
                                description: StrongType for UI to render rich experience
                                  during blueprint assignment. Supported strong types
                                  are resourceType, principalId and location.
                                maxLength: 64
                          dependsOn:
                            type: array
                            description: Artifacts which need to be deployed before
                              this resource group.
                            items:
                              type: string
                              description: Name of peer artifact.
                          tags:
                            description: Tags to be assigned to this resource group.
                            type: object
                            additionalProperties:
                              type: string
                    versions:
                      type: object
                      description: Published versions of this blueprint definition.
                    layout:
                      type: object
                      readOnly: true
                      description: Layout view of the blueprint definition for UI
                        reference.
                  description: Shared properties between all blueprint resources.
                  x-ms-external: true
                  required:
                  - targetScope
                  x-ms-client-flatten: true
              description: Common properties for all Azure resources.
              x-ms-azure-resource: true
              required:
              - properties
        description: Blueprint definition.
        required: true
      responses:
        '201':
          description: Created -- blueprint definition saved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  properties:
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: One-liner string explain this resource.
                        maxLength: 256
                      description:
                        type: string
                        description: Multi-line explain this resource.
                        maxLength: 500
                      status:
                        type: object
                        properties:
                          timeCreated:
                            type: string
                            format: date-time
                            readOnly: true
                            description: Creation time of this blueprint definition.
                          lastModified:
                            type: string
                            format: date-time
                            readOnly: true
                            description: Last modified time of this blueprint definition.
                        description: Shared status properties between all blueprint
                          resources.
                        readOnly: true
                      targetScope:
                        type: string
                        description: The scope where this blueprint definition can
                          be assigned.
                        enum:
                        - subscription
                        - managementGroup
                        x-ms-enum:
                          name: BlueprintTargetScope
                          modelAsString: true
                          values:
                          - value: subscription
                            description: The blueprint targets a subscription during
                              blueprint assignment.
                          - value: managementGroup
                            description: The blueprint targets a management group
                              during blueprint assignment. This is reserved for future
                              use.
                      parameters:
                        description: Parameters required by this blueprint definition.
                        type: object
                        additionalProperties:
                          description: Named collection of parameter metadata.
                          type: object
                          properties:
                            type:
                              type: string
                              description: Allowed data types for Resource Manager
                                template parameters.
                              enum:
                              - string
                              - array
                              - bool
                              - int
                              - object
                              - secureObject
                              - secureString
                              x-ms-enum:
                                name: TemplateParameterType
                                modelAsString: true
                            metadata:
                              description: User-friendly properties for this parameter.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: DisplayName of this parameter/resourceGroup.
                                  maxLength: 256
                                description:
                                  type: string
                                  description: Description of this parameter/resourceGroup.
                                  maxLength: 500
                                strongType:
                                  type: string
                                  description: StrongType for UI to render rich experience
                                    during blueprint assignment. Supported strong
                                    types are resourceType, principalId and location.
                                  maxLength: 64
                            defaultValue:
                              description: Default Value for this parameter.
                            allowedValues:
                              type: array
                              description: Array of allowed values for this parameter.
                              items:
                                description: Allowed value.
                          required:
                          - type
                      resourceGroups:
                        description: Resource group placeholders defined by this blueprint
                          definition.
                        type: object
                        additionalProperties:
                          description: Named collection for resourceGroupDefinition.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this resourceGroup. Leave empty
                                if the resource group name will be specified during
                                the blueprint assignment.
                            location:
                              type: string
                              description: Location of this resourceGroup. Leave empty
                                if the resource group location will be specified during
                                the blueprint assignment.
                            metadata:
                              description: User-friendly properties for this resource
                                group.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: DisplayName of this parameter/resourceGroup.
                                  maxLength: 256
                                description:
                                  type: string
                                  description: Description of this parameter/resourceGroup.
                                  maxLength: 500
                                strongType:
                                  type: string
                                  description: StrongType for UI to render rich experience
                                    during blueprint assignment. Supported strong
                                    types are resourceType, principalId and location.
                                  maxLength: 64
                            dependsOn:
                              type: array
                              description: Artifacts which need to be deployed before
                                this resource group.
                              items:
                                type: string
                                description: Name of peer artifact.
                            tags:
                              description: Tags to be assigned to this resource group.
                              type: object
                              additionalProperties:
                                type: string
                      versions:
                        type: object
                        description: Published versions of this blueprint definition.
                      layout:
                        type: object
                        readOnly: true
                        description: Layout view of the blueprint definition for UI
                          reference.
                    description: Shared properties between all blueprint resources.
                    x-ms-external: true
                    required:
                    - targetScope
                    x-ms-client-flatten: true
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    get:
      tags:
      - Blueprint
      operationId: Blueprints_Get
      description: Get a blueprint definition.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client API Version.
        schema:
          type: string
      - name: resourceScope
        in: path
        required: true
        description: 'The scope of the resource. Valid scopes are: management group
          (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}'').'
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: blueprintName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint definition.
        schema:
          type: string
      responses:
        '200':
          description: OK -- blueprint definition retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  properties:
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: One-liner string explain this resource.
                        maxLength: 256
                      description:
                        type: string
                        description: Multi-line explain this resource.
                        maxLength: 500
                      status:
                        type: object
                        properties:
                          timeCreated:
                            type: string
                            format: date-time
                            readOnly: true
                            description: Creation time of this blueprint definition.
                          lastModified:
                            type: string
                            format: date-time
                            readOnly: true
                            description: Last modified time of this blueprint definition.
                        description: Shared status properties between all blueprint
                          resources.
                        readOnly: true
                      targetScope:
                        type: string
                        description: The scope where this blueprint definition can
                          be assigned.
                        enum:
                        - subscription
                        - managementGroup
                        x-ms-enum:
                          name: BlueprintTargetScope
                          modelAsString: true
                          values:
                          - value: subscription
                            description: The blueprint targets a subscription during
                              blueprint assignment.
                          - value: managementGroup
                            description: The blueprint targets a management group
                              during blueprint assignment. This is reserved for future
                              use.
                      parameters:
                        description: Parameters required by this blueprint definition.
                        type: object
                        additionalProperties:
                          description: Named collection of parameter metadata.
                          type: object
                          properties:
                            type:
                              type: string
                              description: Allowed data types for Resource Manager
                                template parameters.
                              enum:
                              - string
                              - array
                              - bool
                              - int
                              - object
                              - secureObject
                              - secureString
                              x-ms-enum:
                                name: TemplateParameterType
                                modelAsString: true
                            metadata:
                              description: User-friendly properties for this parameter.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: DisplayName of this parameter/resourceGroup.
                                  maxLength: 256
                                description:
                                  type: string
                                  description: Description of this parameter/resourceGroup.
                                  maxLength: 500
                                strongType:
                                  type: string
                                  description: StrongType for UI to render rich experience
                                    during blueprint assignment. Supported strong
                                    types are resourceType, principalId and location.
                                  maxLength: 64
                            defaultValue:
                              description: Default Value for this parameter.
                            allowedValues:
                              type: array
                              description: Array of allowed values for this parameter.
                              items:
                                description: Allowed value.
                          required:
                          - type
                      resourceGroups:
                        description: Resource group placeholders defined by this blueprint
                          definition.
                        type: object
                        additionalProperties:
                          description: Named collection for resourceGroupDefinition.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this resourceGroup. Leave empty
                                if the resource group name will be specified during
                                the blueprint assignment.
                            location:
                              type: string
                              description: Location of this resourceGroup. Leave empty
                                if the resource group location will be specified during
                                the blueprint assignment.
                            metadata:
                              description: User-friendly properties for this resource
                                group.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: DisplayName of this parameter/resourceGroup.
                                  maxLength: 256
                                description:
                                  type: string
                                  description: Description of this parameter/resourceGroup.
                                  maxLength: 500
                                strongType:
                                  type: string
                                  description: StrongType for UI to render rich experience
                                    during blueprint assignment. Supported strong
                                    types are resourceType, principalId and location.
                                  maxLength: 64
                            dependsOn:
                              type: array
                              description: Artifacts which need to be deployed before
                                this resource group.
                              items:
                                type: string
                                description: Name of peer artifact.
                            tags:
                              description: Tags to be assigned to this resource group.
                              type: object
                              additionalProperties:
                                type: string
                      versions:
                        type: object
                        description: Published versions of this blueprint definition.
                      layout:
                        type: object
                        readOnly: true
                        description: Layout view of the blueprint definition for UI
                          reference.
                    description: Shared properties between all blueprint resources.
                    x-ms-external: true
                    required:
                    - targetScope
                    x-ms-client-flatten: true
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - Blueprint
      operationId: Blueprints_Delete
      description: Delete a blueprint definition.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client API Version.
        schema:
          type: string
      - name: resourceScope
        in: path
        required: true
        description: 'The scope of the resource. Valid scopes are: management group
          (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}'').'
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: blueprintName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint definition.
        schema:
          type: string
      responses:
        '200':
          description: OK -- blueprint definition deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  properties:
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: One-liner string explain this resource.
                        maxLength: 256
                      description:
                        type: string
                        description: Multi-line explain this resource.
                        maxLength: 500
                      status:
                        type: object
                        properties:
                          timeCreated:
                            type: string
                            format: date-time
                            readOnly: true
                            description: Creation time of this blueprint definition.
                          lastModified:
                            type: string
                            format: date-time
                            readOnly: true
                            description: Last modified time of this blueprint definition.
                        description: Shared status properties between all blueprint
                          resources.
                        readOnly: true
                      targetScope:
                        type: string
                        description: The scope where this blueprint definition can
                          be assigned.
                        enum:
                        - subscription
                        - managementGroup
                        x-ms-enum:
                          name: BlueprintTargetScope
                          modelAsString: true
                          values:
                          - value: subscription
                            description: The blueprint targets a subscription during
                              blueprint assignment.
                          - value: managementGroup
                            description: The blueprint targets a management group
                              during blueprint assignment. This is reserved for future
                              use.
                      parameters:
                        description: Parameters required by this blueprint definition.
                        type: object
                        additionalProperties:
                          description: Named collection of parameter metadata.
                          type: object
                          properties:
                            type:
                              type: string
                              description: Allowed data types for Resource Manager
                                template parameters.
                              enum:
                              - string
                              - array
                              - bool
                              - int
                              - object
                              - secureObject
                              - secureString
                              x-ms-enum:
                                name: TemplateParameterType
                                modelAsString: true
                            metadata:
                              description: User-friendly properties for this parameter.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: DisplayName of this parameter/resourceGroup.
                                  maxLength: 256
                                description:
                                  type: string
                                  description: Description of this parameter/resourceGroup.
                                  maxLength: 500
                                strongType:
                                  type: string
                                  description: StrongType for UI to render rich experience
                                    during blueprint assignment. Supported strong
                                    types are resourceType, principalId and location.
                                  maxLength: 64
                            defaultValue:
                              description: Default Value for this parameter.
                            allowedValues:
                              type: array
                              description: Array of allowed values for this parameter.
                              items:
                                description: Allowed value.
                          required:
                          - type
                      resourceGroups:
                        description: Resource group placeholders defined by this blueprint
                          definition.
                        type: object
                        additionalProperties:
                          description: Named collection for resourceGroupDefinition.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of this resourceGroup. Leave empty
                                if the resource group name will be specified during
                                the blueprint assignment.
                            location:
                              type: string
                              description: Location of this resourceGroup. Leave empty
                                if the resource group location will be specified during
                                the blueprint assignment.
                            metadata:
                              description: User-friendly properties for this resource
                                group.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: DisplayName of this parameter/resourceGroup.
                                  maxLength: 256
                                description:
                                  type: string
                                  description: Description of this parameter/resourceGroup.
                                  maxLength: 500
                                strongType:
                                  type: string
                                  description: StrongType for UI to render rich experience
                                    during blueprint assignment. Supported strong
                                    types are resourceType, principalId and location.
                                  maxLength: 64
                            dependsOn:
                              type: array
                              description: Artifacts which need to be deployed before
                                this resource group.
                              items:
                                type: string
                                description: Name of peer artifact.
                            tags:
                              description: Tags to be assigned to this resource group.
                              type: object
                              additionalProperties:
                                type: string
                      versions:
                        type: object
                        description: Published versions of this blueprint definition.
                      layout:
                        type: object
                        readOnly: true
                        description: Layout view of the blueprint definition for UI
                          reference.
                    description: Shared properties between all blueprint resources.
                    x-ms-external: true
                    required:
                    - targetScope
                    x-ms-client-flatten: true
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - properties
        '204':
          description: No Content
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints:
    get:
      tags:
      - Blueprint
      operationId: Blueprints_List
      description: List blueprint definitions.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client API Version.
        schema:
          type: string
      - name: resourceScope
        in: path
        required: true
        description: 'The scope of the resource. Valid scopes are: management group
          (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}'').'
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- retrieved list of blueprint definitions.
          content:
            application/json:
              schema:
                type: object
                title: BlueprintList
                description: List of blueprint definitions.
                properties:
                  value:
                    type: array
                    description: List of blueprint definitions.
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        name:
                          readOnly: true
                          type: string
                          description: Name of this resource.
                        properties:
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: One-liner string explain this resource.
                              maxLength: 256
                            description:
                              type: string
                              description: Multi-line explain this resource.
                              maxLength: 500
                            status:
                              type: object
                              properties:
                                timeCreated:
                                  type: string
                                  format: date-time
                                  readOnly: true
                                  description: Creation time of this blueprint definition.
                                lastModified:
                                  type: string
                                  format: date-time
                                  readOnly: true
                                  description: Last modified time of this blueprint
                                    definition.
                              description: Shared status properties between all blueprint
                                resources.
                              readOnly: true
                            targetScope:
                              type: string
                              description: The scope where this blueprint definition
                                can be assigned.
                              enum:
                              - subscription
                              - managementGroup
                              x-ms-enum:
                                name: BlueprintTargetScope
                                modelAsString: true
                                values:
                                - value: subscription
                                  description: The blueprint targets a subscription
                                    during blueprint assignment.
                                - value: managementGroup
                                  description: The blueprint targets a management
                                    group during blueprint assignment. This is reserved
                                    for future use.
                            parameters:
                              description: Parameters required by this blueprint definition.
                              type: object
                              additionalProperties:
                                description: Named collection of parameter metadata.
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: Allowed data types for Resource Manager
                                      template parameters.
                                    enum:
                                    - string
                                    - array
                                    - bool
                                    - int
                                    - object
                                    - secureObject
                                    - secureString
                                    x-ms-enum:
                                      name: TemplateParameterType
                                      modelAsString: true
                                  metadata:
                                    description: User-friendly properties for this
                                      parameter.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      displayName:
                                        type: string
                                        description: DisplayName of this parameter/resourceGroup.
                                        maxLength: 256
                                      description:
                                        type: string
                                        description: Description of this parameter/resourceGroup.
                                        maxLength: 500
                                      strongType:
                                        type: string
                                        description: StrongType for UI to render rich
                                          experience during blueprint assignment.
                                          Supported strong types are resourceType,
                                          principalId and location.
                                        maxLength: 64
                                  defaultValue:
                                    description: Default Value for this parameter.
                                  allowedValues:
                                    type: array
                                    description: Array of allowed values for this
                                      parameter.
                                    items:
                                      description: Allowed value.
                                required:
                                - type
                            resourceGroups:
                              description: Resource group placeholders defined by
                                this blueprint definition.
                              type: object
                              additionalProperties:
                                description: Named collection for resourceGroupDefinition.
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Name of this resourceGroup. Leave
                                      empty if the resource group name will be specified
                                      during the blueprint assignment.
                                  location:
                                    type: string
                                    description: Location of this resourceGroup. Leave
                                      empty if the resource group location will be
                                      specified during the blueprint assignment.
                                  metadata:
                                    description: User-friendly properties for this
                                      resource group.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      displayName:
                                        type: string
                                        description: DisplayName of this parameter/resourceGroup.
                                        maxLength: 256
                                      description:
                                        type: string
                                        description: Description of this parameter/resourceGroup.
                                        maxLength: 500
                                      strongType:
                                        type: string
                                        description: StrongType for UI to render rich
                                          experience during blueprint assignment.
                                          Supported strong types are resourceType,
                                          principalId and location.
                                        maxLength: 64
                                  dependsOn:
                                    type: array
                                    description: Artifacts which need to be deployed
                                      before this resource group.
                                    items:
                                      type: string
                                      description: Name of peer artifact.
                                  tags:
                                    description: Tags to be assigned to this resource
                                      group.
                                    type: object
                                    additionalProperties:
                                      type: string
                            versions:
                              type: object
                              description: Published versions of this blueprint definition.
                            layout:
                              type: object
                              readOnly: true
                              description: Layout view of the blueprint definition
                                for UI reference.
                          description: Shared properties between all blueprint resources.
                          x-ms-external: true
                          required:
                          - targetScope
                          x-ms-client-flatten: true
                      description: Common properties for all Azure resources.
                      x-ms-azure-resource: true
                      required:
                      - properties
                  nextLink:
                    type: string
                    readOnly: true
                    description: Link to the next page of results.
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}:
    put:
      tags:
      - Artifact
      operationId: Artifacts_CreateOrUpdate
      description: Create or update blueprint artifact.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client API Version.
        schema:
          type: string
      - name: resourceScope
        in: path
        required: true
        description: 'The scope of the resource. Valid scopes are: management group
          (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}'').'
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: blueprintName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint definition.
        schema:
          type: string
      - name: artifactName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint artifact.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: String Id used to locate any resource on Azure.
                type:
                  readOnly: true
                  type: string
                  description: Type of this resource.
                name:
                  readOnly: true
                  type: string
                  description: Name of this resource.
                kind:
                  type: string
                  description: Specifies the kind of blueprint artifact.
                  enum:
                  - template
                  - roleAssignment
                  - policyAssignment
                  x-ms-enum:
                    name: ArtifactKind
                    modelAsString: true
              description: Common properties for all Azure resources.
              x-ms-azure-resource: true
              required:
              - kind
              discriminator:
                propertyName: kind
        description: Blueprint artifact to create or update.
        required: true
      responses:
        '201':
          description: Created -- blueprint artifact created/updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  kind:
                    type: string
                    description: Specifies the kind of blueprint artifact.
                    enum:
                    - template
                    - roleAssignment
                    - policyAssignment
                    x-ms-enum:
                      name: ArtifactKind
                      modelAsString: true
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    get:
      tags:
      - Artifact
      operationId: Artifacts_Get
      description: Get a blueprint artifact.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client API Version.
        schema:
          type: string
      - name: resourceScope
        in: path
        required: true
        description: 'The scope of the resource. Valid scopes are: management group
          (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}'').'
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: blueprintName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint definition.
        schema:
          type: string
      - name: artifactName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint artifact.
        schema:
          type: string
      responses:
        '200':
          description: OK -- blueprint artifact retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  kind:
                    type: string
                    description: Specifies the kind of blueprint artifact.
                    enum:
                    - template
                    - roleAssignment
                    - policyAssignment
                    x-ms-enum:
                      name: ArtifactKind
                      modelAsString: true
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - Artifact
      operationId: Artifacts_Delete
      description: Delete a blueprint artifact.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client API Version.
        schema:
          type: string
      - name: resourceScope
        in: path
        required: true
        description: 'The scope of the resource. Valid scopes are: management group
          (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}'').'
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: blueprintName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint definition.
        schema:
          type: string
      - name: artifactName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint artifact.
        schema:
          type: string
      responses:
        '200':
          description: OK -- blueprint artifact deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: String Id used to locate any resource on Azure.
                  type:
                    readOnly: true
                    type: string
                    description: Type of this resource.
                  name:
                    readOnly: true
                    type: string
                    description: Name of this resource.
                  kind:
                    type: string
                    description: Specifies the kind of blueprint artifact.
                    enum:
                    - template
                    - roleAssignment
                    - policyAssignment
                    x-ms-enum:
                      name: ArtifactKind
                      modelAsString: true
                description: Common properties for all Azure resources.
                x-ms-azure-resource: true
                required:
                - kind
                discriminator:
                  propertyName: kind
        '204':
          description: No Content
        default:
          description: Blueprints error response.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  /{resourceScope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts:
    get:
      tags:
      - Artifact
      operationId: Artifacts_List
      description: List artifacts for a given blueprint definition.
      parameters:
      - name: api-version
        in: query
        required: true
        x-ms-parameter-location: client
        description: Client API Version.
        schema:
          type: string
      - name: resourceScope
        in: path
        required: true
        description: 'The scope of the resource. Valid scopes are: management group
          (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}'').'
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: blueprintName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the blueprint definition.
        schema:
          type: string
      responses:
        '200':
          description: OK -- blueprint artifacts retrieved.
          content:
            application/json:
              schema:
                type: object
                description: List of blueprint artifacts.
                properties:
                  value:
                    type: array
                    description: List of blueprint artifacts.
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: String Id used to locate any resource on Azure.
                        type:
                          readOnly: true
                          type: string
                          description: Type of this resource.
                        name:
                          readOnly: true
                          type: string
                          description: Name of this resource.
                        kind:
                          type: string
[...]
