openapi: 3.0.0
info:
  title: Azure Enterprise Knowledge Graph Service
  description: Azure Enterprise Knowledge Graph Service is a platform for creating
    knowledge graphs at scale.
  version: 2018-12-03
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseKnowledgeGraph/services/{resourceName}
  : put:
      tags:
      - EnterpriseKnowledgeGraph
      description: Creates a EnterpriseKnowledgeGraph Service. EnterpriseKnowledgeGraph
        Service is a resource group wide resource type.
      operationId: EnterpriseKnowledgeGraph_Create
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource group in the
          user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: resourceName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Specifies the resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Specifies the name of the resource.
                  type: string
                  readOnly: true
                type:
                  description: Specifies the type of the resource.
                  type: string
                  readOnly: true
                location:
                  description: Specifies the location of the resource.
                  type: string
                tags:
                  description: Contains resource tags defined as key/value pairs.
                  type: object
                  additionalProperties:
                    type: string
                sku:
                  description: Gets or sets the SKU of the resource.
                  properties:
                    name:
                      description: The sku name
                      type: string
                      enum:
                      - F0
                      - S1
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                  required:
                  - name
                properties:
                  description: The set of properties specific to EnterpriseKnowledgeGraph
                    resource
                  properties:
                    description:
                      type: string
                      description: The description of the EnterpriseKnowledgeGraph
                    metadata:
                      description: Specifies the metadata  of the resource.
                      type: object
                    provisioningState:
                      type: string
                      description: The state of EnterpriseKnowledgeGraph provisioning
                      enum:
                      - Creating
                      - Deleting
                      - Failed
                      - Succeeded
              description: Azure resource
              x-ms-azure-resource: true
        description: The parameters to provide for the created EnterpriseKnowledgeGraph.
        required: true
      responses:
        '200':
          description: 'The resource provider should return 200 (OK) to indicate that
            the operation completed successfully. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    required:
                    - name
                  properties:
                    description: The set of properties specific to EnterpriseKnowledgeGraph
                      resource
                    properties:
                      description:
                        type: string
                        description: The description of the EnterpriseKnowledgeGraph
                      metadata:
                        description: Specifies the metadata  of the resource.
                        type: object
                      provisioningState:
                        type: string
                        description: The state of EnterpriseKnowledgeGraph provisioning
                        enum:
                        - Creating
                        - Deleting
                        - Failed
                        - Succeeded
                description: Azure resource
                x-ms-azure-resource: true
        '201':
          description: If resource is created successfully, the service should return
            201 (Creating). Execution to continue asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    required:
                    - name
                  properties:
                    description: The set of properties specific to EnterpriseKnowledgeGraph
                      resource
                    properties:
                      description:
                        type: string
                        description: The description of the EnterpriseKnowledgeGraph
                      metadata:
                        description: Specifies the metadata  of the resource.
                        type: object
                      provisioningState:
                        type: string
                        description: The state of EnterpriseKnowledgeGraph provisioning
                        enum:
                        - Creating
                        - Deleting
                        - Failed
                        - Succeeded
                description: Azure resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: EnterpriseKnowledgeGraph Service error object.
    patch:
      tags:
      - EnterpriseKnowledgeGraph
      description: Updates a EnterpriseKnowledgeGraph Service
      operationId: EnterpriseKnowledgeGraph_Update
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource group in the
          user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: resourceName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Specifies the resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Specifies the name of the resource.
                  type: string
                  readOnly: true
                type:
                  description: Specifies the type of the resource.
                  type: string
                  readOnly: true
                location:
                  description: Specifies the location of the resource.
                  type: string
                tags:
                  description: Contains resource tags defined as key/value pairs.
                  type: object
                  additionalProperties:
                    type: string
                sku:
                  description: Gets or sets the SKU of the resource.
                  properties:
                    name:
                      description: The sku name
                      type: string
                      enum:
                      - F0
                      - S1
                      x-ms-enum:
                        name: SkuName
                        modelAsString: true
                  required:
                  - name
                properties:
                  description: The set of properties specific to EnterpriseKnowledgeGraph
                    resource
                  properties:
                    description:
                      type: string
                      description: The description of the EnterpriseKnowledgeGraph
                    metadata:
                      description: Specifies the metadata  of the resource.
                      type: object
                    provisioningState:
                      type: string
                      description: The state of EnterpriseKnowledgeGraph provisioning
                      enum:
                      - Creating
                      - Deleting
                      - Failed
                      - Succeeded
              description: Azure resource
              x-ms-azure-resource: true
        description: The parameters to provide for the created EnterpriseKnowledgeGraph.
        required: true
        x-ms-client-flatten: true
      responses:
        '200':
          description: 'The resource provider should return 200 (OK) to indicate that
            the operation completed successfully. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    required:
                    - name
                  properties:
                    description: The set of properties specific to EnterpriseKnowledgeGraph
                      resource
                    properties:
                      description:
                        type: string
                        description: The description of the EnterpriseKnowledgeGraph
                      metadata:
                        description: Specifies the metadata  of the resource.
                        type: object
                      provisioningState:
                        type: string
                        description: The state of EnterpriseKnowledgeGraph provisioning
                        enum:
                        - Creating
                        - Deleting
                        - Failed
                        - Succeeded
                description: Azure resource
                x-ms-azure-resource: true
        '201':
          description: If resource is updated successfully, the service should return
            201 (Created). Execution to continue asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    required:
                    - name
                  properties:
                    description: The set of properties specific to EnterpriseKnowledgeGraph
                      resource
                    properties:
                      description:
                        type: string
                        description: The description of the EnterpriseKnowledgeGraph
                      metadata:
                        description: Specifies the metadata  of the resource.
                        type: object
                      provisioningState:
                        type: string
                        description: The state of EnterpriseKnowledgeGraph provisioning
                        enum:
                        - Creating
                        - Deleting
                        - Failed
                        - Succeeded
                description: Azure resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed. If the
            resource group *or* resource does not exist, 404 (NotFound) should be
            returned.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: EnterpriseKnowledgeGraph Service error object.
    delete:
      tags:
      - EnterpriseKnowledgeGraph
      description: 'Deletes a EnterpriseKnowledgeGraph Service from the resource group. '
      operationId: EnterpriseKnowledgeGraph_Delete
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource group in the
          user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: resourceName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A 200 (OK) should be returned if the object exists and was
            deleted successfully;
        '204':
          description: a 204 (NoContent) should be used if the resource does not exist
            and the request is well formed.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: EnterpriseKnowledgeGraph Service error object.
    get:
      tags:
      - EnterpriseKnowledgeGraph
      description: Returns a EnterpriseKnowledgeGraph service specified by the parameters.
      operationId: EnterpriseKnowledgeGraph_Get
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource group in the
          user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: resourceName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'The resource provider should return 200 (OK) to indicate that
            the operation completed successfully. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Specifies the resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Specifies the name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Specifies the type of the resource.
                    type: string
                    readOnly: true
                  location:
                    description: Specifies the location of the resource.
                    type: string
                  tags:
                    description: Contains resource tags defined as key/value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  sku:
                    description: Gets or sets the SKU of the resource.
                    properties:
                      name:
                        description: The sku name
                        type: string
                        enum:
                        - F0
                        - S1
                        x-ms-enum:
                          name: SkuName
                          modelAsString: true
                    required:
                    - name
                  properties:
                    description: The set of properties specific to EnterpriseKnowledgeGraph
                      resource
                    properties:
                      description:
                        type: string
                        description: The description of the EnterpriseKnowledgeGraph
                      metadata:
                        description: Specifies the metadata  of the resource.
                        type: object
                      provisioningState:
                        type: string
                        description: The state of EnterpriseKnowledgeGraph provisioning
                        enum:
                        - Creating
                        - Deleting
                        - Failed
                        - Succeeded
                description: Azure resource
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed. If the
            resource group *or* resource does not exist, 404 (NotFound) should be
            returned.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: EnterpriseKnowledgeGraph Service error object.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseKnowledgeGraph/services:
    get:
      tags:
      - EnterpriseKnowledgeGraph
      description: Returns all the resources of a particular type belonging to a resource
        group
      operationId: EnterpriseKnowledgeGraph_ListByResourceGroup
      parameters:
      - name: resourceGroupName
        x-ms-parameter-location: method
        in: path
        required: true
        description: The name of the EnterpriseKnowledgeGraph resource group in the
          user subscription.
        schema:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: "The resource provider should return 200 (OK) to indicate that\
            \ the operation completed successfully. For other errors (e.g. internal\
            \ errors) use the appropriate HTTP error code.\nThe nextLink field is\
            \ expected to point to the URL the client should use to fetch the next\
            \ page (per server side paging). This matches the OData guidelines for\
            \ paged responses here. If a resource provider does not support paging,\
            \ it should return the same body (JSON object with \u201Cvalue\u201D property)\
            \ but omit nextLink entirely (or set to null, *not* empty string) for\
            \ future compatibility.\nThe nextLink should be implemented using following\
            \ query parameters:\n\xB7 skipToken: opaque token that allows the resource\
            \ provider to skip resources already enumerated. This value is defined\
            \ and returned by the RP after first request via nextLink.\n\xB7 top:\
            \ the optional client query parameter which defines the maximum number\
            \ of records to be returned by the server.\nImplementation details:\n\xB7\
            \ NextLink may include all the query parameters (specifically OData $filter)\
            \ used by the client in the first query. \n\xB7 Server may return less\
            \ records than requested with nextLink. Returning zero records with NextLink\
            \ is an acceptable response. \nClients must fetch records until the nextLink\
            \ is not returned back / null. Clients should never rely on number of\
            \ returned records to determinate if pagination is completed."
          content:
            application/json:
              schema:
                properties:
                  nextLink:
                    description: The link used to get the next page of EnterpriseKnowledgeGraph
                      service resources.
                    type: string
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Specifies the resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Specifies the name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Specifies the type of the resource.
                          type: string
                          readOnly: true
                        location:
                          description: Specifies the location of the resource.
                          type: string
                        tags:
                          description: Contains resource tags defined as key/value
                            pairs.
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          description: Gets or sets the SKU of the resource.
                          properties:
                            name:
                              description: The sku name
                              type: string
                              enum:
                              - F0
                              - S1
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                          required:
                          - name
                        properties:
                          description: The set of properties specific to EnterpriseKnowledgeGraph
                            resource
                          properties:
                            description:
                              type: string
                              description: The description of the EnterpriseKnowledgeGraph
                            metadata:
                              description: Specifies the metadata  of the resource.
                              type: object
                            provisioningState:
                              type: string
                              description: The state of EnterpriseKnowledgeGraph provisioning
                              enum:
                              - Creating
                              - Deleting
                              - Failed
                              - Succeeded
                      description: Azure resource
                      x-ms-azure-resource: true
                    description: Gets the list of EnterpriseKnowledgeGraph service
                      results and their properties.
                description: The list of  EnterpriseKnowledgeGraph service operation
                  response.
        default:
          description: Error response describing why the operation failed. If the
            resource group does not exist, 404 (NotFound) will be returned.
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: EnterpriseKnowledgeGraph Service error object.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.EnterpriseKnowledgeGraph/services:
    get:
      tags:
      - EnterpriseKnowledgeGraph
      description: Returns all the resources of a particular type belonging to a subscription.
      operationId: EnterpriseKnowledgeGraph_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Azure Subscription ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'The resource provider should return 200 (OK) to indicate that
            the operation completed successfully. For other errors (e.g. internal
            errors) use the appropriate HTTP error code.

            The nextLink field is expected to point to the URL the client should use
            to fetch the next page (per server side paging). This matches the OData
            guidelines for paged responses. If a resource provider does not support
            paging, it should return the same body but leave nextLink empty for future
            compatibility.

            For a detailed explanation of each field in the response body, please
            refer to the request body description in the PUT resource section. '
          content:
            application/json:
              schema:
                properties:
                  nextLink:
                    description: The link used to get the next page of EnterpriseKnowledgeGraph
                      service resources.
                    type: string
                  value:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Specifies the resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Specifies the name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Specifies the type of the resource.
                          type: string
                          readOnly: true
                        location:
                          description: Specifies the location of the resource.
                          type: string
                        tags:
                          description: Contains resource tags defined as key/value
                            pairs.
                          type: object
                          additionalProperties:
                            type: string
                        sku:
                          description: Gets or sets the SKU of the resource.
                          properties:
                            name:
                              description: The sku name
                              type: string
                              enum:
                              - F0
                              - S1
                              x-ms-enum:
                                name: SkuName
                                modelAsString: true
                          required:
                          - name
                        properties:
                          description: The set of properties specific to EnterpriseKnowledgeGraph
                            resource
                          properties:
                            description:
                              type: string
                              description: The description of the EnterpriseKnowledgeGraph
                            metadata:
                              description: Specifies the metadata  of the resource.
                              type: object
                            provisioningState:
                              type: string
                              description: The state of EnterpriseKnowledgeGraph provisioning
                              enum:
                              - Creating
                              - Deleting
                              - Failed
                              - Succeeded
                      description: Azure resource
                      x-ms-azure-resource: true
                    description: Gets the list of EnterpriseKnowledgeGraph service
                      results and their properties.
                description: The list of  EnterpriseKnowledgeGraph service operation
                  response.
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                properties:
                  error:
                    description: The error body.
                    properties:
                      code:
                        type: string
                        description: error code
                      message:
                        type: string
                        description: error message
                    required:
                    - code
                    - message
                description: EnterpriseKnowledgeGraph Service error object.
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.EnterpriseKnowledgeGraph/operations:
    get:
      tags:
      - Operations
      description: Lists all the available EnterpriseKnowledgeGraph services operations.
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                description: The list of EnterpriseKnowledgeGraph service operation
                  response.
                type: object
                properties:
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
                  value:
                    description: The list of operations.
                    type: array
                    items:
                      description: The operations supported by EnterpriseKnowledgeGraph
                        Service Management.
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}.'
                          type: string
                        display:
                          description: The operation supported by EnterpriseKnowledgeGraph
                            Service Management.
                          type: object
                          properties:
                            description:
                              description: The description of the operation.
                              type: string
                            operation:
                              description: The action that users can perform, based
                                on their permission level.
                              type: string
                            provider:
                              description: 'Service provider: Microsoft EnterpriseKnowledgeGraph
                                Service.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed.
                              type: string
                        origin:
                          description: The origin of the operation.
                          type: string
                        properties:
                          description: Additional properties.
                          type: object
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    resourceGroupNameParameter:
      name: resourceGroupName
      x-ms-parameter-location: method
      in: path
      required: true
      description: The name of the EnterpriseKnowledgeGraph resource group in the
        user subscription.
      schema:
        type: string
        minLength: 2
        maxLength: 64
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
    resourceNameParameter:
      name: resourceName
      x-ms-parameter-location: method
      in: path
      required: true
      description: The name of the EnterpriseKnowledgeGraph resource.
      schema:
        type: string
        minLength: 2
        maxLength: 64
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure Subscription ID.
      required: true
      schema:
        type: string
    apiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Version of the API to be used with the client request.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Azure resource
      x-ms-azure-resource: true
      properties:
        id:
          description: Specifies the resource ID.
          type: string
          readOnly: true
        name:
          description: Specifies the name of the resource.
          type: string
          readOnly: true
        type:
          description: Specifies the type of the resource.
          type: string
          readOnly: true
        location:
          description: Specifies the location of the resource.
          type: string
        tags:
          description: Contains resource tags defined as key/value pairs.
          type: object
          additionalProperties:
            type: string
        sku:
          description: Gets or sets the SKU of the resource.
          properties:
            name:
              description: The sku name
              type: string
              enum:
              - F0
              - S1
              x-ms-enum:
                name: SkuName
                modelAsString: true
          required:
          - name
    Sku:
      properties:
        name:
          description: The sku name
          type: string
          enum:
          - F0
          - S1
          x-ms-enum:
            name: SkuName
            modelAsString: true
      required:
      - name
      description: The SKU of the EnterpriseKnowledgeGraph service account.
    SkuName:
      type: string
      description: The name of SKU.
      enum:
      - F0
      - S1
      x-ms-enum:
        name: SkuName
        modelAsString: true
    EnterpriseKnowledgeGraph:
      type: object
      properties:
        id:
          description: Specifies the resource ID.
          type: string
          readOnly: true
        name:
          description: Specifies the name of the resource.
          type: string
          readOnly: true
        type:
          description: Specifies the type of the resource.
          type: string
          readOnly: true
        location:
          description: Specifies the location of the resource.
          type: string
        tags:
          description: Contains resource tags defined as key/value pairs.
          type: object
          additionalProperties:
            type: string
        sku:
          description: Gets or sets the SKU of the resource.
          properties:
            name:
              description: The sku name
              type: string
              enum:
              - F0
              - S1
              x-ms-enum:
                name: SkuName
                modelAsString: true
          required:
          - name
        properties:
          description: The set of properties specific to EnterpriseKnowledgeGraph
            resource
          properties:
            description:
              type: string
              description: The description of the EnterpriseKnowledgeGraph
            metadata:
              description: Specifies the metadata  of the resource.
              type: object
            provisioningState:
              type: string
              description: The state of EnterpriseKnowledgeGraph provisioning
              enum:
              - Creating
              - Deleting
              - Failed
              - Succeeded
      description: Azure resource
      x-ms-azure-resource: true
    EnterpriseKnowledgeGraphProperties:
      properties:
        description:
          type: string
          description: The description of the EnterpriseKnowledgeGraph
        metadata:
          description: Specifies the metadata  of the resource.
          type: object
        provisioningState:
          type: string
          description: The state of EnterpriseKnowledgeGraph provisioning
          enum:
          - Creating
          - Deleting
          - Failed
          - Succeeded
      description: The parameters to provide for the EnterpriseKnowledgeGraph.
    EnterpriseKnowledgeGraphResponseList:
      properties:
        nextLink:
          description: The link used to get the next page of EnterpriseKnowledgeGraph
            service resources.
          type: string
        value:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              id:
                description: Specifies the resource ID.
                type: string
                readOnly: true
              name:
                description: Specifies the name of the resource.
                type: string
                readOnly: true
              type:
                description: Specifies the type of the resource.
                type: string
                readOnly: true
              location:
                description: Specifies the location of the resource.
                type: string
              tags:
                description: Contains resource tags defined as key/value pairs.
                type: object
                additionalProperties:
                  type: string
              sku:
                description: Gets or sets the SKU of the resource.
                properties:
                  name:
                    description: The sku name
                    type: string
                    enum:
                    - F0
                    - S1
                    x-ms-enum:
                      name: SkuName
                      modelAsString: true
                required:
                - name
              properties:
                description: The set of properties specific to EnterpriseKnowledgeGraph
                  resource
                properties:
                  description:
                    type: string
                    description: The description of the EnterpriseKnowledgeGraph
                  metadata:
                    description: Specifies the metadata  of the resource.
                    type: object
                  provisioningState:
                    type: string
                    description: The state of EnterpriseKnowledgeGraph provisioning
                    enum:
                    - Creating
                    - Deleting
                    - Failed
                    - Succeeded
            description: Azure resource
            x-ms-azure-resource: true
          description: Gets the list of EnterpriseKnowledgeGraph service results and
            their properties.
      description: The list of  EnterpriseKnowledgeGraph service operation response.
    Error:
      properties:
        error:
          description: The error body.
          properties:
            code:
              type: string
              description: error code
            message:
              type: string
              description: error message
          required:
          - code
          - message
      description: EnterpriseKnowledgeGraph Service error object.
    ErrorBody:
      properties:
        code:
          type: string
          description: error code
        message:
          type: string
          description: error message
      description: EnterpriseKnowledgeGraph Service error body.
      required:
      - code
      - message
    OperationEntityListResult:
      description: The list of EnterpriseKnowledgeGraph service operation response.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of operations.
          type: string
        value:
          description: The list of operations.
          type: array
          items:
            description: The operations supported by EnterpriseKnowledgeGraph Service
              Management.
            type: object
            properties:
              name:
                description: 'Operation name: {provider}/{resource}/{operation}.'
                type: string
              display:
                description: The operation supported by EnterpriseKnowledgeGraph Service
                  Management.
                type: object
                properties:
                  description:
                    description: The description of the operation.
                    type: string
                  operation:
                    description: The action that users can perform, based on their
                      permission level.
                    type: string
                  provider:
                    description: 'Service provider: Microsoft EnterpriseKnowledgeGraph
                      Service.'
                    type: string
                  resource:
                    description: Resource on which the operation is performed.
                    type: string
              origin:
                description: The origin of the operation.
                type: string
              properties:
                description: Additional properties.
                type: object
    OperationEntity:
      description: The operations supported by EnterpriseKnowledgeGraph Service Management.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          type: string
        display:
          description: The operation supported by EnterpriseKnowledgeGraph Service
            Management.
          type: object
          properties:
            description:
              description: The description of the operation.
              type: string
            operation:
              description: The action that users can perform, based on their permission
                level.
              type: string
            provider:
              description: 'Service provider: Microsoft EnterpriseKnowledgeGraph Service.'
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
        origin:
          description: The origin of the operation.
          type: string
        properties:
          description: Additional properties.
          type: object
    OperationDisplayInfo:
      description: The operation supported by EnterpriseKnowledgeGraph Service Management.
      type: object
      properties:
        description:
          description: The description of the operation.
          type: string
        operation:
          description: The action that users can perform, based on their permission
            level.
          type: string
        provider:
          description: 'Service provider: Microsoft EnterpriseKnowledgeGraph Service.'
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
