openapi: 3.0.0
info:
  version: '3.1'
  title: Custom Vision Prediction Client
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.1/prediction
- url: '{Endpoint}/customvision/v3.1/prediction'
  variables:
    Endpoint:
      description: Supported Cognitive Services endpoints.
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
      default: none
security:
- apim_key: []
paths:
  /{projectId}/classify/iterations/{publishedName}/image:
    post:
      description: Classify an image and saves the result.
      operationId: ImageClassifier_ClassifyImage
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        x-nullable: false
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        x-nullable: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  description: Binary image data. Supported formats are JPEG, GIF,
                    PNG, and BMP. Supports images up to 4MB.
                  type: string
                  format: binary
              required:
              - imageData
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
            application/xml:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
            text/xml:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            application/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            text/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
  /{projectId}/classify/iterations/{publishedName}/image/nostore:
    post:
      description: Classify an image without saving the result.
      operationId: ImageClassifier_ClassifyImageWithoutSaving
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        x-nullable: false
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        x-nullable: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imageData:
                  description: Binary image data. Supported formats are JPEG, GIF,
                    PNG, and BMP. Supports images up to 4MB.
                  type: string
                  format: binary
              required:
              - imageData
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
            application/xml:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
            text/xml:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            application/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            text/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
  /{projectId}/classify/iterations/{publishedName}/url:
    post:
      description: Classify an image url and saves the result.
      operationId: ImageClassifier_ClassifyImageUrl
      parameters:
      - name: projectId
        in: path
        description: The project id.
        required: true
        x-nullable: false
        schema:
          type: string
          format: uuid
      - name: publishedName
        in: path
        description: Specifies the name of the model to evaluate against.
        required: true
        schema:
          type: string
      - name: application
        in: query
        description: Optional. Specifies the name of application using the endpoint.
        required: false
        x-nullable: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Image url.
              required:
              - url
              type: object
              properties:
                url:
                  description: Url of the image.
                  type: string
                  readOnly: false
                  nullable: false
          application/xml:
            schema:
              description: Image url.
              required:
              - url
              type: object
              properties:
                url:
                  description: Url of the image.
                  type: string
                  readOnly: false
                  nullable: false
          text/xml:
            schema:
              description: Image url.
              required:
              - url
              type: object
              properties:
                url:
                  description: Url of the image.
                  type: string
                  readOnly: false
                  nullable: false
          application/x-www-form-urlencoded:
            schema:
              description: Image url.
              required:
              - url
              type: object
              properties:
                url:
                  description: Url of the image.
                  type: string
                  readOnly: false
                  nullable: false
        description: An ImageUrl that contains the url of the image to be evaluated.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
            application/xml:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
            text/xml:
              schema:
                description: Result of an image prediction request.
                type: object
                properties:
                  id:
                    format: uuid
                    description: Prediction Id.
                    type: string
                    readOnly: true
                    nullable: false
                  project:
                    format: uuid
                    description: Project Id.
                    type: string
                    readOnly: true
                    nullable: false
                  iteration:
                    format: uuid
                    description: Iteration Id.
                    type: string
                    readOnly: true
                    nullable: false
                  created:
                    format: date-time
                    description: Date this prediction was created.
                    type: string
                    readOnly: true
                    nullable: false
                  predictions:
                    description: List of predictions.
                    type: array
                    items:
                      description: Prediction result.
                      type: object
                      properties:
                        probability:
                          format: float
                          description: Probability of the tag.
                          type: number
                          readOnly: true
                          nullable: false
                        tagId:
                          format: uuid
                          description: Id of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: false
                        tagName:
                          description: Name of the predicted tag.
                          type: string
                          readOnly: true
                          nullable: true
                        boundingBox:
                          description: Bounding box of the prediction.
                          readOnly: true
                          required:
                          - left
                          - top
                          - width
                          - height
                          type: object
                          properties:
                            left:
                              format: float
                              description: Coordinate of the left boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            top:
                              format: float
                              description: Coordinate of the top boundary.
                              type: number
                              readOnly: false
                              nullable: false
                            width:
                              format: float
                              description: Width.
                              type: number
                              readOnly: false
                              nullable: false
                            height:
                              format: float
                              description: Height.
                              type: number
                              readOnly: false
                              nullable: false
                          nullable: true
                        tagType:
                          description: Type of the predicted tag.
                          enum:
                          - Regular
                          - Negative
                          - GeneralProduct
                          type: string
                          readOnly: true
                          x-ms-enum:
                            name: TagType
                            modelAsString: true
                          nullable: true
                      nullable: false
                    readOnly: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
                    - ErrorPreparePerformanceMigrationFailed
                    - ErrorProjectInvalidWorkspace
                    - ErrorProjectInvalidPipelineConfiguration
                    - ErrorProjectInvalidDomain
                    - ErrorProjectTrainingRequestFailed
                    - ErrorProjectImportRequestFailed
                    - ErrorProjectExportRequestFailed
                    - ErrorFeaturizationServiceUnavailable
                    - ErrorFeaturizationQueueTimeout
                    - ErrorFeaturizationInvalidFeaturizer
                    - ErrorFeaturizationAugmentationUnavailable
                    - ErrorFeaturizationUnrecognizedJob
                    - ErrorFeaturizationAugmentationError
                    - ErrorExporterInvalidPlatform
                    - ErrorExporterInvalidFeaturizer
                    - ErrorExporterInvalidClassifier
                    - ErrorPredictionServiceUnavailable
                    - ErrorPredictionModelNotFound
                    - ErrorPredictionModelNotCached
                    - ErrorPrediction
                    - ErrorPredictionStorage
                    - ErrorRegionProposal
                    - ErrorUnknownBaseModel
                    - ErrorInvalid
                    type: string
                    x-ms-enum:
                      name: CustomVisionErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
            application/xml:
              schema:
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - NoError
                    - BadRequest
                    - BadRequestExceededBatchSize
                    - BadRequestNotSupported
                    - BadRequestInvalidIds
                    - BadRequestProjectName
                    - BadRequestProjectNameNotUnique
                    - BadRequestProjectDescription
                    - BadRequestProjectUnknownDomain
                    - BadRequestProjectUnknownClassification
                    - BadRequestProjectUnsupportedDomainTypeChange
                    - BadRequestProjectUnsupportedExportPlatform
                    - BadRequestProjectImagePreprocessingSettings
                    - BadRequestProjectDuplicated
                    - BadRequestIterationName
                    - BadRequestIterationNameNotUnique
                    - BadRequestIterationDescription
                    - BadRequestIterationIsNotTrained
                    - BadRequestIterationValidationFailed
                    - BadRequestWorkspaceCannotBeModified
                    - BadRequestWorkspaceNotDeletable
                    - BadRequestTagName
                    - BadRequestTagNameNotUnique
                    - BadRequestTagDescription
                    - BadRequestTagType
                    - BadRequestMultipleNegativeTag
                    - BadRequestMultipleGeneralProductTag
                    - BadRequestImageTags
                    - BadRequestImageRegions
                    - BadRequestNegativeAndRegularTagOnSameImage
                    - BadRequestUnsupportedDomain
                    - BadRequestRequiredParamIsNull
                    - BadRequestIterationIsPublished
                    - BadRequestInvalidPublishName
                    - BadRequestInvalidPublishTarget
                    - BadRequestUnpublishFailed
                    - BadRequestIterationNotPublished
                    - BadRequestSubscriptionApi
                    - BadRequestExceedProjectLimit
                    - BadRequestExceedIterationPerProjectLimit
                    - BadRequestExceedTagPerProjectLimit
                    - BadRequestExceedTagPerImageLimit
                    - BadRequestExceededQuota
                    - BadRequestCannotMigrateProjectWithName
                    - BadRequestNotLimitedTrial
                    - BadRequestImageBatch
                    - BadRequestImageStream
                    - BadRequestImageUrl
                    - BadRequestImageFormat
                    - BadRequestImageSizeBytes
                    - BadRequestImageDimensions
                    - BadRequestImageExceededCount
                    - BadRequestTrainingNotNeeded
                    - BadRequestTrainingNotNeededButTrainingPipelineUpdated
                    - BadRequestTrainingValidationFailed
                    - BadRequestClassificationTrainingValidationFailed
                    - BadRequestMultiClassClassificationTrainingValidationFailed
                    - BadRequestMultiLabelClassificationTrainingValidationFailed
                    - BadRequestDetectionTrainingValidationFailed
                    - BadRequestTrainingAlreadyInProgress
                    - BadRequestDetectionTrainingNotAllowNegativeTag
                    - BadRequestInvalidEmailAddress
                    - BadRequestDomainNotSupportedForAdvancedTraining
                    - BadRequestExportPlatformNotSupportedForAdvancedTraining
                    - BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining
                    - BadRequestExportValidationFailed
                    - BadRequestExportAlreadyInProgress
                    - BadRequestPredictionIdsMissing
                    - BadRequestPredictionIdsExceededCount
                    - BadRequestPredictionTagsExceededCount
                    - BadRequestPredictionResultsExceededCount
                    - BadRequestPredictionInvalidApplicationName
                    - BadRequestPredictionInvalidQueryParameters
                    - BadRequestInvalidImportToken
                    - BadRequestExportWhileTraining
                    - BadRequestImageMetadataKey
                    - BadRequestImageMetadataValue
                    - BadRequestOperationNotSupported
                    - BadRequestInvalidArtifactUri
                    - BadRequestCustomerManagedKeyRevoked
                    - BadRequestInvalid
                    - UnsupportedMediaType
                    - Forbidden
                    - ForbiddenUser
                    - ForbiddenUserResource
                    - ForbiddenUserSignupDisabled
                    - ForbiddenUserSignupAllowanceExceeded
                    - ForbiddenUserDoesNotExist
                    - ForbiddenUserDisabled
                    - ForbiddenUserInsufficientCapability
                    - ForbiddenDRModeEnabled
                    - ForbiddenInvalid
                    - NotFound
                    - NotFoundProject
                    - NotFoundProjectDefaultIteration
                    - NotFoundIteration
                    - NotFoundIterationPerformance
                    - NotFoundTag
                    - NotFoundImage
                    - NotFoundDomain
                    - NotFoundApimSubscription
                    - NotFoundInvalid
                    - Conflict
                    - ConflictInvalid
                    - ErrorUnknown
                    - ErrorIterationCopyFailed
[...]
