openapi: 3.0.0
info:
  title: MySQLManagementClient
  description: The Microsoft Azure management API provides create, read, update, and
    delete functionality for Azure MySQL resources including servers, databases, firewall
    rules and configurations.
  version: 2023-12-30
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/configurations/{configurationName}
  : put:
      tags:
      - Configurations
      operationId: Configurations_CreateOrUpdate
      description: Updates a configuration of a server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      - name: configurationName
        in: path
        required: true
        description: The name of the server configuration.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  description: The properties of a configuration.
                  type: object
                  properties:
                    value:
                      type: string
                      description: Value of the configuration.
                    currentValue:
                      type: string
                      description: Current value of the configuration.
                    description:
                      type: string
                      readOnly: true
                      description: Description of the configuration.
                    documentationLink:
                      type: string
                      readOnly: true
                      description: The link used to get the document from community
                        or Azure site.
                    defaultValue:
                      type: string
                      readOnly: true
                      description: Default value of the configuration.
                    dataType:
                      type: string
                      readOnly: true
                      description: Data type of the configuration.
                    allowedValues:
                      type: string
                      readOnly: true
                      description: Allowed values of the configuration.
                    source:
                      type: string
                      description: Source of the configuration.
                      enum:
                      - system-default
                      - user-override
                      x-ms-enum:
                        name: ConfigurationSource
                        modelAsString: true
                    isReadOnly:
                      type: string
                      readOnly: true
                      description: If is the configuration read only.
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: IsReadOnly
                        modelAsString: true
                    isConfigPendingRestart:
                      type: string
                      readOnly: true
                      description: If is the configuration pending restart or not.
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: IsConfigPendingRestart
                        modelAsString: true
                    isDynamicConfig:
                      type: string
                      readOnly: true
                      description: If is the configuration dynamic.
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: IsDynamicConfig
                        modelAsString: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The required parameters for updating a server configuration.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of a configuration.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Value of the configuration.
                      currentValue:
                        type: string
                        description: Current value of the configuration.
                      description:
                        type: string
                        readOnly: true
                        description: Description of the configuration.
                      documentationLink:
                        type: string
                        readOnly: true
                        description: The link used to get the document from community
                          or Azure site.
                      defaultValue:
                        type: string
                        readOnly: true
                        description: Default value of the configuration.
                      dataType:
                        type: string
                        readOnly: true
                        description: Data type of the configuration.
                      allowedValues:
                        type: string
                        readOnly: true
                        description: Allowed values of the configuration.
                      source:
                        type: string
                        description: Source of the configuration.
                        enum:
                        - system-default
                        - user-override
                        x-ms-enum:
                          name: ConfigurationSource
                          modelAsString: true
                      isReadOnly:
                        type: string
                        readOnly: true
                        description: If is the configuration read only.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsReadOnly
                          modelAsString: true
                      isConfigPendingRestart:
                        type: string
                        readOnly: true
                        description: If is the configuration pending restart or not.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsConfigPendingRestart
                          modelAsString: true
                      isDynamicConfig:
                        type: string
                        readOnly: true
                        description: If is the configuration dynamic.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsDynamicConfig
                          modelAsString: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - Configurations
      operationId: Configurations_Update
      description: Updates a configuration of a server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      - name: configurationName
        in: path
        required: true
        description: The name of the server configuration.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  description: The properties of a configuration.
                  type: object
                  properties:
                    value:
                      type: string
                      description: Value of the configuration.
                    currentValue:
                      type: string
                      description: Current value of the configuration.
                    description:
                      type: string
                      readOnly: true
                      description: Description of the configuration.
                    documentationLink:
                      type: string
                      readOnly: true
                      description: The link used to get the document from community
                        or Azure site.
                    defaultValue:
                      type: string
                      readOnly: true
                      description: Default value of the configuration.
                    dataType:
                      type: string
                      readOnly: true
                      description: Data type of the configuration.
                    allowedValues:
                      type: string
                      readOnly: true
                      description: Allowed values of the configuration.
                    source:
                      type: string
                      description: Source of the configuration.
                      enum:
                      - system-default
                      - user-override
                      x-ms-enum:
                        name: ConfigurationSource
                        modelAsString: true
                    isReadOnly:
                      type: string
                      readOnly: true
                      description: If is the configuration read only.
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: IsReadOnly
                        modelAsString: true
                    isConfigPendingRestart:
                      type: string
                      readOnly: true
                      description: If is the configuration pending restart or not.
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: IsConfigPendingRestart
                        modelAsString: true
                    isDynamicConfig:
                      type: string
                      readOnly: true
                      description: If is the configuration dynamic.
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: IsDynamicConfig
                        modelAsString: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The required parameters for updating a server configuration.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of a configuration.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Value of the configuration.
                      currentValue:
                        type: string
                        description: Current value of the configuration.
                      description:
                        type: string
                        readOnly: true
                        description: Description of the configuration.
                      documentationLink:
                        type: string
                        readOnly: true
                        description: The link used to get the document from community
                          or Azure site.
                      defaultValue:
                        type: string
                        readOnly: true
                        description: Default value of the configuration.
                      dataType:
                        type: string
                        readOnly: true
                        description: Data type of the configuration.
                      allowedValues:
                        type: string
                        readOnly: true
                        description: Allowed values of the configuration.
                      source:
                        type: string
                        description: Source of the configuration.
                        enum:
                        - system-default
                        - user-override
                        x-ms-enum:
                          name: ConfigurationSource
                          modelAsString: true
                      isReadOnly:
                        type: string
                        readOnly: true
                        description: If is the configuration read only.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsReadOnly
                          modelAsString: true
                      isConfigPendingRestart:
                        type: string
                        readOnly: true
                        description: If is the configuration pending restart or not.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsConfigPendingRestart
                          modelAsString: true
                      isDynamicConfig:
                        type: string
                        readOnly: true
                        description: If is the configuration dynamic.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsDynamicConfig
                          modelAsString: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    get:
      tags:
      - Configurations
      operationId: Configurations_Get
      description: Gets information about a configuration of server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      - name: configurationName
        in: path
        required: true
        description: The name of the server configuration.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of a configuration.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Value of the configuration.
                      currentValue:
                        type: string
                        description: Current value of the configuration.
                      description:
                        type: string
                        readOnly: true
                        description: Description of the configuration.
                      documentationLink:
                        type: string
                        readOnly: true
                        description: The link used to get the document from community
                          or Azure site.
                      defaultValue:
                        type: string
                        readOnly: true
                        description: Default value of the configuration.
                      dataType:
                        type: string
                        readOnly: true
                        description: Data type of the configuration.
                      allowedValues:
                        type: string
                        readOnly: true
                        description: Allowed values of the configuration.
                      source:
                        type: string
                        description: Source of the configuration.
                        enum:
                        - system-default
                        - user-override
                        x-ms-enum:
                          name: ConfigurationSource
                          modelAsString: true
                      isReadOnly:
                        type: string
                        readOnly: true
                        description: If is the configuration read only.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsReadOnly
                          modelAsString: true
                      isConfigPendingRestart:
                        type: string
                        readOnly: true
                        description: If is the configuration pending restart or not.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsConfigPendingRestart
                          modelAsString: true
                      isDynamicConfig:
                        type: string
                        readOnly: true
                        description: If is the configuration dynamic.
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: IsDynamicConfig
                          modelAsString: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/updateConfigurations
  : post:
      tags:
      - Configurations
      operationId: Configurations_BatchUpdate
      description: Update a list of configurations in a given server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the configuration.
                      properties:
                        type: object
                        properties:
                          value:
                            type: string
                            description: Value of the configuration.
                          source:
                            type: string
                            description: Source of the configuration.
                        x-ms-client-flatten: true
                        description: The properties can be updated for a configuration.
                    description: Represents a Configuration.
                  x-ms-identifiers: []
                  description: The list of server configurations.
                resetAllToDefault:
                  type: string
                  description: Whether to reset all server parameters to default.
                  enum:
                  - 'True'
                  - 'False'
                  x-ms-enum:
                    name: ResetAllToDefault
                    modelAsString: true
              description: A list of server configurations to update.
        description: The parameters for updating a list of server configuration.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: The properties of a configuration.
                          type: object
                          properties:
                            value:
                              type: string
                              description: Value of the configuration.
                            currentValue:
                              type: string
                              description: Current value of the configuration.
                            description:
                              type: string
                              readOnly: true
                              description: Description of the configuration.
                            documentationLink:
                              type: string
                              readOnly: true
                              description: The link used to get the document from
                                community or Azure site.
                            defaultValue:
                              type: string
                              readOnly: true
                              description: Default value of the configuration.
                            dataType:
                              type: string
                              readOnly: true
                              description: Data type of the configuration.
                            allowedValues:
                              type: string
                              readOnly: true
                              description: Allowed values of the configuration.
                            source:
                              type: string
                              description: Source of the configuration.
                              enum:
                              - system-default
                              - user-override
                              x-ms-enum:
                                name: ConfigurationSource
                                modelAsString: true
                            isReadOnly:
                              type: string
                              readOnly: true
                              description: If is the configuration read only.
                              enum:
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                name: IsReadOnly
                                modelAsString: true
                            isConfigPendingRestart:
                              type: string
                              readOnly: true
                              description: If is the configuration pending restart
                                or not.
                              enum:
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                name: IsConfigPendingRestart
                                modelAsString: true
                            isDynamicConfig:
                              type: string
                              readOnly: true
                              description: If is the configuration dynamic.
                              enum:
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                name: IsDynamicConfig
                                modelAsString: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of server configurations.
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
                description: A list of server configurations.
        '202':
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/configurations
  : get:
      tags:
      - Configurations
      operationId: Configurations_ListByServer
      description: List all the configurations in a given server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      - name: tags
        in: query
        required: false
        description: The tags of the server configuration.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: keyword
        in: query
        required: false
        description: The keyword of the server configuration.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: The page of the server configuration.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: false
        description: The pageSize of the server configuration.
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: The properties of a configuration.
                          type: object
                          properties:
                            value:
                              type: string
                              description: Value of the configuration.
                            currentValue:
                              type: string
                              description: Current value of the configuration.
                            description:
                              type: string
                              readOnly: true
                              description: Description of the configuration.
                            documentationLink:
                              type: string
                              readOnly: true
                              description: The link used to get the document from
                                community or Azure site.
                            defaultValue:
                              type: string
                              readOnly: true
                              description: Default value of the configuration.
                            dataType:
                              type: string
                              readOnly: true
                              description: Data type of the configuration.
                            allowedValues:
                              type: string
                              readOnly: true
                              description: Allowed values of the configuration.
                            source:
                              type: string
                              description: Source of the configuration.
                              enum:
                              - system-default
                              - user-override
                              x-ms-enum:
                                name: ConfigurationSource
                                modelAsString: true
                            isReadOnly:
                              type: string
                              readOnly: true
                              description: If is the configuration read only.
                              enum:
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                name: IsReadOnly
                                modelAsString: true
                            isConfigPendingRestart:
                              type: string
                              readOnly: true
                              description: If is the configuration pending restart
                                or not.
                              enum:
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                name: IsConfigPendingRestart
                                modelAsString: true
                            isDynamicConfig:
                              type: string
                              readOnly: true
                              description: If is the configuration dynamic.
                              enum:
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                name: IsDynamicConfig
                                modelAsString: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of server configurations.
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
                description: A list of server configurations.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ConfigurationNameParameter:
      name: configurationName
      in: path
      required: true
      description: The name of the server configuration.
      x-ms-parameter-location: method
      schema:
        type: string
    ConfigurationTagsParameter:
      name: tags
      in: query
      required: false
      description: The tags of the server configuration.
      x-ms-parameter-location: method
      schema:
        type: string
    ConfigurationKeywordParameter:
      name: keyword
      in: query
      required: false
      description: The keyword of the server configuration.
      x-ms-parameter-location: method
      schema:
        type: string
    ConfigurationPageParameter:
      name: page
      in: query
      required: false
      description: The page of the server configuration.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    ConfigurationPageSizeParameter:
      name: pageSize
      in: query
      required: false
      description: The pageSize of the server configuration.
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
  requestBodies:
    Configurations_CreateOrUpdateParameters:
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: The properties of a configuration.
                type: object
                properties:
                  value:
                    type: string
                    description: Value of the configuration.
                  currentValue:
                    type: string
                    description: Current value of the configuration.
                  description:
                    type: string
                    readOnly: true
                    description: Description of the configuration.
                  documentationLink:
                    type: string
                    readOnly: true
                    description: The link used to get the document from community
                      or Azure site.
                  defaultValue:
                    type: string
                    readOnly: true
                    description: Default value of the configuration.
                  dataType:
                    type: string
                    readOnly: true
                    description: Data type of the configuration.
                  allowedValues:
                    type: string
                    readOnly: true
                    description: Allowed values of the configuration.
                  source:
                    type: string
                    description: Source of the configuration.
                    enum:
                    - system-default
                    - user-override
                    x-ms-enum:
                      name: ConfigurationSource
                      modelAsString: true
                  isReadOnly:
                    type: string
                    readOnly: true
                    description: If is the configuration read only.
                    enum:
                    - 'True'
                    - 'False'
                    x-ms-enum:
                      name: IsReadOnly
                      modelAsString: true
                  isConfigPendingRestart:
                    type: string
                    readOnly: true
                    description: If is the configuration pending restart or not.
                    enum:
                    - 'True'
                    - 'False'
                    x-ms-enum:
                      name: IsConfigPendingRestart
                      modelAsString: true
                  isDynamicConfig:
                    type: string
                    readOnly: true
                    description: If is the configuration dynamic.
                    enum:
                    - 'True'
                    - 'False'
                    x-ms-enum:
                      name: IsDynamicConfig
                      modelAsString: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
      description: The required parameters for updating a server configuration.
      required: true
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ConfigurationProperties:
      type: object
      properties:
        value:
          type: string
          description: Value of the configuration.
        currentValue:
          type: string
          description: Current value of the configuration.
        description:
          type: string
          readOnly: true
          description: Description of the configuration.
        documentationLink:
          type: string
          readOnly: true
          description: The link used to get the document from community or Azure site.
        defaultValue:
          type: string
          readOnly: true
          description: Default value of the configuration.
        dataType:
          type: string
          readOnly: true
          description: Data type of the configuration.
        allowedValues:
          type: string
          readOnly: true
          description: Allowed values of the configuration.
        source:
          type: string
          description: Source of the configuration.
          enum:
          - system-default
          - user-override
          x-ms-enum:
            name: ConfigurationSource
            modelAsString: true
        isReadOnly:
          type: string
          readOnly: true
          description: If is the configuration read only.
          enum:
          - 'True'
          - 'False'
          x-ms-enum:
            name: IsReadOnly
            modelAsString: true
        isConfigPendingRestart:
          type: string
          readOnly: true
          description: If is the configuration pending restart or not.
          enum:
          - 'True'
          - 'False'
          x-ms-enum:
            name: IsConfigPendingRestart
            modelAsString: true
        isDynamicConfig:
          type: string
          readOnly: true
          description: If is the configuration dynamic.
          enum:
          - 'True'
          - 'False'
          x-ms-enum:
            name: IsDynamicConfig
            modelAsString: true
      description: The properties of a configuration.
    Configuration:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          x-ms-client-flatten: true
          description: The properties of a configuration.
          type: object
          properties:
            value:
              type: string
              description: Value of the configuration.
            currentValue:
              type: string
              description: Current value of the configuration.
            description:
              type: string
              readOnly: true
              description: Description of the configuration.
            documentationLink:
              type: string
              readOnly: true
              description: The link used to get the document from community or Azure
                site.
            defaultValue:
              type: string
              readOnly: true
              description: Default value of the configuration.
            dataType:
              type: string
              readOnly: true
              description: Data type of the configuration.
            allowedValues:
              type: string
              readOnly: true
              description: Allowed values of the configuration.
            source:
              type: string
              description: Source of the configuration.
              enum:
              - system-default
              - user-override
              x-ms-enum:
                name: ConfigurationSource
                modelAsString: true
            isReadOnly:
              type: string
              readOnly: true
              description: If is the configuration read only.
              enum:
              - 'True'
              - 'False'
              x-ms-enum:
                name: IsReadOnly
                modelAsString: true
            isConfigPendingRestart:
              type: string
              readOnly: true
              description: If is the configuration pending restart or not.
              enum:
              - 'True'
              - 'False'
              x-ms-enum:
                name: IsConfigPendingRestart
                modelAsString: true
            isDynamicConfig:
              type: string
              readOnly: true
              description: If is the configuration dynamic.
              enum:
              - 'True'
              - 'False'
              x-ms-enum:
                name: IsDynamicConfig
                modelAsString: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ConfigurationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: The properties of a configuration.
                type: object
                properties:
                  value:
                    type: string
                    description: Value of the configuration.
                  currentValue:
                    type: string
                    description: Current value of the configuration.
                  description:
                    type: string
                    readOnly: true
                    description: Description of the configuration.
                  documentationLink:
                    type: string
                    readOnly: true
                    description: The link used to get the document from community
                      or Azure site.
                  defaultValue:
                    type: string
                    readOnly: true
                    description: Default value of the configuration.
                  dataType:
                    type: string
                    readOnly: true
                    description: Data type of the configuration.
                  allowedValues:
                    type: string
                    readOnly: true
                    description: Allowed values of the configuration.
                  source:
                    type: string
                    description: Source of the configuration.
                    enum:
                    - system-default
                    - user-override
                    x-ms-enum:
                      name: ConfigurationSource
                      modelAsString: true
                  isReadOnly:
                    type: string
                    readOnly: true
                    description: If is the configuration read only.
                    enum:
                    - 'True'
                    - 'False'
                    x-ms-enum:
                      name: IsReadOnly
                      modelAsString: true
                  isConfigPendingRestart:
                    type: string
                    readOnly: true
                    description: If is the configuration pending restart or not.
                    enum:
                    - 'True'
                    - 'False'
                    x-ms-enum:
                      name: IsConfigPendingRestart
                      modelAsString: true
                  isDynamicConfig:
                    type: string
                    readOnly: true
[...]
