openapi: 3.0.0
info:
  title: MySQLManagementClient
  description: The Microsoft Azure management API provides create, read, update, and
    delete functionality for Azure MySQL resources including servers, databases, firewall
    rules and configurations.
  version: 2023-12-30
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}
  : put:
      tags:
      - Servers
      operationId: Servers_Create
      description: Creates a new server or updates an existing server. The update
        action will overwrite the existing server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                identity:
                  description: The cmk identity for the server.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    principalId:
                      type: string
                      description: ObjectId from the KeyVault
                      readOnly: true
                    tenantId:
                      type: string
                      description: TenantId from the KeyVault
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity.
                      enum:
                      - UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        description: ''
                        items:
                          type: object
                          properties:
                            principalId:
                              description: Principal Id of user assigned identity
                              type: string
                              x-ms-client-name: PrincipalId
                              readOnly: true
                            clientId:
                              description: Client Id of user assigned identity
                              type: string
                              x-ms-client-name: ClientId
                              readOnly: true
                          description: Metadata of user assigned identity.
                      description: Metadata of user assigned identity.
                sku:
                  description: The SKU (pricing tier) of the server.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the sku, e.g. Standard_D32s_v3.
                    tier:
                      type: string
                      description: The tier of the particular SKU, e.g. GeneralPurpose.
                      enum:
                      - Burstable
                      - GeneralPurpose
                      - MemoryOptimized
                      x-ms-enum:
                        name: ServerSkuTier
                        modelAsString: true
                  required:
                  - name
                  - tier
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the server.
                  type: object
                  properties:
                    administratorLogin:
                      type: string
                      description: The administrator's login name of a server. Can
                        only be specified when the server is being created (and is
                        required for creation).
                      x-ms-mutability:
                      - create
                      - read
                    administratorLoginPassword:
                      type: string
                      x-ms-secret: true
                      format: password
                      description: The password of the administrator login (required
                        for server creation).
                      x-ms-mutability:
                      - create
                      - update
                    version:
                      description: Server version.
                      type: string
                      enum:
                      - '5.7'
                      - 8.0.21
                      x-ms-enum:
                        name: ServerVersion
                        modelAsString: true
                    availabilityZone:
                      type: string
                      description: availability Zone information of the server.
                      x-ms-mutability:
                      - create
                      - read
                    createMode:
                      type: string
                      description: The mode to create a new MySQL server.
                      enum:
                      - Default
                      - PointInTimeRestore
                      - Replica
                      - GeoRestore
                      x-ms-enum:
                        name: CreateMode
                        modelAsString: true
                      x-ms-mutability:
                      - create
                    sourceServerResourceId:
                      type: string
                      description: The source MySQL server id.
                      x-ms-mutability:
                      - create
                      - read
                    restorePointInTime:
                      type: string
                      format: date-time
                      description: Restore point creation time (ISO8601 format), specifying
                        the time to restore from.
                      x-ms-mutability:
                      - create
                    replicationRole:
                      description: The replication role.
                      type: string
                      enum:
                      - None
                      - Source
                      - Replica
                      x-ms-enum:
                        name: ReplicationRole
                        modelAsString: true
                    replicaCapacity:
                      type: integer
                      format: int32
                      minimum: 0
                      readOnly: true
                      description: The maximum number of replicas that a primary server
                        can have.
                    dataEncryption:
                      description: The Data Encryption for CMK.
                      type: object
                      properties:
                        primaryUserAssignedIdentityId:
                          type: string
                          description: Primary user identity resource id
                        primaryKeyURI:
                          type: string
                          description: Primary key uri
                        geoBackupUserAssignedIdentityId:
                          type: string
                          description: Geo backup user identity resource id as identity
                            can't cross region, need identity in same region as geo
                            backup
                        geoBackupKeyURI:
                          type: string
                          description: Geo backup key uri as key vault can't cross
                            region, need cmk in same region as geo backup
                        type:
                          type: string
                          description: The key type, AzureKeyVault for enable cmk,
                            SystemManaged for disable cmk.
                          enum:
                          - AzureKeyVault
                          - SystemManaged
                          x-ms-enum:
                            name: DataEncryptionType
                            modelAsString: false
                    state:
                      type: string
                      readOnly: true
                      description: The state of a server.
                      enum:
                      - Ready
                      - Dropping
                      - Disabled
                      - Starting
                      - Stopping
                      - Stopped
                      - Updating
                      x-ms-enum:
                        name: ServerState
                        modelAsString: true
                    fullyQualifiedDomainName:
                      type: string
                      description: The fully qualified domain name of a server.
                      readOnly: true
                    storage:
                      description: Storage related properties of a server.
                      type: object
                      properties:
                        storageSizeGB:
                          type: integer
                          format: int32
                          description: Max storage size allowed for a server.
                        iops:
                          type: integer
                          format: int32
                          description: Storage IOPS for a server.
                        autoGrow:
                          description: Enable Storage Auto Grow or not.
                          default: Disabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                        logOnDisk:
                          description: Enable Log On Disk or not.
                          default: Disabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                        storageSku:
                          type: string
                          readOnly: true
                          description: The sku name of the server storage.
                        autoIoScaling:
                          description: Enable IO Auto Scaling or not.
                          default: Enabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                    backup:
                      description: Backup related properties of a server.
                      type: object
                      properties:
                        backupRetentionDays:
                          type: integer
                          format: int32
                          description: Backup retention days for the server.
                        backupIntervalHours:
                          type: integer
                          format: int32
                          description: Backup interval hours for the server.
                        geoRedundantBackup:
                          description: Whether or not geo redundant backup is enabled.
                          default: Disabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                        earliestRestoreDate:
                          type: string
                          format: date-time
                          readOnly: true
                          description: Earliest restore point creation time (ISO8601
                            format)
                    highAvailability:
                      description: High availability related properties of a server.
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                          - Disabled
                          - ZoneRedundant
                          - SameZone
                          x-ms-enum:
                            name: HighAvailabilityMode
                            modelAsString: true
                          description: High availability mode for a server.
                        state:
                          type: string
                          readOnly: true
                          description: The state of server high availability.
                          enum:
                          - NotEnabled
                          - CreatingStandby
                          - Healthy
                          - FailingOver
                          - RemovingStandby
                          x-ms-enum:
                            name: HighAvailabilityState
                            modelAsString: true
                        standbyAvailabilityZone:
                          type: string
                          description: Availability zone of the standby server.
                    network:
                      description: Network related properties of a server.
                      x-ms-mutability:
                      - create
                      - read
                      type: object
                      properties:
                        publicNetworkAccess:
                          description: Whether or not public network access is allowed
                            for this server. Value is 'Disabled' when server has VNet
                            integration.
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                        delegatedSubnetResourceId:
                          type: string
                          description: Delegated subnet resource id used to setup
                            vnet for a server.
                        privateDnsZoneResourceId:
                          type: string
                          description: Private DNS zone resource id.
                    privateEndpointConnections:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: arm-id
                            description: Fully qualified resource ID for the resource.
                              E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                            readOnly: true
                          name:
                            type: string
                            description: The name of the resource
                            readOnly: true
                          type:
                            type: string
                            description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                              or "Microsoft.Storage/storageAccounts"
                            readOnly: true
                          systemData:
                            description: Azure Resource Manager metadata containing
                              createdBy and modifiedBy information.
                            readOnly: true
                            type: object
                            properties:
                              createdBy:
                                type: string
                                description: The identity that created the resource.
                              createdByType:
                                type: string
                                description: The type of identity that created the
                                  resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              createdAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource creation (UTC).
                              lastModifiedBy:
                                type: string
                                description: The identity that last modified the resource.
                              lastModifiedByType:
                                type: string
                                description: The type of identity that last modified
                                  the resource.
                                enum:
                                - User
                                - Application
                                - ManagedIdentity
                                - Key
                                x-ms-enum:
                                  name: createdByType
                                  modelAsString: true
                              lastModifiedAt:
                                type: string
                                format: date-time
                                description: The timestamp of resource last modification
                                  (UTC)
                          properties:
                            description: Resource properties.
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              groupIds:
                                type: array
                                description: The group ids for the private endpoint
                                  resource.
                                items:
                                  type: string
                                readOnly: true
                              privateEndpoint:
                                description: The private endpoint resource.
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: The ARM identifier for private endpoint.
                                    readOnly: true
                              privateLinkServiceConnectionState:
                                description: A collection of information about the
                                  state of the connection between service consumer
                                  and provider.
                                type: object
                                properties:
                                  status:
                                    description: Indicates whether the connection
                                      has been Approved/Rejected/Removed by the owner
                                      of the service.
                                    type: string
                                    enum:
                                    - Pending
                                    - Approved
                                    - Rejected
                                    x-ms-enum:
                                      name: PrivateEndpointServiceConnectionStatus
                                      modelAsString: true
                                  description:
                                    type: string
                                    description: The reason for approval/rejection
                                      of the connection.
                                  actionsRequired:
                                    type: string
                                    description: A message indicating if changes on
                                      the service provider require any updates on
                                      the consumer.
                              provisioningState:
                                description: The provisioning state of the private
                                  endpoint connection resource.
                                type: string
                                enum:
                                - Succeeded
                                - Creating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: PrivateEndpointConnectionProvisioningState
                                  modelAsString: true
                                readOnly: true
                            required:
                            - privateLinkServiceConnectionState
                        title: Resource
                        description: Common fields that are returned in the response
                          for all Azure Resource Manager resources
                        x-ms-azure-resource: true
                      description: PrivateEndpointConnections related properties of
                        a server.
                      readOnly: true
                    maintenanceWindow:
                      description: Maintenance window of a server.
                      x-ms-mutability:
                      - update
                      - read
                      type: object
                      properties:
                        customWindow:
                          type: string
                          description: indicates whether custom window is enabled
                            or disabled
                        startHour:
                          type: integer
                          format: int32
                          description: start hour for maintenance window
                        startMinute:
                          type: integer
                          format: int32
                          description: start minute for maintenance window
                        dayOfWeek:
                          type: integer
                          format: int32
                          description: day of week for maintenance window
                    importSourceProperties:
                      description: Source properties for import from storage.
                      type: object
                      properties:
                        storageType:
                          type: string
                          enum:
                          - AzureBlob
                          x-ms-enum:
                            name: ImportSourceStorageType
                            modelAsString: true
                          description: Storage type of import source.
                          x-ms-mutability:
                          - create
                          - read
                        storageUrl:
                          type: string
                          description: Uri of the import source storage.
                          x-ms-mutability:
                          - create
                          - read
                        sasToken:
                          type: string
                          x-ms-secret: true
                          description: Sas token for accessing source storage. Read
                            and list permissions are required for sas token.
                          x-ms-mutability:
                          - create
                        dataDirPath:
                          type: string
                          description: Relative path of data directory in storage.
                          x-ms-mutability:
                          - create
                          - read
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The required parameters for creating or updating a server.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: The cmk identity for the server.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      principalId:
                        type: string
                        description: ObjectId from the KeyVault
                        readOnly: true
                      tenantId:
                        type: string
                        description: TenantId from the KeyVault
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity.
                        enum:
                        - UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          description: ''
                          items:
                            type: object
                            properties:
                              principalId:
                                description: Principal Id of user assigned identity
                                type: string
                                x-ms-client-name: PrincipalId
                                readOnly: true
                              clientId:
                                description: Client Id of user assigned identity
                                type: string
                                x-ms-client-name: ClientId
                                readOnly: true
                            description: Metadata of user assigned identity.
                        description: Metadata of user assigned identity.
                  sku:
                    description: The SKU (pricing tier) of the server.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the sku, e.g. Standard_D32s_v3.
                      tier:
                        type: string
                        description: The tier of the particular SKU, e.g. GeneralPurpose.
                        enum:
                        - Burstable
                        - GeneralPurpose
                        - MemoryOptimized
                        x-ms-enum:
                          name: ServerSkuTier
                          modelAsString: true
                    required:
                    - name
                    - tier
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the server.
                    type: object
                    properties:
                      administratorLogin:
                        type: string
                        description: The administrator's login name of a server. Can
                          only be specified when the server is being created (and
                          is required for creation).
                        x-ms-mutability:
                        - create
                        - read
                      administratorLoginPassword:
                        type: string
                        x-ms-secret: true
                        format: password
                        description: The password of the administrator login (required
                          for server creation).
                        x-ms-mutability:
                        - create
                        - update
                      version:
                        description: Server version.
                        type: string
                        enum:
                        - '5.7'
                        - 8.0.21
                        x-ms-enum:
                          name: ServerVersion
                          modelAsString: true
                      availabilityZone:
                        type: string
                        description: availability Zone information of the server.
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: The mode to create a new MySQL server.
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Replica
                        - GeoRestore
                        x-ms-enum:
                          name: CreateMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                      sourceServerResourceId:
                        type: string
                        description: The source MySQL server id.
                        x-ms-mutability:
                        - create
                        - read
                      restorePointInTime:
                        type: string
                        format: date-time
                        description: Restore point creation time (ISO8601 format),
                          specifying the time to restore from.
                        x-ms-mutability:
                        - create
                      replicationRole:
                        description: The replication role.
                        type: string
                        enum:
                        - None
                        - Source
                        - Replica
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: true
                      replicaCapacity:
                        type: integer
                        format: int32
                        minimum: 0
                        readOnly: true
                        description: The maximum number of replicas that a primary
                          server can have.
                      dataEncryption:
                        description: The Data Encryption for CMK.
                        type: object
                        properties:
                          primaryUserAssignedIdentityId:
                            type: string
                            description: Primary user identity resource id
                          primaryKeyURI:
                            type: string
                            description: Primary key uri
                          geoBackupUserAssignedIdentityId:
                            type: string
                            description: Geo backup user identity resource id as identity
                              can't cross region, need identity in same region as
                              geo backup
                          geoBackupKeyURI:
                            type: string
                            description: Geo backup key uri as key vault can't cross
                              region, need cmk in same region as geo backup
                          type:
                            type: string
                            description: The key type, AzureKeyVault for enable cmk,
                              SystemManaged for disable cmk.
                            enum:
                            - AzureKeyVault
                            - SystemManaged
                            x-ms-enum:
                              name: DataEncryptionType
                              modelAsString: false
                      state:
                        type: string
                        readOnly: true
                        description: The state of a server.
                        enum:
                        - Ready
                        - Dropping
                        - Disabled
                        - Starting
                        - Stopping
                        - Stopped
                        - Updating
                        x-ms-enum:
                          name: ServerState
                          modelAsString: true
                      fullyQualifiedDomainName:
                        type: string
                        description: The fully qualified domain name of a server.
                        readOnly: true
                      storage:
                        description: Storage related properties of a server.
                        type: object
                        properties:
                          storageSizeGB:
                            type: integer
                            format: int32
                            description: Max storage size allowed for a server.
                          iops:
                            type: integer
                            format: int32
                            description: Storage IOPS for a server.
                          autoGrow:
                            description: Enable Storage Auto Grow or not.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                          logOnDisk:
                            description: Enable Log On Disk or not.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                          storageSku:
                            type: string
                            readOnly: true
                            description: The sku name of the server storage.
                          autoIoScaling:
                            description: Enable IO Auto Scaling or not.
                            default: Enabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                      backup:
                        description: Backup related properties of a server.
                        type: object
                        properties:
                          backupRetentionDays:
                            type: integer
                            format: int32
                            description: Backup retention days for the server.
                          backupIntervalHours:
                            type: integer
                            format: int32
                            description: Backup interval hours for the server.
                          geoRedundantBackup:
                            description: Whether or not geo redundant backup is enabled.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                          earliestRestoreDate:
                            type: string
                            format: date-time
                            readOnly: true
                            description: Earliest restore point creation time (ISO8601
                              format)
                      highAvailability:
                        description: High availability related properties of a server.
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - Disabled
                            - ZoneRedundant
                            - SameZone
                            x-ms-enum:
                              name: HighAvailabilityMode
                              modelAsString: true
                            description: High availability mode for a server.
                          state:
                            type: string
                            readOnly: true
                            description: The state of server high availability.
                            enum:
                            - NotEnabled
                            - CreatingStandby
                            - Healthy
                            - FailingOver
                            - RemovingStandby
                            x-ms-enum:
                              name: HighAvailabilityState
                              modelAsString: true
                          standbyAvailabilityZone:
                            type: string
                            description: Availability zone of the standby server.
                      network:
                        description: Network related properties of a server.
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          publicNetworkAccess:
                            description: Whether or not public network access is allowed
                              for this server. Value is 'Disabled' when server has
                              VNet integration.
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                          delegatedSubnetResourceId:
                            type: string
                            description: Delegated subnet resource id used to setup
                              vnet for a server.
                          privateDnsZoneResourceId:
                            type: string
                            description: Private DNS zone resource id.
                      privateEndpointConnections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: arm-id
                              description: Fully qualified resource ID for the resource.
                                E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                groupIds:
                                  type: array
                                  description: The group ids for the private endpoint
                                    resource.
                                  items:
                                    type: string
                                  readOnly: true
                                privateEndpoint:
                                  description: The private endpoint resource.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for private
                                        endpoint.
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        description: PrivateEndpointConnections related properties
                          of a server.
                        readOnly: true
                      maintenanceWindow:
                        description: Maintenance window of a server.
                        x-ms-mutability:
                        - update
                        - read
                        type: object
                        properties:
                          customWindow:
                            type: string
                            description: indicates whether custom window is enabled
                              or disabled
                          startHour:
                            type: integer
                            format: int32
                            description: start hour for maintenance window
                          startMinute:
                            type: integer
                            format: int32
                            description: start minute for maintenance window
                          dayOfWeek:
                            type: integer
                            format: int32
                            description: day of week for maintenance window
                      importSourceProperties:
                        description: Source properties for import from storage.
                        type: object
                        properties:
                          storageType:
                            type: string
                            enum:
                            - AzureBlob
                            x-ms-enum:
                              name: ImportSourceStorageType
                              modelAsString: true
                            description: Storage type of import source.
                            x-ms-mutability:
                            - create
                            - read
                          storageUrl:
                            type: string
                            description: Uri of the import source storage.
                            x-ms-mutability:
                            - create
                            - read
                          sasToken:
                            type: string
                            x-ms-secret: true
                            description: Sas token for accessing source storage. Read
                              and list permissions are required for sas token.
                            x-ms-mutability:
                            - create
                          dataDirPath:
                            type: string
                            description: Relative path of data directory in storage.
                            x-ms-mutability:
                            - create
                            - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: The cmk identity for the server.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      principalId:
                        type: string
                        description: ObjectId from the KeyVault
                        readOnly: true
                      tenantId:
                        type: string
                        description: TenantId from the KeyVault
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity.
                        enum:
                        - UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          description: ''
                          items:
                            type: object
                            properties:
                              principalId:
                                description: Principal Id of user assigned identity
                                type: string
                                x-ms-client-name: PrincipalId
                                readOnly: true
                              clientId:
                                description: Client Id of user assigned identity
                                type: string
                                x-ms-client-name: ClientId
                                readOnly: true
                            description: Metadata of user assigned identity.
                        description: Metadata of user assigned identity.
                  sku:
                    description: The SKU (pricing tier) of the server.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the sku, e.g. Standard_D32s_v3.
                      tier:
                        type: string
                        description: The tier of the particular SKU, e.g. GeneralPurpose.
                        enum:
                        - Burstable
                        - GeneralPurpose
                        - MemoryOptimized
                        x-ms-enum:
                          name: ServerSkuTier
                          modelAsString: true
                    required:
                    - name
                    - tier
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the server.
                    type: object
                    properties:
                      administratorLogin:
                        type: string
                        description: The administrator's login name of a server. Can
                          only be specified when the server is being created (and
                          is required for creation).
                        x-ms-mutability:
                        - create
                        - read
                      administratorLoginPassword:
                        type: string
                        x-ms-secret: true
                        format: password
                        description: The password of the administrator login (required
                          for server creation).
                        x-ms-mutability:
                        - create
                        - update
                      version:
                        description: Server version.
                        type: string
                        enum:
                        - '5.7'
                        - 8.0.21
                        x-ms-enum:
                          name: ServerVersion
                          modelAsString: true
                      availabilityZone:
                        type: string
                        description: availability Zone information of the server.
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: The mode to create a new MySQL server.
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Replica
                        - GeoRestore
                        x-ms-enum:
                          name: CreateMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                      sourceServerResourceId:
                        type: string
                        description: The source MySQL server id.
                        x-ms-mutability:
                        - create
                        - read
                      restorePointInTime:
                        type: string
                        format: date-time
                        description: Restore point creation time (ISO8601 format),
                          specifying the time to restore from.
                        x-ms-mutability:
                        - create
                      replicationRole:
                        description: The replication role.
                        type: string
                        enum:
                        - None
                        - Source
                        - Replica
                        x-ms-enum:
                          name: ReplicationRole
                          modelAsString: true
                      replicaCapacity:
                        type: integer
                        format: int32
                        minimum: 0
                        readOnly: true
                        description: The maximum number of replicas that a primary
                          server can have.
                      dataEncryption:
                        description: The Data Encryption for CMK.
                        type: object
                        properties:
                          primaryUserAssignedIdentityId:
                            type: string
                            description: Primary user identity resource id
                          primaryKeyURI:
                            type: string
                            description: Primary key uri
                          geoBackupUserAssignedIdentityId:
                            type: string
                            description: Geo backup user identity resource id as identity
                              can't cross region, need identity in same region as
                              geo backup
                          geoBackupKeyURI:
                            type: string
                            description: Geo backup key uri as key vault can't cross
                              region, need cmk in same region as geo backup
                          type:
                            type: string
                            description: The key type, AzureKeyVault for enable cmk,
                              SystemManaged for disable cmk.
                            enum:
                            - AzureKeyVault
                            - SystemManaged
                            x-ms-enum:
                              name: DataEncryptionType
                              modelAsString: false
                      state:
                        type: string
                        readOnly: true
                        description: The state of a server.
                        enum:
                        - Ready
                        - Dropping
                        - Disabled
                        - Starting
                        - Stopping
                        - Stopped
                        - Updating
                        x-ms-enum:
                          name: ServerState
                          modelAsString: true
                      fullyQualifiedDomainName:
                        type: string
                        description: The fully qualified domain name of a server.
                        readOnly: true
                      storage:
                        description: Storage related properties of a server.
                        type: object
                        properties:
                          storageSizeGB:
                            type: integer
                            format: int32
                            description: Max storage size allowed for a server.
                          iops:
                            type: integer
                            format: int32
                            description: Storage IOPS for a server.
                          autoGrow:
                            description: Enable Storage Auto Grow or not.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                          logOnDisk:
                            description: Enable Log On Disk or not.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                          storageSku:
                            type: string
                            readOnly: true
                            description: The sku name of the server storage.
                          autoIoScaling:
                            description: Enable IO Auto Scaling or not.
                            default: Enabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                      backup:
                        description: Backup related properties of a server.
                        type: object
                        properties:
                          backupRetentionDays:
                            type: integer
                            format: int32
                            description: Backup retention days for the server.
                          backupIntervalHours:
                            type: integer
                            format: int32
                            description: Backup interval hours for the server.
                          geoRedundantBackup:
                            description: Whether or not geo redundant backup is enabled.
                            default: Disabled
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                          earliestRestoreDate:
                            type: string
                            format: date-time
                            readOnly: true
                            description: Earliest restore point creation time (ISO8601
                              format)
                      highAvailability:
                        description: High availability related properties of a server.
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - Disabled
                            - ZoneRedundant
                            - SameZone
                            x-ms-enum:
                              name: HighAvailabilityMode
                              modelAsString: true
                            description: High availability mode for a server.
                          state:
                            type: string
                            readOnly: true
                            description: The state of server high availability.
                            enum:
                            - NotEnabled
                            - CreatingStandby
                            - Healthy
                            - FailingOver
                            - RemovingStandby
                            x-ms-enum:
                              name: HighAvailabilityState
                              modelAsString: true
                          standbyAvailabilityZone:
                            type: string
                            description: Availability zone of the standby server.
                      network:
                        description: Network related properties of a server.
                        x-ms-mutability:
                        - create
                        - read
                        type: object
                        properties:
                          publicNetworkAccess:
                            description: Whether or not public network access is allowed
                              for this server. Value is 'Disabled' when server has
                              VNet integration.
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: EnableStatusEnum
                              modelAsString: true
                          delegatedSubnetResourceId:
                            type: string
                            description: Delegated subnet resource id used to setup
                              vnet for a server.
                          privateDnsZoneResourceId:
                            type: string
                            description: Private DNS zone resource id.
                      privateEndpointConnections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: arm-id
                              description: Fully qualified resource ID for the resource.
                                E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                              readOnly: true
                            name:
                              type: string
                              description: The name of the resource
                              readOnly: true
                            type:
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                              readOnly: true
                            systemData:
                              description: Azure Resource Manager metadata containing
                                createdBy and modifiedBy information.
                              readOnly: true
                              type: object
                              properties:
                                createdBy:
                                  type: string
                                  description: The identity that created the resource.
                                createdByType:
                                  type: string
                                  description: The type of identity that created the
                                    resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                createdAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource creation
                                    (UTC).
                                lastModifiedBy:
                                  type: string
                                  description: The identity that last modified the
                                    resource.
                                lastModifiedByType:
                                  type: string
                                  description: The type of identity that last modified
                                    the resource.
                                  enum:
                                  - User
                                  - Application
                                  - ManagedIdentity
                                  - Key
                                  x-ms-enum:
                                    name: createdByType
                                    modelAsString: true
                                lastModifiedAt:
                                  type: string
                                  format: date-time
                                  description: The timestamp of resource last modification
                                    (UTC)
                            properties:
                              description: Resource properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                groupIds:
                                  type: array
                                  description: The group ids for the private endpoint
                                    resource.
                                  items:
                                    type: string
                                  readOnly: true
                                privateEndpoint:
                                  description: The private endpoint resource.
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The ARM identifier for private
                                        endpoint.
                                      readOnly: true
                                privateLinkServiceConnectionState:
                                  description: A collection of information about the
                                    state of the connection between service consumer
                                    and provider.
                                  type: object
                                  properties:
                                    status:
                                      description: Indicates whether the connection
                                        has been Approved/Rejected/Removed by the
                                        owner of the service.
                                      type: string
                                      enum:
                                      - Pending
                                      - Approved
                                      - Rejected
                                      x-ms-enum:
                                        name: PrivateEndpointServiceConnectionStatus
                                        modelAsString: true
                                    description:
                                      type: string
                                      description: The reason for approval/rejection
                                        of the connection.
                                    actionsRequired:
                                      type: string
                                      description: A message indicating if changes
                                        on the service provider require any updates
                                        on the consumer.
                                provisioningState:
                                  description: The provisioning state of the private
                                    endpoint connection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Creating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: PrivateEndpointConnectionProvisioningState
                                    modelAsString: true
                                  readOnly: true
                              required:
                              - privateLinkServiceConnectionState
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                        description: PrivateEndpointConnections related properties
                          of a server.
                        readOnly: true
                      maintenanceWindow:
                        description: Maintenance window of a server.
                        x-ms-mutability:
                        - update
                        - read
                        type: object
                        properties:
                          customWindow:
                            type: string
                            description: indicates whether custom window is enabled
                              or disabled
                          startHour:
                            type: integer
                            format: int32
                            description: start hour for maintenance window
                          startMinute:
                            type: integer
                            format: int32
                            description: start minute for maintenance window
                          dayOfWeek:
                            type: integer
                            format: int32
                            description: day of week for maintenance window
                      importSourceProperties:
                        description: Source properties for import from storage.
                        type: object
                        properties:
                          storageType:
                            type: string
                            enum:
                            - AzureBlob
                            x-ms-enum:
                              name: ImportSourceStorageType
                              modelAsString: true
                            description: Storage type of import source.
                            x-ms-mutability:
                            - create
                            - read
                          storageUrl:
                            type: string
                            description: Uri of the import source storage.
                            x-ms-mutability:
                            - create
                            - read
                          sasToken:
                            type: string
                            x-ms-secret: true
                            description: Sas token for accessing source storage. Read
                              and list permissions are required for sas token.
                            x-ms-mutability:
                            - create
                          dataDirPath:
                            type: string
                            description: Relative path of data directory in storage.
                            x-ms-mutability:
                            - create
                            - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
    patch:
      tags:
      - Servers
      operationId: Servers_Update
      description: Updates an existing server. The request body can contain one to
        many of the properties present in the normal server definition.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identity:
                  description: The cmk identity for the server.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    principalId:
                      type: string
                      description: ObjectId from the KeyVault
                      readOnly: true
                    tenantId:
                      type: string
                      description: TenantId from the KeyVault
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity.
                      enum:
                      - UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        description: ''
                        items:
                          type: object
                          properties:
                            principalId:
                              description: Principal Id of user assigned identity
                              type: string
                              x-ms-client-name: PrincipalId
                              readOnly: true
                            clientId:
                              description: Client Id of user assigned identity
                              type: string
                              x-ms-client-name: ClientId
                              readOnly: true
                          description: Metadata of user assigned identity.
                      description: Metadata of user assigned identity.
                sku:
                  description: The SKU (pricing tier) of the server.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the sku, e.g. Standard_D32s_v3.
                    tier:
                      type: string
                      description: The tier of the particular SKU, e.g. GeneralPurpose.
                      enum:
                      - Burstable
                      - GeneralPurpose
                      - MemoryOptimized
                      x-ms-enum:
                        name: ServerSkuTier
                        modelAsString: true
                  required:
                  - name
                  - tier
                properties:
                  x-ms-client-flatten: true
                  description: The properties that can be updated for a server.
                  type: object
                  properties:
                    administratorLoginPassword:
                      type: string
                      x-ms-secret: true
                      format: password
                      description: The password of the administrator login.
                    version:
                      description: Server version.
                      type: string
                      enum:
                      - '5.7'
                      - 8.0.21
                      x-ms-enum:
                        name: ServerVersion
                        modelAsString: true
                    storage:
                      description: Storage related properties of a server.
                      type: object
                      properties:
                        storageSizeGB:
                          type: integer
                          format: int32
                          description: Max storage size allowed for a server.
                        iops:
                          type: integer
                          format: int32
                          description: Storage IOPS for a server.
                        autoGrow:
                          description: Enable Storage Auto Grow or not.
                          default: Disabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                        logOnDisk:
                          description: Enable Log On Disk or not.
                          default: Disabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                        storageSku:
                          type: string
                          readOnly: true
                          description: The sku name of the server storage.
                        autoIoScaling:
                          description: Enable IO Auto Scaling or not.
                          default: Enabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                    backup:
                      description: Backup related properties of a server.
                      type: object
                      properties:
                        backupRetentionDays:
                          type: integer
                          format: int32
                          description: Backup retention days for the server.
                        backupIntervalHours:
                          type: integer
                          format: int32
                          description: Backup interval hours for the server.
                        geoRedundantBackup:
                          description: Whether or not geo redundant backup is enabled.
                          default: Disabled
                          type: string
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: EnableStatusEnum
                            modelAsString: true
                        earliestRestoreDate:
                          type: string
                          format: date-time
                          readOnly: true
                          description: Earliest restore point creation time (ISO8601
                            format)
                    highAvailability:
                      description: High availability related properties of a server.
                      type: object
                      properties:
                        mode:
                          type: string
                          enum:
                          - Disabled
                          - ZoneRedundant
                          - SameZone
                          x-ms-enum:
                            name: HighAvailabilityMode
                            modelAsString: true
                          description: High availability mode for a server.
                        state:
                          type: string
[...]
