openapi: 3.0.0
info:
  title: MySQLManagementClient
  description: The Microsoft Azure management API provides create, read, update, and
    delete functionality for Azure MySQL resources including servers, databases, firewall
    rules and configurations.
  version: 2023-12-30
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/maintenances/{maintenanceName}
  : get:
      tags:
      - Maintenances
      operationId: Maintenances_Read
      description: Read maintenance.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      - name: maintenanceName
        in: path
        required: true
        description: The name of the maintenance.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-_]*$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of a maintenance
                    type: object
                    properties:
                      maintenanceType:
                        description: A string defines maintenance type.
                        type: string
                        readOnly: true
                        enum:
                        - RoutineMaintenance
                        - MinorVersionUpgrade
                        - SecurityPatches
                        - HotFixes
                        x-ms-enum:
                          name: MaintenanceType
                          modelAsString: true
                      maintenanceState:
                        description: A string describes the maintenance status
                        type: string
                        readOnly: true
                        enum:
                        - Scheduled
                        - ReScheduled
                        - InPreparation
                        - Processing
                        - Completed
                        - Canceled
                        x-ms-enum:
                          name: MaintenanceState
                          modelAsString: true
                      maintenanceStartTime:
                        type: string
                        format: date-time
                        description: The start time for a maintenance.
                      maintenanceEndTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The end time for a maintenance.
                      maintenanceExecutionStartTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The start time for a maintenance execution.
                      maintenanceExecutionEndTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The end time for a maintenance execution.
                      maintenanceAvailableScheduleMinTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The min time the maintenance can be rescheduled.
                      maintenanceAvailableScheduleMaxTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The max time the maintenance can be rescheduled.
                      maintenanceTitle:
                        type: string
                        readOnly: true
                        description: The maintenance title.
                      maintenanceDescription:
                        type: string
                        readOnly: true
                        description: The maintenance description.
                      provisioningState:
                        description: Provisioning state of the Maintenance.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Creating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: MaintenanceProvisioningState
                          modelAsString: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - Maintenances
      operationId: Maintenances_Update
      description: Update maintenances.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      - name: maintenanceName
        in: path
        required: true
        description: The name of the maintenance.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-_]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: The properties of a maintenance update parameter
                  type: object
                  properties:
                    maintenanceStartTime:
                      type: string
                      format: date-time
                      description: The start time for a maintenance.
              description: Represents a maintenance update parameter.
        description: The required parameters for update maintenance on a server.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of a maintenance
                    type: object
                    properties:
                      maintenanceType:
                        description: A string defines maintenance type.
                        type: string
                        readOnly: true
                        enum:
                        - RoutineMaintenance
                        - MinorVersionUpgrade
                        - SecurityPatches
                        - HotFixes
                        x-ms-enum:
                          name: MaintenanceType
                          modelAsString: true
                      maintenanceState:
                        description: A string describes the maintenance status
                        type: string
                        readOnly: true
                        enum:
                        - Scheduled
                        - ReScheduled
                        - InPreparation
                        - Processing
                        - Completed
                        - Canceled
                        x-ms-enum:
                          name: MaintenanceState
                          modelAsString: true
                      maintenanceStartTime:
                        type: string
                        format: date-time
                        description: The start time for a maintenance.
                      maintenanceEndTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The end time for a maintenance.
                      maintenanceExecutionStartTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The start time for a maintenance execution.
                      maintenanceExecutionEndTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The end time for a maintenance execution.
                      maintenanceAvailableScheduleMinTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The min time the maintenance can be rescheduled.
                      maintenanceAvailableScheduleMaxTime:
                        type: string
                        format: date-time
                        readOnly: true
                        description: The max time the maintenance can be rescheduled.
                      maintenanceTitle:
                        type: string
                        readOnly: true
                        description: The maintenance title.
                      maintenanceDescription:
                        type: string
                        readOnly: true
                        description: The maintenance description.
                      provisioningState:
                        description: Provisioning state of the Maintenance.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Creating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: MaintenanceProvisioningState
                          modelAsString: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/maintenances
  : get:
      tags:
      - Maintenances
      operationId: Maintenances_List
      description: List maintenances.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: The properties of a maintenance
                          type: object
                          properties:
                            maintenanceType:
                              description: A string defines maintenance type.
                              type: string
                              readOnly: true
                              enum:
                              - RoutineMaintenance
                              - MinorVersionUpgrade
                              - SecurityPatches
                              - HotFixes
                              x-ms-enum:
                                name: MaintenanceType
                                modelAsString: true
                            maintenanceState:
                              description: A string describes the maintenance status
                              type: string
                              readOnly: true
                              enum:
                              - Scheduled
                              - ReScheduled
                              - InPreparation
                              - Processing
                              - Completed
                              - Canceled
                              x-ms-enum:
                                name: MaintenanceState
                                modelAsString: true
                            maintenanceStartTime:
                              type: string
                              format: date-time
                              description: The start time for a maintenance.
                            maintenanceEndTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The end time for a maintenance.
                            maintenanceExecutionStartTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The start time for a maintenance execution.
                            maintenanceExecutionEndTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The end time for a maintenance execution.
                            maintenanceAvailableScheduleMinTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The min time the maintenance can be rescheduled.
                            maintenanceAvailableScheduleMaxTime:
                              type: string
                              format: date-time
                              readOnly: true
                              description: The max time the maintenance can be rescheduled.
                            maintenanceTitle:
                              type: string
                              readOnly: true
                              description: The maintenance title.
                            maintenanceDescription:
                              type: string
                              readOnly: true
                              description: The maintenance description.
                            provisioningState:
                              description: Provisioning state of the Maintenance.
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Creating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: MaintenanceProvisioningState
                                modelAsString: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                    x-ms-identifiers: []
                    description: The list of maintenances in a server.
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
                description: A list of maintenances.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    MaintenanceNameParameter:
      name: maintenanceName
      in: path
      required: true
      description: The name of the maintenance.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9-_]*$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-z0-9][-a-z0-9]*(?<!-)$
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Maintenance:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          x-ms-client-flatten: true
          description: The properties of a maintenance
          type: object
          properties:
            maintenanceType:
              description: A string defines maintenance type.
              type: string
              readOnly: true
              enum:
              - RoutineMaintenance
              - MinorVersionUpgrade
              - SecurityPatches
              - HotFixes
              x-ms-enum:
                name: MaintenanceType
                modelAsString: true
            maintenanceState:
              description: A string describes the maintenance status
              type: string
              readOnly: true
              enum:
              - Scheduled
              - ReScheduled
              - InPreparation
              - Processing
              - Completed
              - Canceled
              x-ms-enum:
                name: MaintenanceState
                modelAsString: true
            maintenanceStartTime:
              type: string
              format: date-time
              description: The start time for a maintenance.
            maintenanceEndTime:
              type: string
              format: date-time
              readOnly: true
              description: The end time for a maintenance.
            maintenanceExecutionStartTime:
              type: string
              format: date-time
              readOnly: true
              description: The start time for a maintenance execution.
            maintenanceExecutionEndTime:
              type: string
              format: date-time
              readOnly: true
              description: The end time for a maintenance execution.
            maintenanceAvailableScheduleMinTime:
              type: string
              format: date-time
              readOnly: true
              description: The min time the maintenance can be rescheduled.
            maintenanceAvailableScheduleMaxTime:
              type: string
              format: date-time
              readOnly: true
              description: The max time the maintenance can be rescheduled.
            maintenanceTitle:
              type: string
              readOnly: true
              description: The maintenance title.
            maintenanceDescription:
              type: string
              readOnly: true
              description: The maintenance description.
            provisioningState:
              description: Provisioning state of the Maintenance.
              type: string
              readOnly: true
              enum:
              - Succeeded
              - Creating
              - Deleting
              - Failed
              x-ms-enum:
                name: MaintenanceProvisioningState
                modelAsString: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - properties
    MaintenanceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: The properties of a maintenance
                type: object
                properties:
                  maintenanceType:
                    description: A string defines maintenance type.
                    type: string
                    readOnly: true
                    enum:
                    - RoutineMaintenance
                    - MinorVersionUpgrade
                    - SecurityPatches
                    - HotFixes
                    x-ms-enum:
                      name: MaintenanceType
                      modelAsString: true
                  maintenanceState:
                    description: A string describes the maintenance status
                    type: string
                    readOnly: true
                    enum:
                    - Scheduled
                    - ReScheduled
                    - InPreparation
                    - Processing
                    - Completed
                    - Canceled
                    x-ms-enum:
                      name: MaintenanceState
                      modelAsString: true
                  maintenanceStartTime:
                    type: string
                    format: date-time
                    description: The start time for a maintenance.
                  maintenanceEndTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The end time for a maintenance.
                  maintenanceExecutionStartTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The start time for a maintenance execution.
                  maintenanceExecutionEndTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The end time for a maintenance execution.
                  maintenanceAvailableScheduleMinTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The min time the maintenance can be rescheduled.
                  maintenanceAvailableScheduleMaxTime:
                    type: string
                    format: date-time
                    readOnly: true
                    description: The max time the maintenance can be rescheduled.
                  maintenanceTitle:
                    type: string
                    readOnly: true
                    description: The maintenance title.
                  maintenanceDescription:
                    type: string
                    readOnly: true
                    description: The maintenance description.
                  provisioningState:
                    description: Provisioning state of the Maintenance.
                    type: string
                    readOnly: true
                    enum:
                    - Succeeded
                    - Creating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: MaintenanceProvisioningState
                      modelAsString: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            required:
            - properties
          x-ms-identifiers: []
          description: The list of maintenances in a server.
        nextLink:
          description: The link used to get the next page of operations.
          type: string
      description: A list of maintenances.
    MaintenanceProperties:
      type: object
      properties:
        maintenanceType:
          description: A string defines maintenance type.
          type: string
          readOnly: true
          enum:
          - RoutineMaintenance
          - MinorVersionUpgrade
          - SecurityPatches
          - HotFixes
          x-ms-enum:
            name: MaintenanceType
            modelAsString: true
        maintenanceState:
          description: A string describes the maintenance status
          type: string
          readOnly: true
          enum:
          - Scheduled
          - ReScheduled
          - InPreparation
          - Processing
          - Completed
          - Canceled
          x-ms-enum:
            name: MaintenanceState
            modelAsString: true
        maintenanceStartTime:
          type: string
          format: date-time
          description: The start time for a maintenance.
        maintenanceEndTime:
          type: string
          format: date-time
          readOnly: true
          description: The end time for a maintenance.
        maintenanceExecutionStartTime:
          type: string
          format: date-time
          readOnly: true
          description: The start time for a maintenance execution.
        maintenanceExecutionEndTime:
          type: string
          format: date-time
          readOnly: true
          description: The end time for a maintenance execution.
        maintenanceAvailableScheduleMinTime:
          type: string
          format: date-time
          readOnly: true
          description: The min time the maintenance can be rescheduled.
        maintenanceAvailableScheduleMaxTime:
          type: string
          format: date-time
          readOnly: true
          description: The max time the maintenance can be rescheduled.
        maintenanceTitle:
          type: string
          readOnly: true
          description: The maintenance title.
        maintenanceDescription:
          type: string
          readOnly: true
          description: The maintenance description.
        provisioningState:
          description: Provisioning state of the Maintenance.
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Creating
          - Deleting
          - Failed
          x-ms-enum:
            name: MaintenanceProvisioningState
            modelAsString: true
      description: The properties of a maintenance resource.
    MaintenanceProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Creating
      - Deleting
      - Failed
      x-ms-enum:
        name: MaintenanceProvisioningState
        modelAsString: true
    MaintenanceState:
      type: string
      readOnly: true
      description: The current status of this maintenance.
      enum:
      - Scheduled
      - ReScheduled
      - InPreparation
      - Processing
      - Completed
      - Canceled
      x-ms-enum:
        name: MaintenanceState
        modelAsString: true
    MaintenanceType:
      type: string
      readOnly: true
      description: The type of this maintenance.
      enum:
      - RoutineMaintenance
      - MinorVersionUpgrade
      - SecurityPatches
      - HotFixes
      x-ms-enum:
        name: MaintenanceType
        modelAsString: true
    MaintenanceUpdate:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: The properties of a maintenance update parameter
          type: object
          properties:
            maintenanceStartTime:
              type: string
              format: date-time
              description: The start time for a maintenance.
      description: Represents a maintenance update parameter.
    MaintenancePropertiesForUpdate:
      type: object
      properties:
        maintenanceStartTime:
          type: string
          format: date-time
          description: The start time for a maintenance.
      description: The properties of a maintenance update parameter.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
