openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}
  : put:
      tags:
      - AccessControlLists
      operationId: AccessControlLists_Create
      summary: Creates Access Control List.
      description: Implements Access Control List PUT method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Access Control List.
        in: path
        name: accessControlListName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    configurationType:
                      type: string
                      description: Input method to configure Access Control List.
                      enum:
                      - File
                      - Inline
                      x-ms-enum:
                        modelAsString: true
                        name: ConfigurationType
                    aclsUrl:
                      type: string
                      description: Access Control List file URL.
                      format: uri
                      minLength: 1
                    defaultAction:
                      type: string
                      description: 'Default action that needs to be applied when no
                        condition is matched. Example: Permit | Deny.'
                      default: Permit
                      enum:
                      - Permit
                      - Deny
                      x-ms-enum:
                        modelAsString: true
                        name: communityActionTypes
                    matchConfigurations:
                      type: array
                      description: List of match configurations.
                      minItems: 1
                      items:
                        description: Match configuration.
                        type: object
                        properties:
                          matchConfigurationName:
                            type: string
                            description: The name of the match configuration.
                            minLength: 1
                          sequenceNumber:
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 4294967295
                            description: Sequence Number of the match configuration.
                          ipAddressType:
                            description: Type of IP Address. IPv4 or IPv6
                            type: string
                            minLength: 1
                            enum:
                            - IPv4
                            - IPv6
                            x-ms-enum:
                              modelAsString: true
                              name: IPAddressType
                          matchConditions:
                            type: array
                            description: List of the match conditions.
                            minItems: 1
                            items:
                              type: object
                              properties:
                                protocolTypes:
                                  type: array
                                  minItems: 1
                                  description: List of the protocols that need to
                                    be matched.
                                  items:
                                    type: string
                                    minLength: 1
                                    description: Specify the protocol that to needs
                                      to matched. Inputs can be <protocol-name> or
                                      <protocol-number> or <range of protocol numbers>.
                                vlanMatchCondition:
                                  description: Vlan match condition that needs to
                                    be matched.
                                  type: object
                                  properties:
                                    vlans:
                                      type: array
                                      description: List of vlans that need to be matched.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: Specify the Vlan. Inputs can
                                          be single vlan or the range of vlans.
                                    innerVlans:
                                      type: array
                                      description: List of inner vlans that need to
                                        be matched.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: Specify the inner vlan. Inputs
                                          can be single vlan or the range of vlans.
                                    vlanGroupNames:
                                      type: array
                                      description: List of vlan group names that need
                                        to be matched.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: Vlan group name.
                                ipCondition:
                                  description: IP condition that needs to be matched.
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: IP Address type that needs to be
                                        matched.
                                      minLength: 1
                                      enum:
                                      - SourceIP
                                      - DestinationIP
                                      x-ms-enum:
                                        modelAsString: true
                                        name: SourceDestinationType
                                    prefixType:
                                      type: string
                                      description: IP Prefix Type that needs to be
                                        matched.
                                      minLength: 1
                                      enum:
                                      - Prefix
                                      - LongestPrefix
                                      x-ms-enum:
                                        modelAsString: true
                                        name: PrefixType
                                    ipPrefixValues:
                                      type: array
                                      description: The list of IP Prefixes that need
                                        to be matched.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: The valid IP Prefix.
                                    ipGroupNames:
                                      type: array
                                      description: The List of IP Group Names that
                                        need to be matched.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: IP Group Name.
                                etherTypes:
                                  type: array
                                  minItems: 1
                                  description: List of ether type values that need
                                    to be matched.
                                  items:
                                    type: string
                                    minLength: 1
                                    description: Specify the ether type.
                                fragments:
                                  type: array
                                  minItems: 1
                                  description: List of IP fragment packets that need
                                    to be matched.
                                  items:
                                    type: string
                                    minLength: 1
                                    description: Specify the IP fragment packets.
                                ipLengths:
                                  type: array
                                  minItems: 1
                                  description: List of IP Lengths that need to be
                                    matched.
                                  items:
                                    type: string
                                    minLength: 1
                                    description: Specify the IP length.
                                ttlValues:
                                  type: array
                                  minItems: 1
                                  description: List of TTL [Time To Live] values that
                                    need to be matched.
                                  items:
                                    type: string
                                    minLength: 1
                                    description: Specify the TTL values.
                                dscpMarkings:
                                  type: array
                                  minItems: 1
                                  description: List of DSCP Markings that need to
                                    be matched.
                                  items:
                                    type: string
                                    minLength: 1
                                    description: Specify the DSCP marking.
                                portCondition:
                                  type: object
                                  properties:
                                    portType:
                                      type: string
                                      description: Port type that needs to be matched.
                                      minLength: 1
                                      enum:
                                      - SourcePort
                                      - DestinationPort
                                      x-ms-enum:
                                        modelAsString: true
                                        name: PortType
                                    layer4Protocol:
                                      type: string
                                      description: Layer4 protocol type that needs
                                        to be matched.
                                      minLength: 1
                                      enum:
                                      - TCP
                                      - UDP
                                      x-ms-enum:
                                        modelAsString: true
                                        name: Layer4Protocol
                                    ports:
                                      type: array
                                      description: List of the Ports that need to
                                        be matched.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: Port number that needs to be
                                          matched. Inputs can be <port-number> or
                                          <range-of-ports>
                                    portGroupNames:
                                      type: array
                                      description: List of the port Group Names that
                                        need to be matched.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: Port Group Name.
                                    flags:
                                      type: array
                                      description: 'List of protocol flags that need
                                        to be matched. Example: established | initial
                                        | <List-of-TCP-flags>. List of eligible TCP
                                        Flags are ack, fin, not-ack, not-fin, not-psh,
                                        not-rst, not-syn, not-urg, psh, rst, syn,
                                        urg'
                                      items:
                                        type: string
                                        description: Flag of the port.
                                  required:
                                  - layer4Protocol
                                  description: Port condition that needs to be matched.
                              description: Defines the common match conditions of
                                the ACL and Network Tap Rule.
                          actions:
                            type: array
                            description: List of actions that need to be performed
                              for the matched conditions.
                            minItems: 1
                            items:
                              description: Action that need to be performed.
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: Type of actions that can be performed.
                                  minLength: 1
                                  enum:
                                  - Drop
                                  - Count
                                  - Log
                                  x-ms-enum:
                                    modelAsString: true
                                    name: AclActionType
                                counterName:
                                  type: string
                                  minLength: 1
                                  description: Name of the counter block to get match
                                    count information.
                    dynamicMatchConfigurations:
                      type: array
                      description: List of dynamic match configurations.
                      minItems: 1
                      items:
                        description: Dynamic match configuration object.
                        type: object
                        properties:
                          ipGroups:
                            type: array
                            description: List of IP Groups.
                            minItems: 1
                            items:
                              description: IP Group
                              type: object
                              properties:
                                name:
                                  type: string
                                  minLength: 1
                                  description: IP Group name.
                                ipAddressType:
                                  description: IP Address type.
                                  type: string
                                  minLength: 1
                                  enum:
                                  - IPv4
                                  - IPv6
                                  x-ms-enum:
                                    modelAsString: true
                                    name: IPAddressType
                                ipPrefixes:
                                  type: array
                                  description: List of IP Prefixes.
                                  minItems: 1
                                  items:
                                    type: string
                                    minLength: 1
                                    description: IP Prefix.
                          vlanGroups:
                            type: array
                            description: List of vlan groups.
                            minItems: 1
                            items:
                              description: Vlan group
                              type: object
                              properties:
                                name:
                                  type: string
                                  minLength: 1
                                  description: Vlan group name.
                                vlans:
                                  type: array
                                  description: List of vlans.
                                  minItems: 1
                                  items:
                                    type: string
                                    minLength: 1
                                    description: Vlan. It may be a single vlan or
                                      the range of the vlans.
                          portGroups:
                            type: array
                            description: List of the port groups.
                            minItems: 1
                            items:
                              description: Port Group
                              type: object
                              properties:
                                name:
                                  type: string
                                  minLength: 1
                                  description: The name of the port group.
                                ports:
                                  type: array
                                  description: List of the ports that need to be matched.
                                  minItems: 1
                                  items:
                                    type: string
                                    minLength: 1
                                    description: Port Number. Inputs can be single
                                      port or the range of ports.
                    lastSyncedTime:
                      type: string
                      format: date-time
                      description: The last synced timestamp.
                      readOnly: true
                    configurationState:
                      description: Configuration state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Rejected
                      - Accepted
                      - Provisioned
                      - ErrorProvisioning
                      - Deprovisioning
                      - Deprovisioned
                      - ErrorDeprovisioning
                      - DeferredControl
                      - Provisioning
                      - PendingCommit
                      x-ms-enum:
                        modelAsString: true
                        name: ConfigurationState
                    provisioningState:
                      description: Provisioning state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    administrativeState:
                      description: Administrative state of the resource.
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      - MAT
                      - RMA
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: AdministrativeState
                  description: Common properties for annotated type.
                  required:
                  - configurationType
                  x-ms-client-flatten: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      configurationType:
                        type: string
                        description: Input method to configure Access Control List.
                        enum:
                        - File
                        - Inline
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationType
                      aclsUrl:
                        type: string
                        description: Access Control List file URL.
                        format: uri
                        minLength: 1
                      defaultAction:
                        type: string
                        description: 'Default action that needs to be applied when
                          no condition is matched. Example: Permit | Deny.'
                        default: Permit
                        enum:
                        - Permit
                        - Deny
                        x-ms-enum:
                          modelAsString: true
                          name: communityActionTypes
                      matchConfigurations:
                        type: array
                        description: List of match configurations.
                        minItems: 1
                        items:
                          description: Match configuration.
                          type: object
                          properties:
                            matchConfigurationName:
                              type: string
                              description: The name of the match configuration.
                              minLength: 1
                            sequenceNumber:
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 4294967295
                              description: Sequence Number of the match configuration.
                            ipAddressType:
                              description: Type of IP Address. IPv4 or IPv6
                              type: string
                              minLength: 1
                              enum:
                              - IPv4
                              - IPv6
                              x-ms-enum:
                                modelAsString: true
                                name: IPAddressType
                            matchConditions:
                              type: array
                              description: List of the match conditions.
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  protocolTypes:
                                    type: array
                                    minItems: 1
                                    description: List of the protocols that need to
                                      be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the protocol that to needs
                                        to matched. Inputs can be <protocol-name>
                                        or <protocol-number> or <range of protocol
                                        numbers>.
                                  vlanMatchCondition:
                                    description: Vlan match condition that needs to
                                      be matched.
                                    type: object
                                    properties:
                                      vlans:
                                        type: array
                                        description: List of vlans that need to be
                                          matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Specify the Vlan. Inputs can
                                            be single vlan or the range of vlans.
                                      innerVlans:
                                        type: array
                                        description: List of inner vlans that need
                                          to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Specify the inner vlan. Inputs
                                            can be single vlan or the range of vlans.
                                      vlanGroupNames:
                                        type: array
                                        description: List of vlan group names that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Vlan group name.
                                  ipCondition:
                                    description: IP condition that needs to be matched.
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: IP Address type that needs to
                                          be matched.
                                        minLength: 1
                                        enum:
                                        - SourceIP
                                        - DestinationIP
                                        x-ms-enum:
                                          modelAsString: true
                                          name: SourceDestinationType
                                      prefixType:
                                        type: string
                                        description: IP Prefix Type that needs to
                                          be matched.
                                        minLength: 1
                                        enum:
                                        - Prefix
                                        - LongestPrefix
                                        x-ms-enum:
                                          modelAsString: true
                                          name: PrefixType
                                      ipPrefixValues:
                                        type: array
                                        description: The list of IP Prefixes that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: The valid IP Prefix.
                                      ipGroupNames:
                                        type: array
                                        description: The List of IP Group Names that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: IP Group Name.
                                  etherTypes:
                                    type: array
                                    minItems: 1
                                    description: List of ether type values that need
                                      to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the ether type.
                                  fragments:
                                    type: array
                                    minItems: 1
                                    description: List of IP fragment packets that
                                      need to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the IP fragment packets.
                                  ipLengths:
                                    type: array
                                    minItems: 1
                                    description: List of IP Lengths that need to be
                                      matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the IP length.
                                  ttlValues:
                                    type: array
                                    minItems: 1
                                    description: List of TTL [Time To Live] values
                                      that need to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the TTL values.
                                  dscpMarkings:
                                    type: array
                                    minItems: 1
                                    description: List of DSCP Markings that need to
                                      be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the DSCP marking.
                                  portCondition:
                                    type: object
                                    properties:
                                      portType:
                                        type: string
                                        description: Port type that needs to be matched.
                                        minLength: 1
                                        enum:
                                        - SourcePort
                                        - DestinationPort
                                        x-ms-enum:
                                          modelAsString: true
                                          name: PortType
                                      layer4Protocol:
                                        type: string
                                        description: Layer4 protocol type that needs
                                          to be matched.
                                        minLength: 1
                                        enum:
                                        - TCP
                                        - UDP
                                        x-ms-enum:
                                          modelAsString: true
                                          name: Layer4Protocol
                                      ports:
                                        type: array
                                        description: List of the Ports that need to
                                          be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Port number that needs to be
                                            matched. Inputs can be <port-number> or
                                            <range-of-ports>
                                      portGroupNames:
                                        type: array
                                        description: List of the port Group Names
                                          that need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Port Group Name.
                                      flags:
                                        type: array
                                        description: 'List of protocol flags that
                                          need to be matched. Example: established
                                          | initial | <List-of-TCP-flags>. List of
                                          eligible TCP Flags are ack, fin, not-ack,
                                          not-fin, not-psh, not-rst, not-syn, not-urg,
                                          psh, rst, syn, urg'
                                        items:
                                          type: string
                                          description: Flag of the port.
                                    required:
                                    - layer4Protocol
                                    description: Port condition that needs to be matched.
                                description: Defines the common match conditions of
                                  the ACL and Network Tap Rule.
                            actions:
                              type: array
                              description: List of actions that need to be performed
                                for the matched conditions.
                              minItems: 1
                              items:
                                description: Action that need to be performed.
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: Type of actions that can be performed.
                                    minLength: 1
                                    enum:
                                    - Drop
                                    - Count
                                    - Log
                                    x-ms-enum:
                                      modelAsString: true
                                      name: AclActionType
                                  counterName:
                                    type: string
                                    minLength: 1
                                    description: Name of the counter block to get
                                      match count information.
                      dynamicMatchConfigurations:
                        type: array
                        description: List of dynamic match configurations.
                        minItems: 1
                        items:
                          description: Dynamic match configuration object.
                          type: object
                          properties:
                            ipGroups:
                              type: array
                              description: List of IP Groups.
                              minItems: 1
                              items:
                                description: IP Group
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    description: IP Group name.
                                  ipAddressType:
                                    description: IP Address type.
                                    type: string
                                    minLength: 1
                                    enum:
                                    - IPv4
                                    - IPv6
                                    x-ms-enum:
                                      modelAsString: true
                                      name: IPAddressType
                                  ipPrefixes:
                                    type: array
                                    description: List of IP Prefixes.
                                    minItems: 1
                                    items:
                                      type: string
                                      minLength: 1
                                      description: IP Prefix.
                            vlanGroups:
                              type: array
                              description: List of vlan groups.
                              minItems: 1
                              items:
                                description: Vlan group
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    description: Vlan group name.
                                  vlans:
                                    type: array
                                    description: List of vlans.
                                    minItems: 1
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Vlan. It may be a single vlan or
                                        the range of the vlans.
                            portGroups:
                              type: array
                              description: List of the port groups.
                              minItems: 1
                              items:
                                description: Port Group
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    description: The name of the port group.
                                  ports:
                                    type: array
                                    description: List of the ports that need to be
                                      matched.
                                    minItems: 1
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Port Number. Inputs can be single
                                        port or the range of ports.
                      lastSyncedTime:
                        type: string
                        format: date-time
                        description: The last synced timestamp.
                        readOnly: true
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - configurationType
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          headers:
            Azure-AsyncOperation:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      configurationType:
                        type: string
                        description: Input method to configure Access Control List.
                        enum:
                        - File
                        - Inline
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationType
                      aclsUrl:
                        type: string
                        description: Access Control List file URL.
                        format: uri
                        minLength: 1
                      defaultAction:
                        type: string
                        description: 'Default action that needs to be applied when
                          no condition is matched. Example: Permit | Deny.'
                        default: Permit
                        enum:
                        - Permit
                        - Deny
                        x-ms-enum:
                          modelAsString: true
                          name: communityActionTypes
                      matchConfigurations:
                        type: array
                        description: List of match configurations.
                        minItems: 1
                        items:
                          description: Match configuration.
                          type: object
                          properties:
                            matchConfigurationName:
                              type: string
                              description: The name of the match configuration.
                              minLength: 1
                            sequenceNumber:
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 4294967295
                              description: Sequence Number of the match configuration.
                            ipAddressType:
                              description: Type of IP Address. IPv4 or IPv6
                              type: string
                              minLength: 1
                              enum:
                              - IPv4
                              - IPv6
                              x-ms-enum:
                                modelAsString: true
                                name: IPAddressType
                            matchConditions:
                              type: array
                              description: List of the match conditions.
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  protocolTypes:
                                    type: array
                                    minItems: 1
                                    description: List of the protocols that need to
                                      be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the protocol that to needs
                                        to matched. Inputs can be <protocol-name>
                                        or <protocol-number> or <range of protocol
                                        numbers>.
                                  vlanMatchCondition:
                                    description: Vlan match condition that needs to
                                      be matched.
                                    type: object
                                    properties:
                                      vlans:
                                        type: array
                                        description: List of vlans that need to be
                                          matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Specify the Vlan. Inputs can
                                            be single vlan or the range of vlans.
                                      innerVlans:
                                        type: array
                                        description: List of inner vlans that need
                                          to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Specify the inner vlan. Inputs
                                            can be single vlan or the range of vlans.
                                      vlanGroupNames:
                                        type: array
                                        description: List of vlan group names that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Vlan group name.
                                  ipCondition:
                                    description: IP condition that needs to be matched.
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: IP Address type that needs to
                                          be matched.
                                        minLength: 1
                                        enum:
                                        - SourceIP
                                        - DestinationIP
                                        x-ms-enum:
                                          modelAsString: true
                                          name: SourceDestinationType
                                      prefixType:
                                        type: string
                                        description: IP Prefix Type that needs to
                                          be matched.
                                        minLength: 1
                                        enum:
                                        - Prefix
                                        - LongestPrefix
                                        x-ms-enum:
                                          modelAsString: true
                                          name: PrefixType
                                      ipPrefixValues:
                                        type: array
                                        description: The list of IP Prefixes that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: The valid IP Prefix.
                                      ipGroupNames:
                                        type: array
                                        description: The List of IP Group Names that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: IP Group Name.
                                  etherTypes:
                                    type: array
                                    minItems: 1
                                    description: List of ether type values that need
                                      to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the ether type.
                                  fragments:
                                    type: array
                                    minItems: 1
                                    description: List of IP fragment packets that
                                      need to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the IP fragment packets.
                                  ipLengths:
                                    type: array
                                    minItems: 1
                                    description: List of IP Lengths that need to be
                                      matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the IP length.
                                  ttlValues:
                                    type: array
                                    minItems: 1
                                    description: List of TTL [Time To Live] values
                                      that need to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the TTL values.
                                  dscpMarkings:
                                    type: array
                                    minItems: 1
                                    description: List of DSCP Markings that need to
                                      be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the DSCP marking.
                                  portCondition:
                                    type: object
                                    properties:
                                      portType:
                                        type: string
                                        description: Port type that needs to be matched.
                                        minLength: 1
                                        enum:
                                        - SourcePort
                                        - DestinationPort
                                        x-ms-enum:
                                          modelAsString: true
                                          name: PortType
                                      layer4Protocol:
                                        type: string
                                        description: Layer4 protocol type that needs
                                          to be matched.
                                        minLength: 1
                                        enum:
                                        - TCP
                                        - UDP
                                        x-ms-enum:
                                          modelAsString: true
                                          name: Layer4Protocol
                                      ports:
                                        type: array
                                        description: List of the Ports that need to
                                          be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Port number that needs to be
                                            matched. Inputs can be <port-number> or
                                            <range-of-ports>
                                      portGroupNames:
                                        type: array
                                        description: List of the port Group Names
                                          that need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Port Group Name.
                                      flags:
                                        type: array
                                        description: 'List of protocol flags that
                                          need to be matched. Example: established
                                          | initial | <List-of-TCP-flags>. List of
                                          eligible TCP Flags are ack, fin, not-ack,
                                          not-fin, not-psh, not-rst, not-syn, not-urg,
                                          psh, rst, syn, urg'
                                        items:
                                          type: string
                                          description: Flag of the port.
                                    required:
                                    - layer4Protocol
                                    description: Port condition that needs to be matched.
                                description: Defines the common match conditions of
                                  the ACL and Network Tap Rule.
                            actions:
                              type: array
                              description: List of actions that need to be performed
                                for the matched conditions.
                              minItems: 1
                              items:
                                description: Action that need to be performed.
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: Type of actions that can be performed.
                                    minLength: 1
                                    enum:
                                    - Drop
                                    - Count
                                    - Log
                                    x-ms-enum:
                                      modelAsString: true
                                      name: AclActionType
                                  counterName:
                                    type: string
                                    minLength: 1
                                    description: Name of the counter block to get
                                      match count information.
                      dynamicMatchConfigurations:
                        type: array
                        description: List of dynamic match configurations.
                        minItems: 1
                        items:
                          description: Dynamic match configuration object.
                          type: object
                          properties:
                            ipGroups:
                              type: array
                              description: List of IP Groups.
                              minItems: 1
                              items:
                                description: IP Group
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    description: IP Group name.
                                  ipAddressType:
                                    description: IP Address type.
                                    type: string
                                    minLength: 1
                                    enum:
                                    - IPv4
                                    - IPv6
                                    x-ms-enum:
                                      modelAsString: true
                                      name: IPAddressType
                                  ipPrefixes:
                                    type: array
                                    description: List of IP Prefixes.
                                    minItems: 1
                                    items:
                                      type: string
                                      minLength: 1
                                      description: IP Prefix.
                            vlanGroups:
                              type: array
                              description: List of vlan groups.
                              minItems: 1
                              items:
                                description: Vlan group
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    description: Vlan group name.
                                  vlans:
                                    type: array
                                    description: List of vlans.
                                    minItems: 1
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Vlan. It may be a single vlan or
                                        the range of the vlans.
                            portGroups:
                              type: array
                              description: List of the port groups.
                              minItems: 1
                              items:
                                description: Port Group
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    description: The name of the port group.
                                  ports:
                                    type: array
                                    description: List of the ports that need to be
                                      matched.
                                    minItems: 1
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Port Number. Inputs can be single
                                        port or the range of ports.
                      lastSyncedTime:
                        type: string
                        format: date-time
                        description: The last synced timestamp.
                        readOnly: true
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - configurationType
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - AccessControlLists
      operationId: AccessControlLists_Get
      summary: Gets a Access Control List.
      description: Implements Access Control List GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Access Control List.
        in: path
        name: accessControlListName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      configurationType:
                        type: string
                        description: Input method to configure Access Control List.
                        enum:
                        - File
                        - Inline
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationType
                      aclsUrl:
                        type: string
                        description: Access Control List file URL.
                        format: uri
                        minLength: 1
                      defaultAction:
                        type: string
                        description: 'Default action that needs to be applied when
                          no condition is matched. Example: Permit | Deny.'
                        default: Permit
                        enum:
                        - Permit
                        - Deny
                        x-ms-enum:
                          modelAsString: true
                          name: communityActionTypes
                      matchConfigurations:
                        type: array
                        description: List of match configurations.
                        minItems: 1
                        items:
                          description: Match configuration.
                          type: object
                          properties:
                            matchConfigurationName:
                              type: string
                              description: The name of the match configuration.
                              minLength: 1
                            sequenceNumber:
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 4294967295
                              description: Sequence Number of the match configuration.
                            ipAddressType:
                              description: Type of IP Address. IPv4 or IPv6
                              type: string
                              minLength: 1
                              enum:
                              - IPv4
                              - IPv6
                              x-ms-enum:
                                modelAsString: true
                                name: IPAddressType
                            matchConditions:
                              type: array
                              description: List of the match conditions.
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  protocolTypes:
                                    type: array
                                    minItems: 1
                                    description: List of the protocols that need to
                                      be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the protocol that to needs
                                        to matched. Inputs can be <protocol-name>
                                        or <protocol-number> or <range of protocol
                                        numbers>.
                                  vlanMatchCondition:
                                    description: Vlan match condition that needs to
                                      be matched.
                                    type: object
                                    properties:
                                      vlans:
                                        type: array
                                        description: List of vlans that need to be
                                          matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Specify the Vlan. Inputs can
                                            be single vlan or the range of vlans.
                                      innerVlans:
                                        type: array
                                        description: List of inner vlans that need
                                          to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Specify the inner vlan. Inputs
                                            can be single vlan or the range of vlans.
                                      vlanGroupNames:
                                        type: array
                                        description: List of vlan group names that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: Vlan group name.
                                  ipCondition:
                                    description: IP condition that needs to be matched.
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: IP Address type that needs to
                                          be matched.
                                        minLength: 1
                                        enum:
                                        - SourceIP
                                        - DestinationIP
                                        x-ms-enum:
                                          modelAsString: true
                                          name: SourceDestinationType
                                      prefixType:
                                        type: string
                                        description: IP Prefix Type that needs to
                                          be matched.
                                        minLength: 1
                                        enum:
                                        - Prefix
                                        - LongestPrefix
                                        x-ms-enum:
                                          modelAsString: true
                                          name: PrefixType
                                      ipPrefixValues:
                                        type: array
                                        description: The list of IP Prefixes that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: The valid IP Prefix.
                                      ipGroupNames:
                                        type: array
                                        description: The List of IP Group Names that
                                          need to be matched.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: IP Group Name.
                                  etherTypes:
                                    type: array
                                    minItems: 1
                                    description: List of ether type values that need
                                      to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the ether type.
                                  fragments:
                                    type: array
                                    minItems: 1
                                    description: List of IP fragment packets that
                                      need to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the IP fragment packets.
                                  ipLengths:
                                    type: array
                                    minItems: 1
                                    description: List of IP Lengths that need to be
                                      matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the IP length.
                                  ttlValues:
                                    type: array
                                    minItems: 1
                                    description: List of TTL [Time To Live] values
                                      that need to be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the TTL values.
                                  dscpMarkings:
                                    type: array
                                    minItems: 1
                                    description: List of DSCP Markings that need to
                                      be matched.
                                    items:
                                      type: string
                                      minLength: 1
                                      description: Specify the DSCP marking.
                                  portCondition:
                                    type: object
                                    properties:
                                      portType:
                                        type: string
                                        description: Port type that needs to be matched.
                                        minLength: 1
                                        enum:
                                        - SourcePort
                                        - DestinationPort
                                        x-ms-enum:
                                          modelAsString: true
                                          name: PortType
                                      layer4Protocol:
                                        type: string
                                        description: Layer4 protocol type that needs
                                          to be matched.
                                        minLength: 1
                                        enum:
                                        - TCP
                                        - UDP
                                        x-ms-enum:
                                          modelAsString: true
                                          name: Layer4Protocol
                                      ports:
                                        type: array
                                        description: List of the Ports that need to
                                          be matched.
[...]
