openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths: {}
components:
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Accepted
      - Succeeded
      - Updating
      - Deleting
      - Failed
      - Canceled
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    ConfigurationState:
      type: string
      description: Configuration state for the resource.
      readOnly: true
      enum:
      - Succeeded
      - Failed
      - Rejected
      - Accepted
      - Provisioned
      - ErrorProvisioning
      - Deprovisioning
      - Deprovisioned
      - ErrorDeprovisioning
      - DeferredControl
      - Provisioning
      - PendingCommit
      x-ms-enum:
        modelAsString: true
        name: ConfigurationState
    AdministrativeState:
      type: string
      description: State defined to represent administrative actions or post actions
        on a particular resource.
      enum:
      - Enabled
      - Disabled
      - MAT
      - RMA
      readOnly: true
      x-ms-enum:
        modelAsString: true
        name: AdministrativeState
    AnnotationResource:
      type: object
      description: Switch configuration entries require a description to discern between
        configuration groups.
      properties:
        annotation:
          type: string
          description: Switch configuration description.
    ExtendedLocation:
      type: object
      description: The extended location.
      properties:
        type:
          type: string
          description: The extended location type.
        name:
          type: string
          description: The extended location name.
    UpdateAdministrativeState:
      type: object
      properties:
        resourceIds:
          type: array
          description: Network Fabrics or Network Rack resource Id.
          items:
            description: Network Fabrics or Network Rack resource Id.
            type: string
        state:
          type: string
          description: Administrative state.
          enum:
          - Enable
          - Disable
          x-ms-enum:
            name: EnableDisableState
            modelAsString: true
      description: Update administrative state on list of resources.
    UpdateVersion:
      type: object
      description: Update version properties.
      properties:
        version:
          type: string
          description: Specify the version.
    EnableDisableOnResources:
      type: object
      description: Update administrative state on list of resources.
      properties:
        resourceIds:
          type: array
          description: Network Fabrics or Network Rack resource Id.
          items:
            description: Network Fabrics or Network Rack resource Id.
            type: string
    CommonPostActionResponseForDeviceUpdate:
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
        configurationState:
          description: Gets the configuration state.
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Rejected
          - Accepted
          - Provisioned
          - ErrorProvisioning
          - Deprovisioning
          - Deprovisioned
          - ErrorDeprovisioning
          - DeferredControl
          - Provisioning
          - PendingCommit
          x-ms-enum:
            modelAsString: true
            name: ConfigurationState
        successfulDevices:
          type: array
          description: List of ARM Resource IDs for which the given action applied
            successfully.
          items:
            description: ARM Resource ID.
            type: string
        failedDevices:
          type: array
          description: List of ARM Resource IDs for which the given action failed
            to apply.
          items:
            description: ARM Resource ID.
            type: string
      title: Error response
      description: The error message.
    CommonPostActionResponseForStateUpdate:
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
        configurationState:
          description: Gets the configuration state.
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Rejected
          - Accepted
          - Provisioned
          - ErrorProvisioning
          - Deprovisioning
          - Deprovisioned
          - ErrorDeprovisioning
          - DeferredControl
          - Provisioning
          - PendingCommit
          x-ms-enum:
            modelAsString: true
            name: ConfigurationState
      title: Error response
      description: The error message.
    ValidateConfigurationResponse:
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
        configurationState:
          description: Gets the configuration state.
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Rejected
          - Accepted
          - Provisioned
          - ErrorProvisioning
          - Deprovisioning
          - Deprovisioned
          - ErrorDeprovisioning
          - DeferredControl
          - Provisioning
          - PendingCommit
          x-ms-enum:
            modelAsString: true
            name: ConfigurationState
        url:
          type: string
          description: URL for the details of the response.
      title: Error response
      description: The error message.
    BooleanEnumProperty:
      type: string
      description: Boolean Enum. Example- True/False
      enum:
      - 'True'
      - 'False'
      x-ms-enum:
        modelAsString: true
        name: BooleanEnumProperty
    PeeringOption:
      type: string
      description: Peering option list.
      enum:
      - OptionA
      - OptionB
      x-ms-enum:
        modelAsString: true
        name: PeeringOption
    CommunityActionTypes:
      type: string
      description: 'community action types. Example: Permit | Deny.'
      enum:
      - Permit
      - Deny
      x-ms-enum:
        modelAsString: true
        name: communityActionTypes
    TagsUpdate:
      description: Base tracked resource type for PATCH updates.
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
    BfdConfiguration:
      type: object
      description: BFD configuration properties
      properties:
        administrativeState:
          type: string
          description: 'Administrative state of the BfdConfiguration. Example: Enabled
            | Disabled.'
          default: Disabled
          enum:
          - Enabled
          - Disabled
          - MAT
          - RMA
          readOnly: true
          x-ms-enum:
            modelAsString: true
            name: BfdAdministrativeState
        intervalInMilliSeconds:
          type: integer
          format: int32
          default: 300
          description: 'Interval in milliseconds. Example: 300.'
        multiplier:
          type: integer
          format: int32
          default: 5
          description: 'Multiplier for the Bfd Configuration. Example: 5.'
    StaticRouteProperties:
      type: object
      description: Route Properties.
      properties:
        prefix:
          type: string
          minLength: 1
          description: Prefix of the route.
        nextHop:
          type: array
          minItems: 1
          description: List of next hop addresses.
          items:
            type: string
            minLength: 1
            description: Next Hop address.
      required:
      - prefix
      - nextHop
    Layer3IpPrefixProperties:
      type: object
      description: Layer 3 primary and secondary IP Address prefixes.
      properties:
        primaryIpv4Prefix:
          type: string
          description: IPv4 Address Prefix.
        primaryIpv6Prefix:
          type: string
          description: IPv6 Address Prefix.
        secondaryIpv4Prefix:
          type: string
          description: Secondary IPv4 Address Prefix.
        secondaryIpv6Prefix:
          type: string
          description: Secondary IPv6 Address Prefix.
    RouteTargetInformation:
      description: Route Target Configuration.
      type: object
      properties:
        importIpv4RouteTargets:
          type: array
          description: Route Targets to be applied for incoming routes into CE.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: 'Import IPv4 route target. Example: 65541:2001, 65542:2001.'
        importIpv6RouteTargets:
          type: array
          description: Route Targets to be applied for incoming routes from CE.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: 'Import IPv6 route target. Example: 65531, 65532.'
        exportIpv4RouteTargets:
          type: array
          description: Route Targets to be applied for outgoing routes into CE.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: 'Export IPV4 route target. Example: 65541:2001, 65542:2001.'
        exportIpv6RouteTargets:
          type: array
          description: Route Targets to be applied for outgoing routes from CE.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: 'Export IPV6 route target. Example: 65531, 65532.'
    ImportRoutePolicyInformation:
      type: object
      description: Import Route Policy Configuration.
      properties:
        importIpv4RoutePolicyId:
          description: Import IPv4 Route Policy Id.
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.ManagedNetworkFabric/routePolicies
        importIpv6RoutePolicyId:
          description: Import IPv6 Route Policy Id.
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.ManagedNetworkFabric/routePolicies
    ExportRoutePolicyInformation:
      type: object
      description: Export Route Policy Configuration.
      properties:
        exportIpv4RoutePolicyId:
          description: Export IPv4 Route Policy Id.
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.ManagedNetworkFabric/routePolicies
        exportIpv6RoutePolicyId:
          description: Export IPv6 Route Policy Id.
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.ManagedNetworkFabric/routePolicies
    CommonMatchConditions:
      type: object
      description: Defines the common match conditions of the ACL and Network Tap
        Rule.
      properties:
        protocolTypes:
          type: array
          minItems: 1
          description: List of the protocols that need to be matched.
          items:
            type: string
            minLength: 1
            description: Specify the protocol that to needs to matched. Inputs can
              be <protocol-name> or <protocol-number> or <range of protocol numbers>.
        vlanMatchCondition:
          description: Vlan match condition that needs to be matched.
          type: object
          properties:
            vlans:
              type: array
              description: List of vlans that need to be matched.
              minItems: 1
              items:
                type: string
                minLength: 1
                description: Specify the Vlan. Inputs can be single vlan or the range
                  of vlans.
            innerVlans:
              type: array
              description: List of inner vlans that need to be matched.
              minItems: 1
              items:
                type: string
                minLength: 1
                description: Specify the inner vlan. Inputs can be single vlan or
                  the range of vlans.
            vlanGroupNames:
              type: array
              description: List of vlan group names that need to be matched.
              minItems: 1
              items:
                type: string
                minLength: 1
                description: Vlan group name.
        ipCondition:
          description: IP condition that needs to be matched.
          type: object
          properties:
            type:
              type: string
              description: IP Address type that needs to be matched.
              minLength: 1
              enum:
              - SourceIP
              - DestinationIP
              x-ms-enum:
                modelAsString: true
                name: SourceDestinationType
            prefixType:
              type: string
              description: IP Prefix Type that needs to be matched.
              minLength: 1
              enum:
              - Prefix
              - LongestPrefix
              x-ms-enum:
                modelAsString: true
                name: PrefixType
            ipPrefixValues:
              type: array
              description: The list of IP Prefixes that need to be matched.
              minItems: 1
              items:
                type: string
                minLength: 1
                description: The valid IP Prefix.
            ipGroupNames:
              type: array
              description: The List of IP Group Names that need to be matched.
              minItems: 1
              items:
                type: string
                minLength: 1
                description: IP Group Name.
    PortCondition:
      type: object
      description: Port condition that needs to be matched.
      properties:
        portType:
          type: string
          description: Port type that needs to be matched.
          minLength: 1
          enum:
          - SourcePort
          - DestinationPort
          x-ms-enum:
            modelAsString: true
            name: PortType
        layer4Protocol:
          type: string
          description: Layer4 protocol type that needs to be matched.
          minLength: 1
          enum:
          - TCP
          - UDP
          x-ms-enum:
            modelAsString: true
            name: Layer4Protocol
        ports:
          type: array
          description: List of the Ports that need to be matched.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: Port number that needs to be matched. Inputs can be <port-number>
              or <range-of-ports>
        portGroupNames:
          type: array
          description: List of the port Group Names that need to be matched.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: Port Group Name.
      required:
      - layer4Protocol
    VlanMatchCondition:
      type: object
      description: The vlan match conditions that need to be matched.
      properties:
        vlans:
          type: array
          description: List of vlans that need to be matched.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: Specify the Vlan. Inputs can be single vlan or the range
              of vlans.
        innerVlans:
          type: array
          description: List of inner vlans that need to be matched.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: Specify the inner vlan. Inputs can be single vlan or the
              range of vlans.
        vlanGroupNames:
          type: array
          description: List of vlan group names that need to be matched.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: Vlan group name.
    IpMatchCondition:
      type: object
      description: Defines the condition that can be filtered using the selected IPs.
      properties:
        type:
          type: string
          description: IP Address type that needs to be matched.
          minLength: 1
          enum:
          - SourceIP
          - DestinationIP
          x-ms-enum:
            modelAsString: true
            name: SourceDestinationType
        prefixType:
          type: string
          description: IP Prefix Type that needs to be matched.
          minLength: 1
          enum:
          - Prefix
          - LongestPrefix
          x-ms-enum:
            modelAsString: true
            name: PrefixType
        ipPrefixValues:
          type: array
          description: The list of IP Prefixes that need to be matched.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: The valid IP Prefix.
        ipGroupNames:
          type: array
          description: The List of IP Group Names that need to be matched.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: IP Group Name.
    CommonDynamicMatchConfiguration:
      type: object
      description: Dynamic match configuration object.
      properties:
        ipGroups:
          type: array
          description: List of IP Groups.
          minItems: 1
          items:
            description: IP Group
            type: object
            properties:
              name:
                type: string
                minLength: 1
                description: IP Group name.
              ipAddressType:
                description: IP Address type.
                type: string
                minLength: 1
                enum:
                - IPv4
                - IPv6
                x-ms-enum:
                  modelAsString: true
                  name: IPAddressType
              ipPrefixes:
                type: array
                description: List of IP Prefixes.
                minItems: 1
                items:
                  type: string
                  minLength: 1
                  description: IP Prefix.
        vlanGroups:
          type: array
          description: List of vlan groups.
          minItems: 1
          items:
            description: Vlan group
            type: object
            properties:
              name:
                type: string
                minLength: 1
                description: Vlan group name.
              vlans:
                type: array
                description: List of vlans.
                minItems: 1
                items:
                  type: string
                  minLength: 1
                  description: Vlan. It may be a single vlan or the range of the vlans.
        portGroups:
          type: array
          description: List of the port groups.
          minItems: 1
          items:
            description: Port Group
            type: object
            properties:
              name:
                type: string
                minLength: 1
                description: The name of the port group.
              ports:
                type: array
                description: List of the ports that need to be matched.
                minItems: 1
                items:
                  type: string
                  minLength: 1
                  description: Port Number. Inputs can be single port or the range
                    of ports.
    IpGroupProperties:
      type: object
      description: IP Group properties.
      properties:
        name:
          type: string
          minLength: 1
          description: IP Group name.
        ipAddressType:
          description: IP Address type.
          type: string
          minLength: 1
          enum:
          - IPv4
          - IPv6
          x-ms-enum:
            modelAsString: true
            name: IPAddressType
        ipPrefixes:
          type: array
          description: List of IP Prefixes.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: IP Prefix.
    VlanGroupProperties:
      type: object
      description: Vlan group properties.
      properties:
        name:
          type: string
          minLength: 1
          description: Vlan group name.
        vlans:
          type: array
          description: List of vlans.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: Vlan. It may be a single vlan or the range of the vlans.
    PortGroupProperties:
      type: object
      description: Port Group properties.
      properties:
        name:
          type: string
          minLength: 1
          description: The name of the port group.
        ports:
          type: array
          description: List of the ports that need to be matched.
          minItems: 1
          items:
            type: string
            minLength: 1
            description: Port Number. Inputs can be single port or the range of ports.
    NetworkFabricControllerIdProperty:
      type: string
      description: ARM resource ID of the Network Fabric Controller.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
    NetworkFabricIdProperty:
      type: string
      description: ARM resource ID of the Network Fabric.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/networkFabrics
    NetworkToNetworkInterconnectIdProperty:
      type: string
      description: ARM resource ID of the Network To network Interconnects.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects
    L3IsolationDomainIdProperty:
      type: string
      description: ARM resource ID of the L3 Isolation Domain.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains
    InternalNetworkIdProperty:
      type: string
      description: ARM resource ID of the Internal Networks.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks
    ExternalNetworkIdProperty:
      type: string
      description: ARM resource ID of the External Networks.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/externalNetworks
    NetworkDeviceIdProperty:
      type: string
      description: ARM resource ID of the NetworkDevice.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/networkDevices
    NetworkInterfaceIdProperty:
      type: string
      description: ARM resource ID of the NetworkDevice/networkInterface.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/networkDevices/networkInterfaces
    RoutePolicyIdProperty:
      type: string
      description: ARM resource ID of Route Policy.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/routePolicies
    IpCommunityIdProperty:
      type: string
      description: ARM resource ID of IP Community.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/ipCommunities
    IpExtendedCommunityIdProperty:
      type: string
      description: ARM resource ID of IP Extended Community.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/ipExtendedCommunities
    IpPrefixIdProperty:
      type: string
      description: ARM resource ID of IP Prefix.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/ipPrefixes
    NetworkPacketBrokerIdProperty:
      type: string
      description: ARM resource ID of Network Packet Broker.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/networkPacketBrokers
    NetworkTapIdProperty:
      type: string
      description: ARM resource ID of Network Tap.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/networkTaps
    NetworkTapRuleIdProperty:
      type: string
      description: ARM resource ID of Network Tap Rule.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/networkTapRules
    NeighborGroupIdProperty:
      type: string
      description: ARM resource ID of Neighbor Group.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/neighborGroups
    AccessControlListIdProperty:
      type: string
      description: ARM resource ID of Access Control Lists.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/accessControlLists
    InternetGatewayIdProperty:
      type: string
      description: ARM resource ID of Internet Gateway.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/internetGateways
    InternetGatewayRuleIdProperty:
      type: string
      description: ARM resource ID of Internet Gateway Rule.
      format: arm-id
      x-ms-arm-id-details:
        allowedResources:
        - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
    IPAddressTypeEnumProperty:
      type: string
      description: IP Address type.
      minLength: 1
      enum:
      - IPv4
      - IPv6
      x-ms-enum:
        modelAsString: true
        name: IPAddressType
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
