openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/internetGateways/{internetGatewayName}
  : put:
      tags:
      - InternetGateways
      operationId: InternetGateways_Create
      summary: Create a Network Fabric Service Internet Gateway.
      description: Creates a Network Fabric Service Internet Gateway resource instance.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Internet Gateway.
        in: path
        name: internetGatewayName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    internetGatewayRuleId:
                      description: ARM Resource ID of the Internet Gateway Rule.
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
                    ipv4Address:
                      type: string
                      description: IPv4 Address of Internet Gateway.
                      readOnly: true
                    port:
                      type: integer
                      description: Port number of Internet Gateway.
                      format: int32
                      readOnly: true
                    type:
                      type: string
                      description: Gateway Type of the resource.
                      enum:
                      - Infrastructure
                      - Workload
                      minLength: 1
                      x-ms-enum:
                        modelAsString: true
                        name: GatewayType
                    networkFabricControllerId:
                      description: ARM Resource ID of the Network Fabric Controller.
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                    provisioningState:
                      description: Provisioning state of resource.
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                  description: Common properties for annotated type.
                  required:
                  - type
                  - networkFabricControllerId
                  x-ms-client-flatten: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      internetGatewayRuleId:
                        description: ARM Resource ID of the Internet Gateway Rule.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
                      ipv4Address:
                        type: string
                        description: IPv4 Address of Internet Gateway.
                        readOnly: true
                      port:
                        type: integer
                        description: Port number of Internet Gateway.
                        format: int32
                        readOnly: true
                      type:
                        type: string
                        description: Gateway Type of the resource.
                        enum:
                        - Infrastructure
                        - Workload
                        minLength: 1
                        x-ms-enum:
                          modelAsString: true
                          name: GatewayType
                      networkFabricControllerId:
                        description: ARM Resource ID of the Network Fabric Controller.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                      provisioningState:
                        description: Provisioning state of resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    required:
                    - type
                    - networkFabricControllerId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          headers:
            Azure-AsyncOperation:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      internetGatewayRuleId:
                        description: ARM Resource ID of the Internet Gateway Rule.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
                      ipv4Address:
                        type: string
                        description: IPv4 Address of Internet Gateway.
                        readOnly: true
                      port:
                        type: integer
                        description: Port number of Internet Gateway.
                        format: int32
                        readOnly: true
                      type:
                        type: string
                        description: Gateway Type of the resource.
                        enum:
                        - Infrastructure
                        - Workload
                        minLength: 1
                        x-ms-enum:
                          modelAsString: true
                          name: GatewayType
                      networkFabricControllerId:
                        description: ARM Resource ID of the Network Fabric Controller.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                      provisioningState:
                        description: Provisioning state of resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    required:
                    - type
                    - networkFabricControllerId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - InternetGateways
      operationId: InternetGateways_Get
      summary: Retrieves details of Network Fabric Service Internet Gateway.
      description: Implements Gateway GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Internet Gateway.
        in: path
        name: internetGatewayName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      internetGatewayRuleId:
                        description: ARM Resource ID of the Internet Gateway Rule.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
                      ipv4Address:
                        type: string
                        description: IPv4 Address of Internet Gateway.
                        readOnly: true
                      port:
                        type: integer
                        description: Port number of Internet Gateway.
                        format: int32
                        readOnly: true
                      type:
                        type: string
                        description: Gateway Type of the resource.
                        enum:
                        - Infrastructure
                        - Workload
                        minLength: 1
                        x-ms-enum:
                          modelAsString: true
                          name: GatewayType
                      networkFabricControllerId:
                        description: ARM Resource ID of the Network Fabric Controller.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                      provisioningState:
                        description: Provisioning state of resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    required:
                    - type
                    - networkFabricControllerId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - InternetGateways
      operationId: InternetGateways_Update
      summary: Updates a Network Fabric Service Internet Gateway.
      description: Execute patch on Network Fabric Service Internet Gateway.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Internet Gateway.
        in: path
        name: internetGatewayName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  description: Resource properties.
                  type: object
                  properties:
                    internetGatewayRuleId:
                      description: ARM Resource ID of the Internet Gateway Rule.
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
              description: Resource tags
              x-ms-azure-resource: true
        description: API to update certain properties of the L2 Isolation Domain resource..
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      internetGatewayRuleId:
                        description: ARM Resource ID of the Internet Gateway Rule.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
                      ipv4Address:
                        type: string
                        description: IPv4 Address of Internet Gateway.
                        readOnly: true
                      port:
                        type: integer
                        description: Port number of Internet Gateway.
                        format: int32
                        readOnly: true
                      type:
                        type: string
                        description: Gateway Type of the resource.
                        enum:
                        - Infrastructure
                        - Workload
                        minLength: 1
                        x-ms-enum:
                          modelAsString: true
                          name: GatewayType
                      networkFabricControllerId:
                        description: ARM Resource ID of the Network Fabric Controller.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                      provisioningState:
                        description: Provisioning state of resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    required:
                    - type
                    - networkFabricControllerId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    delete:
      tags:
      - InternetGateways
      operationId: InternetGateways_Delete
      summary: Deletes a Network Fabric Service Internet Gateway.
      description: Execute a delete on Network Fabric Service Internet Gateway.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Internet Gateway.
        in: path
        name: internetGatewayName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/internetGateways
  : get:
      operationId: InternetGateways_ListByResourceGroup
      summary: List Internet Gateways by resource group.
      description: Displays Internet Gateways list by resource group GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists all InternetGateways under the resource group.
          content:
            application/json:
              schema:
                type: object
                description: List of InternetGateways.
                properties:
                  value:
                    type: array
                    description: Displays list of Internet Gateway resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            internetGatewayRuleId:
                              description: ARM Resource ID of the Internet Gateway
                                Rule.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
                            ipv4Address:
                              type: string
                              description: IPv4 Address of Internet Gateway.
                              readOnly: true
                            port:
                              type: integer
                              description: Port number of Internet Gateway.
                              format: int32
                              readOnly: true
                            type:
                              type: string
                              description: Gateway Type of the resource.
                              enum:
                              - Infrastructure
                              - Workload
                              minLength: 1
                              x-ms-enum:
                                modelAsString: true
                                name: GatewayType
                            networkFabricControllerId:
                              description: ARM Resource ID of the Network Fabric Controller.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                            provisioningState:
                              description: Provisioning state of resource.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                          description: Common properties for annotated type.
                          required:
                          - type
                          - networkFabricControllerId
                          x-ms-client-flatten: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Url to follow for getting next page of resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/internetGateways:
    get:
      operationId: InternetGateways_ListBySubscription
      summary: List Internet Gateways by subscription.
      description: Displays Internet Gateways list by subscription GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists all Internet Gateways under the subscription.
          content:
            application/json:
              schema:
                type: object
                description: List of InternetGateways.
                properties:
                  value:
                    type: array
                    description: Displays list of Internet Gateway resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            internetGatewayRuleId:
                              description: ARM Resource ID of the Internet Gateway
                                Rule.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
                            ipv4Address:
                              type: string
                              description: IPv4 Address of Internet Gateway.
                              readOnly: true
                            port:
                              type: integer
                              description: Port number of Internet Gateway.
                              format: int32
                              readOnly: true
                            type:
                              type: string
                              description: Gateway Type of the resource.
                              enum:
                              - Infrastructure
                              - Workload
                              minLength: 1
                              x-ms-enum:
                                modelAsString: true
                                name: GatewayType
                            networkFabricControllerId:
                              description: ARM Resource ID of the Network Fabric Controller.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                            provisioningState:
                              description: Provisioning state of resource.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                          description: Common properties for annotated type.
                          required:
                          - type
                          - networkFabricControllerId
                          x-ms-client-flatten: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Url to follow for getting next page of resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    InternetGatewayNameParameter:
      description: Name of the Internet Gateway.
      in: path
      name: internetGatewayName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    InternetGatewayProperties:
      type: object
      properties:
        annotation:
          type: string
          description: Switch configuration description.
        internetGatewayRuleId:
          description: ARM Resource ID of the Internet Gateway Rule.
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
        ipv4Address:
          type: string
          description: IPv4 Address of Internet Gateway.
          readOnly: true
        port:
          type: integer
          description: Port number of Internet Gateway.
          format: int32
          readOnly: true
        type:
          type: string
          description: Gateway Type of the resource.
          enum:
          - Infrastructure
          - Workload
          minLength: 1
          x-ms-enum:
            modelAsString: true
            name: GatewayType
        networkFabricControllerId:
          description: ARM Resource ID of the Network Fabric Controller.
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
        provisioningState:
          description: Provisioning state of resource.
          readOnly: true
          type: string
          enum:
          - Accepted
          - Succeeded
          - Updating
          - Deleting
          - Failed
          - Canceled
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
      description: Common properties for annotated type.
      required:
      - type
      - networkFabricControllerId
    InternetGatewayPatchableProperties:
      type: object
      description: Internet Gateway Patchable Properties defines the patchable properties
        of the resource.
      properties:
        internetGatewayRuleId:
          description: ARM Resource ID of the Internet Gateway Rule.
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
    InternetGateway:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        properties:
          type: object
          properties:
            annotation:
              type: string
              description: Switch configuration description.
            internetGatewayRuleId:
              description: ARM Resource ID of the Internet Gateway Rule.
              type: string
              format: arm-id
              x-ms-arm-id-details:
                allowedResources:
                - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
            ipv4Address:
              type: string
              description: IPv4 Address of Internet Gateway.
              readOnly: true
            port:
              type: integer
              description: Port number of Internet Gateway.
              format: int32
              readOnly: true
            type:
              type: string
              description: Gateway Type of the resource.
              enum:
              - Infrastructure
              - Workload
              minLength: 1
              x-ms-enum:
                modelAsString: true
                name: GatewayType
            networkFabricControllerId:
              description: ARM Resource ID of the Network Fabric Controller.
              type: string
              format: arm-id
              x-ms-arm-id-details:
                allowedResources:
                - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
            provisioningState:
              description: Provisioning state of resource.
              readOnly: true
              type: string
              enum:
              - Accepted
              - Succeeded
              - Updating
              - Deleting
              - Failed
              - Canceled
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
          description: Common properties for annotated type.
          required:
          - type
          - networkFabricControllerId
          x-ms-client-flatten: true
      required:
      - location
      - properties
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    InternetGatewayPatch:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          type: object
          properties:
            internetGatewayRuleId:
              description: ARM Resource ID of the Internet Gateway Rule.
              type: string
              format: arm-id
              x-ms-arm-id-details:
                allowedResources:
                - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
      description: Resource tags
      x-ms-azure-resource: true
    InternetGatewaysListResult:
      type: object
      description: List of InternetGateways.
      properties:
        value:
          type: array
          description: Displays list of Internet Gateway resources.
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              tags:
                type: object
                description: Resource tags.
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
              location:
                type: string
                description: The geo-location where the resource lives
                x-ms-mutability:
                - read
                - create
              properties:
                type: object
                properties:
                  annotation:
                    type: string
                    description: Switch configuration description.
                  internetGatewayRuleId:
                    description: ARM Resource ID of the Internet Gateway Rule.
                    type: string
                    format: arm-id
                    x-ms-arm-id-details:
                      allowedResources:
                      - type: Microsoft.ManagedNetworkFabric/internetGatewayRules
                  ipv4Address:
                    type: string
                    description: IPv4 Address of Internet Gateway.
                    readOnly: true
                  port:
                    type: integer
                    description: Port number of Internet Gateway.
                    format: int32
                    readOnly: true
                  type:
                    type: string
                    description: Gateway Type of the resource.
                    enum:
                    - Infrastructure
                    - Workload
                    minLength: 1
                    x-ms-enum:
                      modelAsString: true
                      name: GatewayType
                  networkFabricControllerId:
                    description: ARM Resource ID of the Network Fabric Controller.
                    type: string
                    format: arm-id
                    x-ms-arm-id-details:
                      allowedResources:
                      - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                  provisioningState:
                    description: Provisioning state of resource.
                    readOnly: true
                    type: string
                    enum:
                    - Accepted
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    - Canceled
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                description: Common properties for annotated type.
                required:
                - type
                - networkFabricControllerId
                x-ms-client-flatten: true
            required:
            - location
            - properties
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: Url to follow for getting next page of resources.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
[...]
