openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}
  : put:
      tags:
      - L3IsolationDomains
      operationId: L3IsolationDomains_Create
      summary: Create L3 Isolation Domain.
      description: 'Create isolation domain resources for layer 3 connectivity between
        compute nodes and for communication with external services .This configuration
        is applied on the devices only after the creation of networks is completed
        and isolation domain is enabled. '
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the L3 Isolation Domain.
        in: path
        name: l3IsolationDomainName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    redistributeConnectedSubnets:
                      type: string
                      description: 'Advertise Connected Subnets. Ex: "True" | "False".'
                      default: 'True'
                      minLength: 1
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        modelAsString: true
                        name: redistributeConnectedSubnets
                    redistributeStaticRoutes:
                      type: string
                      description: 'Advertise Static Routes. Ex: "True" | "False".'
                      default: 'False'
                      minLength: 1
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        modelAsString: true
                        name: redistributeStaticRoutes
                    aggregateRouteConfiguration:
                      description: Aggregate route configurations.
                      type: object
                      properties:
                        ipv4Routes:
                          type: array
                          description: List of IPv4 Route prefixes.
                          minItems: 1
                          x-ms-identifiers:
                          - prefix
                          items:
                            description: Aggregate IPv4 Route properties.
                            type: object
                            properties:
                              prefix:
                                type: string
                                minLength: 1
                                description: IPv4 Prefix of the aggregate Ipv4Route.
                            required:
                            - prefix
                        ipv6Routes:
                          type: array
                          description: List of Ipv6Routes prefixes.
                          x-ms-identifiers:
                          - prefix
                          minItems: 1
                          items:
                            description: Aggregate IPv6 Route properties.
                            type: object
                            properties:
                              prefix:
                                type: string
                                minLength: 1
                                description: IPv4 Prefix of the aggregate Ipv4Route.
                            required:
                            - prefix
                    connectedSubnetRoutePolicy:
                      description: Connected Subnet RoutePolicy
                      type: object
                      properties:
                        exportRoutePolicyId:
                          description: ARM Resource ID of the Route Policy. This is
                            used for the backward compatibility.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/routePolicies
                        exportRoutePolicy:
                          description: Array of ARM Resource ID of the RoutePolicies.
                          type: object
                          properties:
                            exportIpv4RoutePolicyId:
                              description: ARM Resource ID of the RoutePolicy.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/routePolicies
                            exportIpv6RoutePolicyId:
                              description: ARM Resource ID of the RoutePolicy.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/routePolicies
                    networkFabricId:
                      description: ARM Resource ID of the Network Fabric.
                      x-ms-mutability:
                      - create
                      - read
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.ManagedNetworkFabric/networkFabrics
                    configurationState:
                      description: Configuration state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Rejected
                      - Accepted
                      - Provisioned
                      - ErrorProvisioning
                      - Deprovisioning
                      - Deprovisioned
                      - ErrorDeprovisioning
                      - DeferredControl
                      - Provisioning
                      - PendingCommit
                      x-ms-enum:
                        modelAsString: true
                        name: ConfigurationState
                    provisioningState:
                      description: Provisioning state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    administrativeState:
                      description: Administrative state of the resource.
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      - MAT
                      - RMA
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: AdministrativeState
                  description: Common properties for annotated type.
                  required:
                  - networkFabricId
                  x-ms-client-flatten: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      redistributeConnectedSubnets:
                        type: string
                        description: 'Advertise Connected Subnets. Ex: "True" | "False".'
                        default: 'True'
                        minLength: 1
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: redistributeConnectedSubnets
                      redistributeStaticRoutes:
                        type: string
                        description: 'Advertise Static Routes. Ex: "True" | "False".'
                        default: 'False'
                        minLength: 1
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: redistributeStaticRoutes
                      aggregateRouteConfiguration:
                        description: Aggregate route configurations.
                        type: object
                        properties:
                          ipv4Routes:
                            type: array
                            description: List of IPv4 Route prefixes.
                            minItems: 1
                            x-ms-identifiers:
                            - prefix
                            items:
                              description: Aggregate IPv4 Route properties.
                              type: object
                              properties:
                                prefix:
                                  type: string
                                  minLength: 1
                                  description: IPv4 Prefix of the aggregate Ipv4Route.
                              required:
                              - prefix
                          ipv6Routes:
                            type: array
                            description: List of Ipv6Routes prefixes.
                            x-ms-identifiers:
                            - prefix
                            minItems: 1
                            items:
                              description: Aggregate IPv6 Route properties.
                              type: object
                              properties:
                                prefix:
                                  type: string
                                  minLength: 1
                                  description: IPv4 Prefix of the aggregate Ipv4Route.
                              required:
                              - prefix
                      connectedSubnetRoutePolicy:
                        description: Connected Subnet RoutePolicy
                        type: object
                        properties:
                          exportRoutePolicyId:
                            description: ARM Resource ID of the Route Policy. This
                              is used for the backward compatibility.
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ManagedNetworkFabric/routePolicies
                          exportRoutePolicy:
                            description: Array of ARM Resource ID of the RoutePolicies.
                            type: object
                            properties:
                              exportIpv4RoutePolicyId:
                                description: ARM Resource ID of the RoutePolicy.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/routePolicies
                              exportIpv6RoutePolicyId:
                                description: ARM Resource ID of the RoutePolicy.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/routePolicies
                      networkFabricId:
                        description: ARM Resource ID of the Network Fabric.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkFabricId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      redistributeConnectedSubnets:
                        type: string
                        description: 'Advertise Connected Subnets. Ex: "True" | "False".'
                        default: 'True'
                        minLength: 1
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: redistributeConnectedSubnets
                      redistributeStaticRoutes:
                        type: string
                        description: 'Advertise Static Routes. Ex: "True" | "False".'
                        default: 'False'
                        minLength: 1
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: redistributeStaticRoutes
                      aggregateRouteConfiguration:
                        description: Aggregate route configurations.
                        type: object
                        properties:
                          ipv4Routes:
                            type: array
                            description: List of IPv4 Route prefixes.
                            minItems: 1
                            x-ms-identifiers:
                            - prefix
                            items:
                              description: Aggregate IPv4 Route properties.
                              type: object
                              properties:
                                prefix:
                                  type: string
                                  minLength: 1
                                  description: IPv4 Prefix of the aggregate Ipv4Route.
                              required:
                              - prefix
                          ipv6Routes:
                            type: array
                            description: List of Ipv6Routes prefixes.
                            x-ms-identifiers:
                            - prefix
                            minItems: 1
                            items:
                              description: Aggregate IPv6 Route properties.
                              type: object
                              properties:
                                prefix:
                                  type: string
                                  minLength: 1
                                  description: IPv4 Prefix of the aggregate Ipv4Route.
                              required:
                              - prefix
                      connectedSubnetRoutePolicy:
                        description: Connected Subnet RoutePolicy
                        type: object
                        properties:
                          exportRoutePolicyId:
                            description: ARM Resource ID of the Route Policy. This
                              is used for the backward compatibility.
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ManagedNetworkFabric/routePolicies
                          exportRoutePolicy:
                            description: Array of ARM Resource ID of the RoutePolicies.
                            type: object
                            properties:
                              exportIpv4RoutePolicyId:
                                description: ARM Resource ID of the RoutePolicy.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/routePolicies
                              exportIpv6RoutePolicyId:
                                description: ARM Resource ID of the RoutePolicy.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/routePolicies
                      networkFabricId:
                        description: ARM Resource ID of the Network Fabric.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkFabricId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - L3IsolationDomains
      operationId: L3IsolationDomains_Get
      summary: Gets a L3 Isolation Domain.
      description: Retrieves details of this L3 Isolation Domain.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the L3 Isolation Domain.
        in: path
        name: l3IsolationDomainName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      redistributeConnectedSubnets:
                        type: string
                        description: 'Advertise Connected Subnets. Ex: "True" | "False".'
                        default: 'True'
                        minLength: 1
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: redistributeConnectedSubnets
                      redistributeStaticRoutes:
                        type: string
                        description: 'Advertise Static Routes. Ex: "True" | "False".'
                        default: 'False'
                        minLength: 1
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: redistributeStaticRoutes
                      aggregateRouteConfiguration:
                        description: Aggregate route configurations.
                        type: object
                        properties:
                          ipv4Routes:
                            type: array
                            description: List of IPv4 Route prefixes.
                            minItems: 1
                            x-ms-identifiers:
                            - prefix
                            items:
                              description: Aggregate IPv4 Route properties.
                              type: object
                              properties:
                                prefix:
                                  type: string
                                  minLength: 1
                                  description: IPv4 Prefix of the aggregate Ipv4Route.
                              required:
                              - prefix
                          ipv6Routes:
                            type: array
                            description: List of Ipv6Routes prefixes.
                            x-ms-identifiers:
                            - prefix
                            minItems: 1
                            items:
                              description: Aggregate IPv6 Route properties.
                              type: object
                              properties:
                                prefix:
                                  type: string
                                  minLength: 1
                                  description: IPv4 Prefix of the aggregate Ipv4Route.
                              required:
                              - prefix
                      connectedSubnetRoutePolicy:
                        description: Connected Subnet RoutePolicy
                        type: object
                        properties:
                          exportRoutePolicyId:
                            description: ARM Resource ID of the Route Policy. This
                              is used for the backward compatibility.
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ManagedNetworkFabric/routePolicies
                          exportRoutePolicy:
                            description: Array of ARM Resource ID of the RoutePolicies.
                            type: object
                            properties:
                              exportIpv4RoutePolicyId:
                                description: ARM Resource ID of the RoutePolicy.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/routePolicies
                              exportIpv6RoutePolicyId:
                                description: ARM Resource ID of the RoutePolicy.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/routePolicies
                      networkFabricId:
                        description: ARM Resource ID of the Network Fabric.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkFabricId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - L3IsolationDomains
      operationId: L3IsolationDomains_Update
      summary: Updates a L3 Isolation Domain.
      description: API to update certain properties of the L3 Isolation Domain resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the L3 Isolation Domain.
        in: path
        name: l3IsolationDomainName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    redistributeConnectedSubnets:
                      type: string
                      description: 'Advertise Connected Subnets. Ex: "True" | "False".'
                      default: 'True'
                      minLength: 1
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        modelAsString: true
                        name: redistributeConnectedSubnets
                    redistributeStaticRoutes:
                      type: string
                      description: 'Advertise Static Routes. Ex: "True" | "False".'
                      default: 'False'
                      minLength: 1
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        modelAsString: true
                        name: redistributeStaticRoutes
                    aggregateRouteConfiguration:
                      description: Aggregate route configurations.
                      type: object
                      properties:
                        ipv4Routes:
                          type: array
                          description: List of IPv4 Route prefixes.
                          minItems: 1
                          x-ms-identifiers:
                          - prefix
                          items:
                            description: Aggregate IPv4 Route properties.
                            type: object
                            properties:
                              prefix:
                                type: string
                                minLength: 1
                                description: IPv4 Prefix of the aggregate Ipv4Route.
                            required:
                            - prefix
                        ipv6Routes:
                          type: array
                          description: List of Ipv6Routes prefixes.
                          x-ms-identifiers:
                          - prefix
                          minItems: 1
                          items:
                            description: Aggregate IPv6 Route properties.
                            type: object
                            properties:
                              prefix:
                                type: string
                                minLength: 1
                                description: IPv4 Prefix of the aggregate Ipv4Route.
                            required:
                            - prefix
                    connectedSubnetRoutePolicy:
                      description: Connected Subnet RoutePolicy
                      type: object
                      properties:
                        exportRoutePolicyId:
                          description: ARM Resource ID of the Route Policy. This is
                            used for the backward compatibility.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/routePolicies
                        exportRoutePolicy:
                          description: Array of ARM Resource ID of the RoutePolicies.
                          type: object
                          properties:
                            exportIpv4RoutePolicyId:
                              description: ARM Resource ID of the RoutePolicy.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/routePolicies
                            exportIpv6RoutePolicyId:
                              description: ARM Resource ID of the RoutePolicy.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/routePolicies
                  description: Switch configuration entries require a description
                    to discern between configuration groups.
                  x-ms-client-flatten: true
              description: Base tracked resource type for PATCH updates.
              x-ms-azure-resource: true
        description: API to update certain properties of the L3 Isolation Domain resource.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      redistributeConnectedSubnets:
                        type: string
                        description: 'Advertise Connected Subnets. Ex: "True" | "False".'
                        default: 'True'
                        minLength: 1
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: redistributeConnectedSubnets
                      redistributeStaticRoutes:
                        type: string
                        description: 'Advertise Static Routes. Ex: "True" | "False".'
                        default: 'False'
                        minLength: 1
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: redistributeStaticRoutes
                      aggregateRouteConfiguration:
                        description: Aggregate route configurations.
                        type: object
                        properties:
                          ipv4Routes:
                            type: array
                            description: List of IPv4 Route prefixes.
                            minItems: 1
                            x-ms-identifiers:
                            - prefix
                            items:
                              description: Aggregate IPv4 Route properties.
                              type: object
                              properties:
                                prefix:
                                  type: string
                                  minLength: 1
                                  description: IPv4 Prefix of the aggregate Ipv4Route.
                              required:
                              - prefix
                          ipv6Routes:
                            type: array
                            description: List of Ipv6Routes prefixes.
                            x-ms-identifiers:
                            - prefix
                            minItems: 1
                            items:
                              description: Aggregate IPv6 Route properties.
                              type: object
                              properties:
                                prefix:
                                  type: string
                                  minLength: 1
                                  description: IPv4 Prefix of the aggregate Ipv4Route.
                              required:
                              - prefix
                      connectedSubnetRoutePolicy:
                        description: Connected Subnet RoutePolicy
                        type: object
                        properties:
                          exportRoutePolicyId:
                            description: ARM Resource ID of the Route Policy. This
                              is used for the backward compatibility.
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ManagedNetworkFabric/routePolicies
                          exportRoutePolicy:
                            description: Array of ARM Resource ID of the RoutePolicies.
                            type: object
                            properties:
                              exportIpv4RoutePolicyId:
                                description: ARM Resource ID of the RoutePolicy.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/routePolicies
                              exportIpv6RoutePolicyId:
                                description: ARM Resource ID of the RoutePolicy.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/routePolicies
                      networkFabricId:
                        description: ARM Resource ID of the Network Fabric.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkFabricId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    delete:
      tags:
      - L3IsolationDomains
      operationId: L3IsolationDomains_Delete
      summary: Deletes a L3 Isolation Domain.
      description: Deletes layer 3 connectivity between compute nodes by managed by
        named L3 Isolation name.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the L3 Isolation Domain.
        in: path
        name: l3IsolationDomainName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains
  : get:
      operationId: L3IsolationDomains_ListByResourceGroup
      summary: List L3IsolationDomains by resource group.
      description: Displays L3IsolationDomains list by resource group GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists all L3IsolationDomains under the resource group.
          content:
            application/json:
              schema:
                type: object
                description: List of L3 Isolation Domains.
                properties:
                  value:
                    type: array
                    description: List of L3 Isolation Domain resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            redistributeConnectedSubnets:
                              type: string
                              description: 'Advertise Connected Subnets. Ex: "True"
                                | "False".'
                              default: 'True'
                              minLength: 1
                              enum:
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                modelAsString: true
                                name: redistributeConnectedSubnets
                            redistributeStaticRoutes:
                              type: string
                              description: 'Advertise Static Routes. Ex: "True" |
                                "False".'
                              default: 'False'
                              minLength: 1
                              enum:
                              - 'True'
                              - 'False'
                              x-ms-enum:
                                modelAsString: true
                                name: redistributeStaticRoutes
                            aggregateRouteConfiguration:
                              description: Aggregate route configurations.
                              type: object
                              properties:
                                ipv4Routes:
                                  type: array
                                  description: List of IPv4 Route prefixes.
                                  minItems: 1
                                  x-ms-identifiers:
                                  - prefix
                                  items:
                                    description: Aggregate IPv4 Route properties.
                                    type: object
                                    properties:
                                      prefix:
                                        type: string
                                        minLength: 1
                                        description: IPv4 Prefix of the aggregate
                                          Ipv4Route.
                                    required:
                                    - prefix
                                ipv6Routes:
                                  type: array
                                  description: List of Ipv6Routes prefixes.
                                  x-ms-identifiers:
                                  - prefix
                                  minItems: 1
                                  items:
                                    description: Aggregate IPv6 Route properties.
                                    type: object
                                    properties:
                                      prefix:
                                        type: string
                                        minLength: 1
                                        description: IPv4 Prefix of the aggregate
                                          Ipv4Route.
                                    required:
                                    - prefix
                            connectedSubnetRoutePolicy:
                              description: Connected Subnet RoutePolicy
                              type: object
                              properties:
                                exportRoutePolicyId:
                                  description: ARM Resource ID of the Route Policy.
                                    This is used for the backward compatibility.
                                  type: string
                                  format: arm-id
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.ManagedNetworkFabric/routePolicies
                                exportRoutePolicy:
                                  description: Array of ARM Resource ID of the RoutePolicies.
                                  type: object
                                  properties:
                                    exportIpv4RoutePolicyId:
                                      description: ARM Resource ID of the RoutePolicy.
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.ManagedNetworkFabric/routePolicies
                                    exportIpv6RoutePolicyId:
                                      description: ARM Resource ID of the RoutePolicy.
                                      type: string
                                      format: arm-id
                                      x-ms-arm-id-details:
                                        allowedResources:
                                        - type: Microsoft.ManagedNetworkFabric/routePolicies
                            networkFabricId:
                              description: ARM Resource ID of the Network Fabric.
                              x-ms-mutability:
                              - create
                              - read
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkFabrics
                            configurationState:
                              description: Configuration state of the resource.
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Rejected
                              - Accepted
                              - Provisioned
                              - ErrorProvisioning
                              - Deprovisioning
                              - Deprovisioned
                              - ErrorDeprovisioning
                              - DeferredControl
                              - Provisioning
                              - PendingCommit
                              x-ms-enum:
                                modelAsString: true
                                name: ConfigurationState
                            provisioningState:
                              description: Provisioning state of the resource.
                              type: string
                              readOnly: true
                              enum:
                              - Accepted
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            administrativeState:
                              description: Administrative state of the resource.
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              - MAT
                              - RMA
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: AdministrativeState
                          description: Common properties for annotated type.
                          required:
                          - networkFabricId
                          x-ms-client-flatten: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Url to follow for getting next page of resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
[...]
