openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/neighborGroups/{neighborGroupName}
  : put:
      tags:
      - NeighborGroups
      operationId: NeighborGroups_Create
      summary: Creates the Neighbor Group.
      description: Implements the Neighbor Group PUT method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Neighbor Group.
        in: path
        name: neighborGroupName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    destination:
                      description: An array of destination IPv4 Addresses or IPv6
                        Addresses.
                      type: object
                      properties:
                        ipv4Addresses:
                          type: array
                          maxItems: 16
                          description: Array of IPv4 Addresses.
                          items:
                            type: string
                            description: IPv4 Address.
                            minLength: 1
                        ipv6Addresses:
                          type: array
                          maxItems: 16
                          description: Array of IPv6 Addresses.
                          items:
                            type: string
                            description: IPv6 Address.
                            minLength: 1
                    networkTapIds:
                      type: array
                      description: List of NetworkTap IDs where neighbor group is
                        associated.
                      readOnly: true
                      items:
                        description: ARM resource ID of the Network Tap Resource.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkTaps
                    networkTapRuleIds:
                      type: array
                      description: List of Network Tap Rule IDs where neighbor group
                        is associated.
                      readOnly: true
                      items:
                        description: ARM resource ID of the Network Tap Rules.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkTapRules
                    provisioningState:
                      description: The provisioning state of the resource.
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                  description: Common properties for annotated type.
                  x-ms-client-flatten: true
                  required:
                  - destination
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      destination:
                        description: An array of destination IPv4 Addresses or IPv6
                          Addresses.
                        type: object
                        properties:
                          ipv4Addresses:
                            type: array
                            maxItems: 16
                            description: Array of IPv4 Addresses.
                            items:
                              type: string
                              description: IPv4 Address.
                              minLength: 1
                          ipv6Addresses:
                            type: array
                            maxItems: 16
                            description: Array of IPv6 Addresses.
                            items:
                              type: string
                              description: IPv6 Address.
                              minLength: 1
                      networkTapIds:
                        type: array
                        description: List of NetworkTap IDs where neighbor group is
                          associated.
                        readOnly: true
                        items:
                          description: ARM resource ID of the Network Tap Resource.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkTaps
                      networkTapRuleIds:
                        type: array
                        description: List of Network Tap Rule IDs where neighbor group
                          is associated.
                        readOnly: true
                        items:
                          description: ARM resource ID of the Network Tap Rules.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkTapRules
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    x-ms-client-flatten: true
                    required:
                    - destination
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      destination:
                        description: An array of destination IPv4 Addresses or IPv6
                          Addresses.
                        type: object
                        properties:
                          ipv4Addresses:
                            type: array
                            maxItems: 16
                            description: Array of IPv4 Addresses.
                            items:
                              type: string
                              description: IPv4 Address.
                              minLength: 1
                          ipv6Addresses:
                            type: array
                            maxItems: 16
                            description: Array of IPv6 Addresses.
                            items:
                              type: string
                              description: IPv6 Address.
                              minLength: 1
                      networkTapIds:
                        type: array
                        description: List of NetworkTap IDs where neighbor group is
                          associated.
                        readOnly: true
                        items:
                          description: ARM resource ID of the Network Tap Resource.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkTaps
                      networkTapRuleIds:
                        type: array
                        description: List of Network Tap Rule IDs where neighbor group
                          is associated.
                        readOnly: true
                        items:
                          description: ARM resource ID of the Network Tap Rules.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkTapRules
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    x-ms-client-flatten: true
                    required:
                    - destination
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - NeighborGroups
      operationId: NeighborGroups_Get
      summary: Retrieves details of neighbor Group using GET method.
      description: Gets the Neighbor Group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Neighbor Group.
        in: path
        name: neighborGroupName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      destination:
                        description: An array of destination IPv4 Addresses or IPv6
                          Addresses.
                        type: object
                        properties:
                          ipv4Addresses:
                            type: array
                            maxItems: 16
                            description: Array of IPv4 Addresses.
                            items:
                              type: string
                              description: IPv4 Address.
                              minLength: 1
                          ipv6Addresses:
                            type: array
                            maxItems: 16
                            description: Array of IPv6 Addresses.
                            items:
                              type: string
                              description: IPv6 Address.
                              minLength: 1
                      networkTapIds:
                        type: array
                        description: List of NetworkTap IDs where neighbor group is
                          associated.
                        readOnly: true
                        items:
                          description: ARM resource ID of the Network Tap Resource.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkTaps
                      networkTapRuleIds:
                        type: array
                        description: List of Network Tap Rule IDs where neighbor group
                          is associated.
                        readOnly: true
                        items:
                          description: ARM resource ID of the Network Tap Rules.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkTapRules
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    x-ms-client-flatten: true
                    required:
                    - destination
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - NeighborGroups
      operationId: NeighborGroups_Update
      summary: API to update certain properties of the Neighbor Group Resources.
      description: Updates the Neighbor Group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Neighbor Group.
        in: path
        name: neighborGroupName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    destination:
                      description: An array of destination IPv4 Addresses or IPv6
                        Addresses.
                      type: object
                      properties:
                        ipv4Addresses:
                          type: array
                          maxItems: 16
                          description: Array of IPv4 Addresses.
                          items:
                            type: string
                            description: IPv4 Address.
                            minLength: 1
                        ipv6Addresses:
                          type: array
                          maxItems: 16
                          description: Array of IPv6 Addresses.
                          items:
                            type: string
                            description: IPv6 Address.
                            minLength: 1
                  description: Switch configuration entries require a description
                    to discern between configuration groups.
                  x-ms-client-flatten: true
              description: Base tracked resource type for PATCH updates.
        description: Neighbor Group properties to update. Only annotations are supported.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      destination:
                        description: An array of destination IPv4 Addresses or IPv6
                          Addresses.
                        type: object
                        properties:
                          ipv4Addresses:
                            type: array
                            maxItems: 16
                            description: Array of IPv4 Addresses.
                            items:
                              type: string
                              description: IPv4 Address.
                              minLength: 1
                          ipv6Addresses:
                            type: array
                            maxItems: 16
                            description: Array of IPv6 Addresses.
                            items:
                              type: string
                              description: IPv6 Address.
                              minLength: 1
                      networkTapIds:
                        type: array
                        description: List of NetworkTap IDs where neighbor group is
                          associated.
                        readOnly: true
                        items:
                          description: ARM resource ID of the Network Tap Resource.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkTaps
                      networkTapRuleIds:
                        type: array
                        description: List of Network Tap Rule IDs where neighbor group
                          is associated.
                        readOnly: true
                        items:
                          description: ARM resource ID of the Network Tap Rules.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkTapRules
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    x-ms-client-flatten: true
                    required:
                    - destination
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    delete:
      tags:
      - NeighborGroups
      operationId: NeighborGroups_Delete
      summary: Deletes a Neighbor Group.
      description: Implements Neighbor Group DELETE method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Neighbor Group.
        in: path
        name: neighborGroupName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/neighborGroups:
    get:
      operationId: NeighborGroups_ListByResourceGroup
      summary: List Neighbor Groups by resource group.
      description: Displays NeighborGroups list by resource group GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists all Neighbor Groups under the resource group.
          content:
            application/json:
              schema:
                type: object
                description: List of Neighbor Group.
                properties:
                  value:
                    type: array
                    description: List of Neighbor Group resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            destination:
                              description: An array of destination IPv4 Addresses
                                or IPv6 Addresses.
                              type: object
                              properties:
                                ipv4Addresses:
                                  type: array
                                  maxItems: 16
                                  description: Array of IPv4 Addresses.
                                  items:
                                    type: string
                                    description: IPv4 Address.
                                    minLength: 1
                                ipv6Addresses:
                                  type: array
                                  maxItems: 16
                                  description: Array of IPv6 Addresses.
                                  items:
                                    type: string
                                    description: IPv6 Address.
                                    minLength: 1
                            networkTapIds:
                              type: array
                              description: List of NetworkTap IDs where neighbor group
                                is associated.
                              readOnly: true
                              items:
                                description: ARM resource ID of the Network Tap Resource.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/networkTaps
                            networkTapRuleIds:
                              type: array
                              description: List of Network Tap Rule IDs where neighbor
                                group is associated.
                              readOnly: true
                              items:
                                description: ARM resource ID of the Network Tap Rules.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/networkTapRules
                            provisioningState:
                              description: The provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                          description: Common properties for annotated type.
                          x-ms-client-flatten: true
                          required:
                          - destination
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Url to follow for getting next page of resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/neighborGroups:
    get:
      operationId: NeighborGroups_ListBySubscription
      summary: List Neighbor Groups by subscription.
      description: Displays NeighborGroups list by subscription GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists all Neighbor Groups under the subscription.
          content:
            application/json:
              schema:
                type: object
                description: List of Neighbor Group.
                properties:
                  value:
                    type: array
                    description: List of Neighbor Group resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            destination:
                              description: An array of destination IPv4 Addresses
                                or IPv6 Addresses.
                              type: object
                              properties:
                                ipv4Addresses:
                                  type: array
                                  maxItems: 16
                                  description: Array of IPv4 Addresses.
                                  items:
                                    type: string
                                    description: IPv4 Address.
                                    minLength: 1
                                ipv6Addresses:
                                  type: array
                                  maxItems: 16
                                  description: Array of IPv6 Addresses.
                                  items:
                                    type: string
                                    description: IPv6 Address.
                                    minLength: 1
                            networkTapIds:
                              type: array
                              description: List of NetworkTap IDs where neighbor group
                                is associated.
                              readOnly: true
                              items:
                                description: ARM resource ID of the Network Tap Resource.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/networkTaps
                            networkTapRuleIds:
                              type: array
                              description: List of Network Tap Rule IDs where neighbor
                                group is associated.
                              readOnly: true
                              items:
                                description: ARM resource ID of the Network Tap Rules.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/networkTapRules
                            provisioningState:
                              description: The provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                          description: Common properties for annotated type.
                          x-ms-client-flatten: true
                          required:
                          - destination
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Url to follow for getting next page of resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    NeighborGroupNameParameter:
      description: Name of the Neighbor Group.
      in: path
      name: neighborGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    NeighborGroup:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        properties:
          type: object
          properties:
            annotation:
              type: string
              description: Switch configuration description.
            destination:
              description: An array of destination IPv4 Addresses or IPv6 Addresses.
              type: object
              properties:
                ipv4Addresses:
                  type: array
                  maxItems: 16
                  description: Array of IPv4 Addresses.
                  items:
                    type: string
                    description: IPv4 Address.
                    minLength: 1
                ipv6Addresses:
                  type: array
                  maxItems: 16
                  description: Array of IPv6 Addresses.
                  items:
                    type: string
                    description: IPv6 Address.
                    minLength: 1
            networkTapIds:
              type: array
              description: List of NetworkTap IDs where neighbor group is associated.
              readOnly: true
              items:
                description: ARM resource ID of the Network Tap Resource.
                type: string
                format: arm-id
                x-ms-arm-id-details:
                  allowedResources:
                  - type: Microsoft.ManagedNetworkFabric/networkTaps
            networkTapRuleIds:
              type: array
              description: List of Network Tap Rule IDs where neighbor group is associated.
              readOnly: true
              items:
                description: ARM resource ID of the Network Tap Rules.
                type: string
                format: arm-id
                x-ms-arm-id-details:
                  allowedResources:
                  - type: Microsoft.ManagedNetworkFabric/networkTapRules
            provisioningState:
              description: The provisioning state of the resource.
              readOnly: true
              type: string
              enum:
              - Accepted
              - Succeeded
              - Updating
              - Deleting
              - Failed
              - Canceled
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
          description: Common properties for annotated type.
          x-ms-client-flatten: true
          required:
          - destination
      required:
      - location
      - properties
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    NeighborGroupProperties:
      type: object
      properties:
        annotation:
          type: string
          description: Switch configuration description.
        destination:
          description: An array of destination IPv4 Addresses or IPv6 Addresses.
          type: object
          properties:
            ipv4Addresses:
              type: array
              maxItems: 16
              description: Array of IPv4 Addresses.
              items:
                type: string
                description: IPv4 Address.
                minLength: 1
            ipv6Addresses:
              type: array
              maxItems: 16
              description: Array of IPv6 Addresses.
              items:
                type: string
                description: IPv6 Address.
                minLength: 1
        networkTapIds:
          type: array
          description: List of NetworkTap IDs where neighbor group is associated.
          readOnly: true
          items:
            description: ARM resource ID of the Network Tap Resource.
            type: string
            format: arm-id
            x-ms-arm-id-details:
              allowedResources:
              - type: Microsoft.ManagedNetworkFabric/networkTaps
        networkTapRuleIds:
          type: array
          description: List of Network Tap Rule IDs where neighbor group is associated.
          readOnly: true
          items:
            description: ARM resource ID of the Network Tap Rules.
            type: string
            format: arm-id
            x-ms-arm-id-details:
              allowedResources:
              - type: Microsoft.ManagedNetworkFabric/networkTapRules
        provisioningState:
          description: The provisioning state of the resource.
          readOnly: true
          type: string
          enum:
          - Accepted
          - Succeeded
          - Updating
          - Deleting
          - Failed
          - Canceled
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
      description: Common properties for annotated type.
      x-ms-client-flatten: true
      required:
      - destination
    NeighborGroupPatch:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          type: object
          properties:
            annotation:
              type: string
              description: Switch configuration description.
            destination:
              description: An array of destination IPv4 Addresses or IPv6 Addresses.
              type: object
              properties:
                ipv4Addresses:
                  type: array
                  maxItems: 16
                  description: Array of IPv4 Addresses.
                  items:
                    type: string
                    description: IPv4 Address.
                    minLength: 1
                ipv6Addresses:
                  type: array
                  maxItems: 16
                  description: Array of IPv6 Addresses.
                  items:
                    type: string
                    description: IPv6 Address.
                    minLength: 1
          description: Switch configuration entries require a description to discern
            between configuration groups.
          x-ms-client-flatten: true
      description: Base tracked resource type for PATCH updates.
    NeighborGroupPatchableProperties:
      type: object
      description: Neighbor Group Patchable Properties defines the patchable properties
        of the resource.
      x-ms-client-flatten: true
      properties:
        destination:
          description: An array of destination IPv4 Addresses or IPv6 Addresses.
          type: object
          properties:
            ipv4Addresses:
              type: array
              maxItems: 16
              description: Array of IPv4 Addresses.
              items:
                type: string
                description: IPv4 Address.
                minLength: 1
            ipv6Addresses:
              type: array
              maxItems: 16
              description: Array of IPv6 Addresses.
              items:
                type: string
                description: IPv6 Address.
[...]
