openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTaps/{networkTapName}
  : put:
      tags:
      - NetworkTaps
      operationId: NetworkTaps_Create
      summary: Create Network Tap.
      description: Creates a Network Tap.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Tap.
        in: path
        name: networkTapName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    networkPacketBrokerId:
                      description: ARM resource ID of the Network Packet Broker.
                      x-ms-mutability:
                      - create
                      - read
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.ManagedNetworkFabric/networkFabrics
                    sourceTapRuleId:
                      type: string
                      description: Source Tap Rule Id. ARM Resource ID of the Network
                        Tap Rule.
                      format: arm-id
                      readOnly: true
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.ManagedNetworkFabric/networkTapRules
                    destinations:
                      type: array
                      description: List of destinations to send the filter traffic.
                      minItems: 1
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Destination name.
                            minLength: 1
                          destinationType:
                            type: string
                            description: Type of destination. Input can be IsolationDomain
                              or Direct.
                            enum:
                            - IsolationDomain
                            - Direct
                            x-ms-enum:
                              modelAsString: true
                              name: DestinationType
                          destinationId:
                            type: string
                            description: The destination Id. ARM Resource ID of either
                              NNI or Internal Networks.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ManagedNetworkFabric/networkToNetworkInterconnects
                              - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks
                          isolationDomainProperties:
                            description: Isolation Domain Properties.
                            type: object
                            properties:
                              encapsulation:
                                type: string
                                description: Type of encapsulation.
                                enum:
                                - None
                                - GRE
                                x-ms-enum:
                                  modelAsString: true
                                  name: Encapsulation
                                minLength: 1
                              neighborGroupIds:
                                type: array
                                description: List of Neighbor Group IDs.
                                items:
                                  description: ARM Resource ID of the Neighbor Group
                                    .
                                  type: string
                                  format: arm-id
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.ManagedNetworkFabric/neighborGroups
                          destinationTapRuleId:
                            description: ARM Resource ID of destination Tap Rule that
                              contains match configurations.
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ManagedNetworkFabric/networkTapRules
                        description: The network tap destination properties.
                        required:
                        - name
                        - destinationType
                        - destinationId
                    pollingType:
                      type: string
                      description: Polling type.
                      minLength: 1
                      default: Pull
                      enum:
                      - Pull
                      - Push
                      x-ms-enum:
                        modelAsString: true
                        name: PollingType
                    configurationState:
                      description: Gets the configurations state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Rejected
                      - Accepted
                      - Provisioned
                      - ErrorProvisioning
                      - Deprovisioning
                      - Deprovisioned
                      - ErrorDeprovisioning
                      - DeferredControl
                      - Provisioning
                      - PendingCommit
                      x-ms-enum:
                        modelAsString: true
                        name: ConfigurationState
                    provisioningState:
                      description: Provides you the latest status of the NFC service,
                        whether it is Accepted, updating, Succeeded or Failed. During
                        this process, the states keep changing based on the status
                        of Network Tap provisioning.
                      type: string
                      readOnly: true
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    administrativeState:
                      description: Administrative state of the resource. Example -Enabled/Disabled
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      - MAT
                      - RMA
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: AdministrativeState
                  description: Common properties for annotated type.
                  required:
                  - networkPacketBrokerId
                  - destinations
                  x-ms-client-flatten: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      networkPacketBrokerId:
                        description: ARM resource ID of the Network Packet Broker.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      sourceTapRuleId:
                        type: string
                        description: Source Tap Rule Id. ARM Resource ID of the Network
                          Tap Rule.
                        format: arm-id
                        readOnly: true
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkTapRules
                      destinations:
                        type: array
                        description: List of destinations to send the filter traffic.
                        minItems: 1
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Destination name.
                              minLength: 1
                            destinationType:
                              type: string
                              description: Type of destination. Input can be IsolationDomain
                                or Direct.
                              enum:
                              - IsolationDomain
                              - Direct
                              x-ms-enum:
                                modelAsString: true
                                name: DestinationType
                            destinationId:
                              type: string
                              description: The destination Id. ARM Resource ID of
                                either NNI or Internal Networks.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkToNetworkInterconnects
                                - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks
                            isolationDomainProperties:
                              description: Isolation Domain Properties.
                              type: object
                              properties:
                                encapsulation:
                                  type: string
                                  description: Type of encapsulation.
                                  enum:
                                  - None
                                  - GRE
                                  x-ms-enum:
                                    modelAsString: true
                                    name: Encapsulation
                                  minLength: 1
                                neighborGroupIds:
                                  type: array
                                  description: List of Neighbor Group IDs.
                                  items:
                                    description: ARM Resource ID of the Neighbor Group
                                      .
                                    type: string
                                    format: arm-id
                                    x-ms-arm-id-details:
                                      allowedResources:
                                      - type: Microsoft.ManagedNetworkFabric/neighborGroups
                            destinationTapRuleId:
                              description: ARM Resource ID of destination Tap Rule
                                that contains match configurations.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkTapRules
                          description: The network tap destination properties.
                          required:
                          - name
                          - destinationType
                          - destinationId
                      pollingType:
                        type: string
                        description: Polling type.
                        minLength: 1
                        default: Pull
                        enum:
                        - Pull
                        - Push
                        x-ms-enum:
                          modelAsString: true
                          name: PollingType
                      configurationState:
                        description: Gets the configurations state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of Network Tap provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource. Example
                          -Enabled/Disabled
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkPacketBrokerId
                    - destinations
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      networkPacketBrokerId:
                        description: ARM resource ID of the Network Packet Broker.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      sourceTapRuleId:
                        type: string
                        description: Source Tap Rule Id. ARM Resource ID of the Network
                          Tap Rule.
                        format: arm-id
                        readOnly: true
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkTapRules
                      destinations:
                        type: array
                        description: List of destinations to send the filter traffic.
                        minItems: 1
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Destination name.
                              minLength: 1
                            destinationType:
                              type: string
                              description: Type of destination. Input can be IsolationDomain
                                or Direct.
                              enum:
                              - IsolationDomain
                              - Direct
                              x-ms-enum:
                                modelAsString: true
                                name: DestinationType
                            destinationId:
                              type: string
                              description: The destination Id. ARM Resource ID of
                                either NNI or Internal Networks.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkToNetworkInterconnects
                                - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks
                            isolationDomainProperties:
                              description: Isolation Domain Properties.
                              type: object
                              properties:
                                encapsulation:
                                  type: string
                                  description: Type of encapsulation.
                                  enum:
                                  - None
                                  - GRE
                                  x-ms-enum:
                                    modelAsString: true
                                    name: Encapsulation
                                  minLength: 1
                                neighborGroupIds:
                                  type: array
                                  description: List of Neighbor Group IDs.
                                  items:
                                    description: ARM Resource ID of the Neighbor Group
                                      .
                                    type: string
                                    format: arm-id
                                    x-ms-arm-id-details:
                                      allowedResources:
                                      - type: Microsoft.ManagedNetworkFabric/neighborGroups
                            destinationTapRuleId:
                              description: ARM Resource ID of destination Tap Rule
                                that contains match configurations.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkTapRules
                          description: The network tap destination properties.
                          required:
                          - name
                          - destinationType
                          - destinationId
                      pollingType:
                        type: string
                        description: Polling type.
                        minLength: 1
                        default: Pull
                        enum:
                        - Pull
                        - Push
                        x-ms-enum:
                          modelAsString: true
                          name: PollingType
                      configurationState:
                        description: Gets the configurations state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of Network Tap provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource. Example
                          -Enabled/Disabled
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkPacketBrokerId
                    - destinations
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - NetworkTaps
      operationId: NetworkTaps_Get
      summary: Gets a Network Tap.
      description: Retrieves details of this Network Tap.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Tap.
        in: path
        name: networkTapName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      networkPacketBrokerId:
                        description: ARM resource ID of the Network Packet Broker.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      sourceTapRuleId:
                        type: string
                        description: Source Tap Rule Id. ARM Resource ID of the Network
                          Tap Rule.
                        format: arm-id
                        readOnly: true
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkTapRules
                      destinations:
                        type: array
                        description: List of destinations to send the filter traffic.
                        minItems: 1
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Destination name.
                              minLength: 1
                            destinationType:
                              type: string
                              description: Type of destination. Input can be IsolationDomain
                                or Direct.
                              enum:
                              - IsolationDomain
                              - Direct
                              x-ms-enum:
                                modelAsString: true
                                name: DestinationType
                            destinationId:
                              type: string
                              description: The destination Id. ARM Resource ID of
                                either NNI or Internal Networks.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkToNetworkInterconnects
                                - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks
                            isolationDomainProperties:
                              description: Isolation Domain Properties.
                              type: object
                              properties:
                                encapsulation:
                                  type: string
                                  description: Type of encapsulation.
                                  enum:
                                  - None
                                  - GRE
                                  x-ms-enum:
                                    modelAsString: true
                                    name: Encapsulation
                                  minLength: 1
                                neighborGroupIds:
                                  type: array
                                  description: List of Neighbor Group IDs.
                                  items:
                                    description: ARM Resource ID of the Neighbor Group
                                      .
                                    type: string
                                    format: arm-id
                                    x-ms-arm-id-details:
                                      allowedResources:
                                      - type: Microsoft.ManagedNetworkFabric/neighborGroups
                            destinationTapRuleId:
                              description: ARM Resource ID of destination Tap Rule
                                that contains match configurations.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkTapRules
                          description: The network tap destination properties.
                          required:
                          - name
                          - destinationType
                          - destinationId
                      pollingType:
                        type: string
                        description: Polling type.
                        minLength: 1
                        default: Pull
                        enum:
                        - Pull
                        - Push
                        x-ms-enum:
                          modelAsString: true
                          name: PollingType
                      configurationState:
                        description: Gets the configurations state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of Network Tap provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource. Example
                          -Enabled/Disabled
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkPacketBrokerId
                    - destinations
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - NetworkTaps
      operationId: NetworkTaps_Update
      summary: Updates the Network Taps.
      description: API to update certain properties of the Network Tap resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Tap.
        in: path
        name: networkTapName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    pollingType:
                      type: string
                      description: Polling type.
                      minLength: 1
                      default: Pull
                      enum:
                      - Pull
                      - Push
                      x-ms-enum:
                        modelAsString: true
                        name: PollingType
                    destinations:
                      type: array
                      description: List of destination properties to send the filter
                        traffic.
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Destination name.
                            minLength: 1
                          destinationType:
                            type: string
                            description: Type of destination. Input can be IsolationDomain
                              or Direct.
                            enum:
                            - IsolationDomain
                            - Direct
                            x-ms-enum:
                              modelAsString: true
                              name: DestinationType
                          destinationId:
                            type: string
                            description: The destination Id. ARM Resource ID of either
                              NNI or Internal Networks.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ManagedNetworkFabric/networkToNetworkInterconnects
                              - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks
                          isolationDomainProperties:
                            description: Isolation Domain Properties.
                            type: object
                            properties:
                              encapsulation:
                                type: string
                                description: Type of encapsulation.
                                enum:
                                - None
                                - GRE
                                x-ms-enum:
                                  modelAsString: true
                                  name: Encapsulation
                                minLength: 1
                              neighborGroupIds:
                                type: array
                                description: List of Neighbor Group IDs.
                                items:
                                  description: ARM Resource ID of the Neighbor Group
                                    .
                                  type: string
                                  format: arm-id
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.ManagedNetworkFabric/neighborGroups
                          destinationTapRuleId:
                            description: ARM Resource ID of destination Tap Rule that
                              contains match configurations.
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.ManagedNetworkFabric/networkTapRules
                        description: The network tap destination properties.
                  description: Switch configuration entries require a description
                    to discern between configuration groups.
                  x-ms-client-flatten: true
              description: Base tracked resource type for PATCH updates.
              x-ms-azure-resource: true
        description: Network Tap properties to update.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      networkPacketBrokerId:
                        description: ARM resource ID of the Network Packet Broker.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      sourceTapRuleId:
                        type: string
                        description: Source Tap Rule Id. ARM Resource ID of the Network
                          Tap Rule.
                        format: arm-id
                        readOnly: true
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkTapRules
                      destinations:
                        type: array
                        description: List of destinations to send the filter traffic.
                        minItems: 1
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Destination name.
                              minLength: 1
                            destinationType:
                              type: string
                              description: Type of destination. Input can be IsolationDomain
                                or Direct.
                              enum:
                              - IsolationDomain
                              - Direct
                              x-ms-enum:
                                modelAsString: true
                                name: DestinationType
                            destinationId:
                              type: string
                              description: The destination Id. ARM Resource ID of
                                either NNI or Internal Networks.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkToNetworkInterconnects
                                - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks
                            isolationDomainProperties:
                              description: Isolation Domain Properties.
                              type: object
                              properties:
                                encapsulation:
                                  type: string
                                  description: Type of encapsulation.
                                  enum:
                                  - None
                                  - GRE
                                  x-ms-enum:
                                    modelAsString: true
                                    name: Encapsulation
                                  minLength: 1
                                neighborGroupIds:
                                  type: array
                                  description: List of Neighbor Group IDs.
                                  items:
                                    description: ARM Resource ID of the Neighbor Group
                                      .
                                    type: string
                                    format: arm-id
                                    x-ms-arm-id-details:
                                      allowedResources:
                                      - type: Microsoft.ManagedNetworkFabric/neighborGroups
                            destinationTapRuleId:
                              description: ARM Resource ID of destination Tap Rule
                                that contains match configurations.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkTapRules
                          description: The network tap destination properties.
                          required:
                          - name
                          - destinationType
                          - destinationId
                      pollingType:
                        type: string
                        description: Polling type.
                        minLength: 1
                        default: Pull
                        enum:
                        - Pull
                        - Push
                        x-ms-enum:
                          modelAsString: true
                          name: PollingType
                      configurationState:
                        description: Gets the configurations state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of Network Tap provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource. Example
                          -Enabled/Disabled
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkPacketBrokerId
                    - destinations
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    delete:
      tags:
      - NetworkTaps
      operationId: NetworkTaps_Delete
      summary: Deletes a Network Tap.
      description: Deletes Network Tap.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Tap.
        in: path
        name: networkTapName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTaps:
    get:
      operationId: NetworkTaps_ListByResourceGroup
      summary: List Network Taps by resource group.
      description: Displays Network Taps list by resource group GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists all NetworkTaps under the resource group.
          content:
            application/json:
              schema:
                type: object
                description: List of NetworkTaps.
                properties:
                  value:
                    type: array
                    description: List of NetworkTap resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            networkPacketBrokerId:
                              description: ARM resource ID of the Network Packet Broker.
                              x-ms-mutability:
                              - create
                              - read
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkFabrics
                            sourceTapRuleId:
                              type: string
                              description: Source Tap Rule Id. ARM Resource ID of
                                the Network Tap Rule.
                              format: arm-id
                              readOnly: true
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkTapRules
                            destinations:
                              type: array
                              description: List of destinations to send the filter
                                traffic.
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Destination name.
                                    minLength: 1
                                  destinationType:
                                    type: string
                                    description: Type of destination. Input can be
                                      IsolationDomain or Direct.
                                    enum:
                                    - IsolationDomain
                                    - Direct
                                    x-ms-enum:
                                      modelAsString: true
                                      name: DestinationType
                                  destinationId:
                                    type: string
                                    description: The destination Id. ARM Resource
                                      ID of either NNI or Internal Networks.
                                    format: arm-id
                                    x-ms-arm-id-details:
                                      allowedResources:
                                      - type: Microsoft.ManagedNetworkFabric/networkToNetworkInterconnects
                                      - type: Microsoft.ManagedNetworkFabric/l3IsolationDomains/internalNetworks
                                  isolationDomainProperties:
                                    description: Isolation Domain Properties.
                                    type: object
                                    properties:
                                      encapsulation:
                                        type: string
                                        description: Type of encapsulation.
                                        enum:
                                        - None
                                        - GRE
                                        x-ms-enum:
                                          modelAsString: true
                                          name: Encapsulation
                                        minLength: 1
                                      neighborGroupIds:
                                        type: array
                                        description: List of Neighbor Group IDs.
                                        items:
                                          description: ARM Resource ID of the Neighbor
                                            Group .
                                          type: string
                                          format: arm-id
                                          x-ms-arm-id-details:
                                            allowedResources:
                                            - type: Microsoft.ManagedNetworkFabric/neighborGroups
                                  destinationTapRuleId:
                                    description: ARM Resource ID of destination Tap
                                      Rule that contains match configurations.
                                    type: string
                                    format: arm-id
                                    x-ms-arm-id-details:
                                      allowedResources:
                                      - type: Microsoft.ManagedNetworkFabric/networkTapRules
                                description: The network tap destination properties.
                                required:
                                - name
                                - destinationType
                                - destinationId
                            pollingType:
                              type: string
                              description: Polling type.
                              minLength: 1
                              default: Pull
                              enum:
                              - Pull
                              - Push
                              x-ms-enum:
                                modelAsString: true
                                name: PollingType
                            configurationState:
                              description: Gets the configurations state of the resource.
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Rejected
                              - Accepted
                              - Provisioned
                              - ErrorProvisioning
                              - Deprovisioning
                              - Deprovisioned
                              - ErrorDeprovisioning
                              - DeferredControl
                              - Provisioning
                              - PendingCommit
                              x-ms-enum:
                                modelAsString: true
                                name: ConfigurationState
                            provisioningState:
                              description: Provides you the latest status of the NFC
                                service, whether it is Accepted, updating, Succeeded
                                or Failed. During this process, the states keep changing
                                based on the status of Network Tap provisioning.
                              type: string
                              readOnly: true
                              enum:
                              - Accepted
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            administrativeState:
                              description: Administrative state of the resource. Example
                                -Enabled/Disabled
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              - MAT
                              - RMA
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: AdministrativeState
                          description: Common properties for annotated type.
                          required:
                          - networkPacketBrokerId
                          - destinations
                          x-ms-client-flatten: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Url to follow for getting next page of resources.
        default:
[...]
