openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabrics/{networkFabricName}
  : put:
      tags:
      - NetworkFabrics
      operationId: NetworkFabrics_Create
      summary: Create Network Fabric.
      description: Create Network Fabric resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Fabric.
        in: path
        name: networkFabricName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    networkFabricSku:
                      type: string
                      minLength: 1
                      description: 'Supported Network Fabric SKU.Example: Compute
                        / Aggregate racks. Once the user chooses a particular SKU,
                        only supported racks can be added to the Network Fabric. The
                        SKU determines whether it is a single / multi rack Network
                        Fabric.'
                      x-ms-mutability:
                      - create
                      - read
                    fabricVersion:
                      type: string
                      description: The version of Network Fabric.
                      minLength: 1
                    routerIds:
                      type: array
                      description: Array of router IDs.
                      items:
                        type: string
                        description: Router Id of CE to be used for MP-BGP between
                          PE and CE
                      readOnly: true
                    networkFabricControllerId:
                      description: Azure resource ID for the NetworkFabricController
                        the NetworkFabric belongs.
                      x-ms-mutability:
                      - create
                      - read
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                    rackCount:
                      type: integer
                      format: int32
                      minimum: 1
                      maximum: 8
                      description: Number of compute racks associated to Network Fabric.
                    serverCountPerRack:
                      type: integer
                      format: int32
                      minimum: 1
                      maximum: 16
                      description: Number of servers.Possible values are from 1-16.
                    ipv4Prefix:
                      type: string
                      description: 'IPv4Prefix for Management Network. Example: 10.1.0.0/19.'
                      minLength: 1
                    ipv6Prefix:
                      type: string
                      description: 'IPv6Prefix for Management Network. Example: 3FFE:FFFF:0:CD40::/59'
                      minLength: 1
                    fabricASN:
                      type: integer
                      format: int64
                      minimum: 1
                      maximum: 4294967295
                      description: ASN of CE devices for CE/PE connectivity.
                    terminalServerConfiguration:
                      type: object
                      properties:
                        username:
                          type: string
                          minLength: 1
                          description: Username for the terminal server connection.
                        password:
                          type: string
                          minLength: 1
                          description: Password for the terminal server connection.
                          x-ms-secret: true
                        serialNumber:
                          type: string
                          minLength: 1
                          description: Serial Number of Terminal server.
                        primaryIpv4Prefix:
                          type: string
                          description: IPv4 Address Prefix.
                        primaryIpv6Prefix:
                          type: string
                          description: IPv6 Address Prefix.
                        secondaryIpv4Prefix:
                          type: string
                          description: Secondary IPv4 Address Prefix.
                        secondaryIpv6Prefix:
                          type: string
                          description: Secondary IPv6 Address Prefix.
                        networkDeviceId:
                          type: string
                          description: ARM Resource ID used for the NetworkDevice.
                          readOnly: true
                      description: Network and credential configuration currently
                        applied on terminal server.
                      required:
                      - username
                      - password
                      - primaryIpv4Prefix
                      - secondaryIpv4Prefix
                    managementNetworkConfiguration:
                      description: Configuration to be used to setup the management
                        network.
                      type: object
                      required:
                      - infrastructureVpnConfiguration
                      - workloadVpnConfiguration
                      properties:
                        infrastructureVpnConfiguration:
                          description: VPN Configuration properties.
                          type: object
                          properties:
                            networkToNetworkInterconnectId:
                              description: ARM Resource ID of the Network To Network
                                Interconnect.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects
                            administrativeState:
                              description: Administrative state of the resource.
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              - MAT
                              - RMA
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: AdministrativeState
                            peeringOption:
                              description: Peering option list.
                              type: string
                              enum:
                              - OptionA
                              - OptionB
                              x-ms-enum:
                                modelAsString: true
                                name: PeeringOption
                            optionBProperties:
                              description: option B properties
                              type: object
                              properties:
                                importRouteTargets:
                                  type: array
                                  description: Route Targets to be applied for incoming
                                    routes into CE. This is for backward compatibility.
                                  items:
                                    type: string
                                    description: 'Import route target. Example: 65541:2001,
                                      65542:2001.'
                                exportRouteTargets:
                                  type: array
                                  description: Route Targets to be applied for outgoing
                                    routes from CE. This is for backward compatibility.
                                  items:
                                    type: string
                                    description: 'Export route target. Example: 65531,
                                      65532.'
                                routeTargets:
                                  description: Route Targets to be applied.
                                  type: object
                                  properties:
                                    importIpv4RouteTargets:
                                      type: array
                                      description: Route Targets to be applied for
                                        incoming routes into CE.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: 'Import IPv4 route target. Example:
                                          65541:2001, 65542:2001.'
                                    importIpv6RouteTargets:
                                      type: array
                                      description: Route Targets to be applied for
                                        incoming routes from CE.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: 'Import IPv6 route target. Example:
                                          65531, 65532.'
                                    exportIpv4RouteTargets:
                                      type: array
                                      description: Route Targets to be applied for
                                        outgoing routes into CE.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: 'Export IPV4 route target. Example:
                                          65541:2001, 65542:2001.'
                                    exportIpv6RouteTargets:
                                      type: array
                                      description: Route Targets to be applied for
                                        outgoing routes from CE.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: 'Export IPV6 route target. Example:
                                          65531, 65532.'
                            optionAProperties:
                              type: object
                              properties:
                                mtu:
                                  type: integer
                                  format: int32
                                  minimum: 64
                                  maximum: 9200
                                  default: 1500
                                  description: MTU to use for option A peering.
                                vlanId:
                                  type: integer
                                  format: int32
                                  minimum: 501
                                  maximum: 4094
                                  description: 'Vlan Id.Example : 501'
                                peerASN:
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 4294967295
                                  description: 'Peer ASN number.Example : 28'
                                bfdConfiguration:
                                  description: BFD Configuration properties.
                                  type: object
                                  properties:
                                    administrativeState:
                                      type: string
                                      description: 'Administrative state of the BfdConfiguration.
                                        Example: Enabled | Disabled.'
                                      default: Disabled
                                      enum:
                                      - Enabled
                                      - Disabled
                                      - MAT
                                      - RMA
                                      readOnly: true
                                      x-ms-enum:
                                        modelAsString: true
                                        name: BfdAdministrativeState
                                    intervalInMilliSeconds:
                                      type: integer
                                      format: int32
                                      default: 300
                                      description: 'Interval in milliseconds. Example:
                                        300.'
                                    multiplier:
                                      type: integer
                                      format: int32
                                      default: 5
                                      description: 'Multiplier for the Bfd Configuration.
                                        Example: 5.'
                                primaryIpv4Prefix:
                                  type: string
                                  description: IPv4 Address Prefix.
                                primaryIpv6Prefix:
                                  type: string
                                  description: IPv6 Address Prefix.
                                secondaryIpv4Prefix:
                                  type: string
                                  description: Secondary IPv4 Address Prefix.
                                secondaryIpv6Prefix:
                                  type: string
                                  description: Secondary IPv6 Address Prefix.
                              description: Peering optionA properties
                              required:
                              - vlanId
                              - peerASN
                          required:
                          - peeringOption
                        workloadVpnConfiguration:
                          description: VPN Configuration properties.
                          type: object
                          properties:
                            networkToNetworkInterconnectId:
                              description: ARM Resource ID of the Network To Network
                                Interconnect.
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects
                            administrativeState:
                              description: Administrative state of the resource.
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              - MAT
                              - RMA
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: AdministrativeState
                            peeringOption:
                              description: Peering option list.
                              type: string
                              enum:
                              - OptionA
                              - OptionB
                              x-ms-enum:
                                modelAsString: true
                                name: PeeringOption
                            optionBProperties:
                              description: option B properties
                              type: object
                              properties:
                                importRouteTargets:
                                  type: array
                                  description: Route Targets to be applied for incoming
                                    routes into CE. This is for backward compatibility.
                                  items:
                                    type: string
                                    description: 'Import route target. Example: 65541:2001,
                                      65542:2001.'
                                exportRouteTargets:
                                  type: array
                                  description: Route Targets to be applied for outgoing
                                    routes from CE. This is for backward compatibility.
                                  items:
                                    type: string
                                    description: 'Export route target. Example: 65531,
                                      65532.'
                                routeTargets:
                                  description: Route Targets to be applied.
                                  type: object
                                  properties:
                                    importIpv4RouteTargets:
                                      type: array
                                      description: Route Targets to be applied for
                                        incoming routes into CE.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: 'Import IPv4 route target. Example:
                                          65541:2001, 65542:2001.'
                                    importIpv6RouteTargets:
                                      type: array
                                      description: Route Targets to be applied for
                                        incoming routes from CE.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: 'Import IPv6 route target. Example:
                                          65531, 65532.'
                                    exportIpv4RouteTargets:
                                      type: array
                                      description: Route Targets to be applied for
                                        outgoing routes into CE.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: 'Export IPV4 route target. Example:
                                          65541:2001, 65542:2001.'
                                    exportIpv6RouteTargets:
                                      type: array
                                      description: Route Targets to be applied for
                                        outgoing routes from CE.
                                      minItems: 1
                                      items:
                                        type: string
                                        minLength: 1
                                        description: 'Export IPV6 route target. Example:
                                          65531, 65532.'
                            optionAProperties:
                              type: object
                              properties:
                                mtu:
                                  type: integer
                                  format: int32
                                  minimum: 64
                                  maximum: 9200
                                  default: 1500
                                  description: MTU to use for option A peering.
                                vlanId:
                                  type: integer
                                  format: int32
                                  minimum: 501
                                  maximum: 4094
                                  description: 'Vlan Id.Example : 501'
                                peerASN:
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 4294967295
                                  description: 'Peer ASN number.Example : 28'
                                bfdConfiguration:
                                  description: BFD Configuration properties.
                                  type: object
                                  properties:
                                    administrativeState:
                                      type: string
                                      description: 'Administrative state of the BfdConfiguration.
                                        Example: Enabled | Disabled.'
                                      default: Disabled
                                      enum:
                                      - Enabled
                                      - Disabled
                                      - MAT
                                      - RMA
                                      readOnly: true
                                      x-ms-enum:
                                        modelAsString: true
                                        name: BfdAdministrativeState
                                    intervalInMilliSeconds:
                                      type: integer
                                      format: int32
                                      default: 300
                                      description: 'Interval in milliseconds. Example:
                                        300.'
                                    multiplier:
                                      type: integer
                                      format: int32
                                      default: 5
                                      description: 'Multiplier for the Bfd Configuration.
                                        Example: 5.'
                                primaryIpv4Prefix:
                                  type: string
                                  description: IPv4 Address Prefix.
                                primaryIpv6Prefix:
                                  type: string
                                  description: IPv6 Address Prefix.
                                secondaryIpv4Prefix:
                                  type: string
                                  description: Secondary IPv4 Address Prefix.
                                secondaryIpv6Prefix:
                                  type: string
                                  description: Secondary IPv6 Address Prefix.
                              description: Peering optionA properties
                              required:
                              - vlanId
                              - peerASN
                          required:
                          - peeringOption
                    racks:
                      type: array
                      description: List of NetworkRack resource IDs under the Network
                        Fabric. The number of racks allowed depends on the Network
                        Fabric SKU.
                      items:
                        description: NetworkRack Azure resource ID.
                        type: string
                      readOnly: true
                    l2IsolationDomains:
                      type: array
                      description: List of L2 Isolation Domain resource IDs under
                        the Network Fabric.
                      items:
                        description: L2 Isolation Domain Azure resource ID.
                        type: string
                      readOnly: true
                    l3IsolationDomains:
                      type: array
                      description: List of L3 Isolation Domain resource IDs under
                        the Network Fabric.
                      items:
                        description: L3 Isolation Domain Azure resource ID.
                        type: string
                      readOnly: true
                    configurationState:
                      description: Configuration state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Rejected
                      - Accepted
                      - Provisioned
                      - ErrorProvisioning
                      - Deprovisioning
                      - Deprovisioned
                      - ErrorDeprovisioning
                      - DeferredControl
                      - Provisioning
                      - PendingCommit
                      x-ms-enum:
                        modelAsString: true
                        name: ConfigurationState
                    provisioningState:
                      description: Provides you the latest status of the NFC service,
                        whether it is Accepted, updating, Succeeded or Failed. During
                        this process, the states keep changing based on the status
                        of NFC provisioning.
                      type: string
                      readOnly: true
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    administrativeState:
                      description: Administrative state of the resource.
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      - MAT
                      - RMA
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: AdministrativeState
                  description: Common properties for annotated type.
                  required:
                  - networkFabricSku
                  - serverCountPerRack
                  - ipv4Prefix
                  - networkFabricControllerId
                  - fabricASN
                  - terminalServerConfiguration
                  - managementNetworkConfiguration
                  x-ms-client-flatten: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      networkFabricSku:
                        type: string
                        minLength: 1
                        description: 'Supported Network Fabric SKU.Example: Compute
                          / Aggregate racks. Once the user chooses a particular SKU,
                          only supported racks can be added to the Network Fabric.
                          The SKU determines whether it is a single / multi rack Network
                          Fabric.'
                        x-ms-mutability:
                        - create
                        - read
                      fabricVersion:
                        type: string
                        description: The version of Network Fabric.
                        minLength: 1
                      routerIds:
                        type: array
                        description: Array of router IDs.
                        items:
                          type: string
                          description: Router Id of CE to be used for MP-BGP between
                            PE and CE
                        readOnly: true
                      networkFabricControllerId:
                        description: Azure resource ID for the NetworkFabricController
                          the NetworkFabric belongs.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                      rackCount:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 8
                        description: Number of compute racks associated to Network
                          Fabric.
                      serverCountPerRack:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 16
                        description: Number of servers.Possible values are from 1-16.
                      ipv4Prefix:
                        type: string
                        description: 'IPv4Prefix for Management Network. Example:
                          10.1.0.0/19.'
                        minLength: 1
                      ipv6Prefix:
                        type: string
                        description: 'IPv6Prefix for Management Network. Example:
                          3FFE:FFFF:0:CD40::/59'
                        minLength: 1
                      fabricASN:
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 4294967295
                        description: ASN of CE devices for CE/PE connectivity.
                      terminalServerConfiguration:
                        type: object
                        properties:
                          username:
                            type: string
                            minLength: 1
                            description: Username for the terminal server connection.
                          password:
                            type: string
                            minLength: 1
                            description: Password for the terminal server connection.
                            x-ms-secret: true
                          serialNumber:
                            type: string
                            minLength: 1
                            description: Serial Number of Terminal server.
                          primaryIpv4Prefix:
                            type: string
                            description: IPv4 Address Prefix.
                          primaryIpv6Prefix:
                            type: string
                            description: IPv6 Address Prefix.
                          secondaryIpv4Prefix:
                            type: string
                            description: Secondary IPv4 Address Prefix.
                          secondaryIpv6Prefix:
                            type: string
                            description: Secondary IPv6 Address Prefix.
                          networkDeviceId:
                            type: string
                            description: ARM Resource ID used for the NetworkDevice.
                            readOnly: true
                        description: Network and credential configuration currently
                          applied on terminal server.
                        required:
                        - username
                        - password
                        - primaryIpv4Prefix
                        - secondaryIpv4Prefix
                      managementNetworkConfiguration:
                        description: Configuration to be used to setup the management
                          network.
                        type: object
                        required:
                        - infrastructureVpnConfiguration
                        - workloadVpnConfiguration
                        properties:
                          infrastructureVpnConfiguration:
                            description: VPN Configuration properties.
                            type: object
                            properties:
                              networkToNetworkInterconnectId:
                                description: ARM Resource ID of the Network To Network
                                  Interconnect.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects
                              administrativeState:
                                description: Administrative state of the resource.
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                - MAT
                                - RMA
                                readOnly: true
                                x-ms-enum:
                                  modelAsString: true
                                  name: AdministrativeState
                              peeringOption:
                                description: Peering option list.
                                type: string
                                enum:
                                - OptionA
                                - OptionB
                                x-ms-enum:
                                  modelAsString: true
                                  name: PeeringOption
                              optionBProperties:
                                description: option B properties
                                type: object
                                properties:
                                  importRouteTargets:
                                    type: array
                                    description: Route Targets to be applied for incoming
                                      routes into CE. This is for backward compatibility.
                                    items:
                                      type: string
                                      description: 'Import route target. Example:
                                        65541:2001, 65542:2001.'
                                  exportRouteTargets:
                                    type: array
                                    description: Route Targets to be applied for outgoing
                                      routes from CE. This is for backward compatibility.
                                    items:
                                      type: string
                                      description: 'Export route target. Example:
                                        65531, 65532.'
                                  routeTargets:
                                    description: Route Targets to be applied.
                                    type: object
                                    properties:
                                      importIpv4RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          incoming routes into CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Import IPv4 route target.
                                            Example: 65541:2001, 65542:2001.'
                                      importIpv6RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          incoming routes from CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Import IPv6 route target.
                                            Example: 65531, 65532.'
                                      exportIpv4RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          outgoing routes into CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Export IPV4 route target.
                                            Example: 65541:2001, 65542:2001.'
                                      exportIpv6RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          outgoing routes from CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Export IPV6 route target.
                                            Example: 65531, 65532.'
                              optionAProperties:
                                type: object
                                properties:
                                  mtu:
                                    type: integer
                                    format: int32
                                    minimum: 64
                                    maximum: 9200
                                    default: 1500
                                    description: MTU to use for option A peering.
                                  vlanId:
                                    type: integer
                                    format: int32
                                    minimum: 501
                                    maximum: 4094
                                    description: 'Vlan Id.Example : 501'
                                  peerASN:
                                    type: integer
                                    format: int64
                                    minimum: 1
                                    maximum: 4294967295
                                    description: 'Peer ASN number.Example : 28'
                                  bfdConfiguration:
                                    description: BFD Configuration properties.
                                    type: object
                                    properties:
                                      administrativeState:
                                        type: string
                                        description: 'Administrative state of the
                                          BfdConfiguration. Example: Enabled | Disabled.'
                                        default: Disabled
                                        enum:
                                        - Enabled
                                        - Disabled
                                        - MAT
                                        - RMA
                                        readOnly: true
                                        x-ms-enum:
                                          modelAsString: true
                                          name: BfdAdministrativeState
                                      intervalInMilliSeconds:
                                        type: integer
                                        format: int32
                                        default: 300
                                        description: 'Interval in milliseconds. Example:
                                          300.'
                                      multiplier:
                                        type: integer
                                        format: int32
                                        default: 5
                                        description: 'Multiplier for the Bfd Configuration.
                                          Example: 5.'
                                  primaryIpv4Prefix:
                                    type: string
                                    description: IPv4 Address Prefix.
                                  primaryIpv6Prefix:
                                    type: string
                                    description: IPv6 Address Prefix.
                                  secondaryIpv4Prefix:
                                    type: string
                                    description: Secondary IPv4 Address Prefix.
                                  secondaryIpv6Prefix:
                                    type: string
                                    description: Secondary IPv6 Address Prefix.
                                description: Peering optionA properties
                                required:
                                - vlanId
                                - peerASN
                            required:
                            - peeringOption
                          workloadVpnConfiguration:
                            description: VPN Configuration properties.
                            type: object
                            properties:
                              networkToNetworkInterconnectId:
                                description: ARM Resource ID of the Network To Network
                                  Interconnect.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects
                              administrativeState:
                                description: Administrative state of the resource.
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                - MAT
                                - RMA
                                readOnly: true
                                x-ms-enum:
                                  modelAsString: true
                                  name: AdministrativeState
                              peeringOption:
                                description: Peering option list.
                                type: string
                                enum:
                                - OptionA
                                - OptionB
                                x-ms-enum:
                                  modelAsString: true
                                  name: PeeringOption
                              optionBProperties:
                                description: option B properties
                                type: object
                                properties:
                                  importRouteTargets:
                                    type: array
                                    description: Route Targets to be applied for incoming
                                      routes into CE. This is for backward compatibility.
                                    items:
                                      type: string
                                      description: 'Import route target. Example:
                                        65541:2001, 65542:2001.'
                                  exportRouteTargets:
                                    type: array
                                    description: Route Targets to be applied for outgoing
                                      routes from CE. This is for backward compatibility.
                                    items:
                                      type: string
                                      description: 'Export route target. Example:
                                        65531, 65532.'
                                  routeTargets:
                                    description: Route Targets to be applied.
                                    type: object
                                    properties:
                                      importIpv4RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          incoming routes into CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Import IPv4 route target.
                                            Example: 65541:2001, 65542:2001.'
                                      importIpv6RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          incoming routes from CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Import IPv6 route target.
                                            Example: 65531, 65532.'
                                      exportIpv4RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          outgoing routes into CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Export IPV4 route target.
                                            Example: 65541:2001, 65542:2001.'
                                      exportIpv6RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          outgoing routes from CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Export IPV6 route target.
                                            Example: 65531, 65532.'
                              optionAProperties:
                                type: object
                                properties:
                                  mtu:
                                    type: integer
                                    format: int32
                                    minimum: 64
                                    maximum: 9200
                                    default: 1500
                                    description: MTU to use for option A peering.
                                  vlanId:
                                    type: integer
                                    format: int32
                                    minimum: 501
                                    maximum: 4094
                                    description: 'Vlan Id.Example : 501'
                                  peerASN:
                                    type: integer
                                    format: int64
                                    minimum: 1
                                    maximum: 4294967295
                                    description: 'Peer ASN number.Example : 28'
                                  bfdConfiguration:
                                    description: BFD Configuration properties.
                                    type: object
                                    properties:
                                      administrativeState:
                                        type: string
                                        description: 'Administrative state of the
                                          BfdConfiguration. Example: Enabled | Disabled.'
                                        default: Disabled
                                        enum:
                                        - Enabled
                                        - Disabled
                                        - MAT
                                        - RMA
                                        readOnly: true
                                        x-ms-enum:
                                          modelAsString: true
                                          name: BfdAdministrativeState
                                      intervalInMilliSeconds:
                                        type: integer
                                        format: int32
                                        default: 300
                                        description: 'Interval in milliseconds. Example:
                                          300.'
                                      multiplier:
                                        type: integer
                                        format: int32
                                        default: 5
                                        description: 'Multiplier for the Bfd Configuration.
                                          Example: 5.'
                                  primaryIpv4Prefix:
                                    type: string
                                    description: IPv4 Address Prefix.
                                  primaryIpv6Prefix:
                                    type: string
                                    description: IPv6 Address Prefix.
                                  secondaryIpv4Prefix:
                                    type: string
                                    description: Secondary IPv4 Address Prefix.
                                  secondaryIpv6Prefix:
                                    type: string
                                    description: Secondary IPv6 Address Prefix.
                                description: Peering optionA properties
                                required:
                                - vlanId
                                - peerASN
                            required:
                            - peeringOption
                      racks:
                        type: array
                        description: List of NetworkRack resource IDs under the Network
                          Fabric. The number of racks allowed depends on the Network
                          Fabric SKU.
                        items:
                          description: NetworkRack Azure resource ID.
                          type: string
                        readOnly: true
                      l2IsolationDomains:
                        type: array
                        description: List of L2 Isolation Domain resource IDs under
                          the Network Fabric.
                        items:
                          description: L2 Isolation Domain Azure resource ID.
                          type: string
                        readOnly: true
                      l3IsolationDomains:
                        type: array
                        description: List of L3 Isolation Domain resource IDs under
                          the Network Fabric.
                        items:
                          description: L3 Isolation Domain Azure resource ID.
                          type: string
                        readOnly: true
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of NFC provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkFabricSku
                    - serverCountPerRack
                    - ipv4Prefix
                    - networkFabricControllerId
                    - fabricASN
                    - terminalServerConfiguration
                    - managementNetworkConfiguration
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          headers:
            Azure-AsyncOperation:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      networkFabricSku:
                        type: string
                        minLength: 1
                        description: 'Supported Network Fabric SKU.Example: Compute
                          / Aggregate racks. Once the user chooses a particular SKU,
                          only supported racks can be added to the Network Fabric.
                          The SKU determines whether it is a single / multi rack Network
                          Fabric.'
                        x-ms-mutability:
                        - create
                        - read
                      fabricVersion:
                        type: string
                        description: The version of Network Fabric.
                        minLength: 1
                      routerIds:
                        type: array
                        description: Array of router IDs.
                        items:
                          type: string
                          description: Router Id of CE to be used for MP-BGP between
                            PE and CE
                        readOnly: true
                      networkFabricControllerId:
                        description: Azure resource ID for the NetworkFabricController
                          the NetworkFabric belongs.
                        x-ms-mutability:
                        - create
                        - read
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabricControllers
                      rackCount:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 8
                        description: Number of compute racks associated to Network
                          Fabric.
                      serverCountPerRack:
                        type: integer
                        format: int32
                        minimum: 1
                        maximum: 16
                        description: Number of servers.Possible values are from 1-16.
                      ipv4Prefix:
                        type: string
                        description: 'IPv4Prefix for Management Network. Example:
                          10.1.0.0/19.'
                        minLength: 1
                      ipv6Prefix:
                        type: string
                        description: 'IPv6Prefix for Management Network. Example:
                          3FFE:FFFF:0:CD40::/59'
                        minLength: 1
                      fabricASN:
                        type: integer
                        format: int64
                        minimum: 1
                        maximum: 4294967295
                        description: ASN of CE devices for CE/PE connectivity.
                      terminalServerConfiguration:
                        type: object
                        properties:
                          username:
                            type: string
                            minLength: 1
                            description: Username for the terminal server connection.
                          password:
                            type: string
                            minLength: 1
                            description: Password for the terminal server connection.
                            x-ms-secret: true
                          serialNumber:
                            type: string
                            minLength: 1
                            description: Serial Number of Terminal server.
                          primaryIpv4Prefix:
                            type: string
                            description: IPv4 Address Prefix.
                          primaryIpv6Prefix:
                            type: string
                            description: IPv6 Address Prefix.
                          secondaryIpv4Prefix:
                            type: string
                            description: Secondary IPv4 Address Prefix.
                          secondaryIpv6Prefix:
                            type: string
                            description: Secondary IPv6 Address Prefix.
                          networkDeviceId:
                            type: string
                            description: ARM Resource ID used for the NetworkDevice.
                            readOnly: true
                        description: Network and credential configuration currently
                          applied on terminal server.
                        required:
                        - username
                        - password
                        - primaryIpv4Prefix
                        - secondaryIpv4Prefix
                      managementNetworkConfiguration:
                        description: Configuration to be used to setup the management
                          network.
                        type: object
                        required:
                        - infrastructureVpnConfiguration
                        - workloadVpnConfiguration
                        properties:
                          infrastructureVpnConfiguration:
                            description: VPN Configuration properties.
                            type: object
                            properties:
                              networkToNetworkInterconnectId:
                                description: ARM Resource ID of the Network To Network
                                  Interconnect.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects
                              administrativeState:
                                description: Administrative state of the resource.
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                - MAT
                                - RMA
                                readOnly: true
                                x-ms-enum:
                                  modelAsString: true
                                  name: AdministrativeState
                              peeringOption:
                                description: Peering option list.
                                type: string
                                enum:
                                - OptionA
                                - OptionB
                                x-ms-enum:
                                  modelAsString: true
                                  name: PeeringOption
                              optionBProperties:
                                description: option B properties
                                type: object
                                properties:
                                  importRouteTargets:
                                    type: array
                                    description: Route Targets to be applied for incoming
                                      routes into CE. This is for backward compatibility.
                                    items:
                                      type: string
                                      description: 'Import route target. Example:
                                        65541:2001, 65542:2001.'
                                  exportRouteTargets:
                                    type: array
                                    description: Route Targets to be applied for outgoing
                                      routes from CE. This is for backward compatibility.
                                    items:
                                      type: string
                                      description: 'Export route target. Example:
                                        65531, 65532.'
                                  routeTargets:
                                    description: Route Targets to be applied.
                                    type: object
                                    properties:
                                      importIpv4RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          incoming routes into CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Import IPv4 route target.
                                            Example: 65541:2001, 65542:2001.'
                                      importIpv6RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          incoming routes from CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Import IPv6 route target.
                                            Example: 65531, 65532.'
                                      exportIpv4RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          outgoing routes into CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Export IPV4 route target.
                                            Example: 65541:2001, 65542:2001.'
                                      exportIpv6RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          outgoing routes from CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Export IPV6 route target.
                                            Example: 65531, 65532.'
                              optionAProperties:
                                type: object
                                properties:
                                  mtu:
                                    type: integer
                                    format: int32
                                    minimum: 64
                                    maximum: 9200
                                    default: 1500
                                    description: MTU to use for option A peering.
                                  vlanId:
                                    type: integer
                                    format: int32
                                    minimum: 501
                                    maximum: 4094
                                    description: 'Vlan Id.Example : 501'
                                  peerASN:
                                    type: integer
                                    format: int64
                                    minimum: 1
                                    maximum: 4294967295
                                    description: 'Peer ASN number.Example : 28'
                                  bfdConfiguration:
                                    description: BFD Configuration properties.
                                    type: object
                                    properties:
                                      administrativeState:
                                        type: string
                                        description: 'Administrative state of the
                                          BfdConfiguration. Example: Enabled | Disabled.'
                                        default: Disabled
                                        enum:
                                        - Enabled
                                        - Disabled
                                        - MAT
                                        - RMA
                                        readOnly: true
                                        x-ms-enum:
                                          modelAsString: true
                                          name: BfdAdministrativeState
                                      intervalInMilliSeconds:
                                        type: integer
                                        format: int32
                                        default: 300
                                        description: 'Interval in milliseconds. Example:
                                          300.'
                                      multiplier:
                                        type: integer
                                        format: int32
                                        default: 5
                                        description: 'Multiplier for the Bfd Configuration.
                                          Example: 5.'
                                  primaryIpv4Prefix:
                                    type: string
                                    description: IPv4 Address Prefix.
                                  primaryIpv6Prefix:
                                    type: string
                                    description: IPv6 Address Prefix.
                                  secondaryIpv4Prefix:
                                    type: string
                                    description: Secondary IPv4 Address Prefix.
                                  secondaryIpv6Prefix:
                                    type: string
                                    description: Secondary IPv6 Address Prefix.
                                description: Peering optionA properties
                                required:
                                - vlanId
                                - peerASN
                            required:
                            - peeringOption
                          workloadVpnConfiguration:
                            description: VPN Configuration properties.
                            type: object
                            properties:
                              networkToNetworkInterconnectId:
                                description: ARM Resource ID of the Network To Network
                                  Interconnect.
                                type: string
                                format: arm-id
                                x-ms-arm-id-details:
                                  allowedResources:
                                  - type: Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects
                              administrativeState:
                                description: Administrative state of the resource.
                                type: string
                                enum:
                                - Enabled
                                - Disabled
                                - MAT
                                - RMA
                                readOnly: true
                                x-ms-enum:
                                  modelAsString: true
                                  name: AdministrativeState
                              peeringOption:
                                description: Peering option list.
                                type: string
                                enum:
                                - OptionA
                                - OptionB
                                x-ms-enum:
                                  modelAsString: true
                                  name: PeeringOption
                              optionBProperties:
                                description: option B properties
                                type: object
                                properties:
                                  importRouteTargets:
                                    type: array
                                    description: Route Targets to be applied for incoming
                                      routes into CE. This is for backward compatibility.
                                    items:
                                      type: string
                                      description: 'Import route target. Example:
                                        65541:2001, 65542:2001.'
                                  exportRouteTargets:
                                    type: array
                                    description: Route Targets to be applied for outgoing
                                      routes from CE. This is for backward compatibility.
                                    items:
                                      type: string
                                      description: 'Export route target. Example:
                                        65531, 65532.'
                                  routeTargets:
                                    description: Route Targets to be applied.
                                    type: object
                                    properties:
                                      importIpv4RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          incoming routes into CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Import IPv4 route target.
                                            Example: 65541:2001, 65542:2001.'
                                      importIpv6RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          incoming routes from CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Import IPv6 route target.
                                            Example: 65531, 65532.'
                                      exportIpv4RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          outgoing routes into CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Export IPV4 route target.
                                            Example: 65541:2001, 65542:2001.'
                                      exportIpv6RouteTargets:
                                        type: array
                                        description: Route Targets to be applied for
                                          outgoing routes from CE.
                                        minItems: 1
                                        items:
                                          type: string
                                          minLength: 1
                                          description: 'Export IPV6 route target.
                                            Example: 65531, 65532.'
                              optionAProperties:
                                type: object
                                properties:
                                  mtu:
                                    type: integer
                                    format: int32
                                    minimum: 64
                                    maximum: 9200
                                    default: 1500
                                    description: MTU to use for option A peering.
                                  vlanId:
                                    type: integer
                                    format: int32
                                    minimum: 501
                                    maximum: 4094
                                    description: 'Vlan Id.Example : 501'
                                  peerASN:
                                    type: integer
                                    format: int64
                                    minimum: 1
                                    maximum: 4294967295
                                    description: 'Peer ASN number.Example : 28'
                                  bfdConfiguration:
                                    description: BFD Configuration properties.
                                    type: object
                                    properties:
                                      administrativeState:
                                        type: string
                                        description: 'Administrative state of the
                                          BfdConfiguration. Example: Enabled | Disabled.'
                                        default: Disabled
                                        enum:
                                        - Enabled
                                        - Disabled
                                        - MAT
                                        - RMA
                                        readOnly: true
                                        x-ms-enum:
                                          modelAsString: true
                                          name: BfdAdministrativeState
                                      intervalInMilliSeconds:
                                        type: integer
                                        format: int32
                                        default: 300
                                        description: 'Interval in milliseconds. Example:
                                          300.'
                                      multiplier:
                                        type: integer
                                        format: int32
                                        default: 5
                                        description: 'Multiplier for the Bfd Configuration.
                                          Example: 5.'
                                  primaryIpv4Prefix:
                                    type: string
                                    description: IPv4 Address Prefix.
                                  primaryIpv6Prefix:
                                    type: string
                                    description: IPv6 Address Prefix.
                                  secondaryIpv4Prefix:
                                    type: string
                                    description: Secondary IPv4 Address Prefix.
                                  secondaryIpv6Prefix:
                                    type: string
                                    description: Secondary IPv6 Address Prefix.
                                description: Peering optionA properties
                                required:
                                - vlanId
                                - peerASN
                            required:
                            - peeringOption
                      racks:
                        type: array
                        description: List of NetworkRack resource IDs under the Network
                          Fabric. The number of racks allowed depends on the Network
                          Fabric SKU.
                        items:
                          description: NetworkRack Azure resource ID.
                          type: string
                        readOnly: true
                      l2IsolationDomains:
                        type: array
                        description: List of L2 Isolation Domain resource IDs under
                          the Network Fabric.
                        items:
                          description: L2 Isolation Domain Azure resource ID.
                          type: string
                        readOnly: true
                      l3IsolationDomains:
                        type: array
                        description: List of L3 Isolation Domain resource IDs under
                          the Network Fabric.
                        items:
                          description: L3 Isolation Domain Azure resource ID.
                          type: string
                        readOnly: true
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of NFC provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - networkFabricSku
                    - serverCountPerRack
                    - ipv4Prefix
                    - networkFabricControllerId
                    - fabricASN
                    - terminalServerConfiguration
                    - managementNetworkConfiguration
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
[...]
