openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkDevices/{networkDeviceName}
  : put:
      tags:
      - NetworkDevices
      operationId: NetworkDevices_Create
      summary: Create Network Device.
      description: Create a Network Device resource
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Device.
        in: path
        name: networkDeviceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    hostName:
                      type: string
                      minLength: 1
                      description: The host name of the device.
                    serialNumber:
                      type: string
                      minLength: 1
                      description: Serial number of the device. Format of serial Number
                        - Make;Model;HardwareRevisionId;SerialNumber.
                    version:
                      type: string
                      description: Current version of the device as defined in SKU.
                      readOnly: true
                    networkDeviceSku:
                      type: string
                      description: Network Device SKU name.
                      x-ms-mutability:
                      - create
                      - read
                    networkDeviceRole:
                      description: 'NetworkDeviceRole is the device role: Example:
                        CE | ToR.'
                      type: string
                      enum:
                      - CE
                      - ToR
                      - NPB
                      - TS
                      - Management
                      x-ms-enum:
                        modelAsString: true
                        name: NetworkDeviceRole
                      readOnly: true
                    networkRackId:
                      description: Reference to network rack resource id.
                      type: string
                      readOnly: true
                    managementIpv4Address:
                      description: Management IPv4 Address.
                      type: string
                      readOnly: true
                    managementIpv6Address:
                      description: Management IPv6 Address.
                      type: string
                      readOnly: true
                    configurationState:
                      description: Configuration state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Rejected
                      - Accepted
                      - Provisioned
                      - ErrorProvisioning
                      - Deprovisioning
                      - Deprovisioned
                      - ErrorDeprovisioning
                      - DeferredControl
                      - Provisioning
                      - PendingCommit
                      x-ms-enum:
                        modelAsString: true
                        name: ConfigurationState
                    provisioningState:
                      description: Provisioning state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    administrativeState:
                      description: Administrative state of the resource.
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      - MAT
                      - RMA
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: AdministrativeState
                  description: Common properties for annotated type.
                  title: Network Device updatable properties.
                  required:
                  - serialNumber
                  x-ms-client-flatten: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      hostName:
                        type: string
                        minLength: 1
                        description: The host name of the device.
                      serialNumber:
                        type: string
                        minLength: 1
                        description: Serial number of the device. Format of serial
                          Number - Make;Model;HardwareRevisionId;SerialNumber.
                      version:
                        type: string
                        description: Current version of the device as defined in SKU.
                        readOnly: true
                      networkDeviceSku:
                        type: string
                        description: Network Device SKU name.
                        x-ms-mutability:
                        - create
                        - read
                      networkDeviceRole:
                        description: 'NetworkDeviceRole is the device role: Example:
                          CE | ToR.'
                        type: string
                        enum:
                        - CE
                        - ToR
                        - NPB
                        - TS
                        - Management
                        x-ms-enum:
                          modelAsString: true
                          name: NetworkDeviceRole
                        readOnly: true
                      networkRackId:
                        description: Reference to network rack resource id.
                        type: string
                        readOnly: true
                      managementIpv4Address:
                        description: Management IPv4 Address.
                        type: string
                        readOnly: true
                      managementIpv6Address:
                        description: Management IPv6 Address.
                        type: string
                        readOnly: true
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    title: Network Device updatable properties.
                    required:
                    - serialNumber
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      hostName:
                        type: string
                        minLength: 1
                        description: The host name of the device.
                      serialNumber:
                        type: string
                        minLength: 1
                        description: Serial number of the device. Format of serial
                          Number - Make;Model;HardwareRevisionId;SerialNumber.
                      version:
                        type: string
                        description: Current version of the device as defined in SKU.
                        readOnly: true
                      networkDeviceSku:
                        type: string
                        description: Network Device SKU name.
                        x-ms-mutability:
                        - create
                        - read
                      networkDeviceRole:
                        description: 'NetworkDeviceRole is the device role: Example:
                          CE | ToR.'
                        type: string
                        enum:
                        - CE
                        - ToR
                        - NPB
                        - TS
                        - Management
                        x-ms-enum:
                          modelAsString: true
                          name: NetworkDeviceRole
                        readOnly: true
                      networkRackId:
                        description: Reference to network rack resource id.
                        type: string
                        readOnly: true
                      managementIpv4Address:
                        description: Management IPv4 Address.
                        type: string
                        readOnly: true
                      managementIpv6Address:
                        description: Management IPv6 Address.
                        type: string
                        readOnly: true
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    title: Network Device updatable properties.
                    required:
                    - serialNumber
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - NetworkDevices
      operationId: NetworkDevices_Get
      summary: Gets a Network Device.
      description: Gets the Network Device resource details.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Device.
        in: path
        name: networkDeviceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      hostName:
                        type: string
                        minLength: 1
                        description: The host name of the device.
                      serialNumber:
                        type: string
                        minLength: 1
                        description: Serial number of the device. Format of serial
                          Number - Make;Model;HardwareRevisionId;SerialNumber.
                      version:
                        type: string
                        description: Current version of the device as defined in SKU.
                        readOnly: true
                      networkDeviceSku:
                        type: string
                        description: Network Device SKU name.
                        x-ms-mutability:
                        - create
                        - read
                      networkDeviceRole:
                        description: 'NetworkDeviceRole is the device role: Example:
                          CE | ToR.'
                        type: string
                        enum:
                        - CE
                        - ToR
                        - NPB
                        - TS
                        - Management
                        x-ms-enum:
                          modelAsString: true
                          name: NetworkDeviceRole
                        readOnly: true
                      networkRackId:
                        description: Reference to network rack resource id.
                        type: string
                        readOnly: true
                      managementIpv4Address:
                        description: Management IPv4 Address.
                        type: string
                        readOnly: true
                      managementIpv6Address:
                        description: Management IPv6 Address.
                        type: string
                        readOnly: true
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    title: Network Device updatable properties.
                    required:
                    - serialNumber
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - NetworkDevices
      operationId: NetworkDevices_Update
      summary: Updates a Network Device.
      description: Update certain properties of the Network Device resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Device.
        in: path
        name: networkDeviceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    hostName:
                      type: string
                      minLength: 1
                      description: The host name of the device.
                    serialNumber:
                      type: string
                      minLength: 1
                      description: Serial number of the device. Format of serial Number
                        - Make;Model;HardwareRevisionId;SerialNumber.
                  description: Switch configuration entries require a description
                    to discern between configuration groups.
                  title: Network Device updatable properties.
                  x-ms-client-flatten: true
              description: Base tracked resource type for PATCH updates.
        description: Network Device properties to update.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      hostName:
                        type: string
                        minLength: 1
                        description: The host name of the device.
                      serialNumber:
                        type: string
                        minLength: 1
                        description: Serial number of the device. Format of serial
                          Number - Make;Model;HardwareRevisionId;SerialNumber.
                      version:
                        type: string
                        description: Current version of the device as defined in SKU.
                        readOnly: true
                      networkDeviceSku:
                        type: string
                        description: Network Device SKU name.
                        x-ms-mutability:
                        - create
                        - read
                      networkDeviceRole:
                        description: 'NetworkDeviceRole is the device role: Example:
                          CE | ToR.'
                        type: string
                        enum:
                        - CE
                        - ToR
                        - NPB
                        - TS
                        - Management
                        x-ms-enum:
                          modelAsString: true
                          name: NetworkDeviceRole
                        readOnly: true
                      networkRackId:
                        description: Reference to network rack resource id.
                        type: string
                        readOnly: true
                      managementIpv4Address:
                        description: Management IPv4 Address.
                        type: string
                        readOnly: true
                      managementIpv6Address:
                        description: Management IPv6 Address.
                        type: string
                        readOnly: true
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    title: Network Device updatable properties.
                    required:
                    - serialNumber
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              description: The URL to retrieve the status of the asynchronous operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    delete:
      tags:
      - NetworkDevices
      operationId: NetworkDevices_Delete
      summary: Deletes a Network Device.
      description: Delete the Network Device resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Device.
        in: path
        name: networkDeviceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkDevices:
    get:
      operationId: NetworkDevices_ListByResourceGroup
      summary: List NetworkDevices by resource group.
      description: List all the Network Device resources in a given resource group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: List all NetworkDevices under the resource group.
          content:
            application/json:
              schema:
                type: object
                description: List of NetworkDevices.
                properties:
                  value:
                    type: array
                    description: List of NetworkDevice resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            hostName:
                              type: string
                              minLength: 1
                              description: The host name of the device.
                            serialNumber:
                              type: string
                              minLength: 1
                              description: Serial number of the device. Format of
                                serial Number - Make;Model;HardwareRevisionId;SerialNumber.
                            version:
                              type: string
                              description: Current version of the device as defined
                                in SKU.
                              readOnly: true
                            networkDeviceSku:
                              type: string
                              description: Network Device SKU name.
                              x-ms-mutability:
                              - create
                              - read
                            networkDeviceRole:
                              description: 'NetworkDeviceRole is the device role:
                                Example: CE | ToR.'
                              type: string
                              enum:
                              - CE
                              - ToR
                              - NPB
                              - TS
                              - Management
                              x-ms-enum:
                                modelAsString: true
                                name: NetworkDeviceRole
                              readOnly: true
                            networkRackId:
                              description: Reference to network rack resource id.
                              type: string
                              readOnly: true
                            managementIpv4Address:
                              description: Management IPv4 Address.
                              type: string
                              readOnly: true
                            managementIpv6Address:
                              description: Management IPv6 Address.
                              type: string
                              readOnly: true
                            configurationState:
                              description: Configuration state of the resource.
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Rejected
                              - Accepted
                              - Provisioned
                              - ErrorProvisioning
                              - Deprovisioning
                              - Deprovisioned
                              - ErrorDeprovisioning
                              - DeferredControl
                              - Provisioning
                              - PendingCommit
                              x-ms-enum:
                                modelAsString: true
                                name: ConfigurationState
                            provisioningState:
                              description: Provisioning state of the resource.
                              type: string
                              readOnly: true
                              enum:
                              - Accepted
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            administrativeState:
                              description: Administrative state of the resource.
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              - MAT
                              - RMA
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: AdministrativeState
                          description: Common properties for annotated type.
                          title: Network Device updatable properties.
                          required:
                          - serialNumber
                          x-ms-client-flatten: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Url to follow for getting next page of resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkDevices:
    get:
      operationId: NetworkDevices_ListBySubscription
      summary: List NetworkDevices by subscription.
      description: List all the Network Device resources in a given subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: List all NetworkDevices under the subscription.
          content:
            application/json:
              schema:
                type: object
                description: List of NetworkDevices.
                properties:
                  value:
                    type: array
                    description: List of NetworkDevice resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            hostName:
                              type: string
                              minLength: 1
                              description: The host name of the device.
                            serialNumber:
                              type: string
                              minLength: 1
                              description: Serial number of the device. Format of
                                serial Number - Make;Model;HardwareRevisionId;SerialNumber.
                            version:
                              type: string
                              description: Current version of the device as defined
                                in SKU.
                              readOnly: true
                            networkDeviceSku:
                              type: string
                              description: Network Device SKU name.
                              x-ms-mutability:
                              - create
                              - read
                            networkDeviceRole:
                              description: 'NetworkDeviceRole is the device role:
                                Example: CE | ToR.'
                              type: string
                              enum:
                              - CE
                              - ToR
                              - NPB
                              - TS
                              - Management
                              x-ms-enum:
                                modelAsString: true
                                name: NetworkDeviceRole
                              readOnly: true
                            networkRackId:
                              description: Reference to network rack resource id.
                              type: string
                              readOnly: true
                            managementIpv4Address:
                              description: Management IPv4 Address.
                              type: string
                              readOnly: true
                            managementIpv6Address:
                              description: Management IPv6 Address.
                              type: string
                              readOnly: true
                            configurationState:
                              description: Configuration state of the resource.
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Rejected
                              - Accepted
                              - Provisioned
                              - ErrorProvisioning
                              - Deprovisioning
                              - Deprovisioned
                              - ErrorDeprovisioning
                              - DeferredControl
                              - Provisioning
                              - PendingCommit
                              x-ms-enum:
                                modelAsString: true
                                name: ConfigurationState
                            provisioningState:
                              description: Provisioning state of the resource.
                              type: string
                              readOnly: true
                              enum:
                              - Accepted
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            administrativeState:
                              description: Administrative state of the resource.
                              type: string
                              enum:
                              - Enabled
                              - Disabled
                              - MAT
                              - RMA
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: AdministrativeState
                          description: Common properties for annotated type.
                          title: Network Device updatable properties.
                          required:
                          - serialNumber
                          x-ms-client-flatten: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Url to follow for getting next page of resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkDevices/{networkDeviceName}/networkInterfaces/{networkInterfaceName}
  : put:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_Create
      summary: Create NetworkInterface.
      description: Create a Network Interface resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Device.
        in: path
        name: networkDeviceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the Network Interface.
        in: path
        name: networkInterfaceName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
[...]
