openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/{networkFabricControllerName}
  : put:
      tags:
      - NetworkFabricControllers
      operationId: NetworkFabricControllers_Create
      summary: Create Network fabric controller.
      description: Creates a Network Fabric Controller.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Fabric Controller.
        in: path
        name: networkFabricControllerName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    infrastructureExpressRouteConnections:
                      type: array
                      description: As part of an update, the Infrastructure ExpressRoute
                        CircuitID should be provided to create and Provision a NFC.
                        This Express route is dedicated for Infrastructure services.
                        (This is a Mandatory attribute)
                      x-ms-identifiers:
                      - expressRouteCircuitId
                      items:
                        type: object
                        properties:
                          expressRouteCircuitId:
                            type: string
                            description: The express route circuit Azure resource
                              ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                              The ExpressRoute Circuit is a mandatory attribute.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/expressRouteCircuits
                          expressRouteAuthorizationKey:
                            type: string
                            description: Authorization key for the circuit, must be
                              of type Microsoft.Network/expressRouteCircuits/authorizations.
                              The Auth Key is a mandatory attribute.
                            x-ms-secret: true
                        required:
                        - expressRouteCircuitId
                        - expressRouteAuthorizationKey
                        description: The ExpressRoute circuit ID and the Auth Key
                          are required for you to successfully deploy NFC service.
                    workloadExpressRouteConnections:
                      type: array
                      description: As part of an update, the workload ExpressRoute
                        CircuitID should be provided to create and Provision a NFC.
                        This Express route is dedicated for Workload services. (This
                        is a Mandatory attribute).
                      x-ms-identifiers:
                      - expressRouteCircuitId
                      items:
                        type: object
                        properties:
                          expressRouteCircuitId:
                            type: string
                            description: The express route circuit Azure resource
                              ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                              The ExpressRoute Circuit is a mandatory attribute.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/expressRouteCircuits
                          expressRouteAuthorizationKey:
                            type: string
                            description: Authorization key for the circuit, must be
                              of type Microsoft.Network/expressRouteCircuits/authorizations.
                              The Auth Key is a mandatory attribute.
                            x-ms-secret: true
                        required:
                        - expressRouteCircuitId
                        - expressRouteAuthorizationKey
                        description: The ExpressRoute circuit ID and the Auth Key
                          are required for you to successfully deploy NFC service.
                    infrastructureServices:
                      description: InfrastructureServices IP ranges.
                      type: object
                      properties:
                        ipv4AddressSpaces:
                          type: array
                          description: The IPv4 Address space is optional, if the
                            value is not defined at the time of NFC creation, then
                            the default value 10.0.0.0/19 is considered. The IPV4
                            address subnet is an optional attribute.
                          items:
                            type: string
                            description: This will provide the IPv4 Network Fabric
                              Controller Address Space.
                        ipv6AddressSpaces:
                          type: array
                          description: The IPv6 is not supported right now.
                          items:
                            type: string
                            description: The IPv6 is not supported right now.
                      readOnly: true
                    workloadServices:
                      description: WorkloadServices IP ranges.
                      type: object
                      properties:
                        ipv4AddressSpaces:
                          type: array
                          description: The IPv4 Address space is optional, if the
                            value is not defined at the time of NFC creation, then
                            the default value 10.0.0.0/19 is considered. The IPV4
                            address subnet is an optional attribute.
                          items:
                            type: string
                            description: This will provide the IPv4 Network Fabric
                              Controller Address Space.
                        ipv6AddressSpaces:
                          type: array
                          description: The IPv6 is not supported right now.
                          items:
                            type: string
                            description: The IPv6 is not supported right now.
                      readOnly: true
                    managedResourceGroupConfiguration:
                      description: Managed Resource Group configuration properties.
                      type: object
                      properties:
                        name:
                          type: string
                          description: The NFC service will be hosted in a Managed
                            resource group.
                        location:
                          type: string
                          description: Managed resource group location.
                    networkFabricIds:
                      type: array
                      description: The NF-ID will be an input parameter used by the
                        NF to link and get associated with the parent NFC Service.
                      items:
                        description: NetworkFabric ID (NF-ID) is a mandatory attribute,
                          which will be consumed by Network Fabric.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      readOnly: true
                    workloadManagementNetwork:
                      description: A workload management network is required for all
                        the tenant (workload) traffic. This traffic is only dedicated
                        for Tenant workloads which are required to access internet
                        or any other MSFT/Public endpoints. This is used for the backward
                        compatibility.
                      type: boolean
                      default: true
                      readOnly: true
                    isWorkloadManagementNetworkEnabled:
                      description: A workload management network is required for all
                        the tenant (workload) traffic. This traffic is only dedicated
                        for Tenant workloads which are required to access internet
                        or any other MSFT/Public endpoints.
                      type: string
                      default: 'True'
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        modelAsString: true
                        name: IsWorkloadManagementNetworkEnabled
                    tenantInternetGatewayIds:
                      type: array
                      description: List of tenant InternetGateway resource IDs
                      items:
                        description: ARM resource ID of the Internet Gateway.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/internetGateways
                      readOnly: true
                    ipv4AddressSpace:
                      type: string
                      description: IPv4 Network Fabric Controller Address Space.
                      minLength: 1
                      default: 10.0.0.0/19
                    ipv6AddressSpace:
                      type: string
                      description: IPv6 Network Fabric Controller Address Space.
                      minLength: 1
                      default: FC00::/59
                    nfcSku:
                      description: Network Fabric Controller SKU.
                      type: string
                      default: Standard
                      enum:
                      - Basic
                      - Standard
                      - HighPerformance
                      x-ms-enum:
                        modelAsString: true
                        name: NfcSku
                    provisioningState:
                      description: Provides you the latest status of the NFC service,
                        whether it is Accepted, updating, Succeeded or Failed. During
                        this process, the states keep changing based on the status
                        of NFC provisioning.
                      type: string
                      readOnly: true
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                  description: Common properties for annotated type.
                  title: Network Fabric Controller updatable properties
                  x-ms-client-flatten: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      infrastructureExpressRouteConnections:
                        type: array
                        description: As part of an update, the Infrastructure ExpressRoute
                          CircuitID should be provided to create and Provision a NFC.
                          This Express route is dedicated for Infrastructure services.
                          (This is a Mandatory attribute)
                        x-ms-identifiers:
                        - expressRouteCircuitId
                        items:
                          type: object
                          properties:
                            expressRouteCircuitId:
                              type: string
                              description: The express route circuit Azure resource
                                ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                                The ExpressRoute Circuit is a mandatory attribute.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/expressRouteCircuits
                            expressRouteAuthorizationKey:
                              type: string
                              description: Authorization key for the circuit, must
                                be of type Microsoft.Network/expressRouteCircuits/authorizations.
                                The Auth Key is a mandatory attribute.
                              x-ms-secret: true
                          required:
                          - expressRouteCircuitId
                          - expressRouteAuthorizationKey
                          description: The ExpressRoute circuit ID and the Auth Key
                            are required for you to successfully deploy NFC service.
                      workloadExpressRouteConnections:
                        type: array
                        description: As part of an update, the workload ExpressRoute
                          CircuitID should be provided to create and Provision a NFC.
                          This Express route is dedicated for Workload services. (This
                          is a Mandatory attribute).
                        x-ms-identifiers:
                        - expressRouteCircuitId
                        items:
                          type: object
                          properties:
                            expressRouteCircuitId:
                              type: string
                              description: The express route circuit Azure resource
                                ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                                The ExpressRoute Circuit is a mandatory attribute.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/expressRouteCircuits
                            expressRouteAuthorizationKey:
                              type: string
                              description: Authorization key for the circuit, must
                                be of type Microsoft.Network/expressRouteCircuits/authorizations.
                                The Auth Key is a mandatory attribute.
                              x-ms-secret: true
                          required:
                          - expressRouteCircuitId
                          - expressRouteAuthorizationKey
                          description: The ExpressRoute circuit ID and the Auth Key
                            are required for you to successfully deploy NFC service.
                      infrastructureServices:
                        description: InfrastructureServices IP ranges.
                        type: object
                        properties:
                          ipv4AddressSpaces:
                            type: array
                            description: The IPv4 Address space is optional, if the
                              value is not defined at the time of NFC creation, then
                              the default value 10.0.0.0/19 is considered. The IPV4
                              address subnet is an optional attribute.
                            items:
                              type: string
                              description: This will provide the IPv4 Network Fabric
                                Controller Address Space.
                          ipv6AddressSpaces:
                            type: array
                            description: The IPv6 is not supported right now.
                            items:
                              type: string
                              description: The IPv6 is not supported right now.
                        readOnly: true
                      workloadServices:
                        description: WorkloadServices IP ranges.
                        type: object
                        properties:
                          ipv4AddressSpaces:
                            type: array
                            description: The IPv4 Address space is optional, if the
                              value is not defined at the time of NFC creation, then
                              the default value 10.0.0.0/19 is considered. The IPV4
                              address subnet is an optional attribute.
                            items:
                              type: string
                              description: This will provide the IPv4 Network Fabric
                                Controller Address Space.
                          ipv6AddressSpaces:
                            type: array
                            description: The IPv6 is not supported right now.
                            items:
                              type: string
                              description: The IPv6 is not supported right now.
                        readOnly: true
                      managedResourceGroupConfiguration:
                        description: Managed Resource Group configuration properties.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The NFC service will be hosted in a Managed
                              resource group.
                          location:
                            type: string
                            description: Managed resource group location.
                      networkFabricIds:
                        type: array
                        description: The NF-ID will be an input parameter used by
                          the NF to link and get associated with the parent NFC Service.
                        items:
                          description: NetworkFabric ID (NF-ID) is a mandatory attribute,
                            which will be consumed by Network Fabric.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkFabrics
                        readOnly: true
                      workloadManagementNetwork:
                        description: A workload management network is required for
                          all the tenant (workload) traffic. This traffic is only
                          dedicated for Tenant workloads which are required to access
                          internet or any other MSFT/Public endpoints. This is used
                          for the backward compatibility.
                        type: boolean
                        default: true
                        readOnly: true
                      isWorkloadManagementNetworkEnabled:
                        description: A workload management network is required for
                          all the tenant (workload) traffic. This traffic is only
                          dedicated for Tenant workloads which are required to access
                          internet or any other MSFT/Public endpoints.
                        type: string
                        default: 'True'
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: IsWorkloadManagementNetworkEnabled
                      tenantInternetGatewayIds:
                        type: array
                        description: List of tenant InternetGateway resource IDs
                        items:
                          description: ARM resource ID of the Internet Gateway.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/internetGateways
                        readOnly: true
                      ipv4AddressSpace:
                        type: string
                        description: IPv4 Network Fabric Controller Address Space.
                        minLength: 1
                        default: 10.0.0.0/19
                      ipv6AddressSpace:
                        type: string
                        description: IPv6 Network Fabric Controller Address Space.
                        minLength: 1
                        default: FC00::/59
                      nfcSku:
                        description: Network Fabric Controller SKU.
                        type: string
                        default: Standard
                        enum:
                        - Basic
                        - Standard
                        - HighPerformance
                        x-ms-enum:
                          modelAsString: true
                          name: NfcSku
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of NFC provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    title: Network Fabric Controller updatable properties
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      infrastructureExpressRouteConnections:
                        type: array
                        description: As part of an update, the Infrastructure ExpressRoute
                          CircuitID should be provided to create and Provision a NFC.
                          This Express route is dedicated for Infrastructure services.
                          (This is a Mandatory attribute)
                        x-ms-identifiers:
                        - expressRouteCircuitId
                        items:
                          type: object
                          properties:
                            expressRouteCircuitId:
                              type: string
                              description: The express route circuit Azure resource
                                ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                                The ExpressRoute Circuit is a mandatory attribute.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/expressRouteCircuits
                            expressRouteAuthorizationKey:
                              type: string
                              description: Authorization key for the circuit, must
                                be of type Microsoft.Network/expressRouteCircuits/authorizations.
                                The Auth Key is a mandatory attribute.
                              x-ms-secret: true
                          required:
                          - expressRouteCircuitId
                          - expressRouteAuthorizationKey
                          description: The ExpressRoute circuit ID and the Auth Key
                            are required for you to successfully deploy NFC service.
                      workloadExpressRouteConnections:
                        type: array
                        description: As part of an update, the workload ExpressRoute
                          CircuitID should be provided to create and Provision a NFC.
                          This Express route is dedicated for Workload services. (This
                          is a Mandatory attribute).
                        x-ms-identifiers:
                        - expressRouteCircuitId
                        items:
                          type: object
                          properties:
                            expressRouteCircuitId:
                              type: string
                              description: The express route circuit Azure resource
                                ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                                The ExpressRoute Circuit is a mandatory attribute.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/expressRouteCircuits
                            expressRouteAuthorizationKey:
                              type: string
                              description: Authorization key for the circuit, must
                                be of type Microsoft.Network/expressRouteCircuits/authorizations.
                                The Auth Key is a mandatory attribute.
                              x-ms-secret: true
                          required:
                          - expressRouteCircuitId
                          - expressRouteAuthorizationKey
                          description: The ExpressRoute circuit ID and the Auth Key
                            are required for you to successfully deploy NFC service.
                      infrastructureServices:
                        description: InfrastructureServices IP ranges.
                        type: object
                        properties:
                          ipv4AddressSpaces:
                            type: array
                            description: The IPv4 Address space is optional, if the
                              value is not defined at the time of NFC creation, then
                              the default value 10.0.0.0/19 is considered. The IPV4
                              address subnet is an optional attribute.
                            items:
                              type: string
                              description: This will provide the IPv4 Network Fabric
                                Controller Address Space.
                          ipv6AddressSpaces:
                            type: array
                            description: The IPv6 is not supported right now.
                            items:
                              type: string
                              description: The IPv6 is not supported right now.
                        readOnly: true
                      workloadServices:
                        description: WorkloadServices IP ranges.
                        type: object
                        properties:
                          ipv4AddressSpaces:
                            type: array
                            description: The IPv4 Address space is optional, if the
                              value is not defined at the time of NFC creation, then
                              the default value 10.0.0.0/19 is considered. The IPV4
                              address subnet is an optional attribute.
                            items:
                              type: string
                              description: This will provide the IPv4 Network Fabric
                                Controller Address Space.
                          ipv6AddressSpaces:
                            type: array
                            description: The IPv6 is not supported right now.
                            items:
                              type: string
                              description: The IPv6 is not supported right now.
                        readOnly: true
                      managedResourceGroupConfiguration:
                        description: Managed Resource Group configuration properties.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The NFC service will be hosted in a Managed
                              resource group.
                          location:
                            type: string
                            description: Managed resource group location.
                      networkFabricIds:
                        type: array
                        description: The NF-ID will be an input parameter used by
                          the NF to link and get associated with the parent NFC Service.
                        items:
                          description: NetworkFabric ID (NF-ID) is a mandatory attribute,
                            which will be consumed by Network Fabric.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkFabrics
                        readOnly: true
                      workloadManagementNetwork:
                        description: A workload management network is required for
                          all the tenant (workload) traffic. This traffic is only
                          dedicated for Tenant workloads which are required to access
                          internet or any other MSFT/Public endpoints. This is used
                          for the backward compatibility.
                        type: boolean
                        default: true
                        readOnly: true
                      isWorkloadManagementNetworkEnabled:
                        description: A workload management network is required for
                          all the tenant (workload) traffic. This traffic is only
                          dedicated for Tenant workloads which are required to access
                          internet or any other MSFT/Public endpoints.
                        type: string
                        default: 'True'
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: IsWorkloadManagementNetworkEnabled
                      tenantInternetGatewayIds:
                        type: array
                        description: List of tenant InternetGateway resource IDs
                        items:
                          description: ARM resource ID of the Internet Gateway.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/internetGateways
                        readOnly: true
                      ipv4AddressSpace:
                        type: string
                        description: IPv4 Network Fabric Controller Address Space.
                        minLength: 1
                        default: 10.0.0.0/19
                      ipv6AddressSpace:
                        type: string
                        description: IPv6 Network Fabric Controller Address Space.
                        minLength: 1
                        default: FC00::/59
                      nfcSku:
                        description: Network Fabric Controller SKU.
                        type: string
                        default: Standard
                        enum:
                        - Basic
                        - Standard
                        - HighPerformance
                        x-ms-enum:
                          modelAsString: true
                          name: NfcSku
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of NFC provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    title: Network Fabric Controller updatable properties
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.need to
            check with the team whether this field needs to be updated or not
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - NetworkFabricControllers
      operationId: NetworkFabricControllers_Get
      summary: Gets a Network Fabric Controller.
      description: Shows the provisioning status of Network Fabric Controller.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Fabric Controller.
        in: path
        name: networkFabricControllerName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      infrastructureExpressRouteConnections:
                        type: array
                        description: As part of an update, the Infrastructure ExpressRoute
                          CircuitID should be provided to create and Provision a NFC.
                          This Express route is dedicated for Infrastructure services.
                          (This is a Mandatory attribute)
                        x-ms-identifiers:
                        - expressRouteCircuitId
                        items:
                          type: object
                          properties:
                            expressRouteCircuitId:
                              type: string
                              description: The express route circuit Azure resource
                                ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                                The ExpressRoute Circuit is a mandatory attribute.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/expressRouteCircuits
                            expressRouteAuthorizationKey:
                              type: string
                              description: Authorization key for the circuit, must
                                be of type Microsoft.Network/expressRouteCircuits/authorizations.
                                The Auth Key is a mandatory attribute.
                              x-ms-secret: true
                          required:
                          - expressRouteCircuitId
                          - expressRouteAuthorizationKey
                          description: The ExpressRoute circuit ID and the Auth Key
                            are required for you to successfully deploy NFC service.
                      workloadExpressRouteConnections:
                        type: array
                        description: As part of an update, the workload ExpressRoute
                          CircuitID should be provided to create and Provision a NFC.
                          This Express route is dedicated for Workload services. (This
                          is a Mandatory attribute).
                        x-ms-identifiers:
                        - expressRouteCircuitId
                        items:
                          type: object
                          properties:
                            expressRouteCircuitId:
                              type: string
                              description: The express route circuit Azure resource
                                ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                                The ExpressRoute Circuit is a mandatory attribute.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/expressRouteCircuits
                            expressRouteAuthorizationKey:
                              type: string
                              description: Authorization key for the circuit, must
                                be of type Microsoft.Network/expressRouteCircuits/authorizations.
                                The Auth Key is a mandatory attribute.
                              x-ms-secret: true
                          required:
                          - expressRouteCircuitId
                          - expressRouteAuthorizationKey
                          description: The ExpressRoute circuit ID and the Auth Key
                            are required for you to successfully deploy NFC service.
                      infrastructureServices:
                        description: InfrastructureServices IP ranges.
                        type: object
                        properties:
                          ipv4AddressSpaces:
                            type: array
                            description: The IPv4 Address space is optional, if the
                              value is not defined at the time of NFC creation, then
                              the default value 10.0.0.0/19 is considered. The IPV4
                              address subnet is an optional attribute.
                            items:
                              type: string
                              description: This will provide the IPv4 Network Fabric
                                Controller Address Space.
                          ipv6AddressSpaces:
                            type: array
                            description: The IPv6 is not supported right now.
                            items:
                              type: string
                              description: The IPv6 is not supported right now.
                        readOnly: true
                      workloadServices:
                        description: WorkloadServices IP ranges.
                        type: object
                        properties:
                          ipv4AddressSpaces:
                            type: array
                            description: The IPv4 Address space is optional, if the
                              value is not defined at the time of NFC creation, then
                              the default value 10.0.0.0/19 is considered. The IPV4
                              address subnet is an optional attribute.
                            items:
                              type: string
                              description: This will provide the IPv4 Network Fabric
                                Controller Address Space.
                          ipv6AddressSpaces:
                            type: array
                            description: The IPv6 is not supported right now.
                            items:
                              type: string
                              description: The IPv6 is not supported right now.
                        readOnly: true
                      managedResourceGroupConfiguration:
                        description: Managed Resource Group configuration properties.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The NFC service will be hosted in a Managed
                              resource group.
                          location:
                            type: string
                            description: Managed resource group location.
                      networkFabricIds:
                        type: array
                        description: The NF-ID will be an input parameter used by
                          the NF to link and get associated with the parent NFC Service.
                        items:
                          description: NetworkFabric ID (NF-ID) is a mandatory attribute,
                            which will be consumed by Network Fabric.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkFabrics
                        readOnly: true
                      workloadManagementNetwork:
                        description: A workload management network is required for
                          all the tenant (workload) traffic. This traffic is only
                          dedicated for Tenant workloads which are required to access
                          internet or any other MSFT/Public endpoints. This is used
                          for the backward compatibility.
                        type: boolean
                        default: true
                        readOnly: true
                      isWorkloadManagementNetworkEnabled:
                        description: A workload management network is required for
                          all the tenant (workload) traffic. This traffic is only
                          dedicated for Tenant workloads which are required to access
                          internet or any other MSFT/Public endpoints.
                        type: string
                        default: 'True'
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: IsWorkloadManagementNetworkEnabled
                      tenantInternetGatewayIds:
                        type: array
                        description: List of tenant InternetGateway resource IDs
                        items:
                          description: ARM resource ID of the Internet Gateway.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/internetGateways
                        readOnly: true
                      ipv4AddressSpace:
                        type: string
                        description: IPv4 Network Fabric Controller Address Space.
                        minLength: 1
                        default: 10.0.0.0/19
                      ipv6AddressSpace:
                        type: string
                        description: IPv6 Network Fabric Controller Address Space.
                        minLength: 1
                        default: FC00::/59
                      nfcSku:
                        description: Network Fabric Controller SKU.
                        type: string
                        default: Standard
                        enum:
                        - Basic
                        - Standard
                        - HighPerformance
                        x-ms-enum:
                          modelAsString: true
                          name: NfcSku
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of NFC provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    title: Network Fabric Controller updatable properties
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - NetworkFabricControllers
      operationId: NetworkFabricControllers_Update
      summary: Updates a Network Fabric Controller.
      description: Updates are currently not supported for the Network Fabric Controller
        resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Fabric Controller.
        in: path
        name: networkFabricControllerName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  description: Network Fabric Controller patch properties.
                  x-ms-client-flatten: true
                  title: Network Fabric Controller updatable properties
                  type: object
                  properties:
                    infrastructureExpressRouteConnections:
                      type: array
                      description: As part of an update, the Infrastructure ExpressRoute
                        CircuitID should be provided to create and Provision a NFC.
                        This Express route is dedicated for Infrastructure services.
                        (This is a Mandatory attribute)
                      x-ms-identifiers:
                      - expressRouteCircuitId
                      items:
                        type: object
                        properties:
                          expressRouteCircuitId:
                            type: string
                            description: The express route circuit Azure resource
                              ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                              The ExpressRoute Circuit is a mandatory attribute.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/expressRouteCircuits
                          expressRouteAuthorizationKey:
                            type: string
                            description: Authorization key for the circuit, must be
                              of type Microsoft.Network/expressRouteCircuits/authorizations.
                              The Auth Key is a mandatory attribute.
                            x-ms-secret: true
                        required:
                        - expressRouteCircuitId
                        - expressRouteAuthorizationKey
                        description: The ExpressRoute circuit ID and the Auth Key
                          are required for you to successfully deploy NFC service.
                    workloadExpressRouteConnections:
                      type: array
                      description: As part of an update, the workload ExpressRoute
                        CircuitID should be provided to create and Provision a NFC.
                        This Express route is dedicated for Workload services. (This
                        is a Mandatory attribute).
                      x-ms-identifiers:
                      - expressRouteCircuitId
                      items:
                        type: object
                        properties:
                          expressRouteCircuitId:
                            type: string
                            description: The express route circuit Azure resource
                              ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                              The ExpressRoute Circuit is a mandatory attribute.
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/expressRouteCircuits
                          expressRouteAuthorizationKey:
                            type: string
                            description: Authorization key for the circuit, must be
                              of type Microsoft.Network/expressRouteCircuits/authorizations.
                              The Auth Key is a mandatory attribute.
                            x-ms-secret: true
                        required:
                        - expressRouteCircuitId
                        - expressRouteAuthorizationKey
                        description: The ExpressRoute circuit ID and the Auth Key
                          are required for you to successfully deploy NFC service.
              description: Base tracked resource type for PATCH updates.
              title: Network Fabric Controller patch parameters
        description: Network Fabric Controller properties to update.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      infrastructureExpressRouteConnections:
                        type: array
                        description: As part of an update, the Infrastructure ExpressRoute
                          CircuitID should be provided to create and Provision a NFC.
                          This Express route is dedicated for Infrastructure services.
                          (This is a Mandatory attribute)
                        x-ms-identifiers:
                        - expressRouteCircuitId
                        items:
                          type: object
                          properties:
                            expressRouteCircuitId:
                              type: string
                              description: The express route circuit Azure resource
                                ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                                The ExpressRoute Circuit is a mandatory attribute.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/expressRouteCircuits
                            expressRouteAuthorizationKey:
                              type: string
                              description: Authorization key for the circuit, must
                                be of type Microsoft.Network/expressRouteCircuits/authorizations.
                                The Auth Key is a mandatory attribute.
                              x-ms-secret: true
                          required:
                          - expressRouteCircuitId
                          - expressRouteAuthorizationKey
                          description: The ExpressRoute circuit ID and the Auth Key
                            are required for you to successfully deploy NFC service.
                      workloadExpressRouteConnections:
                        type: array
                        description: As part of an update, the workload ExpressRoute
                          CircuitID should be provided to create and Provision a NFC.
                          This Express route is dedicated for Workload services. (This
                          is a Mandatory attribute).
                        x-ms-identifiers:
                        - expressRouteCircuitId
                        items:
                          type: object
                          properties:
                            expressRouteCircuitId:
                              type: string
                              description: The express route circuit Azure resource
                                ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName.
                                The ExpressRoute Circuit is a mandatory attribute.
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/expressRouteCircuits
                            expressRouteAuthorizationKey:
                              type: string
                              description: Authorization key for the circuit, must
                                be of type Microsoft.Network/expressRouteCircuits/authorizations.
                                The Auth Key is a mandatory attribute.
                              x-ms-secret: true
                          required:
                          - expressRouteCircuitId
                          - expressRouteAuthorizationKey
                          description: The ExpressRoute circuit ID and the Auth Key
                            are required for you to successfully deploy NFC service.
                      infrastructureServices:
                        description: InfrastructureServices IP ranges.
                        type: object
                        properties:
                          ipv4AddressSpaces:
                            type: array
                            description: The IPv4 Address space is optional, if the
                              value is not defined at the time of NFC creation, then
                              the default value 10.0.0.0/19 is considered. The IPV4
                              address subnet is an optional attribute.
                            items:
                              type: string
                              description: This will provide the IPv4 Network Fabric
                                Controller Address Space.
                          ipv6AddressSpaces:
                            type: array
                            description: The IPv6 is not supported right now.
                            items:
                              type: string
                              description: The IPv6 is not supported right now.
                        readOnly: true
                      workloadServices:
                        description: WorkloadServices IP ranges.
                        type: object
                        properties:
                          ipv4AddressSpaces:
                            type: array
                            description: The IPv4 Address space is optional, if the
                              value is not defined at the time of NFC creation, then
                              the default value 10.0.0.0/19 is considered. The IPV4
                              address subnet is an optional attribute.
                            items:
                              type: string
                              description: This will provide the IPv4 Network Fabric
                                Controller Address Space.
                          ipv6AddressSpaces:
                            type: array
                            description: The IPv6 is not supported right now.
                            items:
                              type: string
                              description: The IPv6 is not supported right now.
                        readOnly: true
                      managedResourceGroupConfiguration:
                        description: Managed Resource Group configuration properties.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The NFC service will be hosted in a Managed
                              resource group.
                          location:
                            type: string
                            description: Managed resource group location.
                      networkFabricIds:
                        type: array
                        description: The NF-ID will be an input parameter used by
                          the NF to link and get associated with the parent NFC Service.
                        items:
                          description: NetworkFabric ID (NF-ID) is a mandatory attribute,
                            which will be consumed by Network Fabric.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/networkFabrics
                        readOnly: true
                      workloadManagementNetwork:
                        description: A workload management network is required for
                          all the tenant (workload) traffic. This traffic is only
                          dedicated for Tenant workloads which are required to access
                          internet or any other MSFT/Public endpoints. This is used
                          for the backward compatibility.
                        type: boolean
                        default: true
                        readOnly: true
                      isWorkloadManagementNetworkEnabled:
                        description: A workload management network is required for
                          all the tenant (workload) traffic. This traffic is only
                          dedicated for Tenant workloads which are required to access
                          internet or any other MSFT/Public endpoints.
                        type: string
                        default: 'True'
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          modelAsString: true
                          name: IsWorkloadManagementNetworkEnabled
                      tenantInternetGatewayIds:
                        type: array
                        description: List of tenant InternetGateway resource IDs
                        items:
                          description: ARM resource ID of the Internet Gateway.
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.ManagedNetworkFabric/internetGateways
                        readOnly: true
                      ipv4AddressSpace:
                        type: string
                        description: IPv4 Network Fabric Controller Address Space.
                        minLength: 1
                        default: 10.0.0.0/19
                      ipv6AddressSpace:
                        type: string
                        description: IPv6 Network Fabric Controller Address Space.
                        minLength: 1
                        default: FC00::/59
                      nfcSku:
                        description: Network Fabric Controller SKU.
                        type: string
                        default: Standard
                        enum:
                        - Basic
                        - Standard
                        - HighPerformance
                        x-ms-enum:
                          modelAsString: true
                          name: NfcSku
                      provisioningState:
                        description: Provides you the latest status of the NFC service,
                          whether it is Accepted, updating, Succeeded or Failed. During
                          this process, the states keep changing based on the status
                          of NFC provisioning.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                    description: Common properties for annotated type.
                    title: Network Fabric Controller updatable properties
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              description: Tracking URL for long running operation.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    delete:
      tags:
      - NetworkFabricControllers
      operationId: NetworkFabricControllers_Delete
      summary: Deletes a Network Fabric Controller.
      description: Deletes the Network Fabric Controller resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Network Fabric Controller.
        in: path
        name: networkFabricControllerName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
[...]
