openapi: 3.0.0
info:
  title: Azure Network Fabric Management Service API
  description: Self service experience for Azure Network Fabric API.
  version: 2023-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/routePolicies/{routePolicyName}
  : put:
      tags:
      - RoutePolicies
      operationId: RoutePolicies_Create
      summary: Create Route Policy.
      description: Implements Route Policy PUT method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Route Policy.
        in: path
        name: routePolicyName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  type: object
                  properties:
                    annotation:
                      type: string
                      description: Switch configuration description.
                    defaultAction:
                      type: string
                      description: 'Default action that needs to be applied when no
                        condition is matched. Example: Permit | Deny.'
                      default: Deny
                      enum:
                      - Permit
                      - Deny
                      x-ms-enum:
                        modelAsString: true
                        name: communityActionTypes
                    statements:
                      type: array
                      description: Route Policy statements.
                      x-ms-identifiers:
                      - sequenceNumber
                      items:
                        type: object
                        properties:
                          annotation:
                            type: string
                            description: Switch configuration description.
                          sequenceNumber:
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 4294967295
                            description: Sequence to insert to/delete from existing
                              route.
                          condition:
                            type: object
                            properties:
                              ipCommunityIds:
                                type: array
                                description: List of IP Community resource IDs.
                                items:
                                  type: string
                                  description: ARM Resource ID of IPCommunity.
                              ipExtendedCommunityIds:
                                type: array
                                description: List of IP Extended Community resource
                                  IDs.
                                items:
                                  type: string
                                  description: ARM Resource ID of IP Extended Community.
                              type:
                                type: string
                                description: Type of the condition used.
                                default: Or
                                minLength: 1
                                enum:
                                - Or
                                - And
                                x-ms-enum:
                                  modelAsString: true
                                  name: RoutePolicyConditionType
                              ipPrefixId:
                                type: string
                                description: Arm Resource Id of IpPrefix.
                            description: List of IP Community resource IDs.
                          action:
                            description: Route policy action properties.
                            type: object
                            properties:
                              localPreference:
                                type: integer
                                format: int64
                                minimum: 0
                                maximum: 4294967295
                                description: Local Preference of the route policy.
                              actionType:
                                type: string
                                description: 'Action type. Example: Permit | Deny
                                  | Continue.'
                                minLength: 1
                                enum:
                                - Permit
                                - Deny
                                - Continue
                                x-ms-enum:
                                  modelAsString: true
                                  name: RoutePolicyActionType
                              ipCommunityProperties:
                                type: object
                                properties:
                                  add:
                                    description: List of IP Community IDs.
                                    type: object
                                    properties:
                                      ipCommunityIds:
                                        type: array
                                        description: List of IP Community resource
                                          IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IPCommunity.
                                  delete:
                                    description: List of IP Community IDs.
                                    type: object
                                    properties:
                                      ipCommunityIds:
                                        type: array
                                        description: List of IP Community resource
                                          IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IPCommunity.
                                  set:
                                    description: List of IP Community IDs.
                                    type: object
                                    properties:
                                      ipCommunityIds:
                                        type: array
                                        description: List of IP Community resource
                                          IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IPCommunity.
                                description: IP Community add operation properties.
                              ipExtendedCommunityProperties:
                                type: object
                                properties:
                                  add:
                                    description: List of IP Extended Community IDs.
                                    type: object
                                    properties:
                                      ipExtendedCommunityIds:
                                        type: array
                                        description: List of IP Extended Community
                                          resource IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IP Extended
                                            Community.
                                  delete:
                                    description: List of IP Extended Community IDs.
                                    type: object
                                    properties:
                                      ipExtendedCommunityIds:
                                        type: array
                                        description: List of IP Extended Community
                                          resource IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IP Extended
                                            Community.
                                  set:
                                    description: List of IP Extended Community IDs.
                                    type: object
                                    properties:
                                      ipExtendedCommunityIds:
                                        type: array
                                        description: List of IP Extended Community
                                          resource IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IP Extended
                                            Community.
                                description: IP Extended Community add operation properties.
                            required:
                            - actionType
                        description: Common properties for annotated type.
                        required:
                        - sequenceNumber
                        - condition
                        - action
                    networkFabricId:
                      description: Arm Resource ID of Network Fabric.
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.ManagedNetworkFabric/networkFabrics
                    addressFamilyType:
                      type: string
                      description: AddressFamilyType. This parameter decides whether
                        the given ipv4 or ipv6 route policy.
                      default: IPv4
                      minLength: 1
                      enum:
                      - IPv4
                      - IPv6
                      x-ms-enum:
                        modelAsString: true
                        name: AddressFamilyType
                    configurationState:
                      description: Configuration state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Rejected
                      - Accepted
                      - Provisioned
                      - ErrorProvisioning
                      - Deprovisioning
                      - Deprovisioned
                      - ErrorDeprovisioning
                      - DeferredControl
                      - Provisioning
                      - PendingCommit
                      x-ms-enum:
                        modelAsString: true
                        name: ConfigurationState
                    provisioningState:
                      description: Provisioning state of the resource.
                      type: string
                      readOnly: true
                      enum:
                      - Accepted
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    administrativeState:
                      description: Administrative state of the resource.
                      type: string
                      enum:
                      - Enabled
                      - Disabled
                      - MAT
                      - RMA
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: AdministrativeState
                  description: Common properties for annotated type.
                  required:
                  - statements
                  - networkFabricId
                  x-ms-client-flatten: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request payload.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      defaultAction:
                        type: string
                        description: 'Default action that needs to be applied when
                          no condition is matched. Example: Permit | Deny.'
                        default: Deny
                        enum:
                        - Permit
                        - Deny
                        x-ms-enum:
                          modelAsString: true
                          name: communityActionTypes
                      statements:
                        type: array
                        description: Route Policy statements.
                        x-ms-identifiers:
                        - sequenceNumber
                        items:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            sequenceNumber:
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 4294967295
                              description: Sequence to insert to/delete from existing
                                route.
                            condition:
                              type: object
                              properties:
                                ipCommunityIds:
                                  type: array
                                  description: List of IP Community resource IDs.
                                  items:
                                    type: string
                                    description: ARM Resource ID of IPCommunity.
                                ipExtendedCommunityIds:
                                  type: array
                                  description: List of IP Extended Community resource
                                    IDs.
                                  items:
                                    type: string
                                    description: ARM Resource ID of IP Extended Community.
                                type:
                                  type: string
                                  description: Type of the condition used.
                                  default: Or
                                  minLength: 1
                                  enum:
                                  - Or
                                  - And
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RoutePolicyConditionType
                                ipPrefixId:
                                  type: string
                                  description: Arm Resource Id of IpPrefix.
                              description: List of IP Community resource IDs.
                            action:
                              description: Route policy action properties.
                              type: object
                              properties:
                                localPreference:
                                  type: integer
                                  format: int64
                                  minimum: 0
                                  maximum: 4294967295
                                  description: Local Preference of the route policy.
                                actionType:
                                  type: string
                                  description: 'Action type. Example: Permit | Deny
                                    | Continue.'
                                  minLength: 1
                                  enum:
                                  - Permit
                                  - Deny
                                  - Continue
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RoutePolicyActionType
                                ipCommunityProperties:
                                  type: object
                                  properties:
                                    add:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                    delete:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                    set:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                  description: IP Community add operation properties.
                                ipExtendedCommunityProperties:
                                  type: object
                                  properties:
                                    add:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                    delete:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                    set:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                  description: IP Extended Community add operation
                                    properties.
                              required:
                              - actionType
                          description: Common properties for annotated type.
                          required:
                          - sequenceNumber
                          - condition
                          - action
                      networkFabricId:
                        description: Arm Resource ID of Network Fabric.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      addressFamilyType:
                        type: string
                        description: AddressFamilyType. This parameter decides whether
                          the given ipv4 or ipv6 route policy.
                        default: IPv4
                        minLength: 1
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          modelAsString: true
                          name: AddressFamilyType
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - statements
                    - networkFabricId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      defaultAction:
                        type: string
                        description: 'Default action that needs to be applied when
                          no condition is matched. Example: Permit | Deny.'
                        default: Deny
                        enum:
                        - Permit
                        - Deny
                        x-ms-enum:
                          modelAsString: true
                          name: communityActionTypes
                      statements:
                        type: array
                        description: Route Policy statements.
                        x-ms-identifiers:
                        - sequenceNumber
                        items:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            sequenceNumber:
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 4294967295
                              description: Sequence to insert to/delete from existing
                                route.
                            condition:
                              type: object
                              properties:
                                ipCommunityIds:
                                  type: array
                                  description: List of IP Community resource IDs.
                                  items:
                                    type: string
                                    description: ARM Resource ID of IPCommunity.
                                ipExtendedCommunityIds:
                                  type: array
                                  description: List of IP Extended Community resource
                                    IDs.
                                  items:
                                    type: string
                                    description: ARM Resource ID of IP Extended Community.
                                type:
                                  type: string
                                  description: Type of the condition used.
                                  default: Or
                                  minLength: 1
                                  enum:
                                  - Or
                                  - And
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RoutePolicyConditionType
                                ipPrefixId:
                                  type: string
                                  description: Arm Resource Id of IpPrefix.
                              description: List of IP Community resource IDs.
                            action:
                              description: Route policy action properties.
                              type: object
                              properties:
                                localPreference:
                                  type: integer
                                  format: int64
                                  minimum: 0
                                  maximum: 4294967295
                                  description: Local Preference of the route policy.
                                actionType:
                                  type: string
                                  description: 'Action type. Example: Permit | Deny
                                    | Continue.'
                                  minLength: 1
                                  enum:
                                  - Permit
                                  - Deny
                                  - Continue
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RoutePolicyActionType
                                ipCommunityProperties:
                                  type: object
                                  properties:
                                    add:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                    delete:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                    set:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                  description: IP Community add operation properties.
                                ipExtendedCommunityProperties:
                                  type: object
                                  properties:
                                    add:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                    delete:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                    set:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                  description: IP Extended Community add operation
                                    properties.
                              required:
                              - actionType
                          description: Common properties for annotated type.
                          required:
                          - sequenceNumber
                          - condition
                          - action
                      networkFabricId:
                        description: Arm Resource ID of Network Fabric.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      addressFamilyType:
                        type: string
                        description: AddressFamilyType. This parameter decides whether
                          the given ipv4 or ipv6 route policy.
                        default: IPv4
                        minLength: 1
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          modelAsString: true
                          name: AddressFamilyType
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - statements
                    - networkFabricId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - RoutePolicies
      operationId: RoutePolicies_Get
      summary: Gets a Route Policy.
      description: Implements Route Policy GET method.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Route Policy.
        in: path
        name: routePolicyName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      defaultAction:
                        type: string
                        description: 'Default action that needs to be applied when
                          no condition is matched. Example: Permit | Deny.'
                        default: Deny
                        enum:
                        - Permit
                        - Deny
                        x-ms-enum:
                          modelAsString: true
                          name: communityActionTypes
                      statements:
                        type: array
                        description: Route Policy statements.
                        x-ms-identifiers:
                        - sequenceNumber
                        items:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            sequenceNumber:
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 4294967295
                              description: Sequence to insert to/delete from existing
                                route.
                            condition:
                              type: object
                              properties:
                                ipCommunityIds:
                                  type: array
                                  description: List of IP Community resource IDs.
                                  items:
                                    type: string
                                    description: ARM Resource ID of IPCommunity.
                                ipExtendedCommunityIds:
                                  type: array
                                  description: List of IP Extended Community resource
                                    IDs.
                                  items:
                                    type: string
                                    description: ARM Resource ID of IP Extended Community.
                                type:
                                  type: string
                                  description: Type of the condition used.
                                  default: Or
                                  minLength: 1
                                  enum:
                                  - Or
                                  - And
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RoutePolicyConditionType
                                ipPrefixId:
                                  type: string
                                  description: Arm Resource Id of IpPrefix.
                              description: List of IP Community resource IDs.
                            action:
                              description: Route policy action properties.
                              type: object
                              properties:
                                localPreference:
                                  type: integer
                                  format: int64
                                  minimum: 0
                                  maximum: 4294967295
                                  description: Local Preference of the route policy.
                                actionType:
                                  type: string
                                  description: 'Action type. Example: Permit | Deny
                                    | Continue.'
                                  minLength: 1
                                  enum:
                                  - Permit
                                  - Deny
                                  - Continue
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RoutePolicyActionType
                                ipCommunityProperties:
                                  type: object
                                  properties:
                                    add:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                    delete:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                    set:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                  description: IP Community add operation properties.
                                ipExtendedCommunityProperties:
                                  type: object
                                  properties:
                                    add:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                    delete:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                    set:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                  description: IP Extended Community add operation
                                    properties.
                              required:
                              - actionType
                          description: Common properties for annotated type.
                          required:
                          - sequenceNumber
                          - condition
                          - action
                      networkFabricId:
                        description: Arm Resource ID of Network Fabric.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      addressFamilyType:
                        type: string
                        description: AddressFamilyType. This parameter decides whether
                          the given ipv4 or ipv6 route policy.
                        default: IPv4
                        minLength: 1
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          modelAsString: true
                          name: AddressFamilyType
                      configurationState:
                        description: Configuration state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Rejected
                        - Accepted
                        - Provisioned
                        - ErrorProvisioning
                        - Deprovisioning
                        - Deprovisioned
                        - ErrorDeprovisioning
                        - DeferredControl
                        - Provisioning
                        - PendingCommit
                        x-ms-enum:
                          modelAsString: true
                          name: ConfigurationState
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                        readOnly: true
                        enum:
                        - Accepted
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      administrativeState:
                        description: Administrative state of the resource.
                        type: string
                        enum:
                        - Enabled
                        - Disabled
                        - MAT
                        - RMA
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: AdministrativeState
                    description: Common properties for annotated type.
                    required:
                    - statements
                    - networkFabricId
                    x-ms-client-flatten: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - RoutePolicies
      operationId: RoutePolicies_Update
      summary: Updates a Route Policy.
      description: API to update certain properties of the Route Policy resource.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - description: Name of the Route Policy.
        in: path
        name: routePolicyName
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
                properties:
                  x-ms-client-flatten: true
                  description: The RoutePolicy patchable properties.
                  type: object
                  properties:
                    defaultAction:
                      type: string
                      description: 'Default action that needs to be applied when no
                        condition is matched. Example: Permit | Deny.'
                      default: Deny
                      enum:
                      - Permit
                      - Deny
                      x-ms-enum:
                        modelAsString: true
                        name: communityActionTypes
                    statements:
                      type: array
                      description: Route Policy statements.
                      x-ms-identifiers:
                      - sequenceNumber
                      items:
                        type: object
                        properties:
                          annotation:
                            type: string
                            description: Switch configuration description.
                          sequenceNumber:
                            type: integer
                            format: int64
                            minimum: 1
                            maximum: 4294967295
                            description: Sequence to insert to/delete from existing
                              route.
                          condition:
                            type: object
                            properties:
                              ipCommunityIds:
                                type: array
                                description: List of IP Community resource IDs.
                                items:
                                  type: string
                                  description: ARM Resource ID of IPCommunity.
                              ipExtendedCommunityIds:
                                type: array
                                description: List of IP Extended Community resource
                                  IDs.
                                items:
                                  type: string
                                  description: ARM Resource ID of IP Extended Community.
                              type:
                                type: string
                                description: Type of the condition used.
                                default: Or
                                minLength: 1
                                enum:
                                - Or
                                - And
                                x-ms-enum:
                                  modelAsString: true
                                  name: RoutePolicyConditionType
                              ipPrefixId:
                                type: string
                                description: Arm Resource Id of IpPrefix.
                            description: List of IP Community resource IDs.
                          action:
                            description: Route policy action properties.
                            type: object
                            properties:
                              localPreference:
                                type: integer
                                format: int64
                                minimum: 0
                                maximum: 4294967295
                                description: Local Preference of the route policy.
                              actionType:
                                type: string
                                description: 'Action type. Example: Permit | Deny
                                  | Continue.'
                                minLength: 1
                                enum:
                                - Permit
                                - Deny
                                - Continue
                                x-ms-enum:
                                  modelAsString: true
                                  name: RoutePolicyActionType
                              ipCommunityProperties:
                                type: object
                                properties:
                                  add:
                                    description: List of IP Community IDs.
                                    type: object
                                    properties:
                                      ipCommunityIds:
                                        type: array
                                        description: List of IP Community resource
                                          IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IPCommunity.
                                  delete:
                                    description: List of IP Community IDs.
                                    type: object
                                    properties:
                                      ipCommunityIds:
                                        type: array
                                        description: List of IP Community resource
                                          IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IPCommunity.
                                  set:
                                    description: List of IP Community IDs.
                                    type: object
                                    properties:
                                      ipCommunityIds:
                                        type: array
                                        description: List of IP Community resource
                                          IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IPCommunity.
                                description: IP Community add operation properties.
                              ipExtendedCommunityProperties:
                                type: object
                                properties:
                                  add:
                                    description: List of IP Extended Community IDs.
                                    type: object
                                    properties:
                                      ipExtendedCommunityIds:
                                        type: array
                                        description: List of IP Extended Community
                                          resource IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IP Extended
                                            Community.
                                  delete:
                                    description: List of IP Extended Community IDs.
                                    type: object
                                    properties:
                                      ipExtendedCommunityIds:
                                        type: array
                                        description: List of IP Extended Community
                                          resource IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IP Extended
                                            Community.
                                  set:
                                    description: List of IP Extended Community IDs.
                                    type: object
                                    properties:
                                      ipExtendedCommunityIds:
                                        type: array
                                        description: List of IP Extended Community
                                          resource IDs.
                                        items:
                                          type: string
                                          description: ARM Resource ID of IP Extended
                                            Community.
                                description: IP Extended Community add operation properties.
                            required:
                            - actionType
                        description: Common properties for annotated type.
                        required:
                        - sequenceNumber
                        - condition
                        - action
              description: Base tracked resource type for PATCH updates.
              x-ms-azure-resource: true
        description: Route Policy properties to update.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    type: object
                    properties:
                      annotation:
                        type: string
                        description: Switch configuration description.
                      defaultAction:
                        type: string
                        description: 'Default action that needs to be applied when
                          no condition is matched. Example: Permit | Deny.'
                        default: Deny
                        enum:
                        - Permit
                        - Deny
                        x-ms-enum:
                          modelAsString: true
                          name: communityActionTypes
                      statements:
                        type: array
                        description: Route Policy statements.
                        x-ms-identifiers:
                        - sequenceNumber
                        items:
                          type: object
                          properties:
                            annotation:
                              type: string
                              description: Switch configuration description.
                            sequenceNumber:
                              type: integer
                              format: int64
                              minimum: 1
                              maximum: 4294967295
                              description: Sequence to insert to/delete from existing
                                route.
                            condition:
                              type: object
                              properties:
                                ipCommunityIds:
                                  type: array
                                  description: List of IP Community resource IDs.
                                  items:
                                    type: string
                                    description: ARM Resource ID of IPCommunity.
                                ipExtendedCommunityIds:
                                  type: array
                                  description: List of IP Extended Community resource
                                    IDs.
                                  items:
                                    type: string
                                    description: ARM Resource ID of IP Extended Community.
                                type:
                                  type: string
                                  description: Type of the condition used.
                                  default: Or
                                  minLength: 1
                                  enum:
                                  - Or
                                  - And
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RoutePolicyConditionType
                                ipPrefixId:
                                  type: string
                                  description: Arm Resource Id of IpPrefix.
                              description: List of IP Community resource IDs.
                            action:
                              description: Route policy action properties.
                              type: object
                              properties:
                                localPreference:
                                  type: integer
                                  format: int64
                                  minimum: 0
                                  maximum: 4294967295
                                  description: Local Preference of the route policy.
                                actionType:
                                  type: string
                                  description: 'Action type. Example: Permit | Deny
                                    | Continue.'
                                  minLength: 1
                                  enum:
                                  - Permit
                                  - Deny
                                  - Continue
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RoutePolicyActionType
                                ipCommunityProperties:
                                  type: object
                                  properties:
                                    add:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                    delete:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                    set:
                                      description: List of IP Community IDs.
                                      type: object
                                      properties:
                                        ipCommunityIds:
                                          type: array
                                          description: List of IP Community resource
                                            IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IPCommunity.
                                  description: IP Community add operation properties.
                                ipExtendedCommunityProperties:
                                  type: object
                                  properties:
                                    add:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                    delete:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                    set:
                                      description: List of IP Extended Community IDs.
                                      type: object
                                      properties:
                                        ipExtendedCommunityIds:
                                          type: array
                                          description: List of IP Extended Community
                                            resource IDs.
                                          items:
                                            type: string
                                            description: ARM Resource ID of IP Extended
                                              Community.
                                  description: IP Extended Community add operation
                                    properties.
                              required:
                              - actionType
                          description: Common properties for annotated type.
                          required:
                          - sequenceNumber
                          - condition
                          - action
                      networkFabricId:
                        description: Arm Resource ID of Network Fabric.
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.ManagedNetworkFabric/networkFabrics
                      addressFamilyType:
                        type: string
                        description: AddressFamilyType. This parameter decides whether
[...]
