openapi: 3.0.0
info:
  version: 2019-01-01
  title: DeploymentAdminClient
  description: Deployment Admin Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans:
    get:
      description: Gets the list of action plans
      tags:
      - ActionPlans
      operationId: ActionPlans_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of action plans
                properties:
                  value:
                    description: Array of action plans.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        location:
                          description: Location of the resource.
                          type: string
                        properties:
                          description: Action Plan Properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            actionPlanUri:
                              description: Action plan uri
                              type: string
                            resourceGroupName:
                              description: The target resource group name
                              type: string
                            subscriptionId:
                              description: The target subscription identifier
                              type: string
                            parameters:
                              description: The deployment parameters in JToken format
                              type: object
                              properties:
                                value:
                                  description: Parameters as JToken string
                                  type: string
                            startTime:
                              description: The deployment start time
                              type: string
                              format: date-time
                            endTime:
                              description: The deployment end time
                              type: string
                              format: date-time
                            error:
                              description: Error Information
                              type: object
                              properties:
                                error:
                                  description: The error details.
                                  type: object
                                  properties:
                                    code:
                                      description: Service specific error code which
                                        serves as the substatus for the HTTP error
                                        code.
                                      type: string
                                      readOnly: true
                                    message:
                                      description: Description of the error.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Internal error details.
                                      type: array
                                      items:
                                        type: object
                                        description: Error definition.
                                        properties:
                                          code:
                                            description: Service specific error code
                                              which serves as the substatus for the
                                              HTTP error code.
                                            type: string
                                            readOnly: true
                                          message:
                                            description: Description of the error.
                                            type: string
                                            readOnly: true
                                          details:
                                            description: Internal error details.
                                            type: array
                                            items:
                                              type: object
                                              description: Error definition.
                                              properties:
                                                code:
                                                  description: Service specific error
                                                    code which serves as the substatus
                                                    for the HTTP error code.
                                                  type: string
                                                  readOnly: true
                                                message:
                                                  description: Description of the
                                                    error.
                                                  type: string
                                                  readOnly: true
                                            x-ms-identifiers: []
                                            readOnly: true
                                      x-ms-identifiers: []
                                      readOnly: true
                            provisioningState:
                              description: The provisioning state
                              type: string
                            actionPlanInstanceId:
                              description: Action plan instance identifier
                              type: string
                            blobContainerName:
                              description: Blob container name storing the deployment
                                data
                              type: string
                        eTag:
                          description: Entity tag of the resource
                          type: string
                      description: Object model of azure resource manager base.
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}:
    get:
      description: Gets the specified action plan
      tags:
      - ActionPlans
      operationId: ActionPlans_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Identifier of the action plan.
        name: planId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    description: Action Plan Properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      actionPlanUri:
                        description: Action plan uri
                        type: string
                      resourceGroupName:
                        description: The target resource group name
                        type: string
                      subscriptionId:
                        description: The target subscription identifier
                        type: string
                      parameters:
                        description: The deployment parameters in JToken format
                        type: object
                        properties:
                          value:
                            description: Parameters as JToken string
                            type: string
                      startTime:
                        description: The deployment start time
                        type: string
                        format: date-time
                      endTime:
                        description: The deployment end time
                        type: string
                        format: date-time
                      error:
                        description: Error Information
                        type: object
                        properties:
                          error:
                            description: The error details.
                            type: object
                            properties:
                              code:
                                description: Service specific error code which serves
                                  as the substatus for the HTTP error code.
                                type: string
                                readOnly: true
                              message:
                                description: Description of the error.
                                type: string
                                readOnly: true
                              details:
                                description: Internal error details.
                                type: array
                                items:
                                  type: object
                                  description: Error definition.
                                  properties:
                                    code:
                                      description: Service specific error code which
                                        serves as the substatus for the HTTP error
                                        code.
                                      type: string
                                      readOnly: true
                                    message:
                                      description: Description of the error.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Internal error details.
                                      type: array
                                      items:
                                        type: object
                                        description: Error definition.
                                        properties:
                                          code:
                                            description: Service specific error code
                                              which serves as the substatus for the
                                              HTTP error code.
                                            type: string
                                            readOnly: true
                                          message:
                                            description: Description of the error.
                                            type: string
                                            readOnly: true
                                      x-ms-identifiers: []
                                      readOnly: true
                                x-ms-identifiers: []
                                readOnly: true
                      provisioningState:
                        description: The provisioning state
                        type: string
                      actionPlanInstanceId:
                        description: Action plan instance identifier
                        type: string
                      blobContainerName:
                        description: Blob container name storing the deployment data
                        type: string
                  eTag:
                    description: Entity tag of the resource
                    type: string
                description: Object model of azure resource manager base.
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    PlanIdParameter:
      description: Identifier of the action plan.
      name: planId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2019-01-01
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ActionPlanList:
      description: List of action plans
      properties:
        value:
          description: Array of action plans.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              location:
                description: Location of the resource.
                type: string
              properties:
                description: Action Plan Properties
                x-ms-client-flatten: true
                type: object
                properties:
                  actionPlanUri:
                    description: Action plan uri
                    type: string
                  resourceGroupName:
                    description: The target resource group name
                    type: string
                  subscriptionId:
                    description: The target subscription identifier
                    type: string
                  parameters:
                    description: The deployment parameters in JToken format
                    type: object
                    properties:
                      value:
                        description: Parameters as JToken string
                        type: string
                  startTime:
                    description: The deployment start time
                    type: string
                    format: date-time
                  endTime:
                    description: The deployment end time
                    type: string
                    format: date-time
                  error:
                    description: Error Information
                    type: object
                    properties:
                      error:
                        description: The error details.
                        type: object
                        properties:
                          code:
                            description: Service specific error code which serves
                              as the substatus for the HTTP error code.
                            type: string
                            readOnly: true
                          message:
                            description: Description of the error.
                            type: string
                            readOnly: true
                          details:
                            description: Internal error details.
                            type: array
                            items:
                              type: object
                              description: Error definition.
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                                details:
                                  description: Internal error details.
                                  type: array
                                  items:
                                    type: object
                                    description: Error definition.
                                    properties:
                                      code:
                                        description: Service specific error code which
                                          serves as the substatus for the HTTP error
                                          code.
                                        type: string
                                        readOnly: true
                                      message:
                                        description: Description of the error.
                                        type: string
                                        readOnly: true
                                  x-ms-identifiers: []
                                  readOnly: true
                            x-ms-identifiers: []
                            readOnly: true
                  provisioningState:
                    description: The provisioning state
                    type: string
                  actionPlanInstanceId:
                    description: Action plan instance identifier
                    type: string
                  blobContainerName:
                    description: Blob container name storing the deployment data
                    type: string
              eTag:
                description: Entity tag of the resource
                type: string
            description: Object model of azure resource manager base.
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: Continuation token
    ActionPlanResourceEntity:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
        properties:
          description: Action Plan Properties
          x-ms-client-flatten: true
          type: object
          properties:
            actionPlanUri:
              description: Action plan uri
              type: string
            resourceGroupName:
              description: The target resource group name
              type: string
            subscriptionId:
              description: The target subscription identifier
              type: string
            parameters:
              description: The deployment parameters in JToken format
              type: object
              properties:
                value:
                  description: Parameters as JToken string
                  type: string
            startTime:
              description: The deployment start time
              type: string
              format: date-time
            endTime:
              description: The deployment end time
              type: string
              format: date-time
            error:
              description: Error Information
              type: object
              properties:
                error:
                  description: The error details.
                  type: object
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                    details:
                      description: Internal error details.
                      type: array
                      items:
                        type: object
                        description: Error definition.
                        properties:
                          code:
                            description: Service specific error code which serves
                              as the substatus for the HTTP error code.
                            type: string
                            readOnly: true
                          message:
                            description: Description of the error.
                            type: string
                            readOnly: true
                          details:
                            description: Internal error details.
                            type: array
                            items:
                              type: object
                              description: Error definition.
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                            x-ms-identifiers: []
                            readOnly: true
                      x-ms-identifiers: []
                      readOnly: true
            provisioningState:
              description: The provisioning state
              type: string
            actionPlanInstanceId:
              description: Action plan instance identifier
              type: string
            blobContainerName:
              description: Blob container name storing the deployment data
              type: string
        eTag:
          description: Entity tag of the resource
          type: string
      description: Object model of azure resource manager base.
      x-ms-azure-resource: true
    ActionPlanAdminProperties:
      type: object
      description: Action Plan Properties
      properties:
        actionPlanUri:
          description: Action plan uri
          type: string
        resourceGroupName:
          description: The target resource group name
          type: string
        subscriptionId:
          description: The target subscription identifier
          type: string
        parameters:
          description: The deployment parameters in JToken format
          type: object
          properties:
            value:
              description: Parameters as JToken string
              type: string
        startTime:
          description: The deployment start time
          type: string
          format: date-time
        endTime:
          description: The deployment end time
          type: string
          format: date-time
        error:
          description: Error Information
          type: object
          properties:
            error:
              description: The error details.
              type: object
              properties:
                code:
                  description: Service specific error code which serves as the substatus
                    for the HTTP error code.
                  type: string
                  readOnly: true
                message:
                  description: Description of the error.
                  type: string
                  readOnly: true
                details:
                  description: Internal error details.
                  type: array
                  items:
                    type: object
                    description: Error definition.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
                  x-ms-identifiers: []
                  readOnly: true
        provisioningState:
          description: The provisioning state
          type: string
        actionPlanInstanceId:
          description: Action plan instance identifier
          type: string
        blobContainerName:
          description: Blob container name storing the deployment data
          type: string
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Object model of azure resource manager base.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
      x-ms-azure-resource: true
    JTokenString:
      description: Error information
      type: object
      properties:
        value:
          description: Parameters as JToken string
          type: string
