openapi: 3.0.0
info:
  version: 2019-01-01
  title: DeploymentAdminClient
  description: Deployment Admin Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers:
    get:
      description: Returns an array of file containers.
      tags:
      - FileContainers
      operationId: FileContainers_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of file containers.
                properties:
                  value:
                    description: List of file containers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        location:
                          description: Location of the resource.
                          type: string
                        properties:
                          description: File Container properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            fileContainerId:
                              description: File container resource identifier containing
                                product manifest.
                              type: string
                            sourceUri:
                              description: The remote file location. This is write-only
                                property, DRP never returns it back to a user.
                              type: string
                            uri:
                              description: The file or container Uri. This is read-only
                                property; a user cannot set it.
                              type: string
                            postCopyAction:
                              description: Specifies the file post copy action.
                              type: string
                              enum:
                              - None
                              - Unzip
                              x-ms-enum:
                                modelAsString: true
                                name: PostCopyAction
                            error:
                              description: The error response message.
                              type: object
                              properties:
                                code:
                                  description: The error code.
                                  type: string
                                message:
                                  description: The error message.
                                  type: string
                                details:
                                  description: The detailed error messages.
                                  type: array
                                  items:
                                    description: Extended Error Information.
                                    type: object
                                    properties:
                                      code:
                                        description: The error code.
                                        type: string
                                      message:
                                        description: The error message.
                                        type: string
                                      details:
                                        description: The detailed error messages.
                                        type: array
                                        items:
                                          description: Extended Error Information.
                                          type: object
                                          properties:
                                            code:
                                              description: The error code.
                                              type: string
                                            message:
                                              description: The error message.
                                              type: string
                                        x-ms-identifiers: []
                                  x-ms-identifiers: []
                            provisioningState:
                              description: Provisioning state of the resource.
                              type: string
                      description: Object model of azure resource manager base.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Continuation token.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/{fileContainerId}:
    get:
      description: Retrieves the specific file container details.
      tags:
      - FileContainers
      operationId: FileContainers_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The file container identifier.
        name: fileContainerId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    description: File Container properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      fileContainerId:
                        description: File container resource identifier containing
                          product manifest.
                        type: string
                      sourceUri:
                        description: The remote file location. This is write-only
                          property, DRP never returns it back to a user.
                        type: string
                      uri:
                        description: The file or container Uri. This is read-only
                          property; a user cannot set it.
                        type: string
                      postCopyAction:
                        description: Specifies the file post copy action.
                        type: string
                        enum:
                        - None
                        - Unzip
                        x-ms-enum:
                          modelAsString: true
                          name: PostCopyAction
                      error:
                        description: The error response message.
                        type: object
                        properties:
                          code:
                            description: The error code.
                            type: string
                          message:
                            description: The error message.
                            type: string
                          details:
                            description: The detailed error messages.
                            type: array
                            items:
                              description: Extended Error Information.
                              type: object
                              properties:
                                code:
                                  description: The error code.
                                  type: string
                                message:
                                  description: The error message.
                                  type: string
                                details:
                                  description: The detailed error messages.
                                  type: array
                                  items:
                                    description: Extended Error Information.
                                    type: object
                                    properties:
                                      code:
                                        description: The error code.
                                        type: string
                                      message:
                                        description: The error message.
                                        type: string
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                description: Object model of azure resource manager base.
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      description: Creates a new file container.
      tags:
      - FileContainers
      operationId: FileContainers_Create
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      - description: The file container identifier.
        name: fileContainerId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for creating a new file container.
              type: object
              properties:
                properties:
                  description: Specifies the file container body
                  type: object
                  properties:
                    postCopyAction:
                      description: Specifies the file post copy action.
                      type: string
                      enum:
                      - None
                      - Unzip
                      x-ms-enum:
                        modelAsString: true
                        name: PostCopyAction
                    sourceUri:
                      description: Specifies The remote file location.
                      type: string
        description: The parameters required to create a new file container.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    description: File Container properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      fileContainerId:
                        description: File container resource identifier containing
                          product manifest.
                        type: string
                      sourceUri:
                        description: The remote file location. This is write-only
                          property, DRP never returns it back to a user.
                        type: string
                      uri:
                        description: The file or container Uri. This is read-only
                          property; a user cannot set it.
                        type: string
                      postCopyAction:
                        description: Specifies the file post copy action.
                        type: string
                        enum:
                        - None
                        - Unzip
                        x-ms-enum:
                          modelAsString: true
                          name: PostCopyAction
                      error:
                        description: The error response message.
                        type: object
                        properties:
                          code:
                            description: The error code.
                            type: string
                          message:
                            description: The error message.
                            type: string
                          details:
                            description: The detailed error messages.
                            type: array
                            items:
                              description: Extended Error Information.
                              type: object
                              properties:
                                code:
                                  description: The error code.
                                  type: string
                                message:
                                  description: The error message.
                                  type: string
                                details:
                                  description: The detailed error messages.
                                  type: array
                                  items:
                                    description: Extended Error Information.
                                    type: object
                                    properties:
                                      code:
                                        description: The error code.
                                        type: string
                                      message:
                                        description: The error message.
                                        type: string
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                description: Object model of azure resource manager base.
                x-ms-azure-resource: true
        '202':
          description: Accepted
      x-ms-long-running-operation: true
    delete:
      tags:
      - FileContainers
      summary: Deletes specified file container.
      description: Delete an existing file container.
      operationId: FileContainers_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The file container identifier.
        name: fileContainerId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    FileContainerIdParameter:
      description: The file container identifier.
      name: fileContainerId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2019-01-01
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    FileContainer:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
        properties:
          description: File Container properties
          x-ms-client-flatten: true
          type: object
          properties:
            fileContainerId:
              description: File container resource identifier containing product manifest.
              type: string
            sourceUri:
              description: The remote file location. This is write-only property,
                DRP never returns it back to a user.
              type: string
            uri:
              description: The file or container Uri. This is read-only property;
                a user cannot set it.
              type: string
            postCopyAction:
              description: Specifies the file post copy action.
              type: string
              enum:
              - None
              - Unzip
              x-ms-enum:
                modelAsString: true
                name: PostCopyAction
            error:
              description: The error response message.
              type: object
              properties:
                code:
                  description: The error code.
                  type: string
                message:
                  description: The error message.
                  type: string
                details:
                  description: The detailed error messages.
                  type: array
                  items:
                    description: Extended Error Information.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                      message:
                        description: The error message.
                        type: string
                      details:
                        description: The detailed error messages.
                        type: array
                        items:
                          description: Extended Error Information.
                          type: object
                          properties:
                            code:
                              description: The error code.
                              type: string
                            message:
                              description: The error message.
                              type: string
                        x-ms-identifiers: []
                  x-ms-identifiers: []
            provisioningState:
              description: Provisioning state of the resource.
              type: string
      description: Object model of azure resource manager base.
      x-ms-azure-resource: true
    FileContainerAdminProperties:
      description: File Container Properties.
      type: object
      properties:
        fileContainerId:
          description: File container resource identifier containing product manifest.
          type: string
        sourceUri:
          description: The remote file location. This is write-only property, DRP
            never returns it back to a user.
          type: string
        uri:
          description: The file or container Uri. This is read-only property; a user
            cannot set it.
          type: string
        postCopyAction:
          description: Specifies the file post copy action.
          type: string
          enum:
          - None
          - Unzip
          x-ms-enum:
            modelAsString: true
            name: PostCopyAction
        error:
          description: The error response message.
          type: object
          properties:
            code:
              description: The error code.
              type: string
            message:
              description: The error message.
              type: string
            details:
              description: The detailed error messages.
              type: array
              items:
                description: Extended Error Information.
                type: object
                properties:
                  code:
                    description: The error code.
                    type: string
                  message:
                    description: The error message.
                    type: string
                  details:
                    description: The detailed error messages.
                    type: array
                    items:
                      description: Extended Error Information.
                      type: object
                      properties:
                        code:
                          description: The error code.
                          type: string
                        message:
                          description: The error message.
                          type: string
                    x-ms-identifiers: []
              x-ms-identifiers: []
        provisioningState:
          description: Provisioning state of the resource.
          type: string
    FileContainersList:
      description: List of file containers.
      properties:
        value:
          description: List of file containers.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              location:
                description: Location of the resource.
                type: string
              properties:
                description: File Container properties
                x-ms-client-flatten: true
                type: object
                properties:
                  fileContainerId:
                    description: File container resource identifier containing product
                      manifest.
                    type: string
                  sourceUri:
                    description: The remote file location. This is write-only property,
                      DRP never returns it back to a user.
                    type: string
                  uri:
                    description: The file or container Uri. This is read-only property;
                      a user cannot set it.
                    type: string
                  postCopyAction:
                    description: Specifies the file post copy action.
                    type: string
                    enum:
                    - None
                    - Unzip
                    x-ms-enum:
                      modelAsString: true
                      name: PostCopyAction
                  error:
                    description: The error response message.
                    type: object
                    properties:
                      code:
                        description: The error code.
                        type: string
                      message:
                        description: The error message.
                        type: string
                      details:
                        description: The detailed error messages.
                        type: array
                        items:
                          description: Extended Error Information.
                          type: object
                          properties:
                            code:
                              description: The error code.
                              type: string
                            message:
                              description: The error message.
                              type: string
                            details:
                              description: The detailed error messages.
                              type: array
                              items:
                                description: Extended Error Information.
                                type: object
                                properties:
                                  code:
                                    description: The error code.
                                    type: string
                                  message:
                                    description: The error message.
                                    type: string
                              x-ms-identifiers: []
                        x-ms-identifiers: []
                  provisioningState:
                    description: Provisioning state of the resource.
                    type: string
            description: Object model of azure resource manager base.
            x-ms-azure-resource: true
        nextLink:
          description: Continuation token.
          type: string
    ErrorInfo:
      description: Extended Error Information.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        details:
          description: The detailed error messages.
          type: array
          items:
            description: Extended Error Information.
            type: object
            properties:
              code:
                description: The error code.
                type: string
              message:
                description: The error message.
                type: string
              details:
                description: The detailed error messages.
                type: array
                items:
                  description: Extended Error Information.
                  type: object
                  properties:
                    code:
                      description: The error code.
                      type: string
                    message:
                      description: The error message.
                      type: string
                x-ms-identifiers: []
          x-ms-identifiers: []
    PostCopyAction:
      description: Specifies the file post copy action.
      type: string
      enum:
      - None
      - Unzip
      x-ms-enum:
        modelAsString: true
        name: PostCopyAction
    SourceUri:
      description: Specifies The remote file location.
      type: string
    FileContainerId:
      description: File container resource identifier containing product manifest.
      type: string
    FileContainerParameters:
      description: Parameters for creating a new file container.
      type: object
      properties:
        properties:
          description: Specifies the file container body
          type: object
          properties:
            postCopyAction:
              description: Specifies the file post copy action.
              type: string
              enum:
              - None
              - Unzip
              x-ms-enum:
                modelAsString: true
                name: PostCopyAction
            sourceUri:
              description: Specifies The remote file location.
              type: string
    FileContainerBody:
      description: Body for creating a new file container.
      type: object
      properties:
        postCopyAction:
          description: Specifies the file post copy action.
          type: string
          enum:
          - None
          - Unzip
          x-ms-enum:
            modelAsString: true
            name: PostCopyAction
        sourceUri:
          description: Specifies The remote file location.
          type: string
    Resource:
      description: Object model of azure resource manager base.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
      x-ms-azure-resource: true
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
