openapi: 3.0.0
info:
  version: 2019-01-01
  title: DeploymentAdminClient
  description: Deployment Admin Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets:
    get:
      description: Returns an array of product secrets.
      tags:
      - ProductSecrets
      operationId: ProductSecrets_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      - name: packageId
        in: path
        description: The package identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of product secrets.
                properties:
                  value:
                    description: List of product secrets.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        location:
                          description: Location of the resource.
                          type: string
                        properties:
                          description: Properties of a product secret.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            secretState:
                              description: The secret state.
                              type: object
                              properties:
                                status:
                                  description: The secret status.
                                  type: string
                                  enum:
                                  - NotUploaded
                                  - Uploaded
                                  - Deployed
                                  x-ms-enum:
                                    modelAsString: true
                                    name: SecretStatus
                                rotationStatus:
                                  description: the secret rotation status.
                                  type: string
                                  enum:
                                  - None
                                  - InProgress
                                  - Complete
                                  x-ms-enum:
                                    modelAsString: true
                                    name: SecretRotationStatus
                                expirationDate:
                                  description: The secret expiration date.
                                  type: string
                                  format: date-time
                            secretDescriptor:
                              description: The secret type-specific descriptor.
                              type: object
                              properties:
                                keyLength:
                                  description: The key length.
                                  type: integer
                                alternativeDnsNames:
                                  description: Alternative DNS Names.
                                  type: array
                                  items:
                                    description: List of alternative DNS names.
                                    type: string
                                secondaryKeyIsActive:
                                  description: A value indicating whether the secondary
                                    or primary storage account key is active as a
                                    secret.
                                  type: boolean
                                rotationStatus:
                                  description: The storage account key secret rotation
                                    status.
                                  type: string
                                  enum:
                                  - None
                                  - PlantNewSak
                                  - RotateInactiveSak
                                  - Complete
                                  x-ms-enum:
                                    modelAsString: true
                                    name: RotationStatus
                                passwordLength:
                                  description: The minimum password length is 8 characters,
                                    and the maximum password length is 128 characters.
                                  type: integer
                                allowedCharacters:
                                  description: The allowed characters in the password
                                  type: string
                                passwordValidationRegex:
                                  description: Password validation regular expression.
                                  type: string
                                subject:
                                  description: Certificate's subject
                                  type: string
                                alternativeIpAddresses:
                                  description: The list of alternative IP addresses.
                                  type: array
                                  items:
                                    description: List of alternative IP Addresses.
                                    type: string
                            expiresAfter:
                              description: The expiration period of the secret (in
                                ISO8601 format).
                              type: string
                            description:
                              description: The secret description.
                              type: string
                            provisioningState:
                              description: Provisioning state of the resource.
                              type: string
                            secretKind:
                              description: Specifies the secret kind.
                              type: string
                              enum:
                              - AdHoc
                              - Certificate
                              - Password
                              - StorageAccount
                              - SymmetricKey
                              x-ms-enum:
                                modelAsString: true
                                name: SecretKind
                      description: Object model of azure resource manager base.
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}
  : get:
      description: Returns the specific product secret.
      tags:
      - ProductSecrets
      operationId: ProductSecrets_GET
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      - name: packageId
        in: path
        description: The package identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The secret name.
        name: secretName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    description: Properties of a product secret.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      secretState:
                        description: The secret state.
                        type: object
                        properties:
                          status:
                            description: The secret status.
                            type: string
                            enum:
                            - NotUploaded
                            - Uploaded
                            - Deployed
                            x-ms-enum:
                              modelAsString: true
                              name: SecretStatus
                          rotationStatus:
                            description: the secret rotation status.
                            type: string
                            enum:
                            - None
                            - InProgress
                            - Complete
                            x-ms-enum:
                              modelAsString: true
                              name: SecretRotationStatus
                          expirationDate:
                            description: The secret expiration date.
                            type: string
                            format: date-time
                      secretDescriptor:
                        description: The secret type-specific descriptor.
                        type: object
                        properties:
                          keyLength:
                            description: The key length.
                            type: integer
                          alternativeDnsNames:
                            description: Alternative DNS Names.
                            type: array
                            items:
                              description: List of alternative DNS names.
                              type: string
                          secondaryKeyIsActive:
                            description: A value indicating whether the secondary
                              or primary storage account key is active as a secret.
                            type: boolean
                          rotationStatus:
                            description: The storage account key secret rotation status.
                            type: string
                            enum:
                            - None
                            - PlantNewSak
                            - RotateInactiveSak
                            - Complete
                            x-ms-enum:
                              modelAsString: true
                              name: RotationStatus
                          passwordLength:
                            description: The minimum password length is 8 characters,
                              and the maximum password length is 128 characters.
                            type: integer
                          allowedCharacters:
                            description: The allowed characters in the password
                            type: string
                          passwordValidationRegex:
                            description: Password validation regular expression.
                            type: string
                          subject:
                            description: Certificate's subject
                            type: string
                          alternativeIpAddresses:
                            description: The list of alternative IP addresses.
                            type: array
                            items:
                              description: List of alternative IP Addresses.
                              type: string
                      expiresAfter:
                        description: The expiration period of the secret (in ISO8601
                          format).
                        type: string
                      description:
                        description: The secret description.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                      secretKind:
                        description: Specifies the secret kind.
                        type: string
                        enum:
                        - AdHoc
                        - Certificate
                        - Password
                        - StorageAccount
                        - SymmetricKey
                        x-ms-enum:
                          modelAsString: true
                          name: SecretKind
                description: Object model of azure resource manager base.
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}/import
  : post:
      description: Imports a product secret.
      tags:
      - ProductSecrets
      operationId: ProductSecrets_Set
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: packageId
        in: path
        description: The package identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The secret name.
        name: secretName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters required for creating/updating a product secret.
              type: object
              properties:
                value:
                  description: The secret value in a secure string format.
                  type: string
                data:
                  description: The pfx certificate converted Base64 data.
                  type: string
                password:
                  description: The pfx certificate file password.
                  type: string
                key:
                  description: The symmetric key.
                  type: string
        description: The parameters required for creating/updating a product secret.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Accepted
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}/validate
  : post:
      description: Validates a product secret.
      tags:
      - ProductSecrets
      operationId: ProductSecrets_Validate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: packageId
        in: path
        description: The package identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The secret name.
        name: secretName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters required for creating/updating a product secret.
              type: object
              properties:
                value:
                  description: The secret value in a secure string format.
                  type: string
                data:
                  description: The pfx certificate converted Base64 data.
                  type: string
                password:
                  description: The pfx certificate file password.
                  type: string
                key:
                  description: The symmetric key.
                  type: string
        description: The parameters required for creating/updating a product secret.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Accepted
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
components:
  parameters:
    SecretNameParameter:
      description: The secret name.
      name: secretName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2019-01-01
    PackageIdParameter:
      name: packageId
      in: path
      description: The package identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  requestBodies:
    ProductSecrets_SetSecretparameters:
      content:
        application/json:
          schema:
            description: Parameters required for creating/updating a product secret.
            type: object
            properties:
              value:
                description: The secret value in a secure string format.
                type: string
              data:
                description: The pfx certificate converted Base64 data.
                type: string
              password:
                description: The pfx certificate file password.
                type: string
              key:
                description: The symmetric key.
                type: string
      description: The parameters required for creating/updating a product secret.
      required: true
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProductSecret:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
        properties:
          description: Properties of a product secret.
          x-ms-client-flatten: true
          type: object
          properties:
            secretState:
              description: The secret state.
              type: object
              properties:
                status:
                  description: The secret status.
                  type: string
                  enum:
                  - NotUploaded
                  - Uploaded
                  - Deployed
                  x-ms-enum:
                    modelAsString: true
                    name: SecretStatus
                rotationStatus:
                  description: the secret rotation status.
                  type: string
                  enum:
                  - None
                  - InProgress
                  - Complete
                  x-ms-enum:
                    modelAsString: true
                    name: SecretRotationStatus
                expirationDate:
                  description: The secret expiration date.
                  type: string
                  format: date-time
            secretDescriptor:
              description: The secret type-specific descriptor.
              type: object
              properties:
                keyLength:
                  description: The key length.
                  type: integer
                alternativeDnsNames:
                  description: Alternative DNS Names.
                  type: array
                  items:
                    description: List of alternative DNS names.
                    type: string
                secondaryKeyIsActive:
                  description: A value indicating whether the secondary or primary
                    storage account key is active as a secret.
                  type: boolean
                rotationStatus:
                  description: The storage account key secret rotation status.
                  type: string
                  enum:
                  - None
                  - PlantNewSak
                  - RotateInactiveSak
                  - Complete
                  x-ms-enum:
                    modelAsString: true
                    name: RotationStatus
                passwordLength:
                  description: The minimum password length is 8 characters, and the
                    maximum password length is 128 characters.
                  type: integer
                allowedCharacters:
                  description: The allowed characters in the password
                  type: string
                passwordValidationRegex:
                  description: Password validation regular expression.
                  type: string
                subject:
                  description: Certificate's subject
                  type: string
                alternativeIpAddresses:
                  description: The list of alternative IP addresses.
                  type: array
                  items:
                    description: List of alternative IP Addresses.
                    type: string
            expiresAfter:
              description: The expiration period of the secret (in ISO8601 format).
              type: string
            description:
              description: The secret description.
              type: string
            provisioningState:
              description: Provisioning state of the resource.
              type: string
            secretKind:
              description: Specifies the secret kind.
              type: string
              enum:
              - AdHoc
              - Certificate
              - Password
              - StorageAccount
              - SymmetricKey
              x-ms-enum:
                modelAsString: true
                name: SecretKind
      description: Object model of azure resource manager base.
      x-ms-azure-resource: true
    ProductSecretsList:
      description: List of product secrets.
      properties:
        value:
          description: List of product secrets.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              location:
                description: Location of the resource.
                type: string
              properties:
                description: Properties of a product secret.
                x-ms-client-flatten: true
                type: object
                properties:
                  secretState:
                    description: The secret state.
                    type: object
                    properties:
                      status:
                        description: The secret status.
                        type: string
                        enum:
                        - NotUploaded
                        - Uploaded
                        - Deployed
                        x-ms-enum:
                          modelAsString: true
                          name: SecretStatus
                      rotationStatus:
                        description: the secret rotation status.
                        type: string
                        enum:
                        - None
                        - InProgress
                        - Complete
                        x-ms-enum:
                          modelAsString: true
                          name: SecretRotationStatus
                      expirationDate:
                        description: The secret expiration date.
                        type: string
                        format: date-time
                  secretDescriptor:
                    description: The secret type-specific descriptor.
                    type: object
                    properties:
                      keyLength:
                        description: The key length.
                        type: integer
                      alternativeDnsNames:
                        description: Alternative DNS Names.
                        type: array
                        items:
                          description: List of alternative DNS names.
                          type: string
                      secondaryKeyIsActive:
                        description: A value indicating whether the secondary or primary
                          storage account key is active as a secret.
                        type: boolean
                      rotationStatus:
                        description: The storage account key secret rotation status.
                        type: string
                        enum:
                        - None
                        - PlantNewSak
                        - RotateInactiveSak
                        - Complete
                        x-ms-enum:
                          modelAsString: true
                          name: RotationStatus
                      passwordLength:
                        description: The minimum password length is 8 characters,
                          and the maximum password length is 128 characters.
                        type: integer
                      allowedCharacters:
                        description: The allowed characters in the password
                        type: string
                      passwordValidationRegex:
                        description: Password validation regular expression.
                        type: string
                      subject:
                        description: Certificate's subject
                        type: string
                      alternativeIpAddresses:
                        description: The list of alternative IP addresses.
                        type: array
                        items:
                          description: List of alternative IP Addresses.
                          type: string
                  expiresAfter:
                    description: The expiration period of the secret (in ISO8601 format).
                    type: string
                  description:
                    description: The secret description.
                    type: string
                  provisioningState:
                    description: Provisioning state of the resource.
                    type: string
                  secretKind:
                    description: Specifies the secret kind.
                    type: string
                    enum:
                    - AdHoc
                    - Certificate
                    - Password
                    - StorageAccount
                    - SymmetricKey
                    x-ms-enum:
                      modelAsString: true
                      name: SecretKind
            description: Object model of azure resource manager base.
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    ProductSecretProperties:
      type: object
      description: Properties of product secret.
      properties:
        secretState:
          description: The secret state.
          type: object
          properties:
            status:
              description: The secret status.
              type: string
              enum:
              - NotUploaded
              - Uploaded
              - Deployed
              x-ms-enum:
                modelAsString: true
                name: SecretStatus
            rotationStatus:
              description: the secret rotation status.
              type: string
              enum:
              - None
              - InProgress
              - Complete
              x-ms-enum:
                modelAsString: true
                name: SecretRotationStatus
            expirationDate:
              description: The secret expiration date.
              type: string
              format: date-time
        secretDescriptor:
          description: The secret type-specific descriptor.
          type: object
          properties:
            keyLength:
              description: The key length.
              type: integer
            alternativeDnsNames:
              description: Alternative DNS Names.
              type: array
              items:
                description: List of alternative DNS names.
                type: string
            secondaryKeyIsActive:
              description: A value indicating whether the secondary or primary storage
                account key is active as a secret.
              type: boolean
            rotationStatus:
              description: The storage account key secret rotation status.
              type: string
              enum:
              - None
              - PlantNewSak
              - RotateInactiveSak
              - Complete
              x-ms-enum:
                modelAsString: true
                name: RotationStatus
            passwordLength:
              description: The minimum password length is 8 characters, and the maximum
                password length is 128 characters.
              type: integer
            allowedCharacters:
              description: The allowed characters in the password
              type: string
            passwordValidationRegex:
              description: Password validation regular expression.
              type: string
            subject:
              description: Certificate's subject
              type: string
            alternativeIpAddresses:
              description: The list of alternative IP addresses.
              type: array
              items:
                description: List of alternative IP Addresses.
                type: string
        expiresAfter:
          description: The expiration period of the secret (in ISO8601 format).
          type: string
        description:
          description: The secret description.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          type: string
        secretKind:
          description: Specifies the secret kind.
          type: string
          enum:
          - AdHoc
          - Certificate
          - Password
          - StorageAccount
          - SymmetricKey
          x-ms-enum:
            modelAsString: true
            name: SecretKind
    SecretDescriptor:
      description: The secret type-specific descriptor.
      type: object
      properties:
        keyLength:
          description: The key length.
          type: integer
        alternativeDnsNames:
          description: Alternative DNS Names.
          type: array
          items:
            description: List of alternative DNS names.
            type: string
        secondaryKeyIsActive:
          description: A value indicating whether the secondary or primary storage
            account key is active as a secret.
          type: boolean
        rotationStatus:
          description: The storage account key secret rotation status.
          type: string
          enum:
          - None
          - PlantNewSak
          - RotateInactiveSak
          - Complete
          x-ms-enum:
            modelAsString: true
            name: RotationStatus
        passwordLength:
          description: The minimum password length is 8 characters, and the maximum
            password length is 128 characters.
          type: integer
        allowedCharacters:
          description: The allowed characters in the password
          type: string
        passwordValidationRegex:
          description: Password validation regular expression.
          type: string
        subject:
          description: Certificate's subject
          type: string
        alternativeIpAddresses:
          description: The list of alternative IP addresses.
          type: array
          items:
            description: List of alternative IP Addresses.
            type: string
    AlternativeDnsNames:
      description: List of alternative DNS names.
      type: string
    AlternativeIpAddresses:
      description: List of alternative IP Addresses.
      type: string
    SecretState:
      description: Represents the secret state.
      type: object
      properties:
        status:
          description: The secret status.
          type: string
          enum:
          - NotUploaded
          - Uploaded
          - Deployed
          x-ms-enum:
            modelAsString: true
            name: SecretStatus
        rotationStatus:
          description: the secret rotation status.
          type: string
          enum:
          - None
          - InProgress
          - Complete
          x-ms-enum:
            modelAsString: true
            name: SecretRotationStatus
        expirationDate:
          description: The secret expiration date.
          type: string
          format: date-time
    SecretStatus:
      description: Specifies the secret status.
      type: string
      enum:
      - NotUploaded
      - Uploaded
      - Deployed
      x-ms-enum:
        modelAsString: true
        name: SecretStatus
    SecretRotationStatus:
      description: Specifies the secret rotation status.
      type: string
      enum:
      - None
      - InProgress
      - Complete
      x-ms-enum:
        modelAsString: true
        name: SecretRotationStatus
    value:
      description: The secret value in a secure string format.
      type: string
    data:
      description: The converted Base64 String from a certificate pfx file.
      type: string
    key:
      description: The symmetric key as a secure string.
      type: string
    password:
      description: The password as a secure string.
      type: string
    SecretParameters:
      description: Parameters required for creating/updating a product secret.
      type: object
      properties:
        value:
          description: The secret value in a secure string format.
          type: string
        data:
          description: The pfx certificate converted Base64 data.
          type: string
        password:
          description: The pfx certificate file password.
          type: string
        key:
          description: The symmetric key.
          type: string
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Object model of azure resource manager base.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
      x-ms-azure-resource: true
