openapi: 3.0.0
info:
  version: 2019-01-01
  title: DeploymentAdminClient
  description: Deployment Admin Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments:
    get:
      description: Invokes bootstrap action on the product deployment
      tags:
      - ProductDeployments
      operationId: ProductDeployments_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                description: List of Product Deployments.
                properties:
                  value:
                    description: List of Product Deployments.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        location:
                          description: Location of the resource.
                          type: string
                        properties:
                          description: Product deployment resource properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            status:
                              description: Status of the product deployment.
                              type: string
                              enum:
                              - None
                              - Bootstrapping
                              - BootstrapSucceeded
                              - BootstrapFailed
                              - Deploying
                              - DeploymentSucceeded
                              - DeploymentFailed
                              - Updating
                              - UpdateSucceeded
                              - UpdateFailed
                              - Removing
                              - RemoveFailed
                              - SecretRotationInProgress
                              - SecretRotationSucceeded
                              - SecretRotationFailed
                              - Migrated
                              x-ms-enum:
                                name: DeploymentStatus
                                modelAsString: true
                            subscriptionId:
                              description: The product subscription identifier
                              type: string
                            deployment:
                              description: The current deployment information
                              type: object
                              properties:
                                version:
                                  description: The product version
                                  type: string
                                parameters:
                                  description: The latest deployment parameters as
                                    JToken
                                  type: string
                                actionPlanInstanceResourceId:
                                  description: The identifier of the latest action
                                    plan instance resource.
                                  type: string
                                eTag:
                                  description: entity tag
                                  type: string
                            lastSuccessfulDeployment:
                              description: The last successful deployment information
                              type: object
                              properties:
                                version:
                                  description: The product version
                                  type: string
                                parameters:
                                  description: The latest deployment parameters as
                                    JToken
                                  type: string
                                actionPlanInstanceResourceId:
                                  description: The identifier of the latest action
                                    plan instance resource.
                                  type: string
                                eTag:
                                  description: entity tag
                                  type: string
                            secretRotation:
                              description: Resource provider secret rotation information
                              type: object
                              properties:
                                secretRotationPlanInstanceResourceId:
                                  description: The identifier of the latest secret
                                    rotation plan instance resource.
                                  type: string
                            internalState:
                              description: Product deployment resource internal state
                              type: object
                              properties:
                                jobId:
                                  description: The latest deployment job identifier
                                  type: string
                                intermediateVaultId:
                                  description: The intermediate vault resource identifier
                                  type: string
                                intermediateVaultUri:
                                  description: The intermediate vault Uri.
                                  type: string
                                externalAccessRoleAssignmentId:
                                  description: The current external access role assignment
                                    identifier
                                  type: string
                            error:
                              description: Error Information
                              type: object
                              properties:
                                error:
                                  description: The error details.
                                  type: object
                                  properties:
                                    code:
                                      description: Service specific error code which
                                        serves as the substatus for the HTTP error
                                        code.
                                      type: string
                                      readOnly: true
                                    message:
                                      description: Description of the error.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Internal error details.
                                      type: array
                                      items:
                                        type: object
                                        description: Error definition.
                                        properties:
                                          code:
                                            description: Service specific error code
                                              which serves as the substatus for the
                                              HTTP error code.
                                            type: string
                                            readOnly: true
                                          message:
                                            description: Description of the error.
                                            type: string
                                            readOnly: true
                                          details:
                                            description: Internal error details.
                                            type: array
                                            items:
                                              type: object
                                              description: Error definition.
                                              properties:
                                                code:
                                                  description: Service specific error
                                                    code which serves as the substatus
                                                    for the HTTP error code.
                                                  type: string
                                                  readOnly: true
                                                message:
                                                  description: Description of the
                                                    error.
                                                  type: string
                                                  readOnly: true
                                            x-ms-identifiers: []
                                            readOnly: true
                                      x-ms-identifiers: []
                                      readOnly: true
                            externalAccess:
                              description: Resource provider secret rotation information
                              type: object
                              properties:
                                principalId:
                                  description: The object identifier of the user,
                                    group or service principal that have access to
                                    resource provider subscription.
                                  type: string
                                expirationTime:
                                  description: The deployment start time
                                  type: string
                                  format: date-time
                            provisioningState:
                              description: The provisioning state
                              type: string
                            productId:
                              description: The product identifier
                              type: string
                        eTag:
                          description: entity tag
                          type: string
                      description: Object model of azure resource manager base.
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}:
    get:
      description: Invokes bootstrap action on the product deployment
      tags:
      - ProductDeployments
      operationId: ProductDeployments_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      - name: productId
        in: path
        description: The product identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    description: Product deployment resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      status:
                        description: Status of the product deployment.
                        type: string
                        enum:
                        - None
                        - Bootstrapping
                        - BootstrapSucceeded
                        - BootstrapFailed
                        - Deploying
                        - DeploymentSucceeded
                        - DeploymentFailed
                        - Updating
                        - UpdateSucceeded
                        - UpdateFailed
                        - Removing
                        - RemoveFailed
                        - SecretRotationInProgress
                        - SecretRotationSucceeded
                        - SecretRotationFailed
                        - Migrated
                        x-ms-enum:
                          name: DeploymentStatus
                          modelAsString: true
                      subscriptionId:
                        description: The product subscription identifier
                        type: string
                      deployment:
                        description: The current deployment information
                        type: object
                        properties:
                          version:
                            description: The product version
                            type: string
                          parameters:
                            description: The latest deployment parameters as JToken
                            type: string
                          actionPlanInstanceResourceId:
                            description: The identifier of the latest action plan
                              instance resource.
                            type: string
                          eTag:
                            description: entity tag
                            type: string
                      lastSuccessfulDeployment:
                        description: The last successful deployment information
                        type: object
                        properties:
                          version:
                            description: The product version
                            type: string
                          parameters:
                            description: The latest deployment parameters as JToken
                            type: string
                          actionPlanInstanceResourceId:
                            description: The identifier of the latest action plan
                              instance resource.
                            type: string
                          eTag:
                            description: entity tag
                            type: string
                      secretRotation:
                        description: Resource provider secret rotation information
                        type: object
                        properties:
                          secretRotationPlanInstanceResourceId:
                            description: The identifier of the latest secret rotation
                              plan instance resource.
                            type: string
                      internalState:
                        description: Product deployment resource internal state
                        type: object
                        properties:
                          jobId:
                            description: The latest deployment job identifier
                            type: string
                          intermediateVaultId:
                            description: The intermediate vault resource identifier
                            type: string
                          intermediateVaultUri:
                            description: The intermediate vault Uri.
                            type: string
                          externalAccessRoleAssignmentId:
                            description: The current external access role assignment
                              identifier
                            type: string
                      error:
                        description: Error Information
                        type: object
                        properties:
                          error:
                            description: The error details.
                            type: object
                            properties:
                              code:
                                description: Service specific error code which serves
                                  as the substatus for the HTTP error code.
                                type: string
                                readOnly: true
                              message:
                                description: Description of the error.
                                type: string
                                readOnly: true
                              details:
                                description: Internal error details.
                                type: array
                                items:
                                  type: object
                                  description: Error definition.
                                  properties:
                                    code:
                                      description: Service specific error code which
                                        serves as the substatus for the HTTP error
                                        code.
                                      type: string
                                      readOnly: true
                                    message:
                                      description: Description of the error.
                                      type: string
                                      readOnly: true
                                    details:
                                      description: Internal error details.
                                      type: array
                                      items:
                                        type: object
                                        description: Error definition.
                                        properties:
                                          code:
                                            description: Service specific error code
                                              which serves as the substatus for the
                                              HTTP error code.
                                            type: string
                                            readOnly: true
                                          message:
                                            description: Description of the error.
                                            type: string
                                            readOnly: true
                                      x-ms-identifiers: []
                                      readOnly: true
                                x-ms-identifiers: []
                                readOnly: true
                      externalAccess:
                        description: Resource provider secret rotation information
                        type: object
                        properties:
                          principalId:
                            description: The object identifier of the user, group
                              or service principal that have access to resource provider
                              subscription.
                            type: string
                          expirationTime:
                            description: The deployment start time
                            type: string
                            format: date-time
                      provisioningState:
                        description: The provisioning state
                        type: string
                      productId:
                        description: The product identifier
                        type: string
                  eTag:
                    description: entity tag
                    type: string
                description: Object model of azure resource manager base.
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/bootstrap
  : post:
      description: Invokes bootstrap action on the product deployment
      tags:
      - ProductDeployments
      operationId: BootstrapAction_Product
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: productId
        in: path
        description: The product identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for bootstrap action
              type: object
              properties:
                version:
                  description: Generic Version object
                  type: string
        description: Represents bootstrap action parameter
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/deploy
  : post:
      description: Invokes deploy action on the product
      tags:
      - ProductDeployments
      operationId: DeployAction_Product
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: productId
        in: path
        description: The product identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for deploy action
              type: object
              properties:
                version:
                  description: Generic Version object
                  type: string
                parameters:
                  description: Deployment parameters, value in JToken
                  type: object
        description: Represents bootstrap action parameter
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/remove
  : post:
      description: Invokes remove action on the product deployment
      tags:
      - ProductDeployments
      operationId: RemoveAction_Product
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: productId
        in: path
        description: The product identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        '204':
          description: No Content
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/rotateSecrets
  : post:
      description: Invokes rotate secrets action on the product deployment
      tags:
      - ProductDeployments
      operationId: RotateSecretsAction_Product
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: productId
        in: path
        description: The product identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/executeRunner
  : post:
      description: Invokes execute runner action on the product deployment
      tags:
      - ProductDeployments
      operationId: ExecuteRunnerAction_Product
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: productId
        in: path
        description: The product identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for execute runner action
              type: object
              properties:
                parameters:
                  description: Execute Runner parameters, value in JToken
                  type: object
        description: Represents execute runner action parameter
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
components:
  parameters:
    ResourceGroupParameter:
      description: The resource group the resource is located under.
      name: resourceGroup
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2019-01-01
    ProductIdParameter:
      name: productId
      in: path
      description: The product identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProductDeploymentsList:
      description: List of Product Deployments.
      properties:
        value:
          description: List of Product Deployments.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              location:
                description: Location of the resource.
                type: string
              properties:
                description: Product deployment resource properties
                x-ms-client-flatten: true
                type: object
                properties:
                  status:
                    description: Status of the product deployment.
                    type: string
                    enum:
                    - None
                    - Bootstrapping
                    - BootstrapSucceeded
                    - BootstrapFailed
                    - Deploying
                    - DeploymentSucceeded
                    - DeploymentFailed
                    - Updating
                    - UpdateSucceeded
                    - UpdateFailed
                    - Removing
                    - RemoveFailed
                    - SecretRotationInProgress
                    - SecretRotationSucceeded
                    - SecretRotationFailed
                    - Migrated
                    x-ms-enum:
                      name: DeploymentStatus
                      modelAsString: true
                  subscriptionId:
                    description: The product subscription identifier
                    type: string
                  deployment:
                    description: The current deployment information
                    type: object
                    properties:
                      version:
                        description: The product version
                        type: string
                      parameters:
                        description: The latest deployment parameters as JToken
                        type: string
                      actionPlanInstanceResourceId:
                        description: The identifier of the latest action plan instance
                          resource.
                        type: string
                      eTag:
                        description: entity tag
                        type: string
                  lastSuccessfulDeployment:
                    description: The last successful deployment information
                    type: object
                    properties:
                      version:
                        description: The product version
                        type: string
                      parameters:
                        description: The latest deployment parameters as JToken
                        type: string
                      actionPlanInstanceResourceId:
                        description: The identifier of the latest action plan instance
                          resource.
                        type: string
                      eTag:
                        description: entity tag
                        type: string
                  secretRotation:
                    description: Resource provider secret rotation information
                    type: object
                    properties:
                      secretRotationPlanInstanceResourceId:
                        description: The identifier of the latest secret rotation
                          plan instance resource.
                        type: string
                  internalState:
                    description: Product deployment resource internal state
                    type: object
                    properties:
                      jobId:
                        description: The latest deployment job identifier
                        type: string
                      intermediateVaultId:
                        description: The intermediate vault resource identifier
                        type: string
                      intermediateVaultUri:
                        description: The intermediate vault Uri.
                        type: string
                      externalAccessRoleAssignmentId:
                        description: The current external access role assignment identifier
                        type: string
                  error:
                    description: Error Information
                    type: object
                    properties:
                      error:
                        description: The error details.
                        type: object
                        properties:
                          code:
                            description: Service specific error code which serves
                              as the substatus for the HTTP error code.
                            type: string
                            readOnly: true
                          message:
                            description: Description of the error.
                            type: string
                            readOnly: true
                          details:
                            description: Internal error details.
                            type: array
                            items:
                              type: object
                              description: Error definition.
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                                details:
                                  description: Internal error details.
                                  type: array
                                  items:
                                    type: object
                                    description: Error definition.
                                    properties:
                                      code:
                                        description: Service specific error code which
                                          serves as the substatus for the HTTP error
                                          code.
                                        type: string
                                        readOnly: true
                                      message:
                                        description: Description of the error.
                                        type: string
                                        readOnly: true
                                  x-ms-identifiers: []
                                  readOnly: true
                            x-ms-identifiers: []
                            readOnly: true
                  externalAccess:
                    description: Resource provider secret rotation information
                    type: object
                    properties:
                      principalId:
                        description: The object identifier of the user, group or service
                          principal that have access to resource provider subscription.
                        type: string
                      expirationTime:
                        description: The deployment start time
                        type: string
                        format: date-time
                  provisioningState:
                    description: The provisioning state
                    type: string
                  productId:
                    description: The product identifier
                    type: string
              eTag:
                description: entity tag
                type: string
            description: Object model of azure resource manager base.
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    ProductDeploymentResourceEntity:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
        properties:
          description: Product deployment resource properties
          x-ms-client-flatten: true
          type: object
          properties:
            status:
              description: Status of the product deployment.
              type: string
              enum:
              - None
              - Bootstrapping
              - BootstrapSucceeded
              - BootstrapFailed
              - Deploying
              - DeploymentSucceeded
              - DeploymentFailed
              - Updating
              - UpdateSucceeded
              - UpdateFailed
              - Removing
              - RemoveFailed
              - SecretRotationInProgress
              - SecretRotationSucceeded
              - SecretRotationFailed
              - Migrated
              x-ms-enum:
                name: DeploymentStatus
                modelAsString: true
            subscriptionId:
              description: The product subscription identifier
              type: string
            deployment:
              description: The current deployment information
              type: object
              properties:
                version:
                  description: The product version
                  type: string
                parameters:
                  description: The latest deployment parameters as JToken
                  type: string
                actionPlanInstanceResourceId:
                  description: The identifier of the latest action plan instance resource.
                  type: string
                eTag:
                  description: entity tag
                  type: string
            lastSuccessfulDeployment:
              description: The last successful deployment information
              type: object
              properties:
                version:
                  description: The product version
                  type: string
                parameters:
                  description: The latest deployment parameters as JToken
                  type: string
                actionPlanInstanceResourceId:
                  description: The identifier of the latest action plan instance resource.
                  type: string
                eTag:
                  description: entity tag
                  type: string
            secretRotation:
              description: Resource provider secret rotation information
              type: object
              properties:
                secretRotationPlanInstanceResourceId:
                  description: The identifier of the latest secret rotation plan instance
                    resource.
                  type: string
            internalState:
              description: Product deployment resource internal state
              type: object
              properties:
                jobId:
                  description: The latest deployment job identifier
                  type: string
                intermediateVaultId:
                  description: The intermediate vault resource identifier
                  type: string
                intermediateVaultUri:
                  description: The intermediate vault Uri.
                  type: string
                externalAccessRoleAssignmentId:
                  description: The current external access role assignment identifier
                  type: string
            error:
              description: Error Information
              type: object
              properties:
                error:
                  description: The error details.
                  type: object
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                    details:
                      description: Internal error details.
                      type: array
                      items:
                        type: object
                        description: Error definition.
                        properties:
                          code:
                            description: Service specific error code which serves
                              as the substatus for the HTTP error code.
                            type: string
                            readOnly: true
                          message:
                            description: Description of the error.
                            type: string
                            readOnly: true
                          details:
                            description: Internal error details.
                            type: array
                            items:
                              type: object
                              description: Error definition.
                              properties:
                                code:
                                  description: Service specific error code which serves
                                    as the substatus for the HTTP error code.
                                  type: string
                                  readOnly: true
                                message:
                                  description: Description of the error.
                                  type: string
                                  readOnly: true
                            x-ms-identifiers: []
                            readOnly: true
                      x-ms-identifiers: []
                      readOnly: true
            externalAccess:
              description: Resource provider secret rotation information
              type: object
              properties:
                principalId:
                  description: The object identifier of the user, group or service
                    principal that have access to resource provider subscription.
                  type: string
                expirationTime:
                  description: The deployment start time
                  type: string
                  format: date-time
            provisioningState:
              description: The provisioning state
              type: string
            productId:
              description: The product identifier
              type: string
        eTag:
          description: entity tag
          type: string
      description: Object model of azure resource manager base.
      x-ms-azure-resource: true
    ProductDeploymentsProperties:
      type: object
      description: Product deployment resource properties
      properties:
        status:
          description: Status of the product deployment.
          type: string
          enum:
          - None
          - Bootstrapping
          - BootstrapSucceeded
          - BootstrapFailed
          - Deploying
          - DeploymentSucceeded
          - DeploymentFailed
          - Updating
          - UpdateSucceeded
          - UpdateFailed
          - Removing
          - RemoveFailed
          - SecretRotationInProgress
          - SecretRotationSucceeded
          - SecretRotationFailed
          - Migrated
          x-ms-enum:
            name: DeploymentStatus
            modelAsString: true
        subscriptionId:
          description: The product subscription identifier
          type: string
        deployment:
          description: The current deployment information
          type: object
          properties:
            version:
              description: The product version
              type: string
            parameters:
              description: The latest deployment parameters as JToken
              type: string
            actionPlanInstanceResourceId:
              description: The identifier of the latest action plan instance resource.
              type: string
            eTag:
              description: entity tag
              type: string
        lastSuccessfulDeployment:
          description: The last successful deployment information
          type: object
          properties:
            version:
              description: The product version
              type: string
            parameters:
              description: The latest deployment parameters as JToken
              type: string
            actionPlanInstanceResourceId:
              description: The identifier of the latest action plan instance resource.
              type: string
            eTag:
              description: entity tag
              type: string
        secretRotation:
          description: Resource provider secret rotation information
          type: object
          properties:
            secretRotationPlanInstanceResourceId:
              description: The identifier of the latest secret rotation plan instance
                resource.
              type: string
        internalState:
          description: Product deployment resource internal state
          type: object
          properties:
            jobId:
              description: The latest deployment job identifier
              type: string
            intermediateVaultId:
              description: The intermediate vault resource identifier
              type: string
            intermediateVaultUri:
              description: The intermediate vault Uri.
              type: string
            externalAccessRoleAssignmentId:
              description: The current external access role assignment identifier
              type: string
        error:
          description: Error Information
          type: object
          properties:
            error:
              description: The error details.
              type: object
              properties:
                code:
                  description: Service specific error code which serves as the substatus
                    for the HTTP error code.
                  type: string
                  readOnly: true
                message:
                  description: Description of the error.
                  type: string
                  readOnly: true
                details:
                  description: Internal error details.
                  type: array
                  items:
                    type: object
                    description: Error definition.
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
                  x-ms-identifiers: []
                  readOnly: true
        externalAccess:
          description: Resource provider secret rotation information
          type: object
          properties:
            principalId:
              description: The object identifier of the user, group or service principal
                that have access to resource provider subscription.
              type: string
            expirationTime:
              description: The deployment start time
              type: string
              format: date-time
        provisioningState:
          description: The provisioning state
          type: string
        productId:
          description: The product identifier
          type: string
    DeploymentStatus:
      description: Status of an operation.
      type: string
      enum:
      - None
      - Bootstrapping
      - BootstrapSucceeded
      - BootstrapFailed
      - Deploying
      - DeploymentSucceeded
      - DeploymentFailed
      - Updating
      - UpdateSucceeded
      - UpdateFailed
      - Removing
      - RemoveFailed
      - SecretRotationInProgress
      - SecretRotationSucceeded
      - SecretRotationFailed
      - Migrated
      x-ms-enum:
        name: DeploymentStatus
        modelAsString: true
    DeploymentInfo:
      type: object
      description: Resource provider deployment information
      properties:
        version:
          description: The product version
          type: string
        parameters:
          description: The latest deployment parameters as JToken
          type: string
        actionPlanInstanceResourceId:
          description: The identifier of the latest action plan instance resource.
          type: string
        eTag:
          description: entity tag
          type: string
    SecretRotationInfo:
      type: object
      description: Resource provider deployment information
      properties:
        secretRotationPlanInstanceResourceId:
          description: The identifier of the latest secret rotation plan instance
            resource.
          type: string
    ExternalAccessInfo:
      type: object
      description: Resource provider deployment information
      properties:
        principalId:
          description: The object identifier of the user, group or service principal
            that have access to resource provider subscription.
          type: string
        expirationTime:
          description: The deployment start time
          type: string
          format: date-time
    ProductDeploymentsInternalState:
      type: object
      description: Resource type internal state
      properties:
        jobId:
          description: The latest deployment job identifier
          type: string
        intermediateVaultId:
          description: The intermediate vault resource identifier
          type: string
        intermediateVaultUri:
          description: The intermediate vault Uri.
          type: string
        externalAccessRoleAssignmentId:
          description: The current external access role assignment identifier
          type: string
    DeployActionParameters:
      description: Parameters for deploy action
      type: object
      properties:
        version:
          description: Generic Version object
          type: string
        parameters:
          description: Deployment parameters, value in JToken
          type: object
    BootStrapActionParameters:
      description: Parameters for bootstrap action
      type: object
      properties:
        version:
          description: Generic Version object
          type: string
    ExecuteRunnerActionParameters:
      description: Parameters for execute runner action
      type: object
      properties:
        parameters:
          description: Execute Runner parameters, value in JToken
          type: object
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Object model of azure resource manager base.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
      x-ms-azure-resource: true
