openapi: 3.0.0
info:
  version: 2019-01-01
  title: DeploymentAdminClient
  description: Deployment Admin Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages:
    get:
      description: Returns an array of product packages.
      tags:
      - ProductPackages
      operationId: ProductPackages_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of product packages.
                properties:
                  value:
                    description: List of product packages.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: ID of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of Resource.
                          type: string
                        location:
                          description: Location of the resource.
                          type: string
                        properties:
                          description: Properties of a product package.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            fileContainerId:
                              description: File container resource identifier containing
                                product manifest.
                              type: string
                            isDeployable:
                              description: Value indicating whether the package is
                                applicable for deployment.
                              type: boolean
                            isUpdatable:
                              description: Value indicating whether the package is
                                applicable for update.
                              type: boolean
                            productDeploymentId:
                              description: The identifier of product deployment; null
                                if this version is not installed.
                              type: string
                            provisioningState:
                              description: Provisioning state of the resource.
                              type: string
                      description: Object model of azure resource manager base.
                      x-ms-azure-resource: true
                  nextLink:
                    description: Continuation Token.
                    type: string
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}:
    get:
      description: Retrieves the specific product package details.
      tags:
      - ProductPackages
      operationId: ProductPackages_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: packageId
        in: path
        description: The package identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    description: Properties of a product package.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      fileContainerId:
                        description: File container resource identifier containing
                          product manifest.
                        type: string
                      isDeployable:
                        description: Value indicating whether the package is applicable
                          for deployment.
                        type: boolean
                      isUpdatable:
                        description: Value indicating whether the package is applicable
                          for update.
                        type: boolean
                      productDeploymentId:
                        description: The identifier of product deployment; null if
                          this version is not installed.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                description: Object model of azure resource manager base.
                x-ms-azure-resource: true
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      description: Creates a new product package.
      tags:
      - ProductPackages
      operationId: ProductPackages_Create
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: packageId
        in: path
        description: The package identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters for creating a new product package.
              type: object
              properties:
                properties:
                  description: Specifies the product package
                  type: object
                  properties:
                    fileContainerId:
                      description: Specifies the file container.
                      type: string
        description: The parameters required to create a new product package.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: ID of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of Resource.
                    type: string
                  location:
                    description: Location of the resource.
                    type: string
                  properties:
                    description: Properties of a product package.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      fileContainerId:
                        description: File container resource identifier containing
                          product manifest.
                        type: string
                      isDeployable:
                        description: Value indicating whether the package is applicable
                          for deployment.
                        type: boolean
                      isUpdatable:
                        description: Value indicating whether the package is applicable
                          for update.
                        type: boolean
                      productDeploymentId:
                        description: The identifier of product deployment; null if
                          this version is not installed.
                        type: string
                      provisioningState:
                        description: Provisioning state of the resource.
                        type: string
                description: Object model of azure resource manager base.
                x-ms-azure-resource: true
        '202':
          description: Accepted
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
    delete:
      description: Deletes a product package.
      tags:
      - ProductPackages
      operationId: ProductPackages_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: packageId
        in: path
        description: The package identifier.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2019-01-01
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2019-01-01
    PackageIdParameter:
      name: packageId
      in: path
      description: The package identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProductPackage:
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
        properties:
          description: Properties of a product package.
          x-ms-client-flatten: true
          type: object
          properties:
            fileContainerId:
              description: File container resource identifier containing product manifest.
              type: string
            isDeployable:
              description: Value indicating whether the package is applicable for
                deployment.
              type: boolean
            isUpdatable:
              description: Value indicating whether the package is applicable for
                update.
              type: boolean
            productDeploymentId:
              description: The identifier of product deployment; null if this version
                is not installed.
              type: string
            provisioningState:
              description: Provisioning state of the resource.
              type: string
      description: Object model of azure resource manager base.
      x-ms-azure-resource: true
    ProductPackagesList:
      description: List of product packages.
      properties:
        value:
          description: List of product packages.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: ID of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of Resource.
                type: string
              location:
                description: Location of the resource.
                type: string
              properties:
                description: Properties of a product package.
                x-ms-client-flatten: true
                type: object
                properties:
                  fileContainerId:
                    description: File container resource identifier containing product
                      manifest.
                    type: string
                  isDeployable:
                    description: Value indicating whether the package is applicable
                      for deployment.
                    type: boolean
                  isUpdatable:
                    description: Value indicating whether the package is applicable
                      for update.
                    type: boolean
                  productDeploymentId:
                    description: The identifier of product deployment; null if this
                      version is not installed.
                    type: string
                  provisioningState:
                    description: Provisioning state of the resource.
                    type: string
            description: Object model of azure resource manager base.
            x-ms-azure-resource: true
        nextLink:
          description: Continuation Token.
          type: string
    ProductPackageProperties:
      type: object
      description: Properties for Product package.
      properties:
        fileContainerId:
          description: File container resource identifier containing product manifest.
          type: string
        isDeployable:
          description: Value indicating whether the package is applicable for deployment.
          type: boolean
        isUpdatable:
          description: Value indicating whether the package is applicable for update.
          type: boolean
        productDeploymentId:
          description: The identifier of product deployment; null if this version
            is not installed.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          type: string
    FileContainerId:
      description: File container resource identifier containing product manifest.
      type: string
    ProductProperties:
      description: Additional properties of the product
      type: object
      properties:
        version:
          description: The version of the product
          type: string
    ProductLink:
      description: Link to a product.
      type: object
      properties:
        displayName:
          description: Displayed name of product.
          type: string
        uri:
          description: URI to product.
          type: string
    ProductLinks:
      description: List of product links.
      type: array
      items:
        description: Link to a product.
        type: object
        properties:
          displayName:
            description: Displayed name of product.
            type: string
          uri:
            description: URI to product.
            type: string
      x-ms-identifiers:
      - uri
    ProductPackageParameters:
      description: Parameters for creating a new product package.
      type: object
      properties:
        properties:
          description: Specifies the product package
          type: object
          properties:
            fileContainerId:
              description: Specifies the file container.
              type: string
    ProductPackageBody:
      description: Body for creating a new product package.
      type: object
      properties:
        fileContainerId:
          description: Specifies the file container.
          type: string
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Object model of azure resource manager base.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
      x-ms-azure-resource: true
