openapi: 3.0.0
info:
  description: Load balancer admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: 2015-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminLoadBalancers:
    get:
      tags:
      - LoadBalancers
      description: Get a list of all load balancers.
      operationId: LoadBalancers_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-15
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData orderBy parameter.
        name: $orderBy
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData top parameter.
        name: $top
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData skip parameter.
        name: $skip
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData inline count parameter.
        name: $inlineCount
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of load balancers.
                type: object
                properties:
                  value:
                    description: List of load balancers for this page.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Region location of resource.
                          type: string
                          readOnly: true
                        tags:
                          description: List of key value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state.
                              type: string
                              readOnly: true
                            subscriptionId:
                              description: The subscription ID.
                              type: string
                              readOnly: true
                            tenantResourceUri:
                              description: The tenant resource URI.
                              type: string
                              readOnly: true
                            publicIpAddresses:
                              description: List of public IP addresses.
                              type: array
                              items:
                                type: string
                          description: Objects which have a provisioning state.
                          x-ms-client-flatten: true
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/LoadBalancer'
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2015-06-15
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    OrderByParameter:
      description: OData orderBy parameter.
      name: $orderBy
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    TopParameter:
      description: OData top parameter.
      name: $top
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    SkipParameter:
      description: OData skip parameter.
      name: $skip
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    InlineCountParameter:
      description: OData inline count parameter.
      name: $inlineCount
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    LoadBalancer:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
          readOnly: true
        tags:
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          properties:
            provisioningState:
              description: The provisioning state.
              type: string
              readOnly: true
            subscriptionId:
              description: The subscription ID.
              type: string
              readOnly: true
            tenantResourceUri:
              description: The tenant resource URI.
              type: string
              readOnly: true
            publicIpAddresses:
              description: List of public IP addresses.
              type: array
              items:
                type: string
          description: Objects which have a provisioning state.
          x-ms-client-flatten: true
      description: Base Resource Object
      x-ms-azure-resource: true
    LoadBalancerProperty:
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
        subscriptionId:
          description: The subscription ID.
          type: string
          readOnly: true
        tenantResourceUri:
          description: The tenant resource URI.
          type: string
          readOnly: true
        publicIpAddresses:
          description: List of public IP addresses.
          type: array
          items:
            type: string
      description: Objects which have a provisioning state.
    LoadBalancerList:
      description: Pageable list of load balancers.
      type: object
      properties:
        value:
          description: List of load balancers for this page.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: Region location of resource.
                type: string
                readOnly: true
              tags:
                description: List of key value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                type: object
                properties:
                  provisioningState:
                    description: The provisioning state.
                    type: string
                    readOnly: true
                  subscriptionId:
                    description: The subscription ID.
                    type: string
                    readOnly: true
                  tenantResourceUri:
                    description: The tenant resource URI.
                    type: string
                    readOnly: true
                  publicIpAddresses:
                    description: List of public IP addresses.
                    type: array
                    items:
                      type: string
                description: Objects which have a provisioning state.
                x-ms-client-flatten: true
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
          readOnly: true
        tags:
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    ProvisionedResource:
      description: Objects which have a provisioning state.
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
    TenantResource:
      description: These resources are utilized by a single tenant.
      type: object
      properties:
        subscriptionId:
          description: The subscription ID.
          type: string
          readOnly: true
        tenantResourceUri:
          description: The tenant resource URI.
          type: string
          readOnly: true
