openapi: 3.0.0
info:
  description: Quota admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: 2015-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/quotas:
    get:
      tags:
      - Quotas
      description: List all quotas.
      operationId: Quotas_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-15
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: A pageable list of network quotas.
                type: object
                properties:
                  value:
                    description: List of quotas on this page.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Region location of resource.
                          type: string
                          readOnly: true
                        tags:
                          description: List of key value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state.
                              type: string
                              readOnly: true
                            maxPublicIpsPerSubscription:
                              description: Maximum number of public IP addresses a
                                tenant subscription can provision.
                              type: integer
                              format: int64
                            maxVnetsPerSubscription:
                              description: Maximum number of virtual networks a tenant
                                subscription can provision.
                              type: integer
                              format: int64
                            maxVirtualNetworkGatewaysPerSubscription:
                              description: Maximum number of virtual network gateways
                                a tenant subscription can provision.
                              type: integer
                              format: int64
                            maxVirtualNetworkGatewayConnectionsPerSubscription:
                              description: Maximum number of virtual network gateway
                                Connections a tenant subscription can provision.
                              type: integer
                              format: int64
                            maxLoadBalancersPerSubscription:
                              description: Maximum number of load balancers a tenant
                                subscription can provision.
                              type: integer
                              format: int64
                            maxNicsPerSubscription:
                              description: Maximum number of NICs a tenant subscription
                                can provision.
                              type: integer
                              format: int64
                            maxSecurityGroupsPerSubscription:
                              description: Maximum number of security groups a tenant
                                subscription can provision.
                              type: integer
                              format: int64
                            migrationPhase:
                              description: State of migration such as None, Prepare,
                                Commit, and Abort.
                              readOnly: true
                              enum:
                              - None
                              - Prepare
                              - Commit
                              - Abort
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: MigrationPhaseType
                          description: Objects which have a provisioning state.
                          x-ms-client-flatten: true
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    description: The URI to the next page.
                    type: string
      x-ms-pageable: {}
      x-ms-odata: '#/components/schemas/Quota'
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/quotas/{resourceName}:
    get:
      tags:
      - Quotas
      description: Get a quota by name.
      operationId: Quotas_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the resource.
        name: resourceName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-15
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                    readOnly: true
                  tags:
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state.
                        type: string
                        readOnly: true
                      maxPublicIpsPerSubscription:
                        description: Maximum number of public IP addresses a tenant
                          subscription can provision.
                        type: integer
                        format: int64
                      maxVnetsPerSubscription:
                        description: Maximum number of virtual networks a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxVirtualNetworkGatewaysPerSubscription:
                        description: Maximum number of virtual network gateways a
                          tenant subscription can provision.
                        type: integer
                        format: int64
                      maxVirtualNetworkGatewayConnectionsPerSubscription:
                        description: Maximum number of virtual network gateway Connections
                          a tenant subscription can provision.
                        type: integer
                        format: int64
                      maxLoadBalancersPerSubscription:
                        description: Maximum number of load balancers a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxNicsPerSubscription:
                        description: Maximum number of NICs a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxSecurityGroupsPerSubscription:
                        description: Maximum number of security groups a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      migrationPhase:
                        description: State of migration such as None, Prepare, Commit,
                          and Abort.
                        readOnly: true
                        enum:
                        - None
                        - Prepare
                        - Commit
                        - Abort
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: MigrationPhaseType
                    description: Objects which have a provisioning state.
                    x-ms-client-flatten: true
                description: Base Resource Object
                x-ms-azure-resource: true
    put:
      tags:
      - Network
      description: Create or update a quota.
      operationId: Quotas_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the resource.
        name: resourceName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-15
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: URI of the resource.
                  type: string
                  readOnly: true
                name:
                  description: Name of the resource.
                  type: string
                  readOnly: true
                type:
                  description: Type of resource.
                  type: string
                  readOnly: true
                location:
                  description: Region location of resource.
                  type: string
                  readOnly: true
                tags:
                  description: List of key value pairs.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  type: object
                  properties:
                    provisioningState:
                      description: The provisioning state.
                      type: string
                      readOnly: true
                    maxPublicIpsPerSubscription:
                      description: Maximum number of public IP addresses a tenant
                        subscription can provision.
                      type: integer
                      format: int64
                    maxVnetsPerSubscription:
                      description: Maximum number of virtual networks a tenant subscription
                        can provision.
                      type: integer
                      format: int64
                    maxVirtualNetworkGatewaysPerSubscription:
                      description: Maximum number of virtual network gateways a tenant
                        subscription can provision.
                      type: integer
                      format: int64
                    maxVirtualNetworkGatewayConnectionsPerSubscription:
                      description: Maximum number of virtual network gateway Connections
                        a tenant subscription can provision.
                      type: integer
                      format: int64
                    maxLoadBalancersPerSubscription:
                      description: Maximum number of load balancers a tenant subscription
                        can provision.
                      type: integer
                      format: int64
                    maxNicsPerSubscription:
                      description: Maximum number of NICs a tenant subscription can
                        provision.
                      type: integer
                      format: int64
                    maxSecurityGroupsPerSubscription:
                      description: Maximum number of security groups a tenant subscription
                        can provision.
                      type: integer
                      format: int64
                    migrationPhase:
                      description: State of migration such as None, Prepare, Commit,
                        and Abort.
                      readOnly: true
                      enum:
                      - None
                      - Prepare
                      - Commit
                      - Abort
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MigrationPhaseType
                  description: Objects which have a provisioning state.
                  x-ms-client-flatten: true
              description: Base Resource Object
              x-ms-azure-resource: true
        description: New network quota to create.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                    readOnly: true
                  tags:
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state.
                        type: string
                        readOnly: true
                      maxPublicIpsPerSubscription:
                        description: Maximum number of public IP addresses a tenant
                          subscription can provision.
                        type: integer
                        format: int64
                      maxVnetsPerSubscription:
                        description: Maximum number of virtual networks a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxVirtualNetworkGatewaysPerSubscription:
                        description: Maximum number of virtual network gateways a
                          tenant subscription can provision.
                        type: integer
                        format: int64
                      maxVirtualNetworkGatewayConnectionsPerSubscription:
                        description: Maximum number of virtual network gateway Connections
                          a tenant subscription can provision.
                        type: integer
                        format: int64
                      maxLoadBalancersPerSubscription:
                        description: Maximum number of load balancers a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxNicsPerSubscription:
                        description: Maximum number of NICs a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxSecurityGroupsPerSubscription:
                        description: Maximum number of security groups a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      migrationPhase:
                        description: State of migration such as None, Prepare, Commit,
                          and Abort.
                        readOnly: true
                        enum:
                        - None
                        - Prepare
                        - Commit
                        - Abort
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: MigrationPhaseType
                    description: Objects which have a provisioning state.
                    x-ms-client-flatten: true
                description: Base Resource Object
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: URI of the resource.
                    type: string
                    readOnly: true
                  name:
                    description: Name of the resource.
                    type: string
                    readOnly: true
                  type:
                    description: Type of resource.
                    type: string
                    readOnly: true
                  location:
                    description: Region location of resource.
                    type: string
                    readOnly: true
                  tags:
                    description: List of key value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    type: object
                    properties:
                      provisioningState:
                        description: The provisioning state.
                        type: string
                        readOnly: true
                      maxPublicIpsPerSubscription:
                        description: Maximum number of public IP addresses a tenant
                          subscription can provision.
                        type: integer
                        format: int64
                      maxVnetsPerSubscription:
                        description: Maximum number of virtual networks a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxVirtualNetworkGatewaysPerSubscription:
                        description: Maximum number of virtual network gateways a
                          tenant subscription can provision.
                        type: integer
                        format: int64
                      maxVirtualNetworkGatewayConnectionsPerSubscription:
                        description: Maximum number of virtual network gateway Connections
                          a tenant subscription can provision.
                        type: integer
                        format: int64
                      maxLoadBalancersPerSubscription:
                        description: Maximum number of load balancers a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxNicsPerSubscription:
                        description: Maximum number of NICs a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      maxSecurityGroupsPerSubscription:
                        description: Maximum number of security groups a tenant subscription
                          can provision.
                        type: integer
                        format: int64
                      migrationPhase:
                        description: State of migration such as None, Prepare, Commit,
                          and Abort.
                        readOnly: true
                        enum:
                        - None
                        - Prepare
                        - Commit
                        - Abort
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: MigrationPhaseType
                    description: Objects which have a provisioning state.
                    x-ms-client-flatten: true
                description: Base Resource Object
                x-ms-azure-resource: true
    delete:
      tags:
      - Network
      description: Delete a quota by name.
      operationId: Quotas_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Location of the resource.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the resource.
        name: resourceName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-15
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
      x-ms-long-running-operation: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    LocationParameter:
      description: Location of the resource.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2015-06-15
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceNameParameter:
      description: Name of the resource.
      name: resourceName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Quota:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
          readOnly: true
        tags:
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          properties:
            provisioningState:
              description: The provisioning state.
              type: string
              readOnly: true
            maxPublicIpsPerSubscription:
              description: Maximum number of public IP addresses a tenant subscription
                can provision.
              type: integer
              format: int64
            maxVnetsPerSubscription:
              description: Maximum number of virtual networks a tenant subscription
                can provision.
              type: integer
              format: int64
            maxVirtualNetworkGatewaysPerSubscription:
              description: Maximum number of virtual network gateways a tenant subscription
                can provision.
              type: integer
              format: int64
            maxVirtualNetworkGatewayConnectionsPerSubscription:
              description: Maximum number of virtual network gateway Connections a
                tenant subscription can provision.
              type: integer
              format: int64
            maxLoadBalancersPerSubscription:
              description: Maximum number of load balancers a tenant subscription
                can provision.
              type: integer
              format: int64
            maxNicsPerSubscription:
              description: Maximum number of NICs a tenant subscription can provision.
              type: integer
              format: int64
            maxSecurityGroupsPerSubscription:
              description: Maximum number of security groups a tenant subscription
                can provision.
              type: integer
              format: int64
            migrationPhase:
              description: State of migration such as None, Prepare, Commit, and Abort.
              readOnly: true
              enum:
              - None
              - Prepare
              - Commit
              - Abort
              type: string
              x-ms-enum:
                modelAsString: true
                name: MigrationPhaseType
          description: Objects which have a provisioning state.
          x-ms-client-flatten: true
      description: Base Resource Object
      x-ms-azure-resource: true
    QuotaProperties:
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
        maxPublicIpsPerSubscription:
          description: Maximum number of public IP addresses a tenant subscription
            can provision.
          type: integer
          format: int64
        maxVnetsPerSubscription:
          description: Maximum number of virtual networks a tenant subscription can
            provision.
          type: integer
          format: int64
        maxVirtualNetworkGatewaysPerSubscription:
          description: Maximum number of virtual network gateways a tenant subscription
            can provision.
          type: integer
          format: int64
        maxVirtualNetworkGatewayConnectionsPerSubscription:
          description: Maximum number of virtual network gateway Connections a tenant
            subscription can provision.
          type: integer
          format: int64
        maxLoadBalancersPerSubscription:
          description: Maximum number of load balancers a tenant subscription can
            provision.
          type: integer
          format: int64
        maxNicsPerSubscription:
          description: Maximum number of NICs a tenant subscription can provision.
          type: integer
          format: int64
        maxSecurityGroupsPerSubscription:
          description: Maximum number of security groups a tenant subscription can
            provision.
          type: integer
          format: int64
        migrationPhase:
          description: State of migration such as None, Prepare, Commit, and Abort.
          readOnly: true
          enum:
          - None
          - Prepare
          - Commit
          - Abort
          type: string
          x-ms-enum:
            modelAsString: true
            name: MigrationPhaseType
      description: Objects which have a provisioning state.
    QuotaList:
      description: A pageable list of network quotas.
      type: object
      properties:
        value:
          description: List of quotas on this page.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: Region location of resource.
                type: string
                readOnly: true
              tags:
                description: List of key value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                type: object
                properties:
                  provisioningState:
                    description: The provisioning state.
                    type: string
                    readOnly: true
                  maxPublicIpsPerSubscription:
                    description: Maximum number of public IP addresses a tenant subscription
                      can provision.
                    type: integer
                    format: int64
                  maxVnetsPerSubscription:
                    description: Maximum number of virtual networks a tenant subscription
                      can provision.
                    type: integer
                    format: int64
                  maxVirtualNetworkGatewaysPerSubscription:
                    description: Maximum number of virtual network gateways a tenant
                      subscription can provision.
                    type: integer
                    format: int64
                  maxVirtualNetworkGatewayConnectionsPerSubscription:
                    description: Maximum number of virtual network gateway Connections
                      a tenant subscription can provision.
                    type: integer
                    format: int64
                  maxLoadBalancersPerSubscription:
                    description: Maximum number of load balancers a tenant subscription
                      can provision.
                    type: integer
                    format: int64
                  maxNicsPerSubscription:
                    description: Maximum number of NICs a tenant subscription can
                      provision.
                    type: integer
                    format: int64
                  maxSecurityGroupsPerSubscription:
                    description: Maximum number of security groups a tenant subscription
                      can provision.
                    type: integer
                    format: int64
                  migrationPhase:
                    description: State of migration such as None, Prepare, Commit,
                      and Abort.
                    readOnly: true
                    enum:
                    - None
                    - Prepare
                    - Commit
                    - Abort
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: MigrationPhaseType
                description: Objects which have a provisioning state.
                x-ms-client-flatten: true
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          description: The URI to the next page.
          type: string
    MigrationPhase:
      description: State of migration such as None, Prepare, Commit, and Abort.
      enum:
      - None
      - Prepare
      - Commit
      - Abort
      type: string
      x-ms-enum:
        modelAsString: true
        name: MigrationPhaseType
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
          readOnly: true
        tags:
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    ProvisionedResource:
      description: Objects which have a provisioning state.
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
