openapi: 3.0.0
info:
  description: Virtual Network admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: 2015-06-15
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminVirtualNetworks:
    get:
      tags:
      - VirtualNetworks
      description: Get a list of all virtual networks.
      operationId: VirtualNetworks_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2015-06-15
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData orderBy parameter.
        name: $orderBy
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData top parameter.
        name: $top
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData skip parameter.
        name: $skip
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: OData inline count parameter.
        name: $inlineCount
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Pageable list of virtual networks.
                type: object
                properties:
                  value:
                    description: List of virtual networks for this page.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: URI of the resource.
                          type: string
                          readOnly: true
                        name:
                          description: Name of the resource.
                          type: string
                          readOnly: true
                        type:
                          description: Type of resource.
                          type: string
                          readOnly: true
                        location:
                          description: Region location of resource.
                          type: string
                          readOnly: true
                        tags:
                          description: List of key value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          type: object
                          properties:
                            provisioningState:
                              description: The provisioning state.
                              type: string
                              readOnly: true
                            subscriptionId:
                              description: The subscription ID.
                              type: string
                              readOnly: true
                            tenantResourceUri:
                              description: The tenant resource URI.
                              type: string
                              readOnly: true
                            configurationState:
                              description: The virtual network configuration state.
                              type: object
                              properties:
                                status:
                                  description: The virtual network status.
                                  enum:
                                  - Failure
                                  - Warning
                                  - Success
                                  - Uninitialized
                                  - InProgress
                                  - Unknown
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: VirtualNetworkConfigurationStateStatusType
                                  readOnly: true
                                lastUpdatedTime:
                                  description: Last updated time for the running state.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                virtualNetworkInterfaceErrors:
                                  description: List of NIC errors associated with
                                    the resource.
                                  type: array
                                  items:
                                    description: Virtual network configuration status.
                                    type: object
                                    properties:
                                      status:
                                        description: The virtual network configuration
                                          status.
                                        enum:
                                        - Failure
                                        - Warning
                                        - Success
                                        - Uninitialized
                                        - InProgress
                                        - Unknown
                                        type: string
                                        x-ms-enum:
                                          modelAsString: true
                                          name: VirtualNetworkConfigurationStatusType
                                        readOnly: true
                                      lastUpdatedTime:
                                        description: Last updated time for the configuration
                                          status.
                                        type: string
                                        format: date-time
                                        readOnly: true
                                  x-ms-identifiers: []
                                hostErrors:
                                  description: List of NIC errors associated with
                                    the resource.
                                  type: array
                                  items:
                                    description: Virtual network configuration status.
                                    type: object
                                    properties:
                                      status:
                                        description: The virtual network configuration
                                          status.
                                        enum:
                                        - Failure
                                        - Warning
                                        - Success
                                        - Uninitialized
                                        - InProgress
                                        - Unknown
                                        type: string
                                        x-ms-enum:
                                          modelAsString: true
                                          name: VirtualNetworkConfigurationStatusType
                                        readOnly: true
                                      lastUpdatedTime:
                                        description: Last updated time for the configuration
                                          status.
                                        type: string
                                        format: date-time
                                        readOnly: true
                                  x-ms-identifiers: []
                          description: Objects which have a provisioning state.
                          x-ms-client-flatten: true
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/components/schemas/VirtualNetwork'
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2015-06-15
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    OrderByParameter:
      description: OData orderBy parameter.
      name: $orderBy
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    TopParameter:
      description: OData top parameter.
      name: $top
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    SkipParameter:
      description: OData skip parameter.
      name: $skip
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    InlineCountParameter:
      description: OData inline count parameter.
      name: $inlineCount
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    VirtualNetwork:
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
          readOnly: true
        tags:
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          properties:
            provisioningState:
              description: The provisioning state.
              type: string
              readOnly: true
            subscriptionId:
              description: The subscription ID.
              type: string
              readOnly: true
            tenantResourceUri:
              description: The tenant resource URI.
              type: string
              readOnly: true
            configurationState:
              description: The virtual network configuration state.
              type: object
              properties:
                status:
                  description: The virtual network status.
                  enum:
                  - Failure
                  - Warning
                  - Success
                  - Uninitialized
                  - InProgress
                  - Unknown
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: VirtualNetworkConfigurationStateStatusType
                  readOnly: true
                lastUpdatedTime:
                  description: Last updated time for the running state.
                  type: string
                  format: date-time
                  readOnly: true
                virtualNetworkInterfaceErrors:
                  description: List of NIC errors associated with the resource.
                  type: array
                  items:
                    description: Virtual network configuration status.
                    type: object
                    properties:
                      status:
                        description: The virtual network configuration status.
                        enum:
                        - Failure
                        - Warning
                        - Success
                        - Uninitialized
                        - InProgress
                        - Unknown
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: VirtualNetworkConfigurationStatusType
                        readOnly: true
                      lastUpdatedTime:
                        description: Last updated time for the configuration status.
                        type: string
                        format: date-time
                        readOnly: true
                  x-ms-identifiers: []
                hostErrors:
                  description: List of NIC errors associated with the resource.
                  type: array
                  items:
                    description: Virtual network configuration status.
                    type: object
                    properties:
                      status:
                        description: The virtual network configuration status.
                        enum:
                        - Failure
                        - Warning
                        - Success
                        - Uninitialized
                        - InProgress
                        - Unknown
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: VirtualNetworkConfigurationStatusType
                        readOnly: true
                      lastUpdatedTime:
                        description: Last updated time for the configuration status.
                        type: string
                        format: date-time
                        readOnly: true
                  x-ms-identifiers: []
          description: Objects which have a provisioning state.
          x-ms-client-flatten: true
      description: Base Resource Object
      x-ms-azure-resource: true
    VirtualNetworkProperties:
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
        subscriptionId:
          description: The subscription ID.
          type: string
          readOnly: true
        tenantResourceUri:
          description: The tenant resource URI.
          type: string
          readOnly: true
        configurationState:
          description: The virtual network configuration state.
          type: object
          properties:
            status:
              description: The virtual network status.
              enum:
              - Failure
              - Warning
              - Success
              - Uninitialized
              - InProgress
              - Unknown
              type: string
              x-ms-enum:
                modelAsString: true
                name: VirtualNetworkConfigurationStateStatusType
              readOnly: true
            lastUpdatedTime:
              description: Last updated time for the running state.
              type: string
              format: date-time
              readOnly: true
            virtualNetworkInterfaceErrors:
              description: List of NIC errors associated with the resource.
              type: array
              items:
                description: Virtual network configuration status.
                type: object
                properties:
                  status:
                    description: The virtual network configuration status.
                    enum:
                    - Failure
                    - Warning
                    - Success
                    - Uninitialized
                    - InProgress
                    - Unknown
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: VirtualNetworkConfigurationStatusType
                    readOnly: true
                  lastUpdatedTime:
                    description: Last updated time for the configuration status.
                    type: string
                    format: date-time
                    readOnly: true
              x-ms-identifiers: []
            hostErrors:
              description: List of NIC errors associated with the resource.
              type: array
              items:
                description: Virtual network configuration status.
                type: object
                properties:
                  status:
                    description: The virtual network configuration status.
                    enum:
                    - Failure
                    - Warning
                    - Success
                    - Uninitialized
                    - InProgress
                    - Unknown
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: VirtualNetworkConfigurationStatusType
                    readOnly: true
                  lastUpdatedTime:
                    description: Last updated time for the configuration status.
                    type: string
                    format: date-time
                    readOnly: true
              x-ms-identifiers: []
      description: Objects which have a provisioning state.
    VirtualNetworkConfigurationState:
      description: The virtual network configuration state.
      type: object
      properties:
        status:
          description: The virtual network status.
          enum:
          - Failure
          - Warning
          - Success
          - Uninitialized
          - InProgress
          - Unknown
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkConfigurationStateStatusType
          readOnly: true
        lastUpdatedTime:
          description: Last updated time for the running state.
          type: string
          format: date-time
          readOnly: true
        virtualNetworkInterfaceErrors:
          description: List of NIC errors associated with the resource.
          type: array
          items:
            description: Virtual network configuration status.
            type: object
            properties:
              status:
                description: The virtual network configuration status.
                enum:
                - Failure
                - Warning
                - Success
                - Uninitialized
                - InProgress
                - Unknown
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: VirtualNetworkConfigurationStatusType
                readOnly: true
              lastUpdatedTime:
                description: Last updated time for the configuration status.
                type: string
                format: date-time
                readOnly: true
          x-ms-identifiers: []
        hostErrors:
          description: List of NIC errors associated with the resource.
          type: array
          items:
            description: Virtual network configuration status.
            type: object
            properties:
              status:
                description: The virtual network configuration status.
                enum:
                - Failure
                - Warning
                - Success
                - Uninitialized
                - InProgress
                - Unknown
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: VirtualNetworkConfigurationStatusType
                readOnly: true
              lastUpdatedTime:
                description: Last updated time for the configuration status.
                type: string
                format: date-time
                readOnly: true
          x-ms-identifiers: []
    VirtualNetworkConfigurationStatus:
      description: Virtual network configuration status.
      type: object
      properties:
        status:
          description: The virtual network configuration status.
          enum:
          - Failure
          - Warning
          - Success
          - Uninitialized
          - InProgress
          - Unknown
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkConfigurationStatusType
          readOnly: true
        lastUpdatedTime:
          description: Last updated time for the configuration status.
          type: string
          format: date-time
          readOnly: true
    VirtualNetworksList:
      description: Pageable list of virtual networks.
      type: object
      properties:
        value:
          description: List of virtual networks for this page.
          type: array
          items:
            type: object
            properties:
              id:
                description: URI of the resource.
                type: string
                readOnly: true
              name:
                description: Name of the resource.
                type: string
                readOnly: true
              type:
                description: Type of resource.
                type: string
                readOnly: true
              location:
                description: Region location of resource.
                type: string
                readOnly: true
              tags:
                description: List of key value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                type: object
                properties:
                  provisioningState:
                    description: The provisioning state.
                    type: string
                    readOnly: true
                  subscriptionId:
                    description: The subscription ID.
                    type: string
                    readOnly: true
                  tenantResourceUri:
                    description: The tenant resource URI.
                    type: string
                    readOnly: true
                  configurationState:
                    description: The virtual network configuration state.
                    type: object
                    properties:
                      status:
                        description: The virtual network status.
                        enum:
                        - Failure
                        - Warning
                        - Success
                        - Uninitialized
                        - InProgress
                        - Unknown
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: VirtualNetworkConfigurationStateStatusType
                        readOnly: true
                      lastUpdatedTime:
                        description: Last updated time for the running state.
                        type: string
                        format: date-time
                        readOnly: true
                      virtualNetworkInterfaceErrors:
                        description: List of NIC errors associated with the resource.
                        type: array
                        items:
                          description: Virtual network configuration status.
                          type: object
                          properties:
                            status:
                              description: The virtual network configuration status.
                              enum:
                              - Failure
                              - Warning
                              - Success
                              - Uninitialized
                              - InProgress
                              - Unknown
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: VirtualNetworkConfigurationStatusType
                              readOnly: true
                            lastUpdatedTime:
                              description: Last updated time for the configuration
                                status.
                              type: string
                              format: date-time
                              readOnly: true
                        x-ms-identifiers: []
                      hostErrors:
                        description: List of NIC errors associated with the resource.
                        type: array
                        items:
                          description: Virtual network configuration status.
                          type: object
                          properties:
                            status:
                              description: The virtual network configuration status.
                              enum:
                              - Failure
                              - Warning
                              - Success
                              - Uninitialized
                              - InProgress
                              - Unknown
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: VirtualNetworkConfigurationStatusType
                              readOnly: true
                            lastUpdatedTime:
                              description: Last updated time for the configuration
                                status.
                              type: string
                              format: date-time
                              readOnly: true
                        x-ms-identifiers: []
                description: Objects which have a provisioning state.
                x-ms-client-flatten: true
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          description: URI of the resource.
          type: string
          readOnly: true
        name:
          description: Name of the resource.
          type: string
          readOnly: true
        type:
          description: Type of resource.
          type: string
          readOnly: true
        location:
          description: Region location of resource.
          type: string
          readOnly: true
        tags:
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    ProvisionedResource:
      description: Objects which have a provisioning state.
      type: object
      properties:
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
    TenantResource:
      description: These resources are utilized by a single tenant.
      type: object
      properties:
        subscriptionId:
          description: The subscription ID.
          type: string
          readOnly: true
        tenantResourceUri:
          description: The tenant resource URI.
          type: string
          readOnly: true
