openapi: 3.0.0
info:
  title: PowerBIDedicated
  version: 2021-01-01
  description: PowerBI Dedicated Web API provides a RESTful set of web services that
    enables users to create, retrieve, update, and delete Power BI dedicated capacities
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: Capacities
- name: AutoScaleVCores
paths:
  /providers/Microsoft.PowerBIDedicated/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: Result listing capacities. It contains a list of operations
                  and a URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of capacities supported by the Microsoft.PowerBIDedicated
                      resource provider.
                    items:
                      type: object
                      description: Capacities REST API operation.
                      properties:
                        name:
                          type: string
                          description: 'Operation name: {provider}/{resource}/{operation}.'
                          readOnly: true
                        display:
                          type: object
                          description: The object that represents the operation.
                          properties:
                            provider:
                              type: string
                              description: 'Service provider: Microsoft.PowerBIDedicated.'
                              readOnly: true
                            resource:
                              type: string
                              description: 'Resource on which the operation is performed:
                                capacity, etc.'
                              readOnly: true
                            operation:
                              type: string
                              description: 'Operation type: create, update, delete,
                                etc.'
                              readOnly: true
                            description:
                              type: string
                              description: Localized description of the operation.
                        origin:
                          type: string
                          description: Origin of the operation.
                          readOnly: true
                        properties:
                          type: object
                          description: Additional properties to expose performance
                            metrics to shoebox.
                          properties:
                            serviceSpecification:
                              description: Service specification for exposing performance
                                metrics to shoebox.
                              type: object
                              properties:
                                metricSpecifications:
                                  type: array
                                  description: Metric specifications for exposing
                                    performance metrics to shoebox.
                                  items:
                                    type: object
                                    description: Metric specification for exposing
                                      performance metrics to shoebox.
                                    properties:
                                      name:
                                        type: string
                                        description: Metric name
                                        readOnly: true
                                      displayName:
                                        type: string
                                        description: Localizable metric name
                                      displayDescription:
                                        type: string
                                        description: Localizable description of metric
                                      unit:
                                        type: string
                                        description: Unit for the metric
                                        readOnly: true
                                      aggregationType:
                                        type: string
                                        description: Aggregation type for the metric
                                        readOnly: true
                                      metricFilterPattern:
                                        type: string
                                        description: Pattern used to filter the metric
                                        readOnly: true
                                      dimensions:
                                        type: array
                                        description: For describing multi dimensional
                                          metrics
                                        items:
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                              description: Dimension of the metric
                                              readOnly: true
                                            displayName:
                                              type: string
                                              description: Localizable dimension of
                                                the metric
                                        x-ms-identifiers:
                                        - name
                                  x-ms-identifiers:
                                  - name
                                logSpecifications:
                                  type: array
                                  description: Log specifications for exposing diagnostic
                                    logs to shoebox.
                                  items:
                                    type: object
                                    description: Log specification for exposing diagnostic
                                      logs to shoebox.
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the log
                                        readOnly: true
                                      displayName:
                                        type: string
                                        description: Localizable name of the log
                                      blobDuration:
                                        type: string
                                        description: Blob duration for the log
                                        readOnly: true
                                  x-ms-identifiers:
                                  - name
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      if there are any.
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/autoScaleVCores:
    get:
      operationId: AutoScaleVCores_ListBySubscription
      tags:
      - AutoScaleVCores
      description: Lists all the auto scale v-cores for the given subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: An array of auto scale v-core resources.
                properties:
                  value:
                    type: array
                    description: An array of auto scale v-core resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: The SKU of the auto scale v-core resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU level.
                            tier:
                              description: The name of the Azure pricing tier to which
                                the SKU applies.
                              type: string
                              enum:
                              - AutoScale
                              x-ms-enum:
                                name: VCoreSkuTier
                                modelAsString: true
                                values:
                                - name: AutoScale
                                  value: AutoScale
                            capacity:
                              type: integer
                              format: int32
                              description: The capacity of an auto scale v-core resource.
                          required:
                          - name
                        properties:
                          type: object
                          properties:
                            capacityLimit:
                              type: integer
                              format: int32
                              description: The maximum capacity of an auto scale v-core
                                resource.
                            capacityObjectId:
                              type: string
                              description: The object ID of the capacity resource
                                associated with the auto scale v-core resource.
                            provisioningState:
                              description: The current deployment state of an auto
                                scale v-core resource. The provisioningState is to
                                indicate states for resource provisioning.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              x-ms-enum:
                                name: VCoreProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                          description: An object that represents a set of mutable
                            auto scale v-core resource properties.
                          x-ms-client-flatten: true
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/capacities:
    get:
      operationId: Capacities_List
      tags:
      - Capacities
      description: Lists all the Dedicated capacities for the given subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: An array of Dedicated capacities resources.
                properties:
                  value:
                    type: array
                    description: An array of Dedicated capacities resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: The SKU of the PowerBI Dedicated capacity resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU level.
                            tier:
                              description: The name of the Azure pricing tier to which
                                the SKU applies.
                              type: string
                              enum:
                              - PBIE_Azure
                              - Premium
                              - AutoPremiumHost
                              x-ms-enum:
                                name: CapacitySkuTier
                                modelAsString: true
                                values:
                                - name: PBIE_Azure
                                  value: PBIE_Azure
                                - name: Premium
                                  value: Premium
                                - name: AutoPremiumHost
                                  value: AutoPremiumHost
                            capacity:
                              type: integer
                              format: int32
                              description: The capacity of the SKU.
                          required:
                          - name
                        properties:
                          type: object
                          properties:
                            administration:
                              description: A collection of Dedicated capacity administrators
                              type: object
                              properties:
                                members:
                                  type: array
                                  description: An array of administrator user identities.
                                  items:
                                    type: string
                            mode:
                              description: Specifies the generation of the Power BI
                                Embedded capacity. If no value is specified, the default
                                value 'Gen2' is used. [Learn More](https://docs.microsoft.com/power-bi/developer/embedded/power-bi-embedded-generation-2)
                              type: string
                              enum:
                              - Gen1
                              - Gen2
                              x-ms-enum:
                                name: Mode
                                modelAsString: true
                                values:
                                - name: Gen1
                                  value: Gen1
                                - name: Gen2
                                  value: Gen2
                            tenantId:
                              type: string
                              description: Tenant ID for the capacity. Used for creating
                                Pro Plus capacity.
                              readOnly: true
                            friendlyName:
                              type: string
                              description: Capacity name
                              readOnly: true
                            state:
                              description: The current state of PowerBI Dedicated
                                resource. The state is to indicate more states outside
                                of resource provisioning.
                              readOnly: true
                              type: string
                              enum:
                              - Deleting
                              - Succeeded
                              - Failed
                              - Paused
                              - Suspended
                              - Provisioning
                              - Updating
                              - Suspending
                              - Pausing
                              - Resuming
                              - Preparing
                              - Scaling
                              x-ms-enum:
                                name: State
                                modelAsString: true
                                values:
                                - name: Deleting
                                  value: Deleting
                                - name: Succeeded
                                  value: Succeeded
                                - name: Failed
                                  value: Failed
                                - name: Paused
                                  value: Paused
                                - name: Suspended
                                  value: Suspended
                                - name: Provisioning
                                  value: Provisioning
                                - name: Updating
                                  value: Updating
                                - name: Suspending
                                  value: Suspending
                                - name: Pausing
                                  value: Pausing
                                - name: Resuming
                                  value: Resuming
                                - name: Preparing
                                  value: Preparing
                                - name: Scaling
                                  value: Scaling
                            provisioningState:
                              description: The current deployment state of PowerBI
                                Dedicated resource. The provisioningState is to indicate
                                states for resource provisioning.
                              readOnly: true
                              type: string
                              enum:
                              - Deleting
                              - Succeeded
                              - Failed
                              - Paused
                              - Suspended
                              - Provisioning
                              - Updating
                              - Suspending
                              - Pausing
                              - Resuming
                              - Preparing
                              - Scaling
                              x-ms-enum:
                                name: CapacityProvisioningState
                                modelAsString: true
                                values:
                                - name: Deleting
                                  value: Deleting
                                - name: Succeeded
                                  value: Succeeded
                                - name: Failed
                                  value: Failed
                                - name: Paused
                                  value: Paused
                                - name: Suspended
                                  value: Suspended
                                - name: Provisioning
                                  value: Provisioning
                                - name: Updating
                                  value: Updating
                                - name: Suspending
                                  value: Suspending
                                - name: Pausing
                                  value: Pausing
                                - name: Resuming
                                  value: Resuming
                                - name: Preparing
                                  value: Preparing
                                - name: Scaling
                                  value: Scaling
                          description: An object that represents a set of mutable
                            Dedicated capacity resource properties.
                          x-ms-client-flatten: true
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/locations/{location}/checkNameAvailability:
    post:
      operationId: Capacities_CheckNameAvailability
      description: Check the name availability in the target location.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Details of capacity name request body.
              properties:
                name:
                  type: string
                  description: Name for checking availability.
                  minLength: 3
                  maxLength: 63
                  pattern: ^[a-z][a-z0-9]*$
                type:
                  type: string
                  description: The resource type of PowerBI dedicated.
                  default: Microsoft.PowerBIDedicated/capacities
        description: The request body
        required: true
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: The checking result of capacity name availability.
                properties:
                  nameAvailable:
                    type: boolean
                    description: Indicator of availability of the capacity name.
                  reason:
                    type: string
                    description: The reason of unavailability.
                  message:
                    type: string
                    description: The detailed message of the request unavailability.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
  /subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/skus:
    get:
      operationId: Capacities_ListSkus
      description: Lists eligible SKUs for PowerBI Dedicated resource provider.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: object
                description: An object that represents enumerating SKUs for new resources
                properties:
                  value:
                    type: array
                    description: The collection of available SKUs for new resources
                    items:
                      type: object
                      description: Represents the SKU name and Azure pricing tier
                        for PowerBI Dedicated capacity resource.
                      properties:
                        name:
                          type: string
                          description: Name of the SKU level.
                        tier:
                          description: The name of the Azure pricing tier to which
                            the SKU applies.
                          type: string
                          enum:
                          - PBIE_Azure
                          - Premium
                          - AutoPremiumHost
                          x-ms-enum:
                            name: CapacitySkuTier
                            modelAsString: true
                            values:
                            - name: PBIE_Azure
                              value: PBIE_Azure
                            - name: Premium
                              value: Premium
                            - name: AutoPremiumHost
                              value: AutoPremiumHost
                        capacity:
                          type: integer
                          format: int32
                          description: The capacity of the SKU.
                      required:
                      - name
                    x-ms-identifiers:
                    - name
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/autoScaleVCores:
    get:
      operationId: AutoScaleVCores_ListByResourceGroup
      tags:
      - AutoScaleVCores
      description: Gets all the auto scale v-cores for the given resource group.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: An array of auto scale v-core resources.
                properties:
                  value:
                    type: array
                    description: An array of auto scale v-core resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: The SKU of the auto scale v-core resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU level.
                            tier:
                              description: The name of the Azure pricing tier to which
                                the SKU applies.
                              type: string
                              enum:
                              - AutoScale
                              x-ms-enum:
                                name: VCoreSkuTier
                                modelAsString: true
                                values:
                                - name: AutoScale
                                  value: AutoScale
                            capacity:
                              type: integer
                              format: int32
                              description: The capacity of an auto scale v-core resource.
                          required:
                          - name
                        properties:
                          type: object
                          properties:
                            capacityLimit:
                              type: integer
                              format: int32
                              description: The maximum capacity of an auto scale v-core
                                resource.
                            capacityObjectId:
                              type: string
                              description: The object ID of the capacity resource
                                associated with the auto scale v-core resource.
                            provisioningState:
                              description: The current deployment state of an auto
                                scale v-core resource. The provisioningState is to
                                indicate states for resource provisioning.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              x-ms-enum:
                                name: VCoreProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                          description: An object that represents a set of mutable
                            auto scale v-core resource properties.
                          x-ms-client-flatten: true
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/autoScaleVCores/{vcoreName}
  : get:
      operationId: AutoScaleVCores_Get
      tags:
      - AutoScaleVCores
      description: Gets details about the specified auto scale v-core.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: vcoreName
        in: path
        description: The name of the auto scale v-core. It must be a minimum of 3
          characters, and a maximum of 63.
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[-a-zA-Z0-9_]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The SKU of the auto scale v-core resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU level.
                      tier:
                        description: The name of the Azure pricing tier to which the
                          SKU applies.
                        type: string
                        enum:
                        - AutoScale
                        x-ms-enum:
                          name: VCoreSkuTier
                          modelAsString: true
                          values:
                          - name: AutoScale
                            value: AutoScale
                      capacity:
                        type: integer
                        format: int32
                        description: The capacity of an auto scale v-core resource.
                    required:
                    - name
                  properties:
                    type: object
                    properties:
                      capacityLimit:
                        type: integer
                        format: int32
                        description: The maximum capacity of an auto scale v-core
                          resource.
                      capacityObjectId:
                        type: string
                        description: The object ID of the capacity resource associated
                          with the auto scale v-core resource.
                      provisioningState:
                        description: The current deployment state of an auto scale
                          v-core resource. The provisioningState is to indicate states
                          for resource provisioning.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        x-ms-enum:
                          name: VCoreProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                    description: An object that represents a set of mutable auto scale
                      v-core resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
    put:
      operationId: AutoScaleVCores_Create
      tags:
      - AutoScaleVCores
      description: Provisions the specified auto scale v-core based on the configuration
        specified in the request.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: vcoreName
        in: path
        description: The name of the auto scale v-core. It must be a minimum of 3
          characters, and a maximum of 63.
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[-a-zA-Z0-9_]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                sku:
                  description: The SKU of the auto scale v-core resource.
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the SKU level.
                    tier:
                      description: The name of the Azure pricing tier to which the
                        SKU applies.
                      type: string
                      enum:
                      - AutoScale
                      x-ms-enum:
                        name: VCoreSkuTier
                        modelAsString: true
                        values:
                        - name: AutoScale
                          value: AutoScale
                    capacity:
                      type: integer
                      format: int32
                      description: The capacity of an auto scale v-core resource.
                  required:
                  - name
                properties:
                  type: object
                  properties:
                    capacityLimit:
                      type: integer
                      format: int32
                      description: The maximum capacity of an auto scale v-core resource.
                    capacityObjectId:
                      type: string
                      description: The object ID of the capacity resource associated
                        with the auto scale v-core resource.
                    provisioningState:
                      description: The current deployment state of an auto scale v-core
                        resource. The provisioningState is to indicate states for
                        resource provisioning.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      x-ms-enum:
                        name: VCoreProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                  description: An object that represents a set of mutable auto scale
                    v-core resource properties.
                  x-ms-client-flatten: true
              required:
              - location
              - sku
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Contains the information used to provision the auto scale v-core.
        required: true
      responses:
        '200':
          description: Resource 'AutoScaleVCore' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The SKU of the auto scale v-core resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU level.
                      tier:
                        description: The name of the Azure pricing tier to which the
                          SKU applies.
                        type: string
                        enum:
                        - AutoScale
                        x-ms-enum:
                          name: VCoreSkuTier
                          modelAsString: true
                          values:
                          - name: AutoScale
                            value: AutoScale
                      capacity:
                        type: integer
                        format: int32
                        description: The capacity of an auto scale v-core resource.
                    required:
                    - name
                  properties:
                    type: object
                    properties:
                      capacityLimit:
                        type: integer
                        format: int32
                        description: The maximum capacity of an auto scale v-core
                          resource.
                      capacityObjectId:
                        type: string
                        description: The object ID of the capacity resource associated
                          with the auto scale v-core resource.
                      provisioningState:
                        description: The current deployment state of an auto scale
                          v-core resource. The provisioningState is to indicate states
                          for resource provisioning.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        x-ms-enum:
                          name: VCoreProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                    description: An object that represents a set of mutable auto scale
                      v-core resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
    patch:
      operationId: AutoScaleVCores_Update
      tags:
      - AutoScaleVCores
      description: Updates the current state of the specified auto scale v-core.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: vcoreName
        in: path
        description: The name of the auto scale v-core. It must be a minimum of 3
          characters, and a maximum of 63.
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[-a-zA-Z0-9_]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Update request specification
              properties:
                sku:
                  description: The SKU of the auto scale v-core resource.
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the SKU level.
                    tier:
                      description: The name of the Azure pricing tier to which the
                        SKU applies.
                      type: string
                      enum:
                      - AutoScale
                      x-ms-enum:
                        name: VCoreSkuTier
                        modelAsString: true
                        values:
                        - name: AutoScale
                          value: AutoScale
                    capacity:
                      type: integer
                      format: int32
                      description: The capacity of an auto scale v-core resource.
                  required:
                  - name
                tags:
                  type: object
                  description: Key-value pairs of additional provisioning properties.
                  additionalProperties:
                    type: string
                properties:
                  description: Properties of the update operation request.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    capacityLimit:
                      type: integer
                      format: int32
                      description: The maximum capacity of an auto scale v-core resource.
        description: Request object that contains the updated information for the
          auto scale v-core.
        required: true
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The SKU of the auto scale v-core resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU level.
                      tier:
                        description: The name of the Azure pricing tier to which the
                          SKU applies.
                        type: string
                        enum:
                        - AutoScale
                        x-ms-enum:
                          name: VCoreSkuTier
                          modelAsString: true
                          values:
                          - name: AutoScale
                            value: AutoScale
                      capacity:
                        type: integer
                        format: int32
                        description: The capacity of an auto scale v-core resource.
                    required:
                    - name
                  properties:
                    type: object
                    properties:
                      capacityLimit:
                        type: integer
                        format: int32
                        description: The maximum capacity of an auto scale v-core
                          resource.
                      capacityObjectId:
                        type: string
                        description: The object ID of the capacity resource associated
                          with the auto scale v-core resource.
                      provisioningState:
                        description: The current deployment state of an auto scale
                          v-core resource. The provisioningState is to indicate states
                          for resource provisioning.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        x-ms-enum:
                          name: VCoreProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                    description: An object that represents a set of mutable auto scale
                      v-core resource properties.
                    x-ms-client-flatten: true
                required:
                - location
                - sku
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
    delete:
      operationId: AutoScaleVCores_Delete
      tags:
      - AutoScaleVCores
      description: Deletes the specified auto scale v-core.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: vcoreName
        in: path
        description: The name of the auto scale v-core. It must be a minimum of 3
          characters, and a maximum of 63.
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[-a-zA-Z0-9_]+$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities:
    get:
      operationId: Capacities_ListByResourceGroup
      tags:
      - Capacities
      description: Gets all the Dedicated capacities for the given resource group.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: An array of Dedicated capacities resources.
                properties:
                  value:
                    type: array
                    description: An array of Dedicated capacities resources.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: The SKU of the PowerBI Dedicated capacity resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU level.
                            tier:
                              description: The name of the Azure pricing tier to which
                                the SKU applies.
                              type: string
                              enum:
                              - PBIE_Azure
                              - Premium
                              - AutoPremiumHost
                              x-ms-enum:
                                name: CapacitySkuTier
                                modelAsString: true
                                values:
                                - name: PBIE_Azure
                                  value: PBIE_Azure
                                - name: Premium
                                  value: Premium
                                - name: AutoPremiumHost
                                  value: AutoPremiumHost
                            capacity:
                              type: integer
                              format: int32
                              description: The capacity of the SKU.
                          required:
                          - name
                        properties:
                          type: object
                          properties:
                            administration:
                              description: A collection of Dedicated capacity administrators
                              type: object
                              properties:
                                members:
                                  type: array
                                  description: An array of administrator user identities.
                                  items:
                                    type: string
                            mode:
                              description: Specifies the generation of the Power BI
                                Embedded capacity. If no value is specified, the default
                                value 'Gen2' is used. [Learn More](https://docs.microsoft.com/power-bi/developer/embedded/power-bi-embedded-generation-2)
                              type: string
                              enum:
                              - Gen1
                              - Gen2
                              x-ms-enum:
                                name: Mode
                                modelAsString: true
                                values:
                                - name: Gen1
                                  value: Gen1
                                - name: Gen2
                                  value: Gen2
                            tenantId:
                              type: string
                              description: Tenant ID for the capacity. Used for creating
                                Pro Plus capacity.
                              readOnly: true
                            friendlyName:
                              type: string
                              description: Capacity name
                              readOnly: true
                            state:
                              description: The current state of PowerBI Dedicated
                                resource. The state is to indicate more states outside
                                of resource provisioning.
                              readOnly: true
                              type: string
                              enum:
                              - Deleting
                              - Succeeded
                              - Failed
                              - Paused
                              - Suspended
                              - Provisioning
                              - Updating
                              - Suspending
                              - Pausing
                              - Resuming
                              - Preparing
                              - Scaling
                              x-ms-enum:
                                name: State
                                modelAsString: true
                                values:
                                - name: Deleting
                                  value: Deleting
                                - name: Succeeded
                                  value: Succeeded
                                - name: Failed
                                  value: Failed
                                - name: Paused
                                  value: Paused
                                - name: Suspended
                                  value: Suspended
                                - name: Provisioning
                                  value: Provisioning
                                - name: Updating
                                  value: Updating
                                - name: Suspending
                                  value: Suspending
                                - name: Pausing
                                  value: Pausing
                                - name: Resuming
                                  value: Resuming
                                - name: Preparing
                                  value: Preparing
                                - name: Scaling
                                  value: Scaling
                            provisioningState:
                              description: The current deployment state of PowerBI
                                Dedicated resource. The provisioningState is to indicate
                                states for resource provisioning.
                              readOnly: true
                              type: string
                              enum:
                              - Deleting
                              - Succeeded
                              - Failed
                              - Paused
                              - Suspended
                              - Provisioning
                              - Updating
                              - Suspending
                              - Pausing
                              - Resuming
                              - Preparing
                              - Scaling
                              x-ms-enum:
                                name: CapacityProvisioningState
                                modelAsString: true
                                values:
                                - name: Deleting
                                  value: Deleting
                                - name: Succeeded
                                  value: Succeeded
                                - name: Failed
                                  value: Failed
                                - name: Paused
                                  value: Paused
                                - name: Suspended
                                  value: Suspended
                                - name: Provisioning
                                  value: Provisioning
                                - name: Updating
                                  value: Updating
                                - name: Suspending
                                  value: Suspending
                                - name: Pausing
                                  value: Pausing
                                - name: Resuming
                                  value: Resuming
                                - name: Preparing
                                  value: Preparing
                                - name: Scaling
                                  value: Scaling
                          description: An object that represents a set of mutable
                            Dedicated capacity resource properties.
                          x-ms-client-flatten: true
                      required:
                      - location
                      - sku
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                description: The error object
                properties:
                  error:
                    type: object
                    description: The error object.
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message indicating why the operation failed.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}
  : get:
      operationId: Capacities_GetDetails
      tags:
      - Capacities
      description: Gets details about the specified dedicated capacity.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dedicatedCapacityName
        in: path
        description: The name of the dedicated capacity. It must be a minimum of 3
          characters, and a maximum of 63.
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-z][a-z0-9]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  sku:
                    description: The SKU of the PowerBI Dedicated capacity resource.
                    type: object
                    properties:
                      name:
[...]
