openapi: 3.0.0
info:
  title: Workloads Client
  version: 2024-02-01-preview
  description: The workload SAP monitor Client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Monitors
- name: ProviderInstances
- name: SapLandscapeMonitor
- name: Alerts
- name: AlertTemplates
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Workloads/monitors:
    get:
      operationId: Monitors_List
      tags:
      - Monitors
      description: Gets a list of SAP monitors in the specified subscription. The
        operations returns various properties of each SAP monitor.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Monitor list operation.
                properties:
                  value:
                    type: array
                    description: The Monitor items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: State of provisioning of the SAP monitor.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Failed
                              - Succeeded
                              - Deleting
                              - Migrating
                              - Canceled
                              x-ms-enum:
                                name: WorkloadMonitorProvisioningState
                                modelAsString: true
                                values:
                                - name: Accepted
                                  value: Accepted
                                  description: The resource request has been accepted.
                                - name: Creating
                                  value: Creating
                                  description: The resource is being created.
                                - name: Updating
                                  value: Updating
                                  description: The resource is being updated.
                                - name: Failed
                                  value: Failed
                                  description: The resource creation failed.
                                - name: Succeeded
                                  value: Succeeded
                                  description: The resource creation has succeeded.
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted.
                                - name: Migrating
                                  value: Migrating
                                  description: The resource is being migrated.
                                - name: Canceled
                                  value: Canceled
                                  description: The resource operation was canceled.
                            errors:
                              description: Defines the SAP monitor errors.
                              readOnly: true
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: The error code.
                                  readOnly: true
                                message:
                                  type: string
                                  description: The error message.
                                  readOnly: true
                                target:
                                  type: string
                                  description: The error target.
                                  readOnly: true
                                details:
                                  type: array
                                  description: The error details.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                                  readOnly: true
                                  x-ms-identifiers:
                                  - message
                                  - target
                                additionalInfo:
                                  type: array
                                  description: The error additional info.
                                  items:
                                    type: object
                                    description: The resource management error additional
                                      info.
                                    properties:
                                      type:
                                        type: string
                                        description: The additional info type.
                                        readOnly: true
                                      info:
                                        type: object
                                        description: The additional info.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers: []
                            appLocation:
                              type: string
                              description: The SAP monitor resources will be deployed
                                in the SAP monitoring region. The subnet region should
                                be same as the SAP monitoring region.
                            routingPreference:
                              description: Sets the routing preference of the SAP
                                monitor. By default only RFC1918 traffic is routed
                                to the customer VNET.
                              type: string
                              enum:
                              - Default
                              - RouteAll
                              x-ms-enum:
                                name: RoutingPreference
                                modelAsString: true
                                values:
                                - name: Default
                                  value: Default
                                  description: Default routing preference. Only RFC1918
                                    traffic is routed to the customer VNET.
                                - name: RouteAll
                                  value: RouteAll
                                  description: Route all traffic to the customer VNET.
                            zoneRedundancyPreference:
                              type: string
                              description: Sets the preference for zone redundancy
                                on resources created for the SAP monitor. By default
                                resources will be created which do not support zone
                                redundancy.
                            managedResourceGroupConfiguration:
                              description: Managed resource group configuration
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Managed resource group name
                            logAnalyticsWorkspaceArmId:
                              type: string
                              description: The ARM ID of the Log Analytics Workspace
                                that is used for SAP monitoring.
                            monitorSubnet:
                              type: string
                              description: The subnet which the SAP monitor will be
                                deployed in
                            appServicePlanConfiguration:
                              description: App service plan configuration
                              type: object
                              properties:
                                tier:
                                  description: The App Service plan tier.
                                  type: string
                                  enum:
                                  - ElasticPremium
                                  - PremiumV3
                                  x-ms-enum:
                                    name: AppServicePlanTier
                                    modelAsString: true
                                    values:
                                    - name: ElasticPremium
                                      value: ElasticPremium
                                      description: Elastic Premium plan
                                    - name: PremiumV3
                                      value: PremiumV3
                                      description: Dedicated Premium V3 plan
                                capacity:
                                  type: integer
                                  format: int32
                                  description: The number of workers in app service
                                    plan. If this is not set or set to 0, auto scale
                                    will be configured for the app service plan, otherwise,
                                    instance count is set to this number.
                                  minimum: 0
                            msiArmId:
                              type: string
                              description: The ARM ID of the MSI used for SAP monitoring.
                              readOnly: true
                            storageAccountArmId:
                              type: string
                              description: The ARM ID of the Storage account used
                                for SAP monitoring.
                              readOnly: true
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors:
    get:
      operationId: Monitors_ListByResourceGroup
      tags:
      - Monitors
      description: Gets a list of SAP monitors in the specified resource group.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Monitor list operation.
                properties:
                  value:
                    type: array
                    description: The Monitor items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: State of provisioning of the SAP monitor.
                              readOnly: true
                              type: string
                              enum:
                              - Accepted
                              - Creating
                              - Updating
                              - Failed
                              - Succeeded
                              - Deleting
                              - Migrating
                              - Canceled
                              x-ms-enum:
                                name: WorkloadMonitorProvisioningState
                                modelAsString: true
                                values:
                                - name: Accepted
                                  value: Accepted
                                  description: The resource request has been accepted.
                                - name: Creating
                                  value: Creating
                                  description: The resource is being created.
                                - name: Updating
                                  value: Updating
                                  description: The resource is being updated.
                                - name: Failed
                                  value: Failed
                                  description: The resource creation failed.
                                - name: Succeeded
                                  value: Succeeded
                                  description: The resource creation has succeeded.
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted.
                                - name: Migrating
                                  value: Migrating
                                  description: The resource is being migrated.
                                - name: Canceled
                                  value: Canceled
                                  description: The resource operation was canceled.
                            errors:
                              description: Defines the SAP monitor errors.
                              readOnly: true
                              type: object
                              properties:
                                code:
                                  type: string
                                  description: The error code.
                                  readOnly: true
                                message:
                                  type: string
                                  description: The error message.
                                  readOnly: true
                                target:
                                  type: string
                                  description: The error target.
                                  readOnly: true
                                details:
                                  type: array
                                  description: The error details.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                                  readOnly: true
                                  x-ms-identifiers:
                                  - message
                                  - target
                                additionalInfo:
                                  type: array
                                  description: The error additional info.
                                  items:
                                    type: object
                                    description: The resource management error additional
                                      info.
                                    properties:
                                      type:
                                        type: string
                                        description: The additional info type.
                                        readOnly: true
                                      info:
                                        type: object
                                        description: The additional info.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers: []
                            appLocation:
                              type: string
                              description: The SAP monitor resources will be deployed
                                in the SAP monitoring region. The subnet region should
                                be same as the SAP monitoring region.
                            routingPreference:
                              description: Sets the routing preference of the SAP
                                monitor. By default only RFC1918 traffic is routed
                                to the customer VNET.
                              type: string
                              enum:
                              - Default
                              - RouteAll
                              x-ms-enum:
                                name: RoutingPreference
                                modelAsString: true
                                values:
                                - name: Default
                                  value: Default
                                  description: Default routing preference. Only RFC1918
                                    traffic is routed to the customer VNET.
                                - name: RouteAll
                                  value: RouteAll
                                  description: Route all traffic to the customer VNET.
                            zoneRedundancyPreference:
                              type: string
                              description: Sets the preference for zone redundancy
                                on resources created for the SAP monitor. By default
                                resources will be created which do not support zone
                                redundancy.
                            managedResourceGroupConfiguration:
                              description: Managed resource group configuration
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Managed resource group name
                            logAnalyticsWorkspaceArmId:
                              type: string
                              description: The ARM ID of the Log Analytics Workspace
                                that is used for SAP monitoring.
                            monitorSubnet:
                              type: string
                              description: The subnet which the SAP monitor will be
                                deployed in
                            appServicePlanConfiguration:
                              description: App service plan configuration
                              type: object
                              properties:
                                tier:
                                  description: The App Service plan tier.
                                  type: string
                                  enum:
                                  - ElasticPremium
                                  - PremiumV3
                                  x-ms-enum:
                                    name: AppServicePlanTier
                                    modelAsString: true
                                    values:
                                    - name: ElasticPremium
                                      value: ElasticPremium
                                      description: Elastic Premium plan
                                    - name: PremiumV3
                                      value: PremiumV3
                                      description: Dedicated Premium V3 plan
                                capacity:
                                  type: integer
                                  format: int32
                                  description: The number of workers in app service
                                    plan. If this is not set or set to 0, auto scale
                                    will be configured for the app service plan, otherwise,
                                    instance count is set to this number.
                                  minimum: 0
                            msiArmId:
                              type: string
                              description: The ARM ID of the MSI used for SAP monitoring.
                              readOnly: true
                            storageAccountArmId:
                              type: string
                              description: The ARM ID of the Storage account used
                                for SAP monitoring.
                              readOnly: true
                        identity:
                          description: The managed service identities assigned to
                            this resource.
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                                nullable: true
                          required:
                          - type
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}:
    get:
      operationId: Monitors_Get
      tags:
      - Monitors
      description: Gets properties of a SAP monitor for the specified subscription,
        resource group, and resource name.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: monitorName
        in: path
        description: Name of the SAP monitor resource.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-_]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: State of provisioning of the SAP monitor.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
                        - Canceled
                        x-ms-enum:
                          name: WorkloadMonitorProvisioningState
                          modelAsString: true
                          values:
                          - name: Accepted
                            value: Accepted
                            description: The resource request has been accepted.
                          - name: Creating
                            value: Creating
                            description: The resource is being created.
                          - name: Updating
                            value: Updating
                            description: The resource is being updated.
                          - name: Failed
                            value: Failed
                            description: The resource creation failed.
                          - name: Succeeded
                            value: Succeeded
                            description: The resource creation has succeeded.
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted.
                          - name: Migrating
                            value: Migrating
                            description: The resource is being migrated.
                          - name: Canceled
                            value: Canceled
                            description: The resource operation was canceled.
                      errors:
                        description: Defines the SAP monitor errors.
                        readOnly: true
                        type: object
                        properties:
                          code:
                            type: string
                            description: The error code.
                            readOnly: true
                          message:
                            type: string
                            description: The error message.
                            readOnly: true
                          target:
                            type: string
                            description: The error target.
                            readOnly: true
                          details:
                            type: array
                            description: The error details.
                            items:
                              type: object
                              description: The error detail.
                              properties:
                                code:
                                  type: string
                                  description: The error code.
                                  readOnly: true
                                message:
                                  type: string
                                  description: The error message.
                                  readOnly: true
                                target:
                                  type: string
                                  description: The error target.
                                  readOnly: true
                                details:
                                  type: array
                                  description: The error details.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers:
                                  - message
                                  - target
                                additionalInfo:
                                  type: array
                                  description: The error additional info.
                                  items:
                                    type: object
                                    description: The resource management error additional
                                      info.
                                    properties:
                                      type:
                                        type: string
                                        description: The additional info type.
                                        readOnly: true
                                      info:
                                        type: object
                                        description: The additional info.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers: []
                            readOnly: true
                            x-ms-identifiers:
                            - message
                            - target
                          additionalInfo:
                            type: array
                            description: The error additional info.
                            items:
                              type: object
                              description: The resource management error additional
                                info.
                              properties:
                                type:
                                  type: string
                                  description: The additional info type.
                                  readOnly: true
                                info:
                                  type: object
                                  description: The additional info.
                                  readOnly: true
                            readOnly: true
                            x-ms-identifiers: []
                      appLocation:
                        type: string
                        description: The SAP monitor resources will be deployed in
                          the SAP monitoring region. The subnet region should be same
                          as the SAP monitoring region.
                      routingPreference:
                        description: Sets the routing preference of the SAP monitor.
                          By default only RFC1918 traffic is routed to the customer
                          VNET.
                        type: string
                        enum:
                        - Default
                        - RouteAll
                        x-ms-enum:
                          name: RoutingPreference
                          modelAsString: true
                          values:
                          - name: Default
                            value: Default
                            description: Default routing preference. Only RFC1918
                              traffic is routed to the customer VNET.
                          - name: RouteAll
                            value: RouteAll
                            description: Route all traffic to the customer VNET.
                      zoneRedundancyPreference:
                        type: string
                        description: Sets the preference for zone redundancy on resources
                          created for the SAP monitor. By default resources will be
                          created which do not support zone redundancy.
                      managedResourceGroupConfiguration:
                        description: Managed resource group configuration
                        type: object
                        properties:
                          name:
                            type: string
                            description: Managed resource group name
                      logAnalyticsWorkspaceArmId:
                        type: string
                        description: The ARM ID of the Log Analytics Workspace that
                          is used for SAP monitoring.
                      monitorSubnet:
                        type: string
                        description: The subnet which the SAP monitor will be deployed
                          in
                      appServicePlanConfiguration:
                        description: App service plan configuration
                        type: object
                        properties:
                          tier:
                            description: The App Service plan tier.
                            type: string
                            enum:
                            - ElasticPremium
                            - PremiumV3
                            x-ms-enum:
                              name: AppServicePlanTier
                              modelAsString: true
                              values:
                              - name: ElasticPremium
                                value: ElasticPremium
                                description: Elastic Premium plan
                              - name: PremiumV3
                                value: PremiumV3
                                description: Dedicated Premium V3 plan
                          capacity:
                            type: integer
                            format: int32
                            description: The number of workers in app service plan.
                              If this is not set or set to 0, auto scale will be configured
                              for the app service plan, otherwise, instance count
                              is set to this number.
                            minimum: 0
                      msiArmId:
                        type: string
                        description: The ARM ID of the MSI used for SAP monitoring.
                        readOnly: true
                      storageAccountArmId:
                        type: string
                        description: The ARM ID of the Storage account used for SAP
                          monitoring.
                        readOnly: true
                  identity:
                    description: The managed service identities assigned to this resource.
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned,UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                          nullable: true
                    required:
                    - type
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Monitors_Create
      tags:
      - Monitors
      description: Creates a SAP monitor for the specified subscription, resource
        group, and resource name.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: monitorName
        in: path
        description: Name of the SAP monitor resource.
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-_]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: State of provisioning of the SAP monitor.
                      readOnly: true
                      type: string
                      enum:
                      - Accepted
                      - Creating
                      - Updating
                      - Failed
                      - Succeeded
                      - Deleting
                      - Migrating
                      - Canceled
                      x-ms-enum:
                        name: WorkloadMonitorProvisioningState
                        modelAsString: true
                        values:
                        - name: Accepted
                          value: Accepted
                          description: The resource request has been accepted.
                        - name: Creating
                          value: Creating
                          description: The resource is being created.
                        - name: Updating
                          value: Updating
                          description: The resource is being updated.
                        - name: Failed
                          value: Failed
                          description: The resource creation failed.
                        - name: Succeeded
                          value: Succeeded
                          description: The resource creation has succeeded.
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted.
                        - name: Migrating
                          value: Migrating
                          description: The resource is being migrated.
                        - name: Canceled
                          value: Canceled
                          description: The resource operation was canceled.
                    errors:
                      description: Defines the SAP monitor errors.
                      readOnly: true
                      type: object
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                        details:
                          type: array
                          description: The error details.
                          items:
                            type: object
                            description: The error detail.
                            properties:
                              code:
                                type: string
                                description: The error code.
                                readOnly: true
                              message:
                                type: string
                                description: The error message.
                                readOnly: true
                              target:
                                type: string
                                description: The error target.
                                readOnly: true
                              details:
                                type: array
                                description: The error details.
                                items:
                                  type: object
                                  description: The error detail.
                                  properties:
                                    code:
                                      type: string
                                      description: The error code.
                                      readOnly: true
                                    message:
                                      type: string
                                      description: The error message.
                                      readOnly: true
                                    target:
                                      type: string
                                      description: The error target.
                                      readOnly: true
                                readOnly: true
                                x-ms-identifiers:
                                - message
                                - target
                              additionalInfo:
                                type: array
                                description: The error additional info.
                                items:
                                  type: object
                                  description: The resource management error additional
                                    info.
                                  properties:
                                    type:
                                      type: string
                                      description: The additional info type.
                                      readOnly: true
                                    info:
                                      type: object
                                      description: The additional info.
                                      readOnly: true
                                readOnly: true
                                x-ms-identifiers: []
                          readOnly: true
                          x-ms-identifiers:
                          - message
                          - target
                        additionalInfo:
                          type: array
                          description: The error additional info.
                          items:
                            type: object
                            description: The resource management error additional
                              info.
                            properties:
                              type:
                                type: string
                                description: The additional info type.
                                readOnly: true
                              info:
                                type: object
                                description: The additional info.
                                readOnly: true
                          readOnly: true
                          x-ms-identifiers: []
                    appLocation:
                      type: string
                      description: The SAP monitor resources will be deployed in the
                        SAP monitoring region. The subnet region should be same as
                        the SAP monitoring region.
                    routingPreference:
                      description: Sets the routing preference of the SAP monitor.
                        By default only RFC1918 traffic is routed to the customer
                        VNET.
                      type: string
                      enum:
                      - Default
                      - RouteAll
                      x-ms-enum:
                        name: RoutingPreference
                        modelAsString: true
                        values:
                        - name: Default
                          value: Default
                          description: Default routing preference. Only RFC1918 traffic
                            is routed to the customer VNET.
                        - name: RouteAll
                          value: RouteAll
                          description: Route all traffic to the customer VNET.
                    zoneRedundancyPreference:
                      type: string
                      description: Sets the preference for zone redundancy on resources
                        created for the SAP monitor. By default resources will be
                        created which do not support zone redundancy.
                    managedResourceGroupConfiguration:
                      description: Managed resource group configuration
                      type: object
                      properties:
                        name:
                          type: string
                          description: Managed resource group name
                    logAnalyticsWorkspaceArmId:
                      type: string
                      description: The ARM ID of the Log Analytics Workspace that
                        is used for SAP monitoring.
                    monitorSubnet:
                      type: string
                      description: The subnet which the SAP monitor will be deployed
                        in
                    appServicePlanConfiguration:
                      description: App service plan configuration
                      type: object
                      properties:
                        tier:
                          description: The App Service plan tier.
                          type: string
                          enum:
                          - ElasticPremium
                          - PremiumV3
                          x-ms-enum:
                            name: AppServicePlanTier
                            modelAsString: true
                            values:
                            - name: ElasticPremium
                              value: ElasticPremium
                              description: Elastic Premium plan
                            - name: PremiumV3
                              value: PremiumV3
                              description: Dedicated Premium V3 plan
                        capacity:
                          type: integer
                          format: int32
                          description: The number of workers in app service plan.
                            If this is not set or set to 0, auto scale will be configured
                            for the app service plan, otherwise, instance count is
                            set to this number.
                          minimum: 0
                    msiArmId:
                      type: string
                      description: The ARM ID of the MSI used for SAP monitoring.
                      readOnly: true
                    storageAccountArmId:
                      type: string
                      description: The ARM ID of the Storage account used for SAP
                        monitoring.
                      readOnly: true
                identity:
                  description: The managed service identities assigned to this resource.
                  type: object
                  properties:
                    principalId:
                      type: string
                      format: uuid
                      description: The service principal ID of the system assigned
                        identity. This property will only be provided for a system
                        assigned identity.
                      readOnly: true
                    tenantId:
                      type: string
                      format: uuid
                      description: The tenant ID of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                      readOnly: true
                    type:
                      type: string
                      description: Type of managed service identity (where both SystemAssigned
                        and UserAssigned types are allowed).
                      enum:
                      - None
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned,UserAssigned
                      x-ms-enum:
                        name: ManagedServiceIdentityType
                        modelAsString: true
                    userAssignedIdentities:
                      type: object
                      title: User-Assigned Identities
                      description: 'The set of user assigned identities associated
                        with the resource. The userAssignedIdentities dictionary keys
                        will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                        The dictionary values can be empty objects ({}) in requests.'
                      additionalProperties:
                        type: object
                        description: User assigned identity properties
                        properties:
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID of the assigned identity.
                            readOnly: true
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID of the assigned identity.
                            readOnly: true
                        nullable: true
                  required:
                  - type
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Request body representing a SAP monitor
        required: true
      responses:
        '200':
          description: Resource 'Monitor' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: State of provisioning of the SAP monitor.
                        readOnly: true
                        type: string
                        enum:
                        - Accepted
                        - Creating
                        - Updating
                        - Failed
                        - Succeeded
                        - Deleting
                        - Migrating
[...]
