openapi: 3.0.0
info:
  title: ExternalIdentities
  version: 2021-04-01
  description: Manage the Azure resource for an Azure Active Directory B2C tenant
    and guestUsages resource for External Identities in Azure AD
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/checkNameAvailability:
    post:
      tags:
      - B2CTenants
      operationId: B2CTenants_CheckNameAvailability
      description: Checks the availability and validity of a domain name for the tenant.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The information required to check the availability of the
                name for the tenant.
              required:
              - name
              - countryCode
              properties:
                name:
                  type: string
                  description: The domain name to check for availability.
                countryCode:
                  type: string
                  description: Country code of Azure tenant (e.g. 'US'). Refer to
                    [aka.ms/B2CDataResidency](https://aka.ms/B2CDataResidency) to
                    see valid country codes and corresponding data residency locations.
                    If you do not see a country code in an valid data residency location,
                    choose one from the list.
      responses:
        '200':
          description: The result of checking for the name availability.
          content:
            application/json:
              schema:
                description: Response of the CheckNameAvailability operation.
                type: object
                properties:
                  message:
                    type: string
                    description: Description of the reason if name is not available.
                  nameAvailable:
                    type: boolean
                    description: True if the name is available and can be used to
                      create a new tenant. Otherwise false.
                  reason:
                    description: Describes the reason for the 'nameAvailable' value.
                    type: string
                    enum:
                    - AlreadyExists
                    - Invalid
                    x-ms-enum:
                      name: NameAvailabilityReasonType
                      modelAsString: true
                      values:
                      - value: AlreadyExists
                        description: The name is already in use and is therefore unavailable.
                      - value: Invalid
                        description: "The name provided does not match the resource\
                          \ provider\u2019s naming requirements (incorrect length,\
                          \ unsupported characters, etc.)."
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: An error response for a resource management request.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories:
    get:
      description: Get all the Azure AD B2C tenant resources in a resource group.
      operationId: B2CTenants_ListByResourceGroup
      tags:
      - B2CTenants
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: List of Azure AD B2C tenants in resource group successfully
            retrieved.
          content:
            application/json:
              schema:
                description: The collection of Azure AD B2C tenant resources
                type: object
                properties:
                  value:
                    description: List of Azure AD B2C tenant resources
                    type: array
                    readOnly: true
                    items:
                      type: object
                      required:
                      - location
                      - sku
                      x-ms-azure-resource: true
                      properties:
                        type:
                          type: string
                          description: The type of the B2C tenant resource.
                          readOnly: true
                          enum:
                          - Microsoft.AzureActiveDirectory/b2cDirectories
                          x-ms-enum:
                            name: TypeValue
                            modelAsString: true
                            values:
                            - value: Microsoft.AzureActiveDirectory/b2cDirectories
                              description: The resource type for Azure AD B2C tenant
                                resource.
                        sku:
                          description: SKU properties of the Azure AD B2C tenant.
                            Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU for the tenant.
                              enum:
                              - Standard
                              - PremiumP1
                              - PremiumP2
                              x-ms-enum:
                                name: B2CResourceSKUName
                                modelAsString: true
                                values:
                                - value: Standard
                                  description: Azure AD B2C usage is billed to a linked
                                    Azure subscription and uses a monthly active users
                                    (MAU) billing model.
                                - value: PremiumP1
                                  description: Azure AD B2C usage is billed to a linked
                                    Azure subscription and uses number of authentications
                                    based billing.
                                - value: PremiumP2
                                  description: Azure AD B2C usage is billed to a linked
                                    Azure subscription and uses number of authentications
                                    based billing.
                            tier:
                              type: string
                              description: The tier of the tenant.
                              enum:
                              - A0
                              x-ms-enum:
                                name: B2CResourceSKUTier
                                modelAsString: true
                                values:
                                - value: A0
                                  description: The SKU tier used for all Azure AD
                                    B2C tenants.
                        properties:
                          x-ms-client-flatten: true
                          description: The Azure AD B2C tenant resource properties
                          type: object
                          properties:
                            billingConfig:
                              type: object
                              description: The billing configuration for the tenant.
                              properties:
                                billingType:
                                  type: string
                                  description: The type of billing. Will be MAU for
                                    all new customers. If 'Auths', it can be updated
                                    to 'MAU'. Cannot be changed if value is 'MAU'.
                                    Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).
                                  enum:
                                  - MAU
                                  - Auths
                                  x-ms-enum:
                                    name: BillingType
                                    modelAsString: true
                                    values:
                                    - value: MAU
                                      description: Azure AD B2C usage is billed to
                                        a linked Azure subscription and uses a monthly
                                        active users (MAU) billing model.
                                    - value: Auths
                                      description: Azure AD B2C usage is billed to
                                        a linked Azure subscription and uses number
                                        of authentications based billing.
                                effectiveStartDateUtc:
                                  type: string
                                  readOnly: true
                                  description: The data from which the billing type
                                    took effect
                            tenantId:
                              type: string
                              description: An identifier of the Azure AD B2C tenant.
                        id:
                          type: string
                          readOnly: true
                          description: An identifier that represents the Azure AD
                            B2C tenant resource.
                        name:
                          type: string
                          readOnly: true
                          description: The name of the Azure AD B2C tenant resource.
                        location:
                          type: string
                          description: The location in which the resource is hosted
                            and data resides. Can be one of 'United States', 'Europe',
                            'Asia Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency)
                            for more information.
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: An error response for a resource management request.
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/b2cDirectories:
    get:
      description: Get all the Azure AD B2C tenant resources in a subscription.
      operationId: B2CTenants_ListBySubscription
      tags:
      - B2CTenants
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      responses:
        '200':
          description: Azure AD B2C tenant resources in subscription successfully
            retrieved.
          content:
            application/json:
              schema:
                description: The collection of Azure AD B2C tenant resources
                type: object
                properties:
                  value:
                    description: List of Azure AD B2C tenant resources
                    type: array
                    readOnly: true
                    items:
                      type: object
                      required:
                      - location
                      - sku
                      x-ms-azure-resource: true
                      properties:
                        type:
                          type: string
                          description: The type of the B2C tenant resource.
                          readOnly: true
                          enum:
                          - Microsoft.AzureActiveDirectory/b2cDirectories
                          x-ms-enum:
                            name: TypeValue
                            modelAsString: true
                            values:
                            - value: Microsoft.AzureActiveDirectory/b2cDirectories
                              description: The resource type for Azure AD B2C tenant
                                resource.
                        sku:
                          description: SKU properties of the Azure AD B2C tenant.
                            Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the SKU for the tenant.
                              enum:
                              - Standard
                              - PremiumP1
                              - PremiumP2
                              x-ms-enum:
                                name: B2CResourceSKUName
                                modelAsString: true
                                values:
                                - value: Standard
                                  description: Azure AD B2C usage is billed to a linked
                                    Azure subscription and uses a monthly active users
                                    (MAU) billing model.
                                - value: PremiumP1
                                  description: Azure AD B2C usage is billed to a linked
                                    Azure subscription and uses number of authentications
                                    based billing.
                                - value: PremiumP2
                                  description: Azure AD B2C usage is billed to a linked
                                    Azure subscription and uses number of authentications
                                    based billing.
                            tier:
                              type: string
                              description: The tier of the tenant.
                              enum:
                              - A0
                              x-ms-enum:
                                name: B2CResourceSKUTier
                                modelAsString: true
                                values:
                                - value: A0
                                  description: The SKU tier used for all Azure AD
                                    B2C tenants.
                        properties:
                          x-ms-client-flatten: true
                          description: The Azure AD B2C tenant resource properties
                          type: object
                          properties:
                            billingConfig:
                              type: object
                              description: The billing configuration for the tenant.
                              properties:
                                billingType:
                                  type: string
                                  description: The type of billing. Will be MAU for
                                    all new customers. If 'Auths', it can be updated
                                    to 'MAU'. Cannot be changed if value is 'MAU'.
                                    Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).
                                  enum:
                                  - MAU
                                  - Auths
                                  x-ms-enum:
                                    name: BillingType
                                    modelAsString: true
                                    values:
                                    - value: MAU
                                      description: Azure AD B2C usage is billed to
                                        a linked Azure subscription and uses a monthly
                                        active users (MAU) billing model.
                                    - value: Auths
                                      description: Azure AD B2C usage is billed to
                                        a linked Azure subscription and uses number
                                        of authentications based billing.
                                effectiveStartDateUtc:
                                  type: string
                                  readOnly: true
                                  description: The data from which the billing type
                                    took effect
                            tenantId:
                              type: string
                              description: An identifier of the Azure AD B2C tenant.
                        id:
                          type: string
                          readOnly: true
                          description: An identifier that represents the Azure AD
                            B2C tenant resource.
                        name:
                          type: string
                          readOnly: true
                          description: The name of the Azure AD B2C tenant resource.
                        location:
                          type: string
                          description: The location in which the resource is hosted
                            and data resides. Can be one of 'United States', 'Europe',
                            'Asia Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency)
                            for more information.
                          x-ms-mutability:
                          - create
                          - read
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        systemData:
                          readOnly: true
                          description: Metadata pertaining to creation and last modification
                            of the resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: An error response for a resource management request.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories/{resourceName}
  : get:
      description: Get the Azure AD B2C tenant resource.
      operationId: B2CTenants_Get
      tags:
      - B2CTenants
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The initial domain name of the Azure AD B2C tenant.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Azure AD B2C tenant resource successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                required:
                - location
                - sku
                x-ms-azure-resource: true
                properties:
                  type:
                    type: string
                    description: The type of the B2C tenant resource.
                    readOnly: true
                    enum:
                    - Microsoft.AzureActiveDirectory/b2cDirectories
                    x-ms-enum:
                      name: TypeValue
                      modelAsString: true
                      values:
                      - value: Microsoft.AzureActiveDirectory/b2cDirectories
                        description: The resource type for Azure AD B2C tenant resource.
                  sku:
                    description: SKU properties of the Azure AD B2C tenant. Learn
                      more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU for the tenant.
                        enum:
                        - Standard
                        - PremiumP1
                        - PremiumP2
                        x-ms-enum:
                          name: B2CResourceSKUName
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses a monthly active users (MAU)
                              billing model.
                          - value: PremiumP1
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses number of authentications
                              based billing.
                          - value: PremiumP2
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses number of authentications
                              based billing.
                      tier:
                        type: string
                        description: The tier of the tenant.
                        enum:
                        - A0
                        x-ms-enum:
                          name: B2CResourceSKUTier
                          modelAsString: true
                          values:
                          - value: A0
                            description: The SKU tier used for all Azure AD B2C tenants.
                  properties:
                    x-ms-client-flatten: true
                    description: The Azure AD B2C tenant resource properties
                    type: object
                    properties:
                      billingConfig:
                        type: object
                        description: The billing configuration for the tenant.
                        properties:
                          billingType:
                            type: string
                            description: The type of billing. Will be MAU for all
                              new customers. If 'Auths', it can be updated to 'MAU'.
                              Cannot be changed if value is 'MAU'. Learn more about
                              Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).
                            enum:
                            - MAU
                            - Auths
                            x-ms-enum:
                              name: BillingType
                              modelAsString: true
                              values:
                              - value: MAU
                                description: Azure AD B2C usage is billed to a linked
                                  Azure subscription and uses a monthly active users
                                  (MAU) billing model.
                              - value: Auths
                                description: Azure AD B2C usage is billed to a linked
                                  Azure subscription and uses number of authentications
                                  based billing.
                          effectiveStartDateUtc:
                            type: string
                            readOnly: true
                            description: The data from which the billing type took
                              effect
                      tenantId:
                        type: string
                        description: An identifier of the Azure AD B2C tenant.
                  id:
                    type: string
                    readOnly: true
                    description: An identifier that represents the Azure AD B2C tenant
                      resource.
                  name:
                    type: string
                    readOnly: true
                    description: The name of the Azure AD B2C tenant resource.
                  location:
                    type: string
                    description: The location in which the resource is hosted and
                      data resides. Can be one of 'United States', 'Europe', 'Asia
                      Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency)
                      for more information.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: An error response for a resource management request.
    put:
      operationId: B2CTenants_Create
      description: Initiates an async request to create both the Azure AD B2C tenant
        and the corresponding Azure resource linked to a subscription.
      tags:
      - B2CTenants
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The initial domain name of the Azure AD B2C tenant.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The information needed to create the Azure AD B2C tenant
                and corresponding Azure resource, which is used for billing purposes.
              required:
              - location
              - sku
              - properties
              x-ms-azure-resource: true
              properties:
                location:
                  type: string
                  description: The location in which the resource is hosted and data
                    resides. Can be one of 'United States', 'Europe', 'Asia Pacific',
                    or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency)
                    for more information.
                properties:
                  type: object
                  x-ms-client-flatten: true
                  properties:
                    createTenantProperties:
                      x-ms-client-flatten: true
                      type: object
                      description: These properties are used to create the Azure AD
                        B2C tenant. These properties are not part of the Azure resource.
                      properties:
                        displayName:
                          description: The display name of the Azure AD B2C tenant.
                          type: string
                        countryCode:
                          type: string
                          description: Country code of Azure tenant (e.g. 'US'). Refer
                            to [aka.ms/B2CDataResidency](https://aka.ms/B2CDataResidency)
                            to see valid country codes and corresponding data residency
                            locations. If you do not see a country code in an valid
                            data residency location, choose one from the list.
                sku:
                  description: SKU properties of the Azure AD B2C tenant. Learn more
                    about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU for the tenant.
                      enum:
                      - Standard
                      - PremiumP1
                      - PremiumP2
                      x-ms-enum:
                        name: B2CResourceSKUName
                        modelAsString: true
                        values:
                        - value: Standard
                          description: Azure AD B2C usage is billed to a linked Azure
                            subscription and uses a monthly active users (MAU) billing
                            model.
                        - value: PremiumP1
                          description: Azure AD B2C usage is billed to a linked Azure
                            subscription and uses number of authentications based
                            billing.
                        - value: PremiumP2
                          description: Azure AD B2C usage is billed to a linked Azure
                            subscription and uses number of authentications based
                            billing.
                    tier:
                      type: string
                      description: The tier of the tenant.
                      enum:
                      - A0
                      x-ms-enum:
                        name: B2CResourceSKUTier
                        modelAsString: true
                        values:
                        - value: A0
                          description: The SKU tier used for all Azure AD B2C tenants.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource Tags
      responses:
        '200':
          description: OK - Response of the URL in Location header if the async operation
            is successful. Resource will be created.
          content:
            application/json:
              schema:
                type: object
                required:
                - location
                - sku
                x-ms-azure-resource: true
                properties:
                  type:
                    type: string
                    description: The type of the B2C tenant resource.
                    readOnly: true
                    enum:
                    - Microsoft.AzureActiveDirectory/b2cDirectories
                    x-ms-enum:
                      name: TypeValue
                      modelAsString: true
                      values:
                      - value: Microsoft.AzureActiveDirectory/b2cDirectories
                        description: The resource type for Azure AD B2C tenant resource.
                  sku:
                    description: SKU properties of the Azure AD B2C tenant. Learn
                      more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU for the tenant.
                        enum:
                        - Standard
                        - PremiumP1
                        - PremiumP2
                        x-ms-enum:
                          name: B2CResourceSKUName
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses a monthly active users (MAU)
                              billing model.
                          - value: PremiumP1
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses number of authentications
                              based billing.
                          - value: PremiumP2
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses number of authentications
                              based billing.
                      tier:
                        type: string
                        description: The tier of the tenant.
                        enum:
                        - A0
                        x-ms-enum:
                          name: B2CResourceSKUTier
                          modelAsString: true
                          values:
                          - value: A0
                            description: The SKU tier used for all Azure AD B2C tenants.
                  properties:
                    x-ms-client-flatten: true
                    description: The Azure AD B2C tenant resource properties
                    type: object
                    properties:
                      billingConfig:
                        type: object
                        description: The billing configuration for the tenant.
                        properties:
                          billingType:
                            type: string
                            description: The type of billing. Will be MAU for all
                              new customers. If 'Auths', it can be updated to 'MAU'.
                              Cannot be changed if value is 'MAU'. Learn more about
                              Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).
                            enum:
                            - MAU
                            - Auths
                            x-ms-enum:
                              name: BillingType
                              modelAsString: true
                              values:
                              - value: MAU
                                description: Azure AD B2C usage is billed to a linked
                                  Azure subscription and uses a monthly active users
                                  (MAU) billing model.
                              - value: Auths
                                description: Azure AD B2C usage is billed to a linked
                                  Azure subscription and uses number of authentications
                                  based billing.
                          effectiveStartDateUtc:
                            type: string
                            readOnly: true
                            description: The data from which the billing type took
                              effect
                      tenantId:
                        type: string
                        description: An identifier of the Azure AD B2C tenant.
                  id:
                    type: string
                    readOnly: true
                    description: An identifier that represents the Azure AD B2C tenant
                      resource.
                  name:
                    type: string
                    readOnly: true
                    description: The name of the Azure AD B2C tenant resource.
                  location:
                    type: string
                    description: The location in which the resource is hosted and
                      data resides. Can be one of 'United States', 'Europe', 'Asia
                      Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency)
                      for more information.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        '202':
          description: Azure AD B2C tenant create request accepted. The Location header
            indicates the URL/location in which to check to get the async status of
            the operation.
          headers:
            Location:
              description: Location URI to poll for result
              schema:
                type: string
            Retry-After:
              description: Contains the number of seconds to wait before polling the
                location.
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: An error response for a resource management request.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    patch:
      description: Update the Azure AD B2C tenant resource.
      operationId: B2CTenants_Update
      tags:
      - B2CTenants
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The initial domain name of the Azure AD B2C tenant.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The request body to update the Azure AD B2C tenant resource.
              properties:
                sku:
                  description: SKU properties of the Azure AD B2C tenant. Learn more
                    about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the SKU for the tenant.
                      enum:
                      - Standard
                      - PremiumP1
                      - PremiumP2
                      x-ms-enum:
                        name: B2CResourceSKUName
                        modelAsString: true
                        values:
                        - value: Standard
                          description: Azure AD B2C usage is billed to a linked Azure
                            subscription and uses a monthly active users (MAU) billing
                            model.
                        - value: PremiumP1
                          description: Azure AD B2C usage is billed to a linked Azure
                            subscription and uses number of authentications based
                            billing.
                        - value: PremiumP2
                          description: Azure AD B2C usage is billed to a linked Azure
                            subscription and uses number of authentications based
                            billing.
                    tier:
                      type: string
                      description: The tier of the tenant.
                      enum:
                      - A0
                      x-ms-enum:
                        name: B2CResourceSKUTier
                        modelAsString: true
                        values:
                        - value: A0
                          description: The SKU tier used for all Azure AD B2C tenants.
                properties:
                  x-ms-client-flatten: true
                  description: The Azure AD B2C tenant resource properties.
                  type: object
                  properties:
                    billingConfig:
                      type: object
                      description: The billing configuration for the tenant.
                      properties:
                        billingType:
                          type: string
                          description: The type of billing. Will be MAU for all new
                            customers. If 'Auths', it can be updated to 'MAU'. Cannot
                            be changed if value is 'MAU'. Learn more about Azure AD
                            B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).
                          enum:
                          - MAU
                          - Auths
                          x-ms-enum:
                            name: BillingType
                            modelAsString: true
                            values:
                            - value: MAU
                              description: Azure AD B2C usage is billed to a linked
                                Azure subscription and uses a monthly active users
                                (MAU) billing model.
                            - value: Auths
                              description: Azure AD B2C usage is billed to a linked
                                Azure subscription and uses number of authentications
                                based billing.
                        effectiveStartDateUtc:
                          type: string
                          readOnly: true
                          description: The data from which the billing type took effect
                    tenantId:
                      type: string
                      description: An identifier of the Azure AD B2C tenant.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource Tags
      responses:
        '200':
          description: Updated the Azure AD B2C tenant resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - location
                - sku
                x-ms-azure-resource: true
                properties:
                  type:
                    type: string
                    description: The type of the B2C tenant resource.
                    readOnly: true
                    enum:
                    - Microsoft.AzureActiveDirectory/b2cDirectories
                    x-ms-enum:
                      name: TypeValue
                      modelAsString: true
                      values:
                      - value: Microsoft.AzureActiveDirectory/b2cDirectories
                        description: The resource type for Azure AD B2C tenant resource.
                  sku:
                    description: SKU properties of the Azure AD B2C tenant. Learn
                      more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling).
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the SKU for the tenant.
                        enum:
                        - Standard
                        - PremiumP1
                        - PremiumP2
                        x-ms-enum:
                          name: B2CResourceSKUName
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses a monthly active users (MAU)
                              billing model.
                          - value: PremiumP1
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses number of authentications
                              based billing.
                          - value: PremiumP2
                            description: Azure AD B2C usage is billed to a linked
                              Azure subscription and uses number of authentications
                              based billing.
                      tier:
                        type: string
                        description: The tier of the tenant.
                        enum:
                        - A0
                        x-ms-enum:
                          name: B2CResourceSKUTier
                          modelAsString: true
                          values:
                          - value: A0
                            description: The SKU tier used for all Azure AD B2C tenants.
                  properties:
                    x-ms-client-flatten: true
                    description: The Azure AD B2C tenant resource properties
                    type: object
                    properties:
                      billingConfig:
                        type: object
                        description: The billing configuration for the tenant.
                        properties:
                          billingType:
                            type: string
                            description: The type of billing. Will be MAU for all
                              new customers. If 'Auths', it can be updated to 'MAU'.
                              Cannot be changed if value is 'MAU'. Learn more about
                              Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling).
                            enum:
                            - MAU
                            - Auths
                            x-ms-enum:
                              name: BillingType
                              modelAsString: true
                              values:
                              - value: MAU
                                description: Azure AD B2C usage is billed to a linked
                                  Azure subscription and uses a monthly active users
                                  (MAU) billing model.
                              - value: Auths
                                description: Azure AD B2C usage is billed to a linked
                                  Azure subscription and uses number of authentications
                                  based billing.
                          effectiveStartDateUtc:
                            type: string
                            readOnly: true
                            description: The data from which the billing type took
                              effect
                      tenantId:
                        type: string
                        description: An identifier of the Azure AD B2C tenant.
                  id:
                    type: string
                    readOnly: true
                    description: An identifier that represents the Azure AD B2C tenant
                      resource.
                  name:
                    type: string
                    readOnly: true
                    description: The name of the Azure AD B2C tenant resource.
                  location:
                    type: string
                    description: The location in which the resource is hosted and
                      data resides. Can be one of 'United States', 'Europe', 'Asia
                      Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency)
                      for more information.
                    x-ms-mutability:
                    - create
                    - read
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  systemData:
                    readOnly: true
                    description: Metadata pertaining to creation and last modification
                      of the resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                description: An error response for a resource management request.
    delete:
      operationId: B2CTenants_Delete
      description: 'Initiates an async operation to delete the Azure AD B2C tenant
        and Azure resource. The resource deletion can only happen as the last step
        in [the tenant deletion process](https://aka.ms/deleteB2Ctenant). '
      tags:
      - B2CTenants
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Version of the API to be used with the client request.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceName
        in: path
        required: true
        description: The initial domain name of the Azure AD B2C tenant.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Response of the URL in Location header if the asynchronous
            operation is successful. Resource will no longer exist.
        '202':
          description: 'Resource deletion request accepted. The Location header indicates
            the URL/location in which to poll for a result of the asynchronous operation. '
          headers:
            Location:
              description: Contains the URL/location which can return the deletion
                status.
              schema:
                type: string
            Retry-After:
              description: Contains the number of seconds to wait before checking
                the deletion status.
              schema:
                type: string
        '204':
          description: NoContent - Azure AD B2C tenant resource successfully deleted
            or didn't exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                type: object
                properties:
                  error:
                    title: Error Response
                    description: Common error response for all Azure Resource Manager
                      APIs to return error details for failed operations. (This also
                      follows the OData error response format.)
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          title: Error Response
                          description: Common error response for all Azure Resource
                            Manager APIs to return error details for failed operations.
                            (This also follows the OData error response format.)
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                title: Error Response
                                description: Common error response for all Azure Resource
                                  Manager APIs to return error details for failed
                                  operations. (This also follows the OData error response
                                  format.)
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
[...]
