openapi: 3.0.0
info:
  version: 2019-08-08-preview
  title: StorageManagementClient
  description: The Admin Storage Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/acquisitions:
    get:
      tags:
      - Acquisitions
      operationId: Acquisitions_List
      description: Returns a list of BLOB acquisitions.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The list of acquisitions has been returned.
          content:
            application/json:
              schema:
                description: The list of page BLOB acquisitions.
                type: object
                properties:
                  value:
                    description: List of acquisitions.
                    type: array
                    items:
                      description: The acquisition of the page BLOB.
                      type: object
                      properties:
                        susbcriptionid:
                          description: ID of the subscription associated with the
                            page BLOB.
                          type: string
                          readOnly: true
                        storageaccount:
                          description: The storage account that holds the page BLOB.
                          type: string
                          readOnly: true
                        container:
                          description: The container associated with the page BLOB.
                          type: string
                          readOnly: true
                        blob:
                          description: The name of the page BLOB.
                          type: string
                          readOnly: true
                        acquisitionid:
                          description: The ID of page BLOB acquisition.
                          type: string
                          readOnly: true
                        filePath:
                          description: The file path of the page BLOB file on storage
                            cluster.
                          type: string
                          readOnly: true
                        filePathUnc:
                          description: The file path unc of the page BLOB file on
                            storage cluster.
                          type: string
                          readOnly: true
                        maximumblobsize:
                          description: The maximum size of the page BLOB.
                          type: integer
                          format: int64
                          readOnly: true
                        status:
                          description: The status of the page BLOB acquisition.
                          readOnly: true
                          type: string
                          enum:
                          - Unknown
                          - NotAcquired
                          - Pending
                          - Success
                          - Failed
                          x-ms-enum:
                            name: AcquisitionStatus
                            modelAsString: true
                      x-ms-azure-resource: true
                    x-ms-identifiers:
                    - acquisitionid
                    readOnly: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      description: Subscription Id.
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Resource location.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      description: REST Api Version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AcquisitionStatus:
      description: The status of page BLOB acquisition.
      type: string
      enum:
      - Unknown
      - NotAcquired
      - Pending
      - Success
      - Failed
      x-ms-enum:
        name: AcquisitionStatus
        modelAsString: true
    Acquisition:
      description: The acquisition of the page BLOB.
      type: object
      properties:
        susbcriptionid:
          description: ID of the subscription associated with the page BLOB.
          type: string
          readOnly: true
        storageaccount:
          description: The storage account that holds the page BLOB.
          type: string
          readOnly: true
        container:
          description: The container associated with the page BLOB.
          type: string
          readOnly: true
        blob:
          description: The name of the page BLOB.
          type: string
          readOnly: true
        acquisitionid:
          description: The ID of page BLOB acquisition.
          type: string
          readOnly: true
        filePath:
          description: The file path of the page BLOB file on storage cluster.
          type: string
          readOnly: true
        filePathUnc:
          description: The file path unc of the page BLOB file on storage cluster.
          type: string
          readOnly: true
        maximumblobsize:
          description: The maximum size of the page BLOB.
          type: integer
          format: int64
          readOnly: true
        status:
          description: The status of the page BLOB acquisition.
          readOnly: true
          type: string
          enum:
          - Unknown
          - NotAcquired
          - Pending
          - Success
          - Failed
          x-ms-enum:
            name: AcquisitionStatus
            modelAsString: true
      x-ms-azure-resource: true
    AcquisitionList:
      description: The list of page BLOB acquisitions.
      type: object
      properties:
        value:
          description: List of acquisitions.
          type: array
          items:
            description: The acquisition of the page BLOB.
            type: object
            properties:
              susbcriptionid:
                description: ID of the subscription associated with the page BLOB.
                type: string
                readOnly: true
              storageaccount:
                description: The storage account that holds the page BLOB.
                type: string
                readOnly: true
              container:
                description: The container associated with the page BLOB.
                type: string
                readOnly: true
              blob:
                description: The name of the page BLOB.
                type: string
                readOnly: true
              acquisitionid:
                description: The ID of page BLOB acquisition.
                type: string
                readOnly: true
              filePath:
                description: The file path of the page BLOB file on storage cluster.
                type: string
                readOnly: true
              filePathUnc:
                description: The file path unc of the page BLOB file on storage cluster.
                type: string
                readOnly: true
              maximumblobsize:
                description: The maximum size of the page BLOB.
                type: integer
                format: int64
                readOnly: true
              status:
                description: The status of the page BLOB acquisition.
                readOnly: true
                type: string
                enum:
                - Unknown
                - NotAcquired
                - Pending
                - Success
                - Failed
                x-ms-enum:
                  name: AcquisitionStatus
                  modelAsString: true
            x-ms-azure-resource: true
          x-ms-identifiers:
          - acquisitionid
          readOnly: true
    ErrorResponse:
      description: The error response for request which failed.
      type: object
      properties:
        code:
          description: The error description code.
          type: string
          readOnly: true
        message:
          description: The error description message.
          type: string
          readOnly: true
        target:
          description: The error target description.
          type: string
          readOnly: true
        details:
          description: The error details information.
          type: array
          items:
            type: string
          readOnly: true
