openapi: 3.0.0
info:
  version: 2019-08-08-preview
  title: StorageManagementClient
  description: The Admin Storage Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/quotas/{quotaName}:
    put:
      tags:
      - StorageQuotas
      description: Create or update an existing storage quota.
      operationId: StorageQuotas_CreateOrUpdate
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      - description: The name of the storage quota.
        name: quotaName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                type:
                  description: Resource Type.
                  type: string
                  readOnly: true
                location:
                  description: Resource Location.
                  type: string
                  readOnly: true
                properties:
                  description: Storage quota properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    numberOfStorageAccounts:
                      description: Total number of storage accounts.
                      type: integer
                      format: int32
                      default: 20
                    capacityInGb:
                      description: Maximum capacity (GB).
                      type: integer
                      format: int32
                      default: 500
              description: Base resource object.
              x-ms-azure-resource: true
        description: The properties of quota being created or updated.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK -- The storage quota has been created or updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource Type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource Location.
                    type: string
                    readOnly: true
                  properties:
                    description: Storage quota properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      numberOfStorageAccounts:
                        description: Total number of storage accounts.
                        type: integer
                        format: int32
                        default: 20
                      capacityInGb:
                        description: Maximum capacity (GB).
                        type: integer
                        format: int32
                        default: 500
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
    delete:
      tags:
      - StorageQuotas
      description: Delete an existing quota
      operationId: StorageQuotas_Delete
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The name of the storage quota.
        name: quotaName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK -- The storage quota has been deleted.
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
    get:
      tags:
      - StorageQuotas
      description: Returns the specified storage quota.
      operationId: StorageQuotas_Get
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The name of the storage quota.
        name: quotaName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK -- The storage quota has been returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource Type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource Location.
                    type: string
                    readOnly: true
                  properties:
                    description: Storage quota properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      numberOfStorageAccounts:
                        description: Total number of storage accounts.
                        type: integer
                        format: int32
                        default: 20
                      capacityInGb:
                        description: Maximum capacity (GB).
                        type: integer
                        format: int32
                        default: 500
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/quotas:
    get:
      tags:
      - StorageQuotas
      description: Returns a list of storage quotas at the given location.
      operationId: StorageQuotas_List
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The list of storage quotas has been returned.
          content:
            application/json:
              schema:
                description: Pageable list of storage quotas.
                type: object
                properties:
                  value:
                    description: List of storage quotas.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource Type.
                          type: string
                          readOnly: true
                        location:
                          description: Resource Location.
                          type: string
                          readOnly: true
                        properties:
                          description: Storage quota properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            numberOfStorageAccounts:
                              description: Total number of storage accounts.
                              type: integer
                              format: int32
                              default: 20
                            capacityInGb:
                              description: Maximum capacity (GB).
                              type: integer
                              format: int32
                              default: 500
                      description: Base resource object.
                      x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
components:
  parameters:
    QuotaNameParameter:
      description: The name of the storage quota.
      name: quotaName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription Id.
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      description: REST Api Version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
    LocationParameter:
      description: Resource location.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    StorageQuota:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
        properties:
          description: Storage quota properties.
          x-ms-client-flatten: true
          type: object
          properties:
            numberOfStorageAccounts:
              description: Total number of storage accounts.
              type: integer
              format: int32
              default: 20
            capacityInGb:
              description: Maximum capacity (GB).
              type: integer
              format: int32
              default: 500
      description: Base resource object.
      x-ms-azure-resource: true
    StorageQuotaProperties:
      description: Storage quota properties.
      type: object
      properties:
        numberOfStorageAccounts:
          description: Total number of storage accounts.
          type: integer
          format: int32
          default: 20
        capacityInGb:
          description: Maximum capacity (GB).
          type: integer
          format: int32
          default: 500
    StorageQuotaList:
      description: Pageable list of storage quotas.
      type: object
      properties:
        value:
          description: List of storage quotas.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource Name.
                type: string
                readOnly: true
              type:
                description: Resource Type.
                type: string
                readOnly: true
              location:
                description: Resource Location.
                type: string
                readOnly: true
              properties:
                description: Storage quota properties.
                x-ms-client-flatten: true
                type: object
                properties:
                  numberOfStorageAccounts:
                    description: Total number of storage accounts.
                    type: integer
                    format: int32
                    default: 20
                  capacityInGb:
                    description: Maximum capacity (GB).
                    type: integer
                    format: int32
                    default: 500
            description: Base resource object.
            x-ms-azure-resource: true
    ErrorResponse:
      description: The error response for request which failed.
      type: object
      properties:
        code:
          description: The error description code.
          type: string
          readOnly: true
        message:
          description: The error description message.
          type: string
          readOnly: true
        target:
          description: The error target description.
          type: string
          readOnly: true
        details:
          description: The error details information.
          type: array
          items:
            type: string
          readOnly: true
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
      x-ms-azure-resource: true
