openapi: 3.0.0
info:
  version: 2019-08-08-preview
  title: StorageManagementClient
  description: The Admin Storage Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/settings:
    put:
      tags:
      - Settings
      description: Update storage resource provider settings.
      operationId: StorageSettings_Update
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Resource ID.
                  type: string
                  readOnly: true
                name:
                  description: Resource Name.
                  type: string
                  readOnly: true
                type:
                  description: Resource Type.
                  type: string
                  readOnly: true
                location:
                  description: Resource Location.
                  type: string
                  readOnly: true
                properties:
                  description: Properties of the storage account.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    retentionPeriodForDeletedStorageAccountsInDays:
                      description: The number of days a deleted storage account is
                        kept before being permanently deleted.
                      type: integer
                      format: int32
              description: Base resource object.
              x-ms-azure-resource: true
        description: Parameters used to update storage resource provider settings
        required: true
      responses:
        '200':
          description: OK -- The new storage resource provider setting is updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource Type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource Location.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the storage account.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      retentionPeriodForDeletedStorageAccountsInDays:
                        description: The number of days a deleted storage account
                          is kept before being permanently deleted.
                        type: integer
                        format: int32
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
    get:
      tags:
      - Settings
      description: Returns the storage resource provider settings.
      operationId: StorageSettings_Get
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The settings has been returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource Type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource Location.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the storage account.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      retentionPeriodForDeletedStorageAccountsInDays:
                        description: The number of days a deleted storage account
                          is kept before being permanently deleted.
                        type: integer
                        format: int32
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      description: Subscription Id.
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Resource location.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      description: REST Api Version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SettingProperties:
      description: Properties of storage setting.
      type: object
      properties:
        retentionPeriodForDeletedStorageAccountsInDays:
          description: The number of days a deleted storage account is kept before
            being permanently deleted.
          type: integer
          format: int32
    Settings:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
        properties:
          description: Properties of the storage account.
          x-ms-client-flatten: true
          type: object
          properties:
            retentionPeriodForDeletedStorageAccountsInDays:
              description: The number of days a deleted storage account is kept before
                being permanently deleted.
              type: integer
              format: int32
      description: Base resource object.
      x-ms-azure-resource: true
    ErrorResponse:
      description: The error response for request which failed.
      type: object
      properties:
        code:
          description: The error description code.
          type: string
          readOnly: true
        message:
          description: The error description message.
          type: string
          readOnly: true
        target:
          description: The error target description.
          type: string
          readOnly: true
        details:
          description: The error details information.
          type: array
          items:
            type: string
          readOnly: true
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
      x-ms-azure-resource: true
