openapi: 3.0.0
info:
  version: 2019-08-08-preview
  title: StorageManagementClient
  description: The Admin Storage Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Storage.Admin/operations:
    get:
      description: Get the list of support rest operations.
      tags:
      - Commerce
      operationId: Operations_List
      parameters:
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The list of operations has been returned.
          content:
            application/json:
              schema:
                description: Pageable list of supported operations.
                properties:
                  value:
                    description: List of operations
                    type: array
                    items:
                      description: Describes the supported REST operation.
                      properties:
                        name:
                          description: The name of the operation being performed on
                            this particular object. It should match the action name
                            that appears in RBAC / the event service.
                          type: string
                          readOnly: true
                        display:
                          description: Contains the localized display information
                            for this particular operation / action.
                          readOnly: true
                          properties:
                            provider:
                              description: "The localized friendly form of the resource\
                                \ provider name \u2013 it is expected to also include\
                                \ the publisher/company responsible. It should use\
                                \ Title Casing and begin with \"Microsoft\" for 1st\
                                \ party services. e.g. \"Microsoft Monitoring Insights\"\
                                \ or \"Microsoft Compute.\""
                              type: string
                              readOnly: true
                            resource:
                              description: "The localized friendly form of the resource\
                                \ type related to this action/operation \u2013 it\
                                \ should match the public documentation for the resource\
                                \ provider."
                              type: string
                              readOnly: true
                            operation:
                              description: The localized friendly name for the operation,
                                as it should be shown to the user.
                              type: string
                              readOnly: true
                            description:
                              description: "The localized friendly description for\
                                \ the operation, as it should be shown to the user.\
                                \ It should be thorough, yet concise \u2013 it will\
                                \ be used in tool tips and detailed views."
                              type: string
                              readOnly: true
                    x-ms-identifiers:
                    - name
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/asyncOperations/{asyncOperationId}:
    get:
      tags:
      - AsyncOperations
      operationId: AsyncOperations_Get
      description: Returns the async operation specified by asyncOperationId.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Async Operation Id.
        name: asyncOperationId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The async operation has been returned.
          content:
            application/json:
              schema:
                description: The async operation body for srp request.
                type: object
                properties:
                  id:
                    description: The operation id.
                    type: string
                    readOnly: true
                  operationStartTime:
                    description: Operation start time.
                    type: string
                    readOnly: true
                  operationEndTime:
                    description: Operation end time.
                    type: string
                    readOnly: true
                  subscriptionId:
                    description: Subscription id for async operation.
                    type: string
                    readOnly: true
                  locationHeader:
                    description: Location header for async operation.
                    type: string
                    readOnly: true
                  httpStatus:
                    description: Http status for the async operation.
                    type: string
                    readOnly: true
                  response:
                    description: Response for the async operation.
                    type: string
                    readOnly: true
                  context:
                    description: Operation context.
                    x-ms-client-flatten: true
                    readOnly: true
                    type: object
                    properties:
                      apiVersion:
                        description: Operation api version.
                        type: string
                        readOnly: true
                      activityId:
                        description: Activity id for the operation.
                        type: string
                        readOnly: true
                      operationName:
                        description: Async operation name.
                        type: string
                        readOnly: true
                      errorCode:
                        description: Async operation error code if operation failed.
                        type: string
                        readOnly: true
                      runtimeException:
                        description: Runtime exception if operation failed.
                        type: string
                        readOnly: true
                      startTime:
                        description: Start time for the operation.
                        type: string
                        readOnly: true
                  operation:
                    description: Async operation content.
                    x-ms-client-flatten: true
                    readOnly: true
                    type: object
                    properties:
                      name:
                        description: Async operation name
                        type: string
                        readOnly: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Storage.Admin/storageServices:
    get:
      tags:
      - StorageServices
      operationId: StorageServices_ListRG
      description: Returns the storage services list under the specified resource
        group and subscription.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource group name.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The list of storage services has been returned.
          content:
            application/json:
              schema:
                description: List for storage services.
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: Resource ID.
                      type: string
                      readOnly: true
                    name:
                      description: Resource Name.
                      type: string
                      readOnly: true
                    type:
                      description: Resource Type.
                      type: string
                      readOnly: true
                    location:
                      description: Resource Location.
                      type: string
                      readOnly: true
                    properties:
                      description: Properties for service name.
                      x-ms-client-flatten: true
                      readOnly: true
                      type: object
                      properties:
                        serviceName:
                          description: Service Name for Storage Service.
                          type: string
                          readOnly: true
                  description: Base resource object.
                  x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/storageServices:
    get:
      tags:
      - StorageServices
      operationId: StorageServices_ListSub
      description: Returns the storage services list under the specified subscription.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The list of storage services has been returned.
          content:
            application/json:
              schema:
                description: List for storage services.
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: Resource ID.
                      type: string
                      readOnly: true
                    name:
                      description: Resource Name.
                      type: string
                      readOnly: true
                    type:
                      description: Resource Type.
                      type: string
                      readOnly: true
                    location:
                      description: Resource Location.
                      type: string
                      readOnly: true
                    properties:
                      description: Properties for service name.
                      x-ms-client-flatten: true
                      readOnly: true
                      type: object
                      properties:
                        serviceName:
                          description: Service Name for Storage Service.
                          type: string
                          readOnly: true
                  description: Base resource object.
                  x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Storage.Admin/storageServices/{serviceName}
  : get:
      tags:
      - StorageServices
      operationId: StorageServices_Get
      description: Returns the specified storage service.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource group name.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Storage service name.
        name: serviceName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The specified storage service has been returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource Type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource Location.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties for service name.
                    x-ms-client-flatten: true
                    readOnly: true
                    type: object
                    properties:
                      serviceName:
                        description: Service Name for Storage Service.
                        type: string
                        readOnly: true
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
    put:
      tags:
      - StorageServices
      operationId: StorageServices_Create
      description: Create the specified storage resource.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource group name.
        name: resourceGroup
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Storage service name.
        name: serviceName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The specified storage service has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource Type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource Location.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties for service name.
                    x-ms-client-flatten: true
                    readOnly: true
                    type: object
                    properties:
                      serviceName:
                        description: Service Name for Storage Service.
                        type: string
                        readOnly: true
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
components:
  parameters:
    ApiVersionParameter:
      description: REST Api Version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
    LocationParameter:
      description: Resource location.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription Id.
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    AsyncOperationIdParameter:
      description: Async Operation Id.
      name: asyncOperationId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      description: Resource group name.
      name: resourceGroup
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    StorageServiceNameParameter:
      description: Storage service name.
      name: serviceName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Operation:
      description: Describes the supported REST operation.
      properties:
        name:
          description: The name of the operation being performed on this particular
            object. It should match the action name that appears in RBAC / the event
            service.
          type: string
          readOnly: true
        display:
          description: Contains the localized display information for this particular
            operation / action.
          readOnly: true
          properties:
            provider:
              description: "The localized friendly form of the resource provider name\
                \ \u2013 it is expected to also include the publisher/company responsible.\
                \ It should use Title Casing and begin with \"Microsoft\" for 1st\
                \ party services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft\
                \ Compute.\""
              type: string
              readOnly: true
            resource:
              description: "The localized friendly form of the resource type related\
                \ to this action/operation \u2013 it should match the public documentation\
                \ for the resource provider."
              type: string
              readOnly: true
            operation:
              description: The localized friendly name for the operation, as it should
                be shown to the user.
              type: string
              readOnly: true
            description:
              description: "The localized friendly description for the operation,\
                \ as it should be shown to the user. It should be thorough, yet concise\
                \ \u2013 it will be used in tool tips and detailed views."
              type: string
              readOnly: true
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      properties:
        provider:
          description: "The localized friendly form of the resource provider name\
            \ \u2013 it is expected to also include the publisher/company responsible.\
            \ It should use Title Casing and begin with \"Microsoft\" for 1st party\
            \ services. e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute.\""
          type: string
          readOnly: true
        resource:
          description: "The localized friendly form of the resource type related to\
            \ this action/operation \u2013 it should match the public documentation\
            \ for the resource provider."
          type: string
          readOnly: true
        operation:
          description: The localized friendly name for the operation, as it should
            be shown to the user.
          type: string
          readOnly: true
        description:
          description: "The localized friendly description for the operation, as it\
            \ should be shown to the user. It should be thorough, yet concise \u2013\
            \ it will be used in tool tips and detailed views."
          type: string
          readOnly: true
    OperationList:
      description: Pageable list of supported operations.
      properties:
        value:
          description: List of operations
          type: array
          items:
            description: Describes the supported REST operation.
            properties:
              name:
                description: The name of the operation being performed on this particular
                  object. It should match the action name that appears in RBAC / the
                  event service.
                type: string
                readOnly: true
              display:
                description: Contains the localized display information for this particular
                  operation / action.
                readOnly: true
                properties:
                  provider:
                    description: "The localized friendly form of the resource provider\
                      \ name \u2013 it is expected to also include the publisher/company\
                      \ responsible. It should use Title Casing and begin with \"\
                      Microsoft\" for 1st party services. e.g. \"Microsoft Monitoring\
                      \ Insights\" or \"Microsoft Compute.\""
                    type: string
                    readOnly: true
                  resource:
                    description: "The localized friendly form of the resource type\
                      \ related to this action/operation \u2013 it should match the\
                      \ public documentation for the resource provider."
                    type: string
                    readOnly: true
                  operation:
                    description: The localized friendly name for the operation, as
                      it should be shown to the user.
                    type: string
                    readOnly: true
                  description:
                    description: "The localized friendly description for the operation,\
                      \ as it should be shown to the user. It should be thorough,\
                      \ yet concise \u2013 it will be used in tool tips and detailed\
                      \ views."
                    type: string
                    readOnly: true
          x-ms-identifiers:
          - name
    ServiceNameProperties:
      description: The properties for service name.
      type: object
      properties:
        serviceName:
          description: Service Name for Storage Service.
          type: string
          readOnly: true
    StorageService:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
        properties:
          description: Properties for service name.
          x-ms-client-flatten: true
          readOnly: true
          type: object
          properties:
            serviceName:
              description: Service Name for Storage Service.
              type: string
              readOnly: true
      description: Base resource object.
      x-ms-azure-resource: true
    StorageServiceList:
      description: List for storage services.
      type: array
      items:
        type: object
        properties:
          id:
            description: Resource ID.
            type: string
            readOnly: true
          name:
            description: Resource Name.
            type: string
            readOnly: true
          type:
            description: Resource Type.
            type: string
            readOnly: true
          location:
            description: Resource Location.
            type: string
            readOnly: true
          properties:
            description: Properties for service name.
            x-ms-client-flatten: true
            readOnly: true
            type: object
            properties:
              serviceName:
                description: Service Name for Storage Service.
                type: string
                readOnly: true
        description: Base resource object.
        x-ms-azure-resource: true
    AsyncOperationModel:
      description: The async operation body for srp request.
      type: object
      properties:
        id:
          description: The operation id.
          type: string
          readOnly: true
        operationStartTime:
          description: Operation start time.
          type: string
          readOnly: true
        operationEndTime:
          description: Operation end time.
          type: string
          readOnly: true
        subscriptionId:
          description: Subscription id for async operation.
          type: string
          readOnly: true
        locationHeader:
          description: Location header for async operation.
          type: string
          readOnly: true
        httpStatus:
          description: Http status for the async operation.
          type: string
          readOnly: true
        response:
          description: Response for the async operation.
          type: string
          readOnly: true
        context:
          description: Operation context.
          x-ms-client-flatten: true
          readOnly: true
          type: object
          properties:
            apiVersion:
              description: Operation api version.
              type: string
              readOnly: true
            activityId:
              description: Activity id for the operation.
              type: string
              readOnly: true
            operationName:
              description: Async operation name.
              type: string
              readOnly: true
            errorCode:
              description: Async operation error code if operation failed.
              type: string
              readOnly: true
            runtimeException:
              description: Runtime exception if operation failed.
              type: string
              readOnly: true
            startTime:
              description: Start time for the operation.
              type: string
              readOnly: true
        operation:
          description: Async operation content.
          x-ms-client-flatten: true
          readOnly: true
          type: object
          properties:
            name:
              description: Async operation name
              type: string
              readOnly: true
    OperationRequestContext:
      description: Operation request context.
      type: object
      properties:
        apiVersion:
          description: Operation api version.
          type: string
          readOnly: true
        activityId:
          description: Activity id for the operation.
          type: string
          readOnly: true
        operationName:
          description: Async operation name.
          type: string
          readOnly: true
        errorCode:
          description: Async operation error code if operation failed.
          type: string
          readOnly: true
        runtimeException:
          description: Runtime exception if operation failed.
          type: string
          readOnly: true
        startTime:
          description: Start time for the operation.
          type: string
          readOnly: true
    AsyncOperation:
      description: Async operation content
      type: object
      properties:
        name:
          description: Async operation name
          type: string
          readOnly: true
    ErrorResponse:
      description: The error response for request which failed.
      type: object
      properties:
        code:
          description: The error description code.
          type: string
          readOnly: true
        message:
          description: The error description message.
          type: string
          readOnly: true
        target:
          description: The error target description.
          type: string
          readOnly: true
        details:
          description: The error details information.
          type: array
          items:
            type: string
          readOnly: true
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
      x-ms-azure-resource: true
