openapi: 3.0.0
info:
  version: 2019-08-08-preview
  title: StorageManagementClient
  description: The Admin Storage Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageAccounts:
    get:
      tags:
      - StorageAccounts
      operationId: StorageAccounts_List
      description: Returns a list of storage accounts.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      - description: Filter string
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Switch for whether summary or detailed information is returned.
        name: summary
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK -- The list of storage accounts has been returned.
          content:
            application/json:
              schema:
                description: Pageable list of storage accounts.
                type: object
                properties:
                  value:
                    description: List of storage accounts.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                          readOnly: true
                        name:
                          description: Resource Name.
                          type: string
                          readOnly: true
                        type:
                          description: Resource Type.
                          type: string
                          readOnly: true
                        location:
                          description: Resource Location.
                          type: string
                          readOnly: true
                        properties:
                          description: Properties of the storage account.
                          x-ms-client-flatten: true
                          readOnly: true
                          type: object
                          properties:
                            tenantViewId:
                              description: Resource URI of storage account from tenant
                                view.
                              type: string
                              readOnly: true
                            accountType:
                              description: Storage account type.
                              readOnly: true
                              type: string
                              enum:
                              - Standard_LRS
                              - Standard_GRS
                              - Standard_ZRS
                              - Standard_RAGRS
                              - Premium_LRS
                              x-ms-enum:
                                name: StorageAccountType
                                modelAsString: true
                            provisioningState:
                              description: The provisioning state of storage account.
                              readOnly: true
                              type: string
                              enum:
                              - Creating
                              - Succeeded
                              x-ms-enum:
                                name: StorageAccountState
                                modelAsString: true
                            primaryEndpoints:
                              description: The URLs that are used to perform a retrieval
                                of a public BLOB, queue, or table object.
                              type: object
                              additionalProperties:
                                type: string
                              readOnly: true
                            creationTime:
                              description: The creation date and time of storage account
                                in UTC.
                              type: string
                              readOnly: true
                            primaryLocation:
                              description: The primary location for the storage account.
                              type: string
                              readOnly: true
                            faultDomain:
                              description: The fault domain for the storage account.
                              type: string
                              readOnly: true
                            statusOfPrimary:
                              description: The status of primary location of storage
                                account.
                              readOnly: true
                              type: string
                              enum:
                              - Available
                              - Unavailable
                              x-ms-enum:
                                name: LocationStatus
                                modelAsString: true
                            tenantSubscriptionId:
                              description: Subscription ID of the subscription under
                                which the storage account locates.
                              type: string
                              readOnly: true
                            tenantStorageAccountName:
                              description: Storage account name from tenant view.
                              type: string
                              readOnly: true
                            tenantResourceGroupName:
                              description: The name of resource group under which
                                the storage account locates.
                              type: string
                              readOnly: true
                            deletedTime:
                              description: The date-time when the storage account
                                was deleted.
                              type: string
                              format: date-time
                              readOnly: true
                            accountStatus:
                              description: The status of storage account.
                              type: string
                              enum:
                              - Active
                              - Deleted
                              x-ms-enum:
                                name: StorageAccountStatus
                                modelAsString: true
                            accountId:
                              description: Internal storage account ID, which is not
                                visible to tenant.
                              type: string
                              readOnly: true
                            encryption:
                              description: The storage encryption setting
                              readOnly: true
                              type: object
                              properties:
                                services:
                                  description: Services for which encryption setting
                                    is mentioned
                                  readOnly: true
                                  type: object
                                  properties:
                                    blob:
                                      description: Blob service.
                                      readOnly: true
                                      type: object
                                      properties:
                                        enabled:
                                          description: Bool to indicate whether enabled
                                            or not.
                                          type: boolean
                                          readOnly: true
                                        lastEnabledTime:
                                          description: A rough estimate of the date/time
                                            when the encryption was last enabled by
                                            the user.
                                          type: string
                                          readOnly: true
                                    table:
                                      description: Table service.
                                      readOnly: true
                                      type: object
                                      properties:
                                        enabled:
                                          description: Bool to indicate whether enabled
                                            or not.
                                          type: boolean
                                          readOnly: true
                                        lastEnabledTime:
                                          description: A rough estimate of the date/time
                                            when the encryption was last enabled by
                                            the user.
                                          type: string
                                          readOnly: true
                                    queue:
                                      description: Queue service
                                      readOnly: true
                                      type: object
                                      properties:
                                        enabled:
                                          description: Bool to indicate whether enabled
                                            or not.
                                          type: boolean
                                          readOnly: true
                                        lastEnabledTime:
                                          description: A rough estimate of the date/time
                                            when the encryption was last enabled by
                                            the user.
                                          type: string
                                          readOnly: true
                                keySource:
                                  description: Encryption keySource
                                  readOnly: true
                                  type: string
                                  enum:
                                  - Microsoft.Storage
                                  x-ms-enum:
                                    name: EncryptionKeySource
                                    modelAsString: true
                            supportsHttpsTrafficOnly:
                              description: Storage account supports https traffic
                                only or not
                              type: boolean
                              readOnly: true
                            accessTier:
                              description: Required for storage accounts where kind
                                = BlobStorage.
                              readOnly: true
                              type: string
                              enum:
                              - Hot
                              - Cool
                              x-ms-enum:
                                name: StorageAccountAccessTier
                                modelAsString: true
                            healthState:
                              description: The internal health state for storage account.
                              readOnly: true
                              type: string
                              enum:
                              - Healthy
                              - Suspended
                              - OverQuota
                              - SuspendedAndOverQuota
                              x-ms-enum:
                                name: StorageAccountHealthState
                                modelAsString: true
                        kind:
                          description: Indicates the type of storage account
                          readOnly: true
                          type: string
                          enum:
                          - Storage
                          - StorageV2
                          - BlobStorage
                          x-ms-enum:
                            name: StorageAccountKind
                            modelAsString: true
                        tags:
                          description: Resource tags.
                          type: object
                          additionalProperties:
                            type: string
                          readOnly: true
                      description: Base resource object.
                      x-ms-azure-resource: true
                    readOnly: true
                  '@odata.nextLink':
                    description: URI to the next page.
                    type: string
                    readOnly: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageAccounts/{accountId}:
    get:
      tags:
      - StorageAccounts
      operationId: StorageAccounts_Get
      description: Returns the requested storage account.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Internal storage account ID, which is not visible to tenant.
        name: accountId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- The storage account has been returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Resource ID.
                    type: string
                    readOnly: true
                  name:
                    description: Resource Name.
                    type: string
                    readOnly: true
                  type:
                    description: Resource Type.
                    type: string
                    readOnly: true
                  location:
                    description: Resource Location.
                    type: string
                    readOnly: true
                  properties:
                    description: Properties of the storage account.
                    x-ms-client-flatten: true
                    readOnly: true
                    type: object
                    properties:
                      tenantViewId:
                        description: Resource URI of storage account from tenant view.
                        type: string
                        readOnly: true
                      accountType:
                        description: Storage account type.
                        readOnly: true
                        type: string
                        enum:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_ZRS
                        - Standard_RAGRS
                        - Premium_LRS
                        x-ms-enum:
                          name: StorageAccountType
                          modelAsString: true
                      provisioningState:
                        description: The provisioning state of storage account.
                        readOnly: true
                        type: string
                        enum:
                        - Creating
                        - Succeeded
                        x-ms-enum:
                          name: StorageAccountState
                          modelAsString: true
                      primaryEndpoints:
                        description: The URLs that are used to perform a retrieval
                          of a public BLOB, queue, or table object.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                      creationTime:
                        description: The creation date and time of storage account
                          in UTC.
                        type: string
                        readOnly: true
                      primaryLocation:
                        description: The primary location for the storage account.
                        type: string
                        readOnly: true
                      faultDomain:
                        description: The fault domain for the storage account.
                        type: string
                        readOnly: true
                      statusOfPrimary:
                        description: The status of primary location of storage account.
                        readOnly: true
                        type: string
                        enum:
                        - Available
                        - Unavailable
                        x-ms-enum:
                          name: LocationStatus
                          modelAsString: true
                      tenantSubscriptionId:
                        description: Subscription ID of the subscription under which
                          the storage account locates.
                        type: string
                        readOnly: true
                      tenantStorageAccountName:
                        description: Storage account name from tenant view.
                        type: string
                        readOnly: true
                      tenantResourceGroupName:
                        description: The name of resource group under which the storage
                          account locates.
                        type: string
                        readOnly: true
                      deletedTime:
                        description: The date-time when the storage account was deleted.
                        type: string
                        format: date-time
                        readOnly: true
                      accountStatus:
                        description: The status of storage account.
                        type: string
                        enum:
                        - Active
                        - Deleted
                        x-ms-enum:
                          name: StorageAccountStatus
                          modelAsString: true
                      accountId:
                        description: Internal storage account ID, which is not visible
                          to tenant.
                        type: string
                        readOnly: true
                      encryption:
                        description: The storage encryption setting
                        readOnly: true
                        type: object
                        properties:
                          services:
                            description: Services for which encryption setting is
                              mentioned
                            readOnly: true
                            type: object
                            properties:
                              blob:
                                description: Blob service.
                                readOnly: true
                                type: object
                                properties:
                                  enabled:
                                    description: Bool to indicate whether enabled
                                      or not.
                                    type: boolean
                                    readOnly: true
                                  lastEnabledTime:
                                    description: A rough estimate of the date/time
                                      when the encryption was last enabled by the
                                      user.
                                    type: string
                                    readOnly: true
                              table:
                                description: Table service.
                                readOnly: true
                                type: object
                                properties:
                                  enabled:
                                    description: Bool to indicate whether enabled
                                      or not.
                                    type: boolean
                                    readOnly: true
                                  lastEnabledTime:
                                    description: A rough estimate of the date/time
                                      when the encryption was last enabled by the
                                      user.
                                    type: string
                                    readOnly: true
                              queue:
                                description: Queue service
                                readOnly: true
                                type: object
                                properties:
                                  enabled:
                                    description: Bool to indicate whether enabled
                                      or not.
                                    type: boolean
                                    readOnly: true
                                  lastEnabledTime:
                                    description: A rough estimate of the date/time
                                      when the encryption was last enabled by the
                                      user.
                                    type: string
                                    readOnly: true
                          keySource:
                            description: Encryption keySource
                            readOnly: true
                            type: string
                            enum:
                            - Microsoft.Storage
                            x-ms-enum:
                              name: EncryptionKeySource
                              modelAsString: true
                      supportsHttpsTrafficOnly:
                        description: Storage account supports https traffic only or
                          not
                        type: boolean
                        readOnly: true
                      accessTier:
                        description: Required for storage accounts where kind = BlobStorage.
                        readOnly: true
                        type: string
                        enum:
                        - Hot
                        - Cool
                        x-ms-enum:
                          name: StorageAccountAccessTier
                          modelAsString: true
                      healthState:
                        description: The internal health state for storage account.
                        readOnly: true
                        type: string
                        enum:
                        - Healthy
                        - Suspended
                        - OverQuota
                        - SuspendedAndOverQuota
                        x-ms-enum:
                          name: StorageAccountHealthState
                          modelAsString: true
                  kind:
                    description: Indicates the type of storage account
                    readOnly: true
                    type: string
                    enum:
                    - Storage
                    - StorageV2
                    - BlobStorage
                    x-ms-enum:
                      name: StorageAccountKind
                      modelAsString: true
                  tags:
                    description: Resource tags.
                    type: object
                    additionalProperties:
                      type: string
                    readOnly: true
                description: Base resource object.
                x-ms-azure-resource: true
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageAccounts/{accountId}/undelete
  : post:
      tags:
      - StorageAccounts
      operationId: StorageAccounts_Undelete
      description: Undelete a deleted storage account with new account name if the
        a new name is provided.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Internal storage account ID, which is not visible to tenant.
        name: accountId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      - description: New storage account name when doing undelete storage account
          operation.
        name: newAccountName
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK -- Undelete either has been performed or account was not
            deleted.
        '202':
          description: Accepted -- undelete operation trigged; operation will complete
            asynchronously.
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/reclaimStorageCapacity:
    post:
      tags:
      - StorageAccounts
      operationId: StorageAccounts_ReclaimStorageCapacity
      description: Start reclaim storage capacity on deleted storage objects.
      parameters:
      - description: Subscription Id.
        name: subscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Resource location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: REST Api Version.
        name: api-version
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK -- Reclaim storage capacity has completed.
        '202':
          description: Accepted -- reclaim storage capacity operation triggered; operation
            will complete asynchronously.
        default:
          description: Error Response.
          content:
            application/json:
              schema:
                description: The error response for request which failed.
                type: object
                properties:
                  code:
                    description: The error description code.
                    type: string
                    readOnly: true
                  message:
                    description: The error description message.
                    type: string
                    readOnly: true
                  target:
                    description: The error target description.
                    type: string
                    readOnly: true
                  details:
                    description: The error details information.
                    type: array
                    items:
                      type: string
                    readOnly: true
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    AccountIdParameter:
      description: Internal storage account ID, which is not visible to tenant.
      name: accountId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    NewAccountNameParameter:
      description: New storage account name when doing undelete storage account operation.
      name: newAccountName
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SummaryParameter:
      description: Switch for whether summary or detailed information is returned.
      name: summary
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: boolean
        default: false
    FilterParameter:
      description: Filter string
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription Id.
      name: subscriptionId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: Resource location.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      description: REST Api Version.
      name: api-version
      in: query
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    StorageAccountState:
      readOnly: true
      description: Storage account state.
      type: string
      enum:
      - Creating
      - Succeeded
      x-ms-enum:
        name: StorageAccountState
        modelAsString: true
    StorageAccountType:
      description: Storage account type.
      type: string
      enum:
      - Standard_LRS
      - Standard_GRS
      - Standard_ZRS
      - Standard_RAGRS
      - Premium_LRS
      x-ms-enum:
        name: StorageAccountType
        modelAsString: true
    LocationStatus:
      readOnly: true
      type: string
      description: Gets the status indicating whether the primary location of the
        storage account is available or unavailable.
      enum:
      - Available
      - Unavailable
      x-ms-enum:
        name: LocationStatus
        modelAsString: true
    StorageAccountStatus:
      description: The state of storage account in WAC.
      type: string
      enum:
      - Active
      - Deleted
      x-ms-enum:
        name: StorageAccountStatus
        modelAsString: true
    StorageAccountKind:
      description: The kind of storage account
      type: string
      enum:
      - Storage
      - StorageV2
      - BlobStorage
      x-ms-enum:
        name: StorageAccountKind
        modelAsString: true
    StorageAccountAccessTier:
      description: Access tier for storage account
      type: string
      enum:
      - Hot
      - Cool
      x-ms-enum:
        name: StorageAccountAccessTier
        modelAsString: true
    StorageAccountHealthState:
      description: Health state for storage account
      type: string
      enum:
      - Healthy
      - Suspended
      - OverQuota
      - SuspendedAndOverQuota
      x-ms-enum:
        name: StorageAccountHealthState
        modelAsString: true
    StorageEncryptionSetting:
      description: Storage Encryption setting
      type: object
      properties:
        enabled:
          description: Bool to indicate whether enabled or not.
          type: boolean
          readOnly: true
        lastEnabledTime:
          description: A rough estimate of the date/time when the encryption was last
            enabled by the user.
          type: string
          readOnly: true
    StorageEncryptionServices:
      description: Services for which encryption setting is mentioned.
      type: object
      properties:
        blob:
          description: Blob service.
          readOnly: true
          type: object
          properties:
            enabled:
              description: Bool to indicate whether enabled or not.
              type: boolean
              readOnly: true
            lastEnabledTime:
              description: A rough estimate of the date/time when the encryption was
                last enabled by the user.
              type: string
              readOnly: true
        table:
          description: Table service.
          readOnly: true
          type: object
          properties:
            enabled:
              description: Bool to indicate whether enabled or not.
              type: boolean
              readOnly: true
            lastEnabledTime:
              description: A rough estimate of the date/time when the encryption was
                last enabled by the user.
              type: string
              readOnly: true
        queue:
          description: Queue service
          readOnly: true
          type: object
          properties:
            enabled:
              description: Bool to indicate whether enabled or not.
              type: boolean
              readOnly: true
            lastEnabledTime:
              description: A rough estimate of the date/time when the encryption was
                last enabled by the user.
              type: string
              readOnly: true
    EncryptionKeySource:
      description: Encryption Key Source
      type: string
      enum:
      - Microsoft.Storage
      x-ms-enum:
        name: EncryptionKeySource
        modelAsString: true
    StorageEncryption:
      description: Storage encryption setting
      type: object
      properties:
        services:
          description: Services for which encryption setting is mentioned
          readOnly: true
          type: object
          properties:
            blob:
              description: Blob service.
              readOnly: true
              type: object
              properties:
                enabled:
                  description: Bool to indicate whether enabled or not.
                  type: boolean
                  readOnly: true
                lastEnabledTime:
                  description: A rough estimate of the date/time when the encryption
                    was last enabled by the user.
                  type: string
                  readOnly: true
            table:
              description: Table service.
              readOnly: true
              type: object
              properties:
                enabled:
                  description: Bool to indicate whether enabled or not.
                  type: boolean
                  readOnly: true
                lastEnabledTime:
                  description: A rough estimate of the date/time when the encryption
                    was last enabled by the user.
                  type: string
                  readOnly: true
            queue:
              description: Queue service
              readOnly: true
              type: object
              properties:
                enabled:
                  description: Bool to indicate whether enabled or not.
                  type: boolean
                  readOnly: true
                lastEnabledTime:
                  description: A rough estimate of the date/time when the encryption
                    was last enabled by the user.
                  type: string
                  readOnly: true
        keySource:
          description: Encryption keySource
          readOnly: true
          type: string
          enum:
          - Microsoft.Storage
          x-ms-enum:
            name: EncryptionKeySource
            modelAsString: true
    StorageAccountProperties:
      description: Properties of a storage account.
      type: object
      properties:
        tenantViewId:
          description: Resource URI of storage account from tenant view.
          type: string
          readOnly: true
        accountType:
          description: Storage account type.
          readOnly: true
          type: string
          enum:
          - Standard_LRS
          - Standard_GRS
          - Standard_ZRS
          - Standard_RAGRS
          - Premium_LRS
          x-ms-enum:
            name: StorageAccountType
            modelAsString: true
        provisioningState:
          description: The provisioning state of storage account.
          readOnly: true
          type: string
          enum:
          - Creating
          - Succeeded
          x-ms-enum:
            name: StorageAccountState
            modelAsString: true
        primaryEndpoints:
          description: The URLs that are used to perform a retrieval of a public BLOB,
            queue, or table object.
          type: object
          additionalProperties:
            type: string
          readOnly: true
        creationTime:
          description: The creation date and time of storage account in UTC.
          type: string
          readOnly: true
        primaryLocation:
          description: The primary location for the storage account.
          type: string
          readOnly: true
        faultDomain:
          description: The fault domain for the storage account.
          type: string
          readOnly: true
        statusOfPrimary:
          description: The status of primary location of storage account.
          readOnly: true
          type: string
          enum:
          - Available
          - Unavailable
          x-ms-enum:
            name: LocationStatus
            modelAsString: true
        tenantSubscriptionId:
          description: Subscription ID of the subscription under which the storage
            account locates.
          type: string
          readOnly: true
        tenantStorageAccountName:
          description: Storage account name from tenant view.
          type: string
          readOnly: true
        tenantResourceGroupName:
          description: The name of resource group under which the storage account
            locates.
          type: string
          readOnly: true
        deletedTime:
          description: The date-time when the storage account was deleted.
          type: string
          format: date-time
          readOnly: true
        accountStatus:
          description: The status of storage account.
          type: string
          enum:
          - Active
          - Deleted
          x-ms-enum:
            name: StorageAccountStatus
            modelAsString: true
        accountId:
          description: Internal storage account ID, which is not visible to tenant.
          type: string
          readOnly: true
        encryption:
          description: The storage encryption setting
          readOnly: true
          type: object
          properties:
            services:
              description: Services for which encryption setting is mentioned
              readOnly: true
              type: object
              properties:
                blob:
                  description: Blob service.
                  readOnly: true
                  type: object
                  properties:
                    enabled:
                      description: Bool to indicate whether enabled or not.
                      type: boolean
                      readOnly: true
                    lastEnabledTime:
                      description: A rough estimate of the date/time when the encryption
                        was last enabled by the user.
                      type: string
                      readOnly: true
                table:
                  description: Table service.
                  readOnly: true
                  type: object
                  properties:
                    enabled:
                      description: Bool to indicate whether enabled or not.
                      type: boolean
                      readOnly: true
                    lastEnabledTime:
                      description: A rough estimate of the date/time when the encryption
                        was last enabled by the user.
                      type: string
                      readOnly: true
                queue:
                  description: Queue service
                  readOnly: true
                  type: object
                  properties:
                    enabled:
                      description: Bool to indicate whether enabled or not.
                      type: boolean
                      readOnly: true
                    lastEnabledTime:
                      description: A rough estimate of the date/time when the encryption
                        was last enabled by the user.
                      type: string
                      readOnly: true
            keySource:
              description: Encryption keySource
              readOnly: true
              type: string
              enum:
              - Microsoft.Storage
              x-ms-enum:
                name: EncryptionKeySource
                modelAsString: true
        supportsHttpsTrafficOnly:
          description: Storage account supports https traffic only or not
          type: boolean
          readOnly: true
        accessTier:
          description: Required for storage accounts where kind = BlobStorage.
          readOnly: true
          type: string
          enum:
          - Hot
          - Cool
          x-ms-enum:
            name: StorageAccountAccessTier
            modelAsString: true
        healthState:
          description: The internal health state for storage account.
          readOnly: true
          type: string
          enum:
          - Healthy
          - Suspended
          - OverQuota
          - SuspendedAndOverQuota
          x-ms-enum:
            name: StorageAccountHealthState
            modelAsString: true
    StorageAccount:
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
        properties:
          description: Properties of the storage account.
          x-ms-client-flatten: true
          readOnly: true
          type: object
          properties:
            tenantViewId:
              description: Resource URI of storage account from tenant view.
              type: string
              readOnly: true
            accountType:
              description: Storage account type.
              readOnly: true
              type: string
              enum:
              - Standard_LRS
              - Standard_GRS
              - Standard_ZRS
              - Standard_RAGRS
              - Premium_LRS
              x-ms-enum:
                name: StorageAccountType
                modelAsString: true
            provisioningState:
              description: The provisioning state of storage account.
              readOnly: true
              type: string
              enum:
              - Creating
              - Succeeded
              x-ms-enum:
                name: StorageAccountState
                modelAsString: true
            primaryEndpoints:
              description: The URLs that are used to perform a retrieval of a public
                BLOB, queue, or table object.
              type: object
              additionalProperties:
                type: string
              readOnly: true
            creationTime:
              description: The creation date and time of storage account in UTC.
              type: string
              readOnly: true
            primaryLocation:
              description: The primary location for the storage account.
              type: string
              readOnly: true
            faultDomain:
              description: The fault domain for the storage account.
              type: string
              readOnly: true
            statusOfPrimary:
              description: The status of primary location of storage account.
              readOnly: true
              type: string
              enum:
              - Available
              - Unavailable
              x-ms-enum:
                name: LocationStatus
                modelAsString: true
            tenantSubscriptionId:
              description: Subscription ID of the subscription under which the storage
                account locates.
              type: string
              readOnly: true
            tenantStorageAccountName:
              description: Storage account name from tenant view.
              type: string
              readOnly: true
            tenantResourceGroupName:
              description: The name of resource group under which the storage account
                locates.
              type: string
              readOnly: true
            deletedTime:
              description: The date-time when the storage account was deleted.
              type: string
              format: date-time
              readOnly: true
            accountStatus:
              description: The status of storage account.
              type: string
              enum:
              - Active
              - Deleted
              x-ms-enum:
                name: StorageAccountStatus
                modelAsString: true
            accountId:
              description: Internal storage account ID, which is not visible to tenant.
              type: string
              readOnly: true
            encryption:
              description: The storage encryption setting
              readOnly: true
              type: object
              properties:
                services:
                  description: Services for which encryption setting is mentioned
                  readOnly: true
                  type: object
                  properties:
                    blob:
                      description: Blob service.
                      readOnly: true
                      type: object
                      properties:
                        enabled:
                          description: Bool to indicate whether enabled or not.
                          type: boolean
                          readOnly: true
                        lastEnabledTime:
                          description: A rough estimate of the date/time when the
                            encryption was last enabled by the user.
                          type: string
                          readOnly: true
                    table:
                      description: Table service.
                      readOnly: true
                      type: object
                      properties:
                        enabled:
                          description: Bool to indicate whether enabled or not.
                          type: boolean
                          readOnly: true
                        lastEnabledTime:
                          description: A rough estimate of the date/time when the
                            encryption was last enabled by the user.
                          type: string
                          readOnly: true
                    queue:
                      description: Queue service
                      readOnly: true
                      type: object
                      properties:
                        enabled:
                          description: Bool to indicate whether enabled or not.
                          type: boolean
                          readOnly: true
                        lastEnabledTime:
                          description: A rough estimate of the date/time when the
                            encryption was last enabled by the user.
                          type: string
                          readOnly: true
                keySource:
                  description: Encryption keySource
                  readOnly: true
                  type: string
                  enum:
                  - Microsoft.Storage
                  x-ms-enum:
                    name: EncryptionKeySource
                    modelAsString: true
            supportsHttpsTrafficOnly:
              description: Storage account supports https traffic only or not
              type: boolean
              readOnly: true
            accessTier:
              description: Required for storage accounts where kind = BlobStorage.
              readOnly: true
              type: string
              enum:
              - Hot
              - Cool
              x-ms-enum:
                name: StorageAccountAccessTier
                modelAsString: true
            healthState:
              description: The internal health state for storage account.
              readOnly: true
              type: string
              enum:
              - Healthy
              - Suspended
              - OverQuota
              - SuspendedAndOverQuota
              x-ms-enum:
                name: StorageAccountHealthState
                modelAsString: true
        kind:
          description: Indicates the type of storage account
          readOnly: true
          type: string
          enum:
          - Storage
          - StorageV2
          - BlobStorage
          x-ms-enum:
            name: StorageAccountKind
            modelAsString: true
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
          readOnly: true
      description: Base resource object.
      x-ms-azure-resource: true
    StorageAccountList:
      description: Pageable list of storage accounts.
      type: object
      properties:
        value:
          description: List of storage accounts.
          type: array
          items:
            type: object
            properties:
              id:
                description: Resource ID.
                type: string
                readOnly: true
              name:
                description: Resource Name.
                type: string
                readOnly: true
              type:
                description: Resource Type.
                type: string
                readOnly: true
              location:
                description: Resource Location.
                type: string
                readOnly: true
              properties:
                description: Properties of the storage account.
                x-ms-client-flatten: true
                readOnly: true
                type: object
                properties:
                  tenantViewId:
                    description: Resource URI of storage account from tenant view.
                    type: string
                    readOnly: true
                  accountType:
                    description: Storage account type.
                    readOnly: true
                    type: string
                    enum:
                    - Standard_LRS
                    - Standard_GRS
                    - Standard_ZRS
                    - Standard_RAGRS
                    - Premium_LRS
                    x-ms-enum:
                      name: StorageAccountType
                      modelAsString: true
                  provisioningState:
                    description: The provisioning state of storage account.
                    readOnly: true
                    type: string
                    enum:
                    - Creating
                    - Succeeded
                    x-ms-enum:
                      name: StorageAccountState
                      modelAsString: true
                  primaryEndpoints:
                    description: The URLs that are used to perform a retrieval of
                      a public BLOB, queue, or table object.
                    type: object
                    additionalProperties:
                      type: string
                    readOnly: true
                  creationTime:
                    description: The creation date and time of storage account in
                      UTC.
                    type: string
                    readOnly: true
                  primaryLocation:
                    description: The primary location for the storage account.
                    type: string
                    readOnly: true
                  faultDomain:
                    description: The fault domain for the storage account.
                    type: string
                    readOnly: true
                  statusOfPrimary:
                    description: The status of primary location of storage account.
                    readOnly: true
                    type: string
                    enum:
                    - Available
                    - Unavailable
                    x-ms-enum:
                      name: LocationStatus
                      modelAsString: true
                  tenantSubscriptionId:
                    description: Subscription ID of the subscription under which the
                      storage account locates.
                    type: string
                    readOnly: true
                  tenantStorageAccountName:
                    description: Storage account name from tenant view.
                    type: string
                    readOnly: true
                  tenantResourceGroupName:
                    description: The name of resource group under which the storage
                      account locates.
                    type: string
                    readOnly: true
                  deletedTime:
                    description: The date-time when the storage account was deleted.
                    type: string
                    format: date-time
                    readOnly: true
                  accountStatus:
                    description: The status of storage account.
                    type: string
                    enum:
                    - Active
                    - Deleted
                    x-ms-enum:
                      name: StorageAccountStatus
                      modelAsString: true
                  accountId:
                    description: Internal storage account ID, which is not visible
                      to tenant.
                    type: string
                    readOnly: true
                  encryption:
                    description: The storage encryption setting
                    readOnly: true
                    type: object
                    properties:
                      services:
                        description: Services for which encryption setting is mentioned
                        readOnly: true
                        type: object
                        properties:
                          blob:
                            description: Blob service.
                            readOnly: true
                            type: object
                            properties:
                              enabled:
                                description: Bool to indicate whether enabled or not.
                                type: boolean
                                readOnly: true
                              lastEnabledTime:
                                description: A rough estimate of the date/time when
                                  the encryption was last enabled by the user.
                                type: string
                                readOnly: true
                          table:
                            description: Table service.
                            readOnly: true
                            type: object
                            properties:
                              enabled:
                                description: Bool to indicate whether enabled or not.
                                type: boolean
                                readOnly: true
                              lastEnabledTime:
                                description: A rough estimate of the date/time when
                                  the encryption was last enabled by the user.
                                type: string
                                readOnly: true
                          queue:
                            description: Queue service
                            readOnly: true
                            type: object
                            properties:
                              enabled:
                                description: Bool to indicate whether enabled or not.
                                type: boolean
                                readOnly: true
                              lastEnabledTime:
                                description: A rough estimate of the date/time when
                                  the encryption was last enabled by the user.
                                type: string
                                readOnly: true
                      keySource:
                        description: Encryption keySource
                        readOnly: true
                        type: string
                        enum:
                        - Microsoft.Storage
                        x-ms-enum:
                          name: EncryptionKeySource
                          modelAsString: true
                  supportsHttpsTrafficOnly:
                    description: Storage account supports https traffic only or not
                    type: boolean
                    readOnly: true
                  accessTier:
                    description: Required for storage accounts where kind = BlobStorage.
                    readOnly: true
                    type: string
                    enum:
                    - Hot
                    - Cool
                    x-ms-enum:
                      name: StorageAccountAccessTier
                      modelAsString: true
                  healthState:
                    description: The internal health state for storage account.
                    readOnly: true
                    type: string
                    enum:
                    - Healthy
                    - Suspended
                    - OverQuota
                    - SuspendedAndOverQuota
                    x-ms-enum:
                      name: StorageAccountHealthState
                      modelAsString: true
              kind:
                description: Indicates the type of storage account
                readOnly: true
                type: string
                enum:
                - Storage
                - StorageV2
                - BlobStorage
                x-ms-enum:
                  name: StorageAccountKind
                  modelAsString: true
              tags:
                description: Resource tags.
                type: object
                additionalProperties:
                  type: string
                readOnly: true
            description: Base resource object.
            x-ms-azure-resource: true
          readOnly: true
        '@odata.nextLink':
          description: URI to the next page.
          type: string
          readOnly: true
    UndeleteStorageAccount:
      description: Undelete storage account information.
      type: object
      properties:
        accountId:
          description: The internal wac id for storage account.
          type: string
          readOnly: true
        newAccountName:
          description: The new account name for the restored account if defined.
          type: string
          readOnly: true
    ErrorResponse:
      description: The error response for request which failed.
      type: object
      properties:
        code:
          description: The error description code.
          type: string
          readOnly: true
        message:
          description: The error description message.
          type: string
          readOnly: true
        target:
          description: The error target description.
          type: string
          readOnly: true
        details:
          description: The error details information.
          type: array
          items:
            type: string
          readOnly: true
    Resource:
      description: Base resource object.
      type: object
      properties:
        id:
          description: Resource ID.
          type: string
          readOnly: true
        name:
          description: Resource Name.
          type: string
          readOnly: true
        type:
          description: Resource Type.
          type: string
          readOnly: true
        location:
          description: Resource Location.
          type: string
          readOnly: true
      x-ms-azure-resource: true
