openapi: 3.0.0
info:
  title: PolicyClient
  version: 2025-03-01
  description: To manage and control access to your resources, you can define customized
    policies and assign them at a scope.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Authorization/listPolicySetDefinitionVersions:
    post:
      tags:
      - PolicySetDefinitionVersions
      operationId: PolicySetDefinitionVersions_ListAllBuiltins
      summary: Lists all built-in policy set definition versions.
      description: This operation lists all the built-in policy set definition versions
        for all built-in policy set definitions.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns an array of policy set definition versions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        properties:
                          x-ms-client-flatten: true
                          description: The policy set definition version properties.
                          type: object
                          properties:
                            policyType:
                              type: string
                              description: The type of policy definition. Possible
                                values are NotSpecified, BuiltIn, Custom, and Static.
                              enum:
                              - NotSpecified
                              - BuiltIn
                              - Custom
                              - Static
                              x-ms-enum:
                                name: policyType
                                modelAsString: true
                            displayName:
                              type: string
                              description: The display name of the policy set definition.
                            description:
                              type: string
                              description: The policy set definition description.
                            metadata:
                              type: object
                              description: The policy set definition metadata.  Metadata
                                is an open ended object and is typically a collection
                                of key value pairs.
                            parameters:
                              description: The policy set definition parameters that
                                can be used in policy definition references.
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  type:
                                    description: The data type of the parameter.
                                    type: string
                                    enum:
                                    - String
                                    - Array
                                    - Object
                                    - Boolean
                                    - Integer
                                    - Float
                                    - DateTime
                                    x-ms-enum:
                                      name: parameterType
                                      modelAsString: true
                                  allowedValues:
                                    type: array
                                    items:
                                      description: The collection of allowed values
                                        for the parameter.
                                    x-ms-identifiers: []
                                    description: The allowed values for the parameter.
                                  defaultValue:
                                    description: The default value for the parameter
                                      if no value is provided.
                                  schema:
                                    type: object
                                    description: Provides validation of parameter
                                      inputs during assignment using a self-defined
                                      JSON schema. This property is only supported
                                      for object-type parameters and follows the Json.NET
                                      Schema 2019-09 implementation. You can learn
                                      more about using schemas at https://json-schema.org/
                                      and test draft schemas at https://www.jsonschemavalidator.net/.
                                  metadata:
                                    type: object
                                    properties:
                                      displayName:
                                        type: string
                                        description: The display name for the parameter.
                                      description:
                                        type: string
                                        description: The description of the parameter.
                                      strongType:
                                        type: string
                                        description: Used when assigning the policy
                                          definition through the portal. Provides
                                          a context aware list of values for the user
                                          to choose from.
                                      assignPermissions:
                                        type: boolean
                                        description: Set to true to have Azure portal
                                          create role assignments on the resource
                                          ID or resource scope value of this parameter
                                          during policy assignment. This property
                                          is useful in case you wish to assign permissions
                                          outside the assignment scope.
                                    additionalProperties:
                                      type: object
                                    description: General metadata for the parameter.
                                description: The definition of a parameter that can
                                  be provided to the policy.
                            policyDefinitions:
                              type: array
                              items:
                                type: object
                                properties:
                                  policyDefinitionId:
                                    type: string
                                    description: The ID of the policy definition or
                                      policy set definition.
                                  definitionVersion:
                                    type: string
                                    description: The version of the policy definition
                                      to use.
                                  latestDefinitionVersion:
                                    type: string
                                    description: The latest version of the policy
                                      definition available. This is only present if
                                      requested via the $expand query parameter.
                                    readOnly: true
                                  effectiveDefinitionVersion:
                                    type: string
                                    description: The effective version of the policy
                                      definition in use. This is only present if requested
                                      via the $expand query parameter.
                                    readOnly: true
                                  parameters:
                                    description: The parameter values for the referenced
                                      policy rule. The keys are the parameter names.
                                    type: object
                                    additionalProperties:
                                      type: object
                                      properties:
                                        value:
                                          description: The value of the parameter.
                                      description: The value of a parameter.
                                  policyDefinitionReferenceId:
                                    type: string
                                    description: A unique id (within the policy set
                                      definition) for this policy definition reference.
                                  groupNames:
                                    type: array
                                    items:
                                      type: string
                                    description: The name of the groups that this
                                      policy definition reference belongs to.
                                required:
                                - policyDefinitionId
                                description: The policy definition reference.
                              x-ms-identifiers:
                              - policyDefinitionReferenceId
                              description: An array of policy definition references.
                            policyDefinitionGroups:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the group.
                                  displayName:
                                    type: string
                                    description: The group's display name.
                                  category:
                                    type: string
                                    description: The group's category.
                                  description:
                                    type: string
                                    description: The group's description.
                                  additionalMetadataId:
                                    type: string
                                    description: A resource ID of a resource that
                                      contains additional metadata about the group.
                                required:
                                - name
                                description: The policy definition group.
                              x-ms-identifiers:
                              - name
                              description: The metadata describing groups of policy
                                definition references within the policy set definition.
                            version:
                              type: string
                              description: 'The policy set definition version in #.#.#
                                format.'
                          required:
                          - policyDefinitions
                        id:
                          readOnly: true
                          type: string
                          description: The ID of the policy set definition version.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the policy set definition version.
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource (Microsoft.Authorization/policySetDefinitions/versions).
                        systemData:
                          readOnly: true
                          description: The system metadata relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: The policy set definition version.
                      x-ms-azure-resource: true
                    description: An array of policy set definition versions.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                description: List of policy set definition versions.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/listPolicySetDefinitionVersions
  : post:
      tags:
      - PolicySetDefinitionVersions
      operationId: PolicySetDefinitionVersions_ListAllAtManagementGroup
      summary: Lists all policy set definition versions at management group scope.
      description: This operation lists all the policy set definition versions for
        all policy set definitions at the management group scope.
      parameters:
      - name: managementGroupName
        in: path
        description: The name of the management group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns an array of policy set definition versions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        properties:
                          x-ms-client-flatten: true
                          description: The policy set definition version properties.
                          type: object
                          properties:
                            policyType:
                              type: string
                              description: The type of policy definition. Possible
                                values are NotSpecified, BuiltIn, Custom, and Static.
                              enum:
                              - NotSpecified
                              - BuiltIn
                              - Custom
                              - Static
                              x-ms-enum:
                                name: policyType
                                modelAsString: true
                            displayName:
                              type: string
                              description: The display name of the policy set definition.
                            description:
                              type: string
                              description: The policy set definition description.
                            metadata:
                              type: object
                              description: The policy set definition metadata.  Metadata
                                is an open ended object and is typically a collection
                                of key value pairs.
                            parameters:
                              description: The policy set definition parameters that
                                can be used in policy definition references.
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  type:
                                    description: The data type of the parameter.
                                    type: string
                                    enum:
                                    - String
                                    - Array
                                    - Object
                                    - Boolean
                                    - Integer
                                    - Float
                                    - DateTime
                                    x-ms-enum:
                                      name: parameterType
                                      modelAsString: true
                                  allowedValues:
                                    type: array
                                    items:
                                      description: The collection of allowed values
                                        for the parameter.
                                    x-ms-identifiers: []
                                    description: The allowed values for the parameter.
                                  defaultValue:
                                    description: The default value for the parameter
                                      if no value is provided.
                                  schema:
                                    type: object
                                    description: Provides validation of parameter
                                      inputs during assignment using a self-defined
                                      JSON schema. This property is only supported
                                      for object-type parameters and follows the Json.NET
                                      Schema 2019-09 implementation. You can learn
                                      more about using schemas at https://json-schema.org/
                                      and test draft schemas at https://www.jsonschemavalidator.net/.
                                  metadata:
                                    type: object
                                    properties:
                                      displayName:
                                        type: string
                                        description: The display name for the parameter.
                                      description:
                                        type: string
                                        description: The description of the parameter.
                                      strongType:
                                        type: string
                                        description: Used when assigning the policy
                                          definition through the portal. Provides
                                          a context aware list of values for the user
                                          to choose from.
                                      assignPermissions:
                                        type: boolean
                                        description: Set to true to have Azure portal
                                          create role assignments on the resource
                                          ID or resource scope value of this parameter
                                          during policy assignment. This property
                                          is useful in case you wish to assign permissions
                                          outside the assignment scope.
                                    additionalProperties:
                                      type: object
                                    description: General metadata for the parameter.
                                description: The definition of a parameter that can
                                  be provided to the policy.
                            policyDefinitions:
                              type: array
                              items:
                                type: object
                                properties:
                                  policyDefinitionId:
                                    type: string
                                    description: The ID of the policy definition or
                                      policy set definition.
                                  definitionVersion:
                                    type: string
                                    description: The version of the policy definition
                                      to use.
                                  latestDefinitionVersion:
                                    type: string
                                    description: The latest version of the policy
                                      definition available. This is only present if
                                      requested via the $expand query parameter.
                                    readOnly: true
                                  effectiveDefinitionVersion:
                                    type: string
                                    description: The effective version of the policy
                                      definition in use. This is only present if requested
                                      via the $expand query parameter.
                                    readOnly: true
                                  parameters:
                                    description: The parameter values for the referenced
                                      policy rule. The keys are the parameter names.
                                    type: object
                                    additionalProperties:
                                      type: object
                                      properties:
                                        value:
                                          description: The value of the parameter.
                                      description: The value of a parameter.
                                  policyDefinitionReferenceId:
                                    type: string
                                    description: A unique id (within the policy set
                                      definition) for this policy definition reference.
                                  groupNames:
                                    type: array
                                    items:
                                      type: string
                                    description: The name of the groups that this
                                      policy definition reference belongs to.
                                required:
                                - policyDefinitionId
                                description: The policy definition reference.
                              x-ms-identifiers:
                              - policyDefinitionReferenceId
                              description: An array of policy definition references.
                            policyDefinitionGroups:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the group.
                                  displayName:
                                    type: string
                                    description: The group's display name.
                                  category:
                                    type: string
                                    description: The group's category.
                                  description:
                                    type: string
                                    description: The group's description.
                                  additionalMetadataId:
                                    type: string
                                    description: A resource ID of a resource that
                                      contains additional metadata about the group.
                                required:
                                - name
                                description: The policy definition group.
                              x-ms-identifiers:
                              - name
                              description: The metadata describing groups of policy
                                definition references within the policy set definition.
                            version:
                              type: string
                              description: 'The policy set definition version in #.#.#
                                format.'
                          required:
                          - policyDefinitions
                        id:
                          readOnly: true
                          type: string
                          description: The ID of the policy set definition version.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the policy set definition version.
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource (Microsoft.Authorization/policySetDefinitions/versions).
                        systemData:
                          readOnly: true
                          description: The system metadata relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: The policy set definition version.
                      x-ms-azure-resource: true
                    description: An array of policy set definition versions.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                description: List of policy set definition versions.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/listPolicySetDefinitionVersions:
    post:
      tags:
      - PolicySetDefinitionVersions
      operationId: PolicySetDefinitionVersions_ListAll
      summary: Lists all policy set definition versions within a subscription.
      description: This operation lists all the policy set definition versions for
        all policy set definitions within a subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns an array of policy set definition versions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        properties:
                          x-ms-client-flatten: true
                          description: The policy set definition version properties.
                          type: object
                          properties:
                            policyType:
                              type: string
                              description: The type of policy definition. Possible
                                values are NotSpecified, BuiltIn, Custom, and Static.
                              enum:
                              - NotSpecified
                              - BuiltIn
                              - Custom
                              - Static
                              x-ms-enum:
                                name: policyType
                                modelAsString: true
                            displayName:
                              type: string
                              description: The display name of the policy set definition.
                            description:
                              type: string
                              description: The policy set definition description.
                            metadata:
                              type: object
                              description: The policy set definition metadata.  Metadata
                                is an open ended object and is typically a collection
                                of key value pairs.
                            parameters:
                              description: The policy set definition parameters that
                                can be used in policy definition references.
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  type:
                                    description: The data type of the parameter.
                                    type: string
                                    enum:
                                    - String
                                    - Array
                                    - Object
                                    - Boolean
                                    - Integer
                                    - Float
                                    - DateTime
                                    x-ms-enum:
                                      name: parameterType
                                      modelAsString: true
                                  allowedValues:
                                    type: array
                                    items:
                                      description: The collection of allowed values
                                        for the parameter.
                                    x-ms-identifiers: []
                                    description: The allowed values for the parameter.
                                  defaultValue:
                                    description: The default value for the parameter
                                      if no value is provided.
                                  schema:
                                    type: object
                                    description: Provides validation of parameter
                                      inputs during assignment using a self-defined
                                      JSON schema. This property is only supported
                                      for object-type parameters and follows the Json.NET
                                      Schema 2019-09 implementation. You can learn
                                      more about using schemas at https://json-schema.org/
                                      and test draft schemas at https://www.jsonschemavalidator.net/.
                                  metadata:
                                    type: object
                                    properties:
                                      displayName:
                                        type: string
                                        description: The display name for the parameter.
                                      description:
                                        type: string
                                        description: The description of the parameter.
                                      strongType:
                                        type: string
                                        description: Used when assigning the policy
                                          definition through the portal. Provides
                                          a context aware list of values for the user
                                          to choose from.
                                      assignPermissions:
                                        type: boolean
                                        description: Set to true to have Azure portal
                                          create role assignments on the resource
                                          ID or resource scope value of this parameter
                                          during policy assignment. This property
                                          is useful in case you wish to assign permissions
                                          outside the assignment scope.
                                    additionalProperties:
                                      type: object
                                    description: General metadata for the parameter.
                                description: The definition of a parameter that can
                                  be provided to the policy.
                            policyDefinitions:
                              type: array
                              items:
                                type: object
                                properties:
                                  policyDefinitionId:
                                    type: string
                                    description: The ID of the policy definition or
                                      policy set definition.
                                  definitionVersion:
                                    type: string
                                    description: The version of the policy definition
                                      to use.
                                  latestDefinitionVersion:
                                    type: string
                                    description: The latest version of the policy
                                      definition available. This is only present if
                                      requested via the $expand query parameter.
                                    readOnly: true
                                  effectiveDefinitionVersion:
                                    type: string
                                    description: The effective version of the policy
                                      definition in use. This is only present if requested
                                      via the $expand query parameter.
                                    readOnly: true
                                  parameters:
                                    description: The parameter values for the referenced
                                      policy rule. The keys are the parameter names.
                                    type: object
                                    additionalProperties:
                                      type: object
                                      properties:
                                        value:
                                          description: The value of the parameter.
                                      description: The value of a parameter.
                                  policyDefinitionReferenceId:
                                    type: string
                                    description: A unique id (within the policy set
                                      definition) for this policy definition reference.
                                  groupNames:
                                    type: array
                                    items:
                                      type: string
                                    description: The name of the groups that this
                                      policy definition reference belongs to.
                                required:
                                - policyDefinitionId
                                description: The policy definition reference.
                              x-ms-identifiers:
                              - policyDefinitionReferenceId
                              description: An array of policy definition references.
                            policyDefinitionGroups:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: The name of the group.
                                  displayName:
                                    type: string
                                    description: The group's display name.
                                  category:
                                    type: string
                                    description: The group's category.
                                  description:
                                    type: string
                                    description: The group's description.
                                  additionalMetadataId:
                                    type: string
                                    description: A resource ID of a resource that
                                      contains additional metadata about the group.
                                required:
                                - name
                                description: The policy definition group.
                              x-ms-identifiers:
                              - name
                              description: The metadata describing groups of policy
                                definition references within the policy set definition.
                            version:
                              type: string
                              description: 'The policy set definition version in #.#.#
                                format.'
                          required:
                          - policyDefinitions
                        id:
                          readOnly: true
                          type: string
                          description: The ID of the policy set definition version.
                        name:
                          readOnly: true
                          type: string
                          description: The name of the policy set definition version.
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource (Microsoft.Authorization/policySetDefinitions/versions).
                        systemData:
                          readOnly: true
                          description: The system metadata relating to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                      description: The policy set definition version.
                      x-ms-azure-resource: true
                    description: An array of policy set definition versions.
                  nextLink:
                    type: string
                    description: The URL to use for getting the next set of results.
                description: List of policy set definition versions.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}/versions/{policyDefinitionVersion}
  : put:
      tags:
      - PolicySetDefinitionVersions
      operationId: PolicySetDefinitionVersions_CreateOrUpdate
      summary: Creates or updates a policy set definition version.
      description: This operation creates or updates a policy set definition version
        in the given subscription with the given name and version.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: policySetDefinitionName
        in: path
        required: true
        description: The name of the policy set definition.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: policyDefinitionVersion
        in: path
        required: true
        description: The policy set definition version.  The format is x.y.z where
          x is the major version number, y is the minor version number, and z is the
          patch number
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^\d+\.\d+\.\d+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: The policy set definition version properties.
                  type: object
                  properties:
                    policyType:
                      type: string
                      description: The type of policy definition. Possible values
                        are NotSpecified, BuiltIn, Custom, and Static.
                      enum:
                      - NotSpecified
                      - BuiltIn
                      - Custom
                      - Static
                      x-ms-enum:
                        name: policyType
                        modelAsString: true
                    displayName:
                      type: string
                      description: The display name of the policy set definition.
                    description:
                      type: string
                      description: The policy set definition description.
                    metadata:
                      type: object
                      description: The policy set definition metadata.  Metadata is
                        an open ended object and is typically a collection of key
                        value pairs.
                    parameters:
                      description: The policy set definition parameters that can be
                        used in policy definition references.
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          type:
                            description: The data type of the parameter.
                            type: string
                            enum:
                            - String
                            - Array
                            - Object
                            - Boolean
                            - Integer
                            - Float
                            - DateTime
                            x-ms-enum:
                              name: parameterType
                              modelAsString: true
                          allowedValues:
                            type: array
                            items:
                              description: The collection of allowed values for the
                                parameter.
                            x-ms-identifiers: []
                            description: The allowed values for the parameter.
                          defaultValue:
                            description: The default value for the parameter if no
                              value is provided.
                          schema:
                            type: object
                            description: Provides validation of parameter inputs during
                              assignment using a self-defined JSON schema. This property
                              is only supported for object-type parameters and follows
                              the Json.NET Schema 2019-09 implementation. You can
                              learn more about using schemas at https://json-schema.org/
                              and test draft schemas at https://www.jsonschemavalidator.net/.
                          metadata:
                            type: object
                            properties:
                              displayName:
                                type: string
                                description: The display name for the parameter.
                              description:
                                type: string
                                description: The description of the parameter.
                              strongType:
                                type: string
                                description: Used when assigning the policy definition
                                  through the portal. Provides a context aware list
                                  of values for the user to choose from.
                              assignPermissions:
                                type: boolean
                                description: Set to true to have Azure portal create
                                  role assignments on the resource ID or resource
                                  scope value of this parameter during policy assignment.
                                  This property is useful in case you wish to assign
                                  permissions outside the assignment scope.
                            additionalProperties:
                              type: object
                            description: General metadata for the parameter.
                        description: The definition of a parameter that can be provided
                          to the policy.
                    policyDefinitions:
                      type: array
                      items:
                        type: object
                        properties:
                          policyDefinitionId:
                            type: string
                            description: The ID of the policy definition or policy
                              set definition.
                          definitionVersion:
                            type: string
                            description: The version of the policy definition to use.
                          latestDefinitionVersion:
                            type: string
                            description: The latest version of the policy definition
                              available. This is only present if requested via the
                              $expand query parameter.
                            readOnly: true
                          effectiveDefinitionVersion:
                            type: string
                            description: The effective version of the policy definition
                              in use. This is only present if requested via the $expand
                              query parameter.
                            readOnly: true
                          parameters:
                            description: The parameter values for the referenced policy
                              rule. The keys are the parameter names.
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                value:
                                  description: The value of the parameter.
                              description: The value of a parameter.
                          policyDefinitionReferenceId:
                            type: string
                            description: A unique id (within the policy set definition)
                              for this policy definition reference.
                          groupNames:
                            type: array
                            items:
                              type: string
                            description: The name of the groups that this policy definition
                              reference belongs to.
                        required:
                        - policyDefinitionId
                        description: The policy definition reference.
                      x-ms-identifiers:
                      - policyDefinitionReferenceId
                      description: An array of policy definition references.
                    policyDefinitionGroups:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the group.
                          displayName:
                            type: string
                            description: The group's display name.
                          category:
                            type: string
                            description: The group's category.
                          description:
                            type: string
                            description: The group's description.
                          additionalMetadataId:
                            type: string
                            description: A resource ID of a resource that contains
                              additional metadata about the group.
                        required:
                        - name
                        description: The policy definition group.
                      x-ms-identifiers:
                      - name
                      description: The metadata describing groups of policy definition
                        references within the policy set definition.
                    version:
                      type: string
                      description: 'The policy set definition version in #.#.# format.'
                  required:
                  - policyDefinitions
                id:
                  readOnly: true
                  type: string
                  description: The ID of the policy set definition version.
                name:
                  readOnly: true
                  type: string
                  description: The name of the policy set definition version.
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource (Microsoft.Authorization/policySetDefinitions/versions).
                systemData:
                  readOnly: true
                  description: The system metadata relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              description: The policy set definition version.
              x-ms-azure-resource: true
        description: The policy set definition properties.
        required: true
      responses:
        '200':
          description: OK - Successfully updated policy set definition version.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: The policy set definition version properties.
                    type: object
                    properties:
                      policyType:
                        type: string
                        description: The type of policy definition. Possible values
                          are NotSpecified, BuiltIn, Custom, and Static.
                        enum:
                        - NotSpecified
                        - BuiltIn
                        - Custom
                        - Static
                        x-ms-enum:
                          name: policyType
                          modelAsString: true
                      displayName:
                        type: string
                        description: The display name of the policy set definition.
                      description:
                        type: string
                        description: The policy set definition description.
                      metadata:
                        type: object
                        description: The policy set definition metadata.  Metadata
                          is an open ended object and is typically a collection of
                          key value pairs.
                      parameters:
                        description: The policy set definition parameters that can
                          be used in policy definition references.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              description: The data type of the parameter.
                              type: string
                              enum:
                              - String
                              - Array
                              - Object
                              - Boolean
                              - Integer
                              - Float
                              - DateTime
                              x-ms-enum:
                                name: parameterType
                                modelAsString: true
                            allowedValues:
                              type: array
                              items:
                                description: The collection of allowed values for
                                  the parameter.
                              x-ms-identifiers: []
                              description: The allowed values for the parameter.
                            defaultValue:
                              description: The default value for the parameter if
                                no value is provided.
                            schema:
                              type: object
                              description: Provides validation of parameter inputs
                                during assignment using a self-defined JSON schema.
                                This property is only supported for object-type parameters
                                and follows the Json.NET Schema 2019-09 implementation.
                                You can learn more about using schemas at https://json-schema.org/
                                and test draft schemas at https://www.jsonschemavalidator.net/.
                            metadata:
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: The display name for the parameter.
                                description:
                                  type: string
                                  description: The description of the parameter.
                                strongType:
                                  type: string
                                  description: Used when assigning the policy definition
                                    through the portal. Provides a context aware list
                                    of values for the user to choose from.
                                assignPermissions:
                                  type: boolean
                                  description: Set to true to have Azure portal create
                                    role assignments on the resource ID or resource
                                    scope value of this parameter during policy assignment.
                                    This property is useful in case you wish to assign
                                    permissions outside the assignment scope.
                              additionalProperties:
                                type: object
                              description: General metadata for the parameter.
                          description: The definition of a parameter that can be provided
                            to the policy.
                      policyDefinitions:
                        type: array
                        items:
                          type: object
                          properties:
                            policyDefinitionId:
                              type: string
                              description: The ID of the policy definition or policy
                                set definition.
                            definitionVersion:
                              type: string
                              description: The version of the policy definition to
                                use.
                            latestDefinitionVersion:
                              type: string
                              description: The latest version of the policy definition
                                available. This is only present if requested via the
                                $expand query parameter.
                              readOnly: true
                            effectiveDefinitionVersion:
                              type: string
                              description: The effective version of the policy definition
                                in use. This is only present if requested via the
                                $expand query parameter.
                              readOnly: true
                            parameters:
                              description: The parameter values for the referenced
                                policy rule. The keys are the parameter names.
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  value:
                                    description: The value of the parameter.
                                description: The value of a parameter.
                            policyDefinitionReferenceId:
                              type: string
                              description: A unique id (within the policy set definition)
                                for this policy definition reference.
                            groupNames:
                              type: array
                              items:
                                type: string
                              description: The name of the groups that this policy
                                definition reference belongs to.
                          required:
                          - policyDefinitionId
                          description: The policy definition reference.
                        x-ms-identifiers:
                        - policyDefinitionReferenceId
                        description: An array of policy definition references.
                      policyDefinitionGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the group.
                            displayName:
                              type: string
                              description: The group's display name.
                            category:
                              type: string
                              description: The group's category.
                            description:
                              type: string
                              description: The group's description.
                            additionalMetadataId:
                              type: string
                              description: A resource ID of a resource that contains
                                additional metadata about the group.
                          required:
                          - name
                          description: The policy definition group.
                        x-ms-identifiers:
                        - name
                        description: The metadata describing groups of policy definition
                          references within the policy set definition.
                      version:
                        type: string
                        description: 'The policy set definition version in #.#.# format.'
                    required:
                    - policyDefinitions
                  id:
                    readOnly: true
                    type: string
                    description: The ID of the policy set definition version.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the policy set definition version.
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource (Microsoft.Authorization/policySetDefinitions/versions).
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy set definition version.
                x-ms-azure-resource: true
        '201':
          description: Created - Returns information about the policy set definition
            version.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: The policy set definition version properties.
                    type: object
                    properties:
                      policyType:
                        type: string
                        description: The type of policy definition. Possible values
                          are NotSpecified, BuiltIn, Custom, and Static.
                        enum:
                        - NotSpecified
                        - BuiltIn
                        - Custom
                        - Static
                        x-ms-enum:
                          name: policyType
                          modelAsString: true
                      displayName:
                        type: string
                        description: The display name of the policy set definition.
                      description:
                        type: string
                        description: The policy set definition description.
                      metadata:
                        type: object
                        description: The policy set definition metadata.  Metadata
                          is an open ended object and is typically a collection of
                          key value pairs.
                      parameters:
                        description: The policy set definition parameters that can
                          be used in policy definition references.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              description: The data type of the parameter.
                              type: string
                              enum:
                              - String
                              - Array
                              - Object
                              - Boolean
                              - Integer
                              - Float
                              - DateTime
                              x-ms-enum:
                                name: parameterType
                                modelAsString: true
                            allowedValues:
                              type: array
                              items:
                                description: The collection of allowed values for
                                  the parameter.
                              x-ms-identifiers: []
                              description: The allowed values for the parameter.
                            defaultValue:
                              description: The default value for the parameter if
                                no value is provided.
                            schema:
                              type: object
                              description: Provides validation of parameter inputs
                                during assignment using a self-defined JSON schema.
                                This property is only supported for object-type parameters
                                and follows the Json.NET Schema 2019-09 implementation.
                                You can learn more about using schemas at https://json-schema.org/
                                and test draft schemas at https://www.jsonschemavalidator.net/.
                            metadata:
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: The display name for the parameter.
                                description:
                                  type: string
                                  description: The description of the parameter.
                                strongType:
                                  type: string
                                  description: Used when assigning the policy definition
                                    through the portal. Provides a context aware list
                                    of values for the user to choose from.
                                assignPermissions:
                                  type: boolean
                                  description: Set to true to have Azure portal create
                                    role assignments on the resource ID or resource
                                    scope value of this parameter during policy assignment.
                                    This property is useful in case you wish to assign
                                    permissions outside the assignment scope.
                              additionalProperties:
                                type: object
                              description: General metadata for the parameter.
                          description: The definition of a parameter that can be provided
                            to the policy.
                      policyDefinitions:
                        type: array
                        items:
                          type: object
                          properties:
                            policyDefinitionId:
                              type: string
                              description: The ID of the policy definition or policy
                                set definition.
                            definitionVersion:
                              type: string
                              description: The version of the policy definition to
                                use.
                            latestDefinitionVersion:
                              type: string
                              description: The latest version of the policy definition
                                available. This is only present if requested via the
                                $expand query parameter.
                              readOnly: true
                            effectiveDefinitionVersion:
                              type: string
                              description: The effective version of the policy definition
                                in use. This is only present if requested via the
                                $expand query parameter.
                              readOnly: true
                            parameters:
                              description: The parameter values for the referenced
                                policy rule. The keys are the parameter names.
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  value:
                                    description: The value of the parameter.
                                description: The value of a parameter.
                            policyDefinitionReferenceId:
                              type: string
                              description: A unique id (within the policy set definition)
                                for this policy definition reference.
                            groupNames:
                              type: array
                              items:
                                type: string
                              description: The name of the groups that this policy
                                definition reference belongs to.
                          required:
                          - policyDefinitionId
                          description: The policy definition reference.
                        x-ms-identifiers:
                        - policyDefinitionReferenceId
                        description: An array of policy definition references.
                      policyDefinitionGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the group.
                            displayName:
                              type: string
                              description: The group's display name.
                            category:
                              type: string
                              description: The group's category.
                            description:
                              type: string
                              description: The group's description.
                            additionalMetadataId:
                              type: string
                              description: A resource ID of a resource that contains
                                additional metadata about the group.
                          required:
                          - name
                          description: The policy definition group.
                        x-ms-identifiers:
                        - name
                        description: The metadata describing groups of policy definition
                          references within the policy set definition.
                      version:
                        type: string
                        description: 'The policy set definition version in #.#.# format.'
                    required:
                    - policyDefinitions
                  id:
                    readOnly: true
                    type: string
                    description: The ID of the policy set definition version.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the policy set definition version.
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource (Microsoft.Authorization/policySetDefinitions/versions).
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy set definition version.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
[...]
