openapi: 3.0.0
info:
  title: PolicyClient
  version: 2025-03-01
  description: To manage and control access to your resources, you can define customized
    policies and assign them at a scope.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}:
    put:
      tags:
      - PolicyDefinitions
      operationId: PolicyDefinitions_CreateOrUpdate
      summary: Creates or updates a policy definition in a subscription.
      description: This operation creates or updates a policy definition in the given
        subscription with the given name.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: policyDefinitionName
        in: path
        required: true
        description: The name of the policy definition to create.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: The policy definition properties.
                  type: object
                  properties:
                    policyType:
                      type: string
                      description: The type of policy definition. Possible values
                        are NotSpecified, BuiltIn, Custom, and Static.
                      enum:
                      - NotSpecified
                      - BuiltIn
                      - Custom
                      - Static
                      x-ms-enum:
                        name: policyType
                        modelAsString: true
                    mode:
                      type: string
                      description: The policy definition mode. Some examples are All,
                        Indexed, Microsoft.KeyVault.Data.
                      default: Indexed
                    displayName:
                      type: string
                      description: The display name of the policy definition.
                    description:
                      type: string
                      description: The policy definition description.
                    policyRule:
                      type: object
                      description: The policy rule.
                    metadata:
                      type: object
                      description: The policy definition metadata.  Metadata is an
                        open ended object and is typically a collection of key value
                        pairs.
                    parameters:
                      description: The parameter definitions for parameters used in
                        the policy rule. The keys are the parameter names.
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          type:
                            description: The data type of the parameter.
                            type: string
                            enum:
                            - String
                            - Array
                            - Object
                            - Boolean
                            - Integer
                            - Float
                            - DateTime
                            x-ms-enum:
                              name: parameterType
                              modelAsString: true
                          allowedValues:
                            type: array
                            items:
                              description: The collection of allowed values for the
                                parameter.
                            x-ms-identifiers: []
                            description: The allowed values for the parameter.
                          defaultValue:
                            description: The default value for the parameter if no
                              value is provided.
                          schema:
                            type: object
                            description: Provides validation of parameter inputs during
                              assignment using a self-defined JSON schema. This property
                              is only supported for object-type parameters and follows
                              the Json.NET Schema 2019-09 implementation. You can
                              learn more about using schemas at https://json-schema.org/
                              and test draft schemas at https://www.jsonschemavalidator.net/.
                          metadata:
                            type: object
                            properties:
                              displayName:
                                type: string
                                description: The display name for the parameter.
                              description:
                                type: string
                                description: The description of the parameter.
                              strongType:
                                type: string
                                description: Used when assigning the policy definition
                                  through the portal. Provides a context aware list
                                  of values for the user to choose from.
                              assignPermissions:
                                type: boolean
                                description: Set to true to have Azure portal create
                                  role assignments on the resource ID or resource
                                  scope value of this parameter during policy assignment.
                                  This property is useful in case you wish to assign
                                  permissions outside the assignment scope.
                            additionalProperties:
                              type: object
                            description: General metadata for the parameter.
                        description: The definition of a parameter that can be provided
                          to the policy.
                    version:
                      type: string
                      description: 'The policy definition version in #.#.# format.'
                    versions:
                      type: array
                      items:
                        type: string
                      description: A list of available versions for this policy definition.
                    externalEvaluationEnforcementSettings:
                      description: The details of the source of external evaluation
                        results required by the policy during enforcement evaluation.
                      type: object
                      properties:
                        missingTokenAction:
                          type: string
                          description: What to do when evaluating an enforcement policy
                            that requires an external evaluation and the token is
                            missing. Possible values are Audit and Deny and language
                            expressions are supported.
                        resultLifespan:
                          type: string
                          description: The lifespan of the endpoint invocation result
                            after which it's no longer valid. Value is expected to
                            follow the ISO 8601 duration format and language expressions
                            are supported.
                        endpointSettings:
                          description: The settings of an external endpoint providing
                            evaluation results.
                          type: object
                          properties:
                            kind:
                              type: string
                              description: The kind of the endpoint.
                            details:
                              type: object
                              description: The details of the endpoint.
                        roleDefinitionIds:
                          type: array
                          items:
                            type: string
                          description: An array of the role definition Ids the assignment's
                            MSI will need in order to invoke the endpoint.
                id:
                  readOnly: true
                  type: string
                  description: The ID of the policy definition.
                name:
                  readOnly: true
                  type: string
                  description: The name of the policy definition.
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource (Microsoft.Authorization/policyDefinitions).
                systemData:
                  readOnly: true
                  description: The system metadata relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              description: The policy definition.
              x-ms-azure-resource: true
        description: The policy definition properties.
        required: true
      responses:
        '201':
          description: Created - Returns information about the policy definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: The policy definition properties.
                    type: object
                    properties:
                      policyType:
                        type: string
                        description: The type of policy definition. Possible values
                          are NotSpecified, BuiltIn, Custom, and Static.
                        enum:
                        - NotSpecified
                        - BuiltIn
                        - Custom
                        - Static
                        x-ms-enum:
                          name: policyType
                          modelAsString: true
                      mode:
                        type: string
                        description: The policy definition mode. Some examples are
                          All, Indexed, Microsoft.KeyVault.Data.
                        default: Indexed
                      displayName:
                        type: string
                        description: The display name of the policy definition.
                      description:
                        type: string
                        description: The policy definition description.
                      policyRule:
                        type: object
                        description: The policy rule.
                      metadata:
                        type: object
                        description: The policy definition metadata.  Metadata is
                          an open ended object and is typically a collection of key
                          value pairs.
                      parameters:
                        description: The parameter definitions for parameters used
                          in the policy rule. The keys are the parameter names.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              description: The data type of the parameter.
                              type: string
                              enum:
                              - String
                              - Array
                              - Object
                              - Boolean
                              - Integer
                              - Float
                              - DateTime
                              x-ms-enum:
                                name: parameterType
                                modelAsString: true
                            allowedValues:
                              type: array
                              items:
                                description: The collection of allowed values for
                                  the parameter.
                              x-ms-identifiers: []
                              description: The allowed values for the parameter.
                            defaultValue:
                              description: The default value for the parameter if
                                no value is provided.
                            schema:
                              type: object
                              description: Provides validation of parameter inputs
                                during assignment using a self-defined JSON schema.
                                This property is only supported for object-type parameters
                                and follows the Json.NET Schema 2019-09 implementation.
                                You can learn more about using schemas at https://json-schema.org/
                                and test draft schemas at https://www.jsonschemavalidator.net/.
                            metadata:
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: The display name for the parameter.
                                description:
                                  type: string
                                  description: The description of the parameter.
                                strongType:
                                  type: string
                                  description: Used when assigning the policy definition
                                    through the portal. Provides a context aware list
                                    of values for the user to choose from.
                                assignPermissions:
                                  type: boolean
                                  description: Set to true to have Azure portal create
                                    role assignments on the resource ID or resource
                                    scope value of this parameter during policy assignment.
                                    This property is useful in case you wish to assign
                                    permissions outside the assignment scope.
                              additionalProperties:
                                type: object
                              description: General metadata for the parameter.
                          description: The definition of a parameter that can be provided
                            to the policy.
                      version:
                        type: string
                        description: 'The policy definition version in #.#.# format.'
                      versions:
                        type: array
                        items:
                          type: string
                        description: A list of available versions for this policy
                          definition.
                      externalEvaluationEnforcementSettings:
                        description: The details of the source of external evaluation
                          results required by the policy during enforcement evaluation.
                        type: object
                        properties:
                          missingTokenAction:
                            type: string
                            description: What to do when evaluating an enforcement
                              policy that requires an external evaluation and the
                              token is missing. Possible values are Audit and Deny
                              and language expressions are supported.
                          resultLifespan:
                            type: string
                            description: The lifespan of the endpoint invocation result
                              after which it's no longer valid. Value is expected
                              to follow the ISO 8601 duration format and language
                              expressions are supported.
                          endpointSettings:
                            description: The settings of an external endpoint providing
                              evaluation results.
                            type: object
                            properties:
                              kind:
                                type: string
                                description: The kind of the endpoint.
                              details:
                                type: object
                                description: The details of the endpoint.
                          roleDefinitionIds:
                            type: array
                            items:
                              type: string
                            description: An array of the role definition Ids the assignment's
                              MSI will need in order to invoke the endpoint.
                  id:
                    readOnly: true
                    type: string
                    description: The ID of the policy definition.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the policy definition.
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource (Microsoft.Authorization/policyDefinitions).
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - PolicyDefinitions
      operationId: PolicyDefinitions_Delete
      summary: Deletes a policy definition in a subscription.
      description: This operation deletes the policy definition in the given subscription
        with the given name.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: policyDefinitionName
        in: path
        required: true
        description: The name of the policy definition to delete.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - PolicyDefinitions
      operationId: PolicyDefinitions_Get
      summary: Retrieves a policy definition in a subscription.
      description: This operation retrieves the policy definition in the given subscription
        with the given name.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: policyDefinitionName
        in: path
        required: true
        description: The name of the policy definition to get.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns information about the policy definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: The policy definition properties.
                    type: object
                    properties:
                      policyType:
                        type: string
                        description: The type of policy definition. Possible values
                          are NotSpecified, BuiltIn, Custom, and Static.
                        enum:
                        - NotSpecified
                        - BuiltIn
                        - Custom
                        - Static
                        x-ms-enum:
                          name: policyType
                          modelAsString: true
                      mode:
                        type: string
                        description: The policy definition mode. Some examples are
                          All, Indexed, Microsoft.KeyVault.Data.
                        default: Indexed
                      displayName:
                        type: string
                        description: The display name of the policy definition.
                      description:
                        type: string
                        description: The policy definition description.
                      policyRule:
                        type: object
                        description: The policy rule.
                      metadata:
                        type: object
                        description: The policy definition metadata.  Metadata is
                          an open ended object and is typically a collection of key
                          value pairs.
                      parameters:
                        description: The parameter definitions for parameters used
                          in the policy rule. The keys are the parameter names.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              description: The data type of the parameter.
                              type: string
                              enum:
                              - String
                              - Array
                              - Object
                              - Boolean
                              - Integer
                              - Float
                              - DateTime
                              x-ms-enum:
                                name: parameterType
                                modelAsString: true
                            allowedValues:
                              type: array
                              items:
                                description: The collection of allowed values for
                                  the parameter.
                              x-ms-identifiers: []
                              description: The allowed values for the parameter.
                            defaultValue:
                              description: The default value for the parameter if
                                no value is provided.
                            schema:
                              type: object
                              description: Provides validation of parameter inputs
                                during assignment using a self-defined JSON schema.
                                This property is only supported for object-type parameters
                                and follows the Json.NET Schema 2019-09 implementation.
                                You can learn more about using schemas at https://json-schema.org/
                                and test draft schemas at https://www.jsonschemavalidator.net/.
                            metadata:
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: The display name for the parameter.
                                description:
                                  type: string
                                  description: The description of the parameter.
                                strongType:
                                  type: string
                                  description: Used when assigning the policy definition
                                    through the portal. Provides a context aware list
                                    of values for the user to choose from.
                                assignPermissions:
                                  type: boolean
                                  description: Set to true to have Azure portal create
                                    role assignments on the resource ID or resource
                                    scope value of this parameter during policy assignment.
                                    This property is useful in case you wish to assign
                                    permissions outside the assignment scope.
                              additionalProperties:
                                type: object
                              description: General metadata for the parameter.
                          description: The definition of a parameter that can be provided
                            to the policy.
                      version:
                        type: string
                        description: 'The policy definition version in #.#.# format.'
                      versions:
                        type: array
                        items:
                          type: string
                        description: A list of available versions for this policy
                          definition.
                      externalEvaluationEnforcementSettings:
                        description: The details of the source of external evaluation
                          results required by the policy during enforcement evaluation.
                        type: object
                        properties:
                          missingTokenAction:
                            type: string
                            description: What to do when evaluating an enforcement
                              policy that requires an external evaluation and the
                              token is missing. Possible values are Audit and Deny
                              and language expressions are supported.
                          resultLifespan:
                            type: string
                            description: The lifespan of the endpoint invocation result
                              after which it's no longer valid. Value is expected
                              to follow the ISO 8601 duration format and language
                              expressions are supported.
                          endpointSettings:
                            description: The settings of an external endpoint providing
                              evaluation results.
                            type: object
                            properties:
                              kind:
                                type: string
                                description: The kind of the endpoint.
                              details:
                                type: object
                                description: The details of the endpoint.
                          roleDefinitionIds:
                            type: array
                            items:
                              type: string
                            description: An array of the role definition Ids the assignment's
                              MSI will need in order to invoke the endpoint.
                  id:
                    readOnly: true
                    type: string
                    description: The ID of the policy definition.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the policy definition.
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource (Microsoft.Authorization/policyDefinitions).
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}:
    get:
      tags:
      - PolicyDefinitions
      operationId: PolicyDefinitions_GetBuiltIn
      summary: Retrieves a built-in policy definition.
      description: This operation retrieves the built-in policy definition with the
        given name.
      parameters:
      - name: policyDefinitionName
        in: path
        required: true
        description: The name of the built-in policy definition to get.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns information about the built-in policy definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: The policy definition properties.
                    type: object
                    properties:
                      policyType:
                        type: string
                        description: The type of policy definition. Possible values
                          are NotSpecified, BuiltIn, Custom, and Static.
                        enum:
                        - NotSpecified
                        - BuiltIn
                        - Custom
                        - Static
                        x-ms-enum:
                          name: policyType
                          modelAsString: true
                      mode:
                        type: string
                        description: The policy definition mode. Some examples are
                          All, Indexed, Microsoft.KeyVault.Data.
                        default: Indexed
                      displayName:
                        type: string
                        description: The display name of the policy definition.
                      description:
                        type: string
                        description: The policy definition description.
                      policyRule:
                        type: object
                        description: The policy rule.
                      metadata:
                        type: object
                        description: The policy definition metadata.  Metadata is
                          an open ended object and is typically a collection of key
                          value pairs.
                      parameters:
                        description: The parameter definitions for parameters used
                          in the policy rule. The keys are the parameter names.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              description: The data type of the parameter.
                              type: string
                              enum:
                              - String
                              - Array
                              - Object
                              - Boolean
                              - Integer
                              - Float
                              - DateTime
                              x-ms-enum:
                                name: parameterType
                                modelAsString: true
                            allowedValues:
                              type: array
                              items:
                                description: The collection of allowed values for
                                  the parameter.
                              x-ms-identifiers: []
                              description: The allowed values for the parameter.
                            defaultValue:
                              description: The default value for the parameter if
                                no value is provided.
                            schema:
                              type: object
                              description: Provides validation of parameter inputs
                                during assignment using a self-defined JSON schema.
                                This property is only supported for object-type parameters
                                and follows the Json.NET Schema 2019-09 implementation.
                                You can learn more about using schemas at https://json-schema.org/
                                and test draft schemas at https://www.jsonschemavalidator.net/.
                            metadata:
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: The display name for the parameter.
                                description:
                                  type: string
                                  description: The description of the parameter.
                                strongType:
                                  type: string
                                  description: Used when assigning the policy definition
                                    through the portal. Provides a context aware list
                                    of values for the user to choose from.
                                assignPermissions:
                                  type: boolean
                                  description: Set to true to have Azure portal create
                                    role assignments on the resource ID or resource
                                    scope value of this parameter during policy assignment.
                                    This property is useful in case you wish to assign
                                    permissions outside the assignment scope.
                              additionalProperties:
                                type: object
                              description: General metadata for the parameter.
                          description: The definition of a parameter that can be provided
                            to the policy.
                      version:
                        type: string
                        description: 'The policy definition version in #.#.# format.'
                      versions:
                        type: array
                        items:
                          type: string
                        description: A list of available versions for this policy
                          definition.
                      externalEvaluationEnforcementSettings:
                        description: The details of the source of external evaluation
                          results required by the policy during enforcement evaluation.
                        type: object
                        properties:
                          missingTokenAction:
                            type: string
                            description: What to do when evaluating an enforcement
                              policy that requires an external evaluation and the
                              token is missing. Possible values are Audit and Deny
                              and language expressions are supported.
                          resultLifespan:
                            type: string
                            description: The lifespan of the endpoint invocation result
                              after which it's no longer valid. Value is expected
                              to follow the ISO 8601 duration format and language
                              expressions are supported.
                          endpointSettings:
                            description: The settings of an external endpoint providing
                              evaluation results.
                            type: object
                            properties:
                              kind:
                                type: string
                                description: The kind of the endpoint.
                              details:
                                type: object
                                description: The details of the endpoint.
                          roleDefinitionIds:
                            type: array
                            items:
                              type: string
                            description: An array of the role definition Ids the assignment's
                              MSI will need in order to invoke the endpoint.
                  id:
                    readOnly: true
                    type: string
                    description: The ID of the policy definition.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the policy definition.
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource (Microsoft.Authorization/policyDefinitions).
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}
  : put:
      tags:
      - PolicyDefinitions
      operationId: PolicyDefinitions_CreateOrUpdateAtManagementGroup
      summary: Creates or updates a policy definition in a management group.
      description: This operation creates or updates a policy definition in the given
        management group with the given name.
      parameters:
      - name: managementGroupId
        in: path
        required: true
        description: The ID of the management group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: policyDefinitionName
        in: path
        required: true
        description: The name of the policy definition to create.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: The policy definition properties.
                  type: object
                  properties:
                    policyType:
                      type: string
                      description: The type of policy definition. Possible values
                        are NotSpecified, BuiltIn, Custom, and Static.
                      enum:
                      - NotSpecified
                      - BuiltIn
                      - Custom
                      - Static
                      x-ms-enum:
                        name: policyType
                        modelAsString: true
                    mode:
                      type: string
                      description: The policy definition mode. Some examples are All,
                        Indexed, Microsoft.KeyVault.Data.
                      default: Indexed
                    displayName:
                      type: string
                      description: The display name of the policy definition.
                    description:
                      type: string
                      description: The policy definition description.
                    policyRule:
                      type: object
                      description: The policy rule.
                    metadata:
                      type: object
                      description: The policy definition metadata.  Metadata is an
                        open ended object and is typically a collection of key value
                        pairs.
                    parameters:
                      description: The parameter definitions for parameters used in
                        the policy rule. The keys are the parameter names.
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          type:
                            description: The data type of the parameter.
                            type: string
                            enum:
                            - String
                            - Array
                            - Object
                            - Boolean
                            - Integer
                            - Float
                            - DateTime
                            x-ms-enum:
                              name: parameterType
                              modelAsString: true
                          allowedValues:
                            type: array
                            items:
                              description: The collection of allowed values for the
                                parameter.
                            x-ms-identifiers: []
                            description: The allowed values for the parameter.
                          defaultValue:
                            description: The default value for the parameter if no
                              value is provided.
                          schema:
                            type: object
                            description: Provides validation of parameter inputs during
                              assignment using a self-defined JSON schema. This property
                              is only supported for object-type parameters and follows
                              the Json.NET Schema 2019-09 implementation. You can
                              learn more about using schemas at https://json-schema.org/
                              and test draft schemas at https://www.jsonschemavalidator.net/.
                          metadata:
                            type: object
                            properties:
                              displayName:
                                type: string
                                description: The display name for the parameter.
                              description:
                                type: string
                                description: The description of the parameter.
                              strongType:
                                type: string
                                description: Used when assigning the policy definition
                                  through the portal. Provides a context aware list
                                  of values for the user to choose from.
                              assignPermissions:
                                type: boolean
                                description: Set to true to have Azure portal create
                                  role assignments on the resource ID or resource
                                  scope value of this parameter during policy assignment.
                                  This property is useful in case you wish to assign
                                  permissions outside the assignment scope.
                            additionalProperties:
                              type: object
                            description: General metadata for the parameter.
                        description: The definition of a parameter that can be provided
                          to the policy.
                    version:
                      type: string
                      description: 'The policy definition version in #.#.# format.'
                    versions:
                      type: array
                      items:
                        type: string
                      description: A list of available versions for this policy definition.
                    externalEvaluationEnforcementSettings:
                      description: The details of the source of external evaluation
                        results required by the policy during enforcement evaluation.
                      type: object
                      properties:
                        missingTokenAction:
                          type: string
                          description: What to do when evaluating an enforcement policy
                            that requires an external evaluation and the token is
                            missing. Possible values are Audit and Deny and language
                            expressions are supported.
                        resultLifespan:
                          type: string
                          description: The lifespan of the endpoint invocation result
                            after which it's no longer valid. Value is expected to
                            follow the ISO 8601 duration format and language expressions
                            are supported.
                        endpointSettings:
                          description: The settings of an external endpoint providing
                            evaluation results.
                          type: object
                          properties:
                            kind:
                              type: string
                              description: The kind of the endpoint.
                            details:
                              type: object
                              description: The details of the endpoint.
                        roleDefinitionIds:
                          type: array
                          items:
                            type: string
                          description: An array of the role definition Ids the assignment's
                            MSI will need in order to invoke the endpoint.
                id:
                  readOnly: true
                  type: string
                  description: The ID of the policy definition.
                name:
                  readOnly: true
                  type: string
                  description: The name of the policy definition.
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource (Microsoft.Authorization/policyDefinitions).
                systemData:
                  readOnly: true
                  description: The system metadata relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              description: The policy definition.
              x-ms-azure-resource: true
        description: The policy definition properties.
        required: true
      responses:
        '201':
          description: Created - Returns information about the policy definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: The policy definition properties.
                    type: object
                    properties:
                      policyType:
                        type: string
                        description: The type of policy definition. Possible values
                          are NotSpecified, BuiltIn, Custom, and Static.
                        enum:
                        - NotSpecified
                        - BuiltIn
                        - Custom
                        - Static
                        x-ms-enum:
                          name: policyType
                          modelAsString: true
                      mode:
                        type: string
                        description: The policy definition mode. Some examples are
                          All, Indexed, Microsoft.KeyVault.Data.
                        default: Indexed
                      displayName:
                        type: string
                        description: The display name of the policy definition.
                      description:
                        type: string
                        description: The policy definition description.
                      policyRule:
                        type: object
                        description: The policy rule.
                      metadata:
                        type: object
                        description: The policy definition metadata.  Metadata is
                          an open ended object and is typically a collection of key
                          value pairs.
                      parameters:
                        description: The parameter definitions for parameters used
                          in the policy rule. The keys are the parameter names.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            type:
                              description: The data type of the parameter.
                              type: string
                              enum:
                              - String
                              - Array
                              - Object
                              - Boolean
                              - Integer
                              - Float
                              - DateTime
                              x-ms-enum:
                                name: parameterType
                                modelAsString: true
                            allowedValues:
                              type: array
                              items:
                                description: The collection of allowed values for
                                  the parameter.
                              x-ms-identifiers: []
                              description: The allowed values for the parameter.
                            defaultValue:
                              description: The default value for the parameter if
                                no value is provided.
                            schema:
                              type: object
                              description: Provides validation of parameter inputs
                                during assignment using a self-defined JSON schema.
                                This property is only supported for object-type parameters
                                and follows the Json.NET Schema 2019-09 implementation.
                                You can learn more about using schemas at https://json-schema.org/
                                and test draft schemas at https://www.jsonschemavalidator.net/.
                            metadata:
                              type: object
                              properties:
                                displayName:
                                  type: string
                                  description: The display name for the parameter.
                                description:
                                  type: string
                                  description: The description of the parameter.
                                strongType:
                                  type: string
                                  description: Used when assigning the policy definition
                                    through the portal. Provides a context aware list
                                    of values for the user to choose from.
                                assignPermissions:
                                  type: boolean
                                  description: Set to true to have Azure portal create
                                    role assignments on the resource ID or resource
                                    scope value of this parameter during policy assignment.
                                    This property is useful in case you wish to assign
                                    permissions outside the assignment scope.
                              additionalProperties:
                                type: object
                              description: General metadata for the parameter.
                          description: The definition of a parameter that can be provided
                            to the policy.
                      version:
                        type: string
                        description: 'The policy definition version in #.#.# format.'
                      versions:
                        type: array
                        items:
                          type: string
                        description: A list of available versions for this policy
                          definition.
                      externalEvaluationEnforcementSettings:
                        description: The details of the source of external evaluation
                          results required by the policy during enforcement evaluation.
                        type: object
                        properties:
                          missingTokenAction:
                            type: string
                            description: What to do when evaluating an enforcement
                              policy that requires an external evaluation and the
                              token is missing. Possible values are Audit and Deny
                              and language expressions are supported.
                          resultLifespan:
                            type: string
                            description: The lifespan of the endpoint invocation result
                              after which it's no longer valid. Value is expected
                              to follow the ISO 8601 duration format and language
                              expressions are supported.
                          endpointSettings:
                            description: The settings of an external endpoint providing
                              evaluation results.
                            type: object
                            properties:
                              kind:
                                type: string
                                description: The kind of the endpoint.
                              details:
                                type: object
                                description: The details of the endpoint.
                          roleDefinitionIds:
                            type: array
                            items:
                              type: string
                            description: An array of the role definition Ids the assignment's
                              MSI will need in order to invoke the endpoint.
                  id:
                    readOnly: true
                    type: string
                    description: The ID of the policy definition.
                  name:
                    readOnly: true
                    type: string
                    description: The name of the policy definition.
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource (Microsoft.Authorization/policyDefinitions).
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy definition.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      tags:
      - PolicyDefinitions
      operationId: PolicyDefinitions_DeleteAtManagementGroup
      summary: Deletes a policy definition in a management group.
      description: This operation deletes the policy definition in the given management
        group with the given name.
      parameters:
      - name: managementGroupId
        in: path
        required: true
        description: The ID of the management group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: policyDefinitionName
        in: path
        required: true
        description: The name of the policy definition to delete.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - PolicyDefinitions
      operationId: PolicyDefinitions_GetAtManagementGroup
      summary: Retrieve a policy definition in a management group.
      description: This operation retrieves the policy definition in the given management
        group with the given name.
      parameters:
      - name: managementGroupId
        in: path
        required: true
        description: The ID of the management group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: policyDefinitionName
        in: path
        required: true
        description: The name of the policy definition to get.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns information about the policy definition.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: The policy definition properties.
                    type: object
                    properties:
                      policyType:
                        type: string
[...]
