openapi: 3.0.0
info:
  title: PolicyClient
  version: 2025-03-01
  description: To manage and control access to your resources, you can define customized
    policies and assign them at a scope.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}:
    delete:
      tags:
      - PolicyAssignments
      operationId: PolicyAssignments_Delete
      summary: Deletes a policy assignment.
      description: This operation deletes a policy assignment, given its name and
        the scope it was created in. The scope of a policy assignment is the part
        of its ID preceding '/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}'.
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope of the policy assignment. Valid scopes are: management
          group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}''), resource group
          (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'',
          or resource (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'''
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: policyAssignmentName
        in: path
        required: true
        description: The name of the policy assignment to delete.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns information about the deleted assignment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: Properties for the policy assignment.
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: The display name of the policy assignment.
                      policyDefinitionId:
                        type: string
                        description: The ID of the policy definition or policy set
                          definition being assigned.
                      definitionVersion:
                        type: string
                        description: The version of the policy definition to use.
                      latestDefinitionVersion:
                        type: string
                        description: The latest version of the policy definition available.
                          This is only present if requested via the $expand query
                          parameter.
                        readOnly: true
                      effectiveDefinitionVersion:
                        type: string
                        description: The effective version of the policy definition
                          in use. This is only present if requested via the $expand
                          query parameter.
                        readOnly: true
                      scope:
                        type: string
                        description: The scope for the policy assignment.
                        readOnly: true
                      notScopes:
                        type: array
                        items:
                          type: string
                        description: The policy's excluded scopes.
                      parameters:
                        description: The parameter values for the assigned policy
                          rule. The keys are the parameter names.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            value:
                              description: The value of the parameter.
                          description: The value of a parameter.
                      description:
                        type: string
                        description: This message will be part of response in case
                          of policy violation.
                      metadata:
                        type: object
                        description: The policy assignment metadata. Metadata is an
                          open ended object and is typically a collection of key value
                          pairs.
                      enforcementMode:
                        type: string
                        description: The policy assignment enforcement mode. Possible
                          values are Default, DoNotEnforce, and Enroll
                        enum:
                        - Default
                        - DoNotEnforce
                        - Enroll
                        x-ms-enum:
                          name: enforcementMode
                          modelAsString: true
                          values:
                          - value: Default
                            description: The policy effect is enforced during resource
                              creation or update.
                          - value: DoNotEnforce
                            description: The policy effect is not enforced during
                              resource creation or update.
                          - value: Enroll
                            description: The policy effect is not enforced during
                              resource creation or update until the resource or scope
                              of the resource is enrolled to the assignment instance.
                              Enrollment occurs upon deployment of the policy enrollment
                              resource.
                        default: Default
                      nonComplianceMessages:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                              description: A message that describes why a resource
                                is non-compliant with the policy. This is shown in
                                'deny' error messages and on resource's non-compliant
                                compliance results.
                            policyDefinitionReferenceId:
                              type: string
                              description: The policy definition reference ID within
                                a policy set definition the message is intended for.
                                This is only applicable if the policy assignment assigns
                                a policy set definition. If this is not provided the
                                message applies to all policies assigned by this policy
                                assignment.
                          required:
                          - message
                          description: A message that describes why a resource is
                            non-compliant with the policy. This is shown in 'deny'
                            error messages and on resource's non-compliant compliance
                            results.
                        x-ms-identifiers:
                        - message
                        - policyDefinitionReferenceId
                        description: The messages that describe why a resource is
                          non-compliant with the policy.
                      resourceSelectors:
                        type: array
                        items:
                          description: The resource selector to filter policies by
                            resource properties.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the resource selector.
                            selectors:
                              type: array
                              items:
                                description: The selector expression.
                                type: object
                                properties:
                                  kind:
                                    type: string
                                    description: The selector kind.
                                    enum:
                                    - resourceLocation
                                    - resourceType
                                    - resourceWithoutLocation
                                    - policyDefinitionReferenceId
                                    x-ms-enum:
                                      name: SelectorKind
                                      modelAsString: true
                                      values:
                                      - value: resourceLocation
                                        description: The selector kind to filter policies
                                          by the resource location.
                                      - value: resourceType
                                        description: The selector kind to filter policies
                                          by the resource type.
                                      - value: resourceWithoutLocation
                                        description: The selector kind to filter policies
                                          by the resource without location.
                                      - value: policyDefinitionReferenceId
                                        description: The selector kind to filter policies
                                          by the policy definition reference ID.
                                  in:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter in.
                                  notIn:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter out.
                              x-ms-identifiers: []
                              description: The list of the selector expressions.
                        x-ms-identifiers: []
                        description: The resource selector list to filter policies
                          by resource properties.
                      overrides:
                        type: array
                        items:
                          description: The policy property value override.
                          type: object
                          properties:
                            kind:
                              type: string
                              description: The override kind.
                              enum:
                              - policyEffect
                              - definitionVersion
                              x-ms-enum:
                                name: OverrideKind
                                modelAsString: true
                                values:
                                - value: policyEffect
                                  description: It will override the policy effect
                                    type.
                                - value: definitionVersion
                                  description: It will override the definition version
                                    property value of the policy assignment.
                            value:
                              type: string
                              description: The value to override the policy property.
                            selectors:
                              type: array
                              items:
                                description: The selector expression.
                                type: object
                                properties:
                                  kind:
                                    type: string
                                    description: The selector kind.
                                    enum:
                                    - resourceLocation
                                    - resourceType
                                    - resourceWithoutLocation
                                    - policyDefinitionReferenceId
                                    x-ms-enum:
                                      name: SelectorKind
                                      modelAsString: true
                                      values:
                                      - value: resourceLocation
                                        description: The selector kind to filter policies
                                          by the resource location.
                                      - value: resourceType
                                        description: The selector kind to filter policies
                                          by the resource type.
                                      - value: resourceWithoutLocation
                                        description: The selector kind to filter policies
                                          by the resource without location.
                                      - value: policyDefinitionReferenceId
                                        description: The selector kind to filter policies
                                          by the policy definition reference ID.
                                  in:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter in.
                                  notIn:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter out.
                              x-ms-identifiers: []
                              description: The list of the selector expressions.
                        x-ms-identifiers: []
                        description: The policy property value override.
                      assignmentType:
                        type: string
                        description: The type of policy assignment. Possible values
                          are NotSpecified, System, SystemHidden, and Custom. Immutable.
                        enum:
                        - NotSpecified
                        - System
                        - SystemHidden
                        - Custom
                        x-ms-enum:
                          name: assignmentType
                          modelAsString: true
                      instanceId:
                        type: string
                        description: The instance ID of the policy assignment. This
                          ID only and always changes when the assignment is deleted
                          and recreated.
                        readOnly: true
                  id:
                    type: string
                    description: The ID of the policy assignment.
                    readOnly: true
                  type:
                    type: string
                    description: The type of the policy assignment.
                    readOnly: true
                  name:
                    type: string
                    description: The name of the policy assignment.
                    readOnly: true
                  location:
                    type: string
                    description: The location of the policy assignment. Only required
                      when utilizing managed identity.
                  identity:
                    description: The managed identity associated with the policy assignment.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of the resource identity.  This
                          property will only be provided for a system assigned identity
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of the resource identity.  This
                          property will only be provided for a system assigned identity
                      type:
                        type: string
                        description: The identity type. This is the only required
                          field when adding a system or user assigned identity to
                          a resource.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                          values:
                          - value: SystemAssigned
                            description: Indicates that a system assigned identity
                              is associated with the resource.
                          - value: UserAssigned
                            description: Indicates that a system assigned identity
                              is associated with the resource.
                          - value: None
                            description: Indicates that no identity is associated
                              with the resource or that the existing identity should
                              be removed.
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          x-ms-client-name: userAssignedIdentitiesValue
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The user identity associated with the policy.
                          The user identity dictionary key references will be ARM
                          resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy assignment.
                x-ms-azure-resource: true
        '204':
          description: No Content - the policy assignment doesn't exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - PolicyAssignments
      operationId: PolicyAssignments_Create
      summary: Creates or updates a policy assignment.
      description: ' This operation creates or updates a policy assignment with the
        given scope and name. Policy assignments apply to all resources contained
        within their scope. For example, when you assign a policy at resource group
        scope, that policy applies to all resources in the group.'
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope of the policy assignment. Valid scopes are: management
          group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}''), resource group
          (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'',
          or resource (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'''
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: policyAssignmentName
        in: path
        required: true
        description: The name of the policy assignment.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Properties for the policy assignment.
                  type: object
                  properties:
                    displayName:
                      type: string
                      description: The display name of the policy assignment.
                    policyDefinitionId:
                      type: string
                      description: The ID of the policy definition or policy set definition
                        being assigned.
                    definitionVersion:
                      type: string
                      description: The version of the policy definition to use.
                    latestDefinitionVersion:
                      type: string
                      description: The latest version of the policy definition available.
                        This is only present if requested via the $expand query parameter.
                      readOnly: true
                    effectiveDefinitionVersion:
                      type: string
                      description: The effective version of the policy definition
                        in use. This is only present if requested via the $expand
                        query parameter.
                      readOnly: true
                    scope:
                      type: string
                      description: The scope for the policy assignment.
                      readOnly: true
                    notScopes:
                      type: array
                      items:
                        type: string
                      description: The policy's excluded scopes.
                    parameters:
                      description: The parameter values for the assigned policy rule.
                        The keys are the parameter names.
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          value:
                            description: The value of the parameter.
                        description: The value of a parameter.
                    description:
                      type: string
                      description: This message will be part of response in case of
                        policy violation.
                    metadata:
                      type: object
                      description: The policy assignment metadata. Metadata is an
                        open ended object and is typically a collection of key value
                        pairs.
                    enforcementMode:
                      type: string
                      description: The policy assignment enforcement mode. Possible
                        values are Default, DoNotEnforce, and Enroll
                      enum:
                      - Default
                      - DoNotEnforce
                      - Enroll
                      x-ms-enum:
                        name: enforcementMode
                        modelAsString: true
                        values:
                        - value: Default
                          description: The policy effect is enforced during resource
                            creation or update.
                        - value: DoNotEnforce
                          description: The policy effect is not enforced during resource
                            creation or update.
                        - value: Enroll
                          description: The policy effect is not enforced during resource
                            creation or update until the resource or scope of the
                            resource is enrolled to the assignment instance. Enrollment
                            occurs upon deployment of the policy enrollment resource.
                      default: Default
                    nonComplianceMessages:
                      type: array
                      items:
                        type: object
                        properties:
                          message:
                            type: string
                            description: A message that describes why a resource is
                              non-compliant with the policy. This is shown in 'deny'
                              error messages and on resource's non-compliant compliance
                              results.
                          policyDefinitionReferenceId:
                            type: string
                            description: The policy definition reference ID within
                              a policy set definition the message is intended for.
                              This is only applicable if the policy assignment assigns
                              a policy set definition. If this is not provided the
                              message applies to all policies assigned by this policy
                              assignment.
                        required:
                        - message
                        description: A message that describes why a resource is non-compliant
                          with the policy. This is shown in 'deny' error messages
                          and on resource's non-compliant compliance results.
                      x-ms-identifiers:
                      - message
                      - policyDefinitionReferenceId
                      description: The messages that describe why a resource is non-compliant
                        with the policy.
                    resourceSelectors:
                      type: array
                      items:
                        description: The resource selector to filter policies by resource
                          properties.
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the resource selector.
                          selectors:
                            type: array
                            items:
                              description: The selector expression.
                              type: object
                              properties:
                                kind:
                                  type: string
                                  description: The selector kind.
                                  enum:
                                  - resourceLocation
                                  - resourceType
                                  - resourceWithoutLocation
                                  - policyDefinitionReferenceId
                                  x-ms-enum:
                                    name: SelectorKind
                                    modelAsString: true
                                    values:
                                    - value: resourceLocation
                                      description: The selector kind to filter policies
                                        by the resource location.
                                    - value: resourceType
                                      description: The selector kind to filter policies
                                        by the resource type.
                                    - value: resourceWithoutLocation
                                      description: The selector kind to filter policies
                                        by the resource without location.
                                    - value: policyDefinitionReferenceId
                                      description: The selector kind to filter policies
                                        by the policy definition reference ID.
                                in:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of values to filter in.
                                notIn:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of values to filter out.
                            x-ms-identifiers: []
                            description: The list of the selector expressions.
                      x-ms-identifiers: []
                      description: The resource selector list to filter policies by
                        resource properties.
                    overrides:
                      type: array
                      items:
                        description: The policy property value override.
                        type: object
                        properties:
                          kind:
                            type: string
                            description: The override kind.
                            enum:
                            - policyEffect
                            - definitionVersion
                            x-ms-enum:
                              name: OverrideKind
                              modelAsString: true
                              values:
                              - value: policyEffect
                                description: It will override the policy effect type.
                              - value: definitionVersion
                                description: It will override the definition version
                                  property value of the policy assignment.
                          value:
                            type: string
                            description: The value to override the policy property.
                          selectors:
                            type: array
                            items:
                              description: The selector expression.
                              type: object
                              properties:
                                kind:
                                  type: string
                                  description: The selector kind.
                                  enum:
                                  - resourceLocation
                                  - resourceType
                                  - resourceWithoutLocation
                                  - policyDefinitionReferenceId
                                  x-ms-enum:
                                    name: SelectorKind
                                    modelAsString: true
                                    values:
                                    - value: resourceLocation
                                      description: The selector kind to filter policies
                                        by the resource location.
                                    - value: resourceType
                                      description: The selector kind to filter policies
                                        by the resource type.
                                    - value: resourceWithoutLocation
                                      description: The selector kind to filter policies
                                        by the resource without location.
                                    - value: policyDefinitionReferenceId
                                      description: The selector kind to filter policies
                                        by the policy definition reference ID.
                                in:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of values to filter in.
                                notIn:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of values to filter out.
                            x-ms-identifiers: []
                            description: The list of the selector expressions.
                      x-ms-identifiers: []
                      description: The policy property value override.
                    assignmentType:
                      type: string
                      description: The type of policy assignment. Possible values
                        are NotSpecified, System, SystemHidden, and Custom. Immutable.
                      enum:
                      - NotSpecified
                      - System
                      - SystemHidden
                      - Custom
                      x-ms-enum:
                        name: assignmentType
                        modelAsString: true
                    instanceId:
                      type: string
                      description: The instance ID of the policy assignment. This
                        ID only and always changes when the assignment is deleted
                        and recreated.
                      readOnly: true
                id:
                  type: string
                  description: The ID of the policy assignment.
                  readOnly: true
                type:
                  type: string
                  description: The type of the policy assignment.
                  readOnly: true
                name:
                  type: string
                  description: The name of the policy assignment.
                  readOnly: true
                location:
                  type: string
                  description: The location of the policy assignment. Only required
                    when utilizing managed identity.
                identity:
                  description: The managed identity associated with the policy assignment.
                  type: object
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal ID of the resource identity.  This
                        property will only be provided for a system assigned identity
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant ID of the resource identity.  This property
                        will only be provided for a system assigned identity
                    type:
                      type: string
                      description: The identity type. This is the only required field
                        when adding a system or user assigned identity to a resource.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                        values:
                        - value: SystemAssigned
                          description: Indicates that a system assigned identity is
                            associated with the resource.
                        - value: UserAssigned
                          description: Indicates that a system assigned identity is
                            associated with the resource.
                        - value: None
                          description: Indicates that no identity is associated with
                            the resource or that the existing identity should be removed.
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        x-ms-client-name: userAssignedIdentitiesValue
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client id of user assigned identity.
                      description: 'The user identity associated with the policy.
                        The user identity dictionary key references will be ARM resource
                        ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                systemData:
                  readOnly: true
                  description: The system metadata relating to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
              description: The policy assignment.
              x-ms-azure-resource: true
        description: Parameters for the policy assignment.
        required: true
      responses:
        '201':
          description: Created - Returns information about the new policy assignment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: Properties for the policy assignment.
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: The display name of the policy assignment.
                      policyDefinitionId:
                        type: string
                        description: The ID of the policy definition or policy set
                          definition being assigned.
                      definitionVersion:
                        type: string
                        description: The version of the policy definition to use.
                      latestDefinitionVersion:
                        type: string
                        description: The latest version of the policy definition available.
                          This is only present if requested via the $expand query
                          parameter.
                        readOnly: true
                      effectiveDefinitionVersion:
                        type: string
                        description: The effective version of the policy definition
                          in use. This is only present if requested via the $expand
                          query parameter.
                        readOnly: true
                      scope:
                        type: string
                        description: The scope for the policy assignment.
                        readOnly: true
                      notScopes:
                        type: array
                        items:
                          type: string
                        description: The policy's excluded scopes.
                      parameters:
                        description: The parameter values for the assigned policy
                          rule. The keys are the parameter names.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            value:
                              description: The value of the parameter.
                          description: The value of a parameter.
                      description:
                        type: string
                        description: This message will be part of response in case
                          of policy violation.
                      metadata:
                        type: object
                        description: The policy assignment metadata. Metadata is an
                          open ended object and is typically a collection of key value
                          pairs.
                      enforcementMode:
                        type: string
                        description: The policy assignment enforcement mode. Possible
                          values are Default, DoNotEnforce, and Enroll
                        enum:
                        - Default
                        - DoNotEnforce
                        - Enroll
                        x-ms-enum:
                          name: enforcementMode
                          modelAsString: true
                          values:
                          - value: Default
                            description: The policy effect is enforced during resource
                              creation or update.
                          - value: DoNotEnforce
                            description: The policy effect is not enforced during
                              resource creation or update.
                          - value: Enroll
                            description: The policy effect is not enforced during
                              resource creation or update until the resource or scope
                              of the resource is enrolled to the assignment instance.
                              Enrollment occurs upon deployment of the policy enrollment
                              resource.
                        default: Default
                      nonComplianceMessages:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                              description: A message that describes why a resource
                                is non-compliant with the policy. This is shown in
                                'deny' error messages and on resource's non-compliant
                                compliance results.
                            policyDefinitionReferenceId:
                              type: string
                              description: The policy definition reference ID within
                                a policy set definition the message is intended for.
                                This is only applicable if the policy assignment assigns
                                a policy set definition. If this is not provided the
                                message applies to all policies assigned by this policy
                                assignment.
                          required:
                          - message
                          description: A message that describes why a resource is
                            non-compliant with the policy. This is shown in 'deny'
                            error messages and on resource's non-compliant compliance
                            results.
                        x-ms-identifiers:
                        - message
                        - policyDefinitionReferenceId
                        description: The messages that describe why a resource is
                          non-compliant with the policy.
                      resourceSelectors:
                        type: array
                        items:
                          description: The resource selector to filter policies by
                            resource properties.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the resource selector.
                            selectors:
                              type: array
                              items:
                                description: The selector expression.
                                type: object
                                properties:
                                  kind:
                                    type: string
                                    description: The selector kind.
                                    enum:
                                    - resourceLocation
                                    - resourceType
                                    - resourceWithoutLocation
                                    - policyDefinitionReferenceId
                                    x-ms-enum:
                                      name: SelectorKind
                                      modelAsString: true
                                      values:
                                      - value: resourceLocation
                                        description: The selector kind to filter policies
                                          by the resource location.
                                      - value: resourceType
                                        description: The selector kind to filter policies
                                          by the resource type.
                                      - value: resourceWithoutLocation
                                        description: The selector kind to filter policies
                                          by the resource without location.
                                      - value: policyDefinitionReferenceId
                                        description: The selector kind to filter policies
                                          by the policy definition reference ID.
                                  in:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter in.
                                  notIn:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter out.
                              x-ms-identifiers: []
                              description: The list of the selector expressions.
                        x-ms-identifiers: []
                        description: The resource selector list to filter policies
                          by resource properties.
                      overrides:
                        type: array
                        items:
                          description: The policy property value override.
                          type: object
                          properties:
                            kind:
                              type: string
                              description: The override kind.
                              enum:
                              - policyEffect
                              - definitionVersion
                              x-ms-enum:
                                name: OverrideKind
                                modelAsString: true
                                values:
                                - value: policyEffect
                                  description: It will override the policy effect
                                    type.
                                - value: definitionVersion
                                  description: It will override the definition version
                                    property value of the policy assignment.
                            value:
                              type: string
                              description: The value to override the policy property.
                            selectors:
                              type: array
                              items:
                                description: The selector expression.
                                type: object
                                properties:
                                  kind:
                                    type: string
                                    description: The selector kind.
                                    enum:
                                    - resourceLocation
                                    - resourceType
                                    - resourceWithoutLocation
                                    - policyDefinitionReferenceId
                                    x-ms-enum:
                                      name: SelectorKind
                                      modelAsString: true
                                      values:
                                      - value: resourceLocation
                                        description: The selector kind to filter policies
                                          by the resource location.
                                      - value: resourceType
                                        description: The selector kind to filter policies
                                          by the resource type.
                                      - value: resourceWithoutLocation
                                        description: The selector kind to filter policies
                                          by the resource without location.
                                      - value: policyDefinitionReferenceId
                                        description: The selector kind to filter policies
                                          by the policy definition reference ID.
                                  in:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter in.
                                  notIn:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter out.
                              x-ms-identifiers: []
                              description: The list of the selector expressions.
                        x-ms-identifiers: []
                        description: The policy property value override.
                      assignmentType:
                        type: string
                        description: The type of policy assignment. Possible values
                          are NotSpecified, System, SystemHidden, and Custom. Immutable.
                        enum:
                        - NotSpecified
                        - System
                        - SystemHidden
                        - Custom
                        x-ms-enum:
                          name: assignmentType
                          modelAsString: true
                      instanceId:
                        type: string
                        description: The instance ID of the policy assignment. This
                          ID only and always changes when the assignment is deleted
                          and recreated.
                        readOnly: true
                  id:
                    type: string
                    description: The ID of the policy assignment.
                    readOnly: true
                  type:
                    type: string
                    description: The type of the policy assignment.
                    readOnly: true
                  name:
                    type: string
                    description: The name of the policy assignment.
                    readOnly: true
                  location:
                    type: string
                    description: The location of the policy assignment. Only required
                      when utilizing managed identity.
                  identity:
                    description: The managed identity associated with the policy assignment.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of the resource identity.  This
                          property will only be provided for a system assigned identity
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of the resource identity.  This
                          property will only be provided for a system assigned identity
                      type:
                        type: string
                        description: The identity type. This is the only required
                          field when adding a system or user assigned identity to
                          a resource.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                          values:
                          - value: SystemAssigned
                            description: Indicates that a system assigned identity
                              is associated with the resource.
                          - value: UserAssigned
                            description: Indicates that a system assigned identity
                              is associated with the resource.
                          - value: None
                            description: Indicates that no identity is associated
                              with the resource or that the existing identity should
                              be removed.
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          x-ms-client-name: userAssignedIdentitiesValue
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The user identity associated with the policy.
                          The user identity dictionary key references will be ARM
                          resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy assignment.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      tags:
      - PolicyAssignments
      operationId: PolicyAssignments_Get
      summary: Retrieves a policy assignment.
      description: This operation retrieves a single policy assignment, given its
        name and the scope it was created at.
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope of the policy assignment. Valid scopes are: management
          group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}''), resource group
          (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'',
          or resource (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'''
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: policyAssignmentName
        in: path
        required: true
        description: The name of the policy assignment to get.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: $expand
        in: query
        required: false
        description: Comma-separated list of additional properties to be included
          in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK - Returns information about the policy assignment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: Properties for the policy assignment.
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: The display name of the policy assignment.
                      policyDefinitionId:
                        type: string
                        description: The ID of the policy definition or policy set
                          definition being assigned.
                      definitionVersion:
                        type: string
                        description: The version of the policy definition to use.
                      latestDefinitionVersion:
                        type: string
                        description: The latest version of the policy definition available.
                          This is only present if requested via the $expand query
                          parameter.
                        readOnly: true
                      effectiveDefinitionVersion:
                        type: string
                        description: The effective version of the policy definition
                          in use. This is only present if requested via the $expand
                          query parameter.
                        readOnly: true
                      scope:
                        type: string
                        description: The scope for the policy assignment.
                        readOnly: true
                      notScopes:
                        type: array
                        items:
                          type: string
                        description: The policy's excluded scopes.
                      parameters:
                        description: The parameter values for the assigned policy
                          rule. The keys are the parameter names.
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            value:
                              description: The value of the parameter.
                          description: The value of a parameter.
                      description:
                        type: string
                        description: This message will be part of response in case
                          of policy violation.
                      metadata:
                        type: object
                        description: The policy assignment metadata. Metadata is an
                          open ended object and is typically a collection of key value
                          pairs.
                      enforcementMode:
                        type: string
                        description: The policy assignment enforcement mode. Possible
                          values are Default, DoNotEnforce, and Enroll
                        enum:
                        - Default
                        - DoNotEnforce
                        - Enroll
                        x-ms-enum:
                          name: enforcementMode
                          modelAsString: true
                          values:
                          - value: Default
                            description: The policy effect is enforced during resource
                              creation or update.
                          - value: DoNotEnforce
                            description: The policy effect is not enforced during
                              resource creation or update.
                          - value: Enroll
                            description: The policy effect is not enforced during
                              resource creation or update until the resource or scope
                              of the resource is enrolled to the assignment instance.
                              Enrollment occurs upon deployment of the policy enrollment
                              resource.
                        default: Default
                      nonComplianceMessages:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                              description: A message that describes why a resource
                                is non-compliant with the policy. This is shown in
                                'deny' error messages and on resource's non-compliant
                                compliance results.
                            policyDefinitionReferenceId:
                              type: string
                              description: The policy definition reference ID within
                                a policy set definition the message is intended for.
                                This is only applicable if the policy assignment assigns
                                a policy set definition. If this is not provided the
                                message applies to all policies assigned by this policy
                                assignment.
                          required:
                          - message
                          description: A message that describes why a resource is
                            non-compliant with the policy. This is shown in 'deny'
                            error messages and on resource's non-compliant compliance
                            results.
                        x-ms-identifiers:
                        - message
                        - policyDefinitionReferenceId
                        description: The messages that describe why a resource is
                          non-compliant with the policy.
                      resourceSelectors:
                        type: array
                        items:
                          description: The resource selector to filter policies by
                            resource properties.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the resource selector.
                            selectors:
                              type: array
                              items:
                                description: The selector expression.
                                type: object
                                properties:
                                  kind:
                                    type: string
                                    description: The selector kind.
                                    enum:
                                    - resourceLocation
                                    - resourceType
                                    - resourceWithoutLocation
                                    - policyDefinitionReferenceId
                                    x-ms-enum:
                                      name: SelectorKind
                                      modelAsString: true
                                      values:
                                      - value: resourceLocation
                                        description: The selector kind to filter policies
                                          by the resource location.
                                      - value: resourceType
                                        description: The selector kind to filter policies
                                          by the resource type.
                                      - value: resourceWithoutLocation
                                        description: The selector kind to filter policies
                                          by the resource without location.
                                      - value: policyDefinitionReferenceId
                                        description: The selector kind to filter policies
                                          by the policy definition reference ID.
                                  in:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter in.
                                  notIn:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter out.
                              x-ms-identifiers: []
                              description: The list of the selector expressions.
                        x-ms-identifiers: []
                        description: The resource selector list to filter policies
                          by resource properties.
                      overrides:
                        type: array
                        items:
                          description: The policy property value override.
                          type: object
                          properties:
                            kind:
                              type: string
                              description: The override kind.
                              enum:
                              - policyEffect
                              - definitionVersion
                              x-ms-enum:
                                name: OverrideKind
                                modelAsString: true
                                values:
                                - value: policyEffect
                                  description: It will override the policy effect
                                    type.
                                - value: definitionVersion
                                  description: It will override the definition version
                                    property value of the policy assignment.
                            value:
                              type: string
                              description: The value to override the policy property.
                            selectors:
                              type: array
                              items:
                                description: The selector expression.
                                type: object
                                properties:
                                  kind:
                                    type: string
                                    description: The selector kind.
                                    enum:
                                    - resourceLocation
                                    - resourceType
                                    - resourceWithoutLocation
                                    - policyDefinitionReferenceId
                                    x-ms-enum:
                                      name: SelectorKind
                                      modelAsString: true
                                      values:
                                      - value: resourceLocation
                                        description: The selector kind to filter policies
                                          by the resource location.
                                      - value: resourceType
                                        description: The selector kind to filter policies
                                          by the resource type.
                                      - value: resourceWithoutLocation
                                        description: The selector kind to filter policies
                                          by the resource without location.
                                      - value: policyDefinitionReferenceId
                                        description: The selector kind to filter policies
                                          by the policy definition reference ID.
                                  in:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter in.
                                  notIn:
                                    type: array
                                    items:
                                      type: string
                                    description: The list of values to filter out.
                              x-ms-identifiers: []
                              description: The list of the selector expressions.
                        x-ms-identifiers: []
                        description: The policy property value override.
                      assignmentType:
                        type: string
                        description: The type of policy assignment. Possible values
                          are NotSpecified, System, SystemHidden, and Custom. Immutable.
                        enum:
                        - NotSpecified
                        - System
                        - SystemHidden
                        - Custom
                        x-ms-enum:
                          name: assignmentType
                          modelAsString: true
                      instanceId:
                        type: string
                        description: The instance ID of the policy assignment. This
                          ID only and always changes when the assignment is deleted
                          and recreated.
                        readOnly: true
                  id:
                    type: string
                    description: The ID of the policy assignment.
                    readOnly: true
                  type:
                    type: string
                    description: The type of the policy assignment.
                    readOnly: true
                  name:
                    type: string
                    description: The name of the policy assignment.
                    readOnly: true
                  location:
                    type: string
                    description: The location of the policy assignment. Only required
                      when utilizing managed identity.
                  identity:
                    description: The managed identity associated with the policy assignment.
                    type: object
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal ID of the resource identity.  This
                          property will only be provided for a system assigned identity
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant ID of the resource identity.  This
                          property will only be provided for a system assigned identity
                      type:
                        type: string
                        description: The identity type. This is the only required
                          field when adding a system or user assigned identity to
                          a resource.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                          values:
                          - value: SystemAssigned
                            description: Indicates that a system assigned identity
                              is associated with the resource.
                          - value: UserAssigned
                            description: Indicates that a system assigned identity
                              is associated with the resource.
                          - value: None
                            description: Indicates that no identity is associated
                              with the resource or that the existing identity should
                              be removed.
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          x-ms-client-name: userAssignedIdentitiesValue
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The user identity associated with the policy.
                          The user identity dictionary key references will be ARM
                          resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                  systemData:
                    readOnly: true
                    description: The system metadata relating to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                description: The policy assignment.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - PolicyAssignments
      operationId: PolicyAssignments_Update
      summary: Updates a policy assignment.
      description: ' This operation updates a policy assignment with the given scope
        and name. Policy assignments apply to all resources contained within their
        scope. For example, when you assign a policy at resource group scope, that
        policy applies to all resources in the group.'
      parameters:
      - name: scope
        in: path
        required: true
        description: 'The scope of the policy assignment. Valid scopes are: management
          group (format: ''/providers/Microsoft.Management/managementGroups/{managementGroup}''),
          subscription (format: ''/subscriptions/{subscriptionId}''), resource group
          (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'',
          or resource (format: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/[{parentResourcePath}/]{resourceType}/{resourceName}'''
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: policyAssignmentName
        in: path
        required: true
        description: The name of the policy assignment.
        schema:
          type: string
          pattern: ^[^<>*%&:\?.+/]*[^<>*%&:\?.+/ ]+$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: The policy assignment properties for Patch request.
                  type: object
[...]
