openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans:
    get:
      description: Get a collection of all acquired plans that subscription has access
        to.
      tags:
      - AcquiredPlans
      operationId: AcquiredPlans_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: targetSubscriptionId
        in: path
        description: The target subscription ID.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of acquired plans.
                properties:
                  value:
                    description: List of acquired plans.
                    type: array
                    items:
                      description: Represents the acquisition of an add-on plan for
                        a subscription.
                      type: object
                      properties:
                        acquisitionId:
                          description: Acquisition identifier.
                          type: string
                        id:
                          description: Identifier in the tenant subscription context.
                          type: string
                        planId:
                          description: Plan identifier in the tenant subscription
                            context.
                          type: string
                        externalReferenceId:
                          description: External reference identifier.
                          type: string
                        provisioningState:
                          description: State of the provisioning.
                          type: string
                          enum:
                          - NotSpecified
                          - Accepted
                          - Failed
                          - Succeeded
                          x-ms-enum:
                            name: ProvisioningState
                            modelAsString: true
                            values:
                            - description: The provisioning state is not specified.
                              name: NotSpecified
                              value: NotSpecified
                            - description: The provisioning state is accepted, and
                                indicates provisioning is ongoing.
                              name: Accepted
                              value: Accepted
                            - description: The provisioning state is failed, and indicates
                                the data is potentially out-of-sync with third parties.
                              name: Failed
                              value: Failed
                            - description: The provisioning state is succeeded, and
                                indicates the data is in-sync with third-parties.
                              name: Succeeded
                              value: Succeeded
                        acquisitionTime:
                          description: Acquisition time.
                          type: string
                          format: date-time
                  nextLink:
                    type: string
                    description: URI to the next page.
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans/{planAcquisitionId}
  : get:
      tags:
      - AcquiredPlans
      description: Gets the specified plan acquired by a subscription consuming the
        offer.
      operationId: AcquiredPlans_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: targetSubscriptionId
        in: path
        description: The target subscription ID.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: planAcquisitionId
        in: path
        description: The plan acquisition Identifier
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Represents the acquisition of an add-on plan for a subscription.
                type: object
                properties:
                  acquisitionId:
                    description: Acquisition identifier.
                    type: string
                  id:
                    description: Identifier in the tenant subscription context.
                    type: string
                  planId:
                    description: Plan identifier in the tenant subscription context.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  provisioningState:
                    description: State of the provisioning.
                    type: string
                    enum:
                    - NotSpecified
                    - Accepted
                    - Failed
                    - Succeeded
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                      values:
                      - description: The provisioning state is not specified.
                        name: NotSpecified
                        value: NotSpecified
                      - description: The provisioning state is accepted, and indicates
                          provisioning is ongoing.
                        name: Accepted
                        value: Accepted
                      - description: The provisioning state is failed, and indicates
                          the data is potentially out-of-sync with third parties.
                        name: Failed
                        value: Failed
                      - description: The provisioning state is succeeded, and indicates
                          the data is in-sync with third-parties.
                        name: Succeeded
                        value: Succeeded
                  acquisitionTime:
                    description: Acquisition time.
                    type: string
                    format: date-time
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    delete:
      description: Deletes an acquired plan.
      tags:
      - AcquiredPlans
      operationId: AcquiredPlans_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: targetSubscriptionId
        in: path
        description: The target subscription ID.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: planAcquisitionId
        in: path
        description: The plan acquisition Identifier
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      tags:
      - AcquiredPlans
      description: Creates an acquired plan.
      operationId: AcquiredPlans_Create
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: targetSubscriptionId
        in: path
        description: The target subscription ID.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: planAcquisitionId
        in: path
        description: The plan acquisition Identifier
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: Represents the acquisition of an add-on plan for a subscription.
              type: object
              properties:
                acquisitionId:
                  description: Acquisition identifier.
                  type: string
                id:
                  description: Identifier in the tenant subscription context.
                  type: string
                planId:
                  description: Plan identifier in the tenant subscription context.
                  type: string
                externalReferenceId:
                  description: External reference identifier.
                  type: string
                provisioningState:
                  description: State of the provisioning.
                  type: string
                  enum:
                  - NotSpecified
                  - Accepted
                  - Failed
                  - Succeeded
                  x-ms-enum:
                    name: ProvisioningState
                    modelAsString: true
                    values:
                    - description: The provisioning state is not specified.
                      name: NotSpecified
                      value: NotSpecified
                    - description: The provisioning state is accepted, and indicates
                        provisioning is ongoing.
                      name: Accepted
                      value: Accepted
                    - description: The provisioning state is failed, and indicates
                        the data is potentially out-of-sync with third parties.
                      name: Failed
                      value: Failed
                    - description: The provisioning state is succeeded, and indicates
                        the data is in-sync with third-parties.
                      name: Succeeded
                      value: Succeeded
                acquisitionTime:
                  description: Acquisition time.
                  type: string
                  format: date-time
        description: The new acquired plan.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Represents the acquisition of an add-on plan for a subscription.
                type: object
                properties:
                  acquisitionId:
                    description: Acquisition identifier.
                    type: string
                  id:
                    description: Identifier in the tenant subscription context.
                    type: string
                  planId:
                    description: Plan identifier in the tenant subscription context.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  provisioningState:
                    description: State of the provisioning.
                    type: string
                    enum:
                    - NotSpecified
                    - Accepted
                    - Failed
                    - Succeeded
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                      values:
                      - description: The provisioning state is not specified.
                        name: NotSpecified
                        value: NotSpecified
                      - description: The provisioning state is accepted, and indicates
                          provisioning is ongoing.
                        name: Accepted
                        value: Accepted
                      - description: The provisioning state is failed, and indicates
                          the data is potentially out-of-sync with third parties.
                        name: Failed
                        value: Failed
                      - description: The provisioning state is succeeded, and indicates
                          the data is in-sync with third-parties.
                        name: Succeeded
                        value: Succeeded
                  acquisitionTime:
                    description: Acquisition time.
                    type: string
                    format: date-time
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: Represents the acquisition of an add-on plan for a subscription.
                type: object
                properties:
                  acquisitionId:
                    description: Acquisition identifier.
                    type: string
                  id:
                    description: Identifier in the tenant subscription context.
                    type: string
                  planId:
                    description: Plan identifier in the tenant subscription context.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  provisioningState:
                    description: State of the provisioning.
                    type: string
                    enum:
                    - NotSpecified
                    - Accepted
                    - Failed
                    - Succeeded
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                      values:
                      - description: The provisioning state is not specified.
                        name: NotSpecified
                        value: NotSpecified
                      - description: The provisioning state is accepted, and indicates
                          provisioning is ongoing.
                        name: Accepted
                        value: Accepted
                      - description: The provisioning state is failed, and indicates
                          the data is potentially out-of-sync with third parties.
                        name: Failed
                        value: Failed
                      - description: The provisioning state is succeeded, and indicates
                          the data is in-sync with third-parties.
                        name: Succeeded
                        value: Succeeded
                  acquisitionTime:
                    description: Acquisition time.
                    type: string
                    format: date-time
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    TargetSubscriptionIdParameter:
      name: targetSubscriptionId
      in: path
      description: The target subscription ID.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PlanAcquisitionIdParameter:
      name: planAcquisitionId
      in: path
      description: The plan acquisition Identifier
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PlanAcquisition:
      description: Represents the acquisition of an add-on plan for a subscription.
      type: object
      properties:
        acquisitionId:
          description: Acquisition identifier.
          type: string
        id:
          description: Identifier in the tenant subscription context.
          type: string
        planId:
          description: Plan identifier in the tenant subscription context.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        provisioningState:
          description: State of the provisioning.
          type: string
          enum:
          - NotSpecified
          - Accepted
          - Failed
          - Succeeded
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
            values:
            - description: The provisioning state is not specified.
              name: NotSpecified
              value: NotSpecified
            - description: The provisioning state is accepted, and indicates provisioning
                is ongoing.
              name: Accepted
              value: Accepted
            - description: The provisioning state is failed, and indicates the data
                is potentially out-of-sync with third parties.
              name: Failed
              value: Failed
            - description: The provisioning state is succeeded, and indicates the
                data is in-sync with third-parties.
              name: Succeeded
              value: Succeeded
        acquisitionTime:
          description: Acquisition time.
          type: string
          format: date-time
    ProvisioningState:
      description: Provisioning state for subscriptions service resources, for example,
        resource provider registration.
      type: string
      enum:
      - NotSpecified
      - Accepted
      - Failed
      - Succeeded
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - description: The provisioning state is not specified.
          name: NotSpecified
          value: NotSpecified
        - description: The provisioning state is accepted, and indicates provisioning
            is ongoing.
          name: Accepted
          value: Accepted
        - description: The provisioning state is failed, and indicates the data is
            potentially out-of-sync with third parties.
          name: Failed
          value: Failed
        - description: The provisioning state is succeeded, and indicates the data
            is in-sync with third-parties.
          name: Succeeded
          value: Succeeded
    PlanAcquisitionList:
      description: List of acquired plans.
      properties:
        value:
          description: List of acquired plans.
          type: array
          items:
            description: Represents the acquisition of an add-on plan for a subscription.
            type: object
            properties:
              acquisitionId:
                description: Acquisition identifier.
                type: string
              id:
                description: Identifier in the tenant subscription context.
                type: string
              planId:
                description: Plan identifier in the tenant subscription context.
                type: string
              externalReferenceId:
                description: External reference identifier.
                type: string
              provisioningState:
                description: State of the provisioning.
                type: string
                enum:
                - NotSpecified
                - Accepted
                - Failed
                - Succeeded
                x-ms-enum:
                  name: ProvisioningState
                  modelAsString: true
                  values:
                  - description: The provisioning state is not specified.
                    name: NotSpecified
                    value: NotSpecified
                  - description: The provisioning state is accepted, and indicates
                      provisioning is ongoing.
                    name: Accepted
                    value: Accepted
                  - description: The provisioning state is failed, and indicates the
                      data is potentially out-of-sync with third parties.
                    name: Failed
                    value: Failed
                  - description: The provisioning state is succeeded, and indicates
                      the data is in-sync with third-parties.
                    name: Succeeded
                    value: Succeeded
              acquisitionTime:
                description: Acquisition time.
                type: string
                format: date-time
        nextLink:
          type: string
          description: URI to the next page.
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
