openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders:
    get:
      description: Get the list of delegatedProviders.
      tags:
      - DelegatedProviders
      operationId: DelegatedProviders_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of subscriptions.
                properties:
                  value:
                    type: array
                    description: Subscription definition.
                    items:
                      description: Subscription object properties.
                      type: object
                      properties:
                        delegatedProviderSubscriptionId:
                          description: Parent DelegatedProvider subscription identifier.
                          type: string
                        displayName:
                          description: Subscription name.
                          type: string
                        id:
                          description: Fully qualified identifier.
                          type: string
                        externalReferenceId:
                          description: External reference identifier.
                          type: string
                        offerId:
                          description: Identifier of the offer under the scope of
                            a delegated provider.
                          type: string
                        owner:
                          description: Subscription owner.
                          type: string
                        routingResourceManagerType:
                          description: Routing resource manager type.
                          type: string
                          enum:
                          - Default
                          - Admin
                          x-ms-enum:
                            name: ResourceManagerType
                            modelAsString: true
                        state:
                          description: Subscription state.
                          type: string
                          enum:
                          - NotDefined
                          - Enabled
                          - Warned
                          - PastDue
                          - Disabled
                          - Deleted
                          - Deleting
                          - PartiallyDeleted
                          x-ms-enum:
                            name: SubscriptionState
                            modelAsString: true
                            values:
                            - description: Subscription is active. New resources can
                                be created.
                              name: Enabled
                              value: Enabled
                            - description: This state is not used in Azure Stack.
                              name: PastDue
                              value: PastDue
                            - description: This state is not used in Azure Stack.
                              name: Warned
                              value: Warned
                            - description: "Subscription is not active and usage is\
                                \ not reported. Resources are shut down (VMs stopped\
                                \ and deallocated, IP addresses are freed, etc). During\
                                \ this period, the Azure Stack Operator can re-enable\
                                \ the subscription which allows creation of new resources\
                                \ but doesn\u2019t automatically restore disabled\
                                \ resources."
                              name: Disabled
                              value: Disabled
                            - description: This state is unique to Azure Stack and
                                is only visible to the Azure Stack Operator, and if
                                used, to the respective Delegated Provider. Resources
                                and Data are being deleted before subscription state
                                is set to Deleted. This state cannot be reversed.
                                It means that deletion is in progress.
                              name: Deleting
                              value: Deleting
                            - description: Final state of subscription. All resources
                                and data are deleted. This state cannot be reversed.
                              name: Deleted
                              value: Deleted
                            - description: This state is not used in Azure Stack.
                              name: NotDefined
                              value: NotDefined
                            - description: "This state is unique to Azure Stack and\
                                \ is only visible to the Azure Stack Operator, and\
                                \ if used, to the respective Delegated Provider. It\
                                \ means that deletion failed.  You can\u2019t reverse\
                                \ the deletion process, so in this state all you can\
                                \ do is restart deletion.  This state is not reported\
                                \ to RPs."
                              name: PartiallyDeleted
                              value: PartiallyDeleted
                        subscriptionId:
                          description: Subscription identifier.
                          type: string
                        tenantId:
                          description: Directory tenant identifier.
                          type: string
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProvider}:
    get:
      description: Get the specified delegated provider.
      tags:
      - DelegatedProviders
      operationId: DelegatedProviders_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: DelegatedProvider identifier.
        name: delegatedProvider
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Subscription object properties.
                type: object
                properties:
                  delegatedProviderSubscriptionId:
                    description: Parent DelegatedProvider subscription identifier.
                    type: string
                  displayName:
                    description: Subscription name.
                    type: string
                  id:
                    description: Fully qualified identifier.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  offerId:
                    description: Identifier of the offer under the scope of a delegated
                      provider.
                    type: string
                  owner:
                    description: Subscription owner.
                    type: string
                  routingResourceManagerType:
                    description: Routing resource manager type.
                    type: string
                    enum:
                    - Default
                    - Admin
                    x-ms-enum:
                      name: ResourceManagerType
                      modelAsString: true
                  state:
                    description: Subscription state.
                    type: string
                    enum:
                    - NotDefined
                    - Enabled
                    - Warned
                    - PastDue
                    - Disabled
                    - Deleted
                    - Deleting
                    - PartiallyDeleted
                    x-ms-enum:
                      name: SubscriptionState
                      modelAsString: true
                      values:
                      - description: Subscription is active. New resources can be
                          created.
                        name: Enabled
                        value: Enabled
                      - description: This state is not used in Azure Stack.
                        name: PastDue
                        value: PastDue
                      - description: This state is not used in Azure Stack.
                        name: Warned
                        value: Warned
                      - description: "Subscription is not active and usage is not\
                          \ reported. Resources are shut down (VMs stopped and deallocated,\
                          \ IP addresses are freed, etc). During this period, the\
                          \ Azure Stack Operator can re-enable the subscription which\
                          \ allows creation of new resources but doesn\u2019t automatically\
                          \ restore disabled resources."
                        name: Disabled
                        value: Disabled
                      - description: This state is unique to Azure Stack and is only
                          visible to the Azure Stack Operator, and if used, to the
                          respective Delegated Provider. Resources and Data are being
                          deleted before subscription state is set to Deleted. This
                          state cannot be reversed. It means that deletion is in progress.
                        name: Deleting
                        value: Deleting
                      - description: Final state of subscription. All resources and
                          data are deleted. This state cannot be reversed.
                        name: Deleted
                        value: Deleted
                      - description: This state is not used in Azure Stack.
                        name: NotDefined
                        value: NotDefined
                      - description: "This state is unique to Azure Stack and is only\
                          \ visible to the Azure Stack Operator, and if used, to the\
                          \ respective Delegated Provider. It means that deletion\
                          \ failed.  You can\u2019t reverse the deletion process,\
                          \ so in this state all you can do is restart deletion. \
                          \ This state is not reported to RPs."
                        name: PartiallyDeleted
                        value: PartiallyDeleted
                  subscriptionId:
                    description: Subscription identifier.
                    type: string
                  tenantId:
                    description: Directory tenant identifier.
                    type: string
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
    DelegatedProviderParameter:
      description: DelegatedProvider identifier.
      name: delegatedProvider
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    ResourceManagerType:
      description: Resource manager type.
      type: string
      enum:
      - Default
      - Admin
      x-ms-enum:
        name: ResourceManagerType
        modelAsString: true
    SubscriptionState:
      description: Subscription notification state.
      type: string
      enum:
      - NotDefined
      - Enabled
      - Warned
      - PastDue
      - Disabled
      - Deleted
      - Deleting
      - PartiallyDeleted
      x-ms-enum:
        name: SubscriptionState
        modelAsString: true
        values:
        - description: Subscription is active. New resources can be created.
          name: Enabled
          value: Enabled
        - description: This state is not used in Azure Stack.
          name: PastDue
          value: PastDue
        - description: This state is not used in Azure Stack.
          name: Warned
          value: Warned
        - description: "Subscription is not active and usage is not reported. Resources\
            \ are shut down (VMs stopped and deallocated, IP addresses are freed,\
            \ etc). During this period, the Azure Stack Operator can re-enable the\
            \ subscription which allows creation of new resources but doesn\u2019\
            t automatically restore disabled resources."
          name: Disabled
          value: Disabled
        - description: This state is unique to Azure Stack and is only visible to
            the Azure Stack Operator, and if used, to the respective Delegated Provider.
            Resources and Data are being deleted before subscription state is set
            to Deleted. This state cannot be reversed. It means that deletion is in
            progress.
          name: Deleting
          value: Deleting
        - description: Final state of subscription. All resources and data are deleted.
            This state cannot be reversed.
          name: Deleted
          value: Deleted
        - description: This state is not used in Azure Stack.
          name: NotDefined
          value: NotDefined
        - description: "This state is unique to Azure Stack and is only visible to\
            \ the Azure Stack Operator, and if used, to the respective Delegated Provider.\
            \ It means that deletion failed.  You can\u2019t reverse the deletion\
            \ process, so in this state all you can do is restart deletion.  This\
            \ state is not reported to RPs."
          name: PartiallyDeleted
          value: PartiallyDeleted
    SubscriptionDefinition:
      description: Subscription object properties.
      type: object
      properties:
        delegatedProviderSubscriptionId:
          description: Parent DelegatedProvider subscription identifier.
          type: string
        displayName:
          description: Subscription name.
          type: string
        id:
          description: Fully qualified identifier.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        offerId:
          description: Identifier of the offer under the scope of a delegated provider.
          type: string
        owner:
          description: Subscription owner.
          type: string
        routingResourceManagerType:
          description: Routing resource manager type.
          type: string
          enum:
          - Default
          - Admin
          x-ms-enum:
            name: ResourceManagerType
            modelAsString: true
        state:
          description: Subscription state.
          type: string
          enum:
          - NotDefined
          - Enabled
          - Warned
          - PastDue
          - Disabled
          - Deleted
          - Deleting
          - PartiallyDeleted
          x-ms-enum:
            name: SubscriptionState
            modelAsString: true
            values:
            - description: Subscription is active. New resources can be created.
              name: Enabled
              value: Enabled
            - description: This state is not used in Azure Stack.
              name: PastDue
              value: PastDue
            - description: This state is not used in Azure Stack.
              name: Warned
              value: Warned
            - description: "Subscription is not active and usage is not reported.\
                \ Resources are shut down (VMs stopped and deallocated, IP addresses\
                \ are freed, etc). During this period, the Azure Stack Operator can\
                \ re-enable the subscription which allows creation of new resources\
                \ but doesn\u2019t automatically restore disabled resources."
              name: Disabled
              value: Disabled
            - description: This state is unique to Azure Stack and is only visible
                to the Azure Stack Operator, and if used, to the respective Delegated
                Provider. Resources and Data are being deleted before subscription
                state is set to Deleted. This state cannot be reversed. It means that
                deletion is in progress.
              name: Deleting
              value: Deleting
            - description: Final state of subscription. All resources and data are
                deleted. This state cannot be reversed.
              name: Deleted
              value: Deleted
            - description: This state is not used in Azure Stack.
              name: NotDefined
              value: NotDefined
            - description: "This state is unique to Azure Stack and is only visible\
                \ to the Azure Stack Operator, and if used, to the respective Delegated\
                \ Provider. It means that deletion failed.  You can\u2019t reverse\
                \ the deletion process, so in this state all you can do is restart\
                \ deletion.  This state is not reported to RPs."
              name: PartiallyDeleted
              value: PartiallyDeleted
        subscriptionId:
          description: Subscription identifier.
          type: string
        tenantId:
          description: Directory tenant identifier.
          type: string
      x-ms-azure-resource: true
    SubscriptionList:
      description: List of subscriptions.
      properties:
        value:
          type: array
          description: Subscription definition.
          items:
            description: Subscription object properties.
            type: object
            properties:
              delegatedProviderSubscriptionId:
                description: Parent DelegatedProvider subscription identifier.
                type: string
              displayName:
                description: Subscription name.
                type: string
              id:
                description: Fully qualified identifier.
                type: string
              externalReferenceId:
                description: External reference identifier.
                type: string
              offerId:
                description: Identifier of the offer under the scope of a delegated
                  provider.
                type: string
              owner:
                description: Subscription owner.
                type: string
              routingResourceManagerType:
                description: Routing resource manager type.
                type: string
                enum:
                - Default
                - Admin
                x-ms-enum:
                  name: ResourceManagerType
                  modelAsString: true
              state:
                description: Subscription state.
                type: string
                enum:
                - NotDefined
                - Enabled
                - Warned
                - PastDue
                - Disabled
                - Deleted
                - Deleting
                - PartiallyDeleted
                x-ms-enum:
                  name: SubscriptionState
                  modelAsString: true
                  values:
                  - description: Subscription is active. New resources can be created.
                    name: Enabled
                    value: Enabled
                  - description: This state is not used in Azure Stack.
                    name: PastDue
                    value: PastDue
                  - description: This state is not used in Azure Stack.
                    name: Warned
                    value: Warned
                  - description: "Subscription is not active and usage is not reported.\
                      \ Resources are shut down (VMs stopped and deallocated, IP addresses\
                      \ are freed, etc). During this period, the Azure Stack Operator\
                      \ can re-enable the subscription which allows creation of new\
                      \ resources but doesn\u2019t automatically restore disabled\
                      \ resources."
                    name: Disabled
                    value: Disabled
                  - description: This state is unique to Azure Stack and is only visible
                      to the Azure Stack Operator, and if used, to the respective
                      Delegated Provider. Resources and Data are being deleted before
                      subscription state is set to Deleted. This state cannot be reversed.
                      It means that deletion is in progress.
                    name: Deleting
                    value: Deleting
                  - description: Final state of subscription. All resources and data
                      are deleted. This state cannot be reversed.
                    name: Deleted
                    value: Deleted
                  - description: This state is not used in Azure Stack.
                    name: NotDefined
                    value: NotDefined
                  - description: "This state is unique to Azure Stack and is only\
                      \ visible to the Azure Stack Operator, and if used, to the respective\
                      \ Delegated Provider. It means that deletion failed.  You can\u2019\
                      t reverse the deletion process, so in this state all you can\
                      \ do is restart deletion.  This state is not reported to RPs."
                    name: PartiallyDeleted
                    value: PartiallyDeleted
              subscriptionId:
                description: Subscription identifier.
                type: string
              tenantId:
                description: Directory tenant identifier.
                type: string
            x-ms-azure-resource: true
        nextLink:
          description: URI to the next page.
          type: string
