openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers
  : get:
      description: Get the list of delegated provider offers.
      tags:
      - DelegatedProviderOffers
      operationId: DelegatedProviderOffers_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Delegated provider subscription identifier.
        name: delegatedProviderSubscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of delegated provider offers.
                properties:
                  value:
                    description: Array of delegated provider offers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of resource.
                          type: string
                        location:
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Properties for an delegated provider.
                          type: object
                          properties:
                            delegatedOfferId:
                              description: The delegated offer identifier.
                              type: string
                            displayName:
                              description: Display name of offer.
                              type: string
                            description:
                              description: Description of offer.
                              type: string
                            externalReferenceId:
                              description: External reference identifier.
                              type: string
                            accessibilityState:
                              description: Offer accessibility state.
                              type: string
                              enum:
                              - Private
                              - Public
                              - Decommissioned
                              x-ms-enum:
                                name: AccessibilityState
                                modelAsString: true
                                values:
                                - description: The offer or plan is private. Only
                                    an Admin can see and manage it.
                                  name: Private
                                  value: Private
                                - description: The offer or plan is public. Users
                                    can see and self-subscribe to it.
                                  name: Public
                                  value: Public
                                - description: The offer or plan is decommissioned.
                                    Current subscriptions can still consume it but
                                    new subscriptions cannot.
                                  name: Decommissioned
                                  value: Decommissioned
                            subscriptionCount:
                              description: Current subscription count.
                              type: integer
                              format: int32
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers/{offer}
  : get:
      description: Get the specified delegated provider offer.
      tags:
      - DelegatedProviderOffers
      operationId: DelegatedProviderOffers_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: Delegated provider subscription identifier.
        name: delegatedProviderSubscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of an offer.
        name: offer
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Properties for an delegated provider.
                    type: object
                    properties:
                      delegatedOfferId:
                        description: The delegated offer identifier.
                        type: string
                      displayName:
                        description: Display name of offer.
                        type: string
                      description:
                        description: Description of offer.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      accessibilityState:
                        description: Offer accessibility state.
                        type: string
                        enum:
                        - Private
                        - Public
                        - Decommissioned
                        x-ms-enum:
                          name: AccessibilityState
                          modelAsString: true
                          values:
                          - description: The offer or plan is private. Only an Admin
                              can see and manage it.
                            name: Private
                            value: Private
                          - description: The offer or plan is public. Users can see
                              and self-subscribe to it.
                            name: Public
                            value: Public
                          - description: The offer or plan is decommissioned. Current
                              subscriptions can still consume it but new subscriptions
                              cannot.
                            name: Decommissioned
                            value: Decommissioned
                      subscriptionCount:
                        description: Current subscription count.
                        type: integer
                        format: int32
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    DelegatedProviderSubscriptionIdParameter:
      description: Delegated provider subscription identifier.
      name: delegatedProviderSubscriptionId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
    OfferParameter:
      description: Name of an offer.
      name: offer
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DelegatedProviderOffer:
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          x-ms-client-flatten: true
          description: Properties for an delegated provider.
          type: object
          properties:
            delegatedOfferId:
              description: The delegated offer identifier.
              type: string
            displayName:
              description: Display name of offer.
              type: string
            description:
              description: Description of offer.
              type: string
            externalReferenceId:
              description: External reference identifier.
              type: string
            accessibilityState:
              description: Offer accessibility state.
              type: string
              enum:
              - Private
              - Public
              - Decommissioned
              x-ms-enum:
                name: AccessibilityState
                modelAsString: true
                values:
                - description: The offer or plan is private. Only an Admin can see
                    and manage it.
                  name: Private
                  value: Private
                - description: The offer or plan is public. Users can see and self-subscribe
                    to it.
                  name: Public
                  value: Public
                - description: The offer or plan is decommissioned. Current subscriptions
                    can still consume it but new subscriptions cannot.
                  name: Decommissioned
                  value: Decommissioned
            subscriptionCount:
              description: Current subscription count.
              type: integer
              format: int32
      description: Base Resource Object
      x-ms-azure-resource: true
    DelegatedProviderOfferProperties:
      description: Properties for an delegated provider.
      type: object
      properties:
        delegatedOfferId:
          description: The delegated offer identifier.
          type: string
        displayName:
          description: Display name of offer.
          type: string
        description:
          description: Description of offer.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        accessibilityState:
          description: Offer accessibility state.
          type: string
          enum:
          - Private
          - Public
          - Decommissioned
          x-ms-enum:
            name: AccessibilityState
            modelAsString: true
            values:
            - description: The offer or plan is private. Only an Admin can see and
                manage it.
              name: Private
              value: Private
            - description: The offer or plan is public. Users can see and self-subscribe
                to it.
              name: Public
              value: Public
            - description: The offer or plan is decommissioned. Current subscriptions
                can still consume it but new subscriptions cannot.
              name: Decommissioned
              value: Decommissioned
        subscriptionCount:
          description: Current subscription count.
          type: integer
          format: int32
    AccessibilityState:
      type: string
      description: Represents the state of the offer
      enum:
      - Private
      - Public
      - Decommissioned
      x-ms-enum:
        name: AccessibilityState
        modelAsString: true
        values:
        - description: The offer or plan is private. Only an Admin can see and manage
            it.
          name: Private
          value: Private
        - description: The offer or plan is public. Users can see and self-subscribe
            to it.
          name: Public
          value: Public
        - description: The offer or plan is decommissioned. Current subscriptions
            can still consume it but new subscriptions cannot.
          name: Decommissioned
          value: Decommissioned
    DelegatedProviderOfferList:
      description: List of delegated provider offers.
      properties:
        value:
          description: Array of delegated provider offers.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: URI of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of resource.
                type: string
              location:
                description: Location of the resource
                type: string
              tags:
                readOnly: true
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                x-ms-client-flatten: true
                description: Properties for an delegated provider.
                type: object
                properties:
                  delegatedOfferId:
                    description: The delegated offer identifier.
                    type: string
                  displayName:
                    description: Display name of offer.
                    type: string
                  description:
                    description: Description of offer.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  accessibilityState:
                    description: Offer accessibility state.
                    type: string
                    enum:
                    - Private
                    - Public
                    - Decommissioned
                    x-ms-enum:
                      name: AccessibilityState
                      modelAsString: true
                      values:
                      - description: The offer or plan is private. Only an Admin can
                          see and manage it.
                        name: Private
                        value: Private
                      - description: The offer or plan is public. Users can see and
                          self-subscribe to it.
                        name: Public
                        value: Public
                      - description: The offer or plan is decommissioned. Current
                          subscriptions can still consume it but new subscriptions
                          cannot.
                        name: Decommissioned
                        value: Decommissioned
                  subscriptionCount:
                    description: Current subscription count.
                    type: integer
                    format: int32
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: Continuation token
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
