openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants
  : get:
      tags:
      - DirectoryTenants
      description: Lists all the directory tenants under the current subscription
        and given resource group name.
      operationId: DirectoryTenants_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of directory tenants.
                type: object
                properties:
                  value:
                    description: List of directory tenants.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of resource.
                          type: string
                        location:
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Directory tenant.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            tenantId:
                              description: Tenant unique identifier.
                              type: string
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants/{tenant}
  : get:
      description: Get a directory tenant by name.
      tags:
      - DirectoryTenants
      operationId: DirectoryTenants_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Directory tenant name.
        name: tenant
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Directory tenant.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      tenantId:
                        description: Tenant unique identifier.
                        type: string
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    delete:
      description: Delete a directory tenant under a resource group.
      tags:
      - DirectoryTenants
      operationId: DirectoryTenants_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Directory tenant name.
        name: tenant
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      description: Create or updates a directory tenant.
      tags:
      - DirectoryTenants
      operationId: DirectoryTenants_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Directory tenant name.
        name: tenant
        required: true
        in: path
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  description: URI of the resource.
                  type: string
                name:
                  readOnly: true
                  description: Name of the resource.
                  type: string
                type:
                  readOnly: true
                  description: Type of resource.
                  type: string
                location:
                  description: Location of the resource
                  type: string
                tags:
                  readOnly: true
                  description: List of key-value pairs.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: Directory tenant.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    tenantId:
                      description: Tenant unique identifier.
                      type: string
              description: Base Resource Object
              x-ms-azure-resource: true
        description: New directory tenant properties.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Directory tenant.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      tenantId:
                        description: Tenant unique identifier.
                        type: string
                description: Base Resource Object
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Directory tenant.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      tenantId:
                        description: Tenant unique identifier.
                        type: string
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    DirectoryTenantParameter:
      description: Directory tenant name.
      name: tenant
      required: true
      in: path
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      description: The resource group the resource is located under.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DirectoryTenant:
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Directory tenant.
          x-ms-client-flatten: true
          type: object
          properties:
            tenantId:
              description: Tenant unique identifier.
              type: string
      description: Base Resource Object
      x-ms-azure-resource: true
    DirectoryTenantProperties:
      description: Directory tenant.
      type: object
      properties:
        tenantId:
          description: Tenant unique identifier.
          type: string
    DirectoryTenantList:
      description: List of directory tenants.
      type: object
      properties:
        value:
          description: List of directory tenants.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: URI of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of resource.
                type: string
              location:
                description: Location of the resource
                type: string
              tags:
                readOnly: true
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Directory tenant.
                x-ms-client-flatten: true
                type: object
                properties:
                  tenantId:
                    description: Tenant unique identifier.
                    type: string
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: Continuation token
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
