openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations:
    get:
      description: Get a list of all AzureStack location.
      tags:
      - Locations
      operationId: Locations_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of locations.
                properties:
                  value:
                    description: List of locations.
                    type: array
                    items:
                      description: Contains information about a geographical location
                        where resource providers can be deployed.
                      type: object
                      properties:
                        displayName:
                          description: Display name of the location.
                          type: string
                        id:
                          description: Location identifier.
                          type: string
                        latitude:
                          description: Latitude of the location.
                          type: string
                        longitude:
                          description: Longitude of the location.
                          type: string
                        name:
                          description: Location name.
                          type: string
                  nextLink:
                    description: URI to next page.
                    type: string
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}:
    get:
      description: Get the specified location.
      tags:
      - Locations
      operationId: Locations_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The AzureStack location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Contains information about a geographical location where
                  resource providers can be deployed.
                type: object
                properties:
                  displayName:
                    description: Display name of the location.
                    type: string
                  id:
                    description: Location identifier.
                    type: string
                  latitude:
                    description: Latitude of the location.
                    type: string
                  longitude:
                    description: Longitude of the location.
                    type: string
                  name:
                    description: Location name.
                    type: string
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      description: Updates the specified location.
      tags:
      - Locations
      operationId: Locations_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The AzureStack location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: Contains information about a geographical location where
                resource providers can be deployed.
              type: object
              properties:
                displayName:
                  description: Display name of the location.
                  type: string
                id:
                  description: Location identifier.
                  type: string
                latitude:
                  description: Latitude of the location.
                  type: string
                longitude:
                  description: Longitude of the location.
                  type: string
                name:
                  description: Location name.
                  type: string
        description: The new location
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Contains information about a geographical location where
                  resource providers can be deployed.
                type: object
                properties:
                  displayName:
                    description: Display name of the location.
                    type: string
                  id:
                    description: Location identifier.
                    type: string
                  latitude:
                    description: Latitude of the location.
                    type: string
                  longitude:
                    description: Longitude of the location.
                    type: string
                  name:
                    description: Location name.
                    type: string
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/operationsStatus/{operationsStatusName}
  : get:
      description: Get the operation status.
      tags:
      - Locations
      operationId: Locations_GetOperationsStatus
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The AzureStack location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: The operation status name.
        name: operationsStatusName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: A long running operation status.
                type: object
                properties:
                  id:
                    description: The operation status identifier.
                    properties:
                      location:
                        description: The location of the operations status.
                        type: string
                      name:
                        description: The name of the operations status.
                        type: string
                      subscriptionId:
                        description: The subscription identifier..
                        type: string
                  status:
                    description: The status of the operation.
                    type: string
                  startTime:
                    description: The start time of the operation.
                    type: string
                    format: date-time
                  endTime:
                    description: The end time of the operation.
                    type: string
                    format: date-time
                  percentComplete:
                    description: The completion percentage of the operation.
                    type: number
                  properties:
                    description: The internal operation properties.
                    type: object
                  error:
                    description: The operation error.
                    properties:
                      code:
                        description: The error code.
                        type: string
                      message:
                        description: The error message.
                        type: string
                      details:
                        description: The detailed error message details.
                        properties:
                          value:
                            description: List of the extended error information.
                            type: array
                            items:
                              description: The extended error information.
                              properties:
                                code:
                                  description: The error code.
                                  type: string
                                message:
                                  description: The error message.
                                  type: string
                                details:
                                  description: The detailed error message details.
                                  properties:
                                    value:
                                      description: List of the extended error information.
                                      type: array
                                      items:
                                        description: The extended error information.
                                        properties:
                                          code:
                                            description: The error code.
                                            type: string
                                          message:
                                            description: The error message.
                                            type: string
                                      x-ms-identifiers: []
                                    nextLink:
                                      description: URI to next page.
                                      type: string
                            x-ms-identifiers: []
                          nextLink:
                            description: URI to next page.
                            type: string
                  retryAfter:
                    description: The amount of time clients should wait..
                    type: string
                  terminalHttpStatusCode:
                    description: The terminal http status code for the operation.
                    type: string
                  responseContent:
                    description: The content of the response.
                    type: object
        '202':
          description: Accepted
        '204':
          description: Not Content
        '404':
          description: Not Found
          x-ms-error-response: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
    LocationParameter:
      description: The AzureStack location.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OperationsStatusParameter:
      description: The operation status name.
      name: operationsStatusName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Location:
      description: Contains information about a geographical location where resource
        providers can be deployed.
      type: object
      properties:
        displayName:
          description: Display name of the location.
          type: string
        id:
          description: Location identifier.
          type: string
        latitude:
          description: Latitude of the location.
          type: string
        longitude:
          description: Longitude of the location.
          type: string
        name:
          description: Location name.
          type: string
    LocationList:
      description: List of locations.
      properties:
        value:
          description: List of locations.
          type: array
          items:
            description: Contains information about a geographical location where
              resource providers can be deployed.
            type: object
            properties:
              displayName:
                description: Display name of the location.
                type: string
              id:
                description: Location identifier.
                type: string
              latitude:
                description: Latitude of the location.
                type: string
              longitude:
                description: Longitude of the location.
                type: string
              name:
                description: Location name.
                type: string
        nextLink:
          description: URI to next page.
          type: string
    OperationsStatus:
      description: A long running operation status.
      type: object
      properties:
        id:
          description: The operation status identifier.
          properties:
            location:
              description: The location of the operations status.
              type: string
            name:
              description: The name of the operations status.
              type: string
            subscriptionId:
              description: The subscription identifier..
              type: string
        status:
          description: The status of the operation.
          type: string
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        percentComplete:
          description: The completion percentage of the operation.
          type: number
        properties:
          description: The internal operation properties.
          type: object
        error:
          description: The operation error.
          properties:
            code:
              description: The error code.
              type: string
            message:
              description: The error message.
              type: string
            details:
              description: The detailed error message details.
              properties:
                value:
                  description: List of the extended error information.
                  type: array
                  items:
                    description: The extended error information.
                    properties:
                      code:
                        description: The error code.
                        type: string
                      message:
                        description: The error message.
                        type: string
                      details:
                        description: The detailed error message details.
                        properties:
                          value:
                            description: List of the extended error information.
                            type: array
                            items:
                              description: The extended error information.
                              properties:
                                code:
                                  description: The error code.
                                  type: string
                                message:
                                  description: The error message.
                                  type: string
                            x-ms-identifiers: []
                          nextLink:
                            description: URI to next page.
                            type: string
                  x-ms-identifiers: []
                nextLink:
                  description: URI to next page.
                  type: string
        retryAfter:
          description: The amount of time clients should wait..
          type: string
        terminalHttpStatusCode:
          description: The terminal http status code for the operation.
          type: string
        responseContent:
          description: The content of the response.
          type: object
    OperationsStatusIdentifier:
      description: The admin offer identifier for the location wide SubscriptionsAdminResourceTypes.OperationsStatus
        resource type.
      properties:
        location:
          description: The location of the operations status.
          type: string
        name:
          description: The name of the operations status.
          type: string
        subscriptionId:
          description: The subscription identifier..
          type: string
    ExtendedErrorInfo:
      description: The extended error information.
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        details:
          description: The detailed error message details.
          properties:
            value:
              description: List of the extended error information.
              type: array
              items:
                description: The extended error information.
                properties:
                  code:
                    description: The error code.
                    type: string
                  message:
                    description: The error message.
                    type: string
                  details:
                    description: The detailed error message details.
                    properties:
                      value:
                        description: List of the extended error information.
                        type: array
                        items:
                          description: The extended error information.
                          properties:
                            code:
                              description: The error code.
                              type: string
                            message:
                              description: The error message.
                              type: string
                        x-ms-identifiers: []
                      nextLink:
                        description: URI to next page.
                        type: string
              x-ms-identifiers: []
            nextLink:
              description: URI to next page.
              type: string
    ExtendedErrorInfoList:
      description: List of the extended error information.
      properties:
        value:
          description: List of the extended error information.
          type: array
          items:
            description: The extended error information.
            properties:
              code:
                description: The error code.
                type: string
              message:
                description: The error message.
                type: string
              details:
                description: The detailed error message details.
                properties:
                  value:
                    description: List of the extended error information.
                    type: array
                    items:
                      description: The extended error information.
                      properties:
                        code:
                          description: The error code.
                          type: string
                        message:
                          description: The error message.
                          type: string
                    x-ms-identifiers: []
                  nextLink:
                    description: URI to next page.
                    type: string
          x-ms-identifiers: []
        nextLink:
          description: URI to next page.
          type: string
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
