openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/offers:
    get:
      description: Get the list of offers.
      tags:
      - Offers
      operationId: Offers_ListAll
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of offers.
                type: object
                properties:
                  value:
                    description: List of offers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of resource.
                          type: string
                        location:
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Represents an offering of services against
                            which a subscription can be created.
                          type: object
                          properties:
                            name:
                              description: Name of the Offer.
                              type: string
                            displayName:
                              description: Display name of offer.
                              type: string
                            description:
                              description: Description of offer.
                              type: string
                            externalReferenceId:
                              description: External reference identifier.
                              type: string
                            state:
                              description: Offer accessibility state.
                              type: string
                              enum:
                              - Private
                              - Public
                              - Decommissioned
                              x-ms-enum:
                                name: AccessibilityState
                                modelAsString: true
                                values:
                                - description: The offer or plan is private. Only
                                    an Admin can see and manage it.
                                  name: Private
                                  value: Private
                                - description: The offer or plan is public. Users
                                    can see and self-subscribe to it.
                                  name: Public
                                  value: Public
                                - description: The offer or plan is decommissioned.
                                    Current subscriptions can still consume it but
                                    new subscriptions cannot.
                                  name: Decommissioned
                                  value: Decommissioned
                            subscriptionCount:
                              description: Current subscription count.
                              type: integer
                              format: int32
                            maxSubscriptionsPerAccount:
                              description: Maximum subscriptions per account.
                              type: integer
                              format: int32
                            basePlanIds:
                              description: Identifiers of the base plans that become
                                available to the tenant immediately when a tenant
                                subscribes to the offer.
                              type: array
                              items:
                                type: string
                            addonPlans:
                              description: References to add-on plans that a tenant
                                can optionally acquire as a part of the offer.
                              type: array
                              items:
                                description: Contains the name of the desired plan
                                  to be linked or unlinked from an offer.
                                type: object
                                properties:
                                  planId:
                                    description: Plan identifier.
                                    type: string
                                  maxAcquisitionCount:
                                    description: Maximum number of instances that
                                      can be acquired by a single subscription. If
                                      not specified, the assumed value is 1.
                                    type: integer
                                    format: int32
                              x-ms-identifiers:
                              - planId
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URI to next page.
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers:
    get:
      description: Get the list of offers under a resource group.
      tags:
      - Offers
      operationId: Offers_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of offers.
                type: object
                properties:
                  value:
                    description: List of offers.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of resource.
                          type: string
                        location:
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Represents an offering of services against
                            which a subscription can be created.
                          type: object
                          properties:
                            name:
                              description: Name of the Offer.
                              type: string
                            displayName:
                              description: Display name of offer.
                              type: string
                            description:
                              description: Description of offer.
                              type: string
                            externalReferenceId:
                              description: External reference identifier.
                              type: string
                            state:
                              description: Offer accessibility state.
                              type: string
                              enum:
                              - Private
                              - Public
                              - Decommissioned
                              x-ms-enum:
                                name: AccessibilityState
                                modelAsString: true
                                values:
                                - description: The offer or plan is private. Only
                                    an Admin can see and manage it.
                                  name: Private
                                  value: Private
                                - description: The offer or plan is public. Users
                                    can see and self-subscribe to it.
                                  name: Public
                                  value: Public
                                - description: The offer or plan is decommissioned.
                                    Current subscriptions can still consume it but
                                    new subscriptions cannot.
                                  name: Decommissioned
                                  value: Decommissioned
                            subscriptionCount:
                              description: Current subscription count.
                              type: integer
                              format: int32
                            maxSubscriptionsPerAccount:
                              description: Maximum subscriptions per account.
                              type: integer
                              format: int32
                            basePlanIds:
                              description: Identifiers of the base plans that become
                                available to the tenant immediately when a tenant
                                subscribes to the offer.
                              type: array
                              items:
                                type: string
                            addonPlans:
                              description: References to add-on plans that a tenant
                                can optionally acquire as a part of the offer.
                              type: array
                              items:
                                description: Contains the name of the desired plan
                                  to be linked or unlinked from an offer.
                                type: object
                                properties:
                                  planId:
                                    description: Plan identifier.
                                    type: string
                                  maxAcquisitionCount:
                                    description: Maximum number of instances that
                                      can be acquired by a single subscription. If
                                      not specified, the assumed value is 1.
                                    type: integer
                                    format: int32
                              x-ms-identifiers:
                              - planId
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URI to next page.
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}:
    get:
      description: Get the specified offer.
      tags:
      - Offers
      operationId: Offers_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of an offer.
        name: offer
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Represents an offering of services against which
                      a subscription can be created.
                    type: object
                    properties:
                      name:
                        description: Name of the Offer.
                        type: string
                      displayName:
                        description: Display name of offer.
                        type: string
                      description:
                        description: Description of offer.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      state:
                        description: Offer accessibility state.
                        type: string
                        enum:
                        - Private
                        - Public
                        - Decommissioned
                        x-ms-enum:
                          name: AccessibilityState
                          modelAsString: true
                          values:
                          - description: The offer or plan is private. Only an Admin
                              can see and manage it.
                            name: Private
                            value: Private
                          - description: The offer or plan is public. Users can see
                              and self-subscribe to it.
                            name: Public
                            value: Public
                          - description: The offer or plan is decommissioned. Current
                              subscriptions can still consume it but new subscriptions
                              cannot.
                            name: Decommissioned
                            value: Decommissioned
                      subscriptionCount:
                        description: Current subscription count.
                        type: integer
                        format: int32
                      maxSubscriptionsPerAccount:
                        description: Maximum subscriptions per account.
                        type: integer
                        format: int32
                      basePlanIds:
                        description: Identifiers of the base plans that become available
                          to the tenant immediately when a tenant subscribes to the
                          offer.
                        type: array
                        items:
                          type: string
                      addonPlans:
                        description: References to add-on plans that a tenant can
                          optionally acquire as a part of the offer.
                        type: array
                        items:
                          description: Contains the name of the desired plan to be
                            linked or unlinked from an offer.
                          type: object
                          properties:
                            planId:
                              description: Plan identifier.
                              type: string
                            maxAcquisitionCount:
                              description: Maximum number of instances that can be
                                acquired by a single subscription. If not specified,
                                the assumed value is 1.
                              type: integer
                              format: int32
                        x-ms-identifiers:
                        - planId
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      description: Create or update the offer.
      tags:
      - Offers
      operationId: Offers_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of an offer.
        name: offer
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  description: URI of the resource.
                  type: string
                name:
                  readOnly: true
                  description: Name of the resource.
                  type: string
                type:
                  readOnly: true
                  description: Type of resource.
                  type: string
                location:
                  description: Location of the resource
                  type: string
                tags:
                  readOnly: true
                  description: List of key-value pairs.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  x-ms-client-flatten: true
                  description: Represents an offering of services against which a
                    subscription can be created.
                  type: object
                  properties:
                    name:
                      description: Name of the Offer.
                      type: string
                    displayName:
                      description: Display name of offer.
                      type: string
                    description:
                      description: Description of offer.
                      type: string
                    externalReferenceId:
                      description: External reference identifier.
                      type: string
                    state:
                      description: Offer accessibility state.
                      type: string
                      enum:
                      - Private
                      - Public
                      - Decommissioned
                      x-ms-enum:
                        name: AccessibilityState
                        modelAsString: true
                        values:
                        - description: The offer or plan is private. Only an Admin
                            can see and manage it.
                          name: Private
                          value: Private
                        - description: The offer or plan is public. Users can see
                            and self-subscribe to it.
                          name: Public
                          value: Public
                        - description: The offer or plan is decommissioned. Current
                            subscriptions can still consume it but new subscriptions
                            cannot.
                          name: Decommissioned
                          value: Decommissioned
                    subscriptionCount:
                      description: Current subscription count.
                      type: integer
                      format: int32
                    maxSubscriptionsPerAccount:
                      description: Maximum subscriptions per account.
                      type: integer
                      format: int32
                    basePlanIds:
                      description: Identifiers of the base plans that become available
                        to the tenant immediately when a tenant subscribes to the
                        offer.
                      type: array
                      items:
                        type: string
                    addonPlans:
                      description: References to add-on plans that a tenant can optionally
                        acquire as a part of the offer.
                      type: array
                      items:
                        description: Contains the name of the desired plan to be linked
                          or unlinked from an offer.
                        type: object
                        properties:
                          planId:
                            description: Plan identifier.
                            type: string
                          maxAcquisitionCount:
                            description: Maximum number of instances that can be acquired
                              by a single subscription. If not specified, the assumed
                              value is 1.
                            type: integer
                            format: int32
                      x-ms-identifiers:
                      - planId
              description: Base Resource Object
              x-ms-azure-resource: true
        description: New offer.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Represents an offering of services against which
                      a subscription can be created.
                    type: object
                    properties:
                      name:
                        description: Name of the Offer.
                        type: string
                      displayName:
                        description: Display name of offer.
                        type: string
                      description:
                        description: Description of offer.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      state:
                        description: Offer accessibility state.
                        type: string
                        enum:
                        - Private
                        - Public
                        - Decommissioned
                        x-ms-enum:
                          name: AccessibilityState
                          modelAsString: true
                          values:
                          - description: The offer or plan is private. Only an Admin
                              can see and manage it.
                            name: Private
                            value: Private
                          - description: The offer or plan is public. Users can see
                              and self-subscribe to it.
                            name: Public
                            value: Public
                          - description: The offer or plan is decommissioned. Current
                              subscriptions can still consume it but new subscriptions
                              cannot.
                            name: Decommissioned
                            value: Decommissioned
                      subscriptionCount:
                        description: Current subscription count.
                        type: integer
                        format: int32
                      maxSubscriptionsPerAccount:
                        description: Maximum subscriptions per account.
                        type: integer
                        format: int32
                      basePlanIds:
                        description: Identifiers of the base plans that become available
                          to the tenant immediately when a tenant subscribes to the
                          offer.
                        type: array
                        items:
                          type: string
                      addonPlans:
                        description: References to add-on plans that a tenant can
                          optionally acquire as a part of the offer.
                        type: array
                        items:
                          description: Contains the name of the desired plan to be
                            linked or unlinked from an offer.
                          type: object
                          properties:
                            planId:
                              description: Plan identifier.
                              type: string
                            maxAcquisitionCount:
                              description: Maximum number of instances that can be
                                acquired by a single subscription. If not specified,
                                the assumed value is 1.
                              type: integer
                              format: int32
                        x-ms-identifiers:
                        - planId
                description: Base Resource Object
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Represents an offering of services against which
                      a subscription can be created.
                    type: object
                    properties:
                      name:
                        description: Name of the Offer.
                        type: string
                      displayName:
                        description: Display name of offer.
                        type: string
                      description:
                        description: Description of offer.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      state:
                        description: Offer accessibility state.
                        type: string
                        enum:
                        - Private
                        - Public
                        - Decommissioned
                        x-ms-enum:
                          name: AccessibilityState
                          modelAsString: true
                          values:
                          - description: The offer or plan is private. Only an Admin
                              can see and manage it.
                            name: Private
                            value: Private
                          - description: The offer or plan is public. Users can see
                              and self-subscribe to it.
                            name: Public
                            value: Public
                          - description: The offer or plan is decommissioned. Current
                              subscriptions can still consume it but new subscriptions
                              cannot.
                            name: Decommissioned
                            value: Decommissioned
                      subscriptionCount:
                        description: Current subscription count.
                        type: integer
                        format: int32
                      maxSubscriptionsPerAccount:
                        description: Maximum subscriptions per account.
                        type: integer
                        format: int32
                      basePlanIds:
                        description: Identifiers of the base plans that become available
                          to the tenant immediately when a tenant subscribes to the
                          offer.
                        type: array
                        items:
                          type: string
                      addonPlans:
                        description: References to add-on plans that a tenant can
                          optionally acquire as a part of the offer.
                        type: array
                        items:
                          description: Contains the name of the desired plan to be
                            linked or unlinked from an offer.
                          type: object
                          properties:
                            planId:
                              description: Plan identifier.
                              type: string
                            maxAcquisitionCount:
                              description: Maximum number of instances that can be
                                acquired by a single subscription. If not specified,
                                the assumed value is 1.
                              type: integer
                              format: int32
                        x-ms-identifiers:
                        - planId
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    delete:
      description: Delete the specified offer.
      tags:
      - Offers
      operationId: Offers_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of an offer.
        name: offer
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/metrics
  : get:
      description: Get the offer metrics.
      tags:
      - Offers
      operationId: Offers_ListMetrics
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of an offer.
        name: offer
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of metrics.
                properties:
                  value:
                    description: List of metrics.
                    type: array
                    items:
                      description: The resource metric set that represents the metrics
                        for a particular resource.
                      type: object
                      properties:
                        metricUnit:
                          description: Unit of metrics.
                          type: string
                          enum:
                          - Count
                          - Bytes
                          - Seconds
                          - CountPerSecond
                          - BytesPerSecond
                          x-ms-enum:
                            name: MetricUnit
                            modelAsString: true
                            values:
                            - description: The count.
                              name: Count
                              value: Count
                            - description: The bytes.
                              name: Bytes
                              value: Bytes
                            - description: The seconds.
                              name: Seconds
                              value: Seconds
                            - description: The count per second.
                              name: CountPerSecond
                              value: CountPerSecond
                            - description: The bytes per second.
                              name: BytesPerSecond
                              value: BytesPerSecond
                        timeGrain:
                          description: Timespan of the metric.
                          type: string
                        startTime:
                          description: Start time of the metric.
                          type: string
                          format: date-time
                        endTime:
                          description: End time of the metric.
                          type: string
                          format: date-time
                        metricValues:
                          description: Collected metric values in the timespan.
                          type: array
                          items:
                            description: Metric value
                            type: object
                            properties:
                              timeStamp:
                                description: Timestamp of when the metric value was
                                  collected.
                                type: string
                                format: date-time
                              average:
                                description: Average value for metric sample period.
                                type: number
                                format: double
                              minimum:
                                description: Minimum value for metric sample period.
                                type: number
                                format: double
                              maximum:
                                description: Maximum value for metric sample period.
                                type: number
                                format: double
                              total:
                                description: Total value for metric sample period.
                                type: number
                                format: double
                              count:
                                description: Number of measurements for metric sample
                                  period.
                                type: integer
                                format: int32
                              properties:
                                x-ms-client-name: extendedProperties
                                description: Extended properties.
                                type: object
                                additionalProperties:
                                  type: string
                          x-ms-identifiers: []
                    x-ms-identifiers: []
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/metricDefinitions
  : get:
      description: Get the metric definitions.
      tags:
      - Offers
      operationId: Offers_ListMetricDefinitions
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of an offer.
        name: offer
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of metric definitions.
                properties:
                  value:
                    description: Array of metric definitions.
                    type: array
                    items:
                      description: Metric Definition
                      type: object
                      properties:
                        name:
                          description: Metric definition name.
                          type: string
                        unit:
                          description: Unit of metrics.
                          type: string
                          enum:
                          - Count
                          - Bytes
                          - Seconds
                          - CountPerSecond
                          - BytesPerSecond
                          x-ms-enum:
                            name: MetricUnit
                            modelAsString: true
                            values:
                            - description: The count.
                              name: Count
                              value: Count
                            - description: The bytes.
                              name: Bytes
                              value: Bytes
                            - description: The seconds.
                              name: Seconds
                              value: Seconds
                            - description: The count per second.
                              name: CountPerSecond
                              value: CountPerSecond
                            - description: The bytes per second.
                              name: BytesPerSecond
                              value: BytesPerSecond
                        primaryAggregationType:
                          description: Type of the primary aggregation.
                          type: string
                          enum:
                          - None
                          - Average
                          - Total
                          - Minimum
                          - Maximum
                          - Last
                          x-ms-enum:
                            name: MetricPrimaryAggregationType
                            modelAsString: true
                            values:
                            - description: No aggregation applied to resource.
                              name: None
                              value: None
                            - description: The average aggregation type.
                              name: Average
                              value: Average
                            - description: The total aggregation type.
                              name: Total
                              value: Total
                            - description: The minimum aggregation type.
                              name: Minimum
                              value: Minimum
                            - description: The maximum aggregation type.
                              name: Maximum
                              value: Maximum
                            - description: The last aggregation type.
                              name: Last
                              value: Last
                        metricAvailabilities:
                          description: Metric availabilities.
                          type: array
                          items:
                            description: Metric Definition
                            type: object
                            properties:
                              timeGrain:
                                description: The time grain. Metrics will be available
                                  for this time grain.
                                type: string
                              retention:
                                description: the retention. Metrics may be queried
                                  for this interval.
                                type: string
                          x-ms-identifiers: []
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/link
  : post:
      description: Links a plan to an offer.
      tags:
      - Offers
      operationId: Offers_Link
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of an offer.
        name: offer
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: Definition for linking and unlinking plans to offers.
              type: object
              properties:
                planName:
                  description: Name of the plan.
                  type: string
                planLinkType:
                  description: Type of the plan link.
                  type: string
                  enum:
                  - None
                  - Base
                  - Addon
                  x-ms-enum:
                    name: PlanLinkType
                    modelAsString: true
                maxAcquisitionCount:
                  description: The maximum acquisition count by subscribers
                  type: integer
                  format: int32
        description: New plan link.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Represents an offering of services against which
                      a subscription can be created.
                    type: object
                    properties:
                      name:
                        description: Name of the Offer.
                        type: string
                      displayName:
                        description: Display name of offer.
                        type: string
                      description:
                        description: Description of offer.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      state:
                        description: Offer accessibility state.
                        type: string
                        enum:
                        - Private
                        - Public
                        - Decommissioned
                        x-ms-enum:
                          name: AccessibilityState
                          modelAsString: true
                          values:
                          - description: The offer or plan is private. Only an Admin
                              can see and manage it.
                            name: Private
                            value: Private
                          - description: The offer or plan is public. Users can see
                              and self-subscribe to it.
                            name: Public
                            value: Public
                          - description: The offer or plan is decommissioned. Current
                              subscriptions can still consume it but new subscriptions
                              cannot.
                            name: Decommissioned
                            value: Decommissioned
                      subscriptionCount:
                        description: Current subscription count.
                        type: integer
                        format: int32
                      maxSubscriptionsPerAccount:
                        description: Maximum subscriptions per account.
                        type: integer
                        format: int32
                      basePlanIds:
                        description: Identifiers of the base plans that become available
                          to the tenant immediately when a tenant subscribes to the
                          offer.
                        type: array
                        items:
                          type: string
                      addonPlans:
                        description: References to add-on plans that a tenant can
                          optionally acquire as a part of the offer.
                        type: array
                        items:
                          description: Contains the name of the desired plan to be
                            linked or unlinked from an offer.
                          type: object
                          properties:
                            planId:
                              description: Plan identifier.
                              type: string
                            maxAcquisitionCount:
                              description: Maximum number of instances that can be
                                acquired by a single subscription. If not specified,
                                the assumed value is 1.
                              type: integer
                              format: int32
                        x-ms-identifiers:
                        - planId
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/unlink
  : post:
      description: Unlink a plan from an offer.
      tags:
      - Offers
      operationId: Offers_Unlink
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of an offer.
        name: offer
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: Definition for linking and unlinking plans to offers.
              type: object
              properties:
                planName:
                  description: Name of the plan.
                  type: string
                planLinkType:
                  description: Type of the plan link.
                  type: string
                  enum:
                  - None
                  - Base
                  - Addon
                  x-ms-enum:
                    name: PlanLinkType
                    modelAsString: true
                maxAcquisitionCount:
                  description: The maximum acquisition count by subscribers
                  type: integer
                  format: int32
        description: New plan link.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    x-ms-client-flatten: true
                    description: Represents an offering of services against which
                      a subscription can be created.
                    type: object
                    properties:
                      name:
                        description: Name of the Offer.
                        type: string
                      displayName:
                        description: Display name of offer.
                        type: string
                      description:
                        description: Description of offer.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      state:
                        description: Offer accessibility state.
                        type: string
                        enum:
                        - Private
                        - Public
                        - Decommissioned
                        x-ms-enum:
                          name: AccessibilityState
                          modelAsString: true
                          values:
                          - description: The offer or plan is private. Only an Admin
                              can see and manage it.
                            name: Private
                            value: Private
                          - description: The offer or plan is public. Users can see
                              and self-subscribe to it.
                            name: Public
                            value: Public
                          - description: The offer or plan is decommissioned. Current
                              subscriptions can still consume it but new subscriptions
                              cannot.
                            name: Decommissioned
                            value: Decommissioned
                      subscriptionCount:
                        description: Current subscription count.
                        type: integer
                        format: int32
                      maxSubscriptionsPerAccount:
                        description: Maximum subscriptions per account.
                        type: integer
                        format: int32
                      basePlanIds:
                        description: Identifiers of the base plans that become available
                          to the tenant immediately when a tenant subscribes to the
                          offer.
                        type: array
                        items:
                          type: string
                      addonPlans:
                        description: References to add-on plans that a tenant can
                          optionally acquire as a part of the offer.
                        type: array
                        items:
                          description: Contains the name of the desired plan to be
                            linked or unlinked from an offer.
                          type: object
                          properties:
                            planId:
                              description: Plan identifier.
                              type: string
                            maxAcquisitionCount:
                              description: Maximum number of instances that can be
                                acquired by a single subscription. If not specified,
                                the assumed value is 1.
                              type: integer
                              format: int32
                        x-ms-identifiers:
                        - planId
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
    ResourceGroupParameter:
      description: The resource group the resource is located under.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OfferParameter:
      description: Name of an offer.
      name: offer
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  requestBodies:
    Offers_LinkPlanlink:
      content:
        application/json:
          schema:
            description: Definition for linking and unlinking plans to offers.
            type: object
            properties:
              planName:
                description: Name of the plan.
                type: string
              planLinkType:
                description: Type of the plan link.
                type: string
                enum:
                - None
                - Base
                - Addon
                x-ms-enum:
                  name: PlanLinkType
                  modelAsString: true
              maxAcquisitionCount:
                description: The maximum acquisition count by subscribers
                type: integer
                format: int32
      description: New plan link.
      required: true
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Offer:
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          x-ms-client-flatten: true
          description: Represents an offering of services against which a subscription
            can be created.
          type: object
          properties:
            name:
              description: Name of the Offer.
              type: string
            displayName:
              description: Display name of offer.
              type: string
            description:
              description: Description of offer.
              type: string
            externalReferenceId:
              description: External reference identifier.
              type: string
            state:
              description: Offer accessibility state.
              type: string
              enum:
              - Private
              - Public
              - Decommissioned
              x-ms-enum:
                name: AccessibilityState
                modelAsString: true
                values:
                - description: The offer or plan is private. Only an Admin can see
                    and manage it.
                  name: Private
                  value: Private
                - description: The offer or plan is public. Users can see and self-subscribe
                    to it.
                  name: Public
                  value: Public
                - description: The offer or plan is decommissioned. Current subscriptions
                    can still consume it but new subscriptions cannot.
                  name: Decommissioned
                  value: Decommissioned
            subscriptionCount:
              description: Current subscription count.
              type: integer
              format: int32
            maxSubscriptionsPerAccount:
              description: Maximum subscriptions per account.
              type: integer
              format: int32
            basePlanIds:
              description: Identifiers of the base plans that become available to
                the tenant immediately when a tenant subscribes to the offer.
              type: array
              items:
                type: string
            addonPlans:
              description: References to add-on plans that a tenant can optionally
                acquire as a part of the offer.
              type: array
              items:
                description: Contains the name of the desired plan to be linked or
                  unlinked from an offer.
                type: object
                properties:
                  planId:
                    description: Plan identifier.
                    type: string
                  maxAcquisitionCount:
                    description: Maximum number of instances that can be acquired
                      by a single subscription. If not specified, the assumed value
                      is 1.
                    type: integer
                    format: int32
              x-ms-identifiers:
              - planId
      description: Base Resource Object
      x-ms-azure-resource: true
    OfferProperties:
      description: Represents an offering of services against which a subscription
        can be created.
      type: object
      properties:
        name:
          description: Name of the Offer.
          type: string
        displayName:
          description: Display name of offer.
          type: string
        description:
          description: Description of offer.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        state:
          description: Offer accessibility state.
          type: string
          enum:
          - Private
          - Public
          - Decommissioned
          x-ms-enum:
            name: AccessibilityState
            modelAsString: true
            values:
            - description: The offer or plan is private. Only an Admin can see and
                manage it.
              name: Private
              value: Private
            - description: The offer or plan is public. Users can see and self-subscribe
                to it.
              name: Public
              value: Public
            - description: The offer or plan is decommissioned. Current subscriptions
                can still consume it but new subscriptions cannot.
              name: Decommissioned
              value: Decommissioned
        subscriptionCount:
          description: Current subscription count.
          type: integer
          format: int32
        maxSubscriptionsPerAccount:
          description: Maximum subscriptions per account.
          type: integer
          format: int32
        basePlanIds:
          description: Identifiers of the base plans that become available to the
            tenant immediately when a tenant subscribes to the offer.
          type: array
          items:
            type: string
        addonPlans:
          description: References to add-on plans that a tenant can optionally acquire
            as a part of the offer.
          type: array
          items:
            description: Contains the name of the desired plan to be linked or unlinked
              from an offer.
            type: object
            properties:
              planId:
                description: Plan identifier.
                type: string
              maxAcquisitionCount:
                description: Maximum number of instances that can be acquired by a
                  single subscription. If not specified, the assumed value is 1.
                type: integer
                format: int32
          x-ms-identifiers:
          - planId
    AccessibilityState:
      type: string
      description: Represents the state of the offer
      enum:
      - Private
      - Public
      - Decommissioned
      x-ms-enum:
        name: AccessibilityState
        modelAsString: true
        values:
        - description: The offer or plan is private. Only an Admin can see and manage
            it.
          name: Private
          value: Private
        - description: The offer or plan is public. Users can see and self-subscribe
            to it.
          name: Public
          value: Public
        - description: The offer or plan is decommissioned. Current subscriptions
            can still consume it but new subscriptions cannot.
          name: Decommissioned
          value: Decommissioned
    AddonPlanDefinition:
      description: Contains the name of the desired plan to be linked or unlinked
        from an offer.
      type: object
      properties:
        planId:
          description: Plan identifier.
          type: string
        maxAcquisitionCount:
          description: Maximum number of instances that can be acquired by a single
            subscription. If not specified, the assumed value is 1.
          type: integer
          format: int32
    OfferList:
      description: List of offers.
      type: object
      properties:
        value:
          description: List of offers.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: URI of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of resource.
                type: string
              location:
                description: Location of the resource
                type: string
              tags:
                readOnly: true
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                x-ms-client-flatten: true
                description: Represents an offering of services against which a subscription
                  can be created.
                type: object
                properties:
                  name:
                    description: Name of the Offer.
                    type: string
                  displayName:
                    description: Display name of offer.
                    type: string
                  description:
                    description: Description of offer.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  state:
                    description: Offer accessibility state.
                    type: string
                    enum:
                    - Private
                    - Public
                    - Decommissioned
                    x-ms-enum:
                      name: AccessibilityState
                      modelAsString: true
                      values:
                      - description: The offer or plan is private. Only an Admin can
                          see and manage it.
                        name: Private
                        value: Private
                      - description: The offer or plan is public. Users can see and
                          self-subscribe to it.
                        name: Public
                        value: Public
                      - description: The offer or plan is decommissioned. Current
                          subscriptions can still consume it but new subscriptions
                          cannot.
                        name: Decommissioned
                        value: Decommissioned
                  subscriptionCount:
                    description: Current subscription count.
                    type: integer
                    format: int32
                  maxSubscriptionsPerAccount:
                    description: Maximum subscriptions per account.
                    type: integer
                    format: int32
                  basePlanIds:
                    description: Identifiers of the base plans that become available
                      to the tenant immediately when a tenant subscribes to the offer.
                    type: array
                    items:
                      type: string
                  addonPlans:
                    description: References to add-on plans that a tenant can optionally
                      acquire as a part of the offer.
                    type: array
                    items:
                      description: Contains the name of the desired plan to be linked
                        or unlinked from an offer.
                      type: object
                      properties:
                        planId:
                          description: Plan identifier.
                          type: string
                        maxAcquisitionCount:
                          description: Maximum number of instances that can be acquired
                            by a single subscription. If not specified, the assumed
                            value is 1.
                          type: integer
                          format: int32
                    x-ms-identifiers:
                    - planId
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: URI to next page.
    PlanLinkDefinition:
      description: Definition for linking and unlinking plans to offers.
      type: object
      properties:
        planName:
          description: Name of the plan.
          type: string
        planLinkType:
          description: Type of the plan link.
          type: string
          enum:
          - None
          - Base
          - Addon
          x-ms-enum:
            name: PlanLinkType
            modelAsString: true
        maxAcquisitionCount:
          description: The maximum acquisition count by subscribers
          type: integer
          format: int32
    PlanLinkType:
      description: Plan link type.
      type: string
      enum:
      - None
      - Base
      - Addon
      x-ms-enum:
        name: PlanLinkType
        modelAsString: true
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
[...]
