openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/plans:
    get:
      description: List all plans across all subscriptions.
      tags:
      - Plans
      operationId: Plans_ListAll
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of plans
                properties:
                  value:
                    description: Array of plans.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of resource.
                          type: string
                        location:
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties of a plan.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            description:
                              description: Description of the plan.
                              type: string
                            displayName:
                              description: Display name.
                              type: string
                            externalReferenceId:
                              description: External reference identifier.
                              type: string
                            quotaIds:
                              description: Quota identifiers under the plan.
                              type: array
                              items:
                                type: string
                            name:
                              description: Name of the plan.
                              type: string
                            subscriptionCount:
                              description: Subscription count.
                              type: integer
                              format: int32
                            skuIds:
                              description: SKU identifiers.
                              type: array
                              items:
                                type: string
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans:
    get:
      description: Get the list of plans under a resource group.
      tags:
      - Plans
      operationId: Plans_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of plans
                properties:
                  value:
                    description: Array of plans.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of resource.
                          type: string
                        location:
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties of a plan.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            description:
                              description: Description of the plan.
                              type: string
                            displayName:
                              description: Display name.
                              type: string
                            externalReferenceId:
                              description: External reference identifier.
                              type: string
                            quotaIds:
                              description: Quota identifiers under the plan.
                              type: array
                              items:
                                type: string
                            name:
                              description: Name of the plan.
                              type: string
                            subscriptionCount:
                              description: Subscription count.
                              type: integer
                              format: int32
                            skuIds:
                              description: SKU identifiers.
                              type: array
                              items:
                                type: string
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}:
    get:
      description: Get the specified plan.
      tags:
      - Plans
      operationId: Plans_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the plan.
        name: plan
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a plan.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        description: Description of the plan.
                        type: string
                      displayName:
                        description: Display name.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      quotaIds:
                        description: Quota identifiers under the plan.
                        type: array
                        items:
                          type: string
                      name:
                        description: Name of the plan.
                        type: string
                      subscriptionCount:
                        description: Subscription count.
                        type: integer
                        format: int32
                      skuIds:
                        description: SKU identifiers.
                        type: array
                        items:
                          type: string
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      description: Create or update the plan.
      tags:
      - Plans
      operationId: Plans_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the plan.
        name: plan
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  description: URI of the resource.
                  type: string
                name:
                  readOnly: true
                  description: Name of the resource.
                  type: string
                type:
                  readOnly: true
                  description: Type of resource.
                  type: string
                location:
                  description: Location of the resource
                  type: string
                tags:
                  readOnly: true
                  description: List of key-value pairs.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: Properties of a plan.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    description:
                      description: Description of the plan.
                      type: string
                    displayName:
                      description: Display name.
                      type: string
                    externalReferenceId:
                      description: External reference identifier.
                      type: string
                    quotaIds:
                      description: Quota identifiers under the plan.
                      type: array
                      items:
                        type: string
                    name:
                      description: Name of the plan.
                      type: string
                    subscriptionCount:
                      description: Subscription count.
                      type: integer
                      format: int32
                    skuIds:
                      description: SKU identifiers.
                      type: array
                      items:
                        type: string
              description: Base Resource Object
              x-ms-azure-resource: true
        description: New plan.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a plan.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        description: Description of the plan.
                        type: string
                      displayName:
                        description: Display name.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      quotaIds:
                        description: Quota identifiers under the plan.
                        type: array
                        items:
                          type: string
                      name:
                        description: Name of the plan.
                        type: string
                      subscriptionCount:
                        description: Subscription count.
                        type: integer
                        format: int32
                      skuIds:
                        description: SKU identifiers.
                        type: array
                        items:
                          type: string
                description: Base Resource Object
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a plan.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      description:
                        description: Description of the plan.
                        type: string
                      displayName:
                        description: Display name.
                        type: string
                      externalReferenceId:
                        description: External reference identifier.
                        type: string
                      quotaIds:
                        description: Quota identifiers under the plan.
                        type: array
                        items:
                          type: string
                      name:
                        description: Name of the plan.
                        type: string
                      subscriptionCount:
                        description: Subscription count.
                        type: integer
                        format: int32
                      skuIds:
                        description: SKU identifiers.
                        type: array
                        items:
                          type: string
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    delete:
      description: Delete the specified plan.
      tags:
      - Plans
      operationId: Plans_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the plan.
        name: plan
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metrics
  : get:
      description: Get the metrics of the specified plan.
      tags:
      - Plans
      operationId: Plans_ListMetrics
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the plan.
        name: plan
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of metrics.
                properties:
                  value:
                    description: List of metrics.
                    type: array
                    items:
                      description: The resource metric set that represents the metrics
                        for a particular resource.
                      type: object
                      properties:
                        metricUnit:
                          description: Unit of metrics.
                          type: string
                          enum:
                          - Count
                          - Bytes
                          - Seconds
                          - CountPerSecond
                          - BytesPerSecond
                          x-ms-enum:
                            name: MetricUnit
                            modelAsString: true
                            values:
                            - description: The count.
                              name: Count
                              value: Count
                            - description: The bytes.
                              name: Bytes
                              value: Bytes
                            - description: The seconds.
                              name: Seconds
                              value: Seconds
                            - description: The count per second.
                              name: CountPerSecond
                              value: CountPerSecond
                            - description: The bytes per second.
                              name: BytesPerSecond
                              value: BytesPerSecond
                        timeGrain:
                          description: Timespan of the metric.
                          type: string
                        startTime:
                          description: Start time of the metric.
                          type: string
                          format: date-time
                        endTime:
                          description: End time of the metric.
                          type: string
                          format: date-time
                        metricValues:
                          description: Collected metric values in the timespan.
                          type: array
                          items:
                            description: Metric value
                            type: object
                            properties:
                              timeStamp:
                                description: Timestamp of when the metric value was
                                  collected.
                                type: string
                                format: date-time
                              average:
                                description: Average value for metric sample period.
                                type: number
                                format: double
                              minimum:
                                description: Minimum value for metric sample period.
                                type: number
                                format: double
                              maximum:
                                description: Maximum value for metric sample period.
                                type: number
                                format: double
                              total:
                                description: Total value for metric sample period.
                                type: number
                                format: double
                              count:
                                description: Number of measurements for metric sample
                                  period.
                                type: integer
                                format: int32
                              properties:
                                x-ms-client-name: extendedProperties
                                description: Extended properties.
                                type: object
                                additionalProperties:
                                  type: string
                          x-ms-identifiers: []
                    x-ms-identifiers: []
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metricDefinitions
  : get:
      description: Get the metric definitions of the specified plan.
      tags:
      - Plans
      operationId: Plans_ListMetricDefinitions
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        name: resourceGroupName
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - description: Name of the plan.
        name: plan
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of metric definitions.
                properties:
                  value:
                    description: Array of metric definitions.
                    type: array
                    items:
                      description: Metric Definition
                      type: object
                      properties:
                        name:
                          description: Metric definition name.
                          type: string
                        unit:
                          description: Unit of metrics.
                          type: string
                          enum:
                          - Count
                          - Bytes
                          - Seconds
                          - CountPerSecond
                          - BytesPerSecond
                          x-ms-enum:
                            name: MetricUnit
                            modelAsString: true
                            values:
                            - description: The count.
                              name: Count
                              value: Count
                            - description: The bytes.
                              name: Bytes
                              value: Bytes
                            - description: The seconds.
                              name: Seconds
                              value: Seconds
                            - description: The count per second.
                              name: CountPerSecond
                              value: CountPerSecond
                            - description: The bytes per second.
                              name: BytesPerSecond
                              value: BytesPerSecond
                        primaryAggregationType:
                          description: Type of the primary aggregation.
                          type: string
                          enum:
                          - None
                          - Average
                          - Total
                          - Minimum
                          - Maximum
                          - Last
                          x-ms-enum:
                            name: MetricPrimaryAggregationType
                            modelAsString: true
                            values:
                            - description: No aggregation applied to resource.
                              name: None
                              value: None
                            - description: The average aggregation type.
                              name: Average
                              value: Average
                            - description: The total aggregation type.
                              name: Total
                              value: Total
                            - description: The minimum aggregation type.
                              name: Minimum
                              value: Minimum
                            - description: The maximum aggregation type.
                              name: Maximum
                              value: Maximum
                            - description: The last aggregation type.
                              name: Last
                              value: Last
                        metricAvailabilities:
                          description: Metric availabilities.
                          type: array
                          items:
                            description: Metric Definition
                            type: object
                            properties:
                              timeGrain:
                                description: The time grain. Metrics will be available
                                  for this time grain.
                                type: string
                              retention:
                                description: the retention. Metrics may be queried
                                  for this interval.
                                type: string
                          x-ms-identifiers: []
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: Continuation token
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
    ResourceGroupParameter:
      description: The resource group the resource is located under.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PlanParameter:
      description: Name of the plan.
      name: plan
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Plan:
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Properties of a plan.
          x-ms-client-flatten: true
          type: object
          properties:
            description:
              description: Description of the plan.
              type: string
            displayName:
              description: Display name.
              type: string
            externalReferenceId:
              description: External reference identifier.
              type: string
            quotaIds:
              description: Quota identifiers under the plan.
              type: array
              items:
                type: string
            name:
              description: Name of the plan.
              type: string
            subscriptionCount:
              description: Subscription count.
              type: integer
              format: int32
            skuIds:
              description: SKU identifiers.
              type: array
              items:
                type: string
      description: Base Resource Object
      x-ms-azure-resource: true
    PlanProperties:
      description: Properties of a plan.
      type: object
      properties:
        description:
          description: Description of the plan.
          type: string
        displayName:
          description: Display name.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        quotaIds:
          description: Quota identifiers under the plan.
          type: array
          items:
            type: string
        name:
          description: Name of the plan.
          type: string
        subscriptionCount:
          description: Subscription count.
          type: integer
          format: int32
        skuIds:
          description: SKU identifiers.
          type: array
          items:
            type: string
    PlanList:
      description: List of plans
      properties:
        value:
          description: Array of plans.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: URI of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of resource.
                type: string
              location:
                description: Location of the resource
                type: string
              tags:
                readOnly: true
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Properties of a plan.
                x-ms-client-flatten: true
                type: object
                properties:
                  description:
                    description: Description of the plan.
                    type: string
                  displayName:
                    description: Display name.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  quotaIds:
                    description: Quota identifiers under the plan.
                    type: array
                    items:
                      type: string
                  name:
                    description: Name of the plan.
                    type: string
                  subscriptionCount:
                    description: Subscription count.
                    type: integer
                    format: int32
                  skuIds:
                    description: SKU identifiers.
                    type: array
                    items:
                      type: string
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: Continuation token
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    MetricUnit:
      description: The resource metric unit.
      type: string
      enum:
      - Count
      - Bytes
      - Seconds
      - CountPerSecond
      - BytesPerSecond
      x-ms-enum:
        name: MetricUnit
        modelAsString: true
        values:
        - description: The count.
          name: Count
          value: Count
        - description: The bytes.
          name: Bytes
          value: Bytes
        - description: The seconds.
          name: Seconds
          value: Seconds
        - description: The count per second.
          name: CountPerSecond
          value: CountPerSecond
        - description: The bytes per second.
          name: BytesPerSecond
          value: BytesPerSecond
    MetricValue:
      description: Metric value
      type: object
      properties:
        timeStamp:
          description: Timestamp of when the metric value was collected.
          type: string
          format: date-time
        average:
          description: Average value for metric sample period.
          type: number
          format: double
        minimum:
          description: Minimum value for metric sample period.
          type: number
          format: double
        maximum:
          description: Maximum value for metric sample period.
          type: number
          format: double
        total:
          description: Total value for metric sample period.
          type: number
          format: double
        count:
          description: Number of measurements for metric sample period.
          type: integer
          format: int32
        properties:
          x-ms-client-name: extendedProperties
          description: Extended properties.
          type: object
          additionalProperties:
            type: string
    MetricValueList:
      description: List of metric values.
      type: array
      items:
        description: Metric value
        type: object
        properties:
          timeStamp:
            description: Timestamp of when the metric value was collected.
            type: string
            format: date-time
          average:
            description: Average value for metric sample period.
            type: number
            format: double
          minimum:
            description: Minimum value for metric sample period.
            type: number
            format: double
          maximum:
            description: Maximum value for metric sample period.
            type: number
            format: double
          total:
            description: Total value for metric sample period.
            type: number
            format: double
          count:
            description: Number of measurements for metric sample period.
            type: integer
            format: int32
          properties:
            x-ms-client-name: extendedProperties
            description: Extended properties.
            type: object
            additionalProperties:
              type: string
      x-ms-identifiers: []
    Metric:
      description: The resource metric set that represents the metrics for a particular
        resource.
      type: object
      properties:
        metricUnit:
          description: Unit of metrics.
          type: string
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          x-ms-enum:
            name: MetricUnit
            modelAsString: true
            values:
            - description: The count.
              name: Count
              value: Count
            - description: The bytes.
              name: Bytes
              value: Bytes
            - description: The seconds.
              name: Seconds
              value: Seconds
            - description: The count per second.
              name: CountPerSecond
              value: CountPerSecond
            - description: The bytes per second.
              name: BytesPerSecond
              value: BytesPerSecond
        timeGrain:
          description: Timespan of the metric.
          type: string
        startTime:
          description: Start time of the metric.
          type: string
          format: date-time
        endTime:
          description: End time of the metric.
          type: string
          format: date-time
        metricValues:
          description: Collected metric values in the timespan.
          type: array
          items:
            description: Metric value
            type: object
            properties:
              timeStamp:
                description: Timestamp of when the metric value was collected.
                type: string
                format: date-time
              average:
                description: Average value for metric sample period.
                type: number
                format: double
              minimum:
                description: Minimum value for metric sample period.
                type: number
                format: double
              maximum:
                description: Maximum value for metric sample period.
                type: number
                format: double
              total:
                description: Total value for metric sample period.
                type: number
                format: double
              count:
                description: Number of measurements for metric sample period.
                type: integer
                format: int32
              properties:
                x-ms-client-name: extendedProperties
                description: Extended properties.
                type: object
                additionalProperties:
                  type: string
          x-ms-identifiers: []
    MetricList:
      description: List of metrics.
      properties:
        value:
          description: List of metrics.
          type: array
          items:
            description: The resource metric set that represents the metrics for a
              particular resource.
            type: object
            properties:
              metricUnit:
                description: Unit of metrics.
                type: string
                enum:
                - Count
                - Bytes
                - Seconds
                - CountPerSecond
                - BytesPerSecond
                x-ms-enum:
                  name: MetricUnit
                  modelAsString: true
                  values:
                  - description: The count.
                    name: Count
                    value: Count
                  - description: The bytes.
                    name: Bytes
                    value: Bytes
                  - description: The seconds.
                    name: Seconds
                    value: Seconds
                  - description: The count per second.
                    name: CountPerSecond
                    value: CountPerSecond
                  - description: The bytes per second.
                    name: BytesPerSecond
                    value: BytesPerSecond
              timeGrain:
                description: Timespan of the metric.
                type: string
              startTime:
                description: Start time of the metric.
                type: string
                format: date-time
              endTime:
                description: End time of the metric.
                type: string
                format: date-time
              metricValues:
                description: Collected metric values in the timespan.
                type: array
                items:
                  description: Metric value
                  type: object
                  properties:
                    timeStamp:
                      description: Timestamp of when the metric value was collected.
                      type: string
                      format: date-time
                    average:
                      description: Average value for metric sample period.
                      type: number
                      format: double
                    minimum:
                      description: Minimum value for metric sample period.
                      type: number
                      format: double
                    maximum:
                      description: Maximum value for metric sample period.
                      type: number
                      format: double
                    total:
                      description: Total value for metric sample period.
                      type: number
                      format: double
                    count:
                      description: Number of measurements for metric sample period.
                      type: integer
                      format: int32
                    properties:
                      x-ms-client-name: extendedProperties
                      description: Extended properties.
                      type: object
                      additionalProperties:
                        type: string
                x-ms-identifiers: []
          x-ms-identifiers: []
        nextLink:
          type: string
          description: Continuation token
    MetricPrimaryAggregationType:
      description: The primary aggregation type for resource metric.
      type: string
      enum:
      - None
      - Average
      - Total
      - Minimum
      - Maximum
      - Last
      x-ms-enum:
        name: MetricPrimaryAggregationType
        modelAsString: true
        values:
        - description: No aggregation applied to resource.
          name: None
          value: None
        - description: The average aggregation type.
          name: Average
          value: Average
        - description: The total aggregation type.
          name: Total
          value: Total
        - description: The minimum aggregation type.
          name: Minimum
          value: Minimum
        - description: The maximum aggregation type.
          name: Maximum
          value: Maximum
        - description: The last aggregation type.
          name: Last
          value: Last
    MetricAvailability:
      description: Metric Definition
      type: object
      properties:
        timeGrain:
          description: The time grain. Metrics will be available for this time grain.
          type: string
        retention:
          description: the retention. Metrics may be queried for this interval.
          type: string
    MetricAvailabilityList:
      description: List of metric definitions.
      type: array
      items:
        description: Metric Definition
        type: object
        properties:
          timeGrain:
            description: The time grain. Metrics will be available for this time grain.
            type: string
          retention:
            description: the retention. Metrics may be queried for this interval.
            type: string
      x-ms-identifiers: []
    MetricDefinition:
      description: Metric Definition
      type: object
      properties:
        name:
          description: Metric definition name.
          type: string
        unit:
          description: Unit of metrics.
          type: string
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          x-ms-enum:
            name: MetricUnit
            modelAsString: true
            values:
            - description: The count.
              name: Count
              value: Count
            - description: The bytes.
              name: Bytes
              value: Bytes
            - description: The seconds.
              name: Seconds
              value: Seconds
            - description: The count per second.
              name: CountPerSecond
              value: CountPerSecond
            - description: The bytes per second.
              name: BytesPerSecond
              value: BytesPerSecond
        primaryAggregationType:
          description: Type of the primary aggregation.
          type: string
          enum:
          - None
          - Average
          - Total
          - Minimum
          - Maximum
          - Last
          x-ms-enum:
            name: MetricPrimaryAggregationType
            modelAsString: true
            values:
            - description: No aggregation applied to resource.
              name: None
              value: None
            - description: The average aggregation type.
              name: Average
              value: Average
            - description: The total aggregation type.
              name: Total
              value: Total
            - description: The minimum aggregation type.
              name: Minimum
              value: Minimum
            - description: The maximum aggregation type.
              name: Maximum
              value: Maximum
            - description: The last aggregation type.
              name: Last
              value: Last
        metricAvailabilities:
          description: Metric availabilities.
          type: array
          items:
            description: Metric Definition
            type: object
            properties:
              timeGrain:
                description: The time grain. Metrics will be available for this time
                  grain.
                type: string
              retention:
                description: the retention. Metrics may be queried for this interval.
                type: string
          x-ms-identifiers: []
    MetricDefinitionList:
      description: List of metric definitions.
      properties:
        value:
          description: Array of metric definitions.
          type: array
          items:
            description: Metric Definition
            type: object
            properties:
              name:
                description: Metric definition name.
                type: string
              unit:
                description: Unit of metrics.
                type: string
                enum:
                - Count
                - Bytes
                - Seconds
                - CountPerSecond
                - BytesPerSecond
                x-ms-enum:
                  name: MetricUnit
                  modelAsString: true
                  values:
                  - description: The count.
                    name: Count
                    value: Count
                  - description: The bytes.
                    name: Bytes
                    value: Bytes
                  - description: The seconds.
                    name: Seconds
                    value: Seconds
                  - description: The count per second.
                    name: CountPerSecond
                    value: CountPerSecond
                  - description: The bytes per second.
                    name: BytesPerSecond
                    value: BytesPerSecond
              primaryAggregationType:
                description: Type of the primary aggregation.
                type: string
                enum:
                - None
                - Average
                - Total
                - Minimum
                - Maximum
                - Last
                x-ms-enum:
                  name: MetricPrimaryAggregationType
                  modelAsString: true
                  values:
                  - description: No aggregation applied to resource.
                    name: None
                    value: None
                  - description: The average aggregation type.
                    name: Average
                    value: Average
                  - description: The total aggregation type.
                    name: Total
                    value: Total
                  - description: The minimum aggregation type.
                    name: Minimum
                    value: Minimum
                  - description: The maximum aggregation type.
                    name: Maximum
                    value: Maximum
                  - description: The last aggregation type.
                    name: Last
                    value: Last
              metricAvailabilities:
                description: Metric availabilities.
                type: array
                items:
                  description: Metric Definition
                  type: object
                  properties:
                    timeGrain:
                      description: The time grain. Metrics will be available for this
                        time grain.
                      type: string
                    retention:
                      description: the retention. Metrics may be queried for this
                        interval.
                      type: string
                x-ms-identifiers: []
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          description: Continuation token
