openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas:
    get:
      tags:
      - Quotas
      description: Get the list of quotas at a location.
      operationId: Quotas_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The AzureStack location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of quotas.
                properties:
                  value:
                    description: List of quotas.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of resource.
                          type: string
                        location:
                          description: Location of the resource
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Quotas for DelegatedProviders.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            allowCustomPortalBranding:
                              description: Value indicating whether custom portal
                                branding is allowed.
                              type: boolean
                      description: Base Resource Object
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    description: URI to next page.
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas/{quota}:
    get:
      description: Gets a quota by name.
      tags:
      - Quotas
      operationId: Quotas_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The AzureStack location.
        name: location
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: quota
        in: path
        description: Name of the quota.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of resource.
                    type: string
                  location:
                    description: Location of the resource
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Quotas for DelegatedProviders.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      allowCustomPortalBranding:
                        description: Value indicating whether custom portal branding
                          is allowed.
                        type: boolean
                description: Base Resource Object
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    QuotaParameter:
      name: quota
      in: path
      description: Name of the quota.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    LocationParameter:
      description: The AzureStack location.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Quota:
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Quotas for DelegatedProviders.
          x-ms-client-flatten: true
          type: object
          properties:
            allowCustomPortalBranding:
              description: Value indicating whether custom portal branding is allowed.
              type: boolean
      description: Base Resource Object
      x-ms-azure-resource: true
    QuotaProperties:
      description: Quotas for DelegatedProviders.
      type: object
      properties:
        allowCustomPortalBranding:
          description: Value indicating whether custom portal branding is allowed.
          type: boolean
    QuotaList:
      description: List of quotas.
      properties:
        value:
          description: List of quotas.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: URI of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of resource.
                type: string
              location:
                description: Location of the resource
                type: string
              tags:
                readOnly: true
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Quotas for DelegatedProviders.
                x-ms-client-flatten: true
                type: object
                properties:
                  allowCustomPortalBranding:
                    description: Value indicating whether custom portal branding is
                      allowed.
                    type: boolean
            description: Base Resource Object
            x-ms-azure-resource: true
        nextLink:
          type: string
          description: URI to next page.
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            type: object
            description: Error definition.
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  type: object
                  description: Error definition.
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      type: object
                      description: Error definition.
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
