openapi: 3.0.0
info:
  version: 2015-11-01
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Subscriptions.Admin/operations:
    get:
      description: Get the list of Operations.
      tags:
      - Operations
      operationId: Operations_List
      parameters:
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of supported operations.
                type: object
                properties:
                  value:
                    description: List of supported operations.
                    type: array
                    items:
                      description: Supported REST operation.
                      type: object
                      properties:
                        display:
                          description: Display information for the operation.
                          readOnly: true
                          properties:
                            provider:
                              description: "The localized friendly form of the resource\
                                \ provider name \u2013 it is expected to also include\
                                \ the publisher/company responsible. It should use\
                                \ Title Casing and begin with \"Microsoft\" for 1st\
                                \ party services. e.g. \"Microsoft Monitoring Insights\"\
                                \ or \"Microsoft Compute.\""
                              type: string
                              readOnly: true
                            resource:
                              description: The localized, friendly version of the
                                resource type related to this action or operation;
                                the resource type should match the public documentation
                                for the resource provider.
                              type: string
                              readOnly: true
                            operation:
                              description: The localized, friendly name for the operation.
                                Use the name as it will displayed to the user.
                              type: string
                              readOnly: true
                            description:
                              description: The localized, friendly description for
                                the operation. The description will be displayed to
                                the user. It should be thorough and concise for used
                                in both tooltips and detailed views.
                              type: string
                              readOnly: true
                        isDataAction:
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          type: boolean
                          readOnly: true
                        name:
                          description: Name of the operation being performed on an
                            object.
                          type: string
                          readOnly: true
                        origin:
                          description: Origin for the operation.
                          type: string
                          readOnly: true
                    x-ms-identifiers:
                    - name
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/updateEncryption:
    post:
      description: Update the encryption settings.
      tags:
      - Subscriptions
      operationId: Subscriptions_UpdateEncryption
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/restoreData:
    post:
      description: Restores the data
      tags:
      - Subscriptions
      operationId: Subscriptions_RestoreData
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of subscriptions.
                properties:
                  value:
                    type: array
                    description: Subscription definition.
                    items:
                      description: Subscription object properties.
                      type: object
                      properties:
                        delegatedProviderSubscriptionId:
                          description: Parent DelegatedProvider subscription identifier.
                          type: string
                        displayName:
                          description: Subscription name.
                          type: string
                        id:
                          description: Fully qualified identifier.
                          type: string
                        externalReferenceId:
                          description: External reference identifier.
                          type: string
                        offerId:
                          description: Identifier of the offer under the scope of
                            a delegated provider.
                          type: string
                        owner:
                          description: Subscription owner.
                          type: string
                        routingResourceManagerType:
                          description: Routing resource manager type.
                          type: string
                          enum:
                          - Default
                          - Admin
                          x-ms-enum:
                            name: ResourceManagerType
                            modelAsString: true
                        state:
                          description: Subscription state.
                          type: string
                          enum:
                          - NotDefined
                          - Enabled
                          - Warned
                          - PastDue
                          - Disabled
                          - Deleted
                          - Deleting
                          - PartiallyDeleted
                          x-ms-enum:
                            name: SubscriptionState
                            modelAsString: true
                            values:
                            - description: Subscription is active. New resources can
                                be created.
                              name: Enabled
                              value: Enabled
                            - description: This state is not used in Azure Stack.
                              name: PastDue
                              value: PastDue
                            - description: This state is not used in Azure Stack.
                              name: Warned
                              value: Warned
                            - description: "Subscription is not active and usage is\
                                \ not reported. Resources are shut down (VMs stopped\
                                \ and deallocated, IP addresses are freed, etc). During\
                                \ this period, the Azure Stack Operator can re-enable\
                                \ the subscription which allows creation of new resources\
                                \ but doesn\u2019t automatically restore disabled\
                                \ resources."
                              name: Disabled
                              value: Disabled
                            - description: This state is unique to Azure Stack and
                                is only visible to the Azure Stack Operator, and if
                                used, to the respective Delegated Provider. Resources
                                and Data are being deleted before subscription state
                                is set to Deleted. This state cannot be reversed.
                                It means that deletion is in progress.
                              name: Deleting
                              value: Deleting
                            - description: Final state of subscription. All resources
                                and data are deleted. This state cannot be reversed.
                              name: Deleted
                              value: Deleted
                            - description: This state is not used in Azure Stack.
                              name: NotDefined
                              value: NotDefined
                            - description: "This state is unique to Azure Stack and\
                                \ is only visible to the Azure Stack Operator, and\
                                \ if used, to the respective Delegated Provider. It\
                                \ means that deletion failed.  You can\u2019t reverse\
                                \ the deletion process, so in this state all you can\
                                \ do is restart deletion.  This state is not reported\
                                \ to RPs."
                              name: PartiallyDeleted
                              value: PartiallyDeleted
                        subscriptionId:
                          description: Subscription identifier.
                          type: string
                        tenantId:
                          description: Directory tenant identifier.
                          type: string
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/checkIdentityHealth:
    post:
      description: Checks the identity health
      tags:
      - Subscriptions
      operationId: Subscriptions_CheckIdentityHealth
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The identity health check report action definition.
                type: object
                properties:
                  reportStartTimeUtc:
                    description: Start time of the report.
                    type: string
                    format: date-time
                  reportEndTimeUtc:
                    description: End time of the report.
                    type: string
                    format: date-time
                  status:
                    description: The roll-up health status for the directory.
                    type: string
                    enum:
                    - Unknown
                    - Unhealthy
                    - Healthy
                    x-ms-enum:
                      name: HealthStatus
                      modelAsString: true
                      values:
                      - description: The health status is unknown.
                        name: Unknown
                        value: Unknown
                      - description: The health status is unhealthy, indicating something
                          is wrong or a sub-health status is Unhealthy or Unknown.
                        name: Unhealthy
                        value: Unhealthy
                      - description: The health status is healthy, indicating nothing
                          is wrong.
                        name: Healthy
                        value: Healthy
                  directoryTenants:
                    description: List of directory tenant health reports.
                    properties:
                      value:
                        type: array
                        description: Directory tenant health report.
                        items:
                          description: A report of the health status of a directory
                            tenant and identity applications within.
                          type: object
                          properties:
                            tenantId:
                              description: The tenant unique identifier.
                              type: string
                            tenantName:
                              description: The directory tenant resource name.
                              type: string
                            status:
                              description: The roll-up health status for the directory.
                              type: string
                              enum:
                              - Unknown
                              - Unhealthy
                              - Healthy
                              x-ms-enum:
                                name: HealthStatus
                                modelAsString: true
                                values:
                                - description: The health status is unknown.
                                  name: Unknown
                                  value: Unknown
                                - description: The health status is unhealthy, indicating
                                    something is wrong or a sub-health status is Unhealthy
                                    or Unknown.
                                  name: Unhealthy
                                  value: Unhealthy
                                - description: The health status is healthy, indicating
                                    nothing is wrong.
                                  name: Healthy
                                  value: Healthy
                            applications:
                              description: List of the application health reports.
                              properties:
                                value:
                                  type: array
                                  description: A report of the health status of an
                                    identity applications.
                                  items:
                                    description: A report of the health status of
                                      an identity applications.
                                    type: object
                                    properties:
                                      appId:
                                        description: The application identifier.
                                        type: string
                                      servicePrincipalObjectId:
                                        description: The service principal identifier.
                                        type: string
                                      status:
                                        description: The roll-up health status for
                                          the application
                                        type: string
                                        enum:
                                        - Unknown
                                        - Unhealthy
                                        - Healthy
                                        x-ms-enum:
                                          name: HealthStatus
                                          modelAsString: true
                                          values:
                                          - description: The health status is unknown.
                                            name: Unknown
                                            value: Unknown
                                          - description: The health status is unhealthy,
                                              indicating something is wrong or a sub-health
                                              status is Unhealthy or Unknown.
                                            name: Unhealthy
                                            value: Unhealthy
                                          - description: The health status is healthy,
                                              indicating nothing is wrong.
                                            name: Healthy
                                            value: Healthy
                                      appRoleAssignments:
                                        description: List of AppRoleAssignment health
                                          reports for the application.
                                        properties:
                                          value:
                                            type: array
                                            description: A report of the health status
                                              of an AppRoleAssignment.
                                            items:
                                              description: A report of the health
                                                status of an AppRoleAssignment.
                                              type: object
                                              properties:
                                                appRoleAssignment:
                                                  description: The permission description.
                                                  type: object
                                                  properties:
                                                    resource:
                                                      description: The resource identifier.
                                                        This should be the application
                                                        identifier of the resource
                                                        application.
                                                      type: string
                                                    client:
                                                      description: The client identifier.
                                                        This should be the application
                                                        identifier of the client application.
                                                      type: string
                                                    roleId:
                                                      description: The role identifier.
                                                        This should be the ID of the
                                                        AppRole exposed by the resource
                                                        application.
                                                      type: string
                                                status:
                                                  description: The health status for
                                                    the permission.
                                                  type: string
                                                  enum:
                                                  - Unknown
                                                  - Unhealthy
                                                  - Healthy
                                                  x-ms-enum:
                                                    name: HealthStatus
                                                    modelAsString: true
                                                    values:
                                                    - description: The health status
                                                        is unknown.
                                                      name: Unknown
                                                      value: Unknown
                                                    - description: The health status
                                                        is unhealthy, indicating something
                                                        is wrong or a sub-health status
                                                        is Unhealthy or Unknown.
                                                      name: Unhealthy
                                                      value: Unhealthy
                                                    - description: The health status
                                                        is healthy, indicating nothing
                                                        is wrong.
                                                      name: Healthy
                                                      value: Healthy
                                            x-ms-identifiers:
                                            - appRoleAssignment/resource
                                          nextLink:
                                            description: URI to the next page.
                                            type: string
                                      oAuth2PermissionGrants:
                                        description: List of OAuth2PermissionGrant
                                          health reports for the application.
                                        properties:
                                          value:
                                            type: array
                                            description: A report of the health status
                                              of an OAuth2PermissionGrant.
                                            items:
                                              description: A report of the health
                                                status of an OAuth2PermissionGrant.
                                              type: object
                                              properties:
                                                oAuth2PermissionGrant:
                                                  description: The permission description.
                                                  type: object
                                                  properties:
                                                    resource:
                                                      description: The resource identifier.
                                                        This should be the application
                                                        identifier of the resource
                                                        application.
                                                      type: string
                                                    client:
                                                      description: The client identifier.
                                                        This should be the application
                                                        identifier of the client application.
                                                      type: string
                                                    scope:
                                                      description: The scope identifier.
                                                        This should be the scope value
                                                        of the OAUTH2PERMISSION exposed
                                                        by the resource application.
                                                      type: string
                                                status:
                                                  description: The health status for
                                                    the permission.
                                                  type: string
                                                  enum:
                                                  - Unknown
                                                  - Unhealthy
                                                  - Healthy
                                                  x-ms-enum:
                                                    name: HealthStatus
                                                    modelAsString: true
                                                    values:
                                                    - description: The health status
                                                        is unknown.
                                                      name: Unknown
                                                      value: Unknown
                                                    - description: The health status
                                                        is unhealthy, indicating something
                                                        is wrong or a sub-health status
                                                        is Unhealthy or Unknown.
                                                      name: Unhealthy
                                                      value: Unhealthy
                                                    - description: The health status
                                                        is healthy, indicating nothing
                                                        is wrong.
                                                      name: Healthy
                                                      value: Healthy
                                            x-ms-identifiers:
                                            - oAuth2PermissionGrant/resource
                                          nextLink:
                                            description: URI to the next page.
                                            type: string
                                      servicePrincipalTags:
                                        description: List of ServicePrincipalTag health
                                          reports for the application.
                                        properties:
                                          value:
                                            type: array
                                            description: A report of the health status
                                              of a tag on an identity application
                                              service principal.
                                            items:
                                              description: A report of the health
                                                status of a tag on an identity application
                                                service principal.
                                              type: object
                                              properties:
                                                servicePrincipalTag:
                                                  description: The tag.
                                                  type: string
                                                status:
                                                  description: The health status for
                                                    the tag.
                                                  type: string
                                                  enum:
                                                  - Unknown
                                                  - Unhealthy
                                                  - Healthy
                                                  x-ms-enum:
                                                    name: HealthStatus
                                                    modelAsString: true
                                                    values:
                                                    - description: The health status
                                                        is unknown.
                                                      name: Unknown
                                                      value: Unknown
                                                    - description: The health status
                                                        is unhealthy, indicating something
                                                        is wrong or a sub-health status
                                                        is Unhealthy or Unknown.
                                                      name: Unhealthy
                                                      value: Unhealthy
                                                    - description: The health status
                                                        is healthy, indicating nothing
                                                        is wrong.
                                                      name: Healthy
                                                      value: Healthy
                                            x-ms-identifiers:
                                            - servicePrincipalTag
                                          nextLink:
                                            description: URI to the next page.
                                            type: string
                                  x-ms-identifiers: []
                                nextLink:
                                  description: URI to the next page.
                                  type: string
                        x-ms-identifiers:
                        - tenantId
                      nextLink:
                        description: URI to the next page.
                        type: string
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/moveSubscriptions:
    post:
      description: Move subscriptions between delegated provider offers.
      tags:
      - Subscriptions
      operationId: Subscriptions_MoveSubscriptions
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: The move subscriptions action definition
              type: object
              required:
              - resources
              properties:
                targetDelegatedProviderOffer:
                  description: The delegated provider offer identifier (from the Admin
                    context) that the subscriptions to be moved to.
                  type: string
                resources:
                  description: A collection of subscriptions to move to the target
                    delegated provider offer.
                  type: array
                  items:
                    type: string
        description: Move subscriptions parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        '202':
          description: Accepted -- Move subscriptions request accepted; operation
            will complete asynchronously.
        '204':
          description: No Content -- The subscriptions were successfully moved to
            the target delegated provider offer.
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/validateMoveSubscriptions:
    post:
      description: Validate that user subscriptions can be moved between delegated
        provider offers.
      tags:
      - Subscriptions
      operationId: Subscriptions_ValidateMoveSubscriptions
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: The move subscriptions action definition
              type: object
              required:
              - resources
              properties:
                targetDelegatedProviderOffer:
                  description: The delegated provider offer identifier (from the Admin
                    context) that the subscriptions to be moved to.
                  type: string
                resources:
                  description: A collection of subscriptions to move to the target
                    delegated provider offer.
                  type: array
                  items:
                    type: string
        description: Move subscriptions parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        '202':
          description: Accepted -- Validate move subscriptions request accepted; operation
            will complete asynchronously.
        '204':
          description: No Content -- The subscriptions can be moved to the target
            delegated provider offer.
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions:
    get:
      description: Get the list of subscriptions.
      tags:
      - Subscriptions
      operationId: Subscriptions_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      - description: OData filter parameter.
        name: $filter
        in: query
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of subscriptions.
                properties:
                  value:
                    type: array
                    description: Subscription definition.
                    items:
                      description: Subscription object properties.
                      type: object
                      properties:
                        delegatedProviderSubscriptionId:
                          description: Parent DelegatedProvider subscription identifier.
                          type: string
                        displayName:
                          description: Subscription name.
                          type: string
                        id:
                          description: Fully qualified identifier.
                          type: string
                        externalReferenceId:
                          description: External reference identifier.
                          type: string
                        offerId:
                          description: Identifier of the offer under the scope of
                            a delegated provider.
                          type: string
                        owner:
                          description: Subscription owner.
                          type: string
                        routingResourceManagerType:
                          description: Routing resource manager type.
                          type: string
                          enum:
                          - Default
                          - Admin
                          x-ms-enum:
                            name: ResourceManagerType
                            modelAsString: true
                        state:
                          description: Subscription state.
                          type: string
                          enum:
                          - NotDefined
                          - Enabled
                          - Warned
                          - PastDue
                          - Disabled
                          - Deleted
                          - Deleting
                          - PartiallyDeleted
                          x-ms-enum:
                            name: SubscriptionState
                            modelAsString: true
                            values:
                            - description: Subscription is active. New resources can
                                be created.
                              name: Enabled
                              value: Enabled
                            - description: This state is not used in Azure Stack.
                              name: PastDue
                              value: PastDue
                            - description: This state is not used in Azure Stack.
                              name: Warned
                              value: Warned
                            - description: "Subscription is not active and usage is\
                                \ not reported. Resources are shut down (VMs stopped\
                                \ and deallocated, IP addresses are freed, etc). During\
                                \ this period, the Azure Stack Operator can re-enable\
                                \ the subscription which allows creation of new resources\
                                \ but doesn\u2019t automatically restore disabled\
                                \ resources."
                              name: Disabled
                              value: Disabled
                            - description: This state is unique to Azure Stack and
                                is only visible to the Azure Stack Operator, and if
                                used, to the respective Delegated Provider. Resources
                                and Data are being deleted before subscription state
                                is set to Deleted. This state cannot be reversed.
                                It means that deletion is in progress.
                              name: Deleting
                              value: Deleting
                            - description: Final state of subscription. All resources
                                and data are deleted. This state cannot be reversed.
                              name: Deleted
                              value: Deleted
                            - description: This state is not used in Azure Stack.
                              name: NotDefined
                              value: NotDefined
                            - description: "This state is unique to Azure Stack and\
                                \ is only visible to the Azure Stack Operator, and\
                                \ if used, to the respective Delegated Provider. It\
                                \ means that deletion failed.  You can\u2019t reverse\
                                \ the deletion process, so in this state all you can\
                                \ do is restart deletion.  This state is not reported\
                                \ to RPs."
                              name: PartiallyDeleted
                              value: PartiallyDeleted
                        subscriptionId:
                          description: Subscription identifier.
                          type: string
                        tenantId:
                          description: Directory tenant identifier.
                          type: string
                      x-ms-azure-resource: true
                  nextLink:
                    description: URI to the next page.
                    type: string
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
      x-ms-pageable: {}
      x-ms-odata: '#/components/schemas/SubscriptionDefinition'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/checkNameAvailability:
    post:
      description: Get the list of subscriptions.
      tags:
      - Subscriptions
      operationId: Subscriptions_CheckNameAvailability
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: The check name availability action definition.
              type: object
              properties:
                name:
                  description: The resource name to verify.
                  type: string
                resourceType:
                  description: The resource type to verify.
                  type: string
        description: Check name availability parameter
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: The check name availability response definition
                type: object
                properties:
                  nameAvailable:
                    description: A value indicating whether the name is available.
                    type: boolean
                  reason:
                    description: The reason for the unavailability of the name.
                    type: string
                    enum:
                    - Invalid
                    - AlreadyExists
                    x-ms-enum:
                      name: NameUnavailabilityReason
                      modelAsString: true
                  message:
                    description: The message explaining the reason.
                    type: string
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}:
    get:
      description: Get a specified subscription.
      tags:
      - Subscriptions
      operationId: Subscriptions_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The target subscription ID.
        name: targetSubscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Subscription object properties.
                type: object
                properties:
                  delegatedProviderSubscriptionId:
                    description: Parent DelegatedProvider subscription identifier.
                    type: string
                  displayName:
                    description: Subscription name.
                    type: string
                  id:
                    description: Fully qualified identifier.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  offerId:
                    description: Identifier of the offer under the scope of a delegated
                      provider.
                    type: string
                  owner:
                    description: Subscription owner.
                    type: string
                  routingResourceManagerType:
                    description: Routing resource manager type.
                    type: string
                    enum:
                    - Default
                    - Admin
                    x-ms-enum:
                      name: ResourceManagerType
                      modelAsString: true
                  state:
                    description: Subscription state.
                    type: string
                    enum:
                    - NotDefined
                    - Enabled
                    - Warned
                    - PastDue
                    - Disabled
                    - Deleted
                    - Deleting
                    - PartiallyDeleted
                    x-ms-enum:
                      name: SubscriptionState
                      modelAsString: true
                      values:
                      - description: Subscription is active. New resources can be
                          created.
                        name: Enabled
                        value: Enabled
                      - description: This state is not used in Azure Stack.
                        name: PastDue
                        value: PastDue
                      - description: This state is not used in Azure Stack.
                        name: Warned
                        value: Warned
                      - description: "Subscription is not active and usage is not\
                          \ reported. Resources are shut down (VMs stopped and deallocated,\
                          \ IP addresses are freed, etc). During this period, the\
                          \ Azure Stack Operator can re-enable the subscription which\
                          \ allows creation of new resources but doesn\u2019t automatically\
                          \ restore disabled resources."
                        name: Disabled
                        value: Disabled
                      - description: This state is unique to Azure Stack and is only
                          visible to the Azure Stack Operator, and if used, to the
                          respective Delegated Provider. Resources and Data are being
                          deleted before subscription state is set to Deleted. This
                          state cannot be reversed. It means that deletion is in progress.
                        name: Deleting
                        value: Deleting
                      - description: Final state of subscription. All resources and
                          data are deleted. This state cannot be reversed.
                        name: Deleted
                        value: Deleted
                      - description: This state is not used in Azure Stack.
                        name: NotDefined
                        value: NotDefined
                      - description: "This state is unique to Azure Stack and is only\
                          \ visible to the Azure Stack Operator, and if used, to the\
                          \ respective Delegated Provider. It means that deletion\
                          \ failed.  You can\u2019t reverse the deletion process,\
                          \ so in this state all you can do is restart deletion. \
                          \ This state is not reported to RPs."
                        name: PartiallyDeleted
                        value: PartiallyDeleted
                  subscriptionId:
                    description: Subscription identifier.
                    type: string
                  tenantId:
                    description: Directory tenant identifier.
                    type: string
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    put:
      description: Creates or updates the specified subscription.
      tags:
      - Subscriptions
      operationId: Subscriptions_CreateOrUpdate
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The target subscription ID.
        name: targetSubscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      requestBody:
        content:
          application/json:
            schema:
              description: Subscription object properties.
              type: object
              properties:
                delegatedProviderSubscriptionId:
                  description: Parent DelegatedProvider subscription identifier.
                  type: string
                displayName:
                  description: Subscription name.
                  type: string
                id:
                  description: Fully qualified identifier.
                  type: string
                externalReferenceId:
                  description: External reference identifier.
                  type: string
                offerId:
                  description: Identifier of the offer under the scope of a delegated
                    provider.
                  type: string
                owner:
                  description: Subscription owner.
                  type: string
                routingResourceManagerType:
                  description: Routing resource manager type.
                  type: string
                  enum:
                  - Default
                  - Admin
                  x-ms-enum:
                    name: ResourceManagerType
                    modelAsString: true
                state:
                  description: Subscription state.
                  type: string
                  enum:
                  - NotDefined
                  - Enabled
                  - Warned
                  - PastDue
                  - Disabled
                  - Deleted
                  - Deleting
                  - PartiallyDeleted
                  x-ms-enum:
                    name: SubscriptionState
                    modelAsString: true
                    values:
                    - description: Subscription is active. New resources can be created.
                      name: Enabled
                      value: Enabled
                    - description: This state is not used in Azure Stack.
                      name: PastDue
                      value: PastDue
                    - description: This state is not used in Azure Stack.
                      name: Warned
                      value: Warned
                    - description: "Subscription is not active and usage is not reported.\
                        \ Resources are shut down (VMs stopped and deallocated, IP\
                        \ addresses are freed, etc). During this period, the Azure\
                        \ Stack Operator can re-enable the subscription which allows\
                        \ creation of new resources but doesn\u2019t automatically\
                        \ restore disabled resources."
                      name: Disabled
                      value: Disabled
                    - description: This state is unique to Azure Stack and is only
                        visible to the Azure Stack Operator, and if used, to the respective
                        Delegated Provider. Resources and Data are being deleted before
                        subscription state is set to Deleted. This state cannot be
                        reversed. It means that deletion is in progress.
                      name: Deleting
                      value: Deleting
                    - description: Final state of subscription. All resources and
                        data are deleted. This state cannot be reversed.
                      name: Deleted
                      value: Deleted
                    - description: This state is not used in Azure Stack.
                      name: NotDefined
                      value: NotDefined
                    - description: "This state is unique to Azure Stack and is only\
                        \ visible to the Azure Stack Operator, and if used, to the\
                        \ respective Delegated Provider. It means that deletion failed.\
                        \  You can\u2019t reverse the deletion process, so in this\
                        \ state all you can do is restart deletion.  This state is\
                        \ not reported to RPs."
                      name: PartiallyDeleted
                      value: PartiallyDeleted
                subscriptionId:
                  description: Subscription identifier.
                  type: string
                tenantId:
                  description: Directory tenant identifier.
                  type: string
              x-ms-azure-resource: true
        description: Subscription parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Subscription object properties.
                type: object
                properties:
                  delegatedProviderSubscriptionId:
                    description: Parent DelegatedProvider subscription identifier.
                    type: string
                  displayName:
                    description: Subscription name.
                    type: string
                  id:
                    description: Fully qualified identifier.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  offerId:
                    description: Identifier of the offer under the scope of a delegated
                      provider.
                    type: string
                  owner:
                    description: Subscription owner.
                    type: string
                  routingResourceManagerType:
                    description: Routing resource manager type.
                    type: string
                    enum:
                    - Default
                    - Admin
                    x-ms-enum:
                      name: ResourceManagerType
                      modelAsString: true
                  state:
                    description: Subscription state.
                    type: string
                    enum:
                    - NotDefined
                    - Enabled
                    - Warned
                    - PastDue
                    - Disabled
                    - Deleted
                    - Deleting
                    - PartiallyDeleted
                    x-ms-enum:
                      name: SubscriptionState
                      modelAsString: true
                      values:
                      - description: Subscription is active. New resources can be
                          created.
                        name: Enabled
                        value: Enabled
                      - description: This state is not used in Azure Stack.
                        name: PastDue
                        value: PastDue
                      - description: This state is not used in Azure Stack.
                        name: Warned
                        value: Warned
                      - description: "Subscription is not active and usage is not\
                          \ reported. Resources are shut down (VMs stopped and deallocated,\
                          \ IP addresses are freed, etc). During this period, the\
                          \ Azure Stack Operator can re-enable the subscription which\
                          \ allows creation of new resources but doesn\u2019t automatically\
                          \ restore disabled resources."
                        name: Disabled
                        value: Disabled
                      - description: This state is unique to Azure Stack and is only
                          visible to the Azure Stack Operator, and if used, to the
                          respective Delegated Provider. Resources and Data are being
                          deleted before subscription state is set to Deleted. This
                          state cannot be reversed. It means that deletion is in progress.
                        name: Deleting
                        value: Deleting
                      - description: Final state of subscription. All resources and
                          data are deleted. This state cannot be reversed.
                        name: Deleted
                        value: Deleted
                      - description: This state is not used in Azure Stack.
                        name: NotDefined
                        value: NotDefined
                      - description: "This state is unique to Azure Stack and is only\
                          \ visible to the Azure Stack Operator, and if used, to the\
                          \ respective Delegated Provider. It means that deletion\
                          \ failed.  You can\u2019t reverse the deletion process,\
                          \ so in this state all you can do is restart deletion. \
                          \ This state is not reported to RPs."
                        name: PartiallyDeleted
                        value: PartiallyDeleted
                  subscriptionId:
                    description: Subscription identifier.
                    type: string
                  tenantId:
                    description: Directory tenant identifier.
                    type: string
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: Subscription object properties.
                type: object
                properties:
                  delegatedProviderSubscriptionId:
                    description: Parent DelegatedProvider subscription identifier.
                    type: string
                  displayName:
                    description: Subscription name.
                    type: string
                  id:
                    description: Fully qualified identifier.
                    type: string
                  externalReferenceId:
                    description: External reference identifier.
                    type: string
                  offerId:
                    description: Identifier of the offer under the scope of a delegated
                      provider.
                    type: string
                  owner:
                    description: Subscription owner.
                    type: string
                  routingResourceManagerType:
                    description: Routing resource manager type.
                    type: string
                    enum:
                    - Default
                    - Admin
                    x-ms-enum:
                      name: ResourceManagerType
                      modelAsString: true
                  state:
                    description: Subscription state.
                    type: string
                    enum:
                    - NotDefined
                    - Enabled
                    - Warned
                    - PastDue
                    - Disabled
                    - Deleted
                    - Deleting
                    - PartiallyDeleted
                    x-ms-enum:
                      name: SubscriptionState
                      modelAsString: true
                      values:
                      - description: Subscription is active. New resources can be
                          created.
                        name: Enabled
                        value: Enabled
                      - description: This state is not used in Azure Stack.
                        name: PastDue
                        value: PastDue
                      - description: This state is not used in Azure Stack.
                        name: Warned
                        value: Warned
                      - description: "Subscription is not active and usage is not\
                          \ reported. Resources are shut down (VMs stopped and deallocated,\
                          \ IP addresses are freed, etc). During this period, the\
                          \ Azure Stack Operator can re-enable the subscription which\
                          \ allows creation of new resources but doesn\u2019t automatically\
                          \ restore disabled resources."
                        name: Disabled
                        value: Disabled
                      - description: This state is unique to Azure Stack and is only
                          visible to the Azure Stack Operator, and if used, to the
                          respective Delegated Provider. Resources and Data are being
                          deleted before subscription state is set to Deleted. This
                          state cannot be reversed. It means that deletion is in progress.
                        name: Deleting
                        value: Deleting
                      - description: Final state of subscription. All resources and
                          data are deleted. This state cannot be reversed.
                        name: Deleted
                        value: Deleted
                      - description: This state is not used in Azure Stack.
                        name: NotDefined
                        value: NotDefined
                      - description: "This state is unique to Azure Stack and is only\
                          \ visible to the Azure Stack Operator, and if used, to the\
                          \ respective Delegated Provider. It means that deletion\
                          \ failed.  You can\u2019t reverse the deletion process,\
                          \ so in this state all you can do is restart deletion. \
                          \ This state is not reported to RPs."
                        name: PartiallyDeleted
                        value: PartiallyDeleted
                  subscriptionId:
                    description: Subscription identifier.
                    type: string
                  tenantId:
                    description: Directory tenant identifier.
                    type: string
                x-ms-azure-resource: true
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
    delete:
      description: Delete the specified subscription.
      tags:
      - Subscriptions
      operationId: Subscriptions_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - description: The target subscription ID.
        name: targetSubscriptionId
        in: path
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
          default: 2015-11-01
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                type: object
                description: Error response.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          type: object
                          description: Error definition.
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                type: object
                                description: Error definition.
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
        default: 2015-11-01
    ResourceGroupParameter:
      description: The resource group the resource is located under.
      name: resourceGroupName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OperationsStatusParameter:
      description: The operation status name.
      name: operationsStatusName
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      description: The AzureStack location.
      name: location
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    TargetSubscriptionIdParameter:
      description: The target subscription ID.
      name: targetSubscriptionId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OfferParameter:
      description: Name of an offer.
      name: offer
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PlanParameter:
      description: Name of the plan.
      name: plan
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    DelegatedProviderParameter:
      description: DelegatedProvider identifier.
      name: delegatedProvider
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    DelegatedProviderSubscriptionIdParameter:
      description: Delegated provider subscription identifier.
      name: delegatedProviderSubscriptionId
      in: path
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    FilterParameter:
      description: OData filter parameter.
      name: $filter
      in: query
      x-ms-parameter-location: method
      schema:
        type: string
  requestBodies:
    Subscriptions_MoveSubscriptionsMovesubscriptionsdefinition:
      content:
        application/json:
          schema:
            description: The move subscriptions action definition
            type: object
            required:
            - resources
            properties:
              targetDelegatedProviderOffer:
                description: The delegated provider offer identifier (from the Admin
                  context) that the subscriptions to be moved to.
                type: string
              resources:
                description: A collection of subscriptions to move to the target delegated
                  provider offer.
                type: array
                items:
                  type: string
      description: Move subscriptions parameter.
      required: true
      x-ms-parameter-location: method
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                type: object
                description: Error definition.
                properties:
                  code:
[...]
