openapi: 3.0.0
info:
  version: 2024-01-01
  title: AzureStackHCI
  description: Azure Stack HCI management service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings
  : get:
      operationId: ArcSettings_ListByCluster
      description: Get ArcSetting resources of HCI Cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of ArcSetting proxy resources for the HCI cluster.
                type: object
                properties:
                  value:
                    description: List of ArcSetting proxy resources.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: ArcSetting properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state of the ArcSetting proxy
                                resource.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Failed
                              - Canceled
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              - DisableInProgress
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                            arcInstanceResourceGroup:
                              description: The resource group that hosts the Arc agents,
                                ie. Hybrid Compute Machine resources.
                              type: string
                            arcApplicationClientId:
                              description: App id of arc AAD identity.
                              type: string
                            arcApplicationTenantId:
                              description: Tenant id of arc AAD identity.
                              type: string
                            arcServicePrincipalObjectId:
                              description: Object id of arc AAD service principal.
                              type: string
                            arcApplicationObjectId:
                              description: Object id of arc AAD identity.
                              type: string
                            aggregateState:
                              description: Aggregate state of Arc agent across the
                                nodes in this HCI cluster.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              - DisableInProgress
                              x-ms-enum:
                                name: ArcSettingAggregateState
                                modelAsString: true
                              readOnly: true
                            perNodeDetails:
                              description: State of Arc agent in each of the nodes.
                              type: array
                              items:
                                description: Status of Arc agent for a particular
                                  node in HCI Cluster.
                                type: object
                                properties:
                                  name:
                                    type: string
                                    readOnly: true
                                    description: Name of the Node in HCI Cluster
                                  arcInstance:
                                    description: Fully qualified resource ID for the
                                      Arc agent of this node.
                                    type: string
                                    readOnly: true
                                  arcNodeServicePrincipalObjectId:
                                    description: The service principal id of the arc
                                      for server node
                                    type: string
                                    readOnly: true
                                  state:
                                    description: State of Arc agent in this node.
                                    type: string
                                    enum:
                                    - NotSpecified
                                    - Error
                                    - Succeeded
                                    - Canceled
                                    - Failed
                                    - Connected
                                    - Disconnected
                                    - Deleted
                                    - Creating
                                    - Updating
                                    - Deleting
                                    - Moving
                                    - PartiallySucceeded
                                    - PartiallyConnected
                                    - InProgress
                                    - Accepted
                                    - Provisioning
                                    - DisableInProgress
                                    x-ms-enum:
                                      name: NodeArcState
                                      modelAsString: true
                                    readOnly: true
                              readOnly: true
                            connectivityProperties:
                              description: contains connectivity related configuration
                                for ARC resources
                              type: object
                              items:
                                description: Connectivity related configuration required
                                  by arc server.
                                type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: True indicates ARC connectivity is
                                      enabled
                                  serviceConfigurations:
                                    type: array
                                    description: Service configurations associated
                                      with the connectivity resource. They are only
                                      processed by the server if 'enabled' property
                                      is set to 'true'.
                                    items:
                                      type: object
                                      description: Service configuration details
                                      required:
                                      - serviceName
                                      - port
                                      properties:
                                        serviceName:
                                          type: string
                                          description: Name of the service.
                                          enum:
                                          - WAC
                                          x-ms-enum:
                                            name: serviceName
                                            modelAsString: true
                                        port:
                                          type: integer
                                          format: int64
                                          description: The port on which service is
                                            enabled.
                                    x-ms-identifiers:
                                    - serviceName
                                additionalProperties: false
                            defaultExtensions:
                              description: Properties for each of the default extensions
                                category
                              type: array
                              items:
                                description: Properties for a particular default extension
                                  category.
                                type: object
                                properties:
                                  category:
                                    description: Default extension category
                                    type: string
                                    readOnly: true
                                  consentTime:
                                    description: Consent time for extension category
                                    type: string
                                    format: date-time
                                    readOnly: true
                              x-ms-identifiers:
                              - category
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}
  : get:
      operationId: ArcSettings_Get
      description: Get ArcSetting resource details of HCI Cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: ArcSetting properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the ArcSetting proxy resource.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Failed
                        - Canceled
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - DisableInProgress
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      arcInstanceResourceGroup:
                        description: The resource group that hosts the Arc agents,
                          ie. Hybrid Compute Machine resources.
                        type: string
                      arcApplicationClientId:
                        description: App id of arc AAD identity.
                        type: string
                      arcApplicationTenantId:
                        description: Tenant id of arc AAD identity.
                        type: string
                      arcServicePrincipalObjectId:
                        description: Object id of arc AAD service principal.
                        type: string
                      arcApplicationObjectId:
                        description: Object id of arc AAD identity.
                        type: string
                      aggregateState:
                        description: Aggregate state of Arc agent across the nodes
                          in this HCI cluster.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Canceled
                        - Failed
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - DisableInProgress
                        x-ms-enum:
                          name: ArcSettingAggregateState
                          modelAsString: true
                        readOnly: true
                      perNodeDetails:
                        description: State of Arc agent in each of the nodes.
                        type: array
                        items:
                          description: Status of Arc agent for a particular node in
                            HCI Cluster.
                          type: object
                          properties:
                            name:
                              type: string
                              readOnly: true
                              description: Name of the Node in HCI Cluster
                            arcInstance:
                              description: Fully qualified resource ID for the Arc
                                agent of this node.
                              type: string
                              readOnly: true
                            arcNodeServicePrincipalObjectId:
                              description: The service principal id of the arc for
                                server node
                              type: string
                              readOnly: true
                            state:
                              description: State of Arc agent in this node.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              - DisableInProgress
                              x-ms-enum:
                                name: NodeArcState
                                modelAsString: true
                              readOnly: true
                        readOnly: true
                      connectivityProperties:
                        description: contains connectivity related configuration for
                          ARC resources
                        type: object
                        items:
                          description: Connectivity related configuration required
                            by arc server.
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: True indicates ARC connectivity is enabled
                            serviceConfigurations:
                              type: array
                              description: Service configurations associated with
                                the connectivity resource. They are only processed
                                by the server if 'enabled' property is set to 'true'.
                              items:
                                type: object
                                description: Service configuration details
                                required:
                                - serviceName
                                - port
                                properties:
                                  serviceName:
                                    type: string
                                    description: Name of the service.
                                    enum:
                                    - WAC
                                    x-ms-enum:
                                      name: serviceName
                                      modelAsString: true
                                  port:
                                    type: integer
                                    format: int64
                                    description: The port on which service is enabled.
                              x-ms-identifiers:
                              - serviceName
                          additionalProperties: false
                      defaultExtensions:
                        description: Properties for each of the default extensions
                          category
                        type: array
                        items:
                          description: Properties for a particular default extension
                            category.
                          type: object
                          properties:
                            category:
                              description: Default extension category
                              type: string
                              readOnly: true
                            consentTime:
                              description: Consent time for extension category
                              type: string
                              format: date-time
                              readOnly: true
                        x-ms-identifiers:
                        - category
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: ArcSettings_Create
      description: Create ArcSetting for HCI cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: ArcSetting properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: Provisioning state of the ArcSetting proxy resource.
                      type: string
                      enum:
                      - NotSpecified
                      - Error
                      - Succeeded
                      - Failed
                      - Canceled
                      - Connected
                      - Disconnected
                      - Deleted
                      - Creating
                      - Updating
                      - Deleting
                      - Moving
                      - PartiallySucceeded
                      - PartiallyConnected
                      - InProgress
                      - Accepted
                      - Provisioning
                      - DisableInProgress
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
                    arcInstanceResourceGroup:
                      description: The resource group that hosts the Arc agents, ie.
                        Hybrid Compute Machine resources.
                      type: string
                    arcApplicationClientId:
                      description: App id of arc AAD identity.
                      type: string
                    arcApplicationTenantId:
                      description: Tenant id of arc AAD identity.
                      type: string
                    arcServicePrincipalObjectId:
                      description: Object id of arc AAD service principal.
                      type: string
                    arcApplicationObjectId:
                      description: Object id of arc AAD identity.
                      type: string
                    aggregateState:
                      description: Aggregate state of Arc agent across the nodes in
                        this HCI cluster.
                      type: string
                      enum:
                      - NotSpecified
                      - Error
                      - Succeeded
                      - Canceled
                      - Failed
                      - Connected
                      - Disconnected
                      - Deleted
                      - Creating
                      - Updating
                      - Deleting
                      - Moving
                      - PartiallySucceeded
                      - PartiallyConnected
                      - InProgress
                      - Accepted
                      - Provisioning
                      - DisableInProgress
                      x-ms-enum:
                        name: ArcSettingAggregateState
                        modelAsString: true
                      readOnly: true
                    perNodeDetails:
                      description: State of Arc agent in each of the nodes.
                      type: array
                      items:
                        description: Status of Arc agent for a particular node in
                          HCI Cluster.
                        type: object
                        properties:
                          name:
                            type: string
                            readOnly: true
                            description: Name of the Node in HCI Cluster
                          arcInstance:
                            description: Fully qualified resource ID for the Arc agent
                              of this node.
                            type: string
                            readOnly: true
                          arcNodeServicePrincipalObjectId:
                            description: The service principal id of the arc for server
                              node
                            type: string
                            readOnly: true
                          state:
                            description: State of Arc agent in this node.
                            type: string
                            enum:
                            - NotSpecified
                            - Error
                            - Succeeded
                            - Canceled
                            - Failed
                            - Connected
                            - Disconnected
                            - Deleted
                            - Creating
                            - Updating
                            - Deleting
                            - Moving
                            - PartiallySucceeded
                            - PartiallyConnected
                            - InProgress
                            - Accepted
                            - Provisioning
                            - DisableInProgress
                            x-ms-enum:
                              name: NodeArcState
                              modelAsString: true
                            readOnly: true
                      readOnly: true
                    connectivityProperties:
                      description: contains connectivity related configuration for
                        ARC resources
                      type: object
                      items:
                        description: Connectivity related configuration required by
                          arc server.
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: True indicates ARC connectivity is enabled
                          serviceConfigurations:
                            type: array
                            description: Service configurations associated with the
                              connectivity resource. They are only processed by the
                              server if 'enabled' property is set to 'true'.
                            items:
                              type: object
                              description: Service configuration details
                              required:
                              - serviceName
                              - port
                              properties:
                                serviceName:
                                  type: string
                                  description: Name of the service.
                                  enum:
                                  - WAC
                                  x-ms-enum:
                                    name: serviceName
                                    modelAsString: true
                                port:
                                  type: integer
                                  format: int64
                                  description: The port on which service is enabled.
                            x-ms-identifiers:
                            - serviceName
                        additionalProperties: false
                    defaultExtensions:
                      description: Properties for each of the default extensions category
                      type: array
                      items:
                        description: Properties for a particular default extension
                          category.
                        type: object
                        properties:
                          category:
                            description: Default extension category
                            type: string
                            readOnly: true
                          consentTime:
                            description: Consent time for extension category
                            type: string
                            format: date-time
                            readOnly: true
                      x-ms-identifiers:
                      - category
                      readOnly: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to the Create ArcSetting resource for this
          HCI cluster.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: ArcSetting properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the ArcSetting proxy resource.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Failed
                        - Canceled
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - DisableInProgress
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      arcInstanceResourceGroup:
                        description: The resource group that hosts the Arc agents,
                          ie. Hybrid Compute Machine resources.
                        type: string
                      arcApplicationClientId:
                        description: App id of arc AAD identity.
                        type: string
                      arcApplicationTenantId:
                        description: Tenant id of arc AAD identity.
                        type: string
                      arcServicePrincipalObjectId:
                        description: Object id of arc AAD service principal.
                        type: string
                      arcApplicationObjectId:
                        description: Object id of arc AAD identity.
                        type: string
                      aggregateState:
                        description: Aggregate state of Arc agent across the nodes
                          in this HCI cluster.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Canceled
                        - Failed
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - DisableInProgress
                        x-ms-enum:
                          name: ArcSettingAggregateState
                          modelAsString: true
                        readOnly: true
                      perNodeDetails:
                        description: State of Arc agent in each of the nodes.
                        type: array
                        items:
                          description: Status of Arc agent for a particular node in
                            HCI Cluster.
                          type: object
                          properties:
                            name:
                              type: string
                              readOnly: true
                              description: Name of the Node in HCI Cluster
                            arcInstance:
                              description: Fully qualified resource ID for the Arc
                                agent of this node.
                              type: string
                              readOnly: true
                            arcNodeServicePrincipalObjectId:
                              description: The service principal id of the arc for
                                server node
                              type: string
                              readOnly: true
                            state:
                              description: State of Arc agent in this node.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              - DisableInProgress
                              x-ms-enum:
                                name: NodeArcState
                                modelAsString: true
                              readOnly: true
                        readOnly: true
                      connectivityProperties:
                        description: contains connectivity related configuration for
                          ARC resources
                        type: object
                        items:
                          description: Connectivity related configuration required
                            by arc server.
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: True indicates ARC connectivity is enabled
                            serviceConfigurations:
                              type: array
                              description: Service configurations associated with
                                the connectivity resource. They are only processed
                                by the server if 'enabled' property is set to 'true'.
                              items:
                                type: object
                                description: Service configuration details
                                required:
                                - serviceName
                                - port
                                properties:
                                  serviceName:
                                    type: string
                                    description: Name of the service.
                                    enum:
                                    - WAC
                                    x-ms-enum:
                                      name: serviceName
                                      modelAsString: true
                                  port:
                                    type: integer
                                    format: int64
                                    description: The port on which service is enabled.
                              x-ms-identifiers:
                              - serviceName
                          additionalProperties: false
                      defaultExtensions:
                        description: Properties for each of the default extensions
                          category
                        type: array
                        items:
                          description: Properties for a particular default extension
                            category.
                          type: object
                          properties:
                            category:
                              description: Default extension category
                              type: string
                              readOnly: true
                            consentTime:
                              description: Consent time for extension category
                              type: string
                              format: date-time
                              readOnly: true
                        x-ms-identifiers:
                        - category
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      operationId: ArcSettings_Update
      description: Update ArcSettings for HCI cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              description: ArcSetting details to update.
              type: object
              properties:
                tags:
                  description: Resource tags.
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: ArcSettings properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    connectivityProperties:
                      description: contains connectivity related configuration for
                        ARC resources
                      type: object
                      items:
                        description: Connectivity related configuration required by
                          arc server.
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: True indicates ARC connectivity is enabled
                          serviceConfigurations:
                            type: array
                            description: Service configurations associated with the
                              connectivity resource. They are only processed by the
                              server if 'enabled' property is set to 'true'.
                            items:
                              type: object
                              description: Service configuration details
                              required:
                              - serviceName
                              - port
                              properties:
                                serviceName:
                                  type: string
                                  description: Name of the service.
                                  enum:
                                  - WAC
                                  x-ms-enum:
                                    name: serviceName
                                    modelAsString: true
                                port:
                                  type: integer
                                  format: int64
                                  description: The port on which service is enabled.
                            x-ms-identifiers:
                            - serviceName
                        additionalProperties: false
        description: ArcSettings parameters that needs to be updated
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: ArcSetting properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state of the ArcSetting proxy resource.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Failed
                        - Canceled
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - DisableInProgress
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      arcInstanceResourceGroup:
                        description: The resource group that hosts the Arc agents,
                          ie. Hybrid Compute Machine resources.
                        type: string
                      arcApplicationClientId:
                        description: App id of arc AAD identity.
                        type: string
                      arcApplicationTenantId:
                        description: Tenant id of arc AAD identity.
                        type: string
                      arcServicePrincipalObjectId:
                        description: Object id of arc AAD service principal.
                        type: string
                      arcApplicationObjectId:
                        description: Object id of arc AAD identity.
                        type: string
                      aggregateState:
                        description: Aggregate state of Arc agent across the nodes
                          in this HCI cluster.
                        type: string
                        enum:
                        - NotSpecified
                        - Error
                        - Succeeded
                        - Canceled
                        - Failed
                        - Connected
                        - Disconnected
                        - Deleted
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - PartiallySucceeded
                        - PartiallyConnected
                        - InProgress
                        - Accepted
                        - Provisioning
                        - DisableInProgress
                        x-ms-enum:
                          name: ArcSettingAggregateState
                          modelAsString: true
                        readOnly: true
                      perNodeDetails:
                        description: State of Arc agent in each of the nodes.
                        type: array
                        items:
                          description: Status of Arc agent for a particular node in
                            HCI Cluster.
                          type: object
                          properties:
                            name:
                              type: string
                              readOnly: true
                              description: Name of the Node in HCI Cluster
                            arcInstance:
                              description: Fully qualified resource ID for the Arc
                                agent of this node.
                              type: string
                              readOnly: true
                            arcNodeServicePrincipalObjectId:
                              description: The service principal id of the arc for
                                server node
                              type: string
                              readOnly: true
                            state:
                              description: State of Arc agent in this node.
                              type: string
                              enum:
                              - NotSpecified
                              - Error
                              - Succeeded
                              - Canceled
                              - Failed
                              - Connected
                              - Disconnected
                              - Deleted
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - PartiallySucceeded
                              - PartiallyConnected
                              - InProgress
                              - Accepted
                              - Provisioning
                              - DisableInProgress
                              x-ms-enum:
                                name: NodeArcState
                                modelAsString: true
                              readOnly: true
                        readOnly: true
                      connectivityProperties:
                        description: contains connectivity related configuration for
                          ARC resources
                        type: object
                        items:
                          description: Connectivity related configuration required
                            by arc server.
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: True indicates ARC connectivity is enabled
                            serviceConfigurations:
                              type: array
                              description: Service configurations associated with
                                the connectivity resource. They are only processed
                                by the server if 'enabled' property is set to 'true'.
                              items:
                                type: object
                                description: Service configuration details
                                required:
                                - serviceName
                                - port
                                properties:
                                  serviceName:
                                    type: string
                                    description: Name of the service.
                                    enum:
                                    - WAC
                                    x-ms-enum:
                                      name: serviceName
                                      modelAsString: true
                                  port:
                                    type: integer
                                    format: int64
                                    description: The port on which service is enabled.
                              x-ms-identifiers:
                              - serviceName
                          additionalProperties: false
                      defaultExtensions:
                        description: Properties for each of the default extensions
                          category
                        type: array
                        items:
                          description: Properties for a particular default extension
                            category.
                          type: object
                          properties:
                            category:
                              description: Default extension category
                              type: string
                              readOnly: true
                            consentTime:
                              description: Consent time for extension category
                              type: string
                              format: date-time
                              readOnly: true
                        x-ms-identifiers:
                        - category
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      operationId: ArcSettings_Delete
      description: Delete ArcSetting resource details of HCI Cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/generatePassword
  : post:
      tags:
      - ArcSettings
      operationId: ArcSettings_GeneratePassword
      description: Generate password for arc settings.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: arcSettingName
        in: path
        required: true
        description: The name of the proxy resource holding details of HCI ArcSetting
          information.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  secretText:
                    type: string
                  keyId:
                    type: string
                  startDateTime:
                    type: string
                    format: date-time
                  endDateTime:
                    type: string
                    format: date-time
                additionalProperties: false
                readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
[...]
