openapi: 3.0.0
info:
  version: 2024-01-01
  title: AzureStackHCI
  description: Azure Stack HCI management service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/clusters:
    get:
      tags:
      - Clusters
      operationId: Clusters_ListBySubscription
      description: List all HCI clusters in a subscription.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of clusters.
                type: object
                properties:
                  value:
                    description: List of clusters.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Identity of Cluster resource
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        properties:
                          description: Cluster properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Accepted
                              - Provisioning
                              - NotSpecified
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - Deleted
                              - PartiallySucceeded
                              - InProgress
                              - DisableInProgress
                              - Connected
                              - PartiallyConnected
                              - Disconnected
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                            status:
                              description: Status of the cluster agent.
                              type: string
                              enum:
                              - NotYetRegistered
                              - ConnectedRecently
                              - NotConnectedRecently
                              - Disconnected
                              - Error
                              - NotSpecified
                              - ValidationInProgress
                              - ValidationSuccess
                              - ValidationFailed
                              - DeploymentInProgress
                              - DeploymentFailed
                              - DeploymentSuccess
                              x-ms-enum:
                                name: Status
                                modelAsString: true
                              readOnly: true
                            connectivityStatus:
                              description: Overall connectivity status for the cluster
                                resource.
                              type: string
                              enum:
                              - NotYetRegistered
                              - Connected
                              - NotConnectedRecently
                              - PartiallyConnected
                              - Disconnected
                              - NotSpecified
                              x-ms-enum:
                                name: ConnectivityStatus
                                modelAsString: true
                              readOnly: true
                            cloudId:
                              description: Unique, immutable resource id.
                              type: string
                              readOnly: true
                            cloudManagementEndpoint:
                              description: Endpoint configured for management from
                                the Azure portal.
                              type: string
                            aadClientId:
                              description: App id of cluster AAD identity.
                              type: string
                            aadTenantId:
                              description: Tenant id of cluster AAD identity.
                              type: string
                            aadApplicationObjectId:
                              description: Object id of cluster AAD identity.
                              type: string
                            aadServicePrincipalObjectId:
                              description: Id of cluster identity service principal.
                              type: string
                            softwareAssuranceProperties:
                              description: Software Assurance properties of the cluster.
                              type: object
                              properties:
                                softwareAssuranceStatus:
                                  description: Status of the Software Assurance for
                                    the cluster.
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: SoftwareAssuranceStatus
                                    modelAsString: true
                                  readOnly: true
                                softwareAssuranceIntent:
                                  description: Customer Intent for Software Assurance
                                    Benefit.
                                  type: string
                                  enum:
                                  - Enable
                                  - Disable
                                  x-ms-enum:
                                    name: SoftwareAssuranceIntent
                                    modelAsString: true
                                lastUpdated:
                                  description: TimeStamp denoting the latest SA benefit
                                    applicability is validated.
                                  type: string
                                  format: date-time
                                  readOnly: true
                            desiredProperties:
                              description: Desired properties of the cluster.
                              type: object
                              properties:
                                windowsServerSubscription:
                                  description: Desired state of Windows Server Subscription.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: WindowsServerSubscription
                                    modelAsString: true
                                diagnosticLevel:
                                  description: Desired level of diagnostic data emitted
                                    by the cluster.
                                  type: string
                                  enum:
                                  - 'Off'
                                  - Basic
                                  - Enhanced
                                  x-ms-enum:
                                    name: DiagnosticLevel
                                    modelAsString: true
                            reportedProperties:
                              description: Properties reported by cluster agent.
                              readOnly: true
                              type: object
                              properties:
                                clusterName:
                                  description: Name of the on-prem cluster connected
                                    to this resource.
                                  type: string
                                  readOnly: true
                                clusterId:
                                  description: Unique id generated by the on-prem
                                    cluster.
                                  type: string
                                  readOnly: true
                                clusterVersion:
                                  description: Version of the cluster software.
                                  type: string
                                  readOnly: true
                                nodes:
                                  description: List of nodes reported by the cluster.
                                  type: array
                                  items:
                                    description: Cluster node details.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the cluster node.
                                        type: string
                                        readOnly: true
                                      id:
                                        description: Id of the node in the cluster.
                                        type: number
                                        readOnly: true
                                      windowsServerSubscription:
                                        description: State of Windows Server Subscription.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: WindowsServerSubscription
                                          modelAsString: true
                                        readOnly: true
                                      nodeType:
                                        description: Type of the cluster node hardware.
                                        type: string
                                        enum:
                                        - FirstParty
                                        - ThirdParty
                                        x-ms-enum:
                                          name: ClusterNodeType
                                          modelAsString: true
                                        readOnly: true
                                      ehcResourceId:
                                        description: Edge Hardware Center Resource
                                          Id
                                        type: string
                                        readOnly: true
                                      manufacturer:
                                        description: Manufacturer of the cluster node
                                          hardware.
                                        type: string
                                        readOnly: true
                                      model:
                                        description: Model name of the cluster node
                                          hardware.
                                        type: string
                                        readOnly: true
                                      osName:
                                        description: Operating system running on the
                                          cluster node.
                                        type: string
                                        readOnly: true
                                      osVersion:
                                        description: Version of the operating system
                                          running on the cluster node.
                                        type: string
                                        readOnly: true
                                      osDisplayVersion:
                                        description: Display version of the operating
                                          system running on the cluster node.
                                        type: string
                                        readOnly: true
                                      serialNumber:
                                        description: Immutable id of the cluster node.
                                        type: string
                                        readOnly: true
                                      coreCount:
                                        description: Number of physical cores on the
                                          cluster node.
                                        type: number
                                        readOnly: true
                                      memoryInGiB:
                                        description: Total available memory on the
                                          cluster node (in GiB).
                                        type: number
                                        readOnly: true
                                      lastLicensingTimestamp:
                                        description: Most recent licensing timestamp.
                                        type: string
                                        format: date-time
                                        readOnly: true
                                      oemActivation:
                                        description: OEM activation status of the
                                          node.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: OemActivation
                                          modelAsString: true
                                        readOnly: true
                                  readOnly: true
                                lastUpdated:
                                  description: Last time the cluster reported the
                                    data.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                imdsAttestation:
                                  description: IMDS attestation status of the cluster.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: ImdsAttestation
                                    modelAsString: true
                                  readOnly: true
                                diagnosticLevel:
                                  description: Level of diagnostic data emitted by
                                    the cluster.
                                  type: string
                                  enum:
                                  - 'Off'
                                  - Basic
                                  - Enhanced
                                  x-ms-enum:
                                    name: DiagnosticLevel
                                    modelAsString: true
                                supportedCapabilities:
                                  description: Capabilities supported by the cluster.
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                clusterType:
                                  description: The node type of all the nodes of the
                                    cluster.
                                  type: string
                                  enum:
                                  - FirstParty
                                  - ThirdParty
                                  x-ms-enum:
                                    name: ClusterNodeType
                                    modelAsString: true
                                  readOnly: true
                                manufacturer:
                                  description: The manufacturer of all the nodes of
                                    the cluster.
                                  type: string
                                  readOnly: true
                                oemActivation:
                                  description: OEM activation status of the cluster.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: OemActivation
                                    modelAsString: true
                                  readOnly: true
                            isolatedVmAttestationConfiguration:
                              description: Attestation configurations for isolated
                                VM (e.g. TVM, CVM) of the cluster.
                              readOnly: true
                              type: object
                              properties:
                                attestationResourceId:
                                  description: Fully qualified Azure resource id of
                                    the Microsoft Azure attestation resource associated
                                    with this cluster.
                                  type: string
                                  format: arm-id
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.Attestation/attestationProviders
                                      scopes:
                                      - Tenant
                                  readOnly: true
                                relyingPartyServiceEndpoint:
                                  description: Region specific endpoint for relying
                                    party service.
                                  type: string
                                  readOnly: true
                                attestationServiceEndpoint:
                                  description: Region specific endpoint for Microsoft
                                    Azure Attestation service for the cluster
                                  type: string
                                  readOnly: true
                            trialDaysRemaining:
                              description: Number of days remaining in the trial period.
                              type: number
                              readOnly: true
                            billingModel:
                              description: Type of billing applied to the resource.
                              type: string
                              readOnly: true
                            registrationTimestamp:
                              description: First cluster sync timestamp.
                              type: string
                              format: date-time
                              readOnly: true
                            lastSyncTimestamp:
                              description: Most recent cluster sync timestamp.
                              type: string
                              format: date-time
                              readOnly: true
                            lastBillingTimestamp:
                              description: Most recent billing meter timestamp.
                              type: string
                              format: date-time
                              readOnly: true
                            serviceEndpoint:
                              description: Region specific DataPath Endpoint of the
                                cluster.
                              type: string
                              readOnly: true
                            resourceProviderObjectId:
                              description: Object id of RP Service Principal
                              type: string
                              readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters:
    get:
      tags:
      - Clusters
      operationId: Clusters_ListByResourceGroup
      description: List all HCI clusters in a resource group.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of clusters.
                type: object
                properties:
                  value:
                    description: List of clusters.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        identity:
                          description: Identity of Cluster resource
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The service principal ID of the system
                                assigned identity. This property will only be provided
                                for a system assigned identity.
                              readOnly: true
                            tenantId:
                              type: string
                              format: uuid
                              description: The tenant ID of the system assigned identity.
                                This property will only be provided for a system assigned
                                identity.
                              readOnly: true
                            type:
                              type: string
                              description: Type of managed service identity (where
                                both SystemAssigned and UserAssigned types are allowed).
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              - SystemAssigned, UserAssigned
                              x-ms-enum:
                                name: ManagedServiceIdentityType
                                modelAsString: true
                            userAssignedIdentities:
                              type: object
                              title: User-Assigned Identities
                              description: 'The set of user assigned identities associated
                                with the resource. The userAssignedIdentities dictionary
                                keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                                The dictionary values can be empty objects ({}) in
                                requests.'
                              additionalProperties:
                                type: object
                                description: User assigned identity properties
                                properties:
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID of the assigned
                                      identity.
                                    readOnly: true
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID of the assigned identity.
                                    readOnly: true
                          required:
                          - type
                        properties:
                          description: Cluster properties.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: Provisioning state.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Accepted
                              - Provisioning
                              - NotSpecified
                              - Creating
                              - Updating
                              - Deleting
                              - Moving
                              - Deleted
                              - PartiallySucceeded
                              - InProgress
                              - DisableInProgress
                              - Connected
                              - PartiallyConnected
                              - Disconnected
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                            status:
                              description: Status of the cluster agent.
                              type: string
                              enum:
                              - NotYetRegistered
                              - ConnectedRecently
                              - NotConnectedRecently
                              - Disconnected
                              - Error
                              - NotSpecified
                              - ValidationInProgress
                              - ValidationSuccess
                              - ValidationFailed
                              - DeploymentInProgress
                              - DeploymentFailed
                              - DeploymentSuccess
                              x-ms-enum:
                                name: Status
                                modelAsString: true
                              readOnly: true
                            connectivityStatus:
                              description: Overall connectivity status for the cluster
                                resource.
                              type: string
                              enum:
                              - NotYetRegistered
                              - Connected
                              - NotConnectedRecently
                              - PartiallyConnected
                              - Disconnected
                              - NotSpecified
                              x-ms-enum:
                                name: ConnectivityStatus
                                modelAsString: true
                              readOnly: true
                            cloudId:
                              description: Unique, immutable resource id.
                              type: string
                              readOnly: true
                            cloudManagementEndpoint:
                              description: Endpoint configured for management from
                                the Azure portal.
                              type: string
                            aadClientId:
                              description: App id of cluster AAD identity.
                              type: string
                            aadTenantId:
                              description: Tenant id of cluster AAD identity.
                              type: string
                            aadApplicationObjectId:
                              description: Object id of cluster AAD identity.
                              type: string
                            aadServicePrincipalObjectId:
                              description: Id of cluster identity service principal.
                              type: string
                            softwareAssuranceProperties:
                              description: Software Assurance properties of the cluster.
                              type: object
                              properties:
                                softwareAssuranceStatus:
                                  description: Status of the Software Assurance for
                                    the cluster.
                                  type: string
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: SoftwareAssuranceStatus
                                    modelAsString: true
                                  readOnly: true
                                softwareAssuranceIntent:
                                  description: Customer Intent for Software Assurance
                                    Benefit.
                                  type: string
                                  enum:
                                  - Enable
                                  - Disable
                                  x-ms-enum:
                                    name: SoftwareAssuranceIntent
                                    modelAsString: true
                                lastUpdated:
                                  description: TimeStamp denoting the latest SA benefit
                                    applicability is validated.
                                  type: string
                                  format: date-time
                                  readOnly: true
                            desiredProperties:
                              description: Desired properties of the cluster.
                              type: object
                              properties:
                                windowsServerSubscription:
                                  description: Desired state of Windows Server Subscription.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: WindowsServerSubscription
                                    modelAsString: true
                                diagnosticLevel:
                                  description: Desired level of diagnostic data emitted
                                    by the cluster.
                                  type: string
                                  enum:
                                  - 'Off'
                                  - Basic
                                  - Enhanced
                                  x-ms-enum:
                                    name: DiagnosticLevel
                                    modelAsString: true
                            reportedProperties:
                              description: Properties reported by cluster agent.
                              readOnly: true
                              type: object
                              properties:
                                clusterName:
                                  description: Name of the on-prem cluster connected
                                    to this resource.
                                  type: string
                                  readOnly: true
                                clusterId:
                                  description: Unique id generated by the on-prem
                                    cluster.
                                  type: string
                                  readOnly: true
                                clusterVersion:
                                  description: Version of the cluster software.
                                  type: string
                                  readOnly: true
                                nodes:
                                  description: List of nodes reported by the cluster.
                                  type: array
                                  items:
                                    description: Cluster node details.
                                    type: object
                                    properties:
                                      name:
                                        description: Name of the cluster node.
                                        type: string
                                        readOnly: true
                                      id:
                                        description: Id of the node in the cluster.
                                        type: number
                                        readOnly: true
                                      windowsServerSubscription:
                                        description: State of Windows Server Subscription.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: WindowsServerSubscription
                                          modelAsString: true
                                        readOnly: true
                                      nodeType:
                                        description: Type of the cluster node hardware.
                                        type: string
                                        enum:
                                        - FirstParty
                                        - ThirdParty
                                        x-ms-enum:
                                          name: ClusterNodeType
                                          modelAsString: true
                                        readOnly: true
                                      ehcResourceId:
                                        description: Edge Hardware Center Resource
                                          Id
                                        type: string
                                        readOnly: true
                                      manufacturer:
                                        description: Manufacturer of the cluster node
                                          hardware.
                                        type: string
                                        readOnly: true
                                      model:
                                        description: Model name of the cluster node
                                          hardware.
                                        type: string
                                        readOnly: true
                                      osName:
                                        description: Operating system running on the
                                          cluster node.
                                        type: string
                                        readOnly: true
                                      osVersion:
                                        description: Version of the operating system
                                          running on the cluster node.
                                        type: string
                                        readOnly: true
                                      osDisplayVersion:
                                        description: Display version of the operating
                                          system running on the cluster node.
                                        type: string
                                        readOnly: true
                                      serialNumber:
                                        description: Immutable id of the cluster node.
                                        type: string
                                        readOnly: true
                                      coreCount:
                                        description: Number of physical cores on the
                                          cluster node.
                                        type: number
                                        readOnly: true
                                      memoryInGiB:
                                        description: Total available memory on the
                                          cluster node (in GiB).
                                        type: number
                                        readOnly: true
                                      lastLicensingTimestamp:
                                        description: Most recent licensing timestamp.
                                        type: string
                                        format: date-time
                                        readOnly: true
                                      oemActivation:
                                        description: OEM activation status of the
                                          node.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: OemActivation
                                          modelAsString: true
                                        readOnly: true
                                  readOnly: true
                                lastUpdated:
                                  description: Last time the cluster reported the
                                    data.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                imdsAttestation:
                                  description: IMDS attestation status of the cluster.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: ImdsAttestation
                                    modelAsString: true
                                  readOnly: true
                                diagnosticLevel:
                                  description: Level of diagnostic data emitted by
                                    the cluster.
                                  type: string
                                  enum:
                                  - 'Off'
                                  - Basic
                                  - Enhanced
                                  x-ms-enum:
                                    name: DiagnosticLevel
                                    modelAsString: true
                                supportedCapabilities:
                                  description: Capabilities supported by the cluster.
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                clusterType:
                                  description: The node type of all the nodes of the
                                    cluster.
                                  type: string
                                  enum:
                                  - FirstParty
                                  - ThirdParty
                                  x-ms-enum:
                                    name: ClusterNodeType
                                    modelAsString: true
                                  readOnly: true
                                manufacturer:
                                  description: The manufacturer of all the nodes of
                                    the cluster.
                                  type: string
                                  readOnly: true
                                oemActivation:
                                  description: OEM activation status of the cluster.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: OemActivation
                                    modelAsString: true
                                  readOnly: true
                            isolatedVmAttestationConfiguration:
                              description: Attestation configurations for isolated
                                VM (e.g. TVM, CVM) of the cluster.
                              readOnly: true
                              type: object
                              properties:
                                attestationResourceId:
                                  description: Fully qualified Azure resource id of
                                    the Microsoft Azure attestation resource associated
                                    with this cluster.
                                  type: string
                                  format: arm-id
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.Attestation/attestationProviders
                                      scopes:
                                      - Tenant
                                  readOnly: true
                                relyingPartyServiceEndpoint:
                                  description: Region specific endpoint for relying
                                    party service.
                                  type: string
                                  readOnly: true
                                attestationServiceEndpoint:
                                  description: Region specific endpoint for Microsoft
                                    Azure Attestation service for the cluster
                                  type: string
                                  readOnly: true
                            trialDaysRemaining:
                              description: Number of days remaining in the trial period.
                              type: number
                              readOnly: true
                            billingModel:
                              description: Type of billing applied to the resource.
                              type: string
                              readOnly: true
                            registrationTimestamp:
                              description: First cluster sync timestamp.
                              type: string
                              format: date-time
                              readOnly: true
                            lastSyncTimestamp:
                              description: Most recent cluster sync timestamp.
                              type: string
                              format: date-time
                              readOnly: true
                            lastBillingTimestamp:
                              description: Most recent billing meter timestamp.
                              type: string
                              format: date-time
                              readOnly: true
                            serviceEndpoint:
                              description: Region specific DataPath Endpoint of the
                                cluster.
                              type: string
                              readOnly: true
                            resourceProviderObjectId:
                              description: Object id of RP Service Principal
                              type: string
                              readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: Link to the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}
  : get:
      tags:
      - Clusters
      operationId: Clusters_Get
      description: Get HCI cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  identity:
                    description: Identity of Cluster resource
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      principalId:
                        type: string
                        format: uuid
                        description: The service principal ID of the system assigned
                          identity. This property will only be provided for a system
                          assigned identity.
                        readOnly: true
                      tenantId:
                        type: string
                        format: uuid
                        description: The tenant ID of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                        readOnly: true
                      type:
                        type: string
                        description: Type of managed service identity (where both
                          SystemAssigned and UserAssigned types are allowed).
                        enum:
                        - None
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        x-ms-enum:
                          name: ManagedServiceIdentityType
                          modelAsString: true
                      userAssignedIdentities:
                        type: object
                        title: User-Assigned Identities
                        description: 'The set of user assigned identities associated
                          with the resource. The userAssignedIdentities dictionary
                          keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
                          The dictionary values can be empty objects ({}) in requests.'
                        additionalProperties:
                          type: object
                          description: User assigned identity properties
                          properties:
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID of the assigned identity.
                              readOnly: true
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID of the assigned identity.
                              readOnly: true
                    required:
                    - type
                  properties:
                    description: Cluster properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: Provisioning state.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        - NotSpecified
                        - Creating
                        - Updating
                        - Deleting
                        - Moving
                        - Deleted
                        - PartiallySucceeded
                        - InProgress
                        - DisableInProgress
                        - Connected
                        - PartiallyConnected
                        - Disconnected
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      status:
                        description: Status of the cluster agent.
                        type: string
                        enum:
                        - NotYetRegistered
                        - ConnectedRecently
                        - NotConnectedRecently
                        - Disconnected
                        - Error
                        - NotSpecified
                        - ValidationInProgress
                        - ValidationSuccess
                        - ValidationFailed
                        - DeploymentInProgress
                        - DeploymentFailed
                        - DeploymentSuccess
                        x-ms-enum:
                          name: Status
                          modelAsString: true
                        readOnly: true
                      connectivityStatus:
                        description: Overall connectivity status for the cluster resource.
                        type: string
                        enum:
                        - NotYetRegistered
                        - Connected
                        - NotConnectedRecently
                        - PartiallyConnected
                        - Disconnected
                        - NotSpecified
                        x-ms-enum:
                          name: ConnectivityStatus
                          modelAsString: true
                        readOnly: true
                      cloudId:
                        description: Unique, immutable resource id.
                        type: string
                        readOnly: true
                      cloudManagementEndpoint:
                        description: Endpoint configured for management from the Azure
                          portal.
                        type: string
                      aadClientId:
                        description: App id of cluster AAD identity.
                        type: string
                      aadTenantId:
                        description: Tenant id of cluster AAD identity.
                        type: string
                      aadApplicationObjectId:
                        description: Object id of cluster AAD identity.
                        type: string
                      aadServicePrincipalObjectId:
                        description: Id of cluster identity service principal.
                        type: string
                      softwareAssuranceProperties:
                        description: Software Assurance properties of the cluster.
                        type: object
                        properties:
                          softwareAssuranceStatus:
                            description: Status of the Software Assurance for the
                              cluster.
                            type: string
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: SoftwareAssuranceStatus
                              modelAsString: true
                            readOnly: true
                          softwareAssuranceIntent:
                            description: Customer Intent for Software Assurance Benefit.
                            type: string
                            enum:
                            - Enable
                            - Disable
                            x-ms-enum:
                              name: SoftwareAssuranceIntent
                              modelAsString: true
                          lastUpdated:
                            description: TimeStamp denoting the latest SA benefit
                              applicability is validated.
                            type: string
                            format: date-time
                            readOnly: true
                      desiredProperties:
                        description: Desired properties of the cluster.
                        type: object
                        properties:
                          windowsServerSubscription:
                            description: Desired state of Windows Server Subscription.
                            type: string
                            enum:
                            - Disabled
                            - Enabled
                            x-ms-enum:
                              name: WindowsServerSubscription
                              modelAsString: true
                          diagnosticLevel:
                            description: Desired level of diagnostic data emitted
                              by the cluster.
                            type: string
                            enum:
                            - 'Off'
                            - Basic
                            - Enhanced
                            x-ms-enum:
                              name: DiagnosticLevel
                              modelAsString: true
                      reportedProperties:
                        description: Properties reported by cluster agent.
                        readOnly: true
                        type: object
                        properties:
                          clusterName:
                            description: Name of the on-prem cluster connected to
                              this resource.
                            type: string
                            readOnly: true
                          clusterId:
                            description: Unique id generated by the on-prem cluster.
                            type: string
                            readOnly: true
                          clusterVersion:
                            description: Version of the cluster software.
                            type: string
                            readOnly: true
                          nodes:
                            description: List of nodes reported by the cluster.
                            type: array
                            items:
                              description: Cluster node details.
                              type: object
                              properties:
                                name:
                                  description: Name of the cluster node.
                                  type: string
                                  readOnly: true
                                id:
                                  description: Id of the node in the cluster.
                                  type: number
                                  readOnly: true
                                windowsServerSubscription:
                                  description: State of Windows Server Subscription.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: WindowsServerSubscription
                                    modelAsString: true
                                  readOnly: true
                                nodeType:
                                  description: Type of the cluster node hardware.
                                  type: string
                                  enum:
                                  - FirstParty
                                  - ThirdParty
                                  x-ms-enum:
                                    name: ClusterNodeType
                                    modelAsString: true
                                  readOnly: true
                                ehcResourceId:
                                  description: Edge Hardware Center Resource Id
                                  type: string
                                  readOnly: true
                                manufacturer:
                                  description: Manufacturer of the cluster node hardware.
                                  type: string
                                  readOnly: true
                                model:
                                  description: Model name of the cluster node hardware.
                                  type: string
                                  readOnly: true
                                osName:
                                  description: Operating system running on the cluster
                                    node.
                                  type: string
                                  readOnly: true
                                osVersion:
                                  description: Version of the operating system running
                                    on the cluster node.
                                  type: string
                                  readOnly: true
                                osDisplayVersion:
                                  description: Display version of the operating system
                                    running on the cluster node.
                                  type: string
                                  readOnly: true
                                serialNumber:
                                  description: Immutable id of the cluster node.
                                  type: string
                                  readOnly: true
                                coreCount:
                                  description: Number of physical cores on the cluster
                                    node.
                                  type: number
                                  readOnly: true
                                memoryInGiB:
                                  description: Total available memory on the cluster
                                    node (in GiB).
                                  type: number
                                  readOnly: true
                                lastLicensingTimestamp:
                                  description: Most recent licensing timestamp.
                                  type: string
                                  format: date-time
                                  readOnly: true
                                oemActivation:
                                  description: OEM activation status of the node.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: OemActivation
                                    modelAsString: true
                                  readOnly: true
                            readOnly: true
                          lastUpdated:
                            description: Last time the cluster reported the data.
                            type: string
                            format: date-time
                            readOnly: true
                          imdsAttestation:
                            description: IMDS attestation status of the cluster.
                            type: string
                            enum:
                            - Disabled
                            - Enabled
                            x-ms-enum:
                              name: ImdsAttestation
                              modelAsString: true
                            readOnly: true
                          diagnosticLevel:
                            description: Level of diagnostic data emitted by the cluster.
                            type: string
                            enum:
                            - 'Off'
                            - Basic
                            - Enhanced
                            x-ms-enum:
                              name: DiagnosticLevel
                              modelAsString: true
                          supportedCapabilities:
                            description: Capabilities supported by the cluster.
                            type: array
                            readOnly: true
                            items:
                              type: string
                          clusterType:
                            description: The node type of all the nodes of the cluster.
                            type: string
                            enum:
                            - FirstParty
                            - ThirdParty
                            x-ms-enum:
                              name: ClusterNodeType
                              modelAsString: true
                            readOnly: true
                          manufacturer:
                            description: The manufacturer of all the nodes of the
                              cluster.
                            type: string
                            readOnly: true
                          oemActivation:
                            description: OEM activation status of the cluster.
                            type: string
                            enum:
                            - Disabled
                            - Enabled
                            x-ms-enum:
                              name: OemActivation
                              modelAsString: true
                            readOnly: true
                      isolatedVmAttestationConfiguration:
                        description: Attestation configurations for isolated VM (e.g.
                          TVM, CVM) of the cluster.
                        readOnly: true
                        type: object
                        properties:
                          attestationResourceId:
                            description: Fully qualified Azure resource id of the
                              Microsoft Azure attestation resource associated with
                              this cluster.
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Attestation/attestationProviders
                                scopes:
                                - Tenant
                            readOnly: true
                          relyingPartyServiceEndpoint:
                            description: Region specific endpoint for relying party
                              service.
                            type: string
                            readOnly: true
                          attestationServiceEndpoint:
                            description: Region specific endpoint for Microsoft Azure
                              Attestation service for the cluster
                            type: string
                            readOnly: true
                      trialDaysRemaining:
                        description: Number of days remaining in the trial period.
                        type: number
                        readOnly: true
                      billingModel:
                        description: Type of billing applied to the resource.
                        type: string
                        readOnly: true
                      registrationTimestamp:
                        description: First cluster sync timestamp.
                        type: string
                        format: date-time
                        readOnly: true
                      lastSyncTimestamp:
                        description: Most recent cluster sync timestamp.
                        type: string
                        format: date-time
                        readOnly: true
                      lastBillingTimestamp:
                        description: Most recent billing meter timestamp.
                        type: string
                        format: date-time
                        readOnly: true
                      serviceEndpoint:
                        description: Region specific DataPath Endpoint of the cluster.
                        type: string
                        readOnly: true
                      resourceProviderObjectId:
                        description: Object id of RP Service Principal
                        type: string
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      tags:
      - Clusters
      operationId: Clusters_Create
      description: Create an HCI cluster.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
[...]
