openapi: 3.0.0
info:
  title: Deployment Settings
  version: 2024-01-01
  description: Azure Stack HCI Deployment Settings.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DeploymentSettings
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/deploymentSettings
  : get:
      operationId: DeploymentSettings_ListByClusters
      tags:
      - DeploymentSettings
      description: List DeploymentSetting resources by Clusters
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a DeploymentSetting list operation.
                properties:
                  value:
                    type: array
                    description: The DeploymentSetting items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            provisioningState:
                              description: DeploymentSetting provisioning state
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - NotSpecified
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: NotSpecified
                                  value: NotSpecified
                                  description: The resource provision state is not
                                    specified
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                            arcNodeResourceIds:
                              type: array
                              description: Azure resource ids of Arc machines to be
                                part of cluster.
                              items:
                                type: string
                              x-ms-identifiers: []
                            deploymentMode:
                              description: The deployment mode for cluster deployment.
                              type: string
                              enum:
                              - Validate
                              - Deploy
                              default: Deploy
                              x-ms-enum:
                                name: DeploymentMode
                                modelAsString: true
                                values:
                                - name: Validate
                                  value: Validate
                                  description: Validate deployment settings for cluster.
                                - name: Deploy
                                  value: Deploy
                                  description: Deploy cluster using deployment settings.
                            deploymentConfiguration:
                              description: Scale units will contains list of deployment
                                data
                              x-ms-identifiers: []
                              type: object
                              properties:
                                version:
                                  type: string
                                  description: 'deployment template version '
                                scaleUnits:
                                  type: array
                                  description: Scale units will contains list of deployment
                                    data
                                  items:
                                    type: object
                                    description: Scale units will contains list of
                                      deployment data
                                    properties:
                                      deploymentData:
                                        description: Deployment Data to deploy AzureStackHCI
                                          Cluster.
                                        type: object
                                        properties:
                                          securitySettings:
                                            description: SecuritySettings to deploy
                                              AzureStackHCI Cluster.
                                            type: object
                                            properties:
                                              hvciProtection:
                                                type: boolean
                                                description: By default, Hypervisor-protected
                                                  Code Integrity is enabled on your
                                                  Azure HCI cluster.
                                                default: true
                                              drtmProtection:
                                                type: boolean
                                                description: By default, Secure Boot
                                                  is enabled on your Azure HCI cluster.
                                                  This setting is hardware dependent.
                                                default: true
                                              driftControlEnforced:
                                                type: boolean
                                                description: When set to true, the
                                                  security baseline is re-applied
                                                  regularly.
                                                default: true
                                              credentialGuardEnforced:
                                                type: boolean
                                                description: When set to true, Credential
                                                  Guard is enabled.
                                                default: false
                                              smbSigningEnforced:
                                                type: boolean
                                                description: When set to true, the
                                                  SMB default instance requires sign
                                                  in for the client and server services.
                                                default: true
                                              smbClusterEncryption:
                                                type: boolean
                                                description: When set to true, cluster
                                                  east-west traffic is encrypted.
                                                default: false
                                              sideChannelMitigationEnforced:
                                                type: boolean
                                                description: When set to true, all
                                                  the side channel mitigations are
                                                  enabled
                                                default: true
                                              bitlockerBootVolume:
                                                type: boolean
                                                description: 'When set to true, BitLocker
                                                  XTS_AES 256-bit encryption is enabled
                                                  for all data-at-rest on the OS volume
                                                  of your Azure Stack HCI cluster.
                                                  This setting is TPM-hardware dependent. '
                                                default: true
                                              bitlockerDataVolumes:
                                                type: boolean
                                                description: When set to true, BitLocker
                                                  XTS-AES 256-bit encryption is enabled
                                                  for all data-at-rest on your Azure
                                                  Stack HCI cluster shared volumes.
                                                default: true
                                              wdacEnforced:
                                                type: boolean
                                                description: WDAC is enabled by default
                                                  and limits the applications and
                                                  the code that you can run on your
                                                  Azure Stack HCI cluster.
                                                default: true
                                          observability:
                                            description: Observability config to deploy
                                              AzureStackHCI Cluster.
                                            type: object
                                            properties:
                                              streamingDataClient:
                                                type: boolean
                                                description: Enables telemetry data
                                                  to be sent to Microsoft
                                                default: true
                                              euLocation:
                                                type: boolean
                                                description: Location of your cluster.
                                                  The log and diagnostic data is sent
                                                  to the appropriate diagnostics servers
                                                  depending upon where your cluster
                                                  resides. Setting this to false results
                                                  in all data sent to Microsoft to
                                                  be stored outside of the EU.
                                                default: false
                                              episodicDataUpload:
                                                type: boolean
                                                description: When set to true, collects
                                                  log data to facilitate quicker issue
                                                  resolution.
                                                default: true
                                          cluster:
                                            description: Observability config to deploy
                                              AzureStackHCI Cluster.
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                description: The cluster name provided
                                                  when preparing Active Directory.
                                              witnessType:
                                                type: string
                                                description: 'Use a cloud witness
                                                  if you have internet access and
                                                  if you use an Azure Storage account
                                                  to provide a vote on cluster quorum.
                                                  A cloud witness uses Azure Blob
                                                  Storage to read or write a blob
                                                  file and then uses it to arbitrate
                                                  in split-brain resolution. Only
                                                  allowed values are ''Cloud'', ''FileShare''. '
                                              witnessPath:
                                                type: string
                                                description: Specify the fileshare
                                                  path for the local witness for your
                                                  Azure Stack HCI cluster.
                                              cloudAccountName:
                                                type: string
                                                description: Specify the Azure Storage
                                                  account name for cloud witness for
                                                  your Azure Stack HCI cluster.
                                              azureServiceEndpoint:
                                                type: string
                                                description: For Azure blob service
                                                  endpoint type, select either Default
                                                  or Custom domain. If you selected
                                                  **Custom domain, enter the domain
                                                  for the blob service in this format
                                                  core.windows.net.
                                          storage:
                                            description: Storage config to deploy
                                              AzureStackHCI Cluster.
                                            type: object
                                            properties:
                                              configurationMode:
                                                type: string
                                                description: By default, this mode
                                                  is set to Express and your storage
                                                  is configured as per best practices
                                                  based on the number of nodes in
                                                  the cluster. Allowed values are
                                                  'Express','InfraOnly', 'KeepStorage'
                                                default: Express
                                          namingPrefix:
                                            type: string
                                            description: naming prefix to deploy cluster.
                                            pattern: ^[a-zA-Z0-9-]{1,8}$
                                          domainFqdn:
                                            type: string
                                            description: FQDN to deploy cluster
                                          infrastructureNetwork:
                                            type: array
                                            description: InfrastructureNetwork config
                                              to deploy AzureStackHCI Cluster.
                                            items:
                                              type: object
                                              description: The InfrastructureNetwork
                                                of a AzureStackHCI Cluster.
                                              properties:
                                                subnetMask:
                                                  type: string
                                                  description: Subnet mask that matches
                                                    the provided IP address space.
                                                gateway:
                                                  type: string
                                                  description: Default gateway that
                                                    should be used for the provided
                                                    IP address space.
                                                ipPools:
                                                  type: array
                                                  description: Range of IP addresses
                                                    from which addresses are allocated
                                                    for nodes within a subnet.
                                                  items:
                                                    type: object
                                                    description: The dnsServers of
                                                      a device.
                                                    properties:
                                                      startingAddress:
                                                        type: string
                                                        description: Starting IP address
                                                          for the management network.
                                                          A minimum of six free, contiguous
                                                          IPv4 addresses (excluding
                                                          your host IPs) are needed
                                                          for infrastructure services
                                                          such as clustering.
                                                      endingAddress:
                                                        type: string
                                                        description: Ending IP address
                                                          for the management network.
                                                          A minimum of six free, contiguous
                                                          IPv4 addresses (excluding
                                                          your host IPs) are needed
                                                          for infrastructure services
                                                          such as clustering.
                                                  x-ms-identifiers: []
                                                dnsServers:
                                                  type: array
                                                  description: IPv4 address of the
                                                    DNS servers in your environment.
                                                  items:
                                                    type: string
                                                useDhcp:
                                                  type: boolean
                                                  description: Allows customers to
                                                    use DHCP for Hosts and Cluster
                                                    IPs. If not declared, the deployment
                                                    will default to static IPs. When
                                                    true, GW and DNS servers are not
                                                    required
                                            x-ms-identifiers: []
                                          physicalNodes:
                                            type: array
                                            description: list of physical nodes config
                                              to deploy AzureStackHCI Cluster.
                                            items:
                                              type: object
                                              description: The PhysicalNodes of a
                                                cluster.
                                              properties:
                                                name:
                                                  type: string
                                                  description: NETBIOS name of each
                                                    physical server on your Azure
                                                    Stack HCI cluster.
                                                ipv4Address:
                                                  type: string
                                                  description: The IPv4 address assigned
                                                    to each physical server on your
                                                    Azure Stack HCI cluster.
                                            x-ms-identifiers:
                                            - name
                                          hostNetwork:
                                            description: HostNetwork config to deploy
                                              AzureStackHCI Cluster.
                                            type: object
                                            properties:
                                              intents:
                                                type: array
                                                description: The network intents assigned
                                                  to the network reference pattern
                                                  used for the deployment. Each intent
                                                  will define its own name, traffic
                                                  type, adapter names, and overrides
                                                  as recommended by your OEM.
                                                items:
                                                  type: object
                                                  description: The Intents of a cluster.
                                                  properties:
                                                    name:
                                                      type: string
                                                      description: Name of the network
                                                        intent you wish to create.
                                                    trafficType:
                                                      type: array
                                                      description: List of network
                                                        traffic types. Only allowed
                                                        values are 'Compute', 'Storage',
                                                        'Management'.
                                                      items:
                                                        type: string
                                                    adapter:
                                                      type: array
                                                      description: Array of network
                                                        interfaces used for the network
                                                        intent.
                                                      items:
                                                        type: string
                                                    overrideVirtualSwitchConfiguration:
                                                      type: boolean
                                                      description: This parameter
                                                        should only be modified based
                                                        on your OEM guidance. Do not
                                                        modify this parameter without
                                                        OEM validation.
                                                      default: false
                                                    virtualSwitchConfigurationOverrides:
                                                      description: Set virtualSwitch
                                                        ConfigurationOverrides for
                                                        cluster.
                                                      type: object
                                                      properties:
                                                        enableIov:
                                                          type: string
                                                          description: Enable IoV
                                                            for Virtual Switch
                                                        loadBalancingAlgorithm:
                                                          type: string
                                                          description: Load Balancing
                                                            Algorithm for Virtual
                                                            Switch
                                                    overrideQosPolicy:
                                                      type: boolean
                                                      description: This parameter
                                                        should only be modified based
                                                        on your OEM guidance. Do not
                                                        modify this parameter without
                                                        OEM validation.
                                                      default: false
                                                    qosPolicyOverrides:
                                                      description: Set QoS PolicyOverrides
                                                        for cluster.
                                                      type: object
                                                      properties:
                                                        priorityValue8021Action_Cluster:
                                                          type: string
                                                          description: This parameter
                                                            should only be modified
                                                            based on your OEM guidance.
                                                            Do not modify this parameter
                                                            without OEM validation.
                                                        priorityValue8021Action_SMB:
                                                          type: string
                                                          description: This parameter
                                                            should only be modified
                                                            based on your OEM guidance.
                                                            Do not modify this parameter
                                                            without OEM validation.
                                                        bandwidthPercentage_SMB:
                                                          type: string
                                                          description: This parameter
                                                            should only be modified
                                                            based on your OEM guidance.
                                                            Do not modify this parameter
                                                            without OEM validation.
                                                    overrideAdapterProperty:
                                                      type: boolean
                                                      description: This parameter
                                                        should only be modified based
                                                        on your OEM guidance. Do not
                                                        modify this parameter without
                                                        OEM validation.
                                                      default: false
                                                    adapterPropertyOverrides:
                                                      description: Set Adapter PropertyOverrides
                                                        for cluster.
                                                      type: object
                                                      properties:
                                                        jumboPacket:
                                                          type: string
                                                          description: This parameter
                                                            should only be modified
                                                            based on your OEM guidance.
                                                            Do not modify this parameter
                                                            without OEM validation.
                                                        networkDirect:
                                                          type: string
                                                          description: This parameter
                                                            should only be modified
                                                            based on your OEM guidance.
                                                            Do not modify this parameter
                                                            without OEM validation.
                                                        networkDirectTechnology:
                                                          type: string
                                                          description: This parameter
                                                            should only be modified
                                                            based on your OEM guidance.
                                                            Do not modify this parameter
                                                            without OEM validation.
                                                            Expected values are 'iWARP',
                                                            'RoCEv2', 'RoCE'
                                                x-ms-identifiers:
                                                - name
                                              storageNetworks:
                                                type: array
                                                description: List of StorageNetworks
                                                  config to deploy AzureStackHCI Cluster.
                                                items:
                                                  type: object
                                                  description: The StorageNetworks
                                                    of a cluster.
                                                  properties:
                                                    name:
                                                      type: string
                                                      description: Name of the storage
                                                        network.
                                                    networkAdapterName:
                                                      type: string
                                                      description: Name of the storage
                                                        network adapter.
                                                    vlanId:
                                                      type: string
                                                      description: 'ID specified for
                                                        the VLAN storage network.
                                                        This setting is applied to
                                                        the network interfaces that
                                                        route the storage and VM migration
                                                        traffic. '
                                                x-ms-identifiers:
                                                - name
                                              storageConnectivitySwitchless:
                                                type: boolean
                                                description: Defines how the storage
                                                  adapters between nodes are connected
                                                  either switch or switch less..
                                                default: false
                                              enableStorageAutoIp:
                                                type: boolean
                                                description: Optional parameter required
                                                  only for 3 Nodes Switchless deployments.
                                                  This allows users to specify IPs
                                                  and Mask for Storage NICs when Network
                                                  ATC is not assigning the IPs for
                                                  storage automatically.
                                                default: false
                                          adouPath:
                                            type: string
                                            description: 'The path to the Active Directory
                                              Organizational Unit container object
                                              prepared for the deployment. '
                                          secretsLocation:
                                            type: string
                                            description: The URI to the keyvault /
                                              secret store.
                                          optionalServices:
                                            description: OptionalServices config to
                                              deploy AzureStackHCI Cluster.
                                            type: object
                                            properties:
                                              customLocation:
                                                type: string
                                                description: The name of custom location.
                                    required:
                                    - deploymentData
                                    externalDocs:
                                      description: Deploy Azure Stack HCI using an
                                        existing configuration file
                                      url: https://learn.microsoft.com/en-us/azure-stack/hci/deploy/deployment-tool-existing-file
                                  x-ms-identifiers: []
                              required:
                              - scaleUnits
                            reportedProperties:
                              description: Deployment Status reported from cluster.
                              readOnly: true
                              type: object
                              properties:
                                validationStatus:
                                  description: validation status of AzureStackHCI
                                    Cluster Deployment.
                                  readOnly: true
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      description: Status of AzureStackHCI Cluster
                                        Deployment.
                                      readOnly: true
                                    steps:
                                      type: array
                                      description: List of steps of AzureStackHCI
                                        Cluster Deployment.
                                      items:
                                        type: object
                                        description: The Step of AzureStackHCI Cluster.
                                        properties:
                                          name:
                                            type: string
                                            description: Name of step.
                                            readOnly: true
                                          description:
                                            type: string
                                            description: Description of step.
                                            readOnly: true
                                          fullStepIndex:
                                            type: string
                                            description: FullStepIndex of step.
                                            readOnly: true
                                          startTimeUtc:
                                            type: string
                                            description: Start time of step.
                                            readOnly: true
                                          endTimeUtc:
                                            type: string
                                            description: End time of step.
                                            readOnly: true
                                          status:
                                            type: string
                                            description: Status of step. Allowed values
                                              are 'Error', 'Success', 'InProgress'
                                            readOnly: true
                                          steps:
                                            type: array
                                            description: List of nested steps of AzureStackHCI
                                              Cluster Deployment.
                                            items:
                                              type: object
                                              description: The Step of AzureStackHCI
                                                Cluster.
                                              properties:
                                                name:
                                                  type: string
                                                  description: Name of step.
                                                  readOnly: true
                                                description:
                                                  type: string
                                                  description: Description of step.
                                                  readOnly: true
                                                fullStepIndex:
                                                  type: string
                                                  description: FullStepIndex of step.
                                                  readOnly: true
                                                startTimeUtc:
                                                  type: string
                                                  description: Start time of step.
                                                  readOnly: true
                                                endTimeUtc:
                                                  type: string
                                                  description: End time of step.
                                                  readOnly: true
                                                status:
                                                  type: string
                                                  description: Status of step. Allowed
                                                    values are 'Error', 'Success',
                                                    'InProgress'
                                                  readOnly: true
                                                steps:
                                                  type: array
                                                  description: List of nested steps
                                                    of AzureStackHCI Cluster Deployment.
                                                  items:
                                                    type: object
                                                    description: The Step of AzureStackHCI
                                                      Cluster.
                                                    properties:
                                                      name:
                                                        type: string
                                                        description: Name of step.
                                                        readOnly: true
                                                      description:
                                                        type: string
                                                        description: Description of
                                                          step.
                                                        readOnly: true
                                                      fullStepIndex:
                                                        type: string
                                                        description: FullStepIndex
                                                          of step.
                                                        readOnly: true
                                                      startTimeUtc:
                                                        type: string
                                                        description: Start time of
                                                          step.
                                                        readOnly: true
                                                      endTimeUtc:
                                                        type: string
                                                        description: End time of step.
                                                        readOnly: true
                                                      status:
                                                        type: string
                                                        description: Status of step.
                                                          Allowed values are 'Error',
                                                          'Success', 'InProgress'
                                                        readOnly: true
                                                  readOnly: true
                                                  x-ms-identifiers: []
                                                exception:
                                                  type: array
                                                  description: List of exceptions
                                                    in AzureStackHCI Cluster Deployment.
                                                  items:
                                                    type: string
                                                  readOnly: true
                                                  x-ms-identifiers: []
                                            readOnly: true
                                            x-ms-identifiers: []
                                          exception:
                                            type: array
                                            description: List of exceptions in AzureStackHCI
                                              Cluster Deployment.
                                            items:
                                              type: string
                                            readOnly: true
                                            x-ms-identifiers: []
                                      readOnly: true
                                      x-ms-identifiers: []
                                deploymentStatus:
                                  description: Deployment status of AzureStackHCI
                                    Cluster Deployment.
                                  readOnly: true
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      description: Status of AzureStackHCI Cluster
                                        Deployment.
                                      readOnly: true
                                    steps:
                                      type: array
                                      description: List of steps of AzureStackHCI
                                        Cluster Deployment.
                                      items:
                                        type: object
                                        description: The Step of AzureStackHCI Cluster.
                                        properties:
                                          name:
                                            type: string
                                            description: Name of step.
                                            readOnly: true
                                          description:
                                            type: string
                                            description: Description of step.
                                            readOnly: true
                                          fullStepIndex:
                                            type: string
                                            description: FullStepIndex of step.
                                            readOnly: true
                                          startTimeUtc:
                                            type: string
                                            description: Start time of step.
                                            readOnly: true
                                          endTimeUtc:
                                            type: string
                                            description: End time of step.
                                            readOnly: true
                                          status:
                                            type: string
                                            description: Status of step. Allowed values
                                              are 'Error', 'Success', 'InProgress'
                                            readOnly: true
                                          steps:
                                            type: array
                                            description: List of nested steps of AzureStackHCI
                                              Cluster Deployment.
                                            items:
                                              type: object
                                              description: The Step of AzureStackHCI
                                                Cluster.
                                              properties:
                                                name:
                                                  type: string
                                                  description: Name of step.
                                                  readOnly: true
                                                description:
                                                  type: string
                                                  description: Description of step.
                                                  readOnly: true
                                                fullStepIndex:
                                                  type: string
                                                  description: FullStepIndex of step.
                                                  readOnly: true
                                                startTimeUtc:
                                                  type: string
                                                  description: Start time of step.
                                                  readOnly: true
                                                endTimeUtc:
                                                  type: string
                                                  description: End time of step.
                                                  readOnly: true
                                                status:
                                                  type: string
                                                  description: Status of step. Allowed
                                                    values are 'Error', 'Success',
                                                    'InProgress'
                                                  readOnly: true
                                                steps:
                                                  type: array
                                                  description: List of nested steps
                                                    of AzureStackHCI Cluster Deployment.
                                                  items:
                                                    type: object
                                                    description: The Step of AzureStackHCI
                                                      Cluster.
                                                    properties:
                                                      name:
                                                        type: string
                                                        description: Name of step.
                                                        readOnly: true
                                                      description:
                                                        type: string
                                                        description: Description of
                                                          step.
                                                        readOnly: true
                                                      fullStepIndex:
                                                        type: string
                                                        description: FullStepIndex
                                                          of step.
                                                        readOnly: true
                                                      startTimeUtc:
                                                        type: string
                                                        description: Start time of
                                                          step.
                                                        readOnly: true
                                                      endTimeUtc:
                                                        type: string
                                                        description: End time of step.
                                                        readOnly: true
                                                      status:
                                                        type: string
                                                        description: Status of step.
                                                          Allowed values are 'Error',
                                                          'Success', 'InProgress'
                                                        readOnly: true
                                                  readOnly: true
                                                  x-ms-identifiers: []
                                                exception:
                                                  type: array
                                                  description: List of exceptions
                                                    in AzureStackHCI Cluster Deployment.
                                                  items:
                                                    type: string
                                                  readOnly: true
                                                  x-ms-identifiers: []
                                            readOnly: true
                                            x-ms-identifiers: []
                                          exception:
                                            type: array
                                            description: List of exceptions in AzureStackHCI
                                              Cluster Deployment.
                                            items:
                                              type: string
                                            readOnly: true
                                            x-ms-identifiers: []
                                      readOnly: true
                                      x-ms-identifiers: []
                          required:
                          - arcNodeResourceIds
                          - deploymentMode
                          - deploymentConfiguration
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/deploymentSettings/{deploymentSettingsName}
  : get:
      operationId: DeploymentSettings_Get
      tags:
      - DeploymentSettings
      description: Get a DeploymentSetting
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: deploymentSettingsName
        in: path
        description: Name of Deployment Setting
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    x-ms-mutability:
                    - read
                    - create
                    type: object
                    properties:
                      provisioningState:
                        description: DeploymentSetting provisioning state
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - NotSpecified
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: NotSpecified
                            value: NotSpecified
                            description: The resource provision state is not specified
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                      arcNodeResourceIds:
                        type: array
                        description: Azure resource ids of Arc machines to be part
                          of cluster.
                        items:
                          type: string
                        x-ms-identifiers: []
                      deploymentMode:
                        description: The deployment mode for cluster deployment.
                        type: string
                        enum:
                        - Validate
                        - Deploy
                        default: Deploy
                        x-ms-enum:
                          name: DeploymentMode
                          modelAsString: true
                          values:
                          - name: Validate
                            value: Validate
                            description: Validate deployment settings for cluster.
                          - name: Deploy
                            value: Deploy
                            description: Deploy cluster using deployment settings.
                      deploymentConfiguration:
                        description: Scale units will contains list of deployment
                          data
                        x-ms-identifiers: []
                        type: object
                        properties:
                          version:
                            type: string
                            description: 'deployment template version '
                          scaleUnits:
                            type: array
                            description: Scale units will contains list of deployment
                              data
                            items:
                              type: object
                              description: Scale units will contains list of deployment
                                data
                              properties:
                                deploymentData:
                                  description: Deployment Data to deploy AzureStackHCI
                                    Cluster.
                                  type: object
                                  properties:
                                    securitySettings:
                                      description: SecuritySettings to deploy AzureStackHCI
                                        Cluster.
                                      type: object
                                      properties:
                                        hvciProtection:
                                          type: boolean
                                          description: By default, Hypervisor-protected
                                            Code Integrity is enabled on your Azure
                                            HCI cluster.
                                          default: true
                                        drtmProtection:
                                          type: boolean
                                          description: By default, Secure Boot is
                                            enabled on your Azure HCI cluster. This
                                            setting is hardware dependent.
                                          default: true
                                        driftControlEnforced:
                                          type: boolean
                                          description: When set to true, the security
                                            baseline is re-applied regularly.
                                          default: true
                                        credentialGuardEnforced:
                                          type: boolean
                                          description: When set to true, Credential
                                            Guard is enabled.
                                          default: false
                                        smbSigningEnforced:
                                          type: boolean
                                          description: When set to true, the SMB default
                                            instance requires sign in for the client
                                            and server services.
                                          default: true
                                        smbClusterEncryption:
                                          type: boolean
                                          description: When set to true, cluster east-west
                                            traffic is encrypted.
                                          default: false
                                        sideChannelMitigationEnforced:
                                          type: boolean
                                          description: When set to true, all the side
                                            channel mitigations are enabled
                                          default: true
                                        bitlockerBootVolume:
                                          type: boolean
                                          description: 'When set to true, BitLocker
                                            XTS_AES 256-bit encryption is enabled
                                            for all data-at-rest on the OS volume
                                            of your Azure Stack HCI cluster. This
                                            setting is TPM-hardware dependent. '
                                          default: true
                                        bitlockerDataVolumes:
                                          type: boolean
                                          description: When set to true, BitLocker
                                            XTS-AES 256-bit encryption is enabled
                                            for all data-at-rest on your Azure Stack
                                            HCI cluster shared volumes.
                                          default: true
                                        wdacEnforced:
                                          type: boolean
                                          description: WDAC is enabled by default
                                            and limits the applications and the code
                                            that you can run on your Azure Stack HCI
                                            cluster.
                                          default: true
                                    observability:
                                      description: Observability config to deploy
                                        AzureStackHCI Cluster.
                                      type: object
                                      properties:
                                        streamingDataClient:
                                          type: boolean
                                          description: Enables telemetry data to be
                                            sent to Microsoft
                                          default: true
                                        euLocation:
                                          type: boolean
                                          description: Location of your cluster. The
                                            log and diagnostic data is sent to the
                                            appropriate diagnostics servers depending
                                            upon where your cluster resides. Setting
                                            this to false results in all data sent
                                            to Microsoft to be stored outside of the
                                            EU.
                                          default: false
                                        episodicDataUpload:
                                          type: boolean
                                          description: When set to true, collects
                                            log data to facilitate quicker issue resolution.
                                          default: true
                                    cluster:
                                      description: Observability config to deploy
                                        AzureStackHCI Cluster.
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          description: The cluster name provided when
                                            preparing Active Directory.
                                        witnessType:
                                          type: string
                                          description: 'Use a cloud witness if you
                                            have internet access and if you use an
                                            Azure Storage account to provide a vote
                                            on cluster quorum. A cloud witness uses
                                            Azure Blob Storage to read or write a
                                            blob file and then uses it to arbitrate
                                            in split-brain resolution. Only allowed
                                            values are ''Cloud'', ''FileShare''. '
                                        witnessPath:
                                          type: string
                                          description: Specify the fileshare path
                                            for the local witness for your Azure Stack
                                            HCI cluster.
                                        cloudAccountName:
                                          type: string
                                          description: Specify the Azure Storage account
                                            name for cloud witness for your Azure
                                            Stack HCI cluster.
                                        azureServiceEndpoint:
                                          type: string
                                          description: For Azure blob service endpoint
                                            type, select either Default or Custom
                                            domain. If you selected **Custom domain,
                                            enter the domain for the blob service
                                            in this format core.windows.net.
                                    storage:
                                      description: Storage config to deploy AzureStackHCI
                                        Cluster.
                                      type: object
                                      properties:
                                        configurationMode:
                                          type: string
                                          description: By default, this mode is set
                                            to Express and your storage is configured
                                            as per best practices based on the number
                                            of nodes in the cluster. Allowed values
                                            are 'Express','InfraOnly', 'KeepStorage'
                                          default: Express
                                    namingPrefix:
                                      type: string
                                      description: naming prefix to deploy cluster.
                                      pattern: ^[a-zA-Z0-9-]{1,8}$
                                    domainFqdn:
                                      type: string
                                      description: FQDN to deploy cluster
                                    infrastructureNetwork:
                                      type: array
                                      description: InfrastructureNetwork config to
                                        deploy AzureStackHCI Cluster.
                                      items:
                                        type: object
                                        description: The InfrastructureNetwork of
                                          a AzureStackHCI Cluster.
                                        properties:
                                          subnetMask:
                                            type: string
                                            description: Subnet mask that matches
                                              the provided IP address space.
                                          gateway:
                                            type: string
                                            description: Default gateway that should
                                              be used for the provided IP address
                                              space.
                                          ipPools:
                                            type: array
                                            description: Range of IP addresses from
                                              which addresses are allocated for nodes
                                              within a subnet.
                                            items:
                                              type: object
                                              description: The dnsServers of a device.
                                              properties:
                                                startingAddress:
                                                  type: string
                                                  description: Starting IP address
                                                    for the management network. A
                                                    minimum of six free, contiguous
                                                    IPv4 addresses (excluding your
                                                    host IPs) are needed for infrastructure
                                                    services such as clustering.
                                                endingAddress:
                                                  type: string
                                                  description: Ending IP address for
                                                    the management network. A minimum
                                                    of six free, contiguous IPv4 addresses
                                                    (excluding your host IPs) are
                                                    needed for infrastructure services
                                                    such as clustering.
                                            x-ms-identifiers: []
                                          dnsServers:
                                            type: array
                                            description: IPv4 address of the DNS servers
                                              in your environment.
                                            items:
                                              type: string
                                          useDhcp:
                                            type: boolean
                                            description: Allows customers to use DHCP
                                              for Hosts and Cluster IPs. If not declared,
                                              the deployment will default to static
                                              IPs. When true, GW and DNS servers are
                                              not required
                                      x-ms-identifiers: []
                                    physicalNodes:
                                      type: array
                                      description: list of physical nodes config to
                                        deploy AzureStackHCI Cluster.
                                      items:
                                        type: object
                                        description: The PhysicalNodes of a cluster.
                                        properties:
                                          name:
                                            type: string
                                            description: NETBIOS name of each physical
                                              server on your Azure Stack HCI cluster.
                                          ipv4Address:
                                            type: string
                                            description: The IPv4 address assigned
                                              to each physical server on your Azure
                                              Stack HCI cluster.
                                      x-ms-identifiers:
                                      - name
                                    hostNetwork:
                                      description: HostNetwork config to deploy AzureStackHCI
                                        Cluster.
                                      type: object
                                      properties:
                                        intents:
                                          type: array
                                          description: The network intents assigned
                                            to the network reference pattern used
                                            for the deployment. Each intent will define
                                            its own name, traffic type, adapter names,
                                            and overrides as recommended by your OEM.
                                          items:
                                            type: object
                                            description: The Intents of a cluster.
                                            properties:
                                              name:
                                                type: string
                                                description: Name of the network intent
                                                  you wish to create.
                                              trafficType:
                                                type: array
                                                description: List of network traffic
                                                  types. Only allowed values are 'Compute',
                                                  'Storage', 'Management'.
                                                items:
                                                  type: string
                                              adapter:
                                                type: array
                                                description: Array of network interfaces
                                                  used for the network intent.
                                                items:
                                                  type: string
                                              overrideVirtualSwitchConfiguration:
                                                type: boolean
                                                description: This parameter should
                                                  only be modified based on your OEM
                                                  guidance. Do not modify this parameter
                                                  without OEM validation.
                                                default: false
                                              virtualSwitchConfigurationOverrides:
                                                description: Set virtualSwitch ConfigurationOverrides
                                                  for cluster.
                                                type: object
                                                properties:
                                                  enableIov:
                                                    type: string
                                                    description: Enable IoV for Virtual
                                                      Switch
                                                  loadBalancingAlgorithm:
                                                    type: string
                                                    description: Load Balancing Algorithm
                                                      for Virtual Switch
                                              overrideQosPolicy:
                                                type: boolean
                                                description: This parameter should
                                                  only be modified based on your OEM
                                                  guidance. Do not modify this parameter
                                                  without OEM validation.
                                                default: false
                                              qosPolicyOverrides:
                                                description: Set QoS PolicyOverrides
                                                  for cluster.
                                                type: object
                                                properties:
                                                  priorityValue8021Action_Cluster:
                                                    type: string
                                                    description: This parameter should
                                                      only be modified based on your
                                                      OEM guidance. Do not modify
                                                      this parameter without OEM validation.
                                                  priorityValue8021Action_SMB:
                                                    type: string
                                                    description: This parameter should
                                                      only be modified based on your
                                                      OEM guidance. Do not modify
                                                      this parameter without OEM validation.
                                                  bandwidthPercentage_SMB:
                                                    type: string
                                                    description: This parameter should
                                                      only be modified based on your
                                                      OEM guidance. Do not modify
                                                      this parameter without OEM validation.
                                              overrideAdapterProperty:
                                                type: boolean
                                                description: This parameter should
                                                  only be modified based on your OEM
                                                  guidance. Do not modify this parameter
                                                  without OEM validation.
                                                default: false
                                              adapterPropertyOverrides:
                                                description: Set Adapter PropertyOverrides
                                                  for cluster.
                                                type: object
                                                properties:
                                                  jumboPacket:
                                                    type: string
                                                    description: This parameter should
                                                      only be modified based on your
                                                      OEM guidance. Do not modify
                                                      this parameter without OEM validation.
                                                  networkDirect:
                                                    type: string
                                                    description: This parameter should
                                                      only be modified based on your
                                                      OEM guidance. Do not modify
                                                      this parameter without OEM validation.
                                                  networkDirectTechnology:
                                                    type: string
                                                    description: This parameter should
                                                      only be modified based on your
                                                      OEM guidance. Do not modify
                                                      this parameter without OEM validation.
                                                      Expected values are 'iWARP',
                                                      'RoCEv2', 'RoCE'
                                          x-ms-identifiers:
                                          - name
                                        storageNetworks:
                                          type: array
                                          description: List of StorageNetworks config
                                            to deploy AzureStackHCI Cluster.
                                          items:
                                            type: object
                                            description: The StorageNetworks of a
                                              cluster.
                                            properties:
                                              name:
                                                type: string
                                                description: Name of the storage network.
                                              networkAdapterName:
                                                type: string
[...]
