openapi: 3.0.0
info:
  title: Edge Devices
  version: 2024-01-01
  description: Azure Arc-enabled Edge Device.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: EdgeDevices
paths:
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices:
    get:
      operationId: EdgeDevices_List
      tags:
      - EdgeDevices
      description: List EdgeDevice resources by parent
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a EdgeDevice list operation.
                properties:
                  value:
                    type: array
                    description: The EdgeDevice items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The resource-specific properties for this resource.
                          x-ms-client-flatten: true
                          x-ms-mutability:
                          - read
                          - create
                          type: object
                          properties:
                            deviceConfiguration:
                              description: Device Configuration
                              type: object
                              properties:
                                nicDetails:
                                  type: array
                                  description: NIC Details of device
                                  items:
                                    type: object
                                    description: The NIC Detail of a device.
                                    properties:
                                      adapterName:
                                        type: string
                                        description: Adapter Name of NIC
                                      interfaceDescription:
                                        type: string
                                        description: Interface Description of NIC
                                      componentId:
                                        type: string
                                        description: Component Id of NIC
                                      driverVersion:
                                        type: string
                                        description: Driver Version of NIC
                                      ip4Address:
                                        type: string
                                        description: Subnet Mask of NIC
                                      subnetMask:
                                        type: string
                                        description: Subnet Mask of NIC
                                      defaultGateway:
                                        type: string
                                        description: Default Gateway of NIC
                                      dnsServers:
                                        type: array
                                        description: DNS Servers for NIC
                                        items:
                                          type: string
                                        x-ms-identifiers: []
                                      defaultIsolationId:
                                        type: string
                                        description: Default Isolation of Management
                                          NIC
                                    required:
                                    - adapterName
                                  x-ms-identifiers: []
                                deviceMetadata:
                                  type: string
                                  description: device metadata details.
                            provisioningState:
                              description: Provisioning state of edgeDevice resource
                              type: string
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - NotSpecified
                              - Provisioning
                              - Updating
                              - Deleting
                              - Accepted
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                                - name: NotSpecified
                                  value: NotSpecified
                                  description: The resource provision state is not
                                    specified
                                - name: Provisioning
                                  value: Provisioning
                                  description: The resource is being provisioned
                                - name: Updating
                                  value: Updating
                                  description: The resource is updating
                                - name: Deleting
                                  value: Deleting
                                  description: The resource is being deleted
                                - name: Accepted
                                  value: Accepted
                                  description: The resource create request has been
                                    accepted
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}:
    get:
      operationId: EdgeDevices_Get
      tags:
      - EdgeDevices
      description: Get a EdgeDevice
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    x-ms-mutability:
                    - read
                    - create
                    type: object
                    properties:
                      deviceConfiguration:
                        description: Device Configuration
                        type: object
                        properties:
                          nicDetails:
                            type: array
                            description: NIC Details of device
                            items:
                              type: object
                              description: The NIC Detail of a device.
                              properties:
                                adapterName:
                                  type: string
                                  description: Adapter Name of NIC
                                interfaceDescription:
                                  type: string
                                  description: Interface Description of NIC
                                componentId:
                                  type: string
                                  description: Component Id of NIC
                                driverVersion:
                                  type: string
                                  description: Driver Version of NIC
                                ip4Address:
                                  type: string
                                  description: Subnet Mask of NIC
                                subnetMask:
                                  type: string
                                  description: Subnet Mask of NIC
                                defaultGateway:
                                  type: string
                                  description: Default Gateway of NIC
                                dnsServers:
                                  type: array
                                  description: DNS Servers for NIC
                                  items:
                                    type: string
                                  x-ms-identifiers: []
                                defaultIsolationId:
                                  type: string
                                  description: Default Isolation of Management NIC
                              required:
                              - adapterName
                            x-ms-identifiers: []
                          deviceMetadata:
                            type: string
                            description: device metadata details.
                      provisioningState:
                        description: Provisioning state of edgeDevice resource
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - NotSpecified
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: NotSpecified
                            value: NotSpecified
                            description: The resource provision state is not specified
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: EdgeDevices_CreateOrUpdate
      tags:
      - EdgeDevices
      description: Create a EdgeDevice
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The resource-specific properties for this resource.
                  x-ms-client-flatten: true
                  x-ms-mutability:
                  - read
                  - create
                  type: object
                  properties:
                    deviceConfiguration:
                      description: Device Configuration
                      type: object
                      properties:
                        nicDetails:
                          type: array
                          description: NIC Details of device
                          items:
                            type: object
                            description: The NIC Detail of a device.
                            properties:
                              adapterName:
                                type: string
                                description: Adapter Name of NIC
                              interfaceDescription:
                                type: string
                                description: Interface Description of NIC
                              componentId:
                                type: string
                                description: Component Id of NIC
                              driverVersion:
                                type: string
                                description: Driver Version of NIC
                              ip4Address:
                                type: string
                                description: Subnet Mask of NIC
                              subnetMask:
                                type: string
                                description: Subnet Mask of NIC
                              defaultGateway:
                                type: string
                                description: Default Gateway of NIC
                              dnsServers:
                                type: array
                                description: DNS Servers for NIC
                                items:
                                  type: string
                                x-ms-identifiers: []
                              defaultIsolationId:
                                type: string
                                description: Default Isolation of Management NIC
                            required:
                            - adapterName
                          x-ms-identifiers: []
                        deviceMetadata:
                          type: string
                          description: device metadata details.
                    provisioningState:
                      description: Provisioning state of edgeDevice resource
                      type: string
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - NotSpecified
                      - Provisioning
                      - Updating
                      - Deleting
                      - Accepted
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
                        - name: NotSpecified
                          value: NotSpecified
                          description: The resource provision state is not specified
                        - name: Provisioning
                          value: Provisioning
                          description: The resource is being provisioned
                        - name: Updating
                          value: Updating
                          description: The resource is updating
                        - name: Deleting
                          value: Deleting
                          description: The resource is being deleted
                        - name: Accepted
                          value: Accepted
                          description: The resource create request has been accepted
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Resource create parameters.
        required: true
      responses:
        '200':
          description: Resource 'EdgeDevice' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    x-ms-mutability:
                    - read
                    - create
                    type: object
                    properties:
                      deviceConfiguration:
                        description: Device Configuration
                        type: object
                        properties:
                          nicDetails:
                            type: array
                            description: NIC Details of device
                            items:
                              type: object
                              description: The NIC Detail of a device.
                              properties:
                                adapterName:
                                  type: string
                                  description: Adapter Name of NIC
                                interfaceDescription:
                                  type: string
                                  description: Interface Description of NIC
                                componentId:
                                  type: string
                                  description: Component Id of NIC
                                driverVersion:
                                  type: string
                                  description: Driver Version of NIC
                                ip4Address:
                                  type: string
                                  description: Subnet Mask of NIC
                                subnetMask:
                                  type: string
                                  description: Subnet Mask of NIC
                                defaultGateway:
                                  type: string
                                  description: Default Gateway of NIC
                                dnsServers:
                                  type: array
                                  description: DNS Servers for NIC
                                  items:
                                    type: string
                                  x-ms-identifiers: []
                                defaultIsolationId:
                                  type: string
                                  description: Default Isolation of Management NIC
                              required:
                              - adapterName
                            x-ms-identifiers: []
                          deviceMetadata:
                            type: string
                            description: device metadata details.
                      provisioningState:
                        description: Provisioning state of edgeDevice resource
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - NotSpecified
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: NotSpecified
                            value: NotSpecified
                            description: The resource provision state is not specified
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'EdgeDevice' create operation succeeded
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The resource-specific properties for this resource.
                    x-ms-client-flatten: true
                    x-ms-mutability:
                    - read
                    - create
                    type: object
                    properties:
                      deviceConfiguration:
                        description: Device Configuration
                        type: object
                        properties:
                          nicDetails:
                            type: array
                            description: NIC Details of device
                            items:
                              type: object
                              description: The NIC Detail of a device.
                              properties:
                                adapterName:
                                  type: string
                                  description: Adapter Name of NIC
                                interfaceDescription:
                                  type: string
                                  description: Interface Description of NIC
                                componentId:
                                  type: string
                                  description: Component Id of NIC
                                driverVersion:
                                  type: string
                                  description: Driver Version of NIC
                                ip4Address:
                                  type: string
                                  description: Subnet Mask of NIC
                                subnetMask:
                                  type: string
                                  description: Subnet Mask of NIC
                                defaultGateway:
                                  type: string
                                  description: Default Gateway of NIC
                                dnsServers:
                                  type: array
                                  description: DNS Servers for NIC
                                  items:
                                    type: string
                                  x-ms-identifiers: []
                                defaultIsolationId:
                                  type: string
                                  description: Default Isolation of Management NIC
                              required:
                              - adapterName
                            x-ms-identifiers: []
                          deviceMetadata:
                            type: string
                            description: device metadata details.
                      provisioningState:
                        description: Provisioning state of edgeDevice resource
                        type: string
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - NotSpecified
                        - Provisioning
                        - Updating
                        - Deleting
                        - Accepted
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                          - name: NotSpecified
                            value: NotSpecified
                            description: The resource provision state is not specified
                          - name: Provisioning
                            value: Provisioning
                            description: The resource is being provisioned
                          - name: Updating
                            value: Updating
                            description: The resource is updating
                          - name: Deleting
                            value: Deleting
                            description: The resource is being deleted
                          - name: Accepted
                            value: Accepted
                            description: The resource create request has been accepted
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    delete:
      operationId: EdgeDevices_Delete
      tags:
      - EdgeDevices
      description: Delete a EdgeDevice
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        '204':
          description: Resource deleted successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/validate:
    post:
      operationId: EdgeDevices_Validate
      tags:
      - EdgeDevices
      description: A long-running resource action.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceUri
        in: path
        description: The fully qualified Azure Resource manager identifier of the
          resource.
        required: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: edgeDeviceName
        in: path
        description: Name of Device
        required: true
        schema:
          type: string
          pattern: ^[a-zA-Z0-9-]{3,24}$
          default: default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The validate request for Edge Device.
              properties:
                edgeDeviceIds:
                  type: array
                  description: Node Ids against which, current node has to be validated.
                  items:
                    type: string
                additionalInfo:
                  type: string
                  description: additional Info required for validation
              required:
              - edgeDeviceIds
        description: The content of the action request
        required: true
      responses:
        '200':
          description: ARM operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: An Accepted response with an Operation-Location header.
                properties:
                  status:
                    type: string
                    description: edge device validation status
                    readOnly: true
        '202':
          description: Resource operation accepted.
          headers:
            Retry-After:
              description: The Retry-After header can indicate how long the client
                should wait before polling the operation status.
              schema:
                type: integer
                format: int32
            Location:
              description: The Location header contains the URL where the status of
                the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
components:
  parameters:
    Azure.ResourceManager.ResourceUriParameter:
      name: resourceUri
      in: path
      description: The fully qualified Azure Resource manager identifier of the resource.
      required: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    DeviceConfiguration:
      type: object
      description: The device Configuration of a device.
      properties:
        nicDetails:
          type: array
          description: NIC Details of device
          items:
            type: object
            description: The NIC Detail of a device.
            properties:
              adapterName:
                type: string
                description: Adapter Name of NIC
              interfaceDescription:
                type: string
                description: Interface Description of NIC
              componentId:
                type: string
                description: Component Id of NIC
              driverVersion:
                type: string
                description: Driver Version of NIC
              ip4Address:
                type: string
                description: Subnet Mask of NIC
              subnetMask:
                type: string
                description: Subnet Mask of NIC
              defaultGateway:
                type: string
                description: Default Gateway of NIC
              dnsServers:
                type: array
                description: DNS Servers for NIC
                items:
                  type: string
                x-ms-identifiers: []
              defaultIsolationId:
                type: string
                description: Default Isolation of Management NIC
            required:
            - adapterName
          x-ms-identifiers: []
        deviceMetadata:
          type: string
          description: device metadata details.
    EdgeDevice:
      type: object
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: The resource-specific properties for this resource.
          x-ms-client-flatten: true
          x-ms-mutability:
          - read
          - create
          type: object
          properties:
            deviceConfiguration:
              description: Device Configuration
              type: object
              properties:
                nicDetails:
                  type: array
                  description: NIC Details of device
                  items:
                    type: object
                    description: The NIC Detail of a device.
                    properties:
                      adapterName:
                        type: string
                        description: Adapter Name of NIC
                      interfaceDescription:
                        type: string
                        description: Interface Description of NIC
                      componentId:
                        type: string
                        description: Component Id of NIC
                      driverVersion:
                        type: string
                        description: Driver Version of NIC
                      ip4Address:
                        type: string
                        description: Subnet Mask of NIC
                      subnetMask:
                        type: string
                        description: Subnet Mask of NIC
                      defaultGateway:
                        type: string
                        description: Default Gateway of NIC
                      dnsServers:
                        type: array
                        description: DNS Servers for NIC
                        items:
                          type: string
                        x-ms-identifiers: []
                      defaultIsolationId:
                        type: string
                        description: Default Isolation of Management NIC
                    required:
                    - adapterName
                  x-ms-identifiers: []
                deviceMetadata:
                  type: string
                  description: device metadata details.
            provisioningState:
              description: Provisioning state of edgeDevice resource
              type: string
              readOnly: true
              enum:
              - Succeeded
              - Failed
              - Canceled
              - NotSpecified
              - Provisioning
              - Updating
              - Deleting
              - Accepted
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
                values:
                - name: Succeeded
                  value: Succeeded
                  description: Resource has been created.
                - name: Failed
                  value: Failed
                  description: Resource creation failed.
                - name: Canceled
                  value: Canceled
                  description: Resource creation was canceled.
                - name: NotSpecified
                  value: NotSpecified
                  description: The resource provision state is not specified
                - name: Provisioning
                  value: Provisioning
                  description: The resource is being provisioned
                - name: Updating
                  value: Updating
                  description: The resource is updating
                - name: Deleting
                  value: Deleting
                  description: The resource is being deleted
                - name: Accepted
                  value: Accepted
                  description: The resource create request has been accepted
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    EdgeDeviceListResult:
      type: object
      description: The response of a EdgeDevice list operation.
      properties:
        value:
          type: array
          description: The EdgeDevice items on this page
          items:
            type: object
            properties:
              id:
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                type: object
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: The resource-specific properties for this resource.
                x-ms-client-flatten: true
                x-ms-mutability:
                - read
                - create
                type: object
                properties:
                  deviceConfiguration:
                    description: Device Configuration
                    type: object
                    properties:
                      nicDetails:
                        type: array
                        description: NIC Details of device
                        items:
                          type: object
                          description: The NIC Detail of a device.
                          properties:
                            adapterName:
                              type: string
                              description: Adapter Name of NIC
                            interfaceDescription:
                              type: string
                              description: Interface Description of NIC
                            componentId:
                              type: string
                              description: Component Id of NIC
                            driverVersion:
                              type: string
                              description: Driver Version of NIC
                            ip4Address:
                              type: string
                              description: Subnet Mask of NIC
                            subnetMask:
                              type: string
                              description: Subnet Mask of NIC
                            defaultGateway:
                              type: string
                              description: Default Gateway of NIC
                            dnsServers:
                              type: array
                              description: DNS Servers for NIC
                              items:
                                type: string
                              x-ms-identifiers: []
                            defaultIsolationId:
                              type: string
                              description: Default Isolation of Management NIC
                          required:
                          - adapterName
                        x-ms-identifiers: []
                      deviceMetadata:
                        type: string
                        description: device metadata details.
                  provisioningState:
                    description: Provisioning state of edgeDevice resource
                    type: string
                    readOnly: true
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - NotSpecified
                    - Provisioning
                    - Updating
                    - Deleting
                    - Accepted
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                      values:
                      - name: Succeeded
                        value: Succeeded
                        description: Resource has been created.
                      - name: Failed
                        value: Failed
                        description: Resource creation failed.
                      - name: Canceled
                        value: Canceled
                        description: Resource creation was canceled.
                      - name: NotSpecified
                        value: NotSpecified
                        description: The resource provision state is not specified
                      - name: Provisioning
                        value: Provisioning
                        description: The resource is being provisioned
                      - name: Updating
                        value: Updating
                        description: The resource is updating
                      - name: Deleting
                        value: Deleting
                        description: The resource is being deleted
                      - name: Accepted
                        value: Accepted
                        description: The resource create request has been accepted
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    EdgeDeviceProperties:
      type: object
      description: Edge Device properties
      properties:
        deviceConfiguration:
          description: Device Configuration
          type: object
          properties:
            nicDetails:
              type: array
              description: NIC Details of device
              items:
                type: object
                description: The NIC Detail of a device.
                properties:
                  adapterName:
                    type: string
                    description: Adapter Name of NIC
                  interfaceDescription:
                    type: string
                    description: Interface Description of NIC
                  componentId:
                    type: string
                    description: Component Id of NIC
                  driverVersion:
                    type: string
                    description: Driver Version of NIC
                  ip4Address:
                    type: string
                    description: Subnet Mask of NIC
                  subnetMask:
                    type: string
                    description: Subnet Mask of NIC
                  defaultGateway:
                    type: string
                    description: Default Gateway of NIC
                  dnsServers:
                    type: array
                    description: DNS Servers for NIC
                    items:
                      type: string
                    x-ms-identifiers: []
                  defaultIsolationId:
                    type: string
                    description: Default Isolation of Management NIC
                required:
                - adapterName
              x-ms-identifiers: []
            deviceMetadata:
              type: string
              description: device metadata details.
        provisioningState:
          description: Provisioning state of edgeDevice resource
          type: string
          readOnly: true
          enum:
          - Succeeded
          - Failed
          - Canceled
          - NotSpecified
          - Provisioning
          - Updating
          - Deleting
          - Accepted
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
            values:
            - name: Succeeded
              value: Succeeded
              description: Resource has been created.
            - name: Failed
              value: Failed
              description: Resource creation failed.
            - name: Canceled
              value: Canceled
              description: Resource creation was canceled.
            - name: NotSpecified
              value: NotSpecified
              description: The resource provision state is not specified
            - name: Provisioning
              value: Provisioning
              description: The resource is being provisioned
            - name: Updating
              value: Updating
              description: The resource is updating
            - name: Deleting
              value: Deleting
              description: The resource is being deleted
            - name: Accepted
              value: Accepted
              description: The resource create request has been accepted
    NicDetail:
      type: object
      description: The NIC Detail of a device.
      properties:
        adapterName:
          type: string
          description: Adapter Name of NIC
        interfaceDescription:
          type: string
          description: Interface Description of NIC
        componentId:
          type: string
          description: Component Id of NIC
        driverVersion:
          type: string
          description: Driver Version of NIC
        ip4Address:
          type: string
          description: Subnet Mask of NIC
        subnetMask:
          type: string
          description: Subnet Mask of NIC
        defaultGateway:
          type: string
          description: Default Gateway of NIC
        dnsServers:
          type: array
          description: DNS Servers for NIC
          items:
            type: string
          x-ms-identifiers: []
        defaultIsolationId:
          type: string
          description: Default Isolation of Management NIC
      required:
      - adapterName
    ProvisioningState:
      type: string
      description: The provisioning state of a resource.
      readOnly: true
      enum:
      - Succeeded
      - Failed
      - Canceled
      - NotSpecified
      - Provisioning
      - Updating
      - Deleting
      - Accepted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Succeeded
          value: Succeeded
          description: Resource has been created.
        - name: Failed
          value: Failed
          description: Resource creation failed.
        - name: Canceled
          value: Canceled
          description: Resource creation was canceled.
        - name: NotSpecified
          value: NotSpecified
          description: The resource provision state is not specified
        - name: Provisioning
          value: Provisioning
          description: The resource is being provisioned
        - name: Updating
          value: Updating
          description: The resource is updating
        - name: Deleting
          value: Deleting
          description: The resource is being deleted
        - name: Accepted
          value: Accepted
          description: The resource create request has been accepted
    ValidateRequest:
      type: object
      description: The validate request for Edge Device.
      properties:
        edgeDeviceIds:
          type: array
          description: Node Ids against which, current node has to be validated.
          items:
            type: string
        additionalInfo:
          type: string
          description: additional Info required for validation
      required:
      - edgeDeviceIds
    ValidateResponse:
      type: object
      description: An Accepted response with an Operation-Location header.
      properties:
        status:
          type: string
          description: edge device validation status
          readOnly: true
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
[...]
