openapi: 3.0.0
info:
  title: AzureStackHCI
  description: The Microsoft.AzureStackHCI Rest API spec.
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/marketplaceGalleryImages/{marketplaceGalleryImageName}
  : get:
      operationId: MarketplaceGalleryImages_Get
      description: Gets a marketplace gallery image
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: marketplaceGalleryImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the marketplace gallery image
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,78}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      containerId:
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.AzureStackHCI/storageContainers
                        description: Storage ContainerID of the storage container
                          to be used for marketplace gallery image
                      osType:
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OperatingSystemTypes
                          modelAsString: false
                        description: Operating system type that the gallery image
                          uses [Windows, Linux]
                      cloudInitDataSource:
                        type: string
                        description: Datasource for the gallery image when provisioning
                          with cloud-init [NoCloud, Azure]
                        enum:
                        - NoCloud
                        - Azure
                        x-ms-enum:
                          name: CloudInitDataSource
                          modelAsString: true
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine
                          [V1, V2]
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      identifier:
                        type: object
                        properties:
                          publisher:
                            type: string
                            description: The name of the gallery image definition
                              publisher.
                          offer:
                            type: string
                            description: The name of the gallery image definition
                              offer.
                          sku:
                            type: string
                            description: The name of the gallery image definition
                              SKU.
                        required:
                        - publisher
                        - offer
                        - sku
                        description: This is the gallery image definition identifier.
                      version:
                        type: object
                        properties:
                          name:
                            type: string
                            description: This is the version of the gallery image.
                          properties:
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              storageProfile:
                                type: object
                                properties:
                                  osDiskImage:
                                    type: object
                                    properties:
                                      sizeInMB:
                                        type: integer
                                        format: int64
                                        readOnly: true
                                        description: This property indicates the size
                                          of the VHD to be created.
                                    description: This is the disk image base class.
                                description: This is the storage profile of a Gallery
                                  Image Version.
                            required:
                            - storageProfile
                            description: Describes the properties of a gallery image
                              version.
                        description: Specifies information about the gallery image
                          version that you want to create or update.
                      provisioningState:
                        type: string
                        description: Provisioning state of the marketplace gallery
                          image.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: MarketplaceGalleryImage provisioning error
                              code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the gallery image
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the gallery image [Succeeded, Failed, InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                          downloadStatus:
                            type: object
                            properties:
                              downloadSizeInMB:
                                type: integer
                                format: int64
                                description: The downloaded sized of the image in
                                  MB
                            description: The download status of the gallery image
                          progressPercentage:
                            type: integer
                            format: int64
                            description: The progress of the operation in percentage
                        description: The observed state of marketplace gallery images
                    required:
                    - osType
                    description: Properties under the marketplace gallery image resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: MarketplaceGalleryImages_CreateOrUpdate
      description: The operation to create or update a marketplace gallery image.
        Please note some properties can be set only during marketplace gallery image
        creation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: marketplaceGalleryImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the marketplace gallery image
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,78}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    containerId:
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.AzureStackHCI/storageContainers
                      description: Storage ContainerID of the storage container to
                        be used for marketplace gallery image
                    osType:
                      type: string
                      enum:
                      - Windows
                      - Linux
                      x-ms-enum:
                        name: OperatingSystemTypes
                        modelAsString: false
                      description: Operating system type that the gallery image uses
                        [Windows, Linux]
                    cloudInitDataSource:
                      type: string
                      description: Datasource for the gallery image when provisioning
                        with cloud-init [NoCloud, Azure]
                      enum:
                      - NoCloud
                      - Azure
                      x-ms-enum:
                        name: CloudInitDataSource
                        modelAsString: true
                    hyperVGeneration:
                      type: string
                      description: The hypervisor generation of the Virtual Machine
                        [V1, V2]
                      enum:
                      - V1
                      - V2
                      x-ms-enum:
                        name: HyperVGeneration
                        modelAsString: true
                    identifier:
                      type: object
                      properties:
                        publisher:
                          type: string
                          description: The name of the gallery image definition publisher.
                        offer:
                          type: string
                          description: The name of the gallery image definition offer.
                        sku:
                          type: string
                          description: The name of the gallery image definition SKU.
                      required:
                      - publisher
                      - offer
                      - sku
                      description: This is the gallery image definition identifier.
                    version:
                      type: object
                      properties:
                        name:
                          type: string
                          description: This is the version of the gallery image.
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            storageProfile:
                              type: object
                              properties:
                                osDiskImage:
                                  type: object
                                  properties:
                                    sizeInMB:
                                      type: integer
                                      format: int64
                                      readOnly: true
                                      description: This property indicates the size
                                        of the VHD to be created.
                                  description: This is the disk image base class.
                              description: This is the storage profile of a Gallery
                                Image Version.
                          required:
                          - storageProfile
                          description: Describes the properties of a gallery image
                            version.
                      description: Specifies information about the gallery image version
                        that you want to create or update.
                    provisioningState:
                      type: string
                      description: Provisioning state of the marketplace gallery image.
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - InProgress
                      - Accepted
                      - Deleting
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningStateEnum
                        modelAsString: true
                    status:
                      type: object
                      x-ms-client-flatten: true
                      readOnly: true
                      properties:
                        errorCode:
                          type: string
                          description: MarketplaceGalleryImage provisioning error
                            code
                        errorMessage:
                          type: string
                          description: Descriptive error message
                        provisioningStatus:
                          type: object
                          properties:
                            operationId:
                              type: string
                              description: The ID of the operation performed on the
                                gallery image
                            status:
                              type: string
                              description: The status of the operation performed on
                                the gallery image [Succeeded, Failed, InProgress]
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              x-ms-enum:
                                name: Status
                                modelAsString: true
                        downloadStatus:
                          type: object
                          properties:
                            downloadSizeInMB:
                              type: integer
                              format: int64
                              description: The downloaded sized of the image in MB
                          description: The download status of the gallery image
                        progressPercentage:
                          type: integer
                          format: int64
                          description: The progress of the operation in percentage
                      description: The observed state of marketplace gallery images
                  required:
                  - osType
                  description: Properties under the marketplace gallery image resource
                extendedLocation:
                  description: The extendedLocation of the resource.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the extended location.
                    type:
                      description: The type of the extended location.
                      type: string
                      enum:
                      - CustomLocation
                      x-ms-enum:
                        name: ExtendedLocationTypes
                        modelAsString: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              x-ms-client-flatten: true
        required: true
      responses:
        '200':
          description: Updates the marketplace gallery image resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      containerId:
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.AzureStackHCI/storageContainers
                        description: Storage ContainerID of the storage container
                          to be used for marketplace gallery image
                      osType:
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OperatingSystemTypes
                          modelAsString: false
                        description: Operating system type that the gallery image
                          uses [Windows, Linux]
                      cloudInitDataSource:
                        type: string
                        description: Datasource for the gallery image when provisioning
                          with cloud-init [NoCloud, Azure]
                        enum:
                        - NoCloud
                        - Azure
                        x-ms-enum:
                          name: CloudInitDataSource
                          modelAsString: true
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine
                          [V1, V2]
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      identifier:
                        type: object
                        properties:
                          publisher:
                            type: string
                            description: The name of the gallery image definition
                              publisher.
                          offer:
                            type: string
                            description: The name of the gallery image definition
                              offer.
                          sku:
                            type: string
                            description: The name of the gallery image definition
                              SKU.
                        required:
                        - publisher
                        - offer
                        - sku
                        description: This is the gallery image definition identifier.
                      version:
                        type: object
                        properties:
                          name:
                            type: string
                            description: This is the version of the gallery image.
                          properties:
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              storageProfile:
                                type: object
                                properties:
                                  osDiskImage:
                                    type: object
                                    properties:
                                      sizeInMB:
                                        type: integer
                                        format: int64
                                        readOnly: true
                                        description: This property indicates the size
                                          of the VHD to be created.
                                    description: This is the disk image base class.
                                description: This is the storage profile of a Gallery
                                  Image Version.
                            required:
                            - storageProfile
                            description: Describes the properties of a gallery image
                              version.
                        description: Specifies information about the gallery image
                          version that you want to create or update.
                      provisioningState:
                        type: string
                        description: Provisioning state of the marketplace gallery
                          image.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: MarketplaceGalleryImage provisioning error
                              code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the gallery image
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the gallery image [Succeeded, Failed, InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                          downloadStatus:
                            type: object
                            properties:
                              downloadSizeInMB:
                                type: integer
                                format: int64
                                description: The downloaded sized of the image in
                                  MB
                            description: The download status of the gallery image
                          progressPercentage:
                            type: integer
                            format: int64
                            description: The progress of the operation in percentage
                        description: The observed state of marketplace gallery images
                    required:
                    - osType
                    description: Properties under the marketplace gallery image resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        '201':
          description: Creates the marketplace gallery image resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      containerId:
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.AzureStackHCI/storageContainers
                        description: Storage ContainerID of the storage container
                          to be used for marketplace gallery image
                      osType:
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OperatingSystemTypes
                          modelAsString: false
                        description: Operating system type that the gallery image
                          uses [Windows, Linux]
                      cloudInitDataSource:
                        type: string
                        description: Datasource for the gallery image when provisioning
                          with cloud-init [NoCloud, Azure]
                        enum:
                        - NoCloud
                        - Azure
                        x-ms-enum:
                          name: CloudInitDataSource
                          modelAsString: true
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine
                          [V1, V2]
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      identifier:
                        type: object
                        properties:
                          publisher:
                            type: string
                            description: The name of the gallery image definition
                              publisher.
                          offer:
                            type: string
                            description: The name of the gallery image definition
                              offer.
                          sku:
                            type: string
                            description: The name of the gallery image definition
                              SKU.
                        required:
                        - publisher
                        - offer
                        - sku
                        description: This is the gallery image definition identifier.
                      version:
                        type: object
                        properties:
                          name:
                            type: string
                            description: This is the version of the gallery image.
                          properties:
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              storageProfile:
                                type: object
                                properties:
                                  osDiskImage:
                                    type: object
                                    properties:
                                      sizeInMB:
                                        type: integer
                                        format: int64
                                        readOnly: true
                                        description: This property indicates the size
                                          of the VHD to be created.
                                    description: This is the disk image base class.
                                description: This is the storage profile of a Gallery
                                  Image Version.
                            required:
                            - storageProfile
                            description: Describes the properties of a gallery image
                              version.
                        description: Specifies information about the gallery image
                          version that you want to create or update.
                      provisioningState:
                        type: string
                        description: Provisioning state of the marketplace gallery
                          image.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: MarketplaceGalleryImage provisioning error
                              code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the gallery image
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the gallery image [Succeeded, Failed, InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                          downloadStatus:
                            type: object
                            properties:
                              downloadSizeInMB:
                                type: integer
                                format: int64
                                description: The downloaded sized of the image in
                                  MB
                            description: The download status of the gallery image
                          progressPercentage:
                            type: integer
                            format: int64
                            description: The progress of the operation in percentage
                        description: The observed state of marketplace gallery images
                    required:
                    - osType
                    description: Properties under the marketplace gallery image resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      operationId: MarketplaceGalleryImages_Delete
      description: The operation to delete a marketplace gallery image.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: marketplaceGalleryImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the marketplace gallery image
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,78}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      operationId: MarketplaceGalleryImages_Update
      description: The operation to update a marketplace gallery image.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: marketplaceGalleryImageName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the marketplace gallery image
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,78}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
              description: The marketplace gallery image resource patch definition.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      containerId:
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.AzureStackHCI/storageContainers
                        description: Storage ContainerID of the storage container
                          to be used for marketplace gallery image
                      osType:
                        type: string
                        enum:
                        - Windows
                        - Linux
                        x-ms-enum:
                          name: OperatingSystemTypes
                          modelAsString: false
                        description: Operating system type that the gallery image
                          uses [Windows, Linux]
                      cloudInitDataSource:
                        type: string
                        description: Datasource for the gallery image when provisioning
                          with cloud-init [NoCloud, Azure]
                        enum:
                        - NoCloud
                        - Azure
                        x-ms-enum:
                          name: CloudInitDataSource
                          modelAsString: true
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine
                          [V1, V2]
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      identifier:
                        type: object
                        properties:
                          publisher:
                            type: string
                            description: The name of the gallery image definition
                              publisher.
                          offer:
                            type: string
                            description: The name of the gallery image definition
                              offer.
                          sku:
                            type: string
                            description: The name of the gallery image definition
                              SKU.
                        required:
                        - publisher
                        - offer
                        - sku
                        description: This is the gallery image definition identifier.
                      version:
                        type: object
                        properties:
                          name:
                            type: string
                            description: This is the version of the gallery image.
                          properties:
                            x-ms-client-flatten: true
                            type: object
                            properties:
                              storageProfile:
                                type: object
                                properties:
                                  osDiskImage:
                                    type: object
                                    properties:
                                      sizeInMB:
                                        type: integer
                                        format: int64
                                        readOnly: true
                                        description: This property indicates the size
                                          of the VHD to be created.
                                    description: This is the disk image base class.
                                description: This is the storage profile of a Gallery
                                  Image Version.
                            required:
                            - storageProfile
                            description: Describes the properties of a gallery image
                              version.
                        description: Specifies information about the gallery image
                          version that you want to create or update.
                      provisioningState:
                        type: string
                        description: Provisioning state of the marketplace gallery
                          image.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: MarketplaceGalleryImage provisioning error
                              code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the gallery image
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the gallery image [Succeeded, Failed, InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                          downloadStatus:
                            type: object
                            properties:
                              downloadSizeInMB:
                                type: integer
                                format: int64
                                description: The downloaded sized of the image in
                                  MB
                            description: The download status of the gallery image
                          progressPercentage:
                            type: integer
                            format: int64
                            description: The progress of the operation in percentage
                        description: The observed state of marketplace gallery images
                    required:
                    - osType
                    description: Properties under the marketplace gallery image resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        '202':
          description: Updates the marketplace gallery image resource.
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/marketplaceGalleryImages
  : get:
      operationId: MarketplaceGalleryImages_List
      description: Lists all of the marketplace gallery images in the specified resource
        group. Use the nextLink property in the response to get the next page of marketplace
        gallery images.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Lists all marketplace gallery images under the resource group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            containerId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.AzureStackHCI/storageContainers
                              description: Storage ContainerID of the storage container
                                to be used for marketplace gallery image
                            osType:
                              type: string
                              enum:
                              - Windows
                              - Linux
                              x-ms-enum:
                                name: OperatingSystemTypes
                                modelAsString: false
                              description: Operating system type that the gallery
                                image uses [Windows, Linux]
                            cloudInitDataSource:
                              type: string
                              description: Datasource for the gallery image when provisioning
                                with cloud-init [NoCloud, Azure]
                              enum:
                              - NoCloud
                              - Azure
                              x-ms-enum:
                                name: CloudInitDataSource
                                modelAsString: true
                            hyperVGeneration:
                              type: string
                              description: The hypervisor generation of the Virtual
                                Machine [V1, V2]
                              enum:
                              - V1
                              - V2
                              x-ms-enum:
                                name: HyperVGeneration
                                modelAsString: true
                            identifier:
                              type: object
                              properties:
                                publisher:
                                  type: string
                                  description: The name of the gallery image definition
                                    publisher.
                                offer:
                                  type: string
                                  description: The name of the gallery image definition
                                    offer.
                                sku:
                                  type: string
                                  description: The name of the gallery image definition
                                    SKU.
                              required:
                              - publisher
                              - offer
                              - sku
                              description: This is the gallery image definition identifier.
                            version:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: This is the version of the gallery
                                    image.
                                properties:
                                  x-ms-client-flatten: true
                                  type: object
                                  properties:
                                    storageProfile:
                                      type: object
                                      properties:
                                        osDiskImage:
                                          type: object
                                          properties:
                                            sizeInMB:
                                              type: integer
                                              format: int64
                                              readOnly: true
                                              description: This property indicates
                                                the size of the VHD to be created.
                                          description: This is the disk image base
                                            class.
                                      description: This is the storage profile of
                                        a Gallery Image Version.
                                  required:
                                  - storageProfile
                                  description: Describes the properties of a gallery
                                    image version.
                              description: Specifies information about the gallery
                                image version that you want to create or update.
                            provisioningState:
                              type: string
                              description: Provisioning state of the marketplace gallery
                                image.
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              - Accepted
                              - Deleting
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningStateEnum
                                modelAsString: true
                            status:
                              type: object
                              x-ms-client-flatten: true
                              readOnly: true
                              properties:
                                errorCode:
                                  type: string
                                  description: MarketplaceGalleryImage provisioning
                                    error code
                                errorMessage:
                                  type: string
                                  description: Descriptive error message
                                provisioningStatus:
                                  type: object
                                  properties:
                                    operationId:
                                      type: string
                                      description: The ID of the operation performed
                                        on the gallery image
                                    status:
                                      type: string
                                      description: The status of the operation performed
                                        on the gallery image [Succeeded, Failed, InProgress]
                                      enum:
                                      - Succeeded
                                      - Failed
                                      - InProgress
                                      x-ms-enum:
                                        name: Status
                                        modelAsString: true
                                downloadStatus:
                                  type: object
                                  properties:
                                    downloadSizeInMB:
                                      type: integer
                                      format: int64
                                      description: The downloaded sized of the image
                                        in MB
                                  description: The download status of the gallery
                                    image
                                progressPercentage:
                                  type: integer
                                  format: int64
                                  description: The progress of the operation in percentage
                              description: The observed state of marketplace gallery
                                images
                          required:
                          - osType
                          description: Properties under the marketplace gallery image
                            resource
                        extendedLocation:
                          description: The extendedLocation of the resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      x-ms-client-flatten: true
                  nextLink:
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
[...]
