openapi: 3.0.0
info:
  version: 2024-01-01
  title: AzureStackHCI
  description: Azure Stack HCI management service
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries
  : get:
      operationId: UpdateSummaries_List
      description: List all Update summaries under the HCI cluster
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of Update Summaries
                type: object
                properties:
                  value:
                    description: List of Update Summaries
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: Update summaries properties
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            provisioningState:
                              description: Provisioning state of the UpdateSummaries
                                proxy resource.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              - Accepted
                              - Provisioning
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              readOnly: true
                            oemFamily:
                              description: OEM family name.
                              type: string
                            hardwareModel:
                              description: Name of the hardware model.
                              type: string
                            packageVersions:
                              description: Current version of each updatable component.
                              type: array
                              items:
                                description: Current version of each updatable component.
                                type: object
                                properties:
                                  packageType:
                                    description: Package type
                                    type: string
                                  version:
                                    description: Package version
                                    type: string
                                  lastUpdated:
                                    description: Last time this component was updated.
                                    type: string
                                    format: date-time
                              x-ms-client-flatten: true
                              x-ms-identifiers:
                              - version
                            currentVersion:
                              description: Current Solution Bundle version of the
                                stamp.
                              type: string
                            lastUpdated:
                              description: Last time an update installation completed
                                successfully.
                              type: string
                              format: date-time
                            lastChecked:
                              description: Last time the update service successfully
                                checked for updates
                              type: string
                              format: date-time
                            healthState:
                              description: Overall health state for update-specific
                                health checks.
                              type: object
                              x-ms-client-flatten: true
                              enum:
                              - Unknown
                              - Success
                              - Failure
                              - Warning
                              - Error
                              - InProgress
                              x-ms-enum:
                                name: HealthState
                                modelAsString: true
                            healthCheckResult:
                              description: An array of pre-check result objects.
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    description: Name of the individual test/rule/alert
                                      that was executed. Unique, not exposed to the
                                      customer.
                                    type: string
                                  displayName:
                                    description: The health check DisplayName localized
                                      of the individual test executed.
                                    type: string
                                  tags:
                                    description: Key-value pairs that allow grouping/filtering
                                      individual tests.
                                    type: object
                                    properties:
                                      key:
                                        description: Key that allow grouping/filtering
                                          individual tests.
                                        type: string
                                      value:
                                        description: Value of the key that allow grouping/filtering
                                          individual tests.
                                        type: string
                                  title:
                                    description: User-facing name; one or more sentences
                                      indicating the direct issue.
                                    type: string
                                  status:
                                    description: The status of the check running (i.e.
                                      Failed, Succeeded, In Progress). This answers
                                      whether the check ran, and passed or failed.
                                    type: string
                                    enum:
                                    - Succeeded
                                    - Failed
                                    - InProgress
                                    x-ms-enum:
                                      name: status
                                      modelAsString: true
                                  severity:
                                    description: Severity of the result (Critical,
                                      Warning, Informational, Hidden). This answers
                                      how important the result is. Critical is the
                                      only update-blocking severity.
                                    type: string
                                    enum:
                                    - Critical
                                    - Warning
                                    - Informational
                                    - Hidden
                                    x-ms-enum:
                                      name: severity
                                      modelAsString: true
                                  description:
                                    description: Detailed overview of the issue and
                                      what impact the issue has on the stamp.
                                    type: string
                                  remediation:
                                    description: Set of steps that can be taken to
                                      resolve the issue found.
                                    type: string
                                  targetResourceID:
                                    description: The unique identifier for the affected
                                      resource (such as a node or drive).
                                    type: string
                                  targetResourceName:
                                    description: The name of the affected resource.
                                    type: string
                                  timestamp:
                                    description: The Time in which the HealthCheck
                                      was called.
                                    type: string
                                    format: date-time
                                  additionalData:
                                    description: Property bag of key value pairs for
                                      additional information.
                                    type: string
                                  healthCheckSource:
                                    description: The name of the services called for
                                      the HealthCheck (I.E. Test-AzureStack, Test-Cluster).
                                    type: string
                              x-ms-client-flatten: true
                              x-ms-identifiers:
                              - name
                            healthCheckDate:
                              description: Last time the package-specific checks were
                                run.
                              type: string
                              format: date-time
                            state:
                              description: Overall update state of the stamp.
                              type: string
                              enum:
                              - Unknown
                              - AppliedSuccessfully
                              - UpdateAvailable
                              - UpdateInProgress
                              - UpdateFailed
                              - NeedsAttention
                              - PreparationInProgress
                              - PreparationFailed
                              x-ms-enum:
                                name: updateSummariesPropertiesState
                                modelAsString: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    x-ms-identifiers: []
                  nextLink:
                    description: Link to the next set of results.
                    type: string
                    readOnly: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries/default
  : delete:
      operationId: UpdateSummaries_Delete
      description: Delete Update Summaries
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
          headers:
            Azure-AsyncOperation:
              description: URL to query for status of the operation.
              schema:
                type: string
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      operationId: UpdateSummaries_Put
      description: Put Update summaries under the HCI cluster
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: Update summaries properties
                  type: object
                  x-ms-client-flatten: true
                  properties:
                    provisioningState:
                      description: Provisioning state of the UpdateSummaries proxy
                        resource.
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      - Accepted
                      - Provisioning
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      readOnly: true
                    oemFamily:
                      description: OEM family name.
                      type: string
                    hardwareModel:
                      description: Name of the hardware model.
                      type: string
                    packageVersions:
                      description: Current version of each updatable component.
                      type: array
                      items:
                        description: Current version of each updatable component.
                        type: object
                        properties:
                          packageType:
                            description: Package type
                            type: string
                          version:
                            description: Package version
                            type: string
                          lastUpdated:
                            description: Last time this component was updated.
                            type: string
                            format: date-time
                      x-ms-client-flatten: true
                      x-ms-identifiers:
                      - version
                    currentVersion:
                      description: Current Solution Bundle version of the stamp.
                      type: string
                    lastUpdated:
                      description: Last time an update installation completed successfully.
                      type: string
                      format: date-time
                    lastChecked:
                      description: Last time the update service successfully checked
                        for updates
                      type: string
                      format: date-time
                    healthState:
                      description: Overall health state for update-specific health
                        checks.
                      type: object
                      x-ms-client-flatten: true
                      enum:
                      - Unknown
                      - Success
                      - Failure
                      - Warning
                      - Error
                      - InProgress
                      x-ms-enum:
                        name: HealthState
                        modelAsString: true
                    healthCheckResult:
                      description: An array of pre-check result objects.
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            description: Name of the individual test/rule/alert that
                              was executed. Unique, not exposed to the customer.
                            type: string
                          displayName:
                            description: The health check DisplayName localized of
                              the individual test executed.
                            type: string
                          tags:
                            description: Key-value pairs that allow grouping/filtering
                              individual tests.
                            type: object
                            properties:
                              key:
                                description: Key that allow grouping/filtering individual
                                  tests.
                                type: string
                              value:
                                description: Value of the key that allow grouping/filtering
                                  individual tests.
                                type: string
                          title:
                            description: User-facing name; one or more sentences indicating
                              the direct issue.
                            type: string
                          status:
                            description: The status of the check running (i.e. Failed,
                              Succeeded, In Progress). This answers whether the check
                              ran, and passed or failed.
                            type: string
                            enum:
                            - Succeeded
                            - Failed
                            - InProgress
                            x-ms-enum:
                              name: status
                              modelAsString: true
                          severity:
                            description: Severity of the result (Critical, Warning,
                              Informational, Hidden). This answers how important the
                              result is. Critical is the only update-blocking severity.
                            type: string
                            enum:
                            - Critical
                            - Warning
                            - Informational
                            - Hidden
                            x-ms-enum:
                              name: severity
                              modelAsString: true
                          description:
                            description: Detailed overview of the issue and what impact
                              the issue has on the stamp.
                            type: string
                          remediation:
                            description: Set of steps that can be taken to resolve
                              the issue found.
                            type: string
                          targetResourceID:
                            description: The unique identifier for the affected resource
                              (such as a node or drive).
                            type: string
                          targetResourceName:
                            description: The name of the affected resource.
                            type: string
                          timestamp:
                            description: The Time in which the HealthCheck was called.
                            type: string
                            format: date-time
                          additionalData:
                            description: Property bag of key value pairs for additional
                              information.
                            type: string
                          healthCheckSource:
                            description: The name of the services called for the HealthCheck
                              (I.E. Test-AzureStack, Test-Cluster).
                            type: string
                      x-ms-client-flatten: true
                      x-ms-identifiers:
                      - name
                    healthCheckDate:
                      description: Last time the package-specific checks were run.
                      type: string
                      format: date-time
                    state:
                      description: Overall update state of the stamp.
                      type: string
                      enum:
                      - Unknown
                      - AppliedSuccessfully
                      - UpdateAvailable
                      - UpdateInProgress
                      - UpdateFailed
                      - NeedsAttention
                      - PreparationInProgress
                      - PreparationFailed
                      x-ms-enum:
                        name: updateSummariesPropertiesState
                        modelAsString: true
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties of the UpdateSummaries resource
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Update summaries properties
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        description: Provisioning state of the UpdateSummaries proxy
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      oemFamily:
                        description: OEM family name.
                        type: string
                      hardwareModel:
                        description: Name of the hardware model.
                        type: string
                      packageVersions:
                        description: Current version of each updatable component.
                        type: array
                        items:
                          description: Current version of each updatable component.
                          type: object
                          properties:
                            packageType:
                              description: Package type
                              type: string
                            version:
                              description: Package version
                              type: string
                            lastUpdated:
                              description: Last time this component was updated.
                              type: string
                              format: date-time
                        x-ms-client-flatten: true
                        x-ms-identifiers:
                        - version
                      currentVersion:
                        description: Current Solution Bundle version of the stamp.
                        type: string
                      lastUpdated:
                        description: Last time an update installation completed successfully.
                        type: string
                        format: date-time
                      lastChecked:
                        description: Last time the update service successfully checked
                          for updates
                        type: string
                        format: date-time
                      healthState:
                        description: Overall health state for update-specific health
                          checks.
                        type: object
                        x-ms-client-flatten: true
                        enum:
                        - Unknown
                        - Success
                        - Failure
                        - Warning
                        - Error
                        - InProgress
                        x-ms-enum:
                          name: HealthState
                          modelAsString: true
                      healthCheckResult:
                        description: An array of pre-check result objects.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: Name of the individual test/rule/alert
                                that was executed. Unique, not exposed to the customer.
                              type: string
                            displayName:
                              description: The health check DisplayName localized
                                of the individual test executed.
                              type: string
                            tags:
                              description: Key-value pairs that allow grouping/filtering
                                individual tests.
                              type: object
                              properties:
                                key:
                                  description: Key that allow grouping/filtering individual
                                    tests.
                                  type: string
                                value:
                                  description: Value of the key that allow grouping/filtering
                                    individual tests.
                                  type: string
                            title:
                              description: User-facing name; one or more sentences
                                indicating the direct issue.
                              type: string
                            status:
                              description: The status of the check running (i.e. Failed,
                                Succeeded, In Progress). This answers whether the
                                check ran, and passed or failed.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              x-ms-enum:
                                name: status
                                modelAsString: true
                            severity:
                              description: Severity of the result (Critical, Warning,
                                Informational, Hidden). This answers how important
                                the result is. Critical is the only update-blocking
                                severity.
                              type: string
                              enum:
                              - Critical
                              - Warning
                              - Informational
                              - Hidden
                              x-ms-enum:
                                name: severity
                                modelAsString: true
                            description:
                              description: Detailed overview of the issue and what
                                impact the issue has on the stamp.
                              type: string
                            remediation:
                              description: Set of steps that can be taken to resolve
                                the issue found.
                              type: string
                            targetResourceID:
                              description: The unique identifier for the affected
                                resource (such as a node or drive).
                              type: string
                            targetResourceName:
                              description: The name of the affected resource.
                              type: string
                            timestamp:
                              description: The Time in which the HealthCheck was called.
                              type: string
                              format: date-time
                            additionalData:
                              description: Property bag of key value pairs for additional
                                information.
                              type: string
                            healthCheckSource:
                              description: The name of the services called for the
                                HealthCheck (I.E. Test-AzureStack, Test-Cluster).
                              type: string
                        x-ms-client-flatten: true
                        x-ms-identifiers:
                        - name
                      healthCheckDate:
                        description: Last time the package-specific checks were run.
                        type: string
                        format: date-time
                      state:
                        description: Overall update state of the stamp.
                        type: string
                        enum:
                        - Unknown
                        - AppliedSuccessfully
                        - UpdateAvailable
                        - UpdateInProgress
                        - UpdateFailed
                        - NeedsAttention
                        - PreparationInProgress
                        - PreparationFailed
                        x-ms-enum:
                          name: updateSummariesPropertiesState
                          modelAsString: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      operationId: UpdateSummaries_Get
      description: Get all Update summaries under the HCI cluster
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterName
        in: path
        required: true
        description: The name of the cluster.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Update summaries properties
                    type: object
                    x-ms-client-flatten: true
                    properties:
                      provisioningState:
                        description: Provisioning state of the UpdateSummaries proxy
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        - Accepted
                        - Provisioning
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        readOnly: true
                      oemFamily:
                        description: OEM family name.
                        type: string
                      hardwareModel:
                        description: Name of the hardware model.
                        type: string
                      packageVersions:
                        description: Current version of each updatable component.
                        type: array
                        items:
                          description: Current version of each updatable component.
                          type: object
                          properties:
                            packageType:
                              description: Package type
                              type: string
                            version:
                              description: Package version
                              type: string
                            lastUpdated:
                              description: Last time this component was updated.
                              type: string
                              format: date-time
                        x-ms-client-flatten: true
                        x-ms-identifiers:
                        - version
                      currentVersion:
                        description: Current Solution Bundle version of the stamp.
                        type: string
                      lastUpdated:
                        description: Last time an update installation completed successfully.
                        type: string
                        format: date-time
                      lastChecked:
                        description: Last time the update service successfully checked
                          for updates
                        type: string
                        format: date-time
                      healthState:
                        description: Overall health state for update-specific health
                          checks.
                        type: object
                        x-ms-client-flatten: true
                        enum:
                        - Unknown
                        - Success
                        - Failure
                        - Warning
                        - Error
                        - InProgress
                        x-ms-enum:
                          name: HealthState
                          modelAsString: true
                      healthCheckResult:
                        description: An array of pre-check result objects.
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: Name of the individual test/rule/alert
                                that was executed. Unique, not exposed to the customer.
                              type: string
                            displayName:
                              description: The health check DisplayName localized
                                of the individual test executed.
                              type: string
                            tags:
                              description: Key-value pairs that allow grouping/filtering
                                individual tests.
                              type: object
                              properties:
                                key:
                                  description: Key that allow grouping/filtering individual
                                    tests.
                                  type: string
                                value:
                                  description: Value of the key that allow grouping/filtering
                                    individual tests.
                                  type: string
                            title:
                              description: User-facing name; one or more sentences
                                indicating the direct issue.
                              type: string
                            status:
                              description: The status of the check running (i.e. Failed,
                                Succeeded, In Progress). This answers whether the
                                check ran, and passed or failed.
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              x-ms-enum:
                                name: status
                                modelAsString: true
                            severity:
                              description: Severity of the result (Critical, Warning,
                                Informational, Hidden). This answers how important
                                the result is. Critical is the only update-blocking
                                severity.
                              type: string
                              enum:
                              - Critical
                              - Warning
                              - Informational
                              - Hidden
                              x-ms-enum:
                                name: severity
                                modelAsString: true
                            description:
                              description: Detailed overview of the issue and what
                                impact the issue has on the stamp.
                              type: string
                            remediation:
                              description: Set of steps that can be taken to resolve
                                the issue found.
                              type: string
                            targetResourceID:
                              description: The unique identifier for the affected
                                resource (such as a node or drive).
                              type: string
                            targetResourceName:
                              description: The name of the affected resource.
                              type: string
                            timestamp:
                              description: The Time in which the HealthCheck was called.
                              type: string
                              format: date-time
                            additionalData:
                              description: Property bag of key value pairs for additional
                                information.
                              type: string
                            healthCheckSource:
                              description: The name of the services called for the
                                HealthCheck (I.E. Test-AzureStack, Test-Cluster).
                              type: string
                        x-ms-client-flatten: true
                        x-ms-identifiers:
                        - name
                      healthCheckDate:
                        description: Last time the package-specific checks were run.
                        type: string
                        format: date-time
                      state:
                        description: Overall update state of the stamp.
                        type: string
                        enum:
                        - Unknown
                        - AppliedSuccessfully
                        - UpdateAvailable
                        - UpdateInProgress
                        - UpdateFailed
                        - NeedsAttention
                        - PreparationInProgress
                        - PreparationFailed
                        x-ms-enum:
                          name: updateSummariesPropertiesState
                          modelAsString: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ClusterNameParameter:
      name: clusterName
      in: path
      required: true
      description: The name of the cluster.
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    UpdateSummariesList:
      description: List of Update Summaries
      type: object
      properties:
        value:
          description: List of Update Summaries
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                type: object
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The geo-location where the resource lives
              properties:
                description: Update summaries properties
                type: object
                x-ms-client-flatten: true
                properties:
                  provisioningState:
                    description: Provisioning state of the UpdateSummaries proxy resource.
                    type: string
                    enum:
                    - Succeeded
                    - Failed
                    - Canceled
                    - Accepted
                    - Provisioning
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                    readOnly: true
                  oemFamily:
                    description: OEM family name.
                    type: string
                  hardwareModel:
                    description: Name of the hardware model.
                    type: string
                  packageVersions:
                    description: Current version of each updatable component.
                    type: array
                    items:
                      description: Current version of each updatable component.
                      type: object
                      properties:
                        packageType:
                          description: Package type
                          type: string
                        version:
                          description: Package version
                          type: string
                        lastUpdated:
                          description: Last time this component was updated.
                          type: string
                          format: date-time
                    x-ms-client-flatten: true
                    x-ms-identifiers:
                    - version
                  currentVersion:
                    description: Current Solution Bundle version of the stamp.
                    type: string
                  lastUpdated:
                    description: Last time an update installation completed successfully.
                    type: string
                    format: date-time
                  lastChecked:
                    description: Last time the update service successfully checked
                      for updates
                    type: string
                    format: date-time
                  healthState:
                    description: Overall health state for update-specific health checks.
                    type: object
                    x-ms-client-flatten: true
                    enum:
                    - Unknown
                    - Success
                    - Failure
                    - Warning
                    - Error
                    - InProgress
                    x-ms-enum:
                      name: HealthState
                      modelAsString: true
                  healthCheckResult:
                    description: An array of pre-check result objects.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          description: Name of the individual test/rule/alert that
                            was executed. Unique, not exposed to the customer.
                          type: string
                        displayName:
                          description: The health check DisplayName localized of the
                            individual test executed.
                          type: string
                        tags:
                          description: Key-value pairs that allow grouping/filtering
                            individual tests.
                          type: object
                          properties:
                            key:
                              description: Key that allow grouping/filtering individual
                                tests.
                              type: string
                            value:
                              description: Value of the key that allow grouping/filtering
                                individual tests.
                              type: string
                        title:
                          description: User-facing name; one or more sentences indicating
                            the direct issue.
                          type: string
                        status:
                          description: The status of the check running (i.e. Failed,
                            Succeeded, In Progress). This answers whether the check
                            ran, and passed or failed.
                          type: string
                          enum:
                          - Succeeded
                          - Failed
                          - InProgress
                          x-ms-enum:
                            name: status
                            modelAsString: true
                        severity:
                          description: Severity of the result (Critical, Warning,
                            Informational, Hidden). This answers how important the
                            result is. Critical is the only update-blocking severity.
                          type: string
                          enum:
                          - Critical
                          - Warning
                          - Informational
                          - Hidden
                          x-ms-enum:
                            name: severity
                            modelAsString: true
                        description:
                          description: Detailed overview of the issue and what impact
                            the issue has on the stamp.
                          type: string
                        remediation:
                          description: Set of steps that can be taken to resolve the
                            issue found.
                          type: string
                        targetResourceID:
                          description: The unique identifier for the affected resource
                            (such as a node or drive).
                          type: string
                        targetResourceName:
                          description: The name of the affected resource.
                          type: string
                        timestamp:
                          description: The Time in which the HealthCheck was called.
                          type: string
                          format: date-time
                        additionalData:
                          description: Property bag of key value pairs for additional
                            information.
                          type: string
                        healthCheckSource:
                          description: The name of the services called for the HealthCheck
                            (I.E. Test-AzureStack, Test-Cluster).
                          type: string
                    x-ms-client-flatten: true
                    x-ms-identifiers:
                    - name
                  healthCheckDate:
                    description: Last time the package-specific checks were run.
                    type: string
                    format: date-time
                  state:
                    description: Overall update state of the stamp.
                    type: string
                    enum:
                    - Unknown
                    - AppliedSuccessfully
                    - UpdateAvailable
                    - UpdateInProgress
                    - UpdateFailed
                    - NeedsAttention
                    - PreparationInProgress
                    - PreparationFailed
                    x-ms-enum:
                      name: updateSummariesPropertiesState
                      modelAsString: true
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          x-ms-identifiers: []
        nextLink:
          description: Link to the next set of results.
          type: string
          readOnly: true
    UpdateSummaries:
      type: object
      properties:
        id:
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        properties:
          description: Update summaries properties
          type: object
          x-ms-client-flatten: true
          properties:
            provisioningState:
              description: Provisioning state of the UpdateSummaries proxy resource.
              type: string
              enum:
              - Succeeded
              - Failed
              - Canceled
              - Accepted
              - Provisioning
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
              readOnly: true
            oemFamily:
              description: OEM family name.
              type: string
            hardwareModel:
              description: Name of the hardware model.
              type: string
            packageVersions:
              description: Current version of each updatable component.
              type: array
              items:
                description: Current version of each updatable component.
                type: object
                properties:
                  packageType:
                    description: Package type
                    type: string
                  version:
                    description: Package version
                    type: string
                  lastUpdated:
                    description: Last time this component was updated.
                    type: string
                    format: date-time
              x-ms-client-flatten: true
              x-ms-identifiers:
              - version
            currentVersion:
              description: Current Solution Bundle version of the stamp.
              type: string
            lastUpdated:
              description: Last time an update installation completed successfully.
              type: string
              format: date-time
            lastChecked:
              description: Last time the update service successfully checked for updates
              type: string
              format: date-time
            healthState:
              description: Overall health state for update-specific health checks.
              type: object
              x-ms-client-flatten: true
              enum:
              - Unknown
              - Success
              - Failure
              - Warning
              - Error
              - InProgress
              x-ms-enum:
                name: HealthState
                modelAsString: true
            healthCheckResult:
              description: An array of pre-check result objects.
              type: array
              items:
                type: object
                properties:
                  name:
                    description: Name of the individual test/rule/alert that was executed.
                      Unique, not exposed to the customer.
                    type: string
                  displayName:
                    description: The health check DisplayName localized of the individual
                      test executed.
                    type: string
                  tags:
                    description: Key-value pairs that allow grouping/filtering individual
                      tests.
                    type: object
                    properties:
                      key:
                        description: Key that allow grouping/filtering individual
                          tests.
                        type: string
                      value:
                        description: Value of the key that allow grouping/filtering
                          individual tests.
                        type: string
                  title:
                    description: User-facing name; one or more sentences indicating
                      the direct issue.
                    type: string
                  status:
                    description: The status of the check running (i.e. Failed, Succeeded,
                      In Progress). This answers whether the check ran, and passed
                      or failed.
                    type: string
                    enum:
                    - Succeeded
                    - Failed
                    - InProgress
                    x-ms-enum:
                      name: status
                      modelAsString: true
                  severity:
                    description: Severity of the result (Critical, Warning, Informational,
                      Hidden). This answers how important the result is. Critical
                      is the only update-blocking severity.
                    type: string
                    enum:
                    - Critical
                    - Warning
                    - Informational
                    - Hidden
                    x-ms-enum:
                      name: severity
                      modelAsString: true
                  description:
                    description: Detailed overview of the issue and what impact the
                      issue has on the stamp.
                    type: string
                  remediation:
                    description: Set of steps that can be taken to resolve the issue
                      found.
                    type: string
                  targetResourceID:
                    description: The unique identifier for the affected resource (such
                      as a node or drive).
                    type: string
                  targetResourceName:
                    description: The name of the affected resource.
                    type: string
                  timestamp:
                    description: The Time in which the HealthCheck was called.
                    type: string
                    format: date-time
                  additionalData:
                    description: Property bag of key value pairs for additional information.
                    type: string
                  healthCheckSource:
                    description: The name of the services called for the HealthCheck
                      (I.E. Test-AzureStack, Test-Cluster).
                    type: string
              x-ms-client-flatten: true
              x-ms-identifiers:
              - name
            healthCheckDate:
              description: Last time the package-specific checks were run.
              type: string
              format: date-time
            state:
              description: Overall update state of the stamp.
              type: string
              enum:
              - Unknown
              - AppliedSuccessfully
              - UpdateAvailable
              - UpdateInProgress
              - UpdateFailed
              - NeedsAttention
              - PreparationInProgress
              - PreparationFailed
              x-ms-enum:
                name: updateSummariesPropertiesState
                modelAsString: true
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    UpdateSummariesProperties:
      description: Properties of Update summaries
      type: object
      properties:
        provisioningState:
          description: Provisioning state of the UpdateSummaries proxy resource.
          type: string
          enum:
          - Succeeded
          - Failed
          - Canceled
          - Accepted
          - Provisioning
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
          readOnly: true
        oemFamily:
          description: OEM family name.
          type: string
        hardwareModel:
          description: Name of the hardware model.
          type: string
        packageVersions:
          description: Current version of each updatable component.
          type: array
          items:
            description: Current version of each updatable component.
            type: object
            properties:
              packageType:
                description: Package type
                type: string
              version:
                description: Package version
                type: string
              lastUpdated:
                description: Last time this component was updated.
                type: string
                format: date-time
          x-ms-client-flatten: true
          x-ms-identifiers:
          - version
        currentVersion:
          description: Current Solution Bundle version of the stamp.
          type: string
        lastUpdated:
          description: Last time an update installation completed successfully.
          type: string
          format: date-time
        lastChecked:
          description: Last time the update service successfully checked for updates
          type: string
          format: date-time
        healthState:
          description: Overall health state for update-specific health checks.
          type: object
          x-ms-client-flatten: true
          enum:
          - Unknown
          - Success
          - Failure
          - Warning
          - Error
          - InProgress
          x-ms-enum:
            name: HealthState
            modelAsString: true
        healthCheckResult:
          description: An array of pre-check result objects.
          type: array
          items:
            type: object
            properties:
              name:
                description: Name of the individual test/rule/alert that was executed.
                  Unique, not exposed to the customer.
                type: string
              displayName:
                description: The health check DisplayName localized of the individual
                  test executed.
                type: string
              tags:
                description: Key-value pairs that allow grouping/filtering individual
                  tests.
                type: object
                properties:
                  key:
                    description: Key that allow grouping/filtering individual tests.
                    type: string
                  value:
                    description: Value of the key that allow grouping/filtering individual
                      tests.
                    type: string
              title:
                description: User-facing name; one or more sentences indicating the
                  direct issue.
                type: string
              status:
                description: The status of the check running (i.e. Failed, Succeeded,
                  In Progress). This answers whether the check ran, and passed or
                  failed.
                type: string
                enum:
                - Succeeded
                - Failed
                - InProgress
                x-ms-enum:
                  name: status
                  modelAsString: true
              severity:
[...]
