openapi: 3.0.0
info:
  title: AzureStackHCI
  description: The Microsoft.AzureStackHCI Rest API spec.
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualHardDisks/{virtualHardDiskName}
  : get:
      operationId: VirtualHardDisks_Get
      description: Gets a virtual hard disk
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: virtualHardDiskName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the virtual hard disk
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,62}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      blockSizeBytes:
                        type: integer
                        format: int32
                      diskSizeGB:
                        type: integer
                        format: int64
                        description: Size of the disk in GB
                      dynamic:
                        type: boolean
                        description: Boolean for enabling dynamic sizing on the virtual
                          hard disk
                      logicalSectorBytes:
                        type: integer
                        format: int32
                      physicalSectorBytes:
                        type: integer
                        format: int32
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine
                          [V1, V2]
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      diskFileFormat:
                        type: string
                        description: The format of the actual VHD file [vhd, vhdx]
                        enum:
                        - vhdx
                        - vhd
                        x-ms-enum:
                          name: DiskFileFormat
                          modelAsString: true
                      provisioningState:
                        type: string
                        description: Provisioning state of the virtual hard disk.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      containerId:
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.AzureStackHCI/storageContainers
                        description: Storage ContainerID of the storage container
                          to be used for VHD
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: VirtualHardDisk provisioning error code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the virtual hard disk
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the virtual hard disk [Succeeded, Failed, InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                        description: The observed state of virtual hard disks
                    description: Properties under the virtual hard disk resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: VirtualHardDisks_CreateOrUpdate
      description: The operation to create or update a virtual hard disk. Please note
        some properties can be set only during virtual hard disk creation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: virtualHardDiskName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the virtual hard disk
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,62}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    blockSizeBytes:
                      type: integer
                      format: int32
                    diskSizeGB:
                      type: integer
                      format: int64
                      description: Size of the disk in GB
                    dynamic:
                      type: boolean
                      description: Boolean for enabling dynamic sizing on the virtual
                        hard disk
                    logicalSectorBytes:
                      type: integer
                      format: int32
                    physicalSectorBytes:
                      type: integer
                      format: int32
                    hyperVGeneration:
                      type: string
                      description: The hypervisor generation of the Virtual Machine
                        [V1, V2]
                      enum:
                      - V1
                      - V2
                      x-ms-enum:
                        name: HyperVGeneration
                        modelAsString: true
                    diskFileFormat:
                      type: string
                      description: The format of the actual VHD file [vhd, vhdx]
                      enum:
                      - vhdx
                      - vhd
                      x-ms-enum:
                        name: DiskFileFormat
                        modelAsString: true
                    provisioningState:
                      type: string
                      description: Provisioning state of the virtual hard disk.
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - InProgress
                      - Accepted
                      - Deleting
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningStateEnum
                        modelAsString: true
                    containerId:
                      type: string
                      format: arm-id
                      x-ms-arm-id-details:
                        allowedResources:
                        - type: Microsoft.AzureStackHCI/storageContainers
                      description: Storage ContainerID of the storage container to
                        be used for VHD
                    status:
                      type: object
                      x-ms-client-flatten: true
                      readOnly: true
                      properties:
                        errorCode:
                          type: string
                          description: VirtualHardDisk provisioning error code
                        errorMessage:
                          type: string
                          description: Descriptive error message
                        provisioningStatus:
                          type: object
                          properties:
                            operationId:
                              type: string
                              description: The ID of the operation performed on the
                                virtual hard disk
                            status:
                              type: string
                              description: The status of the operation performed on
                                the virtual hard disk [Succeeded, Failed, InProgress]
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              x-ms-enum:
                                name: Status
                                modelAsString: true
                      description: The observed state of virtual hard disks
                  description: Properties under the virtual hard disk resource
                extendedLocation:
                  description: The extendedLocation of the resource.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the extended location.
                    type:
                      description: The type of the extended location.
                      type: string
                      enum:
                      - CustomLocation
                      x-ms-enum:
                        name: ExtendedLocationTypes
                        modelAsString: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              x-ms-client-flatten: true
        required: true
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      blockSizeBytes:
                        type: integer
                        format: int32
                      diskSizeGB:
                        type: integer
                        format: int64
                        description: Size of the disk in GB
                      dynamic:
                        type: boolean
                        description: Boolean for enabling dynamic sizing on the virtual
                          hard disk
                      logicalSectorBytes:
                        type: integer
                        format: int32
                      physicalSectorBytes:
                        type: integer
                        format: int32
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine
                          [V1, V2]
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      diskFileFormat:
                        type: string
                        description: The format of the actual VHD file [vhd, vhdx]
                        enum:
                        - vhdx
                        - vhd
                        x-ms-enum:
                          name: DiskFileFormat
                          modelAsString: true
                      provisioningState:
                        type: string
                        description: Provisioning state of the virtual hard disk.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      containerId:
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.AzureStackHCI/storageContainers
                        description: Storage ContainerID of the storage container
                          to be used for VHD
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: VirtualHardDisk provisioning error code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the virtual hard disk
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the virtual hard disk [Succeeded, Failed, InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                        description: The observed state of virtual hard disks
                    description: Properties under the virtual hard disk resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      blockSizeBytes:
                        type: integer
                        format: int32
                      diskSizeGB:
                        type: integer
                        format: int64
                        description: Size of the disk in GB
                      dynamic:
                        type: boolean
                        description: Boolean for enabling dynamic sizing on the virtual
                          hard disk
                      logicalSectorBytes:
                        type: integer
                        format: int32
                      physicalSectorBytes:
                        type: integer
                        format: int32
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine
                          [V1, V2]
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      diskFileFormat:
                        type: string
                        description: The format of the actual VHD file [vhd, vhdx]
                        enum:
                        - vhdx
                        - vhd
                        x-ms-enum:
                          name: DiskFileFormat
                          modelAsString: true
                      provisioningState:
                        type: string
                        description: Provisioning state of the virtual hard disk.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      containerId:
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.AzureStackHCI/storageContainers
                        description: Storage ContainerID of the storage container
                          to be used for VHD
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: VirtualHardDisk provisioning error code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the virtual hard disk
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the virtual hard disk [Succeeded, Failed, InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                        description: The observed state of virtual hard disks
                    description: Properties under the virtual hard disk resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    delete:
      operationId: VirtualHardDisks_Delete
      description: The operation to delete a virtual hard disk.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: virtualHardDiskName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the virtual hard disk
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,62}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '204':
          description: No content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      operationId: VirtualHardDisks_Update
      description: The operation to update a virtual hard disk.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: virtualHardDiskName
        in: path
        required: true
        x-ms-parameter-location: method
        description: Name of the virtual hard disk
        schema:
          type: string
          minLength: 1
          maxLength: 80
          pattern: ^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,62}[a-zA-Z0-9]$
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags
              description: The virtual hard disk resource patch definition.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      blockSizeBytes:
                        type: integer
                        format: int32
                      diskSizeGB:
                        type: integer
                        format: int64
                        description: Size of the disk in GB
                      dynamic:
                        type: boolean
                        description: Boolean for enabling dynamic sizing on the virtual
                          hard disk
                      logicalSectorBytes:
                        type: integer
                        format: int32
                      physicalSectorBytes:
                        type: integer
                        format: int32
                      hyperVGeneration:
                        type: string
                        description: The hypervisor generation of the Virtual Machine
                          [V1, V2]
                        enum:
                        - V1
                        - V2
                        x-ms-enum:
                          name: HyperVGeneration
                          modelAsString: true
                      diskFileFormat:
                        type: string
                        description: The format of the actual VHD file [vhd, vhdx]
                        enum:
                        - vhdx
                        - vhd
                        x-ms-enum:
                          name: DiskFileFormat
                          modelAsString: true
                      provisioningState:
                        type: string
                        description: Provisioning state of the virtual hard disk.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      containerId:
                        type: string
                        format: arm-id
                        x-ms-arm-id-details:
                          allowedResources:
                          - type: Microsoft.AzureStackHCI/storageContainers
                        description: Storage ContainerID of the storage container
                          to be used for VHD
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: VirtualHardDisk provisioning error code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the virtual hard disk
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the virtual hard disk [Succeeded, Failed, InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                        description: The observed state of virtual hard disks
                    description: Properties under the virtual hard disk resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualHardDisks:
    get:
      operationId: VirtualHardDisks_List
      description: Lists all of the virtual hard disks in the specified resource group.
        Use the nextLink property in the response to get the next page of virtual
        hard disks.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            blockSizeBytes:
                              type: integer
                              format: int32
                            diskSizeGB:
                              type: integer
                              format: int64
                              description: Size of the disk in GB
                            dynamic:
                              type: boolean
                              description: Boolean for enabling dynamic sizing on
                                the virtual hard disk
                            logicalSectorBytes:
                              type: integer
                              format: int32
                            physicalSectorBytes:
                              type: integer
                              format: int32
                            hyperVGeneration:
                              type: string
                              description: The hypervisor generation of the Virtual
                                Machine [V1, V2]
                              enum:
                              - V1
                              - V2
                              x-ms-enum:
                                name: HyperVGeneration
                                modelAsString: true
                            diskFileFormat:
                              type: string
                              description: The format of the actual VHD file [vhd,
                                vhdx]
                              enum:
                              - vhdx
                              - vhd
                              x-ms-enum:
                                name: DiskFileFormat
                                modelAsString: true
                            provisioningState:
                              type: string
                              description: Provisioning state of the virtual hard
                                disk.
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              - Accepted
                              - Deleting
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningStateEnum
                                modelAsString: true
                            containerId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.AzureStackHCI/storageContainers
                              description: Storage ContainerID of the storage container
                                to be used for VHD
                            status:
                              type: object
                              x-ms-client-flatten: true
                              readOnly: true
                              properties:
                                errorCode:
                                  type: string
                                  description: VirtualHardDisk provisioning error
                                    code
                                errorMessage:
                                  type: string
                                  description: Descriptive error message
                                provisioningStatus:
                                  type: object
                                  properties:
                                    operationId:
                                      type: string
                                      description: The ID of the operation performed
                                        on the virtual hard disk
                                    status:
                                      type: string
                                      description: The status of the operation performed
                                        on the virtual hard disk [Succeeded, Failed,
                                        InProgress]
                                      enum:
                                      - Succeeded
                                      - Failed
                                      - InProgress
                                      x-ms-enum:
                                        name: Status
                                        modelAsString: true
                              description: The observed state of virtual hard disks
                          description: Properties under the virtual hard disk resource
                        extendedLocation:
                          description: The extendedLocation of the resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      x-ms-client-flatten: true
                  nextLink:
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/virtualHardDisks:
    get:
      operationId: VirtualHardDisks_ListAll
      description: Lists all of the virtual hard disks in the specified subscription.
        Use the nextLink property in the response to get the next page of virtual
        hard disks.
      parameters:
      - name: subscriptionId
        in: path
        description: The ID of the target subscription.
        required: true
        schema:
          type: string
          minLength: 1
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            blockSizeBytes:
                              type: integer
                              format: int32
                            diskSizeGB:
                              type: integer
                              format: int64
                              description: Size of the disk in GB
                            dynamic:
                              type: boolean
                              description: Boolean for enabling dynamic sizing on
                                the virtual hard disk
                            logicalSectorBytes:
                              type: integer
                              format: int32
                            physicalSectorBytes:
                              type: integer
                              format: int32
                            hyperVGeneration:
                              type: string
                              description: The hypervisor generation of the Virtual
                                Machine [V1, V2]
                              enum:
                              - V1
                              - V2
                              x-ms-enum:
                                name: HyperVGeneration
                                modelAsString: true
                            diskFileFormat:
                              type: string
                              description: The format of the actual VHD file [vhd,
                                vhdx]
                              enum:
                              - vhdx
                              - vhd
                              x-ms-enum:
                                name: DiskFileFormat
                                modelAsString: true
                            provisioningState:
                              type: string
                              description: Provisioning state of the virtual hard
                                disk.
                              readOnly: true
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              - Accepted
                              - Deleting
                              - Canceled
                              x-ms-enum:
                                name: ProvisioningStateEnum
                                modelAsString: true
                            containerId:
                              type: string
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.AzureStackHCI/storageContainers
                              description: Storage ContainerID of the storage container
                                to be used for VHD
                            status:
                              type: object
                              x-ms-client-flatten: true
                              readOnly: true
                              properties:
                                errorCode:
                                  type: string
                                  description: VirtualHardDisk provisioning error
                                    code
                                errorMessage:
                                  type: string
                                  description: Descriptive error message
                                provisioningStatus:
                                  type: object
                                  properties:
                                    operationId:
                                      type: string
                                      description: The ID of the operation performed
                                        on the virtual hard disk
                                    status:
                                      type: string
                                      description: The status of the operation performed
                                        on the virtual hard disk [Succeeded, Failed,
                                        InProgress]
                                      enum:
                                      - Succeeded
                                      - Failed
                                      - InProgress
                                      x-ms-enum:
                                        name: Status
                                        modelAsString: true
                              description: The observed state of virtual hard disks
                          description: Properties under the virtual hard disk resource
                        extendedLocation:
                          description: The extendedLocation of the resource.
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - CustomLocation
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      x-ms-client-flatten: true
                  nextLink:
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    VirtualHardDiskNameParameter:
      name: virtualHardDiskName
      in: path
      required: true
      x-ms-parameter-location: method
[...]
