openapi: 3.0.0
info:
  title: AzureStackHCI
  description: The Microsoft.AzureStackHCI Rest API spec.
  version: 2024-01-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceUri}/providers/Microsoft.AzureStackHCI/virtualMachineInstances/default:
    get:
      operationId: VirtualMachineInstances_Get
      description: Gets a virtual machine instance
      parameters:
      - in: path
        name: resourceUri
        description: The fully qualified Azure Resource manager identifier of the
          Hybrid Compute machine resource to be extended.
        required: true
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      hardwareProfile:
                        type: object
                        properties:
                          vmSize:
                            type: string
                            enum:
                            - Default
                            - Standard_A2_v2
                            - Standard_A4_v2
                            - Standard_D2s_v3
                            - Standard_D4s_v3
                            - Standard_D8s_v3
                            - Standard_D16s_v3
                            - Standard_D32s_v3
                            - Standard_DS2_v2
                            - Standard_DS3_v2
                            - Standard_DS4_v2
                            - Standard_DS5_v2
                            - Standard_DS13_v2
                            - Standard_K8S_v1
                            - Standard_K8S2_v1
                            - Standard_K8S3_v1
                            - Standard_K8S4_v1
                            - Standard_NK6
                            - Standard_NK12
                            - Standard_NV6
                            - Standard_NV12
                            - Standard_K8S5_v1
                            - Custom
                            default: Default
                            x-ms-enum:
                              name: VmSizeEnum
                              modelAsString: true
                          processors:
                            type: integer
                            format: int32
                            description: number of processors for the virtual machine
                              instance
                          memoryMB:
                            type: integer
                            format: int64
                            description: RAM in MB for the virtual machine instance
                          dynamicMemoryConfig:
                            type: object
                            properties:
                              maximumMemoryMB:
                                type: integer
                                format: int64
                              minimumMemoryMB:
                                type: integer
                                format: int64
                              targetMemoryBuffer:
                                type: integer
                                description: Defines the amount of extra memory that
                                  should be reserved for a virtual machine instance
                                  at runtime, as a percentage of the total memory
                                  that the virtual machine instance is thought to
                                  need. This only applies to virtual systems with
                                  dynamic memory enabled. This property can be in
                                  the range of 5 to 2000.
                                format: int32
                        description: HardwareProfile - Specifies the hardware settings
                          for the virtual machine instance.
                      networkProfile:
                        type: object
                        properties:
                          networkInterfaces:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: ID - Resource Id of the network interface
                            description: NetworkInterfaces - list of network interfaces
                              to be attached to the virtual machine instance
                        description: NetworkProfile - describes the network configuration
                          the virtual machine instance
                      osProfile:
                        type: object
                        properties:
                          adminPassword:
                            type: string
                            x-ms-secret: true
                            description: AdminPassword - admin password
                            x-ms-mutability:
                            - create
                          adminUsername:
                            type: string
                            description: AdminUsername - admin username
                          computerName:
                            type: string
                            description: ComputerName - name of the compute
                          linuxConfiguration:
                            type: object
                            properties:
                              disablePasswordAuthentication:
                                type: boolean
                                description: DisablePasswordAuthentication - whether
                                  password authentication should be disabled
                              ssh:
                                description: Specifies the ssh key configuration for
                                  a Linux OS.
                                type: object
                                properties:
                                  publicKeys:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        path:
                                          type: string
                                          description: 'Specifies the full path on
                                            the created VM where ssh public key is
                                            stored. If the file already exists, the
                                            specified key is appended to the file.
                                            Example: /home/user/.ssh/authorized_keys'
                                        keyData:
                                          type: string
                                          description: SSH public key certificate
                                            used to authenticate with the VM through
                                            ssh. The key needs to be at least 2048-bit
                                            and in ssh-rsa format. <br><br> For creating
                                            ssh keys, see [Create SSH keys on Linux
                                            and Mac for Linux VMs in Azure]https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                      description: Contains information about SSH
                                        certificate public key and the path on the
                                        Linux VM where the public key is placed.
                                    x-ms-identifiers:
                                    - path
                                    description: The list of SSH public keys used
                                      to authenticate with linux based VMs.
                              provisionVMAgent:
                                type: boolean
                                default: true
                                description: "Used\u202Fto indicate whether Arc for\
                                  \ Servers agent onboarding should be triggered during\
                                  \ the virtual machine instance creation process."
                              provisionVMConfigAgent:
                                type: boolean
                                default: true
                                description: "Used\u202Fto indicate whether the VM\
                                  \ Config Agent should be installed during the virtual\
                                  \ machine creation process."
                            description: LinuxConfiguration - linux specific configuration
                              values for the virtual machine instance
                          windowsConfiguration:
                            type: object
                            properties:
                              enableAutomaticUpdates:
                                type: boolean
                                description: Whether to EnableAutomaticUpdates on
                                  the machine
                              ssh:
                                description: Specifies the ssh key configuration for
                                  Windows OS.
                                type: object
                                properties:
                                  publicKeys:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        path:
                                          type: string
                                          description: 'Specifies the full path on
                                            the created VM where ssh public key is
                                            stored. If the file already exists, the
                                            specified key is appended to the file.
                                            Example: /home/user/.ssh/authorized_keys'
                                        keyData:
                                          type: string
                                          description: SSH public key certificate
                                            used to authenticate with the VM through
                                            ssh. The key needs to be at least 2048-bit
                                            and in ssh-rsa format. <br><br> For creating
                                            ssh keys, see [Create SSH keys on Linux
                                            and Mac for Linux VMs in Azure]https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                      description: Contains information about SSH
                                        certificate public key and the path on the
                                        Linux VM where the public key is placed.
                                    x-ms-identifiers:
                                    - path
                                    description: The list of SSH public keys used
                                      to authenticate with linux based VMs.
                              timeZone:
                                type: string
                                description: TimeZone for the virtual machine instance
                              provisionVMAgent:
                                type: boolean
                                default: true
                                description: "Used\u202Fto indicate whether Arc for\
                                  \ Servers agent onboarding should be triggered during\
                                  \ the virtual machine instance creation process."
                              provisionVMConfigAgent:
                                type: boolean
                                default: true
                                description: "Used\u202Fto indicate whether the VM\
                                  \ Config Agent should be installed during the virtual\
                                  \ machine creation process."
                            description: 'Windows Configuration for the virtual machine
                              instance '
                        description: OsProfile - describes the configuration of the
                          operating system and sets login data
                      securityProfile:
                        type: object
                        properties:
                          enableTPM:
                            type: boolean
                            default: false
                          uefiSettings:
                            type: object
                            properties:
                              secureBootEnabled:
                                type: boolean
                                default: false
                                description: Specifies whether secure boot should
                                  be enabled on the virtual machine instance.
                          securityType:
                            type: string
                            description: Specifies the SecurityType of the virtual
                              machine. EnableTPM and SecureBootEnabled must be set
                              to true for SecurityType to function.
                            enum:
                            - TrustedLaunch
                            - ConfidentialVM
                            x-ms-enum:
                              name: SecurityTypes
                              modelAsString: true
                        description: SecurityProfile - Specifies the security settings
                          for the virtual machine instance.
                      storageProfile:
                        type: object
                        properties:
                          dataDisks:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID of the data disk
                            description: adds data disks to the virtual machine instance
                          imageReference:
                            type: object
                            properties:
                              id:
                                type: string
                                x-ms-mutability:
                                - create
                                - read
                                description: Resource ID of the image
                            description: Which Image to use for the virtual machine
                              instance
                          osDisk:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource ID of the OS disk
                              osType:
                                type: string
                                description: 'This property allows you to specify
                                  the type of the OS that is included in the disk
                                  if creating a VM from user-image or a specialized
                                  VHD. Possible values are: **Windows,** **Linux.**'
                                enum:
                                - Linux
                                - Windows
                                x-ms-enum:
                                  name: OperatingSystemTypes
                                  modelAsString: false
                            description: VHD to attach as OS disk
                          vmConfigStoragePathId:
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.AzureStackHCI/storageContainers
                            description: Id of the storage container that hosts the
                              VM configuration file
                        description: StorageProfile - contains information about the
                          disks and storage information for the virtual machine instance
                      httpProxyConfig:
                        description: HTTP Proxy configuration for the VM.
                        type: object
                        properties:
                          httpProxy:
                            type: string
                            x-ms-secret: true
                            description: The HTTP proxy server endpoint to use.
                          httpsProxy:
                            type: string
                            x-ms-secret: true
                            description: The HTTPS proxy server endpoint to use.
                          noProxy:
                            type: array
                            items:
                              type: string
                            description: The endpoints that should not go through
                              proxy.
                          trustedCa:
                            type: string
                            description: Alternative CA cert to use for connecting
                              to proxy servers.
                      provisioningState:
                        type: string
                        description: Provisioning state of the virtual machine instance.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      instanceView:
                        readOnly: true
                        description: The virtual machine instance view.
                        type: object
                        properties:
                          vmAgent:
                            description: The VM Config Agent running on the virtual
                              machine.
                            type: object
                            properties:
                              vmConfigAgentVersion:
                                type: string
                                description: The VM Config Agent full version.
                              statuses:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: true
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                                  description: Instance view status.
                                x-ms-identifiers: []
                                description: The resource status information.
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: VirtualMachine provisioning error code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          powerState:
                            type: string
                            description: The power state of the virtual machine instance
                            enum:
                            - Deallocated
                            - Deallocating
                            - Running
                            - Starting
                            - Stopped
                            - Stopping
                            - Unknown
                            x-ms-enum:
                              name: PowerStateEnum
                              modelAsString: true
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the virtual machine instance
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the virtual machine instance [Succeeded, Failed,
                                  InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                        description: The observed state of virtual machine instances
                      guestAgentInstallStatus:
                        description: Guest agent install status.
                        type: object
                        properties:
                          vmUuid:
                            readOnly: true
                            type: string
                            description: Specifies the VM's unique SMBIOS ID.
                          status:
                            readOnly: true
                            type: string
                            description: The installation status of the hybrid machine
                              agent installation.
                            enum:
                            - Succeeded
                            - InProgress
                            - Failed
                            x-ms-enum:
                              name: StatusTypes
                              modelAsString: true
                          lastStatusChange:
                            readOnly: true
                            type: string
                            format: date-time
                            description: The time of the last status change.
                          agentVersion:
                            readOnly: true
                            type: string
                            description: The hybrid machine agent full version.
                          errorDetails:
                            readOnly: true
                            type: array
                            items:
                              type: object
                              description: The error detail.
                              properties:
                                code:
                                  type: string
                                  description: The error code.
                                  readOnly: true
                                message:
                                  type: string
                                  description: The error message.
                                  readOnly: true
                                target:
                                  type: string
                                  description: The error target.
                                  readOnly: true
                                details:
                                  type: array
                                  description: The error details.
                                  items:
                                    type: object
                                    description: The error detail.
                                    properties:
                                      code:
                                        type: string
                                        description: The error code.
                                        readOnly: true
                                      message:
                                        type: string
                                        description: The error message.
                                        readOnly: true
                                      target:
                                        type: string
                                        description: The error target.
                                        readOnly: true
                                      details:
                                        type: array
                                        description: The error details.
                                        items:
                                          type: object
                                          description: The error detail.
                                          properties:
                                            code:
                                              type: string
                                              description: The error code.
                                              readOnly: true
                                            message:
                                              type: string
                                              description: The error message.
                                              readOnly: true
                                            target:
                                              type: string
                                              description: The error target.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers:
                                        - message
                                        - target
                                      additionalInfo:
                                        type: array
                                        description: The error additional info.
                                        items:
                                          type: object
                                          description: The resource management error
                                            additional info.
                                          properties:
                                            type:
                                              type: string
                                              description: The additional info type.
                                              readOnly: true
                                            info:
                                              type: object
                                              description: The additional info.
                                              readOnly: true
                                        readOnly: true
                                        x-ms-identifiers: []
                                  readOnly: true
                                  x-ms-identifiers:
                                  - message
                                  - target
                                additionalInfo:
                                  type: array
                                  description: The error additional info.
                                  items:
                                    type: object
                                    description: The resource management error additional
                                      info.
                                    properties:
                                      type:
                                        type: string
                                        description: The additional info type.
                                        readOnly: true
                                      info:
                                        type: object
                                        description: The additional info.
                                        readOnly: true
                                  readOnly: true
                                  x-ms-identifiers: []
                            x-ms-identifiers: []
                            description: Details about the error state.
                      vmId:
                        description: Unique identifier for the vm resource.
                        type: string
                        readOnly: true
                      resourceUid:
                        description: Unique identifier defined by ARC to identify
                          the guest of the VM.
                        type: string
                    description: Properties under the virtual machine instance resource
                  extendedLocation:
                    description: The extendedLocation of the resource.
                    type: object
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - CustomLocation
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  identity:
                    type: object
                    description: Identity for the resource.
                    properties:
                      principalId:
                        type: string
                        description: The principal ID of resource identity.
                        readOnly: true
                      tenantId:
                        type: string
                        description: The tenant ID of resource.
                        readOnly: true
                      type:
                        type: string
                        description: The identity type.
                        enum:
                        - SystemAssigned
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: VirtualMachineInstances_CreateOrUpdate
      description: The operation to create or update a virtual machine instance. Please
        note some properties can be set only during virtual machine instance creation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - in: path
        name: resourceUri
        description: The fully qualified Azure Resource manager identifier of the
          Hybrid Compute machine resource to be extended.
        required: true
        x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    hardwareProfile:
                      type: object
                      properties:
                        vmSize:
                          type: string
                          enum:
                          - Default
                          - Standard_A2_v2
                          - Standard_A4_v2
                          - Standard_D2s_v3
                          - Standard_D4s_v3
                          - Standard_D8s_v3
                          - Standard_D16s_v3
                          - Standard_D32s_v3
                          - Standard_DS2_v2
                          - Standard_DS3_v2
                          - Standard_DS4_v2
                          - Standard_DS5_v2
                          - Standard_DS13_v2
                          - Standard_K8S_v1
                          - Standard_K8S2_v1
                          - Standard_K8S3_v1
                          - Standard_K8S4_v1
                          - Standard_NK6
                          - Standard_NK12
                          - Standard_NV6
                          - Standard_NV12
                          - Standard_K8S5_v1
                          - Custom
                          default: Default
                          x-ms-enum:
                            name: VmSizeEnum
                            modelAsString: true
                        processors:
                          type: integer
                          format: int32
                          description: number of processors for the virtual machine
                            instance
                        memoryMB:
                          type: integer
                          format: int64
                          description: RAM in MB for the virtual machine instance
                        dynamicMemoryConfig:
                          type: object
                          properties:
                            maximumMemoryMB:
                              type: integer
                              format: int64
                            minimumMemoryMB:
                              type: integer
                              format: int64
                            targetMemoryBuffer:
                              type: integer
                              description: Defines the amount of extra memory that
                                should be reserved for a virtual machine instance
                                at runtime, as a percentage of the total memory that
                                the virtual machine instance is thought to need. This
                                only applies to virtual systems with dynamic memory
                                enabled. This property can be in the range of 5 to
                                2000.
                              format: int32
                      description: HardwareProfile - Specifies the hardware settings
                        for the virtual machine instance.
                    networkProfile:
                      type: object
                      properties:
                        networkInterfaces:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: ID - Resource Id of the network interface
                          description: NetworkInterfaces - list of network interfaces
                            to be attached to the virtual machine instance
                      description: NetworkProfile - describes the network configuration
                        the virtual machine instance
                    osProfile:
                      type: object
                      properties:
                        adminPassword:
                          type: string
                          x-ms-secret: true
                          description: AdminPassword - admin password
                          x-ms-mutability:
                          - create
                        adminUsername:
                          type: string
                          description: AdminUsername - admin username
                        computerName:
                          type: string
                          description: ComputerName - name of the compute
                        linuxConfiguration:
                          type: object
                          properties:
                            disablePasswordAuthentication:
                              type: boolean
                              description: DisablePasswordAuthentication - whether
                                password authentication should be disabled
                            ssh:
                              description: Specifies the ssh key configuration for
                                a Linux OS.
                              type: object
                              properties:
                                publicKeys:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      path:
                                        type: string
                                        description: 'Specifies the full path on the
                                          created VM where ssh public key is stored.
                                          If the file already exists, the specified
                                          key is appended to the file. Example: /home/user/.ssh/authorized_keys'
                                      keyData:
                                        type: string
                                        description: SSH public key certificate used
                                          to authenticate with the VM through ssh.
                                          The key needs to be at least 2048-bit and
                                          in ssh-rsa format. <br><br> For creating
                                          ssh keys, see [Create SSH keys on Linux
                                          and Mac for Linux VMs in Azure]https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                    description: Contains information about SSH certificate
                                      public key and the path on the Linux VM where
                                      the public key is placed.
                                  x-ms-identifiers:
                                  - path
                                  description: The list of SSH public keys used to
                                    authenticate with linux based VMs.
                            provisionVMAgent:
                              type: boolean
                              default: true
                              description: "Used\u202Fto indicate whether Arc for\
                                \ Servers agent onboarding should be triggered during\
                                \ the virtual machine instance creation process."
                            provisionVMConfigAgent:
                              type: boolean
                              default: true
                              description: "Used\u202Fto indicate whether the VM Config\
                                \ Agent should be installed during the virtual machine\
                                \ creation process."
                          description: LinuxConfiguration - linux specific configuration
                            values for the virtual machine instance
                        windowsConfiguration:
                          type: object
                          properties:
                            enableAutomaticUpdates:
                              type: boolean
                              description: Whether to EnableAutomaticUpdates on the
                                machine
                            ssh:
                              description: Specifies the ssh key configuration for
                                Windows OS.
                              type: object
                              properties:
                                publicKeys:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      path:
                                        type: string
                                        description: 'Specifies the full path on the
                                          created VM where ssh public key is stored.
                                          If the file already exists, the specified
                                          key is appended to the file. Example: /home/user/.ssh/authorized_keys'
                                      keyData:
                                        type: string
                                        description: SSH public key certificate used
                                          to authenticate with the VM through ssh.
                                          The key needs to be at least 2048-bit and
                                          in ssh-rsa format. <br><br> For creating
                                          ssh keys, see [Create SSH keys on Linux
                                          and Mac for Linux VMs in Azure]https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                    description: Contains information about SSH certificate
                                      public key and the path on the Linux VM where
                                      the public key is placed.
                                  x-ms-identifiers:
                                  - path
                                  description: The list of SSH public keys used to
                                    authenticate with linux based VMs.
                            timeZone:
                              type: string
                              description: TimeZone for the virtual machine instance
                            provisionVMAgent:
                              type: boolean
                              default: true
                              description: "Used\u202Fto indicate whether Arc for\
                                \ Servers agent onboarding should be triggered during\
                                \ the virtual machine instance creation process."
                            provisionVMConfigAgent:
                              type: boolean
                              default: true
                              description: "Used\u202Fto indicate whether the VM Config\
                                \ Agent should be installed during the virtual machine\
                                \ creation process."
                          description: 'Windows Configuration for the virtual machine
                            instance '
                      description: OsProfile - describes the configuration of the
                        operating system and sets login data
                    securityProfile:
                      type: object
                      properties:
                        enableTPM:
                          type: boolean
                          default: false
                        uefiSettings:
                          type: object
                          properties:
                            secureBootEnabled:
                              type: boolean
                              default: false
                              description: Specifies whether secure boot should be
                                enabled on the virtual machine instance.
                        securityType:
                          type: string
                          description: Specifies the SecurityType of the virtual machine.
                            EnableTPM and SecureBootEnabled must be set to true for
                            SecurityType to function.
                          enum:
                          - TrustedLaunch
                          - ConfidentialVM
                          x-ms-enum:
                            name: SecurityTypes
                            modelAsString: true
                      description: SecurityProfile - Specifies the security settings
                        for the virtual machine instance.
                    storageProfile:
                      type: object
                      properties:
                        dataDisks:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource ID of the data disk
                          description: adds data disks to the virtual machine instance
                        imageReference:
                          type: object
                          properties:
                            id:
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                              description: Resource ID of the image
                          description: Which Image to use for the virtual machine
                            instance
                        osDisk:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID of the OS disk
                            osType:
                              type: string
                              description: 'This property allows you to specify the
                                type of the OS that is included in the disk if creating
                                a VM from user-image or a specialized VHD. Possible
                                values are: **Windows,** **Linux.**'
                              enum:
                              - Linux
                              - Windows
                              x-ms-enum:
                                name: OperatingSystemTypes
                                modelAsString: false
                          description: VHD to attach as OS disk
                        vmConfigStoragePathId:
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.AzureStackHCI/storageContainers
                          description: Id of the storage container that hosts the
                            VM configuration file
                      description: StorageProfile - contains information about the
                        disks and storage information for the virtual machine instance
                    httpProxyConfig:
                      description: HTTP Proxy configuration for the VM.
                      type: object
                      properties:
                        httpProxy:
                          type: string
                          x-ms-secret: true
                          description: The HTTP proxy server endpoint to use.
                        httpsProxy:
                          type: string
                          x-ms-secret: true
                          description: The HTTPS proxy server endpoint to use.
                        noProxy:
                          type: array
                          items:
                            type: string
                          description: The endpoints that should not go through proxy.
                        trustedCa:
                          type: string
                          description: Alternative CA cert to use for connecting to
                            proxy servers.
                    provisioningState:
                      type: string
                      description: Provisioning state of the virtual machine instance.
                      readOnly: true
                      enum:
                      - Succeeded
                      - Failed
                      - InProgress
                      - Accepted
                      - Deleting
                      - Canceled
                      x-ms-enum:
                        name: ProvisioningStateEnum
                        modelAsString: true
                    instanceView:
                      readOnly: true
                      description: The virtual machine instance view.
                      type: object
                      properties:
                        vmAgent:
                          description: The VM Config Agent running on the virtual
                            machine.
                          type: object
                          properties:
                            vmConfigAgentVersion:
                              type: string
                              description: The VM Config Agent full version.
                            statuses:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: The status code.
                                  level:
                                    type: string
                                    description: The level code.
                                    enum:
                                    - Info
                                    - Warning
                                    - Error
                                    x-ms-enum:
                                      name: StatusLevelTypes
                                      modelAsString: true
                                  displayStatus:
                                    type: string
                                    description: The short localizable label for the
                                      status.
                                  message:
                                    type: string
                                    description: The detailed status message, including
                                      for alerts and error messages.
                                  time:
                                    type: string
                                    format: date-time
                                    description: The time of the status.
                                description: Instance view status.
                              x-ms-identifiers: []
                              description: The resource status information.
                    status:
                      type: object
                      x-ms-client-flatten: true
                      readOnly: true
                      properties:
                        errorCode:
                          type: string
                          description: VirtualMachine provisioning error code
                        errorMessage:
                          type: string
                          description: Descriptive error message
                        powerState:
                          type: string
                          description: The power state of the virtual machine instance
                          enum:
                          - Deallocated
                          - Deallocating
                          - Running
                          - Starting
                          - Stopped
                          - Stopping
                          - Unknown
                          x-ms-enum:
                            name: PowerStateEnum
                            modelAsString: true
                        provisioningStatus:
                          type: object
                          properties:
                            operationId:
                              type: string
                              description: The ID of the operation performed on the
                                virtual machine instance
                            status:
                              type: string
                              description: The status of the operation performed on
                                the virtual machine instance [Succeeded, Failed, InProgress]
                              enum:
                              - Succeeded
                              - Failed
                              - InProgress
                              x-ms-enum:
                                name: Status
                                modelAsString: true
                      description: The observed state of virtual machine instances
                    guestAgentInstallStatus:
                      description: Guest agent install status.
                      type: object
                      properties:
                        vmUuid:
                          readOnly: true
                          type: string
                          description: Specifies the VM's unique SMBIOS ID.
                        status:
                          readOnly: true
                          type: string
                          description: The installation status of the hybrid machine
                            agent installation.
                          enum:
                          - Succeeded
                          - InProgress
                          - Failed
                          x-ms-enum:
                            name: StatusTypes
                            modelAsString: true
                        lastStatusChange:
                          readOnly: true
                          type: string
                          format: date-time
                          description: The time of the last status change.
                        agentVersion:
                          readOnly: true
                          type: string
                          description: The hybrid machine agent full version.
                        errorDetails:
                          readOnly: true
                          type: array
                          items:
                            type: object
                            description: The error detail.
                            properties:
                              code:
                                type: string
                                description: The error code.
                                readOnly: true
                              message:
                                type: string
                                description: The error message.
                                readOnly: true
                              target:
                                type: string
                                description: The error target.
                                readOnly: true
                              details:
                                type: array
                                description: The error details.
                                items:
                                  type: object
                                  description: The error detail.
                                  properties:
                                    code:
                                      type: string
                                      description: The error code.
                                      readOnly: true
                                    message:
                                      type: string
                                      description: The error message.
                                      readOnly: true
                                    target:
                                      type: string
                                      description: The error target.
                                      readOnly: true
                                    details:
                                      type: array
                                      description: The error details.
                                      items:
                                        type: object
                                        description: The error detail.
                                        properties:
                                          code:
                                            type: string
                                            description: The error code.
                                            readOnly: true
                                          message:
                                            type: string
                                            description: The error message.
                                            readOnly: true
                                          target:
                                            type: string
                                            description: The error target.
                                            readOnly: true
                                      readOnly: true
                                      x-ms-identifiers:
                                      - message
                                      - target
                                    additionalInfo:
                                      type: array
                                      description: The error additional info.
                                      items:
                                        type: object
                                        description: The resource management error
                                          additional info.
                                        properties:
                                          type:
                                            type: string
                                            description: The additional info type.
                                            readOnly: true
                                          info:
                                            type: object
                                            description: The additional info.
                                            readOnly: true
                                      readOnly: true
                                      x-ms-identifiers: []
                                readOnly: true
                                x-ms-identifiers:
                                - message
                                - target
                              additionalInfo:
                                type: array
                                description: The error additional info.
                                items:
                                  type: object
                                  description: The resource management error additional
                                    info.
                                  properties:
                                    type:
                                      type: string
                                      description: The additional info type.
                                      readOnly: true
                                    info:
                                      type: object
                                      description: The additional info.
                                      readOnly: true
                                readOnly: true
                                x-ms-identifiers: []
                          x-ms-identifiers: []
                          description: Details about the error state.
                    vmId:
                      description: Unique identifier for the vm resource.
                      type: string
                      readOnly: true
                    resourceUid:
                      description: Unique identifier defined by ARC to identify the
                        guest of the VM.
                      type: string
                  description: Properties under the virtual machine instance resource
                extendedLocation:
                  description: The extendedLocation of the resource.
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the extended location.
                    type:
                      description: The type of the extended location.
                      type: string
                      enum:
                      - CustomLocation
                      x-ms-enum:
                        name: ExtendedLocationTypes
                        modelAsString: true
                identity:
                  type: object
                  description: Identity for the resource.
                  properties:
                    principalId:
                      type: string
                      description: The principal ID of resource identity.
                      readOnly: true
                    tenantId:
                      type: string
                      description: The tenant ID of resource.
                      readOnly: true
                    type:
                      type: string
                      description: The identity type.
                      enum:
                      - SystemAssigned
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              x-ms-client-flatten: true
        required: true
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      hardwareProfile:
                        type: object
                        properties:
                          vmSize:
                            type: string
                            enum:
                            - Default
                            - Standard_A2_v2
                            - Standard_A4_v2
                            - Standard_D2s_v3
                            - Standard_D4s_v3
                            - Standard_D8s_v3
                            - Standard_D16s_v3
                            - Standard_D32s_v3
                            - Standard_DS2_v2
                            - Standard_DS3_v2
                            - Standard_DS4_v2
                            - Standard_DS5_v2
                            - Standard_DS13_v2
                            - Standard_K8S_v1
                            - Standard_K8S2_v1
                            - Standard_K8S3_v1
                            - Standard_K8S4_v1
                            - Standard_NK6
                            - Standard_NK12
                            - Standard_NV6
                            - Standard_NV12
                            - Standard_K8S5_v1
                            - Custom
                            default: Default
                            x-ms-enum:
                              name: VmSizeEnum
                              modelAsString: true
                          processors:
                            type: integer
                            format: int32
                            description: number of processors for the virtual machine
                              instance
                          memoryMB:
                            type: integer
                            format: int64
                            description: RAM in MB for the virtual machine instance
                          dynamicMemoryConfig:
                            type: object
                            properties:
                              maximumMemoryMB:
                                type: integer
                                format: int64
                              minimumMemoryMB:
                                type: integer
                                format: int64
                              targetMemoryBuffer:
                                type: integer
                                description: Defines the amount of extra memory that
                                  should be reserved for a virtual machine instance
                                  at runtime, as a percentage of the total memory
                                  that the virtual machine instance is thought to
                                  need. This only applies to virtual systems with
                                  dynamic memory enabled. This property can be in
                                  the range of 5 to 2000.
                                format: int32
                        description: HardwareProfile - Specifies the hardware settings
                          for the virtual machine instance.
                      networkProfile:
                        type: object
                        properties:
                          networkInterfaces:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: ID - Resource Id of the network interface
                            description: NetworkInterfaces - list of network interfaces
                              to be attached to the virtual machine instance
                        description: NetworkProfile - describes the network configuration
                          the virtual machine instance
                      osProfile:
                        type: object
                        properties:
                          adminPassword:
                            type: string
                            x-ms-secret: true
                            description: AdminPassword - admin password
                            x-ms-mutability:
                            - create
                          adminUsername:
                            type: string
                            description: AdminUsername - admin username
                          computerName:
                            type: string
                            description: ComputerName - name of the compute
                          linuxConfiguration:
                            type: object
                            properties:
                              disablePasswordAuthentication:
                                type: boolean
                                description: DisablePasswordAuthentication - whether
                                  password authentication should be disabled
                              ssh:
                                description: Specifies the ssh key configuration for
                                  a Linux OS.
                                type: object
                                properties:
                                  publicKeys:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        path:
                                          type: string
                                          description: 'Specifies the full path on
                                            the created VM where ssh public key is
                                            stored. If the file already exists, the
                                            specified key is appended to the file.
                                            Example: /home/user/.ssh/authorized_keys'
                                        keyData:
                                          type: string
                                          description: SSH public key certificate
                                            used to authenticate with the VM through
                                            ssh. The key needs to be at least 2048-bit
                                            and in ssh-rsa format. <br><br> For creating
                                            ssh keys, see [Create SSH keys on Linux
                                            and Mac for Linux VMs in Azure]https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                      description: Contains information about SSH
                                        certificate public key and the path on the
                                        Linux VM where the public key is placed.
                                    x-ms-identifiers:
                                    - path
                                    description: The list of SSH public keys used
                                      to authenticate with linux based VMs.
                              provisionVMAgent:
                                type: boolean
                                default: true
                                description: "Used\u202Fto indicate whether Arc for\
                                  \ Servers agent onboarding should be triggered during\
                                  \ the virtual machine instance creation process."
                              provisionVMConfigAgent:
                                type: boolean
                                default: true
                                description: "Used\u202Fto indicate whether the VM\
                                  \ Config Agent should be installed during the virtual\
                                  \ machine creation process."
                            description: LinuxConfiguration - linux specific configuration
                              values for the virtual machine instance
                          windowsConfiguration:
                            type: object
                            properties:
                              enableAutomaticUpdates:
                                type: boolean
                                description: Whether to EnableAutomaticUpdates on
                                  the machine
                              ssh:
                                description: Specifies the ssh key configuration for
                                  Windows OS.
                                type: object
                                properties:
                                  publicKeys:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        path:
                                          type: string
                                          description: 'Specifies the full path on
                                            the created VM where ssh public key is
                                            stored. If the file already exists, the
                                            specified key is appended to the file.
                                            Example: /home/user/.ssh/authorized_keys'
                                        keyData:
                                          type: string
                                          description: SSH public key certificate
                                            used to authenticate with the VM through
                                            ssh. The key needs to be at least 2048-bit
                                            and in ssh-rsa format. <br><br> For creating
                                            ssh keys, see [Create SSH keys on Linux
                                            and Mac for Linux VMs in Azure]https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed).
                                      description: Contains information about SSH
                                        certificate public key and the path on the
                                        Linux VM where the public key is placed.
                                    x-ms-identifiers:
                                    - path
                                    description: The list of SSH public keys used
                                      to authenticate with linux based VMs.
                              timeZone:
                                type: string
                                description: TimeZone for the virtual machine instance
                              provisionVMAgent:
                                type: boolean
                                default: true
                                description: "Used\u202Fto indicate whether Arc for\
                                  \ Servers agent onboarding should be triggered during\
                                  \ the virtual machine instance creation process."
                              provisionVMConfigAgent:
                                type: boolean
                                default: true
                                description: "Used\u202Fto indicate whether the VM\
                                  \ Config Agent should be installed during the virtual\
                                  \ machine creation process."
                            description: 'Windows Configuration for the virtual machine
                              instance '
                        description: OsProfile - describes the configuration of the
                          operating system and sets login data
                      securityProfile:
                        type: object
                        properties:
                          enableTPM:
                            type: boolean
                            default: false
                          uefiSettings:
                            type: object
                            properties:
                              secureBootEnabled:
                                type: boolean
                                default: false
                                description: Specifies whether secure boot should
                                  be enabled on the virtual machine instance.
                          securityType:
                            type: string
                            description: Specifies the SecurityType of the virtual
                              machine. EnableTPM and SecureBootEnabled must be set
                              to true for SecurityType to function.
                            enum:
                            - TrustedLaunch
                            - ConfidentialVM
                            x-ms-enum:
                              name: SecurityTypes
                              modelAsString: true
                        description: SecurityProfile - Specifies the security settings
                          for the virtual machine instance.
                      storageProfile:
                        type: object
                        properties:
                          dataDisks:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID of the data disk
                            description: adds data disks to the virtual machine instance
                          imageReference:
                            type: object
                            properties:
                              id:
                                type: string
                                x-ms-mutability:
                                - create
                                - read
                                description: Resource ID of the image
                            description: Which Image to use for the virtual machine
                              instance
                          osDisk:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource ID of the OS disk
                              osType:
                                type: string
                                description: 'This property allows you to specify
                                  the type of the OS that is included in the disk
                                  if creating a VM from user-image or a specialized
                                  VHD. Possible values are: **Windows,** **Linux.**'
                                enum:
                                - Linux
                                - Windows
                                x-ms-enum:
                                  name: OperatingSystemTypes
                                  modelAsString: false
                            description: VHD to attach as OS disk
                          vmConfigStoragePathId:
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.AzureStackHCI/storageContainers
                            description: Id of the storage container that hosts the
                              VM configuration file
                        description: StorageProfile - contains information about the
                          disks and storage information for the virtual machine instance
                      httpProxyConfig:
                        description: HTTP Proxy configuration for the VM.
                        type: object
                        properties:
                          httpProxy:
                            type: string
                            x-ms-secret: true
                            description: The HTTP proxy server endpoint to use.
                          httpsProxy:
                            type: string
                            x-ms-secret: true
                            description: The HTTPS proxy server endpoint to use.
                          noProxy:
                            type: array
                            items:
                              type: string
                            description: The endpoints that should not go through
                              proxy.
                          trustedCa:
                            type: string
                            description: Alternative CA cert to use for connecting
                              to proxy servers.
                      provisioningState:
                        type: string
                        description: Provisioning state of the virtual machine instance.
                        readOnly: true
                        enum:
                        - Succeeded
                        - Failed
                        - InProgress
                        - Accepted
                        - Deleting
                        - Canceled
                        x-ms-enum:
                          name: ProvisioningStateEnum
                          modelAsString: true
                      instanceView:
                        readOnly: true
                        description: The virtual machine instance view.
                        type: object
                        properties:
                          vmAgent:
                            description: The VM Config Agent running on the virtual
                              machine.
                            type: object
                            properties:
                              vmConfigAgentVersion:
                                type: string
                                description: The VM Config Agent full version.
                              statuses:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                      description: The status code.
                                    level:
                                      type: string
                                      description: The level code.
                                      enum:
                                      - Info
                                      - Warning
                                      - Error
                                      x-ms-enum:
                                        name: StatusLevelTypes
                                        modelAsString: true
                                    displayStatus:
                                      type: string
                                      description: The short localizable label for
                                        the status.
                                    message:
                                      type: string
                                      description: The detailed status message, including
                                        for alerts and error messages.
                                    time:
                                      type: string
                                      format: date-time
                                      description: The time of the status.
                                  description: Instance view status.
                                x-ms-identifiers: []
                                description: The resource status information.
                      status:
                        type: object
                        x-ms-client-flatten: true
                        readOnly: true
                        properties:
                          errorCode:
                            type: string
                            description: VirtualMachine provisioning error code
                          errorMessage:
                            type: string
                            description: Descriptive error message
                          powerState:
                            type: string
                            description: The power state of the virtual machine instance
                            enum:
                            - Deallocated
                            - Deallocating
                            - Running
                            - Starting
                            - Stopped
                            - Stopping
                            - Unknown
                            x-ms-enum:
                              name: PowerStateEnum
                              modelAsString: true
                          provisioningStatus:
                            type: object
                            properties:
                              operationId:
                                type: string
                                description: The ID of the operation performed on
                                  the virtual machine instance
                              status:
                                type: string
                                description: The status of the operation performed
                                  on the virtual machine instance [Succeeded, Failed,
                                  InProgress]
                                enum:
                                - Succeeded
                                - Failed
                                - InProgress
                                x-ms-enum:
                                  name: Status
                                  modelAsString: true
                        description: The observed state of virtual machine instances
                      guestAgentInstallStatus:
                        description: Guest agent install status.
                        type: object
[...]
