openapi: 3.0.0
info:
  title: MicrosoftSerialConsoleClient
  version: 2024-07-01
  description: The Azure Serial Console allows you to access the serial console of
    a Virtual Machine or VM scale set instance
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourceType}/{parentResource}/providers/Microsoft.SerialConsole/serialPorts
  : get:
      tags:
      - SerialPorts
      operationId: SerialPorts_List
      description: 'Lists all of the configured serial ports for a parent resource '
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: parentResourceType
        in: path
        required: true
        description: 'The resource type of the parent resource.  For example: ''virtualMachines''
          or ''virtualMachineScaleSets'''
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: parentResource
        in: path
        required: true
        description: 'The resource name, or subordinate path, for the parent of the
          serial port. For example: the name of the virtual machine.'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identifies the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call requiring it.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Serial port list result
                description: The list serial ports operation response.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The properties of the serial port.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            state:
                              description: Specifies whether the port is enabled for
                                a serial console connection.
                              type: string
                              enum:
                              - enabled
                              - disabled
                              x-ms-enum:
                                name: SerialPortState
                                modelAsString: false
                            connectionState:
                              description: Specifies whether the port is currently
                                active.
                              type: string
                              enum:
                              - active
                              - inactive
                              x-ms-enum:
                                name: SerialPortConnectionState
                                modelAsString: false
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of serial ports.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourceType}/{parentResource}/providers/Microsoft.SerialConsole/serialPorts/{serialPort}
  : get:
      tags:
      - SerialPorts
      operationId: SerialPorts_Get
      description: Gets the configured settings for a serial port
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: parentResourceType
        in: path
        required: true
        description: 'The resource type of the parent resource.  For example: ''virtualMachines''
          or ''virtualMachineScaleSets'''
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: parentResource
        in: path
        required: true
        description: 'The resource name, or subordinate path, for the parent of the
          serial port. For example: the name of the virtual machine.'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serialPort
        in: path
        required: true
        description: The name of the serial port to connect to.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identifies the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call requiring it.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The properties of the serial port.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      state:
                        description: Specifies whether the port is enabled for a serial
                          console connection.
                        type: string
                        enum:
                        - enabled
                        - disabled
                        x-ms-enum:
                          name: SerialPortState
                          modelAsString: false
                      connectionState:
                        description: Specifies whether the port is currently active.
                        type: string
                        enum:
                        - active
                        - inactive
                        x-ms-enum:
                          name: SerialPortConnectionState
                          modelAsString: false
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
    put:
      tags:
      - SerialPorts
      operationId: SerialPorts_Create
      description: Creates or updates a serial port
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: parentResourceType
        in: path
        required: true
        description: 'The resource type of the parent resource.  For example: ''virtualMachines''
          or ''virtualMachineScaleSets'''
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: parentResource
        in: path
        required: true
        description: 'The resource name, or subordinate path, for the parent of the
          serial port. For example: the name of the virtual machine.'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serialPort
        in: path
        required: true
        description: The name of the serial port to create.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identifies the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call requiring it.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  description: The properties of the serial port.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    state:
                      description: Specifies whether the port is enabled for a serial
                        console connection.
                      type: string
                      enum:
                      - enabled
                      - disabled
                      x-ms-enum:
                        name: SerialPortState
                        modelAsString: false
                    connectionState:
                      description: Specifies whether the port is currently active.
                      type: string
                      enum:
                      - active
                      - inactive
                      x-ms-enum:
                        name: SerialPortConnectionState
                        modelAsString: false
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters supplied to create the serial port.
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    description: The properties of the serial port.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      state:
                        description: Specifies whether the port is enabled for a serial
                          console connection.
                        type: string
                        enum:
                        - enabled
                        - disabled
                        x-ms-enum:
                          name: SerialPortState
                          modelAsString: false
                      connectionState:
                        description: Specifies whether the port is currently active.
                        type: string
                        enum:
                        - active
                        - inactive
                        x-ms-enum:
                          name: SerialPortConnectionState
                          modelAsString: false
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
  /subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/serialPorts:
    get:
      tags:
      - SerialPorts
      description: Handles requests to list all SerialPort resources in a subscription.
      operationId: SerialPorts_ListBySubscriptions
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identifies the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call requiring it.
        schema:
          type: string
      responses:
        '200':
          description: OK - Return a list of SerialPort resources
          content:
            application/json:
              schema:
                title: Serial port list result
                description: The list serial ports operation response.
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          description: The properties of the serial port.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            state:
                              description: Specifies whether the port is enabled for
                                a serial console connection.
                              type: string
                              enum:
                              - enabled
                              - disabled
                              x-ms-enum:
                                name: SerialPortState
                                modelAsString: false
                            connectionState:
                              description: Specifies whether the port is currently
                                active.
                              type: string
                              enum:
                              - active
                              - inactive
                              x-ms-enum:
                                name: SerialPortConnectionState
                                modelAsString: false
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of serial ports.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourceType}/{parentResource}/providers/Microsoft.SerialConsole/serialPorts/{serialPort}/connect
  : post:
      tags:
      - SerialPorts
      operationId: SerialPorts_Connect
      description: Connect to serial port of the target resource
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: resourceProviderNamespace
        in: path
        required: true
        description: The namespace of the resource provider.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: parentResourceType
        in: path
        required: true
        description: 'The resource type of the parent resource.  For example: ''virtualMachines''
          or ''virtualMachineScaleSets'''
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
        schema:
          type: string
      - name: parentResource
        in: path
        required: true
        description: 'The resource name, or subordinate path, for the parent of the
          serial port. For example: the name of the virtual machine.'
        x-ms-parameter-location: method
        schema:
          type: string
      - name: serialPort
        in: path
        required: true
        description: The name of the serial port to connect to.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identifies the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call requiring it.
        schema:
          type: string
      responses:
        '200':
          description: OK - Return a connection string
          content:
            application/json:
              schema:
                title: Serial port connect result
                description: Returns a connection string to the serial port of the
                  resource.
                type: object
                properties:
                  connectionString:
                    description: Connection string to the serial port of the resource.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription ID which uniquely identifies the Microsoft Azure subscription.
        The subscription ID forms part of the URI for every service call requiring
        it.
      schema:
        type: string
    defaultParameter:
      name: default
      in: path
      required: true
      description: Default parameter. Leave the value as "default".
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceProviderNamespaceParameter:
      name: resourceProviderNamespace
      in: path
      required: true
      description: The namespace of the resource provider.
      x-ms-parameter-location: method
      schema:
        type: string
    ParentResourceTypeParameter:
      name: parentResourceType
      in: path
      required: true
      description: 'The resource type of the parent resource.  For example: ''virtualMachines''
        or ''virtualMachineScaleSets'''
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
      schema:
        type: string
    ParentResourceParameter:
      name: parentResource
      in: path
      required: true
      description: 'The resource name, or subordinate path, for the parent of the
        serial port. For example: the name of the virtual machine.'
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SerialPortProperties:
      description: The properties of the serial port.
      type: object
      properties:
        state:
          description: Specifies whether the port is enabled for a serial console
            connection.
          type: string
          enum:
          - enabled
          - disabled
          x-ms-enum:
            name: SerialPortState
            modelAsString: false
        connectionState:
          description: Specifies whether the port is currently active.
          type: string
          enum:
          - active
          - inactive
          x-ms-enum:
            name: SerialPortConnectionState
            modelAsString: false
    SerialPort:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: The properties of the serial port.
          x-ms-client-flatten: true
          type: object
          properties:
            state:
              description: Specifies whether the port is enabled for a serial console
                connection.
              type: string
              enum:
              - enabled
              - disabled
              x-ms-enum:
                name: SerialPortState
                modelAsString: false
            connectionState:
              description: Specifies whether the port is currently active.
              type: string
              enum:
              - active
              - inactive
              x-ms-enum:
                name: SerialPortConnectionState
                modelAsString: false
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    SerialPortListResult:
      title: Serial port list result
      description: The list serial ports operation response.
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                description: The properties of the serial port.
                x-ms-client-flatten: true
                type: object
                properties:
                  state:
                    description: Specifies whether the port is enabled for a serial
                      console connection.
                    type: string
                    enum:
                    - enabled
                    - disabled
                    x-ms-enum:
                      name: SerialPortState
                      modelAsString: false
                  connectionState:
                    description: Specifies whether the port is currently active.
                    type: string
                    enum:
                    - active
                    - inactive
                    x-ms-enum:
                      name: SerialPortConnectionState
                      modelAsString: false
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: The list of serial ports.
    SerialPortConnectResult:
      title: Serial port connect result
      description: Returns a connection string to the serial port of the resource.
      type: object
      properties:
        connectionString:
          description: Connection string to the serial port of the resource.
          type: string
    CloudError:
      description: An error response from the service.
      x-ms-external: true
      type: object
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          type: object
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                description: An error response from the Batch service.
                x-ms-external: true
                type: object
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      description: An error response from the Batch service.
                      x-ms-external: true
                      type: object
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                    x-ms-identifiers:
                    - code
                    description: A list of additional details about the error.
              x-ms-identifiers:
              - code
              description: A list of additional details about the error.
    CloudErrorBody:
      description: An error response from the Batch service.
      x-ms-external: true
      type: object
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            description: An error response from the Batch service.
            x-ms-external: true
            type: object
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  description: An error response from the Batch service.
                  x-ms-external: true
                  type: object
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                x-ms-identifiers:
                - code
                description: A list of additional details about the error.
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    ProxyResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
