openapi: 3.0.0
info:
  title: MicrosoftSerialConsoleClient
  version: 2024-07-01
  description: The Azure Serial Console allows you to access the serial console of
    a Virtual Machine or VM scale set instance
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.SerialConsole/operations:
    get:
      tags:
      - SerialConsole
      operationId: ListOperations
      description: Gets a list of Serial Console API operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      responses:
        '200':
          description: OK - returns a JSON object
          content:
            application/json:
              schema:
                title: Serial Console operations
                description: Serial Console operations
                type: object
                properties:
                  value:
                    description: A list of Serial Console operations
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        isDataAction:
                          type: string
                        display:
                          type: object
                          properties:
                            provider:
                              type: string
                            resource:
                              type: string
                            operation:
                              type: string
                            description:
                              type: string
                x-ms-identifiers:
                - name
        default:
          description: Default response
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
  /subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}:
    get:
      tags:
      - SerialConsole
      operationId: GetConsoleStatus
      summary: Get the disabled status for a subscription
      description: Gets whether or not Serial Console is disabled for a given subscription
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identifies the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call requiring it.
        schema:
          type: string
      - name: default
        in: path
        required: true
        description: Default parameter. Leave the value as "default".
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns a JSON object
          content:
            application/json:
              schema:
                title: Serial Console GET Result
                description: Returns whether or not Serial Console is disabled.
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      disabled:
                        description: Whether or not Serial Console is disabled.
                        type: boolean
        '404':
          description: Subscription not found - returns a JSON object with error details
          x-ms-error-response: true
          content:
            application/json:
              schema:
                title: Serial Console subscription not found
                description: Error saying that the provided subscription could not
                  be found
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Subscription not found message
                    type: string
        default:
          description: Default response
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
  /subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}/disableConsole:
    post:
      tags:
      - SerialConsole
      operationId: DisableConsole
      summary: Disable Serial Console for a subscription
      description: Disables the Serial Console service for all VMs and VM scale sets
        in the provided subscription
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identifies the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call requiring it.
        schema:
          type: string
      - name: default
        in: path
        required: true
        description: Default parameter. Leave the value as "default".
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns a JSON object
          content:
            application/json:
              schema:
                title: Serial Console Disable Result
                description: Returns whether or not Serial Console is disabled.
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      disabled:
                        description: Whether or not Serial Console is disabled.
                        type: boolean
        '404':
          description: Subscription not found - returns a JSON object with error details
          x-ms-error-response: true
          content:
            application/json:
              schema:
                title: Serial Console subscription not found
                description: Error saying that the provided subscription could not
                  be found
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Subscription not found message
                    type: string
        default:
          description: Default response
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
  /subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}/enableConsole:
    post:
      tags:
      - SerialConsole
      operationId: EnableConsole
      summary: Enable Serial Console for a subscription
      description: Enables the Serial Console service for all VMs and VM scale sets
        in the provided subscription
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: Subscription ID which uniquely identifies the Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call requiring it.
        schema:
          type: string
      - name: default
        in: path
        required: true
        description: Default parameter. Leave the value as "default".
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Serial Console disabled
          content:
            application/json:
              schema:
                title: Serial Console Enable Result
                description: Returns whether or not Serial Console is disabled (enabled).
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      disabled:
                        description: Whether or not Serial Console is disabled.
                        type: boolean
        '404':
          description: Subscription not found - returns a JSON object with error details
          x-ms-error-response: true
          content:
            application/json:
              schema:
                title: Serial Console subscription not found
                description: Error saying that the provided subscription could not
                  be found
                type: object
                properties:
                  code:
                    description: Error code
                    type: string
                  message:
                    description: Subscription not found message
                    type: string
        default:
          description: Default response
          content:
            application/json:
              schema:
                description: An error response from the service.
                x-ms-external: true
                type: object
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    type: object
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          description: An error response from the Batch service.
                          x-ms-external: true
                          type: object
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                description: An error response from the Batch service.
                                x-ms-external: true
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                              x-ms-identifiers:
                              - code
                              description: A list of additional details about the
                                error.
                        x-ms-identifiers:
                        - code
                        description: A list of additional details about the error.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: Subscription ID which uniquely identifies the Microsoft Azure subscription.
        The subscription ID forms part of the URI for every service call requiring
        it.
      schema:
        type: string
    defaultParameter:
      name: default
      in: path
      required: true
      description: Default parameter. Leave the value as "default".
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SerialConsoleStatus:
      title: Serial Console GET Result
      description: Returns whether or not Serial Console is disabled.
      type: object
      properties:
        properties:
          type: object
          properties:
            disabled:
              description: Whether or not Serial Console is disabled.
              type: boolean
    DisableSerialConsoleResult:
      title: Serial Console Disable Result
      description: Returns whether or not Serial Console is disabled.
      type: object
      properties:
        properties:
          type: object
          properties:
            disabled:
              description: Whether or not Serial Console is disabled.
              type: boolean
    EnableSerialConsoleResult:
      title: Serial Console Enable Result
      description: Returns whether or not Serial Console is disabled (enabled).
      type: object
      properties:
        properties:
          type: object
          properties:
            disabled:
              description: Whether or not Serial Console is disabled.
              type: boolean
    SerialConsoleOperations:
      title: Serial Console operations
      description: Serial Console operations
      type: object
      properties:
        value:
          description: A list of Serial Console operations
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              isDataAction:
                type: string
              display:
                type: object
                properties:
                  provider:
                    type: string
                  resource:
                    type: string
                  operation:
                    type: string
                  description:
                    type: string
      x-ms-identifiers:
      - name
    GetSerialConsoleSubscriptionNotFound:
      title: Serial Console subscription not found
      description: Error saying that the provided subscription could not be found
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Subscription not found message
          type: string
    CloudErrorBody:
      description: An error response from the Batch service.
      x-ms-external: true
      type: object
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            description: An error response from the Batch service.
            x-ms-external: true
            type: object
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  description: An error response from the Batch service.
                  x-ms-external: true
                  type: object
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                x-ms-identifiers:
                - code
                description: A list of additional details about the error.
          x-ms-identifiers:
          - code
          description: A list of additional details about the error.
    CloudError:
      description: An error response from the service.
      x-ms-external: true
      type: object
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          type: object
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                description: An error response from the Batch service.
                x-ms-external: true
                type: object
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      description: An error response from the Batch service.
                      x-ms-external: true
                      type: object
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                    x-ms-identifiers:
                    - code
                    description: A list of additional details about the error.
              x-ms-identifiers:
              - code
              description: A list of additional details about the error.
