openapi: 3.0.0
info:
  title: Azure Metrics
  version: 2018-09-01-preview
  description: A client for issuing REST requests to the Azure metrics service.
  x-ms-code-generation-settings:
    name: AzureMetricsClient
servers:
- url: https://monitoring.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProvider}/{resourceTypeName}/{resourceName}/metrics
  : post:
      tags:
      - Metrics
      operationId: Metrics_Create
      description: '**Post the metric values for a resource**.'
      parameters:
      - in: header
        name: Content-Type
        description: Supports application/json and application/x-ndjson
        required: true
        schema:
          type: string
      - in: header
        name: Content-Length
        description: Content length of the payload
        required: true
        schema:
          type: integer
          format: int32
      - in: header
        name: Authorization
        description: Authorization token issue for issued for audience "https:\\monitoring.azure.com\"
        required: true
        schema:
          type: string
      - in: path
        name: subscriptionId
        description: The azure subscription id
        required: true
        schema:
          type: string
      - in: path
        name: resourceGroupName
        description: The ARM resource group name
        required: true
        schema:
          type: string
      - in: path
        name: resourceProvider
        description: The ARM resource provider name
        required: true
        schema:
          type: string
      - in: path
        name: resourceTypeName
        description: The ARM resource type name
        required: true
        schema:
          type: string
      - in: path
        name: resourceName
        description: The ARM resource name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                time:
                  description: Gets or sets Time property (in ISO 8601 format)
                  type: string
                data:
                  type: object
                  properties:
                    baseData:
                      type: object
                      properties:
                        metric:
                          description: Gets or sets the Metric name
                          type: string
                        namespace:
                          description: Gets or sets the Metric namespace
                          type: string
                        dimNames:
                          description: Gets or sets the list of dimension names (optional)
                          type: array
                          items:
                            type: string
                        series:
                          description: Gets or sets the list of time series data for
                            the metric (one per unique dimension combination)
                          type: array
                          items:
                            type: object
                            properties:
                              dimValues:
                                description: Gets or sets dimension values
                                type: array
                                items:
                                  type: string
                              min:
                                format: double
                                description: Gets or sets Min value
                                type: number
                              max:
                                format: double
                                description: Gets or sets Max value
                                type: number
                              sum:
                                format: double
                                description: Gets or sets Sum value
                                type: number
                              count:
                                format: int32
                                description: Gets or sets Count value
                                type: integer
                            required:
                            - min
                            - max
                            - sum
                            - count
                      required:
                      - metric
                      - namespace
                      - series
                  required:
                  - baseData
              required:
              - time
              - data
        description: The Azure metrics document json payload
        required: true
      responses:
        '200':
          description: The azure metrics publish succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    format: int32
                    description: 'Http status code response '
                    type: integer
                  apiFailureResponse:
                    type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            description: Gets or sets the azure metrics error code
                            type: string
                          message:
                            description: Gets or sets the azure metrics error message
                            type: string
        default:
          description: An unexpected error from the server. See response object for
            the reason
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    format: int32
                    description: 'Http status code response '
                    type: integer
                  apiFailureResponse:
                    type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            description: Gets or sets the azure metrics error code
                            type: string
                          message:
                            description: Gets or sets the azure metrics error message
                            type: string
components:
  schemas:
    AzureMetricsDocument:
      type: object
      properties:
        time:
          description: Gets or sets Time property (in ISO 8601 format)
          type: string
        data:
          type: object
          properties:
            baseData:
              type: object
              properties:
                metric:
                  description: Gets or sets the Metric name
                  type: string
                namespace:
                  description: Gets or sets the Metric namespace
                  type: string
                dimNames:
                  description: Gets or sets the list of dimension names (optional)
                  type: array
                  items:
                    type: string
                series:
                  description: Gets or sets the list of time series data for the metric
                    (one per unique dimension combination)
                  type: array
                  items:
                    type: object
                    properties:
                      dimValues:
                        description: Gets or sets dimension values
                        type: array
                        items:
                          type: string
                      min:
                        format: double
                        description: Gets or sets Min value
                        type: number
                      max:
                        format: double
                        description: Gets or sets Max value
                        type: number
                      sum:
                        format: double
                        description: Gets or sets Sum value
                        type: number
                      count:
                        format: int32
                        description: Gets or sets Count value
                        type: integer
                    required:
                    - min
                    - max
                    - sum
                    - count
              required:
              - metric
              - namespace
              - series
          required:
          - baseData
      required:
      - time
      - data
    AzureMetricsData:
      type: object
      properties:
        baseData:
          type: object
          properties:
            metric:
              description: Gets or sets the Metric name
              type: string
            namespace:
              description: Gets or sets the Metric namespace
              type: string
            dimNames:
              description: Gets or sets the list of dimension names (optional)
              type: array
              items:
                type: string
            series:
              description: Gets or sets the list of time series data for the metric
                (one per unique dimension combination)
              type: array
              items:
                type: object
                properties:
                  dimValues:
                    description: Gets or sets dimension values
                    type: array
                    items:
                      type: string
                  min:
                    format: double
                    description: Gets or sets Min value
                    type: number
                  max:
                    format: double
                    description: Gets or sets Max value
                    type: number
                  sum:
                    format: double
                    description: Gets or sets Sum value
                    type: number
                  count:
                    format: int32
                    description: Gets or sets Count value
                    type: integer
                required:
                - min
                - max
                - sum
                - count
          required:
          - metric
          - namespace
          - series
      required:
      - baseData
    AzureMetricsBaseData:
      type: object
      properties:
        metric:
          description: Gets or sets the Metric name
          type: string
        namespace:
          description: Gets or sets the Metric namespace
          type: string
        dimNames:
          description: Gets or sets the list of dimension names (optional)
          type: array
          items:
            type: string
        series:
          description: Gets or sets the list of time series data for the metric (one
            per unique dimension combination)
          type: array
          items:
            type: object
            properties:
              dimValues:
                description: Gets or sets dimension values
                type: array
                items:
                  type: string
              min:
                format: double
                description: Gets or sets Min value
                type: number
              max:
                format: double
                description: Gets or sets Max value
                type: number
              sum:
                format: double
                description: Gets or sets Sum value
                type: number
              count:
                format: int32
                description: Gets or sets Count value
                type: integer
            required:
            - min
            - max
            - sum
            - count
      required:
      - metric
      - namespace
      - series
    AzureTimeSeriesData:
      type: object
      properties:
        dimValues:
          description: Gets or sets dimension values
          type: array
          items:
            type: string
        min:
          format: double
          description: Gets or sets Min value
          type: number
        max:
          format: double
          description: Gets or sets Max value
          type: number
        sum:
          format: double
          description: Gets or sets Sum value
          type: number
        count:
          format: int32
          description: Gets or sets Count value
          type: integer
      required:
      - min
      - max
      - sum
      - count
    AzureMetricsResult:
      type: object
      properties:
        statusCode:
          format: int32
          description: 'Http status code response '
          type: integer
        apiFailureResponse:
          type: object
          properties:
            error:
              type: object
              properties:
                code:
                  description: Gets or sets the azure metrics error code
                  type: string
                message:
                  description: Gets or sets the azure metrics error message
                  type: string
    ApiFailureResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              description: Gets or sets the azure metrics error code
              type: string
            message:
              description: Gets or sets the azure metrics error message
              type: string
    ApiError:
      type: object
      properties:
        code:
          description: Gets or sets the azure metrics error code
          type: string
        message:
          description: Gets or sets the azure metrics error message
          type: string
