openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableDelegations:
    get:
      operationId: AvailableDelegations_List
      description: Gets all of the available subnet delegations for this subscription
        in this region.
      parameters:
      - name: location
        in: path
        required: true
        description: The location of the subnet.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. Returns all of the possible delegations
            for a subnet in this subscription in the region.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The name of the AvailableDelegation resource.
                        id:
                          type: string
                          description: A unique identifier of the AvailableDelegation
                            resource.
                        type:
                          type: string
                          description: Resource type.
                        serviceName:
                          type: string
                          description: The name of the service and resource.
                        actions:
                          type: array
                          items:
                            type: string
                          description: The actions permitted to the service upon delegation.
                      description: The serviceName of an AvailableDelegation indicates
                        a possible delegation for a subnet.
                    description: An array of available delegations.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to get the next set of results.
                description: An array of available delegations.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableDelegations
  : get:
      operationId: AvailableResourceGroupDelegations_List
      description: Gets all of the available subnet delegations for this resource
        group in this region.
      parameters:
      - name: location
        in: path
        required: true
        description: The location of the domain name.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. Returns all of the possible delegations
            for a subnet in this subscription in the region.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: The name of the AvailableDelegation resource.
                        id:
                          type: string
                          description: A unique identifier of the AvailableDelegation
                            resource.
                        type:
                          type: string
                          description: Resource type.
                        serviceName:
                          type: string
                          description: The name of the service and resource.
                        actions:
                          type: array
                          items:
                            type: string
                          description: The actions permitted to the service upon delegation.
                      description: The serviceName of an AvailableDelegation indicates
                        a possible delegation for a subnet.
                    description: An array of available delegations.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to get the next set of results.
                description: An array of available delegations.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AvailableDelegationsResult:
      properties:
        value:
          type: array
          items:
            properties:
              name:
                type: string
                description: The name of the AvailableDelegation resource.
              id:
                type: string
                description: A unique identifier of the AvailableDelegation resource.
              type:
                type: string
                description: Resource type.
              serviceName:
                type: string
                description: The name of the service and resource.
              actions:
                type: array
                items:
                  type: string
                description: The actions permitted to the service upon delegation.
            description: The serviceName of an AvailableDelegation indicates a possible
              delegation for a subnet.
          description: An array of available delegations.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: An array of available delegations.
    AvailableDelegation:
      properties:
        name:
          type: string
          description: The name of the AvailableDelegation resource.
        id:
          type: string
          description: A unique identifier of the AvailableDelegation resource.
        type:
          type: string
          description: Resource type.
        serviceName:
          type: string
          description: The name of the service and resource.
        actions:
          type: array
          items:
            type: string
          description: The actions permitted to the service upon delegation.
      description: The serviceName of an AvailableDelegation indicates a possible
        delegation for a subnet.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
