openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories/{name}:
    get:
      tags:
      - WebCategories
      operationId: WebCategories_Get
      description: Gets the specified Azure Web Category.
      parameters:
      - name: name
        in: path
        required: true
        description: The name of the azureWebCategory.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands resourceIds back referenced by the azureWebCategory resource.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting azureWebCategory
            resource.
          content:
            application/json:
              schema:
                properties:
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Azure Web Category.
                    properties:
                      group:
                        type: string
                        readOnly: true
                        description: The name of the group that the category belongs
                          to.
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Azure Web Category Resource.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories:
    get:
      tags:
      - WebCategories
      operationId: WebCategories_ListBySubscription
      description: Gets all the Azure Web Categories in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Success. The operation returns a list of Azure Web Category
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the Azure Web Category.
                          properties:
                            group:
                              type: string
                              readOnly: true
                              description: The name of the group that the category
                                belongs to.
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Azure Web Category Resource.
                    description: List of Azure Web Categories for a given Subscription.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for ListAzureWebCategories API service call.
        default:
          description: Unexpected Error.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AzureWebCategoryPropertiesFormat:
      properties:
        group:
          type: string
          readOnly: true
          description: The name of the group that the category belongs to.
      description: Azure Web Category Properties.
    AzureWebCategory:
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of the Azure Web Category.
          properties:
            group:
              type: string
              readOnly: true
              description: The name of the group that the category belongs to.
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource
            is updated.
      description: Azure Web Category Resource.
    AzureWebCategoryListResult:
      properties:
        value:
          type: array
          items:
            properties:
              properties:
                x-ms-client-flatten: true
                description: Properties of the Azure Web Category.
                properties:
                  group:
                    type: string
                    readOnly: true
                    description: The name of the group that the category belongs to.
              id:
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              etag:
                readOnly: true
                type: string
                description: A unique read-only string that changes whenever the resource
                  is updated.
            description: Azure Web Category Resource.
          description: List of Azure Web Categories for a given Subscription.
        nextLink:
          type: string
          description: URL to get the next set of results.
      description: Response for ListAzureWebCategories API service call.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
