openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/azureFirewalls/{azureFirewallName}
  : delete:
      tags:
      - AzureFirewalls
      operationId: AzureFirewalls_Delete
      description: Deletes the specified Azure Firewall.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: azureFirewallName
        in: path
        required: true
        description: The name of the Azure Firewall.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not
            exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - AzureFirewalls
      operationId: AzureFirewalls_Get
      description: Gets the specified Azure Firewall.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: azureFirewallName
        in: path
        required: true
        description: The name of the Azure Firewall.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns an AzureFirewall
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the azure firewall.
                    properties:
                      applicationRuleCollections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the azure firewall application
                                rule collection.
                              properties:
                                priority:
                                  type: integer
                                  format: int32
                                  maximum: 65000
                                  exclusiveMaximum: false
                                  minimum: 100
                                  exclusiveMinimum: false
                                  description: Priority of the application rule collection
                                    resource.
                                action:
                                  description: The action type of a rule collection.
                                  properties:
                                    type:
                                      description: The type of action.
                                      type: string
                                      enum:
                                      - Allow
                                      - Deny
                                      x-ms-enum:
                                        name: AzureFirewallRCActionType
                                        modelAsString: true
                                rules:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the application rule.
                                      description:
                                        type: string
                                        description: Description of the rule.
                                      sourceAddresses:
                                        type: array
                                        description: List of source IP addresses for
                                          this rule.
                                        items:
                                          type: string
                                      protocols:
                                        type: array
                                        items:
                                          properties:
                                            protocolType:
                                              description: Protocol type.
                                              type: string
                                              enum:
                                              - Http
                                              - Https
                                              - Mssql
                                              x-ms-enum:
                                                name: AzureFirewallApplicationRuleProtocolType
                                                modelAsString: true
                                            port:
                                              type: integer
                                              format: int32
                                              maximum: 64000
                                              exclusiveMaximum: false
                                              minimum: 0
                                              exclusiveMinimum: false
                                              description: Port number for the protocol,
                                                cannot be greater than 64000. This
                                                field is optional.
                                          description: Properties of the application
                                            rule protocol.
                                        description: Array of ApplicationRuleProtocols.
                                      targetFqdns:
                                        type: array
                                        description: List of FQDNs for this rule.
                                        items:
                                          type: string
                                      fqdnTags:
                                        type: array
                                        description: List of FQDN Tags for this rule.
                                        items:
                                          type: string
                                      sourceIpGroups:
                                        type: array
                                        description: List of source IpGroups for this
                                          rule.
                                        items:
                                          type: string
                                    description: Properties of an application rule.
                                  description: Collection of rules used by a application
                                    rule collection.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the application
                                    rule collection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within the Azure firewall. This name can be used to
                                access the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Collection of application rule collections used
                          by Azure Firewall.
                      natRuleCollections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the azure firewall NAT rule
                                collection.
                              properties:
                                priority:
                                  type: integer
                                  format: int32
                                  maximum: 65000
                                  exclusiveMaximum: false
                                  minimum: 100
                                  exclusiveMinimum: false
                                  description: Priority of the NAT rule collection
                                    resource.
                                action:
                                  description: The action type of a NAT rule collection.
                                  properties:
                                    type:
                                      description: The type of action.
                                      type: string
                                      enum:
                                      - Snat
                                      - Dnat
                                      x-ms-enum:
                                        name: AzureFirewallNatRCActionType
                                        modelAsString: true
                                rules:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the NAT rule.
                                      description:
                                        type: string
                                        description: Description of the rule.
                                      sourceAddresses:
                                        type: array
                                        description: List of source IP addresses for
                                          this rule.
                                        items:
                                          type: string
                                      destinationAddresses:
                                        type: array
                                        description: List of destination IP addresses
                                          for this rule. Supports IP ranges, prefixes,
                                          and service tags.
                                        items:
                                          type: string
                                      destinationPorts:
                                        type: array
                                        description: List of destination ports.
                                        items:
                                          type: string
                                      protocols:
                                        type: array
                                        items:
                                          type: string
                                          description: The protocol of a Network Rule
                                            resource.
                                          enum:
                                          - TCP
                                          - UDP
                                          - Any
                                          - ICMP
                                          x-ms-enum:
                                            name: AzureFirewallNetworkRuleProtocol
                                            modelAsString: true
                                        description: Array of AzureFirewallNetworkRuleProtocols
                                          applicable to this NAT rule.
                                      translatedAddress:
                                        type: string
                                        description: The translated address for this
                                          NAT rule.
                                      translatedPort:
                                        type: string
                                        description: The translated port for this
                                          NAT rule.
                                      translatedFqdn:
                                        type: string
                                        description: The translated FQDN for this
                                          NAT rule.
                                      sourceIpGroups:
                                        type: array
                                        description: List of source IpGroups for this
                                          rule.
                                        items:
                                          type: string
                                    description: Properties of a NAT rule.
                                  description: Collection of rules used by a NAT rule
                                    collection.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the NAT rule
                                    collection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within the Azure firewall. This name can be used to
                                access the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Collection of NAT rule collections used by Azure
                          Firewall.
                      networkRuleCollections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the azure firewall network
                                rule collection.
                              properties:
                                priority:
                                  type: integer
                                  format: int32
                                  maximum: 65000
                                  exclusiveMaximum: false
                                  minimum: 100
                                  exclusiveMinimum: false
                                  description: Priority of the network rule collection
                                    resource.
                                action:
                                  description: The action type of a rule collection.
                                  properties:
                                    type:
                                      description: The type of action.
                                      type: string
                                      enum:
                                      - Allow
                                      - Deny
                                      x-ms-enum:
                                        name: AzureFirewallRCActionType
                                        modelAsString: true
                                rules:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the network rule.
                                      description:
                                        type: string
                                        description: Description of the rule.
                                      protocols:
                                        type: array
                                        items:
                                          type: string
                                          description: The protocol of a Network Rule
                                            resource.
                                          enum:
                                          - TCP
                                          - UDP
                                          - Any
                                          - ICMP
                                          x-ms-enum:
                                            name: AzureFirewallNetworkRuleProtocol
                                            modelAsString: true
                                        description: Array of AzureFirewallNetworkRuleProtocols.
                                      sourceAddresses:
                                        type: array
                                        description: List of source IP addresses for
                                          this rule.
                                        items:
                                          type: string
                                      destinationAddresses:
                                        type: array
                                        description: List of destination IP addresses.
                                        items:
                                          type: string
                                      destinationPorts:
                                        type: array
                                        description: List of destination ports.
                                        items:
                                          type: string
                                      destinationFqdns:
                                        type: array
                                        description: List of destination FQDNs.
                                        items:
                                          type: string
                                      sourceIpGroups:
                                        type: array
                                        description: List of source IpGroups for this
                                          rule.
                                        items:
                                          type: string
                                      destinationIpGroups:
                                        type: array
                                        description: List of destination IpGroups
                                          for this rule.
                                        items:
                                          type: string
                                    description: Properties of the network rule.
                                  description: Collection of rules used by a network
                                    rule collection.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the network
                                    rule collection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within the Azure firewall. This name can be used to
                                access the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Collection of network rule collections used by
                          Azure Firewall.
                      ipConfigurations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the azure firewall IP configuration.
                              properties:
                                privateIPAddress:
                                  type: string
                                  readOnly: true
                                  description: The Firewall Internal Load Balancer
                                    IP to be used as the next hop in User Defined
                                    Routes.
                                subnet:
                                  description: Reference to the subnet resource. This
                                    resource must be named 'AzureFirewallSubnet' or
                                    'AzureFirewallManagementSubnet'.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                publicIPAddress:
                                  description: Reference to the PublicIP resource.
                                    This field is a mandatory input if subnet is not
                                    null.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the Azure
                                    firewall IP configuration resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                            name:
                              type: string
                              description: Name of the resource that is unique within
                                a resource group. This name can be used to access
                                the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                            type:
                              readOnly: true
                              type: string
                              description: Type of the resource.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: IP configuration of the Azure Firewall resource.
                      managementIpConfiguration:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the azure firewall IP configuration.
                            properties:
                              privateIPAddress:
                                type: string
                                readOnly: true
                                description: The Firewall Internal Load Balancer IP
                                  to be used as the next hop in User Defined Routes.
                              subnet:
                                description: Reference to the subnet resource. This
                                  resource must be named 'AzureFirewallSubnet' or
                                  'AzureFirewallManagementSubnet'.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              publicIPAddress:
                                description: Reference to the PublicIP resource. This
                                  field is a mandatory input if subnet is not null.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the Azure firewall
                                  IP configuration resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          name:
                            type: string
                            description: Name of the resource that is unique within
                              a resource group. This name can be used to access the
                              resource.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                          type:
                            readOnly: true
                            type: string
                            description: Type of the resource.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the Azure firewall
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      threatIntelMode:
                        description: The operation mode for Threat Intelligence.
                        type: string
                        enum:
                        - Alert
                        - Deny
                        - 'Off'
                        x-ms-enum:
                          name: AzureFirewallThreatIntelMode
                          modelAsString: true
                      virtualHub:
                        description: The virtualHub to which the firewall belongs.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      firewallPolicy:
                        description: The firewallPolicy associated with this azure
                          firewall.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      hubIPAddresses:
                        description: IP addresses associated with AzureFirewall.
                        properties:
                          publicIPs:
                            description: Public IP addresses associated with azure
                              firewall.
                            properties:
                              addresses:
                                type: array
                                description: The list of Public IP addresses associated
                                  with azure firewall or IP addresses to be retained.
                                items:
                                  properties:
                                    address:
                                      type: string
                                      description: Public IP Address value.
                                  description: Public IP Address associated with azure
                                    firewall.
                              count:
                                type: integer
                                format: int32
                                description: The number of Public IP addresses associated
                                  with azure firewall.
                          privateIPAddress:
                            type: string
                            description: Private IP Address associated with azure
                              firewall.
                      ipGroups:
                        readOnly: true
                        description: IpGroups associated with AzureFirewall.
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              readOnly: true
                              description: Resource ID.
                            changeNumber:
                              type: string
                              readOnly: true
                              description: The iteration number.
                          description: IpGroups associated with azure firewall.
                      sku:
                        description: The Azure Firewall Resource SKU.
                        properties:
                          name:
                            type: string
                            description: Name of an Azure Firewall SKU.
                            enum:
                            - AZFW_VNet
                            - AZFW_Hub
                            x-ms-enum:
                              name: AzureFirewallSkuName
                              modelAsString: true
                          tier:
                            type: string
                            description: Tier of an Azure Firewall.
                            enum:
                            - Standard
                            - Premium
                            - Basic
                            x-ms-enum:
                              name: AzureFirewallSkuTier
                              modelAsString: true
                      additionalProperties:
                        description: The additional properties used to further config
                          this azure firewall.
                        type: object
                        additionalProperties:
                          type: string
                      autoscaleConfiguration:
                        description: Properties to provide a custom autoscale configuration
                          to this azure firewall.
                        type: object
                        properties:
                          minCapacity:
                            type: integer
                            format: int32
                            minimum: 2
                            description: The minimum number of capacity units for
                              this azure firewall. Use null to reset the value to
                              the service default.
                            nullable: true
                          maxCapacity:
                            type: integer
                            format: int32
                            minimum: 2
                            description: The maximum number of capacity units for
                              this azure firewall. Use null to reset the value to
                              the service default.
                            nullable: true
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting where the resource
                      needs to come from.
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - AzureFirewalls
      operationId: AzureFirewalls_CreateOrUpdate
      description: Creates or updates the specified Azure Firewall.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: azureFirewallName
        in: path
        required: true
        description: The name of the Azure Firewall.
        schema:
          type: string
          minLength: 1
          maxLength: 56
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the azure firewall.
                  properties:
                    applicationRuleCollections:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the azure firewall application
                              rule collection.
                            properties:
                              priority:
                                type: integer
                                format: int32
                                maximum: 65000
                                exclusiveMaximum: false
                                minimum: 100
                                exclusiveMinimum: false
                                description: Priority of the application rule collection
                                  resource.
                              action:
                                description: The action type of a rule collection.
                                properties:
                                  type:
                                    description: The type of action.
                                    type: string
                                    enum:
                                    - Allow
                                    - Deny
                                    x-ms-enum:
                                      name: AzureFirewallRCActionType
                                      modelAsString: true
                              rules:
                                type: array
                                items:
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the application rule.
                                    description:
                                      type: string
                                      description: Description of the rule.
                                    sourceAddresses:
                                      type: array
                                      description: List of source IP addresses for
                                        this rule.
                                      items:
                                        type: string
                                    protocols:
                                      type: array
                                      items:
                                        properties:
                                          protocolType:
                                            description: Protocol type.
                                            type: string
                                            enum:
                                            - Http
                                            - Https
                                            - Mssql
                                            x-ms-enum:
                                              name: AzureFirewallApplicationRuleProtocolType
                                              modelAsString: true
                                          port:
                                            type: integer
                                            format: int32
                                            maximum: 64000
                                            exclusiveMaximum: false
                                            minimum: 0
                                            exclusiveMinimum: false
                                            description: Port number for the protocol,
                                              cannot be greater than 64000. This field
                                              is optional.
                                        description: Properties of the application
                                          rule protocol.
                                      description: Array of ApplicationRuleProtocols.
                                    targetFqdns:
                                      type: array
                                      description: List of FQDNs for this rule.
                                      items:
                                        type: string
                                    fqdnTags:
                                      type: array
                                      description: List of FQDN Tags for this rule.
                                      items:
                                        type: string
                                    sourceIpGroups:
                                      type: array
                                      description: List of source IpGroups for this
                                        rule.
                                      items:
                                        type: string
                                  description: Properties of an application rule.
                                description: Collection of rules used by a application
                                  rule collection.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the application
                                  rule collection resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          name:
                            type: string
                            description: The name of the resource that is unique within
                              the Azure firewall. This name can be used to access
                              the resource.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: Collection of application rule collections used
                        by Azure Firewall.
                    natRuleCollections:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the azure firewall NAT rule
                              collection.
                            properties:
                              priority:
                                type: integer
                                format: int32
                                maximum: 65000
                                exclusiveMaximum: false
                                minimum: 100
                                exclusiveMinimum: false
                                description: Priority of the NAT rule collection resource.
                              action:
                                description: The action type of a NAT rule collection.
                                properties:
                                  type:
                                    description: The type of action.
                                    type: string
                                    enum:
                                    - Snat
                                    - Dnat
                                    x-ms-enum:
                                      name: AzureFirewallNatRCActionType
                                      modelAsString: true
                              rules:
                                type: array
                                items:
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the NAT rule.
                                    description:
                                      type: string
                                      description: Description of the rule.
                                    sourceAddresses:
                                      type: array
                                      description: List of source IP addresses for
                                        this rule.
                                      items:
                                        type: string
                                    destinationAddresses:
                                      type: array
                                      description: List of destination IP addresses
                                        for this rule. Supports IP ranges, prefixes,
                                        and service tags.
                                      items:
                                        type: string
                                    destinationPorts:
                                      type: array
                                      description: List of destination ports.
                                      items:
                                        type: string
                                    protocols:
                                      type: array
                                      items:
                                        type: string
                                        description: The protocol of a Network Rule
                                          resource.
                                        enum:
                                        - TCP
                                        - UDP
                                        - Any
                                        - ICMP
                                        x-ms-enum:
                                          name: AzureFirewallNetworkRuleProtocol
                                          modelAsString: true
                                      description: Array of AzureFirewallNetworkRuleProtocols
                                        applicable to this NAT rule.
                                    translatedAddress:
                                      type: string
                                      description: The translated address for this
                                        NAT rule.
                                    translatedPort:
                                      type: string
                                      description: The translated port for this NAT
                                        rule.
                                    translatedFqdn:
                                      type: string
                                      description: The translated FQDN for this NAT
                                        rule.
                                    sourceIpGroups:
                                      type: array
                                      description: List of source IpGroups for this
                                        rule.
                                      items:
                                        type: string
                                  description: Properties of a NAT rule.
                                description: Collection of rules used by a NAT rule
                                  collection.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the NAT rule
                                  collection resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          name:
                            type: string
                            description: The name of the resource that is unique within
                              the Azure firewall. This name can be used to access
                              the resource.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: Collection of NAT rule collections used by Azure
                        Firewall.
                    networkRuleCollections:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the azure firewall network
                              rule collection.
                            properties:
                              priority:
                                type: integer
                                format: int32
                                maximum: 65000
                                exclusiveMaximum: false
                                minimum: 100
                                exclusiveMinimum: false
                                description: Priority of the network rule collection
                                  resource.
                              action:
                                description: The action type of a rule collection.
                                properties:
                                  type:
                                    description: The type of action.
                                    type: string
                                    enum:
                                    - Allow
                                    - Deny
                                    x-ms-enum:
                                      name: AzureFirewallRCActionType
                                      modelAsString: true
                              rules:
                                type: array
                                items:
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the network rule.
                                    description:
                                      type: string
                                      description: Description of the rule.
                                    protocols:
                                      type: array
                                      items:
                                        type: string
                                        description: The protocol of a Network Rule
                                          resource.
                                        enum:
                                        - TCP
                                        - UDP
                                        - Any
                                        - ICMP
                                        x-ms-enum:
                                          name: AzureFirewallNetworkRuleProtocol
                                          modelAsString: true
                                      description: Array of AzureFirewallNetworkRuleProtocols.
                                    sourceAddresses:
                                      type: array
                                      description: List of source IP addresses for
                                        this rule.
                                      items:
                                        type: string
                                    destinationAddresses:
                                      type: array
                                      description: List of destination IP addresses.
                                      items:
                                        type: string
                                    destinationPorts:
                                      type: array
                                      description: List of destination ports.
                                      items:
                                        type: string
                                    destinationFqdns:
                                      type: array
                                      description: List of destination FQDNs.
                                      items:
                                        type: string
                                    sourceIpGroups:
                                      type: array
                                      description: List of source IpGroups for this
                                        rule.
                                      items:
                                        type: string
                                    destinationIpGroups:
                                      type: array
                                      description: List of destination IpGroups for
                                        this rule.
                                      items:
                                        type: string
                                  description: Properties of the network rule.
                                description: Collection of rules used by a network
                                  rule collection.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the network
                                  rule collection resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          name:
                            type: string
                            description: The name of the resource that is unique within
                              the Azure firewall. This name can be used to access
                              the resource.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: Collection of network rule collections used by
                        Azure Firewall.
                    ipConfigurations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the azure firewall IP configuration.
                            properties:
                              privateIPAddress:
                                type: string
                                readOnly: true
                                description: The Firewall Internal Load Balancer IP
                                  to be used as the next hop in User Defined Routes.
                              subnet:
                                description: Reference to the subnet resource. This
                                  resource must be named 'AzureFirewallSubnet' or
                                  'AzureFirewallManagementSubnet'.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              publicIPAddress:
                                description: Reference to the PublicIP resource. This
                                  field is a mandatory input if subnet is not null.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the Azure firewall
                                  IP configuration resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          name:
                            type: string
                            description: Name of the resource that is unique within
                              a resource group. This name can be used to access the
                              resource.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                          type:
                            readOnly: true
                            type: string
                            description: Type of the resource.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: IP configuration of the Azure Firewall resource.
                    managementIpConfiguration:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the azure firewall IP configuration.
                          properties:
                            privateIPAddress:
                              type: string
                              readOnly: true
                              description: The Firewall Internal Load Balancer IP
                                to be used as the next hop in User Defined Routes.
                            subnet:
                              description: Reference to the subnet resource. This
                                resource must be named 'AzureFirewallSubnet' or 'AzureFirewallManagementSubnet'.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            publicIPAddress:
                              description: Reference to the PublicIP resource. This
                                field is a mandatory input if subnet is not null.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the Azure firewall
                                IP configuration resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        name:
                          type: string
                          description: Name of the resource that is unique within
                            a resource group. This name can be used to access the
                            resource.
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        type:
                          readOnly: true
                          type: string
                          description: Type of the resource.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the Azure firewall resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    threatIntelMode:
                      description: The operation mode for Threat Intelligence.
                      type: string
                      enum:
                      - Alert
                      - Deny
                      - 'Off'
                      x-ms-enum:
                        name: AzureFirewallThreatIntelMode
                        modelAsString: true
                    virtualHub:
                      description: The virtualHub to which the firewall belongs.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    firewallPolicy:
                      description: The firewallPolicy associated with this azure firewall.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    hubIPAddresses:
                      description: IP addresses associated with AzureFirewall.
                      properties:
                        publicIPs:
                          description: Public IP addresses associated with azure firewall.
                          properties:
                            addresses:
                              type: array
                              description: The list of Public IP addresses associated
                                with azure firewall or IP addresses to be retained.
                              items:
                                properties:
                                  address:
                                    type: string
                                    description: Public IP Address value.
                                description: Public IP Address associated with azure
                                  firewall.
                            count:
                              type: integer
                              format: int32
                              description: The number of Public IP addresses associated
                                with azure firewall.
                        privateIPAddress:
                          type: string
                          description: Private IP Address associated with azure firewall.
                    ipGroups:
                      readOnly: true
                      description: IpGroups associated with AzureFirewall.
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            readOnly: true
                            description: Resource ID.
                          changeNumber:
                            type: string
                            readOnly: true
                            description: The iteration number.
                        description: IpGroups associated with azure firewall.
                    sku:
                      description: The Azure Firewall Resource SKU.
                      properties:
                        name:
                          type: string
                          description: Name of an Azure Firewall SKU.
                          enum:
                          - AZFW_VNet
                          - AZFW_Hub
                          x-ms-enum:
                            name: AzureFirewallSkuName
                            modelAsString: true
                        tier:
                          type: string
                          description: Tier of an Azure Firewall.
                          enum:
                          - Standard
                          - Premium
                          - Basic
                          x-ms-enum:
                            name: AzureFirewallSkuTier
                            modelAsString: true
                    additionalProperties:
                      description: The additional properties used to further config
                        this azure firewall.
                      type: object
                      additionalProperties:
                        type: string
                    autoscaleConfiguration:
                      description: Properties to provide a custom autoscale configuration
                        to this azure firewall.
                      type: object
                      properties:
                        minCapacity:
                          type: integer
                          format: int32
                          minimum: 2
                          description: The minimum number of capacity units for this
                            azure firewall. Use null to reset the value to the service
                            default.
                          nullable: true
                        maxCapacity:
                          type: integer
                          format: int32
                          minimum: 2
                          description: The maximum number of capacity units for this
                            azure firewall. Use null to reset the value to the service
                            default.
                          nullable: true
                zones:
                  type: array
                  items:
                    type: string
                  description: A list of availability zones denoting where the resource
                    needs to come from.
                etag:
                  type: string
                  readOnly: true
                  description: A unique read-only string that changes whenever the
                    resource is updated.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update Azure Firewall operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting AzureFirewall
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the azure firewall.
                    properties:
                      applicationRuleCollections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the azure firewall application
                                rule collection.
                              properties:
                                priority:
                                  type: integer
                                  format: int32
                                  maximum: 65000
                                  exclusiveMaximum: false
                                  minimum: 100
                                  exclusiveMinimum: false
                                  description: Priority of the application rule collection
                                    resource.
                                action:
                                  description: The action type of a rule collection.
                                  properties:
                                    type:
                                      description: The type of action.
                                      type: string
                                      enum:
                                      - Allow
                                      - Deny
                                      x-ms-enum:
                                        name: AzureFirewallRCActionType
                                        modelAsString: true
                                rules:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the application rule.
                                      description:
                                        type: string
                                        description: Description of the rule.
                                      sourceAddresses:
                                        type: array
                                        description: List of source IP addresses for
                                          this rule.
                                        items:
                                          type: string
                                      protocols:
                                        type: array
                                        items:
                                          properties:
                                            protocolType:
                                              description: Protocol type.
                                              type: string
                                              enum:
                                              - Http
                                              - Https
                                              - Mssql
                                              x-ms-enum:
                                                name: AzureFirewallApplicationRuleProtocolType
                                                modelAsString: true
                                            port:
                                              type: integer
                                              format: int32
                                              maximum: 64000
                                              exclusiveMaximum: false
                                              minimum: 0
                                              exclusiveMinimum: false
                                              description: Port number for the protocol,
                                                cannot be greater than 64000. This
                                                field is optional.
                                          description: Properties of the application
                                            rule protocol.
                                        description: Array of ApplicationRuleProtocols.
                                      targetFqdns:
                                        type: array
                                        description: List of FQDNs for this rule.
                                        items:
                                          type: string
                                      fqdnTags:
                                        type: array
                                        description: List of FQDN Tags for this rule.
                                        items:
                                          type: string
                                      sourceIpGroups:
                                        type: array
                                        description: List of source IpGroups for this
                                          rule.
                                        items:
                                          type: string
                                    description: Properties of an application rule.
                                  description: Collection of rules used by a application
                                    rule collection.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the application
                                    rule collection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within the Azure firewall. This name can be used to
                                access the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Collection of application rule collections used
                          by Azure Firewall.
                      natRuleCollections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the azure firewall NAT rule
                                collection.
                              properties:
                                priority:
                                  type: integer
                                  format: int32
                                  maximum: 65000
                                  exclusiveMaximum: false
                                  minimum: 100
                                  exclusiveMinimum: false
                                  description: Priority of the NAT rule collection
                                    resource.
                                action:
                                  description: The action type of a NAT rule collection.
                                  properties:
                                    type:
                                      description: The type of action.
                                      type: string
                                      enum:
                                      - Snat
                                      - Dnat
                                      x-ms-enum:
                                        name: AzureFirewallNatRCActionType
                                        modelAsString: true
                                rules:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the NAT rule.
                                      description:
                                        type: string
                                        description: Description of the rule.
                                      sourceAddresses:
                                        type: array
                                        description: List of source IP addresses for
                                          this rule.
                                        items:
                                          type: string
                                      destinationAddresses:
                                        type: array
                                        description: List of destination IP addresses
                                          for this rule. Supports IP ranges, prefixes,
                                          and service tags.
                                        items:
                                          type: string
                                      destinationPorts:
                                        type: array
                                        description: List of destination ports.
                                        items:
                                          type: string
                                      protocols:
                                        type: array
                                        items:
                                          type: string
                                          description: The protocol of a Network Rule
                                            resource.
                                          enum:
                                          - TCP
                                          - UDP
                                          - Any
                                          - ICMP
                                          x-ms-enum:
                                            name: AzureFirewallNetworkRuleProtocol
                                            modelAsString: true
                                        description: Array of AzureFirewallNetworkRuleProtocols
                                          applicable to this NAT rule.
                                      translatedAddress:
                                        type: string
                                        description: The translated address for this
                                          NAT rule.
                                      translatedPort:
                                        type: string
                                        description: The translated port for this
                                          NAT rule.
                                      translatedFqdn:
                                        type: string
                                        description: The translated FQDN for this
                                          NAT rule.
                                      sourceIpGroups:
                                        type: array
                                        description: List of source IpGroups for this
                                          rule.
                                        items:
                                          type: string
                                    description: Properties of a NAT rule.
                                  description: Collection of rules used by a NAT rule
                                    collection.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the NAT rule
                                    collection resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within the Azure firewall. This name can be used to
                                access the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Collection of NAT rule collections used by Azure
                          Firewall.
                      networkRuleCollections:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the azure firewall network
                                rule collection.
                              properties:
                                priority:
                                  type: integer
                                  format: int32
                                  maximum: 65000
                                  exclusiveMaximum: false
                                  minimum: 100
                                  exclusiveMinimum: false
                                  description: Priority of the network rule collection
                                    resource.
                                action:
                                  description: The action type of a rule collection.
                                  properties:
                                    type:
                                      description: The type of action.
                                      type: string
                                      enum:
                                      - Allow
                                      - Deny
                                      x-ms-enum:
                                        name: AzureFirewallRCActionType
                                        modelAsString: true
                                rules:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the network rule.
                                      description:
                                        type: string
                                        description: Description of the rule.
                                      protocols:
                                        type: array
                                        items:
                                          type: string
                                          description: The protocol of a Network Rule
                                            resource.
                                          enum:
                                          - TCP
                                          - UDP
                                          - Any
                                          - ICMP
                                          x-ms-enum:
                                            name: AzureFirewallNetworkRuleProtocol
                                            modelAsString: true
                                        description: Array of AzureFirewallNetworkRuleProtocols.
                                      sourceAddresses:
                                        type: array
                                        description: List of source IP addresses for
                                          this rule.
                                        items:
                                          type: string
                                      destinationAddresses:
                                        type: array
                                        description: List of destination IP addresses.
                                        items:
                                          type: string
                                      destinationPorts:
                                        type: array
                                        description: List of destination ports.
                                        items:
                                          type: string
                                      destinationFqdns:
                                        type: array
                                        description: List of destination FQDNs.
                                        items:
                                          type: string
                                      sourceIpGroups:
                                        type: array
[...]
