openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}
  : delete:
      tags:
      - BastionHosts
      operationId: BastionHosts_Delete
      description: Deletes the specified Bastion Host.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: bastionHostName
        in: path
        required: true
        description: The name of the Bastion Host.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not
            exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - BastionHosts
      operationId: BastionHosts_Get
      description: Gets the specified Bastion Host.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: bastionHostName
        in: path
        required: true
        description: The name of the Bastion Host.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns an BastionHost resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Represents the bastion host resource.
                    properties:
                      ipConfigurations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Represents the ip configuration associated
                                with the resource.
                              properties:
                                subnet:
                                  description: Reference of the subnet resource.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                publicIPAddress:
                                  description: Reference of the PublicIP resource.
                                    Null for private only bastion
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the bastion
                                    host IP configuration resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                privateIPAllocationMethod:
                                  description: Private IP allocation method.
                                  type: string
                                  enum:
                                  - Static
                                  - Dynamic
                                  x-ms-enum:
                                    name: IPAllocationMethod
                                    modelAsString: true
                              required:
                              - subnet
                            name:
                              type: string
                              description: Name of the resource that is unique within
                                a resource group. This name can be used to access
                                the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                            type:
                              readOnly: true
                              type: string
                              description: Ip configuration type.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: IP configuration of the Bastion Host resource.
                      dnsName:
                        type: string
                        description: FQDN for the endpoint on which bastion host is
                          accessible.
                      virtualNetwork:
                        description: Reference to an existing virtual network required
                          for Developer Bastion Host only.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      networkAcls:
                        properties:
                          ipRules:
                            type: array
                            items:
                              description: IP rule with specific IP or IP range in
                                CIDR format.
                              properties:
                                addressPrefix:
                                  type: string
                                  description: Specifies the IP or IP range in CIDR
                                    format. Only IPV4 address is allowed.
                              type: object
                            description: Sets the IP ACL rules for Developer Bastion
                              Host.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the bastion host resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      scaleUnits:
                        type: integer
                        format: int32
                        description: The scale units for the Bastion Host resource.
                        minimum: 2
                        maximum: 50
                      disableCopyPaste:
                        type: boolean
                        default: false
                        description: Enable/Disable Copy/Paste feature of the Bastion
                          Host resource.
                      enableFileCopy:
                        type: boolean
                        default: false
                        description: Enable/Disable File Copy feature of the Bastion
                          Host resource.
                      enableIpConnect:
                        type: boolean
                        default: false
                        description: Enable/Disable IP Connect feature of the Bastion
                          Host resource.
                      enableShareableLink:
                        type: boolean
                        default: false
                        description: Enable/Disable Shareable Link of the Bastion
                          Host resource.
                      enableTunneling:
                        type: boolean
                        default: false
                        description: Enable/Disable Tunneling feature of the Bastion
                          Host resource.
                      enableKerberos:
                        type: boolean
                        default: false
                        description: Enable/Disable Kerberos feature of the Bastion
                          Host resource.
                      enableSessionRecording:
                        type: boolean
                        default: false
                        description: Enable/Disable Session Recording feature of the
                          Bastion Host resource.
                      enablePrivateOnlyBastion:
                        type: boolean
                        default: false
                        description: Enable/Disable Private Only feature of the Bastion
                          Host resource.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting where the resource
                      needs to come from.
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  sku:
                    description: The sku of this Bastion Host.
                    properties:
                      name:
                        type: string
                        description: The name of the sku of this Bastion Host.
                        enum:
                        - Basic
                        - Standard
                        - Developer
                        - Premium
                        default: Standard
                        x-ms-enum:
                          name: BastionHostSkuName
                          modelAsString: true
                    type: object
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - BastionHosts
      operationId: BastionHosts_CreateOrUpdate
      description: Creates or updates the specified Bastion Host.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: bastionHostName
        in: path
        required: true
        description: The name of the Bastion Host.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Represents the bastion host resource.
                  properties:
                    ipConfigurations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Represents the ip configuration associated
                              with the resource.
                            properties:
                              subnet:
                                description: Reference of the subnet resource.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              publicIPAddress:
                                description: Reference of the PublicIP resource. Null
                                  for private only bastion
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the bastion
                                  host IP configuration resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                              privateIPAllocationMethod:
                                description: Private IP allocation method.
                                type: string
                                enum:
                                - Static
                                - Dynamic
                                x-ms-enum:
                                  name: IPAllocationMethod
                                  modelAsString: true
                            required:
                            - subnet
                          name:
                            type: string
                            description: Name of the resource that is unique within
                              a resource group. This name can be used to access the
                              resource.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                          type:
                            readOnly: true
                            type: string
                            description: Ip configuration type.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: IP configuration of the Bastion Host resource.
                    dnsName:
                      type: string
                      description: FQDN for the endpoint on which bastion host is
                        accessible.
                    virtualNetwork:
                      description: Reference to an existing virtual network required
                        for Developer Bastion Host only.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    networkAcls:
                      properties:
                        ipRules:
                          type: array
                          items:
                            description: IP rule with specific IP or IP range in CIDR
                              format.
                            properties:
                              addressPrefix:
                                type: string
                                description: Specifies the IP or IP range in CIDR
                                  format. Only IPV4 address is allowed.
                            type: object
                          description: Sets the IP ACL rules for Developer Bastion
                            Host.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the bastion host resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    scaleUnits:
                      type: integer
                      format: int32
                      description: The scale units for the Bastion Host resource.
                      minimum: 2
                      maximum: 50
                    disableCopyPaste:
                      type: boolean
                      default: false
                      description: Enable/Disable Copy/Paste feature of the Bastion
                        Host resource.
                    enableFileCopy:
                      type: boolean
                      default: false
                      description: Enable/Disable File Copy feature of the Bastion
                        Host resource.
                    enableIpConnect:
                      type: boolean
                      default: false
                      description: Enable/Disable IP Connect feature of the Bastion
                        Host resource.
                    enableShareableLink:
                      type: boolean
                      default: false
                      description: Enable/Disable Shareable Link of the Bastion Host
                        resource.
                    enableTunneling:
                      type: boolean
                      default: false
                      description: Enable/Disable Tunneling feature of the Bastion
                        Host resource.
                    enableKerberos:
                      type: boolean
                      default: false
                      description: Enable/Disable Kerberos feature of the Bastion
                        Host resource.
                    enableSessionRecording:
                      type: boolean
                      default: false
                      description: Enable/Disable Session Recording feature of the
                        Bastion Host resource.
                    enablePrivateOnlyBastion:
                      type: boolean
                      default: false
                      description: Enable/Disable Private Only feature of the Bastion
                        Host resource.
                zones:
                  type: array
                  items:
                    type: string
                  description: A list of availability zones denoting where the resource
                    needs to come from.
                etag:
                  type: string
                  readOnly: true
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                sku:
                  description: The sku of this Bastion Host.
                  properties:
                    name:
                      type: string
                      description: The name of the sku of this Bastion Host.
                      enum:
                      - Basic
                      - Standard
                      - Developer
                      - Premium
                      default: Standard
                      x-ms-enum:
                        name: BastionHostSkuName
                        modelAsString: true
                  type: object
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update Bastion Host operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting Bastion
            Host resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Represents the bastion host resource.
                    properties:
                      ipConfigurations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Represents the ip configuration associated
                                with the resource.
                              properties:
                                subnet:
                                  description: Reference of the subnet resource.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                publicIPAddress:
                                  description: Reference of the PublicIP resource.
                                    Null for private only bastion
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the bastion
                                    host IP configuration resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                privateIPAllocationMethod:
                                  description: Private IP allocation method.
                                  type: string
                                  enum:
                                  - Static
                                  - Dynamic
                                  x-ms-enum:
                                    name: IPAllocationMethod
                                    modelAsString: true
                              required:
                              - subnet
                            name:
                              type: string
                              description: Name of the resource that is unique within
                                a resource group. This name can be used to access
                                the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                            type:
                              readOnly: true
                              type: string
                              description: Ip configuration type.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: IP configuration of the Bastion Host resource.
                      dnsName:
                        type: string
                        description: FQDN for the endpoint on which bastion host is
                          accessible.
                      virtualNetwork:
                        description: Reference to an existing virtual network required
                          for Developer Bastion Host only.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      networkAcls:
                        properties:
                          ipRules:
                            type: array
                            items:
                              description: IP rule with specific IP or IP range in
                                CIDR format.
                              properties:
                                addressPrefix:
                                  type: string
                                  description: Specifies the IP or IP range in CIDR
                                    format. Only IPV4 address is allowed.
                              type: object
                            description: Sets the IP ACL rules for Developer Bastion
                              Host.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the bastion host resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      scaleUnits:
                        type: integer
                        format: int32
                        description: The scale units for the Bastion Host resource.
                        minimum: 2
                        maximum: 50
                      disableCopyPaste:
                        type: boolean
                        default: false
                        description: Enable/Disable Copy/Paste feature of the Bastion
                          Host resource.
                      enableFileCopy:
                        type: boolean
                        default: false
                        description: Enable/Disable File Copy feature of the Bastion
                          Host resource.
                      enableIpConnect:
                        type: boolean
                        default: false
                        description: Enable/Disable IP Connect feature of the Bastion
                          Host resource.
                      enableShareableLink:
                        type: boolean
                        default: false
                        description: Enable/Disable Shareable Link of the Bastion
                          Host resource.
                      enableTunneling:
                        type: boolean
                        default: false
                        description: Enable/Disable Tunneling feature of the Bastion
                          Host resource.
                      enableKerberos:
                        type: boolean
                        default: false
                        description: Enable/Disable Kerberos feature of the Bastion
                          Host resource.
                      enableSessionRecording:
                        type: boolean
                        default: false
                        description: Enable/Disable Session Recording feature of the
                          Bastion Host resource.
                      enablePrivateOnlyBastion:
                        type: boolean
                        default: false
                        description: Enable/Disable Private Only feature of the Bastion
                          Host resource.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting where the resource
                      needs to come from.
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  sku:
                    description: The sku of this Bastion Host.
                    properties:
                      name:
                        type: string
                        description: The name of the sku of this Bastion Host.
                        enum:
                        - Basic
                        - Standard
                        - Developer
                        - Premium
                        default: Standard
                        x-ms-enum:
                          name: BastionHostSkuName
                          modelAsString: true
                    type: object
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting Bastion
            Host resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Represents the bastion host resource.
                    properties:
                      ipConfigurations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Represents the ip configuration associated
                                with the resource.
                              properties:
                                subnet:
                                  description: Reference of the subnet resource.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                publicIPAddress:
                                  description: Reference of the PublicIP resource.
                                    Null for private only bastion
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the bastion
                                    host IP configuration resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                privateIPAllocationMethod:
                                  description: Private IP allocation method.
                                  type: string
                                  enum:
                                  - Static
                                  - Dynamic
                                  x-ms-enum:
                                    name: IPAllocationMethod
                                    modelAsString: true
                              required:
                              - subnet
                            name:
                              type: string
                              description: Name of the resource that is unique within
                                a resource group. This name can be used to access
                                the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                            type:
                              readOnly: true
                              type: string
                              description: Ip configuration type.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: IP configuration of the Bastion Host resource.
                      dnsName:
                        type: string
                        description: FQDN for the endpoint on which bastion host is
                          accessible.
                      virtualNetwork:
                        description: Reference to an existing virtual network required
                          for Developer Bastion Host only.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      networkAcls:
                        properties:
                          ipRules:
                            type: array
                            items:
                              description: IP rule with specific IP or IP range in
                                CIDR format.
                              properties:
                                addressPrefix:
                                  type: string
                                  description: Specifies the IP or IP range in CIDR
                                    format. Only IPV4 address is allowed.
                              type: object
                            description: Sets the IP ACL rules for Developer Bastion
                              Host.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the bastion host resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      scaleUnits:
                        type: integer
                        format: int32
                        description: The scale units for the Bastion Host resource.
                        minimum: 2
                        maximum: 50
                      disableCopyPaste:
                        type: boolean
                        default: false
                        description: Enable/Disable Copy/Paste feature of the Bastion
                          Host resource.
                      enableFileCopy:
                        type: boolean
                        default: false
                        description: Enable/Disable File Copy feature of the Bastion
                          Host resource.
                      enableIpConnect:
                        type: boolean
                        default: false
                        description: Enable/Disable IP Connect feature of the Bastion
                          Host resource.
                      enableShareableLink:
                        type: boolean
                        default: false
                        description: Enable/Disable Shareable Link of the Bastion
                          Host resource.
                      enableTunneling:
                        type: boolean
                        default: false
                        description: Enable/Disable Tunneling feature of the Bastion
                          Host resource.
                      enableKerberos:
                        type: boolean
                        default: false
                        description: Enable/Disable Kerberos feature of the Bastion
                          Host resource.
                      enableSessionRecording:
                        type: boolean
                        default: false
                        description: Enable/Disable Session Recording feature of the
                          Bastion Host resource.
                      enablePrivateOnlyBastion:
                        type: boolean
                        default: false
                        description: Enable/Disable Private Only feature of the Bastion
                          Host resource.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting where the resource
                      needs to come from.
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  sku:
                    description: The sku of this Bastion Host.
                    properties:
                      name:
                        type: string
                        description: The name of the sku of this Bastion Host.
                        enum:
                        - Basic
                        - Standard
                        - Developer
                        - Premium
                        default: Standard
                        x-ms-enum:
                          name: BastionHostSkuName
                          modelAsString: true
                    type: object
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - BastionHosts
      operationId: BastionHosts_UpdateTags
      description: Updates Tags for BastionHost resource
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: bastionHostName
        in: path
        required: true
        description: The name of the Bastion Host.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update BastionHost tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting BastionHost
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Represents the bastion host resource.
                    properties:
                      ipConfigurations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Represents the ip configuration associated
                                with the resource.
                              properties:
                                subnet:
                                  description: Reference of the subnet resource.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                publicIPAddress:
                                  description: Reference of the PublicIP resource.
                                    Null for private only bastion
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the bastion
                                    host IP configuration resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                privateIPAllocationMethod:
                                  description: Private IP allocation method.
                                  type: string
                                  enum:
                                  - Static
                                  - Dynamic
                                  x-ms-enum:
                                    name: IPAllocationMethod
                                    modelAsString: true
                              required:
                              - subnet
                            name:
                              type: string
                              description: Name of the resource that is unique within
                                a resource group. This name can be used to access
                                the resource.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                            type:
                              readOnly: true
                              type: string
                              description: Ip configuration type.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: IP configuration of the Bastion Host resource.
                      dnsName:
                        type: string
                        description: FQDN for the endpoint on which bastion host is
                          accessible.
                      virtualNetwork:
                        description: Reference to an existing virtual network required
                          for Developer Bastion Host only.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      networkAcls:
                        properties:
                          ipRules:
                            type: array
                            items:
                              description: IP rule with specific IP or IP range in
                                CIDR format.
                              properties:
                                addressPrefix:
                                  type: string
                                  description: Specifies the IP or IP range in CIDR
                                    format. Only IPV4 address is allowed.
                              type: object
                            description: Sets the IP ACL rules for Developer Bastion
                              Host.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the bastion host resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      scaleUnits:
                        type: integer
                        format: int32
                        description: The scale units for the Bastion Host resource.
                        minimum: 2
                        maximum: 50
                      disableCopyPaste:
                        type: boolean
                        default: false
                        description: Enable/Disable Copy/Paste feature of the Bastion
                          Host resource.
                      enableFileCopy:
                        type: boolean
                        default: false
                        description: Enable/Disable File Copy feature of the Bastion
                          Host resource.
                      enableIpConnect:
                        type: boolean
                        default: false
                        description: Enable/Disable IP Connect feature of the Bastion
                          Host resource.
                      enableShareableLink:
                        type: boolean
                        default: false
                        description: Enable/Disable Shareable Link of the Bastion
                          Host resource.
                      enableTunneling:
                        type: boolean
                        default: false
                        description: Enable/Disable Tunneling feature of the Bastion
                          Host resource.
                      enableKerberos:
                        type: boolean
                        default: false
                        description: Enable/Disable Kerberos feature of the Bastion
                          Host resource.
                      enableSessionRecording:
                        type: boolean
                        default: false
                        description: Enable/Disable Session Recording feature of the
                          Bastion Host resource.
                      enablePrivateOnlyBastion:
                        type: boolean
                        default: false
                        description: Enable/Disable Private Only feature of the Bastion
                          Host resource.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting where the resource
                      needs to come from.
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  sku:
                    description: The sku of this Bastion Host.
                    properties:
                      name:
                        type: string
                        description: The name of the sku of this Bastion Host.
                        enum:
                        - Basic
                        - Standard
                        - Developer
                        - Premium
                        default: Standard
                        x-ms-enum:
                          name: BastionHostSkuName
                          modelAsString: true
                    type: object
                description: Common resource representation.
                x-ms-azure-resource: true
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/bastionHosts:
    get:
      tags:
      - BastionHosts
      operationId: BastionHosts_List
      description: Lists all Bastion Hosts in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Success. The operation returns a list of Bastion Host resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Represents the bastion host resource.
                          properties:
                            ipConfigurations:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Represents the ip configuration associated
                                      with the resource.
                                    properties:
                                      subnet:
                                        description: Reference of the subnet resource.
                                        properties:
                                          id:
                                            type: string
                                            description: Resource ID.
                                        x-ms-azure-resource: true
                                      publicIPAddress:
                                        description: Reference of the PublicIP resource.
                                          Null for private only bastion
                                        properties:
                                          id:
                                            type: string
                                            description: Resource ID.
                                        x-ms-azure-resource: true
                                      provisioningState:
                                        readOnly: true
                                        description: The provisioning state of the
                                          bastion host IP configuration resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Updating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      privateIPAllocationMethod:
                                        description: Private IP allocation method.
                                        type: string
                                        enum:
                                        - Static
                                        - Dynamic
                                        x-ms-enum:
                                          name: IPAllocationMethod
                                          modelAsString: true
                                    required:
                                    - subnet
                                  name:
                                    type: string
                                    description: Name of the resource that is unique
                                      within a resource group. This name can be used
                                      to access the resource.
                                  etag:
                                    type: string
                                    readOnly: true
                                    description: A unique read-only string that changes
                                      whenever the resource is updated.
                                  type:
                                    readOnly: true
                                    type: string
                                    description: Ip configuration type.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: IP configuration of the Bastion Host resource.
                            dnsName:
                              type: string
                              description: FQDN for the endpoint on which bastion
                                host is accessible.
                            virtualNetwork:
                              description: Reference to an existing virtual network
                                required for Developer Bastion Host only.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            networkAcls:
                              properties:
                                ipRules:
                                  type: array
                                  items:
                                    description: IP rule with specific IP or IP range
                                      in CIDR format.
                                    properties:
                                      addressPrefix:
                                        type: string
                                        description: Specifies the IP or IP range
                                          in CIDR format. Only IPV4 address is allowed.
                                    type: object
                                  description: Sets the IP ACL rules for Developer
                                    Bastion Host.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the bastion host
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            scaleUnits:
                              type: integer
                              format: int32
                              description: The scale units for the Bastion Host resource.
                              minimum: 2
                              maximum: 50
                            disableCopyPaste:
                              type: boolean
                              default: false
                              description: Enable/Disable Copy/Paste feature of the
                                Bastion Host resource.
                            enableFileCopy:
                              type: boolean
                              default: false
                              description: Enable/Disable File Copy feature of the
                                Bastion Host resource.
                            enableIpConnect:
                              type: boolean
                              default: false
                              description: Enable/Disable IP Connect feature of the
                                Bastion Host resource.
                            enableShareableLink:
                              type: boolean
                              default: false
                              description: Enable/Disable Shareable Link of the Bastion
                                Host resource.
                            enableTunneling:
                              type: boolean
                              default: false
                              description: Enable/Disable Tunneling feature of the
                                Bastion Host resource.
                            enableKerberos:
                              type: boolean
                              default: false
                              description: Enable/Disable Kerberos feature of the
                                Bastion Host resource.
                            enableSessionRecording:
                              type: boolean
                              default: false
                              description: Enable/Disable Session Recording feature
                                of the Bastion Host resource.
                            enablePrivateOnlyBastion:
                              type: boolean
                              default: false
                              description: Enable/Disable Private Only feature of
                                the Bastion Host resource.
                        zones:
                          type: array
                          items:
                            type: string
                          description: A list of availability zones denoting where
                            the resource needs to come from.
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        sku:
                          description: The sku of this Bastion Host.
                          properties:
                            name:
                              type: string
                              description: The name of the sku of this Bastion Host.
                              enum:
                              - Basic
                              - Standard
                              - Developer
                              - Premium
                              default: Standard
                              x-ms-enum:
                                name: BastionHostSkuName
                                modelAsString: true
                          type: object
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of Bastion Hosts in a resource group.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for ListBastionHosts API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts:
    get:
      tags:
      - BastionHosts
      operationId: BastionHosts_ListByResourceGroup
      description: Lists all Bastion Hosts in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Success. The operation returns a list of BastionHost resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Represents the bastion host resource.
                          properties:
                            ipConfigurations:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Represents the ip configuration associated
                                      with the resource.
                                    properties:
                                      subnet:
                                        description: Reference of the subnet resource.
                                        properties:
                                          id:
                                            type: string
                                            description: Resource ID.
                                        x-ms-azure-resource: true
                                      publicIPAddress:
                                        description: Reference of the PublicIP resource.
                                          Null for private only bastion
                                        properties:
                                          id:
                                            type: string
                                            description: Resource ID.
                                        x-ms-azure-resource: true
                                      provisioningState:
                                        readOnly: true
                                        description: The provisioning state of the
                                          bastion host IP configuration resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Updating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      privateIPAllocationMethod:
                                        description: Private IP allocation method.
                                        type: string
                                        enum:
                                        - Static
                                        - Dynamic
                                        x-ms-enum:
                                          name: IPAllocationMethod
                                          modelAsString: true
                                    required:
                                    - subnet
                                  name:
                                    type: string
                                    description: Name of the resource that is unique
                                      within a resource group. This name can be used
                                      to access the resource.
                                  etag:
                                    type: string
                                    readOnly: true
                                    description: A unique read-only string that changes
                                      whenever the resource is updated.
                                  type:
                                    readOnly: true
                                    type: string
                                    description: Ip configuration type.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: IP configuration of the Bastion Host resource.
                            dnsName:
                              type: string
                              description: FQDN for the endpoint on which bastion
                                host is accessible.
                            virtualNetwork:
                              description: Reference to an existing virtual network
                                required for Developer Bastion Host only.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            networkAcls:
                              properties:
                                ipRules:
                                  type: array
                                  items:
                                    description: IP rule with specific IP or IP range
                                      in CIDR format.
                                    properties:
                                      addressPrefix:
                                        type: string
                                        description: Specifies the IP or IP range
                                          in CIDR format. Only IPV4 address is allowed.
                                    type: object
                                  description: Sets the IP ACL rules for Developer
                                    Bastion Host.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the bastion host
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            scaleUnits:
                              type: integer
                              format: int32
                              description: The scale units for the Bastion Host resource.
                              minimum: 2
                              maximum: 50
                            disableCopyPaste:
                              type: boolean
                              default: false
                              description: Enable/Disable Copy/Paste feature of the
                                Bastion Host resource.
                            enableFileCopy:
                              type: boolean
                              default: false
                              description: Enable/Disable File Copy feature of the
                                Bastion Host resource.
                            enableIpConnect:
                              type: boolean
                              default: false
                              description: Enable/Disable IP Connect feature of the
                                Bastion Host resource.
                            enableShareableLink:
                              type: boolean
                              default: false
                              description: Enable/Disable Shareable Link of the Bastion
                                Host resource.
                            enableTunneling:
                              type: boolean
                              default: false
                              description: Enable/Disable Tunneling feature of the
                                Bastion Host resource.
                            enableKerberos:
                              type: boolean
                              default: false
                              description: Enable/Disable Kerberos feature of the
                                Bastion Host resource.
                            enableSessionRecording:
                              type: boolean
                              default: false
                              description: Enable/Disable Session Recording feature
                                of the Bastion Host resource.
                            enablePrivateOnlyBastion:
                              type: boolean
                              default: false
                              description: Enable/Disable Private Only feature of
                                the Bastion Host resource.
                        zones:
                          type: array
                          items:
                            type: string
                          description: A list of availability zones denoting where
                            the resource needs to come from.
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        sku:
                          description: The sku of this Bastion Host.
                          properties:
                            name:
                              type: string
                              description: The name of the sku of this Bastion Host.
                              enum:
                              - Basic
                              - Standard
                              - Developer
                              - Premium
                              default: Standard
                              x-ms-enum:
                                name: BastionHostSkuName
                                modelAsString: true
                          type: object
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of Bastion Hosts in a resource group.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for ListBastionHosts API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
[...]
