openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/customIpPrefixes/{customIpPrefixName}
  : delete:
      tags:
      - CustomIpPrefixes
      operationId: CustomIPPrefixes_Delete
      description: Deletes the specified custom IP prefix.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: customIpPrefixName
        in: path
        required: true
        description: The name of the CustomIpPrefix.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - CustomIpPrefixes
      operationId: CustomIPPrefixes_Get
      description: Gets the specified custom IP prefix in a specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: customIpPrefixName
        in: path
        required: true
        description: The name of the custom IP prefix.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting CustomIpPrefix
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  extendedLocation:
                    description: The extended location of the custom IP prefix.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Custom IP prefix properties.
                    properties:
                      asn:
                        type: string
                        description: The ASN for CIDR advertising. Should be an integer
                          as string.
                      cidr:
                        type: string
                        description: The prefix range in CIDR notation. Should include
                          the start address and the prefix length.
                      signedMessage:
                        type: string
                        description: Signed message for WAN validation.
                      authorizationMessage:
                        type: string
                        description: Authorization message for WAN validation.
                      customIpPrefixParent:
                        description: The Parent CustomIpPrefix for IPv6 /64 CustomIpPrefix.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      childCustomIpPrefixes:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of all Children for IPv6 /48 CustomIpPrefix.
                      commissionedState:
                        type: string
                        description: The commissioned state of the Custom IP Prefix.
                        enum:
                        - Provisioning
                        - Provisioned
                        - Commissioning
                        - CommissionedNoInternetAdvertise
                        - Commissioned
                        - Decommissioning
                        - Deprovisioning
                        - Deprovisioned
                        x-ms-enum:
                          name: CommissionedState
                          modelAsString: true
                      expressRouteAdvertise:
                        type: boolean
                        description: Whether to do express route advertise.
                      geo:
                        type: string
                        description: The Geo for CIDR advertising. Should be an Geo
                          code.
                        enum:
                        - GLOBAL
                        - AFRI
                        - APAC
                        - EURO
                        - LATAM
                        - NAM
                        - ME
                        - OCEANIA
                        - AQ
                        x-ms-enum:
                          name: Geo
                          modelAsString: true
                      noInternetAdvertise:
                        type: boolean
                        description: Whether to Advertise the range to Internet.
                      prefixType:
                        type: string
                        description: Type of custom IP prefix. Should be Singular,
                          Parent, or Child.
                        enum:
                        - Singular
                        - Parent
                        - Child
                        x-ms-enum:
                          name: CustomIpPrefixType
                          modelAsString: true
                      publicIpPrefixes:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of all referenced PublicIpPrefixes.
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the custom IP prefix
                          resource.
                      failedReason:
                        readOnly: true
                        type: string
                        description: The reason why resource is in failed state.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the custom IP prefix
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the IP allocated
                      for the resource needs to come from.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - CustomIpPrefixes
      operationId: CustomIPPrefixes_CreateOrUpdate
      description: Creates or updates a custom IP prefix.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: customIpPrefixName
        in: path
        required: true
        description: The name of the custom IP prefix.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                extendedLocation:
                  description: The extended location of the custom IP prefix.
                  properties:
                    name:
                      type: string
                      description: The name of the extended location.
                    type:
                      description: The type of the extended location.
                      type: string
                      enum:
                      - EdgeZone
                      x-ms-enum:
                        name: ExtendedLocationTypes
                        modelAsString: true
                properties:
                  x-ms-client-flatten: true
                  description: Custom IP prefix properties.
                  properties:
                    asn:
                      type: string
                      description: The ASN for CIDR advertising. Should be an integer
                        as string.
                    cidr:
                      type: string
                      description: The prefix range in CIDR notation. Should include
                        the start address and the prefix length.
                    signedMessage:
                      type: string
                      description: Signed message for WAN validation.
                    authorizationMessage:
                      type: string
                      description: Authorization message for WAN validation.
                    customIpPrefixParent:
                      description: The Parent CustomIpPrefix for IPv6 /64 CustomIpPrefix.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    childCustomIpPrefixes:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: The list of all Children for IPv6 /48 CustomIpPrefix.
                    commissionedState:
                      type: string
                      description: The commissioned state of the Custom IP Prefix.
                      enum:
                      - Provisioning
                      - Provisioned
                      - Commissioning
                      - CommissionedNoInternetAdvertise
                      - Commissioned
                      - Decommissioning
                      - Deprovisioning
                      - Deprovisioned
                      x-ms-enum:
                        name: CommissionedState
                        modelAsString: true
                    expressRouteAdvertise:
                      type: boolean
                      description: Whether to do express route advertise.
                    geo:
                      type: string
                      description: The Geo for CIDR advertising. Should be an Geo
                        code.
                      enum:
                      - GLOBAL
                      - AFRI
                      - APAC
                      - EURO
                      - LATAM
                      - NAM
                      - ME
                      - OCEANIA
                      - AQ
                      x-ms-enum:
                        name: Geo
                        modelAsString: true
                    noInternetAdvertise:
                      type: boolean
                      description: Whether to Advertise the range to Internet.
                    prefixType:
                      type: string
                      description: Type of custom IP prefix. Should be Singular, Parent,
                        or Child.
                      enum:
                      - Singular
                      - Parent
                      - Child
                      x-ms-enum:
                        name: CustomIpPrefixType
                        modelAsString: true
                    publicIpPrefixes:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: The list of all referenced PublicIpPrefixes.
                    resourceGuid:
                      readOnly: true
                      type: string
                      description: The resource GUID property of the custom IP prefix
                        resource.
                    failedReason:
                      readOnly: true
                      type: string
                      description: The reason why resource is in failed state.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the custom IP prefix
                        resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                zones:
                  type: array
                  items:
                    type: string
                  description: A list of availability zones denoting the IP allocated
                    for the resource needs to come from.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update custom IP prefix
          operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting CustomIpPrefix
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  extendedLocation:
                    description: The extended location of the custom IP prefix.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Custom IP prefix properties.
                    properties:
                      asn:
                        type: string
                        description: The ASN for CIDR advertising. Should be an integer
                          as string.
                      cidr:
                        type: string
                        description: The prefix range in CIDR notation. Should include
                          the start address and the prefix length.
                      signedMessage:
                        type: string
                        description: Signed message for WAN validation.
                      authorizationMessage:
                        type: string
                        description: Authorization message for WAN validation.
                      customIpPrefixParent:
                        description: The Parent CustomIpPrefix for IPv6 /64 CustomIpPrefix.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      childCustomIpPrefixes:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of all Children for IPv6 /48 CustomIpPrefix.
                      commissionedState:
                        type: string
                        description: The commissioned state of the Custom IP Prefix.
                        enum:
                        - Provisioning
                        - Provisioned
                        - Commissioning
                        - CommissionedNoInternetAdvertise
                        - Commissioned
                        - Decommissioning
                        - Deprovisioning
                        - Deprovisioned
                        x-ms-enum:
                          name: CommissionedState
                          modelAsString: true
                      expressRouteAdvertise:
                        type: boolean
                        description: Whether to do express route advertise.
                      geo:
                        type: string
                        description: The Geo for CIDR advertising. Should be an Geo
                          code.
                        enum:
                        - GLOBAL
                        - AFRI
                        - APAC
                        - EURO
                        - LATAM
                        - NAM
                        - ME
                        - OCEANIA
                        - AQ
                        x-ms-enum:
                          name: Geo
                          modelAsString: true
                      noInternetAdvertise:
                        type: boolean
                        description: Whether to Advertise the range to Internet.
                      prefixType:
                        type: string
                        description: Type of custom IP prefix. Should be Singular,
                          Parent, or Child.
                        enum:
                        - Singular
                        - Parent
                        - Child
                        x-ms-enum:
                          name: CustomIpPrefixType
                          modelAsString: true
                      publicIpPrefixes:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of all referenced PublicIpPrefixes.
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the custom IP prefix
                          resource.
                      failedReason:
                        readOnly: true
                        type: string
                        description: The reason why resource is in failed state.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the custom IP prefix
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the IP allocated
                      for the resource needs to come from.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting CustomIpPrefix
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  extendedLocation:
                    description: The extended location of the custom IP prefix.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Custom IP prefix properties.
                    properties:
                      asn:
                        type: string
                        description: The ASN for CIDR advertising. Should be an integer
                          as string.
                      cidr:
                        type: string
                        description: The prefix range in CIDR notation. Should include
                          the start address and the prefix length.
                      signedMessage:
                        type: string
                        description: Signed message for WAN validation.
                      authorizationMessage:
                        type: string
                        description: Authorization message for WAN validation.
                      customIpPrefixParent:
                        description: The Parent CustomIpPrefix for IPv6 /64 CustomIpPrefix.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      childCustomIpPrefixes:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of all Children for IPv6 /48 CustomIpPrefix.
                      commissionedState:
                        type: string
                        description: The commissioned state of the Custom IP Prefix.
                        enum:
                        - Provisioning
                        - Provisioned
                        - Commissioning
                        - CommissionedNoInternetAdvertise
                        - Commissioned
                        - Decommissioning
                        - Deprovisioning
                        - Deprovisioned
                        x-ms-enum:
                          name: CommissionedState
                          modelAsString: true
                      expressRouteAdvertise:
                        type: boolean
                        description: Whether to do express route advertise.
                      geo:
                        type: string
                        description: The Geo for CIDR advertising. Should be an Geo
                          code.
                        enum:
                        - GLOBAL
                        - AFRI
                        - APAC
                        - EURO
                        - LATAM
                        - NAM
                        - ME
                        - OCEANIA
                        - AQ
                        x-ms-enum:
                          name: Geo
                          modelAsString: true
                      noInternetAdvertise:
                        type: boolean
                        description: Whether to Advertise the range to Internet.
                      prefixType:
                        type: string
                        description: Type of custom IP prefix. Should be Singular,
                          Parent, or Child.
                        enum:
                        - Singular
                        - Parent
                        - Child
                        x-ms-enum:
                          name: CustomIpPrefixType
                          modelAsString: true
                      publicIpPrefixes:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of all referenced PublicIpPrefixes.
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the custom IP prefix
                          resource.
                      failedReason:
                        readOnly: true
                        type: string
                        description: The reason why resource is in failed state.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the custom IP prefix
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the IP allocated
                      for the resource needs to come from.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    patch:
      tags:
      - CustomIpPrefixes
      operationId: CustomIPPrefixes_UpdateTags
      description: Updates custom IP prefix tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: customIpPrefixName
        in: path
        required: true
        description: The name of the custom IP prefix.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update custom IP prefix tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting customIpPrefix
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  extendedLocation:
                    description: The extended location of the custom IP prefix.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Custom IP prefix properties.
                    properties:
                      asn:
                        type: string
                        description: The ASN for CIDR advertising. Should be an integer
                          as string.
                      cidr:
                        type: string
                        description: The prefix range in CIDR notation. Should include
                          the start address and the prefix length.
                      signedMessage:
                        type: string
                        description: Signed message for WAN validation.
                      authorizationMessage:
                        type: string
                        description: Authorization message for WAN validation.
                      customIpPrefixParent:
                        description: The Parent CustomIpPrefix for IPv6 /64 CustomIpPrefix.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      childCustomIpPrefixes:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of all Children for IPv6 /48 CustomIpPrefix.
                      commissionedState:
                        type: string
                        description: The commissioned state of the Custom IP Prefix.
                        enum:
                        - Provisioning
                        - Provisioned
                        - Commissioning
                        - CommissionedNoInternetAdvertise
                        - Commissioned
                        - Decommissioning
                        - Deprovisioning
                        - Deprovisioned
                        x-ms-enum:
                          name: CommissionedState
                          modelAsString: true
                      expressRouteAdvertise:
                        type: boolean
                        description: Whether to do express route advertise.
                      geo:
                        type: string
                        description: The Geo for CIDR advertising. Should be an Geo
                          code.
                        enum:
                        - GLOBAL
                        - AFRI
                        - APAC
                        - EURO
                        - LATAM
                        - NAM
                        - ME
                        - OCEANIA
                        - AQ
                        x-ms-enum:
                          name: Geo
                          modelAsString: true
                      noInternetAdvertise:
                        type: boolean
                        description: Whether to Advertise the range to Internet.
                      prefixType:
                        type: string
                        description: Type of custom IP prefix. Should be Singular,
                          Parent, or Child.
                        enum:
                        - Singular
                        - Parent
                        - Child
                        x-ms-enum:
                          name: CustomIpPrefixType
                          modelAsString: true
                      publicIpPrefixes:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of all referenced PublicIpPrefixes.
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the custom IP prefix
                          resource.
                      failedReason:
                        readOnly: true
                        type: string
                        description: The reason why resource is in failed state.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the custom IP prefix
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the IP allocated
                      for the resource needs to come from.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/customIpPrefixes:
    get:
      tags:
      - CustomIpPrefixes
      operationId: CustomIPPrefixes_ListAll
      description: Gets all the custom IP prefixes in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of CustomIpPrefix
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        extendedLocation:
                          description: The extended location of the custom IP prefix.
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - EdgeZone
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                        properties:
                          x-ms-client-flatten: true
                          description: Custom IP prefix properties.
                          properties:
                            asn:
                              type: string
                              description: The ASN for CIDR advertising. Should be
                                an integer as string.
                            cidr:
                              type: string
                              description: The prefix range in CIDR notation. Should
                                include the start address and the prefix length.
                            signedMessage:
                              type: string
                              description: Signed message for WAN validation.
                            authorizationMessage:
                              type: string
                              description: Authorization message for WAN validation.
                            customIpPrefixParent:
                              description: The Parent CustomIpPrefix for IPv6 /64
                                CustomIpPrefix.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            childCustomIpPrefixes:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: The list of all Children for IPv6 /48 CustomIpPrefix.
                            commissionedState:
                              type: string
                              description: The commissioned state of the Custom IP
                                Prefix.
                              enum:
                              - Provisioning
                              - Provisioned
                              - Commissioning
                              - CommissionedNoInternetAdvertise
                              - Commissioned
                              - Decommissioning
                              - Deprovisioning
                              - Deprovisioned
                              x-ms-enum:
                                name: CommissionedState
                                modelAsString: true
                            expressRouteAdvertise:
                              type: boolean
                              description: Whether to do express route advertise.
                            geo:
                              type: string
                              description: The Geo for CIDR advertising. Should be
                                an Geo code.
                              enum:
                              - GLOBAL
                              - AFRI
                              - APAC
                              - EURO
                              - LATAM
                              - NAM
                              - ME
                              - OCEANIA
                              - AQ
                              x-ms-enum:
                                name: Geo
                                modelAsString: true
                            noInternetAdvertise:
                              type: boolean
                              description: Whether to Advertise the range to Internet.
                            prefixType:
                              type: string
                              description: Type of custom IP prefix. Should be Singular,
                                Parent, or Child.
                              enum:
                              - Singular
                              - Parent
                              - Child
                              x-ms-enum:
                                name: CustomIpPrefixType
                                modelAsString: true
                            publicIpPrefixes:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: The list of all referenced PublicIpPrefixes.
                            resourceGuid:
                              readOnly: true
                              type: string
                              description: The resource GUID property of the custom
                                IP prefix resource.
                            failedReason:
                              readOnly: true
                              type: string
                              description: The reason why resource is in failed state.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the custom IP
                                prefix resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        zones:
                          type: array
                          items:
                            type: string
                          description: A list of availability zones denoting the IP
                            allocated for the resource needs to come from.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of Custom IP prefixes that exists in a resource
                      group.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: Response for ListCustomIpPrefixes API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/customIpPrefixes:
    get:
      tags:
      - CustomIpPrefixes
      operationId: CustomIPPrefixes_List
      description: Gets all custom IP prefixes in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of CustomIpPrefix
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        extendedLocation:
                          description: The extended location of the custom IP prefix.
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - EdgeZone
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                        properties:
                          x-ms-client-flatten: true
                          description: Custom IP prefix properties.
                          properties:
                            asn:
                              type: string
                              description: The ASN for CIDR advertising. Should be
                                an integer as string.
                            cidr:
                              type: string
                              description: The prefix range in CIDR notation. Should
                                include the start address and the prefix length.
                            signedMessage:
                              type: string
                              description: Signed message for WAN validation.
                            authorizationMessage:
                              type: string
                              description: Authorization message for WAN validation.
                            customIpPrefixParent:
                              description: The Parent CustomIpPrefix for IPv6 /64
                                CustomIpPrefix.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            childCustomIpPrefixes:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: The list of all Children for IPv6 /48 CustomIpPrefix.
                            commissionedState:
                              type: string
                              description: The commissioned state of the Custom IP
                                Prefix.
                              enum:
                              - Provisioning
                              - Provisioned
                              - Commissioning
                              - CommissionedNoInternetAdvertise
                              - Commissioned
                              - Decommissioning
                              - Deprovisioning
                              - Deprovisioned
                              x-ms-enum:
                                name: CommissionedState
                                modelAsString: true
                            expressRouteAdvertise:
                              type: boolean
                              description: Whether to do express route advertise.
                            geo:
                              type: string
                              description: The Geo for CIDR advertising. Should be
                                an Geo code.
                              enum:
                              - GLOBAL
                              - AFRI
                              - APAC
                              - EURO
                              - LATAM
                              - NAM
                              - ME
                              - OCEANIA
                              - AQ
                              x-ms-enum:
                                name: Geo
                                modelAsString: true
                            noInternetAdvertise:
                              type: boolean
                              description: Whether to Advertise the range to Internet.
                            prefixType:
                              type: string
                              description: Type of custom IP prefix. Should be Singular,
                                Parent, or Child.
                              enum:
                              - Singular
                              - Parent
                              - Child
                              x-ms-enum:
                                name: CustomIpPrefixType
                                modelAsString: true
                            publicIpPrefixes:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: The list of all referenced PublicIpPrefixes.
                            resourceGuid:
                              readOnly: true
                              type: string
                              description: The resource GUID property of the custom
                                IP prefix resource.
                            failedReason:
                              readOnly: true
                              type: string
                              description: The reason why resource is in failed state.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the custom IP
                                prefix resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        zones:
                          type: array
                          items:
                            type: string
                          description: A list of availability zones denoting the IP
                            allocated for the resource needs to come from.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of Custom IP prefixes that exists in a resource
                      group.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: Response for ListCustomIpPrefixes API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CustomIpPrefixPropertiesFormat:
      properties:
        asn:
          type: string
          description: The ASN for CIDR advertising. Should be an integer as string.
        cidr:
          type: string
          description: The prefix range in CIDR notation. Should include the start
            address and the prefix length.
        signedMessage:
          type: string
          description: Signed message for WAN validation.
        authorizationMessage:
          type: string
          description: Authorization message for WAN validation.
        customIpPrefixParent:
          description: The Parent CustomIpPrefix for IPv6 /64 CustomIpPrefix.
          properties:
            id:
              type: string
              description: Resource ID.
          x-ms-azure-resource: true
        childCustomIpPrefixes:
          readOnly: true
          type: array
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
          description: The list of all Children for IPv6 /48 CustomIpPrefix.
        commissionedState:
          type: string
          description: The commissioned state of the Custom IP Prefix.
          enum:
          - Provisioning
          - Provisioned
          - Commissioning
          - CommissionedNoInternetAdvertise
          - Commissioned
          - Decommissioning
          - Deprovisioning
          - Deprovisioned
          x-ms-enum:
            name: CommissionedState
            modelAsString: true
        expressRouteAdvertise:
          type: boolean
          description: Whether to do express route advertise.
        geo:
          type: string
          description: The Geo for CIDR advertising. Should be an Geo code.
          enum:
          - GLOBAL
          - AFRI
          - APAC
          - EURO
          - LATAM
          - NAM
          - ME
          - OCEANIA
          - AQ
          x-ms-enum:
            name: Geo
            modelAsString: true
        noInternetAdvertise:
          type: boolean
          description: Whether to Advertise the range to Internet.
        prefixType:
          type: string
          description: Type of custom IP prefix. Should be Singular, Parent, or Child.
          enum:
          - Singular
          - Parent
          - Child
          x-ms-enum:
            name: CustomIpPrefixType
            modelAsString: true
        publicIpPrefixes:
          readOnly: true
          type: array
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
          description: The list of all referenced PublicIpPrefixes.
        resourceGuid:
          readOnly: true
          type: string
          description: The resource GUID property of the custom IP prefix resource.
        failedReason:
          readOnly: true
          type: string
          description: The reason why resource is in failed state.
        provisioningState:
          readOnly: true
          description: The provisioning state of the custom IP prefix resource.
          type: string
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
      description: Custom IP prefix properties.
    CustomIpPrefix:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        extendedLocation:
          description: The extended location of the custom IP prefix.
          properties:
            name:
              type: string
              description: The name of the extended location.
            type:
              description: The type of the extended location.
              type: string
              enum:
              - EdgeZone
              x-ms-enum:
                name: ExtendedLocationTypes
                modelAsString: true
        properties:
          x-ms-client-flatten: true
          description: Custom IP prefix properties.
          properties:
            asn:
              type: string
              description: The ASN for CIDR advertising. Should be an integer as string.
            cidr:
              type: string
              description: The prefix range in CIDR notation. Should include the start
                address and the prefix length.
            signedMessage:
              type: string
              description: Signed message for WAN validation.
            authorizationMessage:
              type: string
              description: Authorization message for WAN validation.
            customIpPrefixParent:
              description: The Parent CustomIpPrefix for IPv6 /64 CustomIpPrefix.
              properties:
                id:
                  type: string
                  description: Resource ID.
              x-ms-azure-resource: true
            childCustomIpPrefixes:
              readOnly: true
              type: array
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
              description: The list of all Children for IPv6 /48 CustomIpPrefix.
            commissionedState:
              type: string
              description: The commissioned state of the Custom IP Prefix.
              enum:
              - Provisioning
              - Provisioned
              - Commissioning
              - CommissionedNoInternetAdvertise
              - Commissioned
              - Decommissioning
              - Deprovisioning
              - Deprovisioned
              x-ms-enum:
                name: CommissionedState
                modelAsString: true
            expressRouteAdvertise:
              type: boolean
              description: Whether to do express route advertise.
            geo:
              type: string
              description: The Geo for CIDR advertising. Should be an Geo code.
              enum:
              - GLOBAL
              - AFRI
              - APAC
              - EURO
              - LATAM
              - NAM
              - ME
              - OCEANIA
              - AQ
              x-ms-enum:
                name: Geo
                modelAsString: true
            noInternetAdvertise:
              type: boolean
              description: Whether to Advertise the range to Internet.
            prefixType:
              type: string
              description: Type of custom IP prefix. Should be Singular, Parent, or
                Child.
              enum:
              - Singular
              - Parent
              - Child
              x-ms-enum:
                name: CustomIpPrefixType
                modelAsString: true
            publicIpPrefixes:
              readOnly: true
              type: array
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
              description: The list of all referenced PublicIpPrefixes.
            resourceGuid:
              readOnly: true
              type: string
              description: The resource GUID property of the custom IP prefix resource.
            failedReason:
              readOnly: true
              type: string
              description: The reason why resource is in failed state.
            provisioningState:
              readOnly: true
              description: The provisioning state of the custom IP prefix resource.
              type: string
              enum:
              - Succeeded
              - Updating
              - Deleting
              - Failed
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource
            is updated.
        zones:
          type: array
          items:
            type: string
          description: A list of availability zones denoting the IP allocated for
            the resource needs to come from.
      description: Common resource representation.
      x-ms-azure-resource: true
    CustomIpPrefixListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags.
              extendedLocation:
                description: The extended location of the custom IP prefix.
                properties:
                  name:
                    type: string
                    description: The name of the extended location.
                  type:
                    description: The type of the extended location.
                    type: string
                    enum:
                    - EdgeZone
                    x-ms-enum:
                      name: ExtendedLocationTypes
                      modelAsString: true
              properties:
                x-ms-client-flatten: true
                description: Custom IP prefix properties.
                properties:
                  asn:
                    type: string
                    description: The ASN for CIDR advertising. Should be an integer
                      as string.
                  cidr:
                    type: string
                    description: The prefix range in CIDR notation. Should include
                      the start address and the prefix length.
                  signedMessage:
                    type: string
                    description: Signed message for WAN validation.
                  authorizationMessage:
                    type: string
                    description: Authorization message for WAN validation.
                  customIpPrefixParent:
                    description: The Parent CustomIpPrefix for IPv6 /64 CustomIpPrefix.
                    properties:
                      id:
                        type: string
                        description: Resource ID.
                    x-ms-azure-resource: true
                  childCustomIpPrefixes:
                    readOnly: true
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    description: The list of all Children for IPv6 /48 CustomIpPrefix.
                  commissionedState:
                    type: string
                    description: The commissioned state of the Custom IP Prefix.
                    enum:
                    - Provisioning
                    - Provisioned
                    - Commissioning
                    - CommissionedNoInternetAdvertise
                    - Commissioned
                    - Decommissioning
                    - Deprovisioning
                    - Deprovisioned
                    x-ms-enum:
                      name: CommissionedState
                      modelAsString: true
                  expressRouteAdvertise:
                    type: boolean
                    description: Whether to do express route advertise.
                  geo:
                    type: string
                    description: The Geo for CIDR advertising. Should be an Geo code.
                    enum:
                    - GLOBAL
                    - AFRI
                    - APAC
                    - EURO
                    - LATAM
                    - NAM
                    - ME
                    - OCEANIA
                    - AQ
                    x-ms-enum:
                      name: Geo
                      modelAsString: true
                  noInternetAdvertise:
                    type: boolean
                    description: Whether to Advertise the range to Internet.
                  prefixType:
                    type: string
                    description: Type of custom IP prefix. Should be Singular, Parent,
                      or Child.
                    enum:
                    - Singular
                    - Parent
                    - Child
                    x-ms-enum:
                      name: CustomIpPrefixType
                      modelAsString: true
                  publicIpPrefixes:
                    readOnly: true
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    description: The list of all referenced PublicIpPrefixes.
                  resourceGuid:
                    readOnly: true
                    type: string
                    description: The resource GUID property of the custom IP prefix
                      resource.
                  failedReason:
                    readOnly: true
                    type: string
                    description: The reason why resource is in failed state.
                  provisioningState:
                    readOnly: true
                    description: The provisioning state of the custom IP prefix resource.
                    type: string
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
              etag:
                readOnly: true
                type: string
                description: A unique read-only string that changes whenever the resource
                  is updated.
              zones:
                type: array
                items:
                  type: string
                description: A list of availability zones denoting the IP allocated
                  for the resource needs to come from.
            description: Common resource representation.
            x-ms-azure-resource: true
          description: A list of Custom IP prefixes that exists in a resource group.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: Response for ListCustomIpPrefixes API service call.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
[...]
