openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteProviderPorts:
    get:
      tags:
      - ExpressRouteProviderPorts
      operationId: ExpressRouteProviderPortsLocation_List
      description: Retrieves all the ExpressRouteProviderPorts in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. For example, you can use
          $filter=location eq '{state}'.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of ExpressRouteProviderPort
            resources at a location. If there are no ports for the provider, an empty
            list is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                          readOnly: true
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the express route Service Provider
                            Port.
                          type: object
                          properties:
                            portPairDescriptor:
                              readOnly: true
                              type: string
                              description: The name of the port pair.
                            primaryAzurePort:
                              readOnly: true
                              type: string
                              description: The name of the primary port.
                            secondaryAzurePort:
                              readOnly: true
                              type: string
                              description: The name of the secondary port.
                            peeringLocation:
                              type: string
                              description: The peering location of the port pair.
                            overprovisionFactor:
                              type: integer
                              format: int32
                              description: Overprovisioning factor for the port pair.
                            portBandwidthInMbps:
                              type: integer
                              format: int32
                              description: Bandwidth of the port in Mbps
                            usedBandwidthInMbps:
                              type: integer
                              format: int32
                              description: Used Bandwidth of the port in Mbps
                            remainingBandwidthInMbps:
                              type: integer
                              format: int32
                              description: Remaining Bandwidth of the port in Mbps
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of ExpressRouteProviderPort resources.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to get the next set of results.
                description: Response for ListExpressRouteProviderPort API service
                  call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteProviderPorts/{providerport}:
    get:
      tags:
      - ExpressRouteProviderPorts
      operationId: ExpressRouteProviderPort
      description: Retrieves detail of a provider port.
      parameters:
      - name: providerport
        in: path
        required: true
        description: The name of the provider port.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns detail of individual
            provider port resources. If there is no port, an empty result is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                    readOnly: true
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the express route Service Provider
                      Port.
                    type: object
                    properties:
                      portPairDescriptor:
                        readOnly: true
                        type: string
                        description: The name of the port pair.
                      primaryAzurePort:
                        readOnly: true
                        type: string
                        description: The name of the primary port.
                      secondaryAzurePort:
                        readOnly: true
                        type: string
                        description: The name of the secondary port.
                      peeringLocation:
                        type: string
                        description: The peering location of the port pair.
                      overprovisionFactor:
                        type: integer
                        format: int32
                        description: Overprovisioning factor for the port pair.
                      portBandwidthInMbps:
                        type: integer
                        format: int32
                        description: Bandwidth of the port in Mbps
                      usedBandwidthInMbps:
                        type: integer
                        format: int32
                        description: Used Bandwidth of the port in Mbps
                      remainingBandwidthInMbps:
                        type: integer
                        format: int32
                        description: Remaining Bandwidth of the port in Mbps
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ExpressRouteProviderPortProperties:
      type: object
      properties:
        portPairDescriptor:
          readOnly: true
          type: string
          description: The name of the port pair.
        primaryAzurePort:
          readOnly: true
          type: string
          description: The name of the primary port.
        secondaryAzurePort:
          readOnly: true
          type: string
          description: The name of the secondary port.
        peeringLocation:
          type: string
          description: The peering location of the port pair.
        overprovisionFactor:
          type: integer
          format: int32
          description: Overprovisioning factor for the port pair.
        portBandwidthInMbps:
          type: integer
          format: int32
          description: Bandwidth of the port in Mbps
        usedBandwidthInMbps:
          type: integer
          format: int32
          description: Used Bandwidth of the port in Mbps
        remainingBandwidthInMbps:
          type: integer
          format: int32
          description: Remaining Bandwidth of the port in Mbps
      description: Properties of ExpressRouteProviderPort.
    ExpressRouteProviderPort:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
          readOnly: true
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          x-ms-client-flatten: true
          description: Properties of the express route Service Provider Port.
          type: object
          properties:
            portPairDescriptor:
              readOnly: true
              type: string
              description: The name of the port pair.
            primaryAzurePort:
              readOnly: true
              type: string
              description: The name of the primary port.
            secondaryAzurePort:
              readOnly: true
              type: string
              description: The name of the secondary port.
            peeringLocation:
              type: string
              description: The peering location of the port pair.
            overprovisionFactor:
              type: integer
              format: int32
              description: Overprovisioning factor for the port pair.
            portBandwidthInMbps:
              type: integer
              format: int32
              description: Bandwidth of the port in Mbps
            usedBandwidthInMbps:
              type: integer
              format: int32
              description: Used Bandwidth of the port in Mbps
            remainingBandwidthInMbps:
              type: integer
              format: int32
              description: Remaining Bandwidth of the port in Mbps
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource
            is updated.
      description: Common resource representation.
      x-ms-azure-resource: true
    ExpressRouteProviderPortListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
                readOnly: true
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags.
              properties:
                x-ms-client-flatten: true
                description: Properties of the express route Service Provider Port.
                type: object
                properties:
                  portPairDescriptor:
                    readOnly: true
                    type: string
                    description: The name of the port pair.
                  primaryAzurePort:
                    readOnly: true
                    type: string
                    description: The name of the primary port.
                  secondaryAzurePort:
                    readOnly: true
                    type: string
                    description: The name of the secondary port.
                  peeringLocation:
                    type: string
                    description: The peering location of the port pair.
                  overprovisionFactor:
                    type: integer
                    format: int32
                    description: Overprovisioning factor for the port pair.
                  portBandwidthInMbps:
                    type: integer
                    format: int32
                    description: Bandwidth of the port in Mbps
                  usedBandwidthInMbps:
                    type: integer
                    format: int32
                    description: Used Bandwidth of the port in Mbps
                  remainingBandwidthInMbps:
                    type: integer
                    format: int32
                    description: Remaining Bandwidth of the port in Mbps
              etag:
                readOnly: true
                type: string
                description: A unique read-only string that changes whenever the resource
                  is updated.
            description: Common resource representation.
            x-ms-azure-resource: true
          description: A list of ExpressRouteProviderPort resources.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: Response for ListExpressRouteProviderPort API service call.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
    Resource:
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Common resource representation.
      x-ms-azure-resource: true
