openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations:
    get:
      tags:
      - ExpressRoutePortsLocations
      operationId: ExpressRoutePortsLocations_List
      description: Retrieves all ExpressRoutePort peering locations. Does not return
        available bandwidths for each location. Available bandwidths can only be obtained
        when retrieving a specific peering location.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the list of all ExpressRoutePort
            peering locations.
          content:
            application/json:
              schema:
                title: ExpressRoutePorts Location List Result
                description: Response for ListExpressRoutePortsLocations API service
                  call.
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: ExpressRoutePort peering location properties.
                          title: ExpressRoutePorts Location Properties
                          properties:
                            address:
                              type: string
                              readOnly: true
                              description: Address of peering location.
                            contact:
                              type: string
                              readOnly: true
                              description: Contact details of peering locations.
                            availableBandwidths:
                              type: array
                              items:
                                title: ExpressRoutePorts Location Bandwidths
                                description: Real-time inventory of available ExpressRoute
                                  port bandwidths.
                                properties:
                                  offerName:
                                    type: string
                                    readOnly: true
                                    description: Bandwidth descriptive name.
                                  valueInGbps:
                                    type: integer
                                    readOnly: true
                                    description: Bandwidth value in Gbps.
                              description: The inventory of available ExpressRoutePort
                                bandwidths.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the express route
                                port location resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                      description: Common resource representation.
                      x-ms-azure-resource: true
                      title: ExpressRoutePorts Peering Location
                    description: The list of all ExpressRoutePort peering locations.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ExpressRoutePortsLocations/{locationName}:
    get:
      tags:
      - ExpressRoutePortsLocations
      operationId: ExpressRoutePortsLocations_Get
      description: Retrieves a single ExpressRoutePort peering location, including
        the list of available bandwidths available at said peering location.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: locationName
        in: path
        required: true
        description: Name of the requested ExpressRoutePort peering location.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the requested ExpressRoutePort
            peering location.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: ExpressRoutePort peering location properties.
                    title: ExpressRoutePorts Location Properties
                    properties:
                      address:
                        type: string
                        readOnly: true
                        description: Address of peering location.
                      contact:
                        type: string
                        readOnly: true
                        description: Contact details of peering locations.
                      availableBandwidths:
                        type: array
                        items:
                          title: ExpressRoutePorts Location Bandwidths
                          description: Real-time inventory of available ExpressRoute
                            port bandwidths.
                          properties:
                            offerName:
                              type: string
                              readOnly: true
                              description: Bandwidth descriptive name.
                            valueInGbps:
                              type: integer
                              readOnly: true
                              description: Bandwidth value in Gbps.
                        description: The inventory of available ExpressRoutePort bandwidths.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the express route port
                          location resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                description: Common resource representation.
                x-ms-azure-resource: true
                title: ExpressRoutePorts Peering Location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ExpressRoutePorts/{expressRoutePortName}
  : delete:
      tags:
      - ExpressRoutePorts
      operationId: ExpressRoutePorts_Delete
      description: Deletes the specified ExpressRoutePort resource.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRoutePortName
        in: path
        required: true
        description: The name of the ExpressRoutePort resource.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: 'URL for determining when an operation has completed. Send
                a GET request to the URL in Location header.

                The URI should return a 202 until the operation reaches a terminal
                state and 200 once it reaches a terminal state.


                For more info: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#202-accepted-and-location-headers'
              schema:
                type: string
            Azure-AsyncOperation:
              description: 'URL for checking the ongoing status of the operation.

                To get the status of the asynchronous operation, send a GET request
                to the URL in Azure-AsyncOperation header value.


                For more info: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#asynchronous-operations'
              schema:
                type: string
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - ExpressRoutePorts
      operationId: ExpressRoutePorts_Get
      description: Retrieves the requested ExpressRoutePort resource.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRoutePortName
        in: path
        required: true
        description: The name of ExpressRoutePort.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the requested ExpressRoutePort
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: ExpressRoutePort properties.
                    title: ExpressRoutePort Properties
                    properties:
                      peeringLocation:
                        type: string
                        description: The name of the peering location that the ExpressRoutePort
                          is mapped to physically.
                      bandwidthInGbps:
                        type: integer
                        description: Bandwidth of procured ports in Gbps.
                      provisionedBandwidthInGbps:
                        readOnly: true
                        type: number
                        description: Aggregate Gbps of associated circuit bandwidths.
                      mtu:
                        readOnly: true
                        type: string
                        description: Maximum transmission unit of the physical port
                          pair(s).
                      encapsulation:
                        type: string
                        description: Encapsulation method on physical ports.
                        enum:
                        - Dot1Q
                        - QinQ
                        x-ms-enum:
                          name: ExpressRoutePortsEncapsulation
                          modelAsString: true
                      etherType:
                        readOnly: true
                        type: string
                        description: Ether type of the physical port.
                      allocationDate:
                        readOnly: true
                        type: string
                        description: Date of the physical port allocation to be used
                          in Letter of Authorization.
                      links:
                        title: ExpressRouteLink Sub-Resources
                        description: The set of physical links of the ExpressRoutePort
                          resource.
                        readOnly: false
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: ExpressRouteLink properties.
                              title: ExpressRouteLink Resource Properties
                              properties:
                                routerName:
                                  readOnly: true
                                  type: string
                                  description: Name of Azure router associated with
                                    physical port.
                                interfaceName:
                                  readOnly: true
                                  type: string
                                  description: Name of Azure router interface.
                                patchPanelId:
                                  readOnly: true
                                  type: string
                                  description: Mapping between physical port to patch
                                    panel port.
                                rackId:
                                  readOnly: true
                                  type: string
                                  description: Mapping of physical patch panel to
                                    rack.
                                coloLocation:
                                  readOnly: true
                                  type: string
                                  description: Cololocation for ExpressRoute Hybrid
                                    Direct.
                                connectorType:
                                  readOnly: true
                                  type: string
                                  description: Physical fiber port type.
                                  enum:
                                  - LC
                                  - SC
                                  x-ms-enum:
                                    name: ExpressRouteLinkConnectorType
                                    modelAsString: true
                                adminState:
                                  type: string
                                  description: Administrative state of the physical
                                    port.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: ExpressRouteLinkAdminState
                                    modelAsString: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the express
                                    route link resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                macSecConfig:
                                  description: MacSec configuration.
                                  title: Definition of ExpressRouteLink Mac Security
                                    configuration.
                                  properties:
                                    cknSecretIdentifier:
                                      type: string
                                      description: Keyvault Secret Identifier URL
                                        containing Mac security CKN key.
                                    cakSecretIdentifier:
                                      type: string
                                      description: Keyvault Secret Identifier URL
                                        containing Mac security CAK key.
                                    cipher:
                                      type: string
                                      description: Mac security cipher.
                                      enum:
                                      - GcmAes256
                                      - GcmAes128
                                      - GcmAesXpn128
                                      - GcmAesXpn256
                                      x-ms-enum:
                                        name: ExpressRouteLinkMacSecCipher
                                        modelAsString: true
                                    sciState:
                                      type: string
                                      description: Sci mode enabled/disabled.
                                      enum:
                                      - Disabled
                                      - Enabled
                                      x-ms-enum:
                                        name: ExpressRouteLinkMacSecSciState
                                        modelAsString: true
                            name:
                              type: string
                              description: Name of child port resource that is unique
                                among child port resources of the parent.
                            etag:
                              readOnly: true
                              type: string
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                          title: ExpressRouteLink
                      circuits:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Reference the ExpressRoute circuit(s) that are
                          provisioned on this ExpressRoutePort resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the express route port
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the express route
                          port resource.
                      billingType:
                        type: string
                        description: The billing type of the ExpressRoutePort resource.
                        enum:
                        - MeteredData
                        - UnlimitedData
                        x-ms-enum:
                          name: ExpressRoutePortsBillingType
                          modelAsString: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The identity of ExpressRoutePort, if configured.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
                          created identity and a set of user assigned identities.
                          The type 'None' will remove any identities from the virtual
                          machine.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The list of user identities associated with
                          resource. The user identity dictionary key references will
                          be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                description: Common resource representation.
                x-ms-azure-resource: true
                title: ExpressRoute Port
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - ExpressRoutePorts
      operationId: ExpressRoutePorts_CreateOrUpdate
      description: Creates or updates the specified ExpressRoutePort resource.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRoutePortName
        in: path
        required: true
        description: The name of the ExpressRoutePort resource.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: ExpressRoutePort properties.
                  title: ExpressRoutePort Properties
                  properties:
                    peeringLocation:
                      type: string
                      description: The name of the peering location that the ExpressRoutePort
                        is mapped to physically.
                    bandwidthInGbps:
                      type: integer
                      description: Bandwidth of procured ports in Gbps.
                    provisionedBandwidthInGbps:
                      readOnly: true
                      type: number
                      description: Aggregate Gbps of associated circuit bandwidths.
                    mtu:
                      readOnly: true
                      type: string
                      description: Maximum transmission unit of the physical port
                        pair(s).
                    encapsulation:
                      type: string
                      description: Encapsulation method on physical ports.
                      enum:
                      - Dot1Q
                      - QinQ
                      x-ms-enum:
                        name: ExpressRoutePortsEncapsulation
                        modelAsString: true
                    etherType:
                      readOnly: true
                      type: string
                      description: Ether type of the physical port.
                    allocationDate:
                      readOnly: true
                      type: string
                      description: Date of the physical port allocation to be used
                        in Letter of Authorization.
                    links:
                      title: ExpressRouteLink Sub-Resources
                      description: The set of physical links of the ExpressRoutePort
                        resource.
                      readOnly: false
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: ExpressRouteLink properties.
                            title: ExpressRouteLink Resource Properties
                            properties:
                              routerName:
                                readOnly: true
                                type: string
                                description: Name of Azure router associated with
                                  physical port.
                              interfaceName:
                                readOnly: true
                                type: string
                                description: Name of Azure router interface.
                              patchPanelId:
                                readOnly: true
                                type: string
                                description: Mapping between physical port to patch
                                  panel port.
                              rackId:
                                readOnly: true
                                type: string
                                description: Mapping of physical patch panel to rack.
                              coloLocation:
                                readOnly: true
                                type: string
                                description: Cololocation for ExpressRoute Hybrid
                                  Direct.
                              connectorType:
                                readOnly: true
                                type: string
                                description: Physical fiber port type.
                                enum:
                                - LC
                                - SC
                                x-ms-enum:
                                  name: ExpressRouteLinkConnectorType
                                  modelAsString: true
                              adminState:
                                type: string
                                description: Administrative state of the physical
                                  port.
                                enum:
                                - Enabled
                                - Disabled
                                x-ms-enum:
                                  name: ExpressRouteLinkAdminState
                                  modelAsString: true
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the express
                                  route link resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                              macSecConfig:
                                description: MacSec configuration.
                                title: Definition of ExpressRouteLink Mac Security
                                  configuration.
                                properties:
                                  cknSecretIdentifier:
                                    type: string
                                    description: Keyvault Secret Identifier URL containing
                                      Mac security CKN key.
                                  cakSecretIdentifier:
                                    type: string
                                    description: Keyvault Secret Identifier URL containing
                                      Mac security CAK key.
                                  cipher:
                                    type: string
                                    description: Mac security cipher.
                                    enum:
                                    - GcmAes256
                                    - GcmAes128
                                    - GcmAesXpn128
                                    - GcmAesXpn256
                                    x-ms-enum:
                                      name: ExpressRouteLinkMacSecCipher
                                      modelAsString: true
                                  sciState:
                                    type: string
                                    description: Sci mode enabled/disabled.
                                    enum:
                                    - Disabled
                                    - Enabled
                                    x-ms-enum:
                                      name: ExpressRouteLinkMacSecSciState
                                      modelAsString: true
                          name:
                            type: string
                            description: Name of child port resource that is unique
                              among child port resources of the parent.
                          etag:
                            readOnly: true
                            type: string
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                        title: ExpressRouteLink
                    circuits:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: Reference the ExpressRoute circuit(s) that are
                        provisioned on this ExpressRoutePort resource.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the express route port
                        resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    resourceGuid:
                      readOnly: true
                      type: string
                      description: The resource GUID property of the express route
                        port resource.
                    billingType:
                      type: string
                      description: The billing type of the ExpressRoutePort resource.
                      enum:
                      - MeteredData
                      - UnlimitedData
                      x-ms-enum:
                        name: ExpressRoutePortsBillingType
                        modelAsString: true
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                identity:
                  description: The identity of ExpressRoutePort, if configured.
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal id of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                    type:
                      type: string
                      description: The type of identity used for the resource. The
                        type 'SystemAssigned, UserAssigned' includes both an implicitly
                        created identity and a set of user assigned identities. The
                        type 'None' will remove any identities from the virtual machine.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client id of user assigned identity.
                      description: 'The list of user identities associated with resource.
                        The user identity dictionary key references will be ARM resource
                        ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
              description: Common resource representation.
              x-ms-azure-resource: true
              title: ExpressRoute Port
        description: Parameters supplied to the create ExpressRoutePort operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting ExpressRoutePort
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: ExpressRoutePort properties.
                    title: ExpressRoutePort Properties
                    properties:
                      peeringLocation:
                        type: string
                        description: The name of the peering location that the ExpressRoutePort
                          is mapped to physically.
                      bandwidthInGbps:
                        type: integer
                        description: Bandwidth of procured ports in Gbps.
                      provisionedBandwidthInGbps:
                        readOnly: true
                        type: number
                        description: Aggregate Gbps of associated circuit bandwidths.
                      mtu:
                        readOnly: true
                        type: string
                        description: Maximum transmission unit of the physical port
                          pair(s).
                      encapsulation:
                        type: string
                        description: Encapsulation method on physical ports.
                        enum:
                        - Dot1Q
                        - QinQ
                        x-ms-enum:
                          name: ExpressRoutePortsEncapsulation
                          modelAsString: true
                      etherType:
                        readOnly: true
                        type: string
                        description: Ether type of the physical port.
                      allocationDate:
                        readOnly: true
                        type: string
                        description: Date of the physical port allocation to be used
                          in Letter of Authorization.
                      links:
                        title: ExpressRouteLink Sub-Resources
                        description: The set of physical links of the ExpressRoutePort
                          resource.
                        readOnly: false
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: ExpressRouteLink properties.
                              title: ExpressRouteLink Resource Properties
                              properties:
                                routerName:
                                  readOnly: true
                                  type: string
                                  description: Name of Azure router associated with
                                    physical port.
                                interfaceName:
                                  readOnly: true
                                  type: string
                                  description: Name of Azure router interface.
                                patchPanelId:
                                  readOnly: true
                                  type: string
                                  description: Mapping between physical port to patch
                                    panel port.
                                rackId:
                                  readOnly: true
                                  type: string
                                  description: Mapping of physical patch panel to
                                    rack.
                                coloLocation:
                                  readOnly: true
                                  type: string
                                  description: Cololocation for ExpressRoute Hybrid
                                    Direct.
                                connectorType:
                                  readOnly: true
                                  type: string
                                  description: Physical fiber port type.
                                  enum:
                                  - LC
                                  - SC
                                  x-ms-enum:
                                    name: ExpressRouteLinkConnectorType
                                    modelAsString: true
                                adminState:
                                  type: string
                                  description: Administrative state of the physical
                                    port.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: ExpressRouteLinkAdminState
                                    modelAsString: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the express
                                    route link resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                macSecConfig:
                                  description: MacSec configuration.
                                  title: Definition of ExpressRouteLink Mac Security
                                    configuration.
                                  properties:
                                    cknSecretIdentifier:
                                      type: string
                                      description: Keyvault Secret Identifier URL
                                        containing Mac security CKN key.
                                    cakSecretIdentifier:
                                      type: string
                                      description: Keyvault Secret Identifier URL
                                        containing Mac security CAK key.
                                    cipher:
                                      type: string
                                      description: Mac security cipher.
                                      enum:
                                      - GcmAes256
                                      - GcmAes128
                                      - GcmAesXpn128
                                      - GcmAesXpn256
                                      x-ms-enum:
                                        name: ExpressRouteLinkMacSecCipher
                                        modelAsString: true
                                    sciState:
                                      type: string
                                      description: Sci mode enabled/disabled.
                                      enum:
                                      - Disabled
                                      - Enabled
                                      x-ms-enum:
                                        name: ExpressRouteLinkMacSecSciState
                                        modelAsString: true
                            name:
                              type: string
                              description: Name of child port resource that is unique
                                among child port resources of the parent.
                            etag:
                              readOnly: true
                              type: string
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                          title: ExpressRouteLink
                      circuits:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Reference the ExpressRoute circuit(s) that are
                          provisioned on this ExpressRoutePort resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the express route port
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the express route
                          port resource.
                      billingType:
                        type: string
                        description: The billing type of the ExpressRoutePort resource.
                        enum:
                        - MeteredData
                        - UnlimitedData
                        x-ms-enum:
                          name: ExpressRoutePortsBillingType
                          modelAsString: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The identity of ExpressRoutePort, if configured.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
                          created identity and a set of user assigned identities.
                          The type 'None' will remove any identities from the virtual
                          machine.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The list of user identities associated with
                          resource. The user identity dictionary key references will
                          be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                description: Common resource representation.
                x-ms-azure-resource: true
                title: ExpressRoute Port
        '201':
          description: Create successful. The operation returns the resulting ExpressRoutePort
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: ExpressRoutePort properties.
                    title: ExpressRoutePort Properties
                    properties:
                      peeringLocation:
                        type: string
                        description: The name of the peering location that the ExpressRoutePort
                          is mapped to physically.
                      bandwidthInGbps:
                        type: integer
                        description: Bandwidth of procured ports in Gbps.
                      provisionedBandwidthInGbps:
                        readOnly: true
                        type: number
                        description: Aggregate Gbps of associated circuit bandwidths.
                      mtu:
                        readOnly: true
                        type: string
                        description: Maximum transmission unit of the physical port
                          pair(s).
                      encapsulation:
                        type: string
                        description: Encapsulation method on physical ports.
                        enum:
                        - Dot1Q
                        - QinQ
                        x-ms-enum:
                          name: ExpressRoutePortsEncapsulation
                          modelAsString: true
                      etherType:
                        readOnly: true
                        type: string
                        description: Ether type of the physical port.
                      allocationDate:
                        readOnly: true
                        type: string
                        description: Date of the physical port allocation to be used
                          in Letter of Authorization.
                      links:
                        title: ExpressRouteLink Sub-Resources
                        description: The set of physical links of the ExpressRoutePort
                          resource.
                        readOnly: false
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: ExpressRouteLink properties.
                              title: ExpressRouteLink Resource Properties
                              properties:
                                routerName:
                                  readOnly: true
                                  type: string
                                  description: Name of Azure router associated with
                                    physical port.
                                interfaceName:
                                  readOnly: true
                                  type: string
                                  description: Name of Azure router interface.
                                patchPanelId:
                                  readOnly: true
                                  type: string
                                  description: Mapping between physical port to patch
                                    panel port.
                                rackId:
                                  readOnly: true
                                  type: string
                                  description: Mapping of physical patch panel to
                                    rack.
                                coloLocation:
                                  readOnly: true
                                  type: string
                                  description: Cololocation for ExpressRoute Hybrid
                                    Direct.
                                connectorType:
                                  readOnly: true
                                  type: string
                                  description: Physical fiber port type.
                                  enum:
                                  - LC
                                  - SC
                                  x-ms-enum:
                                    name: ExpressRouteLinkConnectorType
                                    modelAsString: true
                                adminState:
                                  type: string
                                  description: Administrative state of the physical
                                    port.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: ExpressRouteLinkAdminState
                                    modelAsString: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the express
                                    route link resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                macSecConfig:
                                  description: MacSec configuration.
                                  title: Definition of ExpressRouteLink Mac Security
                                    configuration.
                                  properties:
                                    cknSecretIdentifier:
                                      type: string
                                      description: Keyvault Secret Identifier URL
                                        containing Mac security CKN key.
                                    cakSecretIdentifier:
                                      type: string
                                      description: Keyvault Secret Identifier URL
                                        containing Mac security CAK key.
                                    cipher:
                                      type: string
                                      description: Mac security cipher.
                                      enum:
                                      - GcmAes256
                                      - GcmAes128
                                      - GcmAesXpn128
                                      - GcmAesXpn256
                                      x-ms-enum:
                                        name: ExpressRouteLinkMacSecCipher
                                        modelAsString: true
                                    sciState:
                                      type: string
                                      description: Sci mode enabled/disabled.
                                      enum:
                                      - Disabled
                                      - Enabled
                                      x-ms-enum:
                                        name: ExpressRouteLinkMacSecSciState
                                        modelAsString: true
                            name:
                              type: string
                              description: Name of child port resource that is unique
                                among child port resources of the parent.
                            etag:
                              readOnly: true
                              type: string
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                          title: ExpressRouteLink
                      circuits:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Reference the ExpressRoute circuit(s) that are
                          provisioned on this ExpressRoutePort resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the express route port
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the express route
                          port resource.
                      billingType:
                        type: string
                        description: The billing type of the ExpressRoutePort resource.
                        enum:
                        - MeteredData
                        - UnlimitedData
                        x-ms-enum:
                          name: ExpressRoutePortsBillingType
                          modelAsString: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The identity of ExpressRoutePort, if configured.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
                          created identity and a set of user assigned identities.
                          The type 'None' will remove any identities from the virtual
                          machine.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The list of user identities associated with
                          resource. The user identity dictionary key references will
                          be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                description: Common resource representation.
                x-ms-azure-resource: true
                title: ExpressRoute Port
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - ExpressRoutePorts
      operationId: ExpressRoutePorts_UpdateTags
      description: Update ExpressRoutePort tags.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: expressRoutePortName
        in: path
        required: true
        description: The name of the ExpressRoutePort resource.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update ExpressRoutePort resource tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting ExpressRoutePort
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: ExpressRoutePort properties.
                    title: ExpressRoutePort Properties
                    properties:
                      peeringLocation:
                        type: string
                        description: The name of the peering location that the ExpressRoutePort
                          is mapped to physically.
                      bandwidthInGbps:
                        type: integer
                        description: Bandwidth of procured ports in Gbps.
                      provisionedBandwidthInGbps:
                        readOnly: true
                        type: number
                        description: Aggregate Gbps of associated circuit bandwidths.
                      mtu:
                        readOnly: true
                        type: string
                        description: Maximum transmission unit of the physical port
                          pair(s).
                      encapsulation:
                        type: string
                        description: Encapsulation method on physical ports.
                        enum:
                        - Dot1Q
                        - QinQ
                        x-ms-enum:
                          name: ExpressRoutePortsEncapsulation
                          modelAsString: true
                      etherType:
                        readOnly: true
                        type: string
                        description: Ether type of the physical port.
                      allocationDate:
                        readOnly: true
                        type: string
                        description: Date of the physical port allocation to be used
                          in Letter of Authorization.
                      links:
                        title: ExpressRouteLink Sub-Resources
                        description: The set of physical links of the ExpressRoutePort
                          resource.
                        readOnly: false
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: ExpressRouteLink properties.
                              title: ExpressRouteLink Resource Properties
                              properties:
                                routerName:
                                  readOnly: true
                                  type: string
                                  description: Name of Azure router associated with
                                    physical port.
                                interfaceName:
                                  readOnly: true
                                  type: string
                                  description: Name of Azure router interface.
                                patchPanelId:
                                  readOnly: true
                                  type: string
                                  description: Mapping between physical port to patch
                                    panel port.
                                rackId:
                                  readOnly: true
                                  type: string
                                  description: Mapping of physical patch panel to
                                    rack.
                                coloLocation:
                                  readOnly: true
                                  type: string
                                  description: Cololocation for ExpressRoute Hybrid
                                    Direct.
                                connectorType:
                                  readOnly: true
                                  type: string
                                  description: Physical fiber port type.
                                  enum:
                                  - LC
                                  - SC
                                  x-ms-enum:
                                    name: ExpressRouteLinkConnectorType
                                    modelAsString: true
                                adminState:
                                  type: string
                                  description: Administrative state of the physical
                                    port.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: ExpressRouteLinkAdminState
                                    modelAsString: true
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the express
                                    route link resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                macSecConfig:
                                  description: MacSec configuration.
                                  title: Definition of ExpressRouteLink Mac Security
                                    configuration.
                                  properties:
                                    cknSecretIdentifier:
                                      type: string
                                      description: Keyvault Secret Identifier URL
                                        containing Mac security CKN key.
                                    cakSecretIdentifier:
                                      type: string
                                      description: Keyvault Secret Identifier URL
                                        containing Mac security CAK key.
                                    cipher:
                                      type: string
                                      description: Mac security cipher.
                                      enum:
                                      - GcmAes256
                                      - GcmAes128
                                      - GcmAesXpn128
                                      - GcmAesXpn256
                                      x-ms-enum:
                                        name: ExpressRouteLinkMacSecCipher
                                        modelAsString: true
                                    sciState:
                                      type: string
                                      description: Sci mode enabled/disabled.
                                      enum:
                                      - Disabled
                                      - Enabled
                                      x-ms-enum:
                                        name: ExpressRouteLinkMacSecSciState
                                        modelAsString: true
                            name:
                              type: string
                              description: Name of child port resource that is unique
                                among child port resources of the parent.
                            etag:
                              readOnly: true
                              type: string
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                          title: ExpressRouteLink
                      circuits:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Reference the ExpressRoute circuit(s) that are
                          provisioned on this ExpressRoutePort resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the express route port
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the express route
                          port resource.
                      billingType:
                        type: string
                        description: The billing type of the ExpressRoutePort resource.
                        enum:
                        - MeteredData
                        - UnlimitedData
                        x-ms-enum:
                          name: ExpressRoutePortsBillingType
                          modelAsString: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The identity of ExpressRoutePort, if configured.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
[...]
