openapi: 3.0.0
info:
  title: ExpressRouteCrossConnection REST APIs
  description: The Microsoft Azure ExpressRouteCrossConnection Resource Provider REST
    APIs describes the operations for the connectivity provider to provision ExpressRoute
    circuit, create and modify BGP peering entities and troubleshoot connectivity
    on customer's ExpressRoute circuit.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCrossConnections:
    get:
      tags:
      - ExpressRouteCrossConnections
      operationId: ExpressRouteCrossConnections_List
      description: Retrieves all the ExpressRouteCrossConnections in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation. For example, you can use
          $filter=name eq '{circuitServiceKey}'.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of ExpressRouteCrossConnection
            resources. If there are no cross connection resources an empty list is
            returned.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the express route cross connection.
                          properties:
                            primaryAzurePort:
                              readOnly: true
                              type: string
                              description: The name of the primary port.
                            secondaryAzurePort:
                              readOnly: true
                              type: string
                              description: The name of the secondary port.
                            sTag:
                              readOnly: true
                              type: integer
                              description: The identifier of the circuit traffic.
                            peeringLocation:
                              readOnly: true
                              type: string
                              description: The peering location of the ExpressRoute
                                circuit.
                            bandwidthInMbps:
                              readOnly: true
                              type: integer
                              format: int32
                              description: The circuit bandwidth In Mbps.
                            expressRouteCircuit:
                              description: The ExpressRouteCircuit.
                              properties:
                                id:
                                  type: string
                                  description: Corresponding Express Route Circuit
                                    Id.
                            serviceProviderProvisioningState:
                              description: The provisioning state of the circuit in
                                the connectivity provider system.
                              type: string
                              enum:
                              - NotProvisioned
                              - Provisioning
                              - Provisioned
                              - Deprovisioning
                              x-ms-enum:
                                name: ServiceProviderProvisioningState
                                modelAsString: true
                            serviceProviderNotes:
                              type: string
                              description: Additional read only notes set by the connectivity
                                provider.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the express route
                                cross connection resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            peerings:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Properties of the express route cross
                                      connection peering.
                                    properties:
                                      peeringType:
                                        description: The peering type.
                                        type: string
                                        enum:
                                        - AzurePublicPeering
                                        - AzurePrivatePeering
                                        - MicrosoftPeering
                                        x-ms-enum:
                                          name: ExpressRoutePeeringType
                                          modelAsString: true
                                      state:
                                        description: The peering state.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: ExpressRoutePeeringState
                                          modelAsString: true
                                      azureASN:
                                        readOnly: true
                                        type: integer
                                        format: int32
                                        description: The Azure ASN.
                                      peerASN:
                                        type: integer
                                        format: int64
                                        minimum: 1
                                        maximum: 4294967295
                                        description: The peer ASN.
                                      primaryPeerAddressPrefix:
                                        type: string
                                        description: The primary address prefix.
                                      secondaryPeerAddressPrefix:
                                        type: string
                                        description: The secondary address prefix.
                                      primaryAzurePort:
                                        readOnly: true
                                        type: string
                                        description: The primary port.
                                      secondaryAzurePort:
                                        readOnly: true
                                        type: string
                                        description: The secondary port.
                                      sharedKey:
                                        type: string
                                        description: The shared key.
                                      vlanId:
                                        type: integer
                                        format: int32
                                        description: The VLAN ID.
                                      microsoftPeeringConfig:
                                        description: The Microsoft peering configuration.
                                        properties:
                                          advertisedPublicPrefixes:
                                            type: array
                                            items:
                                              type: string
                                            description: The reference to AdvertisedPublicPrefixes.
                                          advertisedCommunities:
                                            type: array
                                            items:
                                              type: string
                                            description: The communities of bgp peering.
                                              Specified for microsoft peering.
                                          advertisedPublicPrefixesState:
                                            readOnly: true
                                            type: string
                                            description: The advertised public prefix
                                              state of the Peering resource.
                                            enum:
                                            - NotConfigured
                                            - Configuring
                                            - Configured
                                            - ValidationNeeded
                                            x-ms-enum:
                                              name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                              modelAsString: true
                                          legacyMode:
                                            type: integer
                                            format: int32
                                            description: The legacy mode of the peering.
                                          customerASN:
                                            type: integer
                                            format: int32
                                            description: The CustomerASN of the peering.
                                          routingRegistryName:
                                            type: string
                                            description: The RoutingRegistryName of
                                              the configuration.
                                          advertisedPublicPrefixInfo:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                prefix:
                                                  type: string
                                                  description: Advertised Public Prefix.
                                                validationId:
                                                  type: string
                                                  description: Validation string that
                                                    contains circuit peering info.
                                                signature:
                                                  type: string
                                                  description: Signed string generated
                                                    by encrypting validationId with
                                                    a private key.
                                                validationState:
                                                  readOnly: true
                                                  type: string
                                                  description: Advertised Public Prefix
                                                    State that denotes if the prefix
                                                    is validated or not.
                                                  enum:
                                                  - NotConfigured
                                                  - Configuring
                                                  - Configured
                                                  - ValidationNeeded
                                                  - ValidationFailed
                                                  - ManualValidationNeeded
                                                  - AsnValidationFailed
                                                  - CertificateMissingInRoutingRegistry
                                                  - InvalidSignatureEncoding
                                                  - SignatureVerificationFailed
                                                  x-ms-enum:
                                                    name: AdvertisedPublicPrefixPropertiesValidationState
                                                    modelAsString: true
                                              description: Prefix properties required
                                                to perform validation using openssl
                                                signature.
                                            x-ms-identifiers: []
                                            description: List of Prefix information
                                              required to perform validation.
                                      provisioningState:
                                        readOnly: true
                                        description: The provisioning state of the
                                          express route cross connection peering resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Updating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      gatewayManagerEtag:
                                        type: string
                                        description: The GatewayManager Etag.
                                      lastModifiedBy:
                                        readOnly: true
                                        type: string
                                        description: Who was the last to modify the
                                          peering.
                                      ipv6PeeringConfig:
                                        description: The IPv6 peering configuration.
                                        properties:
                                          primaryPeerAddressPrefix:
                                            type: string
                                            description: The primary address prefix.
                                          secondaryPeerAddressPrefix:
                                            type: string
                                            description: The secondary address prefix.
                                          microsoftPeeringConfig:
                                            description: The Microsoft peering configuration.
                                            properties:
                                              advertisedPublicPrefixes:
                                                type: array
                                                items:
                                                  type: string
                                                description: The reference to AdvertisedPublicPrefixes.
                                              advertisedCommunities:
                                                type: array
                                                items:
                                                  type: string
                                                description: The communities of bgp
                                                  peering. Specified for microsoft
                                                  peering.
                                              advertisedPublicPrefixesState:
                                                readOnly: true
                                                type: string
                                                description: The advertised public
                                                  prefix state of the Peering resource.
                                                enum:
                                                - NotConfigured
                                                - Configuring
                                                - Configured
                                                - ValidationNeeded
                                                x-ms-enum:
                                                  name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                                  modelAsString: true
                                              legacyMode:
                                                type: integer
                                                format: int32
                                                description: The legacy mode of the
                                                  peering.
                                              customerASN:
                                                type: integer
                                                format: int32
                                                description: The CustomerASN of the
                                                  peering.
                                              routingRegistryName:
                                                type: string
                                                description: The RoutingRegistryName
                                                  of the configuration.
                                              advertisedPublicPrefixInfo:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    prefix:
                                                      type: string
                                                      description: Advertised Public
                                                        Prefix.
                                                    validationId:
                                                      type: string
                                                      description: Validation string
                                                        that contains circuit peering
                                                        info.
                                                    signature:
                                                      type: string
                                                      description: Signed string generated
                                                        by encrypting validationId
                                                        with a private key.
                                                    validationState:
                                                      readOnly: true
                                                      type: string
                                                      description: Advertised Public
                                                        Prefix State that denotes
                                                        if the prefix is validated
                                                        or not.
                                                      enum:
                                                      - NotConfigured
                                                      - Configuring
                                                      - Configured
                                                      - ValidationNeeded
                                                      - ValidationFailed
                                                      - ManualValidationNeeded
                                                      - AsnValidationFailed
                                                      - CertificateMissingInRoutingRegistry
                                                      - InvalidSignatureEncoding
                                                      - SignatureVerificationFailed
                                                      x-ms-enum:
                                                        name: AdvertisedPublicPrefixPropertiesValidationState
                                                        modelAsString: true
                                                  description: Prefix properties required
                                                    to perform validation using openssl
                                                    signature.
                                                x-ms-identifiers: []
                                                description: List of Prefix information
                                                  required to perform validation.
                                          routeFilter:
                                            description: The reference to the RouteFilter
                                              resource.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          state:
                                            type: string
                                            description: The state of peering.
                                            enum:
                                            - Disabled
                                            - Enabled
                                            x-ms-enum:
                                              name: ExpressRouteCircuitPeeringState
                                              modelAsString: true
                                  name:
                                    type: string
                                    description: The name of the resource that is
                                      unique within a resource group. This name can
                                      be used to access the resource.
                                  etag:
                                    readOnly: true
                                    type: string
                                    description: A unique read-only string that changes
                                      whenever the resource is updated.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: The list of peerings.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of ExpressRouteCrossConnection resources.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to get the next set of results.
                description: Response for ListExpressRouteCrossConnection API service
                  call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections
  : get:
      tags:
      - ExpressRouteCrossConnections
      operationId: ExpressRouteCrossConnections_ListByResourceGroup
      description: Retrieves all the ExpressRouteCrossConnections in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful.The operation returns a list of ExpressRouteCrossConnection
            resources. If there are no cross connection resources an empty list is
            returned.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the express route cross connection.
                          properties:
                            primaryAzurePort:
                              readOnly: true
                              type: string
                              description: The name of the primary port.
                            secondaryAzurePort:
                              readOnly: true
                              type: string
                              description: The name of the secondary port.
                            sTag:
                              readOnly: true
                              type: integer
                              description: The identifier of the circuit traffic.
                            peeringLocation:
                              readOnly: true
                              type: string
                              description: The peering location of the ExpressRoute
                                circuit.
                            bandwidthInMbps:
                              readOnly: true
                              type: integer
                              format: int32
                              description: The circuit bandwidth In Mbps.
                            expressRouteCircuit:
                              description: The ExpressRouteCircuit.
                              properties:
                                id:
                                  type: string
                                  description: Corresponding Express Route Circuit
                                    Id.
                            serviceProviderProvisioningState:
                              description: The provisioning state of the circuit in
                                the connectivity provider system.
                              type: string
                              enum:
                              - NotProvisioned
                              - Provisioning
                              - Provisioned
                              - Deprovisioning
                              x-ms-enum:
                                name: ServiceProviderProvisioningState
                                modelAsString: true
                            serviceProviderNotes:
                              type: string
                              description: Additional read only notes set by the connectivity
                                provider.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the express route
                                cross connection resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            peerings:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Properties of the express route cross
                                      connection peering.
                                    properties:
                                      peeringType:
                                        description: The peering type.
                                        type: string
                                        enum:
                                        - AzurePublicPeering
                                        - AzurePrivatePeering
                                        - MicrosoftPeering
                                        x-ms-enum:
                                          name: ExpressRoutePeeringType
                                          modelAsString: true
                                      state:
                                        description: The peering state.
                                        type: string
                                        enum:
                                        - Disabled
                                        - Enabled
                                        x-ms-enum:
                                          name: ExpressRoutePeeringState
                                          modelAsString: true
                                      azureASN:
                                        readOnly: true
                                        type: integer
                                        format: int32
                                        description: The Azure ASN.
                                      peerASN:
                                        type: integer
                                        format: int64
                                        minimum: 1
                                        maximum: 4294967295
                                        description: The peer ASN.
                                      primaryPeerAddressPrefix:
                                        type: string
                                        description: The primary address prefix.
                                      secondaryPeerAddressPrefix:
                                        type: string
                                        description: The secondary address prefix.
                                      primaryAzurePort:
                                        readOnly: true
                                        type: string
                                        description: The primary port.
                                      secondaryAzurePort:
                                        readOnly: true
                                        type: string
                                        description: The secondary port.
                                      sharedKey:
                                        type: string
                                        description: The shared key.
                                      vlanId:
                                        type: integer
                                        format: int32
                                        description: The VLAN ID.
                                      microsoftPeeringConfig:
                                        description: The Microsoft peering configuration.
                                        properties:
                                          advertisedPublicPrefixes:
                                            type: array
                                            items:
                                              type: string
                                            description: The reference to AdvertisedPublicPrefixes.
                                          advertisedCommunities:
                                            type: array
                                            items:
                                              type: string
                                            description: The communities of bgp peering.
                                              Specified for microsoft peering.
                                          advertisedPublicPrefixesState:
                                            readOnly: true
                                            type: string
                                            description: The advertised public prefix
                                              state of the Peering resource.
                                            enum:
                                            - NotConfigured
                                            - Configuring
                                            - Configured
                                            - ValidationNeeded
                                            x-ms-enum:
                                              name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                              modelAsString: true
                                          legacyMode:
                                            type: integer
                                            format: int32
                                            description: The legacy mode of the peering.
                                          customerASN:
                                            type: integer
                                            format: int32
                                            description: The CustomerASN of the peering.
                                          routingRegistryName:
                                            type: string
                                            description: The RoutingRegistryName of
                                              the configuration.
                                          advertisedPublicPrefixInfo:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                prefix:
                                                  type: string
                                                  description: Advertised Public Prefix.
                                                validationId:
                                                  type: string
                                                  description: Validation string that
                                                    contains circuit peering info.
                                                signature:
                                                  type: string
                                                  description: Signed string generated
                                                    by encrypting validationId with
                                                    a private key.
                                                validationState:
                                                  readOnly: true
                                                  type: string
                                                  description: Advertised Public Prefix
                                                    State that denotes if the prefix
                                                    is validated or not.
                                                  enum:
                                                  - NotConfigured
                                                  - Configuring
                                                  - Configured
                                                  - ValidationNeeded
                                                  - ValidationFailed
                                                  - ManualValidationNeeded
                                                  - AsnValidationFailed
                                                  - CertificateMissingInRoutingRegistry
                                                  - InvalidSignatureEncoding
                                                  - SignatureVerificationFailed
                                                  x-ms-enum:
                                                    name: AdvertisedPublicPrefixPropertiesValidationState
                                                    modelAsString: true
                                              description: Prefix properties required
                                                to perform validation using openssl
                                                signature.
                                            x-ms-identifiers: []
                                            description: List of Prefix information
                                              required to perform validation.
                                      provisioningState:
                                        readOnly: true
                                        description: The provisioning state of the
                                          express route cross connection peering resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Updating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: ProvisioningState
                                          modelAsString: true
                                      gatewayManagerEtag:
                                        type: string
                                        description: The GatewayManager Etag.
                                      lastModifiedBy:
                                        readOnly: true
                                        type: string
                                        description: Who was the last to modify the
                                          peering.
                                      ipv6PeeringConfig:
                                        description: The IPv6 peering configuration.
                                        properties:
                                          primaryPeerAddressPrefix:
                                            type: string
                                            description: The primary address prefix.
                                          secondaryPeerAddressPrefix:
                                            type: string
                                            description: The secondary address prefix.
                                          microsoftPeeringConfig:
                                            description: The Microsoft peering configuration.
                                            properties:
                                              advertisedPublicPrefixes:
                                                type: array
                                                items:
                                                  type: string
                                                description: The reference to AdvertisedPublicPrefixes.
                                              advertisedCommunities:
                                                type: array
                                                items:
                                                  type: string
                                                description: The communities of bgp
                                                  peering. Specified for microsoft
                                                  peering.
                                              advertisedPublicPrefixesState:
                                                readOnly: true
                                                type: string
                                                description: The advertised public
                                                  prefix state of the Peering resource.
                                                enum:
                                                - NotConfigured
                                                - Configuring
                                                - Configured
                                                - ValidationNeeded
                                                x-ms-enum:
                                                  name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                                  modelAsString: true
                                              legacyMode:
                                                type: integer
                                                format: int32
                                                description: The legacy mode of the
                                                  peering.
                                              customerASN:
                                                type: integer
                                                format: int32
                                                description: The CustomerASN of the
                                                  peering.
                                              routingRegistryName:
                                                type: string
                                                description: The RoutingRegistryName
                                                  of the configuration.
                                              advertisedPublicPrefixInfo:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    prefix:
                                                      type: string
                                                      description: Advertised Public
                                                        Prefix.
                                                    validationId:
                                                      type: string
                                                      description: Validation string
                                                        that contains circuit peering
                                                        info.
                                                    signature:
                                                      type: string
                                                      description: Signed string generated
                                                        by encrypting validationId
                                                        with a private key.
                                                    validationState:
                                                      readOnly: true
                                                      type: string
                                                      description: Advertised Public
                                                        Prefix State that denotes
                                                        if the prefix is validated
                                                        or not.
                                                      enum:
                                                      - NotConfigured
                                                      - Configuring
                                                      - Configured
                                                      - ValidationNeeded
                                                      - ValidationFailed
                                                      - ManualValidationNeeded
                                                      - AsnValidationFailed
                                                      - CertificateMissingInRoutingRegistry
                                                      - InvalidSignatureEncoding
                                                      - SignatureVerificationFailed
                                                      x-ms-enum:
                                                        name: AdvertisedPublicPrefixPropertiesValidationState
                                                        modelAsString: true
                                                  description: Prefix properties required
                                                    to perform validation using openssl
                                                    signature.
                                                x-ms-identifiers: []
                                                description: List of Prefix information
                                                  required to perform validation.
                                          routeFilter:
                                            description: The reference to the RouteFilter
                                              resource.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          state:
                                            type: string
                                            description: The state of peering.
                                            enum:
                                            - Disabled
                                            - Enabled
                                            x-ms-enum:
                                              name: ExpressRouteCircuitPeeringState
                                              modelAsString: true
                                  name:
                                    type: string
                                    description: The name of the resource that is
                                      unique within a resource group. This name can
                                      be used to access the resource.
                                  etag:
                                    readOnly: true
                                    type: string
                                    description: A unique read-only string that changes
                                      whenever the resource is updated.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: The list of peerings.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of ExpressRouteCrossConnection resources.
                  nextLink:
                    readOnly: true
                    type: string
                    description: The URL to get the next set of results.
                description: Response for ListExpressRouteCrossConnection API service
                  call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCrossConnections/{crossConnectionName}
  : get:
      tags:
      - ExpressRouteCrossConnections
      operationId: ExpressRouteCrossConnections_Get
      description: Gets details about the specified ExpressRouteCrossConnection.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group (peering location of the circuit).
        schema:
          type: string
      - name: crossConnectionName
        in: path
        required: true
        description: The name of the ExpressRouteCrossConnection (service key of the
          circuit).
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting ExpressRouteCrossConnection
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the express route cross connection.
                    properties:
                      primaryAzurePort:
                        readOnly: true
                        type: string
                        description: The name of the primary port.
                      secondaryAzurePort:
                        readOnly: true
                        type: string
                        description: The name of the secondary port.
                      sTag:
                        readOnly: true
                        type: integer
                        description: The identifier of the circuit traffic.
                      peeringLocation:
                        readOnly: true
                        type: string
                        description: The peering location of the ExpressRoute circuit.
                      bandwidthInMbps:
                        readOnly: true
                        type: integer
                        format: int32
                        description: The circuit bandwidth In Mbps.
                      expressRouteCircuit:
                        description: The ExpressRouteCircuit.
                        properties:
                          id:
                            type: string
                            description: Corresponding Express Route Circuit Id.
                      serviceProviderProvisioningState:
                        description: The provisioning state of the circuit in the
                          connectivity provider system.
                        type: string
                        enum:
                        - NotProvisioned
                        - Provisioning
                        - Provisioned
                        - Deprovisioning
                        x-ms-enum:
                          name: ServiceProviderProvisioningState
                          modelAsString: true
                      serviceProviderNotes:
                        type: string
                        description: Additional read only notes set by the connectivity
                          provider.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the express route cross
                          connection resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      peerings:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the express route cross connection
                                peering.
                              properties:
                                peeringType:
                                  description: The peering type.
                                  type: string
                                  enum:
                                  - AzurePublicPeering
                                  - AzurePrivatePeering
                                  - MicrosoftPeering
                                  x-ms-enum:
                                    name: ExpressRoutePeeringType
                                    modelAsString: true
                                state:
                                  description: The peering state.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: ExpressRoutePeeringState
                                    modelAsString: true
                                azureASN:
                                  readOnly: true
                                  type: integer
                                  format: int32
                                  description: The Azure ASN.
                                peerASN:
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 4294967295
                                  description: The peer ASN.
                                primaryPeerAddressPrefix:
                                  type: string
                                  description: The primary address prefix.
                                secondaryPeerAddressPrefix:
                                  type: string
                                  description: The secondary address prefix.
                                primaryAzurePort:
                                  readOnly: true
                                  type: string
                                  description: The primary port.
                                secondaryAzurePort:
                                  readOnly: true
                                  type: string
                                  description: The secondary port.
                                sharedKey:
                                  type: string
                                  description: The shared key.
                                vlanId:
                                  type: integer
                                  format: int32
                                  description: The VLAN ID.
                                microsoftPeeringConfig:
                                  description: The Microsoft peering configuration.
                                  properties:
                                    advertisedPublicPrefixes:
                                      type: array
                                      items:
                                        type: string
                                      description: The reference to AdvertisedPublicPrefixes.
                                    advertisedCommunities:
                                      type: array
                                      items:
                                        type: string
                                      description: The communities of bgp peering.
                                        Specified for microsoft peering.
                                    advertisedPublicPrefixesState:
                                      readOnly: true
                                      type: string
                                      description: The advertised public prefix state
                                        of the Peering resource.
                                      enum:
                                      - NotConfigured
                                      - Configuring
                                      - Configured
                                      - ValidationNeeded
                                      x-ms-enum:
                                        name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                        modelAsString: true
                                    legacyMode:
                                      type: integer
                                      format: int32
                                      description: The legacy mode of the peering.
                                    customerASN:
                                      type: integer
                                      format: int32
                                      description: The CustomerASN of the peering.
                                    routingRegistryName:
                                      type: string
                                      description: The RoutingRegistryName of the
                                        configuration.
                                    advertisedPublicPrefixInfo:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          prefix:
                                            type: string
                                            description: Advertised Public Prefix.
                                          validationId:
                                            type: string
                                            description: Validation string that contains
                                              circuit peering info.
                                          signature:
                                            type: string
                                            description: Signed string generated by
                                              encrypting validationId with a private
                                              key.
                                          validationState:
                                            readOnly: true
                                            type: string
                                            description: Advertised Public Prefix
                                              State that denotes if the prefix is
                                              validated or not.
                                            enum:
                                            - NotConfigured
                                            - Configuring
                                            - Configured
                                            - ValidationNeeded
                                            - ValidationFailed
                                            - ManualValidationNeeded
                                            - AsnValidationFailed
                                            - CertificateMissingInRoutingRegistry
                                            - InvalidSignatureEncoding
                                            - SignatureVerificationFailed
                                            x-ms-enum:
                                              name: AdvertisedPublicPrefixPropertiesValidationState
                                              modelAsString: true
                                        description: Prefix properties required to
                                          perform validation using openssl signature.
                                      x-ms-identifiers: []
                                      description: List of Prefix information required
                                        to perform validation.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the express
                                    route cross connection peering resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                gatewayManagerEtag:
                                  type: string
                                  description: The GatewayManager Etag.
                                lastModifiedBy:
                                  readOnly: true
                                  type: string
                                  description: Who was the last to modify the peering.
                                ipv6PeeringConfig:
                                  description: The IPv6 peering configuration.
                                  properties:
                                    primaryPeerAddressPrefix:
                                      type: string
                                      description: The primary address prefix.
                                    secondaryPeerAddressPrefix:
                                      type: string
                                      description: The secondary address prefix.
                                    microsoftPeeringConfig:
                                      description: The Microsoft peering configuration.
                                      properties:
                                        advertisedPublicPrefixes:
                                          type: array
                                          items:
                                            type: string
                                          description: The reference to AdvertisedPublicPrefixes.
                                        advertisedCommunities:
                                          type: array
                                          items:
                                            type: string
                                          description: The communities of bgp peering.
                                            Specified for microsoft peering.
                                        advertisedPublicPrefixesState:
                                          readOnly: true
                                          type: string
                                          description: The advertised public prefix
                                            state of the Peering resource.
                                          enum:
                                          - NotConfigured
                                          - Configuring
                                          - Configured
                                          - ValidationNeeded
                                          x-ms-enum:
                                            name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                            modelAsString: true
                                        legacyMode:
                                          type: integer
                                          format: int32
                                          description: The legacy mode of the peering.
                                        customerASN:
                                          type: integer
                                          format: int32
                                          description: The CustomerASN of the peering.
                                        routingRegistryName:
                                          type: string
                                          description: The RoutingRegistryName of
                                            the configuration.
                                        advertisedPublicPrefixInfo:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              prefix:
                                                type: string
                                                description: Advertised Public Prefix.
                                              validationId:
                                                type: string
                                                description: Validation string that
                                                  contains circuit peering info.
                                              signature:
                                                type: string
                                                description: Signed string generated
                                                  by encrypting validationId with
                                                  a private key.
                                              validationState:
                                                readOnly: true
                                                type: string
                                                description: Advertised Public Prefix
                                                  State that denotes if the prefix
                                                  is validated or not.
                                                enum:
                                                - NotConfigured
                                                - Configuring
                                                - Configured
                                                - ValidationNeeded
                                                - ValidationFailed
                                                - ManualValidationNeeded
                                                - AsnValidationFailed
                                                - CertificateMissingInRoutingRegistry
                                                - InvalidSignatureEncoding
                                                - SignatureVerificationFailed
                                                x-ms-enum:
                                                  name: AdvertisedPublicPrefixPropertiesValidationState
                                                  modelAsString: true
                                            description: Prefix properties required
                                              to perform validation using openssl
                                              signature.
                                          x-ms-identifiers: []
                                          description: List of Prefix information
                                            required to perform validation.
                                    routeFilter:
                                      description: The reference to the RouteFilter
                                        resource.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource ID.
                                      x-ms-azure-resource: true
                                    state:
                                      type: string
                                      description: The state of peering.
                                      enum:
                                      - Disabled
                                      - Enabled
                                      x-ms-enum:
                                        name: ExpressRouteCircuitPeeringState
                                        modelAsString: true
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within a resource group. This name can be used to
                                access the resource.
                            etag:
                              readOnly: true
                              type: string
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: The list of peerings.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - ExpressRouteCrossConnections
      operationId: ExpressRouteCrossConnections_CreateOrUpdate
      description: Update the specified ExpressRouteCrossConnection.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: crossConnectionName
        in: path
        required: true
        description: The name of the ExpressRouteCrossConnection.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the express route cross connection.
                  properties:
                    primaryAzurePort:
                      readOnly: true
                      type: string
                      description: The name of the primary port.
                    secondaryAzurePort:
                      readOnly: true
                      type: string
                      description: The name of the secondary port.
                    sTag:
                      readOnly: true
                      type: integer
                      description: The identifier of the circuit traffic.
                    peeringLocation:
                      readOnly: true
                      type: string
                      description: The peering location of the ExpressRoute circuit.
                    bandwidthInMbps:
                      readOnly: true
                      type: integer
                      format: int32
                      description: The circuit bandwidth In Mbps.
                    expressRouteCircuit:
                      description: The ExpressRouteCircuit.
                      properties:
                        id:
                          type: string
                          description: Corresponding Express Route Circuit Id.
                    serviceProviderProvisioningState:
                      description: The provisioning state of the circuit in the connectivity
                        provider system.
                      type: string
                      enum:
                      - NotProvisioned
                      - Provisioning
                      - Provisioned
                      - Deprovisioning
                      x-ms-enum:
                        name: ServiceProviderProvisioningState
                        modelAsString: true
                    serviceProviderNotes:
                      type: string
                      description: Additional read only notes set by the connectivity
                        provider.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the express route cross
                        connection resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    peerings:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the express route cross connection
                              peering.
                            properties:
                              peeringType:
                                description: The peering type.
                                type: string
                                enum:
                                - AzurePublicPeering
                                - AzurePrivatePeering
                                - MicrosoftPeering
                                x-ms-enum:
                                  name: ExpressRoutePeeringType
                                  modelAsString: true
                              state:
                                description: The peering state.
                                type: string
                                enum:
                                - Disabled
                                - Enabled
                                x-ms-enum:
                                  name: ExpressRoutePeeringState
                                  modelAsString: true
                              azureASN:
                                readOnly: true
                                type: integer
                                format: int32
                                description: The Azure ASN.
                              peerASN:
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 4294967295
                                description: The peer ASN.
                              primaryPeerAddressPrefix:
                                type: string
                                description: The primary address prefix.
                              secondaryPeerAddressPrefix:
                                type: string
                                description: The secondary address prefix.
                              primaryAzurePort:
                                readOnly: true
                                type: string
                                description: The primary port.
                              secondaryAzurePort:
                                readOnly: true
                                type: string
                                description: The secondary port.
                              sharedKey:
                                type: string
                                description: The shared key.
                              vlanId:
                                type: integer
                                format: int32
                                description: The VLAN ID.
                              microsoftPeeringConfig:
                                description: The Microsoft peering configuration.
                                properties:
                                  advertisedPublicPrefixes:
                                    type: array
                                    items:
                                      type: string
                                    description: The reference to AdvertisedPublicPrefixes.
                                  advertisedCommunities:
                                    type: array
                                    items:
                                      type: string
                                    description: The communities of bgp peering. Specified
                                      for microsoft peering.
                                  advertisedPublicPrefixesState:
                                    readOnly: true
                                    type: string
                                    description: The advertised public prefix state
                                      of the Peering resource.
                                    enum:
                                    - NotConfigured
                                    - Configuring
                                    - Configured
                                    - ValidationNeeded
                                    x-ms-enum:
                                      name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                      modelAsString: true
                                  legacyMode:
                                    type: integer
                                    format: int32
                                    description: The legacy mode of the peering.
                                  customerASN:
                                    type: integer
                                    format: int32
                                    description: The CustomerASN of the peering.
                                  routingRegistryName:
                                    type: string
                                    description: The RoutingRegistryName of the configuration.
                                  advertisedPublicPrefixInfo:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        prefix:
                                          type: string
                                          description: Advertised Public Prefix.
                                        validationId:
                                          type: string
                                          description: Validation string that contains
                                            circuit peering info.
                                        signature:
                                          type: string
                                          description: Signed string generated by
                                            encrypting validationId with a private
                                            key.
                                        validationState:
                                          readOnly: true
                                          type: string
                                          description: Advertised Public Prefix State
                                            that denotes if the prefix is validated
                                            or not.
                                          enum:
                                          - NotConfigured
                                          - Configuring
                                          - Configured
                                          - ValidationNeeded
                                          - ValidationFailed
                                          - ManualValidationNeeded
                                          - AsnValidationFailed
                                          - CertificateMissingInRoutingRegistry
                                          - InvalidSignatureEncoding
                                          - SignatureVerificationFailed
                                          x-ms-enum:
                                            name: AdvertisedPublicPrefixPropertiesValidationState
                                            modelAsString: true
                                      description: Prefix properties required to perform
                                        validation using openssl signature.
                                    x-ms-identifiers: []
                                    description: List of Prefix information required
                                      to perform validation.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the express
                                  route cross connection peering resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                              gatewayManagerEtag:
                                type: string
                                description: The GatewayManager Etag.
                              lastModifiedBy:
                                readOnly: true
                                type: string
                                description: Who was the last to modify the peering.
                              ipv6PeeringConfig:
                                description: The IPv6 peering configuration.
                                properties:
                                  primaryPeerAddressPrefix:
                                    type: string
                                    description: The primary address prefix.
                                  secondaryPeerAddressPrefix:
                                    type: string
                                    description: The secondary address prefix.
                                  microsoftPeeringConfig:
                                    description: The Microsoft peering configuration.
                                    properties:
                                      advertisedPublicPrefixes:
                                        type: array
                                        items:
                                          type: string
                                        description: The reference to AdvertisedPublicPrefixes.
                                      advertisedCommunities:
                                        type: array
                                        items:
                                          type: string
                                        description: The communities of bgp peering.
                                          Specified for microsoft peering.
                                      advertisedPublicPrefixesState:
                                        readOnly: true
                                        type: string
                                        description: The advertised public prefix
                                          state of the Peering resource.
                                        enum:
                                        - NotConfigured
                                        - Configuring
[...]
