openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}
  : delete:
      tags:
      - FirewallPolicies
      operationId: FirewallPolicies_Delete
      description: Deletes the specified Firewall Policy.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: firewallPolicyName
        in: path
        required: true
        description: The name of the Firewall Policy.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not
            exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - FirewallPolicies
      operationId: FirewallPolicies_Get
      description: Gets the specified Firewall Policy.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: firewallPolicyName
        in: path
        required: true
        description: The name of the Firewall Policy.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a Firewall Policy
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the firewall policy.
                    type: object
                    properties:
                      size:
                        type: string
                        readOnly: true
                        description: A read-only string that represents the size of
                          the FirewallPolicyPropertiesFormat in MB. (ex 0.5MB)
                      ruleCollectionGroups:
                        type: array
                        readOnly: true
                        description: List of references to FirewallPolicyRuleCollectionGroups.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the firewall policy
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      basePolicy:
                        readOnly: false
                        description: The parent firewall policy from which rules are
                          inherited.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      firewalls:
                        type: array
                        readOnly: true
                        description: List of references to Azure Firewalls that this
                          Firewall Policy is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      childPolicies:
                        type: array
                        readOnly: true
                        description: List of references to Child Firewall Policies.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      threatIntelMode:
                        description: The operation mode for Threat Intelligence.
                        type: string
                        enum:
                        - Alert
                        - Deny
                        - 'Off'
                        x-ms-enum:
                          name: AzureFirewallThreatIntelMode
                          modelAsString: true
                      threatIntelWhitelist:
                        description: ThreatIntel Whitelist for Firewall Policy.
                        type: object
                        properties:
                          ipAddresses:
                            type: array
                            description: List of IP addresses for the ThreatIntel
                              Whitelist.
                            items:
                              type: string
                          fqdns:
                            type: array
                            description: List of FQDNs for the ThreatIntel Whitelist.
                            items:
                              type: string
                      insights:
                        description: Insights on Firewall Policy.
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            description: A flag to indicate if the insights are enabled
                              on the policy.
                          retentionDays:
                            type: integer
                            format: int32
                            description: Number of days the insights should be enabled
                              on the policy.
                          logAnalyticsResources:
                            description: Workspaces needed to configure the Firewall
                              Policy Insights.
                            type: object
                            properties:
                              workspaces:
                                type: array
                                description: List of workspaces for Firewall Policy
                                  Insights.
                                items:
                                  type: object
                                  description: Log Analytics Workspace for Firewall
                                    Policy Insights.
                                  properties:
                                    region:
                                      type: string
                                      description: Region to configure the Workspace.
                                    workspaceId:
                                      description: The workspace Id for Firewall Policy
                                        Insights.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource ID.
                                      x-ms-azure-resource: true
                                x-ms-identifiers: []
                              defaultWorkspaceId:
                                description: The default workspace Id for Firewall
                                  Policy Insights.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                      snat:
                        description: The private IP addresses/IP ranges to which traffic
                          will not be SNAT.
                        type: object
                        properties:
                          privateRanges:
                            type: array
                            description: List of private IP addresses/IP address ranges
                              to not be SNAT.
                            items:
                              type: string
                          autoLearnPrivateRanges:
                            type: string
                            description: The operation mode for automatically learning
                              private ranges to not be SNAT
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: AutoLearnPrivateRangesMode
                              modelAsString: true
                      sql:
                        description: SQL Settings definition.
                        type: object
                        properties:
                          allowSqlRedirect:
                            type: boolean
                            description: A flag to indicate if SQL Redirect traffic
                              filtering is enabled. Turning on the flag requires no
                              rule using port 11000-11999.
                      dnsSettings:
                        description: DNS Proxy Settings definition.
                        type: object
                        properties:
                          servers:
                            type: array
                            description: List of Custom DNS Servers.
                            items:
                              type: string
                          enableProxy:
                            type: boolean
                            description: Enable DNS Proxy on Firewalls attached to
                              the Firewall Policy.
                          requireProxyForNetworkRules:
                            type: boolean
                            description: FQDNs in Network Rules are supported when
                              set to true.
                            nullable: true
                      explicitProxy:
                        description: Explicit Proxy Settings definition.
                        type: object
                        properties:
                          enableExplicitProxy:
                            type: boolean
                            description: When set to true, explicit proxy mode is
                              enabled.
                            nullable: true
                          httpPort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for explicit proxy http protocol,
                              cannot be greater than 64000.
                          httpsPort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for explicit proxy https protocol,
                              cannot be greater than 64000.
                          enablePacFile:
                            type: boolean
                            description: When set to true, pac file port and url needs
                              to be provided.
                            nullable: true
                          pacFilePort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for firewall to serve PAC file.
                          pacFile:
                            type: string
                            description: SAS URL for PAC file.
                      intrusionDetection:
                        description: The configuration for Intrusion detection.
                        type: object
                        properties:
                          mode:
                            description: Intrusion detection general state. When attached
                              to a parent policy, the firewall's effective IDPS mode
                              is the stricter mode of the two.
                            type: string
                            enum:
                            - 'Off'
                            - Alert
                            - Deny
                            x-ms-enum:
                              name: FirewallPolicyIntrusionDetectionStateType
                              modelAsString: true
                          profile:
                            description: IDPS profile name. When attached to a parent
                              policy, the firewall's effective profile is the profile
                              name of the parent policy.
                            type: string
                            enum:
                            - Basic
                            - Standard
                            - Advanced
                            - Extended
                            x-ms-enum:
                              name: FirewallPolicyIntrusionDetectionProfileType
                              modelAsString: true
                          configuration:
                            description: Intrusion detection configuration properties.
                            type: object
                            properties:
                              signatureOverrides:
                                type: array
                                description: List of specific signatures states.
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Signature id.
                                    mode:
                                      description: The signature state.
                                      type: string
                                      enum:
                                      - 'Off'
                                      - Alert
                                      - Deny
                                      x-ms-enum:
                                        name: FirewallPolicyIntrusionDetectionStateType
                                        modelAsString: true
                                  description: Intrusion detection signatures specification
                                    states.
                              bypassTrafficSettings:
                                type: array
                                description: List of rules for traffic to bypass.
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the bypass traffic rule.
                                    description:
                                      type: string
                                      description: Description of the bypass traffic
                                        rule.
                                    protocol:
                                      type: string
                                      description: The rule bypass protocol.
                                      enum:
                                      - TCP
                                      - UDP
                                      - ICMP
                                      - ANY
                                      x-ms-enum:
                                        name: FirewallPolicyIntrusionDetectionProtocol
                                        modelAsString: true
                                    sourceAddresses:
                                      type: array
                                      description: List of source IP addresses or
                                        ranges for this rule.
                                      items:
                                        type: string
                                    destinationAddresses:
                                      type: array
                                      description: List of destination IP addresses
                                        or ranges for this rule.
                                      items:
                                        type: string
                                    destinationPorts:
                                      type: array
                                      description: List of destination ports or ranges.
                                      items:
                                        type: string
                                    sourceIpGroups:
                                      type: array
                                      description: List of source IpGroups for this
                                        rule.
                                      items:
                                        type: string
                                    destinationIpGroups:
                                      type: array
                                      description: List of destination IpGroups for
                                        this rule.
                                      items:
                                        type: string
                                  description: Intrusion detection bypass traffic
                                    specification.
                                x-ms-identifiers: []
                              privateRanges:
                                type: array
                                description: IDPS Private IP address ranges are used
                                  to identify traffic direction (i.e. inbound, outbound,
                                  etc.). By default, only ranges defined by IANA RFC
                                  1918 are considered private IP addresses. To modify
                                  default ranges, specify your Private IP address
                                  ranges with this property
                                items:
                                  type: string
                                x-ms-identifiers: []
                      transportSecurity:
                        description: TLS Configuration definition.
                        type: object
                        properties:
                          certificateAuthority:
                            description: The CA used for intermediate CA generation.
                            type: object
                            properties:
                              keyVaultSecretId:
                                type: string
                                description: Secret Id of (base-64 encoded unencrypted
                                  pfx) 'Secret' or 'Certificate' object stored in
                                  KeyVault.
                              name:
                                type: string
                                description: Name of the CA certificate.
                      sku:
                        description: The Firewall Policy SKU.
                        type: object
                        properties:
                          tier:
                            type: string
                            description: Tier of Firewall Policy.
                            enum:
                            - Standard
                            - Premium
                            - Basic
                            x-ms-enum:
                              name: FirewallPolicySkuTier
                              modelAsString: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The identity of the firewall policy.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
                          created identity and a set of user assigned identities.
                          The type 'None' will remove any identities from the virtual
                          machine.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The list of user identities associated with
                          resource. The user identity dictionary key references will
                          be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - FirewallPolicies
      operationId: FirewallPolicies_CreateOrUpdate
      description: Creates or updates the specified Firewall Policy.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: firewallPolicyName
        in: path
        required: true
        description: The name of the Firewall Policy.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the firewall policy.
                  type: object
                  properties:
                    size:
                      type: string
                      readOnly: true
                      description: A read-only string that represents the size of
                        the FirewallPolicyPropertiesFormat in MB. (ex 0.5MB)
                    ruleCollectionGroups:
                      type: array
                      readOnly: true
                      description: List of references to FirewallPolicyRuleCollectionGroups.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the firewall policy resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    basePolicy:
                      readOnly: false
                      description: The parent firewall policy from which rules are
                        inherited.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    firewalls:
                      type: array
                      readOnly: true
                      description: List of references to Azure Firewalls that this
                        Firewall Policy is associated with.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    childPolicies:
                      type: array
                      readOnly: true
                      description: List of references to Child Firewall Policies.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    threatIntelMode:
                      description: The operation mode for Threat Intelligence.
                      type: string
                      enum:
                      - Alert
                      - Deny
                      - 'Off'
                      x-ms-enum:
                        name: AzureFirewallThreatIntelMode
                        modelAsString: true
                    threatIntelWhitelist:
                      description: ThreatIntel Whitelist for Firewall Policy.
                      type: object
                      properties:
                        ipAddresses:
                          type: array
                          description: List of IP addresses for the ThreatIntel Whitelist.
                          items:
                            type: string
                        fqdns:
                          type: array
                          description: List of FQDNs for the ThreatIntel Whitelist.
                          items:
                            type: string
                    insights:
                      description: Insights on Firewall Policy.
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          description: A flag to indicate if the insights are enabled
                            on the policy.
                        retentionDays:
                          type: integer
                          format: int32
                          description: Number of days the insights should be enabled
                            on the policy.
                        logAnalyticsResources:
                          description: Workspaces needed to configure the Firewall
                            Policy Insights.
                          type: object
                          properties:
                            workspaces:
                              type: array
                              description: List of workspaces for Firewall Policy
                                Insights.
                              items:
                                type: object
                                description: Log Analytics Workspace for Firewall
                                  Policy Insights.
                                properties:
                                  region:
                                    type: string
                                    description: Region to configure the Workspace.
                                  workspaceId:
                                    description: The workspace Id for Firewall Policy
                                      Insights.
                                    properties:
                                      id:
                                        type: string
                                        description: Resource ID.
                                    x-ms-azure-resource: true
                              x-ms-identifiers: []
                            defaultWorkspaceId:
                              description: The default workspace Id for Firewall Policy
                                Insights.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                    snat:
                      description: The private IP addresses/IP ranges to which traffic
                        will not be SNAT.
                      type: object
                      properties:
                        privateRanges:
                          type: array
                          description: List of private IP addresses/IP address ranges
                            to not be SNAT.
                          items:
                            type: string
                        autoLearnPrivateRanges:
                          type: string
                          description: The operation mode for automatically learning
                            private ranges to not be SNAT
                          enum:
                          - Enabled
                          - Disabled
                          x-ms-enum:
                            name: AutoLearnPrivateRangesMode
                            modelAsString: true
                    sql:
                      description: SQL Settings definition.
                      type: object
                      properties:
                        allowSqlRedirect:
                          type: boolean
                          description: A flag to indicate if SQL Redirect traffic
                            filtering is enabled. Turning on the flag requires no
                            rule using port 11000-11999.
                    dnsSettings:
                      description: DNS Proxy Settings definition.
                      type: object
                      properties:
                        servers:
                          type: array
                          description: List of Custom DNS Servers.
                          items:
                            type: string
                        enableProxy:
                          type: boolean
                          description: Enable DNS Proxy on Firewalls attached to the
                            Firewall Policy.
                        requireProxyForNetworkRules:
                          type: boolean
                          description: FQDNs in Network Rules are supported when set
                            to true.
                          nullable: true
                    explicitProxy:
                      description: Explicit Proxy Settings definition.
                      type: object
                      properties:
                        enableExplicitProxy:
                          type: boolean
                          description: When set to true, explicit proxy mode is enabled.
                          nullable: true
                        httpPort:
                          type: integer
                          format: int32
                          maximum: 64000
                          exclusiveMaximum: false
                          minimum: 0
                          exclusiveMinimum: false
                          description: Port number for explicit proxy http protocol,
                            cannot be greater than 64000.
                        httpsPort:
                          type: integer
                          format: int32
                          maximum: 64000
                          exclusiveMaximum: false
                          minimum: 0
                          exclusiveMinimum: false
                          description: Port number for explicit proxy https protocol,
                            cannot be greater than 64000.
                        enablePacFile:
                          type: boolean
                          description: When set to true, pac file port and url needs
                            to be provided.
                          nullable: true
                        pacFilePort:
                          type: integer
                          format: int32
                          maximum: 64000
                          exclusiveMaximum: false
                          minimum: 0
                          exclusiveMinimum: false
                          description: Port number for firewall to serve PAC file.
                        pacFile:
                          type: string
                          description: SAS URL for PAC file.
                    intrusionDetection:
                      description: The configuration for Intrusion detection.
                      type: object
                      properties:
                        mode:
                          description: Intrusion detection general state. When attached
                            to a parent policy, the firewall's effective IDPS mode
                            is the stricter mode of the two.
                          type: string
                          enum:
                          - 'Off'
                          - Alert
                          - Deny
                          x-ms-enum:
                            name: FirewallPolicyIntrusionDetectionStateType
                            modelAsString: true
                        profile:
                          description: IDPS profile name. When attached to a parent
                            policy, the firewall's effective profile is the profile
                            name of the parent policy.
                          type: string
                          enum:
                          - Basic
                          - Standard
                          - Advanced
                          - Extended
                          x-ms-enum:
                            name: FirewallPolicyIntrusionDetectionProfileType
                            modelAsString: true
                        configuration:
                          description: Intrusion detection configuration properties.
                          type: object
                          properties:
                            signatureOverrides:
                              type: array
                              description: List of specific signatures states.
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Signature id.
                                  mode:
                                    description: The signature state.
                                    type: string
                                    enum:
                                    - 'Off'
                                    - Alert
                                    - Deny
                                    x-ms-enum:
                                      name: FirewallPolicyIntrusionDetectionStateType
                                      modelAsString: true
                                description: Intrusion detection signatures specification
                                  states.
                            bypassTrafficSettings:
                              type: array
                              description: List of rules for traffic to bypass.
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    description: Name of the bypass traffic rule.
                                  description:
                                    type: string
                                    description: Description of the bypass traffic
                                      rule.
                                  protocol:
                                    type: string
                                    description: The rule bypass protocol.
                                    enum:
                                    - TCP
                                    - UDP
                                    - ICMP
                                    - ANY
                                    x-ms-enum:
                                      name: FirewallPolicyIntrusionDetectionProtocol
                                      modelAsString: true
                                  sourceAddresses:
                                    type: array
                                    description: List of source IP addresses or ranges
                                      for this rule.
                                    items:
                                      type: string
                                  destinationAddresses:
                                    type: array
                                    description: List of destination IP addresses
                                      or ranges for this rule.
                                    items:
                                      type: string
                                  destinationPorts:
                                    type: array
                                    description: List of destination ports or ranges.
                                    items:
                                      type: string
                                  sourceIpGroups:
                                    type: array
                                    description: List of source IpGroups for this
                                      rule.
                                    items:
                                      type: string
                                  destinationIpGroups:
                                    type: array
                                    description: List of destination IpGroups for
                                      this rule.
                                    items:
                                      type: string
                                description: Intrusion detection bypass traffic specification.
                              x-ms-identifiers: []
                            privateRanges:
                              type: array
                              description: IDPS Private IP address ranges are used
                                to identify traffic direction (i.e. inbound, outbound,
                                etc.). By default, only ranges defined by IANA RFC
                                1918 are considered private IP addresses. To modify
                                default ranges, specify your Private IP address ranges
                                with this property
                              items:
                                type: string
                              x-ms-identifiers: []
                    transportSecurity:
                      description: TLS Configuration definition.
                      type: object
                      properties:
                        certificateAuthority:
                          description: The CA used for intermediate CA generation.
                          type: object
                          properties:
                            keyVaultSecretId:
                              type: string
                              description: Secret Id of (base-64 encoded unencrypted
                                pfx) 'Secret' or 'Certificate' object stored in KeyVault.
                            name:
                              type: string
                              description: Name of the CA certificate.
                    sku:
                      description: The Firewall Policy SKU.
                      type: object
                      properties:
                        tier:
                          type: string
                          description: Tier of Firewall Policy.
                          enum:
                          - Standard
                          - Premium
                          - Basic
                          x-ms-enum:
                            name: FirewallPolicySkuTier
                            modelAsString: true
                etag:
                  type: string
                  readOnly: true
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                identity:
                  description: The identity of the firewall policy.
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal id of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                    type:
                      type: string
                      description: The type of identity used for the resource. The
                        type 'SystemAssigned, UserAssigned' includes both an implicitly
                        created identity and a set of user assigned identities. The
                        type 'None' will remove any identities from the virtual machine.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client id of user assigned identity.
                      description: 'The list of user identities associated with resource.
                        The user identity dictionary key references will be ARM resource
                        ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update Firewall Policy operation.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the resulting FirewallPolicy
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the firewall policy.
                    type: object
                    properties:
                      size:
                        type: string
                        readOnly: true
                        description: A read-only string that represents the size of
                          the FirewallPolicyPropertiesFormat in MB. (ex 0.5MB)
                      ruleCollectionGroups:
                        type: array
                        readOnly: true
                        description: List of references to FirewallPolicyRuleCollectionGroups.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the firewall policy
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      basePolicy:
                        readOnly: false
                        description: The parent firewall policy from which rules are
                          inherited.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      firewalls:
                        type: array
                        readOnly: true
                        description: List of references to Azure Firewalls that this
                          Firewall Policy is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      childPolicies:
                        type: array
                        readOnly: true
                        description: List of references to Child Firewall Policies.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      threatIntelMode:
                        description: The operation mode for Threat Intelligence.
                        type: string
                        enum:
                        - Alert
                        - Deny
                        - 'Off'
                        x-ms-enum:
                          name: AzureFirewallThreatIntelMode
                          modelAsString: true
                      threatIntelWhitelist:
                        description: ThreatIntel Whitelist for Firewall Policy.
                        type: object
                        properties:
                          ipAddresses:
                            type: array
                            description: List of IP addresses for the ThreatIntel
                              Whitelist.
                            items:
                              type: string
                          fqdns:
                            type: array
                            description: List of FQDNs for the ThreatIntel Whitelist.
                            items:
                              type: string
                      insights:
                        description: Insights on Firewall Policy.
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            description: A flag to indicate if the insights are enabled
                              on the policy.
                          retentionDays:
                            type: integer
                            format: int32
                            description: Number of days the insights should be enabled
                              on the policy.
                          logAnalyticsResources:
                            description: Workspaces needed to configure the Firewall
                              Policy Insights.
                            type: object
                            properties:
                              workspaces:
                                type: array
                                description: List of workspaces for Firewall Policy
                                  Insights.
                                items:
                                  type: object
                                  description: Log Analytics Workspace for Firewall
                                    Policy Insights.
                                  properties:
                                    region:
                                      type: string
                                      description: Region to configure the Workspace.
                                    workspaceId:
                                      description: The workspace Id for Firewall Policy
                                        Insights.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource ID.
                                      x-ms-azure-resource: true
                                x-ms-identifiers: []
                              defaultWorkspaceId:
                                description: The default workspace Id for Firewall
                                  Policy Insights.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                      snat:
                        description: The private IP addresses/IP ranges to which traffic
                          will not be SNAT.
                        type: object
                        properties:
                          privateRanges:
                            type: array
                            description: List of private IP addresses/IP address ranges
                              to not be SNAT.
                            items:
                              type: string
                          autoLearnPrivateRanges:
                            type: string
                            description: The operation mode for automatically learning
                              private ranges to not be SNAT
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: AutoLearnPrivateRangesMode
                              modelAsString: true
                      sql:
                        description: SQL Settings definition.
                        type: object
                        properties:
                          allowSqlRedirect:
                            type: boolean
                            description: A flag to indicate if SQL Redirect traffic
                              filtering is enabled. Turning on the flag requires no
                              rule using port 11000-11999.
                      dnsSettings:
                        description: DNS Proxy Settings definition.
                        type: object
                        properties:
                          servers:
                            type: array
                            description: List of Custom DNS Servers.
                            items:
                              type: string
                          enableProxy:
                            type: boolean
                            description: Enable DNS Proxy on Firewalls attached to
                              the Firewall Policy.
                          requireProxyForNetworkRules:
                            type: boolean
                            description: FQDNs in Network Rules are supported when
                              set to true.
                            nullable: true
                      explicitProxy:
                        description: Explicit Proxy Settings definition.
                        type: object
                        properties:
                          enableExplicitProxy:
                            type: boolean
                            description: When set to true, explicit proxy mode is
                              enabled.
                            nullable: true
                          httpPort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for explicit proxy http protocol,
                              cannot be greater than 64000.
                          httpsPort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for explicit proxy https protocol,
                              cannot be greater than 64000.
                          enablePacFile:
                            type: boolean
                            description: When set to true, pac file port and url needs
                              to be provided.
                            nullable: true
                          pacFilePort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for firewall to serve PAC file.
                          pacFile:
                            type: string
                            description: SAS URL for PAC file.
                      intrusionDetection:
                        description: The configuration for Intrusion detection.
                        type: object
                        properties:
                          mode:
                            description: Intrusion detection general state. When attached
                              to a parent policy, the firewall's effective IDPS mode
                              is the stricter mode of the two.
                            type: string
                            enum:
                            - 'Off'
                            - Alert
                            - Deny
                            x-ms-enum:
                              name: FirewallPolicyIntrusionDetectionStateType
                              modelAsString: true
                          profile:
                            description: IDPS profile name. When attached to a parent
                              policy, the firewall's effective profile is the profile
                              name of the parent policy.
                            type: string
                            enum:
                            - Basic
                            - Standard
                            - Advanced
                            - Extended
                            x-ms-enum:
                              name: FirewallPolicyIntrusionDetectionProfileType
                              modelAsString: true
                          configuration:
                            description: Intrusion detection configuration properties.
                            type: object
                            properties:
                              signatureOverrides:
                                type: array
                                description: List of specific signatures states.
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Signature id.
                                    mode:
                                      description: The signature state.
                                      type: string
                                      enum:
                                      - 'Off'
                                      - Alert
                                      - Deny
                                      x-ms-enum:
                                        name: FirewallPolicyIntrusionDetectionStateType
                                        modelAsString: true
                                  description: Intrusion detection signatures specification
                                    states.
                              bypassTrafficSettings:
                                type: array
                                description: List of rules for traffic to bypass.
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the bypass traffic rule.
                                    description:
                                      type: string
                                      description: Description of the bypass traffic
                                        rule.
                                    protocol:
                                      type: string
                                      description: The rule bypass protocol.
                                      enum:
                                      - TCP
                                      - UDP
                                      - ICMP
                                      - ANY
                                      x-ms-enum:
                                        name: FirewallPolicyIntrusionDetectionProtocol
                                        modelAsString: true
                                    sourceAddresses:
                                      type: array
                                      description: List of source IP addresses or
                                        ranges for this rule.
                                      items:
                                        type: string
                                    destinationAddresses:
                                      type: array
                                      description: List of destination IP addresses
                                        or ranges for this rule.
                                      items:
                                        type: string
                                    destinationPorts:
                                      type: array
                                      description: List of destination ports or ranges.
                                      items:
                                        type: string
                                    sourceIpGroups:
                                      type: array
                                      description: List of source IpGroups for this
                                        rule.
                                      items:
                                        type: string
                                    destinationIpGroups:
                                      type: array
                                      description: List of destination IpGroups for
                                        this rule.
                                      items:
                                        type: string
                                  description: Intrusion detection bypass traffic
                                    specification.
                                x-ms-identifiers: []
                              privateRanges:
                                type: array
                                description: IDPS Private IP address ranges are used
                                  to identify traffic direction (i.e. inbound, outbound,
                                  etc.). By default, only ranges defined by IANA RFC
                                  1918 are considered private IP addresses. To modify
                                  default ranges, specify your Private IP address
                                  ranges with this property
                                items:
                                  type: string
                                x-ms-identifiers: []
                      transportSecurity:
                        description: TLS Configuration definition.
                        type: object
                        properties:
                          certificateAuthority:
                            description: The CA used for intermediate CA generation.
                            type: object
                            properties:
                              keyVaultSecretId:
                                type: string
                                description: Secret Id of (base-64 encoded unencrypted
                                  pfx) 'Secret' or 'Certificate' object stored in
                                  KeyVault.
                              name:
                                type: string
                                description: Name of the CA certificate.
                      sku:
                        description: The Firewall Policy SKU.
                        type: object
                        properties:
                          tier:
                            type: string
                            description: Tier of Firewall Policy.
                            enum:
                            - Standard
                            - Premium
                            - Basic
                            x-ms-enum:
                              name: FirewallPolicySkuTier
                              modelAsString: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
                    description: The identity of the firewall policy.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
                          created identity and a set of user assigned identities.
                          The type 'None' will remove any identities from the virtual
                          machine.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The list of user identities associated with
                          resource. The user identity dictionary key references will
                          be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Request received successfully. The operation returns the resulting
            FirewallPolicy resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the firewall policy.
                    type: object
                    properties:
                      size:
                        type: string
                        readOnly: true
                        description: A read-only string that represents the size of
                          the FirewallPolicyPropertiesFormat in MB. (ex 0.5MB)
                      ruleCollectionGroups:
                        type: array
                        readOnly: true
                        description: List of references to FirewallPolicyRuleCollectionGroups.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the firewall policy
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      basePolicy:
                        readOnly: false
                        description: The parent firewall policy from which rules are
                          inherited.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      firewalls:
                        type: array
                        readOnly: true
                        description: List of references to Azure Firewalls that this
                          Firewall Policy is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      childPolicies:
                        type: array
                        readOnly: true
                        description: List of references to Child Firewall Policies.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      threatIntelMode:
                        description: The operation mode for Threat Intelligence.
                        type: string
                        enum:
                        - Alert
                        - Deny
                        - 'Off'
                        x-ms-enum:
                          name: AzureFirewallThreatIntelMode
                          modelAsString: true
                      threatIntelWhitelist:
                        description: ThreatIntel Whitelist for Firewall Policy.
                        type: object
                        properties:
                          ipAddresses:
                            type: array
                            description: List of IP addresses for the ThreatIntel
                              Whitelist.
                            items:
                              type: string
                          fqdns:
                            type: array
                            description: List of FQDNs for the ThreatIntel Whitelist.
                            items:
                              type: string
                      insights:
                        description: Insights on Firewall Policy.
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            description: A flag to indicate if the insights are enabled
                              on the policy.
                          retentionDays:
                            type: integer
                            format: int32
                            description: Number of days the insights should be enabled
                              on the policy.
                          logAnalyticsResources:
                            description: Workspaces needed to configure the Firewall
                              Policy Insights.
                            type: object
                            properties:
                              workspaces:
                                type: array
                                description: List of workspaces for Firewall Policy
                                  Insights.
                                items:
                                  type: object
                                  description: Log Analytics Workspace for Firewall
                                    Policy Insights.
                                  properties:
                                    region:
                                      type: string
                                      description: Region to configure the Workspace.
                                    workspaceId:
                                      description: The workspace Id for Firewall Policy
                                        Insights.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource ID.
                                      x-ms-azure-resource: true
                                x-ms-identifiers: []
                              defaultWorkspaceId:
                                description: The default workspace Id for Firewall
                                  Policy Insights.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                      snat:
                        description: The private IP addresses/IP ranges to which traffic
                          will not be SNAT.
                        type: object
                        properties:
                          privateRanges:
                            type: array
                            description: List of private IP addresses/IP address ranges
                              to not be SNAT.
                            items:
                              type: string
                          autoLearnPrivateRanges:
                            type: string
                            description: The operation mode for automatically learning
                              private ranges to not be SNAT
                            enum:
                            - Enabled
                            - Disabled
                            x-ms-enum:
                              name: AutoLearnPrivateRangesMode
                              modelAsString: true
                      sql:
                        description: SQL Settings definition.
                        type: object
                        properties:
                          allowSqlRedirect:
                            type: boolean
                            description: A flag to indicate if SQL Redirect traffic
                              filtering is enabled. Turning on the flag requires no
                              rule using port 11000-11999.
                      dnsSettings:
                        description: DNS Proxy Settings definition.
                        type: object
                        properties:
                          servers:
                            type: array
                            description: List of Custom DNS Servers.
                            items:
                              type: string
                          enableProxy:
                            type: boolean
                            description: Enable DNS Proxy on Firewalls attached to
                              the Firewall Policy.
                          requireProxyForNetworkRules:
                            type: boolean
                            description: FQDNs in Network Rules are supported when
                              set to true.
                            nullable: true
                      explicitProxy:
                        description: Explicit Proxy Settings definition.
                        type: object
                        properties:
                          enableExplicitProxy:
                            type: boolean
                            description: When set to true, explicit proxy mode is
                              enabled.
                            nullable: true
                          httpPort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for explicit proxy http protocol,
                              cannot be greater than 64000.
                          httpsPort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for explicit proxy https protocol,
                              cannot be greater than 64000.
                          enablePacFile:
                            type: boolean
                            description: When set to true, pac file port and url needs
                              to be provided.
                            nullable: true
                          pacFilePort:
                            type: integer
                            format: int32
                            maximum: 64000
                            exclusiveMaximum: false
                            minimum: 0
                            exclusiveMinimum: false
                            description: Port number for firewall to serve PAC file.
                          pacFile:
                            type: string
                            description: SAS URL for PAC file.
                      intrusionDetection:
                        description: The configuration for Intrusion detection.
                        type: object
                        properties:
                          mode:
                            description: Intrusion detection general state. When attached
                              to a parent policy, the firewall's effective IDPS mode
                              is the stricter mode of the two.
                            type: string
                            enum:
                            - 'Off'
                            - Alert
                            - Deny
                            x-ms-enum:
                              name: FirewallPolicyIntrusionDetectionStateType
                              modelAsString: true
                          profile:
                            description: IDPS profile name. When attached to a parent
                              policy, the firewall's effective profile is the profile
                              name of the parent policy.
                            type: string
                            enum:
                            - Basic
                            - Standard
                            - Advanced
                            - Extended
                            x-ms-enum:
                              name: FirewallPolicyIntrusionDetectionProfileType
                              modelAsString: true
                          configuration:
                            description: Intrusion detection configuration properties.
                            type: object
                            properties:
                              signatureOverrides:
                                type: array
                                description: List of specific signatures states.
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: Signature id.
                                    mode:
                                      description: The signature state.
                                      type: string
                                      enum:
                                      - 'Off'
                                      - Alert
                                      - Deny
                                      x-ms-enum:
                                        name: FirewallPolicyIntrusionDetectionStateType
                                        modelAsString: true
                                  description: Intrusion detection signatures specification
                                    states.
                              bypassTrafficSettings:
                                type: array
                                description: List of rules for traffic to bypass.
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the bypass traffic rule.
                                    description:
                                      type: string
                                      description: Description of the bypass traffic
                                        rule.
                                    protocol:
                                      type: string
                                      description: The rule bypass protocol.
                                      enum:
                                      - TCP
                                      - UDP
                                      - ICMP
                                      - ANY
                                      x-ms-enum:
                                        name: FirewallPolicyIntrusionDetectionProtocol
                                        modelAsString: true
                                    sourceAddresses:
                                      type: array
                                      description: List of source IP addresses or
                                        ranges for this rule.
                                      items:
                                        type: string
                                    destinationAddresses:
                                      type: array
                                      description: List of destination IP addresses
                                        or ranges for this rule.
                                      items:
                                        type: string
                                    destinationPorts:
                                      type: array
                                      description: List of destination ports or ranges.
                                      items:
                                        type: string
                                    sourceIpGroups:
                                      type: array
                                      description: List of source IpGroups for this
                                        rule.
                                      items:
                                        type: string
                                    destinationIpGroups:
                                      type: array
                                      description: List of destination IpGroups for
                                        this rule.
                                      items:
                                        type: string
                                  description: Intrusion detection bypass traffic
                                    specification.
                                x-ms-identifiers: []
                              privateRanges:
                                type: array
                                description: IDPS Private IP address ranges are used
                                  to identify traffic direction (i.e. inbound, outbound,
                                  etc.). By default, only ranges defined by IANA RFC
                                  1918 are considered private IP addresses. To modify
                                  default ranges, specify your Private IP address
                                  ranges with this property
                                items:
                                  type: string
                                x-ms-identifiers: []
                      transportSecurity:
                        description: TLS Configuration definition.
                        type: object
                        properties:
                          certificateAuthority:
                            description: The CA used for intermediate CA generation.
                            type: object
                            properties:
                              keyVaultSecretId:
                                type: string
                                description: Secret Id of (base-64 encoded unencrypted
                                  pfx) 'Secret' or 'Certificate' object stored in
                                  KeyVault.
                              name:
                                type: string
                                description: Name of the CA certificate.
                      sku:
                        description: The Firewall Policy SKU.
                        type: object
                        properties:
                          tier:
                            type: string
                            description: Tier of Firewall Policy.
                            enum:
                            - Standard
                            - Premium
                            - Basic
                            x-ms-enum:
                              name: FirewallPolicySkuTier
                              modelAsString: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  identity:
[...]
