openapi: 3.0.0
info:
  title: IPAddressManagerClient - Public Preview
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools
  : get:
      tags:
      - IpamPools
      summary: Gets list of Pool resources at Network Manager level.
      operationId: IpamPools_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: query
        name: skipToken
        description: Optional skip token.
        schema:
          type: string
      - in: query
        name: skip
        description: Optional num entries to skip.
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: top
        description: Optional num entries to show.
        schema:
          type: integer
          format: int32
          default: 50
      - in: query
        name: sortKey
        description: Optional key by which to sort.
        schema:
          type: string
      - in: query
        name: sortValue
        description: Optional sort value for pagination.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: List of IpamPools
          content:
            application/json:
              schema:
                description: List of IpamPool
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        systemData:
                          readOnly: true
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: Properties of IpamPool resource properties
                            which are specific to the Pool resource.
                          required:
                          - addressPrefixes
                          type: object
                          properties:
                            description:
                              type: string
                            displayName:
                              description: String representing a friendly name for
                                the resource.
                              type: string
                            ipAddressType:
                              description: List of IP address type for the IpamPool.
                              type: array
                              items:
                                description: Enumeration to indicate the IP type.
                                enum:
                                - IPv4
                                - IPv6
                                type: string
                                x-ms-enum:
                                  modelAsString: true
                                  name: IpType
                              readOnly: true
                              x-ms-identifiers: []
                            parentPoolName:
                              description: String representing parent IpamPool resource
                                name. If empty the IpamPool will be a root pool.
                              type: string
                            addressPrefixes:
                              description: List of IP address prefixes of the resource.
                              type: array
                              items:
                                type: string
                            provisioningState:
                              description: Provisioning states of a resource.
                              enum:
                              - Failed
                              - Succeeded
                              - Canceled
                              - Creating
                              - Updating
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                        etag:
                          description: String representing unique etag for the resource
                            document.
                          type: string
                          readOnly: true
                      required:
                      - location
                      - properties
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}
  : put:
      tags:
      - IpamPools
      summary: Creates/Updates the Pool resource.
      operationId: IpamPools_Create
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: poolName
        description: IP Address Manager Pool resource name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        description: The entity state (ETag) version of the pool to update. This value
          can be omitted or set to "*" to apply the operation unconditionally.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                systemData:
                  readOnly: true
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: Properties of IpamPool resource properties which are
                    specific to the Pool resource.
                  required:
                  - addressPrefixes
                  type: object
                  properties:
                    description:
                      type: string
                    displayName:
                      description: String representing a friendly name for the resource.
                      type: string
                    ipAddressType:
                      description: List of IP address type for the IpamPool.
                      type: array
                      items:
                        description: Enumeration to indicate the IP type.
                        enum:
                        - IPv4
                        - IPv6
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IpType
                      readOnly: true
                      x-ms-identifiers: []
                    parentPoolName:
                      description: String representing parent IpamPool resource name.
                        If empty the IpamPool will be a root pool.
                      type: string
                    addressPrefixes:
                      description: List of IP address prefixes of the resource.
                      type: array
                      items:
                        type: string
                    provisioningState:
                      description: Provisioning states of a resource.
                      enum:
                      - Failed
                      - Succeeded
                      - Canceled
                      - Creating
                      - Updating
                      - Deleting
                      type: string
                      readOnly: true
                      x-ms-enum:
                        modelAsString: true
                        name: ProvisioningState
                etag:
                  description: String representing unique etag for the resource document.
                  type: string
                  readOnly: true
              required:
              - location
              - properties
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Pool resource object to create/update.
        required: true
      responses:
        '200':
          description: Pool was updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    readOnly: true
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Properties of IpamPool resource properties which
                      are specific to the Pool resource.
                    required:
                    - addressPrefixes
                    type: object
                    properties:
                      description:
                        type: string
                      displayName:
                        description: String representing a friendly name for the resource.
                        type: string
                      ipAddressType:
                        description: List of IP address type for the IpamPool.
                        type: array
                        items:
                          description: Enumeration to indicate the IP type.
                          enum:
                          - IPv4
                          - IPv6
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: IpType
                        readOnly: true
                        x-ms-identifiers: []
                      parentPoolName:
                        description: String representing parent IpamPool resource
                          name. If empty the IpamPool will be a root pool.
                        type: string
                      addressPrefixes:
                        description: List of IP address prefixes of the resource.
                        type: array
                        items:
                          type: string
                      provisioningState:
                        description: Provisioning states of a resource.
                        enum:
                        - Failed
                        - Succeeded
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                  etag:
                    description: String representing unique etag for the resource
                      document.
                    type: string
                    readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Pool was created
          headers:
            Azure-AsyncOperation:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    readOnly: true
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Properties of IpamPool resource properties which
                      are specific to the Pool resource.
                    required:
                    - addressPrefixes
                    type: object
                    properties:
                      description:
                        type: string
                      displayName:
                        description: String representing a friendly name for the resource.
                        type: string
                      ipAddressType:
                        description: List of IP address type for the IpamPool.
                        type: array
                        items:
                          description: Enumeration to indicate the IP type.
                          enum:
                          - IPv4
                          - IPv6
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: IpType
                        readOnly: true
                        x-ms-identifiers: []
                      parentPoolName:
                        description: String representing parent IpamPool resource
                          name. If empty the IpamPool will be a root pool.
                        type: string
                      addressPrefixes:
                        description: List of IP address prefixes of the resource.
                        type: array
                        items:
                          type: string
                      provisioningState:
                        description: Provisioning states of a resource.
                        enum:
                        - Failed
                        - Succeeded
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                  etag:
                    description: String representing unique etag for the resource
                      document.
                    type: string
                    readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - IpamPools
      summary: Updates the specific Pool resource.
      operationId: IpamPools_Update
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: poolName
        description: IP Address Manager Pool resource name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        description: The entity state (ETag) version of the pool to update. This value
          can be omitted or set to "*" to apply the operation unconditionally.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Represents the IpamPool update API request interface.
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                properties:
                  description: Represents the IpamPool update properties.
                  type: object
                  properties:
                    description:
                      type: string
                    displayName:
                      description: String representing a friendly name for the resource.
                      type: string
        description: Pool resource object to update partially.
      responses:
        '200':
          description: Pool was updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    readOnly: true
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Properties of IpamPool resource properties which
                      are specific to the Pool resource.
                    required:
                    - addressPrefixes
                    type: object
                    properties:
                      description:
                        type: string
                      displayName:
                        description: String representing a friendly name for the resource.
                        type: string
                      ipAddressType:
                        description: List of IP address type for the IpamPool.
                        type: array
                        items:
                          description: Enumeration to indicate the IP type.
                          enum:
                          - IPv4
                          - IPv6
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: IpType
                        readOnly: true
                        x-ms-identifiers: []
                      parentPoolName:
                        description: String representing parent IpamPool resource
                          name. If empty the IpamPool will be a root pool.
                        type: string
                      addressPrefixes:
                        description: List of IP address prefixes of the resource.
                        type: array
                        items:
                          type: string
                      provisioningState:
                        description: Provisioning states of a resource.
                        enum:
                        - Failed
                        - Succeeded
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                  etag:
                    description: String representing unique etag for the resource
                      document.
                    type: string
                    readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    get:
      tags:
      - IpamPools
      summary: Gets the specific Pool resource.
      operationId: IpamPools_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: poolName
        description: Pool resource name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: IpamPool
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    readOnly: true
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Properties of IpamPool resource properties which
                      are specific to the Pool resource.
                    required:
                    - addressPrefixes
                    type: object
                    properties:
                      description:
                        type: string
                      displayName:
                        description: String representing a friendly name for the resource.
                        type: string
                      ipAddressType:
                        description: List of IP address type for the IpamPool.
                        type: array
                        items:
                          description: Enumeration to indicate the IP type.
                          enum:
                          - IPv4
                          - IPv6
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: IpType
                        readOnly: true
                        x-ms-identifiers: []
                      parentPoolName:
                        description: String representing parent IpamPool resource
                          name. If empty the IpamPool will be a root pool.
                        type: string
                      addressPrefixes:
                        description: List of IP address prefixes of the resource.
                        type: array
                        items:
                          type: string
                      provisioningState:
                        description: Provisioning states of a resource.
                        enum:
                        - Failed
                        - Succeeded
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        type: string
                        readOnly: true
                        x-ms-enum:
                          modelAsString: true
                          name: ProvisioningState
                  etag:
                    description: String representing unique etag for the resource
                      document.
                    type: string
                    readOnly: true
                required:
                - location
                - properties
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - IpamPools
      summary: Delete the Pool resource.
      operationId: IpamPools_Delete
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: poolName
        description: Pool resource name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        description: The entity state (ETag) version of the pool to update. This value
          can be omitted or set to "*" to apply the operation unconditionally.
        schema:
          type: string
      responses:
        '202':
          description: Pool delete request accepted and will complete asynchronously
          headers:
            Location:
              schema:
                type: string
        '204':
          description: Pool delete request succeeded
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/getPoolUsage
  : post:
      tags:
      - IpamPools
      summary: Get the Pool Usage.
      operationId: IpamPools_GetPoolUsage
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: poolName
        description: Pool resource name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: Show the summary of usage info of ipamPool
          content:
            application/json:
              schema:
                description: IpamPool usage information.
                type: object
                properties:
                  addressPrefixes:
                    description: List of IP address prefixes of the resource.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  childPools:
                    description: List of IpamPool that are children of this IpamPool.
                    type: array
                    items:
                      description: Representation of basic resource information.
                      type: object
                      properties:
                        resourceId:
                          format: arm-id
                          description: ResourceId of the Azure resource.
                          type: string
                        addressPrefixes:
                          description: List of IP address prefixes of the resource.
                          type: array
                          items:
                            type: string
                    readOnly: true
                    x-ms-identifiers:
                    - resourceId
                  allocatedAddressPrefixes:
                    description: List of assigned IP address prefixes.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  reservedAddressPrefixes:
                    description: List of reserved IP address prefixes. These IP addresses
                      could be reclaimed if not assigned in the given time.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  availableAddressPrefixes:
                    description: List of available IP address prefixes.
                    type: array
                    items:
                      type: string
                    readOnly: true
                  totalNumberOfIPAddresses:
                    description: Total number of IP addresses managed in the IpamPool.
                    type: string
                    readOnly: true
                  numberOfAllocatedIPAddresses:
                    description: Total number of assigned IP addresses in the IpamPool.
                    type: string
                    readOnly: true
                  numberOfReservedIPAddresses:
                    description: Total number of reserved IP addresses in the IpamPool.
                    type: string
                    readOnly: true
                  numberOfAvailableIPAddresses:
                    description: Total number of available IP addresses in the IpamPool.
                    type: string
                    readOnly: true
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/listAssociatedResources
  : post:
      tags:
      - IpamPools
      summary: List Associated Resource in the Pool.
      operationId: IpamPools_ListAssociatedResources
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: poolName
        description: Pool resource name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: List of PoolAssociation
          content:
            application/json:
              schema:
                description: List of PoolAssociation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      description: IpamPool association information.
                      required:
                      - resourceId
                      type: object
                      properties:
                        resourceId:
                          format: arm-id
                          description: Resource id of the associated Azure resource.
                          type: string
                        poolId:
                          format: arm-id
                          description: IpamPool id for which the resource is associated
                            to.
                          type: string
                        description:
                          type: string
                        addressPrefixes:
                          description: List of assigned IP address prefixes in the
                            IpamPool of the associated resource.
                          type: array
                          items:
                            type: string
                          readOnly: true
                        reservedPrefixes:
                          description: List of reserved IP address prefixes in the
                            IpamPool of the associated resource.
                          type: array
                          items:
                            type: string
                          readOnly: true
                        totalNumberOfIPAddresses:
                          description: Total number of assigned IP addresses of the
                            association.
                          type: string
                          readOnly: true
                        numberOfReservedIPAddresses:
                          description: Total number of reserved IP addresses of the
                            association.
                          type: string
                          readOnly: true
                        createdAt:
                          format: date-time
                          description: Creation time of the association.
                          type: string
                          readOnly: true
                        reservationExpiresAt:
                          format: date-time
                          description: Expire time for IP addresses reserved.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/staticCidrs
  : get:
      tags:
      - StaticCidrs
      summary: Gets list of Static CIDR resources at Network Manager level.
      operationId: StaticCidrs_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: poolName
        description: Pool resource name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: query
        name: skipToken
        description: Optional skip token.
        schema:
          type: string
      - in: query
        name: skip
        description: Optional num entries to skip.
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: top
        description: Optional num entries to show.
        schema:
          type: integer
          format: int32
          default: 50
      - in: query
        name: sortKey
        description: Optional key by which to sort.
        schema:
          type: string
      - in: query
        name: sortValue
        description: Optional sort value for pagination.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: List of StaticCidrs
          content:
            application/json:
              schema:
                description: List of StaticCidr
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        systemData:
                          readOnly: true
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                        properties:
                          description: Properties of static CIDR resource.
                          type: object
                          properties:
                            description:
                              type: string
                            numberOfIPAddressesToAllocate:
                              description: Number of IP addresses to allocate for
                                a static CIDR resource. The IP addresses will be assigned
                                based on IpamPools available space.
                              type: string
                            addressPrefixes:
                              description: List of IP address prefixes of the resource.
                              type: array
                              items:
                                type: string
                            totalNumberOfIPAddresses:
                              description: Total number of IP addresses allocated
                                for the static CIDR resource.
                              type: string
                              readOnly: true
                            provisioningState:
                              description: Provisioning states of a resource.
                              enum:
                              - Failed
                              - Succeeded
                              - Canceled
                              - Creating
                              - Updating
                              - Deleting
                              type: string
                              readOnly: true
                              x-ms-enum:
                                modelAsString: true
                                name: ProvisioningState
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
        default:
          description: Default error response.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
[...]
