openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/IpAllocations/{ipAllocationName}
  : delete:
      tags:
      - IpAllocations
      operationId: IpAllocations_Delete
      description: Deletes the specified IpAllocation.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: ipAllocationName
        in: path
        required: true
        description: The name of the IpAllocation.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: Delete successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - IpAllocations
      operationId: IpAllocations_Get
      description: Gets the specified IpAllocation by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: ipAllocationName
        in: path
        required: true
        description: The name of the IpAllocation.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting IpAllocation
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the IpAllocation.
                    properties:
                      subnet:
                        readOnly: true
                        description: The Subnet that using the prefix of this IpAllocation
                          resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      virtualNetwork:
                        readOnly: true
                        description: The VirtualNetwork that using the prefix of this
                          IpAllocation resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      type:
                        description: The type for the IpAllocation.
                        type: string
                        enum:
                        - Undefined
                        - Hypernet
                        x-ms-enum:
                          name: IpAllocationType
                          modelAsString: true
                      prefix:
                        type: string
                        description: The address prefix for the IpAllocation.
                      prefixLength:
                        type: integer
                        default: 0
                        description: The address prefix length for the IpAllocation.
                        nullable: true
                      prefixType:
                        default: null
                        description: The address prefix Type for the IpAllocation.
                        type: string
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          name: IPVersion
                          modelAsString: true
                      ipamAllocationId:
                        type: string
                        description: The IPAM allocation ID.
                      allocationTags:
                        type: object
                        additionalProperties:
                          type: string
                        description: IpAllocation tags.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - IpAllocations
      operationId: IpAllocations_CreateOrUpdate
      description: Creates or updates an IpAllocation in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: ipAllocationName
        in: path
        required: true
        description: The name of the IpAllocation.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the IpAllocation.
                  properties:
                    subnet:
                      readOnly: true
                      description: The Subnet that using the prefix of this IpAllocation
                        resource.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    virtualNetwork:
                      readOnly: true
                      description: The VirtualNetwork that using the prefix of this
                        IpAllocation resource.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    type:
                      description: The type for the IpAllocation.
                      type: string
                      enum:
                      - Undefined
                      - Hypernet
                      x-ms-enum:
                        name: IpAllocationType
                        modelAsString: true
                    prefix:
                      type: string
                      description: The address prefix for the IpAllocation.
                    prefixLength:
                      type: integer
                      default: 0
                      description: The address prefix length for the IpAllocation.
                      nullable: true
                    prefixType:
                      default: null
                      description: The address prefix Type for the IpAllocation.
                      type: string
                      enum:
                      - IPv4
                      - IPv6
                      x-ms-enum:
                        name: IPVersion
                        modelAsString: true
                    ipamAllocationId:
                      type: string
                      description: The IPAM allocation ID.
                    allocationTags:
                      type: object
                      additionalProperties:
                        type: string
                      description: IpAllocation tags.
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update virtual network operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting IpAllocation
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the IpAllocation.
                    properties:
                      subnet:
                        readOnly: true
                        description: The Subnet that using the prefix of this IpAllocation
                          resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      virtualNetwork:
                        readOnly: true
                        description: The VirtualNetwork that using the prefix of this
                          IpAllocation resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      type:
                        description: The type for the IpAllocation.
                        type: string
                        enum:
                        - Undefined
                        - Hypernet
                        x-ms-enum:
                          name: IpAllocationType
                          modelAsString: true
                      prefix:
                        type: string
                        description: The address prefix for the IpAllocation.
                      prefixLength:
                        type: integer
                        default: 0
                        description: The address prefix length for the IpAllocation.
                        nullable: true
                      prefixType:
                        default: null
                        description: The address prefix Type for the IpAllocation.
                        type: string
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          name: IPVersion
                          modelAsString: true
                      ipamAllocationId:
                        type: string
                        description: The IPAM allocation ID.
                      allocationTags:
                        type: object
                        additionalProperties:
                          type: string
                        description: IpAllocation tags.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting IpAllocation
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the IpAllocation.
                    properties:
                      subnet:
                        readOnly: true
                        description: The Subnet that using the prefix of this IpAllocation
                          resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      virtualNetwork:
                        readOnly: true
                        description: The VirtualNetwork that using the prefix of this
                          IpAllocation resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      type:
                        description: The type for the IpAllocation.
                        type: string
                        enum:
                        - Undefined
                        - Hypernet
                        x-ms-enum:
                          name: IpAllocationType
                          modelAsString: true
                      prefix:
                        type: string
                        description: The address prefix for the IpAllocation.
                      prefixLength:
                        type: integer
                        default: 0
                        description: The address prefix length for the IpAllocation.
                        nullable: true
                      prefixType:
                        default: null
                        description: The address prefix Type for the IpAllocation.
                        type: string
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          name: IPVersion
                          modelAsString: true
                      ipamAllocationId:
                        type: string
                        description: The IPAM allocation ID.
                      allocationTags:
                        type: object
                        additionalProperties:
                          type: string
                        description: IpAllocation tags.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - IpAllocations
      operationId: IpAllocations_UpdateTags
      description: Updates a IpAllocation tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: ipAllocationName
        in: path
        required: true
        description: The name of the IpAllocation.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update IpAllocation tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting IpAllocation
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the IpAllocation.
                    properties:
                      subnet:
                        readOnly: true
                        description: The Subnet that using the prefix of this IpAllocation
                          resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      virtualNetwork:
                        readOnly: true
                        description: The VirtualNetwork that using the prefix of this
                          IpAllocation resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      type:
                        description: The type for the IpAllocation.
                        type: string
                        enum:
                        - Undefined
                        - Hypernet
                        x-ms-enum:
                          name: IpAllocationType
                          modelAsString: true
                      prefix:
                        type: string
                        description: The address prefix for the IpAllocation.
                      prefixLength:
                        type: integer
                        default: 0
                        description: The address prefix length for the IpAllocation.
                        nullable: true
                      prefixType:
                        default: null
                        description: The address prefix Type for the IpAllocation.
                        type: string
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          name: IPVersion
                          modelAsString: true
                      ipamAllocationId:
                        type: string
                        description: The IPAM allocation ID.
                      allocationTags:
                        type: object
                        additionalProperties:
                          type: string
                        description: IpAllocation tags.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/IpAllocations:
    get:
      tags:
      - IpAllocations
      operationId: IpAllocations_List
      description: Gets all IpAllocations in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of IpAllocation
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the IpAllocation.
                          properties:
                            subnet:
                              readOnly: true
                              description: The Subnet that using the prefix of this
                                IpAllocation resource.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            virtualNetwork:
                              readOnly: true
                              description: The VirtualNetwork that using the prefix
                                of this IpAllocation resource.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            type:
                              description: The type for the IpAllocation.
                              type: string
                              enum:
                              - Undefined
                              - Hypernet
                              x-ms-enum:
                                name: IpAllocationType
                                modelAsString: true
                            prefix:
                              type: string
                              description: The address prefix for the IpAllocation.
                            prefixLength:
                              type: integer
                              default: 0
                              description: The address prefix length for the IpAllocation.
                              nullable: true
                            prefixType:
                              default: null
                              description: The address prefix Type for the IpAllocation.
                              type: string
                              enum:
                              - IPv4
                              - IPv6
                              x-ms-enum:
                                name: IPVersion
                                modelAsString: true
                            ipamAllocationId:
                              type: string
                              description: The IPAM allocation ID.
                            allocationTags:
                              type: object
                              additionalProperties:
                                type: string
                              description: IpAllocation tags.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of IpAllocation resources.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: Response for the ListIpAllocations API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/IpAllocations:
    get:
      tags:
      - IpAllocations
      operationId: IpAllocations_ListByResourceGroup
      description: Gets all IpAllocations in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of IpAllocation
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the IpAllocation.
                          properties:
                            subnet:
                              readOnly: true
                              description: The Subnet that using the prefix of this
                                IpAllocation resource.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            virtualNetwork:
                              readOnly: true
                              description: The VirtualNetwork that using the prefix
                                of this IpAllocation resource.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            type:
                              description: The type for the IpAllocation.
                              type: string
                              enum:
                              - Undefined
                              - Hypernet
                              x-ms-enum:
                                name: IpAllocationType
                                modelAsString: true
                            prefix:
                              type: string
                              description: The address prefix for the IpAllocation.
                            prefixLength:
                              type: integer
                              default: 0
                              description: The address prefix length for the IpAllocation.
                              nullable: true
                            prefixType:
                              default: null
                              description: The address prefix Type for the IpAllocation.
                              type: string
                              enum:
                              - IPv4
                              - IPv6
                              x-ms-enum:
                                name: IPVersion
                                modelAsString: true
                            ipamAllocationId:
                              type: string
                              description: The IPAM allocation ID.
                            allocationTags:
                              type: object
                              additionalProperties:
                                type: string
                              description: IpAllocation tags.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of IpAllocation resources.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: Response for the ListIpAllocations API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    IpAllocationPropertiesFormat:
      properties:
        subnet:
          readOnly: true
          description: The Subnet that using the prefix of this IpAllocation resource.
          properties:
            id:
              type: string
              description: Resource ID.
          x-ms-azure-resource: true
        virtualNetwork:
          readOnly: true
          description: The VirtualNetwork that using the prefix of this IpAllocation
            resource.
          properties:
            id:
              type: string
              description: Resource ID.
          x-ms-azure-resource: true
        type:
          description: The type for the IpAllocation.
          type: string
          enum:
          - Undefined
          - Hypernet
          x-ms-enum:
            name: IpAllocationType
            modelAsString: true
        prefix:
          type: string
          description: The address prefix for the IpAllocation.
        prefixLength:
          type: integer
          default: 0
          description: The address prefix length for the IpAllocation.
          nullable: true
        prefixType:
          default: null
          description: The address prefix Type for the IpAllocation.
          type: string
          enum:
          - IPv4
          - IPv6
          x-ms-enum:
            name: IPVersion
            modelAsString: true
        ipamAllocationId:
          type: string
          description: The IPAM allocation ID.
        allocationTags:
          type: object
          additionalProperties:
            type: string
          description: IpAllocation tags.
      description: Properties of the IpAllocation.
    IpAllocation:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          x-ms-client-flatten: true
          description: Properties of the IpAllocation.
          properties:
            subnet:
              readOnly: true
              description: The Subnet that using the prefix of this IpAllocation resource.
              properties:
                id:
                  type: string
                  description: Resource ID.
              x-ms-azure-resource: true
            virtualNetwork:
              readOnly: true
              description: The VirtualNetwork that using the prefix of this IpAllocation
                resource.
              properties:
                id:
                  type: string
                  description: Resource ID.
              x-ms-azure-resource: true
            type:
              description: The type for the IpAllocation.
              type: string
              enum:
              - Undefined
              - Hypernet
              x-ms-enum:
                name: IpAllocationType
                modelAsString: true
            prefix:
              type: string
              description: The address prefix for the IpAllocation.
            prefixLength:
              type: integer
              default: 0
              description: The address prefix length for the IpAllocation.
              nullable: true
            prefixType:
              default: null
              description: The address prefix Type for the IpAllocation.
              type: string
              enum:
              - IPv4
              - IPv6
              x-ms-enum:
                name: IPVersion
                modelAsString: true
            ipamAllocationId:
              type: string
              description: The IPAM allocation ID.
            allocationTags:
              type: object
              additionalProperties:
                type: string
              description: IpAllocation tags.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource
            is updated.
      description: Common resource representation.
      x-ms-azure-resource: true
    IpAllocationListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags.
              properties:
                x-ms-client-flatten: true
                description: Properties of the IpAllocation.
                properties:
                  subnet:
                    readOnly: true
                    description: The Subnet that using the prefix of this IpAllocation
                      resource.
                    properties:
                      id:
                        type: string
                        description: Resource ID.
                    x-ms-azure-resource: true
                  virtualNetwork:
                    readOnly: true
                    description: The VirtualNetwork that using the prefix of this
                      IpAllocation resource.
                    properties:
                      id:
                        type: string
                        description: Resource ID.
                    x-ms-azure-resource: true
                  type:
                    description: The type for the IpAllocation.
                    type: string
                    enum:
                    - Undefined
                    - Hypernet
                    x-ms-enum:
                      name: IpAllocationType
                      modelAsString: true
                  prefix:
                    type: string
                    description: The address prefix for the IpAllocation.
                  prefixLength:
                    type: integer
                    default: 0
                    description: The address prefix length for the IpAllocation.
                    nullable: true
                  prefixType:
                    default: null
                    description: The address prefix Type for the IpAllocation.
                    type: string
                    enum:
                    - IPv4
                    - IPv6
                    x-ms-enum:
                      name: IPVersion
                      modelAsString: true
                  ipamAllocationId:
                    type: string
                    description: The IPAM allocation ID.
                  allocationTags:
                    type: object
                    additionalProperties:
                      type: string
                    description: IpAllocation tags.
              etag:
                readOnly: true
                type: string
                description: A unique read-only string that changes whenever the resource
                  is updated.
            description: Common resource representation.
            x-ms-azure-resource: true
          description: A list of IpAllocation resources.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: Response for the ListIpAllocations API service call.
    IpAllocationType:
      type: string
      description: IpAllocation type.
      enum:
      - Undefined
      - Hypernet
      x-ms-enum:
        name: IpAllocationType
        modelAsString: true
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
    Resource:
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Common resource representation.
      x-ms-azure-resource: true
    SubResource:
      properties:
        id:
          type: string
          description: Resource ID.
      description: Reference to another subresource.
      x-ms-azure-resource: true
    IPVersion:
      type: string
      description: IP address version.
      enum:
      - IPv4
      - IPv6
      x-ms-enum:
        name: IPVersion
        modelAsString: true
    TagsObject:
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Tags object for patch operations.
