openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ipGroups/{ipGroupsName}:
    get:
      tags:
      - IpGroups
      operationId: IpGroups_Get
      description: Gets the specified ipGroups.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: ipGroupsName
        in: path
        required: true
        description: The name of the ipGroups.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands resourceIds (of Firewalls/Network Security Groups etc.)
          back referenced by the IpGroups resource.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting IpGroups
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the IpGroups.
                    properties:
                      provisioningState:
                        description: The provisioning state of the IpGroups resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      ipAddresses:
                        type: array
                        items:
                          type: string
                        description: IpAddresses/IpAddressPrefixes in the IpGroups
                          resource.
                      firewalls:
                        type: array
                        readOnly: true
                        description: List of references to Firewall resources that
                          this IpGroups is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      firewallPolicies:
                        type: array
                        readOnly: true
                        description: List of references to Firewall Policies resources
                          that this IpGroups is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
    put:
      tags:
      - IpGroups
      operationId: IpGroups_CreateOrUpdate
      description: Creates or updates an ipGroups in a specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: ipGroupsName
        in: path
        required: true
        description: The name of the ipGroups.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the IpGroups.
                  properties:
                    provisioningState:
                      description: The provisioning state of the IpGroups resource.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    ipAddresses:
                      type: array
                      items:
                        type: string
                      description: IpAddresses/IpAddressPrefixes in the IpGroups resource.
                    firewalls:
                      type: array
                      readOnly: true
                      description: List of references to Firewall resources that this
                        IpGroups is associated with.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    firewallPolicies:
                      type: array
                      readOnly: true
                      description: List of references to Firewall Policies resources
                        that this IpGroups is associated with.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                etag:
                  type: string
                  readOnly: true
                  description: A unique read-only string that changes whenever the
                    resource is updated.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update IpGroups operation.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the resulting ipGroups
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the IpGroups.
                    properties:
                      provisioningState:
                        description: The provisioning state of the IpGroups resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      ipAddresses:
                        type: array
                        items:
                          type: string
                        description: IpAddresses/IpAddressPrefixes in the IpGroups
                          resource.
                      firewalls:
                        type: array
                        readOnly: true
                        description: List of references to Firewall resources that
                          this IpGroups is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      firewallPolicies:
                        type: array
                        readOnly: true
                        description: List of references to Firewall Policies resources
                          that this IpGroups is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting ipGroups
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the IpGroups.
                    properties:
                      provisioningState:
                        description: The provisioning state of the IpGroups resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      ipAddresses:
                        type: array
                        items:
                          type: string
                        description: IpAddresses/IpAddressPrefixes in the IpGroups
                          resource.
                      firewalls:
                        type: array
                        readOnly: true
                        description: List of references to Firewall resources that
                          this IpGroups is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      firewallPolicies:
                        type: array
                        readOnly: true
                        description: List of references to Firewall Policies resources
                          that this IpGroups is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - IpGroups
      operationId: IpGroups_UpdateGroups
      description: Updates tags of an IpGroups resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: ipGroupsName
        in: path
        required: true
        description: The name of the ipGroups.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to the update ipGroups operation.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the resulting ipGroups
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the IpGroups.
                    properties:
                      provisioningState:
                        description: The provisioning state of the IpGroups resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      ipAddresses:
                        type: array
                        items:
                          type: string
                        description: IpAddresses/IpAddressPrefixes in the IpGroups
                          resource.
                      firewalls:
                        type: array
                        readOnly: true
                        description: List of references to Firewall resources that
                          this IpGroups is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      firewallPolicies:
                        type: array
                        readOnly: true
                        description: List of references to Firewall Policies resources
                          that this IpGroups is associated with.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
    delete:
      tags:
      - IpGroups
      operationId: IpGroups_Delete
      description: Deletes the specified ipGroups.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: ipGroupsName
        in: path
        required: true
        description: The name of the ipGroups.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ipGroups:
    get:
      tags:
      - IpGroups
      operationId: IpGroups_ListByResourceGroup
      description: Gets all IpGroups in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of ipGroups
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the IpGroups.
                          properties:
                            provisioningState:
                              description: The provisioning state of the IpGroups
                                resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            ipAddresses:
                              type: array
                              items:
                                type: string
                              description: IpAddresses/IpAddressPrefixes in the IpGroups
                                resource.
                            firewalls:
                              type: array
                              readOnly: true
                              description: List of references to Firewall resources
                                that this IpGroups is associated with.
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                            firewallPolicies:
                              type: array
                              readOnly: true
                              description: List of references to Firewall Policies
                                resources that this IpGroups is associated with.
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: The list of IpGroups information resources.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for the ListIpGroups API service call.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ipGroups:
    get:
      tags:
      - IpGroups
      operationId: IpGroups_List
      description: Gets all IpGroups in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of ipGroups
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the IpGroups.
                          properties:
                            provisioningState:
                              description: The provisioning state of the IpGroups
                                resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            ipAddresses:
                              type: array
                              items:
                                type: string
                              description: IpAddresses/IpAddressPrefixes in the IpGroups
                                resource.
                            firewalls:
                              type: array
                              readOnly: true
                              description: List of references to Firewall resources
                                that this IpGroups is associated with.
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                            firewallPolicies:
                              type: array
                              readOnly: true
                              description: List of references to Firewall Policies
                                resources that this IpGroups is associated with.
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: The list of IpGroups information resources.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for the ListIpGroups API service call.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    IpGroup:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          x-ms-client-flatten: true
          description: Properties of the IpGroups.
          properties:
            provisioningState:
              description: The provisioning state of the IpGroups resource.
              readOnly: true
              type: string
              enum:
              - Succeeded
              - Updating
              - Deleting
              - Failed
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
            ipAddresses:
              type: array
              items:
                type: string
              description: IpAddresses/IpAddressPrefixes in the IpGroups resource.
            firewalls:
              type: array
              readOnly: true
              description: List of references to Firewall resources that this IpGroups
                is associated with.
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
            firewallPolicies:
              type: array
              readOnly: true
              description: List of references to Firewall Policies resources that
                this IpGroups is associated with.
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource
            is updated.
      description: Common resource representation.
      x-ms-azure-resource: true
    IpGroupListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags.
              properties:
                x-ms-client-flatten: true
                description: Properties of the IpGroups.
                properties:
                  provisioningState:
                    description: The provisioning state of the IpGroups resource.
                    readOnly: true
                    type: string
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                  ipAddresses:
                    type: array
                    items:
                      type: string
                    description: IpAddresses/IpAddressPrefixes in the IpGroups resource.
                  firewalls:
                    type: array
                    readOnly: true
                    description: List of references to Firewall resources that this
                      IpGroups is associated with.
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                  firewallPolicies:
                    type: array
                    readOnly: true
                    description: List of references to Firewall Policies resources
                      that this IpGroups is associated with.
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
              etag:
                type: string
                readOnly: true
                description: A unique read-only string that changes whenever the resource
                  is updated.
            description: Common resource representation.
            x-ms-azure-resource: true
          description: The list of IpGroups information resources.
        nextLink:
          type: string
          description: URL to get the next set of results.
      description: Response for the ListIpGroups API service call.
    IpGroupPropertiesFormat:
      properties:
        provisioningState:
          description: The provisioning state of the IpGroups resource.
          readOnly: true
          type: string
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        ipAddresses:
          type: array
          items:
            type: string
          description: IpAddresses/IpAddressPrefixes in the IpGroups resource.
        firewalls:
          type: array
          readOnly: true
          description: List of references to Firewall resources that this IpGroups
            is associated with.
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
        firewallPolicies:
          type: array
          readOnly: true
          description: List of references to Firewall Policies resources that this
            IpGroups is associated with.
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
      description: The IpGroups property information.
    ErrorDetails:
      properties:
        code:
          type: string
          description: Error code.
        target:
          type: string
          description: Error target.
        message:
          type: string
          description: Error message.
      description: Common error details representation.
    Error:
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Error target.
        details:
          type: array
          items:
            properties:
              code:
                type: string
                description: Error code.
              target:
                type: string
                description: Error target.
              message:
                type: string
                description: Error message.
            description: Common error details representation.
          description: Error details.
        innerError:
          type: string
          description: Inner error message.
      description: Common error representation.
    Resource:
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Common resource representation.
      x-ms-azure-resource: true
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Updating
      - Deleting
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    SubResource:
      properties:
        id:
          type: string
          description: Resource ID.
      description: Reference to another subresource.
      x-ms-azure-resource: true
    TagsObject:
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Tags object for patch operations.
