openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/natGateways/{natGatewayName}
  : delete:
      tags:
      - NatGateways
      operationId: NatGateways_Delete
      description: Deletes the specified nat gateway.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: natGatewayName
        in: path
        required: true
        description: The name of the nat gateway.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - NatGateways
      operationId: NatGateways_Get
      description: Gets the specified nat gateway in a specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: natGatewayName
        in: path
        required: true
        description: The name of the nat gateway.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting NatGateway
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: The nat gateway SKU.
                    properties:
                      name:
                        type: string
                        description: Name of Nat Gateway SKU.
                        enum:
                        - Standard
                        - StandardV2
                        x-ms-enum:
                          name: NatGatewaySkuName
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Nat Gateway properties.
                    properties:
                      idleTimeoutInMinutes:
                        type: integer
                        format: int32
                        description: The idle timeout of the nat gateway.
                      publicIpAddresses:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip addresses V4 associated
                          with the nat gateway resource.
                      publicIpAddressesV6:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip addresses V6 associated
                          with the nat gateway resource.
                      publicIpPrefixes:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip prefixes V4 associated
                          with the nat gateway resource.
                      publicIpPrefixesV6:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip prefixes V6 associated
                          with the nat gateway resource.
                      subnets:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of references to the subnets using this
                          nat gateway resource.
                      sourceVirtualNetwork:
                        description: A reference to the source virtual network using
                          this nat gateway resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the NAT gateway
                          resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the NAT gateway resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the zone in
                      which Nat Gateway should be deployed.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - NatGateways
      operationId: NatGateways_CreateOrUpdate
      description: Creates or updates a nat gateway.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: natGatewayName
        in: path
        required: true
        description: The name of the nat gateway.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                sku:
                  description: The nat gateway SKU.
                  properties:
                    name:
                      type: string
                      description: Name of Nat Gateway SKU.
                      enum:
                      - Standard
                      - StandardV2
                      x-ms-enum:
                        name: NatGatewaySkuName
                        modelAsString: true
                properties:
                  x-ms-client-flatten: true
                  description: Nat Gateway properties.
                  properties:
                    idleTimeoutInMinutes:
                      type: integer
                      format: int32
                      description: The idle timeout of the nat gateway.
                    publicIpAddresses:
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: An array of public ip addresses V4 associated with
                        the nat gateway resource.
                    publicIpAddressesV6:
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: An array of public ip addresses V6 associated with
                        the nat gateway resource.
                    publicIpPrefixes:
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: An array of public ip prefixes V4 associated with
                        the nat gateway resource.
                    publicIpPrefixesV6:
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: An array of public ip prefixes V6 associated with
                        the nat gateway resource.
                    subnets:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: An array of references to the subnets using this
                        nat gateway resource.
                    sourceVirtualNetwork:
                      description: A reference to the source virtual network using
                        this nat gateway resource.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    resourceGuid:
                      readOnly: true
                      type: string
                      description: The resource GUID property of the NAT gateway resource.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the NAT gateway resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                zones:
                  type: array
                  items:
                    type: string
                  description: A list of availability zones denoting the zone in which
                    Nat Gateway should be deployed.
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update nat gateway operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting NatGateway
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: The nat gateway SKU.
                    properties:
                      name:
                        type: string
                        description: Name of Nat Gateway SKU.
                        enum:
                        - Standard
                        - StandardV2
                        x-ms-enum:
                          name: NatGatewaySkuName
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Nat Gateway properties.
                    properties:
                      idleTimeoutInMinutes:
                        type: integer
                        format: int32
                        description: The idle timeout of the nat gateway.
                      publicIpAddresses:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip addresses V4 associated
                          with the nat gateway resource.
                      publicIpAddressesV6:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip addresses V6 associated
                          with the nat gateway resource.
                      publicIpPrefixes:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip prefixes V4 associated
                          with the nat gateway resource.
                      publicIpPrefixesV6:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip prefixes V6 associated
                          with the nat gateway resource.
                      subnets:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of references to the subnets using this
                          nat gateway resource.
                      sourceVirtualNetwork:
                        description: A reference to the source virtual network using
                          this nat gateway resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the NAT gateway
                          resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the NAT gateway resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the zone in
                      which Nat Gateway should be deployed.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting NatGateway
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: The nat gateway SKU.
                    properties:
                      name:
                        type: string
                        description: Name of Nat Gateway SKU.
                        enum:
                        - Standard
                        - StandardV2
                        x-ms-enum:
                          name: NatGatewaySkuName
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Nat Gateway properties.
                    properties:
                      idleTimeoutInMinutes:
                        type: integer
                        format: int32
                        description: The idle timeout of the nat gateway.
                      publicIpAddresses:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip addresses V4 associated
                          with the nat gateway resource.
                      publicIpAddressesV6:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip addresses V6 associated
                          with the nat gateway resource.
                      publicIpPrefixes:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip prefixes V4 associated
                          with the nat gateway resource.
                      publicIpPrefixesV6:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip prefixes V6 associated
                          with the nat gateway resource.
                      subnets:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of references to the subnets using this
                          nat gateway resource.
                      sourceVirtualNetwork:
                        description: A reference to the source virtual network using
                          this nat gateway resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the NAT gateway
                          resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the NAT gateway resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the zone in
                      which Nat Gateway should be deployed.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - NatGateways
      operationId: NatGateways_UpdateTags
      description: Updates nat gateway tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: natGatewayName
        in: path
        required: true
        description: The name of the nat gateway.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update nat gateway tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting NatGateway
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  sku:
                    description: The nat gateway SKU.
                    properties:
                      name:
                        type: string
                        description: Name of Nat Gateway SKU.
                        enum:
                        - Standard
                        - StandardV2
                        x-ms-enum:
                          name: NatGatewaySkuName
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Nat Gateway properties.
                    properties:
                      idleTimeoutInMinutes:
                        type: integer
                        format: int32
                        description: The idle timeout of the nat gateway.
                      publicIpAddresses:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip addresses V4 associated
                          with the nat gateway resource.
                      publicIpAddressesV6:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip addresses V6 associated
                          with the nat gateway resource.
                      publicIpPrefixes:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip prefixes V4 associated
                          with the nat gateway resource.
                      publicIpPrefixesV6:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of public ip prefixes V6 associated
                          with the nat gateway resource.
                      subnets:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: An array of references to the subnets using this
                          nat gateway resource.
                      sourceVirtualNetwork:
                        description: A reference to the source virtual network using
                          this nat gateway resource.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the NAT gateway
                          resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the NAT gateway resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the zone in
                      which Nat Gateway should be deployed.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/natGateways:
    get:
      tags:
      - NatGateways
      operationId: NatGateways_ListAll
      description: Gets all the Nat Gateways in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of NatGateway
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        sku:
                          description: The nat gateway SKU.
                          properties:
                            name:
                              type: string
                              description: Name of Nat Gateway SKU.
                              enum:
                              - Standard
                              - StandardV2
                              x-ms-enum:
                                name: NatGatewaySkuName
                                modelAsString: true
                        properties:
                          x-ms-client-flatten: true
                          description: Nat Gateway properties.
                          properties:
                            idleTimeoutInMinutes:
                              type: integer
                              format: int32
                              description: The idle timeout of the nat gateway.
                            publicIpAddresses:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip addresses V4 associated
                                with the nat gateway resource.
                            publicIpAddressesV6:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip addresses V6 associated
                                with the nat gateway resource.
                            publicIpPrefixes:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip prefixes V4 associated
                                with the nat gateway resource.
                            publicIpPrefixesV6:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip prefixes V6 associated
                                with the nat gateway resource.
                            subnets:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of references to the subnets using
                                this nat gateway resource.
                            sourceVirtualNetwork:
                              description: A reference to the source virtual network
                                using this nat gateway resource.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            resourceGuid:
                              readOnly: true
                              type: string
                              description: The resource GUID property of the NAT gateway
                                resource.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the NAT gateway
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        zones:
                          type: array
                          items:
                            type: string
                          description: A list of availability zones denoting the zone
                            in which Nat Gateway should be deployed.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of Nat Gateways that exists in a resource
                      group.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: Response for ListNatGateways API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/natGateways:
    get:
      tags:
      - NatGateways
      operationId: NatGateways_List
      description: Gets all nat gateways in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of NatGateway
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        sku:
                          description: The nat gateway SKU.
                          properties:
                            name:
                              type: string
                              description: Name of Nat Gateway SKU.
                              enum:
                              - Standard
                              - StandardV2
                              x-ms-enum:
                                name: NatGatewaySkuName
                                modelAsString: true
                        properties:
                          x-ms-client-flatten: true
                          description: Nat Gateway properties.
                          properties:
                            idleTimeoutInMinutes:
                              type: integer
                              format: int32
                              description: The idle timeout of the nat gateway.
                            publicIpAddresses:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip addresses V4 associated
                                with the nat gateway resource.
                            publicIpAddressesV6:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip addresses V6 associated
                                with the nat gateway resource.
                            publicIpPrefixes:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip prefixes V4 associated
                                with the nat gateway resource.
                            publicIpPrefixesV6:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip prefixes V6 associated
                                with the nat gateway resource.
                            subnets:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of references to the subnets using
                                this nat gateway resource.
                            sourceVirtualNetwork:
                              description: A reference to the source virtual network
                                using this nat gateway resource.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            resourceGuid:
                              readOnly: true
                              type: string
                              description: The resource GUID property of the NAT gateway
                                resource.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the NAT gateway
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        zones:
                          type: array
                          items:
                            type: string
                          description: A list of availability zones denoting the zone
                            in which Nat Gateway should be deployed.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of Nat Gateways that exists in a resource
                      group.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: Response for ListNatGateways API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    NatGatewaySku:
      properties:
        name:
          type: string
          description: Name of Nat Gateway SKU.
          enum:
          - Standard
          - StandardV2
          x-ms-enum:
            name: NatGatewaySkuName
            modelAsString: true
      description: SKU of nat gateway.
    NatGatewayPropertiesFormat:
      properties:
        idleTimeoutInMinutes:
          type: integer
          format: int32
          description: The idle timeout of the nat gateway.
        publicIpAddresses:
          type: array
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
          description: An array of public ip addresses V4 associated with the nat
            gateway resource.
        publicIpAddressesV6:
          type: array
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
          description: An array of public ip addresses V6 associated with the nat
            gateway resource.
        publicIpPrefixes:
          type: array
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
          description: An array of public ip prefixes V4 associated with the nat gateway
            resource.
        publicIpPrefixesV6:
          type: array
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
          description: An array of public ip prefixes V6 associated with the nat gateway
            resource.
        subnets:
          readOnly: true
          type: array
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
          description: An array of references to the subnets using this nat gateway
            resource.
        sourceVirtualNetwork:
          description: A reference to the source virtual network using this nat gateway
            resource.
          properties:
            id:
              type: string
              description: Resource ID.
          x-ms-azure-resource: true
        resourceGuid:
          readOnly: true
          type: string
          description: The resource GUID property of the NAT gateway resource.
        provisioningState:
          readOnly: true
          description: The provisioning state of the NAT gateway resource.
          type: string
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
      description: Nat Gateway properties.
    NatGateway:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        sku:
          description: The nat gateway SKU.
          properties:
            name:
              type: string
              description: Name of Nat Gateway SKU.
              enum:
              - Standard
              - StandardV2
              x-ms-enum:
                name: NatGatewaySkuName
                modelAsString: true
        properties:
          x-ms-client-flatten: true
          description: Nat Gateway properties.
          properties:
            idleTimeoutInMinutes:
              type: integer
              format: int32
              description: The idle timeout of the nat gateway.
            publicIpAddresses:
              type: array
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
              description: An array of public ip addresses V4 associated with the
                nat gateway resource.
            publicIpAddressesV6:
              type: array
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
              description: An array of public ip addresses V6 associated with the
                nat gateway resource.
            publicIpPrefixes:
              type: array
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
              description: An array of public ip prefixes V4 associated with the nat
                gateway resource.
            publicIpPrefixesV6:
              type: array
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
              description: An array of public ip prefixes V6 associated with the nat
                gateway resource.
            subnets:
              readOnly: true
              type: array
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
              description: An array of references to the subnets using this nat gateway
                resource.
            sourceVirtualNetwork:
              description: A reference to the source virtual network using this nat
                gateway resource.
              properties:
                id:
                  type: string
                  description: Resource ID.
              x-ms-azure-resource: true
            resourceGuid:
              readOnly: true
              type: string
              description: The resource GUID property of the NAT gateway resource.
            provisioningState:
              readOnly: true
              description: The provisioning state of the NAT gateway resource.
              type: string
              enum:
              - Succeeded
              - Updating
              - Deleting
              - Failed
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
        zones:
          type: array
          items:
            type: string
          description: A list of availability zones denoting the zone in which Nat
            Gateway should be deployed.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource
            is updated.
      description: Common resource representation.
      x-ms-azure-resource: true
    NatGatewayListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags.
              sku:
                description: The nat gateway SKU.
                properties:
                  name:
                    type: string
                    description: Name of Nat Gateway SKU.
                    enum:
                    - Standard
                    - StandardV2
                    x-ms-enum:
                      name: NatGatewaySkuName
                      modelAsString: true
              properties:
                x-ms-client-flatten: true
                description: Nat Gateway properties.
                properties:
                  idleTimeoutInMinutes:
                    type: integer
                    format: int32
                    description: The idle timeout of the nat gateway.
                  publicIpAddresses:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    description: An array of public ip addresses V4 associated with
                      the nat gateway resource.
                  publicIpAddressesV6:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    description: An array of public ip addresses V6 associated with
                      the nat gateway resource.
                  publicIpPrefixes:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    description: An array of public ip prefixes V4 associated with
                      the nat gateway resource.
                  publicIpPrefixesV6:
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    description: An array of public ip prefixes V6 associated with
                      the nat gateway resource.
                  subnets:
                    readOnly: true
                    type: array
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    description: An array of references to the subnets using this
                      nat gateway resource.
                  sourceVirtualNetwork:
                    description: A reference to the source virtual network using this
                      nat gateway resource.
                    properties:
                      id:
                        type: string
                        description: Resource ID.
                    x-ms-azure-resource: true
                  resourceGuid:
                    readOnly: true
                    type: string
                    description: The resource GUID property of the NAT gateway resource.
                  provisioningState:
                    readOnly: true
                    description: The provisioning state of the NAT gateway resource.
                    type: string
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
              zones:
                type: array
                items:
                  type: string
                description: A list of availability zones denoting the zone in which
                  Nat Gateway should be deployed.
              etag:
                readOnly: true
                type: string
                description: A unique read-only string that changes whenever the resource
                  is updated.
            description: Common resource representation.
            x-ms-azure-resource: true
          description: A list of Nat Gateways that exists in a resource group.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: Response for ListNatGateways API service call.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
    Resource:
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Common resource representation.
      x-ms-azure-resource: true
    SubResource:
      properties:
        id:
          type: string
          description: Resource ID.
      description: Reference to another subresource.
      x-ms-azure-resource: true
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Updating
      - Deleting
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    TagsObject:
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Tags object for patch operations.
