openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}
  : put:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_CreateOrUpdate
      description: Creates or updates a network watcher in the specified resource
        group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkWatcherName
        in: path
        required: true
        description: The name of the network watcher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the network watcher.
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the network watcher resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters that define the network watcher resource.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting network
            watcher resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the network watcher.
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network watcher
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting network
            watcher resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the network watcher.
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network watcher
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
    get:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_Get
      description: Gets the specified network watcher by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkWatcherName
        in: path
        required: true
        description: The name of the network watcher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a network watcher
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the network watcher.
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network watcher
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
    delete:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_Delete
      description: Deletes the specified network watcher resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkWatcherName
        in: path
        required: true
        description: The name of the network watcher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    patch:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_UpdateTags
      description: Updates a network watcher tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkWatcherName
        in: path
        required: true
        description: The name of the network watcher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update network watcher tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting network
            watcher resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the network watcher.
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network watcher
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers:
    get:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_List
      description: Gets all network watchers by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of network
            watcher resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the network watcher.
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the network watcher
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of network watcher resources.
                description: Response for ListNetworkWatchers API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
      x-ms-pageable: {}
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkWatchers:
    get:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_ListAll
      description: Gets all network watchers by subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of network
            watcher resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the network watcher.
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the network watcher
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of network watcher resources.
                description: Response for ListNetworkWatchers API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
      x-ms-pageable: {}
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/topology
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetTopology
      description: Gets the current network topology by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkWatcherName
        in: path
        required: true
        description: The name of the network watcher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                targetResourceGroupName:
                  type: string
                  description: The name of the target resource group to perform topology
                    on.
                targetVirtualNetwork:
                  description: The reference to the Virtual Network resource.
                  properties:
                    id:
                      type: string
                      description: Resource ID.
                  x-ms-azure-resource: true
                targetSubnet:
                  description: The reference to the Subnet resource.
                  properties:
                    id:
                      type: string
                      description: Resource ID.
                  x-ms-azure-resource: true
              description: Parameters that define the representation of topology.
        description: Parameters that define the representation of topology.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the topology of resource
            group.
          content:
            application/json:
              schema:
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: GUID representing the operation id.
                  createdDateTime:
                    readOnly: true
                    type: string
                    format: date-time
                    description: The datetime when the topology was initially created
                      for the resource group.
                  lastModified:
                    readOnly: true
                    type: string
                    format: date-time
                    description: The datetime when the topology was last modified.
                  resources:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          description: Name of the resource.
                        id:
                          type: string
                          description: ID of the resource.
                        location:
                          type: string
                          description: Resource location.
                        associations:
                          type: array
                          description: Holds the associations the resource has with
                            other resources in the resource group.
                          items:
                            properties:
                              name:
                                type: string
                                description: The name of the resource that is associated
                                  with the parent resource.
                              resourceId:
                                type: string
                                description: The ID of the resource that is associated
                                  with the parent resource.
                              associationType:
                                type: string
                                enum:
                                - Associated
                                - Contains
                                x-ms-enum:
                                  name: AssociationType
                                  modelAsString: true
                                description: The association type of the child resource
                                  to the parent resource.
                            description: Resources that have an association with the
                              parent resource.
                      description: The network resource topology information for the
                        given resource group.
                    description: A list of topology resources.
                description: Topology of the specified resource group.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/ipFlowVerify
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_VerifyIPFlow
      description: Verify IP flow from the specified VM to a location given the currently
        configured NSG rules.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkWatcherName
        in: path
        required: true
        description: The name of the network watcher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters that define the IP flow to be verified.
              required:
              - targetResourceId
              - direction
              - protocol
              - localPort
              - remotePort
              - localIPAddress
              - remoteIPAddress
              properties:
                targetResourceId:
                  type: string
                  description: The ID of the target resource to perform next-hop on.
                direction:
                  description: The direction of the packet represented as a 5-tuple.
                  type: string
                  enum:
                  - Inbound
                  - Outbound
                  x-ms-enum:
                    name: Direction
                    modelAsString: true
                protocol:
                  type: string
                  enum:
                  - TCP
                  - UDP
                  x-ms-enum:
                    name: IpFlowProtocol
                    modelAsString: true
                  description: Protocol to be verified on.
                localPort:
                  type: string
                  description: The local port. Acceptable values are a single integer
                    in the range (0-65535). Support for * for the source port, which
                    depends on the direction.
                remotePort:
                  type: string
                  description: The remote port. Acceptable values are a single integer
                    in the range (0-65535). Support for * for the source port, which
                    depends on the direction.
                localIPAddress:
                  type: string
                  description: The local IP address. Acceptable values are valid IPv4
                    addresses.
                remoteIPAddress:
                  type: string
                  description: The remote IP address. Acceptable values are valid
                    IPv4 addresses.
                targetNicResourceId:
                  type: string
                  description: The NIC ID. (If VM has multiple NICs and IP forwarding
                    is enabled on any of them, then this parameter must be specified.
                    Otherwise optional).
        description: Parameters that define the IP flow to be verified.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the result of IP
            flow verification.
          content:
            application/json:
              schema:
                description: Results of IP flow verification on the target resource.
                properties:
                  access:
                    description: Indicates whether the traffic is allowed or denied.
                    type: string
                    enum:
                    - Allow
                    - Deny
                    x-ms-enum:
                      name: Access
                      modelAsString: true
                  ruleName:
                    type: string
                    description: Name of the rule. If input is not matched against
                      any security rule, it is not displayed.
        '202':
          description: Accepted and the operation will complete asynchronously.
          content:
            application/json:
              schema:
                description: Results of IP flow verification on the target resource.
                properties:
                  access:
                    description: Indicates whether the traffic is allowed or denied.
                    type: string
                    enum:
                    - Allow
                    - Deny
                    x-ms-enum:
                      name: Access
                      modelAsString: true
                  ruleName:
                    type: string
                    description: Name of the rule. If input is not matched against
                      any security rule, it is not displayed.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/nextHop
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetNextHop
      description: Gets the next hop from the specified VM.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkWatcherName
        in: path
        required: true
        description: The name of the network watcher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters that define the source and destination endpoint.
              required:
              - targetResourceId
              - sourceIPAddress
              - destinationIPAddress
              properties:
                targetResourceId:
                  type: string
                  description: The resource identifier of the target resource against
                    which the action is to be performed.
                sourceIPAddress:
                  type: string
                  description: The source IP address.
                destinationIPAddress:
                  type: string
                  description: The destination IP address.
                targetNicResourceId:
                  type: string
                  description: The NIC ID. (If VM has multiple NICs and IP forwarding
                    is enabled on any of the nics, then this parameter must be specified.
                    Otherwise optional).
        description: Parameters that define the source and destination endpoint.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the next hop from
            the VM.
          content:
            application/json:
              schema:
                description: The information about next hop from the specified VM.
                properties:
                  nextHopType:
                    type: string
                    enum:
                    - Internet
                    - VirtualAppliance
                    - VirtualNetworkGateway
                    - VnetLocal
                    - HyperNetGateway
                    - None
                    x-ms-enum:
                      name: NextHopType
                      modelAsString: true
                    description: Next hop type.
                  nextHopIpAddress:
                    type: string
                    description: Next hop IP Address.
                  routeTableId:
                    type: string
                    description: The resource identifier for the route table associated
                      with the route being returned. If the route being returned does
                      not correspond to any user created routes then this field will
                      be the string 'System Route'.
        '202':
          description: Accepted and the operation will complete asynchronously.
          content:
            application/json:
              schema:
                description: The information about next hop from the specified VM.
                properties:
                  nextHopType:
                    type: string
                    enum:
                    - Internet
                    - VirtualAppliance
                    - VirtualNetworkGateway
                    - VnetLocal
                    - HyperNetGateway
                    - None
                    x-ms-enum:
                      name: NextHopType
                      modelAsString: true
                    description: Next hop type.
                  nextHopIpAddress:
                    type: string
                    description: Next hop IP Address.
                  routeTableId:
                    type: string
                    description: The resource identifier for the route table associated
                      with the route being returned. If the route being returned does
                      not correspond to any user created routes then this field will
                      be the string 'System Route'.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                description: The error object.
                properties:
                  error:
                    title: Error
                    description: The error details object.
                    properties:
                      code:
                        type: string
                        description: Error code.
                      target:
                        type: string
                        description: Error target.
                      message:
                        type: string
                        description: Error message.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/securityGroupView
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetVMSecurityRules
      description: Gets the configured and effective security group rules on the specified
        VM.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkWatcherName
        in: path
        required: true
        description: The name of the network watcher.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Parameters that define the VM to check security groups
                for.
              required:
              - targetResourceId
              properties:
                targetResourceId:
                  type: string
                  description: ID of the target VM.
        description: Parameters that define the VM to check security groups for.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns security group rules
            on the VM.
          content:
            application/json:
              schema:
                description: The information about security rules applied to the specified
                  VM.
                properties:
                  networkInterfaces:
                    type: array
                    description: List of network interfaces on the specified VM.
                    items:
                      description: Network interface and all its associated security
                        rules.
                      properties:
                        id:
                          type: string
                          description: ID of the network interface.
                        securityRuleAssociations:
                          description: All security rules associated with the network
                            interface.
                          properties:
                            networkInterfaceAssociation:
                              description: Network interface and it's custom security
                                rules.
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Network interface ID.
                                securityRules:
                                  type: array
                                  description: Collection of custom security rules.
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Resource ID.
                                      properties:
                                        x-ms-client-flatten: true
                                        description: Properties of the security rule.
                                        properties:
                                          description:
                                            type: string
                                            description: A description for this rule.
                                              Restricted to 140 chars.
                                          protocol:
                                            type: string
                                            description: Network protocol this rule
                                              applies to.
                                            enum:
                                            - Tcp
                                            - Udp
                                            - Icmp
                                            - Esp
                                            - '*'
                                            - Ah
                                            x-ms-enum:
                                              name: SecurityRuleProtocol
                                              modelAsString: true
                                          sourcePortRange:
                                            type: string
                                            description: The source port or range.
                                              Integer or range between 0 and 65535.
                                              Asterisk '*' can also be used to match
                                              all ports.
                                          destinationPortRange:
                                            type: string
                                            description: The destination port or range.
                                              Integer or range between 0 and 65535.
                                              Asterisk '*' can also be used to match
                                              all ports.
                                          sourceAddressPrefix:
                                            type: string
                                            description: The CIDR or source IP range.
                                              Asterisk '*' can also be used to match
                                              all source IPs. Default tags such as
                                              'VirtualNetwork', 'AzureLoadBalancer'
                                              and 'Internet' can also be used. If
                                              this is an ingress rule, specifies where
                                              network traffic originates from.
                                          sourceAddressPrefixes:
                                            type: array
                                            items:
                                              type: string
                                            description: The CIDR or source IP ranges.
                                          sourceApplicationSecurityGroups:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                  description: Resource ID.
                                                name:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource name.
                                                type:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource type.
                                                location:
                                                  type: string
                                                  description: Resource location.
                                                tags:
                                                  type: object
                                                  additionalProperties:
                                                    type: string
                                                  description: Resource tags.
                                                properties:
                                                  x-ms-client-flatten: true
                                                  description: Properties of the application
                                                    security group.
                                                  properties:
                                                    resourceGuid:
                                                      readOnly: true
                                                      type: string
                                                      description: The resource GUID
                                                        property of the application
                                                        security group resource. It
                                                        uniquely identifies a resource,
                                                        even if the user changes its
                                                        name or migrate the resource
                                                        across subscriptions or resource
                                                        groups.
                                                    provisioningState:
                                                      readOnly: true
                                                      description: The provisioning
                                                        state of the application security
                                                        group resource.
                                                      type: string
                                                      enum:
                                                      - Succeeded
                                                      - Updating
                                                      - Deleting
                                                      - Failed
                                                      x-ms-enum:
                                                        name: ProvisioningState
                                                        modelAsString: true
                                                etag:
                                                  readOnly: true
                                                  type: string
                                                  description: A unique read-only
                                                    string that changes whenever the
                                                    resource is updated.
                                              description: Common resource representation.
                                              x-ms-azure-resource: true
                                            description: The application security
                                              group specified as source.
                                          destinationAddressPrefix:
                                            type: string
                                            description: The destination address prefix.
                                              CIDR or destination IP range. Asterisk
                                              '*' can also be used to match all source
                                              IPs. Default tags such as 'VirtualNetwork',
                                              'AzureLoadBalancer' and 'Internet' can
                                              also be used.
                                          destinationAddressPrefixes:
                                            type: array
                                            items:
                                              type: string
                                            description: The destination address prefixes.
                                              CIDR or destination IP ranges.
                                          destinationApplicationSecurityGroups:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                  description: Resource ID.
                                                name:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource name.
                                                type:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource type.
                                                location:
                                                  type: string
                                                  description: Resource location.
                                                tags:
                                                  type: object
                                                  additionalProperties:
                                                    type: string
                                                  description: Resource tags.
                                                properties:
                                                  x-ms-client-flatten: true
                                                  description: Properties of the application
                                                    security group.
                                                  properties:
                                                    resourceGuid:
                                                      readOnly: true
                                                      type: string
                                                      description: The resource GUID
                                                        property of the application
                                                        security group resource. It
                                                        uniquely identifies a resource,
                                                        even if the user changes its
                                                        name or migrate the resource
                                                        across subscriptions or resource
                                                        groups.
                                                    provisioningState:
                                                      readOnly: true
                                                      description: The provisioning
                                                        state of the application security
                                                        group resource.
                                                      type: string
                                                      enum:
                                                      - Succeeded
                                                      - Updating
                                                      - Deleting
                                                      - Failed
                                                      x-ms-enum:
                                                        name: ProvisioningState
                                                        modelAsString: true
                                                etag:
                                                  readOnly: true
                                                  type: string
                                                  description: A unique read-only
                                                    string that changes whenever the
                                                    resource is updated.
                                              description: Common resource representation.
                                              x-ms-azure-resource: true
                                            description: The application security
                                              group specified as destination.
                                          sourcePortRanges:
                                            type: array
                                            items:
                                              type: string
                                              description: The source port.
                                            description: The source port ranges.
                                          destinationPortRanges:
                                            type: array
                                            items:
                                              type: string
                                              description: The destination port.
                                            description: The destination port ranges.
                                          access:
                                            description: The network traffic is allowed
                                              or denied.
                                            type: string
                                            enum:
                                            - Allow
                                            - Deny
                                            x-ms-enum:
                                              name: SecurityRuleAccess
                                              modelAsString: true
                                          priority:
                                            type: integer
                                            format: int32
                                            description: The priority of the rule.
                                              The value can be between 100 and 4096.
                                              The priority number must be unique for
                                              each rule in the collection. The lower
                                              the priority number, the higher the
                                              priority of the rule.
                                          direction:
                                            description: The direction of the rule.
                                              The direction specifies if rule will
                                              be evaluated on incoming or outgoing
                                              traffic.
                                            type: string
                                            enum:
                                            - Inbound
                                            - Outbound
                                            x-ms-enum:
                                              name: SecurityRuleDirection
                                              modelAsString: true
                                          provisioningState:
                                            readOnly: true
                                            description: The provisioning state of
                                              the security rule resource.
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Updating
                                            - Deleting
                                            - Failed
                                            x-ms-enum:
                                              name: ProvisioningState
                                              modelAsString: true
                                        required:
                                        - protocol
                                        - access
                                        - priority
                                        - direction
                                      name:
                                        type: string
                                        description: The name of the resource that
                                          is unique within a resource group. This
                                          name can be used to access the resource.
                                      etag:
                                        readOnly: true
                                        type: string
                                        description: A unique read-only string that
                                          changes whenever the resource is updated.
                                      type:
                                        type: string
                                        description: The type of the resource.
                                    description: Reference to another subresource.
                                    x-ms-azure-resource: true
                            subnetAssociation:
                              description: Subnet and it's custom security rules.
                              properties:
                                id:
                                  readOnly: true
                                  type: string
                                  description: Subnet ID.
                                securityRules:
                                  type: array
                                  description: Collection of custom security rules.
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Resource ID.
                                      properties:
                                        x-ms-client-flatten: true
                                        description: Properties of the security rule.
                                        properties:
                                          description:
                                            type: string
                                            description: A description for this rule.
                                              Restricted to 140 chars.
                                          protocol:
                                            type: string
                                            description: Network protocol this rule
                                              applies to.
                                            enum:
                                            - Tcp
                                            - Udp
                                            - Icmp
                                            - Esp
                                            - '*'
                                            - Ah
                                            x-ms-enum:
                                              name: SecurityRuleProtocol
                                              modelAsString: true
                                          sourcePortRange:
                                            type: string
                                            description: The source port or range.
                                              Integer or range between 0 and 65535.
                                              Asterisk '*' can also be used to match
                                              all ports.
                                          destinationPortRange:
                                            type: string
                                            description: The destination port or range.
                                              Integer or range between 0 and 65535.
                                              Asterisk '*' can also be used to match
                                              all ports.
                                          sourceAddressPrefix:
                                            type: string
                                            description: The CIDR or source IP range.
                                              Asterisk '*' can also be used to match
                                              all source IPs. Default tags such as
                                              'VirtualNetwork', 'AzureLoadBalancer'
                                              and 'Internet' can also be used. If
                                              this is an ingress rule, specifies where
                                              network traffic originates from.
                                          sourceAddressPrefixes:
                                            type: array
                                            items:
                                              type: string
                                            description: The CIDR or source IP ranges.
                                          sourceApplicationSecurityGroups:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                  description: Resource ID.
                                                name:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource name.
                                                type:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource type.
                                                location:
                                                  type: string
                                                  description: Resource location.
                                                tags:
                                                  type: object
                                                  additionalProperties:
                                                    type: string
                                                  description: Resource tags.
                                                properties:
                                                  x-ms-client-flatten: true
                                                  description: Properties of the application
                                                    security group.
                                                  properties:
                                                    resourceGuid:
                                                      readOnly: true
                                                      type: string
                                                      description: The resource GUID
                                                        property of the application
                                                        security group resource. It
                                                        uniquely identifies a resource,
                                                        even if the user changes its
                                                        name or migrate the resource
                                                        across subscriptions or resource
                                                        groups.
                                                    provisioningState:
                                                      readOnly: true
                                                      description: The provisioning
                                                        state of the application security
                                                        group resource.
                                                      type: string
                                                      enum:
                                                      - Succeeded
                                                      - Updating
                                                      - Deleting
                                                      - Failed
                                                      x-ms-enum:
                                                        name: ProvisioningState
                                                        modelAsString: true
                                                etag:
                                                  readOnly: true
                                                  type: string
                                                  description: A unique read-only
                                                    string that changes whenever the
                                                    resource is updated.
                                              description: Common resource representation.
                                              x-ms-azure-resource: true
                                            description: The application security
                                              group specified as source.
                                          destinationAddressPrefix:
                                            type: string
                                            description: The destination address prefix.
                                              CIDR or destination IP range. Asterisk
                                              '*' can also be used to match all source
                                              IPs. Default tags such as 'VirtualNetwork',
                                              'AzureLoadBalancer' and 'Internet' can
                                              also be used.
                                          destinationAddressPrefixes:
                                            type: array
                                            items:
                                              type: string
                                            description: The destination address prefixes.
                                              CIDR or destination IP ranges.
                                          destinationApplicationSecurityGroups:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: string
                                                  description: Resource ID.
                                                name:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource name.
                                                type:
                                                  readOnly: true
                                                  type: string
                                                  description: Resource type.
                                                location:
                                                  type: string
                                                  description: Resource location.
                                                tags:
                                                  type: object
                                                  additionalProperties:
                                                    type: string
                                                  description: Resource tags.
                                                properties:
                                                  x-ms-client-flatten: true
                                                  description: Properties of the application
                                                    security group.
                                                  properties:
                                                    resourceGuid:
                                                      readOnly: true
                                                      type: string
                                                      description: The resource GUID
                                                        property of the application
                                                        security group resource. It
                                                        uniquely identifies a resource,
                                                        even if the user changes its
                                                        name or migrate the resource
                                                        across subscriptions or resource
                                                        groups.
                                                    provisioningState:
                                                      readOnly: true
                                                      description: The provisioning
                                                        state of the application security
                                                        group resource.
                                                      type: string
                                                      enum:
                                                      - Succeeded
                                                      - Updating
                                                      - Deleting
                                                      - Failed
                                                      x-ms-enum:
                                                        name: ProvisioningState
                                                        modelAsString: true
                                                etag:
                                                  readOnly: true
                                                  type: string
                                                  description: A unique read-only
                                                    string that changes whenever the
                                                    resource is updated.
                                              description: Common resource representation.
                                              x-ms-azure-resource: true
                                            description: The application security
                                              group specified as destination.
                                          sourcePortRanges:
                                            type: array
                                            items:
                                              type: string
                                              description: The source port.
                                            description: The source port ranges.
                                          destinationPortRanges:
                                            type: array
                                            items:
                                              type: string
                                              description: The destination port.
                                            description: The destination port ranges.
                                          access:
                                            description: The network traffic is allowed
                                              or denied.
                                            type: string
                                            enum:
                                            - Allow
                                            - Deny
                                            x-ms-enum:
                                              name: SecurityRuleAccess
                                              modelAsString: true
                                          priority:
                                            type: integer
                                            format: int32
                                            description: The priority of the rule.
                                              The value can be between 100 and 4096.
                                              The priority number must be unique for
                                              each rule in the collection. The lower
                                              the priority number, the higher the
                                              priority of the rule.
                                          direction:
                                            description: The direction of the rule.
                                              The direction specifies if rule will
                                              be evaluated on incoming or outgoing
                                              traffic.
                                            type: string
                                            enum:
                                            - Inbound
                                            - Outbound
                                            x-ms-enum:
                                              name: SecurityRuleDirection
                                              modelAsString: true
                                          provisioningState:
                                            readOnly: true
                                            description: The provisioning state of
                                              the security rule resource.
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Updating
                                            - Deleting
                                            - Failed
                                            x-ms-enum:
                                              name: ProvisioningState
                                              modelAsString: true
                                        required:
                                        - protocol
                                        - access
                                        - priority
                                        - direction
                                      name:
                                        type: string
                                        description: The name of the resource that
                                          is unique within a resource group. This
                                          name can be used to access the resource.
                                      etag:
                                        readOnly: true
                                        type: string
                                        description: A unique read-only string that
                                          changes whenever the resource is updated.
                                      type:
                                        type: string
                                        description: The type of the resource.
                                    description: Reference to another subresource.
                                    x-ms-azure-resource: true
                            defaultSecurityRules:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                  properties:
                                    x-ms-client-flatten: true
                                    description: Properties of the security rule.
                                    properties:
                                      description:
                                        type: string
                                        description: A description for this rule.
                                          Restricted to 140 chars.
                                      protocol:
                                        type: string
                                        description: Network protocol this rule applies
                                          to.
                                        enum:
                                        - Tcp
                                        - Udp
                                        - Icmp
                                        - Esp
                                        - '*'
                                        - Ah
                                        x-ms-enum:
                                          name: SecurityRuleProtocol
                                          modelAsString: true
                                      sourcePortRange:
                                        type: string
                                        description: The source port or range. Integer
                                          or range between 0 and 65535. Asterisk '*'
                                          can also be used to match all ports.
                                      destinationPortRange:
                                        type: string
                                        description: The destination port or range.
                                          Integer or range between 0 and 65535. Asterisk
                                          '*' can also be used to match all ports.
                                      sourceAddressPrefix:
                                        type: string
                                        description: The CIDR or source IP range.
                                          Asterisk '*' can also be used to match all
                                          source IPs. Default tags such as 'VirtualNetwork',
                                          'AzureLoadBalancer' and 'Internet' can also
                                          be used. If this is an ingress rule, specifies
                                          where network traffic originates from.
                                      sourceAddressPrefixes:
                                        type: array
                                        items:
                                          type: string
                                        description: The CIDR or source IP ranges.
                                      sourceApplicationSecurityGroups:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                              description: Resource ID.
                                            name:
                                              readOnly: true
                                              type: string
                                              description: Resource name.
                                            type:
                                              readOnly: true
                                              type: string
                                              description: Resource type.
                                            location:
                                              type: string
                                              description: Resource location.
                                            tags:
                                              type: object
                                              additionalProperties:
                                                type: string
                                              description: Resource tags.
                                            properties:
                                              x-ms-client-flatten: true
                                              description: Properties of the application
                                                security group.
                                              properties:
                                                resourceGuid:
                                                  readOnly: true
                                                  type: string
                                                  description: The resource GUID property
                                                    of the application security group
                                                    resource. It uniquely identifies
                                                    a resource, even if the user changes
                                                    its name or migrate the resource
                                                    across subscriptions or resource
                                                    groups.
                                                provisioningState:
                                                  readOnly: true
                                                  description: The provisioning state
                                                    of the application security group
                                                    resource.
                                                  type: string
                                                  enum:
                                                  - Succeeded
                                                  - Updating
                                                  - Deleting
                                                  - Failed
                                                  x-ms-enum:
                                                    name: ProvisioningState
                                                    modelAsString: true
                                            etag:
                                              readOnly: true
                                              type: string
                                              description: A unique read-only string
                                                that changes whenever the resource
                                                is updated.
                                          description: Common resource representation.
                                          x-ms-azure-resource: true
                                        description: The application security group
                                          specified as source.
                                      destinationAddressPrefix:
                                        type: string
                                        description: The destination address prefix.
                                          CIDR or destination IP range. Asterisk '*'
                                          can also be used to match all source IPs.
                                          Default tags such as 'VirtualNetwork', 'AzureLoadBalancer'
                                          and 'Internet' can also be used.
                                      destinationAddressPrefixes:
                                        type: array
                                        items:
                                          type: string
                                        description: The destination address prefixes.
                                          CIDR or destination IP ranges.
                                      destinationApplicationSecurityGroups:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                              description: Resource ID.
                                            name:
                                              readOnly: true
                                              type: string
                                              description: Resource name.
                                            type:
                                              readOnly: true
                                              type: string
                                              description: Resource type.
                                            location:
                                              type: string
                                              description: Resource location.
                                            tags:
                                              type: object
                                              additionalProperties:
                                                type: string
                                              description: Resource tags.
                                            properties:
                                              x-ms-client-flatten: true
                                              description: Properties of the application
                                                security group.
                                              properties:
                                                resourceGuid:
                                                  readOnly: true
                                                  type: string
                                                  description: The resource GUID property
                                                    of the application security group
                                                    resource. It uniquely identifies
                                                    a resource, even if the user changes
                                                    its name or migrate the resource
                                                    across subscriptions or resource
                                                    groups.
                                                provisioningState:
                                                  readOnly: true
                                                  description: The provisioning state
                                                    of the application security group
                                                    resource.
                                                  type: string
                                                  enum:
                                                  - Succeeded
                                                  - Updating
                                                  - Deleting
                                                  - Failed
                                                  x-ms-enum:
                                                    name: ProvisioningState
                                                    modelAsString: true
                                            etag:
                                              readOnly: true
                                              type: string
                                              description: A unique read-only string
                                                that changes whenever the resource
                                                is updated.
                                          description: Common resource representation.
                                          x-ms-azure-resource: true
                                        description: The application security group
                                          specified as destination.
                                      sourcePortRanges:
                                        type: array
                                        items:
                                          type: string
                                          description: The source port.
                                        description: The source port ranges.
                                      destinationPortRanges:
                                        type: array
                                        items:
                                          type: string
                                          description: The destination port.
                                        description: The destination port ranges.
                                      access:
                                        description: The network traffic is allowed
                                          or denied.
                                        type: string
                                        enum:
                                        - Allow
                                        - Deny
                                        x-ms-enum:
                                          name: SecurityRuleAccess
                                          modelAsString: true
                                      priority:
                                        type: integer
                                        format: int32
                                        description: The priority of the rule. The
                                          value can be between 100 and 4096. The priority
                                          number must be unique for each rule in the
                                          collection. The lower the priority number,
                                          the higher the priority of the rule.
                                      direction:
                                        description: The direction of the rule. The
                                          direction specifies if rule will be evaluated
                                          on incoming or outgoing traffic.
                                        type: string
                                        enum:
                                        - Inbound
                                        - Outbound
                                        x-ms-enum:
                                          name: SecurityRuleDirection
                                          modelAsString: true
                                      provisioningState:
                                        readOnly: true
                                        description: The provisioning state of the
                                          security rule resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Updating
[...]
