openapi: 3.0.0
info:
  title: ConnectivityConfiguration
  description: The Microsoft Azure Virtual Network Manager Connectivity Configuration
    API provides a RESTful set of web services that interact with Microsoft Azure
    Network Manager service to manage your network resources.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/connectivityConfigurations/{configurationName}
  : parameters:
    - name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    - name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
    - name: configurationName
      in: path
      required: true
      description: The name of the network manager connectivity configuration.
      x-ms-parameter-location: method
      schema:
        type: string
    get:
      tags:
      - ConnectivityConfigurations
      operationId: ConnectivityConfigurations_Get
      description: Gets a Network Connectivity Configuration, specified by the resource
        group, network manager name, and connectivity Configuration name
      responses:
        '200':
          description: Get successful. The operation returns the specified Managed
            Network Connectivity Configuration resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a network manager connectivity configuration
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the connectivity configuration.
                      connectivityTopology:
                        type: string
                        enum:
                        - HubAndSpoke
                        - Mesh
                        x-ms-enum:
                          name: ConnectivityTopology
                          modelAsString: true
                        description: Connectivity topology type.
                      hubs:
                        type: array
                        x-ms-identifiers:
                        - resourceId
                        items:
                          type: object
                          properties:
                            resourceId:
                              type: string
                              description: Resource Id.
                            resourceType:
                              type: string
                              description: Resource Type.
                          description: Hub Item.
                        description: List of hubItems
                      isGlobal:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: IsGlobal
                          modelAsString: true
                        description: Flag if global mesh is supported.
                      connectivityCapabilities:
                        type: object
                        description: Collection of additional settings to enhance
                          specific topology behaviors of the connectivity configuration
                          resource.
                        properties:
                          connectedGroupPrivateEndpointsScale:
                            type: string
                            enum:
                            - Standard
                            - HighScale
                            x-ms-enum:
                              name: ConnectedGroupPrivateEndpointsScale
                              modelAsString: true
                              values:
                              - value: Standard
                                description: Default. Allows for up to 2K private
                                  endpoints in the connected group.
                              - value: HighScale
                                description: Allows for up to 20K private endpoints
                                  in the connected group.
                            description: Option indicating the scale of private endpoints
                              allowed in the connected group of the connectivity configuration.
                            default: Standard
                          connectedGroupAddressOverlap:
                            type: string
                            enum:
                            - Allowed
                            - Disallowed
                            x-ms-enum:
                              name: ConnectedGroupAddressOverlap
                              modelAsString: true
                              values:
                              - value: Allowed
                                description: Default. Allows connected group members
                                  to have overlapping IP address space.
                              - value: Disallowed
                                description: Strictly disallows connected group members
                                  from having overlapping IP address space. Prevents
                                  the addition of a virtual network with overlapping
                                  address to the connected group, blocks peering between
                                  a virtual network and a connected group member if
                                  any connected group member has an overlapping range,
                                  and restricts address space modifications that would
                                  introduce overlap.
                            description: Behavior to handle overlapped IP address
                              space among members of the connected group of the connectivity
                              configuration.
                            default: Allowed
                          peeringEnforcement:
                            type: string
                            enum:
                            - Unenforced
                            - Enforced
                            x-ms-enum:
                              name: PeeringEnforcement
                              modelAsString: true
                              values:
                              - value: Unenforced
                                description: Default. Peerings created by the connectivity
                                  configuration may be modified or deleted outside
                                  of the network manager.
                              - value: Enforced
                                description: Peerings created by the connectivity
                                  configuration will not be modifiable or deletable
                                  outside of the network manager.
                            description: Option indicating enforcement of peerings
                              created by the connectivity configuration.
                            default: Unenforced
                        required:
                        - connectedGroupPrivateEndpointsScale
                        - connectedGroupAddressOverlap
                        - peeringEnforcement
                      appliesToGroups:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network group Id.
                            useHubGateway:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: UseHubGateway
                                modelAsString: true
                              description: Flag if need to use hub gateway.
                            isGlobal:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: IsGlobal
                                modelAsString: true
                              description: Flag if global is supported.
                            groupConnectivity:
                              type: string
                              enum:
                              - None
                              - DirectlyConnected
                              x-ms-enum:
                                name: GroupConnectivity
                                modelAsString: true
                              description: Group connectivity type.
                          description: Connectivity group item.
                          required:
                          - networkGroupId
                          - groupConnectivity
                        description: Groups for configuration
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the connectivity configuration
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      deleteExistingPeering:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: DeleteExistingPeering
                          modelAsString: true
                        description: Flag if need to remove current existing peerings.
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - connectivityTopology
                    - appliesToGroups
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Resource Provider error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - ConnectivityConfigurations
      operationId: ConnectivityConfigurations_CreateOrUpdate
      description: Creates/Updates a new network manager connectivity configuration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of a network manager connectivity configuration
                  type: object
                  properties:
                    description:
                      type: string
                      description: A description of the connectivity configuration.
                    connectivityTopology:
                      type: string
                      enum:
                      - HubAndSpoke
                      - Mesh
                      x-ms-enum:
                        name: ConnectivityTopology
                        modelAsString: true
                      description: Connectivity topology type.
                    hubs:
                      type: array
                      x-ms-identifiers:
                      - resourceId
                      items:
                        type: object
                        properties:
                          resourceId:
                            type: string
                            description: Resource Id.
                          resourceType:
                            type: string
                            description: Resource Type.
                        description: Hub Item.
                      description: List of hubItems
                    isGlobal:
                      type: string
                      enum:
                      - 'False'
                      - 'True'
                      x-ms-enum:
                        name: IsGlobal
                        modelAsString: true
                      description: Flag if global mesh is supported.
                    connectivityCapabilities:
                      type: object
                      description: Collection of additional settings to enhance specific
                        topology behaviors of the connectivity configuration resource.
                      properties:
                        connectedGroupPrivateEndpointsScale:
                          type: string
                          enum:
                          - Standard
                          - HighScale
                          x-ms-enum:
                            name: ConnectedGroupPrivateEndpointsScale
                            modelAsString: true
                            values:
                            - value: Standard
                              description: Default. Allows for up to 2K private endpoints
                                in the connected group.
                            - value: HighScale
                              description: Allows for up to 20K private endpoints
                                in the connected group.
                          description: Option indicating the scale of private endpoints
                            allowed in the connected group of the connectivity configuration.
                          default: Standard
                        connectedGroupAddressOverlap:
                          type: string
                          enum:
                          - Allowed
                          - Disallowed
                          x-ms-enum:
                            name: ConnectedGroupAddressOverlap
                            modelAsString: true
                            values:
                            - value: Allowed
                              description: Default. Allows connected group members
                                to have overlapping IP address space.
                            - value: Disallowed
                              description: Strictly disallows connected group members
                                from having overlapping IP address space. Prevents
                                the addition of a virtual network with overlapping
                                address to the connected group, blocks peering between
                                a virtual network and a connected group member if
                                any connected group member has an overlapping range,
                                and restricts address space modifications that would
                                introduce overlap.
                          description: Behavior to handle overlapped IP address space
                            among members of the connected group of the connectivity
                            configuration.
                          default: Allowed
                        peeringEnforcement:
                          type: string
                          enum:
                          - Unenforced
                          - Enforced
                          x-ms-enum:
                            name: PeeringEnforcement
                            modelAsString: true
                            values:
                            - value: Unenforced
                              description: Default. Peerings created by the connectivity
                                configuration may be modified or deleted outside of
                                the network manager.
                            - value: Enforced
                              description: Peerings created by the connectivity configuration
                                will not be modifiable or deletable outside of the
                                network manager.
                          description: Option indicating enforcement of peerings created
                            by the connectivity configuration.
                          default: Unenforced
                      required:
                      - connectedGroupPrivateEndpointsScale
                      - connectedGroupAddressOverlap
                      - peeringEnforcement
                    appliesToGroups:
                      type: array
                      x-ms-identifiers:
                      - networkGroupId
                      items:
                        type: object
                        properties:
                          networkGroupId:
                            type: string
                            description: Network group Id.
                          useHubGateway:
                            type: string
                            enum:
                            - 'False'
                            - 'True'
                            x-ms-enum:
                              name: UseHubGateway
                              modelAsString: true
                            description: Flag if need to use hub gateway.
                          isGlobal:
                            type: string
                            enum:
                            - 'False'
                            - 'True'
                            x-ms-enum:
                              name: IsGlobal
                              modelAsString: true
                            description: Flag if global is supported.
                          groupConnectivity:
                            type: string
                            enum:
                            - None
                            - DirectlyConnected
                            x-ms-enum:
                              name: GroupConnectivity
                              modelAsString: true
                            description: Group connectivity type.
                        description: Connectivity group item.
                        required:
                        - networkGroupId
                        - groupConnectivity
                      description: Groups for configuration
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the connectivity configuration
                        resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    deleteExistingPeering:
                      type: string
                      enum:
                      - 'False'
                      - 'True'
                      x-ms-enum:
                        name: DeleteExistingPeering
                        modelAsString: true
                      description: Flag if need to remove current existing peerings.
                    resourceGuid:
                      type: string
                      readOnly: true
                      description: Unique identifier for this resource.
                  required:
                  - connectivityTopology
                  - appliesToGroups
                systemData:
                  readOnly: true
                  description: The system metadata related to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              description: Proxy resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to create/update a network manager connectivity
          configuration
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting network
            manager connectivity configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a network manager connectivity configuration
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the connectivity configuration.
                      connectivityTopology:
                        type: string
                        enum:
                        - HubAndSpoke
                        - Mesh
                        x-ms-enum:
                          name: ConnectivityTopology
                          modelAsString: true
                        description: Connectivity topology type.
                      hubs:
                        type: array
                        x-ms-identifiers:
                        - resourceId
                        items:
                          type: object
                          properties:
                            resourceId:
                              type: string
                              description: Resource Id.
                            resourceType:
                              type: string
                              description: Resource Type.
                          description: Hub Item.
                        description: List of hubItems
                      isGlobal:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: IsGlobal
                          modelAsString: true
                        description: Flag if global mesh is supported.
                      connectivityCapabilities:
                        type: object
                        description: Collection of additional settings to enhance
                          specific topology behaviors of the connectivity configuration
                          resource.
                        properties:
                          connectedGroupPrivateEndpointsScale:
                            type: string
                            enum:
                            - Standard
                            - HighScale
                            x-ms-enum:
                              name: ConnectedGroupPrivateEndpointsScale
                              modelAsString: true
                              values:
                              - value: Standard
                                description: Default. Allows for up to 2K private
                                  endpoints in the connected group.
                              - value: HighScale
                                description: Allows for up to 20K private endpoints
                                  in the connected group.
                            description: Option indicating the scale of private endpoints
                              allowed in the connected group of the connectivity configuration.
                            default: Standard
                          connectedGroupAddressOverlap:
                            type: string
                            enum:
                            - Allowed
                            - Disallowed
                            x-ms-enum:
                              name: ConnectedGroupAddressOverlap
                              modelAsString: true
                              values:
                              - value: Allowed
                                description: Default. Allows connected group members
                                  to have overlapping IP address space.
                              - value: Disallowed
                                description: Strictly disallows connected group members
                                  from having overlapping IP address space. Prevents
                                  the addition of a virtual network with overlapping
                                  address to the connected group, blocks peering between
                                  a virtual network and a connected group member if
                                  any connected group member has an overlapping range,
                                  and restricts address space modifications that would
                                  introduce overlap.
                            description: Behavior to handle overlapped IP address
                              space among members of the connected group of the connectivity
                              configuration.
                            default: Allowed
                          peeringEnforcement:
                            type: string
                            enum:
                            - Unenforced
                            - Enforced
                            x-ms-enum:
                              name: PeeringEnforcement
                              modelAsString: true
                              values:
                              - value: Unenforced
                                description: Default. Peerings created by the connectivity
                                  configuration may be modified or deleted outside
                                  of the network manager.
                              - value: Enforced
                                description: Peerings created by the connectivity
                                  configuration will not be modifiable or deletable
                                  outside of the network manager.
                            description: Option indicating enforcement of peerings
                              created by the connectivity configuration.
                            default: Unenforced
                        required:
                        - connectedGroupPrivateEndpointsScale
                        - connectedGroupAddressOverlap
                        - peeringEnforcement
                      appliesToGroups:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network group Id.
                            useHubGateway:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: UseHubGateway
                                modelAsString: true
                              description: Flag if need to use hub gateway.
                            isGlobal:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: IsGlobal
                                modelAsString: true
                              description: Flag if global is supported.
                            groupConnectivity:
                              type: string
                              enum:
                              - None
                              - DirectlyConnected
                              x-ms-enum:
                                name: GroupConnectivity
                                modelAsString: true
                              description: Group connectivity type.
                          description: Connectivity group item.
                          required:
                          - networkGroupId
                          - groupConnectivity
                        description: Groups for configuration
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the connectivity configuration
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      deleteExistingPeering:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: DeleteExistingPeering
                          modelAsString: true
                        description: Flag if need to remove current existing peerings.
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - connectivityTopology
                    - appliesToGroups
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting network
            manager connectivity configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a network manager connectivity configuration
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the connectivity configuration.
                      connectivityTopology:
                        type: string
                        enum:
                        - HubAndSpoke
                        - Mesh
                        x-ms-enum:
                          name: ConnectivityTopology
                          modelAsString: true
                        description: Connectivity topology type.
                      hubs:
                        type: array
                        x-ms-identifiers:
                        - resourceId
                        items:
                          type: object
                          properties:
                            resourceId:
                              type: string
                              description: Resource Id.
                            resourceType:
                              type: string
                              description: Resource Type.
                          description: Hub Item.
                        description: List of hubItems
                      isGlobal:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: IsGlobal
                          modelAsString: true
                        description: Flag if global mesh is supported.
                      connectivityCapabilities:
                        type: object
                        description: Collection of additional settings to enhance
                          specific topology behaviors of the connectivity configuration
                          resource.
                        properties:
                          connectedGroupPrivateEndpointsScale:
                            type: string
                            enum:
                            - Standard
                            - HighScale
                            x-ms-enum:
                              name: ConnectedGroupPrivateEndpointsScale
                              modelAsString: true
                              values:
                              - value: Standard
                                description: Default. Allows for up to 2K private
                                  endpoints in the connected group.
                              - value: HighScale
                                description: Allows for up to 20K private endpoints
                                  in the connected group.
                            description: Option indicating the scale of private endpoints
                              allowed in the connected group of the connectivity configuration.
                            default: Standard
                          connectedGroupAddressOverlap:
                            type: string
                            enum:
                            - Allowed
                            - Disallowed
                            x-ms-enum:
                              name: ConnectedGroupAddressOverlap
                              modelAsString: true
                              values:
                              - value: Allowed
                                description: Default. Allows connected group members
                                  to have overlapping IP address space.
                              - value: Disallowed
                                description: Strictly disallows connected group members
                                  from having overlapping IP address space. Prevents
                                  the addition of a virtual network with overlapping
                                  address to the connected group, blocks peering between
                                  a virtual network and a connected group member if
                                  any connected group member has an overlapping range,
                                  and restricts address space modifications that would
                                  introduce overlap.
                            description: Behavior to handle overlapped IP address
                              space among members of the connected group of the connectivity
                              configuration.
                            default: Allowed
                          peeringEnforcement:
                            type: string
                            enum:
                            - Unenforced
                            - Enforced
                            x-ms-enum:
                              name: PeeringEnforcement
                              modelAsString: true
                              values:
                              - value: Unenforced
                                description: Default. Peerings created by the connectivity
                                  configuration may be modified or deleted outside
                                  of the network manager.
                              - value: Enforced
                                description: Peerings created by the connectivity
                                  configuration will not be modifiable or deletable
                                  outside of the network manager.
                            description: Option indicating enforcement of peerings
                              created by the connectivity configuration.
                            default: Unenforced
                        required:
                        - connectedGroupPrivateEndpointsScale
                        - connectedGroupAddressOverlap
                        - peeringEnforcement
                      appliesToGroups:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network group Id.
                            useHubGateway:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: UseHubGateway
                                modelAsString: true
                              description: Flag if need to use hub gateway.
                            isGlobal:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: IsGlobal
                                modelAsString: true
                              description: Flag if global is supported.
                            groupConnectivity:
                              type: string
                              enum:
                              - None
                              - DirectlyConnected
                              x-ms-enum:
                                name: GroupConnectivity
                                modelAsString: true
                              description: Group connectivity type.
                          description: Connectivity group item.
                          required:
                          - networkGroupId
                          - groupConnectivity
                        description: Groups for configuration
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the connectivity configuration
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      deleteExistingPeering:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: DeleteExistingPeering
                          modelAsString: true
                        description: Flag if need to remove current existing peerings.
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - connectivityTopology
                    - appliesToGroups
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Resource Provider error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    delete:
      tags:
      - ConnectivityConfigurations
      operationId: ConnectivityConfigurations_Delete
      description: Deletes a network manager connectivity configuration, specified
        by the resource group, network manager name, and connectivity configuration
        name
      parameters:
      - name: force
        in: query
        required: false
        description: Deletes the resource even if it is part of a deployed configuration.
          If the configuration has been deployed, the service will do a cleanup deployment
          in the background, prior to the delete.
        x-ms-parameter-location: method
        schema:
          type: boolean
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and will complete asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: Request successful. The resource does not exist.
        default:
          description: Resource Provider error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/connectivityConfigurations
  : get:
      tags:
      - ConnectivityConfigurations
      operationId: ConnectivityConfigurations_List
      description: Lists all the network manager connectivity configuration in a specified
        network manager.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: $top
        description: An optional query parameter which specifies the maximum number
          of records to be returned by the server.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 20
      - name: $skipToken
        description: SkipToken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skipToken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Get successful. The operation returns all network manager connectivity
            configuration resources in the specified network manager, in a paginated
            format
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of a network manager connectivity
                            configuration
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description of the connectivity configuration.
                            connectivityTopology:
                              type: string
                              enum:
                              - HubAndSpoke
                              - Mesh
                              x-ms-enum:
                                name: ConnectivityTopology
                                modelAsString: true
                              description: Connectivity topology type.
                            hubs:
                              type: array
                              x-ms-identifiers:
                              - resourceId
                              items:
                                type: object
                                properties:
                                  resourceId:
                                    type: string
                                    description: Resource Id.
                                  resourceType:
                                    type: string
                                    description: Resource Type.
                                description: Hub Item.
                              description: List of hubItems
                            isGlobal:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: IsGlobal
                                modelAsString: true
                              description: Flag if global mesh is supported.
                            connectivityCapabilities:
                              type: object
                              description: Collection of additional settings to enhance
                                specific topology behaviors of the connectivity configuration
                                resource.
                              properties:
                                connectedGroupPrivateEndpointsScale:
                                  type: string
                                  enum:
                                  - Standard
                                  - HighScale
                                  x-ms-enum:
                                    name: ConnectedGroupPrivateEndpointsScale
                                    modelAsString: true
                                    values:
                                    - value: Standard
                                      description: Default. Allows for up to 2K private
                                        endpoints in the connected group.
                                    - value: HighScale
                                      description: Allows for up to 20K private endpoints
                                        in the connected group.
                                  description: Option indicating the scale of private
                                    endpoints allowed in the connected group of the
                                    connectivity configuration.
                                  default: Standard
                                connectedGroupAddressOverlap:
                                  type: string
                                  enum:
                                  - Allowed
                                  - Disallowed
                                  x-ms-enum:
                                    name: ConnectedGroupAddressOverlap
                                    modelAsString: true
                                    values:
                                    - value: Allowed
                                      description: Default. Allows connected group
                                        members to have overlapping IP address space.
                                    - value: Disallowed
                                      description: Strictly disallows connected group
                                        members from having overlapping IP address
                                        space. Prevents the addition of a virtual
                                        network with overlapping address to the connected
                                        group, blocks peering between a virtual network
                                        and a connected group member if any connected
                                        group member has an overlapping range, and
                                        restricts address space modifications that
                                        would introduce overlap.
                                  description: Behavior to handle overlapped IP address
                                    space among members of the connected group of
                                    the connectivity configuration.
                                  default: Allowed
                                peeringEnforcement:
                                  type: string
                                  enum:
                                  - Unenforced
                                  - Enforced
                                  x-ms-enum:
                                    name: PeeringEnforcement
                                    modelAsString: true
                                    values:
                                    - value: Unenforced
                                      description: Default. Peerings created by the
                                        connectivity configuration may be modified
                                        or deleted outside of the network manager.
                                    - value: Enforced
                                      description: Peerings created by the connectivity
                                        configuration will not be modifiable or deletable
                                        outside of the network manager.
                                  description: Option indicating enforcement of peerings
                                    created by the connectivity configuration.
                                  default: Unenforced
                              required:
                              - connectedGroupPrivateEndpointsScale
                              - connectedGroupAddressOverlap
                              - peeringEnforcement
                            appliesToGroups:
                              type: array
                              x-ms-identifiers:
                              - networkGroupId
                              items:
                                type: object
                                properties:
                                  networkGroupId:
                                    type: string
                                    description: Network group Id.
                                  useHubGateway:
                                    type: string
                                    enum:
                                    - 'False'
                                    - 'True'
                                    x-ms-enum:
                                      name: UseHubGateway
                                      modelAsString: true
                                    description: Flag if need to use hub gateway.
                                  isGlobal:
                                    type: string
                                    enum:
                                    - 'False'
                                    - 'True'
                                    x-ms-enum:
                                      name: IsGlobal
                                      modelAsString: true
                                    description: Flag if global is supported.
                                  groupConnectivity:
                                    type: string
                                    enum:
                                    - None
                                    - DirectlyConnected
                                    x-ms-enum:
                                      name: GroupConnectivity
                                      modelAsString: true
                                    description: Group connectivity type.
                                description: Connectivity group item.
                                required:
                                - networkGroupId
                                - groupConnectivity
                              description: Groups for configuration
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the connectivity
                                configuration resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            deleteExistingPeering:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: DeleteExistingPeering
                                modelAsString: true
                              description: Flag if need to remove current existing
                                peerings.
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                          required:
                          - connectivityTopology
                          - appliesToGroups
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Proxy resource representation.
                      x-ms-azure-resource: true
                    description: Gets a page of Connectivity Configurations
                  nextLink:
                    type: string
                    description: Gets the URL to get the next page of results.
                description: Result of the request to list network manager connectivity
                  configurations. It contains a list of configurations and a link
                  to get the next set of results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ConnectivityConfigurationNameParameter:
      name: configurationName
      in: path
      required: true
      description: The name of the network manager connectivity configuration.
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number
        of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 20
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial
        result. If a previous response contains a nextLink element, the value of the
        nextLink element will include a skipToken parameter that specifies a starting
        point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ForceDeleteParameter:
      name: force
      in: query
      required: false
      description: Deletes the resource even if it is part of a deployed configuration.
        If the configuration has been deployed, the service will do a cleanup deployment
        in the background, prior to the delete.
      x-ms-parameter-location: method
      schema:
        type: boolean
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ConnectivityConfigurationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              etag:
                readOnly: true
                type: string
                description: A unique read-only string that changes whenever the resource
                  is updated.
              properties:
                x-ms-client-flatten: true
                description: Properties of a network manager connectivity configuration
                type: object
                properties:
                  description:
                    type: string
                    description: A description of the connectivity configuration.
                  connectivityTopology:
                    type: string
                    enum:
                    - HubAndSpoke
                    - Mesh
                    x-ms-enum:
                      name: ConnectivityTopology
                      modelAsString: true
                    description: Connectivity topology type.
                  hubs:
                    type: array
                    x-ms-identifiers:
                    - resourceId
                    items:
                      type: object
                      properties:
                        resourceId:
                          type: string
                          description: Resource Id.
                        resourceType:
                          type: string
                          description: Resource Type.
                      description: Hub Item.
                    description: List of hubItems
                  isGlobal:
                    type: string
                    enum:
                    - 'False'
                    - 'True'
                    x-ms-enum:
                      name: IsGlobal
                      modelAsString: true
                    description: Flag if global mesh is supported.
                  connectivityCapabilities:
                    type: object
                    description: Collection of additional settings to enhance specific
                      topology behaviors of the connectivity configuration resource.
                    properties:
                      connectedGroupPrivateEndpointsScale:
                        type: string
                        enum:
                        - Standard
                        - HighScale
                        x-ms-enum:
                          name: ConnectedGroupPrivateEndpointsScale
                          modelAsString: true
                          values:
                          - value: Standard
                            description: Default. Allows for up to 2K private endpoints
                              in the connected group.
                          - value: HighScale
                            description: Allows for up to 20K private endpoints in
                              the connected group.
                        description: Option indicating the scale of private endpoints
                          allowed in the connected group of the connectivity configuration.
                        default: Standard
                      connectedGroupAddressOverlap:
                        type: string
                        enum:
                        - Allowed
                        - Disallowed
                        x-ms-enum:
                          name: ConnectedGroupAddressOverlap
                          modelAsString: true
                          values:
                          - value: Allowed
                            description: Default. Allows connected group members to
                              have overlapping IP address space.
                          - value: Disallowed
                            description: Strictly disallows connected group members
                              from having overlapping IP address space. Prevents the
                              addition of a virtual network with overlapping address
                              to the connected group, blocks peering between a virtual
                              network and a connected group member if any connected
                              group member has an overlapping range, and restricts
                              address space modifications that would introduce overlap.
                        description: Behavior to handle overlapped IP address space
                          among members of the connected group of the connectivity
                          configuration.
                        default: Allowed
                      peeringEnforcement:
                        type: string
                        enum:
                        - Unenforced
                        - Enforced
                        x-ms-enum:
                          name: PeeringEnforcement
                          modelAsString: true
                          values:
                          - value: Unenforced
                            description: Default. Peerings created by the connectivity
                              configuration may be modified or deleted outside of
                              the network manager.
                          - value: Enforced
                            description: Peerings created by the connectivity configuration
                              will not be modifiable or deletable outside of the network
                              manager.
                        description: Option indicating enforcement of peerings created
                          by the connectivity configuration.
                        default: Unenforced
                    required:
                    - connectedGroupPrivateEndpointsScale
                    - connectedGroupAddressOverlap
                    - peeringEnforcement
                  appliesToGroups:
                    type: array
                    x-ms-identifiers:
                    - networkGroupId
                    items:
                      type: object
                      properties:
                        networkGroupId:
                          type: string
                          description: Network group Id.
                        useHubGateway:
                          type: string
                          enum:
                          - 'False'
                          - 'True'
                          x-ms-enum:
                            name: UseHubGateway
                            modelAsString: true
                          description: Flag if need to use hub gateway.
                        isGlobal:
                          type: string
                          enum:
                          - 'False'
                          - 'True'
                          x-ms-enum:
                            name: IsGlobal
                            modelAsString: true
                          description: Flag if global is supported.
                        groupConnectivity:
                          type: string
                          enum:
                          - None
                          - DirectlyConnected
                          x-ms-enum:
                            name: GroupConnectivity
                            modelAsString: true
                          description: Group connectivity type.
                      description: Connectivity group item.
                      required:
                      - networkGroupId
                      - groupConnectivity
                    description: Groups for configuration
                  provisioningState:
                    readOnly: true
                    description: The provisioning state of the connectivity configuration
                      resource.
                    type: string
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                  deleteExistingPeering:
                    type: string
                    enum:
                    - 'False'
                    - 'True'
                    x-ms-enum:
                      name: DeleteExistingPeering
                      modelAsString: true
                    description: Flag if need to remove current existing peerings.
                  resourceGuid:
                    type: string
                    readOnly: true
                    description: Unique identifier for this resource.
                required:
                - connectivityTopology
                - appliesToGroups
              systemData:
                readOnly: true
                description: The system metadata related to this resource.
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The type of identity that last modified the resource.
            description: Proxy resource representation.
            x-ms-azure-resource: true
          description: Gets a page of Connectivity Configurations
        nextLink:
          type: string
          description: Gets the URL to get the next page of results.
      description: Result of the request to list network manager connectivity configurations.
        It contains a list of configurations and a link to get the next set of results.
    ConnectivityConfiguration:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource
            is updated.
        properties:
          x-ms-client-flatten: true
          description: Properties of a network manager connectivity configuration
          type: object
          properties:
            description:
              type: string
              description: A description of the connectivity configuration.
            connectivityTopology:
              type: string
              enum:
              - HubAndSpoke
              - Mesh
              x-ms-enum:
                name: ConnectivityTopology
                modelAsString: true
              description: Connectivity topology type.
            hubs:
              type: array
              x-ms-identifiers:
              - resourceId
              items:
                type: object
                properties:
                  resourceId:
                    type: string
                    description: Resource Id.
                  resourceType:
                    type: string
                    description: Resource Type.
                description: Hub Item.
              description: List of hubItems
            isGlobal:
              type: string
              enum:
              - 'False'
              - 'True'
              x-ms-enum:
                name: IsGlobal
                modelAsString: true
              description: Flag if global mesh is supported.
            connectivityCapabilities:
              type: object
              description: Collection of additional settings to enhance specific topology
                behaviors of the connectivity configuration resource.
              properties:
                connectedGroupPrivateEndpointsScale:
                  type: string
                  enum:
                  - Standard
                  - HighScale
                  x-ms-enum:
                    name: ConnectedGroupPrivateEndpointsScale
                    modelAsString: true
                    values:
                    - value: Standard
                      description: Default. Allows for up to 2K private endpoints
                        in the connected group.
                    - value: HighScale
                      description: Allows for up to 20K private endpoints in the connected
                        group.
                  description: Option indicating the scale of private endpoints allowed
                    in the connected group of the connectivity configuration.
                  default: Standard
                connectedGroupAddressOverlap:
                  type: string
                  enum:
                  - Allowed
                  - Disallowed
                  x-ms-enum:
                    name: ConnectedGroupAddressOverlap
                    modelAsString: true
                    values:
                    - value: Allowed
                      description: Default. Allows connected group members to have
                        overlapping IP address space.
                    - value: Disallowed
                      description: Strictly disallows connected group members from
                        having overlapping IP address space. Prevents the addition
                        of a virtual network with overlapping address to the connected
                        group, blocks peering between a virtual network and a connected
                        group member if any connected group member has an overlapping
                        range, and restricts address space modifications that would
                        introduce overlap.
                  description: Behavior to handle overlapped IP address space among
                    members of the connected group of the connectivity configuration.
                  default: Allowed
                peeringEnforcement:
                  type: string
                  enum:
                  - Unenforced
                  - Enforced
                  x-ms-enum:
[...]
