openapi: 3.0.0
info:
  title: RoutingConfiguration
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/routingConfigurations
  : get:
      tags:
      - NetworkManagerRoutingConfigurations
      operationId: NetworkManagerRoutingConfigurations_List
      description: Lists all the network manager routing configurations in a network
        manager, in a paginated format.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.-]*$
      - name: $top
        description: An optional query parameter which specifies the maximum number
          of records to be returned by the server.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 20
      - name: $skipToken
        description: SkipToken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skipToken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Get successful. The operation returns all routing configuration
            resources in the specified network manager, in a paginated format
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Indicates the properties for the network manager
                            routing configuration.
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description of the routing configuration.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Proxy resource representation.
                      x-ms-azure-resource: true
                    description: Gets a page of routing configurations
                  nextLink:
                    type: string
                    description: Gets the URL to get the next page of results.
                description: A list of network manager routing configurations
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/routingConfigurations/{configurationName}
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: configurationName
      in: path
      description: The name of the network manager Routing Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    get:
      tags:
      - NetworkManagerRoutingConfigurations
      description: Retrieves a network manager routing configuration.
      operationId: NetworkManagerRoutingConfigurations_Get
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      routing configuration.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the routing configuration.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - NetworkManagerRoutingConfigurations
      description: Creates or updates a network manager routing configuration.
      operationId: NetworkManagerRoutingConfigurations_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                properties:
                  x-ms-client-flatten: true
                  description: Indicates the properties for the network manager routing
                    configuration.
                  type: object
                  properties:
                    description:
                      type: string
                      description: A description of the routing configuration.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    resourceGuid:
                      type: string
                      readOnly: true
                      description: Unique identifier for this resource.
                systemData:
                  readOnly: true
                  description: The system metadata related to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              description: Proxy resource representation.
              x-ms-azure-resource: true
        description: The routing configuration to create or update
        required: true
      responses:
        '200':
          description: Updated Routing Configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      routing configuration.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the routing configuration.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        '201':
          description: Created Routing Configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      routing configuration.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the routing configuration.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    delete:
      tags:
      - NetworkManagerRoutingConfigurations
      description: Deletes a network manager routing configuration.
      operationId: NetworkManagerRoutingConfigurations_Delete
      parameters:
      - name: force
        in: query
        required: false
        description: Deletes the resource even if it is part of a deployed configuration.
          If the configuration has been deployed, the service will do a cleanup deployment
          in the background, prior to the delete.
        x-ms-parameter-location: method
        schema:
          type: boolean
      responses:
        '200':
          description: Delete Succeed.
        '202':
          description: Accepted and will complete asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/routingConfigurations/{configurationName}/ruleCollections
  : get:
      tags:
      - RoutingRuleCollections
      operationId: RoutingRuleCollections_List
      description: Lists all the rule collections in a routing configuration, in a
        paginated format.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.-]*$
      - name: configurationName
        in: path
        description: The name of the network manager Routing Configuration.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.-]*$
      - name: $top
        description: An optional query parameter which specifies the maximum number
          of records to be returned by the server.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 20
      - name: $skipToken
        description: SkipToken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skipToken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Get successful. The operation returns all ruleCollections in
            the specified routing configuration, in a paginated format
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Indicates the properties for the network manager
                            routing rule collection.
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description of the routing rule collection.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                            appliesTo:
                              type: array
                              x-ms-identifiers:
                              - networkGroupId
                              items:
                                type: object
                                properties:
                                  networkGroupId:
                                    type: string
                                    description: Network manager group Id.
                                required:
                                - networkGroupId
                                description: Network manager routing group item.
                              description: Groups for configuration
                            disableBgpRoutePropagation:
                              type: string
                              enum:
                              - 'False'
                              - 'True'
                              x-ms-enum:
                                name: DisableBgpRoutePropagation
                                modelAsString: true
                              description: Determines whether BGP route propagation
                                is enabled. Defaults to true.
                          required:
                          - appliesTo
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Proxy resource representation.
                      x-ms-azure-resource: true
                    description: A list of network manager routing configuration rule
                      collections
                  nextLink:
                    type: string
                    description: Gets the URL to get the next set of results.
                description: Routing configuration rule collection list result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/routingConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: configurationName
      in: path
      description: The name of the network manager Routing Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: ruleCollectionName
      in: path
      description: The name of the network manager routing Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    get:
      tags:
      - RoutingRuleCollections
      description: Gets a network manager routing configuration rule collection.
      operationId: RoutingRuleCollections_Get
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      routing rule collection.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the routing rule collection.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                      appliesTo:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network manager group Id.
                          required:
                          - networkGroupId
                          description: Network manager routing group item.
                        description: Groups for configuration
                      disableBgpRoutePropagation:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: DisableBgpRoutePropagation
                          modelAsString: true
                        description: Determines whether BGP route propagation is enabled.
                          Defaults to true.
                    required:
                    - appliesTo
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - RoutingRuleCollections
      description: Creates or updates a routing rule collection.
      operationId: RoutingRuleCollections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                properties:
                  x-ms-client-flatten: true
                  description: Indicates the properties for the network manager routing
                    rule collection.
                  type: object
                  properties:
                    description:
                      type: string
                      description: A description of the routing rule collection.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    resourceGuid:
                      type: string
                      readOnly: true
                      description: Unique identifier for this resource.
                    appliesTo:
                      type: array
                      x-ms-identifiers:
                      - networkGroupId
                      items:
                        type: object
                        properties:
                          networkGroupId:
                            type: string
                            description: Network manager group Id.
                        required:
                        - networkGroupId
                        description: Network manager routing group item.
                      description: Groups for configuration
                    disableBgpRoutePropagation:
                      type: string
                      enum:
                      - 'False'
                      - 'True'
                      x-ms-enum:
                        name: DisableBgpRoutePropagation
                        modelAsString: true
                      description: Determines whether BGP route propagation is enabled.
                        Defaults to true.
                  required:
                  - appliesTo
                systemData:
                  readOnly: true
                  description: The system metadata related to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              description: Proxy resource representation.
              x-ms-azure-resource: true
        description: The Rule Collection to create or update
        required: true
      responses:
        '200':
          description: Updated Rule Collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      routing rule collection.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the routing rule collection.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                      appliesTo:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network manager group Id.
                          required:
                          - networkGroupId
                          description: Network manager routing group item.
                        description: Groups for configuration
                      disableBgpRoutePropagation:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: DisableBgpRoutePropagation
                          modelAsString: true
                        description: Determines whether BGP route propagation is enabled.
                          Defaults to true.
                    required:
                    - appliesTo
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        '201':
          description: Created Rule Collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      routing rule collection.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the routing rule collection.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                      appliesTo:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network manager group Id.
                          required:
                          - networkGroupId
                          description: Network manager routing group item.
                        description: Groups for configuration
                      disableBgpRoutePropagation:
                        type: string
                        enum:
                        - 'False'
                        - 'True'
                        x-ms-enum:
                          name: DisableBgpRoutePropagation
                          modelAsString: true
                        description: Determines whether BGP route propagation is enabled.
                          Defaults to true.
                    required:
                    - appliesTo
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    delete:
      tags:
      - RoutingRuleCollections
      description: Deletes an routing rule collection.
      operationId: RoutingRuleCollections_Delete
      parameters:
      - name: force
        in: query
        required: false
        description: Deletes the resource even if it is part of a deployed configuration.
          If the configuration has been deployed, the service will do a cleanup deployment
          in the background, prior to the delete.
        x-ms-parameter-location: method
        schema:
          type: boolean
      responses:
        '200':
          description: Delete Succeed.
        '202':
          description: Accepted and will complete asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/routingConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}/rules
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: configurationName
      in: path
      description: The name of the network manager Routing Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: ruleCollectionName
      in: path
      description: The name of the network manager routing Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: $top
      description: An optional query parameter which specifies the maximum number
        of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 20
    - name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial
        result. If a previous response contains a nextLink element, the value of the
        nextLink element will include a skipToken parameter that specifies a starting
        point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    get:
      tags:
      - RoutingRules
      description: List all network manager routing configuration routing rules.
      operationId: RoutingRules_List
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Indicates the properties of the routing rule
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description for this rule.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                            destination:
                              description: Indicates the destination for this particular
                                rule.
                              type: object
                              properties:
                                type:
                                  description: Destination type.
                                  type: string
                                  enum:
                                  - AddressPrefix
                                  - ServiceTag
                                  x-ms-enum:
                                    name: RoutingRuleDestinationType
                                    modelAsString: true
                                destinationAddress:
                                  type: string
                                  description: Destination address.
                              required:
                              - type
                              - destinationAddress
                            nextHop:
                              description: Indicates the next hop for this particular
                                rule.
                              type: object
                              properties:
                                nextHopType:
                                  description: Next hop type.
                                  type: string
                                  enum:
                                  - Internet
                                  - NoNextHop
                                  - VirtualAppliance
                                  - VirtualNetworkGateway
                                  - VnetLocal
                                  x-ms-enum:
                                    name: RoutingRuleNextHopType
                                    modelAsString: true
                                nextHopAddress:
                                  type: string
                                  description: Next hop address. Only required if
                                    the next hop type is VirtualAppliance.
                              required:
                              - nextHopType
                          required:
                          - destination
                          - nextHop
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Proxy resource representation.
                      x-ms-azure-resource: true
                    description: A list of routing rules.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: Routing configuration rule list result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/routingConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}/rules/{ruleName}
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: configurationName
      in: path
      description: The name of the network manager Routing Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: ruleCollectionName
      in: path
      description: The name of the network manager routing Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: ruleName
      in: path
      description: The name of the rule.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    get:
      tags:
      - RoutingRules
[...]
