openapi: 3.0.0
info:
  title: NetworkManagerVerifierManagementClient
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}/reachabilityAnalysisIntents
  : get:
      tags:
      - ReachabilityAnalysisIntents
      summary: Gets list of Reachability Analysis Intents .
      operationId: ReachabilityAnalysisIntents_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: workspaceName
        description: Workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: query
        name: skipToken
        description: Optional skip token.
        schema:
          type: string
      - in: query
        name: skip
        description: Optional num entries to skip.
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: top
        description: Optional num entries to show.
        schema:
          type: integer
          format: int32
          default: 50
      - in: query
        name: sortKey
        description: Optional key by which to sort.
        schema:
          type: string
      - in: query
        name: sortValue
        description: Optional sort value for pagination.
        schema:
          type: string
      responses:
        '200':
          description: List of ReachabilityAnalysisIntents
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        systemData:
                          readOnly: true
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                        properties:
                          required:
                          - destinationResourceId
                          - ipTraffic
                          - sourceResourceId
                          description: Represents the Reachability Analysis Intent
                            properties.
                          type: object
                          properties:
                            provisioningState:
                              enum:
                              - Failed
                              - Succeeded
                              - Canceled
                              - Creating
                              - Updating
                              - Deleting
                              description: Provisioning states of a resource.
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              type: string
                              readOnly: true
                            description:
                              type: string
                            sourceResourceId:
                              format: arm-id
                              type: string
                              description: Source resource id to verify the reachability
                                path of.
                            destinationResourceId:
                              format: arm-id
                              type: string
                              description: Destination resource id to verify the reachability
                                path of.
                            ipTraffic:
                              description: IP traffic information.
                              required:
                              - sourceIps
                              - destinationIps
                              - sourcePorts
                              - destinationPorts
                              - protocols
                              type: object
                              properties:
                                sourceIps:
                                  type: array
                                  items:
                                    type: string
                                    description: Source IP address of the traffic..
                                  description: List of source IP addresses of the
                                    traffic..
                                destinationIps:
                                  type: array
                                  items:
                                    type: string
                                    description: Destination IP address of the traffic..
                                  description: List of destination IP addresses of
                                    the traffic..
                                sourcePorts:
                                  type: array
                                  items:
                                    type: string
                                    description: The source port.
                                  description: The source ports of the traffic.
                                destinationPorts:
                                  type: array
                                  items:
                                    type: string
                                    description: The destination port.
                                  description: The destination ports of the traffic.
                                protocols:
                                  type: array
                                  items:
                                    description: Network protocol this resource applies
                                      to.
                                    enum:
                                    - Any
                                    - TCP
                                    - UDP
                                    - ICMP
                                    x-ms-enum:
                                      name: NetworkProtocol
                                      modelAsString: true
                                    type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                    description: Gets a page of Reachability Analysis Intents
                  nextLink:
                    description: Gets the URL to get the next page of results.
                    type: string
                description: A list of Reachability Analysis Intents.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}/reachabilityAnalysisIntents/{reachabilityAnalysisIntentName}
  : get:
      tags:
      - ReachabilityAnalysisIntents
      summary: Get the Reachability Analysis Intent.
      operationId: ReachabilityAnalysisIntents_Get
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: workspaceName
        description: Workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: reachabilityAnalysisIntentName
        description: Reachability Analysis Intent name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      responses:
        '200':
          description: Get a reachabilityAnalysisIntent
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    readOnly: true
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    required:
                    - destinationResourceId
                    - ipTraffic
                    - sourceResourceId
                    description: Represents the Reachability Analysis Intent properties.
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Failed
                        - Succeeded
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        description: Provisioning states of a resource.
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        type: string
                        readOnly: true
                      description:
                        type: string
                      sourceResourceId:
                        format: arm-id
                        type: string
                        description: Source resource id to verify the reachability
                          path of.
                      destinationResourceId:
                        format: arm-id
                        type: string
                        description: Destination resource id to verify the reachability
                          path of.
                      ipTraffic:
                        description: IP traffic information.
                        required:
                        - sourceIps
                        - destinationIps
                        - sourcePorts
                        - destinationPorts
                        - protocols
                        type: object
                        properties:
                          sourceIps:
                            type: array
                            items:
                              type: string
                              description: Source IP address of the traffic..
                            description: List of source IP addresses of the traffic..
                          destinationIps:
                            type: array
                            items:
                              type: string
                              description: Destination IP address of the traffic..
                            description: List of destination IP addresses of the traffic..
                          sourcePorts:
                            type: array
                            items:
                              type: string
                              description: The source port.
                            description: The source ports of the traffic.
                          destinationPorts:
                            type: array
                            items:
                              type: string
                              description: The destination port.
                            description: The destination ports of the traffic.
                          protocols:
                            type: array
                            items:
                              description: Network protocol this resource applies
                                to.
                              enum:
                              - Any
                              - TCP
                              - UDP
                              - ICMP
                              x-ms-enum:
                                name: NetworkProtocol
                                modelAsString: true
                              type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - ReachabilityAnalysisIntents
      summary: Creates Reachability Analysis Intent.
      operationId: ReachabilityAnalysisIntents_Create
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: workspaceName
        description: Workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: reachabilityAnalysisIntentName
        description: Reachability Analysis Intent name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                systemData:
                  readOnly: true
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
                properties:
                  required:
                  - destinationResourceId
                  - ipTraffic
                  - sourceResourceId
                  description: Represents the Reachability Analysis Intent properties.
                  type: object
                  properties:
                    provisioningState:
                      enum:
                      - Failed
                      - Succeeded
                      - Canceled
                      - Creating
                      - Updating
                      - Deleting
                      description: Provisioning states of a resource.
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                      type: string
                      readOnly: true
                    description:
                      type: string
                    sourceResourceId:
                      format: arm-id
                      type: string
                      description: Source resource id to verify the reachability path
                        of.
                    destinationResourceId:
                      format: arm-id
                      type: string
                      description: Destination resource id to verify the reachability
                        path of.
                    ipTraffic:
                      description: IP traffic information.
                      required:
                      - sourceIps
                      - destinationIps
                      - sourcePorts
                      - destinationPorts
                      - protocols
                      type: object
                      properties:
                        sourceIps:
                          type: array
                          items:
                            type: string
                            description: Source IP address of the traffic..
                          description: List of source IP addresses of the traffic..
                        destinationIps:
                          type: array
                          items:
                            type: string
                            description: Destination IP address of the traffic..
                          description: List of destination IP addresses of the traffic..
                        sourcePorts:
                          type: array
                          items:
                            type: string
                            description: The source port.
                          description: The source ports of the traffic.
                        destinationPorts:
                          type: array
                          items:
                            type: string
                            description: The destination port.
                          description: The destination ports of the traffic.
                        protocols:
                          type: array
                          items:
                            description: Network protocol this resource applies to.
                            enum:
                            - Any
                            - TCP
                            - UDP
                            - ICMP
                            x-ms-enum:
                              name: NetworkProtocol
                              modelAsString: true
                            type: string
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - properties
        description: Reachability Analysis Intent object to create/update.
        required: true
      responses:
        '200':
          description: ReachabilityAnalysisIntent updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    readOnly: true
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    required:
                    - destinationResourceId
                    - ipTraffic
                    - sourceResourceId
                    description: Represents the Reachability Analysis Intent properties.
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Failed
                        - Succeeded
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        description: Provisioning states of a resource.
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        type: string
                        readOnly: true
                      description:
                        type: string
                      sourceResourceId:
                        format: arm-id
                        type: string
                        description: Source resource id to verify the reachability
                          path of.
                      destinationResourceId:
                        format: arm-id
                        type: string
                        description: Destination resource id to verify the reachability
                          path of.
                      ipTraffic:
                        description: IP traffic information.
                        required:
                        - sourceIps
                        - destinationIps
                        - sourcePorts
                        - destinationPorts
                        - protocols
                        type: object
                        properties:
                          sourceIps:
                            type: array
                            items:
                              type: string
                              description: Source IP address of the traffic..
                            description: List of source IP addresses of the traffic..
                          destinationIps:
                            type: array
                            items:
                              type: string
                              description: Destination IP address of the traffic..
                            description: List of destination IP addresses of the traffic..
                          sourcePorts:
                            type: array
                            items:
                              type: string
                              description: The source port.
                            description: The source ports of the traffic.
                          destinationPorts:
                            type: array
                            items:
                              type: string
                              description: The destination port.
                            description: The destination ports of the traffic.
                          protocols:
                            type: array
                            items:
                              description: Network protocol this resource applies
                                to.
                              enum:
                              - Any
                              - TCP
                              - UDP
                              - ICMP
                              x-ms-enum:
                                name: NetworkProtocol
                                modelAsString: true
                              type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        '201':
          description: ReachabilityAnalysisIntent created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    readOnly: true
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    required:
                    - destinationResourceId
                    - ipTraffic
                    - sourceResourceId
                    description: Represents the Reachability Analysis Intent properties.
                    type: object
                    properties:
                      provisioningState:
                        enum:
                        - Failed
                        - Succeeded
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        description: Provisioning states of a resource.
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        type: string
                        readOnly: true
                      description:
                        type: string
                      sourceResourceId:
                        format: arm-id
                        type: string
                        description: Source resource id to verify the reachability
                          path of.
                      destinationResourceId:
                        format: arm-id
                        type: string
                        description: Destination resource id to verify the reachability
                          path of.
                      ipTraffic:
                        description: IP traffic information.
                        required:
                        - sourceIps
                        - destinationIps
                        - sourcePorts
                        - destinationPorts
                        - protocols
                        type: object
                        properties:
                          sourceIps:
                            type: array
                            items:
                              type: string
                              description: Source IP address of the traffic..
                            description: List of source IP addresses of the traffic..
                          destinationIps:
                            type: array
                            items:
                              type: string
                              description: Destination IP address of the traffic..
                            description: List of destination IP addresses of the traffic..
                          sourcePorts:
                            type: array
                            items:
                              type: string
                              description: The source port.
                            description: The source ports of the traffic.
                          destinationPorts:
                            type: array
                            items:
                              type: string
                              description: The destination port.
                            description: The destination ports of the traffic.
                          protocols:
                            type: array
                            items:
                              description: Network protocol this resource applies
                                to.
                              enum:
                              - Any
                              - TCP
                              - UDP
                              - ICMP
                              x-ms-enum:
                                name: NetworkProtocol
                                modelAsString: true
                              type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      tags:
      - ReachabilityAnalysisIntent
      summary: Deletes Reachability Analysis Intent.
      operationId: ReachabilityAnalysisIntents_Delete
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: workspaceName
        description: Workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: reachabilityAnalysisIntentName
        description: Reachability Analysis Intent name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      responses:
        '200':
          description: ReachabilityAnalysisIntent was deleted.
        '204':
          description: ReachabilityAnalysisIntent delete request succeeded.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}/reachabilityAnalysisRuns
  : get:
      tags:
      - ReachabilityAnalysisRuns
      summary: Gets list of Reachability Analysis Runs.
      operationId: ReachabilityAnalysisRuns_List
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: workspaceName
        description: Workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: query
        name: skipToken
        description: Optional skip token.
        schema:
          type: string
      - in: query
        name: skip
        description: Optional num entries to skip.
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: top
        description: Optional num entries to show.
        schema:
          type: integer
          format: int32
          default: 50
      - in: query
        name: sortKey
        description: Optional key by which to sort.
        schema:
          type: string
      - in: query
        name: sortValue
        description: Optional sort value for pagination.
        schema:
          type: string
      responses:
        '200':
          description: List of ReachabilityAnalysisRuns
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        systemData:
                          readOnly: true
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                        properties:
                          required:
                          - intentId
                          description: Represents the Reachability Analysis Run properties.
                          type: object
                          properties:
                            description:
                              type: string
                            intentId:
                              type: string
                              description: Id of the intent resource to run analysis
                                on.
                            intentContent:
                              readOnly: true
                              description: Intent information.
                              required:
                              - destinationResourceId
                              - ipTraffic
                              - sourceResourceId
                              type: object
                              properties:
                                description:
                                  type: string
                                sourceResourceId:
                                  format: arm-id
                                  type: string
                                  description: Source resource id of the intent.
                                destinationResourceId:
                                  format: arm-id
                                  type: string
                                  description: Destination resource id of the intent.
                                ipTraffic:
                                  description: IP traffic information.
                                  required:
                                  - sourceIps
                                  - destinationIps
                                  - sourcePorts
                                  - destinationPorts
                                  - protocols
                                  type: object
                                  properties:
                                    sourceIps:
                                      type: array
                                      items:
                                        type: string
                                        description: Source IP address of the traffic..
                                      description: List of source IP addresses of
                                        the traffic..
                                    destinationIps:
                                      type: array
                                      items:
                                        type: string
                                        description: Destination IP address of the
                                          traffic..
                                      description: List of destination IP addresses
                                        of the traffic..
                                    sourcePorts:
                                      type: array
                                      items:
                                        type: string
                                        description: The source port.
                                      description: The source ports of the traffic.
                                    destinationPorts:
                                      type: array
                                      items:
                                        type: string
                                        description: The destination port.
                                      description: The destination ports of the traffic.
                                    protocols:
                                      type: array
                                      items:
                                        description: Network protocol this resource
                                          applies to.
                                        enum:
                                        - Any
                                        - TCP
                                        - UDP
                                        - ICMP
                                        x-ms-enum:
                                          name: NetworkProtocol
                                          modelAsString: true
                                        type: string
                            analysisResult:
                              type: string
                              readOnly: true
                            errorMessage:
                              type: string
                              readOnly: true
                            provisioningState:
                              enum:
                              - Failed
                              - Succeeded
                              - Canceled
                              - Creating
                              - Updating
                              - Deleting
                              description: Provisioning states of a resource.
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                              type: string
                              readOnly: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - properties
                    description: Gets a page of Reachability Analysis Runs.
                  nextLink:
                    description: Gets the URL to get the next page of results.
                    type: string
                description: A list of Reachability Analysis Run
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}/reachabilityAnalysisRuns/{reachabilityAnalysisRunName}
  : get:
      tags:
      - ReachabilityAnalysisRuns
      summary: Gets Reachability Analysis Run.
      operationId: ReachabilityAnalysisRuns_Get
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: workspaceName
        description: Workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: reachabilityAnalysisRunName
        description: Reachability Analysis Run name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      responses:
        '200':
          description: Get a reachabilityAnalysisRun
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  systemData:
                    readOnly: true
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                  properties:
                    required:
                    - intentId
                    description: Represents the Reachability Analysis Run properties.
                    type: object
                    properties:
                      description:
                        type: string
                      intentId:
                        type: string
                        description: Id of the intent resource to run analysis on.
                      intentContent:
                        readOnly: true
                        description: Intent information.
                        required:
                        - destinationResourceId
                        - ipTraffic
                        - sourceResourceId
                        type: object
                        properties:
                          description:
                            type: string
                          sourceResourceId:
                            format: arm-id
                            type: string
                            description: Source resource id of the intent.
                          destinationResourceId:
                            format: arm-id
                            type: string
                            description: Destination resource id of the intent.
                          ipTraffic:
                            description: IP traffic information.
                            required:
                            - sourceIps
                            - destinationIps
                            - sourcePorts
                            - destinationPorts
                            - protocols
                            type: object
                            properties:
                              sourceIps:
                                type: array
                                items:
                                  type: string
                                  description: Source IP address of the traffic..
                                description: List of source IP addresses of the traffic..
                              destinationIps:
                                type: array
                                items:
                                  type: string
                                  description: Destination IP address of the traffic..
                                description: List of destination IP addresses of the
                                  traffic..
                              sourcePorts:
                                type: array
                                items:
                                  type: string
                                  description: The source port.
                                description: The source ports of the traffic.
                              destinationPorts:
                                type: array
                                items:
                                  type: string
                                  description: The destination port.
                                description: The destination ports of the traffic.
                              protocols:
                                type: array
                                items:
                                  description: Network protocol this resource applies
                                    to.
                                  enum:
                                  - Any
                                  - TCP
                                  - UDP
                                  - ICMP
                                  x-ms-enum:
                                    name: NetworkProtocol
                                    modelAsString: true
                                  type: string
                      analysisResult:
                        type: string
                        readOnly: true
                      errorMessage:
                        type: string
                        readOnly: true
                      provisioningState:
                        enum:
                        - Failed
                        - Succeeded
                        - Canceled
                        - Creating
                        - Updating
                        - Deleting
                        description: Provisioning states of a resource.
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                        type: string
                        readOnly: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - properties
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      tags:
      - ReachabilityAnalysisRuns
      summary: Creates Reachability Analysis Runs.
      operationId: ReachabilityAnalysisRuns_Create
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: workspaceName
        description: Workspace name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      - in: path
        name: reachabilityAnalysisRunName
        description: Reachability Analysis Run name.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                systemData:
                  readOnly: true
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
                properties:
                  required:
                  - intentId
                  description: Represents the Reachability Analysis Run properties.
                  type: object
                  properties:
                    description:
                      type: string
                    intentId:
                      type: string
                      description: Id of the intent resource to run analysis on.
                    intentContent:
                      readOnly: true
                      description: Intent information.
                      required:
                      - destinationResourceId
                      - ipTraffic
                      - sourceResourceId
                      type: object
                      properties:
                        description:
                          type: string
                        sourceResourceId:
                          format: arm-id
                          type: string
                          description: Source resource id of the intent.
                        destinationResourceId:
                          format: arm-id
                          type: string
                          description: Destination resource id of the intent.
                        ipTraffic:
                          description: IP traffic information.
                          required:
                          - sourceIps
                          - destinationIps
                          - sourcePorts
                          - destinationPorts
                          - protocols
                          type: object
                          properties:
                            sourceIps:
                              type: array
                              items:
                                type: string
                                description: Source IP address of the traffic..
                              description: List of source IP addresses of the traffic..
[...]
