openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}
  : delete:
      tags:
      - NetworkVirtualAppliances
      operationId: NetworkVirtualAppliances_Delete
      description: Deletes the specified Network Virtual Appliance.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkVirtualApplianceName
        in: path
        required: true
        description: The name of Network Virtual Appliance.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: Request successful. Resource with the specified name does not
            exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - NetworkVirtualAppliances
      operationId: NetworkVirtualAppliances_Get
      description: Gets the specified Network Virtual Appliance.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkVirtualApplianceName
        in: path
        required: true
        description: The name of Network Virtual Appliance.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a Network Virtual
            Appliance resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Network Virtual Appliance.
                    properties:
                      nvaSku:
                        readOnly: false
                        description: Network Virtual Appliance SKU.
                        properties:
                          vendor:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Vendor.
                          bundledScaleUnit:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Scale Unit.
                          marketPlaceVersion:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Version.
                      addressPrefix:
                        type: string
                        readOnly: true
                        description: Address Prefix.
                      bootStrapConfigurationBlobs:
                        type: array
                        readOnly: false
                        description: BootStrapConfigurationBlobs storage URLs.
                        items:
                          type: string
                      virtualHub:
                        readOnly: false
                        description: The Virtual Hub where Network Virtual Appliance
                          is being deployed.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      cloudInitConfigurationBlobs:
                        type: array
                        readOnly: false
                        description: CloudInitConfigurationBlob storage URLs.
                        items:
                          type: string
                      cloudInitConfiguration:
                        type: string
                        readOnly: false
                        description: CloudInitConfiguration string in plain text.
                      virtualApplianceAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: VirtualAppliance ASN. Microsoft private, public
                          and IANA reserved ASN are not supported.
                      sshPublicKey:
                        type: string
                        readOnly: false
                        description: Public key for SSH login.
                      virtualApplianceNics:
                        type: array
                        readOnly: true
                        description: List of Virtual Appliance Network Interfaces.
                        items:
                          properties:
                            nicType:
                              type: string
                              readOnly: true
                              description: NIC type - PublicNic, PrivateNic, or AdditionalNic.
                              enum:
                              - PublicNic
                              - PrivateNic
                              - AdditionalNic
                              x-ms-enum:
                                name: NicTypeInResponse
                                modelAsString: true
                            name:
                              type: string
                              readOnly: true
                              description: NIC name.
                            publicIpAddress:
                              type: string
                              readOnly: true
                              description: Public IP address.
                            privateIpAddress:
                              type: string
                              readOnly: true
                              description: Private IP address.
                            instanceName:
                              type: string
                              readOnly: true
                              description: Instance on which nic is attached.
                          description: Network Virtual Appliance NIC properties.
                      networkProfile:
                        type: object
                        readOnly: false
                        description: Network Profile containing configurations for
                          Public and Private NIC.
                        properties:
                          networkInterfaceConfigurations:
                            type: array
                            items:
                              type: object
                              readOnly: false
                              description: Represents a single NIC configuration.
                              properties:
                                type:
                                  type: string
                                  description: NIC type. This should be either PublicNic
                                    or PrivateNic.
                                  enum:
                                  - PublicNic
                                  - PrivateNic
                                  x-ms-enum:
                                    name: NicTypeInRequest
                                    modelAsString: true
                                  x-ms-client-name: NicType
                                properties:
                                  type: object
                                  readOnly: false
                                  description: Represents a single NIC configuration
                                    properties.
                                  properties:
                                    ipConfigurations:
                                      type: array
                                      items:
                                        type: object
                                        readOnly: false
                                        description: Represents a single IP configuration.
                                        properties:
                                          name:
                                            type: string
                                            description: Name of the IP configuration.
                                          properties:
                                            type: object
                                            readOnly: false
                                            description: Represents a single IP configuration
                                              properties.
                                            properties:
                                              primary:
                                                type: boolean
                                                description: Whether or not this is
                                                  primary IP configuration of the
                                                  NIC.
                                      x-ms-identifiers: []
                            x-ms-identifiers: []
                      additionalNics:
                        type: array
                        readOnly: false
                        description: Details required for Additional Network Interface.
                        items:
                          type: object
                          title: Network Virtual Appliance Additional Nic Properties
                          description: Network Virtual Appliance Additional NIC properties.
                          properties:
                            name:
                              type: string
                              readOnly: false
                              description: Name of additional nic
                            hasPublicIp:
                              type: boolean
                              readOnly: false
                              description: Flag (true or false) for Intent for Public
                                Ip on additional nic
                        x-ms-identifiers: []
                      internetIngressPublicIps:
                        type: array
                        readOnly: false
                        description: List of Resource Uri of Public IPs for Internet
                          Ingress Scenario.
                        items:
                          type: object
                          title: Internet Ingress Public Ip Properties
                          description: Resource Uri of Public Ip for Standard Load
                            Balancer Frontend End.
                          properties:
                            id:
                              type: string
                              readOnly: false
                              description: Resource Uri of Public Ip
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/publicIPAddresses
                        x-ms-identifiers: []
                      virtualApplianceSites:
                        type: array
                        readOnly: true
                        description: List of references to VirtualApplianceSite.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      virtualApplianceConnections:
                        type: array
                        readOnly: true
                        description: List of references to VirtualApplianceConnections.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      inboundSecurityRules:
                        type: array
                        readOnly: true
                        description: List of references to InboundSecurityRules.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      deploymentType:
                        type: string
                        readOnly: true
                        description: The deployment type. PartnerManaged for the SaaS
                          NVA
                      delegation:
                        description: The delegation for the Virtual Appliance
                        type: object
                        properties:
                          serviceName:
                            type: string
                            description: The service name to which the NVA is delegated.
                          provisioningState:
                            readOnly: true
                            type: string
                            description: The current provisioning state.
                            enum:
                            - Succeeded
                            - Updating
                            - Deleting
                            - Failed
                            x-ms-enum:
                              name: ProvisioningState
                              modelAsString: true
                      partnerManagedResource:
                        description: The delegation for the Virtual Appliance
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: PaloAltoNetworks.Cloudngfw/firewalls
                            description: The partner managed resource id.
                          internalLoadBalancerId:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/loadBalancers
                            description: The partner managed ILB resource id
                          standardLoadBalancerId:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/loadBalancers
                            description: The partner managed SLB resource id
                  identity:
                    description: The service principal that has read access to cloud-init
                      and config blob.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
                          created identity and a set of user assigned identities.
                          The type 'None' will remove any identities from the virtual
                          machine.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The list of user identities associated with
                          resource. The user identity dictionary key references will
                          be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    patch:
      tags:
      - NetworkVirtualAppliances
      operationId: NetworkVirtualAppliances_UpdateTags
      description: Updates a Network Virtual Appliance.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The resource group name of Network Virtual Appliance.
        schema:
          type: string
      - name: networkVirtualApplianceName
        in: path
        required: true
        description: The name of Network Virtual Appliance being updated.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to Update Network Virtual Appliance Tags.
        required: true
      responses:
        '200':
          description: Request successful. Returns the details of Network Virtual
            Appliance updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Network Virtual Appliance.
                    properties:
                      nvaSku:
                        readOnly: false
                        description: Network Virtual Appliance SKU.
                        properties:
                          vendor:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Vendor.
                          bundledScaleUnit:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Scale Unit.
                          marketPlaceVersion:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Version.
                      addressPrefix:
                        type: string
                        readOnly: true
                        description: Address Prefix.
                      bootStrapConfigurationBlobs:
                        type: array
                        readOnly: false
                        description: BootStrapConfigurationBlobs storage URLs.
                        items:
                          type: string
                      virtualHub:
                        readOnly: false
                        description: The Virtual Hub where Network Virtual Appliance
                          is being deployed.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      cloudInitConfigurationBlobs:
                        type: array
                        readOnly: false
                        description: CloudInitConfigurationBlob storage URLs.
                        items:
                          type: string
                      cloudInitConfiguration:
                        type: string
                        readOnly: false
                        description: CloudInitConfiguration string in plain text.
                      virtualApplianceAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: VirtualAppliance ASN. Microsoft private, public
                          and IANA reserved ASN are not supported.
                      sshPublicKey:
                        type: string
                        readOnly: false
                        description: Public key for SSH login.
                      virtualApplianceNics:
                        type: array
                        readOnly: true
                        description: List of Virtual Appliance Network Interfaces.
                        items:
                          properties:
                            nicType:
                              type: string
                              readOnly: true
                              description: NIC type - PublicNic, PrivateNic, or AdditionalNic.
                              enum:
                              - PublicNic
                              - PrivateNic
                              - AdditionalNic
                              x-ms-enum:
                                name: NicTypeInResponse
                                modelAsString: true
                            name:
                              type: string
                              readOnly: true
                              description: NIC name.
                            publicIpAddress:
                              type: string
                              readOnly: true
                              description: Public IP address.
                            privateIpAddress:
                              type: string
                              readOnly: true
                              description: Private IP address.
                            instanceName:
                              type: string
                              readOnly: true
                              description: Instance on which nic is attached.
                          description: Network Virtual Appliance NIC properties.
                      networkProfile:
                        type: object
                        readOnly: false
                        description: Network Profile containing configurations for
                          Public and Private NIC.
                        properties:
                          networkInterfaceConfigurations:
                            type: array
                            items:
                              type: object
                              readOnly: false
                              description: Represents a single NIC configuration.
                              properties:
                                type:
                                  type: string
                                  description: NIC type. This should be either PublicNic
                                    or PrivateNic.
                                  enum:
                                  - PublicNic
                                  - PrivateNic
                                  x-ms-enum:
                                    name: NicTypeInRequest
                                    modelAsString: true
                                  x-ms-client-name: NicType
                                properties:
                                  type: object
                                  readOnly: false
                                  description: Represents a single NIC configuration
                                    properties.
                                  properties:
                                    ipConfigurations:
                                      type: array
                                      items:
                                        type: object
                                        readOnly: false
                                        description: Represents a single IP configuration.
                                        properties:
                                          name:
                                            type: string
                                            description: Name of the IP configuration.
                                          properties:
                                            type: object
                                            readOnly: false
                                            description: Represents a single IP configuration
                                              properties.
                                            properties:
                                              primary:
                                                type: boolean
                                                description: Whether or not this is
                                                  primary IP configuration of the
                                                  NIC.
                                      x-ms-identifiers: []
                            x-ms-identifiers: []
                      additionalNics:
                        type: array
                        readOnly: false
                        description: Details required for Additional Network Interface.
                        items:
                          type: object
                          title: Network Virtual Appliance Additional Nic Properties
                          description: Network Virtual Appliance Additional NIC properties.
                          properties:
                            name:
                              type: string
                              readOnly: false
                              description: Name of additional nic
                            hasPublicIp:
                              type: boolean
                              readOnly: false
                              description: Flag (true or false) for Intent for Public
                                Ip on additional nic
                        x-ms-identifiers: []
                      internetIngressPublicIps:
                        type: array
                        readOnly: false
                        description: List of Resource Uri of Public IPs for Internet
                          Ingress Scenario.
                        items:
                          type: object
                          title: Internet Ingress Public Ip Properties
                          description: Resource Uri of Public Ip for Standard Load
                            Balancer Frontend End.
                          properties:
                            id:
                              type: string
                              readOnly: false
                              description: Resource Uri of Public Ip
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/publicIPAddresses
                        x-ms-identifiers: []
                      virtualApplianceSites:
                        type: array
                        readOnly: true
                        description: List of references to VirtualApplianceSite.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      virtualApplianceConnections:
                        type: array
                        readOnly: true
                        description: List of references to VirtualApplianceConnections.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      inboundSecurityRules:
                        type: array
                        readOnly: true
                        description: List of references to InboundSecurityRules.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      deploymentType:
                        type: string
                        readOnly: true
                        description: The deployment type. PartnerManaged for the SaaS
                          NVA
                      delegation:
                        description: The delegation for the Virtual Appliance
                        type: object
                        properties:
                          serviceName:
                            type: string
                            description: The service name to which the NVA is delegated.
                          provisioningState:
                            readOnly: true
                            type: string
                            description: The current provisioning state.
                            enum:
                            - Succeeded
                            - Updating
                            - Deleting
                            - Failed
                            x-ms-enum:
                              name: ProvisioningState
                              modelAsString: true
                      partnerManagedResource:
                        description: The delegation for the Virtual Appliance
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: PaloAltoNetworks.Cloudngfw/firewalls
                            description: The partner managed resource id.
                          internalLoadBalancerId:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/loadBalancers
                            description: The partner managed ILB resource id
                          standardLoadBalancerId:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/loadBalancers
                            description: The partner managed SLB resource id
                  identity:
                    description: The service principal that has read access to cloud-init
                      and config blob.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
                          created identity and a set of user assigned identities.
                          The type 'None' will remove any identities from the virtual
                          machine.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The list of user identities associated with
                          resource. The user identity dictionary key references will
                          be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - NetworkVirtualAppliances
      operationId: NetworkVirtualAppliances_CreateOrUpdate
      description: Creates or updates the specified Network Virtual Appliance.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: networkVirtualApplianceName
        in: path
        required: true
        description: The name of Network Virtual Appliance.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the Network Virtual Appliance.
                  properties:
                    nvaSku:
                      readOnly: false
                      description: Network Virtual Appliance SKU.
                      properties:
                        vendor:
                          type: string
                          readOnly: false
                          description: Virtual Appliance Vendor.
                        bundledScaleUnit:
                          type: string
                          readOnly: false
                          description: Virtual Appliance Scale Unit.
                        marketPlaceVersion:
                          type: string
                          readOnly: false
                          description: Virtual Appliance Version.
                    addressPrefix:
                      type: string
                      readOnly: true
                      description: Address Prefix.
                    bootStrapConfigurationBlobs:
                      type: array
                      readOnly: false
                      description: BootStrapConfigurationBlobs storage URLs.
                      items:
                        type: string
                    virtualHub:
                      readOnly: false
                      description: The Virtual Hub where Network Virtual Appliance
                        is being deployed.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    cloudInitConfigurationBlobs:
                      type: array
                      readOnly: false
                      description: CloudInitConfigurationBlob storage URLs.
                      items:
                        type: string
                    cloudInitConfiguration:
                      type: string
                      readOnly: false
                      description: CloudInitConfiguration string in plain text.
                    virtualApplianceAsn:
                      type: integer
                      readOnly: false
                      format: int64
                      minimum: 0
                      maximum: 4294967295
                      description: VirtualAppliance ASN. Microsoft private, public
                        and IANA reserved ASN are not supported.
                    sshPublicKey:
                      type: string
                      readOnly: false
                      description: Public key for SSH login.
                    virtualApplianceNics:
                      type: array
                      readOnly: true
                      description: List of Virtual Appliance Network Interfaces.
                      items:
                        properties:
                          nicType:
                            type: string
                            readOnly: true
                            description: NIC type - PublicNic, PrivateNic, or AdditionalNic.
                            enum:
                            - PublicNic
                            - PrivateNic
                            - AdditionalNic
                            x-ms-enum:
                              name: NicTypeInResponse
                              modelAsString: true
                          name:
                            type: string
                            readOnly: true
                            description: NIC name.
                          publicIpAddress:
                            type: string
                            readOnly: true
                            description: Public IP address.
                          privateIpAddress:
                            type: string
                            readOnly: true
                            description: Private IP address.
                          instanceName:
                            type: string
                            readOnly: true
                            description: Instance on which nic is attached.
                        description: Network Virtual Appliance NIC properties.
                    networkProfile:
                      type: object
                      readOnly: false
                      description: Network Profile containing configurations for Public
                        and Private NIC.
                      properties:
                        networkInterfaceConfigurations:
                          type: array
                          items:
                            type: object
                            readOnly: false
                            description: Represents a single NIC configuration.
                            properties:
                              type:
                                type: string
                                description: NIC type. This should be either PublicNic
                                  or PrivateNic.
                                enum:
                                - PublicNic
                                - PrivateNic
                                x-ms-enum:
                                  name: NicTypeInRequest
                                  modelAsString: true
                                x-ms-client-name: NicType
                              properties:
                                type: object
                                readOnly: false
                                description: Represents a single NIC configuration
                                  properties.
                                properties:
                                  ipConfigurations:
                                    type: array
                                    items:
                                      type: object
                                      readOnly: false
                                      description: Represents a single IP configuration.
                                      properties:
                                        name:
                                          type: string
                                          description: Name of the IP configuration.
                                        properties:
                                          type: object
                                          readOnly: false
                                          description: Represents a single IP configuration
                                            properties.
                                          properties:
                                            primary:
                                              type: boolean
                                              description: Whether or not this is
                                                primary IP configuration of the NIC.
                                    x-ms-identifiers: []
                          x-ms-identifiers: []
                    additionalNics:
                      type: array
                      readOnly: false
                      description: Details required for Additional Network Interface.
                      items:
                        type: object
                        title: Network Virtual Appliance Additional Nic Properties
                        description: Network Virtual Appliance Additional NIC properties.
                        properties:
                          name:
                            type: string
                            readOnly: false
                            description: Name of additional nic
                          hasPublicIp:
                            type: boolean
                            readOnly: false
                            description: Flag (true or false) for Intent for Public
                              Ip on additional nic
                      x-ms-identifiers: []
                    internetIngressPublicIps:
                      type: array
                      readOnly: false
                      description: List of Resource Uri of Public IPs for Internet
                        Ingress Scenario.
                      items:
                        type: object
                        title: Internet Ingress Public Ip Properties
                        description: Resource Uri of Public Ip for Standard Load Balancer
                          Frontend End.
                        properties:
                          id:
                            type: string
                            readOnly: false
                            description: Resource Uri of Public Ip
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/publicIPAddresses
                      x-ms-identifiers: []
                    virtualApplianceSites:
                      type: array
                      readOnly: true
                      description: List of references to VirtualApplianceSite.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    virtualApplianceConnections:
                      type: array
                      readOnly: true
                      description: List of references to VirtualApplianceConnections.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    inboundSecurityRules:
                      type: array
                      readOnly: true
                      description: List of references to InboundSecurityRules.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    provisioningState:
                      description: The provisioning state of the resource.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    deploymentType:
                      type: string
                      readOnly: true
                      description: The deployment type. PartnerManaged for the SaaS
                        NVA
                    delegation:
                      description: The delegation for the Virtual Appliance
                      type: object
                      properties:
                        serviceName:
                          type: string
                          description: The service name to which the NVA is delegated.
                        provisioningState:
                          readOnly: true
                          type: string
                          description: The current provisioning state.
                          enum:
                          - Succeeded
                          - Updating
                          - Deleting
                          - Failed
                          x-ms-enum:
                            name: ProvisioningState
                            modelAsString: true
                    partnerManagedResource:
                      description: The delegation for the Virtual Appliance
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: PaloAltoNetworks.Cloudngfw/firewalls
                          description: The partner managed resource id.
                        internalLoadBalancerId:
                          readOnly: true
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.Network/loadBalancers
                          description: The partner managed ILB resource id
                        standardLoadBalancerId:
                          readOnly: true
                          type: string
                          format: arm-id
                          x-ms-arm-id-details:
                            allowedResources:
                            - type: Microsoft.Network/loadBalancers
                          description: The partner managed SLB resource id
                identity:
                  description: The service principal that has read access to cloud-init
                    and config blob.
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal id of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                    type:
                      type: string
                      description: The type of identity used for the resource. The
                        type 'SystemAssigned, UserAssigned' includes both an implicitly
                        created identity and a set of user assigned identities. The
                        type 'None' will remove any identities from the virtual machine.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client id of user assigned identity.
                      description: 'The list of user identities associated with resource.
                        The user identity dictionary key references will be ARM resource
                        ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                etag:
                  type: string
                  readOnly: true
                  description: A unique read-only string that changes whenever the
                    resource is updated.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update Network Virtual Appliance.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the resulting Network
            Virtual Appliance resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Network Virtual Appliance.
                    properties:
                      nvaSku:
                        readOnly: false
                        description: Network Virtual Appliance SKU.
                        properties:
                          vendor:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Vendor.
                          bundledScaleUnit:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Scale Unit.
                          marketPlaceVersion:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Version.
                      addressPrefix:
                        type: string
                        readOnly: true
                        description: Address Prefix.
                      bootStrapConfigurationBlobs:
                        type: array
                        readOnly: false
                        description: BootStrapConfigurationBlobs storage URLs.
                        items:
                          type: string
                      virtualHub:
                        readOnly: false
                        description: The Virtual Hub where Network Virtual Appliance
                          is being deployed.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      cloudInitConfigurationBlobs:
                        type: array
                        readOnly: false
                        description: CloudInitConfigurationBlob storage URLs.
                        items:
                          type: string
                      cloudInitConfiguration:
                        type: string
                        readOnly: false
                        description: CloudInitConfiguration string in plain text.
                      virtualApplianceAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: VirtualAppliance ASN. Microsoft private, public
                          and IANA reserved ASN are not supported.
                      sshPublicKey:
                        type: string
                        readOnly: false
                        description: Public key for SSH login.
                      virtualApplianceNics:
                        type: array
                        readOnly: true
                        description: List of Virtual Appliance Network Interfaces.
                        items:
                          properties:
                            nicType:
                              type: string
                              readOnly: true
                              description: NIC type - PublicNic, PrivateNic, or AdditionalNic.
                              enum:
                              - PublicNic
                              - PrivateNic
                              - AdditionalNic
                              x-ms-enum:
                                name: NicTypeInResponse
                                modelAsString: true
                            name:
                              type: string
                              readOnly: true
                              description: NIC name.
                            publicIpAddress:
                              type: string
                              readOnly: true
                              description: Public IP address.
                            privateIpAddress:
                              type: string
                              readOnly: true
                              description: Private IP address.
                            instanceName:
                              type: string
                              readOnly: true
                              description: Instance on which nic is attached.
                          description: Network Virtual Appliance NIC properties.
                      networkProfile:
                        type: object
                        readOnly: false
                        description: Network Profile containing configurations for
                          Public and Private NIC.
                        properties:
                          networkInterfaceConfigurations:
                            type: array
                            items:
                              type: object
                              readOnly: false
                              description: Represents a single NIC configuration.
                              properties:
                                type:
                                  type: string
                                  description: NIC type. This should be either PublicNic
                                    or PrivateNic.
                                  enum:
                                  - PublicNic
                                  - PrivateNic
                                  x-ms-enum:
                                    name: NicTypeInRequest
                                    modelAsString: true
                                  x-ms-client-name: NicType
                                properties:
                                  type: object
                                  readOnly: false
                                  description: Represents a single NIC configuration
                                    properties.
                                  properties:
                                    ipConfigurations:
                                      type: array
                                      items:
                                        type: object
                                        readOnly: false
                                        description: Represents a single IP configuration.
                                        properties:
                                          name:
                                            type: string
                                            description: Name of the IP configuration.
                                          properties:
                                            type: object
                                            readOnly: false
                                            description: Represents a single IP configuration
                                              properties.
                                            properties:
                                              primary:
                                                type: boolean
                                                description: Whether or not this is
                                                  primary IP configuration of the
                                                  NIC.
                                      x-ms-identifiers: []
                            x-ms-identifiers: []
                      additionalNics:
                        type: array
                        readOnly: false
                        description: Details required for Additional Network Interface.
                        items:
                          type: object
                          title: Network Virtual Appliance Additional Nic Properties
                          description: Network Virtual Appliance Additional NIC properties.
                          properties:
                            name:
                              type: string
                              readOnly: false
                              description: Name of additional nic
                            hasPublicIp:
                              type: boolean
                              readOnly: false
                              description: Flag (true or false) for Intent for Public
                                Ip on additional nic
                        x-ms-identifiers: []
                      internetIngressPublicIps:
                        type: array
                        readOnly: false
                        description: List of Resource Uri of Public IPs for Internet
                          Ingress Scenario.
                        items:
                          type: object
                          title: Internet Ingress Public Ip Properties
                          description: Resource Uri of Public Ip for Standard Load
                            Balancer Frontend End.
                          properties:
                            id:
                              type: string
                              readOnly: false
                              description: Resource Uri of Public Ip
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/publicIPAddresses
                        x-ms-identifiers: []
                      virtualApplianceSites:
                        type: array
                        readOnly: true
                        description: List of references to VirtualApplianceSite.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      virtualApplianceConnections:
                        type: array
                        readOnly: true
                        description: List of references to VirtualApplianceConnections.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      inboundSecurityRules:
                        type: array
                        readOnly: true
                        description: List of references to InboundSecurityRules.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      deploymentType:
                        type: string
                        readOnly: true
                        description: The deployment type. PartnerManaged for the SaaS
                          NVA
                      delegation:
                        description: The delegation for the Virtual Appliance
                        type: object
                        properties:
                          serviceName:
                            type: string
                            description: The service name to which the NVA is delegated.
                          provisioningState:
                            readOnly: true
                            type: string
                            description: The current provisioning state.
                            enum:
                            - Succeeded
                            - Updating
                            - Deleting
                            - Failed
                            x-ms-enum:
                              name: ProvisioningState
                              modelAsString: true
                      partnerManagedResource:
                        description: The delegation for the Virtual Appliance
                        type: object
                        properties:
                          id:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: PaloAltoNetworks.Cloudngfw/firewalls
                            description: The partner managed resource id.
                          internalLoadBalancerId:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/loadBalancers
                            description: The partner managed ILB resource id
                          standardLoadBalancerId:
                            readOnly: true
                            type: string
                            format: arm-id
                            x-ms-arm-id-details:
                              allowedResources:
                              - type: Microsoft.Network/loadBalancers
                            description: The partner managed SLB resource id
                  identity:
                    description: The service principal that has read access to cloud-init
                      and config blob.
                    properties:
                      principalId:
                        readOnly: true
                        type: string
                        description: The principal id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      tenantId:
                        readOnly: true
                        type: string
                        description: The tenant id of the system assigned identity.
                          This property will only be provided for a system assigned
                          identity.
                      type:
                        type: string
                        description: The type of identity used for the resource. The
                          type 'SystemAssigned, UserAssigned' includes both an implicitly
                          created identity and a set of user assigned identities.
                          The type 'None' will remove any identities from the virtual
                          machine.
                        enum:
                        - SystemAssigned
                        - UserAssigned
                        - SystemAssigned, UserAssigned
                        - None
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            principalId:
                              readOnly: true
                              type: string
                              description: The principal id of user assigned identity.
                            clientId:
                              readOnly: true
                              type: string
                              description: The client id of user assigned identity.
                        description: 'The list of user identities associated with
                          resource. The user identity dictionary key references will
                          be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Request received successfully. The operation returns the resulting
            Network Virtual Appliance resource.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Network Virtual Appliance.
                    properties:
                      nvaSku:
                        readOnly: false
                        description: Network Virtual Appliance SKU.
                        properties:
                          vendor:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Vendor.
                          bundledScaleUnit:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Scale Unit.
                          marketPlaceVersion:
                            type: string
                            readOnly: false
                            description: Virtual Appliance Version.
                      addressPrefix:
                        type: string
                        readOnly: true
                        description: Address Prefix.
                      bootStrapConfigurationBlobs:
                        type: array
                        readOnly: false
                        description: BootStrapConfigurationBlobs storage URLs.
                        items:
                          type: string
                      virtualHub:
                        readOnly: false
                        description: The Virtual Hub where Network Virtual Appliance
                          is being deployed.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      cloudInitConfigurationBlobs:
                        type: array
                        readOnly: false
                        description: CloudInitConfigurationBlob storage URLs.
                        items:
                          type: string
                      cloudInitConfiguration:
                        type: string
                        readOnly: false
                        description: CloudInitConfiguration string in plain text.
                      virtualApplianceAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: VirtualAppliance ASN. Microsoft private, public
                          and IANA reserved ASN are not supported.
                      sshPublicKey:
                        type: string
                        readOnly: false
                        description: Public key for SSH login.
                      virtualApplianceNics:
                        type: array
                        readOnly: true
                        description: List of Virtual Appliance Network Interfaces.
                        items:
                          properties:
                            nicType:
                              type: string
                              readOnly: true
                              description: NIC type - PublicNic, PrivateNic, or AdditionalNic.
                              enum:
                              - PublicNic
                              - PrivateNic
                              - AdditionalNic
                              x-ms-enum:
                                name: NicTypeInResponse
                                modelAsString: true
                            name:
                              type: string
                              readOnly: true
                              description: NIC name.
                            publicIpAddress:
                              type: string
                              readOnly: true
                              description: Public IP address.
                            privateIpAddress:
                              type: string
                              readOnly: true
                              description: Private IP address.
                            instanceName:
                              type: string
                              readOnly: true
                              description: Instance on which nic is attached.
                          description: Network Virtual Appliance NIC properties.
                      networkProfile:
                        type: object
                        readOnly: false
                        description: Network Profile containing configurations for
                          Public and Private NIC.
                        properties:
                          networkInterfaceConfigurations:
                            type: array
                            items:
                              type: object
                              readOnly: false
                              description: Represents a single NIC configuration.
                              properties:
                                type:
                                  type: string
                                  description: NIC type. This should be either PublicNic
                                    or PrivateNic.
                                  enum:
                                  - PublicNic
                                  - PrivateNic
                                  x-ms-enum:
                                    name: NicTypeInRequest
                                    modelAsString: true
                                  x-ms-client-name: NicType
                                properties:
                                  type: object
                                  readOnly: false
                                  description: Represents a single NIC configuration
                                    properties.
                                  properties:
                                    ipConfigurations:
                                      type: array
                                      items:
                                        type: object
                                        readOnly: false
                                        description: Represents a single IP configuration.
                                        properties:
                                          name:
                                            type: string
                                            description: Name of the IP configuration.
                                          properties:
                                            type: object
                                            readOnly: false
                                            description: Represents a single IP configuration
                                              properties.
                                            properties:
                                              primary:
                                                type: boolean
                                                description: Whether or not this is
                                                  primary IP configuration of the
                                                  NIC.
                                      x-ms-identifiers: []
                            x-ms-identifiers: []
                      additionalNics:
                        type: array
                        readOnly: false
                        description: Details required for Additional Network Interface.
                        items:
                          type: object
                          title: Network Virtual Appliance Additional Nic Properties
                          description: Network Virtual Appliance Additional NIC properties.
                          properties:
                            name:
                              type: string
                              readOnly: false
                              description: Name of additional nic
                            hasPublicIp:
                              type: boolean
                              readOnly: false
                              description: Flag (true or false) for Intent for Public
                                Ip on additional nic
                        x-ms-identifiers: []
                      internetIngressPublicIps:
                        type: array
                        readOnly: false
                        description: List of Resource Uri of Public IPs for Internet
                          Ingress Scenario.
                        items:
                          type: object
                          title: Internet Ingress Public Ip Properties
                          description: Resource Uri of Public Ip for Standard Load
                            Balancer Frontend End.
                          properties:
                            id:
                              type: string
                              readOnly: false
                              description: Resource Uri of Public Ip
                              format: arm-id
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.Network/publicIPAddresses
                        x-ms-identifiers: []
                      virtualApplianceSites:
                        type: array
                        readOnly: true
                        description: List of references to VirtualApplianceSite.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      virtualApplianceConnections:
                        type: array
                        readOnly: true
                        description: List of references to VirtualApplianceConnections.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      inboundSecurityRules:
                        type: array
                        readOnly: true
                        description: List of references to InboundSecurityRules.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
[...]
