openapi: 3.0.0
info:
  title: NetworkManager
  description: The Microsoft Azure Virtual Network Manager API provides a RESTful
    set of web services that interact with Microsoft Azure Network Manager service
    to manage your network resources.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}
  : parameters:
    - name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
    - name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    get:
      tags:
      - NetworkManagers
      operationId: NetworkManagers_Get
      description: Gets the specified Network Manager.
      responses:
        '200':
          description: OK - Returns information about the network manager.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: The network manager properties
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the network manager.
                      networkManagerScopes:
                        type: object
                        properties:
                          managementGroups:
                            type: array
                            items:
                              type: string
                            description: List of management groups.
                          subscriptions:
                            type: array
                            items:
                              type: string
                            description: List of subscriptions.
                          crossTenantScopes:
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                            items:
                              type: object
                              properties:
                                tenantId:
                                  readOnly: true
                                  type: string
                                  description: Tenant ID.
                                managementGroups:
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                  description: List of management groups.
                                subscriptions:
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                  description: List of subscriptions.
                              description: Cross tenant scopes.
                            description: List of cross tenant scopes.
                        description: Scope of Network Manager.
                      networkManagerScopeAccesses:
                        type: array
                        items:
                          type: string
                          enum:
                          - SecurityAdmin
                          - Connectivity
                          - SecurityUser
                          - Routing
                          x-ms-enum:
                            name: ConfigurationType
                            modelAsString: true
                          description: Configuration Deployment Type.
                        description: Scope Access.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network manager
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - networkManagerScopes
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - NetworkManagers
      operationId: NetworkManagers_CreateOrUpdate
      description: Creates or updates a Network Manager.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: The network manager properties
                  type: object
                  properties:
                    description:
                      type: string
                      description: A description of the network manager.
                    networkManagerScopes:
                      type: object
                      properties:
                        managementGroups:
                          type: array
                          items:
                            type: string
                          description: List of management groups.
                        subscriptions:
                          type: array
                          items:
                            type: string
                          description: List of subscriptions.
                        crossTenantScopes:
                          readOnly: true
                          type: array
                          x-ms-identifiers: []
                          items:
                            type: object
                            properties:
                              tenantId:
                                readOnly: true
                                type: string
                                description: Tenant ID.
                              managementGroups:
                                type: array
                                readOnly: true
                                items:
                                  type: string
                                description: List of management groups.
                              subscriptions:
                                type: array
                                readOnly: true
                                items:
                                  type: string
                                description: List of subscriptions.
                            description: Cross tenant scopes.
                          description: List of cross tenant scopes.
                      description: Scope of Network Manager.
                    networkManagerScopeAccesses:
                      type: array
                      items:
                        type: string
                        enum:
                        - SecurityAdmin
                        - Connectivity
                        - SecurityUser
                        - Routing
                        x-ms-enum:
                          name: ConfigurationType
                          modelAsString: true
                        description: Configuration Deployment Type.
                      description: Scope Access.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the network manager resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    resourceGuid:
                      type: string
                      readOnly: true
                      description: Unique identifier for this resource.
                  required:
                  - networkManagerScopes
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                systemData:
                  readOnly: true
                  description: The system metadata related to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to specify which network manager is.
        required: true
      responses:
        '200':
          description: Updated - Returns information about the network manager.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: The network manager properties
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the network manager.
                      networkManagerScopes:
                        type: object
                        properties:
                          managementGroups:
                            type: array
                            items:
                              type: string
                            description: List of management groups.
                          subscriptions:
                            type: array
                            items:
                              type: string
                            description: List of subscriptions.
                          crossTenantScopes:
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                            items:
                              type: object
                              properties:
                                tenantId:
                                  readOnly: true
                                  type: string
                                  description: Tenant ID.
                                managementGroups:
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                  description: List of management groups.
                                subscriptions:
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                  description: List of subscriptions.
                              description: Cross tenant scopes.
                            description: List of cross tenant scopes.
                        description: Scope of Network Manager.
                      networkManagerScopeAccesses:
                        type: array
                        items:
                          type: string
                          enum:
                          - SecurityAdmin
                          - Connectivity
                          - SecurityUser
                          - Routing
                          x-ms-enum:
                            name: ConfigurationType
                            modelAsString: true
                          description: Configuration Deployment Type.
                        description: Scope Access.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network manager
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - networkManagerScopes
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Created - Returns information about the network manager.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: The network manager properties
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the network manager.
                      networkManagerScopes:
                        type: object
                        properties:
                          managementGroups:
                            type: array
                            items:
                              type: string
                            description: List of management groups.
                          subscriptions:
                            type: array
                            items:
                              type: string
                            description: List of subscriptions.
                          crossTenantScopes:
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                            items:
                              type: object
                              properties:
                                tenantId:
                                  readOnly: true
                                  type: string
                                  description: Tenant ID.
                                managementGroups:
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                  description: List of management groups.
                                subscriptions:
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                  description: List of subscriptions.
                              description: Cross tenant scopes.
                            description: List of cross tenant scopes.
                        description: Scope of Network Manager.
                      networkManagerScopeAccesses:
                        type: array
                        items:
                          type: string
                          enum:
                          - SecurityAdmin
                          - Connectivity
                          - SecurityUser
                          - Routing
                          x-ms-enum:
                            name: ConfigurationType
                            modelAsString: true
                          description: Configuration Deployment Type.
                        description: Scope Access.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network manager
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - networkManagerScopes
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    delete:
      tags:
      - NetworkManagers
      operationId: NetworkManagers_Delete
      parameters:
      - name: force
        in: query
        required: false
        description: Deletes the resource even if it is part of a deployed configuration.
          If the configuration has been deployed, the service will do a cleanup deployment
          in the background, prior to the delete.
        x-ms-parameter-location: method
        schema:
          type: boolean
      description: Deletes a network manager.
      responses:
        '200':
          description: Delete Succeed.
        '202':
          description: Accepted and will complete asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: Request successful. The resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    patch:
      tags:
      - NetworkManagers
      operationId: NetworkManagers_Patch
      description: Patch NetworkManager.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Object for patch operations.
        description: Parameters supplied to specify which network manager is.
        required: true
      responses:
        '200':
          description: Updated - Returns information about the network manager.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: The network manager properties
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the network manager.
                      networkManagerScopes:
                        type: object
                        properties:
                          managementGroups:
                            type: array
                            items:
                              type: string
                            description: List of management groups.
                          subscriptions:
                            type: array
                            items:
                              type: string
                            description: List of subscriptions.
                          crossTenantScopes:
                            readOnly: true
                            type: array
                            x-ms-identifiers: []
                            items:
                              type: object
                              properties:
                                tenantId:
                                  readOnly: true
                                  type: string
                                  description: Tenant ID.
                                managementGroups:
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                  description: List of management groups.
                                subscriptions:
                                  type: array
                                  readOnly: true
                                  items:
                                    type: string
                                  description: List of subscriptions.
                              description: Cross tenant scopes.
                            description: List of cross tenant scopes.
                        description: Scope of Network Manager.
                      networkManagerScopeAccesses:
                        type: array
                        items:
                          type: string
                          enum:
                          - SecurityAdmin
                          - Connectivity
                          - SecurityUser
                          - Routing
                          x-ms-enum:
                            name: ConfigurationType
                            modelAsString: true
                          description: Configuration Deployment Type.
                        description: Scope Access.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the network manager
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - networkManagerScopes
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Resource Provider error response describing why the operation
            failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/commit
  : parameters:
    - name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
    - name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    post:
      tags:
      - NetworkManagers
      operationId: NetworkManagerCommits_Post
      description: Post a Network Manager Commit.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                commitId:
                  type: string
                  readOnly: true
                  description: Commit Id.
                targetLocations:
                  type: array
                  items:
                    type: string
                  description: List of target locations.
                configurationIds:
                  type: array
                  items:
                    type: string
                  description: List of configuration ids.
                commitType:
                  type: string
                  description: Commit Type.
                  enum:
                  - SecurityAdmin
                  - Connectivity
                  - SecurityUser
                  - Routing
                  x-ms-enum:
                    name: ConfigurationType
                    modelAsString: true
              required:
              - targetLocations
              - commitType
              description: Network Manager Commit.
        description: Parameters supplied to specify which Managed Network commit is.
        required: true
      responses:
        '200':
          description: Succeed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  commitId:
                    type: string
                    readOnly: true
                    description: Commit Id.
                  targetLocations:
                    type: array
                    items:
                      type: string
                    description: List of target locations.
                  configurationIds:
                    type: array
                    items:
                      type: string
                    description: List of configuration ids.
                  commitType:
                    type: string
                    description: Commit Type.
                    enum:
                    - SecurityAdmin
                    - Connectivity
                    - SecurityUser
                    - Routing
                    x-ms-enum:
                      name: ConfigurationType
                      modelAsString: true
                required:
                - targetLocations
                - commitType
                description: Network Manager Commit.
        '202':
          description: Accepted and the operation will complete asynchronously
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  commitId:
                    type: string
                    readOnly: true
                    description: Commit Id.
                  targetLocations:
                    type: array
                    items:
                      type: string
                    description: List of target locations.
                  configurationIds:
                    type: array
                    items:
                      type: string
                    description: List of configuration ids.
                  commitType:
                    type: string
                    description: Commit Type.
                    enum:
                    - SecurityAdmin
                    - Connectivity
                    - SecurityUser
                    - Routing
                    x-ms-enum:
                      name: ConfigurationType
                      modelAsString: true
                required:
                - targetLocations
                - commitType
                description: Network Manager Commit.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/listDeploymentStatus
  : parameters:
    - name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
    - name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    - name: $top
      description: An optional query parameter which specifies the maximum number
        of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 20
    post:
      tags:
      - NetworkManagers
      operationId: NetworkManagerDeploymentStatus_List
      description: Post to List of Network Manager Deployment Status.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                regions:
                  type: array
                  items:
                    type: string
                  description: List of locations.
                deploymentTypes:
                  type: array
                  items:
                    type: string
                    enum:
                    - SecurityAdmin
                    - Connectivity
                    - SecurityUser
                    - Routing
                    x-ms-enum:
                      name: ConfigurationType
                      modelAsString: true
                    description: Configuration Deployment Type.
                  description: List of deployment types.
                skipToken:
                  description: Continuation token for pagination, capturing the next
                    page size and offset, as well as the context of the query.
                  type: string
              description: Network Manager Deployment Status Parameter.
        description: Parameters supplied to specify which Managed Network deployment
          status is.
        required: true
      responses:
        '200':
          description: OK - Returns a list of deployment status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    x-ms-identifiers: []
                    items:
                      type: object
                      properties:
                        commitTime:
                          type: string
                          format: date-time
                          description: Commit Time.
                        region:
                          type: string
                          description: Region Name.
                        deploymentStatus:
                          type: string
                          enum:
                          - NotStarted
                          - Deploying
                          - Deployed
                          - Failed
                          x-ms-enum:
                            name: DeploymentStatus
                            modelAsString: true
                          description: Deployment Status.
                        configurationIds:
                          type: array
                          items:
                            type: string
                          description: List of configuration ids.
                        deploymentType:
                          type: string
                          enum:
                          - SecurityAdmin
                          - Connectivity
                          - SecurityUser
                          - Routing
                          x-ms-enum:
                            name: ConfigurationType
                            modelAsString: true
                          description: Configuration Deployment Type.
                        errorMessage:
                          type: string
                          description: Error Message.
                      description: Network Manager Deployment Status.
                    description: Gets a page of Network Manager Deployment Status
                  skipToken:
                    description: When present, the value can be passed to a subsequent
                      query call (together with the same query and scopes used in
                      the current request) to retrieve the next page of data.
                    type: string
                description: A list of Network Manager Deployment Status
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagers:
    get:
      tags:
      - NetworkManagers
      operationId: NetworkManagers_ListBySubscription
      description: List all network managers in a subscription.
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: $top
        description: An optional query parameter which specifies the maximum number
          of records to be returned by the server.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 20
      - name: $skipToken
        description: SkipToken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skipToken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns information about the network managers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: The network manager properties
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description of the network manager.
                            networkManagerScopes:
                              type: object
                              properties:
                                managementGroups:
                                  type: array
                                  items:
                                    type: string
                                  description: List of management groups.
                                subscriptions:
                                  type: array
                                  items:
                                    type: string
                                  description: List of subscriptions.
                                crossTenantScopes:
                                  readOnly: true
                                  type: array
                                  x-ms-identifiers: []
                                  items:
                                    type: object
                                    properties:
                                      tenantId:
                                        readOnly: true
                                        type: string
                                        description: Tenant ID.
                                      managementGroups:
                                        type: array
                                        readOnly: true
                                        items:
                                          type: string
                                        description: List of management groups.
                                      subscriptions:
                                        type: array
                                        readOnly: true
                                        items:
                                          type: string
                                        description: List of subscriptions.
                                    description: Cross tenant scopes.
                                  description: List of cross tenant scopes.
                              description: Scope of Network Manager.
                            networkManagerScopeAccesses:
                              type: array
                              items:
                                type: string
                                enum:
                                - SecurityAdmin
                                - Connectivity
                                - SecurityUser
                                - Routing
                                x-ms-enum:
                                  name: ConfigurationType
                                  modelAsString: true
                                description: Configuration Deployment Type.
                              description: Scope Access.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the network manager
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                          required:
                          - networkManagerScopes
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: Gets a page of NetworkManager
                  nextLink:
                    type: string
                    description: Gets the URL to get the next page of results.
                description: Result of the request to list NetworkManager. It contains
                  a list of network managers and a URL link to get the next set of
                  results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers:
    get:
      tags:
      - NetworkManagers
      operationId: NetworkManagers_List
      description: List network managers in a resource group.
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: $top
        description: An optional query parameter which specifies the maximum number
          of records to be returned by the server.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 20
      - name: $skipToken
        description: SkipToken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skipToken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK - Returns a list of network managers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: The network manager properties
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description of the network manager.
                            networkManagerScopes:
                              type: object
                              properties:
                                managementGroups:
                                  type: array
                                  items:
                                    type: string
                                  description: List of management groups.
                                subscriptions:
                                  type: array
                                  items:
                                    type: string
                                  description: List of subscriptions.
                                crossTenantScopes:
                                  readOnly: true
                                  type: array
                                  x-ms-identifiers: []
                                  items:
                                    type: object
                                    properties:
                                      tenantId:
                                        readOnly: true
                                        type: string
                                        description: Tenant ID.
                                      managementGroups:
                                        type: array
                                        readOnly: true
                                        items:
                                          type: string
                                        description: List of management groups.
                                      subscriptions:
                                        type: array
                                        readOnly: true
                                        items:
                                          type: string
                                        description: List of subscriptions.
                                    description: Cross tenant scopes.
                                  description: List of cross tenant scopes.
                              description: Scope of Network Manager.
                            networkManagerScopeAccesses:
                              type: array
                              items:
                                type: string
                                enum:
                                - SecurityAdmin
                                - Connectivity
                                - SecurityUser
                                - Routing
                                x-ms-enum:
                                  name: ConfigurationType
                                  modelAsString: true
                                description: Configuration Deployment Type.
                              description: Scope Access.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the network manager
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                          required:
                          - networkManagerScopes
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: Gets a page of NetworkManager
                  nextLink:
                    type: string
                    description: Gets the URL to get the next page of results.
                description: Result of the request to list NetworkManager. It contains
                  a list of network managers and a URL link to get the next set of
                  results.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
components:
  parameters:
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      x-ms-parameter-location: method
      schema:
        type: string
    NetworkManagerNameParameter:
      name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$
    OperationResultIdParameter:
      name: operationResultId
      in: path
      required: true
      description: The id of operation Result.
      x-ms-parameter-location: method
      schema:
        type: string
    ListTopParameter:
      name: $top
      description: An optional query parameter which specifies the maximum number
        of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 20
    ListSkipTokenParameter:
      name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial
        result. If a previous response contains a nextLink element, the value of the
        nextLink element will include a skipToken parameter that specifies a starting
        point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    ForceDeleteParameter:
      name: force
      in: query
      required: false
      description: Deletes the resource even if it is part of a deployed configuration.
        If the configuration has been deployed, the service will do a cleanup deployment
        in the background, prior to the delete.
      x-ms-parameter-location: method
      schema:
        type: boolean
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    NetworkManager:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          x-ms-client-flatten: true
          description: The network manager properties
          type: object
          properties:
            description:
              type: string
              description: A description of the network manager.
            networkManagerScopes:
              type: object
              properties:
                managementGroups:
                  type: array
                  items:
                    type: string
                  description: List of management groups.
                subscriptions:
                  type: array
                  items:
                    type: string
                  description: List of subscriptions.
                crossTenantScopes:
                  readOnly: true
                  type: array
                  x-ms-identifiers: []
                  items:
                    type: object
                    properties:
                      tenantId:
                        readOnly: true
                        type: string
                        description: Tenant ID.
                      managementGroups:
                        type: array
                        readOnly: true
                        items:
                          type: string
                        description: List of management groups.
                      subscriptions:
                        type: array
                        readOnly: true
                        items:
                          type: string
                        description: List of subscriptions.
                    description: Cross tenant scopes.
                  description: List of cross tenant scopes.
              description: Scope of Network Manager.
            networkManagerScopeAccesses:
              type: array
              items:
                type: string
                enum:
                - SecurityAdmin
                - Connectivity
                - SecurityUser
                - Routing
                x-ms-enum:
                  name: ConfigurationType
                  modelAsString: true
                description: Configuration Deployment Type.
              description: Scope Access.
            provisioningState:
              readOnly: true
              description: The provisioning state of the network manager resource.
              type: string
              enum:
[...]
