openapi: 3.0.0
info:
  title: SecurityUserConfiguration
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations
  : get:
      tags:
      - SecurityUserConfigurations
      operationId: SecurityUserConfigurations_List
      description: Lists all the network manager security user configurations in a
        network manager, in a paginated format.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.-]*$
      - name: $top
        description: An optional query parameter which specifies the maximum number
          of records to be returned by the server.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 20
      - name: $skipToken
        description: SkipToken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skipToken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Get successful. The operation returns all security user configurations
            in the specified network manager, in a paginated format
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Indicates the properties for the network manager
                            security user configuration.
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description of the security user configuration.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Proxy resource representation.
                      x-ms-azure-resource: true
                    description: Gets a page of security user configurations
                  nextLink:
                    type: string
                    description: Gets the URL to get the next page of results.
                description: A list of network manager security user configurations
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations/{configurationName}
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: configurationName
      in: path
      description: The name of the network manager Security Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    get:
      tags:
      - SecurityUserConfigurations
      description: Retrieves a network manager security user configuration.
      operationId: SecurityUserConfigurations_Get
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      security user configuration.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the security user configuration.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - SecurityUserConfigurations
      description: Creates or updates a network manager security user configuration.
      operationId: SecurityUserConfigurations_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                properties:
                  x-ms-client-flatten: true
                  description: Indicates the properties for the network manager security
                    user configuration.
                  type: object
                  properties:
                    description:
                      type: string
                      description: A description of the security user configuration.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    resourceGuid:
                      type: string
                      readOnly: true
                      description: Unique identifier for this resource.
                systemData:
                  readOnly: true
                  description: The system metadata related to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              description: Proxy resource representation.
              x-ms-azure-resource: true
        description: The security user configuration to create or update
        required: true
      responses:
        '200':
          description: Updated Configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      security user configuration.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the security user configuration.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        '201':
          description: Created Configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      security user configuration.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the security user configuration.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    delete:
      tags:
      - SecurityUserConfigurations
      description: Deletes a network manager security user configuration.
      operationId: SecurityUserConfigurations_Delete
      parameters:
      - name: force
        in: query
        required: false
        description: Deletes the resource even if it is part of a deployed configuration.
          If the configuration has been deployed, the service will do a cleanup deployment
          in the background, prior to the delete.
        x-ms-parameter-location: method
        schema:
          type: boolean
      responses:
        '200':
          description: OK
        '202':
          description: Accepted and will complete asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations/{configurationName}/ruleCollections
  : get:
      tags:
      - SecurityUserRuleCollections
      operationId: SecurityUserRuleCollections_List
      description: Lists all the security user rule collections in a security configuration,
        in a paginated format.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: networkManagerName
        in: path
        required: true
        description: The name of the network manager.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.-]*$
      - name: configurationName
        in: path
        description: The name of the network manager Security Configuration.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.-]*$
      - name: $top
        description: An optional query parameter which specifies the maximum number
          of records to be returned by the server.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 20
      - name: $skipToken
        description: SkipToken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skipToken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Get successful. The operation returns all ruleCollections in
            the specified security configuration, in a paginated format
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Indicates the properties for the network manager
                            security user rule collection.
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description of the security user rule
                                collection.
                            appliesToGroups:
                              type: array
                              x-ms-identifiers:
                              - networkGroupId
                              items:
                                type: object
                                properties:
                                  networkGroupId:
                                    type: string
                                    description: Network manager group Id.
                                required:
                                - networkGroupId
                                description: Network manager security user group item.
                              description: Groups for configuration
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                          required:
                          - appliesToGroups
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Proxy resource representation.
                      x-ms-azure-resource: true
                    description: A list of network manager security user configuration
                      rule collections
                  nextLink:
                    type: string
                    description: Gets the URL to get the next set of results.
                description: Security user configuration rule collection list result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: configurationName
      in: path
      description: The name of the network manager Security Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: ruleCollectionName
      in: path
      description: The name of the network manager security Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    get:
      tags:
      - SecurityUserRuleCollections
      description: Gets a network manager security user configuration rule collection.
      operationId: SecurityUserRuleCollections_Get
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      security user rule collection.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the security user rule collection.
                      appliesToGroups:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network manager group Id.
                          required:
                          - networkGroupId
                          description: Network manager security user group item.
                        description: Groups for configuration
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - appliesToGroups
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - SecurityUserRuleCollections
      description: Creates or updates a security user rule collection.
      operationId: SecurityUserRuleCollections_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                properties:
                  x-ms-client-flatten: true
                  description: Indicates the properties for the network manager security
                    user rule collection.
                  type: object
                  properties:
                    description:
                      type: string
                      description: A description of the security user rule collection.
                    appliesToGroups:
                      type: array
                      x-ms-identifiers:
                      - networkGroupId
                      items:
                        type: object
                        properties:
                          networkGroupId:
                            type: string
                            description: Network manager group Id.
                        required:
                        - networkGroupId
                        description: Network manager security user group item.
                      description: Groups for configuration
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    resourceGuid:
                      type: string
                      readOnly: true
                      description: Unique identifier for this resource.
                  required:
                  - appliesToGroups
                systemData:
                  readOnly: true
                  description: The system metadata related to this resource.
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The type of identity that last modified the resource.
              description: Proxy resource representation.
              x-ms-azure-resource: true
        description: The Security User Rule Collection to create or update
        required: true
      responses:
        '200':
          description: Updated Security User Rule Collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      security user rule collection.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the security user rule collection.
                      appliesToGroups:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network manager group Id.
                          required:
                          - networkGroupId
                          description: Network manager security user group item.
                        description: Groups for configuration
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - appliesToGroups
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        '201':
          description: Created Security User Rule Collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  properties:
                    x-ms-client-flatten: true
                    description: Indicates the properties for the network manager
                      security user rule collection.
                    type: object
                    properties:
                      description:
                        type: string
                        description: A description of the security user rule collection.
                      appliesToGroups:
                        type: array
                        x-ms-identifiers:
                        - networkGroupId
                        items:
                          type: object
                          properties:
                            networkGroupId:
                              type: string
                              description: Network manager group Id.
                          required:
                          - networkGroupId
                          description: Network manager security user group item.
                        description: Groups for configuration
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      resourceGuid:
                        type: string
                        readOnly: true
                        description: Unique identifier for this resource.
                    required:
                    - appliesToGroups
                  systemData:
                    readOnly: true
                    description: The system metadata related to this resource.
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The type of identity that last modified the resource.
                description: Proxy resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    delete:
      tags:
      - SecurityUserRuleCollections
      description: Deletes a Security User Rule collection.
      parameters:
      - name: force
        in: query
        required: false
        description: Deletes the resource even if it is part of a deployed configuration.
          If the configuration has been deployed, the service will do a cleanup deployment
          in the background, prior to the delete.
        x-ms-parameter-location: method
        schema:
          type: boolean
      operationId: SecurityUserRuleCollections_Delete
      responses:
        '200':
          description: OK
        '202':
          description: Accepted and will complete asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the
                asynchronous operation.
              schema:
                type: string
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}/rules
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: configurationName
      in: path
      description: The name of the network manager Security Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: ruleCollectionName
      in: path
      description: The name of the network manager security Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: $top
      description: An optional query parameter which specifies the maximum number
        of records to be returned by the server.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 20
    - name: $skipToken
      description: SkipToken is only used if a previous operation returned a partial
        result. If a previous response contains a nextLink element, the value of the
        nextLink element will include a skipToken parameter that specifies a starting
        point to use for subsequent calls.
      in: query
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    get:
      tags:
      - SecurityUserRules
      description: Lists all Security User Rules in a rule collection.
      operationId: SecurityUserRules_List
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        properties:
                          x-ms-client-flatten: true
                          description: Indicates the properties of the security user
                            rule
                          type: object
                          properties:
                            description:
                              type: string
                              description: A description for this rule.
                            protocol:
                              type: string
                              description: Network protocol this rule applies to.
                              enum:
                              - Tcp
                              - Udp
                              - Icmp
                              - Esp
                              - Any
                              - Ah
                              x-ms-enum:
                                name: SecurityConfigurationRuleProtocol
                                modelAsString: true
                            sources:
                              type: array
                              x-ms-identifiers:
                              - addressPrefix
                              items:
                                type: object
                                properties:
                                  addressPrefix:
                                    type: string
                                    description: Address prefix.
                                  addressPrefixType:
                                    type: string
                                    description: Address prefix type.
                                    enum:
                                    - IPPrefix
                                    - ServiceTag
                                    - NetworkGroup
                                    x-ms-enum:
                                      name: AddressPrefixType
                                      modelAsString: true
                                description: Address prefix item.
                              description: The CIDR or source IP ranges.
                            destinations:
                              type: array
                              x-ms-identifiers:
                              - addressPrefix
                              items:
                                type: object
                                properties:
                                  addressPrefix:
                                    type: string
                                    description: Address prefix.
                                  addressPrefixType:
                                    type: string
                                    description: Address prefix type.
                                    enum:
                                    - IPPrefix
                                    - ServiceTag
                                    - NetworkGroup
                                    x-ms-enum:
                                      name: AddressPrefixType
                                      modelAsString: true
                                description: Address prefix item.
                              description: The destination address prefixes. CIDR
                                or destination IP ranges.
                            sourcePortRanges:
                              type: array
                              items:
                                type: string
                                description: The source port.
                              description: The source port ranges.
                            destinationPortRanges:
                              type: array
                              items:
                                type: string
                                description: The destination port.
                              description: The destination port ranges.
                            direction:
                              description: Indicates if the traffic matched against
                                the rule in inbound or outbound.
                              type: string
                              enum:
                              - Inbound
                              - Outbound
                              x-ms-enum:
                                name: SecurityConfigurationRuleDirection
                                modelAsString: true
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the security
                                configuration user rule resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            resourceGuid:
                              type: string
                              readOnly: true
                              description: Unique identifier for this resource.
                          required:
                          - protocol
                          - direction
                        systemData:
                          readOnly: true
                          description: The system metadata related to this resource.
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The type of identity that last modified
                                the resource.
                      description: Proxy resource representation.
                      x-ms-azure-resource: true
                    description: A list of security user rules
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: security user rule list result.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityUserConfigurations/{configurationName}/ruleCollections/{ruleCollectionName}/rules/{ruleName}
  : parameters:
    - name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    - name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: networkManagerName
      in: path
      required: true
      description: The name of the network manager.
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: configurationName
      in: path
      description: The name of the network manager Security Configuration.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: ruleCollectionName
      in: path
      description: The name of the network manager security Configuration rule collection.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    - name: ruleName
      in: path
      description: The name of the rule.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_.-]*$
    get:
      tags:
      - SecurityUserRules
      description: Gets a security user rule.
      operationId: SecurityUserRules_Get
      responses:
[...]
