openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Network/operations:
    get:
      operationId: Operations_List
      description: Lists all of the available Network Rest API operations.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                description: Result of the request to list Network operations. It
                  contains a list of operations and a URL link to get the next set
                  of results.
                properties:
                  value:
                    type: array
                    items:
                      description: Network REST API operation definition.
                      type: object
                      properties:
                        name:
                          description: 'Operation name: {provider}/{resource}/{operation}.'
                          type: string
                        display:
                          description: Display metadata associated with the operation.
                          properties:
                            provider:
                              description: 'Service provider: Microsoft Network.'
                              type: string
                            resource:
                              description: Resource on which the operation is performed.
                              type: string
                            operation:
                              description: 'Type of the operation: get, read, delete,
                                etc.'
                              type: string
                            description:
                              description: Description of the operation.
                              type: string
                        origin:
                          description: Origin of the operation.
                          type: string
                        properties:
                          x-ms-client-flatten: true
                          description: Operation properties format.
                          properties:
                            serviceSpecification:
                              description: Specification of the service.
                              properties:
                                metricSpecifications:
                                  type: array
                                  items:
                                    description: Description of metrics specification.
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the metric.
                                      displayName:
                                        type: string
                                        description: The display name of the metric.
                                      displayDescription:
                                        type: string
                                        description: The description of the metric.
                                      unit:
                                        type: string
                                        description: Units the metric to be displayed
                                          in.
                                      aggregationType:
                                        type: string
                                        description: The aggregation type.
                                      availabilities:
                                        type: array
                                        items:
                                          description: Availability of the metric.
                                          properties:
                                            timeGrain:
                                              type: string
                                              description: The time grain of the availability.
                                            retention:
                                              type: string
                                              description: The retention of the availability.
                                            blobDuration:
                                              type: string
                                              description: Duration of the availability
                                                blob.
                                        description: List of availability.
                                      enableRegionalMdmAccount:
                                        type: boolean
                                        description: Whether regional MDM account
                                          enabled.
                                      fillGapWithZero:
                                        type: boolean
                                        description: Whether gaps would be filled
                                          with zeros.
                                      metricFilterPattern:
                                        type: string
                                        description: Pattern for the filter of the
                                          metric.
                                      dimensions:
                                        type: array
                                        items:
                                          description: Dimension of the metric.
                                          properties:
                                            name:
                                              type: string
                                              description: The name of the dimension.
                                            displayName:
                                              type: string
                                              description: The display name of the
                                                dimension.
                                            internalName:
                                              type: string
                                              description: The internal name of the
                                                dimension.
                                        description: List of dimensions.
                                      isInternal:
                                        type: boolean
                                        description: Whether the metric is internal.
                                      sourceMdmAccount:
                                        type: string
                                        description: The source MDM account.
                                      sourceMdmNamespace:
                                        type: string
                                        description: The source MDM namespace.
                                      resourceIdDimensionNameOverride:
                                        type: string
                                        description: The resource Id dimension name
                                          override.
                                  description: Operation service specification.
                                logSpecifications:
                                  type: array
                                  items:
                                    description: Description of logging specification.
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the specification.
                                      displayName:
                                        type: string
                                        description: The display name of the specification.
                                      blobDuration:
                                        type: string
                                        description: Duration of the blob.
                                  description: Operation log specification.
                    description: List of Network operations supported by the Network
                      resource provider.
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      if there are any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationListResult:
      description: Result of the request to list Network operations. It contains a
        list of operations and a URL link to get the next set of results.
      properties:
        value:
          type: array
          items:
            description: Network REST API operation definition.
            type: object
            properties:
              name:
                description: 'Operation name: {provider}/{resource}/{operation}.'
                type: string
              display:
                description: Display metadata associated with the operation.
                properties:
                  provider:
                    description: 'Service provider: Microsoft Network.'
                    type: string
                  resource:
                    description: Resource on which the operation is performed.
                    type: string
                  operation:
                    description: 'Type of the operation: get, read, delete, etc.'
                    type: string
                  description:
                    description: Description of the operation.
                    type: string
              origin:
                description: Origin of the operation.
                type: string
              properties:
                x-ms-client-flatten: true
                description: Operation properties format.
                properties:
                  serviceSpecification:
                    description: Specification of the service.
                    properties:
                      metricSpecifications:
                        type: array
                        items:
                          description: Description of metrics specification.
                          properties:
                            name:
                              type: string
                              description: The name of the metric.
                            displayName:
                              type: string
                              description: The display name of the metric.
                            displayDescription:
                              type: string
                              description: The description of the metric.
                            unit:
                              type: string
                              description: Units the metric to be displayed in.
                            aggregationType:
                              type: string
                              description: The aggregation type.
                            availabilities:
                              type: array
                              items:
                                description: Availability of the metric.
                                properties:
                                  timeGrain:
                                    type: string
                                    description: The time grain of the availability.
                                  retention:
                                    type: string
                                    description: The retention of the availability.
                                  blobDuration:
                                    type: string
                                    description: Duration of the availability blob.
                              description: List of availability.
                            enableRegionalMdmAccount:
                              type: boolean
                              description: Whether regional MDM account enabled.
                            fillGapWithZero:
                              type: boolean
                              description: Whether gaps would be filled with zeros.
                            metricFilterPattern:
                              type: string
                              description: Pattern for the filter of the metric.
                            dimensions:
                              type: array
                              items:
                                description: Dimension of the metric.
                                properties:
                                  name:
                                    type: string
                                    description: The name of the dimension.
                                  displayName:
                                    type: string
                                    description: The display name of the dimension.
                                  internalName:
                                    type: string
                                    description: The internal name of the dimension.
                              description: List of dimensions.
                            isInternal:
                              type: boolean
                              description: Whether the metric is internal.
                            sourceMdmAccount:
                              type: string
                              description: The source MDM account.
                            sourceMdmNamespace:
                              type: string
                              description: The source MDM namespace.
                            resourceIdDimensionNameOverride:
                              type: string
                              description: The resource Id dimension name override.
                        description: Operation service specification.
                      logSpecifications:
                        type: array
                        items:
                          description: Description of logging specification.
                          properties:
                            name:
                              type: string
                              description: The name of the specification.
                            displayName:
                              type: string
                              description: The display name of the specification.
                            blobDuration:
                              type: string
                              description: Duration of the blob.
                        description: Operation log specification.
          description: List of Network operations supported by the Network resource
            provider.
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there
            are any.
    Operation:
      description: Network REST API operation definition.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          type: string
        display:
          description: Display metadata associated with the operation.
          properties:
            provider:
              description: 'Service provider: Microsoft Network.'
              type: string
            resource:
              description: Resource on which the operation is performed.
              type: string
            operation:
              description: 'Type of the operation: get, read, delete, etc.'
              type: string
            description:
              description: Description of the operation.
              type: string
        origin:
          description: Origin of the operation.
          type: string
        properties:
          x-ms-client-flatten: true
          description: Operation properties format.
          properties:
            serviceSpecification:
              description: Specification of the service.
              properties:
                metricSpecifications:
                  type: array
                  items:
                    description: Description of metrics specification.
                    properties:
                      name:
                        type: string
                        description: The name of the metric.
                      displayName:
                        type: string
                        description: The display name of the metric.
                      displayDescription:
                        type: string
                        description: The description of the metric.
                      unit:
                        type: string
                        description: Units the metric to be displayed in.
                      aggregationType:
                        type: string
                        description: The aggregation type.
                      availabilities:
                        type: array
                        items:
                          description: Availability of the metric.
                          properties:
                            timeGrain:
                              type: string
                              description: The time grain of the availability.
                            retention:
                              type: string
                              description: The retention of the availability.
                            blobDuration:
                              type: string
                              description: Duration of the availability blob.
                        description: List of availability.
                      enableRegionalMdmAccount:
                        type: boolean
                        description: Whether regional MDM account enabled.
                      fillGapWithZero:
                        type: boolean
                        description: Whether gaps would be filled with zeros.
                      metricFilterPattern:
                        type: string
                        description: Pattern for the filter of the metric.
                      dimensions:
                        type: array
                        items:
                          description: Dimension of the metric.
                          properties:
                            name:
                              type: string
                              description: The name of the dimension.
                            displayName:
                              type: string
                              description: The display name of the dimension.
                            internalName:
                              type: string
                              description: The internal name of the dimension.
                        description: List of dimensions.
                      isInternal:
                        type: boolean
                        description: Whether the metric is internal.
                      sourceMdmAccount:
                        type: string
                        description: The source MDM account.
                      sourceMdmNamespace:
                        type: string
                        description: The source MDM namespace.
                      resourceIdDimensionNameOverride:
                        type: string
                        description: The resource Id dimension name override.
                  description: Operation service specification.
                logSpecifications:
                  type: array
                  items:
                    description: Description of logging specification.
                    properties:
                      name:
                        type: string
                        description: The name of the specification.
                      displayName:
                        type: string
                        description: The display name of the specification.
                      blobDuration:
                        type: string
                        description: Duration of the blob.
                  description: Operation log specification.
    OperationPropertiesFormat:
      description: Description of operation properties format.
      properties:
        serviceSpecification:
          description: Specification of the service.
          properties:
            metricSpecifications:
              type: array
              items:
                description: Description of metrics specification.
                properties:
                  name:
                    type: string
                    description: The name of the metric.
                  displayName:
                    type: string
                    description: The display name of the metric.
                  displayDescription:
                    type: string
                    description: The description of the metric.
                  unit:
                    type: string
                    description: Units the metric to be displayed in.
                  aggregationType:
                    type: string
                    description: The aggregation type.
                  availabilities:
                    type: array
                    items:
                      description: Availability of the metric.
                      properties:
                        timeGrain:
                          type: string
                          description: The time grain of the availability.
                        retention:
                          type: string
                          description: The retention of the availability.
                        blobDuration:
                          type: string
                          description: Duration of the availability blob.
                    description: List of availability.
                  enableRegionalMdmAccount:
                    type: boolean
                    description: Whether regional MDM account enabled.
                  fillGapWithZero:
                    type: boolean
                    description: Whether gaps would be filled with zeros.
                  metricFilterPattern:
                    type: string
                    description: Pattern for the filter of the metric.
                  dimensions:
                    type: array
                    items:
                      description: Dimension of the metric.
                      properties:
                        name:
                          type: string
                          description: The name of the dimension.
                        displayName:
                          type: string
                          description: The display name of the dimension.
                        internalName:
                          type: string
                          description: The internal name of the dimension.
                    description: List of dimensions.
                  isInternal:
                    type: boolean
                    description: Whether the metric is internal.
                  sourceMdmAccount:
                    type: string
                    description: The source MDM account.
                  sourceMdmNamespace:
                    type: string
                    description: The source MDM namespace.
                  resourceIdDimensionNameOverride:
                    type: string
                    description: The resource Id dimension name override.
              description: Operation service specification.
            logSpecifications:
              type: array
              items:
                description: Description of logging specification.
                properties:
                  name:
                    type: string
                    description: The name of the specification.
                  displayName:
                    type: string
                    description: The display name of the specification.
                  blobDuration:
                    type: string
                    description: Duration of the blob.
              description: Operation log specification.
    LogSpecification:
      description: Description of logging specification.
      properties:
        name:
          type: string
          description: The name of the specification.
        displayName:
          type: string
          description: The display name of the specification.
        blobDuration:
          type: string
          description: Duration of the blob.
    MetricSpecification:
      description: Description of metrics specification.
      properties:
        name:
          type: string
          description: The name of the metric.
        displayName:
          type: string
          description: The display name of the metric.
        displayDescription:
          type: string
          description: The description of the metric.
        unit:
          type: string
          description: Units the metric to be displayed in.
        aggregationType:
          type: string
          description: The aggregation type.
        availabilities:
          type: array
          items:
            description: Availability of the metric.
            properties:
              timeGrain:
                type: string
                description: The time grain of the availability.
              retention:
                type: string
                description: The retention of the availability.
              blobDuration:
                type: string
                description: Duration of the availability blob.
          description: List of availability.
        enableRegionalMdmAccount:
          type: boolean
          description: Whether regional MDM account enabled.
        fillGapWithZero:
          type: boolean
          description: Whether gaps would be filled with zeros.
        metricFilterPattern:
          type: string
          description: Pattern for the filter of the metric.
        dimensions:
          type: array
          items:
            description: Dimension of the metric.
            properties:
              name:
                type: string
                description: The name of the dimension.
              displayName:
                type: string
                description: The display name of the dimension.
              internalName:
                type: string
                description: The internal name of the dimension.
          description: List of dimensions.
        isInternal:
          type: boolean
          description: Whether the metric is internal.
        sourceMdmAccount:
          type: string
          description: The source MDM account.
        sourceMdmNamespace:
          type: string
          description: The source MDM namespace.
        resourceIdDimensionNameOverride:
          type: string
          description: The resource Id dimension name override.
    Dimension:
      description: Dimension of the metric.
      properties:
        name:
          type: string
          description: The name of the dimension.
        displayName:
          type: string
          description: The display name of the dimension.
        internalName:
          type: string
          description: The internal name of the dimension.
    Availability:
      description: Availability of the metric.
      properties:
        timeGrain:
          type: string
          description: The time grain of the availability.
        retention:
          type: string
          description: The retention of the availability.
        blobDuration:
          type: string
          description: Duration of the availability blob.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
