openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPPrefixes/{publicIpPrefixName}
  : delete:
      tags:
      - PublicIPPrefixes
      operationId: PublicIPPrefixes_Delete
      description: Deletes the specified public IP prefix.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: publicIpPrefixName
        in: path
        required: true
        description: The name of the PublicIpPrefix.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - PublicIPPrefixes
      operationId: PublicIPPrefixes_Get
      description: Gets the specified public IP prefix in a specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: publicIpPrefixName
        in: path
        required: true
        description: The name of the public IP prefix.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting PublicIPPrefix
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  extendedLocation:
                    description: The extended location of the public ip address.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  sku:
                    description: The public IP prefix SKU.
                    properties:
                      name:
                        type: string
                        description: Name of a public IP prefix SKU.
                        enum:
                        - Standard
                        - StandardV2
                        x-ms-enum:
                          name: PublicIPPrefixSkuName
                          modelAsString: true
                      tier:
                        type: string
                        description: Tier of a public IP prefix SKU.
                        enum:
                        - Regional
                        - Global
                        x-ms-enum:
                          name: PublicIPPrefixSkuTier
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Public IP prefix properties.
                    properties:
                      publicIPAddressVersion:
                        description: The public IP address version.
                        type: string
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          name: IPVersion
                          modelAsString: true
                      ipTags:
                        type: array
                        items:
                          properties:
                            ipTagType:
                              type: string
                              description: 'The IP tag type. Example: FirstPartyUsage.'
                            tag:
                              type: string
                              description: 'The value of the IP tag associated with
                                the public IP. Example: SQL.'
                          description: Contains the IpTag associated with the object.
                        description: The list of tags associated with the public IP
                          prefix.
                      prefixLength:
                        type: integer
                        format: int32
                        description: The Length of the Public IP Prefix.
                      ipPrefix:
                        readOnly: true
                        type: string
                        description: The allocated Prefix.
                      publicIPAddresses:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: The PublicIPAddress Reference.
                          description: Reference to a public IP address.
                        description: The list of all referenced PublicIPAddresses.
                      loadBalancerFrontendIpConfiguration:
                        readOnly: true
                        description: The reference to load balancer frontend IP configuration
                          associated with the public IP prefix.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      customIPPrefix:
                        description: The customIpPrefix that this prefix is associated
                          with.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the public IP prefix
                          resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the public IP prefix
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      natGateway:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          name:
                            readOnly: true
                            type: string
                            description: Resource name.
                          type:
                            readOnly: true
                            type: string
                            description: Resource type.
                          location:
                            type: string
                            description: Resource location.
                          tags:
                            type: object
                            additionalProperties:
                              type: string
                            description: Resource tags.
                          sku:
                            description: The nat gateway SKU.
                            properties:
                              name:
                                type: string
                                description: Name of Nat Gateway SKU.
                                enum:
                                - Standard
                                - StandardV2
                                x-ms-enum:
                                  name: NatGatewaySkuName
                                  modelAsString: true
                          properties:
                            x-ms-client-flatten: true
                            description: Nat Gateway properties.
                            properties:
                              idleTimeoutInMinutes:
                                type: integer
                                format: int32
                                description: The idle timeout of the nat gateway.
                              publicIpAddresses:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip addresses V4 associated
                                  with the nat gateway resource.
                              publicIpAddressesV6:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip addresses V6 associated
                                  with the nat gateway resource.
                              publicIpPrefixes:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip prefixes V4 associated
                                  with the nat gateway resource.
                              publicIpPrefixesV6:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip prefixes V6 associated
                                  with the nat gateway resource.
                              subnets:
                                readOnly: true
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of references to the subnets
                                  using this nat gateway resource.
                              sourceVirtualNetwork:
                                description: A reference to the source virtual network
                                  using this nat gateway resource.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              resourceGuid:
                                readOnly: true
                                type: string
                                description: The resource GUID property of the NAT
                                  gateway resource.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the NAT gateway
                                  resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          zones:
                            type: array
                            items:
                              type: string
                            description: A list of availability zones denoting the
                              zone in which Nat Gateway should be deployed.
                          etag:
                            readOnly: true
                            type: string
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Common resource representation.
                        x-ms-azure-resource: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the IP allocated
                      for the resource needs to come from.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - PublicIPPrefixes
      operationId: PublicIPPrefixes_CreateOrUpdate
      description: Creates or updates a static or dynamic public IP prefix.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: publicIpPrefixName
        in: path
        required: true
        description: The name of the public IP prefix.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                extendedLocation:
                  description: The extended location of the public ip address.
                  properties:
                    name:
                      type: string
                      description: The name of the extended location.
                    type:
                      description: The type of the extended location.
                      type: string
                      enum:
                      - EdgeZone
                      x-ms-enum:
                        name: ExtendedLocationTypes
                        modelAsString: true
                sku:
                  description: The public IP prefix SKU.
                  properties:
                    name:
                      type: string
                      description: Name of a public IP prefix SKU.
                      enum:
                      - Standard
                      - StandardV2
                      x-ms-enum:
                        name: PublicIPPrefixSkuName
                        modelAsString: true
                    tier:
                      type: string
                      description: Tier of a public IP prefix SKU.
                      enum:
                      - Regional
                      - Global
                      x-ms-enum:
                        name: PublicIPPrefixSkuTier
                        modelAsString: true
                properties:
                  x-ms-client-flatten: true
                  description: Public IP prefix properties.
                  properties:
                    publicIPAddressVersion:
                      description: The public IP address version.
                      type: string
                      enum:
                      - IPv4
                      - IPv6
                      x-ms-enum:
                        name: IPVersion
                        modelAsString: true
                    ipTags:
                      type: array
                      items:
                        properties:
                          ipTagType:
                            type: string
                            description: 'The IP tag type. Example: FirstPartyUsage.'
                          tag:
                            type: string
                            description: 'The value of the IP tag associated with
                              the public IP. Example: SQL.'
                        description: Contains the IpTag associated with the object.
                      description: The list of tags associated with the public IP
                        prefix.
                    prefixLength:
                      type: integer
                      format: int32
                      description: The Length of the Public IP Prefix.
                    ipPrefix:
                      readOnly: true
                      type: string
                      description: The allocated Prefix.
                    publicIPAddresses:
                      readOnly: true
                      type: array
                      items:
                        properties:
                          id:
                            type: string
                            description: The PublicIPAddress Reference.
                        description: Reference to a public IP address.
                      description: The list of all referenced PublicIPAddresses.
                    loadBalancerFrontendIpConfiguration:
                      readOnly: true
                      description: The reference to load balancer frontend IP configuration
                        associated with the public IP prefix.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    customIPPrefix:
                      description: The customIpPrefix that this prefix is associated
                        with.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    resourceGuid:
                      readOnly: true
                      type: string
                      description: The resource GUID property of the public IP prefix
                        resource.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the public IP prefix
                        resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    natGateway:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        sku:
                          description: The nat gateway SKU.
                          properties:
                            name:
                              type: string
                              description: Name of Nat Gateway SKU.
                              enum:
                              - Standard
                              - StandardV2
                              x-ms-enum:
                                name: NatGatewaySkuName
                                modelAsString: true
                        properties:
                          x-ms-client-flatten: true
                          description: Nat Gateway properties.
                          properties:
                            idleTimeoutInMinutes:
                              type: integer
                              format: int32
                              description: The idle timeout of the nat gateway.
                            publicIpAddresses:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip addresses V4 associated
                                with the nat gateway resource.
                            publicIpAddressesV6:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip addresses V6 associated
                                with the nat gateway resource.
                            publicIpPrefixes:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip prefixes V4 associated
                                with the nat gateway resource.
                            publicIpPrefixesV6:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of public ip prefixes V6 associated
                                with the nat gateway resource.
                            subnets:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                              description: An array of references to the subnets using
                                this nat gateway resource.
                            sourceVirtualNetwork:
                              description: A reference to the source virtual network
                                using this nat gateway resource.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            resourceGuid:
                              readOnly: true
                              type: string
                              description: The resource GUID property of the NAT gateway
                                resource.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the NAT gateway
                                resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        zones:
                          type: array
                          items:
                            type: string
                          description: A list of availability zones denoting the zone
                            in which Nat Gateway should be deployed.
                        etag:
                          readOnly: true
                          type: string
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                zones:
                  type: array
                  items:
                    type: string
                  description: A list of availability zones denoting the IP allocated
                    for the resource needs to come from.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update public IP prefix
          operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting PublicIPPrefix
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  extendedLocation:
                    description: The extended location of the public ip address.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  sku:
                    description: The public IP prefix SKU.
                    properties:
                      name:
                        type: string
                        description: Name of a public IP prefix SKU.
                        enum:
                        - Standard
                        - StandardV2
                        x-ms-enum:
                          name: PublicIPPrefixSkuName
                          modelAsString: true
                      tier:
                        type: string
                        description: Tier of a public IP prefix SKU.
                        enum:
                        - Regional
                        - Global
                        x-ms-enum:
                          name: PublicIPPrefixSkuTier
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Public IP prefix properties.
                    properties:
                      publicIPAddressVersion:
                        description: The public IP address version.
                        type: string
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          name: IPVersion
                          modelAsString: true
                      ipTags:
                        type: array
                        items:
                          properties:
                            ipTagType:
                              type: string
                              description: 'The IP tag type. Example: FirstPartyUsage.'
                            tag:
                              type: string
                              description: 'The value of the IP tag associated with
                                the public IP. Example: SQL.'
                          description: Contains the IpTag associated with the object.
                        description: The list of tags associated with the public IP
                          prefix.
                      prefixLength:
                        type: integer
                        format: int32
                        description: The Length of the Public IP Prefix.
                      ipPrefix:
                        readOnly: true
                        type: string
                        description: The allocated Prefix.
                      publicIPAddresses:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: The PublicIPAddress Reference.
                          description: Reference to a public IP address.
                        description: The list of all referenced PublicIPAddresses.
                      loadBalancerFrontendIpConfiguration:
                        readOnly: true
                        description: The reference to load balancer frontend IP configuration
                          associated with the public IP prefix.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      customIPPrefix:
                        description: The customIpPrefix that this prefix is associated
                          with.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the public IP prefix
                          resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the public IP prefix
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      natGateway:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          name:
                            readOnly: true
                            type: string
                            description: Resource name.
                          type:
                            readOnly: true
                            type: string
                            description: Resource type.
                          location:
                            type: string
                            description: Resource location.
                          tags:
                            type: object
                            additionalProperties:
                              type: string
                            description: Resource tags.
                          sku:
                            description: The nat gateway SKU.
                            properties:
                              name:
                                type: string
                                description: Name of Nat Gateway SKU.
                                enum:
                                - Standard
                                - StandardV2
                                x-ms-enum:
                                  name: NatGatewaySkuName
                                  modelAsString: true
                          properties:
                            x-ms-client-flatten: true
                            description: Nat Gateway properties.
                            properties:
                              idleTimeoutInMinutes:
                                type: integer
                                format: int32
                                description: The idle timeout of the nat gateway.
                              publicIpAddresses:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip addresses V4 associated
                                  with the nat gateway resource.
                              publicIpAddressesV6:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip addresses V6 associated
                                  with the nat gateway resource.
                              publicIpPrefixes:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip prefixes V4 associated
                                  with the nat gateway resource.
                              publicIpPrefixesV6:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip prefixes V6 associated
                                  with the nat gateway resource.
                              subnets:
                                readOnly: true
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of references to the subnets
                                  using this nat gateway resource.
                              sourceVirtualNetwork:
                                description: A reference to the source virtual network
                                  using this nat gateway resource.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              resourceGuid:
                                readOnly: true
                                type: string
                                description: The resource GUID property of the NAT
                                  gateway resource.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the NAT gateway
                                  resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          zones:
                            type: array
                            items:
                              type: string
                            description: A list of availability zones denoting the
                              zone in which Nat Gateway should be deployed.
                          etag:
                            readOnly: true
                            type: string
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Common resource representation.
                        x-ms-azure-resource: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the IP allocated
                      for the resource needs to come from.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting PublicIPPrefix
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  extendedLocation:
                    description: The extended location of the public ip address.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  sku:
                    description: The public IP prefix SKU.
                    properties:
                      name:
                        type: string
                        description: Name of a public IP prefix SKU.
                        enum:
                        - Standard
                        - StandardV2
                        x-ms-enum:
                          name: PublicIPPrefixSkuName
                          modelAsString: true
                      tier:
                        type: string
                        description: Tier of a public IP prefix SKU.
                        enum:
                        - Regional
                        - Global
                        x-ms-enum:
                          name: PublicIPPrefixSkuTier
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Public IP prefix properties.
                    properties:
                      publicIPAddressVersion:
                        description: The public IP address version.
                        type: string
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          name: IPVersion
                          modelAsString: true
                      ipTags:
                        type: array
                        items:
                          properties:
                            ipTagType:
                              type: string
                              description: 'The IP tag type. Example: FirstPartyUsage.'
                            tag:
                              type: string
                              description: 'The value of the IP tag associated with
                                the public IP. Example: SQL.'
                          description: Contains the IpTag associated with the object.
                        description: The list of tags associated with the public IP
                          prefix.
                      prefixLength:
                        type: integer
                        format: int32
                        description: The Length of the Public IP Prefix.
                      ipPrefix:
                        readOnly: true
                        type: string
                        description: The allocated Prefix.
                      publicIPAddresses:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: The PublicIPAddress Reference.
                          description: Reference to a public IP address.
                        description: The list of all referenced PublicIPAddresses.
                      loadBalancerFrontendIpConfiguration:
                        readOnly: true
                        description: The reference to load balancer frontend IP configuration
                          associated with the public IP prefix.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      customIPPrefix:
                        description: The customIpPrefix that this prefix is associated
                          with.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the public IP prefix
                          resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the public IP prefix
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      natGateway:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          name:
                            readOnly: true
                            type: string
                            description: Resource name.
                          type:
                            readOnly: true
                            type: string
                            description: Resource type.
                          location:
                            type: string
                            description: Resource location.
                          tags:
                            type: object
                            additionalProperties:
                              type: string
                            description: Resource tags.
                          sku:
                            description: The nat gateway SKU.
                            properties:
                              name:
                                type: string
                                description: Name of Nat Gateway SKU.
                                enum:
                                - Standard
                                - StandardV2
                                x-ms-enum:
                                  name: NatGatewaySkuName
                                  modelAsString: true
                          properties:
                            x-ms-client-flatten: true
                            description: Nat Gateway properties.
                            properties:
                              idleTimeoutInMinutes:
                                type: integer
                                format: int32
                                description: The idle timeout of the nat gateway.
                              publicIpAddresses:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip addresses V4 associated
                                  with the nat gateway resource.
                              publicIpAddressesV6:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip addresses V6 associated
                                  with the nat gateway resource.
                              publicIpPrefixes:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip prefixes V4 associated
                                  with the nat gateway resource.
                              publicIpPrefixesV6:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip prefixes V6 associated
                                  with the nat gateway resource.
                              subnets:
                                readOnly: true
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of references to the subnets
                                  using this nat gateway resource.
                              sourceVirtualNetwork:
                                description: A reference to the source virtual network
                                  using this nat gateway resource.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              resourceGuid:
                                readOnly: true
                                type: string
                                description: The resource GUID property of the NAT
                                  gateway resource.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the NAT gateway
                                  resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          zones:
                            type: array
                            items:
                              type: string
                            description: A list of availability zones denoting the
                              zone in which Nat Gateway should be deployed.
                          etag:
                            readOnly: true
                            type: string
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Common resource representation.
                        x-ms-azure-resource: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the IP allocated
                      for the resource needs to come from.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    patch:
      tags:
      - PublicIPPrefixes
      operationId: PublicIPPrefixes_UpdateTags
      description: Updates public IP prefix tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: publicIpPrefixName
        in: path
        required: true
        description: The name of the public IP prefix.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update public IP prefix tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting PublicIPPrefix
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  extendedLocation:
                    description: The extended location of the public ip address.
                    properties:
                      name:
                        type: string
                        description: The name of the extended location.
                      type:
                        description: The type of the extended location.
                        type: string
                        enum:
                        - EdgeZone
                        x-ms-enum:
                          name: ExtendedLocationTypes
                          modelAsString: true
                  sku:
                    description: The public IP prefix SKU.
                    properties:
                      name:
                        type: string
                        description: Name of a public IP prefix SKU.
                        enum:
                        - Standard
                        - StandardV2
                        x-ms-enum:
                          name: PublicIPPrefixSkuName
                          modelAsString: true
                      tier:
                        type: string
                        description: Tier of a public IP prefix SKU.
                        enum:
                        - Regional
                        - Global
                        x-ms-enum:
                          name: PublicIPPrefixSkuTier
                          modelAsString: true
                  properties:
                    x-ms-client-flatten: true
                    description: Public IP prefix properties.
                    properties:
                      publicIPAddressVersion:
                        description: The public IP address version.
                        type: string
                        enum:
                        - IPv4
                        - IPv6
                        x-ms-enum:
                          name: IPVersion
                          modelAsString: true
                      ipTags:
                        type: array
                        items:
                          properties:
                            ipTagType:
                              type: string
                              description: 'The IP tag type. Example: FirstPartyUsage.'
                            tag:
                              type: string
                              description: 'The value of the IP tag associated with
                                the public IP. Example: SQL.'
                          description: Contains the IpTag associated with the object.
                        description: The list of tags associated with the public IP
                          prefix.
                      prefixLength:
                        type: integer
                        format: int32
                        description: The Length of the Public IP Prefix.
                      ipPrefix:
                        readOnly: true
                        type: string
                        description: The allocated Prefix.
                      publicIPAddresses:
                        readOnly: true
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                              description: The PublicIPAddress Reference.
                          description: Reference to a public IP address.
                        description: The list of all referenced PublicIPAddresses.
                      loadBalancerFrontendIpConfiguration:
                        readOnly: true
                        description: The reference to load balancer frontend IP configuration
                          associated with the public IP prefix.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      customIPPrefix:
                        description: The customIpPrefix that this prefix is associated
                          with.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      resourceGuid:
                        readOnly: true
                        type: string
                        description: The resource GUID property of the public IP prefix
                          resource.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the public IP prefix
                          resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      natGateway:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          name:
                            readOnly: true
                            type: string
                            description: Resource name.
                          type:
                            readOnly: true
                            type: string
                            description: Resource type.
                          location:
                            type: string
                            description: Resource location.
                          tags:
                            type: object
                            additionalProperties:
                              type: string
                            description: Resource tags.
                          sku:
                            description: The nat gateway SKU.
                            properties:
                              name:
                                type: string
                                description: Name of Nat Gateway SKU.
                                enum:
                                - Standard
                                - StandardV2
                                x-ms-enum:
                                  name: NatGatewaySkuName
                                  modelAsString: true
                          properties:
                            x-ms-client-flatten: true
                            description: Nat Gateway properties.
                            properties:
                              idleTimeoutInMinutes:
                                type: integer
                                format: int32
                                description: The idle timeout of the nat gateway.
                              publicIpAddresses:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip addresses V4 associated
                                  with the nat gateway resource.
                              publicIpAddressesV6:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip addresses V6 associated
                                  with the nat gateway resource.
                              publicIpPrefixes:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip prefixes V4 associated
                                  with the nat gateway resource.
                              publicIpPrefixesV6:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of public ip prefixes V6 associated
                                  with the nat gateway resource.
                              subnets:
                                readOnly: true
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: An array of references to the subnets
                                  using this nat gateway resource.
                              sourceVirtualNetwork:
                                description: A reference to the source virtual network
                                  using this nat gateway resource.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              resourceGuid:
                                readOnly: true
                                type: string
                                description: The resource GUID property of the NAT
                                  gateway resource.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the NAT gateway
                                  resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          zones:
                            type: array
                            items:
                              type: string
                            description: A list of availability zones denoting the
                              zone in which Nat Gateway should be deployed.
                          etag:
                            readOnly: true
                            type: string
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Common resource representation.
                        x-ms-azure-resource: true
                  etag:
                    readOnly: true
                    type: string
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  zones:
                    type: array
                    items:
                      type: string
                    description: A list of availability zones denoting the IP allocated
                      for the resource needs to come from.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPPrefixes:
    get:
      tags:
      - PublicIPPrefixes
      operationId: PublicIPPrefixes_ListAll
      description: Gets all the public IP prefixes in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of PublicIPPrefix
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        extendedLocation:
                          description: The extended location of the public ip address.
                          properties:
                            name:
                              type: string
                              description: The name of the extended location.
                            type:
                              description: The type of the extended location.
                              type: string
                              enum:
                              - EdgeZone
                              x-ms-enum:
                                name: ExtendedLocationTypes
                                modelAsString: true
                        sku:
                          description: The public IP prefix SKU.
                          properties:
                            name:
                              type: string
                              description: Name of a public IP prefix SKU.
                              enum:
                              - Standard
                              - StandardV2
                              x-ms-enum:
                                name: PublicIPPrefixSkuName
                                modelAsString: true
                            tier:
                              type: string
                              description: Tier of a public IP prefix SKU.
                              enum:
                              - Regional
                              - Global
                              x-ms-enum:
                                name: PublicIPPrefixSkuTier
                                modelAsString: true
                        properties:
                          x-ms-client-flatten: true
                          description: Public IP prefix properties.
                          properties:
                            publicIPAddressVersion:
                              description: The public IP address version.
                              type: string
                              enum:
                              - IPv4
                              - IPv6
                              x-ms-enum:
                                name: IPVersion
                                modelAsString: true
                            ipTags:
                              type: array
                              items:
                                properties:
                                  ipTagType:
                                    type: string
                                    description: 'The IP tag type. Example: FirstPartyUsage.'
                                  tag:
                                    type: string
                                    description: 'The value of the IP tag associated
                                      with the public IP. Example: SQL.'
                                description: Contains the IpTag associated with the
                                  object.
                              description: The list of tags associated with the public
                                IP prefix.
                            prefixLength:
                              type: integer
                              format: int32
                              description: The Length of the Public IP Prefix.
                            ipPrefix:
                              readOnly: true
                              type: string
                              description: The allocated Prefix.
                            publicIPAddresses:
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: The PublicIPAddress Reference.
                                description: Reference to a public IP address.
                              description: The list of all referenced PublicIPAddresses.
                            loadBalancerFrontendIpConfiguration:
                              readOnly: true
                              description: The reference to load balancer frontend
                                IP configuration associated with the public IP prefix.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            customIPPrefix:
                              description: The customIpPrefix that this prefix is
                                associated with.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            resourceGuid:
                              readOnly: true
                              type: string
                              description: The resource GUID property of the public
                                IP prefix resource.
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the public IP
                                prefix resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            natGateway:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                                name:
                                  readOnly: true
                                  type: string
                                  description: Resource name.
                                type:
                                  readOnly: true
                                  type: string
                                  description: Resource type.
                                location:
                                  type: string
                                  description: Resource location.
                                tags:
                                  type: object
                                  additionalProperties:
                                    type: string
                                  description: Resource tags.
                                sku:
                                  description: The nat gateway SKU.
                                  properties:
                                    name:
                                      type: string
                                      description: Name of Nat Gateway SKU.
                                      enum:
                                      - Standard
                                      - StandardV2
                                      x-ms-enum:
                                        name: NatGatewaySkuName
                                        modelAsString: true
                                properties:
                                  x-ms-client-flatten: true
                                  description: Nat Gateway properties.
                                  properties:
                                    idleTimeoutInMinutes:
                                      type: integer
                                      format: int32
                                      description: The idle timeout of the nat gateway.
                                    publicIpAddresses:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource ID.
                                        description: Reference to another subresource.
                                        x-ms-azure-resource: true
                                      description: An array of public ip addresses
                                        V4 associated with the nat gateway resource.
                                    publicIpAddressesV6:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource ID.
                                        description: Reference to another subresource.
                                        x-ms-azure-resource: true
                                      description: An array of public ip addresses
                                        V6 associated with the nat gateway resource.
                                    publicIpPrefixes:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource ID.
                                        description: Reference to another subresource.
[...]
