openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeFilters/{routeFilterName}
  : delete:
      tags:
      - RouteFilters
      operationId: RouteFilters_Delete
      description: Deletes the specified route filter.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: routeFilterName
        in: path
        required: true
        description: The name of the route filter.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
          headers:
            Location:
              description: 'URL for determining when an operation has completed. Send
                a GET request to the URL in Location header.

                The URI should return a 202 until the operation reaches a terminal
                state and 200 once it reaches a terminal state.


                For more info: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#202-accepted-and-location-headers'
              schema:
                type: string
            Azure-AsyncOperation:
              description: 'URL for checking the ongoing status of the operation.

                To get the status of the asynchronous operation, send a GET request
                to the URL in Azure-AsyncOperation header value.


                For more info: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#asynchronous-operations'
              schema:
                type: string
        '204':
          description: Delete successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      tags:
      - RouteFilters
      operationId: RouteFilters_Get
      description: Gets the specified route filter.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: routeFilterName
        in: path
        required: true
        description: The name of the route filter.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands referenced express route bgp peering resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting Route
            Filter resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the route filter.
                    properties:
                      rules:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the route filter rule.
                              required:
                              - access
                              - routeFilterRuleType
                              - communities
                              properties:
                                access:
                                  description: The access type of the rule.
                                  type: string
                                  enum:
                                  - Allow
                                  - Deny
                                  x-ms-enum:
                                    name: Access
                                    modelAsString: true
                                routeFilterRuleType:
                                  type: string
                                  description: The rule type of the rule.
                                  enum:
                                  - Community
                                  x-ms-enum:
                                    name: RouteFilterRuleType
                                    modelAsString: true
                                communities:
                                  type: array
                                  items:
                                    type: string
                                  description: The collection for bgp community values
                                    to filter on. e.g. ['12076:5010','12076:5020'].
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the route
                                    filter rule resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within a resource group. This name can be used to
                                access the resource.
                            location:
                              type: string
                              description: Resource location.
                            etag:
                              type: string
                              readOnly: true
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: Collection of RouteFilterRules contained within
                          a route filter.
                      peerings:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the express route circuit
                                peering.
                              properties:
                                peeringType:
                                  description: The peering type.
                                  type: string
                                  enum:
                                  - AzurePublicPeering
                                  - AzurePrivatePeering
                                  - MicrosoftPeering
                                  x-ms-enum:
                                    name: ExpressRoutePeeringType
                                    modelAsString: true
                                state:
                                  description: The peering state.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: ExpressRoutePeeringState
                                    modelAsString: true
                                azureASN:
                                  type: integer
                                  format: int32
                                  description: The Azure ASN.
                                peerASN:
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 4294967295
                                  description: The peer ASN.
                                primaryPeerAddressPrefix:
                                  type: string
                                  description: The primary address prefix.
                                secondaryPeerAddressPrefix:
                                  type: string
                                  description: The secondary address prefix.
                                primaryAzurePort:
                                  type: string
                                  description: The primary port.
                                secondaryAzurePort:
                                  type: string
                                  description: The secondary port.
                                sharedKey:
                                  type: string
                                  description: The shared key.
                                vlanId:
                                  type: integer
                                  format: int32
                                  description: The VLAN ID.
                                microsoftPeeringConfig:
                                  description: The Microsoft peering configuration.
                                  properties:
                                    advertisedPublicPrefixes:
                                      type: array
                                      items:
                                        type: string
                                      description: The reference to AdvertisedPublicPrefixes.
                                    advertisedCommunities:
                                      type: array
                                      items:
                                        type: string
                                      description: The communities of bgp peering.
                                        Specified for microsoft peering.
                                    advertisedPublicPrefixesState:
                                      readOnly: true
                                      type: string
                                      description: The advertised public prefix state
                                        of the Peering resource.
                                      enum:
                                      - NotConfigured
                                      - Configuring
                                      - Configured
                                      - ValidationNeeded
                                      x-ms-enum:
                                        name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                        modelAsString: true
                                    legacyMode:
                                      type: integer
                                      format: int32
                                      description: The legacy mode of the peering.
                                    customerASN:
                                      type: integer
                                      format: int32
                                      description: The CustomerASN of the peering.
                                    routingRegistryName:
                                      type: string
                                      description: The RoutingRegistryName of the
                                        configuration.
                                    advertisedPublicPrefixInfo:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          prefix:
                                            type: string
                                            description: Advertised Public Prefix.
                                          validationId:
                                            type: string
                                            description: Validation string that contains
                                              circuit peering info.
                                          signature:
                                            type: string
                                            description: Signed string generated by
                                              encrypting validationId with a private
                                              key.
                                          validationState:
                                            readOnly: true
                                            type: string
                                            description: Advertised Public Prefix
                                              State that denotes if the prefix is
                                              validated or not.
                                            enum:
                                            - NotConfigured
                                            - Configuring
                                            - Configured
                                            - ValidationNeeded
                                            - ValidationFailed
                                            - ManualValidationNeeded
                                            - AsnValidationFailed
                                            - CertificateMissingInRoutingRegistry
                                            - InvalidSignatureEncoding
                                            - SignatureVerificationFailed
                                            x-ms-enum:
                                              name: AdvertisedPublicPrefixPropertiesValidationState
                                              modelAsString: true
                                        description: Prefix properties required to
                                          perform validation using openssl signature.
                                      x-ms-identifiers: []
                                      description: List of Prefix information required
                                        to perform validation.
                                stats:
                                  description: The peering stats of express route
                                    circuit.
                                  properties:
                                    primarybytesIn:
                                      type: integer
                                      format: int64
                                      description: The Primary BytesIn of the peering.
                                    primarybytesOut:
                                      type: integer
                                      format: int64
                                      description: The primary BytesOut of the peering.
                                    secondarybytesIn:
                                      type: integer
                                      format: int64
                                      description: The secondary BytesIn of the peering.
                                    secondarybytesOut:
                                      type: integer
                                      format: int64
                                      description: The secondary BytesOut of the peering.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the express
                                    route circuit peering resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                gatewayManagerEtag:
                                  type: string
                                  description: The GatewayManager Etag.
                                lastModifiedBy:
                                  readOnly: true
                                  type: string
                                  description: Who was the last to modify the peering.
                                routeFilter:
                                  description: The reference to the RouteFilter resource.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                ipv6PeeringConfig:
                                  description: The IPv6 peering configuration.
                                  properties:
                                    primaryPeerAddressPrefix:
                                      type: string
                                      description: The primary address prefix.
                                    secondaryPeerAddressPrefix:
                                      type: string
                                      description: The secondary address prefix.
                                    microsoftPeeringConfig:
                                      description: The Microsoft peering configuration.
                                      properties:
                                        advertisedPublicPrefixes:
                                          type: array
                                          items:
                                            type: string
                                          description: The reference to AdvertisedPublicPrefixes.
                                        advertisedCommunities:
                                          type: array
                                          items:
                                            type: string
                                          description: The communities of bgp peering.
                                            Specified for microsoft peering.
                                        advertisedPublicPrefixesState:
                                          readOnly: true
                                          type: string
                                          description: The advertised public prefix
                                            state of the Peering resource.
                                          enum:
                                          - NotConfigured
                                          - Configuring
                                          - Configured
                                          - ValidationNeeded
                                          x-ms-enum:
                                            name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                            modelAsString: true
                                        legacyMode:
                                          type: integer
                                          format: int32
                                          description: The legacy mode of the peering.
                                        customerASN:
                                          type: integer
                                          format: int32
                                          description: The CustomerASN of the peering.
                                        routingRegistryName:
                                          type: string
                                          description: The RoutingRegistryName of
                                            the configuration.
                                        advertisedPublicPrefixInfo:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              prefix:
                                                type: string
                                                description: Advertised Public Prefix.
                                              validationId:
                                                type: string
                                                description: Validation string that
                                                  contains circuit peering info.
                                              signature:
                                                type: string
                                                description: Signed string generated
                                                  by encrypting validationId with
                                                  a private key.
                                              validationState:
                                                readOnly: true
                                                type: string
                                                description: Advertised Public Prefix
                                                  State that denotes if the prefix
                                                  is validated or not.
                                                enum:
                                                - NotConfigured
                                                - Configuring
                                                - Configured
                                                - ValidationNeeded
                                                - ValidationFailed
                                                - ManualValidationNeeded
                                                - AsnValidationFailed
                                                - CertificateMissingInRoutingRegistry
                                                - InvalidSignatureEncoding
                                                - SignatureVerificationFailed
                                                x-ms-enum:
                                                  name: AdvertisedPublicPrefixPropertiesValidationState
                                                  modelAsString: true
                                            description: Prefix properties required
                                              to perform validation using openssl
                                              signature.
                                          x-ms-identifiers: []
                                          description: List of Prefix information
                                            required to perform validation.
                                    routeFilter:
                                      description: The reference to the RouteFilter
                                        resource.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource ID.
                                      x-ms-azure-resource: true
                                    state:
                                      type: string
                                      description: The state of peering.
                                      enum:
                                      - Disabled
                                      - Enabled
                                      x-ms-enum:
                                        name: ExpressRouteCircuitPeeringState
                                        modelAsString: true
                                expressRouteConnection:
                                  description: The ExpressRoute connection.
                                  properties:
                                    id:
                                      type: string
                                      readOnly: true
                                      description: The ID of the ExpressRouteConnection.
                                connections:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Resource ID.
                                      properties:
                                        x-ms-client-flatten: true
                                        description: Properties of the express route
                                          circuit connection.
                                        properties:
                                          expressRouteCircuitPeering:
                                            description: Reference to Express Route
                                              Circuit Private Peering Resource of
                                              the circuit initiating connection.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          peerExpressRouteCircuitPeering:
                                            description: Reference to Express Route
                                              Circuit Private Peering Resource of
                                              the peered circuit.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          addressPrefix:
                                            type: string
                                            description: /29 IP address space to carve
                                              out Customer addresses for tunnels.
                                          authorizationKey:
                                            type: string
                                            description: The authorization key.
                                          ipv6CircuitConnectionConfig:
                                            description: IPv6 Address PrefixProperties
                                              of the express route circuit connection.
                                            properties:
                                              addressPrefix:
                                                type: string
                                                description: /125 IP address space
                                                  to carve out customer addresses
                                                  for global reach.
                                              circuitConnectionStatus:
                                                readOnly: true
                                                description: Express Route Circuit
                                                  connection state.
                                                type: string
                                                enum:
                                                - Connected
                                                - Connecting
                                                - Disconnected
                                                x-ms-enum:
                                                  name: CircuitConnectionStatus
                                                  modelAsString: true
                                          circuitConnectionStatus:
                                            description: Express Route Circuit connection
                                              state.
                                            type: string
                                            readOnly: true
                                            enum:
                                            - Connected
                                            - Connecting
                                            - Disconnected
                                            x-ms-enum:
                                              name: CircuitConnectionStatus
                                              modelAsString: true
                                          provisioningState:
                                            readOnly: true
                                            description: The provisioning state of
                                              the express route circuit connection
                                              resource.
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Updating
                                            - Deleting
                                            - Failed
                                            x-ms-enum:
                                              name: ProvisioningState
                                              modelAsString: true
                                      name:
                                        type: string
                                        description: The name of the resource that
                                          is unique within a resource group. This
                                          name can be used to access the resource.
                                      etag:
                                        readOnly: true
                                        type: string
                                        description: A unique read-only string that
                                          changes whenever the resource is updated.
                                      type:
                                        readOnly: true
                                        type: string
                                        description: Type of the resource.
                                    description: Reference to another subresource.
                                    x-ms-azure-resource: true
                                  description: The list of circuit connections associated
                                    with Azure Private Peering for this circuit.
                                peeredConnections:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Resource ID.
                                      properties:
                                        x-ms-client-flatten: true
                                        description: Properties of the peer express
                                          route circuit connection.
                                        properties:
                                          expressRouteCircuitPeering:
                                            description: Reference to Express Route
                                              Circuit Private Peering Resource of
                                              the circuit.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          peerExpressRouteCircuitPeering:
                                            description: Reference to Express Route
                                              Circuit Private Peering Resource of
                                              the peered circuit.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          addressPrefix:
                                            type: string
                                            description: /29 IP address space to carve
                                              out Customer addresses for tunnels.
                                          circuitConnectionStatus:
                                            description: Express Route Circuit connection
                                              state.
                                            type: string
                                            readOnly: true
                                            enum:
                                            - Connected
                                            - Connecting
                                            - Disconnected
                                            x-ms-enum:
                                              name: CircuitConnectionStatus
                                              modelAsString: true
                                          connectionName:
                                            type: string
                                            description: The name of the express route
                                              circuit connection resource.
                                          authResourceGuid:
                                            type: string
                                            description: The resource guid of the
                                              authorization used for the express route
                                              circuit connection.
                                          provisioningState:
                                            readOnly: true
                                            description: The provisioning state of
                                              the peer express route circuit connection
                                              resource.
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Updating
                                            - Deleting
                                            - Failed
                                            x-ms-enum:
                                              name: ProvisioningState
                                              modelAsString: true
                                      name:
                                        type: string
                                        description: The name of the resource that
                                          is unique within a resource group. This
                                          name can be used to access the resource.
                                      etag:
                                        readOnly: true
                                        type: string
                                        description: A unique read-only string that
                                          changes whenever the resource is updated.
                                      type:
                                        readOnly: true
                                        type: string
                                        description: Type of the resource.
                                    description: Reference to another subresource.
                                    x-ms-azure-resource: true
                                  readOnly: true
                                  description: The list of peered circuit connections
                                    associated with Azure Private Peering for this
                                    circuit.
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within a resource group. This name can be used to
                                access the resource.
                            etag:
                              readOnly: true
                              type: string
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                            type:
                              readOnly: true
                              type: string
                              description: Type of the resource.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: A collection of references to express route circuit
                          peerings.
                      ipv6Peerings:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the express route circuit
                                peering.
                              properties:
                                peeringType:
                                  description: The peering type.
                                  type: string
                                  enum:
                                  - AzurePublicPeering
                                  - AzurePrivatePeering
                                  - MicrosoftPeering
                                  x-ms-enum:
                                    name: ExpressRoutePeeringType
                                    modelAsString: true
                                state:
                                  description: The peering state.
                                  type: string
                                  enum:
                                  - Disabled
                                  - Enabled
                                  x-ms-enum:
                                    name: ExpressRoutePeeringState
                                    modelAsString: true
                                azureASN:
                                  type: integer
                                  format: int32
                                  description: The Azure ASN.
                                peerASN:
                                  type: integer
                                  format: int64
                                  minimum: 1
                                  maximum: 4294967295
                                  description: The peer ASN.
                                primaryPeerAddressPrefix:
                                  type: string
                                  description: The primary address prefix.
                                secondaryPeerAddressPrefix:
                                  type: string
                                  description: The secondary address prefix.
                                primaryAzurePort:
                                  type: string
                                  description: The primary port.
                                secondaryAzurePort:
                                  type: string
                                  description: The secondary port.
                                sharedKey:
                                  type: string
                                  description: The shared key.
                                vlanId:
                                  type: integer
                                  format: int32
                                  description: The VLAN ID.
                                microsoftPeeringConfig:
                                  description: The Microsoft peering configuration.
                                  properties:
                                    advertisedPublicPrefixes:
                                      type: array
                                      items:
                                        type: string
                                      description: The reference to AdvertisedPublicPrefixes.
                                    advertisedCommunities:
                                      type: array
                                      items:
                                        type: string
                                      description: The communities of bgp peering.
                                        Specified for microsoft peering.
                                    advertisedPublicPrefixesState:
                                      readOnly: true
                                      type: string
                                      description: The advertised public prefix state
                                        of the Peering resource.
                                      enum:
                                      - NotConfigured
                                      - Configuring
                                      - Configured
                                      - ValidationNeeded
                                      x-ms-enum:
                                        name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                        modelAsString: true
                                    legacyMode:
                                      type: integer
                                      format: int32
                                      description: The legacy mode of the peering.
                                    customerASN:
                                      type: integer
                                      format: int32
                                      description: The CustomerASN of the peering.
                                    routingRegistryName:
                                      type: string
                                      description: The RoutingRegistryName of the
                                        configuration.
                                    advertisedPublicPrefixInfo:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          prefix:
                                            type: string
                                            description: Advertised Public Prefix.
                                          validationId:
                                            type: string
                                            description: Validation string that contains
                                              circuit peering info.
                                          signature:
                                            type: string
                                            description: Signed string generated by
                                              encrypting validationId with a private
                                              key.
                                          validationState:
                                            readOnly: true
                                            type: string
                                            description: Advertised Public Prefix
                                              State that denotes if the prefix is
                                              validated or not.
                                            enum:
                                            - NotConfigured
                                            - Configuring
                                            - Configured
                                            - ValidationNeeded
                                            - ValidationFailed
                                            - ManualValidationNeeded
                                            - AsnValidationFailed
                                            - CertificateMissingInRoutingRegistry
                                            - InvalidSignatureEncoding
                                            - SignatureVerificationFailed
                                            x-ms-enum:
                                              name: AdvertisedPublicPrefixPropertiesValidationState
                                              modelAsString: true
                                        description: Prefix properties required to
                                          perform validation using openssl signature.
                                      x-ms-identifiers: []
                                      description: List of Prefix information required
                                        to perform validation.
                                stats:
                                  description: The peering stats of express route
                                    circuit.
                                  properties:
                                    primarybytesIn:
                                      type: integer
                                      format: int64
                                      description: The Primary BytesIn of the peering.
                                    primarybytesOut:
                                      type: integer
                                      format: int64
                                      description: The primary BytesOut of the peering.
                                    secondarybytesIn:
                                      type: integer
                                      format: int64
                                      description: The secondary BytesIn of the peering.
                                    secondarybytesOut:
                                      type: integer
                                      format: int64
                                      description: The secondary BytesOut of the peering.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the express
                                    route circuit peering resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                                gatewayManagerEtag:
                                  type: string
                                  description: The GatewayManager Etag.
                                lastModifiedBy:
                                  readOnly: true
                                  type: string
                                  description: Who was the last to modify the peering.
                                routeFilter:
                                  description: The reference to the RouteFilter resource.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                ipv6PeeringConfig:
                                  description: The IPv6 peering configuration.
                                  properties:
                                    primaryPeerAddressPrefix:
                                      type: string
                                      description: The primary address prefix.
                                    secondaryPeerAddressPrefix:
                                      type: string
                                      description: The secondary address prefix.
                                    microsoftPeeringConfig:
                                      description: The Microsoft peering configuration.
                                      properties:
                                        advertisedPublicPrefixes:
                                          type: array
                                          items:
                                            type: string
                                          description: The reference to AdvertisedPublicPrefixes.
                                        advertisedCommunities:
                                          type: array
                                          items:
                                            type: string
                                          description: The communities of bgp peering.
                                            Specified for microsoft peering.
                                        advertisedPublicPrefixesState:
                                          readOnly: true
                                          type: string
                                          description: The advertised public prefix
                                            state of the Peering resource.
                                          enum:
                                          - NotConfigured
                                          - Configuring
                                          - Configured
                                          - ValidationNeeded
                                          x-ms-enum:
                                            name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                            modelAsString: true
                                        legacyMode:
                                          type: integer
                                          format: int32
                                          description: The legacy mode of the peering.
                                        customerASN:
                                          type: integer
                                          format: int32
                                          description: The CustomerASN of the peering.
                                        routingRegistryName:
                                          type: string
                                          description: The RoutingRegistryName of
                                            the configuration.
                                        advertisedPublicPrefixInfo:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              prefix:
                                                type: string
                                                description: Advertised Public Prefix.
                                              validationId:
                                                type: string
                                                description: Validation string that
                                                  contains circuit peering info.
                                              signature:
                                                type: string
                                                description: Signed string generated
                                                  by encrypting validationId with
                                                  a private key.
                                              validationState:
                                                readOnly: true
                                                type: string
                                                description: Advertised Public Prefix
                                                  State that denotes if the prefix
                                                  is validated or not.
                                                enum:
                                                - NotConfigured
                                                - Configuring
                                                - Configured
                                                - ValidationNeeded
                                                - ValidationFailed
                                                - ManualValidationNeeded
                                                - AsnValidationFailed
                                                - CertificateMissingInRoutingRegistry
                                                - InvalidSignatureEncoding
                                                - SignatureVerificationFailed
                                                x-ms-enum:
                                                  name: AdvertisedPublicPrefixPropertiesValidationState
                                                  modelAsString: true
                                            description: Prefix properties required
                                              to perform validation using openssl
                                              signature.
                                          x-ms-identifiers: []
                                          description: List of Prefix information
                                            required to perform validation.
                                    routeFilter:
                                      description: The reference to the RouteFilter
                                        resource.
                                      properties:
                                        id:
                                          type: string
                                          description: Resource ID.
                                      x-ms-azure-resource: true
                                    state:
                                      type: string
                                      description: The state of peering.
                                      enum:
                                      - Disabled
                                      - Enabled
                                      x-ms-enum:
                                        name: ExpressRouteCircuitPeeringState
                                        modelAsString: true
                                expressRouteConnection:
                                  description: The ExpressRoute connection.
                                  properties:
                                    id:
                                      type: string
                                      readOnly: true
                                      description: The ID of the ExpressRouteConnection.
                                connections:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Resource ID.
                                      properties:
                                        x-ms-client-flatten: true
                                        description: Properties of the express route
                                          circuit connection.
                                        properties:
                                          expressRouteCircuitPeering:
                                            description: Reference to Express Route
                                              Circuit Private Peering Resource of
                                              the circuit initiating connection.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          peerExpressRouteCircuitPeering:
                                            description: Reference to Express Route
                                              Circuit Private Peering Resource of
                                              the peered circuit.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          addressPrefix:
                                            type: string
                                            description: /29 IP address space to carve
                                              out Customer addresses for tunnels.
                                          authorizationKey:
                                            type: string
                                            description: The authorization key.
                                          ipv6CircuitConnectionConfig:
                                            description: IPv6 Address PrefixProperties
                                              of the express route circuit connection.
                                            properties:
                                              addressPrefix:
                                                type: string
                                                description: /125 IP address space
                                                  to carve out customer addresses
                                                  for global reach.
                                              circuitConnectionStatus:
                                                readOnly: true
                                                description: Express Route Circuit
                                                  connection state.
                                                type: string
                                                enum:
                                                - Connected
                                                - Connecting
                                                - Disconnected
                                                x-ms-enum:
                                                  name: CircuitConnectionStatus
                                                  modelAsString: true
                                          circuitConnectionStatus:
                                            description: Express Route Circuit connection
                                              state.
                                            type: string
                                            readOnly: true
                                            enum:
                                            - Connected
                                            - Connecting
                                            - Disconnected
                                            x-ms-enum:
                                              name: CircuitConnectionStatus
                                              modelAsString: true
                                          provisioningState:
                                            readOnly: true
                                            description: The provisioning state of
                                              the express route circuit connection
                                              resource.
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Updating
                                            - Deleting
                                            - Failed
                                            x-ms-enum:
                                              name: ProvisioningState
                                              modelAsString: true
                                      name:
                                        type: string
                                        description: The name of the resource that
                                          is unique within a resource group. This
                                          name can be used to access the resource.
                                      etag:
                                        readOnly: true
                                        type: string
                                        description: A unique read-only string that
                                          changes whenever the resource is updated.
                                      type:
                                        readOnly: true
                                        type: string
                                        description: Type of the resource.
                                    description: Reference to another subresource.
                                    x-ms-azure-resource: true
                                  description: The list of circuit connections associated
                                    with Azure Private Peering for this circuit.
                                peeredConnections:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                        description: Resource ID.
                                      properties:
                                        x-ms-client-flatten: true
                                        description: Properties of the peer express
                                          route circuit connection.
                                        properties:
                                          expressRouteCircuitPeering:
                                            description: Reference to Express Route
                                              Circuit Private Peering Resource of
                                              the circuit.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          peerExpressRouteCircuitPeering:
                                            description: Reference to Express Route
                                              Circuit Private Peering Resource of
                                              the peered circuit.
                                            properties:
                                              id:
                                                type: string
                                                description: Resource ID.
                                            x-ms-azure-resource: true
                                          addressPrefix:
                                            type: string
                                            description: /29 IP address space to carve
                                              out Customer addresses for tunnels.
                                          circuitConnectionStatus:
                                            description: Express Route Circuit connection
                                              state.
                                            type: string
                                            readOnly: true
                                            enum:
                                            - Connected
                                            - Connecting
                                            - Disconnected
                                            x-ms-enum:
                                              name: CircuitConnectionStatus
                                              modelAsString: true
                                          connectionName:
                                            type: string
                                            description: The name of the express route
                                              circuit connection resource.
                                          authResourceGuid:
                                            type: string
                                            description: The resource guid of the
                                              authorization used for the express route
                                              circuit connection.
                                          provisioningState:
                                            readOnly: true
                                            description: The provisioning state of
                                              the peer express route circuit connection
                                              resource.
                                            type: string
                                            enum:
                                            - Succeeded
                                            - Updating
                                            - Deleting
                                            - Failed
                                            x-ms-enum:
                                              name: ProvisioningState
                                              modelAsString: true
                                      name:
                                        type: string
                                        description: The name of the resource that
                                          is unique within a resource group. This
                                          name can be used to access the resource.
                                      etag:
                                        readOnly: true
                                        type: string
                                        description: A unique read-only string that
                                          changes whenever the resource is updated.
                                      type:
                                        readOnly: true
                                        type: string
                                        description: Type of the resource.
                                    description: Reference to another subresource.
                                    x-ms-azure-resource: true
                                  readOnly: true
                                  description: The list of peered circuit connections
                                    associated with Azure Private Peering for this
                                    circuit.
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within a resource group. This name can be used to
                                access the resource.
                            etag:
                              readOnly: true
                              type: string
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                            type:
                              readOnly: true
                              type: string
                              description: Type of the resource.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: A collection of references to express route circuit
                          ipv6 peerings.
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the route filter resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
                required:
                - location
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - RouteFilters
      operationId: RouteFilters_CreateOrUpdate
      description: Creates or updates a route filter in a specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: routeFilterName
        in: path
        required: true
        description: The name of the route filter.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the route filter.
                  properties:
                    rules:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the route filter rule.
                            required:
                            - access
                            - routeFilterRuleType
                            - communities
                            properties:
                              access:
                                description: The access type of the rule.
                                type: string
                                enum:
                                - Allow
                                - Deny
                                x-ms-enum:
                                  name: Access
                                  modelAsString: true
                              routeFilterRuleType:
                                type: string
                                description: The rule type of the rule.
                                enum:
                                - Community
                                x-ms-enum:
                                  name: RouteFilterRuleType
                                  modelAsString: true
                              communities:
                                type: array
                                items:
                                  type: string
                                description: The collection for bgp community values
                                  to filter on. e.g. ['12076:5010','12076:5020'].
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the route filter
                                  rule resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          name:
                            type: string
                            description: The name of the resource that is unique within
                              a resource group. This name can be used to access the
                              resource.
                          location:
                            type: string
                            description: Resource location.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: Collection of RouteFilterRules contained within
                        a route filter.
                    peerings:
                      readOnly: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the express route circuit peering.
                            properties:
                              peeringType:
                                description: The peering type.
                                type: string
                                enum:
                                - AzurePublicPeering
                                - AzurePrivatePeering
                                - MicrosoftPeering
                                x-ms-enum:
                                  name: ExpressRoutePeeringType
                                  modelAsString: true
                              state:
                                description: The peering state.
                                type: string
                                enum:
                                - Disabled
                                - Enabled
                                x-ms-enum:
                                  name: ExpressRoutePeeringState
                                  modelAsString: true
                              azureASN:
                                type: integer
                                format: int32
                                description: The Azure ASN.
                              peerASN:
                                type: integer
                                format: int64
                                minimum: 1
                                maximum: 4294967295
                                description: The peer ASN.
                              primaryPeerAddressPrefix:
                                type: string
                                description: The primary address prefix.
                              secondaryPeerAddressPrefix:
                                type: string
                                description: The secondary address prefix.
                              primaryAzurePort:
                                type: string
                                description: The primary port.
                              secondaryAzurePort:
                                type: string
                                description: The secondary port.
                              sharedKey:
                                type: string
                                description: The shared key.
                              vlanId:
                                type: integer
                                format: int32
                                description: The VLAN ID.
                              microsoftPeeringConfig:
                                description: The Microsoft peering configuration.
                                properties:
                                  advertisedPublicPrefixes:
                                    type: array
                                    items:
                                      type: string
                                    description: The reference to AdvertisedPublicPrefixes.
                                  advertisedCommunities:
                                    type: array
                                    items:
                                      type: string
                                    description: The communities of bgp peering. Specified
                                      for microsoft peering.
                                  advertisedPublicPrefixesState:
                                    readOnly: true
                                    type: string
                                    description: The advertised public prefix state
                                      of the Peering resource.
                                    enum:
                                    - NotConfigured
                                    - Configuring
                                    - Configured
                                    - ValidationNeeded
                                    x-ms-enum:
                                      name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                      modelAsString: true
                                  legacyMode:
                                    type: integer
                                    format: int32
                                    description: The legacy mode of the peering.
                                  customerASN:
                                    type: integer
                                    format: int32
                                    description: The CustomerASN of the peering.
                                  routingRegistryName:
                                    type: string
                                    description: The RoutingRegistryName of the configuration.
                                  advertisedPublicPrefixInfo:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        prefix:
                                          type: string
                                          description: Advertised Public Prefix.
                                        validationId:
                                          type: string
                                          description: Validation string that contains
                                            circuit peering info.
                                        signature:
                                          type: string
                                          description: Signed string generated by
                                            encrypting validationId with a private
                                            key.
                                        validationState:
                                          readOnly: true
                                          type: string
                                          description: Advertised Public Prefix State
                                            that denotes if the prefix is validated
                                            or not.
                                          enum:
                                          - NotConfigured
                                          - Configuring
                                          - Configured
                                          - ValidationNeeded
                                          - ValidationFailed
                                          - ManualValidationNeeded
                                          - AsnValidationFailed
                                          - CertificateMissingInRoutingRegistry
                                          - InvalidSignatureEncoding
                                          - SignatureVerificationFailed
                                          x-ms-enum:
                                            name: AdvertisedPublicPrefixPropertiesValidationState
                                            modelAsString: true
                                      description: Prefix properties required to perform
                                        validation using openssl signature.
                                    x-ms-identifiers: []
                                    description: List of Prefix information required
                                      to perform validation.
                              stats:
                                description: The peering stats of express route circuit.
                                properties:
                                  primarybytesIn:
                                    type: integer
                                    format: int64
                                    description: The Primary BytesIn of the peering.
                                  primarybytesOut:
                                    type: integer
                                    format: int64
                                    description: The primary BytesOut of the peering.
                                  secondarybytesIn:
                                    type: integer
                                    format: int64
                                    description: The secondary BytesIn of the peering.
                                  secondarybytesOut:
                                    type: integer
                                    format: int64
                                    description: The secondary BytesOut of the peering.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the express
                                  route circuit peering resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                              gatewayManagerEtag:
                                type: string
                                description: The GatewayManager Etag.
                              lastModifiedBy:
                                readOnly: true
                                type: string
                                description: Who was the last to modify the peering.
                              routeFilter:
                                description: The reference to the RouteFilter resource.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              ipv6PeeringConfig:
                                description: The IPv6 peering configuration.
                                properties:
                                  primaryPeerAddressPrefix:
                                    type: string
                                    description: The primary address prefix.
                                  secondaryPeerAddressPrefix:
                                    type: string
                                    description: The secondary address prefix.
                                  microsoftPeeringConfig:
                                    description: The Microsoft peering configuration.
                                    properties:
                                      advertisedPublicPrefixes:
                                        type: array
                                        items:
                                          type: string
                                        description: The reference to AdvertisedPublicPrefixes.
                                      advertisedCommunities:
                                        type: array
                                        items:
                                          type: string
                                        description: The communities of bgp peering.
                                          Specified for microsoft peering.
                                      advertisedPublicPrefixesState:
                                        readOnly: true
                                        type: string
                                        description: The advertised public prefix
                                          state of the Peering resource.
                                        enum:
                                        - NotConfigured
                                        - Configuring
                                        - Configured
                                        - ValidationNeeded
                                        x-ms-enum:
                                          name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
                                          modelAsString: true
                                      legacyMode:
                                        type: integer
                                        format: int32
                                        description: The legacy mode of the peering.
                                      customerASN:
                                        type: integer
                                        format: int32
                                        description: The CustomerASN of the peering.
                                      routingRegistryName:
                                        type: string
                                        description: The RoutingRegistryName of the
                                          configuration.
                                      advertisedPublicPrefixInfo:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            prefix:
                                              type: string
                                              description: Advertised Public Prefix.
                                            validationId:
                                              type: string
                                              description: Validation string that
                                                contains circuit peering info.
                                            signature:
                                              type: string
                                              description: Signed string generated
                                                by encrypting validationId with a
                                                private key.
                                            validationState:
                                              readOnly: true
[...]
