openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/securityPartnerProviders/{securityPartnerProviderName}
  : delete:
      tags:
      - SecurityPartnerProviders
      operationId: SecurityPartnerProviders_Delete
      description: Deletes the specified Security Partner Provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: securityPartnerProviderName
        in: path
        required: true
        description: The name of the Security Partner Provider.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not
            exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - SecurityPartnerProviders
      operationId: SecurityPartnerProviders_Get
      description: Gets the specified Security Partner Provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: securityPartnerProviderName
        in: path
        required: true
        description: The name of the Security Partner Provider.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a SecurityPartnerProvider
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Security Partner Provider.
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the Security Partner
                          Provider resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      securityProviderName:
                        description: The security provider name.
                        type: string
                        enum:
                        - ZScaler
                        - IBoss
                        - Checkpoint
                        x-ms-enum:
                          name: SecurityProviderName
                          modelAsString: true
                      connectionStatus:
                        readOnly: true
                        description: The connection status with the Security Partner
                          Provider.
                        type: string
                        enum:
                        - Unknown
                        - PartiallyConnected
                        - Connected
                        - NotConnected
                        x-ms-enum:
                          name: SecurityPartnerProviderConnectionStatus
                          modelAsString: true
                      virtualHub:
                        description: The virtualHub to which the Security Partner
                          Provider belongs.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
    put:
      tags:
      - SecurityPartnerProviders
      operationId: SecurityPartnerProviders_CreateOrUpdate
      description: Creates or updates the specified Security Partner Provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: securityPartnerProviderName
        in: path
        required: true
        description: The name of the Security Partner Provider.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the Security Partner Provider.
                  properties:
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the Security Partner
                        Provider resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    securityProviderName:
                      description: The security provider name.
                      type: string
                      enum:
                      - ZScaler
                      - IBoss
                      - Checkpoint
                      x-ms-enum:
                        name: SecurityProviderName
                        modelAsString: true
                    connectionStatus:
                      readOnly: true
                      description: The connection status with the Security Partner
                        Provider.
                      type: string
                      enum:
                      - Unknown
                      - PartiallyConnected
                      - Connected
                      - NotConnected
                      x-ms-enum:
                        name: SecurityPartnerProviderConnectionStatus
                        modelAsString: true
                    virtualHub:
                      description: The virtualHub to which the Security Partner Provider
                        belongs.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                etag:
                  type: string
                  readOnly: true
                  description: A unique read-only string that changes whenever the
                    resource is updated.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update Security Partner
          Provider operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting SecurityPartnerProvider
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Security Partner Provider.
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the Security Partner
                          Provider resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      securityProviderName:
                        description: The security provider name.
                        type: string
                        enum:
                        - ZScaler
                        - IBoss
                        - Checkpoint
                        x-ms-enum:
                          name: SecurityProviderName
                          modelAsString: true
                      connectionStatus:
                        readOnly: true
                        description: The connection status with the Security Partner
                          Provider.
                        type: string
                        enum:
                        - Unknown
                        - PartiallyConnected
                        - Connected
                        - NotConnected
                        x-ms-enum:
                          name: SecurityPartnerProviderConnectionStatus
                          modelAsString: true
                      virtualHub:
                        description: The virtualHub to which the Security Partner
                          Provider belongs.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Create successful. The operation returns the resulting SecurityPartnerProvider
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Security Partner Provider.
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the Security Partner
                          Provider resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      securityProviderName:
                        description: The security provider name.
                        type: string
                        enum:
                        - ZScaler
                        - IBoss
                        - Checkpoint
                        x-ms-enum:
                          name: SecurityProviderName
                          modelAsString: true
                      connectionStatus:
                        readOnly: true
                        description: The connection status with the Security Partner
                          Provider.
                        type: string
                        enum:
                        - Unknown
                        - PartiallyConnected
                        - Connected
                        - NotConnected
                        x-ms-enum:
                          name: SecurityPartnerProviderConnectionStatus
                          modelAsString: true
                      virtualHub:
                        description: The virtualHub to which the Security Partner
                          Provider belongs.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    patch:
      tags:
      - SecurityPartnerProviders
      operationId: SecurityPartnerProviders_UpdateTags
      description: Updates tags of a Security Partner Provider resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: securityPartnerProviderName
        in: path
        required: true
        description: The name of the Security Partner Provider.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
              description: Tags object for patch operations.
        description: Parameters supplied to update Security Partner Provider tags.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting SecurityPartnerProvider
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Security Partner Provider.
                    properties:
                      provisioningState:
                        readOnly: true
                        description: The provisioning state of the Security Partner
                          Provider resource.
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      securityProviderName:
                        description: The security provider name.
                        type: string
                        enum:
                        - ZScaler
                        - IBoss
                        - Checkpoint
                        x-ms-enum:
                          name: SecurityProviderName
                          modelAsString: true
                      connectionStatus:
                        readOnly: true
                        description: The connection status with the Security Partner
                          Provider.
                        type: string
                        enum:
                        - Unknown
                        - PartiallyConnected
                        - Connected
                        - NotConnected
                        x-ms-enum:
                          name: SecurityPartnerProviderConnectionStatus
                          modelAsString: true
                      virtualHub:
                        description: The virtualHub to which the Security Partner
                          Provider belongs.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/securityPartnerProviders:
    get:
      tags:
      - SecurityPartnerProviders
      operationId: SecurityPartnerProviders_ListByResourceGroup
      description: Lists all Security Partner Providers in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Success. The operation returns a list of SecurityPartnerProvider
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the Security Partner Provider.
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the Security
                                Partner Provider resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            securityProviderName:
                              description: The security provider name.
                              type: string
                              enum:
                              - ZScaler
                              - IBoss
                              - Checkpoint
                              x-ms-enum:
                                name: SecurityProviderName
                                modelAsString: true
                            connectionStatus:
                              readOnly: true
                              description: The connection status with the Security
                                Partner Provider.
                              type: string
                              enum:
                              - Unknown
                              - PartiallyConnected
                              - Connected
                              - NotConnected
                              x-ms-enum:
                                name: SecurityPartnerProviderConnectionStatus
                                modelAsString: true
                            virtualHub:
                              description: The virtualHub to which the Security Partner
                                Provider belongs.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of Security Partner Providers in a resource
                      group.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for ListSecurityPartnerProviders API service
                  call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/securityPartnerProviders:
    get:
      tags:
      - SecurityPartnerProviders
      operationId: SecurityPartnerProviders_List
      description: Gets all the Security Partner Providers in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Success. The operation returns a list of SecurityPartnerProvider
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the Security Partner Provider.
                          properties:
                            provisioningState:
                              readOnly: true
                              description: The provisioning state of the Security
                                Partner Provider resource.
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            securityProviderName:
                              description: The security provider name.
                              type: string
                              enum:
                              - ZScaler
                              - IBoss
                              - Checkpoint
                              x-ms-enum:
                                name: SecurityProviderName
                                modelAsString: true
                            connectionStatus:
                              readOnly: true
                              description: The connection status with the Security
                                Partner Provider.
                              type: string
                              enum:
                              - Unknown
                              - PartiallyConnected
                              - Connected
                              - NotConnected
                              x-ms-enum:
                                name: SecurityPartnerProviderConnectionStatus
                                modelAsString: true
                            virtualHub:
                              description: The virtualHub to which the Security Partner
                                Provider belongs.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of Security Partner Providers in a resource
                      group.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for ListSecurityPartnerProviders API service
                  call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    SecurityPartnerProviderPropertiesFormat:
      properties:
        provisioningState:
          readOnly: true
          description: The provisioning state of the Security Partner Provider resource.
          type: string
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        securityProviderName:
          description: The security provider name.
          type: string
          enum:
          - ZScaler
          - IBoss
          - Checkpoint
          x-ms-enum:
            name: SecurityProviderName
            modelAsString: true
        connectionStatus:
          readOnly: true
          description: The connection status with the Security Partner Provider.
          type: string
          enum:
          - Unknown
          - PartiallyConnected
          - Connected
          - NotConnected
          x-ms-enum:
            name: SecurityPartnerProviderConnectionStatus
            modelAsString: true
        virtualHub:
          description: The virtualHub to which the Security Partner Provider belongs.
          properties:
            id:
              type: string
              description: Resource ID.
          x-ms-azure-resource: true
      description: Properties of the Security Partner Provider.
    SecurityPartnerProvider:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          x-ms-client-flatten: true
          description: Properties of the Security Partner Provider.
          properties:
            provisioningState:
              readOnly: true
              description: The provisioning state of the Security Partner Provider
                resource.
              type: string
              enum:
              - Succeeded
              - Updating
              - Deleting
              - Failed
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
            securityProviderName:
              description: The security provider name.
              type: string
              enum:
              - ZScaler
              - IBoss
              - Checkpoint
              x-ms-enum:
                name: SecurityProviderName
                modelAsString: true
            connectionStatus:
              readOnly: true
              description: The connection status with the Security Partner Provider.
              type: string
              enum:
              - Unknown
              - PartiallyConnected
              - Connected
              - NotConnected
              x-ms-enum:
                name: SecurityPartnerProviderConnectionStatus
                modelAsString: true
            virtualHub:
              description: The virtualHub to which the Security Partner Provider belongs.
              properties:
                id:
                  type: string
                  description: Resource ID.
              x-ms-azure-resource: true
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource
            is updated.
      description: Common resource representation.
      x-ms-azure-resource: true
    SecurityPartnerProviderListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags.
              properties:
                x-ms-client-flatten: true
                description: Properties of the Security Partner Provider.
                properties:
                  provisioningState:
                    readOnly: true
                    description: The provisioning state of the Security Partner Provider
                      resource.
                    type: string
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
                  securityProviderName:
                    description: The security provider name.
                    type: string
                    enum:
                    - ZScaler
                    - IBoss
                    - Checkpoint
                    x-ms-enum:
                      name: SecurityProviderName
                      modelAsString: true
                  connectionStatus:
                    readOnly: true
                    description: The connection status with the Security Partner Provider.
                    type: string
                    enum:
                    - Unknown
                    - PartiallyConnected
                    - Connected
                    - NotConnected
                    x-ms-enum:
                      name: SecurityPartnerProviderConnectionStatus
                      modelAsString: true
                  virtualHub:
                    description: The virtualHub to which the Security Partner Provider
                      belongs.
                    properties:
                      id:
                        type: string
                        description: Resource ID.
                    x-ms-azure-resource: true
              etag:
                type: string
                readOnly: true
                description: A unique read-only string that changes whenever the resource
                  is updated.
            description: Common resource representation.
            x-ms-azure-resource: true
          description: List of Security Partner Providers in a resource group.
        nextLink:
          type: string
          description: URL to get the next set of results.
      description: Response for ListSecurityPartnerProviders API service call.
    SecurityPartnerProvidersecurityProviderName:
      type: string
      description: The Security Providers.
      enum:
      - ZScaler
      - IBoss
      - Checkpoint
      x-ms-enum:
        name: SecurityProviderName
        modelAsString: true
    SecurityPartnerProviderConnectionStatus:
      type: string
      description: The current state of the connection with Security Partner Provider.
      readOnly: true
      enum:
      - Unknown
      - PartiallyConnected
      - Connected
      - NotConnected
      x-ms-enum:
        name: SecurityPartnerProviderConnectionStatus
        modelAsString: true
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
    Resource:
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Common resource representation.
      x-ms-azure-resource: true
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Updating
      - Deleting
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    SubResource:
      properties:
        id:
          type: string
          description: Resource ID.
      description: Reference to another subresource.
      x-ms-azure-resource: true
    TagsObject:
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Tags object for patch operations.
