openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/bgpServiceCommunities:
    get:
      tags:
      - BgpServiceCommunities
      operationId: BgpServiceCommunities_List
      description: Gets all the available bgp service communities.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of BgpServiceCommunity
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the BGP service community.
                          properties:
                            serviceName:
                              type: string
                              description: The name of the bgp community. e.g. Skype.
                            bgpCommunities:
                              type: array
                              items:
                                properties:
                                  serviceSupportedRegion:
                                    type: string
                                    description: The region which the service support.
                                      e.g. For O365, region is Global.
                                  communityName:
                                    type: string
                                    description: The name of the bgp community. e.g.
                                      Skype.
                                  communityValue:
                                    type: string
                                    description: 'The value of the bgp community.
                                      For more information: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing.'
                                  communityPrefixes:
                                    type: array
                                    items:
                                      type: string
                                    description: The prefixes that the bgp community
                                      contains.
                                  isAuthorizedToUse:
                                    type: boolean
                                    description: Customer is authorized to use bgp
                                      community or not.
                                  serviceGroup:
                                    type: string
                                    description: The service group of the bgp community
                                      contains.
                                description: Contains bgp community information offered
                                  in Service Community resources.
                              description: A list of bgp communities.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: A list of service community resources.
                  nextLink:
                    type: string
                    description: The URL to get the next set of results.
                description: Response for the ListServiceCommunity API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    BGPCommunity:
      properties:
        serviceSupportedRegion:
          type: string
          description: The region which the service support. e.g. For O365, region
            is Global.
        communityName:
          type: string
          description: The name of the bgp community. e.g. Skype.
        communityValue:
          type: string
          description: 'The value of the bgp community. For more information: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing.'
        communityPrefixes:
          type: array
          items:
            type: string
          description: The prefixes that the bgp community contains.
        isAuthorizedToUse:
          type: boolean
          description: Customer is authorized to use bgp community or not.
        serviceGroup:
          type: string
          description: The service group of the bgp community contains.
      description: Contains bgp community information offered in Service Community
        resources.
    BgpServiceCommunityPropertiesFormat:
      properties:
        serviceName:
          type: string
          description: The name of the bgp community. e.g. Skype.
        bgpCommunities:
          type: array
          items:
            properties:
              serviceSupportedRegion:
                type: string
                description: The region which the service support. e.g. For O365,
                  region is Global.
              communityName:
                type: string
                description: The name of the bgp community. e.g. Skype.
              communityValue:
                type: string
                description: 'The value of the bgp community. For more information:
                  https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing.'
              communityPrefixes:
                type: array
                items:
                  type: string
                description: The prefixes that the bgp community contains.
              isAuthorizedToUse:
                type: boolean
                description: Customer is authorized to use bgp community or not.
              serviceGroup:
                type: string
                description: The service group of the bgp community contains.
            description: Contains bgp community information offered in Service Community
              resources.
          description: A list of bgp communities.
      description: Properties of Service Community.
    BgpServiceCommunity:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          x-ms-client-flatten: true
          description: Properties of the BGP service community.
          properties:
            serviceName:
              type: string
              description: The name of the bgp community. e.g. Skype.
            bgpCommunities:
              type: array
              items:
                properties:
                  serviceSupportedRegion:
                    type: string
                    description: The region which the service support. e.g. For O365,
                      region is Global.
                  communityName:
                    type: string
                    description: The name of the bgp community. e.g. Skype.
                  communityValue:
                    type: string
                    description: 'The value of the bgp community. For more information:
                      https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing.'
                  communityPrefixes:
                    type: array
                    items:
                      type: string
                    description: The prefixes that the bgp community contains.
                  isAuthorizedToUse:
                    type: boolean
                    description: Customer is authorized to use bgp community or not.
                  serviceGroup:
                    type: string
                    description: The service group of the bgp community contains.
                description: Contains bgp community information offered in Service
                  Community resources.
              description: A list of bgp communities.
      description: Common resource representation.
      x-ms-azure-resource: true
    BgpServiceCommunityListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags.
              properties:
                x-ms-client-flatten: true
                description: Properties of the BGP service community.
                properties:
                  serviceName:
                    type: string
                    description: The name of the bgp community. e.g. Skype.
                  bgpCommunities:
                    type: array
                    items:
                      properties:
                        serviceSupportedRegion:
                          type: string
                          description: The region which the service support. e.g.
                            For O365, region is Global.
                        communityName:
                          type: string
                          description: The name of the bgp community. e.g. Skype.
                        communityValue:
                          type: string
                          description: 'The value of the bgp community. For more information:
                            https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing.'
                        communityPrefixes:
                          type: array
                          items:
                            type: string
                          description: The prefixes that the bgp community contains.
                        isAuthorizedToUse:
                          type: boolean
                          description: Customer is authorized to use bgp community
                            or not.
                        serviceGroup:
                          type: string
                          description: The service group of the bgp community contains.
                      description: Contains bgp community information offered in Service
                        Community resources.
                    description: A list of bgp communities.
            description: Common resource representation.
            x-ms-azure-resource: true
          description: A list of service community resources.
        nextLink:
          type: string
          description: The URL to get the next set of results.
      description: Response for the ListServiceCommunity API service call.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
    Resource:
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Common resource representation.
      x-ms-azure-resource: true
