openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTags:
    get:
      operationId: ServiceTags_List
      description: Gets a list of service tag information resources.
      parameters:
      - name: location
        in: path
        required: true
        description: The location that will be used as a reference for version (not
          as a filter based on location, you will get the list of service tags with
          prefix details across all regions but limited to the cloud that your subscription
          belongs to).
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. Returns a list of service tag information
            resources.
          content:
            application/json:
              schema:
                properties:
                  name:
                    type: string
                    readOnly: true
                    description: The name of the cloud.
                  id:
                    type: string
                    readOnly: true
                    description: The ID of the cloud.
                  type:
                    type: string
                    readOnly: true
                    description: The azure resource type.
                  changeNumber:
                    type: string
                    readOnly: true
                    description: The iteration number.
                  cloud:
                    type: string
                    readOnly: true
                    description: The name of the cloud.
                  values:
                    type: array
                    items:
                      properties:
                        properties:
                          readOnly: true
                          description: Properties of the service tag information.
                          properties:
                            changeNumber:
                              type: string
                              readOnly: true
                              description: The iteration number of service tag.
                            region:
                              type: string
                              readOnly: true
                              description: The region of service tag.
                            systemService:
                              type: string
                              readOnly: true
                              description: The name of system service.
                            addressPrefixes:
                              type: array
                              items:
                                type: string
                              readOnly: true
                              description: The list of IP address prefixes.
                            state:
                              type: string
                              readOnly: true
                              description: The state of the service tag.
                        name:
                          type: string
                          readOnly: true
                          description: The name of service tag.
                        id:
                          type: string
                          readOnly: true
                          description: The ID of service tag.
                        serviceTagChangeNumber:
                          type: string
                          readOnly: true
                          description: The iteration number of service tag object
                            for region.
                      description: The service tag information.
                    readOnly: true
                    description: The list of service tag information resources.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get next page of service tag information
                      resources.
                description: Response for the ListServiceTags API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTagDetails:
    get:
      operationId: ServiceTagInformation_List
      description: Gets a list of service tag information resources with pagination.
      parameters:
      - name: location
        in: path
        required: true
        description: The location that will be used as a reference for cloud (not
          as a filter based on location, you will get the list of service tags with
          prefix details across all regions but limited to the cloud that your subscription
          belongs to).
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: noAddressPrefixes
        in: query
        required: false
        description: Do not return address prefixes for the tag(s).
        schema:
          type: boolean
      - name: tagName
        in: query
        required: false
        description: Return tag information for a particular tag.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. Returns a list of service tag information
            resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      properties:
                        properties:
                          readOnly: true
                          description: Properties of the service tag information.
                          properties:
                            changeNumber:
                              type: string
                              readOnly: true
                              description: The iteration number of service tag.
                            region:
                              type: string
                              readOnly: true
                              description: The region of service tag.
                            systemService:
                              type: string
                              readOnly: true
                              description: The name of system service.
                            addressPrefixes:
                              type: array
                              items:
                                type: string
                              readOnly: true
                              description: The list of IP address prefixes.
                            state:
                              type: string
                              readOnly: true
                              description: The state of the service tag.
                        name:
                          type: string
                          readOnly: true
                          description: The name of service tag.
                        id:
                          type: string
                          readOnly: true
                          description: The ID of service tag.
                        serviceTagChangeNumber:
                          type: string
                          readOnly: true
                          description: The iteration number of service tag object
                            for region.
                      description: The service tag information.
                    description: The list of service tag information resources.
                  nextLink:
                    type: string
                    readOnly: true
                    description: The URL to get the next set of results.
                description: Response for Get ServiceTagInformation API service call.
                  Retrieves the list of service tag information resources.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                x-ms-external: true
                properties:
                  error:
                    description: Cloud error body.
                    x-ms-external: true
                    properties:
                      code:
                        type: string
                        description: An identifier for the error. Codes are invariant
                          and are intended to be consumed programmatically.
                      message:
                        type: string
                        description: A message describing the error, intended to be
                          suitable for display in a user interface.
                      target:
                        type: string
                        description: The target of the particular error. For example,
                          the name of the property in error.
                      details:
                        type: array
                        items:
                          x-ms-external: true
                          properties:
                            code:
                              type: string
                              description: An identifier for the error. Codes are
                                invariant and are intended to be consumed programmatically.
                            message:
                              type: string
                              description: A message describing the error, intended
                                to be suitable for display in a user interface.
                            target:
                              type: string
                              description: The target of the particular error. For
                                example, the name of the property in error.
                            details:
                              type: array
                              items:
                                x-ms-external: true
                                properties:
                                  code:
                                    type: string
                                    description: An identifier for the error. Codes
                                      are invariant and are intended to be consumed
                                      programmatically.
                                  message:
                                    type: string
                                    description: A message describing the error, intended
                                      to be suitable for display in a user interface.
                                  target:
                                    type: string
                                    description: The target of the particular error.
                                      For example, the name of the property in error.
                                description: An error response from the service.
                              description: A list of additional details about the
                                error.
                          description: An error response from the service.
                        description: A list of additional details about the error.
                description: An error response from the service.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ServiceTagsListResult:
      properties:
        name:
          type: string
          readOnly: true
          description: The name of the cloud.
        id:
          type: string
          readOnly: true
          description: The ID of the cloud.
        type:
          type: string
          readOnly: true
          description: The azure resource type.
        changeNumber:
          type: string
          readOnly: true
          description: The iteration number.
        cloud:
          type: string
          readOnly: true
          description: The name of the cloud.
        values:
          type: array
          items:
            properties:
              properties:
                readOnly: true
                description: Properties of the service tag information.
                properties:
                  changeNumber:
                    type: string
                    readOnly: true
                    description: The iteration number of service tag.
                  region:
                    type: string
                    readOnly: true
                    description: The region of service tag.
                  systemService:
                    type: string
                    readOnly: true
                    description: The name of system service.
                  addressPrefixes:
                    type: array
                    items:
                      type: string
                    readOnly: true
                    description: The list of IP address prefixes.
                  state:
                    type: string
                    readOnly: true
                    description: The state of the service tag.
              name:
                type: string
                readOnly: true
                description: The name of service tag.
              id:
                type: string
                readOnly: true
                description: The ID of service tag.
              serviceTagChangeNumber:
                type: string
                readOnly: true
                description: The iteration number of service tag object for region.
            description: The service tag information.
          readOnly: true
          description: The list of service tag information resources.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get next page of service tag information resources.
      description: Response for the ListServiceTags API service call.
    ServiceTagInformationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            properties:
              properties:
                readOnly: true
                description: Properties of the service tag information.
                properties:
                  changeNumber:
                    type: string
                    readOnly: true
                    description: The iteration number of service tag.
                  region:
                    type: string
                    readOnly: true
                    description: The region of service tag.
                  systemService:
                    type: string
                    readOnly: true
                    description: The name of system service.
                  addressPrefixes:
                    type: array
                    items:
                      type: string
                    readOnly: true
                    description: The list of IP address prefixes.
                  state:
                    type: string
                    readOnly: true
                    description: The state of the service tag.
              name:
                type: string
                readOnly: true
                description: The name of service tag.
              id:
                type: string
                readOnly: true
                description: The ID of service tag.
              serviceTagChangeNumber:
                type: string
                readOnly: true
                description: The iteration number of service tag object for region.
            description: The service tag information.
          description: The list of service tag information resources.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      description: Response for Get ServiceTagInformation API service call. Retrieves
        the list of service tag information resources.
    ServiceTagInformation:
      properties:
        properties:
          readOnly: true
          description: Properties of the service tag information.
          properties:
            changeNumber:
              type: string
              readOnly: true
              description: The iteration number of service tag.
            region:
              type: string
              readOnly: true
              description: The region of service tag.
            systemService:
              type: string
              readOnly: true
              description: The name of system service.
            addressPrefixes:
              type: array
              items:
                type: string
              readOnly: true
              description: The list of IP address prefixes.
            state:
              type: string
              readOnly: true
              description: The state of the service tag.
        name:
          type: string
          readOnly: true
          description: The name of service tag.
        id:
          type: string
          readOnly: true
          description: The ID of service tag.
        serviceTagChangeNumber:
          type: string
          readOnly: true
          description: The iteration number of service tag object for region.
      description: The service tag information.
    ServiceTagInformationPropertiesFormat:
      properties:
        changeNumber:
          type: string
          readOnly: true
          description: The iteration number of service tag.
        region:
          type: string
          readOnly: true
          description: The region of service tag.
        systemService:
          type: string
          readOnly: true
          description: The name of system service.
        addressPrefixes:
          type: array
          items:
            type: string
          readOnly: true
          description: The list of IP address prefixes.
        state:
          type: string
          readOnly: true
          description: The state of the service tag.
      description: Properties of the service tag information.
    CloudErrorBody:
      x-ms-external: true
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for
            display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of
            the property in error.
        details:
          type: array
          items:
            x-ms-external: true
            properties:
              code:
                type: string
                description: An identifier for the error. Codes are invariant and
                  are intended to be consumed programmatically.
              message:
                type: string
                description: A message describing the error, intended to be suitable
                  for display in a user interface.
              target:
                type: string
                description: The target of the particular error. For example, the
                  name of the property in error.
              details:
                type: array
                items:
                  x-ms-external: true
                  properties:
                    code:
                      type: string
                      description: An identifier for the error. Codes are invariant
                        and are intended to be consumed programmatically.
                    message:
                      type: string
                      description: A message describing the error, intended to be
                        suitable for display in a user interface.
                    target:
                      type: string
                      description: The target of the particular error. For example,
                        the name of the property in error.
                  description: An error response from the service.
                description: A list of additional details about the error.
            description: An error response from the service.
          description: A list of additional details about the error.
      description: An error response from the service.
    CloudError:
      x-ms-external: true
      properties:
        error:
          description: Cloud error body.
          x-ms-external: true
          properties:
            code:
              type: string
              description: An identifier for the error. Codes are invariant and are
                intended to be consumed programmatically.
            message:
              type: string
              description: A message describing the error, intended to be suitable
                for display in a user interface.
            target:
              type: string
              description: The target of the particular error. For example, the name
                of the property in error.
            details:
              type: array
              items:
                x-ms-external: true
                properties:
                  code:
                    type: string
                    description: An identifier for the error. Codes are invariant
                      and are intended to be consumed programmatically.
                  message:
                    type: string
                    description: A message describing the error, intended to be suitable
                      for display in a user interface.
                  target:
                    type: string
                    description: The target of the particular error. For example,
                      the name of the property in error.
                  details:
                    type: array
                    items:
                      x-ms-external: true
                      properties:
                        code:
                          type: string
                          description: An identifier for the error. Codes are invariant
                            and are intended to be consumed programmatically.
                        message:
                          type: string
                          description: A message describing the error, intended to
                            be suitable for display in a user interface.
                        target:
                          type: string
                          description: The target of the particular error. For example,
                            the name of the property in error.
                      description: An error response from the service.
                    description: A list of additional details about the error.
                description: An error response from the service.
              description: A list of additional details about the error.
      description: An error response from the service.
