openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}
  : delete:
      tags:
      - VirtualRouters
      operationId: VirtualRouters_Delete
      description: Deletes the specified Virtual Router.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualRouterName
        in: path
        required: true
        description: The name of the Virtual Router.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not
            exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - VirtualRouters
      operationId: VirtualRouters_Get
      description: Gets the specified Virtual Router.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualRouterName
        in: path
        required: true
        description: The name of the Virtual Router.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a Virtual Router
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Virtual Router.
                    properties:
                      virtualRouterAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: VirtualRouter ASN.
                      virtualRouterIps:
                        type: array
                        readOnly: false
                        description: VirtualRouter IPs.
                        items:
                          type: string
                      hostedSubnet:
                        readOnly: false
                        description: The Subnet on which VirtualRouter is hosted.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      hostedGateway:
                        readOnly: false
                        description: The Gateway on which VirtualRouter is hosted.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      peerings:
                        type: array
                        readOnly: true
                        description: List of references to VirtualRouterPeerings.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
    put:
      tags:
      - VirtualRouters
      operationId: VirtualRouters_CreateOrUpdate
      description: Creates or updates the specified Virtual Router.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualRouterName
        in: path
        required: true
        description: The name of the Virtual Router.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the Virtual Router.
                  properties:
                    virtualRouterAsn:
                      type: integer
                      readOnly: false
                      format: int64
                      minimum: 0
                      maximum: 4294967295
                      description: VirtualRouter ASN.
                    virtualRouterIps:
                      type: array
                      readOnly: false
                      description: VirtualRouter IPs.
                      items:
                        type: string
                    hostedSubnet:
                      readOnly: false
                      description: The Subnet on which VirtualRouter is hosted.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    hostedGateway:
                      readOnly: false
                      description: The Gateway on which VirtualRouter is hosted.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    peerings:
                      type: array
                      readOnly: true
                      description: List of references to VirtualRouterPeerings.
                      items:
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    provisioningState:
                      description: The provisioning state of the resource.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                etag:
                  type: string
                  readOnly: true
                  description: A unique read-only string that changes whenever the
                    resource is updated.
              description: Common resource representation.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update Virtual Router.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the resulting Virtual
            Router resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Virtual Router.
                    properties:
                      virtualRouterAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: VirtualRouter ASN.
                      virtualRouterIps:
                        type: array
                        readOnly: false
                        description: VirtualRouter IPs.
                        items:
                          type: string
                      hostedSubnet:
                        readOnly: false
                        description: The Subnet on which VirtualRouter is hosted.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      hostedGateway:
                        readOnly: false
                        description: The Gateway on which VirtualRouter is hosted.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      peerings:
                        type: array
                        readOnly: true
                        description: List of references to VirtualRouterPeerings.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        '201':
          description: Request received successfully. The operation returns the resulting
            Virtual Router resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the Virtual Router.
                    properties:
                      virtualRouterAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: VirtualRouter ASN.
                      virtualRouterIps:
                        type: array
                        readOnly: false
                        description: VirtualRouter IPs.
                        items:
                          type: string
                      hostedSubnet:
                        readOnly: false
                        description: The Subnet on which VirtualRouter is hosted.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      hostedGateway:
                        readOnly: false
                        description: The Gateway on which VirtualRouter is hosted.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      peerings:
                        type: array
                        readOnly: true
                        description: List of references to VirtualRouterPeerings.
                        items:
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                description: Common resource representation.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters:
    get:
      tags:
      - VirtualRouters
      operationId: VirtualRouters_ListByResourceGroup
      description: Lists all Virtual Routers in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Success. The operation returns a list of Virtual Router resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the Virtual Router.
                          properties:
                            virtualRouterAsn:
                              type: integer
                              readOnly: false
                              format: int64
                              minimum: 0
                              maximum: 4294967295
                              description: VirtualRouter ASN.
                            virtualRouterIps:
                              type: array
                              readOnly: false
                              description: VirtualRouter IPs.
                              items:
                                type: string
                            hostedSubnet:
                              readOnly: false
                              description: The Subnet on which VirtualRouter is hosted.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            hostedGateway:
                              readOnly: false
                              description: The Gateway on which VirtualRouter is hosted.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            peerings:
                              type: array
                              readOnly: true
                              description: List of references to VirtualRouterPeerings.
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                            provisioningState:
                              description: The provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of Virtual Routers.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for ListVirtualRouters API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualRouters:
    get:
      tags:
      - VirtualRouters
      operationId: VirtualRouters_List
      description: Gets all the Virtual Routers in a subscription.
      parameters:
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Success. The operation returns a list of Virtual Router resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        name:
                          readOnly: true
                          type: string
                          description: Resource name.
                        type:
                          readOnly: true
                          type: string
                          description: Resource type.
                        location:
                          type: string
                          description: Resource location.
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource tags.
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of the Virtual Router.
                          properties:
                            virtualRouterAsn:
                              type: integer
                              readOnly: false
                              format: int64
                              minimum: 0
                              maximum: 4294967295
                              description: VirtualRouter ASN.
                            virtualRouterIps:
                              type: array
                              readOnly: false
                              description: VirtualRouter IPs.
                              items:
                                type: string
                            hostedSubnet:
                              readOnly: false
                              description: The Subnet on which VirtualRouter is hosted.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            hostedGateway:
                              readOnly: false
                              description: The Gateway on which VirtualRouter is hosted.
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                              x-ms-azure-resource: true
                            peerings:
                              type: array
                              readOnly: true
                              description: List of references to VirtualRouterPeerings.
                              items:
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                description: Reference to another subresource.
                                x-ms-azure-resource: true
                            provisioningState:
                              description: The provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                      description: Common resource representation.
                      x-ms-azure-resource: true
                    description: List of Virtual Routers.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for ListVirtualRouters API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings/{peeringName}
  : delete:
      tags:
      - VirtualRouterPeerings
      operationId: VirtualRouterPeerings_Delete
      description: Deletes the specified peering from a Virtual Router.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualRouterName
        in: path
        required: true
        description: The name of the Virtual Router.
        schema:
          type: string
      - name: peeringName
        in: path
        required: true
        description: The name of the peering.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource with the specified name does not
            exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - VirtualRouterPeerings
      operationId: VirtualRouterPeerings_Get
      description: Gets the specified Virtual Router Peering.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualRouterName
        in: path
        required: true
        description: The name of the Virtual Router.
        schema:
          type: string
      - name: peeringName
        in: path
        required: true
        description: The name of the Virtual Router Peering.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a Virtual Router
            Peering resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the Virtual Router Peering.
                    properties:
                      peerAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: Peer ASN.
                      peerIp:
                        type: string
                        readOnly: false
                        description: Peer IP.
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  name:
                    type: string
                    description: Name of the virtual router peering that is unique
                      within a virtual router.
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  type:
                    type: string
                    readOnly: true
                    description: Peering type.
                description: Reference to another subresource.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
    put:
      tags:
      - VirtualRouterPeerings
      operationId: VirtualRouterPeerings_CreateOrUpdate
      description: Creates or updates the specified Virtual Router Peering.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualRouterName
        in: path
        required: true
        description: The name of the Virtual Router.
        schema:
          type: string
      - name: peeringName
        in: path
        required: true
        description: The name of the Virtual Router Peering.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                properties:
                  x-ms-client-flatten: true
                  description: The properties of the Virtual Router Peering.
                  properties:
                    peerAsn:
                      type: integer
                      readOnly: false
                      format: int64
                      minimum: 0
                      maximum: 4294967295
                      description: Peer ASN.
                    peerIp:
                      type: string
                      readOnly: false
                      description: Peer IP.
                    provisioningState:
                      description: The provisioning state of the resource.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                name:
                  type: string
                  description: Name of the virtual router peering that is unique within
                    a virtual router.
                etag:
                  type: string
                  readOnly: true
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                type:
                  type: string
                  readOnly: true
                  description: Peering type.
              description: Reference to another subresource.
              x-ms-azure-resource: true
        description: Parameters supplied to the create or update Virtual Router Peering
          operation.
        required: true
      responses:
        '200':
          description: Request successful. The operation returns the resulting Virtual
            Router Peering resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the Virtual Router Peering.
                    properties:
                      peerAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: Peer ASN.
                      peerIp:
                        type: string
                        readOnly: false
                        description: Peer IP.
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  name:
                    type: string
                    description: Name of the virtual router peering that is unique
                      within a virtual router.
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  type:
                    type: string
                    readOnly: true
                    description: Peering type.
                description: Reference to another subresource.
                x-ms-azure-resource: true
        '201':
          description: Request received successfully. The operation returns the resulting
            Virtual Router Peering resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  properties:
                    x-ms-client-flatten: true
                    description: The properties of the Virtual Router Peering.
                    properties:
                      peerAsn:
                        type: integer
                        readOnly: false
                        format: int64
                        minimum: 0
                        maximum: 4294967295
                        description: Peer ASN.
                      peerIp:
                        type: string
                        readOnly: false
                        description: Peer IP.
                      provisioningState:
                        description: The provisioning state of the resource.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Updating
                        - Deleting
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                  name:
                    type: string
                    description: Name of the virtual router peering that is unique
                      within a virtual router.
                  etag:
                    type: string
                    readOnly: true
                    description: A unique read-only string that changes whenever the
                      resource is updated.
                  type:
                    type: string
                    readOnly: true
                    description: Peering type.
                description: Reference to another subresource.
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings
  : get:
      tags:
      - VirtualRouterPeerings
      operationId: VirtualRouterPeerings_List
      description: Lists all Virtual Router Peerings in a Virtual Router resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualRouterName
        in: path
        required: true
        description: The name of the Virtual Router.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      responses:
        '200':
          description: Success. The operation returns a list of Virtual Router Peering
            resources.
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                        properties:
                          x-ms-client-flatten: true
                          description: The properties of the Virtual Router Peering.
                          properties:
                            peerAsn:
                              type: integer
                              readOnly: false
                              format: int64
                              minimum: 0
                              maximum: 4294967295
                              description: Peer ASN.
                            peerIp:
                              type: string
                              readOnly: false
                              description: Peer IP.
                            provisioningState:
                              description: The provisioning state of the resource.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Updating
                              - Deleting
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                        name:
                          type: string
                          description: Name of the virtual router peering that is
                            unique within a virtual router.
                        etag:
                          type: string
                          readOnly: true
                          description: A unique read-only string that changes whenever
                            the resource is updated.
                        type:
                          type: string
                          readOnly: true
                          description: Peering type.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                    description: List of VirtualRouterPeerings in a VirtualRouter.
                  nextLink:
                    type: string
                    description: URL to get the next set of results.
                description: Response for ListVirtualRouterPeerings API service call.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: string
                    description: Error code.
                  message:
                    type: string
                    description: Error message.
                  target:
                    type: string
                    description: Error target.
                  details:
                    type: array
                    items:
                      properties:
                        code:
                          type: string
                          description: Error code.
                        target:
                          type: string
                          description: Error target.
                        message:
                          type: string
                          description: Error message.
                      description: Common error details representation.
                    description: Error details.
                  innerError:
                    type: string
                    description: Inner error message.
                description: Common error representation.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: Client API version.
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    VirtualRouter:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
        properties:
          x-ms-client-flatten: true
          description: Properties of the Virtual Router.
          properties:
            virtualRouterAsn:
              type: integer
              readOnly: false
              format: int64
              minimum: 0
              maximum: 4294967295
              description: VirtualRouter ASN.
            virtualRouterIps:
              type: array
              readOnly: false
              description: VirtualRouter IPs.
              items:
                type: string
            hostedSubnet:
              readOnly: false
              description: The Subnet on which VirtualRouter is hosted.
              properties:
                id:
                  type: string
                  description: Resource ID.
              x-ms-azure-resource: true
            hostedGateway:
              readOnly: false
              description: The Gateway on which VirtualRouter is hosted.
              properties:
                id:
                  type: string
                  description: Resource ID.
              x-ms-azure-resource: true
            peerings:
              type: array
              readOnly: true
              description: List of references to VirtualRouterPeerings.
              items:
                properties:
                  id:
                    type: string
                    description: Resource ID.
                description: Reference to another subresource.
                x-ms-azure-resource: true
            provisioningState:
              description: The provisioning state of the resource.
              readOnly: true
              type: string
              enum:
              - Succeeded
              - Updating
              - Deleting
              - Failed
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource
            is updated.
      description: Common resource representation.
      x-ms-azure-resource: true
    VirtualRouterPropertiesFormat:
      properties:
        virtualRouterAsn:
          type: integer
          readOnly: false
          format: int64
          minimum: 0
          maximum: 4294967295
          description: VirtualRouter ASN.
        virtualRouterIps:
          type: array
          readOnly: false
          description: VirtualRouter IPs.
          items:
            type: string
        hostedSubnet:
          readOnly: false
          description: The Subnet on which VirtualRouter is hosted.
          properties:
            id:
              type: string
              description: Resource ID.
          x-ms-azure-resource: true
        hostedGateway:
          readOnly: false
          description: The Gateway on which VirtualRouter is hosted.
          properties:
            id:
              type: string
              description: Resource ID.
          x-ms-azure-resource: true
        peerings:
          type: array
          readOnly: true
          description: List of references to VirtualRouterPeerings.
          items:
            properties:
              id:
                type: string
                description: Resource ID.
            description: Reference to another subresource.
            x-ms-azure-resource: true
        provisioningState:
          description: The provisioning state of the resource.
          readOnly: true
          type: string
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
      description: Virtual Router definition.
    VirtualRouterPeering:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        properties:
          x-ms-client-flatten: true
          description: The properties of the Virtual Router Peering.
          properties:
            peerAsn:
              type: integer
              readOnly: false
              format: int64
              minimum: 0
              maximum: 4294967295
              description: Peer ASN.
            peerIp:
              type: string
              readOnly: false
              description: Peer IP.
            provisioningState:
              description: The provisioning state of the resource.
              readOnly: true
              type: string
              enum:
              - Succeeded
              - Updating
              - Deleting
              - Failed
              x-ms-enum:
                name: ProvisioningState
                modelAsString: true
        name:
          type: string
          description: Name of the virtual router peering that is unique within a
            virtual router.
        etag:
          type: string
          readOnly: true
          description: A unique read-only string that changes whenever the resource
            is updated.
        type:
          type: string
          readOnly: true
          description: Peering type.
      description: Reference to another subresource.
      x-ms-azure-resource: true
    VirtualRouterPeeringProperties:
      properties:
        peerAsn:
          type: integer
          readOnly: false
          format: int64
          minimum: 0
          maximum: 4294967295
          description: Peer ASN.
        peerIp:
          type: string
          readOnly: false
          description: Peer IP.
        provisioningState:
          description: The provisioning state of the resource.
          readOnly: true
          type: string
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
      description: Properties of the rule group.
    VirtualRouterListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
              name:
                readOnly: true
                type: string
                description: Resource name.
              type:
                readOnly: true
                type: string
                description: Resource type.
              location:
                type: string
                description: Resource location.
              tags:
                type: object
                additionalProperties:
                  type: string
                description: Resource tags.
              properties:
                x-ms-client-flatten: true
                description: Properties of the Virtual Router.
                properties:
                  virtualRouterAsn:
                    type: integer
                    readOnly: false
                    format: int64
                    minimum: 0
                    maximum: 4294967295
                    description: VirtualRouter ASN.
                  virtualRouterIps:
                    type: array
                    readOnly: false
                    description: VirtualRouter IPs.
                    items:
                      type: string
                  hostedSubnet:
                    readOnly: false
                    description: The Subnet on which VirtualRouter is hosted.
                    properties:
                      id:
                        type: string
                        description: Resource ID.
                    x-ms-azure-resource: true
                  hostedGateway:
                    readOnly: false
                    description: The Gateway on which VirtualRouter is hosted.
                    properties:
                      id:
                        type: string
                        description: Resource ID.
                    x-ms-azure-resource: true
                  peerings:
                    type: array
                    readOnly: true
                    description: List of references to VirtualRouterPeerings.
                    items:
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      description: Reference to another subresource.
                      x-ms-azure-resource: true
                  provisioningState:
                    description: The provisioning state of the resource.
                    readOnly: true
                    type: string
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
              etag:
                type: string
                readOnly: true
                description: A unique read-only string that changes whenever the resource
                  is updated.
            description: Common resource representation.
            x-ms-azure-resource: true
          description: List of Virtual Routers.
        nextLink:
          type: string
          description: URL to get the next set of results.
      description: Response for ListVirtualRouters API service call.
    VirtualRouterPeeringListResult:
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Resource ID.
              properties:
                x-ms-client-flatten: true
                description: The properties of the Virtual Router Peering.
                properties:
                  peerAsn:
                    type: integer
                    readOnly: false
                    format: int64
                    minimum: 0
                    maximum: 4294967295
                    description: Peer ASN.
                  peerIp:
                    type: string
                    readOnly: false
                    description: Peer IP.
                  provisioningState:
                    description: The provisioning state of the resource.
                    readOnly: true
                    type: string
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    x-ms-enum:
                      name: ProvisioningState
                      modelAsString: true
              name:
                type: string
                description: Name of the virtual router peering that is unique within
                  a virtual router.
              etag:
                type: string
                readOnly: true
                description: A unique read-only string that changes whenever the resource
                  is updated.
              type:
                type: string
                readOnly: true
                description: Peering type.
            description: Reference to another subresource.
            x-ms-azure-resource: true
          description: List of VirtualRouterPeerings in a VirtualRouter.
        nextLink:
          type: string
          description: URL to get the next set of results.
      description: Response for ListVirtualRouterPeerings API service call.
    ErrorDetails:
      properties:
        code:
          type: string
          description: Error code.
        target:
          type: string
          description: Error target.
        message:
          type: string
          description: Error message.
      description: Common error details representation.
    Error:
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message.
        target:
          type: string
          description: Error target.
        details:
          type: array
          items:
            properties:
              code:
                type: string
                description: Error code.
              target:
                type: string
                description: Error target.
              message:
                type: string
                description: Error message.
            description: Common error details representation.
          description: Error details.
        innerError:
          type: string
          description: Inner error message.
      description: Common error representation.
    Resource:
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Common resource representation.
      x-ms-azure-resource: true
    SubResource:
      properties:
        id:
          type: string
          description: Resource ID.
      description: Reference to another subresource.
      x-ms-azure-resource: true
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
      - Succeeded
      - Updating
      - Deleting
      - Failed
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
