openapi: 3.0.0
info:
  title: NetworkManagementClient
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  version: 2024-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}
  : put:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_CreateOrUpdate
      description: Creates or updates a virtual network gateway in the specified resource
        group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: virtualNetworkGatewayName
        in: path
        required: true
        description: The name of the virtual network gateway.
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Client API version.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Resource ID.
                name:
                  readOnly: true
                  type: string
                  description: Resource name.
                type:
                  readOnly: true
                  type: string
                  description: Resource type.
                location:
                  type: string
                  description: Resource location.
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                properties:
                  x-ms-client-flatten: true
                  description: Properties of the virtual network gateway.
                  properties:
                    autoScaleConfiguration:
                      description: Autoscale configuration for virutal network gateway
                      properties:
                        bounds:
                          description: The bounds of the autoscale configuration
                          properties:
                            min:
                              type: integer
                              description: Minimum scale Units for Autoscale configuration
                            max:
                              type: integer
                              description: Maximum Scale Units for Autoscale configuration
                    ipConfigurations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the virtual network gateway
                              ip configuration.
                            properties:
                              privateIPAllocationMethod:
                                description: The private IP address allocation method.
                                type: string
                                enum:
                                - Static
                                - Dynamic
                                x-ms-enum:
                                  name: IPAllocationMethod
                                  modelAsString: true
                              subnet:
                                description: The reference to the subnet resource.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              publicIPAddress:
                                description: The reference to the public IP resource.
                                properties:
                                  id:
                                    type: string
                                    description: Resource ID.
                                x-ms-azure-resource: true
                              privateIPAddress:
                                readOnly: true
                                type: string
                                description: Private IP Address for this gateway.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the virtual
                                  network gateway IP configuration resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                          name:
                            type: string
                            description: The name of the resource that is unique within
                              a resource group. This name can be used to access the
                              resource.
                          etag:
                            readOnly: true
                            type: string
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: IP configurations for virtual network gateway.
                    gatewayType:
                      type: string
                      description: The type of this virtual network gateway.
                      enum:
                      - Vpn
                      - ExpressRoute
                      - LocalGateway
                      x-ms-enum:
                        name: VirtualNetworkGatewayType
                        modelAsString: true
                    vpnType:
                      type: string
                      description: The type of this virtual network gateway.
                      enum:
                      - PolicyBased
                      - RouteBased
                      x-ms-enum:
                        name: VpnType
                        modelAsString: true
                    vpnGatewayGeneration:
                      type: string
                      description: The generation for this VirtualNetworkGateway.
                        Must be None if gatewayType is not VPN.
                      enum:
                      - None
                      - Generation1
                      - Generation2
                      x-ms-enum:
                        name: VpnGatewayGeneration
                        modelAsString: true
                    enableBgp:
                      type: boolean
                      description: Whether BGP is enabled for this virtual network
                        gateway or not.
                    enablePrivateIpAddress:
                      type: boolean
                      description: Whether private IP needs to be enabled on this
                        gateway for connections or not.
                    virtualNetworkGatewayMigrationStatus:
                      description: The reference to the VirtualNetworkGatewayMigrationStatus
                        which represents the status of migration.
                      type: object
                      properties:
                        state:
                          type: string
                          description: Represent the current state of gateway migration.
                          enum:
                          - None
                          - InProgress
                          - Succeeded
                          - Failed
                          x-ms-enum:
                            name: VirtualNetworkGatewayMigrationState
                            modelAsString: true
                        phase:
                          type: string
                          description: Represent the current migration phase of gateway.
                          enum:
                          - None
                          - Prepare
                          - PrepareSucceeded
                          - Execute
                          - ExecuteSucceeded
                          - Commit
                          - CommitSucceeded
                          - AbortSucceeded
                          - Abort
                          x-ms-enum:
                            name: VirtualNetworkGatewayMigrationPhase
                            modelAsString: true
                            values:
                            - value: None
                              name: None
                              description: No migration phase set on gateway.
                            - value: Prepare
                              name: Prepare
                              description: Gateway is going through prepare migration
                                or prepare has failed. Please see state and error
                                details for more information.
                            - value: PrepareSucceeded
                              name: PrepareSucceeded
                              description: Prepare succeeded on gateway.
                            - value: Execute
                              name: Execute
                              description: Gateway is going through execute migration
                                or execute has failed. Please see state and error
                                details for more information.
                            - value: ExecuteSucceeded
                              name: ExecuteSucceeded
                              description: Execute succeeded on gateway.
                            - value: Commit
                              name: Commit
                              description: Gateway is going through commit migration
                                or commit has failed. Please see state and error details
                                for more information.
                            - value: CommitSucceeded
                              name: CommitSucceeded
                              description: Commit succeeded, represent migration is
                                complete for the gateway.
                            - value: AbortSucceeded
                              name: AbortSucceeded
                              description: Represent abort succeeded on gateway, start
                                with prepare to retrigger migration.
                            - value: Abort
                              name: Abort
                              description: Gateway is going through abort migration
                                or abort has failed. Please see state and error details
                                for more information.
                        errorMessage:
                          type: string
                          description: Error if any occurs during migration.
                    activeActive:
                      type: boolean
                      description: ActiveActive flag.
                    enableHighBandwidthVpnGateway:
                      type: boolean
                      description: To enable Advanced Connectivity feature for VPN
                        gateway
                    disableIPSecReplayProtection:
                      type: boolean
                      description: disableIPSecReplayProtection flag.
                    gatewayDefaultSite:
                      description: The reference to the LocalNetworkGateway resource
                        which represents local network site having default routes.
                        Assign Null value in case of removing existing default site
                        setting.
                      properties:
                        id:
                          type: string
                          description: Resource ID.
                      x-ms-azure-resource: true
                    sku:
                      description: The reference to the VirtualNetworkGatewaySku resource
                        which represents the SKU selected for Virtual network gateway.
                      properties:
                        name:
                          type: string
                          description: Gateway SKU name.
                          enum:
                          - Basic
                          - HighPerformance
                          - Standard
                          - UltraPerformance
                          - VpnGw1
                          - VpnGw2
                          - VpnGw3
                          - VpnGw4
                          - VpnGw5
                          - VpnGw1AZ
                          - VpnGw2AZ
                          - VpnGw3AZ
                          - VpnGw4AZ
                          - VpnGw5AZ
                          - ErGw1AZ
                          - ErGw2AZ
                          - ErGw3AZ
                          - ErGwScale
                          x-ms-enum:
                            name: VirtualNetworkGatewaySkuName
                            modelAsString: true
                        tier:
                          type: string
                          description: Gateway SKU tier.
                          enum:
                          - Basic
                          - HighPerformance
                          - Standard
                          - UltraPerformance
                          - VpnGw1
                          - VpnGw2
                          - VpnGw3
                          - VpnGw4
                          - VpnGw5
                          - VpnGw1AZ
                          - VpnGw2AZ
                          - VpnGw3AZ
                          - VpnGw4AZ
                          - VpnGw5AZ
                          - ErGw1AZ
                          - ErGw2AZ
                          - ErGw3AZ
                          - ErGwScale
                          x-ms-enum:
                            name: VirtualNetworkGatewaySkuTier
                            modelAsString: true
                        capacity:
                          readOnly: true
                          type: integer
                          format: int32
                          description: The capacity.
                    vpnClientConfiguration:
                      description: The reference to the VpnClientConfiguration resource
                        which represents the P2S VpnClient configurations.
                      properties:
                        vpnClientAddressPool:
                          description: The reference to the address space resource
                            which represents Address space for P2S VpnClient.
                          properties:
                            addressPrefixes:
                              type: array
                              items:
                                type: string
                              description: A list of address blocks reserved for this
                                virtual network in CIDR notation.
                            ipamPoolPrefixAllocations:
                              type: array
                              items:
                                type: object
                                properties:
                                  pool:
                                    type: object
                                    x-ms-client-flatten: true
                                    properties:
                                      id:
                                        type: string
                                        format: arm-id
                                        description: Resource id of the associated
                                          Azure IpamPool resource.
                                  numberOfIpAddresses:
                                    type: string
                                    description: Number of IP addresses to allocate.
                                  allocatedAddressPrefixes:
                                    description: List of assigned IP address prefixes
                                      in the IpamPool of the associated resource.
                                    type: array
                                    items:
                                      type: string
                                    readOnly: true
                                description: IpamPool prefix allocation reference.
                              description: A list of IPAM Pools allocating IP address
                                prefixes.
                        vpnClientRootCertificates:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource ID.
                              properties:
                                x-ms-client-flatten: true
                                description: Properties of the vpn client root certificate.
                                properties:
                                  publicCertData:
                                    type: string
                                    description: The certificate public data.
                                  provisioningState:
                                    readOnly: true
                                    description: The provisioning state of the VPN
                                      client root certificate resource.
                                    type: string
                                    enum:
                                    - Succeeded
                                    - Updating
                                    - Deleting
                                    - Failed
                                    x-ms-enum:
                                      name: ProvisioningState
                                      modelAsString: true
                                required:
                                - publicCertData
                              name:
                                type: string
                                description: The name of the resource that is unique
                                  within a resource group. This name can be used to
                                  access the resource.
                              etag:
                                readOnly: true
                                type: string
                                description: A unique read-only string that changes
                                  whenever the resource is updated.
                            description: Reference to another subresource.
                            x-ms-azure-resource: true
                            required:
                            - properties
                          description: VpnClientRootCertificate for virtual network
                            gateway.
                        vpnClientRevokedCertificates:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource ID.
                              properties:
                                x-ms-client-flatten: true
                                description: Properties of the vpn client revoked
                                  certificate.
                                properties:
                                  thumbprint:
                                    type: string
                                    description: The revoked VPN client certificate
                                      thumbprint.
                                  provisioningState:
                                    readOnly: true
                                    description: The provisioning state of the VPN
                                      client revoked certificate resource.
                                    type: string
                                    enum:
                                    - Succeeded
                                    - Updating
                                    - Deleting
                                    - Failed
                                    x-ms-enum:
                                      name: ProvisioningState
                                      modelAsString: true
                              name:
                                type: string
                                description: The name of the resource that is unique
                                  within a resource group. This name can be used to
                                  access the resource.
                              etag:
                                readOnly: true
                                type: string
                                description: A unique read-only string that changes
                                  whenever the resource is updated.
                            description: Reference to another subresource.
                            x-ms-azure-resource: true
                          description: VpnClientRevokedCertificate for Virtual network
                            gateway.
                        vpnClientProtocols:
                          type: array
                          items:
                            type: string
                            description: VPN client protocol enabled for the virtual
                              network gateway.
                            enum:
                            - IkeV2
                            - SSTP
                            - OpenVPN
                            x-ms-enum:
                              name: VpnClientProtocol
                              modelAsString: true
                          description: VpnClientProtocols for Virtual network gateway.
                        vpnAuthenticationTypes:
                          type: array
                          items:
                            type: string
                            description: VPN authentication types enabled for the
                              virtual network gateway.
                            enum:
                            - Certificate
                            - Radius
                            - AAD
                            x-ms-enum:
                              name: VpnAuthenticationType
                              modelAsString: true
                          description: VPN authentication types for the virtual network
                            gateway..
                        vpnClientIpsecPolicies:
                          type: array
                          items:
                            properties:
                              saLifeTimeSeconds:
                                type: integer
                                format: int32
                                description: The IPSec Security Association (also
                                  called Quick Mode or Phase 2 SA) lifetime in seconds
                                  for a site to site VPN tunnel.
                              saDataSizeKilobytes:
                                type: integer
                                format: int32
                                description: The IPSec Security Association (also
                                  called Quick Mode or Phase 2 SA) payload size in
                                  KB for a site to site VPN tunnel.
                              ipsecEncryption:
                                description: The IPSec encryption algorithm (IKE phase
                                  1).
                                type: string
                                enum:
                                - None
                                - DES
                                - DES3
                                - AES128
                                - AES192
                                - AES256
                                - GCMAES128
                                - GCMAES192
                                - GCMAES256
                                x-ms-enum:
                                  name: IpsecEncryption
                                  modelAsString: true
                              ipsecIntegrity:
                                description: The IPSec integrity algorithm (IKE phase
                                  1).
                                type: string
                                enum:
                                - MD5
                                - SHA1
                                - SHA256
                                - GCMAES128
                                - GCMAES192
                                - GCMAES256
                                x-ms-enum:
                                  name: IpsecIntegrity
                                  modelAsString: true
                              ikeEncryption:
                                description: The IKE encryption algorithm (IKE phase
                                  2).
                                type: string
                                enum:
                                - DES
                                - DES3
                                - AES128
                                - AES192
                                - AES256
                                - GCMAES256
                                - GCMAES128
                                x-ms-enum:
                                  name: IkeEncryption
                                  modelAsString: true
                              ikeIntegrity:
                                description: The IKE integrity algorithm (IKE phase
                                  2).
                                type: string
                                enum:
                                - MD5
                                - SHA1
                                - SHA256
                                - SHA384
                                - GCMAES256
                                - GCMAES128
                                x-ms-enum:
                                  name: IkeIntegrity
                                  modelAsString: true
                              dhGroup:
                                description: The DH Group used in IKE Phase 1 for
                                  initial SA.
                                type: string
                                enum:
                                - None
                                - DHGroup1
                                - DHGroup2
                                - DHGroup14
                                - DHGroup2048
                                - ECP256
                                - ECP384
                                - DHGroup24
                                x-ms-enum:
                                  name: DhGroup
                                  modelAsString: true
                              pfsGroup:
                                description: The Pfs Group used in IKE Phase 2 for
                                  new child SA.
                                type: string
                                enum:
                                - None
                                - PFS1
                                - PFS2
                                - PFS2048
                                - ECP256
                                - ECP384
                                - PFS24
                                - PFS14
                                - PFSMM
                                x-ms-enum:
                                  name: PfsGroup
                                  modelAsString: true
                            required:
                            - saLifeTimeSeconds
                            - saDataSizeKilobytes
                            - ipsecEncryption
                            - ipsecIntegrity
                            - ikeEncryption
                            - ikeIntegrity
                            - dhGroup
                            - pfsGroup
                            description: An IPSec Policy configuration for a virtual
                              network gateway connection.
                          description: VpnClientIpsecPolicies for virtual network
                            gateway P2S client.
                        radiusServerAddress:
                          type: string
                          description: The radius server address property of the VirtualNetworkGateway
                            resource for vpn client connection.
                        radiusServerSecret:
                          type: string
                          description: The radius secret property of the VirtualNetworkGateway
                            resource for vpn client connection.
                        radiusServers:
                          type: array
                          items:
                            properties:
                              radiusServerAddress:
                                type: string
                                description: The address of this radius server.
                              radiusServerScore:
                                type: integer
                                format: int64
                                description: The initial score assigned to this radius
                                  server.
                              radiusServerSecret:
                                type: string
                                description: The secret used for this radius server.
                            required:
                            - radiusServerAddress
                            description: Radius Server Settings.
                          description: The radiusServers property for multiple radius
                            server configuration.
                        aadTenant:
                          type: string
                          description: The AADTenant property of the VirtualNetworkGateway
                            resource for vpn client connection used for AAD authentication.
                        aadAudience:
                          type: string
                          description: The AADAudience property of the VirtualNetworkGateway
                            resource for vpn client connection used for AAD authentication.
                        aadIssuer:
                          type: string
                          description: The AADIssuer property of the VirtualNetworkGateway
                            resource for vpn client connection used for AAD authentication.
                        vngClientConnectionConfigurations:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Resource ID.
                              properties:
                                x-ms-client-flatten: true
                                description: Properties of the vpn client root certificate.
                                type: object
                                properties:
                                  vpnClientAddressPool:
                                    description: The reference to the address space
                                      resource which represents Address space for
                                      P2S VpnClient.
                                    properties:
                                      addressPrefixes:
                                        type: array
                                        items:
                                          type: string
                                        description: A list of address blocks reserved
                                          for this virtual network in CIDR notation.
                                      ipamPoolPrefixAllocations:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            pool:
                                              type: object
                                              x-ms-client-flatten: true
                                              properties:
                                                id:
                                                  type: string
                                                  format: arm-id
                                                  description: Resource id of the
                                                    associated Azure IpamPool resource.
                                            numberOfIpAddresses:
                                              type: string
                                              description: Number of IP addresses
                                                to allocate.
                                            allocatedAddressPrefixes:
                                              description: List of assigned IP address
                                                prefixes in the IpamPool of the associated
                                                resource.
                                              type: array
                                              items:
                                                type: string
                                              readOnly: true
                                          description: IpamPool prefix allocation
                                            reference.
                                        description: A list of IPAM Pools allocating
                                          IP address prefixes.
                                  virtualNetworkGatewayPolicyGroups:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                          description: Resource ID.
                                      description: Reference to another subresource.
                                      x-ms-azure-resource: true
                                    description: List of references to virtualNetworkGatewayPolicyGroups
                                  provisioningState:
                                    readOnly: true
                                    description: The provisioning state of the VngClientConnectionConfiguration
                                      resource.
                                    type: string
                                    enum:
                                    - Succeeded
                                    - Updating
                                    - Deleting
                                    - Failed
                                    x-ms-enum:
                                      name: ProvisioningState
                                      modelAsString: true
                                required:
                                - vpnClientAddressPool
                                - virtualNetworkGatewayPolicyGroups
                              name:
                                type: string
                                description: The name of the resource that is unique
                                  within a resource group. This name can be used to
                                  access the resource.
                              etag:
                                type: string
                                readOnly: true
                                description: A unique read-only string that changes
                                  whenever the resource is updated.
                            description: Reference to another subresource.
                            x-ms-azure-resource: true
                          description: per ip address pool connection policy for virtual
                            network gateway P2S client.
                    virtualNetworkGatewayPolicyGroups:
                      type: array
                      description: The reference to the VirtualNetworkGatewayPolicyGroup
                        resource which represents the available VirtualNetworkGatewayPolicyGroup
                        for the gateway.
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of tVirtualNetworkGatewayPolicyGroup.
                            type: object
                            properties:
                              isDefault:
                                type: boolean
                                description: Shows if this is a Default VirtualNetworkGatewayPolicyGroup
                                  or not.
                              priority:
                                type: integer
                                format: int32
                                description: Priority for VirtualNetworkGatewayPolicyGroup.
                              policyMembers:
                                type: array
                                items:
                                  properties:
                                    name:
                                      type: string
                                      description: Name of the VirtualNetworkGatewayPolicyGroupMember.
                                    attributeType:
                                      type: string
                                      description: The Vpn Policy member attribute
                                        type.
                                      enum:
                                      - CertificateGroupId
                                      - AADGroupId
                                      - RadiusAzureGroupId
                                      x-ms-enum:
                                        name: VpnPolicyMemberAttributeType
                                        modelAsString: true
                                    attributeValue:
                                      type: string
                                      description: The value of Attribute used for
                                        this VirtualNetworkGatewayPolicyGroupMember.
                                  description: Vpn Client Connection configuration
                                    PolicyGroup member
                                  type: object
                                description: Multiple PolicyMembers for VirtualNetworkGatewayPolicyGroup.
                                x-ms-identifiers: []
                              vngClientConnectionConfigurations:
                                type: array
                                readOnly: true
                                items:
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  description: Reference to another subresource.
                                  x-ms-azure-resource: true
                                description: List of references to vngClientConnectionConfigurations.
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the VirtualNetworkGatewayPolicyGroup
                                  resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                            required:
                            - priority
                            - policyMembers
                            - isDefault
                          name:
                            type: string
                            description: The name of the resource that is unique within
                              a resource group. This name can be used to access the
                              resource.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                    bgpSettings:
                      description: Virtual network gateway's BGP speaker settings.
                      properties:
                        asn:
                          type: integer
                          format: int64
                          minimum: 0
                          maximum: 4294967295
                          description: The BGP speaker's ASN.
                        bgpPeeringAddress:
                          type: string
                          description: The BGP peering address and BGP identifier
                            of this BGP speaker.
                        peerWeight:
                          type: integer
                          format: int32
                          description: The weight added to routes learned from this
                            BGP speaker.
                        bgpPeeringAddresses:
                          type: array
                          items:
                            properties:
                              ipconfigurationId:
                                type: string
                                description: The ID of IP configuration which belongs
                                  to gateway.
                              defaultBgpIpAddresses:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: The list of default BGP peering addresses
                                  which belong to IP configuration.
                              customBgpIpAddresses:
                                type: array
                                items:
                                  type: string
                                description: The list of custom BGP peering addresses
                                  which belong to IP configuration.
                              tunnelIpAddresses:
                                readOnly: true
                                type: array
                                items:
                                  type: string
                                description: The list of tunnel public IP addresses
                                  which belong to IP configuration.
                            description: Properties of IPConfigurationBgpPeeringAddress.
                          description: BGP peering address with IP configuration ID
                            for virtual network gateway.
                    customRoutes:
                      description: The reference to the address space resource which
                        represents the custom routes address space specified by the
                        customer for virtual network gateway and VpnClient.
                      properties:
                        addressPrefixes:
                          type: array
                          items:
                            type: string
                          description: A list of address blocks reserved for this
                            virtual network in CIDR notation.
                        ipamPoolPrefixAllocations:
                          type: array
                          items:
                            type: object
                            properties:
                              pool:
                                type: object
                                x-ms-client-flatten: true
                                properties:
                                  id:
                                    type: string
                                    format: arm-id
                                    description: Resource id of the associated Azure
                                      IpamPool resource.
                              numberOfIpAddresses:
                                type: string
                                description: Number of IP addresses to allocate.
                              allocatedAddressPrefixes:
                                description: List of assigned IP address prefixes
                                  in the IpamPool of the associated resource.
                                type: array
                                items:
                                  type: string
                                readOnly: true
                            description: IpamPool prefix allocation reference.
                          description: A list of IPAM Pools allocating IP address
                            prefixes.
                    resourceGuid:
                      readOnly: true
                      type: string
                      description: The resource GUID property of the virtual network
                        gateway resource.
                    provisioningState:
                      readOnly: true
                      description: The provisioning state of the virtual network gateway
                        resource.
                      type: string
                      enum:
                      - Succeeded
                      - Updating
                      - Deleting
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    enableDnsForwarding:
                      type: boolean
                      description: Whether dns forwarding is enabled or not.
                    inboundDnsForwardingEndpoint:
                      type: string
                      readOnly: true
                      description: The IP address allocated by the gateway to which
                        dns requests can be sent.
                    vNetExtendedLocationResourceId:
                      type: string
                      description: Customer vnet resource id. VirtualNetworkGateway
                        of type local gateway is associated with the customer vnet.
                    natRules:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                          properties:
                            x-ms-client-flatten: true
                            description: Properties of the Virtual Network Gateway
                              NAT rule.
                            properties:
                              provisioningState:
                                readOnly: true
                                description: The provisioning state of the NAT Rule
                                  resource.
                                type: string
                                enum:
                                - Succeeded
                                - Updating
                                - Deleting
                                - Failed
                                x-ms-enum:
                                  name: ProvisioningState
                                  modelAsString: true
                              type:
                                type: string
                                description: The type of NAT rule for VPN NAT.
                                enum:
                                - Static
                                - Dynamic
                                x-ms-enum:
                                  name: VpnNatRuleType
                                  modelAsString: true
                              mode:
                                type: string
                                description: The Source NAT direction of a VPN NAT.
                                enum:
                                - EgressSnat
                                - IngressSnat
                                x-ms-enum:
                                  name: VpnNatRuleMode
                                  modelAsString: true
                              internalMappings:
                                type: array
                                items:
                                  properties:
                                    addressSpace:
                                      type: string
                                      description: Address space for Vpn NatRule mapping.
                                    portRange:
                                      type: string
                                      description: Port range for Vpn NatRule mapping.
                                  description: Vpn NatRule mapping.
                                description: The private IP address internal mapping
                                  for NAT.
                              externalMappings:
                                type: array
                                items:
                                  properties:
                                    addressSpace:
                                      type: string
                                      description: Address space for Vpn NatRule mapping.
                                    portRange:
                                      type: string
                                      description: Port range for Vpn NatRule mapping.
                                  description: Vpn NatRule mapping.
                                description: The private IP address external mapping
                                  for NAT.
                              ipConfigurationId:
                                type: string
                                description: The IP Configuration ID this NAT rule
                                  applies to.
                          name:
                            type: string
                            description: The name of the resource that is unique within
                              a resource group. This name can be used to access the
                              resource.
                          etag:
                            type: string
                            readOnly: true
                            description: A unique read-only string that changes whenever
                              the resource is updated.
                          type:
                            readOnly: true
                            type: string
                            description: Resource type.
                        description: Reference to another subresource.
                        x-ms-azure-resource: true
                      description: NatRules for virtual network gateway.
                    enableBgpRouteTranslationForNat:
                      type: boolean
                      description: EnableBgpRouteTranslationForNat flag.
                    allowVirtualWanTraffic:
                      type: boolean
                      description: Configures this gateway to accept traffic from
                        remote Virtual WAN networks.
                    allowRemoteVnetTraffic:
                      type: boolean
                      description: Configure this gateway to accept traffic from other
                        Azure Virtual Networks. This configuration does not support
                        connectivity to Azure Virtual WAN.
                    adminState:
                      type: string
                      description: Property to indicate if the Express Route Gateway
                        serves traffic when there are multiple Express Route Gateways
                        in the vnet
                      enum:
                      - Enabled
                      - Disabled
                      x-ms-enum:
                        name: adminState
                        modelAsString: true
                    resiliencyModel:
                      type: string
                      description: Property to indicate if the Express Route Gateway
                        has resiliency model of MultiHomed or SingleHomed
                      enum:
                      - SingleHomed
                      - MultiHomed
                      x-ms-enum:
                        name: resiliencyModel
                        modelAsString: true
                extendedLocation:
                  description: The extended location of type local virtual network
                    gateway.
                  properties:
                    name:
                      type: string
                      description: The name of the extended location.
                    type:
                      description: The type of the extended location.
                      type: string
                      enum:
                      - EdgeZone
                      x-ms-enum:
                        name: ExtendedLocationTypes
                        modelAsString: true
                etag:
                  readOnly: true
                  type: string
                  description: A unique read-only string that changes whenever the
                    resource is updated.
                identity:
                  description: The identity of the virtual network gateway, if configured.
                  properties:
                    principalId:
                      readOnly: true
                      type: string
                      description: The principal id of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                    tenantId:
                      readOnly: true
                      type: string
                      description: The tenant id of the system assigned identity.
                        This property will only be provided for a system assigned
                        identity.
                    type:
                      type: string
                      description: The type of identity used for the resource. The
                        type 'SystemAssigned, UserAssigned' includes both an implicitly
                        created identity and a set of user assigned identities. The
                        type 'None' will remove any identities from the virtual machine.
                      enum:
                      - SystemAssigned
                      - UserAssigned
                      - SystemAssigned, UserAssigned
                      - None
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          principalId:
                            readOnly: true
                            type: string
                            description: The principal id of user assigned identity.
                          clientId:
                            readOnly: true
                            type: string
                            description: The client id of user assigned identity.
                      description: 'The list of user identities associated with resource.
                        The user identity dictionary key references will be ARM resource
                        ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
              description: Common resource representation.
              x-ms-azure-resource: true
              required:
              - properties
        description: Parameters supplied to create or update virtual network gateway
          operation.
        required: true
      responses:
        '200':
          description: Update successful. The operation returns the resulting VirtualNetworkGateway
            resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Resource ID.
                  name:
                    readOnly: true
                    type: string
                    description: Resource name.
                  type:
                    readOnly: true
                    type: string
                    description: Resource type.
                  location:
                    type: string
                    description: Resource location.
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource tags.
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of the virtual network gateway.
                    properties:
                      autoScaleConfiguration:
                        description: Autoscale configuration for virutal network gateway
                        properties:
                          bounds:
                            description: The bounds of the autoscale configuration
                            properties:
                              min:
                                type: integer
                                description: Minimum scale Units for Autoscale configuration
                              max:
                                type: integer
                                description: Maximum Scale Units for Autoscale configuration
                      ipConfigurations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of the virtual network gateway
                                ip configuration.
                              properties:
                                privateIPAllocationMethod:
                                  description: The private IP address allocation method.
                                  type: string
                                  enum:
                                  - Static
                                  - Dynamic
                                  x-ms-enum:
                                    name: IPAllocationMethod
                                    modelAsString: true
                                subnet:
                                  description: The reference to the subnet resource.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                publicIPAddress:
                                  description: The reference to the public IP resource.
                                  properties:
                                    id:
                                      type: string
                                      description: Resource ID.
                                  x-ms-azure-resource: true
                                privateIPAddress:
                                  readOnly: true
                                  type: string
                                  description: Private IP Address for this gateway.
                                provisioningState:
                                  readOnly: true
                                  description: The provisioning state of the virtual
                                    network gateway IP configuration resource.
                                  type: string
                                  enum:
                                  - Succeeded
                                  - Updating
                                  - Deleting
                                  - Failed
                                  x-ms-enum:
                                    name: ProvisioningState
                                    modelAsString: true
                            name:
                              type: string
                              description: The name of the resource that is unique
                                within a resource group. This name can be used to
                                access the resource.
                            etag:
                              readOnly: true
                              type: string
                              description: A unique read-only string that changes
                                whenever the resource is updated.
                          description: Reference to another subresource.
                          x-ms-azure-resource: true
                        description: IP configurations for virtual network gateway.
                      gatewayType:
                        type: string
                        description: The type of this virtual network gateway.
                        enum:
                        - Vpn
                        - ExpressRoute
                        - LocalGateway
                        x-ms-enum:
                          name: VirtualNetworkGatewayType
                          modelAsString: true
                      vpnType:
                        type: string
                        description: The type of this virtual network gateway.
                        enum:
                        - PolicyBased
                        - RouteBased
                        x-ms-enum:
                          name: VpnType
                          modelAsString: true
                      vpnGatewayGeneration:
                        type: string
                        description: The generation for this VirtualNetworkGateway.
                          Must be None if gatewayType is not VPN.
                        enum:
                        - None
                        - Generation1
                        - Generation2
                        x-ms-enum:
                          name: VpnGatewayGeneration
                          modelAsString: true
                      enableBgp:
                        type: boolean
                        description: Whether BGP is enabled for this virtual network
                          gateway or not.
                      enablePrivateIpAddress:
                        type: boolean
                        description: Whether private IP needs to be enabled on this
                          gateway for connections or not.
                      virtualNetworkGatewayMigrationStatus:
                        description: The reference to the VirtualNetworkGatewayMigrationStatus
                          which represents the status of migration.
                        type: object
                        properties:
                          state:
                            type: string
                            description: Represent the current state of gateway migration.
                            enum:
                            - None
                            - InProgress
                            - Succeeded
                            - Failed
                            x-ms-enum:
                              name: VirtualNetworkGatewayMigrationState
                              modelAsString: true
                          phase:
                            type: string
                            description: Represent the current migration phase of
                              gateway.
                            enum:
                            - None
                            - Prepare
                            - PrepareSucceeded
                            - Execute
                            - ExecuteSucceeded
                            - Commit
                            - CommitSucceeded
                            - AbortSucceeded
                            - Abort
                            x-ms-enum:
                              name: VirtualNetworkGatewayMigrationPhase
                              modelAsString: true
                              values:
                              - value: None
                                name: None
                                description: No migration phase set on gateway.
                              - value: Prepare
                                name: Prepare
                                description: Gateway is going through prepare migration
                                  or prepare has failed. Please see state and error
                                  details for more information.
                              - value: PrepareSucceeded
                                name: PrepareSucceeded
                                description: Prepare succeeded on gateway.
                              - value: Execute
                                name: Execute
                                description: Gateway is going through execute migration
                                  or execute has failed. Please see state and error
                                  details for more information.
                              - value: ExecuteSucceeded
                                name: ExecuteSucceeded
                                description: Execute succeeded on gateway.
                              - value: Commit
                                name: Commit
                                description: Gateway is going through commit migration
                                  or commit has failed. Please see state and error
                                  details for more information.
                              - value: CommitSucceeded
                                name: CommitSucceeded
                                description: Commit succeeded, represent migration
                                  is complete for the gateway.
                              - value: AbortSucceeded
                                name: AbortSucceeded
                                description: Represent abort succeeded on gateway,
                                  start with prepare to retrigger migration.
                              - value: Abort
                                name: Abort
                                description: Gateway is going through abort migration
                                  or abort has failed. Please see state and error
                                  details for more information.
                          errorMessage:
                            type: string
                            description: Error if any occurs during migration.
                      activeActive:
                        type: boolean
                        description: ActiveActive flag.
                      enableHighBandwidthVpnGateway:
                        type: boolean
                        description: To enable Advanced Connectivity feature for VPN
                          gateway
                      disableIPSecReplayProtection:
                        type: boolean
                        description: disableIPSecReplayProtection flag.
                      gatewayDefaultSite:
                        description: The reference to the LocalNetworkGateway resource
                          which represents local network site having default routes.
                          Assign Null value in case of removing existing default site
                          setting.
                        properties:
                          id:
                            type: string
                            description: Resource ID.
                        x-ms-azure-resource: true
                      sku:
                        description: The reference to the VirtualNetworkGatewaySku
                          resource which represents the SKU selected for Virtual network
                          gateway.
                        properties:
                          name:
                            type: string
                            description: Gateway SKU name.
                            enum:
                            - Basic
                            - HighPerformance
                            - Standard
                            - UltraPerformance
                            - VpnGw1
                            - VpnGw2
                            - VpnGw3
                            - VpnGw4
                            - VpnGw5
                            - VpnGw1AZ
                            - VpnGw2AZ
                            - VpnGw3AZ
                            - VpnGw4AZ
                            - VpnGw5AZ
                            - ErGw1AZ
                            - ErGw2AZ
                            - ErGw3AZ
                            - ErGwScale
                            x-ms-enum:
                              name: VirtualNetworkGatewaySkuName
                              modelAsString: true
                          tier:
                            type: string
                            description: Gateway SKU tier.
                            enum:
                            - Basic
                            - HighPerformance
                            - Standard
                            - UltraPerformance
                            - VpnGw1
                            - VpnGw2
                            - VpnGw3
                            - VpnGw4
                            - VpnGw5
                            - VpnGw1AZ
                            - VpnGw2AZ
                            - VpnGw3AZ
                            - VpnGw4AZ
                            - VpnGw5AZ
                            - ErGw1AZ
                            - ErGw2AZ
                            - ErGw3AZ
                            - ErGwScale
                            x-ms-enum:
                              name: VirtualNetworkGatewaySkuTier
                              modelAsString: true
                          capacity:
                            readOnly: true
                            type: integer
                            format: int32
                            description: The capacity.
                      vpnClientConfiguration:
                        description: The reference to the VpnClientConfiguration resource
                          which represents the P2S VpnClient configurations.
                        properties:
                          vpnClientAddressPool:
                            description: The reference to the address space resource
                              which represents Address space for P2S VpnClient.
                            properties:
                              addressPrefixes:
                                type: array
                                items:
                                  type: string
                                description: A list of address blocks reserved for
                                  this virtual network in CIDR notation.
                              ipamPoolPrefixAllocations:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    pool:
                                      type: object
                                      x-ms-client-flatten: true
                                      properties:
                                        id:
                                          type: string
                                          format: arm-id
                                          description: Resource id of the associated
                                            Azure IpamPool resource.
                                    numberOfIpAddresses:
                                      type: string
                                      description: Number of IP addresses to allocate.
                                    allocatedAddressPrefixes:
                                      description: List of assigned IP address prefixes
                                        in the IpamPool of the associated resource.
                                      type: array
                                      items:
                                        type: string
                                      readOnly: true
                                  description: IpamPool prefix allocation reference.
                                description: A list of IPAM Pools allocating IP address
                                  prefixes.
                          vpnClientRootCertificates:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                                properties:
                                  x-ms-client-flatten: true
                                  description: Properties of the vpn client root certificate.
                                  properties:
                                    publicCertData:
                                      type: string
                                      description: The certificate public data.
                                    provisioningState:
                                      readOnly: true
                                      description: The provisioning state of the VPN
                                        client root certificate resource.
                                      type: string
                                      enum:
                                      - Succeeded
                                      - Updating
                                      - Deleting
                                      - Failed
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                  required:
                                  - publicCertData
                                name:
                                  type: string
                                  description: The name of the resource that is unique
                                    within a resource group. This name can be used
                                    to access the resource.
                                etag:
                                  readOnly: true
                                  type: string
                                  description: A unique read-only string that changes
                                    whenever the resource is updated.
                              description: Reference to another subresource.
                              x-ms-azure-resource: true
                              required:
                              - properties
                            description: VpnClientRootCertificate for virtual network
                              gateway.
                          vpnClientRevokedCertificates:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                                properties:
                                  x-ms-client-flatten: true
                                  description: Properties of the vpn client revoked
                                    certificate.
                                  properties:
                                    thumbprint:
                                      type: string
                                      description: The revoked VPN client certificate
                                        thumbprint.
                                    provisioningState:
                                      readOnly: true
                                      description: The provisioning state of the VPN
                                        client revoked certificate resource.
                                      type: string
                                      enum:
                                      - Succeeded
                                      - Updating
                                      - Deleting
                                      - Failed
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                name:
                                  type: string
                                  description: The name of the resource that is unique
                                    within a resource group. This name can be used
                                    to access the resource.
                                etag:
                                  readOnly: true
                                  type: string
                                  description: A unique read-only string that changes
                                    whenever the resource is updated.
                              description: Reference to another subresource.
                              x-ms-azure-resource: true
                            description: VpnClientRevokedCertificate for Virtual network
                              gateway.
                          vpnClientProtocols:
                            type: array
                            items:
                              type: string
                              description: VPN client protocol enabled for the virtual
                                network gateway.
                              enum:
                              - IkeV2
                              - SSTP
                              - OpenVPN
                              x-ms-enum:
                                name: VpnClientProtocol
                                modelAsString: true
                            description: VpnClientProtocols for Virtual network gateway.
                          vpnAuthenticationTypes:
                            type: array
                            items:
                              type: string
                              description: VPN authentication types enabled for the
                                virtual network gateway.
                              enum:
                              - Certificate
                              - Radius
                              - AAD
                              x-ms-enum:
                                name: VpnAuthenticationType
                                modelAsString: true
                            description: VPN authentication types for the virtual
                              network gateway..
                          vpnClientIpsecPolicies:
                            type: array
                            items:
                              properties:
                                saLifeTimeSeconds:
                                  type: integer
                                  format: int32
                                  description: The IPSec Security Association (also
                                    called Quick Mode or Phase 2 SA) lifetime in seconds
                                    for a site to site VPN tunnel.
                                saDataSizeKilobytes:
                                  type: integer
                                  format: int32
                                  description: The IPSec Security Association (also
                                    called Quick Mode or Phase 2 SA) payload size
                                    in KB for a site to site VPN tunnel.
                                ipsecEncryption:
                                  description: The IPSec encryption algorithm (IKE
                                    phase 1).
                                  type: string
                                  enum:
                                  - None
                                  - DES
                                  - DES3
                                  - AES128
                                  - AES192
                                  - AES256
                                  - GCMAES128
                                  - GCMAES192
                                  - GCMAES256
                                  x-ms-enum:
                                    name: IpsecEncryption
                                    modelAsString: true
                                ipsecIntegrity:
                                  description: The IPSec integrity algorithm (IKE
                                    phase 1).
                                  type: string
                                  enum:
                                  - MD5
                                  - SHA1
                                  - SHA256
                                  - GCMAES128
                                  - GCMAES192
                                  - GCMAES256
                                  x-ms-enum:
                                    name: IpsecIntegrity
                                    modelAsString: true
                                ikeEncryption:
                                  description: The IKE encryption algorithm (IKE phase
                                    2).
                                  type: string
                                  enum:
                                  - DES
                                  - DES3
                                  - AES128
                                  - AES192
                                  - AES256
                                  - GCMAES256
                                  - GCMAES128
                                  x-ms-enum:
                                    name: IkeEncryption
                                    modelAsString: true
                                ikeIntegrity:
                                  description: The IKE integrity algorithm (IKE phase
                                    2).
                                  type: string
                                  enum:
                                  - MD5
                                  - SHA1
                                  - SHA256
                                  - SHA384
                                  - GCMAES256
                                  - GCMAES128
                                  x-ms-enum:
                                    name: IkeIntegrity
                                    modelAsString: true
                                dhGroup:
                                  description: The DH Group used in IKE Phase 1 for
                                    initial SA.
                                  type: string
                                  enum:
                                  - None
                                  - DHGroup1
                                  - DHGroup2
                                  - DHGroup14
                                  - DHGroup2048
                                  - ECP256
                                  - ECP384
                                  - DHGroup24
                                  x-ms-enum:
                                    name: DhGroup
                                    modelAsString: true
                                pfsGroup:
                                  description: The Pfs Group used in IKE Phase 2 for
                                    new child SA.
                                  type: string
                                  enum:
                                  - None
                                  - PFS1
                                  - PFS2
                                  - PFS2048
                                  - ECP256
                                  - ECP384
                                  - PFS24
                                  - PFS14
                                  - PFSMM
                                  x-ms-enum:
                                    name: PfsGroup
                                    modelAsString: true
                              required:
                              - saLifeTimeSeconds
                              - saDataSizeKilobytes
                              - ipsecEncryption
                              - ipsecIntegrity
                              - ikeEncryption
                              - ikeIntegrity
                              - dhGroup
                              - pfsGroup
                              description: An IPSec Policy configuration for a virtual
                                network gateway connection.
                            description: VpnClientIpsecPolicies for virtual network
                              gateway P2S client.
                          radiusServerAddress:
                            type: string
                            description: The radius server address property of the
                              VirtualNetworkGateway resource for vpn client connection.
                          radiusServerSecret:
                            type: string
                            description: The radius secret property of the VirtualNetworkGateway
                              resource for vpn client connection.
                          radiusServers:
                            type: array
                            items:
                              properties:
                                radiusServerAddress:
                                  type: string
                                  description: The address of this radius server.
                                radiusServerScore:
                                  type: integer
                                  format: int64
                                  description: The initial score assigned to this
                                    radius server.
                                radiusServerSecret:
                                  type: string
                                  description: The secret used for this radius server.
                              required:
                              - radiusServerAddress
                              description: Radius Server Settings.
                            description: The radiusServers property for multiple radius
                              server configuration.
                          aadTenant:
                            type: string
                            description: The AADTenant property of the VirtualNetworkGateway
                              resource for vpn client connection used for AAD authentication.
                          aadAudience:
                            type: string
                            description: The AADAudience property of the VirtualNetworkGateway
                              resource for vpn client connection used for AAD authentication.
                          aadIssuer:
                            type: string
                            description: The AADIssuer property of the VirtualNetworkGateway
                              resource for vpn client connection used for AAD authentication.
                          vngClientConnectionConfigurations:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Resource ID.
                                properties:
                                  x-ms-client-flatten: true
                                  description: Properties of the vpn client root certificate.
                                  type: object
                                  properties:
                                    vpnClientAddressPool:
                                      description: The reference to the address space
                                        resource which represents Address space for
                                        P2S VpnClient.
                                      properties:
                                        addressPrefixes:
                                          type: array
                                          items:
                                            type: string
                                          description: A list of address blocks reserved
                                            for this virtual network in CIDR notation.
                                        ipamPoolPrefixAllocations:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              pool:
                                                type: object
                                                x-ms-client-flatten: true
                                                properties:
                                                  id:
                                                    type: string
                                                    format: arm-id
                                                    description: Resource id of the
                                                      associated Azure IpamPool resource.
                                              numberOfIpAddresses:
                                                type: string
                                                description: Number of IP addresses
                                                  to allocate.
                                              allocatedAddressPrefixes:
                                                description: List of assigned IP address
                                                  prefixes in the IpamPool of the
                                                  associated resource.
                                                type: array
                                                items:
                                                  type: string
                                                readOnly: true
                                            description: IpamPool prefix allocation
                                              reference.
                                          description: A list of IPAM Pools allocating
                                            IP address prefixes.
                                    virtualNetworkGatewayPolicyGroups:
                                      type: array
                                      items:
                                        properties:
                                          id:
                                            type: string
                                            description: Resource ID.
                                        description: Reference to another subresource.
                                        x-ms-azure-resource: true
                                      description: List of references to virtualNetworkGatewayPolicyGroups
                                    provisioningState:
                                      readOnly: true
                                      description: The provisioning state of the VngClientConnectionConfiguration
                                        resource.
                                      type: string
                                      enum:
                                      - Succeeded
                                      - Updating
                                      - Deleting
                                      - Failed
                                      x-ms-enum:
                                        name: ProvisioningState
                                        modelAsString: true
                                  required:
                                  - vpnClientAddressPool
                                  - virtualNetworkGatewayPolicyGroups
                                name:
                                  type: string
                                  description: The name of the resource that is unique
                                    within a resource group. This name can be used
                                    to access the resource.
                                etag:
                                  type: string
                                  readOnly: true
                                  description: A unique read-only string that changes
                                    whenever the resource is updated.
                              description: Reference to another subresource.
                              x-ms-azure-resource: true
                            description: per ip address pool connection policy for
                              virtual network gateway P2S client.
                      virtualNetworkGatewayPolicyGroups:
                        type: array
                        description: The reference to the VirtualNetworkGatewayPolicyGroup
                          resource which represents the available VirtualNetworkGatewayPolicyGroup
                          for the gateway.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource ID.
                            properties:
                              x-ms-client-flatten: true
                              description: Properties of tVirtualNetworkGatewayPolicyGroup.
                              type: object
                              properties:
                                isDefault:
                                  type: boolean
                                  description: Shows if this is a Default VirtualNetworkGatewayPolicyGroup
                                    or not.
                                priority:
                                  type: integer
                                  format: int32
                                  description: Priority for VirtualNetworkGatewayPolicyGroup.
                                policyMembers:
                                  type: array
                                  items:
                                    properties:
                                      name:
                                        type: string
                                        description: Name of the VirtualNetworkGatewayPolicyGroupMember.
                                      attributeType:
                                        type: string
                                        description: The Vpn Policy member attribute
                                          type.
                                        enum:
                                        - CertificateGroupId
                                        - AADGroupId
                                        - RadiusAzureGroupId
                                        x-ms-enum:
                                          name: VpnPolicyMemberAttributeType
                                          modelAsString: true
                                      attributeValue:
                                        type: string
                                        description: The value of Attribute used for
                                          this VirtualNetworkGatewayPolicyGroupMember.
                                    description: Vpn Client Connection configuration
                                      PolicyGroup member
                                    type: object
                                  description: Multiple PolicyMembers for VirtualNetworkGatewayPolicyGroup.
[...]
