openapi: 3.0.0
info:
  version: 2024-11-01-preview
  title: ExtensionTypesClient
  description: Use these APIs to view extension type resources through ARM, for Kubernetes
    Clusters.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes:
    get:
      tags:
      - ExtensionTypes
      - ClusterExtensionTypes
      description: List all Extension Types for the location.
      operationId: ExtensionTypes_LocationList
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: publisherId
        in: query
        description: Filter results by Publisher ID of a marketplace extension type
        required: false
        schema:
          type: string
      - name: offerId
        in: query
        description: Filter results by Offer or Product ID of a marketplace extension
          type
        required: false
        schema:
          type: string
      - name: planId
        in: query
        description: Filter results by Plan ID of a marketplace extension type
        required: false
        schema:
          type: string
      - name: releaseTrain
        in: query
        description: Filter results by release train (default value is stable)
        required: false
        schema:
          type: string
      - name: clusterType
        in: query
        description: Filter results by the cluster type for extension types
        required: false
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List Extension Types. It contains a list of ExtensionType
                  objects and a URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            isSystemExtension:
                              type: boolean
                              description: Is this Extension Type a system extension.
                            isManagedIdentityRequired:
                              type: boolean
                              description: Should an identity for this cluster resource
                                be created
                            description:
                              type: string
                              description: Description of the extension type
                            publisher:
                              type: string
                              description: Name of the publisher for the Extension
                                Type
                            planInfo:
                              description: Plan information only for the Marketplace
                                Extension Type.
                              type: object
                              properties:
                                publisherId:
                                  type: string
                                  description: Publisher ID of the Marketplace Extension
                                    Type.
                                planId:
                                  type: string
                                  description: Plan ID of the Marketplace Extension
                                    Type.
                                offerId:
                                  type: string
                                  description: Offer or Product ID of the Marketplace
                                    Extension Type.
                            supportedClusterTypes:
                              description: Cluster Types supported for this Extension
                                Type.
                              type: array
                              items:
                                type: string
                            supportedScopes:
                              description: Supported Kubernetes Scopes for this Extension
                                Type.
                              type: object
                              properties:
                                defaultScope:
                                  description: The default scope of the extension
                                    type. This scope will be used if the user does
                                    not provide a scope while creating an extension.
                                  type: string
                                clusterScopeSettings:
                                  type: object
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: Fully qualified resource ID for
                                        the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                    name:
                                      readOnly: true
                                      type: string
                                      description: The name of the resource
                                    type:
                                      readOnly: true
                                      type: string
                                      description: The type of the resource. E.g.
                                        "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
                                    properties:
                                      type: object
                                      x-ms-client-flatten: true
                                      description: Extension scope settings
                                      properties:
                                        allowMultipleInstances:
                                          type: boolean
                                          description: Describes if multiple instances
                                            of the extension are allowed
                                        defaultReleaseNamespace:
                                          type: string
                                          description: Default extension release namespace
                                  title: Resource
                                  description: Common fields that are returned in
                                    the response for all Azure Resource Manager resources
                                  x-ms-azure-resource: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of Extension Types.
                  nextLink:
                    type: string
                    readOnly: true
                    description: URL to get the next set of extension type objects,
                      if any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}
  : get:
      tags:
      - ExtensionTypes
      - ClusterExtensionTypes
      description: Get an extension type for the location.
      operationId: ExtensionTypes_LocationGet
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: extensionTypeName
        in: path
        required: true
        description: Name of the Extension Type.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z0-9-_]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      isSystemExtension:
                        type: boolean
                        description: Is this Extension Type a system extension.
                      isManagedIdentityRequired:
                        type: boolean
                        description: Should an identity for this cluster resource
                          be created
                      description:
                        type: string
                        description: Description of the extension type
                      publisher:
                        type: string
                        description: Name of the publisher for the Extension Type
                      planInfo:
                        description: Plan information only for the Marketplace Extension
                          Type.
                        type: object
                        properties:
                          publisherId:
                            type: string
                            description: Publisher ID of the Marketplace Extension
                              Type.
                          planId:
                            type: string
                            description: Plan ID of the Marketplace Extension Type.
                          offerId:
                            type: string
                            description: Offer or Product ID of the Marketplace Extension
                              Type.
                      supportedClusterTypes:
                        description: Cluster Types supported for this Extension Type.
                        type: array
                        items:
                          type: string
                      supportedScopes:
                        description: Supported Kubernetes Scopes for this Extension
                          Type.
                        type: object
                        properties:
                          defaultScope:
                            description: The default scope of the extension type.
                              This scope will be used if the user does not provide
                              a scope while creating an extension.
                            type: string
                          clusterScopeSettings:
                            type: object
                            properties:
                              id:
                                readOnly: true
                                type: string
                                description: Fully qualified resource ID for the resource.
                                  Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              name:
                                readOnly: true
                                type: string
                                description: The name of the resource
                              type:
                                readOnly: true
                                type: string
                                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                  or "Microsoft.Storage/storageAccounts"
                              properties:
                                type: object
                                x-ms-client-flatten: true
                                description: Extension scope settings
                                properties:
                                  allowMultipleInstances:
                                    type: boolean
                                    description: Describes if multiple instances of
                                      the extension are allowed
                                  defaultReleaseNamespace:
                                    type: string
                                    description: Default extension release namespace
                            title: Resource
                            description: Common fields that are returned in the response
                              for all Azure Resource Manager resources
                            x-ms-azure-resource: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}/versions
  : get:
      tags:
      - ExtensionTypes
      - ClusterExtensionTypes
      description: List the versions for an extension type and location.
      operationId: ExtensionTypes_ListVersions
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: extensionTypeName
        in: path
        required: true
        description: Name of the Extension Type.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z0-9-_]*$
      - name: releaseTrain
        in: query
        description: Filter results by release train (default value is stable)
        required: false
        schema:
          type: string
      - name: clusterType
        in: query
        description: Filter results by the cluster type for extension types
        required: false
        schema:
          type: string
      - name: majorVersion
        in: query
        description: Filter results by the major version of an extension type
        required: false
        schema:
          type: string
      - name: showLatest
        in: query
        description: Filter results by only the latest version (based on other query
          parameters)
        required: false
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List Extension Type Versions. It contains a list of ExtensionTypeVersionForReleaseTrain
                  objects.
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            version:
                              type: string
                              description: The version number for the extension type
                            unsupportedKubernetesVersions:
                              description: The list of supported Kubernetes cluster
                                versions for this extension type
                              type: object
                              properties:
                                connectedCluster:
                                  type: array
                                  items:
                                    type: object
                                    description: The list of Kubernetes Distribution
                                      and Versions that are not supported by this
                                      version of this Extension Type
                                    properties:
                                      distributions:
                                        type: array
                                        description: The list of Kubernetes Cluster
                                          Distribution Names not supported
                                        items:
                                          description: A single Kubernetes Cluster
                                            Distribution Name
                                          type: string
                                      unsupportedVersions:
                                        type: array
                                        description: The list of Kubernetes Versions
                                          not supported by the list of Kubernetes
                                          Cluster Distribution names in this object
                                        items:
                                          type: string
                                          description: A Kubernetes Version not supported
                                            by the list of Kubernetes Cluster Distribution
                                            names
                                  x-ms-identifiers: []
                                appliances:
                                  type: array
                                  items:
                                    type: object
                                    description: The list of Kubernetes Distribution
                                      and Versions that are not supported by this
                                      version of this Extension Type
                                    properties:
                                      distributions:
                                        type: array
                                        description: The list of Kubernetes Cluster
                                          Distribution Names not supported
                                        items:
                                          description: A single Kubernetes Cluster
                                            Distribution Name
                                          type: string
                                      unsupportedVersions:
                                        type: array
                                        description: The list of Kubernetes Versions
                                          not supported by the list of Kubernetes
                                          Cluster Distribution names in this object
                                        items:
                                          type: string
                                          description: A Kubernetes Version not supported
                                            by the list of Kubernetes Cluster Distribution
                                            names
                                  x-ms-identifiers: []
                                provisionedCluster:
                                  type: array
                                  items:
                                    type: object
                                    description: The list of Kubernetes Distribution
                                      and Versions that are not supported by this
                                      version of this Extension Type
                                    properties:
                                      distributions:
                                        type: array
                                        description: The list of Kubernetes Cluster
                                          Distribution Names not supported
                                        items:
                                          description: A single Kubernetes Cluster
                                            Distribution Name
                                          type: string
                                      unsupportedVersions:
                                        type: array
                                        description: The list of Kubernetes Versions
                                          not supported by the list of Kubernetes
                                          Cluster Distribution names in this object
                                        items:
                                          type: string
                                          description: A Kubernetes Version not supported
                                            by the list of Kubernetes Cluster Distribution
                                            names
                                  x-ms-identifiers: []
                                managedCluster:
                                  type: array
                                  items:
                                    type: object
                                    description: The list of Kubernetes Distribution
                                      and Versions that are not supported by this
                                      version of this Extension Type
                                    properties:
                                      distributions:
                                        type: array
                                        description: The list of Kubernetes Cluster
                                          Distribution Names not supported
                                        items:
                                          description: A single Kubernetes Cluster
                                            Distribution Name
                                          type: string
                                      unsupportedVersions:
                                        type: array
                                        description: The list of Kubernetes Versions
                                          not supported by the list of Kubernetes
                                          Cluster Distribution names in this object
                                        items:
                                          type: string
                                          description: A Kubernetes Version not supported
                                            by the list of Kubernetes Cluster Distribution
                                            names
                                  x-ms-identifiers: []
                            supportedClusterTypes:
                              type: array
                              description: A list of supported cluster types for this
                                version of the Extension Type
                              items:
                                description: The individual cluster type that is supported
                                  by this extension
                                type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of Extension Type Versions for an Extension
                      Type in a Release Train.
                  nextLink:
                    type: string
                    readOnly: true
                    description: URL to get the next set of extension objects, if
                      any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}/versions/{versionNumber}
  : get:
      tags:
      - ExtensionTypes
      - ClusterExtensionTypes
      description: Get details of a version for an extension type and location
      operationId: ExtensionTypes_GetVersion
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: location
        in: path
        description: The name of Azure region.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
      - name: extensionTypeName
        in: path
        required: true
        description: Name of the Extension Type.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z0-9-_]*$
      - name: versionNumber
        in: path
        required: true
        description: Version number of the Extension Type.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      version:
                        type: string
                        description: The version number for the extension type
                      unsupportedKubernetesVersions:
                        description: The list of supported Kubernetes cluster versions
                          for this extension type
                        type: object
                        properties:
                          connectedCluster:
                            type: array
                            items:
                              type: object
                              description: The list of Kubernetes Distribution and
                                Versions that are not supported by this version of
                                this Extension Type
                              properties:
                                distributions:
                                  type: array
                                  description: The list of Kubernetes Cluster Distribution
                                    Names not supported
                                  items:
                                    description: A single Kubernetes Cluster Distribution
                                      Name
                                    type: string
                                unsupportedVersions:
                                  type: array
                                  description: The list of Kubernetes Versions not
                                    supported by the list of Kubernetes Cluster Distribution
                                    names in this object
                                  items:
                                    type: string
                                    description: A Kubernetes Version not supported
                                      by the list of Kubernetes Cluster Distribution
                                      names
                            x-ms-identifiers: []
                          appliances:
                            type: array
                            items:
                              type: object
                              description: The list of Kubernetes Distribution and
                                Versions that are not supported by this version of
                                this Extension Type
                              properties:
                                distributions:
                                  type: array
                                  description: The list of Kubernetes Cluster Distribution
                                    Names not supported
                                  items:
                                    description: A single Kubernetes Cluster Distribution
                                      Name
                                    type: string
                                unsupportedVersions:
                                  type: array
                                  description: The list of Kubernetes Versions not
                                    supported by the list of Kubernetes Cluster Distribution
                                    names in this object
                                  items:
                                    type: string
                                    description: A Kubernetes Version not supported
                                      by the list of Kubernetes Cluster Distribution
                                      names
                            x-ms-identifiers: []
                          provisionedCluster:
                            type: array
                            items:
                              type: object
                              description: The list of Kubernetes Distribution and
                                Versions that are not supported by this version of
                                this Extension Type
                              properties:
                                distributions:
                                  type: array
                                  description: The list of Kubernetes Cluster Distribution
                                    Names not supported
                                  items:
                                    description: A single Kubernetes Cluster Distribution
                                      Name
                                    type: string
                                unsupportedVersions:
                                  type: array
                                  description: The list of Kubernetes Versions not
                                    supported by the list of Kubernetes Cluster Distribution
                                    names in this object
                                  items:
                                    type: string
                                    description: A Kubernetes Version not supported
                                      by the list of Kubernetes Cluster Distribution
                                      names
                            x-ms-identifiers: []
                          managedCluster:
                            type: array
                            items:
                              type: object
                              description: The list of Kubernetes Distribution and
                                Versions that are not supported by this version of
                                this Extension Type
                              properties:
                                distributions:
                                  type: array
                                  description: The list of Kubernetes Cluster Distribution
                                    Names not supported
                                  items:
                                    description: A single Kubernetes Cluster Distribution
                                      Name
                                    type: string
                                unsupportedVersions:
                                  type: array
                                  description: The list of Kubernetes Versions not
                                    supported by the list of Kubernetes Cluster Distribution
                                    names in this object
                                  items:
                                    type: string
                                    description: A Kubernetes Version not supported
                                      by the list of Kubernetes Cluster Distribution
                                      names
                            x-ms-identifiers: []
                      supportedClusterTypes:
                        type: array
                        description: A list of supported cluster types for this version
                          of the Extension Type
                        items:
                          description: The individual cluster type that is supported
                            by this extension
                          type: string
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes
  : get:
      tags:
      - ExtensionTypes
      - ClusterExtensionTypes
      description: List installable Extension Types for the cluster based region and
        type for the cluster.
      operationId: ExtensionTypes_List
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters, appliances.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z]*$
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^.*
      - name: publisherId
        in: query
        description: Filter results by Publisher ID of a marketplace extension type
        required: false
        schema:
          type: string
      - name: offerId
        in: query
        description: Filter results by Offer or Product ID of a marketplace extension
          type
        required: false
        schema:
          type: string
      - name: planId
        in: query
        description: Filter results by Plan ID of a marketplace extension type
        required: false
        schema:
          type: string
      - name: releaseTrain
        in: query
        description: Filter results by release train (default value is stable)
        required: false
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List Extension Types. It contains a list of ExtensionType
                  objects and a URL link to get the next set of results.
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            isSystemExtension:
                              type: boolean
                              description: Is this Extension Type a system extension.
                            isManagedIdentityRequired:
                              type: boolean
                              description: Should an identity for this cluster resource
                                be created
                            description:
                              type: string
                              description: Description of the extension type
                            publisher:
                              type: string
                              description: Name of the publisher for the Extension
                                Type
                            planInfo:
                              description: Plan information only for the Marketplace
                                Extension Type.
                              type: object
                              properties:
                                publisherId:
                                  type: string
                                  description: Publisher ID of the Marketplace Extension
                                    Type.
                                planId:
                                  type: string
                                  description: Plan ID of the Marketplace Extension
                                    Type.
                                offerId:
                                  type: string
                                  description: Offer or Product ID of the Marketplace
                                    Extension Type.
                            supportedClusterTypes:
                              description: Cluster Types supported for this Extension
                                Type.
                              type: array
                              items:
                                type: string
                            supportedScopes:
                              description: Supported Kubernetes Scopes for this Extension
                                Type.
                              type: object
                              properties:
                                defaultScope:
                                  description: The default scope of the extension
                                    type. This scope will be used if the user does
                                    not provide a scope while creating an extension.
                                  type: string
                                clusterScopeSettings:
                                  type: object
                                  properties:
                                    id:
                                      readOnly: true
                                      type: string
                                      description: Fully qualified resource ID for
                                        the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                    name:
                                      readOnly: true
                                      type: string
                                      description: The name of the resource
                                    type:
                                      readOnly: true
                                      type: string
                                      description: The type of the resource. E.g.
                                        "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
                                    properties:
                                      type: object
                                      x-ms-client-flatten: true
                                      description: Extension scope settings
                                      properties:
                                        allowMultipleInstances:
                                          type: boolean
                                          description: Describes if multiple instances
                                            of the extension are allowed
                                        defaultReleaseNamespace:
                                          type: string
                                          description: Default extension release namespace
                                  title: Resource
                                  description: Common fields that are returned in
                                    the response for all Azure Resource Manager resources
                                  x-ms-azure-resource: true
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of Extension Types.
                  nextLink:
                    type: string
                    readOnly: true
                    description: URL to get the next set of extension type objects,
                      if any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}
  : get:
      tags:
      - ExtensionTypes
      - ClusterExtensionTypes
      description: Get an Extension Type installable to the cluster based region and
        type for the cluster.
      operationId: ExtensionTypes_Get
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters, appliances.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z]*$
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^.*
      - name: extensionTypeName
        in: path
        required: true
        description: Name of the Extension Type.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z0-9-_]*$
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    type: object
                    properties:
                      isSystemExtension:
                        type: boolean
                        description: Is this Extension Type a system extension.
                      isManagedIdentityRequired:
                        type: boolean
                        description: Should an identity for this cluster resource
                          be created
                      description:
                        type: string
                        description: Description of the extension type
                      publisher:
                        type: string
                        description: Name of the publisher for the Extension Type
                      planInfo:
                        description: Plan information only for the Marketplace Extension
                          Type.
                        type: object
                        properties:
                          publisherId:
                            type: string
                            description: Publisher ID of the Marketplace Extension
                              Type.
                          planId:
                            type: string
                            description: Plan ID of the Marketplace Extension Type.
                          offerId:
                            type: string
                            description: Offer or Product ID of the Marketplace Extension
                              Type.
                      supportedClusterTypes:
                        description: Cluster Types supported for this Extension Type.
                        type: array
                        items:
                          type: string
                      supportedScopes:
                        description: Supported Kubernetes Scopes for this Extension
                          Type.
                        type: object
                        properties:
                          defaultScope:
                            description: The default scope of the extension type.
                              This scope will be used if the user does not provide
                              a scope while creating an extension.
                            type: string
                          clusterScopeSettings:
                            type: object
                            properties:
                              id:
                                readOnly: true
                                type: string
                                description: Fully qualified resource ID for the resource.
                                  Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                              name:
                                readOnly: true
                                type: string
                                description: The name of the resource
                              type:
                                readOnly: true
                                type: string
                                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                  or "Microsoft.Storage/storageAccounts"
                              properties:
                                type: object
                                x-ms-client-flatten: true
                                description: Extension scope settings
                                properties:
                                  allowMultipleInstances:
                                    type: boolean
                                    description: Describes if multiple instances of
                                      the extension are allowed
                                  defaultReleaseNamespace:
                                    type: string
                                    description: Default extension release namespace
                            title: Resource
                            description: Common fields that are returned in the response
                              for all Azure Resource Manager resources
                            x-ms-azure-resource: true
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}/versions
  : get:
      tags:
      - ExtensionTypes
      - ClusterExtensionTypes
      description: List the version for an Extension Type installable to the cluster.
      operationId: ExtensionTypes_ClusterListVersions
      parameters:
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: clusterRp
        in: path
        required: true
        description: The Kubernetes cluster RP - i.e. Microsoft.ContainerService,
          Microsoft.Kubernetes, Microsoft.HybridContainerService.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: clusterResourceName
        in: path
        required: true
        description: The Kubernetes cluster resource name - i.e. managedClusters,
          connectedClusters, provisionedClusters, appliances.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z]*$
      - name: clusterName
        in: path
        required: true
        description: The name of the kubernetes cluster.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^.*
      - name: extensionTypeName
        in: path
        required: true
        description: Name of the Extension Type.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-zA-Z][a-zA-Z0-9-_]*$
      - name: releaseTrain
        in: query
        description: Filter results by release train (default value is stable)
        required: false
        schema:
          type: string
      - name: majorVersion
        in: query
        description: Filter results by the major version of an extension type
        required: false
        schema:
          type: string
      - name: showLatest
        in: query
        description: Filter results by only the latest version (based on other query
          parameters)
        required: false
        schema:
          type: boolean
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List Extension Type Versions. It contains a list of ExtensionTypeVersionForReleaseTrain
                  objects.
                type: object
                properties:
                  value:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          type: object
                          properties:
                            version:
                              type: string
                              description: The version number for the extension type
                            unsupportedKubernetesVersions:
                              description: The list of supported Kubernetes cluster
                                versions for this extension type
                              type: object
                              properties:
                                connectedCluster:
                                  type: array
                                  items:
                                    type: object
                                    description: The list of Kubernetes Distribution
                                      and Versions that are not supported by this
                                      version of this Extension Type
                                    properties:
                                      distributions:
                                        type: array
                                        description: The list of Kubernetes Cluster
                                          Distribution Names not supported
                                        items:
                                          description: A single Kubernetes Cluster
                                            Distribution Name
                                          type: string
                                      unsupportedVersions:
                                        type: array
                                        description: The list of Kubernetes Versions
                                          not supported by the list of Kubernetes
                                          Cluster Distribution names in this object
                                        items:
                                          type: string
                                          description: A Kubernetes Version not supported
                                            by the list of Kubernetes Cluster Distribution
                                            names
                                  x-ms-identifiers: []
                                appliances:
                                  type: array
                                  items:
                                    type: object
                                    description: The list of Kubernetes Distribution
                                      and Versions that are not supported by this
                                      version of this Extension Type
                                    properties:
                                      distributions:
                                        type: array
                                        description: The list of Kubernetes Cluster
                                          Distribution Names not supported
                                        items:
                                          description: A single Kubernetes Cluster
                                            Distribution Name
                                          type: string
                                      unsupportedVersions:
                                        type: array
                                        description: The list of Kubernetes Versions
                                          not supported by the list of Kubernetes
                                          Cluster Distribution names in this object
                                        items:
                                          type: string
                                          description: A Kubernetes Version not supported
                                            by the list of Kubernetes Cluster Distribution
                                            names
                                  x-ms-identifiers: []
                                provisionedCluster:
                                  type: array
                                  items:
                                    type: object
                                    description: The list of Kubernetes Distribution
                                      and Versions that are not supported by this
                                      version of this Extension Type
                                    properties:
                                      distributions:
                                        type: array
                                        description: The list of Kubernetes Cluster
                                          Distribution Names not supported
                                        items:
                                          description: A single Kubernetes Cluster
                                            Distribution Name
                                          type: string
                                      unsupportedVersions:
                                        type: array
                                        description: The list of Kubernetes Versions
                                          not supported by the list of Kubernetes
                                          Cluster Distribution names in this object
                                        items:
                                          type: string
                                          description: A Kubernetes Version not supported
                                            by the list of Kubernetes Cluster Distribution
                                            names
                                  x-ms-identifiers: []
                                managedCluster:
                                  type: array
                                  items:
                                    type: object
                                    description: The list of Kubernetes Distribution
                                      and Versions that are not supported by this
                                      version of this Extension Type
                                    properties:
                                      distributions:
                                        type: array
                                        description: The list of Kubernetes Cluster
                                          Distribution Names not supported
                                        items:
                                          description: A single Kubernetes Cluster
                                            Distribution Name
                                          type: string
                                      unsupportedVersions:
                                        type: array
                                        description: The list of Kubernetes Versions
                                          not supported by the list of Kubernetes
                                          Cluster Distribution names in this object
                                        items:
                                          type: string
                                          description: A Kubernetes Version not supported
                                            by the list of Kubernetes Cluster Distribution
                                            names
                                  x-ms-identifiers: []
                            supportedClusterTypes:
                              type: array
                              description: A list of supported cluster types for this
                                version of the Extension Type
                              items:
                                description: The individual cluster type that is supported
                                  by this extension
                                type: string
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of Extension Type Versions for an Extension
                      Type in a Release Train.
                  nextLink:
                    type: string
                    readOnly: true
                    description: URL to get the next set of extension objects, if
                      any.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
[...]
