openapi: 3.0.0
info:
  version: 2015-04-01
  title: GalleryManagementClient
  description: The Admin Gallery Management Client.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.gallery.admin/galleryItems:
    get:
      tags:
      - GalleryItems
      summary: Lists gallery items.
      operationId: GalleryItems_List
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of gallery items.
                properties:
                  value:
                    description: List of gallery items.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          description: URI of the resource.
                          type: string
                        name:
                          readOnly: true
                          description: Name of the resource.
                          type: string
                        type:
                          readOnly: true
                          description: Type of the resource.
                          type: string
                        location:
                          readOnly: true
                          description: Location of the resource.
                          type: string
                        tags:
                          readOnly: true
                          description: List of key-value pairs.
                          type: object
                          additionalProperties:
                            type: string
                        properties:
                          description: Properties of a gallery item.
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            identity:
                              description: Identity of the gallery item.
                              type: string
                            publisher:
                              description: The publisher of the gallery item.
                              type: string
                            publisherDisplayName:
                              description: Display name of the publisher.
                              type: string
                            itemName:
                              description: The display name for the gallery item,
                                for the locale of the request.
                              type: string
                            itemDisplayName:
                              description: Displayed name in the portal.
                              type: string
                            version:
                              description: The version identifier of the gallery item,
                                in Major.Minor.Build format.
                              type: string
                            summary:
                              description: Short summary of the gallery item.
                              type: string
                            longSummary:
                              description: Long summary of the gallery item.
                              type: string
                            description:
                              description: The description of the gallery item.
                              type: string
                            uiDefinitionUri:
                              description: The URL of the view definition object that
                                defines the UI information that is used when an instance
                                of the gallery item resource definition is created.
                              type: string
                            createdTime:
                              description: The date and time that the gallery item
                                was created.
                              format: date-time
                              type: string
                            changedTime:
                              description: Last update time of gallery item.
                              format: date-time
                              type: string
                            marketingMaterial:
                              description: Marketing materials for the gallery item.
                              type: object
                              properties:
                                path:
                                  description: Path to the marketing site.
                                  type: string
                                learnUri:
                                  description: URI to educational material.
                                  type: string
                            itemType:
                              description: Describes the type of the gallery item,
                                either GalleryItem or ItemGroup.
                              enum:
                              - GalleryItem
                              - ItemGroup
                              type: string
                              x-ms-enum:
                                name: GalleryItemMenuReferenceType
                                modelAsString: true
                                values:
                                - value: GalleryItem
                                - value: ItemGroup
                            categoryIds:
                              description: List of category IDs the gallery item belongs
                                to.
                              type: array
                              items:
                                type: string
                              readOnly: true
                            screenshotUris:
                              description: List of screenshot image URIs provided
                                for the item.
                              type: array
                              items:
                                type: string
                              readOnly: true
                            links:
                              description: Links provided for the item.
                              type: array
                              items:
                                description: Represents a link item read from the
                                  gallery item package.
                                type: object
                                properties:
                                  id:
                                    description: ID of the link.
                                    type: string
                                  displayName:
                                    description: Display name of the link.
                                    type: string
                                  uri:
                                    description: URI of the link.
                                    type: string
                              readOnly: true
                            filters:
                              description: List of filters for the gallery item.
                              type: array
                              items:
                                description: Represents a filter item.
                                type: object
                                properties:
                                  type:
                                    description: Filter type.
                                    type: string
                                  value:
                                    description: Filter value.
                                    type: string
                              x-ms-identifiers: []
                              readOnly: true
                            iconFileUris:
                              description: URIs to icon files.
                              type: object
                              properties:
                                small:
                                  description: URI to the small icon.
                                  type: string
                                medium:
                                  description: URI to the medium icon.
                                  type: string
                                large:
                                  description: URI to the large icon.
                                  type: string
                                wide:
                                  description: URI to the wide icon.
                                  type: string
                                hero:
                                  description: URI to the hero icon.
                                  type: string
                              readOnly: true
                            artifacts:
                              description: List of artifacts for the gallery item.
                              type: array
                              items:
                                description: Represents gallery item artifacts.
                                type: object
                                properties:
                                  name:
                                    description: Name of the artifact.
                                    type: string
                                  uri:
                                    description: URI to the artifact.
                                    type: string
                                  type:
                                    description: Artifact type.
                                    enum:
                                    - template
                                    - fragment
                                    - custom
                                    - metadata
                                    type: string
                                    x-ms-enum:
                                      name: ArtifactType
                                      modelAsString: true
                                      values:
                                      - value: template
                                      - value: fragment
                                      - value: custom
                                      - value: metadata
                              x-ms-identifiers:
                              - name
                              - type
                              readOnly: true
                            metadata:
                              description: Custom item metadata.
                              readOnly: true
                              type: object
                              properties:
                                properties:
                                  description: Dictionary of dynamic properties.
                                  type: object
                                  additionalProperties:
                                    type: object
                                  readOnly: true
                            properties:
                              description: List of properties provided for the gallery
                                item.
                              type: object
                              additionalProperties:
                                type: string
                              readOnly: true
                            images:
                              description: List of images.
                              type: array
                              items:
                                description: Group of images.
                                type: object
                                properties:
                                  context:
                                    description: Image group identifier.
                                    type: string
                                  items:
                                    description: List of images.
                                    type: array
                                    items:
                                      description: Represents an image item.
                                      type: object
                                      properties:
                                        id:
                                          description: ID of the image.
                                          type: string
                                        uri:
                                          description: URI to the image.
                                          type: string
                                        type:
                                          description: Type of image.
                                          type: string
                                    readOnly: true
                              x-ms-identifiers: []
                              readOnly: true
                            products:
                              description: List of products.
                              type: array
                              items:
                                description: Represents a product item read from the
                                  gallery item package.
                                type: object
                                properties:
                                  displayName:
                                    description: Display name of the product.
                                    type: string
                                  publisherDisplayName:
                                    description: Publisher display name of the product.
                                    type: string
                                  pricingDetailsUri:
                                    description: URI to the pricing details of the
                                      product.
                                    type: string
                                  offerDetails:
                                    description: Offer details of the product.
                                    type: object
                                    properties:
                                      publisherId:
                                        description: Publisher identifier.
                                        type: string
                                      offerId:
                                        description: Offer identifier.
                                        type: string
                                      plans:
                                        description: List of plans available for the
                                          offer.
                                        type: array
                                        items:
                                          description: Represents a plan item read
                                            from the gallery item package.
                                          type: object
                                          properties:
                                            planId:
                                              description: Plan identifier.
                                              type: string
                                            displayName:
                                              description: Display name of the plan.
                                              type: string
                                            summary:
                                              description: Summary of the plan.
                                              type: string
                                            description:
                                              description: Description of the plan.
                                              type: string
                                        x-ms-identifiers:
                                        - planId
                                        readOnly: true
                                  legalTerms:
                                    description: Legal terms of the product.
                                    type: string
                                  privacyPolicy:
                                    description: Privacy policy of the product.
                                    type: string
                                  legalTermsUri:
                                    description: URI to the legal terms of the product.
                                    type: string
                                  privacyPolicyUri:
                                    description: URI to the privacy policy of the
                                      product.
                                    type: string
                              x-ms-identifiers:
                              - displayName
                              readOnly: true
                            resourceGroupName:
                              description: Resource group name the gallery item belongs
                                too.
                              type: string
                            definitionTemplates:
                              description: Definition template for gallery item.
                              readOnly: true
                              type: object
                              properties:
                                uiDefinitionFileUri:
                                  description: UI definition file URI.
                                  type: string
                                defaultDeploymentTemplateId:
                                  description: Default deployment template ID.
                                  type: string
                                deploymentTemplateFileUris:
                                  description: List of key-value containing the deployment
                                    template file IDs defined in the package manifest.
                                  type: object
                                  additionalProperties:
                                    type: string
                                  readOnly: true
                                deploymentFragmentFileUris:
                                  description: List of key-value pairs containing
                                    the deployment fragment file IDs defined in the
                                    package manifest.
                                  type: object
                                  additionalProperties:
                                    type: string
                                  readOnly: true
                            additionalProperties:
                              description: List of additional properties provided
                                for the item.
                              type: object
                              additionalProperties:
                                type: string
                              readOnly: true
                      description: Base Resource Object.
                      x-ms-azure-resource: true
      x-ms-pageable: {}
    post:
      tags:
      - GalleryItems
      summary: Uploads a provider gallery item to the storage.
      operationId: GalleryItems_Create
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      requestBody:
        content:
          application/json:
            schema:
              description: Location of gallery item payload.
              type: object
              properties:
                galleryItemUri:
                  description: URI for your gallery package that has already been
                    uploaded online.
                  type: string
        description: The URI to the gallery item JSON file.
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of the resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource.
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a gallery item.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      identity:
                        description: Identity of the gallery item.
                        type: string
                      publisher:
                        description: The publisher of the gallery item.
                        type: string
                      publisherDisplayName:
                        description: Display name of the publisher.
                        type: string
                      itemName:
                        description: The display name for the gallery item, for the
                          locale of the request.
                        type: string
                      itemDisplayName:
                        description: Displayed name in the portal.
                        type: string
                      version:
                        description: The version identifier of the gallery item, in
                          Major.Minor.Build format.
                        type: string
                      summary:
                        description: Short summary of the gallery item.
                        type: string
                      longSummary:
                        description: Long summary of the gallery item.
                        type: string
                      description:
                        description: The description of the gallery item.
                        type: string
                      uiDefinitionUri:
                        description: The URL of the view definition object that defines
                          the UI information that is used when an instance of the
                          gallery item resource definition is created.
                        type: string
                      createdTime:
                        description: The date and time that the gallery item was created.
                        format: date-time
                        type: string
                      changedTime:
                        description: Last update time of gallery item.
                        format: date-time
                        type: string
                      marketingMaterial:
                        description: Marketing materials for the gallery item.
                        type: object
                        properties:
                          path:
                            description: Path to the marketing site.
                            type: string
                          learnUri:
                            description: URI to educational material.
                            type: string
                      itemType:
                        description: Describes the type of the gallery item, either
                          GalleryItem or ItemGroup.
                        enum:
                        - GalleryItem
                        - ItemGroup
                        type: string
                        x-ms-enum:
                          name: GalleryItemMenuReferenceType
                          modelAsString: true
                          values:
                          - value: GalleryItem
                          - value: ItemGroup
                      categoryIds:
                        description: List of category IDs the gallery item belongs
                          to.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      screenshotUris:
                        description: List of screenshot image URIs provided for the
                          item.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      links:
                        description: Links provided for the item.
                        type: array
                        items:
                          description: Represents a link item read from the gallery
                            item package.
                          type: object
                          properties:
                            id:
                              description: ID of the link.
                              type: string
                            displayName:
                              description: Display name of the link.
                              type: string
                            uri:
                              description: URI of the link.
                              type: string
                        readOnly: true
                      filters:
                        description: List of filters for the gallery item.
                        type: array
                        items:
                          description: Represents a filter item.
                          type: object
                          properties:
                            type:
                              description: Filter type.
                              type: string
                            value:
                              description: Filter value.
                              type: string
                        x-ms-identifiers: []
                        readOnly: true
                      iconFileUris:
                        description: URIs to icon files.
                        type: object
                        properties:
                          small:
                            description: URI to the small icon.
                            type: string
                          medium:
                            description: URI to the medium icon.
                            type: string
                          large:
                            description: URI to the large icon.
                            type: string
                          wide:
                            description: URI to the wide icon.
                            type: string
                          hero:
                            description: URI to the hero icon.
                            type: string
                        readOnly: true
                      artifacts:
                        description: List of artifacts for the gallery item.
                        type: array
                        items:
                          description: Represents gallery item artifacts.
                          type: object
                          properties:
                            name:
                              description: Name of the artifact.
                              type: string
                            uri:
                              description: URI to the artifact.
                              type: string
                            type:
                              description: Artifact type.
                              enum:
                              - template
                              - fragment
                              - custom
                              - metadata
                              type: string
                              x-ms-enum:
                                name: ArtifactType
                                modelAsString: true
                                values:
                                - value: template
                                - value: fragment
                                - value: custom
                                - value: metadata
                        x-ms-identifiers:
                        - name
                        - type
                        readOnly: true
                      metadata:
                        description: Custom item metadata.
                        readOnly: true
                        type: object
                        properties:
                          properties:
                            description: Dictionary of dynamic properties.
                            type: object
                            additionalProperties:
                              type: object
                            readOnly: true
                      properties:
                        description: List of properties provided for the gallery item.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                      images:
                        description: List of images.
                        type: array
                        items:
                          description: Group of images.
                          type: object
                          properties:
                            context:
                              description: Image group identifier.
                              type: string
                            items:
                              description: List of images.
                              type: array
                              items:
                                description: Represents an image item.
                                type: object
                                properties:
                                  id:
                                    description: ID of the image.
                                    type: string
                                  uri:
                                    description: URI to the image.
                                    type: string
                                  type:
                                    description: Type of image.
                                    type: string
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
                      products:
                        description: List of products.
                        type: array
                        items:
                          description: Represents a product item read from the gallery
                            item package.
                          type: object
                          properties:
                            displayName:
                              description: Display name of the product.
                              type: string
                            publisherDisplayName:
                              description: Publisher display name of the product.
                              type: string
                            pricingDetailsUri:
                              description: URI to the pricing details of the product.
                              type: string
                            offerDetails:
                              description: Offer details of the product.
                              type: object
                              properties:
                                publisherId:
                                  description: Publisher identifier.
                                  type: string
                                offerId:
                                  description: Offer identifier.
                                  type: string
                                plans:
                                  description: List of plans available for the offer.
                                  type: array
                                  items:
                                    description: Represents a plan item read from
                                      the gallery item package.
                                    type: object
                                    properties:
                                      planId:
                                        description: Plan identifier.
                                        type: string
                                      displayName:
                                        description: Display name of the plan.
                                        type: string
                                      summary:
                                        description: Summary of the plan.
                                        type: string
                                      description:
                                        description: Description of the plan.
                                        type: string
                                  x-ms-identifiers:
                                  - planId
                                  readOnly: true
                            legalTerms:
                              description: Legal terms of the product.
                              type: string
                            privacyPolicy:
                              description: Privacy policy of the product.
                              type: string
                            legalTermsUri:
                              description: URI to the legal terms of the product.
                              type: string
                            privacyPolicyUri:
                              description: URI to the privacy policy of the product.
                              type: string
                        x-ms-identifiers:
                        - displayName
                        readOnly: true
                      resourceGroupName:
                        description: Resource group name the gallery item belongs
                          too.
                        type: string
                      definitionTemplates:
                        description: Definition template for gallery item.
                        readOnly: true
                        type: object
                        properties:
                          uiDefinitionFileUri:
                            description: UI definition file URI.
                            type: string
                          defaultDeploymentTemplateId:
                            description: Default deployment template ID.
                            type: string
                          deploymentTemplateFileUris:
                            description: List of key-value containing the deployment
                              template file IDs defined in the package manifest.
                            type: object
                            additionalProperties:
                              type: string
                            readOnly: true
                          deploymentFragmentFileUris:
                            description: List of key-value pairs containing the deployment
                              fragment file IDs defined in the package manifest.
                            type: object
                            additionalProperties:
                              type: string
                            readOnly: true
                      additionalProperties:
                        description: List of additional properties provided for the
                          item.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                description: Base Resource Object.
                x-ms-azure-resource: true
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of the resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource.
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a gallery item.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      identity:
                        description: Identity of the gallery item.
                        type: string
                      publisher:
                        description: The publisher of the gallery item.
                        type: string
                      publisherDisplayName:
                        description: Display name of the publisher.
                        type: string
                      itemName:
                        description: The display name for the gallery item, for the
                          locale of the request.
                        type: string
                      itemDisplayName:
                        description: Displayed name in the portal.
                        type: string
                      version:
                        description: The version identifier of the gallery item, in
                          Major.Minor.Build format.
                        type: string
                      summary:
                        description: Short summary of the gallery item.
                        type: string
                      longSummary:
                        description: Long summary of the gallery item.
                        type: string
                      description:
                        description: The description of the gallery item.
                        type: string
                      uiDefinitionUri:
                        description: The URL of the view definition object that defines
                          the UI information that is used when an instance of the
                          gallery item resource definition is created.
                        type: string
                      createdTime:
                        description: The date and time that the gallery item was created.
                        format: date-time
                        type: string
                      changedTime:
                        description: Last update time of gallery item.
                        format: date-time
                        type: string
                      marketingMaterial:
                        description: Marketing materials for the gallery item.
                        type: object
                        properties:
                          path:
                            description: Path to the marketing site.
                            type: string
                          learnUri:
                            description: URI to educational material.
                            type: string
                      itemType:
                        description: Describes the type of the gallery item, either
                          GalleryItem or ItemGroup.
                        enum:
                        - GalleryItem
                        - ItemGroup
                        type: string
                        x-ms-enum:
                          name: GalleryItemMenuReferenceType
                          modelAsString: true
                          values:
                          - value: GalleryItem
                          - value: ItemGroup
                      categoryIds:
                        description: List of category IDs the gallery item belongs
                          to.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      screenshotUris:
                        description: List of screenshot image URIs provided for the
                          item.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      links:
                        description: Links provided for the item.
                        type: array
                        items:
                          description: Represents a link item read from the gallery
                            item package.
                          type: object
                          properties:
                            id:
                              description: ID of the link.
                              type: string
                            displayName:
                              description: Display name of the link.
                              type: string
                            uri:
                              description: URI of the link.
                              type: string
                        readOnly: true
                      filters:
                        description: List of filters for the gallery item.
                        type: array
                        items:
                          description: Represents a filter item.
                          type: object
                          properties:
                            type:
                              description: Filter type.
                              type: string
                            value:
                              description: Filter value.
                              type: string
                        x-ms-identifiers: []
                        readOnly: true
                      iconFileUris:
                        description: URIs to icon files.
                        type: object
                        properties:
                          small:
                            description: URI to the small icon.
                            type: string
                          medium:
                            description: URI to the medium icon.
                            type: string
                          large:
                            description: URI to the large icon.
                            type: string
                          wide:
                            description: URI to the wide icon.
                            type: string
                          hero:
                            description: URI to the hero icon.
                            type: string
                        readOnly: true
                      artifacts:
                        description: List of artifacts for the gallery item.
                        type: array
                        items:
                          description: Represents gallery item artifacts.
                          type: object
                          properties:
                            name:
                              description: Name of the artifact.
                              type: string
                            uri:
                              description: URI to the artifact.
                              type: string
                            type:
                              description: Artifact type.
                              enum:
                              - template
                              - fragment
                              - custom
                              - metadata
                              type: string
                              x-ms-enum:
                                name: ArtifactType
                                modelAsString: true
                                values:
                                - value: template
                                - value: fragment
                                - value: custom
                                - value: metadata
                        x-ms-identifiers:
                        - name
                        - type
                        readOnly: true
                      metadata:
                        description: Custom item metadata.
                        readOnly: true
                        type: object
                        properties:
                          properties:
                            description: Dictionary of dynamic properties.
                            type: object
                            additionalProperties:
                              type: object
                            readOnly: true
                      properties:
                        description: List of properties provided for the gallery item.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                      images:
                        description: List of images.
                        type: array
                        items:
                          description: Group of images.
                          type: object
                          properties:
                            context:
                              description: Image group identifier.
                              type: string
                            items:
                              description: List of images.
                              type: array
                              items:
                                description: Represents an image item.
                                type: object
                                properties:
                                  id:
                                    description: ID of the image.
                                    type: string
                                  uri:
                                    description: URI to the image.
                                    type: string
                                  type:
                                    description: Type of image.
                                    type: string
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
                      products:
                        description: List of products.
                        type: array
                        items:
                          description: Represents a product item read from the gallery
                            item package.
                          type: object
                          properties:
                            displayName:
                              description: Display name of the product.
                              type: string
                            publisherDisplayName:
                              description: Publisher display name of the product.
                              type: string
                            pricingDetailsUri:
                              description: URI to the pricing details of the product.
                              type: string
                            offerDetails:
                              description: Offer details of the product.
                              type: object
                              properties:
                                publisherId:
                                  description: Publisher identifier.
                                  type: string
                                offerId:
                                  description: Offer identifier.
                                  type: string
                                plans:
                                  description: List of plans available for the offer.
                                  type: array
                                  items:
                                    description: Represents a plan item read from
                                      the gallery item package.
                                    type: object
                                    properties:
                                      planId:
                                        description: Plan identifier.
                                        type: string
                                      displayName:
                                        description: Display name of the plan.
                                        type: string
                                      summary:
                                        description: Summary of the plan.
                                        type: string
                                      description:
                                        description: Description of the plan.
                                        type: string
                                  x-ms-identifiers:
                                  - planId
                                  readOnly: true
                            legalTerms:
                              description: Legal terms of the product.
                              type: string
                            privacyPolicy:
                              description: Privacy policy of the product.
                              type: string
                            legalTermsUri:
                              description: URI to the legal terms of the product.
                              type: string
                            privacyPolicyUri:
                              description: URI to the privacy policy of the product.
                              type: string
                        x-ms-identifiers:
                        - displayName
                        readOnly: true
                      resourceGroupName:
                        description: Resource group name the gallery item belongs
                          too.
                        type: string
                      definitionTemplates:
                        description: Definition template for gallery item.
                        readOnly: true
                        type: object
                        properties:
                          uiDefinitionFileUri:
                            description: UI definition file URI.
                            type: string
                          defaultDeploymentTemplateId:
                            description: Default deployment template ID.
                            type: string
                          deploymentTemplateFileUris:
                            description: List of key-value containing the deployment
                              template file IDs defined in the package manifest.
                            type: object
                            additionalProperties:
                              type: string
                            readOnly: true
                          deploymentFragmentFileUris:
                            description: List of key-value pairs containing the deployment
                              fragment file IDs defined in the package manifest.
                            type: object
                            additionalProperties:
                              type: string
                            readOnly: true
                      additionalProperties:
                        description: List of additional properties provided for the
                          item.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                description: Base Resource Object.
                x-ms-azure-resource: true
  /subscriptions/{subscriptionId}/providers/microsoft.gallery.admin/galleryItems/{galleryItemName}:
    get:
      tags:
      - GalleryItems
      summary: Get a specific gallery item.
      operationId: GalleryItems_Get
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: galleryItemName
        in: path
        description: Identity of the gallery item. Includes publisher name, item name,
          and may include version separated by period character.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    description: URI of the resource.
                    type: string
                  name:
                    readOnly: true
                    description: Name of the resource.
                    type: string
                  type:
                    readOnly: true
                    description: Type of the resource.
                    type: string
                  location:
                    readOnly: true
                    description: Location of the resource.
                    type: string
                  tags:
                    readOnly: true
                    description: List of key-value pairs.
                    type: object
                    additionalProperties:
                      type: string
                  properties:
                    description: Properties of a gallery item.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      identity:
                        description: Identity of the gallery item.
                        type: string
                      publisher:
                        description: The publisher of the gallery item.
                        type: string
                      publisherDisplayName:
                        description: Display name of the publisher.
                        type: string
                      itemName:
                        description: The display name for the gallery item, for the
                          locale of the request.
                        type: string
                      itemDisplayName:
                        description: Displayed name in the portal.
                        type: string
                      version:
                        description: The version identifier of the gallery item, in
                          Major.Minor.Build format.
                        type: string
                      summary:
                        description: Short summary of the gallery item.
                        type: string
                      longSummary:
                        description: Long summary of the gallery item.
                        type: string
                      description:
                        description: The description of the gallery item.
                        type: string
                      uiDefinitionUri:
                        description: The URL of the view definition object that defines
                          the UI information that is used when an instance of the
                          gallery item resource definition is created.
                        type: string
                      createdTime:
                        description: The date and time that the gallery item was created.
                        format: date-time
                        type: string
                      changedTime:
                        description: Last update time of gallery item.
                        format: date-time
                        type: string
                      marketingMaterial:
                        description: Marketing materials for the gallery item.
                        type: object
                        properties:
                          path:
                            description: Path to the marketing site.
                            type: string
                          learnUri:
                            description: URI to educational material.
                            type: string
                      itemType:
                        description: Describes the type of the gallery item, either
                          GalleryItem or ItemGroup.
                        enum:
                        - GalleryItem
                        - ItemGroup
                        type: string
                        x-ms-enum:
                          name: GalleryItemMenuReferenceType
                          modelAsString: true
                          values:
                          - value: GalleryItem
                          - value: ItemGroup
                      categoryIds:
                        description: List of category IDs the gallery item belongs
                          to.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      screenshotUris:
                        description: List of screenshot image URIs provided for the
                          item.
                        type: array
                        items:
                          type: string
                        readOnly: true
                      links:
                        description: Links provided for the item.
                        type: array
                        items:
                          description: Represents a link item read from the gallery
                            item package.
                          type: object
                          properties:
                            id:
                              description: ID of the link.
                              type: string
                            displayName:
                              description: Display name of the link.
                              type: string
                            uri:
                              description: URI of the link.
                              type: string
                        readOnly: true
                      filters:
                        description: List of filters for the gallery item.
                        type: array
                        items:
                          description: Represents a filter item.
                          type: object
                          properties:
                            type:
                              description: Filter type.
                              type: string
                            value:
                              description: Filter value.
                              type: string
                        x-ms-identifiers: []
                        readOnly: true
                      iconFileUris:
                        description: URIs to icon files.
                        type: object
                        properties:
                          small:
                            description: URI to the small icon.
                            type: string
                          medium:
                            description: URI to the medium icon.
                            type: string
                          large:
                            description: URI to the large icon.
                            type: string
                          wide:
                            description: URI to the wide icon.
                            type: string
                          hero:
                            description: URI to the hero icon.
                            type: string
                        readOnly: true
                      artifacts:
                        description: List of artifacts for the gallery item.
                        type: array
                        items:
                          description: Represents gallery item artifacts.
                          type: object
                          properties:
                            name:
                              description: Name of the artifact.
                              type: string
                            uri:
                              description: URI to the artifact.
                              type: string
                            type:
                              description: Artifact type.
                              enum:
                              - template
                              - fragment
                              - custom
                              - metadata
                              type: string
                              x-ms-enum:
                                name: ArtifactType
                                modelAsString: true
                                values:
                                - value: template
                                - value: fragment
                                - value: custom
                                - value: metadata
                        x-ms-identifiers:
                        - name
                        - type
                        readOnly: true
                      metadata:
                        description: Custom item metadata.
                        readOnly: true
                        type: object
                        properties:
                          properties:
                            description: Dictionary of dynamic properties.
                            type: object
                            additionalProperties:
                              type: object
                            readOnly: true
                      properties:
                        description: List of properties provided for the gallery item.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                      images:
                        description: List of images.
                        type: array
                        items:
                          description: Group of images.
                          type: object
                          properties:
                            context:
                              description: Image group identifier.
                              type: string
                            items:
                              description: List of images.
                              type: array
                              items:
                                description: Represents an image item.
                                type: object
                                properties:
                                  id:
                                    description: ID of the image.
                                    type: string
                                  uri:
                                    description: URI to the image.
                                    type: string
                                  type:
                                    description: Type of image.
                                    type: string
                              readOnly: true
                        x-ms-identifiers: []
                        readOnly: true
                      products:
                        description: List of products.
                        type: array
                        items:
                          description: Represents a product item read from the gallery
                            item package.
                          type: object
                          properties:
                            displayName:
                              description: Display name of the product.
                              type: string
                            publisherDisplayName:
                              description: Publisher display name of the product.
                              type: string
                            pricingDetailsUri:
                              description: URI to the pricing details of the product.
                              type: string
                            offerDetails:
                              description: Offer details of the product.
                              type: object
                              properties:
                                publisherId:
                                  description: Publisher identifier.
                                  type: string
                                offerId:
                                  description: Offer identifier.
                                  type: string
                                plans:
                                  description: List of plans available for the offer.
                                  type: array
                                  items:
                                    description: Represents a plan item read from
                                      the gallery item package.
                                    type: object
                                    properties:
                                      planId:
                                        description: Plan identifier.
                                        type: string
                                      displayName:
                                        description: Display name of the plan.
                                        type: string
                                      summary:
                                        description: Summary of the plan.
                                        type: string
                                      description:
                                        description: Description of the plan.
                                        type: string
                                  x-ms-identifiers:
                                  - planId
                                  readOnly: true
                            legalTerms:
                              description: Legal terms of the product.
                              type: string
                            privacyPolicy:
                              description: Privacy policy of the product.
                              type: string
                            legalTermsUri:
                              description: URI to the legal terms of the product.
                              type: string
                            privacyPolicyUri:
                              description: URI to the privacy policy of the product.
                              type: string
                        x-ms-identifiers:
                        - displayName
                        readOnly: true
                      resourceGroupName:
                        description: Resource group name the gallery item belongs
                          too.
                        type: string
                      definitionTemplates:
                        description: Definition template for gallery item.
                        readOnly: true
                        type: object
                        properties:
                          uiDefinitionFileUri:
                            description: UI definition file URI.
                            type: string
                          defaultDeploymentTemplateId:
                            description: Default deployment template ID.
                            type: string
                          deploymentTemplateFileUris:
                            description: List of key-value containing the deployment
                              template file IDs defined in the package manifest.
                            type: object
                            additionalProperties:
                              type: string
                            readOnly: true
                          deploymentFragmentFileUris:
                            description: List of key-value pairs containing the deployment
                              fragment file IDs defined in the package manifest.
                            type: object
                            additionalProperties:
                              type: string
                            readOnly: true
                      additionalProperties:
                        description: List of additional properties provided for the
                          item.
                        type: object
                        additionalProperties:
                          type: string
                        readOnly: true
                description: Base Resource Object.
                x-ms-azure-resource: true
        '404':
          description: NOT FOUND
    delete:
      tags:
      - GalleryItems
      summary: Delete a specific gallery item.
      operationId: GalleryItems_Delete
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        required: true
        schema:
          type: string
      - name: galleryItemName
        in: path
        description: Identity of the gallery item. Includes publisher name, item name,
          and may include version separated by period character.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: api-version
        in: query
        description: Client API Version.
        required: true
        schema:
          type: string
          default: 2016-05-01
      responses:
        '200':
          description: OK
        '204':
          description: NO CONTENT.
components:
  parameters:
    GalleryItemNameParameter:
      name: galleryItemName
      in: path
      description: Identity of the gallery item. Includes publisher name, item name,
        and may include version separated by period character.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        type: string
        default: 2016-05-01
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    GalleryItemUriPayload:
      description: Location of gallery item payload.
      type: object
      properties:
        galleryItemUri:
          description: URI for your gallery package that has already been uploaded
            online.
          type: string
    GalleryItem:
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of the resource.
          type: string
        location:
          readOnly: true
          description: Location of the resource.
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
        properties:
          description: Properties of a gallery item.
          x-ms-client-flatten: true
          type: object
          properties:
            identity:
              description: Identity of the gallery item.
              type: string
            publisher:
              description: The publisher of the gallery item.
              type: string
            publisherDisplayName:
              description: Display name of the publisher.
              type: string
            itemName:
              description: The display name for the gallery item, for the locale of
                the request.
              type: string
            itemDisplayName:
              description: Displayed name in the portal.
              type: string
            version:
              description: The version identifier of the gallery item, in Major.Minor.Build
                format.
              type: string
            summary:
              description: Short summary of the gallery item.
              type: string
            longSummary:
              description: Long summary of the gallery item.
              type: string
            description:
              description: The description of the gallery item.
              type: string
            uiDefinitionUri:
              description: The URL of the view definition object that defines the
                UI information that is used when an instance of the gallery item resource
                definition is created.
              type: string
            createdTime:
              description: The date and time that the gallery item was created.
              format: date-time
              type: string
            changedTime:
              description: Last update time of gallery item.
              format: date-time
              type: string
            marketingMaterial:
              description: Marketing materials for the gallery item.
              type: object
              properties:
                path:
                  description: Path to the marketing site.
                  type: string
                learnUri:
                  description: URI to educational material.
                  type: string
            itemType:
              description: Describes the type of the gallery item, either GalleryItem
                or ItemGroup.
              enum:
              - GalleryItem
              - ItemGroup
              type: string
              x-ms-enum:
                name: GalleryItemMenuReferenceType
                modelAsString: true
                values:
                - value: GalleryItem
                - value: ItemGroup
            categoryIds:
              description: List of category IDs the gallery item belongs to.
              type: array
              items:
                type: string
              readOnly: true
            screenshotUris:
              description: List of screenshot image URIs provided for the item.
              type: array
              items:
                type: string
              readOnly: true
            links:
              description: Links provided for the item.
              type: array
              items:
                description: Represents a link item read from the gallery item package.
                type: object
                properties:
                  id:
                    description: ID of the link.
                    type: string
                  displayName:
                    description: Display name of the link.
                    type: string
                  uri:
                    description: URI of the link.
                    type: string
              readOnly: true
            filters:
              description: List of filters for the gallery item.
              type: array
              items:
                description: Represents a filter item.
                type: object
                properties:
                  type:
                    description: Filter type.
                    type: string
                  value:
                    description: Filter value.
                    type: string
              x-ms-identifiers: []
              readOnly: true
            iconFileUris:
              description: URIs to icon files.
              type: object
              properties:
                small:
                  description: URI to the small icon.
                  type: string
                medium:
                  description: URI to the medium icon.
                  type: string
                large:
                  description: URI to the large icon.
                  type: string
                wide:
                  description: URI to the wide icon.
                  type: string
                hero:
                  description: URI to the hero icon.
                  type: string
              readOnly: true
            artifacts:
              description: List of artifacts for the gallery item.
              type: array
              items:
                description: Represents gallery item artifacts.
                type: object
                properties:
                  name:
                    description: Name of the artifact.
                    type: string
                  uri:
                    description: URI to the artifact.
                    type: string
                  type:
                    description: Artifact type.
                    enum:
                    - template
                    - fragment
                    - custom
                    - metadata
                    type: string
                    x-ms-enum:
                      name: ArtifactType
                      modelAsString: true
                      values:
                      - value: template
                      - value: fragment
                      - value: custom
                      - value: metadata
              x-ms-identifiers:
              - name
              - type
              readOnly: true
            metadata:
              description: Custom item metadata.
              readOnly: true
              type: object
              properties:
                properties:
                  description: Dictionary of dynamic properties.
                  type: object
                  additionalProperties:
                    type: object
                  readOnly: true
            properties:
              description: List of properties provided for the gallery item.
              type: object
              additionalProperties:
                type: string
              readOnly: true
            images:
              description: List of images.
              type: array
              items:
                description: Group of images.
                type: object
                properties:
                  context:
                    description: Image group identifier.
                    type: string
                  items:
                    description: List of images.
                    type: array
                    items:
                      description: Represents an image item.
                      type: object
                      properties:
                        id:
                          description: ID of the image.
                          type: string
                        uri:
                          description: URI to the image.
                          type: string
                        type:
                          description: Type of image.
                          type: string
                    readOnly: true
              x-ms-identifiers: []
              readOnly: true
            products:
              description: List of products.
              type: array
              items:
                description: Represents a product item read from the gallery item
                  package.
                type: object
                properties:
                  displayName:
                    description: Display name of the product.
                    type: string
                  publisherDisplayName:
                    description: Publisher display name of the product.
                    type: string
                  pricingDetailsUri:
                    description: URI to the pricing details of the product.
                    type: string
                  offerDetails:
                    description: Offer details of the product.
                    type: object
                    properties:
                      publisherId:
                        description: Publisher identifier.
                        type: string
                      offerId:
                        description: Offer identifier.
                        type: string
                      plans:
                        description: List of plans available for the offer.
                        type: array
                        items:
                          description: Represents a plan item read from the gallery
                            item package.
                          type: object
                          properties:
                            planId:
                              description: Plan identifier.
                              type: string
                            displayName:
                              description: Display name of the plan.
                              type: string
                            summary:
                              description: Summary of the plan.
                              type: string
                            description:
                              description: Description of the plan.
                              type: string
                        x-ms-identifiers:
                        - planId
                        readOnly: true
                  legalTerms:
                    description: Legal terms of the product.
                    type: string
                  privacyPolicy:
                    description: Privacy policy of the product.
                    type: string
                  legalTermsUri:
                    description: URI to the legal terms of the product.
                    type: string
                  privacyPolicyUri:
                    description: URI to the privacy policy of the product.
                    type: string
              x-ms-identifiers:
              - displayName
              readOnly: true
            resourceGroupName:
              description: Resource group name the gallery item belongs too.
              type: string
            definitionTemplates:
              description: Definition template for gallery item.
              readOnly: true
              type: object
              properties:
                uiDefinitionFileUri:
                  description: UI definition file URI.
                  type: string
                defaultDeploymentTemplateId:
                  description: Default deployment template ID.
                  type: string
                deploymentTemplateFileUris:
                  description: List of key-value containing the deployment template
                    file IDs defined in the package manifest.
                  type: object
                  additionalProperties:
                    type: string
                  readOnly: true
                deploymentFragmentFileUris:
                  description: List of key-value pairs containing the deployment fragment
                    file IDs defined in the package manifest.
                  type: object
                  additionalProperties:
                    type: string
                  readOnly: true
            additionalProperties:
              description: List of additional properties provided for the item.
              type: object
              additionalProperties:
                type: string
              readOnly: true
      description: Base Resource Object.
      x-ms-azure-resource: true
    GalleryItemProperties:
      description: Properties of a gallery item.
      type: object
      properties:
        identity:
          description: Identity of the gallery item.
          type: string
        publisher:
          description: The publisher of the gallery item.
          type: string
        publisherDisplayName:
          description: Display name of the publisher.
          type: string
        itemName:
          description: The display name for the gallery item, for the locale of the
            request.
          type: string
        itemDisplayName:
          description: Displayed name in the portal.
          type: string
        version:
          description: The version identifier of the gallery item, in Major.Minor.Build
            format.
          type: string
        summary:
          description: Short summary of the gallery item.
          type: string
        longSummary:
          description: Long summary of the gallery item.
          type: string
        description:
          description: The description of the gallery item.
          type: string
        uiDefinitionUri:
          description: The URL of the view definition object that defines the UI information
            that is used when an instance of the gallery item resource definition
            is created.
          type: string
        createdTime:
          description: The date and time that the gallery item was created.
          format: date-time
          type: string
        changedTime:
          description: Last update time of gallery item.
          format: date-time
          type: string
        marketingMaterial:
          description: Marketing materials for the gallery item.
          type: object
          properties:
            path:
              description: Path to the marketing site.
              type: string
            learnUri:
              description: URI to educational material.
              type: string
        itemType:
          description: Describes the type of the gallery item, either GalleryItem
            or ItemGroup.
          enum:
          - GalleryItem
          - ItemGroup
          type: string
          x-ms-enum:
            name: GalleryItemMenuReferenceType
            modelAsString: true
            values:
            - value: GalleryItem
            - value: ItemGroup
        categoryIds:
          description: List of category IDs the gallery item belongs to.
          type: array
          items:
            type: string
          readOnly: true
        screenshotUris:
          description: List of screenshot image URIs provided for the item.
          type: array
          items:
            type: string
          readOnly: true
        links:
          description: Links provided for the item.
          type: array
          items:
            description: Represents a link item read from the gallery item package.
            type: object
            properties:
              id:
                description: ID of the link.
                type: string
              displayName:
                description: Display name of the link.
                type: string
              uri:
                description: URI of the link.
                type: string
          readOnly: true
        filters:
          description: List of filters for the gallery item.
          type: array
          items:
            description: Represents a filter item.
            type: object
            properties:
              type:
                description: Filter type.
                type: string
              value:
                description: Filter value.
                type: string
          x-ms-identifiers: []
          readOnly: true
        iconFileUris:
          description: URIs to icon files.
          type: object
          properties:
            small:
              description: URI to the small icon.
              type: string
            medium:
              description: URI to the medium icon.
              type: string
            large:
              description: URI to the large icon.
              type: string
            wide:
              description: URI to the wide icon.
              type: string
            hero:
              description: URI to the hero icon.
              type: string
          readOnly: true
        artifacts:
          description: List of artifacts for the gallery item.
          type: array
          items:
            description: Represents gallery item artifacts.
            type: object
            properties:
              name:
                description: Name of the artifact.
                type: string
              uri:
                description: URI to the artifact.
                type: string
              type:
                description: Artifact type.
                enum:
                - template
                - fragment
                - custom
                - metadata
                type: string
                x-ms-enum:
                  name: ArtifactType
                  modelAsString: true
                  values:
                  - value: template
                  - value: fragment
                  - value: custom
                  - value: metadata
          x-ms-identifiers:
          - name
          - type
          readOnly: true
        metadata:
          description: Custom item metadata.
          readOnly: true
          type: object
          properties:
            properties:
              description: Dictionary of dynamic properties.
              type: object
              additionalProperties:
                type: object
              readOnly: true
        properties:
          description: List of properties provided for the gallery item.
          type: object
          additionalProperties:
            type: string
          readOnly: true
        images:
          description: List of images.
          type: array
          items:
            description: Group of images.
            type: object
            properties:
              context:
                description: Image group identifier.
                type: string
              items:
                description: List of images.
                type: array
                items:
                  description: Represents an image item.
                  type: object
                  properties:
                    id:
                      description: ID of the image.
                      type: string
                    uri:
                      description: URI to the image.
                      type: string
                    type:
                      description: Type of image.
                      type: string
                readOnly: true
          x-ms-identifiers: []
          readOnly: true
        products:
          description: List of products.
          type: array
          items:
            description: Represents a product item read from the gallery item package.
            type: object
            properties:
              displayName:
                description: Display name of the product.
                type: string
              publisherDisplayName:
                description: Publisher display name of the product.
                type: string
              pricingDetailsUri:
                description: URI to the pricing details of the product.
                type: string
              offerDetails:
                description: Offer details of the product.
                type: object
                properties:
                  publisherId:
                    description: Publisher identifier.
                    type: string
                  offerId:
                    description: Offer identifier.
                    type: string
                  plans:
                    description: List of plans available for the offer.
                    type: array
                    items:
                      description: Represents a plan item read from the gallery item
                        package.
                      type: object
                      properties:
                        planId:
                          description: Plan identifier.
                          type: string
                        displayName:
                          description: Display name of the plan.
                          type: string
                        summary:
                          description: Summary of the plan.
                          type: string
                        description:
                          description: Description of the plan.
                          type: string
                    x-ms-identifiers:
                    - planId
                    readOnly: true
              legalTerms:
                description: Legal terms of the product.
                type: string
              privacyPolicy:
                description: Privacy policy of the product.
                type: string
              legalTermsUri:
                description: URI to the legal terms of the product.
                type: string
              privacyPolicyUri:
                description: URI to the privacy policy of the product.
                type: string
          x-ms-identifiers:
          - displayName
          readOnly: true
        resourceGroupName:
          description: Resource group name the gallery item belongs too.
          type: string
        definitionTemplates:
          description: Definition template for gallery item.
          readOnly: true
          type: object
          properties:
            uiDefinitionFileUri:
              description: UI definition file URI.
              type: string
            defaultDeploymentTemplateId:
              description: Default deployment template ID.
              type: string
            deploymentTemplateFileUris:
              description: List of key-value containing the deployment template file
                IDs defined in the package manifest.
              type: object
              additionalProperties:
                type: string
              readOnly: true
            deploymentFragmentFileUris:
              description: List of key-value pairs containing the deployment fragment
                file IDs defined in the package manifest.
              type: object
              additionalProperties:
                type: string
              readOnly: true
        additionalProperties:
          description: List of additional properties provided for the item.
          type: object
          additionalProperties:
            type: string
          readOnly: true
    GalleryItemList:
      description: List of gallery items.
      properties:
        value:
          description: List of gallery items.
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                description: URI of the resource.
                type: string
              name:
                readOnly: true
                description: Name of the resource.
                type: string
              type:
                readOnly: true
                description: Type of the resource.
                type: string
              location:
                readOnly: true
                description: Location of the resource.
                type: string
              tags:
                readOnly: true
                description: List of key-value pairs.
                type: object
                additionalProperties:
                  type: string
              properties:
                description: Properties of a gallery item.
                x-ms-client-flatten: true
                type: object
                properties:
                  identity:
                    description: Identity of the gallery item.
                    type: string
                  publisher:
                    description: The publisher of the gallery item.
                    type: string
                  publisherDisplayName:
                    description: Display name of the publisher.
                    type: string
                  itemName:
                    description: The display name for the gallery item, for the locale
                      of the request.
                    type: string
                  itemDisplayName:
                    description: Displayed name in the portal.
                    type: string
                  version:
                    description: The version identifier of the gallery item, in Major.Minor.Build
                      format.
                    type: string
                  summary:
                    description: Short summary of the gallery item.
                    type: string
                  longSummary:
                    description: Long summary of the gallery item.
                    type: string
                  description:
                    description: The description of the gallery item.
                    type: string
                  uiDefinitionUri:
                    description: The URL of the view definition object that defines
                      the UI information that is used when an instance of the gallery
                      item resource definition is created.
                    type: string
                  createdTime:
                    description: The date and time that the gallery item was created.
                    format: date-time
                    type: string
[...]
