openapi: 3.0.0
info:
  version: '3.2'
  title: Computer Vision Client
  description: The Computer Vision API provides state-of-the-art algorithms to process
    images and return information. For example, it can be used to determine if an
    image contains mature content, or it can be used to find all the faces in an image.  It
    also has other features like estimating dominant and accent colors, categorizing
    the content of images, and describing an image with complete English sentences.  Additionally,
    it can also intelligently generate images thumbnails for displaying large images
    effectively.
servers:
- url: https://westcentralus.api.cognitive.microsoft.com/vision/v3.2
- url: '{Endpoint}/vision/v3.2'
  variables:
    Endpoint:
      description: Supported Cognitive Services endpoints.
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
      default: none
security:
- apim_key: []
paths:
  /read/analyze:
    post:
      description: "Use this interface to get the result of a Read operation, employing\
        \ the state-of-the-art Optical Character Recognition (OCR) algorithms optimized\
        \ for text-heavy documents. When you use the Read interface, the response\
        \ contains a field called 'Operation-Location'. The 'Operation-Location' field\
        \ contains the URL that you must use for your 'GetReadResult' operation to\
        \ access OCR results.\u200B"
      operationId: Read
      parameters:
      - name: language
        in: query
        description: The BCP-47 language code of the text in the document. Read supports
          auto language identification and multi-language documents, so only provide
          a language code if you would like to force the document to be processed
          in that specific language. See https://aka.ms/ocr-languages for list of
          supported languages.
        required: false
        x-ms-parameter-location: method
        x-ms-enum:
          name: OcrDetectionLanguage
          modelAsString: true
        schema:
          type: string
          enum:
          - af
          - ast
          - bi
          - br
          - ca
          - ceb
          - ch
          - co
          - crh
          - cs
          - csb
          - da
          - de
          - en
          - es
          - et
          - eu
          - fi
          - fil
          - fj
          - fr
          - fur
          - fy
          - ga
          - gd
          - gil
          - gl
          - gv
          - hni
          - hsb
          - ht
          - hu
          - ia
          - id
          - it
          - iu
          - ja
          - jv
          - kaa
          - kac
          - kea
          - kha
          - kl
          - ko
          - ku
          - kw
          - lb
          - ms
          - mww
          - nap
          - nl
          - 'no'
          - oc
          - pl
          - pt
          - quc
          - rm
          - sco
          - sl
          - sq
          - sv
          - sw
          - tet
          - tr
          - tt
          - uz
          - vo
          - wae
          - yua
          - za
          - zh-Hans
          - zh-Hant
          - zu
      - name: pages
        in: query
        description: Custom page numbers for multi-page documents(PDF/TIFF), input
          the number of the pages you want to get OCR result. For a range of pages,
          use a hyphen. Separate each page or range with a comma.
        required: false
        x-ms-parameter-location: method
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            pattern: ^(\d+|\d+-\d+|\d+-|-\d+)$
      - name: model-version
        in: query
        description: 'Optional parameter to specify the version of the OCR model used
          for text extraction. Accepted values are: "latest", "latest-preview", "2021-04-12".
          Defaults to "latest".'
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^(latest|\d{4}-\d{2}-\d{2})(-preview)?$
          default: latest
      - name: readingOrder
        in: query
        description: Optional parameter to specify which reading order algorithm should
          be applied when ordering the extract text elements. Can be either 'basic'
          or 'natural'. Will default to 'basic' if not specified
        required: false
        x-ms-parameter-location: method
        schema:
          type: string
          default: basic
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              properties:
                url:
                  description: Publicly reachable URL of an image.
                  type: string
        description: A JSON document with a URL pointing to the image that is to be
          analyzed.
        required: true
        x-ms-parameter-location: method
        x-ms-client-flatten: true
      responses:
        '202':
          description: The service has accepted the request and will start processing
            later.
          headers:
            Operation-Location:
              description: 'URL to query for status of the operation. The operation
                ID will expire in 48 hours. '
              schema:
                type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                description: Details about the API request error.
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - InvalidImageFormat
                    - UnsupportedMediaType
                    - InvalidImageUrl
                    - InternalServerError
                    - InvalidImageSize
                    - BadArgument
                    - NotSupportedLanguage
                    - FailedToProcess
                    - Unspecified
                    - StorageException
                    - InvalidPageRange
                    - FailedToDownloadImage
                    - InvalidImage
                    - UnsupportedImageFormat
                    - InvalidImageDimension
                    - InvalidReadingOrder
                    - InvalidRequest
                    x-ms-enum:
                      name: ComputerVisionOcrErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
                  requestId:
                    description: A unique request identifier.
                    type: string
  /read/analyzeResults/{operationId}:
    get:
      description: This interface is used for getting OCR results of Read operation.
        The URL to this interface should be retrieved from 'Operation-Location' field
        returned from Read interface.
      operationId: GetReadResult
      parameters:
      - name: operationId
        in: path
        description: Id of read operation returned in the response of the 'Read' interface.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Returns the read operation status.
          content:
            application/json:
              schema:
                type: object
                description: OCR result of the read operation.
                properties:
                  status:
                    description: Status of the read operation.
                    type: string
                    enum:
                    - notStarted
                    - running
                    - failed
                    - succeeded
                    x-ms-enum:
                      name: OperationStatusCodes
                      modelAsString: false
                    nullable: false
                  createdDateTime:
                    type: string
                    description: Get UTC date time the batch operation was submitted.
                    nullable: false
                  lastUpdatedDateTime:
                    type: string
                    description: Get last updated UTC date time of this batch operation.
                    nullable: false
                  analyzeResult:
                    description: Analyze batch operation result.
                    type: object
                    required:
                    - version
                    - modelVersion
                    - readResults
                    properties:
                      version:
                        description: Version of schema used for this result.
                        type: string
                      modelVersion:
                        description: Version of the OCR model used for text extraction.
                        type: string
                        pattern: ^(latest|\d{4}-\d{2}-\d{2})(-preview)?$
                      readResults:
                        description: Text extracted from the input.
                        type: array
                        items:
                          description: Text extracted from a page in the input document.
                          type: object
                          required:
                          - page
                          - angle
                          - width
                          - height
                          - unit
                          - lines
                          properties:
                            page:
                              description: The 1-based page number of the recognition
                                result.
                              type: integer
                            language:
                              description: The BCP-47 language code of the recognized
                                text page.
                              type: string
                            angle:
                              description: The orientation of the image in degrees
                                in the clockwise direction. Range between [-180, 180).
                              type: number
                            width:
                              description: The width of the image in pixels or the
                                PDF in inches.
                              type: number
                            height:
                              description: The height of the image in pixels or the
                                PDF in inches.
                              type: number
                            unit:
                              description: The unit used in the Width, Height and
                                BoundingBox. For images, the unit is 'pixel'. For
                                PDF, the unit is 'inch'.
                              type: string
                              enum:
                              - pixel
                              - inch
                              x-ms-enum:
                                name: TextRecognitionResultDimensionUnit
                                modelAsString: false
                              nullable: false
                            lines:
                              description: A list of recognized text lines.
                              type: array
                              items:
                                description: An object representing a recognized text
                                  line.
                                type: object
                                required:
                                - boundingBox
                                - text
                                - words
                                properties:
                                  language:
                                    description: The BCP-47 language code of the recognized
                                      text line. Only provided where the language
                                      of the line differs from the page's.
                                    type: string
                                  boundingBox:
                                    description: Bounding box of a recognized line.
                                    type: array
                                    items:
                                      type: number
                                      nullable: false
                                  appearance:
                                    description: Appearance of the text line.
                                    type: object
                                    required:
                                    - style
                                    properties:
                                      style:
                                        description: An object representing the style
                                          of the text line.
                                        type: object
                                        required:
                                        - name
                                        - confidence
                                        properties:
                                          name:
                                            description: The text line style name,
                                              including handwriting and other.
                                            type: string
                                            x-ms-enum:
                                              name: TextStyle
                                              modelAsString: true
                                            enum:
                                            - other
                                            - handwriting
                                          confidence:
                                            description: The confidence of text line
                                              style.
                                            type: number
                                            format: float
                                  text:
                                    description: The text content of the line.
                                    type: string
                                  words:
                                    description: List of words in the text line.
                                    type: array
                                    items:
                                      description: An object representing a recognized
                                        word.
                                      type: object
                                      required:
                                      - boundingBox
                                      - text
                                      - confidence
                                      properties:
                                        boundingBox:
                                          description: Bounding box of a recognized
                                            word.
                                          type: array
                                          items:
                                            type: number
                                            nullable: false
                                        text:
                                          description: The text content of the word.
                                          type: string
                                        confidence:
                                          description: Qualitative confidence measure.
                                          type: number
                                          format: float
        default:
          description: Error response.
          content:
            application/json:
              schema:
                description: Details about the API request error.
                required:
                - code
                - message
                type: object
                properties:
                  code:
                    description: The error code.
                    enum:
                    - InvalidImageFormat
                    - UnsupportedMediaType
                    - InvalidImageUrl
                    - InternalServerError
                    - InvalidImageSize
                    - BadArgument
                    - NotSupportedLanguage
                    - FailedToProcess
                    - Unspecified
                    - StorageException
                    - InvalidPageRange
                    - FailedToDownloadImage
                    - InvalidImage
                    - UnsupportedImageFormat
                    - InvalidImageDimension
                    - InvalidReadingOrder
                    - InvalidRequest
                    x-ms-enum:
                      name: ComputerVisionOcrErrorCodes
                      modelAsString: true
                  message:
                    description: A message explaining the error reported by the service.
                    type: string
                  requestId:
                    description: A unique request identifier.
                    type: string
components:
  parameters:
    OcrDetectionLanguage:
      name: language
      in: query
      description: The BCP-47 language code of the text in the document. Read supports
        auto language identification and multi-language documents, so only provide
        a language code if you would like to force the document to be processed in
        that specific language. See https://aka.ms/ocr-languages for list of supported
        languages.
      required: false
      x-ms-parameter-location: method
      x-ms-enum:
        name: OcrDetectionLanguage
        modelAsString: true
      schema:
        type: string
        enum:
        - af
        - ast
        - bi
        - br
        - ca
        - ceb
        - ch
        - co
        - crh
        - cs
        - csb
        - da
        - de
        - en
        - es
        - et
        - eu
        - fi
        - fil
        - fj
        - fr
        - fur
        - fy
        - ga
        - gd
        - gil
        - gl
        - gv
        - hni
        - hsb
        - ht
        - hu
        - ia
        - id
        - it
        - iu
        - ja
        - jv
        - kaa
        - kac
        - kea
        - kha
        - kl
        - ko
        - ku
        - kw
        - lb
        - ms
        - mww
        - nap
        - nl
        - 'no'
        - oc
        - pl
        - pt
        - quc
        - rm
        - sco
        - sl
        - sq
        - sv
        - sw
        - tet
        - tr
        - tt
        - uz
        - vo
        - wae
        - yua
        - za
        - zh-Hans
        - zh-Hant
        - zu
    Endpoint:
      name: Endpoint
      description: Supported Cognitive Services endpoints.
      x-ms-parameter-location: client
      required: true
      in: path
      x-ms-skip-url-encoding: true
      schema:
        type: string
    Pages:
      name: pages
      in: query
      description: Custom page numbers for multi-page documents(PDF/TIFF), input the
        number of the pages you want to get OCR result. For a range of pages, use
        a hyphen. Separate each page or range with a comma.
      required: false
      x-ms-parameter-location: method
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          pattern: ^(\d+|\d+-\d+|\d+-|-\d+)$
    OcrModelVersion:
      name: model-version
      in: query
      description: 'Optional parameter to specify the version of the OCR model used
        for text extraction. Accepted values are: "latest", "latest-preview", "2021-04-12".
        Defaults to "latest".'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
        pattern: ^(latest|\d{4}-\d{2}-\d{2})(-preview)?$
        default: latest
    ReadingOrder:
      name: readingOrder
      in: query
      description: Optional parameter to specify which reading order algorithm should
        be applied when ordering the extract text elements. Can be either 'basic'
        or 'natural'. Will default to 'basic' if not specified
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
        default: basic
  securitySchemes:
    apim_key:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
  schemas:
    ReadOperationResult:
      type: object
      description: OCR result of the read operation.
      properties:
        status:
          description: Status of the read operation.
          type: string
          enum:
          - notStarted
          - running
          - failed
          - succeeded
          x-ms-enum:
            name: OperationStatusCodes
            modelAsString: false
          nullable: false
        createdDateTime:
          type: string
          description: Get UTC date time the batch operation was submitted.
          nullable: false
        lastUpdatedDateTime:
          type: string
          description: Get last updated UTC date time of this batch operation.
          nullable: false
        analyzeResult:
          description: Analyze batch operation result.
          type: object
          required:
          - version
          - modelVersion
          - readResults
          properties:
            version:
              description: Version of schema used for this result.
              type: string
            modelVersion:
              description: Version of the OCR model used for text extraction.
              type: string
              pattern: ^(latest|\d{4}-\d{2}-\d{2})(-preview)?$
            readResults:
              description: Text extracted from the input.
              type: array
              items:
                description: Text extracted from a page in the input document.
                type: object
                required:
                - page
                - angle
                - width
                - height
                - unit
                - lines
                properties:
                  page:
                    description: The 1-based page number of the recognition result.
                    type: integer
                  language:
                    description: The BCP-47 language code of the recognized text page.
                    type: string
                  angle:
                    description: The orientation of the image in degrees in the clockwise
                      direction. Range between [-180, 180).
                    type: number
                  width:
                    description: The width of the image in pixels or the PDF in inches.
                    type: number
                  height:
                    description: The height of the image in pixels or the PDF in inches.
                    type: number
                  unit:
                    description: The unit used in the Width, Height and BoundingBox.
                      For images, the unit is 'pixel'. For PDF, the unit is 'inch'.
                    type: string
                    enum:
                    - pixel
                    - inch
                    x-ms-enum:
                      name: TextRecognitionResultDimensionUnit
                      modelAsString: false
                    nullable: false
                  lines:
                    description: A list of recognized text lines.
                    type: array
                    items:
                      description: An object representing a recognized text line.
                      type: object
                      required:
                      - boundingBox
                      - text
                      - words
                      properties:
                        language:
                          description: The BCP-47 language code of the recognized
                            text line. Only provided where the language of the line
                            differs from the page's.
                          type: string
                        boundingBox:
                          description: Bounding box of a recognized line.
                          type: array
                          items:
                            type: number
                            nullable: false
                        appearance:
                          description: Appearance of the text line.
                          type: object
                          required:
                          - style
                          properties:
                            style:
                              description: An object representing the style of the
                                text line.
                              type: object
                              required:
                              - name
                              - confidence
                              properties:
                                name:
                                  description: The text line style name, including
                                    handwriting and other.
                                  type: string
                                  x-ms-enum:
                                    name: TextStyle
                                    modelAsString: true
                                  enum:
                                  - other
                                  - handwriting
                                confidence:
                                  description: The confidence of text line style.
                                  type: number
                                  format: float
                        text:
                          description: The text content of the line.
                          type: string
                        words:
                          description: List of words in the text line.
                          type: array
                          items:
                            description: An object representing a recognized word.
                            type: object
                            required:
                            - boundingBox
                            - text
                            - confidence
                            properties:
                              boundingBox:
                                description: Bounding box of a recognized word.
                                type: array
                                items:
                                  type: number
                                  nullable: false
                              text:
                                description: The text content of the word.
                                type: string
                              confidence:
                                description: Qualitative confidence measure.
                                type: number
                                format: float
    OperationStatus:
      type: string
      description: Status code of the text operation.
      enum:
      - notStarted
      - running
      - failed
      - succeeded
      x-ms-enum:
        name: OperationStatusCodes
        modelAsString: false
      nullable: false
    ReadResult:
      description: Text extracted from a page in the input document.
      type: object
      required:
      - page
      - angle
      - width
      - height
      - unit
      - lines
      properties:
        page:
          description: The 1-based page number of the recognition result.
          type: integer
        language:
          description: The BCP-47 language code of the recognized text page.
          type: string
        angle:
          description: The orientation of the image in degrees in the clockwise direction.
            Range between [-180, 180).
          type: number
        width:
          description: The width of the image in pixels or the PDF in inches.
          type: number
        height:
          description: The height of the image in pixels or the PDF in inches.
          type: number
        unit:
          description: The unit used in the Width, Height and BoundingBox. For images,
            the unit is 'pixel'. For PDF, the unit is 'inch'.
          type: string
          enum:
          - pixel
          - inch
          x-ms-enum:
            name: TextRecognitionResultDimensionUnit
            modelAsString: false
          nullable: false
        lines:
          description: A list of recognized text lines.
          type: array
          items:
            description: An object representing a recognized text line.
            type: object
            required:
            - boundingBox
            - text
            - words
            properties:
              language:
                description: The BCP-47 language code of the recognized text line.
                  Only provided where the language of the line differs from the page's.
                type: string
              boundingBox:
                description: Bounding box of a recognized line.
                type: array
                items:
                  type: number
                  nullable: false
              appearance:
                description: Appearance of the text line.
                type: object
                required:
                - style
                properties:
                  style:
                    description: An object representing the style of the text line.
                    type: object
                    required:
                    - name
                    - confidence
                    properties:
                      name:
                        description: The text line style name, including handwriting
                          and other.
                        type: string
                        x-ms-enum:
                          name: TextStyle
                          modelAsString: true
                        enum:
                        - other
                        - handwriting
                      confidence:
                        description: The confidence of text line style.
                        type: number
                        format: float
              text:
                description: The text content of the line.
                type: string
              words:
                description: List of words in the text line.
                type: array
                items:
                  description: An object representing a recognized word.
                  type: object
                  required:
                  - boundingBox
                  - text
                  - confidence
                  properties:
                    boundingBox:
                      description: Bounding box of a recognized word.
                      type: array
                      items:
                        type: number
                        nullable: false
                    text:
                      description: The text content of the word.
                      type: string
                    confidence:
                      description: Qualitative confidence measure.
                      type: number
                      format: float
    analyzeResults:
      description: Analyze batch operation result.
      type: object
      required:
      - version
      - modelVersion
      - readResults
      properties:
        version:
          description: Version of schema used for this result.
          type: string
        modelVersion:
          description: Version of the OCR model used for text extraction.
          type: string
          pattern: ^(latest|\d{4}-\d{2}-\d{2})(-preview)?$
        readResults:
          description: Text extracted from the input.
          type: array
          items:
            description: Text extracted from a page in the input document.
            type: object
            required:
            - page
            - angle
            - width
            - height
            - unit
            - lines
            properties:
              page:
                description: The 1-based page number of the recognition result.
                type: integer
              language:
                description: The BCP-47 language code of the recognized text page.
                type: string
              angle:
                description: The orientation of the image in degrees in the clockwise
                  direction. Range between [-180, 180).
                type: number
              width:
                description: The width of the image in pixels or the PDF in inches.
                type: number
              height:
                description: The height of the image in pixels or the PDF in inches.
                type: number
              unit:
                description: The unit used in the Width, Height and BoundingBox. For
                  images, the unit is 'pixel'. For PDF, the unit is 'inch'.
                type: string
                enum:
                - pixel
                - inch
                x-ms-enum:
                  name: TextRecognitionResultDimensionUnit
                  modelAsString: false
                nullable: false
              lines:
                description: A list of recognized text lines.
                type: array
                items:
                  description: An object representing a recognized text line.
                  type: object
                  required:
                  - boundingBox
                  - text
                  - words
                  properties:
                    language:
                      description: The BCP-47 language code of the recognized text
                        line. Only provided where the language of the line differs
                        from the page's.
                      type: string
                    boundingBox:
                      description: Bounding box of a recognized line.
                      type: array
                      items:
                        type: number
                        nullable: false
                    appearance:
                      description: Appearance of the text line.
                      type: object
                      required:
                      - style
                      properties:
                        style:
                          description: An object representing the style of the text
                            line.
                          type: object
                          required:
                          - name
                          - confidence
                          properties:
                            name:
                              description: The text line style name, including handwriting
                                and other.
                              type: string
                              x-ms-enum:
                                name: TextStyle
                                modelAsString: true
                              enum:
                              - other
                              - handwriting
                            confidence:
                              description: The confidence of text line style.
                              type: number
                              format: float
                    text:
                      description: The text content of the line.
                      type: string
                    words:
                      description: List of words in the text line.
                      type: array
                      items:
                        description: An object representing a recognized word.
                        type: object
                        required:
                        - boundingBox
                        - text
                        - confidence
                        properties:
                          boundingBox:
                            description: Bounding box of a recognized word.
                            type: array
                            items:
                              type: number
                              nullable: false
                          text:
                            description: The text content of the word.
                            type: string
                          confidence:
                            description: Qualitative confidence measure.
                            type: number
                            format: float
    Line:
      description: An object representing a recognized text line.
      type: object
      required:
      - boundingBox
      - text
      - words
      properties:
        language:
          description: The BCP-47 language code of the recognized text line. Only
            provided where the language of the line differs from the page's.
          type: string
        boundingBox:
          description: Bounding box of a recognized line.
          type: array
          items:
            type: number
            nullable: false
        appearance:
          description: Appearance of the text line.
          type: object
          required:
          - style
          properties:
            style:
              description: An object representing the style of the text line.
              type: object
              required:
              - name
              - confidence
              properties:
                name:
                  description: The text line style name, including handwriting and
                    other.
                  type: string
                  x-ms-enum:
                    name: TextStyle
                    modelAsString: true
                  enum:
                  - other
                  - handwriting
                confidence:
                  description: The confidence of text line style.
                  type: number
                  format: float
        text:
          description: The text content of the line.
          type: string
        words:
          description: List of words in the text line.
          type: array
          items:
            description: An object representing a recognized word.
            type: object
            required:
            - boundingBox
            - text
            - confidence
            properties:
              boundingBox:
                description: Bounding box of a recognized word.
                type: array
                items:
                  type: number
                  nullable: false
              text:
                description: The text content of the word.
                type: string
              confidence:
                description: Qualitative confidence measure.
                type: number
                format: float
    Word:
      description: An object representing a recognized word.
      type: object
      required:
      - boundingBox
      - text
      - confidence
      properties:
        boundingBox:
          description: Bounding box of a recognized word.
          type: array
          items:
            type: number
            nullable: false
        text:
          description: The text content of the word.
          type: string
        confidence:
          description: Qualitative confidence measure.
          type: number
          format: float
    BoundingBox:
      description: Quadrangle bounding box, with coordinates in original image. The
        eight numbers represent the four points (x-coordinate, y-coordinate from the
        left-top corner of the image) of the detected rectangle from the left-top
        corner in the clockwise direction. For images, coordinates are in pixels.
        For PDF, coordinates are in inches.
      type: array
      items:
        type: number
        nullable: false
    Appearance:
      description: An object representing the appearance of the text line.
      type: object
      required:
      - style
      properties:
        style:
          description: An object representing the style of the text line.
          type: object
          required:
          - name
          - confidence
          properties:
            name:
              description: The text line style name, including handwriting and other.
              type: string
              x-ms-enum:
                name: TextStyle
                modelAsString: true
              enum:
              - other
              - handwriting
            confidence:
              description: The confidence of text line style.
              type: number
              format: float
    Style:
      description: An object representing the style of the text line.
      type: object
      required:
      - name
      - confidence
      properties:
        name:
          description: The text line style name, including handwriting and other.
          type: string
          x-ms-enum:
            name: TextStyle
            modelAsString: true
          enum:
          - other
          - handwriting
        confidence:
          description: The confidence of text line style.
          type: number
          format: float
    ComputerVisionOcrError:
      description: Details about the API request error.
      required:
      - code
      - message
      type: object
      properties:
        code:
          description: The error code.
          enum:
          - InvalidImageFormat
          - UnsupportedMediaType
          - InvalidImageUrl
          - InternalServerError
          - InvalidImageSize
          - BadArgument
          - NotSupportedLanguage
          - FailedToProcess
          - Unspecified
          - StorageException
          - InvalidPageRange
          - FailedToDownloadImage
          - InvalidImage
          - UnsupportedImageFormat
          - InvalidImageDimension
          - InvalidReadingOrder
          - InvalidRequest
          x-ms-enum:
            name: ComputerVisionOcrErrorCodes
            modelAsString: true
        message:
          description: A message explaining the error reported by the service.
          type: string
        requestId:
          description: A unique request identifier.
          type: string
    ImageUrl:
      type: object
      required:
      - url
      properties:
        url:
          description: Publicly reachable URL of an image.
          type: string
x-ms-paths:
  /read/analyze?overload=stream:
    post:
      description: "Use this interface to get the result of a Read operation, employing\
        \ the state-of-the-art Optical Character Recognition (OCR) algorithms optimized\
        \ for text-heavy documents. When you use the Read interface, the response\
        \ contains a field called 'Operation-Location'. The 'Operation-Location' field\
        \ contains the URL that you must use for your 'GetReadResult' operation to\
        \ access OCR results.\u200B"
      operationId: ReadInStream
      parameters:
      - $ref: '#/components/parameters/OcrDetectionLanguage'
      - $ref: '#/components/parameters/Pages'
      - $ref: '#/components/parameters/OcrModelVersion'
      - $ref: '#/components/parameters/ReadingOrder'
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: object
              format: file
        description: An image stream.
        required: true
        x-ms-parameter-location: method
      responses:
        '202':
          description: The service has accepted the request and will start processing
            later.
          headers:
            Operation-Location:
              description: 'URL to query for status of the operation. The operation
                ID will expire in 48 hours. '
              schema:
                type: string
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerVisionOcrError'
