openapi: 3.0.0
info:
  version: 2022-11-01
  title: Billing benefits RP
  description: Azure Benefits RP let users create and manage benefits like savings
    plan.
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.BillingBenefits/operations:
    get:
      summary: Get operations.
      description: List all the operations.
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      tags:
      - Benefits operations
      responses:
        '200':
          description: List all the operations.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/{savingsPlanOrderAliasName}:
    put:
      description: Create a savings plan. Learn more about permissions needed at https://go.microsoft.com/fwlink/?linkid=2215851
      operationId: SavingsPlanOrderAlias_Create
      externalDocs:
        url: https://go.microsoft.com/fwlink/?linkid=2215851/
      tags:
      - Savings plan order aliases
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      parameters:
      - name: savingsPlanOrderAliasName
        x-ms-parameter-location: method
        in: path
        required: true
        description: Name of the savings plan order alias
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_\-\.]+$
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  type: object
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                sku:
                  description: Savings plan SKU
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the SKU to be applied
                kind:
                  type: string
                  description: Resource provider kind
                properties:
                  description: Savings plan order alias properties
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    displayName:
                      type: string
                      description: Display name
                    savingsPlanOrderId:
                      type: string
                      description: Identifier of the savings plan created
                      readOnly: true
                    provisioningState:
                      type: string
                      description: Provisioning state
                      readOnly: true
                      enum:
                      - Creating
                      - PendingBilling
                      - ConfirmedBilling
                      - Created
                      - Succeeded
                      - Cancelled
                      - Expired
                      - Failed
                      x-ms-enum:
                        name: ProvisioningState
                        modelAsString: true
                    billingScopeId:
                      type: string
                      description: Subscription that will be charged for purchasing
                        the benefit
                    term:
                      type: string
                      description: Represent benefit term in ISO 8601 format.
                      enum:
                      - P1Y
                      - P3Y
                      - P5Y
                      x-ms-enum:
                        name: Term
                        modelAsString: true
                    billingPlan:
                      type: string
                      description: Represents the billing plan in ISO 8601 format.
                        Required only for monthly billing plans.
                      enum:
                      - P1M
                      x-ms-enum:
                        name: BillingPlan
                        modelAsString: true
                    appliedScopeType:
                      type: string
                      description: Type of the Applied Scope.
                      enum:
                      - Single
                      - Shared
                      - ManagementGroup
                      x-ms-enum:
                        name: AppliedScopeType
                        modelAsString: true
                    appliedScopeProperties:
                      type: object
                      description: Properties specific to applied scope type. Not
                        required if not applicable.
                      properties:
                        tenantId:
                          type: string
                          description: Tenant ID where the benefit is applied.
                        managementGroupId:
                          type: string
                          description: Fully-qualified identifier of the management
                            group where the benefit must be applied.
                        subscriptionId:
                          type: string
                          description: Fully-qualified identifier of the subscription.
                        resourceGroupId:
                          type: string
                          description: Fully-qualified identifier of the resource
                            group.
                        displayName:
                          type: string
                          description: Display name
                    commitment:
                      type: object
                      properties:
                        currencyCode:
                          type: string
                          description: The ISO 4217 3-letter currency code for the
                            currency used by this purchase record.
                        amount:
                          type: number
                          format: double
                        grain:
                          type: string
                          description: Commitment grain.
                          enum:
                          - Hourly
                          x-ms-enum:
                            name: CommitmentGrain
                            modelAsString: true
                      description: Commitment towards the benefit.
                    renew:
                      type: boolean
                      default: false
                      description: Setting this to true will automatically purchase
                        a new benefit on the expiration date time.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              required:
              - sku
        description: Request body for creating a savings plan order alias
        required: true
        x-ms-parameter-location: method
      responses:
        '200':
          description: The resource has been created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  sku:
                    description: Savings plan SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU to be applied
                  kind:
                    type: string
                    description: Resource provider kind
                  properties:
                    description: Savings plan order alias properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Display name
                      savingsPlanOrderId:
                        type: string
                        description: Identifier of the savings plan created
                        readOnly: true
                      provisioningState:
                        type: string
                        description: Provisioning state
                        readOnly: true
                        enum:
                        - Creating
                        - PendingBilling
                        - ConfirmedBilling
                        - Created
                        - Succeeded
                        - Cancelled
                        - Expired
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingScopeId:
                        type: string
                        description: Subscription that will be charged for purchasing
                          the benefit
                      term:
                        type: string
                        description: Represent benefit term in ISO 8601 format.
                        enum:
                        - P1Y
                        - P3Y
                        - P5Y
                        x-ms-enum:
                          name: Term
                          modelAsString: true
                      billingPlan:
                        type: string
                        description: Represents the billing plan in ISO 8601 format.
                          Required only for monthly billing plans.
                        enum:
                        - P1M
                        x-ms-enum:
                          name: BillingPlan
                          modelAsString: true
                      appliedScopeType:
                        type: string
                        description: Type of the Applied Scope.
                        enum:
                        - Single
                        - Shared
                        - ManagementGroup
                        x-ms-enum:
                          name: AppliedScopeType
                          modelAsString: true
                      appliedScopeProperties:
                        type: object
                        description: Properties specific to applied scope type. Not
                          required if not applicable.
                        properties:
                          tenantId:
                            type: string
                            description: Tenant ID where the benefit is applied.
                          managementGroupId:
                            type: string
                            description: Fully-qualified identifier of the management
                              group where the benefit must be applied.
                          subscriptionId:
                            type: string
                            description: Fully-qualified identifier of the subscription.
                          resourceGroupId:
                            type: string
                            description: Fully-qualified identifier of the resource
                              group.
                          displayName:
                            type: string
                            description: Display name
                      commitment:
                        type: object
                        properties:
                          currencyCode:
                            type: string
                            description: The ISO 4217 3-letter currency code for the
                              currency used by this purchase record.
                          amount:
                            type: number
                            format: double
                          grain:
                            type: string
                            description: Commitment grain.
                            enum:
                            - Hourly
                            x-ms-enum:
                              name: CommitmentGrain
                              modelAsString: true
                        description: Commitment towards the benefit.
                      renew:
                        type: boolean
                        default: false
                        description: Setting this to true will automatically purchase
                          a new benefit on the expiration date time.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - sku
        '201':
          description: The request is being processed.
          headers:
            Azure-AsyncOperation:
              description: URL for checking the ongoing status of the operation.
              schema:
                type: string
            Retry-After:
              description: Clients should wait for the Retry-After interval before
                polling again
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  sku:
                    description: Savings plan SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU to be applied
                  kind:
                    type: string
                    description: Resource provider kind
                  properties:
                    description: Savings plan order alias properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Display name
                      savingsPlanOrderId:
                        type: string
                        description: Identifier of the savings plan created
                        readOnly: true
                      provisioningState:
                        type: string
                        description: Provisioning state
                        readOnly: true
                        enum:
                        - Creating
                        - PendingBilling
                        - ConfirmedBilling
                        - Created
                        - Succeeded
                        - Cancelled
                        - Expired
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingScopeId:
                        type: string
                        description: Subscription that will be charged for purchasing
                          the benefit
                      term:
                        type: string
                        description: Represent benefit term in ISO 8601 format.
                        enum:
                        - P1Y
                        - P3Y
                        - P5Y
                        x-ms-enum:
                          name: Term
                          modelAsString: true
                      billingPlan:
                        type: string
                        description: Represents the billing plan in ISO 8601 format.
                          Required only for monthly billing plans.
                        enum:
                        - P1M
                        x-ms-enum:
                          name: BillingPlan
                          modelAsString: true
                      appliedScopeType:
                        type: string
                        description: Type of the Applied Scope.
                        enum:
                        - Single
                        - Shared
                        - ManagementGroup
                        x-ms-enum:
                          name: AppliedScopeType
                          modelAsString: true
                      appliedScopeProperties:
                        type: object
                        description: Properties specific to applied scope type. Not
                          required if not applicable.
                        properties:
                          tenantId:
                            type: string
                            description: Tenant ID where the benefit is applied.
                          managementGroupId:
                            type: string
                            description: Fully-qualified identifier of the management
                              group where the benefit must be applied.
                          subscriptionId:
                            type: string
                            description: Fully-qualified identifier of the subscription.
                          resourceGroupId:
                            type: string
                            description: Fully-qualified identifier of the resource
                              group.
                          displayName:
                            type: string
                            description: Display name
                      commitment:
                        type: object
                        properties:
                          currencyCode:
                            type: string
                            description: The ISO 4217 3-letter currency code for the
                              currency used by this purchase record.
                          amount:
                            type: number
                            format: double
                          grain:
                            type: string
                            description: Commitment grain.
                            enum:
                            - Hourly
                            x-ms-enum:
                              name: CommitmentGrain
                              modelAsString: true
                        description: Commitment towards the benefit.
                      renew:
                        type: boolean
                        default: false
                        description: Setting this to true will automatically purchase
                          a new benefit on the expiration date time.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - sku
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    get:
      description: Get a savings plan.
      operationId: SavingsPlanOrderAlias_Get
      tags:
      - Savings plan order aliases
      parameters:
      - name: savingsPlanOrderAliasName
        x-ms-parameter-location: method
        in: path
        required: true
        description: Name of the savings plan order alias
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_\-\.]+$
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  sku:
                    description: Savings plan SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU to be applied
                  kind:
                    type: string
                    description: Resource provider kind
                  properties:
                    description: Savings plan order alias properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Display name
                      savingsPlanOrderId:
                        type: string
                        description: Identifier of the savings plan created
                        readOnly: true
                      provisioningState:
                        type: string
                        description: Provisioning state
                        readOnly: true
                        enum:
                        - Creating
                        - PendingBilling
                        - ConfirmedBilling
                        - Created
                        - Succeeded
                        - Cancelled
                        - Expired
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingScopeId:
                        type: string
                        description: Subscription that will be charged for purchasing
                          the benefit
                      term:
                        type: string
                        description: Represent benefit term in ISO 8601 format.
                        enum:
                        - P1Y
                        - P3Y
                        - P5Y
                        x-ms-enum:
                          name: Term
                          modelAsString: true
                      billingPlan:
                        type: string
                        description: Represents the billing plan in ISO 8601 format.
                          Required only for monthly billing plans.
                        enum:
                        - P1M
                        x-ms-enum:
                          name: BillingPlan
                          modelAsString: true
                      appliedScopeType:
                        type: string
                        description: Type of the Applied Scope.
                        enum:
                        - Single
                        - Shared
                        - ManagementGroup
                        x-ms-enum:
                          name: AppliedScopeType
                          modelAsString: true
                      appliedScopeProperties:
                        type: object
                        description: Properties specific to applied scope type. Not
                          required if not applicable.
                        properties:
                          tenantId:
                            type: string
                            description: Tenant ID where the benefit is applied.
                          managementGroupId:
                            type: string
                            description: Fully-qualified identifier of the management
                              group where the benefit must be applied.
                          subscriptionId:
                            type: string
                            description: Fully-qualified identifier of the subscription.
                          resourceGroupId:
                            type: string
                            description: Fully-qualified identifier of the resource
                              group.
                          displayName:
                            type: string
                            description: Display name
                      commitment:
                        type: object
                        properties:
                          currencyCode:
                            type: string
                            description: The ISO 4217 3-letter currency code for the
                              currency used by this purchase record.
                          amount:
                            type: number
                            format: double
                          grain:
                            type: string
                            description: Commitment grain.
                            enum:
                            - Hourly
                            x-ms-enum:
                              name: CommitmentGrain
                              modelAsString: true
                        description: Commitment towards the benefit.
                      renew:
                        type: boolean
                        default: false
                        description: Setting this to true will automatically purchase
                          a new benefit on the expiration date time.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - sku
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}:
    get:
      description: Get a savings plan order.
      operationId: SavingsPlanOrder_Get
      tags:
      - Savings plan order
      parameters:
      - name: savingsPlanOrderId
        x-ms-parameter-location: method
        in: path
        required: true
        description: Order ID of the savings plan
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      - name: $expand
        description: May be used to expand the detail information of some properties.
        in: query
        x-ms-parameter-location: client
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    type: object
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  sku:
                    description: Savings plan SKU
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the SKU to be applied
                  properties:
                    description: Savings plan order properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      displayName:
                        type: string
                        description: Display name
                      provisioningState:
                        type: string
                        description: Provisioning state
                        readOnly: true
                        enum:
                        - Creating
                        - PendingBilling
                        - ConfirmedBilling
                        - Created
                        - Succeeded
                        - Cancelled
                        - Expired
                        - Failed
                        x-ms-enum:
                          name: ProvisioningState
                          modelAsString: true
                      billingScopeId:
                        type: string
                        description: Subscription that will be charged for purchasing
                          the benefit
                      billingProfileId:
                        type: string
                        readOnly: true
                        description: Fully-qualified identifier of the billing profile
                          where the savings plan is applied. Present only for Field-led
                          or Customer-led customers.
                      customerId:
                        type: string
                        readOnly: true
                        description: Fully-qualified identifier of the customer where
                          the savings plan is applied. Present only for Partner-led
                          customers.
                      billingAccountId:
                        type: string
                        readOnly: true
                        description: Fully-qualified identifier of the billing account
                          where the savings plan is applied. Present only for Enterprise
                          Agreement customers.
                      term:
                        type: string
                        description: Represent benefit term in ISO 8601 format.
                        enum:
                        - P1Y
                        - P3Y
                        - P5Y
                        x-ms-enum:
                          name: Term
                          modelAsString: true
                      billingPlan:
                        type: string
                        description: Represents the billing plan in ISO 8601 format.
                          Required only for monthly billing plans.
                        enum:
                        - P1M
                        x-ms-enum:
                          name: BillingPlan
                          modelAsString: true
                      expiryDateTime:
                        type: string
                        description: Expiry date time
                        readOnly: true
                        format: date-time
                      benefitStartTime:
                        type: string
                        format: date-time
                        description: This is the DateTime when the savings plan benefit
                          started.
                      planInformation:
                        type: object
                        description: Information describing the type of billing plan
                          for this savings plan.
                        properties:
                          pricingCurrencyTotal:
                            description: Amount of money to be paid for the Order.
                              Tax is not included.
                            type: object
                            properties:
                              currencyCode:
                                type: string
                                description: The ISO 4217 3-letter currency code for
                                  the currency used by this purchase record.
                              amount:
                                type: number
                                format: double
                          startDate:
                            type: string
                            format: date
                            description: Date when the billing plan has started.
                          nextPaymentDueDate:
                            type: string
                            format: date
                            description: For recurring billing plans, indicates the
                              date when next payment will be processed. Null when
                              total is paid off.
                          transactions:
                            type: array
                            items:
                              type: object
                              description: Information about payment related to a
                                savings plan order.
                              properties:
                                dueDate:
                                  type: string
                                  format: date
                                  description: Date when the payment needs to be done.
                                paymentDate:
                                  type: string
                                  format: date
                                  description: Date when the transaction is completed.
                                    Is null when it is scheduled.
                                pricingCurrencyTotal:
                                  description: Amount in pricing currency. Tax not
                                    included.
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                                billingCurrencyTotal:
                                  description: Amount charged in Billing currency.
                                    Tax not included. Is null for future payments
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                                status:
                                  type: string
                                  description: Describes whether the payment is completed,
                                    failed, cancelled or scheduled in the future.
                                  enum:
                                  - Succeeded
                                  - Failed
                                  - Scheduled
                                  - Cancelled
                                  x-ms-enum:
                                    name: PaymentStatus
                                    modelAsString: true
                                extendedStatusInfo:
                                  type: object
                                  readOnly: true
                                  properties:
                                    statusCode:
                                      type: string
                                      description: Status code providing additional
                                        information.
                                    message:
                                      type: string
                                      description: The message giving detailed information
                                        about the status code.
                                billingAccount:
                                  type: string
                                  description: Billing account
                            x-ms-identifiers: []
                      savingsPlans:
                        type: array
                        items:
                          type: string
                          description: Identifier of the savings plan
                          readOnly: true
                      extendedStatusInfo:
                        type: object
                        readOnly: true
                        properties:
                          statusCode:
                            type: string
                            description: Status code providing additional information.
                          message:
                            type: string
                            description: The message giving detailed information about
                              the status code.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                required:
                - sku
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/elevate:
    post:
      description: Elevate as owner on savings plan order based on billing permissions.
      operationId: SavingsPlanOrder_Elevate
      tags:
      - Savings plan order
      parameters:
      - name: savingsPlanOrderId
        x-ms-parameter-location: method
        in: path
        required: true
        description: Order ID of the savings plan
        schema:
          type: string
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                type: object
                description: Role assignment entity
                properties:
                  id:
                    description: Role assignment entity id
                    type: string
                  name:
                    description: Role assignment entity name
                    type: string
                  properties:
                    description: Role assignment entity properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      principalId:
                        description: Principal Id
                        type: string
                      roleDefinitionId:
                        description: Role definition id
                        type: string
                      scope:
                        description: Scope of the role assignment entity
                        type: string
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
  /providers/Microsoft.BillingBenefits/savingsPlanOrders:
    get:
      description: List all Savings plan orders.
      operationId: SavingsPlanOrder_List
      tags:
      - Savings plan order
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
      - name: api-version
        in: query
        x-ms-parameter-location: client
        required: true
        description: The api-version to be used by the service
        schema:
          type: string
      responses:
        '200':
          description: The request is completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          type: object
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        sku:
                          description: Savings plan SKU
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the SKU to be applied
                        properties:
                          description: Savings plan order properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: Display name
                            provisioningState:
                              type: string
                              description: Provisioning state
                              readOnly: true
                              enum:
                              - Creating
                              - PendingBilling
                              - ConfirmedBilling
                              - Created
                              - Succeeded
                              - Cancelled
                              - Expired
                              - Failed
                              x-ms-enum:
                                name: ProvisioningState
                                modelAsString: true
                            billingScopeId:
                              type: string
                              description: Subscription that will be charged for purchasing
                                the benefit
                            billingProfileId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the billing
                                profile where the savings plan is applied. Present
                                only for Field-led or Customer-led customers.
                            customerId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the customer
                                where the savings plan is applied. Present only for
                                Partner-led customers.
                            billingAccountId:
                              type: string
                              readOnly: true
                              description: Fully-qualified identifier of the billing
                                account where the savings plan is applied. Present
                                only for Enterprise Agreement customers.
                            term:
                              type: string
                              description: Represent benefit term in ISO 8601 format.
                              enum:
                              - P1Y
                              - P3Y
                              - P5Y
                              x-ms-enum:
                                name: Term
                                modelAsString: true
                            billingPlan:
                              type: string
                              description: Represents the billing plan in ISO 8601
                                format. Required only for monthly billing plans.
                              enum:
                              - P1M
                              x-ms-enum:
                                name: BillingPlan
                                modelAsString: true
                            expiryDateTime:
                              type: string
                              description: Expiry date time
                              readOnly: true
                              format: date-time
                            benefitStartTime:
                              type: string
                              format: date-time
                              description: This is the DateTime when the savings plan
                                benefit started.
                            planInformation:
                              type: object
                              description: Information describing the type of billing
                                plan for this savings plan.
                              properties:
                                pricingCurrencyTotal:
                                  description: Amount of money to be paid for the
                                    Order. Tax is not included.
                                  type: object
                                  properties:
                                    currencyCode:
                                      type: string
                                      description: The ISO 4217 3-letter currency
                                        code for the currency used by this purchase
                                        record.
                                    amount:
                                      type: number
                                      format: double
                                startDate:
                                  type: string
                                  format: date
                                  description: Date when the billing plan has started.
                                nextPaymentDueDate:
                                  type: string
                                  format: date
                                  description: For recurring billing plans, indicates
                                    the date when next payment will be processed.
                                    Null when total is paid off.
                                transactions:
                                  type: array
                                  items:
                                    type: object
                                    description: Information about payment related
                                      to a savings plan order.
                                    properties:
                                      dueDate:
                                        type: string
                                        format: date
                                        description: Date when the payment needs to
                                          be done.
                                      paymentDate:
                                        type: string
                                        format: date
                                        description: Date when the transaction is
                                          completed. Is null when it is scheduled.
                                      pricingCurrencyTotal:
                                        description: Amount in pricing currency. Tax
                                          not included.
                                        type: object
                                        properties:
                                          currencyCode:
                                            type: string
                                            description: The ISO 4217 3-letter currency
                                              code for the currency used by this purchase
                                              record.
                                          amount:
                                            type: number
                                            format: double
                                      billingCurrencyTotal:
                                        description: Amount charged in Billing currency.
                                          Tax not included. Is null for future payments
                                        type: object
                                        properties:
                                          currencyCode:
                                            type: string
                                            description: The ISO 4217 3-letter currency
                                              code for the currency used by this purchase
                                              record.
                                          amount:
                                            type: number
                                            format: double
                                      status:
                                        type: string
                                        description: Describes whether the payment
                                          is completed, failed, cancelled or scheduled
                                          in the future.
                                        enum:
                                        - Succeeded
                                        - Failed
                                        - Scheduled
                                        - Cancelled
                                        x-ms-enum:
                                          name: PaymentStatus
                                          modelAsString: true
                                      extendedStatusInfo:
                                        type: object
                                        readOnly: true
                                        properties:
                                          statusCode:
                                            type: string
                                            description: Status code providing additional
                                              information.
                                          message:
                                            type: string
                                            description: The message giving detailed
                                              information about the status code.
                                      billingAccount:
                                        type: string
                                        description: Billing account
                                  x-ms-identifiers: []
                            savingsPlans:
                              type: array
                              items:
                                type: string
                                description: Identifier of the savings plan
                                readOnly: true
                            extendedStatusInfo:
                              type: object
                              readOnly: true
                              properties:
                                statusCode:
                                  type: string
                                  description: Status code providing additional information.
                                message:
                                  type: string
                                  description: The message giving detailed information
                                    about the status code.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      required:
                      - sku
                  nextLink:
                    type: string
                    description: Url to get the next page.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
[...]
