openapi: 3.0.0
info:
  version: 2021-06-01
  title: SynapseManagementClient
  description: Azure Synapse Analytics APIs
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/bigDataPools/{bigDataPoolName}
  : get:
      operationId: BigDataPools_Get
      summary: Get Big Data pool
      description: Get a Big Data pool.
      tags:
      - BigDataPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: bigDataPoolName
        description: Big Data pool name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Big Data pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: Spark pool properties
                    properties:
                      provisioningState:
                        type: string
                        description: The state of the Big Data pool.
                      autoScale:
                        description: Auto-scaling properties
                        type: object
                        title: Spark pool auto-scaling properties
                        properties:
                          minNodeCount:
                            type: integer
                            format: int32
                            description: The minimum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                          enabled:
                            type: boolean
                            description: Whether automatic scaling is enabled for
                              the Big Data pool.
                          maxNodeCount:
                            type: integer
                            format: int32
                            description: The maximum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                      creationDate:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was created.
                        readOnly: true
                      autoPause:
                        description: Auto-pausing properties
                        type: object
                        title: Spark pool auto-pausing properties
                        properties:
                          delayInMinutes:
                            type: integer
                            format: int32
                            description: Number of minutes of idle time before the
                              Big Data pool is automatically paused.
                          enabled:
                            type: boolean
                            description: Whether auto-pausing is enabled for the Big
                              Data pool.
                      isComputeIsolationEnabled:
                        type: boolean
                        description: Whether compute isolation is required or not.
                      isAutotuneEnabled:
                        type: boolean
                        title: Enable Autotune
                        description: Whether autotune is required or not.
                        x-ms-mutability:
                        - create
                        - read
                      sessionLevelPackagesEnabled:
                        type: boolean
                        description: Whether session level packages enabled.
                      cacheSize:
                        type: integer
                        format: int32
                        description: The cache size
                      dynamicExecutorAllocation:
                        description: Dynamic Executor Allocation
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Indicates whether Dynamic Executor Allocation
                              is enabled or not.
                          minExecutors:
                            type: integer
                            format: int32
                            description: The minimum number of executors alloted
                          maxExecutors:
                            type: integer
                            format: int32
                            description: The maximum number of executors alloted
                      sparkEventsFolder:
                        type: string
                        description: The Spark events folder
                        x-ms-mutability:
                        - create
                        - read
                        - update
                      nodeCount:
                        type: integer
                        format: int32
                        description: The number of nodes in the Big Data pool.
                        x-ms-mutability:
                        - create
                        - read
                      libraryRequirements:
                        description: Library version requirements
                        type: object
                        title: Spark pool library version requirements
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the library requirements
                              file.
                          content:
                            type: string
                            description: The library requirements.
                          filename:
                            type: string
                            description: The filename of the library requirements
                              file.
                      customLibraries:
                        description: List of custom libraries/packages associated
                          with the spark pool.
                        type: array
                        items:
                          type: object
                          description: Library/package information of a Big Data pool
                            powered by Apache Spark
                          title: Information about a library/package created at the
                            workspace level.
                          properties:
                            name:
                              type: string
                              description: Name of the library.
                            path:
                              type: string
                              description: Storage blob path of library.
                            containerName:
                              type: string
                              description: Storage blob container name.
                            uploadedTimestamp:
                              type: string
                              format: date-time
                              description: The last update time of the library.
                              readOnly: true
                            type:
                              type: string
                              description: Type of the library.
                            provisioningStatus:
                              readOnly: true
                              type: string
                              description: Provisioning status of the library/package.
                            creatorId:
                              readOnly: true
                              type: string
                              description: Creator Id of the library/package.
                        x-ms-identifiers: []
                      sparkConfigProperties:
                        description: Spark configuration file to specify additional
                          properties
                        type: object
                        title: Spark pool Config Properties
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the spark config
                              properties file.
                          content:
                            type: string
                            description: The spark config properties.
                          filename:
                            type: string
                            description: The filename of the spark config properties
                              file.
                          configurationType:
                            enum:
                            - File
                            - Artifact
                            type: string
                            description: The type of the spark config properties file.
                            x-ms-enum:
                              name: ConfigurationType
                              modelAsString: true
                            x-ms-mutability:
                            - create
                            - read
                      sparkVersion:
                        type: string
                        description: The Apache Spark version.
                      defaultSparkLogFolder:
                        type: string
                        description: The default folder where Spark logs will be written.
                      nodeSize:
                        enum:
                        - None
                        - Small
                        - Medium
                        - Large
                        - XLarge
                        - XXLarge
                        - XXXLarge
                        type: string
                        description: The level of compute power that each node in
                          the Big Data pool has.
                        x-ms-enum:
                          name: NodeSize
                          modelAsString: true
                      nodeSizeFamily:
                        enum:
                        - None
                        - MemoryOptimized
                        - HardwareAcceleratedFPGA
                        - HardwareAcceleratedGPU
                        type: string
                        description: The kind of nodes that the Big Data pool provides.
                        x-ms-enum:
                          name: NodeSizeFamily
                          modelAsString: true
                      lastSucceededTimestamp:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was updated successfully.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    patch:
      operationId: BigDataPools_Update
      summary: Update a Big Data pool.
      description: Patch a Big Data pool.
      tags:
      - BigDataPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: bigDataPoolName
        description: Big Data pool name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Properties patch for a Big Data pool
              title: Patch for a Big Data pool
              properties:
                tags:
                  additionalProperties:
                    type: string
                  description: Updated tags for the Big Data pool
                  type: object
        description: The updated Big Data pool properties
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Big Data pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: Spark pool properties
                    properties:
                      provisioningState:
                        type: string
                        description: The state of the Big Data pool.
                      autoScale:
                        description: Auto-scaling properties
                        type: object
                        title: Spark pool auto-scaling properties
                        properties:
                          minNodeCount:
                            type: integer
                            format: int32
                            description: The minimum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                          enabled:
                            type: boolean
                            description: Whether automatic scaling is enabled for
                              the Big Data pool.
                          maxNodeCount:
                            type: integer
                            format: int32
                            description: The maximum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                      creationDate:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was created.
                        readOnly: true
                      autoPause:
                        description: Auto-pausing properties
                        type: object
                        title: Spark pool auto-pausing properties
                        properties:
                          delayInMinutes:
                            type: integer
                            format: int32
                            description: Number of minutes of idle time before the
                              Big Data pool is automatically paused.
                          enabled:
                            type: boolean
                            description: Whether auto-pausing is enabled for the Big
                              Data pool.
                      isComputeIsolationEnabled:
                        type: boolean
                        description: Whether compute isolation is required or not.
                      isAutotuneEnabled:
                        type: boolean
                        title: Enable Autotune
                        description: Whether autotune is required or not.
                        x-ms-mutability:
                        - create
                        - read
                      sessionLevelPackagesEnabled:
                        type: boolean
                        description: Whether session level packages enabled.
                      cacheSize:
                        type: integer
                        format: int32
                        description: The cache size
                      dynamicExecutorAllocation:
                        description: Dynamic Executor Allocation
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Indicates whether Dynamic Executor Allocation
                              is enabled or not.
                          minExecutors:
                            type: integer
                            format: int32
                            description: The minimum number of executors alloted
                          maxExecutors:
                            type: integer
                            format: int32
                            description: The maximum number of executors alloted
                      sparkEventsFolder:
                        type: string
                        description: The Spark events folder
                        x-ms-mutability:
                        - create
                        - read
                        - update
                      nodeCount:
                        type: integer
                        format: int32
                        description: The number of nodes in the Big Data pool.
                        x-ms-mutability:
                        - create
                        - read
                      libraryRequirements:
                        description: Library version requirements
                        type: object
                        title: Spark pool library version requirements
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the library requirements
                              file.
                          content:
                            type: string
                            description: The library requirements.
                          filename:
                            type: string
                            description: The filename of the library requirements
                              file.
                      customLibraries:
                        description: List of custom libraries/packages associated
                          with the spark pool.
                        type: array
                        items:
                          type: object
                          description: Library/package information of a Big Data pool
                            powered by Apache Spark
                          title: Information about a library/package created at the
                            workspace level.
                          properties:
                            name:
                              type: string
                              description: Name of the library.
                            path:
                              type: string
                              description: Storage blob path of library.
                            containerName:
                              type: string
                              description: Storage blob container name.
                            uploadedTimestamp:
                              type: string
                              format: date-time
                              description: The last update time of the library.
                              readOnly: true
                            type:
                              type: string
                              description: Type of the library.
                            provisioningStatus:
                              readOnly: true
                              type: string
                              description: Provisioning status of the library/package.
                            creatorId:
                              readOnly: true
                              type: string
                              description: Creator Id of the library/package.
                        x-ms-identifiers: []
                      sparkConfigProperties:
                        description: Spark configuration file to specify additional
                          properties
                        type: object
                        title: Spark pool Config Properties
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the spark config
                              properties file.
                          content:
                            type: string
                            description: The spark config properties.
                          filename:
                            type: string
                            description: The filename of the spark config properties
                              file.
                          configurationType:
                            enum:
                            - File
                            - Artifact
                            type: string
                            description: The type of the spark config properties file.
                            x-ms-enum:
                              name: ConfigurationType
                              modelAsString: true
                            x-ms-mutability:
                            - create
                            - read
                      sparkVersion:
                        type: string
                        description: The Apache Spark version.
                      defaultSparkLogFolder:
                        type: string
                        description: The default folder where Spark logs will be written.
                      nodeSize:
                        enum:
                        - None
                        - Small
                        - Medium
                        - Large
                        - XLarge
                        - XXLarge
                        - XXXLarge
                        type: string
                        description: The level of compute power that each node in
                          the Big Data pool has.
                        x-ms-enum:
                          name: NodeSize
                          modelAsString: true
                      nodeSizeFamily:
                        enum:
                        - None
                        - MemoryOptimized
                        - HardwareAcceleratedFPGA
                        - HardwareAcceleratedGPU
                        type: string
                        description: The kind of nodes that the Big Data pool provides.
                        x-ms-enum:
                          name: NodeSizeFamily
                          modelAsString: true
                      lastSucceededTimestamp:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was updated successfully.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      operationId: BigDataPools_CreateOrUpdate
      summary: Create a Big Data pool.
      description: Create a new Big Data pool.
      tags:
      - BigDataPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: bigDataPoolName
        description: Big Data pool name
        required: true
        schema:
          type: string
      - name: force
        in: query
        description: Whether to stop any running jobs in the Big Data pool
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: Big Data pool properties
                  x-ms-client-flatten: true
                  type: object
                  title: Spark pool properties
                  properties:
                    provisioningState:
                      type: string
                      description: The state of the Big Data pool.
                    autoScale:
                      description: Auto-scaling properties
                      type: object
                      title: Spark pool auto-scaling properties
                      properties:
                        minNodeCount:
                          type: integer
                          format: int32
                          description: The minimum number of nodes the Big Data pool
                            can support.
                          x-ms-mutability:
                          - create
                          - read
                        enabled:
                          type: boolean
                          description: Whether automatic scaling is enabled for the
                            Big Data pool.
                        maxNodeCount:
                          type: integer
                          format: int32
                          description: The maximum number of nodes the Big Data pool
                            can support.
                          x-ms-mutability:
                          - create
                          - read
                    creationDate:
                      type: string
                      format: date-time
                      description: The time when the Big Data pool was created.
                      readOnly: true
                    autoPause:
                      description: Auto-pausing properties
                      type: object
                      title: Spark pool auto-pausing properties
                      properties:
                        delayInMinutes:
                          type: integer
                          format: int32
                          description: Number of minutes of idle time before the Big
                            Data pool is automatically paused.
                        enabled:
                          type: boolean
                          description: Whether auto-pausing is enabled for the Big
                            Data pool.
                    isComputeIsolationEnabled:
                      type: boolean
                      description: Whether compute isolation is required or not.
                    isAutotuneEnabled:
                      type: boolean
                      title: Enable Autotune
                      description: Whether autotune is required or not.
                      x-ms-mutability:
                      - create
                      - read
                    sessionLevelPackagesEnabled:
                      type: boolean
                      description: Whether session level packages enabled.
                    cacheSize:
                      type: integer
                      format: int32
                      description: The cache size
                    dynamicExecutorAllocation:
                      description: Dynamic Executor Allocation
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Indicates whether Dynamic Executor Allocation
                            is enabled or not.
                        minExecutors:
                          type: integer
                          format: int32
                          description: The minimum number of executors alloted
                        maxExecutors:
                          type: integer
                          format: int32
                          description: The maximum number of executors alloted
                    sparkEventsFolder:
                      type: string
                      description: The Spark events folder
                      x-ms-mutability:
                      - create
                      - read
                      - update
                    nodeCount:
                      type: integer
                      format: int32
                      description: The number of nodes in the Big Data pool.
                      x-ms-mutability:
                      - create
                      - read
                    libraryRequirements:
                      description: Library version requirements
                      type: object
                      title: Spark pool library version requirements
                      properties:
                        time:
                          type: string
                          format: date-time
                          readOnly: true
                          description: The last update time of the library requirements
                            file.
                        content:
                          type: string
                          description: The library requirements.
                        filename:
                          type: string
                          description: The filename of the library requirements file.
                    customLibraries:
                      description: List of custom libraries/packages associated with
                        the spark pool.
                      type: array
                      items:
                        type: object
                        description: Library/package information of a Big Data pool
                          powered by Apache Spark
                        title: Information about a library/package created at the
                          workspace level.
                        properties:
                          name:
                            type: string
                            description: Name of the library.
                          path:
                            type: string
                            description: Storage blob path of library.
                          containerName:
                            type: string
                            description: Storage blob container name.
                          uploadedTimestamp:
                            type: string
                            format: date-time
                            description: The last update time of the library.
                            readOnly: true
                          type:
                            type: string
                            description: Type of the library.
                          provisioningStatus:
                            readOnly: true
                            type: string
                            description: Provisioning status of the library/package.
                          creatorId:
                            readOnly: true
                            type: string
                            description: Creator Id of the library/package.
                      x-ms-identifiers: []
                    sparkConfigProperties:
                      description: Spark configuration file to specify additional
                        properties
                      type: object
                      title: Spark pool Config Properties
                      properties:
                        time:
                          type: string
                          format: date-time
                          readOnly: true
                          description: The last update time of the spark config properties
                            file.
                        content:
                          type: string
                          description: The spark config properties.
                        filename:
                          type: string
                          description: The filename of the spark config properties
                            file.
                        configurationType:
                          enum:
                          - File
                          - Artifact
                          type: string
                          description: The type of the spark config properties file.
                          x-ms-enum:
                            name: ConfigurationType
                            modelAsString: true
                          x-ms-mutability:
                          - create
                          - read
                    sparkVersion:
                      type: string
                      description: The Apache Spark version.
                    defaultSparkLogFolder:
                      type: string
                      description: The default folder where Spark logs will be written.
                    nodeSize:
                      enum:
                      - None
                      - Small
                      - Medium
                      - Large
                      - XLarge
                      - XXLarge
                      - XXXLarge
                      type: string
                      description: The level of compute power that each node in the
                        Big Data pool has.
                      x-ms-enum:
                        name: NodeSize
                        modelAsString: true
                    nodeSizeFamily:
                      enum:
                      - None
                      - MemoryOptimized
                      - HardwareAcceleratedFPGA
                      - HardwareAcceleratedGPU
                      type: string
                      description: The kind of nodes that the Big Data pool provides.
                      x-ms-enum:
                        name: NodeSizeFamily
                        modelAsString: true
                    lastSucceededTimestamp:
                      type: string
                      format: date-time
                      description: The time when the Big Data pool was updated successfully.
                      readOnly: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The Big Data pool to create.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Big Data pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: Spark pool properties
                    properties:
                      provisioningState:
                        type: string
                        description: The state of the Big Data pool.
                      autoScale:
                        description: Auto-scaling properties
                        type: object
                        title: Spark pool auto-scaling properties
                        properties:
                          minNodeCount:
                            type: integer
                            format: int32
                            description: The minimum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                          enabled:
                            type: boolean
                            description: Whether automatic scaling is enabled for
                              the Big Data pool.
                          maxNodeCount:
                            type: integer
                            format: int32
                            description: The maximum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                      creationDate:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was created.
                        readOnly: true
                      autoPause:
                        description: Auto-pausing properties
                        type: object
                        title: Spark pool auto-pausing properties
                        properties:
                          delayInMinutes:
                            type: integer
                            format: int32
                            description: Number of minutes of idle time before the
                              Big Data pool is automatically paused.
                          enabled:
                            type: boolean
                            description: Whether auto-pausing is enabled for the Big
                              Data pool.
                      isComputeIsolationEnabled:
                        type: boolean
                        description: Whether compute isolation is required or not.
                      isAutotuneEnabled:
                        type: boolean
                        title: Enable Autotune
                        description: Whether autotune is required or not.
                        x-ms-mutability:
                        - create
                        - read
                      sessionLevelPackagesEnabled:
                        type: boolean
                        description: Whether session level packages enabled.
                      cacheSize:
                        type: integer
                        format: int32
                        description: The cache size
                      dynamicExecutorAllocation:
                        description: Dynamic Executor Allocation
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Indicates whether Dynamic Executor Allocation
                              is enabled or not.
                          minExecutors:
                            type: integer
                            format: int32
                            description: The minimum number of executors alloted
                          maxExecutors:
                            type: integer
                            format: int32
                            description: The maximum number of executors alloted
                      sparkEventsFolder:
                        type: string
                        description: The Spark events folder
                        x-ms-mutability:
                        - create
                        - read
                        - update
                      nodeCount:
                        type: integer
                        format: int32
                        description: The number of nodes in the Big Data pool.
                        x-ms-mutability:
                        - create
                        - read
                      libraryRequirements:
                        description: Library version requirements
                        type: object
                        title: Spark pool library version requirements
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the library requirements
                              file.
                          content:
                            type: string
                            description: The library requirements.
                          filename:
                            type: string
                            description: The filename of the library requirements
                              file.
                      customLibraries:
                        description: List of custom libraries/packages associated
                          with the spark pool.
                        type: array
                        items:
                          type: object
                          description: Library/package information of a Big Data pool
                            powered by Apache Spark
                          title: Information about a library/package created at the
                            workspace level.
                          properties:
                            name:
                              type: string
                              description: Name of the library.
                            path:
                              type: string
                              description: Storage blob path of library.
                            containerName:
                              type: string
                              description: Storage blob container name.
                            uploadedTimestamp:
                              type: string
                              format: date-time
                              description: The last update time of the library.
                              readOnly: true
                            type:
                              type: string
                              description: Type of the library.
                            provisioningStatus:
                              readOnly: true
                              type: string
                              description: Provisioning status of the library/package.
                            creatorId:
                              readOnly: true
                              type: string
                              description: Creator Id of the library/package.
                        x-ms-identifiers: []
                      sparkConfigProperties:
                        description: Spark configuration file to specify additional
                          properties
                        type: object
                        title: Spark pool Config Properties
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the spark config
                              properties file.
                          content:
                            type: string
                            description: The spark config properties.
                          filename:
                            type: string
                            description: The filename of the spark config properties
                              file.
                          configurationType:
                            enum:
                            - File
                            - Artifact
                            type: string
                            description: The type of the spark config properties file.
                            x-ms-enum:
                              name: ConfigurationType
                              modelAsString: true
                            x-ms-mutability:
                            - create
                            - read
                      sparkVersion:
                        type: string
                        description: The Apache Spark version.
                      defaultSparkLogFolder:
                        type: string
                        description: The default folder where Spark logs will be written.
                      nodeSize:
                        enum:
                        - None
                        - Small
                        - Medium
                        - Large
                        - XLarge
                        - XXLarge
                        - XXXLarge
                        type: string
                        description: The level of compute power that each node in
                          the Big Data pool has.
                        x-ms-enum:
                          name: NodeSize
                          modelAsString: true
                      nodeSizeFamily:
                        enum:
                        - None
                        - MemoryOptimized
                        - HardwareAcceleratedFPGA
                        - HardwareAcceleratedGPU
                        type: string
                        description: The kind of nodes that the Big Data pool provides.
                        x-ms-enum:
                          name: NodeSizeFamily
                          modelAsString: true
                      lastSucceededTimestamp:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was updated successfully.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Big Data pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: Spark pool properties
                    properties:
                      provisioningState:
                        type: string
                        description: The state of the Big Data pool.
                      autoScale:
                        description: Auto-scaling properties
                        type: object
                        title: Spark pool auto-scaling properties
                        properties:
                          minNodeCount:
                            type: integer
                            format: int32
                            description: The minimum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                          enabled:
                            type: boolean
                            description: Whether automatic scaling is enabled for
                              the Big Data pool.
                          maxNodeCount:
                            type: integer
                            format: int32
                            description: The maximum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                      creationDate:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was created.
                        readOnly: true
                      autoPause:
                        description: Auto-pausing properties
                        type: object
                        title: Spark pool auto-pausing properties
                        properties:
                          delayInMinutes:
                            type: integer
                            format: int32
                            description: Number of minutes of idle time before the
                              Big Data pool is automatically paused.
                          enabled:
                            type: boolean
                            description: Whether auto-pausing is enabled for the Big
                              Data pool.
                      isComputeIsolationEnabled:
                        type: boolean
                        description: Whether compute isolation is required or not.
                      isAutotuneEnabled:
                        type: boolean
                        title: Enable Autotune
                        description: Whether autotune is required or not.
                        x-ms-mutability:
                        - create
                        - read
                      sessionLevelPackagesEnabled:
                        type: boolean
                        description: Whether session level packages enabled.
                      cacheSize:
                        type: integer
                        format: int32
                        description: The cache size
                      dynamicExecutorAllocation:
                        description: Dynamic Executor Allocation
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Indicates whether Dynamic Executor Allocation
                              is enabled or not.
                          minExecutors:
                            type: integer
                            format: int32
                            description: The minimum number of executors alloted
                          maxExecutors:
                            type: integer
                            format: int32
                            description: The maximum number of executors alloted
                      sparkEventsFolder:
                        type: string
                        description: The Spark events folder
                        x-ms-mutability:
                        - create
                        - read
                        - update
                      nodeCount:
                        type: integer
                        format: int32
                        description: The number of nodes in the Big Data pool.
                        x-ms-mutability:
                        - create
                        - read
                      libraryRequirements:
                        description: Library version requirements
                        type: object
                        title: Spark pool library version requirements
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the library requirements
                              file.
                          content:
                            type: string
                            description: The library requirements.
                          filename:
                            type: string
                            description: The filename of the library requirements
                              file.
                      customLibraries:
                        description: List of custom libraries/packages associated
                          with the spark pool.
                        type: array
                        items:
                          type: object
                          description: Library/package information of a Big Data pool
                            powered by Apache Spark
                          title: Information about a library/package created at the
                            workspace level.
                          properties:
                            name:
                              type: string
                              description: Name of the library.
                            path:
                              type: string
                              description: Storage blob path of library.
                            containerName:
                              type: string
                              description: Storage blob container name.
                            uploadedTimestamp:
                              type: string
                              format: date-time
                              description: The last update time of the library.
                              readOnly: true
                            type:
                              type: string
                              description: Type of the library.
                            provisioningStatus:
                              readOnly: true
                              type: string
                              description: Provisioning status of the library/package.
                            creatorId:
                              readOnly: true
                              type: string
                              description: Creator Id of the library/package.
                        x-ms-identifiers: []
                      sparkConfigProperties:
                        description: Spark configuration file to specify additional
                          properties
                        type: object
                        title: Spark pool Config Properties
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the spark config
                              properties file.
                          content:
                            type: string
                            description: The spark config properties.
                          filename:
                            type: string
                            description: The filename of the spark config properties
                              file.
                          configurationType:
                            enum:
                            - File
                            - Artifact
                            type: string
                            description: The type of the spark config properties file.
                            x-ms-enum:
                              name: ConfigurationType
                              modelAsString: true
                            x-ms-mutability:
                            - create
                            - read
                      sparkVersion:
                        type: string
                        description: The Apache Spark version.
                      defaultSparkLogFolder:
                        type: string
                        description: The default folder where Spark logs will be written.
                      nodeSize:
                        enum:
                        - None
                        - Small
                        - Medium
                        - Large
                        - XLarge
                        - XXLarge
                        - XXXLarge
                        type: string
                        description: The level of compute power that each node in
                          the Big Data pool has.
                        x-ms-enum:
                          name: NodeSize
                          modelAsString: true
                      nodeSizeFamily:
                        enum:
                        - None
                        - MemoryOptimized
                        - HardwareAcceleratedFPGA
                        - HardwareAcceleratedGPU
                        type: string
                        description: The kind of nodes that the Big Data pool provides.
                        x-ms-enum:
                          name: NodeSizeFamily
                          modelAsString: true
                      lastSucceededTimestamp:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was updated successfully.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    delete:
      operationId: BigDataPools_Delete
      summary: Delete a Big Data pool.
      description: Delete a Big Data pool from the workspace.
      tags:
      - BigDataPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: bigDataPoolName
        description: Big Data pool name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Big Data pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: Spark pool properties
                    properties:
                      provisioningState:
                        type: string
                        description: The state of the Big Data pool.
                      autoScale:
                        description: Auto-scaling properties
                        type: object
                        title: Spark pool auto-scaling properties
                        properties:
                          minNodeCount:
                            type: integer
                            format: int32
                            description: The minimum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                          enabled:
                            type: boolean
                            description: Whether automatic scaling is enabled for
                              the Big Data pool.
                          maxNodeCount:
                            type: integer
                            format: int32
                            description: The maximum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                      creationDate:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was created.
                        readOnly: true
                      autoPause:
                        description: Auto-pausing properties
                        type: object
                        title: Spark pool auto-pausing properties
                        properties:
                          delayInMinutes:
                            type: integer
                            format: int32
                            description: Number of minutes of idle time before the
                              Big Data pool is automatically paused.
                          enabled:
                            type: boolean
                            description: Whether auto-pausing is enabled for the Big
                              Data pool.
                      isComputeIsolationEnabled:
                        type: boolean
                        description: Whether compute isolation is required or not.
                      isAutotuneEnabled:
                        type: boolean
                        title: Enable Autotune
                        description: Whether autotune is required or not.
                        x-ms-mutability:
                        - create
                        - read
                      sessionLevelPackagesEnabled:
                        type: boolean
                        description: Whether session level packages enabled.
                      cacheSize:
                        type: integer
                        format: int32
                        description: The cache size
                      dynamicExecutorAllocation:
                        description: Dynamic Executor Allocation
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Indicates whether Dynamic Executor Allocation
                              is enabled or not.
                          minExecutors:
                            type: integer
                            format: int32
                            description: The minimum number of executors alloted
                          maxExecutors:
                            type: integer
                            format: int32
                            description: The maximum number of executors alloted
                      sparkEventsFolder:
                        type: string
                        description: The Spark events folder
                        x-ms-mutability:
                        - create
                        - read
                        - update
                      nodeCount:
                        type: integer
                        format: int32
                        description: The number of nodes in the Big Data pool.
                        x-ms-mutability:
                        - create
                        - read
                      libraryRequirements:
                        description: Library version requirements
                        type: object
                        title: Spark pool library version requirements
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the library requirements
                              file.
                          content:
                            type: string
                            description: The library requirements.
                          filename:
                            type: string
                            description: The filename of the library requirements
                              file.
                      customLibraries:
                        description: List of custom libraries/packages associated
                          with the spark pool.
                        type: array
                        items:
                          type: object
                          description: Library/package information of a Big Data pool
                            powered by Apache Spark
                          title: Information about a library/package created at the
                            workspace level.
                          properties:
                            name:
                              type: string
                              description: Name of the library.
                            path:
                              type: string
                              description: Storage blob path of library.
                            containerName:
                              type: string
                              description: Storage blob container name.
                            uploadedTimestamp:
                              type: string
                              format: date-time
                              description: The last update time of the library.
                              readOnly: true
                            type:
                              type: string
                              description: Type of the library.
                            provisioningStatus:
                              readOnly: true
                              type: string
                              description: Provisioning status of the library/package.
                            creatorId:
                              readOnly: true
                              type: string
                              description: Creator Id of the library/package.
                        x-ms-identifiers: []
                      sparkConfigProperties:
                        description: Spark configuration file to specify additional
                          properties
                        type: object
                        title: Spark pool Config Properties
                        properties:
                          time:
                            type: string
                            format: date-time
                            readOnly: true
                            description: The last update time of the spark config
                              properties file.
                          content:
                            type: string
                            description: The spark config properties.
                          filename:
                            type: string
                            description: The filename of the spark config properties
                              file.
                          configurationType:
                            enum:
                            - File
                            - Artifact
                            type: string
                            description: The type of the spark config properties file.
                            x-ms-enum:
                              name: ConfigurationType
                              modelAsString: true
                            x-ms-mutability:
                            - create
                            - read
                      sparkVersion:
                        type: string
                        description: The Apache Spark version.
                      defaultSparkLogFolder:
                        type: string
                        description: The default folder where Spark logs will be written.
                      nodeSize:
                        enum:
                        - None
                        - Small
                        - Medium
                        - Large
                        - XLarge
                        - XXLarge
                        - XXXLarge
                        type: string
                        description: The level of compute power that each node in
                          the Big Data pool has.
                        x-ms-enum:
                          name: NodeSize
                          modelAsString: true
                      nodeSizeFamily:
                        enum:
                        - None
                        - MemoryOptimized
                        - HardwareAcceleratedFPGA
                        - HardwareAcceleratedGPU
                        type: string
                        description: The kind of nodes that the Big Data pool provides.
                        x-ms-enum:
                          name: NodeSizeFamily
                          modelAsString: true
                      lastSucceededTimestamp:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was updated successfully.
                        readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Big Data pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: Spark pool properties
                    properties:
                      provisioningState:
                        type: string
                        description: The state of the Big Data pool.
                      autoScale:
                        description: Auto-scaling properties
                        type: object
                        title: Spark pool auto-scaling properties
                        properties:
                          minNodeCount:
                            type: integer
                            format: int32
                            description: The minimum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                          enabled:
                            type: boolean
                            description: Whether automatic scaling is enabled for
                              the Big Data pool.
                          maxNodeCount:
                            type: integer
                            format: int32
                            description: The maximum number of nodes the Big Data
                              pool can support.
                            x-ms-mutability:
                            - create
                            - read
                      creationDate:
                        type: string
                        format: date-time
                        description: The time when the Big Data pool was created.
                        readOnly: true
                      autoPause:
                        description: Auto-pausing properties
                        type: object
                        title: Spark pool auto-pausing properties
                        properties:
                          delayInMinutes:
                            type: integer
                            format: int32
                            description: Number of minutes of idle time before the
                              Big Data pool is automatically paused.
                          enabled:
                            type: boolean
                            description: Whether auto-pausing is enabled for the Big
                              Data pool.
                      isComputeIsolationEnabled:
                        type: boolean
                        description: Whether compute isolation is required or not.
                      isAutotuneEnabled:
                        type: boolean
                        title: Enable Autotune
                        description: Whether autotune is required or not.
                        x-ms-mutability:
                        - create
                        - read
                      sessionLevelPackagesEnabled:
                        type: boolean
                        description: Whether session level packages enabled.
                      cacheSize:
                        type: integer
                        format: int32
                        description: The cache size
                      dynamicExecutorAllocation:
                        description: Dynamic Executor Allocation
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Indicates whether Dynamic Executor Allocation
                              is enabled or not.
                          minExecutors:
                            type: integer
                            format: int32
                            description: The minimum number of executors alloted
                          maxExecutors:
                            type: integer
                            format: int32
                            description: The maximum number of executors alloted
                      sparkEventsFolder:
                        type: string
                        description: The Spark events folder
                        x-ms-mutability:
                        - create
                        - read
[...]
