openapi: 3.0.0
info:
  version: 2021-06-01
  title: SynapseManagementClient
  description: Azure Synapse Analytics APIs
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}
  : patch:
      operationId: IntegrationRuntimes_Update
      summary: Update integration runtime
      description: Update an integration runtime
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Update integration runtime request.
              type: object
              properties:
                autoUpdate:
                  description: Enables or disables the auto-update feature of the
                    self-hosted integration runtime. See https://go.microsoft.com/fwlink/?linkid=854189.
                  type: string
                  enum:
                  - 'On'
                  - 'Off'
                  x-ms-enum:
                    name: IntegrationRuntimeAutoUpdate
                    modelAsString: true
                  x-ms-identifiers: []
                updateDelayOffset:
                  description: The time offset (in hours) in the day, e.g., PT03H
                    is 3 hours. The integration runtime auto update will happen on
                    that time.
                  type: string
        description: The parameters for updating an integration runtime.
        required: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  etag:
                    type: string
                    readOnly: true
                    description: Resource Etag.
                  properties:
                    description: Integration runtime properties.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        description: Type of integration runtime.
                        type: string
                        enum:
                        - Managed
                        - SelfHosted
                        x-ms-enum:
                          name: IntegrationRuntimeType
                          modelAsString: true
                      description:
                        description: Integration runtime description.
                        type: string
                    additionalProperties:
                      type: object
                    required:
                    - type
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-name: AzureEntityResource
                required:
                - properties
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    get:
      operationId: IntegrationRuntimes_Get
      summary: Get integration runtime
      description: Get an integration runtime
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        description: ETag of the integration runtime entity. Should only be specified
          for get. If the ETag matches the existing entity tag, or if * was provided,
          then no content will be returned.
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  etag:
                    type: string
                    readOnly: true
                    description: Resource Etag.
                  properties:
                    description: Integration runtime properties.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        description: Type of integration runtime.
                        type: string
                        enum:
                        - Managed
                        - SelfHosted
                        x-ms-enum:
                          name: IntegrationRuntimeType
                          modelAsString: true
                      description:
                        description: Integration runtime description.
                        type: string
                    additionalProperties:
                      type: object
                    required:
                    - type
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-name: AzureEntityResource
                required:
                - properties
        '304':
          description: Not modified.
        default:
          description: An error response received from GET integration runtime operation.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      operationId: IntegrationRuntimes_Create
      x-ms-long-running-operation: true
      summary: Create integration runtime
      description: Create an integration runtime
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      - name: If-Match
        in: header
        required: false
        description: ETag of the integration runtime entity. Should only be specified
          for update, for which it should match existing entity or can be * for unconditional
          update.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                etag:
                  type: string
                  readOnly: true
                  description: Resource Etag.
                properties:
                  description: Integration runtime properties.
                  type: object
                  discriminator:
                    propertyName: type
                  properties:
                    type:
                      description: Type of integration runtime.
                      type: string
                      enum:
                      - Managed
                      - SelfHosted
                      x-ms-enum:
                        name: IntegrationRuntimeType
                        modelAsString: true
                    description:
                      description: Integration runtime description.
                      type: string
                  additionalProperties:
                    type: object
                  required:
                  - type
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
              x-ms-client-name: AzureEntityResource
              required:
              - properties
        description: Integration runtime resource definition.
        required: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  etag:
                    type: string
                    readOnly: true
                    description: Resource Etag.
                  properties:
                    description: Integration runtime properties.
                    type: object
                    discriminator:
                      propertyName: type
                    properties:
                      type:
                        description: Type of integration runtime.
                        type: string
                        enum:
                        - Managed
                        - SelfHosted
                        x-ms-enum:
                          name: IntegrationRuntimeType
                          modelAsString: true
                      description:
                        description: Integration runtime description.
                        type: string
                    additionalProperties:
                      type: object
                    required:
                    - type
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-name: AzureEntityResource
                required:
                - properties
        '202':
          description: Accepted.
        default:
          description: An error response received from PUT integration runtime operation.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      operationId: IntegrationRuntimes_Delete
      x-ms-long-running-operation: true
      summary: Delete integration runtime
      description: Delete an integration runtime
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted.
        '204':
          description: No Content.
        default:
          description: An error response received from DELETE integration runtime
            operation.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/nodes/{nodeName}/ipAddress
  : post:
      operationId: IntegrationRuntimeNodeIpAddress_Get
      summary: Get integration runtime node IP address
      description: Get the IP address of an integration runtime node
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: nodeName
        description: Integration runtime node name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                description: The IP address of self-hosted integration runtime node.
                properties:
                  ipAddress:
                    description: The IP address of self-hosted integration runtime
                      node.
                    type: string
                    readOnly: true
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/upgrade
  : post:
      operationId: IntegrationRuntimes_Upgrade
      summary: Upgrade integration runtime
      description: Upgrade an integration runtime
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK.
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/getObjectMetadata
  : post:
      operationId: IntegrationRuntimeObjectMetadata_List
      summary: Get integration runtime object metadata
      description: Get object metadata from an integration runtime
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The request payload of get SSIS object metadata.
              properties:
                metadataPath:
                  type: string
                  description: Metadata path.
        description: The parameters for getting a SSIS object metadata.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                description: A list of SSIS object metadata.
                properties:
                  value:
                    type: array
                    description: List of SSIS object metadata.
                    items:
                      type: object
                      description: SSIS object metadata.
                      discriminator:
                        propertyName: type
                      properties:
                        type:
                          description: Type of metadata.
                          type: string
                          enum:
                          - Folder
                          - Project
                          - Package
                          - Environment
                          x-ms-enum:
                            name: SsisObjectMetadataType
                            modelAsString: true
                        id:
                          type: integer
                          format: int64
                          description: Metadata id.
                        name:
                          type: string
                          description: Metadata name.
                        description:
                          type: string
                          description: Metadata description.
                      required:
                      - type
                  nextLink:
                    type: string
                    description: The link to the next page of results, if any remaining
                      results exist.
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/nodes/{nodeName}
  : get:
      operationId: IntegrationRuntimeNodes_Get
      summary: Get integration runtime node
      description: Get an integration runtime node
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: nodeName
        description: Integration runtime node name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                description: Properties of Self-hosted integration runtime node.
                properties:
                  nodeName:
                    description: Name of the integration runtime node.
                    type: string
                    readOnly: true
                  machineName:
                    description: Machine name of the integration runtime node.
                    type: string
                    readOnly: true
                  hostServiceUri:
                    description: URI for the host machine of the integration runtime.
                    type: string
                    readOnly: true
                  status:
                    description: Status of the integration runtime node.
                    type: string
                    readOnly: true
                    enum:
                    - NeedRegistration
                    - Online
                    - Limited
                    - Offline
                    - Upgrading
                    - Initializing
                    - InitializeFailed
                    x-ms-enum:
                      name: SelfHostedIntegrationRuntimeNodeStatus
                      modelAsString: true
                  capabilities:
                    description: The integration runtime capabilities dictionary
                    type: object
                    readOnly: true
                    additionalProperties:
                      type: string
                  versionStatus:
                    description: Status of the integration runtime node version.
                    type: string
                    readOnly: true
                  version:
                    description: Version of the integration runtime node.
                    type: string
                    readOnly: true
                  registerTime:
                    description: The time at which the integration runtime node was
                      registered in ISO8601 format.
                    type: string
                    format: date-time
                    readOnly: true
                  lastConnectTime:
                    description: The most recent time at which the integration runtime
                      was connected in ISO8601 format.
                    type: string
                    format: date-time
                    readOnly: true
                  expiryTime:
                    description: The time at which the integration runtime will expire
                      in ISO8601 format.
                    type: string
                    format: date-time
                    readOnly: true
                  lastStartTime:
                    description: The time the node last started up.
                    type: string
                    format: date-time
                    readOnly: true
                  lastStopTime:
                    description: The integration runtime node last stop time.
                    type: string
                    format: date-time
                    readOnly: true
                  lastUpdateResult:
                    description: The result of the last integration runtime node update.
                    type: string
                    enum:
                    - None
                    - Succeed
                    - Fail
                    x-ms-enum:
                      name: IntegrationRuntimeUpdateResult
                      modelAsString: true
                    readOnly: true
                  lastStartUpdateTime:
                    description: The last time for the integration runtime node update
                      start.
                    type: string
                    format: date-time
                    readOnly: true
                  lastEndUpdateTime:
                    description: The last time for the integration runtime node update
                      end.
                    type: string
                    format: date-time
                    readOnly: true
                  isActiveDispatcher:
                    description: Indicates whether this node is the active dispatcher
                      for integration runtime requests.
                    type: boolean
                    readOnly: true
                  concurrentJobsLimit:
                    description: Maximum concurrent jobs on the integration runtime
                      node.
                    type: integer
                    format: int32
                    readOnly: true
                  maxConcurrentJobs:
                    description: The maximum concurrent jobs in this integration runtime.
                    type: integer
                    format: int32
                    readOnly: true
                additionalProperties:
                  type: object
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    patch:
      operationId: IntegrationRuntimeNodes_Update
      summary: Create integration runtime node
      description: Create an integration runtime node
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: nodeName
        description: Integration runtime node name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Update integration runtime node request.
              type: object
              properties:
                concurrentJobsLimit:
                  description: The number of concurrent jobs permitted to run on the
                    integration runtime node. Values between 1 and maxConcurrentJobs(inclusive)
                    are allowed.
                  type: integer
                  format: int32
                  minimum: 1
        description: The parameters for updating an integration runtime node.
        required: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                description: Properties of Self-hosted integration runtime node.
                properties:
                  nodeName:
                    description: Name of the integration runtime node.
                    type: string
                    readOnly: true
                  machineName:
                    description: Machine name of the integration runtime node.
                    type: string
                    readOnly: true
                  hostServiceUri:
                    description: URI for the host machine of the integration runtime.
                    type: string
                    readOnly: true
                  status:
                    description: Status of the integration runtime node.
                    type: string
                    readOnly: true
                    enum:
                    - NeedRegistration
                    - Online
                    - Limited
                    - Offline
                    - Upgrading
                    - Initializing
                    - InitializeFailed
                    x-ms-enum:
                      name: SelfHostedIntegrationRuntimeNodeStatus
                      modelAsString: true
                  capabilities:
                    description: The integration runtime capabilities dictionary
                    type: object
                    readOnly: true
                    additionalProperties:
                      type: string
                  versionStatus:
                    description: Status of the integration runtime node version.
                    type: string
                    readOnly: true
                  version:
                    description: Version of the integration runtime node.
                    type: string
                    readOnly: true
                  registerTime:
                    description: The time at which the integration runtime node was
                      registered in ISO8601 format.
                    type: string
                    format: date-time
                    readOnly: true
                  lastConnectTime:
                    description: The most recent time at which the integration runtime
                      was connected in ISO8601 format.
                    type: string
                    format: date-time
                    readOnly: true
                  expiryTime:
                    description: The time at which the integration runtime will expire
                      in ISO8601 format.
                    type: string
                    format: date-time
                    readOnly: true
                  lastStartTime:
                    description: The time the node last started up.
                    type: string
                    format: date-time
                    readOnly: true
                  lastStopTime:
                    description: The integration runtime node last stop time.
                    type: string
                    format: date-time
                    readOnly: true
                  lastUpdateResult:
                    description: The result of the last integration runtime node update.
                    type: string
                    enum:
                    - None
                    - Succeed
                    - Fail
                    x-ms-enum:
                      name: IntegrationRuntimeUpdateResult
                      modelAsString: true
                    readOnly: true
                  lastStartUpdateTime:
                    description: The last time for the integration runtime node update
                      start.
                    type: string
                    format: date-time
                    readOnly: true
                  lastEndUpdateTime:
                    description: The last time for the integration runtime node update
                      end.
                    type: string
                    format: date-time
                    readOnly: true
                  isActiveDispatcher:
                    description: Indicates whether this node is the active dispatcher
                      for integration runtime requests.
                    type: boolean
                    readOnly: true
                  concurrentJobsLimit:
                    description: Maximum concurrent jobs on the integration runtime
                      node.
                    type: integer
                    format: int32
                    readOnly: true
                  maxConcurrentJobs:
                    description: The maximum concurrent jobs in this integration runtime.
                    type: integer
                    format: int32
                    readOnly: true
                additionalProperties:
                  type: object
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      operationId: IntegrationRuntimeNodes_Delete
      summary: Delete integration runtime node
      description: Delete an integration runtime node
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: nodeName
        description: Integration runtime node name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK.
        '204':
          description: No Content.
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/syncCredentials
  : post:
      operationId: IntegrationRuntimeCredentials_Sync
      summary: Sync integration runtime credentials
      description: Force the integration runtime to synchronize credentials across
        integration runtime nodes, and this will override the credentials across all
        worker nodes with those available on the dispatcher node. If you already have
        the latest credential backup file, you should manually import it (preferred)
        on any self-hosted integration runtime node than using this API directly.
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: integrationRuntimeName
        required: true
        in: path
        description: Integration runtime name
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK.
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes
  : get:
      operationId: IntegrationRuntimes_ListByWorkspace
      summary: List integration runtimes
      description: List all integration runtimes
      tags:
      - IntegrationRuntime
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                description: A list of integration runtime resources.
                type: object
                required:
                - value
                properties:
                  value:
                    type: array
                    description: List of integration runtimes.
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        etag:
                          type: string
                          readOnly: true
                          description: Resource Etag.
                        properties:
                          description: Integration runtime properties.
                          type: object
                          discriminator:
                            propertyName: type
                          properties:
                            type:
                              description: Type of integration runtime.
                              type: string
                              enum:
                              - Managed
                              - SelfHosted
                              x-ms-enum:
                                name: IntegrationRuntimeType
                                modelAsString: true
                            description:
                              description: Integration runtime description.
                              type: string
                          additionalProperties:
                            type: object
                          required:
                          - type
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      x-ms-client-name: AzureEntityResource
                      required:
                      - properties
                  nextLink:
                    description: The link to the next page of results, if any remaining
                      results exist.
                    type: string
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                x-ms-external: true
[...]
