openapi: 3.0.0
info:
  version: 2021-06-01
  title: SynapseManagementClient
  description: Azure Synapse Analytics APIs
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/libraries/{libraryName}
  : get:
      operationId: Library_Get
      summary: Get library by name.
      description: Get library by name in a workspace.
      tags:
      - Libraries
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: libraryName
        in: path
        required: true
        description: Library name
        x-ms-parameter-location: method
        schema:
          type: string
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  etag:
                    type: string
                    readOnly: true
                    description: Resource Etag.
                  properties:
                    description: Library/package properties.
                    x-ms-client-flatten: true
                    type: object
                    title: Information about a library/package created at the workspace
                      level.
                    properties:
                      name:
                        type: string
                        description: Name of the library.
                      path:
                        type: string
                        description: Storage blob path of library.
                      containerName:
                        type: string
                        description: Storage blob container name.
                      uploadedTimestamp:
                        type: string
                        format: date-time
                        description: The last update time of the library.
                        readOnly: true
                      type:
                        type: string
                        description: Type of the library.
                      provisioningStatus:
                        readOnly: true
                        type: string
                        description: Provisioning status of the library/package.
                      creatorId:
                        readOnly: true
                        type: string
                        description: Creator Id of the library/package.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
                x-ms-client-name: AzureEntityResource
                required:
                - properties
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/libraries
  : get:
      operationId: Libraries_ListByWorkspace
      summary: List the libraries in a workspace.
      description: List libraries in a workspace.
      tags:
      - Libraries
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                description: A list of Library resources.
                type: object
                required:
                - value
                properties:
                  value:
                    type: array
                    description: List of Library.
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        etag:
                          type: string
                          readOnly: true
                          description: Resource Etag.
                        properties:
                          description: Library/package properties.
                          x-ms-client-flatten: true
                          type: object
                          title: Information about a library/package created at the
                            workspace level.
                          properties:
                            name:
                              type: string
                              description: Name of the library.
                            path:
                              type: string
                              description: Storage blob path of library.
                            containerName:
                              type: string
                              description: Storage blob container name.
                            uploadedTimestamp:
                              type: string
                              format: date-time
                              description: The last update time of the library.
                              readOnly: true
                            type:
                              type: string
                              description: Type of the library.
                            provisioningStatus:
                              readOnly: true
                              type: string
                              description: Provisioning status of the library/package.
                            creatorId:
                              readOnly: true
                              type: string
                              description: Creator Id of the library/package.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                      x-ms-client-name: AzureEntityResource
                      required:
                      - properties
                  nextLink:
                    description: The link to the next page of results, if any remaining
                      results exist.
                    type: string
        default:
          description: An error response received from the Azure Synapse service.
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    LibraryNameParameter:
      name: libraryName
      in: path
      required: true
      description: Library name
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      description: The name of the workspace.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    LibraryListResponse:
      description: A list of Library resources.
      type: object
      required:
      - value
      properties:
        value:
          type: array
          description: List of Library.
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              etag:
                type: string
                readOnly: true
                description: Resource Etag.
              properties:
                description: Library/package properties.
                x-ms-client-flatten: true
                type: object
                title: Information about a library/package created at the workspace
                  level.
                properties:
                  name:
                    type: string
                    description: Name of the library.
                  path:
                    type: string
                    description: Storage blob path of library.
                  containerName:
                    type: string
                    description: Storage blob container name.
                  uploadedTimestamp:
                    type: string
                    format: date-time
                    description: The last update time of the library.
                    readOnly: true
                  type:
                    type: string
                    description: Type of the library.
                  provisioningStatus:
                    readOnly: true
                    type: string
                    description: Provisioning status of the library/package.
                  creatorId:
                    readOnly: true
                    type: string
                    description: Creator Id of the library/package.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
            x-ms-client-name: AzureEntityResource
            required:
            - properties
        nextLink:
          description: The link to the next page of results, if any remaining results
            exist.
          type: string
    LibraryResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
        properties:
          description: Library/package properties.
          x-ms-client-flatten: true
          type: object
          title: Information about a library/package created at the workspace level.
          properties:
            name:
              type: string
              description: Name of the library.
            path:
              type: string
              description: Storage blob path of library.
            containerName:
              type: string
              description: Storage blob container name.
            uploadedTimestamp:
              type: string
              format: date-time
              description: The last update time of the library.
              readOnly: true
            type:
              type: string
              description: Type of the library.
            provisioningStatus:
              readOnly: true
              type: string
              description: Provisioning status of the library/package.
            creatorId:
              readOnly: true
              type: string
              description: Creator Id of the library/package.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      x-ms-client-name: AzureEntityResource
      required:
      - properties
    SubResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      x-ms-client-name: AzureEntityResource
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    AzureEntityResource:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      x-ms-client-name: AzureEntityResource
    LibraryInfo:
      type: object
      description: Library/package information of a Big Data pool powered by Apache
        Spark
      title: Information about a library/package created at the workspace level.
      properties:
        name:
          type: string
          description: Name of the library.
        path:
          type: string
          description: Storage blob path of library.
        containerName:
          type: string
          description: Storage blob container name.
        uploadedTimestamp:
          type: string
          format: date-time
          description: The last update time of the library.
          readOnly: true
        type:
          type: string
          description: Type of the library.
        provisioningStatus:
          readOnly: true
          type: string
          description: Provisioning status of the library/package.
        creatorId:
          readOnly: true
          type: string
          description: Creator Id of the library/package.
