openapi: 3.0.0
info:
  version: 2021-06-01
  title: SynapseManagementClient
  description: Azure Synapse Analytics APIs
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Synapse/operations:
    get:
      operationId: Operations_List
      summary: All operations
      description: Get all available operations
      tags:
      - Operations
      deprecated: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: An operation that is available in this resource provider
                  properties:
                    display:
                      description: Display properties of the operation
                      type: object
                      properties:
                        description:
                          type: string
                          description: Operation description
                        resource:
                          type: string
                          description: Resource type
                        provider:
                          type: string
                          description: Resource provider name
                        operation:
                          type: string
                          description: Operation name
                    isDataAction:
                      type: string
                      description: Whether this operation is a data action
                    name:
                      type: string
                      description: Operation name
                    properties:
                      description: Operation properties
                      x-ms-client-flatten: true
                      type: object
                      properties:
                        serviceSpecification:
                          description: Operation service specification
                          type: object
                          properties:
                            metricSpecifications:
                              type: array
                              description: Service metric specifications
                              items:
                                type: object
                                description: What is this?
                                properties:
                                  sourceMdmNamespace:
                                    type: string
                                    description: The source MDM namespace
                                  displayName:
                                    type: string
                                    description: Metric display name
                                  name:
                                    type: string
                                    description: Metric unique name
                                  aggregationType:
                                    type: string
                                    description: Metric aggregation type
                                  displayDescription:
                                    type: string
                                    description: Metric description
                                  sourceMdmAccount:
                                    type: string
                                    description: The source MDM account
                                  enableRegionalMdmAccount:
                                    type: boolean
                                    description: Whether the regional MDM account
                                      is enabled
                                  unit:
                                    type: string
                                    description: Metric units
                                  dimensions:
                                    type: array
                                    description: Metric dimensions
                                    items:
                                      type: object
                                      description: What is this?
                                      properties:
                                        displayName:
                                          type: string
                                          description: Dimension display name
                                        name:
                                          type: string
                                          description: Dimension unique name
                                        toBeExportedForShoebox:
                                          type: boolean
                                          description: Whether this metric should
                                            be exported for Shoebox
                                  supportsInstanceLevelAggregation:
                                    type: boolean
                                    description: Whether the metric supports instance-level
                                      aggregation
                                  metricFilterPattern:
                                    type: string
                                    description: Metric filter
                            logSpecifications:
                              type: array
                              description: Service log specifications
                              items:
                                type: object
                                description: What is this?
                                properties:
                                  displayName:
                                    type: string
                                    description: Log display name
                                  blobDuration:
                                    type: string
                                    description: Time range the log covers
                                  name:
                                    type: string
                                    description: Log unique name
                    origin:
                      type: string
                      description: Operation origin
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/operationResults/{operationId}
  : get:
      operationId: Operations_GetLocationHeaderResult
      summary: Get operation result
      description: Get the result of an operation
      tags:
      - Operations
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: operationId
        description: Operation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '201':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/operationStatuses/{operationId}
  : get:
      operationId: Operations_GetAzureAsyncHeaderResult
      summary: Get operation status
      description: Get the status of an operation
      tags:
      - Operations
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: operationId
        description: Operation ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: An operation
                properties:
                  id:
                    type: string
                    description: Operation ID
                  name:
                    type: string
                    description: Operation name
                  status:
                    enum:
                    - InProgress
                    - Succeeded
                    - Failed
                    - Canceled
                    description: Operation status
                    type: string
                    x-ms-enum:
                      name: OperationStatus
                      modelAsString: true
                  properties:
                    type: object
                    description: Operation properties
                    x-ms-client-flatten: true
                  error:
                    description: Errors from the operation
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
                  startTime:
                    type: string
                    format: date-time
                    description: Operation start time
                  endTime:
                    type: string
                    format: date-time
                    description: Operation start time
                  percentComplete:
                    type: number
                    description: Completion percentage of the operation
        '404':
          description: Not found
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    WorkspaceNameParameter:
      name: workspaceName
      in: path
      description: The name of the workspace.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AvailableRpOperation:
      type: object
      description: An operation that is available in this resource provider
      properties:
        display:
          description: Display properties of the operation
          type: object
          properties:
            description:
              type: string
              description: Operation description
            resource:
              type: string
              description: Resource type
            provider:
              type: string
              description: Resource provider name
            operation:
              type: string
              description: Operation name
        isDataAction:
          type: string
          description: Whether this operation is a data action
        name:
          type: string
          description: Operation name
        properties:
          description: Operation properties
          x-ms-client-flatten: true
          type: object
          properties:
            serviceSpecification:
              description: Operation service specification
              type: object
              properties:
                metricSpecifications:
                  type: array
                  description: Service metric specifications
                  items:
                    type: object
                    description: What is this?
                    properties:
                      sourceMdmNamespace:
                        type: string
                        description: The source MDM namespace
                      displayName:
                        type: string
                        description: Metric display name
                      name:
                        type: string
                        description: Metric unique name
                      aggregationType:
                        type: string
                        description: Metric aggregation type
                      displayDescription:
                        type: string
                        description: Metric description
                      sourceMdmAccount:
                        type: string
                        description: The source MDM account
                      enableRegionalMdmAccount:
                        type: boolean
                        description: Whether the regional MDM account is enabled
                      unit:
                        type: string
                        description: Metric units
                      dimensions:
                        type: array
                        description: Metric dimensions
                        items:
                          type: object
                          description: What is this?
                          properties:
                            displayName:
                              type: string
                              description: Dimension display name
                            name:
                              type: string
                              description: Dimension unique name
                            toBeExportedForShoebox:
                              type: boolean
                              description: Whether this metric should be exported
                                for Shoebox
                      supportsInstanceLevelAggregation:
                        type: boolean
                        description: Whether the metric supports instance-level aggregation
                      metricFilterPattern:
                        type: string
                        description: Metric filter
                logSpecifications:
                  type: array
                  description: Service log specifications
                  items:
                    type: object
                    description: What is this?
                    properties:
                      displayName:
                        type: string
                        description: Log display name
                      blobDuration:
                        type: string
                        description: Time range the log covers
                      name:
                        type: string
                        description: Log unique name
        origin:
          type: string
          description: Operation origin
    AvailableRpOperationDisplayInfo:
      type: object
      description: Description of an available operation
      properties:
        description:
          type: string
          description: Operation description
        resource:
          type: string
          description: Resource type
        provider:
          type: string
          description: Resource provider name
        operation:
          type: string
          description: Operation name
    OperationMetaPropertyInfo:
      type: object
      description: What is this?
      properties:
        serviceSpecification:
          description: Operation service specification
          type: object
          properties:
            metricSpecifications:
              type: array
              description: Service metric specifications
              items:
                type: object
                description: What is this?
                properties:
                  sourceMdmNamespace:
                    type: string
                    description: The source MDM namespace
                  displayName:
                    type: string
                    description: Metric display name
                  name:
                    type: string
                    description: Metric unique name
                  aggregationType:
                    type: string
                    description: Metric aggregation type
                  displayDescription:
                    type: string
                    description: Metric description
                  sourceMdmAccount:
                    type: string
                    description: The source MDM account
                  enableRegionalMdmAccount:
                    type: boolean
                    description: Whether the regional MDM account is enabled
                  unit:
                    type: string
                    description: Metric units
                  dimensions:
                    type: array
                    description: Metric dimensions
                    items:
                      type: object
                      description: What is this?
                      properties:
                        displayName:
                          type: string
                          description: Dimension display name
                        name:
                          type: string
                          description: Dimension unique name
                        toBeExportedForShoebox:
                          type: boolean
                          description: Whether this metric should be exported for
                            Shoebox
                  supportsInstanceLevelAggregation:
                    type: boolean
                    description: Whether the metric supports instance-level aggregation
                  metricFilterPattern:
                    type: string
                    description: Metric filter
            logSpecifications:
              type: array
              description: Service log specifications
              items:
                type: object
                description: What is this?
                properties:
                  displayName:
                    type: string
                    description: Log display name
                  blobDuration:
                    type: string
                    description: Time range the log covers
                  name:
                    type: string
                    description: Log unique name
    OperationMetaServiceSpecification:
      type: object
      description: What is this?
      properties:
        metricSpecifications:
          type: array
          description: Service metric specifications
          items:
            type: object
            description: What is this?
            properties:
              sourceMdmNamespace:
                type: string
                description: The source MDM namespace
              displayName:
                type: string
                description: Metric display name
              name:
                type: string
                description: Metric unique name
              aggregationType:
                type: string
                description: Metric aggregation type
              displayDescription:
                type: string
                description: Metric description
              sourceMdmAccount:
                type: string
                description: The source MDM account
              enableRegionalMdmAccount:
                type: boolean
                description: Whether the regional MDM account is enabled
              unit:
                type: string
                description: Metric units
              dimensions:
                type: array
                description: Metric dimensions
                items:
                  type: object
                  description: What is this?
                  properties:
                    displayName:
                      type: string
                      description: Dimension display name
                    name:
                      type: string
                      description: Dimension unique name
                    toBeExportedForShoebox:
                      type: boolean
                      description: Whether this metric should be exported for Shoebox
              supportsInstanceLevelAggregation:
                type: boolean
                description: Whether the metric supports instance-level aggregation
              metricFilterPattern:
                type: string
                description: Metric filter
        logSpecifications:
          type: array
          description: Service log specifications
          items:
            type: object
            description: What is this?
            properties:
              displayName:
                type: string
                description: Log display name
              blobDuration:
                type: string
                description: Time range the log covers
              name:
                type: string
                description: Log unique name
    OperationMetaMetricSpecification:
      type: object
      description: What is this?
      properties:
        sourceMdmNamespace:
          type: string
          description: The source MDM namespace
        displayName:
          type: string
          description: Metric display name
        name:
          type: string
          description: Metric unique name
        aggregationType:
          type: string
          description: Metric aggregation type
        displayDescription:
          type: string
          description: Metric description
        sourceMdmAccount:
          type: string
          description: The source MDM account
        enableRegionalMdmAccount:
          type: boolean
          description: Whether the regional MDM account is enabled
        unit:
          type: string
          description: Metric units
        dimensions:
          type: array
          description: Metric dimensions
          items:
            type: object
            description: What is this?
            properties:
              displayName:
                type: string
                description: Dimension display name
              name:
                type: string
                description: Dimension unique name
              toBeExportedForShoebox:
                type: boolean
                description: Whether this metric should be exported for Shoebox
        supportsInstanceLevelAggregation:
          type: boolean
          description: Whether the metric supports instance-level aggregation
        metricFilterPattern:
          type: string
          description: Metric filter
    OperationMetaLogSpecification:
      type: object
      description: What is this?
      properties:
        displayName:
          type: string
          description: Log display name
        blobDuration:
          type: string
          description: Time range the log covers
        name:
          type: string
          description: Log unique name
    OperationMetaMetricDimensionSpecification:
      type: object
      description: What is this?
      properties:
        displayName:
          type: string
          description: Dimension display name
        name:
          type: string
          description: Dimension unique name
        toBeExportedForShoebox:
          type: boolean
          description: Whether this metric should be exported for Shoebox
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            description: The error detail.
            type: object
            properties:
              code:
                readOnly: true
                type: string
                description: The error code.
              message:
                readOnly: true
                type: string
                description: The error message.
              target:
                readOnly: true
                type: string
                description: The error target.
              details:
                readOnly: true
                type: array
                items:
                  description: The error detail.
                  type: object
                  properties:
                    code:
                      readOnly: true
                      type: string
                      description: The error code.
                    message:
                      readOnly: true
                      type: string
                      description: The error message.
                    target:
                      readOnly: true
                      type: string
                      description: The error target.
                x-ms-identifiers:
                - message
                - target
                description: The error details.
              additionalInfo:
                readOnly: true
                type: array
                items:
                  type: object
                  properties:
                    type:
                      readOnly: true
                      type: string
                      description: The additional info type.
                    info:
                      readOnly: true
                      type: object
                      description: The additional info.
                  description: The resource management error additional info.
                x-ms-identifiers: []
                description: The error additional info.
          x-ms-identifiers:
          - message
          - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            type: object
            properties:
              type:
                readOnly: true
                type: string
                description: The additional info type.
              info:
                readOnly: true
                type: object
                description: The additional info.
            description: The resource management error additional info.
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      type: object
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
    OperationResource:
      type: object
      description: An operation
      properties:
        id:
          type: string
          description: Operation ID
        name:
          type: string
          description: Operation name
        status:
          enum:
          - InProgress
          - Succeeded
          - Failed
          - Canceled
          description: Operation status
          type: string
          x-ms-enum:
            name: OperationStatus
            modelAsString: true
        properties:
          type: object
          description: Operation properties
          x-ms-client-flatten: true
        error:
          description: Errors from the operation
          type: object
          properties:
            code:
              readOnly: true
              type: string
              description: The error code.
            message:
              readOnly: true
              type: string
              description: The error message.
            target:
              readOnly: true
              type: string
              description: The error target.
            details:
              readOnly: true
              type: array
              items:
                description: The error detail.
                type: object
                properties:
                  code:
                    readOnly: true
                    type: string
                    description: The error code.
                  message:
                    readOnly: true
                    type: string
                    description: The error message.
                  target:
                    readOnly: true
                    type: string
                    description: The error target.
                  details:
                    readOnly: true
                    type: array
                    items:
                      description: The error detail.
                      type: object
                      properties:
                        code:
                          readOnly: true
                          type: string
                          description: The error code.
                        message:
                          readOnly: true
                          type: string
                          description: The error message.
                        target:
                          readOnly: true
                          type: string
                          description: The error target.
                    x-ms-identifiers:
                    - message
                    - target
                    description: The error details.
                  additionalInfo:
                    readOnly: true
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          readOnly: true
                          type: string
                          description: The additional info type.
                        info:
                          readOnly: true
                          type: object
                          description: The additional info.
                      description: The resource management error additional info.
                    x-ms-identifiers: []
                    description: The error additional info.
              x-ms-identifiers:
              - message
              - target
              description: The error details.
            additionalInfo:
              readOnly: true
              type: array
              items:
                type: object
                properties:
                  type:
                    readOnly: true
                    type: string
                    description: The additional info type.
                  info:
                    readOnly: true
                    type: object
                    description: The additional info.
                description: The resource management error additional info.
              x-ms-identifiers: []
              description: The error additional info.
        startTime:
          type: string
          format: date-time
          description: Operation start time
        endTime:
          type: string
          format: date-time
          description: Operation start time
        percentComplete:
          type: number
          description: Completion percentage of the operation
