openapi: 3.0.0
info:
  version: 2021-06-01
  title: SynapseManagementClient
  description: Azure Synapse Analytics APIs
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs:
    parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    get:
      operationId: PrivateLinkHubs_ListByResourceGroup
      description: Returns a list of privateLinkHubs in a resource group
      tags:
      - PrivateLinkHubs
      deprecated: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: List of privateLinkHubs
                type: object
                properties:
                  nextLink:
                    description: Link to the next page of results
                    type: string
                  value:
                    description: List of privateLinkHubs
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: PrivateLinkHub resource properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: PrivateLinkHub provisioning state
                              type: string
                            privateEndpointConnections:
                              description: List of private endpoint connections
                              readOnly: true
                              type: array
                              items:
                                description: Private Endpoint Connection For Private
                                  Link Hub - Basic
                                type: object
                                properties:
                                  id:
                                    description: identifier
                                    type: string
                                    readOnly: true
                                  properties:
                                    description: Properties of private endpoint connection
                                      for private link hub
                                    type: object
                                    x-ms-client-flatten: true
                                    properties:
                                      privateEndpoint:
                                        description: The private endpoint which the
                                          connection belongs to.
                                        type: object
                                        properties:
                                          id:
                                            description: Resource id of the private
                                              endpoint.
                                            type: string
                                            readOnly: true
                                        x-ms-azure-resource: true
                                      privateLinkServiceConnectionState:
                                        description: Connection state of the private
                                          endpoint connection.
                                        type: object
                                        properties:
                                          status:
                                            description: The private link service
                                              connection status.
                                            type: string
                                          description:
                                            description: The private link service
                                              connection description.
                                            type: string
                                          actionsRequired:
                                            description: The actions required for
                                              private link service connection.
                                            type: string
                                            readOnly: true
                                      provisioningState:
                                        description: Provisioning state of the private
                                          endpoint connection.
                                        type: string
                                        readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs/{privateLinkHubName}
  : parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: privateLinkHubName
      in: path
      required: true
      description: Name of the privateLinkHub
      x-ms-parameter-location: method
      schema:
        type: string
    get:
      operationId: PrivateLinkHubs_Get
      description: Gets a privateLinkHub
      tags:
      - PrivateLinkHubs
      deprecated: false
      responses:
        '200':
          description: PrivateLinkHub resource details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: PrivateLinkHub resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: PrivateLinkHub provisioning state
                        type: string
                      privateEndpointConnections:
                        description: List of private endpoint connections
                        readOnly: true
                        type: array
                        items:
                          description: Private Endpoint Connection For Private Link
                            Hub - Basic
                          type: object
                          properties:
                            id:
                              description: identifier
                              type: string
                              readOnly: true
                            properties:
                              description: Properties of private endpoint connection
                                for private link hub
                              type: object
                              x-ms-client-flatten: true
                              properties:
                                privateEndpoint:
                                  description: The private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                      readOnly: true
                                  x-ms-azure-resource: true
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: Provisioning state of the private endpoint
                                    connection.
                                  type: string
                                  readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 500 InternalServerError- Some\
            \ error occurred while trying to get details for PrivateLinkHub."
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    patch:
      operationId: PrivateLinkHubs_Update
      description: Updates a privateLinkHub
      tags:
      - PrivateLinkHubs
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              description: PrivateLinkHub patch details
              type: object
              properties:
                tags:
                  description: Resource tags
                  additionalProperties:
                    type: string
                  type: object
        description: PrivateLinkHub patch request properties
        required: true
      responses:
        '200':
          description: PrivateLinkHub resource details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: PrivateLinkHub resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: PrivateLinkHub provisioning state
                        type: string
                      privateEndpointConnections:
                        description: List of private endpoint connections
                        readOnly: true
                        type: array
                        items:
                          description: Private Endpoint Connection For Private Link
                            Hub - Basic
                          type: object
                          properties:
                            id:
                              description: identifier
                              type: string
                              readOnly: true
                            properties:
                              description: Properties of private endpoint connection
                                for private link hub
                              type: object
                              x-ms-client-flatten: true
                              properties:
                                privateEndpoint:
                                  description: The private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                      readOnly: true
                                  x-ms-azure-resource: true
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: Provisioning state of the private endpoint
                                    connection.
                                  type: string
                                  readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: PrivateLinkHub resource details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: PrivateLinkHub resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: PrivateLinkHub provisioning state
                        type: string
                      privateEndpointConnections:
                        description: List of private endpoint connections
                        readOnly: true
                        type: array
                        items:
                          description: Private Endpoint Connection For Private Link
                            Hub - Basic
                          type: object
                          properties:
                            id:
                              description: identifier
                              type: string
                              readOnly: true
                            properties:
                              description: Properties of private endpoint connection
                                for private link hub
                              type: object
                              x-ms-client-flatten: true
                              properties:
                                privateEndpoint:
                                  description: The private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                      readOnly: true
                                  x-ms-azure-resource: true
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: Provisioning state of the private endpoint
                                    connection.
                                  type: string
                                  readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 BadRequest - Invalid request\
            \ to create a PrivateLinkHub.\n\n * 500 InternalServerError- Some error\
            \ occurred while creating PrivateLinkHub."
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    put:
      operationId: PrivateLinkHubs_CreateOrUpdate
      description: Creates or updates a privateLinkHub
      tags:
      - PrivateLinkHubs
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                properties:
                  description: PrivateLinkHub resource properties
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    provisioningState:
                      description: PrivateLinkHub provisioning state
                      type: string
                    privateEndpointConnections:
                      description: List of private endpoint connections
                      readOnly: true
                      type: array
                      items:
                        description: Private Endpoint Connection For Private Link
                          Hub - Basic
                        type: object
                        properties:
                          id:
                            description: identifier
                            type: string
                            readOnly: true
                          properties:
                            description: Properties of private endpoint connection
                              for private link hub
                            type: object
                            x-ms-client-flatten: true
                            properties:
                              privateEndpoint:
                                description: The private endpoint which the connection
                                  belongs to.
                                type: object
                                properties:
                                  id:
                                    description: Resource id of the private endpoint.
                                    type: string
                                    readOnly: true
                                x-ms-azure-resource: true
                              privateLinkServiceConnectionState:
                                description: Connection state of the private endpoint
                                  connection.
                                type: object
                                properties:
                                  status:
                                    description: The private link service connection
                                      status.
                                    type: string
                                  description:
                                    description: The private link service connection
                                      description.
                                    type: string
                                  actionsRequired:
                                    description: The actions required for private
                                      link service connection.
                                    type: string
                                    readOnly: true
                              provisioningState:
                                description: Provisioning state of the private endpoint
                                  connection.
                                type: string
                                readOnly: true
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: PrivateLinkHub create or update request properties
        required: true
      responses:
        '200':
          description: PrivateLinkHub resource details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: PrivateLinkHub resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: PrivateLinkHub provisioning state
                        type: string
                      privateEndpointConnections:
                        description: List of private endpoint connections
                        readOnly: true
                        type: array
                        items:
                          description: Private Endpoint Connection For Private Link
                            Hub - Basic
                          type: object
                          properties:
                            id:
                              description: identifier
                              type: string
                              readOnly: true
                            properties:
                              description: Properties of private endpoint connection
                                for private link hub
                              type: object
                              x-ms-client-flatten: true
                              properties:
                                privateEndpoint:
                                  description: The private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                      readOnly: true
                                  x-ms-azure-resource: true
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: Provisioning state of the private endpoint
                                    connection.
                                  type: string
                                  readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: PrivateLinkHub resource details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: PrivateLinkHub resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      provisioningState:
                        description: PrivateLinkHub provisioning state
                        type: string
                      privateEndpointConnections:
                        description: List of private endpoint connections
                        readOnly: true
                        type: array
                        items:
                          description: Private Endpoint Connection For Private Link
                            Hub - Basic
                          type: object
                          properties:
                            id:
                              description: identifier
                              type: string
                              readOnly: true
                            properties:
                              description: Properties of private endpoint connection
                                for private link hub
                              type: object
                              x-ms-client-flatten: true
                              properties:
                                privateEndpoint:
                                  description: The private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                      readOnly: true
                                  x-ms-azure-resource: true
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: Provisioning state of the private endpoint
                                    connection.
                                  type: string
                                  readOnly: true
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 400 BadRequest - Invalid request\
            \ to create a PrivateLinkHub.\n\n * 500 InternalServerError- Some error\
            \ occurred while creating PrivateLinkHub."
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    delete:
      operationId: PrivateLinkHubs_Delete
      description: Deletes a privateLinkHub
      tags:
      - PrivateLinkHubs
      deprecated: false
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: PrivateLinkHub resource not found.
        default:
          description: "*** Error Responses: ***\n\n * 500 InternalServerError- Some\
            \ error occurred while deleting PrivateLinkHub."
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  /subscriptions/{subscriptionId}/providers/Microsoft.Synapse/privateLinkHubs:
    get:
      operationId: PrivateLinkHubs_List
      description: Returns a list of privateLinkHubs in a subscription
      tags:
      - PrivateLinkHubs
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: PrivateLinkHub resource details
          content:
            application/json:
              schema:
                description: List of privateLinkHubs
                type: object
                properties:
                  nextLink:
                    description: Link to the next page of results
                    type: string
                  value:
                    description: List of privateLinkHubs
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: PrivateLinkHub resource properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            provisioningState:
                              description: PrivateLinkHub provisioning state
                              type: string
                            privateEndpointConnections:
                              description: List of private endpoint connections
                              readOnly: true
                              type: array
                              items:
                                description: Private Endpoint Connection For Private
                                  Link Hub - Basic
                                type: object
                                properties:
                                  id:
                                    description: identifier
                                    type: string
                                    readOnly: true
                                  properties:
                                    description: Properties of private endpoint connection
                                      for private link hub
                                    type: object
                                    x-ms-client-flatten: true
                                    properties:
                                      privateEndpoint:
                                        description: The private endpoint which the
                                          connection belongs to.
                                        type: object
                                        properties:
                                          id:
                                            description: Resource id of the private
                                              endpoint.
                                            type: string
                                            readOnly: true
                                        x-ms-azure-resource: true
                                      privateLinkServiceConnectionState:
                                        description: Connection state of the private
                                          endpoint connection.
                                        type: object
                                        properties:
                                          status:
                                            description: The private link service
                                              connection status.
                                            type: string
                                          description:
                                            description: The private link service
                                              connection description.
                                            type: string
                                          actionsRequired:
                                            description: The actions required for
                                              private link service connection.
                                            type: string
                                            readOnly: true
                                      provisioningState:
                                        description: Provisioning state of the private
                                          endpoint connection.
                                        type: string
                                        readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs/{privateLinkHubName}/privateEndpointConnections
  : parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: privateLinkHubName
      in: path
      required: true
      description: Name of the privateLinkHub
      x-ms-parameter-location: method
      schema:
        type: string
    get:
      operationId: PrivateEndpointConnectionsPrivateLinkHub_List
      description: Get all PrivateEndpointConnections in the PrivateLinkHub
      tags:
      - PrivateLinkHubs
      - PrivateEndpointConnections
      deprecated: false
      responses:
        '200':
          description: List of PrivateEndpointConnections in PrivateLinkHub
          content:
            application/json:
              schema:
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        properties:
                          type: object
                          description: Properties of a private endpoint connection.
                          properties:
                            privateEndpoint:
                              description: The private endpoint which the connection
                                belongs to.
                              type: object
                              properties:
                                id:
                                  description: Resource id of the private endpoint.
                                  type: string
                                  readOnly: true
                              x-ms-azure-resource: true
                            privateLinkServiceConnectionState:
                              description: Connection state of the private endpoint
                                connection.
                              type: object
                              properties:
                                status:
                                  description: The private link service connection
                                    status.
                                  type: string
                                description:
                                  description: The private link service connection
                                    description.
                                  type: string
                                actionsRequired:
                                  description: The actions required for private link
                                    service connection.
                                  type: string
                                  readOnly: true
                            provisioningState:
                              description: Provisioning state of the private endpoint
                                connection.
                              type: string
                              readOnly: true
                        name:
                          type: string
                        type:
                          type: string
                  nextLink:
                    type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs/{privateLinkHubName}/privateEndpointConnections/{privateEndpointConnectionName}
  : parameters:
    - name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    - name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    - name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    - name: privateLinkHubName
      in: path
      required: true
      description: Name of the privateLinkHub
      x-ms-parameter-location: method
      schema:
        type: string
    - name: privateEndpointConnectionName
      in: path
      required: true
      description: Name of the privateEndpointConnection
      x-ms-parameter-location: method
      schema:
        type: string
    get:
      operationId: PrivateEndpointConnectionsPrivateLinkHub_Get
      description: Get all PrivateEndpointConnection in the PrivateLinkHub by name
      tags:
      - PrivateLinkHubs
      - PrivateEndpointConnections
      deprecated: false
      responses:
        '200':
          description: PrivateEndpointConnection in PrivateLinkHub
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  properties:
                    type: object
                    description: Properties of a private endpoint connection.
                    properties:
                      privateEndpoint:
                        description: The private endpoint which the connection belongs
                          to.
                        type: object
                        properties:
                          id:
                            description: Resource id of the private endpoint.
                            type: string
                            readOnly: true
                        x-ms-azure-resource: true
                      privateLinkServiceConnectionState:
                        description: Connection state of the private endpoint connection.
                        type: object
                        properties:
                          status:
                            description: The private link service connection status.
                            type: string
                          description:
                            description: The private link service connection description.
                            type: string
                          actionsRequired:
                            description: The actions required for private link service
                              connection.
                            type: string
                            readOnly: true
                      provisioningState:
                        description: Provisioning state of the private endpoint connection.
                        type: string
                        readOnly: true
                  name:
                    type: string
                  type:
                    type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
        minLength: 1
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group. The name is case insensitive.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    PrivateLinkHubNameParameter:
      name: privateLinkHubName
      in: path
      required: true
      description: Name of the privateLinkHub
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PrivateLinkHubInfoListResult:
      description: List of privateLinkHubs
      type: object
      properties:
        nextLink:
          description: Link to the next page of results
          type: string
        value:
          description: List of privateLinkHubs
          type: array
          items:
            type: object
            properties:
              id:
                readOnly: true
                type: string
                description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
              name:
                readOnly: true
                type: string
                description: The name of the resource
              type:
                readOnly: true
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
              tags:
                type: object
                additionalProperties:
                  type: string
                x-ms-mutability:
                - read
                - create
                - update
                description: Resource tags.
              location:
                type: string
                x-ms-mutability:
                - read
                - create
                description: The geo-location where the resource lives
              properties:
                description: PrivateLinkHub resource properties
                x-ms-client-flatten: true
                type: object
                properties:
                  provisioningState:
                    description: PrivateLinkHub provisioning state
                    type: string
                  privateEndpointConnections:
                    description: List of private endpoint connections
                    readOnly: true
                    type: array
                    items:
                      description: Private Endpoint Connection For Private Link Hub
                        - Basic
                      type: object
                      properties:
                        id:
                          description: identifier
                          type: string
                          readOnly: true
                        properties:
                          description: Properties of private endpoint connection for
                            private link hub
                          type: object
                          x-ms-client-flatten: true
                          properties:
                            privateEndpoint:
                              description: The private endpoint which the connection
                                belongs to.
                              type: object
                              properties:
                                id:
                                  description: Resource id of the private endpoint.
                                  type: string
                                  readOnly: true
                              x-ms-azure-resource: true
                            privateLinkServiceConnectionState:
                              description: Connection state of the private endpoint
                                connection.
                              type: object
                              properties:
                                status:
                                  description: The private link service connection
                                    status.
                                  type: string
                                description:
                                  description: The private link service connection
                                    description.
                                  type: string
                                actionsRequired:
                                  description: The actions required for private link
                                    service connection.
                                  type: string
                                  readOnly: true
                            provisioningState:
                              description: Provisioning state of the private endpoint
                                connection.
                              type: string
                              readOnly: true
            required:
            - location
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
    PrivateLinkHub:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
          - read
          - create
          description: The geo-location where the resource lives
        properties:
          description: PrivateLinkHub resource properties
          x-ms-client-flatten: true
          type: object
[...]
