openapi: 3.0.0
info:
  version: 2021-06-01
  title: SynapseManagementClient
  description: Azure Synapse Analytics APIs
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools/{sqlPoolName}
  : get:
      operationId: SqlPools_Get
      summary: Get SQL pool
      description: Get SQL pool properties
      tags:
      - SqlPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: sqlPoolName
        description: SQL pool name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SQL pool SKU
                    type: object
                    title: Sku
                    properties:
                      tier:
                        type: string
                        description: The service tier
                        x-ms-mutability:
                        - create
                        - read
                      name:
                        type: string
                        description: The SKU name
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                        x-ms-mutability:
                        - create
                        - read
                        - update
                  properties:
                    description: SQL pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: SQL pool properties
                    properties:
                      maxSizeBytes:
                        type: integer
                        description: Maximum size in bytes
                        format: int64
                      collation:
                        type: string
                        description: Collation mode
                        default: ''
                        x-ms-mutability:
                        - create
                        - read
                      sourceDatabaseId:
                        type: string
                        description: Source database to create from
                        x-ms-mutability:
                        - create
                        - update
                      recoverableDatabaseId:
                        type: string
                        description: Backup database to restore from
                      provisioningState:
                        type: string
                        description: Resource state
                      status:
                        type: string
                        description: Resource status
                        readOnly: true
                      restorePointInTime:
                        type: string
                        description: Snapshot time to restore
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: 'Specifies the mode of sql pool creation.


                          Default: regular sql pool creation.


                          PointInTimeRestore: Creates a sql pool by restoring a point
                          in time backup of an existing sql pool. sourceDatabaseId
                          must be specified as the resource ID of the existing sql
                          pool, and restorePointInTime must be specified.


                          Recovery: Creates a sql pool by a geo-replicated backup.
                          sourceDatabaseId  must be specified as the recoverableDatabaseId
                          to restore.


                          Restore: Creates a sql pool by restoring a backup of a deleted
                          sql  pool. SourceDatabaseId should be the sql pool''s original
                          resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                          must be specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Recovery
                        - Restore
                        x-ms-enum:
                          name: createMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - update
                      creationDate:
                        type: string
                        description: Date the SQL pool was created
                        format: date-time
                        readOnly: true
                      storageAccountType:
                        description: The storage account type used to store backups
                          for this sql pool.
                        enum:
                        - GRS
                        - LRS
                        type: string
                        x-ms-enum:
                          name: StorageAccountType
                          modelAsString: true
                        default: GRS
                      sourceDatabaseDeletionDate:
                        type: string
                        description: Specifies the time that the sql pool was deleted
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    patch:
      operationId: SqlPools_Update
      summary: Update SQL pool
      description: Apply a partial update to a SQL pool
      tags:
      - SqlPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: sqlPoolName
        description: SQL pool name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: SQL pool patch info
              description: A SQL Analytics pool patch info
              properties:
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource tags.
                location:
                  type: string
                  description: The geo-location where the resource lives
                sku:
                  description: SQL pool SKU
                  type: object
                  title: Sku
                  properties:
                    tier:
                      type: string
                      description: The service tier
                      x-ms-mutability:
                      - create
                      - read
                    name:
                      type: string
                      description: The SKU name
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                      x-ms-mutability:
                      - create
                      - read
                      - update
                properties:
                  description: SQL pool properties
                  x-ms-client-flatten: true
                  type: object
                  title: SQL pool properties
                  properties:
                    maxSizeBytes:
                      type: integer
                      description: Maximum size in bytes
                      format: int64
                    collation:
                      type: string
                      description: Collation mode
                      default: ''
                      x-ms-mutability:
                      - create
                      - read
                    sourceDatabaseId:
                      type: string
                      description: Source database to create from
                      x-ms-mutability:
                      - create
                      - update
                    recoverableDatabaseId:
                      type: string
                      description: Backup database to restore from
                    provisioningState:
                      type: string
                      description: Resource state
                    status:
                      type: string
                      description: Resource status
                      readOnly: true
                    restorePointInTime:
                      type: string
                      description: Snapshot time to restore
                      format: date-time
                      x-ms-mutability:
                      - create
                      - read
                    createMode:
                      type: string
                      description: 'Specifies the mode of sql pool creation.


                        Default: regular sql pool creation.


                        PointInTimeRestore: Creates a sql pool by restoring a point
                        in time backup of an existing sql pool. sourceDatabaseId must
                        be specified as the resource ID of the existing sql pool,
                        and restorePointInTime must be specified.


                        Recovery: Creates a sql pool by a geo-replicated backup. sourceDatabaseId  must
                        be specified as the recoverableDatabaseId to restore.


                        Restore: Creates a sql pool by restoring a backup of a deleted
                        sql  pool. SourceDatabaseId should be the sql pool''s original
                        resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                        must be specified.'
                      enum:
                      - Default
                      - PointInTimeRestore
                      - Recovery
                      - Restore
                      x-ms-enum:
                        name: createMode
                        modelAsString: true
                      x-ms-mutability:
                      - create
                      - update
                    creationDate:
                      type: string
                      description: Date the SQL pool was created
                      format: date-time
                      readOnly: true
                    storageAccountType:
                      description: The storage account type used to store backups
                        for this sql pool.
                      enum:
                      - GRS
                      - LRS
                      type: string
                      x-ms-enum:
                        name: StorageAccountType
                        modelAsString: true
                      default: GRS
                    sourceDatabaseDeletionDate:
                      type: string
                      description: Specifies the time that the sql pool was deleted
                      format: date-time
                      x-ms-mutability:
                      - create
                      - read
        description: The updated SQL pool properties
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SQL pool SKU
                    type: object
                    title: Sku
                    properties:
                      tier:
                        type: string
                        description: The service tier
                        x-ms-mutability:
                        - create
                        - read
                      name:
                        type: string
                        description: The SKU name
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                        x-ms-mutability:
                        - create
                        - read
                        - update
                  properties:
                    description: SQL pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: SQL pool properties
                    properties:
                      maxSizeBytes:
                        type: integer
                        description: Maximum size in bytes
                        format: int64
                      collation:
                        type: string
                        description: Collation mode
                        default: ''
                        x-ms-mutability:
                        - create
                        - read
                      sourceDatabaseId:
                        type: string
                        description: Source database to create from
                        x-ms-mutability:
                        - create
                        - update
                      recoverableDatabaseId:
                        type: string
                        description: Backup database to restore from
                      provisioningState:
                        type: string
                        description: Resource state
                      status:
                        type: string
                        description: Resource status
                        readOnly: true
                      restorePointInTime:
                        type: string
                        description: Snapshot time to restore
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: 'Specifies the mode of sql pool creation.


                          Default: regular sql pool creation.


                          PointInTimeRestore: Creates a sql pool by restoring a point
                          in time backup of an existing sql pool. sourceDatabaseId
                          must be specified as the resource ID of the existing sql
                          pool, and restorePointInTime must be specified.


                          Recovery: Creates a sql pool by a geo-replicated backup.
                          sourceDatabaseId  must be specified as the recoverableDatabaseId
                          to restore.


                          Restore: Creates a sql pool by restoring a backup of a deleted
                          sql  pool. SourceDatabaseId should be the sql pool''s original
                          resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                          must be specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Recovery
                        - Restore
                        x-ms-enum:
                          name: createMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - update
                      creationDate:
                        type: string
                        description: Date the SQL pool was created
                        format: date-time
                        readOnly: true
                      storageAccountType:
                        description: The storage account type used to store backups
                          for this sql pool.
                        enum:
                        - GRS
                        - LRS
                        type: string
                        x-ms-enum:
                          name: StorageAccountType
                          modelAsString: true
                        default: GRS
                      sourceDatabaseDeletionDate:
                        type: string
                        description: Specifies the time that the sql pool was deleted
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
    put:
      operationId: SqlPools_Create
      summary: Create SQL pool
      description: Create a SQL pool
      tags:
      - SqlPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: sqlPoolName
        description: SQL pool name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                  description: Resource tags.
                location:
                  type: string
                  x-ms-mutability:
                  - read
                  - create
                  description: The geo-location where the resource lives
                sku:
                  description: SQL pool SKU
                  type: object
                  title: Sku
                  properties:
                    tier:
                      type: string
                      description: The service tier
                      x-ms-mutability:
                      - create
                      - read
                    name:
                      type: string
                      description: The SKU name
                    capacity:
                      type: integer
                      format: int32
                      description: If the SKU supports scale out/in then the capacity
                        integer should be included. If scale out/in is not possible
                        for the resource this may be omitted.
                      x-ms-mutability:
                      - create
                      - read
                      - update
                properties:
                  description: SQL pool properties
                  x-ms-client-flatten: true
                  type: object
                  title: SQL pool properties
                  properties:
                    maxSizeBytes:
                      type: integer
                      description: Maximum size in bytes
                      format: int64
                    collation:
                      type: string
                      description: Collation mode
                      default: ''
                      x-ms-mutability:
                      - create
                      - read
                    sourceDatabaseId:
                      type: string
                      description: Source database to create from
                      x-ms-mutability:
                      - create
                      - update
                    recoverableDatabaseId:
                      type: string
                      description: Backup database to restore from
                    provisioningState:
                      type: string
                      description: Resource state
                    status:
                      type: string
                      description: Resource status
                      readOnly: true
                    restorePointInTime:
                      type: string
                      description: Snapshot time to restore
                      format: date-time
                      x-ms-mutability:
                      - create
                      - read
                    createMode:
                      type: string
                      description: 'Specifies the mode of sql pool creation.


                        Default: regular sql pool creation.


                        PointInTimeRestore: Creates a sql pool by restoring a point
                        in time backup of an existing sql pool. sourceDatabaseId must
                        be specified as the resource ID of the existing sql pool,
                        and restorePointInTime must be specified.


                        Recovery: Creates a sql pool by a geo-replicated backup. sourceDatabaseId  must
                        be specified as the recoverableDatabaseId to restore.


                        Restore: Creates a sql pool by restoring a backup of a deleted
                        sql  pool. SourceDatabaseId should be the sql pool''s original
                        resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                        must be specified.'
                      enum:
                      - Default
                      - PointInTimeRestore
                      - Recovery
                      - Restore
                      x-ms-enum:
                        name: createMode
                        modelAsString: true
                      x-ms-mutability:
                      - create
                      - update
                    creationDate:
                      type: string
                      description: Date the SQL pool was created
                      format: date-time
                      readOnly: true
                    storageAccountType:
                      description: The storage account type used to store backups
                        for this sql pool.
                      enum:
                      - GRS
                      - LRS
                      type: string
                      x-ms-enum:
                        name: StorageAccountType
                        modelAsString: true
                      default: GRS
                    sourceDatabaseDeletionDate:
                      type: string
                      description: Specifies the time that the sql pool was deleted
                      format: date-time
                      x-ms-mutability:
                      - create
                      - read
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The SQL pool to create
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SQL pool SKU
                    type: object
                    title: Sku
                    properties:
                      tier:
                        type: string
                        description: The service tier
                        x-ms-mutability:
                        - create
                        - read
                      name:
                        type: string
                        description: The SKU name
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                        x-ms-mutability:
                        - create
                        - read
                        - update
                  properties:
                    description: SQL pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: SQL pool properties
                    properties:
                      maxSizeBytes:
                        type: integer
                        description: Maximum size in bytes
                        format: int64
                      collation:
                        type: string
                        description: Collation mode
                        default: ''
                        x-ms-mutability:
                        - create
                        - read
                      sourceDatabaseId:
                        type: string
                        description: Source database to create from
                        x-ms-mutability:
                        - create
                        - update
                      recoverableDatabaseId:
                        type: string
                        description: Backup database to restore from
                      provisioningState:
                        type: string
                        description: Resource state
                      status:
                        type: string
                        description: Resource status
                        readOnly: true
                      restorePointInTime:
                        type: string
                        description: Snapshot time to restore
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: 'Specifies the mode of sql pool creation.


                          Default: regular sql pool creation.


                          PointInTimeRestore: Creates a sql pool by restoring a point
                          in time backup of an existing sql pool. sourceDatabaseId
                          must be specified as the resource ID of the existing sql
                          pool, and restorePointInTime must be specified.


                          Recovery: Creates a sql pool by a geo-replicated backup.
                          sourceDatabaseId  must be specified as the recoverableDatabaseId
                          to restore.


                          Restore: Creates a sql pool by restoring a backup of a deleted
                          sql  pool. SourceDatabaseId should be the sql pool''s original
                          resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                          must be specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Recovery
                        - Restore
                        x-ms-enum:
                          name: createMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - update
                      creationDate:
                        type: string
                        description: Date the SQL pool was created
                        format: date-time
                        readOnly: true
                      storageAccountType:
                        description: The storage account type used to store backups
                          for this sql pool.
                        enum:
                        - GRS
                        - LRS
                        type: string
                        x-ms-enum:
                          name: StorageAccountType
                          modelAsString: true
                        default: GRS
                      sourceDatabaseDeletionDate:
                        type: string
                        description: Specifies the time that the sql pool was deleted
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
        '404':
          description: ''
          x-ms-error-response: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    delete:
      operationId: SqlPools_Delete
      summary: Delete SQL pool
      description: Delete a SQL pool
      tags:
      - SqlPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: sqlPoolName
        description: SQL pool name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SQL pool SKU
                    type: object
                    title: Sku
                    properties:
                      tier:
                        type: string
                        description: The service tier
                        x-ms-mutability:
                        - create
                        - read
                      name:
                        type: string
                        description: The SKU name
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                        x-ms-mutability:
                        - create
                        - read
                        - update
                  properties:
                    description: SQL pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: SQL pool properties
                    properties:
                      maxSizeBytes:
                        type: integer
                        description: Maximum size in bytes
                        format: int64
                      collation:
                        type: string
                        description: Collation mode
                        default: ''
                        x-ms-mutability:
                        - create
                        - read
                      sourceDatabaseId:
                        type: string
                        description: Source database to create from
                        x-ms-mutability:
                        - create
                        - update
                      recoverableDatabaseId:
                        type: string
                        description: Backup database to restore from
                      provisioningState:
                        type: string
                        description: Resource state
                      status:
                        type: string
                        description: Resource status
                        readOnly: true
                      restorePointInTime:
                        type: string
                        description: Snapshot time to restore
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: 'Specifies the mode of sql pool creation.


                          Default: regular sql pool creation.


                          PointInTimeRestore: Creates a sql pool by restoring a point
                          in time backup of an existing sql pool. sourceDatabaseId
                          must be specified as the resource ID of the existing sql
                          pool, and restorePointInTime must be specified.


                          Recovery: Creates a sql pool by a geo-replicated backup.
                          sourceDatabaseId  must be specified as the recoverableDatabaseId
                          to restore.


                          Restore: Creates a sql pool by restoring a backup of a deleted
                          sql  pool. SourceDatabaseId should be the sql pool''s original
                          resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                          must be specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Recovery
                        - Restore
                        x-ms-enum:
                          name: createMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - update
                      creationDate:
                        type: string
                        description: Date the SQL pool was created
                        format: date-time
                        readOnly: true
                      storageAccountType:
                        description: The storage account type used to store backups
                          for this sql pool.
                        enum:
                        - GRS
                        - LRS
                        type: string
                        x-ms-enum:
                          name: StorageAccountType
                          modelAsString: true
                        default: GRS
                      sourceDatabaseDeletionDate:
                        type: string
                        description: Specifies the time that the sql pool was deleted
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SQL pool SKU
                    type: object
                    title: Sku
                    properties:
                      tier:
                        type: string
                        description: The service tier
                        x-ms-mutability:
                        - create
                        - read
                      name:
                        type: string
                        description: The SKU name
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                        x-ms-mutability:
                        - create
                        - read
                        - update
                  properties:
                    description: SQL pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: SQL pool properties
                    properties:
                      maxSizeBytes:
                        type: integer
                        description: Maximum size in bytes
                        format: int64
                      collation:
                        type: string
                        description: Collation mode
                        default: ''
                        x-ms-mutability:
                        - create
                        - read
                      sourceDatabaseId:
                        type: string
                        description: Source database to create from
                        x-ms-mutability:
                        - create
                        - update
                      recoverableDatabaseId:
                        type: string
                        description: Backup database to restore from
                      provisioningState:
                        type: string
                        description: Resource state
                      status:
                        type: string
                        description: Resource status
                        readOnly: true
                      restorePointInTime:
                        type: string
                        description: Snapshot time to restore
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: 'Specifies the mode of sql pool creation.


                          Default: regular sql pool creation.


                          PointInTimeRestore: Creates a sql pool by restoring a point
                          in time backup of an existing sql pool. sourceDatabaseId
                          must be specified as the resource ID of the existing sql
                          pool, and restorePointInTime must be specified.


                          Recovery: Creates a sql pool by a geo-replicated backup.
                          sourceDatabaseId  must be specified as the recoverableDatabaseId
                          to restore.


                          Restore: Creates a sql pool by restoring a backup of a deleted
                          sql  pool. SourceDatabaseId should be the sql pool''s original
                          resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                          must be specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Recovery
                        - Restore
                        x-ms-enum:
                          name: createMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - update
                      creationDate:
                        type: string
                        description: Date the SQL pool was created
                        format: date-time
                        readOnly: true
                      storageAccountType:
                        description: The storage account type used to store backups
                          for this sql pool.
                        enum:
                        - GRS
                        - LRS
                        type: string
                        x-ms-enum:
                          name: StorageAccountType
                          modelAsString: true
                        default: GRS
                      sourceDatabaseDeletionDate:
                        type: string
                        description: Specifies the time that the sql pool was deleted
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '204':
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools
  : get:
      operationId: SqlPools_ListByWorkspace
      summary: List SQL pools
      description: List all SQL pools
      tags:
      - SqlPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                title: SQL pool collection
                description: List of SQL pools
                properties:
                  nextLink:
                    type: string
                    description: Link to the next page of results
                  value:
                    type: array
                    description: List of SQL pools
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        sku:
                          description: SQL pool SKU
                          type: object
                          title: Sku
                          properties:
                            tier:
                              type: string
                              description: The service tier
                              x-ms-mutability:
                              - create
                              - read
                            name:
                              type: string
                              description: The SKU name
                            capacity:
                              type: integer
                              format: int32
                              description: If the SKU supports scale out/in then the
                                capacity integer should be included. If scale out/in
                                is not possible for the resource this may be omitted.
                              x-ms-mutability:
                              - create
                              - read
                              - update
                        properties:
                          description: SQL pool properties
                          x-ms-client-flatten: true
                          type: object
                          title: SQL pool properties
                          properties:
                            maxSizeBytes:
                              type: integer
                              description: Maximum size in bytes
                              format: int64
                            collation:
                              type: string
                              description: Collation mode
                              default: ''
                              x-ms-mutability:
                              - create
                              - read
                            sourceDatabaseId:
                              type: string
                              description: Source database to create from
                              x-ms-mutability:
                              - create
                              - update
                            recoverableDatabaseId:
                              type: string
                              description: Backup database to restore from
                            provisioningState:
                              type: string
                              description: Resource state
                            status:
                              type: string
                              description: Resource status
                              readOnly: true
                            restorePointInTime:
                              type: string
                              description: Snapshot time to restore
                              format: date-time
                              x-ms-mutability:
                              - create
                              - read
                            createMode:
                              type: string
                              description: 'Specifies the mode of sql pool creation.


                                Default: regular sql pool creation.


                                PointInTimeRestore: Creates a sql pool by restoring
                                a point in time backup of an existing sql pool. sourceDatabaseId
                                must be specified as the resource ID of the existing
                                sql pool, and restorePointInTime must be specified.


                                Recovery: Creates a sql pool by a geo-replicated backup.
                                sourceDatabaseId  must be specified as the recoverableDatabaseId
                                to restore.


                                Restore: Creates a sql pool by restoring a backup
                                of a deleted sql  pool. SourceDatabaseId should be
                                the sql pool''s original resource ID. SourceDatabaseId
                                and sourceDatabaseDeletionDate must be specified.'
                              enum:
                              - Default
                              - PointInTimeRestore
                              - Recovery
                              - Restore
                              x-ms-enum:
                                name: createMode
                                modelAsString: true
                              x-ms-mutability:
                              - create
                              - update
                            creationDate:
                              type: string
                              description: Date the SQL pool was created
                              format: date-time
                              readOnly: true
                            storageAccountType:
                              description: The storage account type used to store
                                backups for this sql pool.
                              enum:
                              - GRS
                              - LRS
                              type: string
                              x-ms-enum:
                                name: StorageAccountType
                                modelAsString: true
                              default: GRS
                            sourceDatabaseDeletionDate:
                              type: string
                              description: Specifies the time that the sql pool was
                                deleted
                              format: date-time
                              x-ms-mutability:
                              - create
                              - read
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools/{sqlPoolName}/pause
  : post:
      operationId: SqlPools_Pause
      summary: Pause SQL pool
      description: Pause a SQL pool
      tags:
      - SqlPools
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - in: path
        name: sqlPoolName
        description: SQL pool name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SQL pool SKU
                    type: object
                    title: Sku
                    properties:
                      tier:
                        type: string
                        description: The service tier
                        x-ms-mutability:
                        - create
                        - read
                      name:
                        type: string
                        description: The SKU name
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                        x-ms-mutability:
                        - create
                        - read
                        - update
                  properties:
                    description: SQL pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: SQL pool properties
                    properties:
                      maxSizeBytes:
                        type: integer
                        description: Maximum size in bytes
                        format: int64
                      collation:
                        type: string
                        description: Collation mode
                        default: ''
                        x-ms-mutability:
                        - create
                        - read
                      sourceDatabaseId:
                        type: string
                        description: Source database to create from
                        x-ms-mutability:
                        - create
                        - update
                      recoverableDatabaseId:
                        type: string
                        description: Backup database to restore from
                      provisioningState:
                        type: string
                        description: Resource state
                      status:
                        type: string
                        description: Resource status
                        readOnly: true
                      restorePointInTime:
                        type: string
                        description: Snapshot time to restore
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: 'Specifies the mode of sql pool creation.


                          Default: regular sql pool creation.


                          PointInTimeRestore: Creates a sql pool by restoring a point
                          in time backup of an existing sql pool. sourceDatabaseId
                          must be specified as the resource ID of the existing sql
                          pool, and restorePointInTime must be specified.


                          Recovery: Creates a sql pool by a geo-replicated backup.
                          sourceDatabaseId  must be specified as the recoverableDatabaseId
                          to restore.


                          Restore: Creates a sql pool by restoring a backup of a deleted
                          sql  pool. SourceDatabaseId should be the sql pool''s original
                          resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                          must be specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Recovery
                        - Restore
                        x-ms-enum:
                          name: createMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - update
                      creationDate:
                        type: string
                        description: Date the SQL pool was created
                        format: date-time
                        readOnly: true
                      storageAccountType:
                        description: The storage account type used to store backups
                          for this sql pool.
                        enum:
                        - GRS
                        - LRS
                        type: string
                        x-ms-enum:
                          name: StorageAccountType
                          modelAsString: true
                        default: GRS
                      sourceDatabaseDeletionDate:
                        type: string
                        description: Specifies the time that the sql pool was deleted
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  sku:
                    description: SQL pool SKU
                    type: object
                    title: Sku
                    properties:
                      tier:
                        type: string
                        description: The service tier
                        x-ms-mutability:
                        - create
                        - read
                      name:
                        type: string
                        description: The SKU name
                      capacity:
                        type: integer
                        format: int32
                        description: If the SKU supports scale out/in then the capacity
                          integer should be included. If scale out/in is not possible
                          for the resource this may be omitted.
                        x-ms-mutability:
                        - create
                        - read
                        - update
                  properties:
                    description: SQL pool properties
                    x-ms-client-flatten: true
                    type: object
                    title: SQL pool properties
                    properties:
                      maxSizeBytes:
                        type: integer
                        description: Maximum size in bytes
                        format: int64
                      collation:
                        type: string
                        description: Collation mode
                        default: ''
                        x-ms-mutability:
                        - create
                        - read
                      sourceDatabaseId:
                        type: string
                        description: Source database to create from
                        x-ms-mutability:
                        - create
                        - update
                      recoverableDatabaseId:
                        type: string
                        description: Backup database to restore from
                      provisioningState:
                        type: string
                        description: Resource state
                      status:
                        type: string
                        description: Resource status
                        readOnly: true
                      restorePointInTime:
                        type: string
                        description: Snapshot time to restore
                        format: date-time
                        x-ms-mutability:
                        - create
                        - read
                      createMode:
                        type: string
                        description: 'Specifies the mode of sql pool creation.


                          Default: regular sql pool creation.


                          PointInTimeRestore: Creates a sql pool by restoring a point
                          in time backup of an existing sql pool. sourceDatabaseId
                          must be specified as the resource ID of the existing sql
                          pool, and restorePointInTime must be specified.


                          Recovery: Creates a sql pool by a geo-replicated backup.
                          sourceDatabaseId  must be specified as the recoverableDatabaseId
                          to restore.


                          Restore: Creates a sql pool by restoring a backup of a deleted
                          sql  pool. SourceDatabaseId should be the sql pool''s original
                          resource ID. SourceDatabaseId and sourceDatabaseDeletionDate
                          must be specified.'
                        enum:
                        - Default
                        - PointInTimeRestore
                        - Recovery
                        - Restore
                        x-ms-enum:
                          name: createMode
                          modelAsString: true
                        x-ms-mutability:
                        - create
                        - update
                      creationDate:
                        type: string
                        description: Date the SQL pool was created
                        format: date-time
                        readOnly: true
                      storageAccountType:
                        description: The storage account type used to store backups
                          for this sql pool.
                        enum:
                        - GRS
                        - LRS
                        type: string
                        x-ms-enum:
[...]
