openapi: 3.0.0
info:
  version: 2021-06-01
  title: SynapseManagementClient
  description: The Azure Synapse SQL management API provides a RESTful set of web
    APIs that interact with Azure Synapse SQL services to manage your resources. The
    API enables users to create, retrieve, update, and delete SqlServers sub resources.
servers:
- url: https://management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/auditingSettings/{blobAuditingPolicyName}
  : get:
      operationId: WorkspaceManagedSqlServerBlobAuditingPolicies_Get
      summary: Get server's blob auditing policy.
      description: Get a workspace managed sql server's blob auditing policy.
      tags:
      - WorkspaceManagedSqlServer, BlobAuditing
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: blobAuditingPolicyName
        in: path
        description: The name of the blob auditing policy.
        required: true
        x-ms-enum:
          name: BlobAuditingPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: Successfully retrieved workspace managed sql server's blob
            auditing policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the policy. If state is
                          Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          are required.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: BlobAuditingPolicyState
                          modelAsString: false
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          is required.
                        type: string
                      storageAccountAccessKey:
                        description: "Specifies the identifier key of the auditing\
                          \ storage account. \r\nIf state is Enabled and storageEndpoint\
                          \ is specified, not specifying the storageAccountAccessKey\
                          \ will use SQL server system-assigned managed identity to\
                          \ access the storage.\r\nPrerequisites for using managed\
                          \ identity authentication:\r\n1. Assign SQL Server a system-assigned\
                          \ managed identity in Azure Active Directory (AAD).\r\n\
                          2. Grant SQL Server identity access to the storage account\
                          \ by adding 'Storage Blob Data Contributor' RBAC role to\
                          \ the server identity.\r\nFor more information, see [Auditing\
                          \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      retentionDays:
                        format: int32
                        description: Specifies the number of days to keep in the audit
                          logs in the storage account.
                        type: integer
                        x-ms-mutability:
                        - create
                        - read
                      auditActionsAndGroups:
                        description: "Specifies the Actions-Groups and Actions to\
                          \ audit.\r\n\r\nThe recommended set of action groups to\
                          \ use is the following combination - this will audit all\
                          \ the queries and stored procedures executed against the\
                          \ database, as well as successful and failed logins:\r\n\
                          \r\nBATCH_COMPLETED_GROUP,\r\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\r\
                          \nFAILED_DATABASE_AUTHENTICATION_GROUP.\r\n\r\nThis above\
                          \ combination is also the set that is configured by default\
                          \ when enabling auditing from the Azure portal.\r\n\r\n\
                          The supported action groups to audit are (note: choose only\
                          \ specific groups that cover your auditing needs. Using\
                          \ unnecessary groups could lead to very large quantities\
                          \ of audit records):\r\n\r\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\r\
                          \nBACKUP_RESTORE_GROUP\r\nDATABASE_LOGOUT_GROUP\r\nDATABASE_OBJECT_CHANGE_GROUP\r\
                          \nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\r\
                          \nDATABASE_OPERATION_GROUP\r\nDATABASE_PERMISSION_CHANGE_GROUP\r\
                          \nDATABASE_PRINCIPAL_CHANGE_GROUP\r\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\r\
                          \nDATABASE_ROLE_MEMBER_CHANGE_GROUP\r\nFAILED_DATABASE_AUTHENTICATION_GROUP\r\
                          \nSCHEMA_OBJECT_ACCESS_GROUP\r\nSCHEMA_OBJECT_CHANGE_GROUP\r\
                          \nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\r\
                          \nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\r\nUSER_CHANGE_PASSWORD_GROUP\r\
                          \nBATCH_STARTED_GROUP\r\nBATCH_COMPLETED_GROUP\r\n\r\nThese\
                          \ are groups that cover all sql statements and stored procedures\
                          \ executed against the database, and should not be used\
                          \ in combination with other groups as this will result in\
                          \ duplicate audit logs.\r\n\r\nFor more information, see\
                          \ [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\r\
                          \n\r\nFor Database auditing policy, specific Actions can\
                          \ also be specified (note that Actions cannot be specified\
                          \ for Server auditing policy). The supported actions to\
                          \ audit are:\r\nSELECT\r\nUPDATE\r\nINSERT\r\nDELETE\r\n\
                          EXECUTE\r\nRECEIVE\r\nREFERENCES\r\n\r\nThe general form\
                          \ for defining an action to be audited is:\r\n{action} ON\
                          \ {object} BY {principal}\r\n\r\nNote that <object> in the\
                          \ above format can refer to an object like a table, view,\
                          \ or stored procedure, or an entire database or schema.\
                          \ For the latter cases, the forms DATABASE::{db_name} and\
                          \ SCHEMA::{schema_name} are used, respectively.\r\n\r\n\
                          For example:\r\nSELECT on dbo.myTable by public\r\nSELECT\
                          \ on DATABASE::myDatabase by public\r\nSELECT on SCHEMA::mySchema\
                          \ by public\r\n\r\nFor more information, see [Database-Level\
                          \ Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
                        type: array
                        items:
                          type: string
                        x-ms-mutability:
                        - create
                        - read
                      storageAccountSubscriptionId:
                        format: uuid
                        description: Specifies the blob storage subscription Id.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      isStorageSecondaryKeyInUse:
                        description: Specifies whether storageAccountAccessKey value
                          is the storage's secondary key.
                        type: boolean
                      isAzureMonitorTargetEnabled:
                        description: "Specifies whether audit events are sent to Azure\
                          \ Monitor. \r\nIn order to send the events to Azure Monitor,\
                          \ specify 'state' as 'Enabled' and 'isAzureMonitorTargetEnabled'\
                          \ as true.\r\n\r\nWhen using REST API to configure auditing,\
                          \ Diagnostic Settings with 'SQLSecurityAuditEvents' diagnostic\
                          \ logs category on the database should be also created.\r\
                          \nNote that for server level audit you should use the 'master'\
                          \ database as {databaseName}.\r\n\r\nDiagnostic Settings\
                          \ URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                      queueDelayMs:
                        format: int32
                        description: "Specifies the amount of time in milliseconds\
                          \ that can elapse before audit actions are forced to be\
                          \ processed.\r\nThe default minimum value is 1000 (1 second).\
                          \ The maximum is 2,147,483,647."
                        type: integer
                      isDevopsAuditEnabled:
                        description: "Specifies the state of devops audit. If state\
                          \ is Enabled, devops logs will be sent to Azure Monitor.\r\
                          \nIn order to send the events to Azure Monitor, specify\
                          \ 'State' as 'Enabled', 'IsAzureMonitorTargetEnabled' as\
                          \ true and 'IsDevopsAuditEnabled' as true\r\n\r\nWhen using\
                          \ REST API to configure auditing, Diagnostic Settings with\
                          \ 'DevOpsOperationsAudit' diagnostic logs category on the\
                          \ master database should also be created.\r\n\r\nDiagnostic\
                          \ Settings URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 409 UnsupportedWorkspaceType - Unsupported operation\
            \ for the workspace type.\n\n * 500 InternalServerError - Something went\
            \ wrong."
    put:
      operationId: WorkspaceManagedSqlServerBlobAuditingPolicies_CreateOrUpdate
      summary: Create or Update server's blob auditing policy.
      description: Create or Update a workspace managed sql server's blob auditing
        policy.
      tags:
      - WorkspaceManagedSqlServer, BlobAuditing
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: blobAuditingPolicyName
        in: path
        description: The name of the blob auditing policy.
        required: true
        x-ms-enum:
          name: BlobAuditingPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - state
                  type: object
                  properties:
                    state:
                      description: Specifies the state of the policy. If state is
                        Enabled, storageEndpoint or isAzureMonitorTargetEnabled are
                        required.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: BlobAuditingPolicyState
                        modelAsString: false
                    storageEndpoint:
                      description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                        If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                        is required.
                      type: string
                    storageAccountAccessKey:
                      description: "Specifies the identifier key of the auditing storage\
                        \ account. \r\nIf state is Enabled and storageEndpoint is\
                        \ specified, not specifying the storageAccountAccessKey will\
                        \ use SQL server system-assigned managed identity to access\
                        \ the storage.\r\nPrerequisites for using managed identity\
                        \ authentication:\r\n1. Assign SQL Server a system-assigned\
                        \ managed identity in Azure Active Directory (AAD).\r\n2.\
                        \ Grant SQL Server identity access to the storage account\
                        \ by adding 'Storage Blob Data Contributor' RBAC role to the\
                        \ server identity.\r\nFor more information, see [Auditing\
                        \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                    retentionDays:
                      format: int32
                      description: Specifies the number of days to keep in the audit
                        logs in the storage account.
                      type: integer
                      x-ms-mutability:
                      - create
                      - read
                    auditActionsAndGroups:
                      description: "Specifies the Actions-Groups and Actions to audit.\r\
                        \n\r\nThe recommended set of action groups to use is the following\
                        \ combination - this will audit all the queries and stored\
                        \ procedures executed against the database, as well as successful\
                        \ and failed logins:\r\n\r\nBATCH_COMPLETED_GROUP,\r\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\r\
                        \nFAILED_DATABASE_AUTHENTICATION_GROUP.\r\n\r\nThis above\
                        \ combination is also the set that is configured by default\
                        \ when enabling auditing from the Azure portal.\r\n\r\nThe\
                        \ supported action groups to audit are (note: choose only\
                        \ specific groups that cover your auditing needs. Using unnecessary\
                        \ groups could lead to very large quantities of audit records):\r\
                        \n\r\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\r\nBACKUP_RESTORE_GROUP\r\
                        \nDATABASE_LOGOUT_GROUP\r\nDATABASE_OBJECT_CHANGE_GROUP\r\n\
                        DATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\r\
                        \nDATABASE_OPERATION_GROUP\r\nDATABASE_PERMISSION_CHANGE_GROUP\r\
                        \nDATABASE_PRINCIPAL_CHANGE_GROUP\r\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\r\
                        \nDATABASE_ROLE_MEMBER_CHANGE_GROUP\r\nFAILED_DATABASE_AUTHENTICATION_GROUP\r\
                        \nSCHEMA_OBJECT_ACCESS_GROUP\r\nSCHEMA_OBJECT_CHANGE_GROUP\r\
                        \nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\r\
                        \nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\r\nUSER_CHANGE_PASSWORD_GROUP\r\
                        \nBATCH_STARTED_GROUP\r\nBATCH_COMPLETED_GROUP\r\n\r\nThese\
                        \ are groups that cover all sql statements and stored procedures\
                        \ executed against the database, and should not be used in\
                        \ combination with other groups as this will result in duplicate\
                        \ audit logs.\r\n\r\nFor more information, see [Database-Level\
                        \ Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\r\
                        \n\r\nFor Database auditing policy, specific Actions can also\
                        \ be specified (note that Actions cannot be specified for\
                        \ Server auditing policy). The supported actions to audit\
                        \ are:\r\nSELECT\r\nUPDATE\r\nINSERT\r\nDELETE\r\nEXECUTE\r\
                        \nRECEIVE\r\nREFERENCES\r\n\r\nThe general form for defining\
                        \ an action to be audited is:\r\n{action} ON {object} BY {principal}\r\
                        \n\r\nNote that <object> in the above format can refer to\
                        \ an object like a table, view, or stored procedure, or an\
                        \ entire database or schema. For the latter cases, the forms\
                        \ DATABASE::{db_name} and SCHEMA::{schema_name} are used,\
                        \ respectively.\r\n\r\nFor example:\r\nSELECT on dbo.myTable\
                        \ by public\r\nSELECT on DATABASE::myDatabase by public\r\n\
                        SELECT on SCHEMA::mySchema by public\r\n\r\nFor more information,\
                        \ see [Database-Level Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
                      type: array
                      items:
                        type: string
                      x-ms-mutability:
                      - create
                      - read
                    storageAccountSubscriptionId:
                      format: uuid
                      description: Specifies the blob storage subscription Id.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    isStorageSecondaryKeyInUse:
                      description: Specifies whether storageAccountAccessKey value
                        is the storage's secondary key.
                      type: boolean
                    isAzureMonitorTargetEnabled:
                      description: "Specifies whether audit events are sent to Azure\
                        \ Monitor. \r\nIn order to send the events to Azure Monitor,\
                        \ specify 'state' as 'Enabled' and 'isAzureMonitorTargetEnabled'\
                        \ as true.\r\n\r\nWhen using REST API to configure auditing,\
                        \ Diagnostic Settings with 'SQLSecurityAuditEvents' diagnostic\
                        \ logs category on the database should be also created.\r\n\
                        Note that for server level audit you should use the 'master'\
                        \ database as {databaseName}.\r\n\r\nDiagnostic Settings URI\
                        \ format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                        \n\r\nFor more information, see [Diagnostic Settings REST\
                        \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\n\
                        or [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                        \n"
                      type: boolean
                    queueDelayMs:
                      format: int32
                      description: "Specifies the amount of time in milliseconds that\
                        \ can elapse before audit actions are forced to be processed.\r\
                        \nThe default minimum value is 1000 (1 second). The maximum\
                        \ is 2,147,483,647."
                      type: integer
                    isDevopsAuditEnabled:
                      description: "Specifies the state of devops audit. If state\
                        \ is Enabled, devops logs will be sent to Azure Monitor.\r\
                        \nIn order to send the events to Azure Monitor, specify 'State'\
                        \ as 'Enabled', 'IsAzureMonitorTargetEnabled' as true and\
                        \ 'IsDevopsAuditEnabled' as true\r\n\r\nWhen using REST API\
                        \ to configure auditing, Diagnostic Settings with 'DevOpsOperationsAudit'\
                        \ diagnostic logs category on the master database should also\
                        \ be created.\r\n\r\nDiagnostic Settings URI format:\r\nPUT\
                        \ https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                        \n\r\nFor more information, see [Diagnostic Settings REST\
                        \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\n\
                        or [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                        \n"
                      type: boolean
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties of extended blob auditing policy.
        required: true
      responses:
        '200':
          description: Successfully updated the auditing settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      state:
                        description: Specifies the state of the policy. If state is
                          Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          are required.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: BlobAuditingPolicyState
                          modelAsString: false
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          is required.
                        type: string
                      storageAccountAccessKey:
                        description: "Specifies the identifier key of the auditing\
                          \ storage account. \r\nIf state is Enabled and storageEndpoint\
                          \ is specified, not specifying the storageAccountAccessKey\
                          \ will use SQL server system-assigned managed identity to\
                          \ access the storage.\r\nPrerequisites for using managed\
                          \ identity authentication:\r\n1. Assign SQL Server a system-assigned\
                          \ managed identity in Azure Active Directory (AAD).\r\n\
                          2. Grant SQL Server identity access to the storage account\
                          \ by adding 'Storage Blob Data Contributor' RBAC role to\
                          \ the server identity.\r\nFor more information, see [Auditing\
                          \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      retentionDays:
                        format: int32
                        description: Specifies the number of days to keep in the audit
                          logs in the storage account.
                        type: integer
                        x-ms-mutability:
                        - create
                        - read
                      auditActionsAndGroups:
                        description: "Specifies the Actions-Groups and Actions to\
                          \ audit.\r\n\r\nThe recommended set of action groups to\
                          \ use is the following combination - this will audit all\
                          \ the queries and stored procedures executed against the\
                          \ database, as well as successful and failed logins:\r\n\
                          \r\nBATCH_COMPLETED_GROUP,\r\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\r\
                          \nFAILED_DATABASE_AUTHENTICATION_GROUP.\r\n\r\nThis above\
                          \ combination is also the set that is configured by default\
                          \ when enabling auditing from the Azure portal.\r\n\r\n\
                          The supported action groups to audit are (note: choose only\
                          \ specific groups that cover your auditing needs. Using\
                          \ unnecessary groups could lead to very large quantities\
                          \ of audit records):\r\n\r\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\r\
                          \nBACKUP_RESTORE_GROUP\r\nDATABASE_LOGOUT_GROUP\r\nDATABASE_OBJECT_CHANGE_GROUP\r\
                          \nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\r\
                          \nDATABASE_OPERATION_GROUP\r\nDATABASE_PERMISSION_CHANGE_GROUP\r\
                          \nDATABASE_PRINCIPAL_CHANGE_GROUP\r\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\r\
                          \nDATABASE_ROLE_MEMBER_CHANGE_GROUP\r\nFAILED_DATABASE_AUTHENTICATION_GROUP\r\
                          \nSCHEMA_OBJECT_ACCESS_GROUP\r\nSCHEMA_OBJECT_CHANGE_GROUP\r\
                          \nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\r\
                          \nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\r\nUSER_CHANGE_PASSWORD_GROUP\r\
                          \nBATCH_STARTED_GROUP\r\nBATCH_COMPLETED_GROUP\r\n\r\nThese\
                          \ are groups that cover all sql statements and stored procedures\
                          \ executed against the database, and should not be used\
                          \ in combination with other groups as this will result in\
                          \ duplicate audit logs.\r\n\r\nFor more information, see\
                          \ [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\r\
                          \n\r\nFor Database auditing policy, specific Actions can\
                          \ also be specified (note that Actions cannot be specified\
                          \ for Server auditing policy). The supported actions to\
                          \ audit are:\r\nSELECT\r\nUPDATE\r\nINSERT\r\nDELETE\r\n\
                          EXECUTE\r\nRECEIVE\r\nREFERENCES\r\n\r\nThe general form\
                          \ for defining an action to be audited is:\r\n{action} ON\
                          \ {object} BY {principal}\r\n\r\nNote that <object> in the\
                          \ above format can refer to an object like a table, view,\
                          \ or stored procedure, or an entire database or schema.\
                          \ For the latter cases, the forms DATABASE::{db_name} and\
                          \ SCHEMA::{schema_name} are used, respectively.\r\n\r\n\
                          For example:\r\nSELECT on dbo.myTable by public\r\nSELECT\
                          \ on DATABASE::myDatabase by public\r\nSELECT on SCHEMA::mySchema\
                          \ by public\r\n\r\nFor more information, see [Database-Level\
                          \ Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
                        type: array
                        items:
                          type: string
                        x-ms-mutability:
                        - create
                        - read
                      storageAccountSubscriptionId:
                        format: uuid
                        description: Specifies the blob storage subscription Id.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      isStorageSecondaryKeyInUse:
                        description: Specifies whether storageAccountAccessKey value
                          is the storage's secondary key.
                        type: boolean
                      isAzureMonitorTargetEnabled:
                        description: "Specifies whether audit events are sent to Azure\
                          \ Monitor. \r\nIn order to send the events to Azure Monitor,\
                          \ specify 'state' as 'Enabled' and 'isAzureMonitorTargetEnabled'\
                          \ as true.\r\n\r\nWhen using REST API to configure auditing,\
                          \ Diagnostic Settings with 'SQLSecurityAuditEvents' diagnostic\
                          \ logs category on the database should be also created.\r\
                          \nNote that for server level audit you should use the 'master'\
                          \ database as {databaseName}.\r\n\r\nDiagnostic Settings\
                          \ URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                      queueDelayMs:
                        format: int32
                        description: "Specifies the amount of time in milliseconds\
                          \ that can elapse before audit actions are forced to be\
                          \ processed.\r\nThe default minimum value is 1000 (1 second).\
                          \ The maximum is 2,147,483,647."
                        type: integer
                      isDevopsAuditEnabled:
                        description: "Specifies the state of devops audit. If state\
                          \ is Enabled, devops logs will be sent to Azure Monitor.\r\
                          \nIn order to send the events to Azure Monitor, specify\
                          \ 'State' as 'Enabled', 'IsAzureMonitorTargetEnabled' as\
                          \ true and 'IsDevopsAuditEnabled' as true\r\n\r\nWhen using\
                          \ REST API to configure auditing, Diagnostic Settings with\
                          \ 'DevOpsOperationsAudit' diagnostic logs category on the\
                          \ master database should also be created.\r\n\r\nDiagnostic\
                          \ Settings URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidServerBlobAuditingPolicyCreateRequest\
            \ - The create server blob auditing policy request does not exist or has\
            \ no properties object.\n\n * 400 InvalidBlobAuditActionsAndGroups - Invalid\
            \ audit actions or action groups.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 BlobAuditingInvalidStorageAccountCredentials\
            \ - The provided storage account or access key is not valid.\n\n * 400\
            \ InvalidBlobAuditActionsAndGroups - Invalid audit actions or action groups.\n\
            \n * 400 InsufficientDiskSpaceForAuditing - Insufficient disk space to\
            \ save auditing metadata in the database\n\n 400 InvalidBlobAuditActions\
            \ - Invalid audit action.\n\n * 404 SubscriptionDoesNotHaveServer - The\
            \ requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 409 UnsupportedWorkspaceType - Unsupported operation\
            \ for the workspace type.\n\n * 500 InternalServerError - Something went\
            \ wrong."
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/auditingSettings
  : get:
      operationId: WorkspaceManagedSqlServerBlobAuditingPolicies_ListByWorkspace
      summary: List workspace server's blob auditing policies.
      description: List workspace managed sql server's blob auditing policies.
      tags:
      - WorkspaceManagedSqlServer, BlobAuditing
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved auditing settings.
          content:
            application/json:
              schema:
                description: A list of server auditing settings.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - state
                          type: object
                          properties:
                            state:
                              description: Specifies the state of the policy. If state
                                is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                                are required.
                              enum:
                              - Enabled
                              - Disabled
                              type: string
                              x-ms-enum:
                                name: BlobAuditingPolicyState
                                modelAsString: false
                            storageEndpoint:
                              description: Specifies the blob storage endpoint (e.g.
                                https://MyAccount.blob.core.windows.net). If state
                                is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                                is required.
                              type: string
                            storageAccountAccessKey:
                              description: "Specifies the identifier key of the auditing\
                                \ storage account. \r\nIf state is Enabled and storageEndpoint\
                                \ is specified, not specifying the storageAccountAccessKey\
                                \ will use SQL server system-assigned managed identity\
                                \ to access the storage.\r\nPrerequisites for using\
                                \ managed identity authentication:\r\n1. Assign SQL\
                                \ Server a system-assigned managed identity in Azure\
                                \ Active Directory (AAD).\r\n2. Grant SQL Server identity\
                                \ access to the storage account by adding 'Storage\
                                \ Blob Data Contributor' RBAC role to the server identity.\r\
                                \nFor more information, see [Auditing to storage using\
                                \ Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                              type: string
                              x-ms-mutability:
                              - create
                              - update
                            retentionDays:
                              format: int32
                              description: Specifies the number of days to keep in
                                the audit logs in the storage account.
                              type: integer
                              x-ms-mutability:
                              - create
                              - read
                            auditActionsAndGroups:
                              description: "Specifies the Actions-Groups and Actions\
                                \ to audit.\r\n\r\nThe recommended set of action groups\
                                \ to use is the following combination - this will\
                                \ audit all the queries and stored procedures executed\
                                \ against the database, as well as successful and\
                                \ failed logins:\r\n\r\nBATCH_COMPLETED_GROUP,\r\n\
                                SUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\r\nFAILED_DATABASE_AUTHENTICATION_GROUP.\r\
                                \n\r\nThis above combination is also the set that\
                                \ is configured by default when enabling auditing\
                                \ from the Azure portal.\r\n\r\nThe supported action\
                                \ groups to audit are (note: choose only specific\
                                \ groups that cover your auditing needs. Using unnecessary\
                                \ groups could lead to very large quantities of audit\
                                \ records):\r\n\r\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\r\
                                \nBACKUP_RESTORE_GROUP\r\nDATABASE_LOGOUT_GROUP\r\n\
                                DATABASE_OBJECT_CHANGE_GROUP\r\nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\r\
                                \nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\r\nDATABASE_OPERATION_GROUP\r\
                                \nDATABASE_PERMISSION_CHANGE_GROUP\r\nDATABASE_PRINCIPAL_CHANGE_GROUP\r\
                                \nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\r\nDATABASE_ROLE_MEMBER_CHANGE_GROUP\r\
                                \nFAILED_DATABASE_AUTHENTICATION_GROUP\r\nSCHEMA_OBJECT_ACCESS_GROUP\r\
                                \nSCHEMA_OBJECT_CHANGE_GROUP\r\nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\r\
                                \nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\r\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\r\
                                \nUSER_CHANGE_PASSWORD_GROUP\r\nBATCH_STARTED_GROUP\r\
                                \nBATCH_COMPLETED_GROUP\r\n\r\nThese are groups that\
                                \ cover all sql statements and stored procedures executed\
                                \ against the database, and should not be used in\
                                \ combination with other groups as this will result\
                                \ in duplicate audit logs.\r\n\r\nFor more information,\
                                \ see [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\r\
                                \n\r\nFor Database auditing policy, specific Actions\
                                \ can also be specified (note that Actions cannot\
                                \ be specified for Server auditing policy). The supported\
                                \ actions to audit are:\r\nSELECT\r\nUPDATE\r\nINSERT\r\
                                \nDELETE\r\nEXECUTE\r\nRECEIVE\r\nREFERENCES\r\n\r\
                                \nThe general form for defining an action to be audited\
                                \ is:\r\n{action} ON {object} BY {principal}\r\n\r\
                                \nNote that <object> in the above format can refer\
                                \ to an object like a table, view, or stored procedure,\
                                \ or an entire database or schema. For the latter\
                                \ cases, the forms DATABASE::{db_name} and SCHEMA::{schema_name}\
                                \ are used, respectively.\r\n\r\nFor example:\r\n\
                                SELECT on dbo.myTable by public\r\nSELECT on DATABASE::myDatabase\
                                \ by public\r\nSELECT on SCHEMA::mySchema by public\r\
                                \n\r\nFor more information, see [Database-Level Audit\
                                \ Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
                              type: array
                              items:
                                type: string
                              x-ms-mutability:
                              - create
                              - read
                            storageAccountSubscriptionId:
                              format: uuid
                              description: Specifies the blob storage subscription
                                Id.
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            isStorageSecondaryKeyInUse:
                              description: Specifies whether storageAccountAccessKey
                                value is the storage's secondary key.
                              type: boolean
                            isAzureMonitorTargetEnabled:
                              description: "Specifies whether audit events are sent\
                                \ to Azure Monitor. \r\nIn order to send the events\
                                \ to Azure Monitor, specify 'state' as 'Enabled' and\
                                \ 'isAzureMonitorTargetEnabled' as true.\r\n\r\nWhen\
                                \ using REST API to configure auditing, Diagnostic\
                                \ Settings with 'SQLSecurityAuditEvents' diagnostic\
                                \ logs category on the database should be also created.\r\
                                \nNote that for server level audit you should use\
                                \ the 'master' database as {databaseName}.\r\n\r\n\
                                Diagnostic Settings URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                                \n\r\nFor more information, see [Diagnostic Settings\
                                \ REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                                \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                                \n"
                              type: boolean
                            queueDelayMs:
                              format: int32
                              description: "Specifies the amount of time in milliseconds\
                                \ that can elapse before audit actions are forced\
                                \ to be processed.\r\nThe default minimum value is\
                                \ 1000 (1 second). The maximum is 2,147,483,647."
                              type: integer
                            isDevopsAuditEnabled:
                              description: "Specifies the state of devops audit. If\
                                \ state is Enabled, devops logs will be sent to Azure\
                                \ Monitor.\r\nIn order to send the events to Azure\
                                \ Monitor, specify 'State' as 'Enabled', 'IsAzureMonitorTargetEnabled'\
                                \ as true and 'IsDevopsAuditEnabled' as true\r\n\r\
                                \nWhen using REST API to configure auditing, Diagnostic\
                                \ Settings with 'DevOpsOperationsAudit' diagnostic\
                                \ logs category on the master database should also\
                                \ be created.\r\n\r\nDiagnostic Settings URI format:\r\
                                \nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                                \n\r\nFor more information, see [Diagnostic Settings\
                                \ REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                                \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                                \n"
                              type: boolean
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    readOnly: true
                  nextLink:
                    description: Link to retrieve next page of results.
                    type: string
                    readOnly: true
        default:
          description: "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found.\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 409 UnsupportedWorkspaceType - Unsupported operation\
            \ for the workspace type.\n\n * 500 InternalServerError - Something went\
            \ wrong."
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/extendedAuditingSettings/{blobAuditingPolicyName}
  : get:
      operationId: WorkspaceManagedSqlServerExtendedBlobAuditingPolicies_Get
      summary: Get server's extended blob auditing policy.
      description: Get a workspace SQL server's extended blob auditing policy.
      tags:
      - WorkspaceManagedSqlServer, BlobAuditing
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: blobAuditingPolicyName
        in: path
        description: The name of the blob auditing policy.
        required: true
        x-ms-enum:
          name: BlobAuditingPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: Successfully retrieved extended auditing settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      predicateExpression:
                        description: Specifies condition of where clause when creating
                          an audit.
                        type: string
                      state:
                        description: Specifies the state of the policy. If state is
                          Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          are required.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: BlobAuditingPolicyState
                          modelAsString: false
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          is required.
                        type: string
                      storageAccountAccessKey:
                        description: "Specifies the identifier key of the auditing\
                          \ storage account. \r\nIf state is Enabled and storageEndpoint\
                          \ is specified, not specifying the storageAccountAccessKey\
                          \ will use SQL server system-assigned managed identity to\
                          \ access the storage.\r\nPrerequisites for using managed\
                          \ identity authentication:\r\n1. Assign SQL Server a system-assigned\
                          \ managed identity in Azure Active Directory (AAD).\r\n\
                          2. Grant SQL Server identity access to the storage account\
                          \ by adding 'Storage Blob Data Contributor' RBAC role to\
                          \ the server identity.\r\nFor more information, see [Auditing\
                          \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      retentionDays:
                        format: int32
                        description: Specifies the number of days to keep in the audit
                          logs in the storage account.
                        type: integer
                        x-ms-mutability:
                        - create
                        - read
                      auditActionsAndGroups:
                        description: "Specifies the Actions-Groups and Actions to\
                          \ audit.\r\n\r\nThe recommended set of action groups to\
                          \ use is the following combination - this will audit all\
                          \ the queries and stored procedures executed against the\
                          \ database, as well as successful and failed logins:\r\n\
                          \r\nBATCH_COMPLETED_GROUP,\r\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\r\
                          \nFAILED_DATABASE_AUTHENTICATION_GROUP.\r\n\r\nThis above\
                          \ combination is also the set that is configured by default\
                          \ when enabling auditing from the Azure portal.\r\n\r\n\
                          The supported action groups to audit are (note: choose only\
                          \ specific groups that cover your auditing needs. Using\
                          \ unnecessary groups could lead to very large quantities\
                          \ of audit records):\r\n\r\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\r\
                          \nBACKUP_RESTORE_GROUP\r\nDATABASE_LOGOUT_GROUP\r\nDATABASE_OBJECT_CHANGE_GROUP\r\
                          \nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\r\
                          \nDATABASE_OPERATION_GROUP\r\nDATABASE_PERMISSION_CHANGE_GROUP\r\
                          \nDATABASE_PRINCIPAL_CHANGE_GROUP\r\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\r\
                          \nDATABASE_ROLE_MEMBER_CHANGE_GROUP\r\nFAILED_DATABASE_AUTHENTICATION_GROUP\r\
                          \nSCHEMA_OBJECT_ACCESS_GROUP\r\nSCHEMA_OBJECT_CHANGE_GROUP\r\
                          \nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\r\
                          \nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\r\nUSER_CHANGE_PASSWORD_GROUP\r\
                          \nBATCH_STARTED_GROUP\r\nBATCH_COMPLETED_GROUP\r\n\r\nThese\
                          \ are groups that cover all sql statements and stored procedures\
                          \ executed against the database, and should not be used\
                          \ in combination with other groups as this will result in\
                          \ duplicate audit logs.\r\n\r\nFor more information, see\
                          \ [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\r\
                          \n\r\nFor Database auditing policy, specific Actions can\
                          \ also be specified (note that Actions cannot be specified\
                          \ for Server auditing policy). The supported actions to\
                          \ audit are:\r\nSELECT\r\nUPDATE\r\nINSERT\r\nDELETE\r\n\
                          EXECUTE\r\nRECEIVE\r\nREFERENCES\r\n\r\nThe general form\
                          \ for defining an action to be audited is:\r\n{action} ON\
                          \ {object} BY {principal}\r\n\r\nNote that <object> in the\
                          \ above format can refer to an object like a table, view,\
                          \ or stored procedure, or an entire database or schema.\
                          \ For the latter cases, the forms DATABASE::{db_name} and\
                          \ SCHEMA::{schema_name} are used, respectively.\r\n\r\n\
                          For example:\r\nSELECT on dbo.myTable by public\r\nSELECT\
                          \ on DATABASE::myDatabase by public\r\nSELECT on SCHEMA::mySchema\
                          \ by public\r\n\r\nFor more information, see [Database-Level\
                          \ Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
                        type: array
                        items:
                          type: string
                      storageAccountSubscriptionId:
                        format: uuid
                        description: Specifies the blob storage subscription Id.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      isStorageSecondaryKeyInUse:
                        description: Specifies whether storageAccountAccessKey value
                          is the storage's secondary key.
                        type: boolean
                      isAzureMonitorTargetEnabled:
                        description: "Specifies whether audit events are sent to Azure\
                          \ Monitor. \r\nIn order to send the events to Azure Monitor,\
                          \ specify 'state' as 'Enabled' and 'isAzureMonitorTargetEnabled'\
                          \ as true.\r\n\r\nWhen using REST API to configure auditing,\
                          \ Diagnostic Settings with 'SQLSecurityAuditEvents' diagnostic\
                          \ logs category on the database should be also created.\r\
                          \nNote that for server level audit you should use the 'master'\
                          \ database as {databaseName}.\r\n\r\nDiagnostic Settings\
                          \ URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                      queueDelayMs:
                        format: int32
                        description: "Specifies the amount of time in milliseconds\
                          \ that can elapse before audit actions are forced to be\
                          \ processed.\r\nThe default minimum value is 1000 (1 second).\
                          \ The maximum is 2,147,483,647."
                        type: integer
                      isDevopsAuditEnabled:
                        description: "Specifies the state of devops audit. If state\
                          \ is Enabled, devops logs will be sent to Azure Monitor.\r\
                          \nIn order to send the events to Azure Monitor, specify\
                          \ 'State' as 'Enabled', 'IsAzureMonitorTargetEnabled' as\
                          \ true and 'IsDevopsAuditEnabled' as true\r\n\r\nWhen using\
                          \ REST API to configure auditing, Diagnostic Settings with\
                          \ 'DevOpsOperationsAudit' diagnostic logs category on the\
                          \ master database should also be created.\r\n\r\nDiagnostic\
                          \ Settings URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 409 UnsupportedWorkspaceType - Unsupported operation\
            \ for the workspace type.\n\n * 500 InternalServerError - Something went\
            \ wrong."
    put:
      operationId: WorkspaceManagedSqlServerExtendedBlobAuditingPolicies_CreateOrUpdate
      summary: Create or Update server's extended blob auditing policy.
      description: Create or Update a workspace managed sql server's extended blob
        auditing policy.
      tags:
      - WorkspaceManagedSqlServer, BlobAuditing
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      - name: blobAuditingPolicyName
        in: path
        description: The name of the blob auditing policy.
        required: true
        x-ms-enum:
          name: BlobAuditingPolicyName
          modelAsString: true
        schema:
          type: string
          enum:
          - default
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Fully qualified resource ID for the resource. Ex -
                    /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                name:
                  readOnly: true
                  type: string
                  description: The name of the resource
                type:
                  readOnly: true
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                properties:
                  description: Resource properties.
                  x-ms-client-flatten: true
                  required:
                  - state
                  type: object
                  properties:
                    predicateExpression:
                      description: Specifies condition of where clause when creating
                        an audit.
                      type: string
                    state:
                      description: Specifies the state of the policy. If state is
                        Enabled, storageEndpoint or isAzureMonitorTargetEnabled are
                        required.
                      enum:
                      - Enabled
                      - Disabled
                      type: string
                      x-ms-enum:
                        name: BlobAuditingPolicyState
                        modelAsString: false
                    storageEndpoint:
                      description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                        If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                        is required.
                      type: string
                    storageAccountAccessKey:
                      description: "Specifies the identifier key of the auditing storage\
                        \ account. \r\nIf state is Enabled and storageEndpoint is\
                        \ specified, not specifying the storageAccountAccessKey will\
                        \ use SQL server system-assigned managed identity to access\
                        \ the storage.\r\nPrerequisites for using managed identity\
                        \ authentication:\r\n1. Assign SQL Server a system-assigned\
                        \ managed identity in Azure Active Directory (AAD).\r\n2.\
                        \ Grant SQL Server identity access to the storage account\
                        \ by adding 'Storage Blob Data Contributor' RBAC role to the\
                        \ server identity.\r\nFor more information, see [Auditing\
                        \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                      type: string
                      x-ms-mutability:
                      - create
                      - update
                    retentionDays:
                      format: int32
                      description: Specifies the number of days to keep in the audit
                        logs in the storage account.
                      type: integer
                      x-ms-mutability:
                      - create
                      - read
                    auditActionsAndGroups:
                      description: "Specifies the Actions-Groups and Actions to audit.\r\
                        \n\r\nThe recommended set of action groups to use is the following\
                        \ combination - this will audit all the queries and stored\
                        \ procedures executed against the database, as well as successful\
                        \ and failed logins:\r\n\r\nBATCH_COMPLETED_GROUP,\r\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\r\
                        \nFAILED_DATABASE_AUTHENTICATION_GROUP.\r\n\r\nThis above\
                        \ combination is also the set that is configured by default\
                        \ when enabling auditing from the Azure portal.\r\n\r\nThe\
                        \ supported action groups to audit are (note: choose only\
                        \ specific groups that cover your auditing needs. Using unnecessary\
                        \ groups could lead to very large quantities of audit records):\r\
                        \n\r\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\r\nBACKUP_RESTORE_GROUP\r\
                        \nDATABASE_LOGOUT_GROUP\r\nDATABASE_OBJECT_CHANGE_GROUP\r\n\
                        DATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\r\
                        \nDATABASE_OPERATION_GROUP\r\nDATABASE_PERMISSION_CHANGE_GROUP\r\
                        \nDATABASE_PRINCIPAL_CHANGE_GROUP\r\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\r\
                        \nDATABASE_ROLE_MEMBER_CHANGE_GROUP\r\nFAILED_DATABASE_AUTHENTICATION_GROUP\r\
                        \nSCHEMA_OBJECT_ACCESS_GROUP\r\nSCHEMA_OBJECT_CHANGE_GROUP\r\
                        \nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\r\
                        \nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\r\nUSER_CHANGE_PASSWORD_GROUP\r\
                        \nBATCH_STARTED_GROUP\r\nBATCH_COMPLETED_GROUP\r\n\r\nThese\
                        \ are groups that cover all sql statements and stored procedures\
                        \ executed against the database, and should not be used in\
                        \ combination with other groups as this will result in duplicate\
                        \ audit logs.\r\n\r\nFor more information, see [Database-Level\
                        \ Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\r\
                        \n\r\nFor Database auditing policy, specific Actions can also\
                        \ be specified (note that Actions cannot be specified for\
                        \ Server auditing policy). The supported actions to audit\
                        \ are:\r\nSELECT\r\nUPDATE\r\nINSERT\r\nDELETE\r\nEXECUTE\r\
                        \nRECEIVE\r\nREFERENCES\r\n\r\nThe general form for defining\
                        \ an action to be audited is:\r\n{action} ON {object} BY {principal}\r\
                        \n\r\nNote that <object> in the above format can refer to\
                        \ an object like a table, view, or stored procedure, or an\
                        \ entire database or schema. For the latter cases, the forms\
                        \ DATABASE::{db_name} and SCHEMA::{schema_name} are used,\
                        \ respectively.\r\n\r\nFor example:\r\nSELECT on dbo.myTable\
                        \ by public\r\nSELECT on DATABASE::myDatabase by public\r\n\
                        SELECT on SCHEMA::mySchema by public\r\n\r\nFor more information,\
                        \ see [Database-Level Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
                      type: array
                      items:
                        type: string
                    storageAccountSubscriptionId:
                      format: uuid
                      description: Specifies the blob storage subscription Id.
                      type: string
                      x-ms-mutability:
                      - create
                      - read
                    isStorageSecondaryKeyInUse:
                      description: Specifies whether storageAccountAccessKey value
                        is the storage's secondary key.
                      type: boolean
                    isAzureMonitorTargetEnabled:
                      description: "Specifies whether audit events are sent to Azure\
                        \ Monitor. \r\nIn order to send the events to Azure Monitor,\
                        \ specify 'state' as 'Enabled' and 'isAzureMonitorTargetEnabled'\
                        \ as true.\r\n\r\nWhen using REST API to configure auditing,\
                        \ Diagnostic Settings with 'SQLSecurityAuditEvents' diagnostic\
                        \ logs category on the database should be also created.\r\n\
                        Note that for server level audit you should use the 'master'\
                        \ database as {databaseName}.\r\n\r\nDiagnostic Settings URI\
                        \ format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                        \n\r\nFor more information, see [Diagnostic Settings REST\
                        \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\n\
                        or [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                        \n"
                      type: boolean
                    queueDelayMs:
                      format: int32
                      description: "Specifies the amount of time in milliseconds that\
                        \ can elapse before audit actions are forced to be processed.\r\
                        \nThe default minimum value is 1000 (1 second). The maximum\
                        \ is 2,147,483,647."
                      type: integer
                    isDevopsAuditEnabled:
                      description: "Specifies the state of devops audit. If state\
                        \ is Enabled, devops logs will be sent to Azure Monitor.\r\
                        \nIn order to send the events to Azure Monitor, specify 'State'\
                        \ as 'Enabled', 'IsAzureMonitorTargetEnabled' as true and\
                        \ 'IsDevopsAuditEnabled' as true\r\n\r\nWhen using REST API\
                        \ to configure auditing, Diagnostic Settings with 'DevOpsOperationsAudit'\
                        \ diagnostic logs category on the master database should also\
                        \ be created.\r\n\r\nDiagnostic Settings URI format:\r\nPUT\
                        \ https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                        \n\r\nFor more information, see [Diagnostic Settings REST\
                        \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\n\
                        or [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                        \n"
                      type: boolean
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Properties of extended blob auditing policy.
        required: true
      responses:
        '200':
          description: Successfully updated the extended auditing settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  properties:
                    description: Resource properties.
                    x-ms-client-flatten: true
                    required:
                    - state
                    type: object
                    properties:
                      predicateExpression:
                        description: Specifies condition of where clause when creating
                          an audit.
                        type: string
                      state:
                        description: Specifies the state of the policy. If state is
                          Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          are required.
                        enum:
                        - Enabled
                        - Disabled
                        type: string
                        x-ms-enum:
                          name: BlobAuditingPolicyState
                          modelAsString: false
                      storageEndpoint:
                        description: Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net).
                          If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
                          is required.
                        type: string
                      storageAccountAccessKey:
                        description: "Specifies the identifier key of the auditing\
                          \ storage account. \r\nIf state is Enabled and storageEndpoint\
                          \ is specified, not specifying the storageAccountAccessKey\
                          \ will use SQL server system-assigned managed identity to\
                          \ access the storage.\r\nPrerequisites for using managed\
                          \ identity authentication:\r\n1. Assign SQL Server a system-assigned\
                          \ managed identity in Azure Active Directory (AAD).\r\n\
                          2. Grant SQL Server identity access to the storage account\
                          \ by adding 'Storage Blob Data Contributor' RBAC role to\
                          \ the server identity.\r\nFor more information, see [Auditing\
                          \ to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
                        type: string
                        x-ms-mutability:
                        - create
                        - update
                      retentionDays:
                        format: int32
                        description: Specifies the number of days to keep in the audit
                          logs in the storage account.
                        type: integer
                        x-ms-mutability:
                        - create
                        - read
                      auditActionsAndGroups:
                        description: "Specifies the Actions-Groups and Actions to\
                          \ audit.\r\n\r\nThe recommended set of action groups to\
                          \ use is the following combination - this will audit all\
                          \ the queries and stored procedures executed against the\
                          \ database, as well as successful and failed logins:\r\n\
                          \r\nBATCH_COMPLETED_GROUP,\r\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\r\
                          \nFAILED_DATABASE_AUTHENTICATION_GROUP.\r\n\r\nThis above\
                          \ combination is also the set that is configured by default\
                          \ when enabling auditing from the Azure portal.\r\n\r\n\
                          The supported action groups to audit are (note: choose only\
                          \ specific groups that cover your auditing needs. Using\
                          \ unnecessary groups could lead to very large quantities\
                          \ of audit records):\r\n\r\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\r\
                          \nBACKUP_RESTORE_GROUP\r\nDATABASE_LOGOUT_GROUP\r\nDATABASE_OBJECT_CHANGE_GROUP\r\
                          \nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\r\
                          \nDATABASE_OPERATION_GROUP\r\nDATABASE_PERMISSION_CHANGE_GROUP\r\
                          \nDATABASE_PRINCIPAL_CHANGE_GROUP\r\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\r\
                          \nDATABASE_ROLE_MEMBER_CHANGE_GROUP\r\nFAILED_DATABASE_AUTHENTICATION_GROUP\r\
                          \nSCHEMA_OBJECT_ACCESS_GROUP\r\nSCHEMA_OBJECT_CHANGE_GROUP\r\
                          \nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\r\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\r\
                          \nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\r\nUSER_CHANGE_PASSWORD_GROUP\r\
                          \nBATCH_STARTED_GROUP\r\nBATCH_COMPLETED_GROUP\r\n\r\nThese\
                          \ are groups that cover all sql statements and stored procedures\
                          \ executed against the database, and should not be used\
                          \ in combination with other groups as this will result in\
                          \ duplicate audit logs.\r\n\r\nFor more information, see\
                          \ [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\r\
                          \n\r\nFor Database auditing policy, specific Actions can\
                          \ also be specified (note that Actions cannot be specified\
                          \ for Server auditing policy). The supported actions to\
                          \ audit are:\r\nSELECT\r\nUPDATE\r\nINSERT\r\nDELETE\r\n\
                          EXECUTE\r\nRECEIVE\r\nREFERENCES\r\n\r\nThe general form\
                          \ for defining an action to be audited is:\r\n{action} ON\
                          \ {object} BY {principal}\r\n\r\nNote that <object> in the\
                          \ above format can refer to an object like a table, view,\
                          \ or stored procedure, or an entire database or schema.\
                          \ For the latter cases, the forms DATABASE::{db_name} and\
                          \ SCHEMA::{schema_name} are used, respectively.\r\n\r\n\
                          For example:\r\nSELECT on dbo.myTable by public\r\nSELECT\
                          \ on DATABASE::myDatabase by public\r\nSELECT on SCHEMA::mySchema\
                          \ by public\r\n\r\nFor more information, see [Database-Level\
                          \ Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
                        type: array
                        items:
                          type: string
                      storageAccountSubscriptionId:
                        format: uuid
                        description: Specifies the blob storage subscription Id.
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      isStorageSecondaryKeyInUse:
                        description: Specifies whether storageAccountAccessKey value
                          is the storage's secondary key.
                        type: boolean
                      isAzureMonitorTargetEnabled:
                        description: "Specifies whether audit events are sent to Azure\
                          \ Monitor. \r\nIn order to send the events to Azure Monitor,\
                          \ specify 'state' as 'Enabled' and 'isAzureMonitorTargetEnabled'\
                          \ as true.\r\n\r\nWhen using REST API to configure auditing,\
                          \ Diagnostic Settings with 'SQLSecurityAuditEvents' diagnostic\
                          \ logs category on the database should be also created.\r\
                          \nNote that for server level audit you should use the 'master'\
                          \ database as {databaseName}.\r\n\r\nDiagnostic Settings\
                          \ URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                      queueDelayMs:
                        format: int32
                        description: "Specifies the amount of time in milliseconds\
                          \ that can elapse before audit actions are forced to be\
                          \ processed.\r\nThe default minimum value is 1000 (1 second).\
                          \ The maximum is 2,147,483,647."
                        type: integer
                      isDevopsAuditEnabled:
                        description: "Specifies the state of devops audit. If state\
                          \ is Enabled, devops logs will be sent to Azure Monitor.\r\
                          \nIn order to send the events to Azure Monitor, specify\
                          \ 'State' as 'Enabled', 'IsAzureMonitorTargetEnabled' as\
                          \ true and 'IsDevopsAuditEnabled' as true\r\n\r\nWhen using\
                          \ REST API to configure auditing, Diagnostic Settings with\
                          \ 'DevOpsOperationsAudit' diagnostic logs category on the\
                          \ master database should also be created.\r\n\r\nDiagnostic\
                          \ Settings URI format:\r\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\r\
                          \n\r\nFor more information, see [Diagnostic Settings REST\
                          \ API](https://go.microsoft.com/fwlink/?linkid=2033207)\r\
                          \nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)\r\
                          \n"
                        type: boolean
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
        default:
          description: "*** Error Responses: ***\n\n * 400 InvalidServerBlobAuditingPolicyCreateRequest\
            \ - The create server blob auditing policy request does not exist or has\
            \ no properties object.\n\n * 400 InvalidBlobAuditActionsAndGroups - Invalid\
            \ audit actions or action groups.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 400 BlobAuditingPredicateExpressionEmpty\
            \ - Invalid parameter 'predicateExpression', value can not be empty.\n\
            \n * 400 BlobAuditingInvalidStorageAccountCredentials - The provided storage\
            \ account or access key is not valid.\n\n * 400 InvalidBlobAuditActionsAndGroups\
            \ - Invalid audit actions or action groups.\n\n * 400 InsufficientDiskSpaceForAuditing\
            \ - Insufficient disk space to save auditing metadata in the database\n\
            \n * 400 InvalidBlobAuditActions - Invalid audit action\n\n * 404 SubscriptionDoesNotHaveServer\
            \ - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup\
            \ - Specified server does not exist in the specified resource group and\
            \ subscription.\n\n * 409 ServerBlobAuditingPolicyInProgress - Set server\
            \ blob auditing is already in progress.\n\n * 409 UnsupportedWorkspaceType\
            \ - Unsupported operation for the workspace type.\n\n * 500 InternalServerError\
            \ - Something went wrong."
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/extendedAuditingSettings
  : get:
      operationId: WorkspaceManagedSqlServerExtendedBlobAuditingPolicies_ListByWorkspace
      summary: List server's extended blob auditing policies.
      description: List workspace managed sql server's extended blob auditing policies.
      tags:
      - WorkspaceManagedSqlServer, BlobAuditing
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved extended auditing settings.
          content:
            application/json:
              schema:
                description: A list of server extended auditing settings.
                type: object
                properties:
                  value:
                    description: Array of results.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        properties:
                          description: Resource properties.
                          x-ms-client-flatten: true
                          required:
                          - state
                          type: object
                          properties:
                            predicateExpression:
                              description: Specifies condition of where clause when
                                creating an audit.
                              type: string
                            state:
                              description: Specifies the state of the policy. If state
                                is Enabled, storageEndpoint or isAzureMonitorTargetEnabled
[...]
