openapi: 3.0.0
info:
  version: 2021-06-01
  title: SynapseManagementClient
  description: Azure Synapse Analytics APIs
servers:
- url: https://management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces:
    get:
      operationId: Workspaces_ListByResourceGroup
      description: Returns a list of workspaces in a resource group
      tags:
      - Workspaces
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: List of workspaces
                type: object
                properties:
                  nextLink:
                    description: Link to the next page of results
                    type: string
                  value:
                    description: List of workspaces
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Fully qualified resource ID for the resource.
                            Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                        name:
                          readOnly: true
                          type: string
                          description: The name of the resource
                        type:
                          readOnly: true
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                          description: Resource tags.
                        location:
                          type: string
                          x-ms-mutability:
                          - read
                          - create
                          description: The geo-location where the resource lives
                        properties:
                          description: Workspace resource properties
                          x-ms-client-flatten: true
                          type: object
                          properties:
                            defaultDataLakeStorage:
                              description: Workspace default data lake storage account
                                details
                              type: object
                              properties:
                                accountUrl:
                                  description: Account URL
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                filesystem:
                                  description: Filesystem name
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                resourceId:
                                  description: ARM resource Id of this storage account
                                  type: string
                                createManagedPrivateEndpoint:
                                  description: Create managed private endpoint to
                                    this storage account or not
                                  type: boolean
                                  x-ms-mutability:
                                  - create
                                  - read
                            sqlAdministratorLoginPassword:
                              description: SQL administrator login password
                              type: string
                            managedResourceGroupName:
                              description: Workspace managed resource group. The resource
                                group name uniquely identifies the resource group
                                within the user subscriptionId. The resource group
                                name must be no longer than 90 characters long, and
                                must be alphanumeric characters (Char.IsLetterOrDigit())
                                and '-', '_', '(', ')' and'.'. Note that the name
                                cannot end with '.'
                              type: string
                              x-ms-mutability:
                              - create
                              - read
                            provisioningState:
                              description: Resource provisioning state
                              type: string
                              readOnly: true
                            sqlAdministratorLogin:
                              description: Login for workspace SQL active directory
                                administrator
                              type: string
                            virtualNetworkProfile:
                              description: Virtual Network profile
                              type: object
                              properties:
                                computeSubnetId:
                                  description: Subnet ID used for computes in workspace
                                  type: string
                            connectivityEndpoints:
                              description: Connectivity endpoints
                              additionalProperties:
                                type: string
                              type: object
                              readOnly: true
                            managedVirtualNetwork:
                              description: Setting this to 'default' will ensure that
                                all compute for this workspace is in a virtual network
                                managed on behalf of the user.
                              type: string
                            privateEndpointConnections:
                              description: Private endpoint connections to the workspace
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    readOnly: true
                                    type: string
                                    description: Fully qualified resource ID for the
                                      resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                                  name:
                                    readOnly: true
                                    type: string
                                    description: The name of the resource
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                  properties:
                                    description: Private endpoint connection properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      privateEndpoint:
                                        description: The private endpoint which the
                                          connection belongs to.
                                        type: object
                                        properties:
                                          id:
                                            description: Resource id of the private
                                              endpoint.
                                            type: string
                                            readOnly: true
                                        x-ms-azure-resource: true
                                      privateLinkServiceConnectionState:
                                        description: Connection state of the private
                                          endpoint connection.
                                        type: object
                                        properties:
                                          status:
                                            description: The private link service
                                              connection status.
                                            type: string
                                          description:
                                            description: The private link service
                                              connection description.
                                            type: string
                                          actionsRequired:
                                            description: The actions required for
                                              private link service connection.
                                            type: string
                                            readOnly: true
                                      provisioningState:
                                        description: Provisioning state of the private
                                          endpoint connection.
                                        type: string
                                        readOnly: true
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                            encryption:
                              description: The encryption details of the workspace
                              type: object
                              properties:
                                doubleEncryptionEnabled:
                                  description: Double Encryption enabled
                                  type: boolean
                                  readOnly: true
                                cmk:
                                  description: Customer Managed Key Details
                                  type: object
                                  properties:
                                    status:
                                      description: The customer managed key status
                                        on the workspace
                                      type: string
                                      readOnly: true
                                    key:
                                      description: The key object of the workspace
                                      type: object
                                      properties:
                                        name:
                                          description: Workspace Key sub-resource
                                            name
                                          type: string
                                        keyVaultUrl:
                                          description: Workspace Key sub-resource
                                            key vault url
                                          type: string
                                    kekIdentity:
                                      description: Key encryption key
                                      type: object
                                      properties:
                                        userAssignedIdentity:
                                          description: User assigned identity resource
                                            Id
                                          type: string
                                        useSystemAssignedIdentity:
                                          description: Boolean specifying whether
                                            to use system assigned identity or not
                            workspaceUID:
                              description: The workspace unique identifier
                              type: string
                              readOnly: true
                              format: uuid
                            extraProperties:
                              description: Workspace level configs and feature flags
                              type: object
                              readOnly: true
                            managedVirtualNetworkSettings:
                              description: Managed Virtual Network Settings
                              type: object
                              properties:
                                preventDataExfiltration:
                                  description: Prevent Data Exfiltration
                                  type: boolean
                                linkedAccessCheckOnTargetResource:
                                  description: Linked Access Check On Target Resource
                                  type: boolean
                                  x-ms-mutability:
                                  - create
                                  - read
                                  - update
                                allowedAadTenantIdsForLinking:
                                  description: Allowed Aad Tenant Ids For Linking
                                  type: array
                                  items:
                                    type: string
                                    description: Tenant Id
                            workspaceRepositoryConfiguration:
                              description: Git integration settings
                              type: object
                              properties:
                                type:
                                  description: Type of workspace repositoryID configuration.
                                    Example WorkspaceVSTSConfiguration, WorkspaceGitHubConfiguration
                                  type: string
                                hostName:
                                  description: 'GitHub Enterprise host name. For example:
                                    `https://github.mydomain.com`'
                                  type: string
                                accountName:
                                  description: Account name
                                  type: string
                                projectName:
                                  description: VSTS project name
                                  type: string
                                repositoryName:
                                  description: Repository name
                                  type: string
                                collaborationBranch:
                                  description: Collaboration branch
                                  type: string
                                rootFolder:
                                  description: Root folder to use in the repository
                                  type: string
                                lastCommitId:
                                  description: The last commit ID
                                  type: string
                                tenantId:
                                  description: The VSTS tenant ID
                                  type: string
                                  format: uuid
                            purviewConfiguration:
                              description: Purview Configuration
                              type: object
                              properties:
                                purviewResourceId:
                                  description: Purview Resource ID
                                  type: string
                            adlaResourceId:
                              description: The ADLA resource ID.
                              type: string
                              readOnly: true
                            publicNetworkAccess:
                              enum:
                              - Enabled
                              - Disabled
                              description: Enable or Disable public network access
                                to workspace
                              default: Enabled
                              type: string
                              x-ms-enum:
                                name: WorkspacePublicNetworkAccess
                                modelAsString: true
                            cspWorkspaceAdminProperties:
                              description: Initial workspace AAD admin properties
                                for a CSP subscription
                              type: object
                              properties:
                                initialWorkspaceAdminObjectId:
                                  description: AAD object ID of initial workspace
                                    admin
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                            settings:
                              description: Workspace settings
                              additionalProperties:
                                type: object
                              type: object
                              readOnly: true
                            azureADOnlyAuthentication:
                              description: Enable or Disable AzureADOnlyAuthentication
                                on All Workspace subresource
                              type: boolean
                              x-ms-mutability:
                              - create
                              - update
                            trustedServiceBypassEnabled:
                              description: Is trustedServiceBypassEnabled for the
                                workspace
                              type: boolean
                              default: false
                        identity:
                          description: Identity of the workspace
                          type: object
                          properties:
                            principalId:
                              description: The principal ID of the workspace managed
                                identity
                              type: string
                              readOnly: true
                            tenantId:
                              description: The tenant ID of the workspace managed
                                identity
                              type: string
                              format: uuid
                              readOnly: true
                            type:
                              description: The type of managed identity for the workspace
                              enum:
                              - None
                              - SystemAssigned
                              - SystemAssigned,UserAssigned
                              type: string
                              x-ms-enum:
                                name: ResourceIdentityType
                                modelAsString: false
                            userAssignedIdentities:
                              description: The user assigned managed identities.
                              type: object
                              additionalProperties:
                                description: User Assigned Managed Identity
                                properties:
                                  clientId:
                                    type: string
                                    format: uuid
                                    description: The client ID.
                                    readOnly: true
                                    nullable: true
                                  principalId:
                                    type: string
                                    format: uuid
                                    description: The principal ID.
                                    readOnly: true
                                    nullable: true
                                type: object
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}:
    get:
      operationId: Workspaces_Get
      description: Gets a workspace
      tags:
      - Workspaces
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Workspace resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      defaultDataLakeStorage:
                        description: Workspace default data lake storage account details
                        type: object
                        properties:
                          accountUrl:
                            description: Account URL
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          filesystem:
                            description: Filesystem name
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          resourceId:
                            description: ARM resource Id of this storage account
                            type: string
                          createManagedPrivateEndpoint:
                            description: Create managed private endpoint to this storage
                              account or not
                            type: boolean
                            x-ms-mutability:
                            - create
                            - read
                      sqlAdministratorLoginPassword:
                        description: SQL administrator login password
                        type: string
                      managedResourceGroupName:
                        description: Workspace managed resource group. The resource
                          group name uniquely identifies the resource group within
                          the user subscriptionId. The resource group name must be
                          no longer than 90 characters long, and must be alphanumeric
                          characters (Char.IsLetterOrDigit()) and '-', '_', '(', ')'
                          and'.'. Note that the name cannot end with '.'
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        description: Resource provisioning state
                        type: string
                        readOnly: true
                      sqlAdministratorLogin:
                        description: Login for workspace SQL active directory administrator
                        type: string
                      virtualNetworkProfile:
                        description: Virtual Network profile
                        type: object
                        properties:
                          computeSubnetId:
                            description: Subnet ID used for computes in workspace
                            type: string
                      connectivityEndpoints:
                        description: Connectivity endpoints
                        additionalProperties:
                          type: string
                        type: object
                        readOnly: true
                      managedVirtualNetwork:
                        description: Setting this to 'default' will ensure that all
                          compute for this workspace is in a virtual network managed
                          on behalf of the user.
                        type: string
                      privateEndpointConnections:
                        description: Private endpoint connections to the workspace
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            properties:
                              description: Private endpoint connection properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                      readOnly: true
                                  x-ms-azure-resource: true
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: Provisioning state of the private endpoint
                                    connection.
                                  type: string
                                  readOnly: true
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                      encryption:
                        description: The encryption details of the workspace
                        type: object
                        properties:
                          doubleEncryptionEnabled:
                            description: Double Encryption enabled
                            type: boolean
                            readOnly: true
                          cmk:
                            description: Customer Managed Key Details
                            type: object
                            properties:
                              status:
                                description: The customer managed key status on the
                                  workspace
                                type: string
                                readOnly: true
                              key:
                                description: The key object of the workspace
                                type: object
                                properties:
                                  name:
                                    description: Workspace Key sub-resource name
                                    type: string
                                  keyVaultUrl:
                                    description: Workspace Key sub-resource key vault
                                      url
                                    type: string
                              kekIdentity:
                                description: Key encryption key
                                type: object
                                properties:
                                  userAssignedIdentity:
                                    description: User assigned identity resource Id
                                    type: string
                                  useSystemAssignedIdentity:
                                    description: Boolean specifying whether to use
                                      system assigned identity or not
                      workspaceUID:
                        description: The workspace unique identifier
                        type: string
                        readOnly: true
                        format: uuid
                      extraProperties:
                        description: Workspace level configs and feature flags
                        type: object
                        readOnly: true
                      managedVirtualNetworkSettings:
                        description: Managed Virtual Network Settings
                        type: object
                        properties:
                          preventDataExfiltration:
                            description: Prevent Data Exfiltration
                            type: boolean
                          linkedAccessCheckOnTargetResource:
                            description: Linked Access Check On Target Resource
                            type: boolean
                            x-ms-mutability:
                            - create
                            - read
                            - update
                          allowedAadTenantIdsForLinking:
                            description: Allowed Aad Tenant Ids For Linking
                            type: array
                            items:
                              type: string
                              description: Tenant Id
                      workspaceRepositoryConfiguration:
                        description: Git integration settings
                        type: object
                        properties:
                          type:
                            description: Type of workspace repositoryID configuration.
                              Example WorkspaceVSTSConfiguration, WorkspaceGitHubConfiguration
                            type: string
                          hostName:
                            description: 'GitHub Enterprise host name. For example:
                              `https://github.mydomain.com`'
                            type: string
                          accountName:
                            description: Account name
                            type: string
                          projectName:
                            description: VSTS project name
                            type: string
                          repositoryName:
                            description: Repository name
                            type: string
                          collaborationBranch:
                            description: Collaboration branch
                            type: string
                          rootFolder:
                            description: Root folder to use in the repository
                            type: string
                          lastCommitId:
                            description: The last commit ID
                            type: string
                          tenantId:
                            description: The VSTS tenant ID
                            type: string
                            format: uuid
                      purviewConfiguration:
                        description: Purview Configuration
                        type: object
                        properties:
                          purviewResourceId:
                            description: Purview Resource ID
                            type: string
                      adlaResourceId:
                        description: The ADLA resource ID.
                        type: string
                        readOnly: true
                      publicNetworkAccess:
                        enum:
                        - Enabled
                        - Disabled
                        description: Enable or Disable public network access to workspace
                        default: Enabled
                        type: string
                        x-ms-enum:
                          name: WorkspacePublicNetworkAccess
                          modelAsString: true
                      cspWorkspaceAdminProperties:
                        description: Initial workspace AAD admin properties for a
                          CSP subscription
                        type: object
                        properties:
                          initialWorkspaceAdminObjectId:
                            description: AAD object ID of initial workspace admin
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                      settings:
                        description: Workspace settings
                        additionalProperties:
                          type: object
                        type: object
                        readOnly: true
                      azureADOnlyAuthentication:
                        description: Enable or Disable AzureADOnlyAuthentication on
                          All Workspace subresource
                        type: boolean
                        x-ms-mutability:
                        - create
                        - update
                      trustedServiceBypassEnabled:
                        description: Is trustedServiceBypassEnabled for the workspace
                        type: boolean
                        default: false
                  identity:
                    description: Identity of the workspace
                    type: object
                    properties:
                      principalId:
                        description: The principal ID of the workspace managed identity
                        type: string
                        readOnly: true
                      tenantId:
                        description: The tenant ID of the workspace managed identity
                        type: string
                        format: uuid
                        readOnly: true
                      type:
                        description: The type of managed identity for the workspace
                        enum:
                        - None
                        - SystemAssigned
                        - SystemAssigned,UserAssigned
                        type: string
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: The user assigned managed identities.
                        type: object
                        additionalProperties:
                          description: User Assigned Managed Identity
                          properties:
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID.
                              readOnly: true
                              nullable: true
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID.
                              readOnly: true
                              nullable: true
                          type: object
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    readOnly: true
                                    type: string
                                    description: The additional info type.
                                  info:
                                    readOnly: true
                                    type: object
                                    description: The additional info.
                                description: The resource management error additional
                                  info.
                              x-ms-identifiers: []
                              description: The error additional info.
                        x-ms-identifiers:
                        - message
                        - target
                        description: The error details.
                      additionalInfo:
                        readOnly: true
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              readOnly: true
                              type: string
                              description: The additional info type.
                            info:
                              readOnly: true
                              type: object
                              description: The additional info.
                          description: The resource management error additional info.
                        x-ms-identifiers: []
                        description: The error additional info.
    patch:
      operationId: Workspaces_Update
      description: Updates a workspace
      tags:
      - Workspaces
      deprecated: false
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: The ID of the target subscription.
        schema:
          type: string
          minLength: 1
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group. The name is case insensitive.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: workspaceName
        in: path
        description: The name of the workspace.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: Workspace patch details
              type: object
              properties:
                tags:
                  description: Resource tags
                  additionalProperties:
                    type: string
                  type: object
                identity:
                  description: The identity of the workspace
                  type: object
                  properties:
                    principalId:
                      description: The principal ID of the workspace managed identity
                      type: string
                      readOnly: true
                    tenantId:
                      description: The tenant ID of the workspace managed identity
                      type: string
                      format: uuid
                      readOnly: true
                    type:
                      description: The type of managed identity for the workspace
                      enum:
                      - None
                      - SystemAssigned
                      - SystemAssigned,UserAssigned
                      type: string
                      x-ms-enum:
                        name: ResourceIdentityType
                        modelAsString: false
                    userAssignedIdentities:
                      description: The user assigned managed identities.
                      type: object
                      additionalProperties:
                        description: User Assigned Managed Identity
                        properties:
                          clientId:
                            type: string
                            format: uuid
                            description: The client ID.
                            readOnly: true
                            nullable: true
                          principalId:
                            type: string
                            format: uuid
                            description: The principal ID.
                            readOnly: true
                            nullable: true
                        type: object
                properties:
                  description: Workspace patch properties
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    sqlAdministratorLoginPassword:
                      description: SQL administrator login password
                      type: string
                    managedVirtualNetworkSettings:
                      description: Managed Virtual Network Settings
                      type: object
                      properties:
                        preventDataExfiltration:
                          description: Prevent Data Exfiltration
                          type: boolean
                        linkedAccessCheckOnTargetResource:
                          description: Linked Access Check On Target Resource
                          type: boolean
                          x-ms-mutability:
                          - create
                          - read
                          - update
                        allowedAadTenantIdsForLinking:
                          description: Allowed Aad Tenant Ids For Linking
                          type: array
                          items:
                            type: string
                            description: Tenant Id
                    workspaceRepositoryConfiguration:
                      description: Git integration settings
                      type: object
                      properties:
                        type:
                          description: Type of workspace repositoryID configuration.
                            Example WorkspaceVSTSConfiguration, WorkspaceGitHubConfiguration
                          type: string
                        hostName:
                          description: 'GitHub Enterprise host name. For example:
                            `https://github.mydomain.com`'
                          type: string
                        accountName:
                          description: Account name
                          type: string
                        projectName:
                          description: VSTS project name
                          type: string
                        repositoryName:
                          description: Repository name
                          type: string
                        collaborationBranch:
                          description: Collaboration branch
                          type: string
                        rootFolder:
                          description: Root folder to use in the repository
                          type: string
                        lastCommitId:
                          description: The last commit ID
                          type: string
                        tenantId:
                          description: The VSTS tenant ID
                          type: string
                          format: uuid
                    purviewConfiguration:
                      description: Purview Configuration
                      type: object
                      properties:
                        purviewResourceId:
                          description: Purview Resource ID
                          type: string
                    provisioningState:
                      description: Resource provisioning state
                      type: string
                      readOnly: true
                    encryption:
                      description: The encryption details of the workspace
                      type: object
                      properties:
                        doubleEncryptionEnabled:
                          description: Double Encryption enabled
                          type: boolean
                          readOnly: true
                        cmk:
                          description: Customer Managed Key Details
                          type: object
                          properties:
                            status:
                              description: The customer managed key status on the
                                workspace
                              type: string
                              readOnly: true
                            key:
                              description: The key object of the workspace
                              type: object
                              properties:
                                name:
                                  description: Workspace Key sub-resource name
                                  type: string
                                keyVaultUrl:
                                  description: Workspace Key sub-resource key vault
                                    url
                                  type: string
                            kekIdentity:
                              description: Key encryption key
                              type: object
                              properties:
                                userAssignedIdentity:
                                  description: User assigned identity resource Id
                                  type: string
                                useSystemAssignedIdentity:
                                  description: Boolean specifying whether to use system
                                    assigned identity or not
                    publicNetworkAccess:
                      enum:
                      - Enabled
                      - Disabled
                      description: Enable or Disable public network access to workspace
                      type: string
                      x-ms-enum:
                        name: WorkspacePublicNetworkAccess
                        modelAsString: true
        description: Workspace patch request properties
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Workspace resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      defaultDataLakeStorage:
                        description: Workspace default data lake storage account details
                        type: object
                        properties:
                          accountUrl:
                            description: Account URL
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          filesystem:
                            description: Filesystem name
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          resourceId:
                            description: ARM resource Id of this storage account
                            type: string
                          createManagedPrivateEndpoint:
                            description: Create managed private endpoint to this storage
                              account or not
                            type: boolean
                            x-ms-mutability:
                            - create
                            - read
                      sqlAdministratorLoginPassword:
                        description: SQL administrator login password
                        type: string
                      managedResourceGroupName:
                        description: Workspace managed resource group. The resource
                          group name uniquely identifies the resource group within
                          the user subscriptionId. The resource group name must be
                          no longer than 90 characters long, and must be alphanumeric
                          characters (Char.IsLetterOrDigit()) and '-', '_', '(', ')'
                          and'.'. Note that the name cannot end with '.'
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        description: Resource provisioning state
                        type: string
                        readOnly: true
                      sqlAdministratorLogin:
                        description: Login for workspace SQL active directory administrator
                        type: string
                      virtualNetworkProfile:
                        description: Virtual Network profile
                        type: object
                        properties:
                          computeSubnetId:
                            description: Subnet ID used for computes in workspace
                            type: string
                      connectivityEndpoints:
                        description: Connectivity endpoints
                        additionalProperties:
                          type: string
                        type: object
                        readOnly: true
                      managedVirtualNetwork:
                        description: Setting this to 'default' will ensure that all
                          compute for this workspace is in a virtual network managed
                          on behalf of the user.
                        type: string
                      privateEndpointConnections:
                        description: Private endpoint connections to the workspace
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            properties:
                              description: Private endpoint connection properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                      readOnly: true
                                  x-ms-azure-resource: true
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: Provisioning state of the private endpoint
                                    connection.
                                  type: string
                                  readOnly: true
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                      encryption:
                        description: The encryption details of the workspace
                        type: object
                        properties:
                          doubleEncryptionEnabled:
                            description: Double Encryption enabled
                            type: boolean
                            readOnly: true
                          cmk:
                            description: Customer Managed Key Details
                            type: object
                            properties:
                              status:
                                description: The customer managed key status on the
                                  workspace
                                type: string
                                readOnly: true
                              key:
                                description: The key object of the workspace
                                type: object
                                properties:
                                  name:
                                    description: Workspace Key sub-resource name
                                    type: string
                                  keyVaultUrl:
                                    description: Workspace Key sub-resource key vault
                                      url
                                    type: string
                              kekIdentity:
                                description: Key encryption key
                                type: object
                                properties:
                                  userAssignedIdentity:
                                    description: User assigned identity resource Id
                                    type: string
                                  useSystemAssignedIdentity:
                                    description: Boolean specifying whether to use
                                      system assigned identity or not
                      workspaceUID:
                        description: The workspace unique identifier
                        type: string
                        readOnly: true
                        format: uuid
                      extraProperties:
                        description: Workspace level configs and feature flags
                        type: object
                        readOnly: true
                      managedVirtualNetworkSettings:
                        description: Managed Virtual Network Settings
                        type: object
                        properties:
                          preventDataExfiltration:
                            description: Prevent Data Exfiltration
                            type: boolean
                          linkedAccessCheckOnTargetResource:
                            description: Linked Access Check On Target Resource
                            type: boolean
                            x-ms-mutability:
                            - create
                            - read
                            - update
                          allowedAadTenantIdsForLinking:
                            description: Allowed Aad Tenant Ids For Linking
                            type: array
                            items:
                              type: string
                              description: Tenant Id
                      workspaceRepositoryConfiguration:
                        description: Git integration settings
                        type: object
                        properties:
                          type:
                            description: Type of workspace repositoryID configuration.
                              Example WorkspaceVSTSConfiguration, WorkspaceGitHubConfiguration
                            type: string
                          hostName:
                            description: 'GitHub Enterprise host name. For example:
                              `https://github.mydomain.com`'
                            type: string
                          accountName:
                            description: Account name
                            type: string
                          projectName:
                            description: VSTS project name
                            type: string
                          repositoryName:
                            description: Repository name
                            type: string
                          collaborationBranch:
                            description: Collaboration branch
                            type: string
                          rootFolder:
                            description: Root folder to use in the repository
                            type: string
                          lastCommitId:
                            description: The last commit ID
                            type: string
                          tenantId:
                            description: The VSTS tenant ID
                            type: string
                            format: uuid
                      purviewConfiguration:
                        description: Purview Configuration
                        type: object
                        properties:
                          purviewResourceId:
                            description: Purview Resource ID
                            type: string
                      adlaResourceId:
                        description: The ADLA resource ID.
                        type: string
                        readOnly: true
                      publicNetworkAccess:
                        enum:
                        - Enabled
                        - Disabled
                        description: Enable or Disable public network access to workspace
                        default: Enabled
                        type: string
                        x-ms-enum:
                          name: WorkspacePublicNetworkAccess
                          modelAsString: true
                      cspWorkspaceAdminProperties:
                        description: Initial workspace AAD admin properties for a
                          CSP subscription
                        type: object
                        properties:
                          initialWorkspaceAdminObjectId:
                            description: AAD object ID of initial workspace admin
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                      settings:
                        description: Workspace settings
                        additionalProperties:
                          type: object
                        type: object
                        readOnly: true
                      azureADOnlyAuthentication:
                        description: Enable or Disable AzureADOnlyAuthentication on
                          All Workspace subresource
                        type: boolean
                        x-ms-mutability:
                        - create
                        - update
                      trustedServiceBypassEnabled:
                        description: Is trustedServiceBypassEnabled for the workspace
                        type: boolean
                        default: false
                  identity:
                    description: Identity of the workspace
                    type: object
                    properties:
                      principalId:
                        description: The principal ID of the workspace managed identity
                        type: string
                        readOnly: true
                      tenantId:
                        description: The tenant ID of the workspace managed identity
                        type: string
                        format: uuid
                        readOnly: true
                      type:
                        description: The type of managed identity for the workspace
                        enum:
                        - None
                        - SystemAssigned
                        - SystemAssigned,UserAssigned
                        type: string
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: The user assigned managed identities.
                        type: object
                        additionalProperties:
                          description: User Assigned Managed Identity
                          properties:
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID.
                              readOnly: true
                              nullable: true
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID.
                              readOnly: true
                              nullable: true
                          type: object
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Fully qualified resource ID for the resource. Ex
                      - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                  name:
                    readOnly: true
                    type: string
                    description: The name of the resource
                  type:
                    readOnly: true
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                    description: Resource tags.
                  location:
                    type: string
                    x-ms-mutability:
                    - read
                    - create
                    description: The geo-location where the resource lives
                  properties:
                    description: Workspace resource properties
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      defaultDataLakeStorage:
                        description: Workspace default data lake storage account details
                        type: object
                        properties:
                          accountUrl:
                            description: Account URL
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          filesystem:
                            description: Filesystem name
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                          resourceId:
                            description: ARM resource Id of this storage account
                            type: string
                          createManagedPrivateEndpoint:
                            description: Create managed private endpoint to this storage
                              account or not
                            type: boolean
                            x-ms-mutability:
                            - create
                            - read
                      sqlAdministratorLoginPassword:
                        description: SQL administrator login password
                        type: string
                      managedResourceGroupName:
                        description: Workspace managed resource group. The resource
                          group name uniquely identifies the resource group within
                          the user subscriptionId. The resource group name must be
                          no longer than 90 characters long, and must be alphanumeric
                          characters (Char.IsLetterOrDigit()) and '-', '_', '(', ')'
                          and'.'. Note that the name cannot end with '.'
                        type: string
                        x-ms-mutability:
                        - create
                        - read
                      provisioningState:
                        description: Resource provisioning state
                        type: string
                        readOnly: true
                      sqlAdministratorLogin:
                        description: Login for workspace SQL active directory administrator
                        type: string
                      virtualNetworkProfile:
                        description: Virtual Network profile
                        type: object
                        properties:
                          computeSubnetId:
                            description: Subnet ID used for computes in workspace
                            type: string
                      connectivityEndpoints:
                        description: Connectivity endpoints
                        additionalProperties:
                          type: string
                        type: object
                        readOnly: true
                      managedVirtualNetwork:
                        description: Setting this to 'default' will ensure that all
                          compute for this workspace is in a virtual network managed
                          on behalf of the user.
                        type: string
                      privateEndpointConnections:
                        description: Private endpoint connections to the workspace
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              readOnly: true
                              type: string
                              description: Fully qualified resource ID for the resource.
                                Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                            name:
                              readOnly: true
                              type: string
                              description: The name of the resource
                            type:
                              readOnly: true
                              type: string
                              description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                or "Microsoft.Storage/storageAccounts"
                            properties:
                              description: Private endpoint connection properties.
                              x-ms-client-flatten: true
                              type: object
                              properties:
                                privateEndpoint:
                                  description: The private endpoint which the connection
                                    belongs to.
                                  type: object
                                  properties:
                                    id:
                                      description: Resource id of the private endpoint.
                                      type: string
                                      readOnly: true
                                  x-ms-azure-resource: true
                                privateLinkServiceConnectionState:
                                  description: Connection state of the private endpoint
                                    connection.
                                  type: object
                                  properties:
                                    status:
                                      description: The private link service connection
                                        status.
                                      type: string
                                    description:
                                      description: The private link service connection
                                        description.
                                      type: string
                                    actionsRequired:
                                      description: The actions required for private
                                        link service connection.
                                      type: string
                                      readOnly: true
                                provisioningState:
                                  description: Provisioning state of the private endpoint
                                    connection.
                                  type: string
                                  readOnly: true
                          title: Resource
                          description: Common fields that are returned in the response
                            for all Azure Resource Manager resources
                          x-ms-azure-resource: true
                      encryption:
                        description: The encryption details of the workspace
                        type: object
                        properties:
                          doubleEncryptionEnabled:
                            description: Double Encryption enabled
                            type: boolean
                            readOnly: true
                          cmk:
                            description: Customer Managed Key Details
                            type: object
                            properties:
                              status:
                                description: The customer managed key status on the
                                  workspace
                                type: string
                                readOnly: true
                              key:
                                description: The key object of the workspace
                                type: object
                                properties:
                                  name:
                                    description: Workspace Key sub-resource name
                                    type: string
                                  keyVaultUrl:
                                    description: Workspace Key sub-resource key vault
                                      url
                                    type: string
                              kekIdentity:
                                description: Key encryption key
                                type: object
                                properties:
                                  userAssignedIdentity:
                                    description: User assigned identity resource Id
                                    type: string
                                  useSystemAssignedIdentity:
                                    description: Boolean specifying whether to use
                                      system assigned identity or not
                      workspaceUID:
                        description: The workspace unique identifier
                        type: string
                        readOnly: true
                        format: uuid
                      extraProperties:
                        description: Workspace level configs and feature flags
                        type: object
                        readOnly: true
                      managedVirtualNetworkSettings:
                        description: Managed Virtual Network Settings
                        type: object
                        properties:
                          preventDataExfiltration:
                            description: Prevent Data Exfiltration
                            type: boolean
                          linkedAccessCheckOnTargetResource:
                            description: Linked Access Check On Target Resource
                            type: boolean
                            x-ms-mutability:
                            - create
                            - read
                            - update
                          allowedAadTenantIdsForLinking:
                            description: Allowed Aad Tenant Ids For Linking
                            type: array
                            items:
                              type: string
                              description: Tenant Id
                      workspaceRepositoryConfiguration:
                        description: Git integration settings
                        type: object
                        properties:
                          type:
                            description: Type of workspace repositoryID configuration.
                              Example WorkspaceVSTSConfiguration, WorkspaceGitHubConfiguration
                            type: string
                          hostName:
                            description: 'GitHub Enterprise host name. For example:
                              `https://github.mydomain.com`'
                            type: string
                          accountName:
                            description: Account name
                            type: string
                          projectName:
                            description: VSTS project name
                            type: string
                          repositoryName:
                            description: Repository name
                            type: string
                          collaborationBranch:
                            description: Collaboration branch
                            type: string
                          rootFolder:
                            description: Root folder to use in the repository
                            type: string
                          lastCommitId:
                            description: The last commit ID
                            type: string
                          tenantId:
                            description: The VSTS tenant ID
                            type: string
                            format: uuid
                      purviewConfiguration:
                        description: Purview Configuration
                        type: object
                        properties:
                          purviewResourceId:
                            description: Purview Resource ID
                            type: string
                      adlaResourceId:
                        description: The ADLA resource ID.
                        type: string
                        readOnly: true
                      publicNetworkAccess:
                        enum:
                        - Enabled
                        - Disabled
                        description: Enable or Disable public network access to workspace
                        default: Enabled
                        type: string
                        x-ms-enum:
                          name: WorkspacePublicNetworkAccess
                          modelAsString: true
                      cspWorkspaceAdminProperties:
                        description: Initial workspace AAD admin properties for a
                          CSP subscription
                        type: object
                        properties:
                          initialWorkspaceAdminObjectId:
                            description: AAD object ID of initial workspace admin
                            type: string
                            x-ms-mutability:
                            - create
                            - read
                      settings:
                        description: Workspace settings
                        additionalProperties:
                          type: object
                        type: object
                        readOnly: true
                      azureADOnlyAuthentication:
                        description: Enable or Disable AzureADOnlyAuthentication on
                          All Workspace subresource
                        type: boolean
                        x-ms-mutability:
                        - create
                        - update
                      trustedServiceBypassEnabled:
                        description: Is trustedServiceBypassEnabled for the workspace
                        type: boolean
                        default: false
                  identity:
                    description: Identity of the workspace
                    type: object
                    properties:
                      principalId:
                        description: The principal ID of the workspace managed identity
                        type: string
                        readOnly: true
                      tenantId:
                        description: The tenant ID of the workspace managed identity
                        type: string
                        format: uuid
                        readOnly: true
                      type:
                        description: The type of managed identity for the workspace
                        enum:
                        - None
                        - SystemAssigned
                        - SystemAssigned,UserAssigned
                        type: string
                        x-ms-enum:
                          name: ResourceIdentityType
                          modelAsString: false
                      userAssignedIdentities:
                        description: The user assigned managed identities.
                        type: object
                        additionalProperties:
                          description: User Assigned Managed Identity
                          properties:
                            clientId:
                              type: string
                              format: uuid
                              description: The client ID.
                              readOnly: true
                              nullable: true
                            principalId:
                              type: string
                              format: uuid
                              description: The principal ID.
                              readOnly: true
                              nullable: true
                          type: object
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: ''
          content:
            application/json:
              schema:
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                type: object
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        readOnly: true
                        type: string
                        description: The error code.
                      message:
                        readOnly: true
                        type: string
                        description: The error message.
                      target:
                        readOnly: true
                        type: string
                        description: The error target.
                      details:
                        readOnly: true
                        type: array
                        items:
                          description: The error detail.
                          type: object
                          properties:
                            code:
                              readOnly: true
                              type: string
                              description: The error code.
                            message:
                              readOnly: true
                              type: string
                              description: The error message.
                            target:
                              readOnly: true
                              type: string
                              description: The error target.
                            details:
                              readOnly: true
                              type: array
                              items:
                                description: The error detail.
                                type: object
                                properties:
                                  code:
                                    readOnly: true
                                    type: string
                                    description: The error code.
                                  message:
                                    readOnly: true
                                    type: string
                                    description: The error message.
                                  target:
                                    readOnly: true
                                    type: string
                                    description: The error target.
                              x-ms-identifiers:
                              - message
                              - target
                              description: The error details.
                            additionalInfo:
                              readOnly: true
                              type: array
[...]
