openapi: 3.0.0
info:
  title: FeatureClient
  description: Feature provider
  version: 2021-07-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Features/featureProviders/{providerNamespace}/subscriptionFeatureRegistrations/{featureName}
  : get:
      description: Returns a feature registration
      operationId: SubscriptionFeatureRegistrations_Get
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: providerNamespace
        in: path
        required: true
        description: The provider namespace.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: featureName
        in: path
        required: true
        description: The feature name.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Subscription Feature Registration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Azure resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Azure resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Azure resource type.
                    type: string
                    readOnly: true
                  properties:
                    properties:
                      tenantId:
                        type: string
                        description: The tenantId.
                        readOnly: true
                      subscriptionId:
                        type: string
                        description: The subscriptionId.
                        readOnly: true
                      featureName:
                        type: string
                        description: The featureName.
                        readOnly: true
                      displayName:
                        type: string
                        description: The featureDisplayName.
                        readOnly: true
                      providerNamespace:
                        type: string
                        description: The providerNamespace.
                        readOnly: true
                      state:
                        type: string
                        description: The state.
                        enum:
                        - NotSpecified
                        - NotRegistered
                        - Pending
                        - Registering
                        - Registered
                        - Unregistering
                        - Unregistered
                        x-ms-enum:
                          name: SubscriptionFeatureRegistrationState
                          modelAsString: true
                      authorizationProfile:
                        description: Authorization Profile
                        type: object
                        properties:
                          requestedTime:
                            type: string
                            format: date-time
                            description: The requested time
                            readOnly: true
                          requester:
                            type: string
                            description: The requester
                            readOnly: true
                          requesterObjectId:
                            type: string
                            description: The requester object id
                            readOnly: true
                          approvedTime:
                            type: string
                            format: date-time
                            description: The approved time
                            readOnly: true
                          approver:
                            type: string
                            description: The approver
                            readOnly: true
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                          maxLength: 1000
                        description: Key-value pairs for meta data.
                      releaseDate:
                        type: string
                        format: date-time
                        description: The feature release date.
                        readOnly: true
                      registrationDate:
                        type: string
                        format: date-time
                        description: The feature registration date.
                        readOnly: true
                      documentationLink:
                        type: string
                        maxLength: 1000
                        description: The feature documentation link.
                        readOnly: true
                      approvalType:
                        type: string
                        description: The feature approval type.
                        enum:
                        - NotSpecified
                        - ApprovalRequired
                        - AutoApproval
                        x-ms-enum:
                          name: SubscriptionFeatureRegistrationApprovalType
                          modelAsString: true
                        readOnly: true
                      shouldFeatureDisplayInPortal:
                        type: boolean
                        default: false
                        description: Indicates whether feature should be displayed
                          in Portal.
                      description:
                        type: string
                        maxLength: 1000
                        description: The feature description.
                    type: object
                description: An Azure proxy resource.
                x-ms-azure-resource: true
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                type: object
                description: Error response indicates that the service is not able
                  to process the incoming request.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          type: object
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                type: object
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                        x-ms-identifiers: []
    put:
      description: Create or update a feature registration.
      operationId: SubscriptionFeatureRegistrations_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: providerNamespace
        in: path
        required: true
        description: The provider namespace.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: featureName
        in: path
        required: true
        description: The feature name.
        x-ms-parameter-location: method
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: Azure resource Id.
                  type: string
                  readOnly: true
                name:
                  description: Azure resource name.
                  type: string
                  readOnly: true
                type:
                  description: Azure resource type.
                  type: string
                  readOnly: true
                properties:
                  properties:
                    tenantId:
                      type: string
                      description: The tenantId.
                      readOnly: true
                    subscriptionId:
                      type: string
                      description: The subscriptionId.
                      readOnly: true
                    featureName:
                      type: string
                      description: The featureName.
                      readOnly: true
                    displayName:
                      type: string
                      description: The featureDisplayName.
                      readOnly: true
                    providerNamespace:
                      type: string
                      description: The providerNamespace.
                      readOnly: true
                    state:
                      type: string
                      description: The state.
                      enum:
                      - NotSpecified
                      - NotRegistered
                      - Pending
                      - Registering
                      - Registered
                      - Unregistering
                      - Unregistered
                      x-ms-enum:
                        name: SubscriptionFeatureRegistrationState
                        modelAsString: true
                    authorizationProfile:
                      description: Authorization Profile
                      type: object
                      properties:
                        requestedTime:
                          type: string
                          format: date-time
                          description: The requested time
                          readOnly: true
                        requester:
                          type: string
                          description: The requester
                          readOnly: true
                        requesterObjectId:
                          type: string
                          description: The requester object id
                          readOnly: true
                        approvedTime:
                          type: string
                          format: date-time
                          description: The approved time
                          readOnly: true
                        approver:
                          type: string
                          description: The approver
                          readOnly: true
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                        maxLength: 1000
                      description: Key-value pairs for meta data.
                    releaseDate:
                      type: string
                      format: date-time
                      description: The feature release date.
                      readOnly: true
                    registrationDate:
                      type: string
                      format: date-time
                      description: The feature registration date.
                      readOnly: true
                    documentationLink:
                      type: string
                      maxLength: 1000
                      description: The feature documentation link.
                      readOnly: true
                    approvalType:
                      type: string
                      description: The feature approval type.
                      enum:
                      - NotSpecified
                      - ApprovalRequired
                      - AutoApproval
                      x-ms-enum:
                        name: SubscriptionFeatureRegistrationApprovalType
                        modelAsString: true
                      readOnly: true
                    shouldFeatureDisplayInPortal:
                      type: boolean
                      default: false
                      description: Indicates whether feature should be displayed in
                        Portal.
                    description:
                      type: string
                      maxLength: 1000
                      description: The feature description.
                  type: object
              description: An Azure proxy resource.
              x-ms-azure-resource: true
        description: Subscription Feature Registration Type details.
      responses:
        '200':
          description: The feature registration is created or updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Azure resource Id.
                    type: string
                    readOnly: true
                  name:
                    description: Azure resource name.
                    type: string
                    readOnly: true
                  type:
                    description: Azure resource type.
                    type: string
                    readOnly: true
                  properties:
                    properties:
                      tenantId:
                        type: string
                        description: The tenantId.
                        readOnly: true
                      subscriptionId:
                        type: string
                        description: The subscriptionId.
                        readOnly: true
                      featureName:
                        type: string
                        description: The featureName.
                        readOnly: true
                      displayName:
                        type: string
                        description: The featureDisplayName.
                        readOnly: true
                      providerNamespace:
                        type: string
                        description: The providerNamespace.
                        readOnly: true
                      state:
                        type: string
                        description: The state.
                        enum:
                        - NotSpecified
                        - NotRegistered
                        - Pending
                        - Registering
                        - Registered
                        - Unregistering
                        - Unregistered
                        x-ms-enum:
                          name: SubscriptionFeatureRegistrationState
                          modelAsString: true
                      authorizationProfile:
                        description: Authorization Profile
                        type: object
                        properties:
                          requestedTime:
                            type: string
                            format: date-time
                            description: The requested time
                            readOnly: true
                          requester:
                            type: string
                            description: The requester
                            readOnly: true
                          requesterObjectId:
                            type: string
                            description: The requester object id
                            readOnly: true
                          approvedTime:
                            type: string
                            format: date-time
                            description: The approved time
                            readOnly: true
                          approver:
                            type: string
                            description: The approver
                            readOnly: true
                      metadata:
                        type: object
                        additionalProperties:
                          type: string
                          maxLength: 1000
                        description: Key-value pairs for meta data.
                      releaseDate:
                        type: string
                        format: date-time
                        description: The feature release date.
                        readOnly: true
                      registrationDate:
                        type: string
                        format: date-time
                        description: The feature registration date.
                        readOnly: true
                      documentationLink:
                        type: string
                        maxLength: 1000
                        description: The feature documentation link.
                        readOnly: true
                      approvalType:
                        type: string
                        description: The feature approval type.
                        enum:
                        - NotSpecified
                        - ApprovalRequired
                        - AutoApproval
                        x-ms-enum:
                          name: SubscriptionFeatureRegistrationApprovalType
                          modelAsString: true
                        readOnly: true
                      shouldFeatureDisplayInPortal:
                        type: boolean
                        default: false
                        description: Indicates whether feature should be displayed
                          in Portal.
                      description:
                        type: string
                        maxLength: 1000
                        description: The feature description.
                    type: object
                description: An Azure proxy resource.
                x-ms-azure-resource: true
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                type: object
                description: Error response indicates that the service is not able
                  to process the incoming request.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          type: object
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                type: object
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                        x-ms-identifiers: []
    delete:
      description: Deletes a feature registration
      operationId: SubscriptionFeatureRegistrations_Delete
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: providerNamespace
        in: path
        required: true
        description: The provider namespace.
        x-ms-parameter-location: method
        schema:
          type: string
      - name: featureName
        in: path
        required: true
        description: The feature name.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: The feature registration has been deleted successfully.
        '204':
          description: The feature registration has been deleted already.
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                type: object
                description: Error response indicates that the service is not able
                  to process the incoming request.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          type: object
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                type: object
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                        x-ms-identifiers: []
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Features/featureProviders/{providerNamespace}/subscriptionFeatureRegistrations
  : get:
      description: Returns subscription feature registrations for given subscription
        and provider namespace.
      operationId: SubscriptionFeatureRegistrations_ListBySubscription
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID.
        x-ms-parameter-location: client
        schema:
          type: string
      - name: providerNamespace
        in: path
        required: true
        description: The provider namespace.
        x-ms-parameter-location: method
        schema:
          type: string
      responses:
        '200':
          description: Subscription Feature Registrations.
          content:
            application/json:
              schema:
                description: The list of subscription feature registrations.
                type: object
                properties:
                  nextLink:
                    description: The link used to get the next page of subscription
                      feature registrations list.
                    type: string
                  value:
                    description: The list of subscription feature registrations.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Azure resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Azure resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Azure resource type.
                          type: string
                          readOnly: true
                        properties:
                          properties:
                            tenantId:
                              type: string
                              description: The tenantId.
                              readOnly: true
                            subscriptionId:
                              type: string
                              description: The subscriptionId.
                              readOnly: true
                            featureName:
                              type: string
                              description: The featureName.
                              readOnly: true
                            displayName:
                              type: string
                              description: The featureDisplayName.
                              readOnly: true
                            providerNamespace:
                              type: string
                              description: The providerNamespace.
                              readOnly: true
                            state:
                              type: string
                              description: The state.
                              enum:
                              - NotSpecified
                              - NotRegistered
                              - Pending
                              - Registering
                              - Registered
                              - Unregistering
                              - Unregistered
                              x-ms-enum:
                                name: SubscriptionFeatureRegistrationState
                                modelAsString: true
                            authorizationProfile:
                              description: Authorization Profile
                              type: object
                              properties:
                                requestedTime:
                                  type: string
                                  format: date-time
                                  description: The requested time
                                  readOnly: true
                                requester:
                                  type: string
                                  description: The requester
                                  readOnly: true
                                requesterObjectId:
                                  type: string
                                  description: The requester object id
                                  readOnly: true
                                approvedTime:
                                  type: string
                                  format: date-time
                                  description: The approved time
                                  readOnly: true
                                approver:
                                  type: string
                                  description: The approver
                                  readOnly: true
                            metadata:
                              type: object
                              additionalProperties:
                                type: string
                                maxLength: 1000
                              description: Key-value pairs for meta data.
                            releaseDate:
                              type: string
                              format: date-time
                              description: The feature release date.
                              readOnly: true
                            registrationDate:
                              type: string
                              format: date-time
                              description: The feature registration date.
                              readOnly: true
                            documentationLink:
                              type: string
                              maxLength: 1000
                              description: The feature documentation link.
                              readOnly: true
                            approvalType:
                              type: string
                              description: The feature approval type.
                              enum:
                              - NotSpecified
                              - ApprovalRequired
                              - AutoApproval
                              x-ms-enum:
                                name: SubscriptionFeatureRegistrationApprovalType
                                modelAsString: true
                              readOnly: true
                            shouldFeatureDisplayInPortal:
                              type: boolean
                              default: false
                              description: Indicates whether feature should be displayed
                                in Portal.
                            description:
                              type: string
                              maxLength: 1000
                              description: The feature description.
                          type: object
                      description: An Azure proxy resource.
                      x-ms-azure-resource: true
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                type: object
                description: Error response indicates that the service is not able
                  to process the incoming request.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          type: object
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                type: object
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Features/subscriptionFeatureRegistrations:
    get:
      description: Returns subscription feature registrations for given subscription.
      operationId: SubscriptionFeatureRegistrations_ListAllBySubscription
      parameters:
      - name: api-version
        in: query
        required: true
        description: The API version to use for this operation.
        schema:
          type: string
      - name: subscriptionId
        in: path
        required: true
        description: The Azure subscription ID.
        x-ms-parameter-location: client
        schema:
          type: string
      responses:
        '200':
          description: Subscription Feature Registrations.
          content:
            application/json:
              schema:
                description: The list of subscription feature registrations.
                type: object
                properties:
                  nextLink:
                    description: The link used to get the next page of subscription
                      feature registrations list.
                    type: string
                  value:
                    description: The list of subscription feature registrations.
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Azure resource Id.
                          type: string
                          readOnly: true
                        name:
                          description: Azure resource name.
                          type: string
                          readOnly: true
                        type:
                          description: Azure resource type.
                          type: string
                          readOnly: true
                        properties:
                          properties:
                            tenantId:
                              type: string
                              description: The tenantId.
                              readOnly: true
                            subscriptionId:
                              type: string
                              description: The subscriptionId.
                              readOnly: true
                            featureName:
                              type: string
                              description: The featureName.
                              readOnly: true
                            displayName:
                              type: string
                              description: The featureDisplayName.
                              readOnly: true
                            providerNamespace:
                              type: string
                              description: The providerNamespace.
                              readOnly: true
                            state:
                              type: string
                              description: The state.
                              enum:
                              - NotSpecified
                              - NotRegistered
                              - Pending
                              - Registering
                              - Registered
                              - Unregistering
                              - Unregistered
                              x-ms-enum:
                                name: SubscriptionFeatureRegistrationState
                                modelAsString: true
                            authorizationProfile:
                              description: Authorization Profile
                              type: object
                              properties:
                                requestedTime:
                                  type: string
                                  format: date-time
                                  description: The requested time
                                  readOnly: true
                                requester:
                                  type: string
                                  description: The requester
                                  readOnly: true
                                requesterObjectId:
                                  type: string
                                  description: The requester object id
                                  readOnly: true
                                approvedTime:
                                  type: string
                                  format: date-time
                                  description: The approved time
                                  readOnly: true
                                approver:
                                  type: string
                                  description: The approver
                                  readOnly: true
                            metadata:
                              type: object
                              additionalProperties:
                                type: string
                                maxLength: 1000
                              description: Key-value pairs for meta data.
                            releaseDate:
                              type: string
                              format: date-time
                              description: The feature release date.
                              readOnly: true
                            registrationDate:
                              type: string
                              format: date-time
                              description: The feature registration date.
                              readOnly: true
                            documentationLink:
                              type: string
                              maxLength: 1000
                              description: The feature documentation link.
                              readOnly: true
                            approvalType:
                              type: string
                              description: The feature approval type.
                              enum:
                              - NotSpecified
                              - ApprovalRequired
                              - AutoApproval
                              x-ms-enum:
                                name: SubscriptionFeatureRegistrationApprovalType
                                modelAsString: true
                              readOnly: true
                            shouldFeatureDisplayInPortal:
                              type: boolean
                              default: false
                              description: Indicates whether feature should be displayed
                                in Portal.
                            description:
                              type: string
                              maxLength: 1000
                              description: The feature description.
                          type: object
                      description: An Azure proxy resource.
                      x-ms-azure-resource: true
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                type: object
                description: Error response indicates that the service is not able
                  to process the incoming request.
                properties:
                  error:
                    description: The error details.
                    type: object
                    properties:
                      code:
                        description: Service specific error code which serves as the
                          substatus for the HTTP error code.
                        type: string
                        readOnly: true
                      message:
                        description: Description of the error.
                        type: string
                        readOnly: true
                      details:
                        description: Internal error details.
                        type: array
                        items:
                          description: Error definition.
                          type: object
                          properties:
                            code:
                              description: Service specific error code which serves
                                as the substatus for the HTTP error code.
                              type: string
                              readOnly: true
                            message:
                              description: Description of the error.
                              type: string
                              readOnly: true
                            details:
                              description: Internal error details.
                              type: array
                              items:
                                description: Error definition.
                                type: object
                                properties:
                                  code:
                                    description: Service specific error code which
                                      serves as the substatus for the HTTP error code.
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Description of the error.
                                    type: string
                                    readOnly: true
                              x-ms-identifiers: []
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
components:
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      required: true
      description: The Azure subscription ID.
      x-ms-parameter-location: client
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    ProviderNamespaceParameter:
      name: providerNamespace
      in: path
      required: true
      description: The provider namespace.
      x-ms-parameter-location: method
      schema:
        type: string
    FeatureNameParameter:
      name: featureName
      in: path
      required: true
      description: The feature name.
      x-ms-parameter-location: method
      schema:
        type: string
    ActionNameParameter:
      name: actionName
      in: path
      required: true
      description: The action name.
      x-ms-parameter-location: method
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ProxyResource:
      type: object
      description: An Azure proxy resource.
      properties:
        id:
          description: Azure resource Id.
          type: string
          readOnly: true
        name:
          description: Azure resource name.
          type: string
          readOnly: true
        type:
          description: Azure resource type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    SubscriptionFeatureRegistration:
      type: object
      properties:
        id:
          description: Azure resource Id.
          type: string
          readOnly: true
        name:
          description: Azure resource name.
          type: string
          readOnly: true
        type:
          description: Azure resource type.
          type: string
          readOnly: true
        properties:
          properties:
            tenantId:
              type: string
              description: The tenantId.
              readOnly: true
            subscriptionId:
              type: string
              description: The subscriptionId.
              readOnly: true
            featureName:
              type: string
              description: The featureName.
              readOnly: true
            displayName:
              type: string
              description: The featureDisplayName.
              readOnly: true
            providerNamespace:
              type: string
              description: The providerNamespace.
              readOnly: true
            state:
              type: string
              description: The state.
              enum:
              - NotSpecified
              - NotRegistered
              - Pending
              - Registering
              - Registered
              - Unregistering
              - Unregistered
              x-ms-enum:
                name: SubscriptionFeatureRegistrationState
                modelAsString: true
            authorizationProfile:
              description: Authorization Profile
              type: object
              properties:
                requestedTime:
                  type: string
                  format: date-time
                  description: The requested time
                  readOnly: true
                requester:
                  type: string
                  description: The requester
                  readOnly: true
                requesterObjectId:
                  type: string
                  description: The requester object id
                  readOnly: true
                approvedTime:
                  type: string
                  format: date-time
                  description: The approved time
                  readOnly: true
                approver:
                  type: string
                  description: The approver
                  readOnly: true
            metadata:
              type: object
              additionalProperties:
                type: string
                maxLength: 1000
              description: Key-value pairs for meta data.
            releaseDate:
              type: string
              format: date-time
              description: The feature release date.
              readOnly: true
            registrationDate:
              type: string
              format: date-time
              description: The feature registration date.
              readOnly: true
            documentationLink:
              type: string
              maxLength: 1000
              description: The feature documentation link.
              readOnly: true
            approvalType:
              type: string
              description: The feature approval type.
              enum:
              - NotSpecified
              - ApprovalRequired
              - AutoApproval
              x-ms-enum:
                name: SubscriptionFeatureRegistrationApprovalType
                modelAsString: true
              readOnly: true
            shouldFeatureDisplayInPortal:
              type: boolean
              default: false
              description: Indicates whether feature should be displayed in Portal.
            description:
              type: string
              maxLength: 1000
              description: The feature description.
          type: object
      description: An Azure proxy resource.
      x-ms-azure-resource: true
    AuthorizationProfile:
      description: Authorization Profile
      type: object
      properties:
        requestedTime:
          type: string
          format: date-time
          description: The requested time
          readOnly: true
        requester:
          type: string
          description: The requester
          readOnly: true
        requesterObjectId:
          type: string
          description: The requester object id
          readOnly: true
        approvedTime:
          type: string
          format: date-time
          description: The approved time
          readOnly: true
        approver:
          type: string
          description: The approver
          readOnly: true
    SubscriptionFeatureRegistrationList:
      description: The list of subscription feature registrations.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of subscription feature
            registrations list.
          type: string
        value:
          description: The list of subscription feature registrations.
          type: array
          items:
            type: object
            properties:
              id:
                description: Azure resource Id.
                type: string
                readOnly: true
              name:
                description: Azure resource name.
                type: string
                readOnly: true
              type:
                description: Azure resource type.
                type: string
                readOnly: true
              properties:
                properties:
                  tenantId:
                    type: string
                    description: The tenantId.
                    readOnly: true
                  subscriptionId:
                    type: string
                    description: The subscriptionId.
                    readOnly: true
                  featureName:
                    type: string
                    description: The featureName.
                    readOnly: true
                  displayName:
                    type: string
                    description: The featureDisplayName.
                    readOnly: true
                  providerNamespace:
                    type: string
                    description: The providerNamespace.
                    readOnly: true
                  state:
                    type: string
                    description: The state.
                    enum:
                    - NotSpecified
                    - NotRegistered
                    - Pending
                    - Registering
                    - Registered
                    - Unregistering
                    - Unregistered
                    x-ms-enum:
                      name: SubscriptionFeatureRegistrationState
                      modelAsString: true
                  authorizationProfile:
                    description: Authorization Profile
                    type: object
                    properties:
                      requestedTime:
                        type: string
                        format: date-time
                        description: The requested time
                        readOnly: true
                      requester:
                        type: string
                        description: The requester
                        readOnly: true
                      requesterObjectId:
                        type: string
                        description: The requester object id
                        readOnly: true
                      approvedTime:
                        type: string
                        format: date-time
                        description: The approved time
                        readOnly: true
                      approver:
                        type: string
                        description: The approver
                        readOnly: true
                  metadata:
                    type: object
                    additionalProperties:
                      type: string
                      maxLength: 1000
                    description: Key-value pairs for meta data.
                  releaseDate:
                    type: string
                    format: date-time
                    description: The feature release date.
                    readOnly: true
                  registrationDate:
                    type: string
                    format: date-time
                    description: The feature registration date.
                    readOnly: true
                  documentationLink:
                    type: string
                    maxLength: 1000
                    description: The feature documentation link.
                    readOnly: true
                  approvalType:
                    type: string
                    description: The feature approval type.
                    enum:
                    - NotSpecified
                    - ApprovalRequired
                    - AutoApproval
                    x-ms-enum:
                      name: SubscriptionFeatureRegistrationApprovalType
                      modelAsString: true
                    readOnly: true
                  shouldFeatureDisplayInPortal:
                    type: boolean
                    default: false
                    description: Indicates whether feature should be displayed in
                      Portal.
                  description:
                    type: string
                    maxLength: 1000
                    description: The feature description.
                type: object
            description: An Azure proxy resource.
            x-ms-azure-resource: true
    ErrorDefinition:
      description: Error definition.
      type: object
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            description: Error definition.
            type: object
            properties:
              code:
                description: Service specific error code which serves as the substatus
                  for the HTTP error code.
                type: string
                readOnly: true
              message:
                description: Description of the error.
                type: string
                readOnly: true
              details:
                description: Internal error details.
                type: array
                items:
                  description: Error definition.
                  type: object
                  properties:
                    code:
                      description: Service specific error code which serves as the
                        substatus for the HTTP error code.
                      type: string
                      readOnly: true
                    message:
                      description: Description of the error.
                      type: string
                      readOnly: true
                x-ms-identifiers: []
          x-ms-identifiers: []
    ErrorResponse:
      type: object
      description: Error response indicates that the service is not able to process
        the incoming request.
      properties:
        error:
          description: The error details.
          type: object
          properties:
            code:
              description: Service specific error code which serves as the substatus
                for the HTTP error code.
              type: string
              readOnly: true
            message:
              description: Description of the error.
              type: string
              readOnly: true
            details:
              description: Internal error details.
              type: array
              items:
                description: Error definition.
                type: object
                properties:
                  code:
                    description: Service specific error code which serves as the substatus
                      for the HTTP error code.
                    type: string
                    readOnly: true
                  message:
                    description: Description of the error.
                    type: string
                    readOnly: true
                  details:
                    description: Internal error details.
                    type: array
                    items:
                      description: Error definition.
                      type: object
                      properties:
                        code:
                          description: Service specific error code which serves as
                            the substatus for the HTTP error code.
                          type: string
                          readOnly: true
                        message:
                          description: Description of the error.
                          type: string
                          readOnly: true
                    x-ms-identifiers: []
              x-ms-identifiers: []
