openapi: 3.0.0
info:
  title: portal
  version: 2025-04-01-preview
  description: Allows creation and deletion of Azure Shared Dashboards.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
- name: Dashboards
paths:
  /providers/Microsoft.Portal/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: A list of REST API operations supported by an Azure Resource
                  Provider. It contains an URL link to get the next set of results.
                properties:
                  value:
                    type: array
                    description: List of operations supported by the resource provider
                    items:
                      type: object
                      title: REST API Operation
                      description: Details of a REST API operation, returned from
                        the Resource Provider Operations API
                      properties:
                        name:
                          type: string
                          description: 'The name of the operation, as per Resource-Based
                            Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write",
                            "Microsoft.Compute/virtualMachines/capture/action"'
                          readOnly: true
                        isDataAction:
                          type: boolean
                          description: Whether the operation applies to data-plane.
                            This is "true" for data-plane operations and "false" for
                            ARM/control-plane operations.
                          readOnly: true
                        display:
                          type: object
                          description: Localized display information for this particular
                            operation.
                          properties:
                            provider:
                              type: string
                              description: The localized friendly form of the resource
                                provider name, e.g. "Microsoft Monitoring Insights"
                                or "Microsoft Compute".
                              readOnly: true
                            resource:
                              type: string
                              description: The localized friendly name of the resource
                                type related to this operation. E.g. "Virtual Machines"
                                or "Job Schedule Collections".
                              readOnly: true
                            operation:
                              type: string
                              description: The concise, localized friendly name for
                                the operation; suitable for dropdowns. E.g. "Create
                                or Update Virtual Machine", "Restart Virtual Machine".
                              readOnly: true
                            description:
                              type: string
                              description: The short, localized friendly description
                                of the operation; suitable for tool tips and detailed
                                views.
                              readOnly: true
                        origin:
                          type: string
                          description: The intended executor of the operation; as
                            in Resource Based Access Control (RBAC) and audit logs
                            UX. Default value is "user,system"
                          enum:
                          - user
                          - system
                          - user,system
                          x-ms-enum:
                            name: Origin
                            modelAsString: true
                          readOnly: true
                        actionType:
                          type: string
                          description: Enum. Indicates the action type. "Internal"
                            refers to actions that are for internal only APIs.
                          enum:
                          - Internal
                          x-ms-enum:
                            name: ActionType
                            modelAsString: true
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - name
                  nextLink:
                    type: string
                    format: uri
                    description: URL to get the next set of operation list results
                      (if there are any).
                    readOnly: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Portal/dashboards:
    get:
      operationId: Dashboards_ListBySubscription
      tags:
      - Dashboards
      description: Gets all the dashboards within a subscription.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Dashboard list operation.
                properties:
                  value:
                    type: array
                    description: The Dashboard items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            lenses:
                              type: array
                              description: The dashboard lenses.
                              items:
                                type: object
                                description: A dashboard lens.
                                properties:
                                  order:
                                    type: integer
                                    format: int32
                                    description: The lens order.
                                  parts:
                                    type: array
                                    description: The dashboard parts.
                                    items:
                                      type: object
                                      description: A dashboard part.
                                      properties:
                                        position:
                                          description: The dashboard's part position.
                                          type: object
                                          properties:
                                            x:
                                              type: integer
                                              format: int32
                                              description: The dashboard's part x
                                                coordinate.
                                            y:
                                              type: integer
                                              format: int32
                                              description: The dashboard's part y
                                                coordinate.
                                            rowSpan:
                                              type: integer
                                              format: int32
                                              description: The dashboard's part row
                                                span.
                                            colSpan:
                                              type: integer
                                              format: int32
                                              description: The dashboard's part column
                                                span.
                                            metadata:
                                              type: object
                                              description: The dashboard part's metadata.
                                          required:
                                          - x
                                          - y
                                          - rowSpan
                                          - colSpan
                                        metadata:
                                          description: The dashboard part's metadata.
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                              description: The dashboard part metadata
                                                type.
                                              enum:
                                              - Extension/HubsExtension/PartType/MarkdownPart
                                              x-ms-enum:
                                                name: DashboardPartMetadataType
                                                modelAsString: true
                                                values:
                                                - name: markdown
                                                  value: Extension/HubsExtension/PartType/MarkdownPart
                                                  description: The markdown part type.
                                          discriminator:
                                            propertyName: type
                                          required:
                                          - type
                                      required:
                                      - position
                                    x-ms-identifiers: []
                                  metadata:
                                    type: object
                                    description: The dashboard len's metadata.
                                required:
                                - order
                                - parts
                              x-ms-identifiers: []
                            metadata:
                              type: object
                              description: The dashboard metadata.
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards:
    get:
      operationId: Dashboards_ListByResourceGroup
      tags:
      - Dashboards
      description: Gets all the Dashboards within a resource group.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                description: The response of a Dashboard list operation.
                properties:
                  value:
                    type: array
                    description: The Dashboard items on this page
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        properties:
                          description: The resource-specific properties for this resource.
                          type: object
                          properties:
                            lenses:
                              type: array
                              description: The dashboard lenses.
                              items:
                                type: object
                                description: A dashboard lens.
                                properties:
                                  order:
                                    type: integer
                                    format: int32
                                    description: The lens order.
                                  parts:
                                    type: array
                                    description: The dashboard parts.
                                    items:
                                      type: object
                                      description: A dashboard part.
                                      properties:
                                        position:
                                          description: The dashboard's part position.
                                          type: object
                                          properties:
                                            x:
                                              type: integer
                                              format: int32
                                              description: The dashboard's part x
                                                coordinate.
                                            y:
                                              type: integer
                                              format: int32
                                              description: The dashboard's part y
                                                coordinate.
                                            rowSpan:
                                              type: integer
                                              format: int32
                                              description: The dashboard's part row
                                                span.
                                            colSpan:
                                              type: integer
                                              format: int32
                                              description: The dashboard's part column
                                                span.
                                            metadata:
                                              type: object
                                              description: The dashboard part's metadata.
                                          required:
                                          - x
                                          - y
                                          - rowSpan
                                          - colSpan
                                        metadata:
                                          description: The dashboard part's metadata.
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                              description: The dashboard part metadata
                                                type.
                                              enum:
                                              - Extension/HubsExtension/PartType/MarkdownPart
                                              x-ms-enum:
                                                name: DashboardPartMetadataType
                                                modelAsString: true
                                                values:
                                                - name: markdown
                                                  value: Extension/HubsExtension/PartType/MarkdownPart
                                                  description: The markdown part type.
                                          discriminator:
                                            propertyName: type
                                          required:
                                          - type
                                      required:
                                      - position
                                    x-ms-identifiers: []
                                  metadata:
                                    type: object
                                    description: The dashboard len's metadata.
                                required:
                                - order
                                - parts
                              x-ms-identifiers: []
                            metadata:
                              type: object
                              description: The dashboard metadata.
                            provisioningState:
                              description: The status of the last operation.
                              readOnly: true
                              type: string
                              enum:
                              - Succeeded
                              - Failed
                              - Canceled
                              x-ms-enum:
                                name: ResourceProvisioningState
                                modelAsString: true
                                values:
                                - name: Succeeded
                                  value: Succeeded
                                  description: Resource has been created.
                                - name: Failed
                                  value: Failed
                                  description: Resource creation failed.
                                - name: Canceled
                                  value: Canceled
                                  description: Resource creation was canceled.
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                  nextLink:
                    type: string
                    format: uri
                    description: The link to the next page of items
                required:
                - value
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}:
    get:
      operationId: Dashboards_Get
      tags:
      - Dashboards
      description: Gets the Dashboard.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dashboardName
        in: path
        description: The name of the dashboard.
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[a-zA-Z0-9-]{3,24}$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      lenses:
                        type: array
                        description: The dashboard lenses.
                        items:
                          type: object
                          description: A dashboard lens.
                          properties:
                            order:
                              type: integer
                              format: int32
                              description: The lens order.
                            parts:
                              type: array
                              description: The dashboard parts.
                              items:
                                type: object
                                description: A dashboard part.
                                properties:
                                  position:
                                    description: The dashboard's part position.
                                    type: object
                                    properties:
                                      x:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part x coordinate.
                                      y:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part y coordinate.
                                      rowSpan:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part row span.
                                      colSpan:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part column span.
                                      metadata:
                                        type: object
                                        description: The dashboard part's metadata.
                                    required:
                                    - x
                                    - y
                                    - rowSpan
                                    - colSpan
                                  metadata:
                                    description: The dashboard part's metadata.
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: The dashboard part metadata type.
                                        enum:
                                        - Extension/HubsExtension/PartType/MarkdownPart
                                        x-ms-enum:
                                          name: DashboardPartMetadataType
                                          modelAsString: true
                                          values:
                                          - name: markdown
                                            value: Extension/HubsExtension/PartType/MarkdownPart
                                            description: The markdown part type.
                                    discriminator:
                                      propertyName: type
                                    required:
                                    - type
                                required:
                                - position
                              x-ms-identifiers: []
                            metadata:
                              type: object
                              description: The dashboard len's metadata.
                          required:
                          - order
                          - parts
                        x-ms-identifiers: []
                      metadata:
                        type: object
                        description: The dashboard metadata.
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ResourceProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    put:
      operationId: Dashboards_CreateOrUpdate
      tags:
      - Dashboards
      description: Creates or updates a Dashboard.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dashboardName
        in: path
        description: The name of the dashboard.
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[a-zA-Z0-9-]{3,24}$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: The resource-specific properties for this resource.
                  type: object
                  properties:
                    lenses:
                      type: array
                      description: The dashboard lenses.
                      items:
                        type: object
                        description: A dashboard lens.
                        properties:
                          order:
                            type: integer
                            format: int32
                            description: The lens order.
                          parts:
                            type: array
                            description: The dashboard parts.
                            items:
                              type: object
                              description: A dashboard part.
                              properties:
                                position:
                                  description: The dashboard's part position.
                                  type: object
                                  properties:
                                    x:
                                      type: integer
                                      format: int32
                                      description: The dashboard's part x coordinate.
                                    y:
                                      type: integer
                                      format: int32
                                      description: The dashboard's part y coordinate.
                                    rowSpan:
                                      type: integer
                                      format: int32
                                      description: The dashboard's part row span.
                                    colSpan:
                                      type: integer
                                      format: int32
                                      description: The dashboard's part column span.
                                    metadata:
                                      type: object
                                      description: The dashboard part's metadata.
                                  required:
                                  - x
                                  - y
                                  - rowSpan
                                  - colSpan
                                metadata:
                                  description: The dashboard part's metadata.
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: The dashboard part metadata type.
                                      enum:
                                      - Extension/HubsExtension/PartType/MarkdownPart
                                      x-ms-enum:
                                        name: DashboardPartMetadataType
                                        modelAsString: true
                                        values:
                                        - name: markdown
                                          value: Extension/HubsExtension/PartType/MarkdownPart
                                          description: The markdown part type.
                                  discriminator:
                                    propertyName: type
                                  required:
                                  - type
                              required:
                              - position
                            x-ms-identifiers: []
                          metadata:
                            type: object
                            description: The dashboard len's metadata.
                        required:
                        - order
                        - parts
                      x-ms-identifiers: []
                    metadata:
                      type: object
                      description: The dashboard metadata.
                    provisioningState:
                      description: The status of the last operation.
                      readOnly: true
                      type: string
                      enum:
                      - Succeeded
                      - Failed
                      - Canceled
                      x-ms-enum:
                        name: ResourceProvisioningState
                        modelAsString: true
                        values:
                        - name: Succeeded
                          value: Succeeded
                          description: Resource has been created.
                        - name: Failed
                          value: Failed
                          description: Resource creation failed.
                        - name: Canceled
                          value: Canceled
                          description: Resource creation was canceled.
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: The parameters required to create or update a dashboard.
        required: true
        x-ms-client-name: resource
      responses:
        '200':
          description: Resource 'Dashboard' update operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      lenses:
                        type: array
                        description: The dashboard lenses.
                        items:
                          type: object
                          description: A dashboard lens.
                          properties:
                            order:
                              type: integer
                              format: int32
                              description: The lens order.
                            parts:
                              type: array
                              description: The dashboard parts.
                              items:
                                type: object
                                description: A dashboard part.
                                properties:
                                  position:
                                    description: The dashboard's part position.
                                    type: object
                                    properties:
                                      x:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part x coordinate.
                                      y:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part y coordinate.
                                      rowSpan:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part row span.
                                      colSpan:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part column span.
                                      metadata:
                                        type: object
                                        description: The dashboard part's metadata.
                                    required:
                                    - x
                                    - y
                                    - rowSpan
                                    - colSpan
                                  metadata:
                                    description: The dashboard part's metadata.
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: The dashboard part metadata type.
                                        enum:
                                        - Extension/HubsExtension/PartType/MarkdownPart
                                        x-ms-enum:
                                          name: DashboardPartMetadataType
                                          modelAsString: true
                                          values:
                                          - name: markdown
                                            value: Extension/HubsExtension/PartType/MarkdownPart
                                            description: The markdown part type.
                                    discriminator:
                                      propertyName: type
                                    required:
                                    - type
                                required:
                                - position
                              x-ms-identifiers: []
                            metadata:
                              type: object
                              description: The dashboard len's metadata.
                          required:
                          - order
                          - parts
                        x-ms-identifiers: []
                      metadata:
                        type: object
                        description: The dashboard metadata.
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ResourceProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Resource 'Dashboard' create operation succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: The resource-specific properties for this resource.
                    type: object
                    properties:
                      lenses:
                        type: array
                        description: The dashboard lenses.
                        items:
                          type: object
                          description: A dashboard lens.
                          properties:
                            order:
                              type: integer
                              format: int32
                              description: The lens order.
                            parts:
                              type: array
                              description: The dashboard parts.
                              items:
                                type: object
                                description: A dashboard part.
                                properties:
                                  position:
                                    description: The dashboard's part position.
                                    type: object
                                    properties:
                                      x:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part x coordinate.
                                      y:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part y coordinate.
                                      rowSpan:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part row span.
                                      colSpan:
                                        type: integer
                                        format: int32
                                        description: The dashboard's part column span.
                                      metadata:
                                        type: object
                                        description: The dashboard part's metadata.
                                    required:
                                    - x
                                    - y
                                    - rowSpan
                                    - colSpan
                                  metadata:
                                    description: The dashboard part's metadata.
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        description: The dashboard part metadata type.
                                        enum:
                                        - Extension/HubsExtension/PartType/MarkdownPart
                                        x-ms-enum:
                                          name: DashboardPartMetadataType
                                          modelAsString: true
                                          values:
                                          - name: markdown
                                            value: Extension/HubsExtension/PartType/MarkdownPart
                                            description: The markdown part type.
                                    discriminator:
                                      propertyName: type
                                    required:
                                    - type
                                required:
                                - position
                              x-ms-identifiers: []
                            metadata:
                              type: object
                              description: The dashboard len's metadata.
                          required:
                          - order
                          - parts
                        x-ms-identifiers: []
                      metadata:
                        type: object
                        description: The dashboard metadata.
                      provisioningState:
                        description: The status of the last operation.
                        readOnly: true
                        type: string
                        enum:
                        - Succeeded
                        - Failed
                        - Canceled
                        x-ms-enum:
                          name: ResourceProvisioningState
                          modelAsString: true
                          values:
                          - name: Succeeded
                            value: Succeeded
                            description: Resource has been created.
                          - name: Failed
                            value: Failed
                            description: Resource creation failed.
                          - name: Canceled
                            value: Canceled
                            description: Resource creation was canceled.
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      operationId: Dashboards_Update
      tags:
      - Dashboards
      description: Updates an existing Dashboard.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: dashboardName
        in: path
        description: The name of the dashboard.
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 64
          pattern: ^[a-zA-Z0-9-]{3,24}$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: The shared dashboard resource definition.
              properties:
                properties:
                  description: The shared dashboard properties.
                  type: object
                  properties:
                    lenses:
                      type: array
                      description: The dashboard lenses.
                      items:
                        type: object
                        description: A dashboard lens.
                        properties:
                          order:
                            type: integer
                            format: int32
                            description: The lens order.
                          parts:
                            type: array
                            description: The dashboard parts.
                            items:
                              type: object
                              description: A dashboard part.
                              properties:
                                position:
                                  description: The dashboard's part position.
                                  type: object
                                  properties:
                                    x:
                                      type: integer
                                      format: int32
                                      description: The dashboard's part x coordinate.
                                    y:
                                      type: integer
                                      format: int32
                                      description: The dashboard's part y coordinate.
                                    rowSpan:
                                      type: integer
                                      format: int32
                                      description: The dashboard's part row span.
                                    colSpan:
                                      type: integer
                                      format: int32
                                      description: The dashboard's part column span.
                                    metadata:
                                      type: object
                                      description: The dashboard part's metadata.
                                  required:
                                  - x
                                  - y
                                  - rowSpan
                                  - colSpan
                                metadata:
                                  description: The dashboard part's metadata.
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: The dashboard part metadata type.
                                      enum:
                                      - Extension/HubsExtension/PartType/MarkdownPart
                                      x-ms-enum:
                                        name: DashboardPartMetadataType
                                        modelAsString: true
                                        values:
                                        - name: markdown
                                          value: Extension/HubsExtension/PartType/MarkdownPart
                                          description: The markdown part type.
                                  discriminator:
                                    propertyName: type
                                  required:
                                  - type
                              required:
                              - position
                            x-ms-identifiers: []
                          metadata:
                            type: object
                            description: The dashboard len's metadata.
                        required:
                        - order
                        - parts
                      x-ms-identifiers: []
                    metadata:
                      type: object
                      description: The dashboard metadata.
                tags:
                  type: object
                  description: Resource tags
                  additionalProperties:
                    type: string
        description: The updatable fields of a Dashboard.
        required: true
        x-ms-client-name: properties
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
[...]
