openapi: 3.0.0
info:
  title: PostgreSQLManagementClient
  description: The Azure Database for PostgreSQL management API provides create, read,
    update, and delete functionality for Azure PostgreSQL resources including servers,
    databases, firewall rules, network configuration, security alert policies, log
    files and configurations with new business model.
  version: 2024-08-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/configurations
  : get:
      tags:
      - Configurations
      operationId: Configurations_ListByServer
      description: Lists all server parameters (also known as configurations) of a
        flexible server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of a server parameter.
                          type: object
                          properties:
                            value:
                              type: string
                              description: Value of the server parameter (also known
                                as configuration). Required to update the value assigned
                                to a specific modifiable server parameter.
                            description:
                              type: string
                              readOnly: true
                              description: Description of the server parameter.
                            defaultValue:
                              type: string
                              readOnly: true
                              description: Value assigned by default to the server
                                parameter.
                            dataType:
                              type: string
                              readOnly: true
                              description: Data type of the server parameter.
                              enum:
                              - Boolean
                              - Numeric
                              - Integer
                              - Enumeration
                              x-ms-enum:
                                name: ConfigurationDataType
                                modelAsString: true
                            allowedValues:
                              type: string
                              readOnly: true
                              description: Allowed values of the server parameter.
                            source:
                              type: string
                              description: Source of the value assigned to the server
                                parameter. Required to update the value assigned to
                                a specific modifiable server parameter.
                            isDynamicConfig:
                              type: boolean
                              readOnly: true
                              description: Indicates if it's a dynamic (true) or static
                                (false) server parameter. Static server parameters
                                require a server restart after changing the value
                                assigned to it, for the change to take effect. Dynamic
                                server parameters do not require a server restart
                                after changing the value assigned to it, for the change
                                to take effect.
                            isReadOnly:
                              type: boolean
                              readOnly: true
                              description: Indicates if it's a read-only (true) or
                                modifiable (false) server parameter.
                            isConfigPendingRestart:
                              type: boolean
                              readOnly: true
                              description: Indicates if the value assigned to the
                                server parameter is pending a server restart for the
                                value to take effect.
                            unit:
                              type: string
                              readOnly: true
                              description: Units in which the server parameter value
                                is expressed.
                            documentationLink:
                              type: string
                              readOnly: true
                              description: Link pointing to the documentation of the
                                server parameter.
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: List of server parameters.
                  nextLink:
                    description: Link used to get the next page of results.
                    type: string
                description: List of server parameters.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/configurations/{configurationName}
  : get:
      tags:
      - Configurations
      operationId: Configurations_Get
      description: Gets information about a specific server parameter of a flexible
        server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
      - name: configurationName
        in: path
        required: true
        description: Name of the server parameter.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          pattern: ^[-\w\._]+$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a server parameter.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Value of the server parameter (also known as
                          configuration). Required to update the value assigned to
                          a specific modifiable server parameter.
                      description:
                        type: string
                        readOnly: true
                        description: Description of the server parameter.
                      defaultValue:
                        type: string
                        readOnly: true
                        description: Value assigned by default to the server parameter.
                      dataType:
                        type: string
                        readOnly: true
                        description: Data type of the server parameter.
                        enum:
                        - Boolean
                        - Numeric
                        - Integer
                        - Enumeration
                        x-ms-enum:
                          name: ConfigurationDataType
                          modelAsString: true
                      allowedValues:
                        type: string
                        readOnly: true
                        description: Allowed values of the server parameter.
                      source:
                        type: string
                        description: Source of the value assigned to the server parameter.
                          Required to update the value assigned to a specific modifiable
                          server parameter.
                      isDynamicConfig:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a dynamic (true) or static
                          (false) server parameter. Static server parameters require
                          a server restart after changing the value assigned to it,
                          for the change to take effect. Dynamic server parameters
                          do not require a server restart after changing the value
                          assigned to it, for the change to take effect.
                      isReadOnly:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a read-only (true) or modifiable
                          (false) server parameter.
                      isConfigPendingRestart:
                        type: boolean
                        readOnly: true
                        description: Indicates if the value assigned to the server
                          parameter is pending a server restart for the value to take
                          effect.
                      unit:
                        type: string
                        readOnly: true
                        description: Units in which the server parameter value is
                          expressed.
                      documentationLink:
                        type: string
                        readOnly: true
                        description: Link pointing to the documentation of the server
                          parameter.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
    patch:
      tags:
      - Configurations
      operationId: Configurations_Update
      description: Updates, using Patch verb, the value assigned to a specific modifiable
        server parameter of a flexible server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
      - name: configurationName
        in: path
        required: true
        description: Name of the server parameter.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          pattern: ^[-\w\._]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  x-ms-client-flatten: true
                  description: Properties of a server parameter.
                  type: object
                  properties:
                    value:
                      type: string
                      description: Value of the server parameter (also known as configuration).
                        Required to update the value assigned to a specific modifiable
                        server parameter.
                    description:
                      type: string
                      readOnly: true
                      description: Description of the server parameter.
                    defaultValue:
                      type: string
                      readOnly: true
                      description: Value assigned by default to the server parameter.
                    dataType:
                      type: string
                      readOnly: true
                      description: Data type of the server parameter.
                      enum:
                      - Boolean
                      - Numeric
                      - Integer
                      - Enumeration
                      x-ms-enum:
                        name: ConfigurationDataType
                        modelAsString: true
                    allowedValues:
                      type: string
                      readOnly: true
                      description: Allowed values of the server parameter.
                    source:
                      type: string
                      description: Source of the value assigned to the server parameter.
                        Required to update the value assigned to a specific modifiable
                        server parameter.
                    isDynamicConfig:
                      type: boolean
                      readOnly: true
                      description: Indicates if it's a dynamic (true) or static (false)
                        server parameter. Static server parameters require a server
                        restart after changing the value assigned to it, for the change
                        to take effect. Dynamic server parameters do not require a
                        server restart after changing the value assigned to it, for
                        the change to take effect.
                    isReadOnly:
                      type: boolean
                      readOnly: true
                      description: Indicates if it's a read-only (true) or modifiable
                        (false) server parameter.
                    isConfigPendingRestart:
                      type: boolean
                      readOnly: true
                      description: Indicates if the value assigned to the server parameter
                        is pending a server restart for the value to take effect.
                    unit:
                      type: string
                      readOnly: true
                      description: Units in which the server parameter value is expressed.
                    documentationLink:
                      type: string
                      readOnly: true
                      description: Link pointing to the documentation of the server
                        parameter.
              description: Server parameter.
        description: Parameters required to update the value of a specific modifiable
          server parameter.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a server parameter.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Value of the server parameter (also known as
                          configuration). Required to update the value assigned to
                          a specific modifiable server parameter.
                      description:
                        type: string
                        readOnly: true
                        description: Description of the server parameter.
                      defaultValue:
                        type: string
                        readOnly: true
                        description: Value assigned by default to the server parameter.
                      dataType:
                        type: string
                        readOnly: true
                        description: Data type of the server parameter.
                        enum:
                        - Boolean
                        - Numeric
                        - Integer
                        - Enumeration
                        x-ms-enum:
                          name: ConfigurationDataType
                          modelAsString: true
                      allowedValues:
                        type: string
                        readOnly: true
                        description: Allowed values of the server parameter.
                      source:
                        type: string
                        description: Source of the value assigned to the server parameter.
                          Required to update the value assigned to a specific modifiable
                          server parameter.
                      isDynamicConfig:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a dynamic (true) or static
                          (false) server parameter. Static server parameters require
                          a server restart after changing the value assigned to it,
                          for the change to take effect. Dynamic server parameters
                          do not require a server restart after changing the value
                          assigned to it, for the change to take effect.
                      isReadOnly:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a read-only (true) or modifiable
                          (false) server parameter.
                      isConfigPendingRestart:
                        type: boolean
                        readOnly: true
                        description: Indicates if the value assigned to the server
                          parameter is pending a server restart for the value to take
                          effect.
                      unit:
                        type: string
                        readOnly: true
                        description: Units in which the server parameter value is
                          expressed.
                      documentationLink:
                        type: string
                        readOnly: true
                        description: Link pointing to the documentation of the server
                          parameter.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a server parameter.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Value of the server parameter (also known as
                          configuration). Required to update the value assigned to
                          a specific modifiable server parameter.
                      description:
                        type: string
                        readOnly: true
                        description: Description of the server parameter.
                      defaultValue:
                        type: string
                        readOnly: true
                        description: Value assigned by default to the server parameter.
                      dataType:
                        type: string
                        readOnly: true
                        description: Data type of the server parameter.
                        enum:
                        - Boolean
                        - Numeric
                        - Integer
                        - Enumeration
                        x-ms-enum:
                          name: ConfigurationDataType
                          modelAsString: true
                      allowedValues:
                        type: string
                        readOnly: true
                        description: Allowed values of the server parameter.
                      source:
                        type: string
                        description: Source of the value assigned to the server parameter.
                          Required to update the value assigned to a specific modifiable
                          server parameter.
                      isDynamicConfig:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a dynamic (true) or static
                          (false) server parameter. Static server parameters require
                          a server restart after changing the value assigned to it,
                          for the change to take effect. Dynamic server parameters
                          do not require a server restart after changing the value
                          assigned to it, for the change to take effect.
                      isReadOnly:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a read-only (true) or modifiable
                          (false) server parameter.
                      isConfigPendingRestart:
                        type: boolean
                        readOnly: true
                        description: Indicates if the value assigned to the server
                          parameter is pending a server restart for the value to take
                          effect.
                      unit:
                        type: string
                        readOnly: true
                        description: Units in which the server parameter value is
                          expressed.
                      documentationLink:
                        type: string
                        readOnly: true
                        description: Link pointing to the documentation of the server
                          parameter.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      tags:
      - Configurations
      operationId: Configurations_Put
      description: Updates, using Put verb, the value assigned to a specific modifiable
        server parameter of a flexible server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
      - name: configurationName
        in: path
        required: true
        description: Name of the server parameter.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          pattern: ^[-\w\._]+$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                properties:
                  x-ms-client-flatten: true
                  description: Properties of a server parameter.
                  type: object
                  properties:
                    value:
                      type: string
                      description: Value of the server parameter (also known as configuration).
                        Required to update the value assigned to a specific modifiable
                        server parameter.
                    description:
                      type: string
                      readOnly: true
                      description: Description of the server parameter.
                    defaultValue:
                      type: string
                      readOnly: true
                      description: Value assigned by default to the server parameter.
                    dataType:
                      type: string
                      readOnly: true
                      description: Data type of the server parameter.
                      enum:
                      - Boolean
                      - Numeric
                      - Integer
                      - Enumeration
                      x-ms-enum:
                        name: ConfigurationDataType
                        modelAsString: true
                    allowedValues:
                      type: string
                      readOnly: true
                      description: Allowed values of the server parameter.
                    source:
                      type: string
                      description: Source of the value assigned to the server parameter.
                        Required to update the value assigned to a specific modifiable
                        server parameter.
                    isDynamicConfig:
                      type: boolean
                      readOnly: true
                      description: Indicates if it's a dynamic (true) or static (false)
                        server parameter. Static server parameters require a server
                        restart after changing the value assigned to it, for the change
                        to take effect. Dynamic server parameters do not require a
                        server restart after changing the value assigned to it, for
                        the change to take effect.
                    isReadOnly:
                      type: boolean
                      readOnly: true
                      description: Indicates if it's a read-only (true) or modifiable
                        (false) server parameter.
                    isConfigPendingRestart:
                      type: boolean
                      readOnly: true
                      description: Indicates if the value assigned to the server parameter
                        is pending a server restart for the value to take effect.
                    unit:
                      type: string
                      readOnly: true
                      description: Units in which the server parameter value is expressed.
                    documentationLink:
                      type: string
                      readOnly: true
                      description: Link pointing to the documentation of the server
                        parameter.
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters required to update the value of a specific modifiable
          server parameter.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a server parameter.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Value of the server parameter (also known as
                          configuration). Required to update the value assigned to
                          a specific modifiable server parameter.
                      description:
                        type: string
                        readOnly: true
                        description: Description of the server parameter.
                      defaultValue:
                        type: string
                        readOnly: true
                        description: Value assigned by default to the server parameter.
                      dataType:
                        type: string
                        readOnly: true
                        description: Data type of the server parameter.
                        enum:
                        - Boolean
                        - Numeric
                        - Integer
                        - Enumeration
                        x-ms-enum:
                          name: ConfigurationDataType
                          modelAsString: true
                      allowedValues:
                        type: string
                        readOnly: true
                        description: Allowed values of the server parameter.
                      source:
                        type: string
                        description: Source of the value assigned to the server parameter.
                          Required to update the value assigned to a specific modifiable
                          server parameter.
                      isDynamicConfig:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a dynamic (true) or static
                          (false) server parameter. Static server parameters require
                          a server restart after changing the value assigned to it,
                          for the change to take effect. Dynamic server parameters
                          do not require a server restart after changing the value
                          assigned to it, for the change to take effect.
                      isReadOnly:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a read-only (true) or modifiable
                          (false) server parameter.
                      isConfigPendingRestart:
                        type: boolean
                        readOnly: true
                        description: Indicates if the value assigned to the server
                          parameter is pending a server restart for the value to take
                          effect.
                      unit:
                        type: string
                        readOnly: true
                        description: Units in which the server parameter value is
                          expressed.
                      documentationLink:
                        type: string
                        readOnly: true
                        description: Link pointing to the documentation of the server
                          parameter.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  properties:
                    x-ms-client-flatten: true
                    description: Properties of a server parameter.
                    type: object
                    properties:
                      value:
                        type: string
                        description: Value of the server parameter (also known as
                          configuration). Required to update the value assigned to
                          a specific modifiable server parameter.
                      description:
                        type: string
                        readOnly: true
                        description: Description of the server parameter.
                      defaultValue:
                        type: string
                        readOnly: true
                        description: Value assigned by default to the server parameter.
                      dataType:
                        type: string
                        readOnly: true
                        description: Data type of the server parameter.
                        enum:
                        - Boolean
                        - Numeric
                        - Integer
                        - Enumeration
                        x-ms-enum:
                          name: ConfigurationDataType
                          modelAsString: true
                      allowedValues:
                        type: string
                        readOnly: true
                        description: Allowed values of the server parameter.
                      source:
                        type: string
                        description: Source of the value assigned to the server parameter.
                          Required to update the value assigned to a specific modifiable
                          server parameter.
                      isDynamicConfig:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a dynamic (true) or static
                          (false) server parameter. Static server parameters require
                          a server restart after changing the value assigned to it,
                          for the change to take effect. Dynamic server parameters
                          do not require a server restart after changing the value
                          assigned to it, for the change to take effect.
                      isReadOnly:
                        type: boolean
                        readOnly: true
                        description: Indicates if it's a read-only (true) or modifiable
                          (false) server parameter.
                      isConfigPendingRestart:
                        type: boolean
                        readOnly: true
                        description: Indicates if the value assigned to the server
                          parameter is pending a server restart for the value to take
                          effect.
                      unit:
                        type: string
                        readOnly: true
                        description: Units in which the server parameter value is
                          expressed.
                      documentationLink:
                        type: string
                        readOnly: true
                        description: Link pointing to the documentation of the server
                          parameter.
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
components:
  parameters:
    ConfigurationNameParameter:
      name: configurationName
      in: path
      required: true
      description: Name of the server parameter.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        pattern: ^[-\w\._]+$
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Microsoft Entra OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ConfigurationProperties:
      type: object
      properties:
        value:
          type: string
          description: Value of the server parameter (also known as configuration).
            Required to update the value assigned to a specific modifiable server
            parameter.
        description:
          type: string
          readOnly: true
          description: Description of the server parameter.
        defaultValue:
          type: string
          readOnly: true
          description: Value assigned by default to the server parameter.
        dataType:
          type: string
          readOnly: true
          description: Data type of the server parameter.
          enum:
          - Boolean
          - Numeric
          - Integer
          - Enumeration
          x-ms-enum:
            name: ConfigurationDataType
            modelAsString: true
        allowedValues:
          type: string
          readOnly: true
          description: Allowed values of the server parameter.
        source:
          type: string
          description: Source of the value assigned to the server parameter. Required
            to update the value assigned to a specific modifiable server parameter.
        isDynamicConfig:
          type: boolean
          readOnly: true
          description: Indicates if it's a dynamic (true) or static (false) server
            parameter. Static server parameters require a server restart after changing
            the value assigned to it, for the change to take effect. Dynamic server
            parameters do not require a server restart after changing the value assigned
            to it, for the change to take effect.
        isReadOnly:
          type: boolean
          readOnly: true
          description: Indicates if it's a read-only (true) or modifiable (false)
            server parameter.
        isConfigPendingRestart:
          type: boolean
          readOnly: true
          description: Indicates if the value assigned to the server parameter is
            pending a server restart for the value to take effect.
        unit:
          type: string
          readOnly: true
          description: Units in which the server parameter value is expressed.
        documentationLink:
          type: string
          readOnly: true
          description: Link pointing to the documentation of the server parameter.
      description: Properties of a server parameter.
    Configuration:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          x-ms-client-flatten: true
          description: Properties of a server parameter.
          type: object
          properties:
            value:
              type: string
              description: Value of the server parameter (also known as configuration).
                Required to update the value assigned to a specific modifiable server
                parameter.
            description:
              type: string
              readOnly: true
              description: Description of the server parameter.
            defaultValue:
              type: string
              readOnly: true
              description: Value assigned by default to the server parameter.
            dataType:
              type: string
              readOnly: true
              description: Data type of the server parameter.
              enum:
              - Boolean
              - Numeric
              - Integer
              - Enumeration
              x-ms-enum:
                name: ConfigurationDataType
                modelAsString: true
            allowedValues:
              type: string
              readOnly: true
              description: Allowed values of the server parameter.
            source:
              type: string
              description: Source of the value assigned to the server parameter. Required
                to update the value assigned to a specific modifiable server parameter.
            isDynamicConfig:
              type: boolean
              readOnly: true
              description: Indicates if it's a dynamic (true) or static (false) server
                parameter. Static server parameters require a server restart after
                changing the value assigned to it, for the change to take effect.
                Dynamic server parameters do not require a server restart after changing
                the value assigned to it, for the change to take effect.
            isReadOnly:
              type: boolean
              readOnly: true
              description: Indicates if it's a read-only (true) or modifiable (false)
                server parameter.
            isConfigPendingRestart:
              type: boolean
              readOnly: true
              description: Indicates if the value assigned to the server parameter
                is pending a server restart for the value to take effect.
            unit:
              type: string
              readOnly: true
              description: Units in which the server parameter value is expressed.
            documentationLink:
              type: string
              readOnly: true
              description: Link pointing to the documentation of the server parameter.
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ConfigurationForUpdate:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties of a server parameter.
          type: object
          properties:
            value:
              type: string
              description: Value of the server parameter (also known as configuration).
                Required to update the value assigned to a specific modifiable server
                parameter.
            description:
              type: string
              readOnly: true
              description: Description of the server parameter.
            defaultValue:
              type: string
              readOnly: true
              description: Value assigned by default to the server parameter.
            dataType:
              type: string
              readOnly: true
              description: Data type of the server parameter.
              enum:
              - Boolean
              - Numeric
              - Integer
              - Enumeration
              x-ms-enum:
                name: ConfigurationDataType
                modelAsString: true
            allowedValues:
              type: string
              readOnly: true
              description: Allowed values of the server parameter.
            source:
              type: string
              description: Source of the value assigned to the server parameter. Required
                to update the value assigned to a specific modifiable server parameter.
            isDynamicConfig:
              type: boolean
              readOnly: true
              description: Indicates if it's a dynamic (true) or static (false) server
                parameter. Static server parameters require a server restart after
                changing the value assigned to it, for the change to take effect.
                Dynamic server parameters do not require a server restart after changing
                the value assigned to it, for the change to take effect.
            isReadOnly:
              type: boolean
              readOnly: true
              description: Indicates if it's a read-only (true) or modifiable (false)
                server parameter.
            isConfigPendingRestart:
              type: boolean
              readOnly: true
              description: Indicates if the value assigned to the server parameter
                is pending a server restart for the value to take effect.
            unit:
              type: string
              readOnly: true
              description: Units in which the server parameter value is expressed.
            documentationLink:
              type: string
              readOnly: true
              description: Link pointing to the documentation of the server parameter.
      description: Server parameter.
    ConfigurationListResult:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: arm-id
                description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                readOnly: true
              name:
                type: string
                description: The name of the resource
                readOnly: true
              type:
                type: string
                description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                  or "Microsoft.Storage/storageAccounts"
                readOnly: true
              systemData:
                description: Azure Resource Manager metadata containing createdBy
                  and modifiedBy information.
                readOnly: true
                type: object
                properties:
                  createdBy:
                    type: string
                    description: The identity that created the resource.
                  createdByType:
                    type: string
                    description: The type of identity that created the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  createdAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource creation (UTC).
                  lastModifiedBy:
                    type: string
                    description: The identity that last modified the resource.
                  lastModifiedByType:
                    type: string
                    description: The type of identity that last modified the resource.
                    enum:
                    - User
                    - Application
                    - ManagedIdentity
                    - Key
                    x-ms-enum:
                      name: createdByType
                      modelAsString: true
                  lastModifiedAt:
                    type: string
                    format: date-time
                    description: The timestamp of resource last modification (UTC)
              properties:
                x-ms-client-flatten: true
                description: Properties of a server parameter.
                type: object
                properties:
                  value:
                    type: string
                    description: Value of the server parameter (also known as configuration).
                      Required to update the value assigned to a specific modifiable
                      server parameter.
                  description:
                    type: string
                    readOnly: true
                    description: Description of the server parameter.
                  defaultValue:
                    type: string
                    readOnly: true
                    description: Value assigned by default to the server parameter.
                  dataType:
                    type: string
                    readOnly: true
                    description: Data type of the server parameter.
                    enum:
                    - Boolean
                    - Numeric
                    - Integer
                    - Enumeration
                    x-ms-enum:
                      name: ConfigurationDataType
                      modelAsString: true
                  allowedValues:
                    type: string
                    readOnly: true
                    description: Allowed values of the server parameter.
                  source:
                    type: string
                    description: Source of the value assigned to the server parameter.
                      Required to update the value assigned to a specific modifiable
                      server parameter.
                  isDynamicConfig:
                    type: boolean
                    readOnly: true
                    description: Indicates if it's a dynamic (true) or static (false)
                      server parameter. Static server parameters require a server
                      restart after changing the value assigned to it, for the change
                      to take effect. Dynamic server parameters do not require a server
                      restart after changing the value assigned to it, for the change
                      to take effect.
                  isReadOnly:
                    type: boolean
                    readOnly: true
                    description: Indicates if it's a read-only (true) or modifiable
                      (false) server parameter.
                  isConfigPendingRestart:
                    type: boolean
                    readOnly: true
                    description: Indicates if the value assigned to the server parameter
                      is pending a server restart for the value to take effect.
                  unit:
                    type: string
                    readOnly: true
                    description: Units in which the server parameter value is expressed.
                  documentationLink:
                    type: string
                    readOnly: true
                    description: Link pointing to the documentation of the server
                      parameter.
            title: Resource
            description: Common fields that are returned in the response for all Azure
              Resource Manager resources
            x-ms-azure-resource: true
          description: List of server parameters.
        nextLink:
          description: Link used to get the next page of results.
          type: string
      description: List of server parameters.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
[...]
