openapi: 3.0.0
info:
  title: PostgreSQLManagementClient
  description: The Azure Database for PostgreSQL management API provides create, read,
    update, and delete functionality for Azure PostgreSQL resources including servers,
    databases, firewall rules, network configuration, security alert policies, log
    files and configurations with new business model.
  version: 2024-08-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDbServerName}/migrations/{migrationName}
  : put:
      tags:
      - Migrations
      operationId: Migrations_Create
      description: Creates a new migration.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        required: true
        description: Identifier of subscription of target database server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ([a-z0-9]){8,8}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){4,4}[-]([a-z0-9]){12,12}
      - name: resourceGroupName
        in: path
        required: true
        description: Name of resource group of target database server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[-a-z0-9A-Z._()]+[^.]$
      - name: targetDbServerName
        in: path
        required: true
        description: Name of target database server.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ([-a-z0-9]){3,63}
      - name: migrationName
        in: path
        required: true
        description: Name of migration.
        x-ms-parameter-location: method
        schema:
          type: string
          pattern: ^[a-z][a-z0-9]*$
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: arm-id
                  description: Fully qualified resource ID for the resource. E.g.
                    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                  readOnly: true
                name:
                  type: string
                  description: The name of the resource
                  readOnly: true
                type:
                  type: string
                  description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                    or "Microsoft.Storage/storageAccounts"
                  readOnly: true
                systemData:
                  description: Azure Resource Manager metadata containing createdBy
                    and modifiedBy information.
                  readOnly: true
                  type: object
                  properties:
                    createdBy:
                      type: string
                      description: The identity that created the resource.
                    createdByType:
                      type: string
                      description: The type of identity that created the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    createdAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource creation (UTC).
                    lastModifiedBy:
                      type: string
                      description: The identity that last modified the resource.
                    lastModifiedByType:
                      type: string
                      description: The type of identity that last modified the resource.
                      enum:
                      - User
                      - Application
                      - ManagedIdentity
                      - Key
                      x-ms-enum:
                        name: createdByType
                        modelAsString: true
                    lastModifiedAt:
                      type: string
                      format: date-time
                      description: The timestamp of resource last modification (UTC)
                tags:
                  type: object
                  description: Resource tags.
                  additionalProperties:
                    type: string
                  x-ms-mutability:
                  - read
                  - create
                  - update
                location:
                  type: string
                  description: The geo-location where the resource lives
                  x-ms-mutability:
                  - read
                  - create
                properties:
                  description: Migration properties.
                  x-ms-client-flatten: true
                  type: object
                  properties:
                    migrationId:
                      type: string
                      readOnly: true
                      description: Identifier of a migration.
                    currentStatus:
                      readOnly: true
                      description: Current status of a migration.
                      type: object
                      properties:
                        state:
                          readOnly: true
                          description: State of migration.
                          enum:
                          - InProgress
                          - WaitingForUserAction
                          - Canceled
                          - Failed
                          - Succeeded
                          - ValidationFailed
                          - CleaningUp
                          type: string
                          x-ms-enum:
                            name: MigrationState
                            modelAsString: true
                        error:
                          type: string
                          readOnly: true
                          description: Error message, if any, for the migration state.
                        currentSubStateDetails:
                          readOnly: true
                          description: Current migration sub state details.
                          type: object
                          properties:
                            currentSubState:
                              readOnly: true
                              enum:
                              - PerformingPreRequisiteSteps
                              - WaitingForLogicalReplicationSetupRequestOnSourceDB
                              - WaitingForDBsToMigrateSpecification
                              - WaitingForTargetDBOverwriteConfirmation
                              - WaitingForDataMigrationScheduling
                              - WaitingForDataMigrationWindow
                              - MigratingData
                              - WaitingForCutoverTrigger
                              - CompletingMigration
                              - Completed
                              - CancelingRequestedDBMigrations
                              - ValidationInProgress
                              type: string
                              description: Substate of migration.
                              x-ms-enum:
                                name: MigrationSubState
                                modelAsString: true
                            dbDetails:
                              type: object
                              additionalProperties:
                                type: object
                                description: Migration status of a database.
                                properties:
                                  databaseName:
                                    type: string
                                    description: Name of database.
                                  migrationState:
                                    type: string
                                    description: Migration state of a database.
                                    enum:
                                    - InProgress
                                    - WaitingForCutoverTrigger
                                    - Failed
                                    - Canceled
                                    - Succeeded
                                    - Canceling
                                    x-ms-enum:
                                      name: MigrationDbState
                                      modelAsString: true
                                  migrationOperation:
                                    type: string
                                    description: Migration operation of a database.
                                  startedOn:
                                    type: string
                                    format: date-time
                                    description: Start time of a migration state.
                                  endedOn:
                                    type: string
                                    format: date-time
                                    description: End time of a migration state.
                                  fullLoadQueuedTables:
                                    format: int32
                                    type: integer
                                    description: Number of tables queued for the migration
                                      of a database.
                                  fullLoadErroredTables:
                                    format: int32
                                    type: integer
                                    description: Number of tables encountering errors
                                      during the migration of a database.
                                  fullLoadLoadingTables:
                                    format: int32
                                    type: integer
                                    description: Number of tables loading during the
                                      migration of a database.
                                  fullLoadCompletedTables:
                                    format: int32
                                    type: integer
                                    description: Number of tables loaded during the
                                      migration of a database.
                                  cdcUpdateCounter:
                                    format: int32
                                    type: integer
                                    description: Change Data Capture update counter.
                                  cdcDeleteCounter:
                                    format: int32
                                    type: integer
                                    description: Change Data Capture delete counter.
                                  cdcInsertCounter:
                                    format: int32
                                    type: integer
                                    description: Change Data Capture insert counter.
                                  appliedChanges:
                                    format: int32
                                    type: integer
                                    description: Change Data Capture applied changes
                                      counter.
                                  incomingChanges:
                                    format: int32
                                    type: integer
                                    description: Change Data Capture incoming changes
                                      counter.
                                  latency:
                                    format: int32
                                    type: integer
                                    description: Lag in seconds between source and
                                      target during online phase.
                                  message:
                                    type: string
                                    description: Error message, if any, for the migration
                                      state.
                            validationDetails:
                              type: object
                              description: Details for the validation for migration.
                              properties:
                                status:
                                  type: string
                                  description: Validation status for migration.
                                  enum:
                                  - Failed
                                  - Succeeded
                                  - Warning
                                  x-ms-enum:
                                    name: ValidationState
                                    modelAsString: true
                                validationStartTimeInUtc:
                                  type: string
                                  format: date-time
                                  description: Start time (UTC) for validation.
                                validationEndTimeInUtc:
                                  type: string
                                  format: date-time
                                  description: End time (UTC) for validation.
                                serverLevelValidationDetails:
                                  type: array
                                  items:
                                    type: object
                                    description: Validation summary object.
                                    properties:
                                      type:
                                        type: string
                                        description: Validation type.
                                      state:
                                        type: string
                                        description: Validation status for migration.
                                        enum:
                                        - Failed
                                        - Succeeded
                                        - Warning
                                        x-ms-enum:
                                          name: ValidationState
                                          modelAsString: true
                                      messages:
                                        type: array
                                        items:
                                          type: object
                                          description: Validation message object.
                                          properties:
                                            state:
                                              description: Severity of validation
                                                message.
                                              type: string
                                              enum:
                                              - Failed
                                              - Succeeded
                                              - Warning
                                              x-ms-enum:
                                                name: ValidationState
                                                modelAsString: true
                                            message:
                                              type: string
                                              description: Validation message string.
                                        description: Validation messages.
                                        x-ms-identifiers: []
                                  description: Details of server level validations.
                                  x-ms-identifiers: []
                                dbLevelValidationDetails:
                                  type: array
                                  items:
                                    type: object
                                    description: Validation status summary for a database.
                                    properties:
                                      databaseName:
                                        type: string
                                        description: Name of database.
                                      startedOn:
                                        type: string
                                        format: date-time
                                        description: Start time of a database level
                                          validation.
                                      endedOn:
                                        type: string
                                        format: date-time
                                        description: End time of a database level
                                          validation.
                                      summary:
                                        type: array
                                        items:
                                          type: object
                                          description: Validation summary object.
                                          properties:
                                            type:
                                              type: string
                                              description: Validation type.
                                            state:
                                              type: string
                                              description: Validation status for migration.
                                              enum:
                                              - Failed
                                              - Succeeded
                                              - Warning
                                              x-ms-enum:
                                                name: ValidationState
                                                modelAsString: true
                                            messages:
                                              type: array
                                              items:
                                                type: object
                                                description: Validation message object.
                                                properties:
                                                  state:
                                                    description: Severity of validation
                                                      message.
                                                    type: string
                                                    enum:
                                                    - Failed
                                                    - Succeeded
                                                    - Warning
                                                    x-ms-enum:
                                                      name: ValidationState
                                                      modelAsString: true
                                                  message:
                                                    type: string
                                                    description: Validation message
                                                      string.
                                              description: Validation messages.
                                              x-ms-identifiers: []
                                        description: Summary of database level validations.
                                        x-ms-identifiers: []
                                  description: Details of server level validations.
                                  x-ms-identifiers:
                                  - databaseName
                    migrationInstanceResourceId:
                      type: string
                      format: arm-id
                      description: Identifier of the private endpoint migration instance.
                    migrationMode:
                      description: 'Mode used to perform the migration: Online or
                        Offline.'
                      enum:
                      - Offline
                      - Online
                      type: string
                      x-ms-enum:
                        name: MigrationMode
                        modelAsString: true
                    migrationOption:
                      description: Supported option for a migration.
                      enum:
                      - Validate
                      - Migrate
                      - ValidateAndMigrate
                      type: string
                      x-ms-enum:
                        name: MigrationOption
                        modelAsString: true
                    sourceType:
                      description: 'Source server type used for the migration: ApsaraDB_RDS,
                        AWS, AWS_AURORA, AWS_EC2, AWS_RDS, AzureVM, Crunchy_PostgreSQL,
                        Digital_Ocean_Droplets, Digital_Ocean_PostgreSQL, EDB, EDB_Oracle_Server,
                        EDB_PostgreSQL, GCP, GCP_AlloyDB, GCP_CloudSQL, GCP_Compute,
                        Heroku_PostgreSQL, Huawei_Compute, Huawei_RDS, OnPremises,
                        PostgreSQLCosmosDB, PostgreSQLFlexibleServer, PostgreSQLSingleServer,
                        or Supabase_PostgreSQL'
                      enum:
                      - OnPremises
                      - AWS
                      - GCP
                      - AzureVM
                      - PostgreSQLSingleServer
                      - AWS_RDS
                      - AWS_AURORA
                      - AWS_EC2
                      - GCP_CloudSQL
                      - GCP_AlloyDB
                      - GCP_Compute
                      - EDB
                      type: string
                      x-ms-enum:
                        name: SourceType
                        modelAsString: true
                    sslMode:
                      description: SSL mode used by a migration. Default SSL mode
                        for 'PostgreSQLSingleServer' is 'VerifyFull'. Default SSL
                        mode for other source types is 'Prefer'.
                      enum:
                      - Prefer
                      - Require
                      - VerifyCA
                      - VerifyFull
                      type: string
                      x-ms-enum:
                        name: SslMode
                        modelAsString: true
                    sourceDbServerMetadata:
                      readOnly: true
                      description: Metadata of source database server.
                      type: object
                      properties:
                        location:
                          type: string
                          description: Location of database server.
                          x-ms-mutability:
                          - read
                          readOnly: true
                        version:
                          type: string
                          description: Major version of PostgreSQL database engine.
                        storageMb:
                          format: int32
                          type: integer
                          description: Storage size (in MB) for database server.
                        sku:
                          description: Compute tier and size of the database server.
                            This object is empty for an Azure Database for PostgreSQL
                            single server.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Compute tier and size of the database server.
                                This object is empty for an Azure Database for PostgreSQL
                                single server.
                            tier:
                              type: string
                              description: Tier of the compute assigned to a flexible
                                server.
                              enum:
                              - Burstable
                              - GeneralPurpose
                              - MemoryOptimized
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: true
                    targetDbServerMetadata:
                      readOnly: true
                      description: Metadata of target database server.
                      type: object
                      properties:
                        location:
                          type: string
                          description: Location of database server.
                          x-ms-mutability:
                          - read
                          readOnly: true
                        version:
                          type: string
                          description: Major version of PostgreSQL database engine.
                        storageMb:
                          format: int32
                          type: integer
                          description: Storage size (in MB) for database server.
                        sku:
                          description: Compute tier and size of the database server.
                            This object is empty for an Azure Database for PostgreSQL
                            single server.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Compute tier and size of the database server.
                                This object is empty for an Azure Database for PostgreSQL
                                single server.
                            tier:
                              type: string
                              description: Tier of the compute assigned to a flexible
                                server.
                              enum:
                              - Burstable
                              - GeneralPurpose
                              - MemoryOptimized
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: true
                    sourceDbServerResourceId:
                      type: string
                      description: Identifier of the source database server resource,
                        when 'sourceType' is 'PostgreSQLSingleServer'. For other source
                        types this must be set to ipaddress:port@username or hostname:port@username.
                    sourceDbServerFullyQualifiedDomainName:
                      type: string
                      description: Fully qualified domain name (FQDN) or IP address
                        of the source server. This property is optional. When provided,
                        the migration service will always use it to connect to the
                        source server.
                    targetDbServerResourceId:
                      type: string
                      readOnly: true
                      description: Identifier of the target database server resource.
                    targetDbServerFullyQualifiedDomainName:
                      type: string
                      description: Fully qualified domain name (FQDN) or IP address
                        of the target server. This property is optional. When provided,
                        the migration service will always use it to connect to the
                        target server.
                    secretParameters:
                      description: Migration secret parameters.
                      required:
                      - adminCredentials
                      type: object
                      properties:
                        adminCredentials:
                          x-ms-secret: true
                          x-ms-external: true
                          description: Credentials of administrator users for source
                            and target servers.
                          type: object
                          required:
                          - sourceServerPassword
                          - targetServerPassword
                          properties:
                            sourceServerPassword:
                              type: string
                              x-ms-secret: true
                              x-ms-external: true
                              x-ms-mutability:
                              - create
                              - update
                              description: Password for the user of the source server.
                            targetServerPassword:
                              type: string
                              x-ms-secret: true
                              x-ms-external: true
                              x-ms-mutability:
                              - create
                              - update
                              description: Password for the user of the target server.
                        sourceServerUsername:
                          type: string
                          x-ms-mutability:
                          - create
                          - update
                          description: Gets or sets the name of the user for the source
                            server. This user doesn't need to be an administrator.
                        targetServerUsername:
                          type: string
                          x-ms-mutability:
                          - create
                          - update
                          description: Gets or sets the name of the user for the target
                            server. This user doesn't need to be an administrator.
                    dbsToMigrate:
                      maxItems: 50
                      type: array
                      items:
                        type: string
                      description: Names of databases to migrate.
                      x-ms-identifiers: []
                    setupLogicalReplicationOnSourceDbIfNeeded:
                      type: string
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: LogicalReplicationOnSourceDbEnum
                        modelAsString: true
                      description: Indicates whether to setup LogicalReplicationOnSourceDb,
                        if needed.
                    overwriteDbsInTarget:
                      type: string
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: OverwriteDbsInTargetEnum
                        modelAsString: true
                      description: Indicates if databases on the target server can
                        be overwritten when already present. If set to 'False', when
                        the migration workflow detects that the database already exists
                        on the target server, it will wait for a confirmation.
                    migrationWindowStartTimeInUtc:
                      format: date-time
                      type: string
                      description: Start time (UTC) for migration window.
                    migrationWindowEndTimeInUtc:
                      format: date-time
                      type: string
                      description: End time (UTC) for migration window.
                    migrateRoles:
                      type: string
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: MigrateRolesEnum
                        modelAsString: true
                      description: Indicates if roles and permissions must be migrated.
                    startDataMigration:
                      type: string
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: StartDataMigrationEnum
                        modelAsString: true
                      description: Indicates if data migration must start right away.
                    triggerCutover:
                      type: string
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: TriggerCutoverEnum
                        modelAsString: true
                      description: Indicates if cutover must be triggered for the
                        entire migration.
                    dbsToTriggerCutoverOn:
                      type: array
                      items:
                        type: string
                      description: When you want to trigger cutover for specific databases
                        set 'triggerCutover' to 'True' and the names of the specific
                        databases in this array.
                      x-ms-identifiers: []
                    cancel:
                      type: string
                      enum:
                      - 'True'
                      - 'False'
                      x-ms-enum:
                        name: CancelEnum
                        modelAsString: true
                      description: Indicates if cancel must be triggered for the entire
                        migration.
                    dbsToCancelMigrationOn:
                      type: array
                      items:
                        type: string
                      description: When you want to trigger cancel for specific databases
                        set 'triggerCutover' to 'True' and the names of the specific
                        databases in this array.
                      x-ms-identifiers: []
              required:
              - location
              title: Resource
              description: Common fields that are returned in the response for all
                Azure Resource Manager resources
              x-ms-azure-resource: true
        description: Parameters required for creating a migration.
        required: true
      responses:
        '200':
          description: Successfully set or update the Migration for a server.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Migration properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      migrationId:
                        type: string
                        readOnly: true
                        description: Identifier of a migration.
                      currentStatus:
                        readOnly: true
                        description: Current status of a migration.
                        type: object
                        properties:
                          state:
                            readOnly: true
                            description: State of migration.
                            enum:
                            - InProgress
                            - WaitingForUserAction
                            - Canceled
                            - Failed
                            - Succeeded
                            - ValidationFailed
                            - CleaningUp
                            type: string
                            x-ms-enum:
                              name: MigrationState
                              modelAsString: true
                          error:
                            type: string
                            readOnly: true
                            description: Error message, if any, for the migration
                              state.
                          currentSubStateDetails:
                            readOnly: true
                            description: Current migration sub state details.
                            type: object
                            properties:
                              currentSubState:
                                readOnly: true
                                enum:
                                - PerformingPreRequisiteSteps
                                - WaitingForLogicalReplicationSetupRequestOnSourceDB
                                - WaitingForDBsToMigrateSpecification
                                - WaitingForTargetDBOverwriteConfirmation
                                - WaitingForDataMigrationScheduling
                                - WaitingForDataMigrationWindow
                                - MigratingData
                                - WaitingForCutoverTrigger
                                - CompletingMigration
                                - Completed
                                - CancelingRequestedDBMigrations
                                - ValidationInProgress
                                type: string
                                description: Substate of migration.
                                x-ms-enum:
                                  name: MigrationSubState
                                  modelAsString: true
                              dbDetails:
                                type: object
                                additionalProperties:
                                  type: object
                                  description: Migration status of a database.
                                  properties:
                                    databaseName:
                                      type: string
                                      description: Name of database.
                                    migrationState:
                                      type: string
                                      description: Migration state of a database.
                                      enum:
                                      - InProgress
                                      - WaitingForCutoverTrigger
                                      - Failed
                                      - Canceled
                                      - Succeeded
                                      - Canceling
                                      x-ms-enum:
                                        name: MigrationDbState
                                        modelAsString: true
                                    migrationOperation:
                                      type: string
                                      description: Migration operation of a database.
                                    startedOn:
                                      type: string
                                      format: date-time
                                      description: Start time of a migration state.
                                    endedOn:
                                      type: string
                                      format: date-time
                                      description: End time of a migration state.
                                    fullLoadQueuedTables:
                                      format: int32
                                      type: integer
                                      description: Number of tables queued for the
                                        migration of a database.
                                    fullLoadErroredTables:
                                      format: int32
                                      type: integer
                                      description: Number of tables encountering errors
                                        during the migration of a database.
                                    fullLoadLoadingTables:
                                      format: int32
                                      type: integer
                                      description: Number of tables loading during
                                        the migration of a database.
                                    fullLoadCompletedTables:
                                      format: int32
                                      type: integer
                                      description: Number of tables loaded during
                                        the migration of a database.
                                    cdcUpdateCounter:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture update counter.
                                    cdcDeleteCounter:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture delete counter.
                                    cdcInsertCounter:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture insert counter.
                                    appliedChanges:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture applied changes
                                        counter.
                                    incomingChanges:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture incoming changes
                                        counter.
                                    latency:
                                      format: int32
                                      type: integer
                                      description: Lag in seconds between source and
                                        target during online phase.
                                    message:
                                      type: string
                                      description: Error message, if any, for the
                                        migration state.
                              validationDetails:
                                type: object
                                description: Details for the validation for migration.
                                properties:
                                  status:
                                    type: string
                                    description: Validation status for migration.
                                    enum:
                                    - Failed
                                    - Succeeded
                                    - Warning
                                    x-ms-enum:
                                      name: ValidationState
                                      modelAsString: true
                                  validationStartTimeInUtc:
                                    type: string
                                    format: date-time
                                    description: Start time (UTC) for validation.
                                  validationEndTimeInUtc:
                                    type: string
                                    format: date-time
                                    description: End time (UTC) for validation.
                                  serverLevelValidationDetails:
                                    type: array
                                    items:
                                      type: object
                                      description: Validation summary object.
                                      properties:
                                        type:
                                          type: string
                                          description: Validation type.
                                        state:
                                          type: string
                                          description: Validation status for migration.
                                          enum:
                                          - Failed
                                          - Succeeded
                                          - Warning
                                          x-ms-enum:
                                            name: ValidationState
                                            modelAsString: true
                                        messages:
                                          type: array
                                          items:
                                            type: object
                                            description: Validation message object.
                                            properties:
                                              state:
                                                description: Severity of validation
                                                  message.
                                                type: string
                                                enum:
                                                - Failed
                                                - Succeeded
                                                - Warning
                                                x-ms-enum:
                                                  name: ValidationState
                                                  modelAsString: true
                                              message:
                                                type: string
                                                description: Validation message string.
                                          description: Validation messages.
                                          x-ms-identifiers: []
                                    description: Details of server level validations.
                                    x-ms-identifiers: []
                                  dbLevelValidationDetails:
                                    type: array
                                    items:
                                      type: object
                                      description: Validation status summary for a
                                        database.
                                      properties:
                                        databaseName:
                                          type: string
                                          description: Name of database.
                                        startedOn:
                                          type: string
                                          format: date-time
                                          description: Start time of a database level
                                            validation.
                                        endedOn:
                                          type: string
                                          format: date-time
                                          description: End time of a database level
                                            validation.
                                        summary:
                                          type: array
                                          items:
                                            type: object
                                            description: Validation summary object.
                                            properties:
                                              type:
                                                type: string
                                                description: Validation type.
                                              state:
                                                type: string
                                                description: Validation status for
                                                  migration.
                                                enum:
                                                - Failed
                                                - Succeeded
                                                - Warning
                                                x-ms-enum:
                                                  name: ValidationState
                                                  modelAsString: true
                                              messages:
                                                type: array
                                                items:
                                                  type: object
                                                  description: Validation message
                                                    object.
                                                  properties:
                                                    state:
                                                      description: Severity of validation
                                                        message.
                                                      type: string
                                                      enum:
                                                      - Failed
                                                      - Succeeded
                                                      - Warning
                                                      x-ms-enum:
                                                        name: ValidationState
                                                        modelAsString: true
                                                    message:
                                                      type: string
                                                      description: Validation message
                                                        string.
                                                description: Validation messages.
                                                x-ms-identifiers: []
                                          description: Summary of database level validations.
                                          x-ms-identifiers: []
                                    description: Details of server level validations.
                                    x-ms-identifiers:
                                    - databaseName
                      migrationInstanceResourceId:
                        type: string
                        format: arm-id
                        description: Identifier of the private endpoint migration
                          instance.
                      migrationMode:
                        description: 'Mode used to perform the migration: Online or
                          Offline.'
                        enum:
                        - Offline
                        - Online
                        type: string
                        x-ms-enum:
                          name: MigrationMode
                          modelAsString: true
                      migrationOption:
                        description: Supported option for a migration.
                        enum:
                        - Validate
                        - Migrate
                        - ValidateAndMigrate
                        type: string
                        x-ms-enum:
                          name: MigrationOption
                          modelAsString: true
                      sourceType:
                        description: 'Source server type used for the migration: ApsaraDB_RDS,
                          AWS, AWS_AURORA, AWS_EC2, AWS_RDS, AzureVM, Crunchy_PostgreSQL,
                          Digital_Ocean_Droplets, Digital_Ocean_PostgreSQL, EDB, EDB_Oracle_Server,
                          EDB_PostgreSQL, GCP, GCP_AlloyDB, GCP_CloudSQL, GCP_Compute,
                          Heroku_PostgreSQL, Huawei_Compute, Huawei_RDS, OnPremises,
                          PostgreSQLCosmosDB, PostgreSQLFlexibleServer, PostgreSQLSingleServer,
                          or Supabase_PostgreSQL'
                        enum:
                        - OnPremises
                        - AWS
                        - GCP
                        - AzureVM
                        - PostgreSQLSingleServer
                        - AWS_RDS
                        - AWS_AURORA
                        - AWS_EC2
                        - GCP_CloudSQL
                        - GCP_AlloyDB
                        - GCP_Compute
                        - EDB
                        type: string
                        x-ms-enum:
                          name: SourceType
                          modelAsString: true
                      sslMode:
                        description: SSL mode used by a migration. Default SSL mode
                          for 'PostgreSQLSingleServer' is 'VerifyFull'. Default SSL
                          mode for other source types is 'Prefer'.
                        enum:
                        - Prefer
                        - Require
                        - VerifyCA
                        - VerifyFull
                        type: string
                        x-ms-enum:
                          name: SslMode
                          modelAsString: true
                      sourceDbServerMetadata:
                        readOnly: true
                        description: Metadata of source database server.
                        type: object
                        properties:
                          location:
                            type: string
                            description: Location of database server.
                            x-ms-mutability:
                            - read
                            readOnly: true
                          version:
                            type: string
                            description: Major version of PostgreSQL database engine.
                          storageMb:
                            format: int32
                            type: integer
                            description: Storage size (in MB) for database server.
                          sku:
                            description: Compute tier and size of the database server.
                              This object is empty for an Azure Database for PostgreSQL
                              single server.
                            type: object
                            properties:
                              name:
                                type: string
                                description: Compute tier and size of the database
                                  server. This object is empty for an Azure Database
                                  for PostgreSQL single server.
                              tier:
                                type: string
                                description: Tier of the compute assigned to a flexible
                                  server.
                                enum:
                                - Burstable
                                - GeneralPurpose
                                - MemoryOptimized
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: true
                      targetDbServerMetadata:
                        readOnly: true
                        description: Metadata of target database server.
                        type: object
                        properties:
                          location:
                            type: string
                            description: Location of database server.
                            x-ms-mutability:
                            - read
                            readOnly: true
                          version:
                            type: string
                            description: Major version of PostgreSQL database engine.
                          storageMb:
                            format: int32
                            type: integer
                            description: Storage size (in MB) for database server.
                          sku:
                            description: Compute tier and size of the database server.
                              This object is empty for an Azure Database for PostgreSQL
                              single server.
                            type: object
                            properties:
                              name:
                                type: string
                                description: Compute tier and size of the database
                                  server. This object is empty for an Azure Database
                                  for PostgreSQL single server.
                              tier:
                                type: string
                                description: Tier of the compute assigned to a flexible
                                  server.
                                enum:
                                - Burstable
                                - GeneralPurpose
                                - MemoryOptimized
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: true
                      sourceDbServerResourceId:
                        type: string
                        description: Identifier of the source database server resource,
                          when 'sourceType' is 'PostgreSQLSingleServer'. For other
                          source types this must be set to ipaddress:port@username
                          or hostname:port@username.
                      sourceDbServerFullyQualifiedDomainName:
                        type: string
                        description: Fully qualified domain name (FQDN) or IP address
                          of the source server. This property is optional. When provided,
                          the migration service will always use it to connect to the
                          source server.
                      targetDbServerResourceId:
                        type: string
                        readOnly: true
                        description: Identifier of the target database server resource.
                      targetDbServerFullyQualifiedDomainName:
                        type: string
                        description: Fully qualified domain name (FQDN) or IP address
                          of the target server. This property is optional. When provided,
                          the migration service will always use it to connect to the
                          target server.
                      secretParameters:
                        description: Migration secret parameters.
                        required:
                        - adminCredentials
                        type: object
                        properties:
                          adminCredentials:
                            x-ms-secret: true
                            x-ms-external: true
                            description: Credentials of administrator users for source
                              and target servers.
                            type: object
                            required:
                            - sourceServerPassword
                            - targetServerPassword
                            properties:
                              sourceServerPassword:
                                type: string
                                x-ms-secret: true
                                x-ms-external: true
                                x-ms-mutability:
                                - create
                                - update
                                description: Password for the user of the source server.
                              targetServerPassword:
                                type: string
                                x-ms-secret: true
                                x-ms-external: true
                                x-ms-mutability:
                                - create
                                - update
                                description: Password for the user of the target server.
                          sourceServerUsername:
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            description: Gets or sets the name of the user for the
                              source server. This user doesn't need to be an administrator.
                          targetServerUsername:
                            type: string
                            x-ms-mutability:
                            - create
                            - update
                            description: Gets or sets the name of the user for the
                              target server. This user doesn't need to be an administrator.
                      dbsToMigrate:
                        maxItems: 50
                        type: array
                        items:
                          type: string
                        description: Names of databases to migrate.
                        x-ms-identifiers: []
                      setupLogicalReplicationOnSourceDbIfNeeded:
                        type: string
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: LogicalReplicationOnSourceDbEnum
                          modelAsString: true
                        description: Indicates whether to setup LogicalReplicationOnSourceDb,
                          if needed.
                      overwriteDbsInTarget:
                        type: string
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: OverwriteDbsInTargetEnum
                          modelAsString: true
                        description: Indicates if databases on the target server can
                          be overwritten when already present. If set to 'False',
                          when the migration workflow detects that the database already
                          exists on the target server, it will wait for a confirmation.
                      migrationWindowStartTimeInUtc:
                        format: date-time
                        type: string
                        description: Start time (UTC) for migration window.
                      migrationWindowEndTimeInUtc:
                        format: date-time
                        type: string
                        description: End time (UTC) for migration window.
                      migrateRoles:
                        type: string
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: MigrateRolesEnum
                          modelAsString: true
                        description: Indicates if roles and permissions must be migrated.
                      startDataMigration:
                        type: string
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: StartDataMigrationEnum
                          modelAsString: true
                        description: Indicates if data migration must start right
                          away.
                      triggerCutover:
                        type: string
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: TriggerCutoverEnum
                          modelAsString: true
                        description: Indicates if cutover must be triggered for the
                          entire migration.
                      dbsToTriggerCutoverOn:
                        type: array
                        items:
                          type: string
                        description: When you want to trigger cutover for specific
                          databases set 'triggerCutover' to 'True' and the names of
                          the specific databases in this array.
                        x-ms-identifiers: []
                      cancel:
                        type: string
                        enum:
                        - 'True'
                        - 'False'
                        x-ms-enum:
                          name: CancelEnum
                          modelAsString: true
                        description: Indicates if cancel must be triggered for the
                          entire migration.
                      dbsToCancelMigrationOn:
                        type: array
                        items:
                          type: string
                        description: When you want to trigger cancel for specific
                          databases set 'triggerCutover' to 'True' and the names of
                          the specific databases in this array.
                        x-ms-identifiers: []
                required:
                - location
                title: Resource
                description: Common fields that are returned in the response for all
                  Azure Resource Manager resources
                x-ms-azure-resource: true
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: arm-id
                    description: Fully qualified resource ID for the resource. E.g.
                      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                    readOnly: true
                  name:
                    type: string
                    description: The name of the resource
                    readOnly: true
                  type:
                    type: string
                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                      or "Microsoft.Storage/storageAccounts"
                    readOnly: true
                  systemData:
                    description: Azure Resource Manager metadata containing createdBy
                      and modifiedBy information.
                    readOnly: true
                    type: object
                    properties:
                      createdBy:
                        type: string
                        description: The identity that created the resource.
                      createdByType:
                        type: string
                        description: The type of identity that created the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      createdAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource creation (UTC).
                      lastModifiedBy:
                        type: string
                        description: The identity that last modified the resource.
                      lastModifiedByType:
                        type: string
                        description: The type of identity that last modified the resource.
                        enum:
                        - User
                        - Application
                        - ManagedIdentity
                        - Key
                        x-ms-enum:
                          name: createdByType
                          modelAsString: true
                      lastModifiedAt:
                        type: string
                        format: date-time
                        description: The timestamp of resource last modification (UTC)
                  tags:
                    type: object
                    description: Resource tags.
                    additionalProperties:
                      type: string
                    x-ms-mutability:
                    - read
                    - create
                    - update
                  location:
                    type: string
                    description: The geo-location where the resource lives
                    x-ms-mutability:
                    - read
                    - create
                  properties:
                    description: Migration properties.
                    x-ms-client-flatten: true
                    type: object
                    properties:
                      migrationId:
                        type: string
                        readOnly: true
                        description: Identifier of a migration.
                      currentStatus:
                        readOnly: true
                        description: Current status of a migration.
                        type: object
                        properties:
                          state:
                            readOnly: true
                            description: State of migration.
                            enum:
                            - InProgress
                            - WaitingForUserAction
                            - Canceled
                            - Failed
                            - Succeeded
                            - ValidationFailed
                            - CleaningUp
                            type: string
                            x-ms-enum:
                              name: MigrationState
                              modelAsString: true
                          error:
                            type: string
                            readOnly: true
                            description: Error message, if any, for the migration
                              state.
                          currentSubStateDetails:
                            readOnly: true
                            description: Current migration sub state details.
                            type: object
                            properties:
                              currentSubState:
                                readOnly: true
                                enum:
                                - PerformingPreRequisiteSteps
                                - WaitingForLogicalReplicationSetupRequestOnSourceDB
                                - WaitingForDBsToMigrateSpecification
                                - WaitingForTargetDBOverwriteConfirmation
                                - WaitingForDataMigrationScheduling
                                - WaitingForDataMigrationWindow
                                - MigratingData
                                - WaitingForCutoverTrigger
                                - CompletingMigration
                                - Completed
                                - CancelingRequestedDBMigrations
                                - ValidationInProgress
                                type: string
                                description: Substate of migration.
                                x-ms-enum:
                                  name: MigrationSubState
                                  modelAsString: true
                              dbDetails:
                                type: object
                                additionalProperties:
                                  type: object
                                  description: Migration status of a database.
                                  properties:
                                    databaseName:
                                      type: string
                                      description: Name of database.
                                    migrationState:
                                      type: string
                                      description: Migration state of a database.
                                      enum:
                                      - InProgress
                                      - WaitingForCutoverTrigger
                                      - Failed
                                      - Canceled
                                      - Succeeded
                                      - Canceling
                                      x-ms-enum:
                                        name: MigrationDbState
                                        modelAsString: true
                                    migrationOperation:
                                      type: string
                                      description: Migration operation of a database.
                                    startedOn:
                                      type: string
                                      format: date-time
                                      description: Start time of a migration state.
                                    endedOn:
                                      type: string
                                      format: date-time
                                      description: End time of a migration state.
                                    fullLoadQueuedTables:
                                      format: int32
                                      type: integer
                                      description: Number of tables queued for the
                                        migration of a database.
                                    fullLoadErroredTables:
                                      format: int32
                                      type: integer
                                      description: Number of tables encountering errors
                                        during the migration of a database.
                                    fullLoadLoadingTables:
                                      format: int32
                                      type: integer
                                      description: Number of tables loading during
                                        the migration of a database.
                                    fullLoadCompletedTables:
                                      format: int32
                                      type: integer
                                      description: Number of tables loaded during
                                        the migration of a database.
                                    cdcUpdateCounter:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture update counter.
                                    cdcDeleteCounter:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture delete counter.
                                    cdcInsertCounter:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture insert counter.
                                    appliedChanges:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture applied changes
                                        counter.
                                    incomingChanges:
                                      format: int32
                                      type: integer
                                      description: Change Data Capture incoming changes
                                        counter.
                                    latency:
                                      format: int32
                                      type: integer
                                      description: Lag in seconds between source and
                                        target during online phase.
                                    message:
                                      type: string
                                      description: Error message, if any, for the
                                        migration state.
                              validationDetails:
                                type: object
                                description: Details for the validation for migration.
                                properties:
                                  status:
                                    type: string
                                    description: Validation status for migration.
                                    enum:
                                    - Failed
                                    - Succeeded
                                    - Warning
                                    x-ms-enum:
                                      name: ValidationState
                                      modelAsString: true
                                  validationStartTimeInUtc:
                                    type: string
                                    format: date-time
                                    description: Start time (UTC) for validation.
                                  validationEndTimeInUtc:
                                    type: string
                                    format: date-time
                                    description: End time (UTC) for validation.
                                  serverLevelValidationDetails:
                                    type: array
                                    items:
                                      type: object
                                      description: Validation summary object.
                                      properties:
                                        type:
                                          type: string
                                          description: Validation type.
                                        state:
                                          type: string
                                          description: Validation status for migration.
                                          enum:
                                          - Failed
                                          - Succeeded
                                          - Warning
                                          x-ms-enum:
                                            name: ValidationState
                                            modelAsString: true
                                        messages:
                                          type: array
                                          items:
                                            type: object
                                            description: Validation message object.
                                            properties:
                                              state:
                                                description: Severity of validation
                                                  message.
                                                type: string
                                                enum:
                                                - Failed
                                                - Succeeded
                                                - Warning
                                                x-ms-enum:
                                                  name: ValidationState
                                                  modelAsString: true
                                              message:
                                                type: string
                                                description: Validation message string.
                                          description: Validation messages.
                                          x-ms-identifiers: []
                                    description: Details of server level validations.
                                    x-ms-identifiers: []
                                  dbLevelValidationDetails:
                                    type: array
                                    items:
                                      type: object
                                      description: Validation status summary for a
                                        database.
                                      properties:
                                        databaseName:
                                          type: string
                                          description: Name of database.
                                        startedOn:
                                          type: string
                                          format: date-time
                                          description: Start time of a database level
                                            validation.
                                        endedOn:
                                          type: string
                                          format: date-time
                                          description: End time of a database level
                                            validation.
                                        summary:
                                          type: array
                                          items:
                                            type: object
                                            description: Validation summary object.
                                            properties:
                                              type:
                                                type: string
                                                description: Validation type.
                                              state:
                                                type: string
                                                description: Validation status for
                                                  migration.
                                                enum:
                                                - Failed
                                                - Succeeded
                                                - Warning
                                                x-ms-enum:
                                                  name: ValidationState
                                                  modelAsString: true
                                              messages:
                                                type: array
                                                items:
                                                  type: object
                                                  description: Validation message
                                                    object.
                                                  properties:
                                                    state:
                                                      description: Severity of validation
                                                        message.
                                                      type: string
                                                      enum:
                                                      - Failed
                                                      - Succeeded
                                                      - Warning
                                                      x-ms-enum:
                                                        name: ValidationState
                                                        modelAsString: true
                                                    message:
                                                      type: string
                                                      description: Validation message
                                                        string.
                                                description: Validation messages.
                                                x-ms-identifiers: []
                                          description: Summary of database level validations.
                                          x-ms-identifiers: []
                                    description: Details of server level validations.
                                    x-ms-identifiers:
                                    - databaseName
                      migrationInstanceResourceId:
                        type: string
                        format: arm-id
                        description: Identifier of the private endpoint migration
                          instance.
                      migrationMode:
                        description: 'Mode used to perform the migration: Online or
                          Offline.'
                        enum:
                        - Offline
                        - Online
                        type: string
                        x-ms-enum:
                          name: MigrationMode
                          modelAsString: true
                      migrationOption:
                        description: Supported option for a migration.
                        enum:
                        - Validate
                        - Migrate
                        - ValidateAndMigrate
                        type: string
                        x-ms-enum:
                          name: MigrationOption
                          modelAsString: true
                      sourceType:
                        description: 'Source server type used for the migration: ApsaraDB_RDS,
                          AWS, AWS_AURORA, AWS_EC2, AWS_RDS, AzureVM, Crunchy_PostgreSQL,
                          Digital_Ocean_Droplets, Digital_Ocean_PostgreSQL, EDB, EDB_Oracle_Server,
                          EDB_PostgreSQL, GCP, GCP_AlloyDB, GCP_CloudSQL, GCP_Compute,
                          Heroku_PostgreSQL, Huawei_Compute, Huawei_RDS, OnPremises,
                          PostgreSQLCosmosDB, PostgreSQLFlexibleServer, PostgreSQLSingleServer,
                          or Supabase_PostgreSQL'
                        enum:
                        - OnPremises
                        - AWS
                        - GCP
                        - AzureVM
                        - PostgreSQLSingleServer
                        - AWS_RDS
                        - AWS_AURORA
                        - AWS_EC2
                        - GCP_CloudSQL
                        - GCP_AlloyDB
                        - GCP_Compute
                        - EDB
                        type: string
                        x-ms-enum:
                          name: SourceType
                          modelAsString: true
                      sslMode:
                        description: SSL mode used by a migration. Default SSL mode
                          for 'PostgreSQLSingleServer' is 'VerifyFull'. Default SSL
                          mode for other source types is 'Prefer'.
                        enum:
                        - Prefer
                        - Require
                        - VerifyCA
                        - VerifyFull
                        type: string
                        x-ms-enum:
                          name: SslMode
                          modelAsString: true
                      sourceDbServerMetadata:
                        readOnly: true
                        description: Metadata of source database server.
                        type: object
                        properties:
                          location:
                            type: string
                            description: Location of database server.
                            x-ms-mutability:
                            - read
                            readOnly: true
                          version:
                            type: string
                            description: Major version of PostgreSQL database engine.
                          storageMb:
                            format: int32
                            type: integer
                            description: Storage size (in MB) for database server.
                          sku:
                            description: Compute tier and size of the database server.
                              This object is empty for an Azure Database for PostgreSQL
                              single server.
                            type: object
                            properties:
                              name:
                                type: string
                                description: Compute tier and size of the database
                                  server. This object is empty for an Azure Database
                                  for PostgreSQL single server.
                              tier:
                                type: string
                                description: Tier of the compute assigned to a flexible
                                  server.
                                enum:
                                - Burstable
                                - GeneralPurpose
                                - MemoryOptimized
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: true
                      targetDbServerMetadata:
                        readOnly: true
                        description: Metadata of target database server.
                        type: object
                        properties:
                          location:
                            type: string
                            description: Location of database server.
                            x-ms-mutability:
                            - read
                            readOnly: true
                          version:
                            type: string
                            description: Major version of PostgreSQL database engine.
                          storageMb:
                            format: int32
                            type: integer
                            description: Storage size (in MB) for database server.
                          sku:
                            description: Compute tier and size of the database server.
                              This object is empty for an Azure Database for PostgreSQL
                              single server.
                            type: object
                            properties:
                              name:
                                type: string
                                description: Compute tier and size of the database
                                  server. This object is empty for an Azure Database
                                  for PostgreSQL single server.
                              tier:
                                type: string
                                description: Tier of the compute assigned to a flexible
                                  server.
                                enum:
                                - Burstable
                                - GeneralPurpose
                                - MemoryOptimized
                                x-ms-enum:
                                  name: SkuTier
                                  modelAsString: true
                      sourceDbServerResourceId:
                        type: string
                        description: Identifier of the source database server resource,
                          when 'sourceType' is 'PostgreSQLSingleServer'. For other
                          source types this must be set to ipaddress:port@username
                          or hostname:port@username.
                      sourceDbServerFullyQualifiedDomainName:
                        type: string
                        description: Fully qualified domain name (FQDN) or IP address
                          of the source server. This property is optional. When provided,
                          the migration service will always use it to connect to the
                          source server.
                      targetDbServerResourceId:
                        type: string
                        readOnly: true
                        description: Identifier of the target database server resource.
                      targetDbServerFullyQualifiedDomainName:
                        type: string
                        description: Fully qualified domain name (FQDN) or IP address
                          of the target server. This property is optional. When provided,
                          the migration service will always use it to connect to the
                          target server.
                      secretParameters:
                        description: Migration secret parameters.
                        required:
                        - adminCredentials
                        type: object
                        properties:
                          adminCredentials:
                            x-ms-secret: true
                            x-ms-external: true
                            description: Credentials of administrator users for source
                              and target servers.
                            type: object
                            required:
                            - sourceServerPassword
                            - targetServerPassword
                            properties:
                              sourceServerPassword:
                                type: string
                                x-ms-secret: true
                                x-ms-external: true
                                x-ms-mutability:
                                - create
                                - update
                                description: Password for the user of the source server.
                              targetServerPassword:
                                type: string
                                x-ms-secret: true
                                x-ms-external: true
                                x-ms-mutability:
                                - create
                                - update
                                description: Password for the user of the target server.
                          sourceServerUsername:
                            type: string
                            x-ms-mutability:
                            - create
[...]
