openapi: 3.0.0
info:
  title: PostgreSQLManagementClient
  description: The Azure Database for PostgreSQL management API provides create, read,
    update, and delete functionality for Azure PostgreSQL resources including servers,
    databases, firewall rules, network configuration, security alert policies, log
    files and configurations with new business model.
  version: 2024-08-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DBforPostgreSQL/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all available REST API operations.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: List of resource provider operations.
                type: object
                properties:
                  value:
                    description: Collection of available operation details
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          readOnly: true
                          description: Name of the operation being performed on this
                            particular object.
                        display:
                          readOnly: true
                          description: Localized display information for this particular
                            operation or action.
                          type: object
                          properties:
                            provider:
                              type: string
                              readOnly: true
                              description: Name of the resource provider.
                            resource:
                              type: string
                              readOnly: true
                              description: Type of resource on which the operation
                                is performed.
                            operation:
                              type: string
                              readOnly: true
                              description: Name of the operation.
                            description:
                              type: string
                              readOnly: true
                              description: Description of the operation.
                        isDataAction:
                          description: Indicates if the operation is a data action.
                          type: boolean
                        origin:
                          type: string
                          readOnly: true
                          description: Intended executor of the operation.
                          enum:
                          - NotSpecified
                          - user
                          - system
                          x-ms-enum:
                            name: OperationOrigin
                            modelAsString: true
                        properties:
                          type: object
                          additionalProperties:
                            type: object
                          readOnly: true
                          x-ms-client-flatten: false
                          description: Additional descriptions for the operation.
                      description: REST API operation definition.
                    x-ms-identifiers:
                    - name
                  nextLink:
                    description: Link used to get the next page of results.
                    type: string
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Microsoft Entra OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationDisplay:
      type: object
      properties:
        provider:
          type: string
          readOnly: true
          description: Name of the resource provider.
        resource:
          type: string
          readOnly: true
          description: Type of resource on which the operation is performed.
        operation:
          type: string
          readOnly: true
          description: Name of the operation.
        description:
          type: string
          readOnly: true
          description: Description of the operation.
      description: Display metadata associated with the operation.
    Operation:
      type: object
      properties:
        name:
          type: string
          readOnly: true
          description: Name of the operation being performed on this particular object.
        display:
          readOnly: true
          description: Localized display information for this particular operation
            or action.
          type: object
          properties:
            provider:
              type: string
              readOnly: true
              description: Name of the resource provider.
            resource:
              type: string
              readOnly: true
              description: Type of resource on which the operation is performed.
            operation:
              type: string
              readOnly: true
              description: Name of the operation.
            description:
              type: string
              readOnly: true
              description: Description of the operation.
        isDataAction:
          description: Indicates if the operation is a data action.
          type: boolean
        origin:
          type: string
          readOnly: true
          description: Intended executor of the operation.
          enum:
          - NotSpecified
          - user
          - system
          x-ms-enum:
            name: OperationOrigin
            modelAsString: true
        properties:
          type: object
          additionalProperties:
            type: object
          readOnly: true
          x-ms-client-flatten: false
          description: Additional descriptions for the operation.
      description: REST API operation definition.
    OperationListResult:
      description: List of resource provider operations.
      type: object
      properties:
        value:
          description: Collection of available operation details
          uniqueItems: false
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                readOnly: true
                description: Name of the operation being performed on this particular
                  object.
              display:
                readOnly: true
                description: Localized display information for this particular operation
                  or action.
                type: object
                properties:
                  provider:
                    type: string
                    readOnly: true
                    description: Name of the resource provider.
                  resource:
                    type: string
                    readOnly: true
                    description: Type of resource on which the operation is performed.
                  operation:
                    type: string
                    readOnly: true
                    description: Name of the operation.
                  description:
                    type: string
                    readOnly: true
                    description: Description of the operation.
              isDataAction:
                description: Indicates if the operation is a data action.
                type: boolean
              origin:
                type: string
                readOnly: true
                description: Intended executor of the operation.
                enum:
                - NotSpecified
                - user
                - system
                x-ms-enum:
                  name: OperationOrigin
                  modelAsString: true
              properties:
                type: object
                additionalProperties:
                  type: object
                readOnly: true
                x-ms-client-flatten: false
                description: Additional descriptions for the operation.
            description: REST API operation definition.
          x-ms-identifiers:
          - name
        nextLink:
          description: Link used to get the next page of results.
          type: string
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
