openapi: 3.0.0
info:
  title: PostgreSQLManagementClient
  description: The Azure Database for PostgreSQL management API provides create, read,
    update, and delete functionality for Azure PostgreSQL resources including servers,
    databases, firewall rules, network configuration, security alert policies, log
    files and configurations with new business model.
  version: 2024-08-01
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/replicas
  : get:
      tags:
      - Replicas
      operationId: Replicas_ListByServer
      description: Lists all read replicas of a flexible server.
      parameters:
      - name: api-version
        in: query
        description: The API version to use for this operation.
        required: true
        schema:
          type: string
          minLength: 1
      - name: subscriptionId
        in: path
        description: The ID of the target subscription. The value must be an UUID.
        required: true
        schema:
          type: string
          format: uuid
      - name: resourceGroupName
        in: path
        description: The name of the resource group. The name is case insensitive.
        required: true
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 1
          maxLength: 90
      - name: serverName
        in: path
        required: true
        description: The name of the server.
        x-ms-parameter-location: method
        schema:
          type: string
          minLength: 3
          maxLength: 63
          pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: arm-id
                          description: Fully qualified resource ID for the resource.
                            E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                          readOnly: true
                        name:
                          type: string
                          description: The name of the resource
                          readOnly: true
                        type:
                          type: string
                          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                            or "Microsoft.Storage/storageAccounts"
                          readOnly: true
                        systemData:
                          description: Azure Resource Manager metadata containing
                            createdBy and modifiedBy information.
                          readOnly: true
                          type: object
                          properties:
                            createdBy:
                              type: string
                              description: The identity that created the resource.
                            createdByType:
                              type: string
                              description: The type of identity that created the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            createdAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource creation (UTC).
                            lastModifiedBy:
                              type: string
                              description: The identity that last modified the resource.
                            lastModifiedByType:
                              type: string
                              description: The type of identity that last modified
                                the resource.
                              enum:
                              - User
                              - Application
                              - ManagedIdentity
                              - Key
                              x-ms-enum:
                                name: createdByType
                                modelAsString: true
                            lastModifiedAt:
                              type: string
                              format: date-time
                              description: The timestamp of resource last modification
                                (UTC)
                        tags:
                          type: object
                          description: Resource tags.
                          additionalProperties:
                            type: string
                          x-ms-mutability:
                          - read
                          - create
                          - update
                        location:
                          type: string
                          description: The geo-location where the resource lives
                          x-ms-mutability:
                          - read
                          - create
                        sku:
                          description: Compute tier and size of a flexible server.
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name by which is known a given compute
                                size assigned to a flexible server.
                            tier:
                              type: string
                              description: Tier of the compute assigned to a flexible
                                server.
                              enum:
                              - Burstable
                              - GeneralPurpose
                              - MemoryOptimized
                              x-ms-enum:
                                name: SkuTier
                                modelAsString: true
                          required:
                          - name
                          - tier
                        identity:
                          description: User assigned managed identities assigned to
                            the flexible server.
                          type: object
                          properties:
                            userAssignedIdentities:
                              description: Map of user assigned managed identities.
                              type: object
                              additionalProperties:
                                description: User assigned managed identity associated
                                  with a flexible server.
                                type: object
                                properties:
                                  principalId:
                                    type: string
                                    description: Identifier of the object of the service
                                      principal associated to the user assigned managed
                                      identity.
                                  clientId:
                                    type: string
                                    description: Identifier of the client of the service
                                      principal associated to the user assigned managed
                                      identity.
                            principalId:
                              type: string
                              description: Identifier of the object of the service
                                principal associated to the user assigned managed
                                identity.
                            type:
                              type: string
                              description: Types of identities associated with a flexible
                                server.
                              enum:
                              - None
                              - UserAssigned
                              - SystemAssigned
                              - SystemAssigned,UserAssigned
                              x-ms-enum:
                                name: IdentityType
                                modelAsString: true
                            tenantId:
                              type: string
                              description: Identifier of the tenant of a flexible
                                server.
                              readOnly: true
                          required:
                          - type
                        properties:
                          x-ms-client-flatten: true
                          description: Properties of a flexible server.
                          type: object
                          properties:
                            administratorLogin:
                              type: string
                              description: Name of the login designated as the first
                                password based administrator assigned to your instance
                                of PostgreSQL. Must be specified the first time that
                                you enable password based authentication on a server.
                                Once set to a given value, it cannot be changed for
                                the rest of the life of a server. If you disable password
                                based authentication on a server which had it enabled,
                                this password based role isn't deleted.
                              x-ms-mutability:
                              - create
                              - read
                            administratorLoginPassword:
                              type: string
                              description: Password assigned to the administrator
                                login. As long as password authentication is enabled,
                                this password can be changed at any time.
                              x-ms-secret: true
                              format: password
                              x-ms-mutability:
                              - create
                              - update
                            version:
                              description: Major version of PostgreSQL database engine.
                              type: string
                              enum:
                              - '16'
                              - '15'
                              - '14'
                              - '13'
                              - '12'
                              - '11'
                              x-ms-enum:
                                name: ServerVersion
                                modelAsString: true
                            minorVersion:
                              type: string
                              description: Minor version of PostgreSQL database engine.
                              readOnly: true
                            state:
                              type: string
                              description: Possible states of a flexible server.
                              readOnly: true
                              enum:
                              - Ready
                              - Dropping
                              - Disabled
                              - Starting
                              - Stopping
                              - Stopped
                              - Updating
                              x-ms-enum:
                                name: ServerState
                                modelAsString: true
                            fullyQualifiedDomainName:
                              type: string
                              description: Fully qualified domain name of a flexible
                                server.
                              readOnly: true
                            storage:
                              default: null
                              description: Storage properties of a flexible server.
                              type: object
                              properties:
                                storageSizeGB:
                                  type: integer
                                  format: int32
                                  description: Size of storage assigned to a flexible
                                    server.
                                autoGrow:
                                  type: string
                                  description: Flag to enable or disable the automatic
                                    growth of storage size of a flexible server when
                                    available space is nearing zero and conditions
                                    allow for automatically growing storage size.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: StorageAutoGrow
                                    modelAsString: true
                                tier:
                                  type: string
                                  description: Storage tier of a flexible server.
                                  enum:
                                  - P1
                                  - P2
                                  - P3
                                  - P4
                                  - P6
                                  - P10
                                  - P15
                                  - P20
                                  - P30
                                  - P40
                                  - P50
                                  - P60
                                  - P70
                                  - P80
                                  x-ms-enum:
                                    name: AzureManagedDiskPerformanceTiers
                                    modelAsString: true
                                iops:
                                  type: integer
                                  format: int32
                                  description: Maximum IOPS supported for storage.
                                    Required when type of storage is PremiumV2_LRS.
                                throughput:
                                  type: integer
                                  format: int32
                                  description: Maximum throughput supported for storage.
                                    Required when type of storage is PremiumV2_LRS.
                                type:
                                  type: string
                                  enum:
                                  - Premium_LRS
                                  - PremiumV2_LRS
                                  x-ms-enum:
                                    name: StorageType
                                    modelAsString: true
                                  description: Type of storage assigned to a flexible
                                    server. Allowed values are Premium_LRS or PremiumV2_LRS.
                                    If not specified, it defaults to Premium_LRS.
                            authConfig:
                              default: null
                              description: Authentication configuration properties
                                of a flexible server.
                              type: object
                              properties:
                                activeDirectoryAuth:
                                  type: string
                                  description: Indicates if the server supports Microsoft
                                    Entra authentication.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: activeDirectoryAuthEnum
                                    modelAsString: true
                                passwordAuth:
                                  type: string
                                  default: Enabled
                                  description: Indicates if the server supports password
                                    based authentication.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: passwordAuthEnum
                                    modelAsString: true
                                tenantId:
                                  type: string
                                  default: ''
                                  description: Identifier of the tenant of the delegated
                                    resource.
                            dataEncryption:
                              default: null
                              description: Data encryption properties of a flexible
                                server.
                              type: object
                              properties:
                                primaryKeyURI:
                                  type: string
                                  description: URI of the key in Azure Key Vault used
                                    for data encryption of the primary storage associated
                                    to a flexible server.
                                primaryUserAssignedIdentityId:
                                  type: string
                                  description: Identifier of the user assigned managed
                                    identity used to access the key in Azure Key Vault
                                    for data encryption of the primary storage associated
                                    to a flexible server.
                                geoBackupKeyURI:
                                  type: string
                                  description: Identifier of the user assigned managed
                                    identity used to access the key in Azure Key Vault
                                    for data encryption of the geographically redundant
                                    storage associated to a flexible server that is
                                    configured to support geographically redundant
                                    backups.
                                geoBackupUserAssignedIdentityId:
                                  type: string
                                  description: Identifier of the user assigned managed
                                    identity used to access the key in Azure Key Vault
                                    for data encryption of the geographically redundant
                                    storage associated to a flexible server that is
                                    configured to support geographically redundant
                                    backups.
                                type:
                                  type: string
                                  description: Data encryption type used by a flexible
                                    server.
                                  enum:
                                  - SystemManaged
                                  - AzureKeyVault
                                  x-ms-enum:
                                    name: ArmServerKeyType
                                    modelAsString: true
                                primaryEncryptionKeyStatus:
                                  type: string
                                  description: Status of key used by a flexible server
                                    configured with data encryption based on customer
                                    managed key, to encrypt the primary storage associated
                                    to the server.
                                  x-ms-mutability:
                                  - read
                                  enum:
                                  - Valid
                                  - Invalid
                                  x-ms-enum:
                                    name: keyStatusEnum
                                    modelAsString: true
                                geoBackupEncryptionKeyStatus:
                                  type: string
                                  description: Status of key used by a flexible server
                                    configured with data encryption based on customer
                                    managed key, to encrypt the geographically redundant
                                    storage associated to the server when it is configured
                                    to support geographically redundant backups.
                                  x-ms-mutability:
                                  - read
                                  enum:
                                  - Valid
                                  - Invalid
                                  x-ms-enum:
                                    name: keyStatusEnum
                                    modelAsString: true
                            backup:
                              default: null
                              description: Backup properties of a flexible server.
                              type: object
                              properties:
                                backupRetentionDays:
                                  type: integer
                                  format: int32
                                  default: 7
                                  description: Backup retention days for the flexible
                                    server.
                                geoRedundantBackup:
                                  type: string
                                  default: Disabled
                                  description: Indicates if the server is configured
                                    to create geographically redundant backups.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: GeoRedundantBackupEnum
                                    modelAsString: true
                                  x-ms-mutability:
                                  - create
                                  - read
                                earliestRestoreDate:
                                  type: string
                                  format: date-time
                                  description: Earliest restore point time (ISO8601
                                    format) for a flexible server.
                                  readOnly: true
                            network:
                              default: null
                              description: Network properties of a flexible server.
                                Only required if you want your server to be integrated
                                into a virtual network provided by customer.
                              type: object
                              properties:
                                publicNetworkAccess:
                                  type: string
                                  description: Indicates if public network access
                                    is enabled or not.
                                  enum:
                                  - Enabled
                                  - Disabled
                                  x-ms-enum:
                                    name: ServerPublicNetworkAccessState
                                    modelAsString: true
                                delegatedSubnetResourceId:
                                  type: string
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.Network/virtualNetworks/subnets
                                  description: Resource identifier of the delegated
                                    subnet. Required during creation of a new server,
                                    in case you want the server to be integrated into
                                    your own virtual network. For an update operation,
                                    you only have to provide this property if you
                                    want to change the value assigned for the private
                                    DNS zone.
                                privateDnsZoneArmResourceId:
                                  type: string
                                  x-ms-arm-id-details:
                                    allowedResources:
                                    - type: Microsoft.Network/privateDnsZones
                                  description: Identifier of the private DNS zone.
                                    Required during creation of a new server, in case
                                    you want the server to be integrated into your
                                    own virtual network. For an update operation,
                                    you only have to provide this property if you
                                    want to change the value assigned for the private
                                    DNS zone.
                            highAvailability:
                              default: null
                              description: High availability properties of a flexible
                                server.
                              type: object
                              properties:
                                mode:
                                  type: string
                                  default: Disabled
                                  description: High availability mode for a flexible
                                    server.
                                  enum:
                                  - Disabled
                                  - ZoneRedundant
                                  - SameZone
                                  x-ms-enum:
                                    name: HighAvailabilityMode
                                    modelAsString: true
                                state:
                                  type: string
                                  description: Possible states of the standby server
                                    created when high availability is set to SameZone
                                    or ZoneRedundant.
                                  enum:
                                  - NotEnabled
                                  - CreatingStandby
                                  - ReplicatingData
                                  - FailingOver
                                  - Healthy
                                  - RemovingStandby
                                  x-ms-enum:
                                    name: ServerHAState
                                    modelAsString: true
                                  readOnly: true
                                standbyAvailabilityZone:
                                  type: string
                                  default: ''
                                  description: Availability zone associated to the
                                    standby server created when high availability
                                    is set to SameZone or ZoneRedundant.
                            maintenanceWindow:
                              default: null
                              description: Maintenance window properties of a flexible
                                server.
                              x-ms-mutability:
                              - update
                              - read
                              type: object
                              properties:
                                customWindow:
                                  type: string
                                  default: Disabled
                                  description: Indicates whether custom window is
                                    enabled or disabled.
                                startHour:
                                  type: integer
                                  format: int32
                                  default: 0
                                  description: Start hour to be used for maintenance
                                    window.
                                startMinute:
                                  type: integer
                                  format: int32
                                  default: 0
                                  description: Start minute to be used for maintenance
                                    window.
                                dayOfWeek:
                                  type: integer
                                  format: int32
                                  default: 0
                                  description: Day of the week to be used for maintenance
                                    window.
                            sourceServerResourceId:
                              type: string
                              x-ms-arm-id-details:
                                allowedResources:
                                - type: Microsoft.DBforPostgreSQL/flexibleServers
                              description: Identifier of the flexible server to be
                                used as the source of the new flexible server. Required
                                when 'createMode' is 'PointInTimeRestore', 'GeoRestore',
                                'Replica', or 'ReviveDropped'. This property is returned
                                only when the target flexible server is a read replica.
                              x-ms-mutability:
                              - create
                              - read
                            pointInTimeUTC:
                              type: string
                              format: date-time
                              description: Creation time (in ISO8601 format) of the
                                backup which you want to restore in the new flexible
                                server. It's required when 'createMode' is 'PointInTimeRestore',
                                'GeoRestore', or 'ReviveDropped'.
                              x-ms-mutability:
                              - create
                            availabilityZone:
                              type: string
                              default: ''
                              description: Availability zone of a flexible server.
                              x-ms-mutability:
                              - create
                              - read
                            replicationRole:
                              description: Role of the server in a replication set.
                              type: string
                              enum:
                              - None
                              - Primary
                              - AsyncReplica
                              - GeoAsyncReplica
                              x-ms-enum:
                                name: ReplicationRole
                                modelAsString: true
                            replicaCapacity:
                              type: integer
                              format: int32
                              description: Maximum number of read replicas allowed
                                for a flexible server.
                              readOnly: true
                            replica:
                              description: Read replica properties of a flexible server.
                                Required only in case that you want to promote a server.
                              x-ms-mutability:
                              - read
                              - update
                              type: object
                              properties:
                                role:
                                  description: Role of the server in a replication
                                    set.
                                  type: string
                                  enum:
                                  - None
                                  - Primary
                                  - AsyncReplica
                                  - GeoAsyncReplica
                                  x-ms-enum:
                                    name: ReplicationRole
                                    modelAsString: true
                                capacity:
                                  type: integer
                                  format: int32
                                  description: Maximum number of read replicas allowed
                                    for a flexible server.
                                  readOnly: true
                                replicationState:
                                  type: string
                                  enum:
                                  - Active
                                  - Catchup
                                  - Provisioning
                                  - Updating
                                  - Broken
                                  - Reconfiguring
                                  x-ms-enum:
                                    name: ReplicationState
                                    modelAsString: true
                                  description: Indicates the replication state of
                                    a read replica. This property is returned only
                                    when the target flexible server is a read replica.
                                    Possible  values are Active, Broken, Catchup,
                                    Provisioning, Reconfiguring, and Updating
                                  readOnly: true
                                promoteMode:
                                  type: string
                                  description: Type of operation to apply on the read
                                    replica. This property is write only. Standalone
                                    means that the read replica will be promoted to
                                    a standalone server, and will become a completely
                                    independent entity from the replication set. Switchover
                                    means that the read replica will roles with the
                                    primary server.
                                  enum:
                                  - standalone
                                  - switchover
                                  x-ms-enum:
                                    name: ReadReplicaPromoteMode
                                    modelAsString: true
                                  x-ms-mutability:
                                  - update
                                promoteOption:
                                  type: string
                                  description: Data synchronization option to use
                                    when processing the operation specified in the
                                    promoteMode property This property is write only.
                                    Planned means that the operation will wait for
                                    data in the read replica to be fully synchronized
                                    with its source server before it initiates the
                                    operation. Forced means that the operation will
                                    not wait for data in the read replica to be synchronized
                                    with its source server before it initiates the
                                    operation.
                                  enum:
                                  - planned
                                  - forced
                                  x-ms-enum:
                                    name: ReplicationPromoteOption
                                    modelAsString: true
                                  x-ms-mutability:
                                  - update
                            createMode:
                              type: string
                              description: Creation mode of a new flexible server.
                              enum:
                              - Default
                              - Create
                              - Update
                              - PointInTimeRestore
                              - GeoRestore
                              - Replica
                              - ReviveDropped
                              x-ms-enum:
                                name: CreateMode
                                modelAsString: true
                              x-ms-mutability:
                              - create
                              - update
                            privateEndpointConnections:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    format: arm-id
                                    description: Fully qualified resource ID for the
                                      resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
                                    readOnly: true
                                  name:
                                    type: string
                                    description: The name of the resource
                                    readOnly: true
                                  type:
                                    type: string
                                    description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
                                      or "Microsoft.Storage/storageAccounts"
                                    readOnly: true
                                  systemData:
                                    description: Azure Resource Manager metadata containing
                                      createdBy and modifiedBy information.
                                    readOnly: true
                                    type: object
                                    properties:
                                      createdBy:
                                        type: string
                                        description: The identity that created the
                                          resource.
                                      createdByType:
                                        type: string
                                        description: The type of identity that created
                                          the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      createdAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource creation
                                          (UTC).
                                      lastModifiedBy:
                                        type: string
                                        description: The identity that last modified
                                          the resource.
                                      lastModifiedByType:
                                        type: string
                                        description: The type of identity that last
                                          modified the resource.
                                        enum:
                                        - User
                                        - Application
                                        - ManagedIdentity
                                        - Key
                                        x-ms-enum:
                                          name: createdByType
                                          modelAsString: true
                                      lastModifiedAt:
                                        type: string
                                        format: date-time
                                        description: The timestamp of resource last
                                          modification (UTC)
                                  properties:
                                    description: Resource properties.
                                    x-ms-client-flatten: true
                                    type: object
                                    properties:
                                      groupIds:
                                        type: array
                                        description: The group ids for the private
                                          endpoint resource.
                                        items:
                                          type: string
                                        readOnly: true
                                      privateEndpoint:
                                        description: The private endpoint resource.
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ARM identifier for private
                                              endpoint.
                                            readOnly: true
                                      privateLinkServiceConnectionState:
                                        description: A collection of information about
                                          the state of the connection between service
                                          consumer and provider.
                                        type: object
                                        properties:
                                          status:
                                            description: Indicates whether the connection
                                              has been Approved/Rejected/Removed by
                                              the owner of the service.
                                            type: string
                                            enum:
                                            - Pending
                                            - Approved
                                            - Rejected
                                            x-ms-enum:
                                              name: PrivateEndpointServiceConnectionStatus
                                              modelAsString: true
                                          description:
                                            type: string
                                            description: The reason for approval/rejection
                                              of the connection.
                                          actionsRequired:
                                            type: string
                                            description: A message indicating if changes
                                              on the service provider require any
                                              updates on the consumer.
                                      provisioningState:
                                        description: The provisioning state of the
                                          private endpoint connection resource.
                                        type: string
                                        enum:
                                        - Succeeded
                                        - Creating
                                        - Deleting
                                        - Failed
                                        x-ms-enum:
                                          name: PrivateEndpointConnectionProvisioningState
                                          modelAsString: true
                                        readOnly: true
                                    required:
                                    - privateLinkServiceConnectionState
                                title: Resource
                                description: Common fields that are returned in the
                                  response for all Azure Resource Manager resources
                                x-ms-azure-resource: true
                              description: List of private endpoint connections associated
                                with the specified flexible server.
                              readOnly: true
                      required:
                      - location
                      title: Resource
                      description: Common fields that are returned in the response
                        for all Azure Resource Manager resources
                      x-ms-azure-resource: true
                    description: The list of flexible servers
                  nextLink:
                    description: The link used to get the next page of operations.
                    type: string
                description: A list of servers.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                type: object
                title: Error response
                description: Common error response for all Azure Resource Manager
                  APIs to return error details for failed operations. (This also follows
                  the OData error response format.).
                properties:
                  error:
                    description: The error object.
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                        readOnly: true
                      message:
                        type: string
                        description: The error message.
                        readOnly: true
                      target:
                        type: string
                        description: The error target.
                        readOnly: true
                      details:
                        type: array
                        description: The error details.
                        items:
                          type: object
                          description: The error detail.
                          properties:
                            code:
                              type: string
                              description: The error code.
                              readOnly: true
                            message:
                              type: string
                              description: The error message.
                              readOnly: true
                            target:
                              type: string
                              description: The error target.
                              readOnly: true
                            details:
                              type: array
                              description: The error details.
                              items:
                                type: object
                                description: The error detail.
                                properties:
                                  code:
                                    type: string
                                    description: The error code.
                                    readOnly: true
                                  message:
                                    type: string
                                    description: The error message.
                                    readOnly: true
                                  target:
                                    type: string
                                    description: The error target.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers:
                              - message
                              - target
                            additionalInfo:
                              type: array
                              description: The error additional info.
                              items:
                                type: object
                                description: The resource management error additional
                                  info.
                                properties:
                                  type:
                                    type: string
                                    description: The additional info type.
                                    readOnly: true
                                  info:
                                    type: object
                                    description: The additional info.
                                    readOnly: true
                              readOnly: true
                              x-ms-identifiers: []
                        readOnly: true
                        x-ms-identifiers:
                        - message
                        - target
                      additionalInfo:
                        type: array
                        description: The error additional info.
                        items:
                          type: object
                          description: The resource management error additional info.
                          properties:
                            type:
                              type: string
                              description: The additional info type.
                              readOnly: true
                            info:
                              type: object
                              description: The additional info.
                              readOnly: true
                        readOnly: true
                        x-ms-identifiers: []
      x-ms-pageable: {}
components:
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
    ServerNameParameter:
      name: serverName
      in: path
      required: true
      description: The name of the server.
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Microsoft Entra OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            type: object
            description: The error detail.
            properties:
              code:
                type: string
                description: The error code.
                readOnly: true
              message:
                type: string
                description: The error message.
                readOnly: true
              target:
                type: string
                description: The error target.
                readOnly: true
              details:
                type: array
                description: The error details.
                items:
                  type: object
                  description: The error detail.
                  properties:
                    code:
                      type: string
                      description: The error code.
                      readOnly: true
                    message:
                      type: string
                      description: The error message.
                      readOnly: true
                    target:
                      type: string
                      description: The error target.
                      readOnly: true
                readOnly: true
                x-ms-identifiers:
                - message
                - target
              additionalInfo:
                type: array
                description: The error additional info.
                items:
                  type: object
                  description: The resource management error additional info.
                  properties:
                    type:
                      type: string
                      description: The additional info type.
                      readOnly: true
                    info:
                      type: object
                      description: The additional info.
                      readOnly: true
                readOnly: true
                x-ms-identifiers: []
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            type: object
            description: The resource management error additional info.
            properties:
              type:
                type: string
                description: The additional info type.
                readOnly: true
              info:
                type: object
                description: The additional info.
                readOnly: true
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return
        error details for failed operations. (This also follows the OData error response
        format.).
      properties:
        error:
          description: The error object.
          type: object
          properties:
            code:
              type: string
              description: The error code.
              readOnly: true
            message:
              type: string
              description: The error message.
              readOnly: true
            target:
              type: string
              description: The error target.
              readOnly: true
            details:
              type: array
              description: The error details.
              items:
                type: object
                description: The error detail.
                properties:
                  code:
                    type: string
                    description: The error code.
                    readOnly: true
                  message:
                    type: string
                    description: The error message.
                    readOnly: true
                  target:
                    type: string
                    description: The error target.
                    readOnly: true
                  details:
                    type: array
                    description: The error details.
                    items:
                      type: object
                      description: The error detail.
                      properties:
                        code:
                          type: string
                          description: The error code.
                          readOnly: true
                        message:
                          type: string
                          description: The error message.
                          readOnly: true
                        target:
                          type: string
                          description: The error target.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers:
                    - message
                    - target
                  additionalInfo:
                    type: array
                    description: The error additional info.
                    items:
                      type: object
                      description: The resource management error additional info.
                      properties:
                        type:
                          type: string
                          description: The additional info type.
                          readOnly: true
                        info:
                          type: object
                          description: The additional info.
                          readOnly: true
                    readOnly: true
                    x-ms-identifiers: []
              readOnly: true
              x-ms-identifiers:
              - message
              - target
            additionalInfo:
              type: array
              description: The error additional info.
              items:
                type: object
                description: The resource management error additional info.
                properties:
                  type:
                    type: string
                    description: The additional info type.
                    readOnly: true
                  info:
                    type: object
                    description: The additional info.
                    readOnly: true
              readOnly: true
              x-ms-identifiers: []
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
      x-ms-azure-resource: true
    TrackedResource:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
      required:
      - location
    Sku:
      type: object
      properties:
        name:
          type: string
          description: Name by which is known a given compute size assigned to a flexible
            server.
        tier:
          type: string
          description: Tier of the compute assigned to a flexible server.
          enum:
          - Burstable
          - GeneralPurpose
          - MemoryOptimized
          x-ms-enum:
            name: SkuTier
            modelAsString: true
      required:
      - name
      - tier
      description: Compute information of a flexible server.
    UserIdentity:
      description: User assigned managed identity associated with a flexible server.
      type: object
      properties:
        principalId:
          type: string
          description: Identifier of the object of the service principal associated
            to the user assigned managed identity.
        clientId:
          type: string
          description: Identifier of the client of the service principal associated
            to the user assigned managed identity.
    UserAssignedIdentityMap:
      type: object
      description: Map of user assigned managed identities.
      additionalProperties:
        description: User assigned managed identity associated with a flexible server.
        type: object
        properties:
          principalId:
            type: string
            description: Identifier of the object of the service principal associated
              to the user assigned managed identity.
          clientId:
            type: string
            description: Identifier of the client of the service principal associated
              to the user assigned managed identity.
    UserAssignedIdentity:
      type: object
      properties:
        userAssignedIdentities:
          description: Map of user assigned managed identities.
          type: object
          additionalProperties:
            description: User assigned managed identity associated with a flexible
              server.
            type: object
            properties:
              principalId:
                type: string
                description: Identifier of the object of the service principal associated
                  to the user assigned managed identity.
              clientId:
                type: string
                description: Identifier of the client of the service principal associated
                  to the user assigned managed identity.
        principalId:
          type: string
          description: Identifier of the object of the service principal associated
            to the user assigned managed identity.
        type:
          type: string
          description: Types of identities associated with a flexible server.
          enum:
          - None
          - UserAssigned
          - SystemAssigned
          - SystemAssigned,UserAssigned
          x-ms-enum:
            name: IdentityType
            modelAsString: true
        tenantId:
          type: string
          description: Identifier of the tenant of a flexible server.
          readOnly: true
      required:
      - type
      description: Identities associated with a flexible server.
    ServerVersion:
      type: string
      description: Major version of PostgreSQL database engine.
      enum:
      - '16'
      - '15'
      - '14'
      - '13'
      - '12'
      - '11'
      x-ms-enum:
        name: ServerVersion
        modelAsString: true
    Storage:
      type: object
      properties:
        storageSizeGB:
          type: integer
          format: int32
          description: Size of storage assigned to a flexible server.
        autoGrow:
          type: string
          description: Flag to enable or disable the automatic growth of storage size
            of a flexible server when available space is nearing zero and conditions
            allow for automatically growing storage size.
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: StorageAutoGrow
            modelAsString: true
        tier:
          type: string
          description: Storage tier of a flexible server.
          enum:
          - P1
          - P2
          - P3
          - P4
          - P6
          - P10
          - P15
          - P20
          - P30
          - P40
          - P50
          - P60
          - P70
          - P80
          x-ms-enum:
            name: AzureManagedDiskPerformanceTiers
            modelAsString: true
        iops:
          type: integer
          format: int32
          description: Maximum IOPS supported for storage. Required when type of storage
            is PremiumV2_LRS.
        throughput:
          type: integer
          format: int32
          description: Maximum throughput supported for storage. Required when type
            of storage is PremiumV2_LRS.
        type:
          type: string
          enum:
          - Premium_LRS
          - PremiumV2_LRS
          x-ms-enum:
            name: StorageType
            modelAsString: true
          description: Type of storage assigned to a flexible server. Allowed values
            are Premium_LRS or PremiumV2_LRS. If not specified, it defaults to Premium_LRS.
      description: Storage properties of a flexible server.
    AuthConfig:
      type: object
      properties:
        activeDirectoryAuth:
          type: string
          description: Indicates if the server supports Microsoft Entra authentication.
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: activeDirectoryAuthEnum
            modelAsString: true
        passwordAuth:
          type: string
          default: Enabled
          description: Indicates if the server supports password based authentication.
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: passwordAuthEnum
            modelAsString: true
        tenantId:
          type: string
          default: ''
          description: Identifier of the tenant of the delegated resource.
      description: Authentication configuration properties of a flexible server.
    DataEncryption:
      type: object
      properties:
        primaryKeyURI:
          type: string
          description: URI of the key in Azure Key Vault used for data encryption
            of the primary storage associated to a flexible server.
        primaryUserAssignedIdentityId:
          type: string
          description: Identifier of the user assigned managed identity used to access
            the key in Azure Key Vault for data encryption of the primary storage
            associated to a flexible server.
        geoBackupKeyURI:
          type: string
          description: Identifier of the user assigned managed identity used to access
            the key in Azure Key Vault for data encryption of the geographically redundant
            storage associated to a flexible server that is configured to support
            geographically redundant backups.
        geoBackupUserAssignedIdentityId:
          type: string
          description: Identifier of the user assigned managed identity used to access
            the key in Azure Key Vault for data encryption of the geographically redundant
            storage associated to a flexible server that is configured to support
            geographically redundant backups.
        type:
          type: string
          description: Data encryption type used by a flexible server.
          enum:
          - SystemManaged
          - AzureKeyVault
          x-ms-enum:
            name: ArmServerKeyType
            modelAsString: true
        primaryEncryptionKeyStatus:
          type: string
          description: Status of key used by a flexible server configured with data
            encryption based on customer managed key, to encrypt the primary storage
            associated to the server.
          x-ms-mutability:
          - read
          enum:
          - Valid
          - Invalid
          x-ms-enum:
            name: keyStatusEnum
            modelAsString: true
        geoBackupEncryptionKeyStatus:
          type: string
          description: Status of key used by a flexible server configured with data
            encryption based on customer managed key, to encrypt the geographically
            redundant storage associated to the server when it is configured to support
            geographically redundant backups.
          x-ms-mutability:
          - read
          enum:
          - Valid
          - Invalid
          x-ms-enum:
            name: keyStatusEnum
            modelAsString: true
      description: Data encryption properties of a flexible server.
    Backup:
      type: object
      properties:
        backupRetentionDays:
          type: integer
          format: int32
          default: 7
          description: Backup retention days for the flexible server.
        geoRedundantBackup:
          type: string
          default: Disabled
          description: Indicates if the server is configured to create geographically
            redundant backups.
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: GeoRedundantBackupEnum
            modelAsString: true
          x-ms-mutability:
          - create
          - read
        earliestRestoreDate:
          type: string
          format: date-time
          description: Earliest restore point time (ISO8601 format) for a flexible
            server.
          readOnly: true
      description: Backup properties of a flexible server.
    Network:
      type: object
      properties:
        publicNetworkAccess:
          type: string
          description: Indicates if public network access is enabled or not.
          enum:
          - Enabled
          - Disabled
          x-ms-enum:
            name: ServerPublicNetworkAccessState
            modelAsString: true
        delegatedSubnetResourceId:
          type: string
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.Network/virtualNetworks/subnets
          description: Resource identifier of the delegated subnet. Required during
            creation of a new server, in case you want the server to be integrated
            into your own virtual network. For an update operation, you only have
            to provide this property if you want to change the value assigned for
            the private DNS zone.
        privateDnsZoneArmResourceId:
          type: string
          x-ms-arm-id-details:
            allowedResources:
            - type: Microsoft.Network/privateDnsZones
          description: Identifier of the private DNS zone. Required during creation
            of a new server, in case you want the server to be integrated into your
            own virtual network. For an update operation, you only have to provide
            this property if you want to change the value assigned for the private
            DNS zone.
      description: Network properties of a flexible server.
    HighAvailability:
      type: object
      properties:
        mode:
          type: string
          default: Disabled
          description: High availability mode for a flexible server.
          enum:
          - Disabled
          - ZoneRedundant
          - SameZone
          x-ms-enum:
            name: HighAvailabilityMode
            modelAsString: true
        state:
          type: string
          description: Possible states of the standby server created when high availability
            is set to SameZone or ZoneRedundant.
          enum:
          - NotEnabled
          - CreatingStandby
          - ReplicatingData
          - FailingOver
          - Healthy
          - RemovingStandby
          x-ms-enum:
            name: ServerHAState
            modelAsString: true
          readOnly: true
        standbyAvailabilityZone:
          type: string
          default: ''
          description: Availability zone associated to the standby server created
            when high availability is set to SameZone or ZoneRedundant.
      description: High availability properties of a flexible server.
    MaintenanceWindow:
      type: object
      description: Maintenance window properties of a flexible server.
      properties:
        customWindow:
          type: string
          default: Disabled
          description: Indicates whether custom window is enabled or disabled.
        startHour:
          type: integer
          format: int32
          default: 0
          description: Start hour to be used for maintenance window.
        startMinute:
          type: integer
          format: int32
          default: 0
          description: Start minute to be used for maintenance window.
        dayOfWeek:
          type: integer
          format: int32
          default: 0
          description: Day of the week to be used for maintenance window.
    ReplicationRole:
      type: string
      description: Role of the flexible server in a replication set.
      enum:
      - None
      - Primary
      - AsyncReplica
      - GeoAsyncReplica
      x-ms-enum:
        name: ReplicationRole
        modelAsString: true
    Replica:
      type: object
      description: Replica properties of a flexible server.
      properties:
        role:
          description: Role of the server in a replication set.
          type: string
          enum:
          - None
          - Primary
          - AsyncReplica
          - GeoAsyncReplica
          x-ms-enum:
            name: ReplicationRole
            modelAsString: true
        capacity:
          type: integer
          format: int32
          description: Maximum number of read replicas allowed for a flexible server.
          readOnly: true
        replicationState:
          type: string
          enum:
          - Active
          - Catchup
          - Provisioning
          - Updating
          - Broken
          - Reconfiguring
          x-ms-enum:
            name: ReplicationState
            modelAsString: true
          description: Indicates the replication state of a read replica. This property
            is returned only when the target flexible server is a read replica. Possible  values
            are Active, Broken, Catchup, Provisioning, Reconfiguring, and Updating
          readOnly: true
        promoteMode:
          type: string
          description: Type of operation to apply on the read replica. This property
            is write only. Standalone means that the read replica will be promoted
            to a standalone server, and will become a completely independent entity
            from the replication set. Switchover means that the read replica will
            roles with the primary server.
          enum:
          - standalone
          - switchover
          x-ms-enum:
            name: ReadReplicaPromoteMode
            modelAsString: true
          x-ms-mutability:
          - update
        promoteOption:
          type: string
          description: Data synchronization option to use when processing the operation
            specified in the promoteMode property This property is write only. Planned
            means that the operation will wait for data in the read replica to be
            fully synchronized with its source server before it initiates the operation.
            Forced means that the operation will not wait for data in the read replica
            to be synchronized with its source server before it initiates the operation.
          enum:
          - planned
          - forced
          x-ms-enum:
            name: ReplicationPromoteOption
            modelAsString: true
          x-ms-mutability:
          - update
    PrivateEndpoint:
      type: object
      description: The private endpoint resource.
      properties:
        id:
          type: string
          description: The ARM identifier for private endpoint.
          readOnly: true
    PrivateEndpointServiceConnectionStatus:
      type: string
      description: The private endpoint connection status.
      enum:
      - Pending
      - Approved
      - Rejected
      x-ms-enum:
        name: PrivateEndpointServiceConnectionStatus
        modelAsString: true
    PrivateLinkServiceConnectionState:
      type: object
      description: A collection of information about the state of the connection between
        service consumer and provider.
      properties:
        status:
          description: Indicates whether the connection has been Approved/Rejected/Removed
            by the owner of the service.
          type: string
          enum:
          - Pending
          - Approved
          - Rejected
          x-ms-enum:
            name: PrivateEndpointServiceConnectionStatus
            modelAsString: true
        description:
          type: string
          description: The reason for approval/rejection of the connection.
        actionsRequired:
          type: string
          description: A message indicating if changes on the service provider require
            any updates on the consumer.
    PrivateEndpointConnectionProvisioningState:
      type: string
      description: The current provisioning state.
      enum:
      - Succeeded
      - Creating
      - Deleting
      - Failed
      x-ms-enum:
        name: PrivateEndpointConnectionProvisioningState
        modelAsString: true
      readOnly: true
    PrivateEndpointConnectionProperties:
      type: object
      description: Properties of the private endpoint connection.
      properties:
        groupIds:
          type: array
          description: The group ids for the private endpoint resource.
          items:
            type: string
          readOnly: true
        privateEndpoint:
          description: The private endpoint resource.
          type: object
          properties:
            id:
              type: string
              description: The ARM identifier for private endpoint.
              readOnly: true
        privateLinkServiceConnectionState:
          description: A collection of information about the state of the connection
            between service consumer and provider.
          type: object
          properties:
            status:
              description: Indicates whether the connection has been Approved/Rejected/Removed
                by the owner of the service.
              type: string
              enum:
              - Pending
              - Approved
              - Rejected
              x-ms-enum:
                name: PrivateEndpointServiceConnectionStatus
                modelAsString: true
            description:
              type: string
              description: The reason for approval/rejection of the connection.
            actionsRequired:
              type: string
              description: A message indicating if changes on the service provider
                require any updates on the consumer.
        provisioningState:
          description: The provisioning state of the private endpoint connection resource.
          type: string
          enum:
          - Succeeded
          - Creating
          - Deleting
          - Failed
          x-ms-enum:
            name: PrivateEndpointConnectionProvisioningState
            modelAsString: true
          readOnly: true
      required:
      - privateLinkServiceConnectionState
    PrivateEndpointConnection:
      type: object
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines"
            or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          description: Azure Resource Manager metadata containing createdBy and modifiedBy
            information.
          readOnly: true
          type: object
          properties:
            createdBy:
              type: string
              description: The identity that created the resource.
            createdByType:
              type: string
              description: The type of identity that created the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            createdAt:
              type: string
              format: date-time
              description: The timestamp of resource creation (UTC).
            lastModifiedBy:
              type: string
              description: The identity that last modified the resource.
            lastModifiedByType:
              type: string
              description: The type of identity that last modified the resource.
              enum:
              - User
              - Application
              - ManagedIdentity
              - Key
              x-ms-enum:
                name: createdByType
                modelAsString: true
            lastModifiedAt:
              type: string
              format: date-time
              description: The timestamp of resource last modification (UTC)
        properties:
          description: Resource properties.
          x-ms-client-flatten: true
          type: object
          properties:
            groupIds:
              type: array
              description: The group ids for the private endpoint resource.
              items:
                type: string
              readOnly: true
            privateEndpoint:
              description: The private endpoint resource.
              type: object
              properties:
                id:
                  type: string
                  description: The ARM identifier for private endpoint.
                  readOnly: true
            privateLinkServiceConnectionState:
              description: A collection of information about the state of the connection
                between service consumer and provider.
              type: object
              properties:
                status:
                  description: Indicates whether the connection has been Approved/Rejected/Removed
                    by the owner of the service.
                  type: string
                  enum:
                  - Pending
                  - Approved
                  - Rejected
                  x-ms-enum:
                    name: PrivateEndpointServiceConnectionStatus
                    modelAsString: true
                description:
                  type: string
                  description: The reason for approval/rejection of the connection.
                actionsRequired:
                  type: string
                  description: A message indicating if changes on the service provider
                    require any updates on the consumer.
            provisioningState:
              description: The provisioning state of the private endpoint connection
                resource.
              type: string
              enum:
              - Succeeded
              - Creating
              - Deleting
              - Failed
              x-ms-enum:
                name: PrivateEndpointConnectionProvisioningState
                modelAsString: true
              readOnly: true
          required:
          - privateLinkServiceConnectionState
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource
        Manager resources
      x-ms-azure-resource: true
    ServerProperties:
      type: object
      properties:
        administratorLogin:
          type: string
          description: Name of the login designated as the first password based administrator
            assigned to your instance of PostgreSQL. Must be specified the first time
            that you enable password based authentication on a server. Once set to
            a given value, it cannot be changed for the rest of the life of a server.
            If you disable password based authentication on a server which had it
            enabled, this password based role isn't deleted.
          x-ms-mutability:
          - create
          - read
        administratorLoginPassword:
          type: string
          description: Password assigned to the administrator login. As long as password
            authentication is enabled, this password can be changed at any time.
          x-ms-secret: true
          format: password
          x-ms-mutability:
          - create
          - update
        version:
          description: Major version of PostgreSQL database engine.
          type: string
          enum:
          - '16'
          - '15'
          - '14'
          - '13'
          - '12'
          - '11'
          x-ms-enum:
            name: ServerVersion
            modelAsString: true
        minorVersion:
          type: string
          description: Minor version of PostgreSQL database engine.
          readOnly: true
        state:
          type: string
          description: Possible states of a flexible server.
          readOnly: true
          enum:
          - Ready
          - Dropping
          - Disabled
          - Starting
          - Stopping
          - Stopped
          - Updating
          x-ms-enum:
            name: ServerState
            modelAsString: true
        fullyQualifiedDomainName:
          type: string
          description: Fully qualified domain name of a flexible server.
          readOnly: true
        storage:
          default: null
          description: Storage properties of a flexible server.
          type: object
          properties:
            storageSizeGB:
              type: integer
              format: int32
              description: Size of storage assigned to a flexible server.
            autoGrow:
              type: string
              description: Flag to enable or disable the automatic growth of storage
                size of a flexible server when available space is nearing zero and
                conditions allow for automatically growing storage size.
              enum:
              - Enabled
              - Disabled
              x-ms-enum:
                name: StorageAutoGrow
                modelAsString: true
            tier:
              type: string
              description: Storage tier of a flexible server.
              enum:
              - P1
              - P2
              - P3
              - P4
              - P6
              - P10
              - P15
              - P20
              - P30
              - P40
              - P50
              - P60
              - P70
              - P80
              x-ms-enum:
                name: AzureManagedDiskPerformanceTiers
                modelAsString: true
            iops:
              type: integer
              format: int32
              description: Maximum IOPS supported for storage. Required when type
                of storage is PremiumV2_LRS.
            throughput:
              type: integer
              format: int32
              description: Maximum throughput supported for storage. Required when
                type of storage is PremiumV2_LRS.
            type:
              type: string
              enum:
              - Premium_LRS
              - PremiumV2_LRS
              x-ms-enum:
                name: StorageType
                modelAsString: true
              description: Type of storage assigned to a flexible server. Allowed
                values are Premium_LRS or PremiumV2_LRS. If not specified, it defaults
                to Premium_LRS.
        authConfig:
          default: null
          description: Authentication configuration properties of a flexible server.
          type: object
          properties:
            activeDirectoryAuth:
              type: string
              description: Indicates if the server supports Microsoft Entra authentication.
              enum:
              - Enabled
              - Disabled
              x-ms-enum:
                name: activeDirectoryAuthEnum
                modelAsString: true
            passwordAuth:
              type: string
              default: Enabled
              description: Indicates if the server supports password based authentication.
              enum:
              - Enabled
              - Disabled
              x-ms-enum:
                name: passwordAuthEnum
                modelAsString: true
            tenantId:
              type: string
              default: ''
              description: Identifier of the tenant of the delegated resource.
        dataEncryption:
          default: null
          description: Data encryption properties of a flexible server.
          type: object
          properties:
            primaryKeyURI:
              type: string
              description: URI of the key in Azure Key Vault used for data encryption
                of the primary storage associated to a flexible server.
            primaryUserAssignedIdentityId:
              type: string
              description: Identifier of the user assigned managed identity used to
                access the key in Azure Key Vault for data encryption of the primary
                storage associated to a flexible server.
            geoBackupKeyURI:
              type: string
              description: Identifier of the user assigned managed identity used to
                access the key in Azure Key Vault for data encryption of the geographically
                redundant storage associated to a flexible server that is configured
                to support geographically redundant backups.
            geoBackupUserAssignedIdentityId:
              type: string
              description: Identifier of the user assigned managed identity used to
                access the key in Azure Key Vault for data encryption of the geographically
                redundant storage associated to a flexible server that is configured
                to support geographically redundant backups.
            type:
              type: string
              description: Data encryption type used by a flexible server.
              enum:
              - SystemManaged
              - AzureKeyVault
              x-ms-enum:
                name: ArmServerKeyType
                modelAsString: true
            primaryEncryptionKeyStatus:
              type: string
              description: Status of key used by a flexible server configured with
                data encryption based on customer managed key, to encrypt the primary
                storage associated to the server.
              x-ms-mutability:
              - read
              enum:
              - Valid
              - Invalid
              x-ms-enum:
                name: keyStatusEnum
                modelAsString: true
            geoBackupEncryptionKeyStatus:
              type: string
              description: Status of key used by a flexible server configured with
                data encryption based on customer managed key, to encrypt the geographically
                redundant storage associated to the server when it is configured to
                support geographically redundant backups.
              x-ms-mutability:
              - read
              enum:
              - Valid
              - Invalid
              x-ms-enum:
                name: keyStatusEnum
                modelAsString: true
        backup:
          default: null
          description: Backup properties of a flexible server.
          type: object
          properties:
            backupRetentionDays:
              type: integer
              format: int32
              default: 7
              description: Backup retention days for the flexible server.
            geoRedundantBackup:
              type: string
              default: Disabled
              description: Indicates if the server is configured to create geographically
                redundant backups.
              enum:
              - Enabled
              - Disabled
              x-ms-enum:
[...]
