openapi: 3.0.0
info:
  version: 2015-01-14-privatepreview
  title: IntuneResourceManagementClient
  description: Microsoft.Intune Resource provider Api features in the swagger-2.0
    specification
servers:
- url: https://management.azure.com
paths:
  /providers/Microsoft.Intune/locations:
    get:
      description: Returns location for user tenant.
      operationId: GetLocations
      parameters:
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      responses:
        '200':
          description: location response as a collection
          content:
            application/json:
              schema:
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        location:
                          type: string
                          description: Resource Location
                        properties:
                          x-ms-client-flatten: true
                          required:
                          - hostName
                          properties:
                            hostName:
                              type: string
                      x-ms-azure-resource: true
                      description: Location entity for given tenant.
                  nextlink:
                    readOnly: true
                    type: string
                    description: Gets the URL to get the next set of results.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/hostName:
    get:
      description: Returns location for given tenant.
      operationId: GetLocationByHostName
      parameters:
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      responses:
        '200':
          description: single location response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  location:
                    type: string
                    description: Resource Location
                  properties:
                    x-ms-client-flatten: true
                    required:
                    - hostName
                    properties:
                      hostName:
                        type: string
                x-ms-azure-resource: true
                description: Location entity for given tenant.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
  /providers/Microsoft.Intune/locations/{hostName}/apps:
    get:
      description: Returns Intune Manageable apps.
      operationId: GetApps
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        required: false
        description: select specific fields in entity.
        schema:
          type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        location:
                          type: string
                          description: Resource Location
                        properties:
                          x-ms-client-flatten: true
                          required:
                          - friendlyName
                          - platform
                          properties:
                            friendlyName:
                              type: string
                            platform:
                              type: string
                              default: ios
                              enum:
                              - ios
                              - android
                              - windows
                            appId:
                              type: string
                      x-ms-azure-resource: true
                      description: Application entity for Intune MAM.
                  nextlink:
                    readOnly: true
                    type: string
                    description: Gets the URL to get the next set of results.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies:
    get:
      description: Returns Intune iOSPolicies.
      operationId: Ios_GetMAMPolicies
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        required: false
        description: select specific fields in entity.
        schema:
          type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        location:
                          type: string
                          description: Resource Location
                        properties:
                          type: object
                          properties:
                            friendlyName:
                              type: string
                            description:
                              type: string
                            appSharingFromLevel:
                              type: string
                              default: none
                              enum:
                              - none
                              - policyManagedApps
                              - allApps
                            appSharingToLevel:
                              type: string
                              default: none
                              enum:
                              - none
                              - policyManagedApps
                              - allApps
                            authentication:
                              type: string
                              default: required
                              enum:
                              - required
                              - notRequired
                            clipboardSharingLevel:
                              type: string
                              default: blocked
                              enum:
                              - blocked
                              - policyManagedApps
                              - policyManagedAppsWithPasteIn
                              - allApps
                            dataBackup:
                              type: string
                              default: allow
                              enum:
                              - allow
                              - block
                            fileSharingSaveAs:
                              type: string
                              default: allow
                              enum:
                              - allow
                              - block
                            pin:
                              type: string
                              default: required
                              enum:
                              - required
                              - notRequired
                            pinNumRetry:
                              type: integer
                            deviceCompliance:
                              type: string
                              default: enable
                              enum:
                              - enable
                              - disable
                            managedBrowser:
                              type: string
                              default: required
                              enum:
                              - required
                              - notRequired
                            accessRecheckOfflineTimeout:
                              type: string
                              format: duration
                            accessRecheckOnlineTimeout:
                              type: string
                              format: duration
                            offlineWipeTimeout:
                              type: string
                              format: duration
                            numOfApps:
                              type: integer
                              readOnly: true
                            groupStatus:
                              readOnly: true
                              type: string
                              default: notTargeted
                              enum:
                              - notTargeted
                              - targeted
                            lastModifiedTime:
                              type: string
                              readOnly: true
                              format: date-time
                            fileEncryptionLevel:
                              type: string
                              default: deviceLocked
                              enum:
                              - deviceLocked
                              - deviceLockedExceptFilesOpen
                              - afterDeviceRestart
                              - useDeviceSettings
                            touchId:
                              type: string
                              default: enable
                              enum:
                              - enable
                              - disable
                          required:
                          - friendlyName
                          description: Intune MAM iOS Policy Properties.
                          x-ms-client-flatten: true
                      x-ms-azure-resource: true
                      description: iOS Policy entity for Intune MAM.
                  nextlink:
                    readOnly: true
                    type: string
                    description: Gets the URL to get the next set of results.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies:
    get:
      description: Returns Intune Android policies.
      operationId: Android_GetMAMPolicies
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        required: false
        description: select specific fields in entity.
        schema:
          type: string
      responses:
        '200':
          description: android Policies response
          content:
            application/json:
              schema:
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        location:
                          type: string
                          description: Resource Location
                        properties:
                          type: object
                          properties:
                            friendlyName:
                              type: string
                            description:
                              type: string
                            appSharingFromLevel:
                              type: string
                              default: none
                              enum:
                              - none
                              - policyManagedApps
                              - allApps
                            appSharingToLevel:
                              type: string
                              default: none
                              enum:
                              - none
                              - policyManagedApps
                              - allApps
                            authentication:
                              type: string
                              default: required
                              enum:
                              - required
                              - notRequired
                            clipboardSharingLevel:
                              type: string
                              default: blocked
                              enum:
                              - blocked
                              - policyManagedApps
                              - policyManagedAppsWithPasteIn
                              - allApps
                            dataBackup:
                              type: string
                              default: allow
                              enum:
                              - allow
                              - block
                            fileSharingSaveAs:
                              type: string
                              default: allow
                              enum:
                              - allow
                              - block
                            pin:
                              type: string
                              default: required
                              enum:
                              - required
                              - notRequired
                            pinNumRetry:
                              type: integer
                            deviceCompliance:
                              type: string
                              default: enable
                              enum:
                              - enable
                              - disable
                            managedBrowser:
                              type: string
                              default: required
                              enum:
                              - required
                              - notRequired
                            accessRecheckOfflineTimeout:
                              type: string
                              format: duration
                            accessRecheckOnlineTimeout:
                              type: string
                              format: duration
                            offlineWipeTimeout:
                              type: string
                              format: duration
                            numOfApps:
                              type: integer
                              readOnly: true
                            groupStatus:
                              readOnly: true
                              type: string
                              default: notTargeted
                              enum:
                              - notTargeted
                              - targeted
                            lastModifiedTime:
                              type: string
                              readOnly: true
                              format: date-time
                            screenCapture:
                              type: string
                              default: allow
                              enum:
                              - allow
                              - block
                            fileEncryption:
                              type: string
                              default: required
                              enum:
                              - required
                              - notRequired
                          required:
                          - friendlyName
                          description: Intune MAM iOS Policy Properties.
                          x-ms-client-flatten: true
                      x-ms-azure-resource: true
                      description: Android Policy entity for Intune MAM.
                  nextlink:
                    readOnly: true
                    type: string
                    description: Gets the URL to get the next set of results.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}:
    get:
      description: Returns Intune iOS policies.
      operationId: Ios_GetMAMPolicyByName
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      - name: $select
        in: query
        required: false
        description: select specific fields in entity.
        schema:
          type: string
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  location:
                    type: string
                    description: Resource Location
                  properties:
                    type: object
                    properties:
                      friendlyName:
                        type: string
                      description:
                        type: string
                      appSharingFromLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      appSharingToLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      authentication:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      clipboardSharingLevel:
                        type: string
                        default: blocked
                        enum:
                        - blocked
                        - policyManagedApps
                        - policyManagedAppsWithPasteIn
                        - allApps
                      dataBackup:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileSharingSaveAs:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      pin:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      pinNumRetry:
                        type: integer
                      deviceCompliance:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                      managedBrowser:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      accessRecheckOfflineTimeout:
                        type: string
                        format: duration
                      accessRecheckOnlineTimeout:
                        type: string
                        format: duration
                      offlineWipeTimeout:
                        type: string
                        format: duration
                      numOfApps:
                        type: integer
                        readOnly: true
                      groupStatus:
                        readOnly: true
                        type: string
                        default: notTargeted
                        enum:
                        - notTargeted
                        - targeted
                      lastModifiedTime:
                        type: string
                        readOnly: true
                        format: date-time
                      fileEncryptionLevel:
                        type: string
                        default: deviceLocked
                        enum:
                        - deviceLocked
                        - deviceLockedExceptFilesOpen
                        - afterDeviceRestart
                        - useDeviceSettings
                      touchId:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                    required:
                    - friendlyName
                    description: Intune MAM iOS Policy Properties.
                    x-ms-client-flatten: true
                x-ms-azure-resource: true
                description: iOS Policy entity for Intune MAM.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
    put:
      description: Creates or updates iOSMAMPolicy.
      operationId: Ios_CreateOrUpdateMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource Tags
                location:
                  type: string
                  description: Resource Location
                properties:
                  type: object
                  properties:
                    friendlyName:
                      type: string
                    description:
                      type: string
                    appSharingFromLevel:
                      type: string
                      default: none
                      enum:
                      - none
                      - policyManagedApps
                      - allApps
                    appSharingToLevel:
                      type: string
                      default: none
                      enum:
                      - none
                      - policyManagedApps
                      - allApps
                    authentication:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    clipboardSharingLevel:
                      type: string
                      default: blocked
                      enum:
                      - blocked
                      - policyManagedApps
                      - policyManagedAppsWithPasteIn
                      - allApps
                    dataBackup:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    fileSharingSaveAs:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    pin:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    pinNumRetry:
                      type: integer
                    deviceCompliance:
                      type: string
                      default: enable
                      enum:
                      - enable
                      - disable
                    managedBrowser:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    accessRecheckOfflineTimeout:
                      type: string
                      format: duration
                    accessRecheckOnlineTimeout:
                      type: string
                      format: duration
                    offlineWipeTimeout:
                      type: string
                      format: duration
                    numOfApps:
                      type: integer
                      readOnly: true
                    groupStatus:
                      readOnly: true
                      type: string
                      default: notTargeted
                      enum:
                      - notTargeted
                      - targeted
                    lastModifiedTime:
                      type: string
                      readOnly: true
                      format: date-time
                    fileEncryptionLevel:
                      type: string
                      default: deviceLocked
                      enum:
                      - deviceLocked
                      - deviceLockedExceptFilesOpen
                      - afterDeviceRestart
                      - useDeviceSettings
                    touchId:
                      type: string
                      default: enable
                      enum:
                      - enable
                      - disable
                  required:
                  - friendlyName
                  description: Intune MAM iOS Policy Properties.
                  x-ms-client-flatten: true
              x-ms-azure-resource: true
              description: iOS Policy entity for Intune MAM.
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  location:
                    type: string
                    description: Resource Location
                  properties:
                    type: object
                    properties:
                      friendlyName:
                        type: string
                      description:
                        type: string
                      appSharingFromLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      appSharingToLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      authentication:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      clipboardSharingLevel:
                        type: string
                        default: blocked
                        enum:
                        - blocked
                        - policyManagedApps
                        - policyManagedAppsWithPasteIn
                        - allApps
                      dataBackup:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileSharingSaveAs:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      pin:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      pinNumRetry:
                        type: integer
                      deviceCompliance:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                      managedBrowser:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      accessRecheckOfflineTimeout:
                        type: string
                        format: duration
                      accessRecheckOnlineTimeout:
                        type: string
                        format: duration
                      offlineWipeTimeout:
                        type: string
                        format: duration
                      numOfApps:
                        type: integer
                        readOnly: true
                      groupStatus:
                        readOnly: true
                        type: string
                        default: notTargeted
                        enum:
                        - notTargeted
                        - targeted
                      lastModifiedTime:
                        type: string
                        readOnly: true
                        format: date-time
                      fileEncryptionLevel:
                        type: string
                        default: deviceLocked
                        enum:
                        - deviceLocked
                        - deviceLockedExceptFilesOpen
                        - afterDeviceRestart
                        - useDeviceSettings
                      touchId:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                    required:
                    - friendlyName
                    description: Intune MAM iOS Policy Properties.
                    x-ms-client-flatten: true
                x-ms-azure-resource: true
                description: iOS Policy entity for Intune MAM.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
    patch:
      description: ' patch an iOSMAMPolicy.'
      operationId: Ios_PatchMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource Tags
                location:
                  type: string
                  description: Resource Location
                properties:
                  type: object
                  properties:
                    friendlyName:
                      type: string
                    description:
                      type: string
                    appSharingFromLevel:
                      type: string
                      default: none
                      enum:
                      - none
                      - policyManagedApps
                      - allApps
                    appSharingToLevel:
                      type: string
                      default: none
                      enum:
                      - none
                      - policyManagedApps
                      - allApps
                    authentication:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    clipboardSharingLevel:
                      type: string
                      default: blocked
                      enum:
                      - blocked
                      - policyManagedApps
                      - policyManagedAppsWithPasteIn
                      - allApps
                    dataBackup:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    fileSharingSaveAs:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    pin:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    pinNumRetry:
                      type: integer
                    deviceCompliance:
                      type: string
                      default: enable
                      enum:
                      - enable
                      - disable
                    managedBrowser:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    accessRecheckOfflineTimeout:
                      type: string
                      format: duration
                    accessRecheckOnlineTimeout:
                      type: string
                      format: duration
                    offlineWipeTimeout:
                      type: string
                      format: duration
                    numOfApps:
                      type: integer
                      readOnly: true
                    groupStatus:
                      readOnly: true
                      type: string
                      default: notTargeted
                      enum:
                      - notTargeted
                      - targeted
                    lastModifiedTime:
                      type: string
                      readOnly: true
                      format: date-time
                    fileEncryptionLevel:
                      type: string
                      default: deviceLocked
                      enum:
                      - deviceLocked
                      - deviceLockedExceptFilesOpen
                      - afterDeviceRestart
                      - useDeviceSettings
                    touchId:
                      type: string
                      default: enable
                      enum:
                      - enable
                      - disable
                  required:
                  - friendlyName
                  description: Intune MAM iOS Policy Properties.
                  x-ms-client-flatten: true
              x-ms-azure-resource: true
              description: iOS Policy entity for Intune MAM.
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  location:
                    type: string
                    description: Resource Location
                  properties:
                    type: object
                    properties:
                      friendlyName:
                        type: string
                      description:
                        type: string
                      appSharingFromLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      appSharingToLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      authentication:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      clipboardSharingLevel:
                        type: string
                        default: blocked
                        enum:
                        - blocked
                        - policyManagedApps
                        - policyManagedAppsWithPasteIn
                        - allApps
                      dataBackup:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileSharingSaveAs:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      pin:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      pinNumRetry:
                        type: integer
                      deviceCompliance:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                      managedBrowser:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      accessRecheckOfflineTimeout:
                        type: string
                        format: duration
                      accessRecheckOnlineTimeout:
                        type: string
                        format: duration
                      offlineWipeTimeout:
                        type: string
                        format: duration
                      numOfApps:
                        type: integer
                        readOnly: true
                      groupStatus:
                        readOnly: true
                        type: string
                        default: notTargeted
                        enum:
                        - notTargeted
                        - targeted
                      lastModifiedTime:
                        type: string
                        readOnly: true
                        format: date-time
                      fileEncryptionLevel:
                        type: string
                        default: deviceLocked
                        enum:
                        - deviceLocked
                        - deviceLockedExceptFilesOpen
                        - afterDeviceRestart
                        - useDeviceSettings
                      touchId:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                    required:
                    - friendlyName
                    description: Intune MAM iOS Policy Properties.
                    x-ms-client-flatten: true
                x-ms-azure-resource: true
                description: iOS Policy entity for Intune MAM.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
    delete:
      description: Delete Ios Policy
      operationId: Ios_DeleteMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}:
    get:
      description: Returns AndroidMAMPolicy with given name.
      operationId: Android_GetMAMPolicyByName
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      - name: $select
        in: query
        required: false
        description: select specific fields in entity.
        schema:
          type: string
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  location:
                    type: string
                    description: Resource Location
                  properties:
                    type: object
                    properties:
                      friendlyName:
                        type: string
                      description:
                        type: string
                      appSharingFromLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      appSharingToLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      authentication:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      clipboardSharingLevel:
                        type: string
                        default: blocked
                        enum:
                        - blocked
                        - policyManagedApps
                        - policyManagedAppsWithPasteIn
                        - allApps
                      dataBackup:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileSharingSaveAs:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      pin:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      pinNumRetry:
                        type: integer
                      deviceCompliance:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                      managedBrowser:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      accessRecheckOfflineTimeout:
                        type: string
                        format: duration
                      accessRecheckOnlineTimeout:
                        type: string
                        format: duration
                      offlineWipeTimeout:
                        type: string
                        format: duration
                      numOfApps:
                        type: integer
                        readOnly: true
                      groupStatus:
                        readOnly: true
                        type: string
                        default: notTargeted
                        enum:
                        - notTargeted
                        - targeted
                      lastModifiedTime:
                        type: string
                        readOnly: true
                        format: date-time
                      screenCapture:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileEncryption:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                    required:
                    - friendlyName
                    description: Intune MAM iOS Policy Properties.
                    x-ms-client-flatten: true
                x-ms-azure-resource: true
                description: Android Policy entity for Intune MAM.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
    put:
      description: Creates or updates AndroidMAMPolicy.
      operationId: Android_CreateOrUpdateMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource Tags
                location:
                  type: string
                  description: Resource Location
                properties:
                  type: object
                  properties:
                    friendlyName:
                      type: string
                    description:
                      type: string
                    appSharingFromLevel:
                      type: string
                      default: none
                      enum:
                      - none
                      - policyManagedApps
                      - allApps
                    appSharingToLevel:
                      type: string
                      default: none
                      enum:
                      - none
                      - policyManagedApps
                      - allApps
                    authentication:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    clipboardSharingLevel:
                      type: string
                      default: blocked
                      enum:
                      - blocked
                      - policyManagedApps
                      - policyManagedAppsWithPasteIn
                      - allApps
                    dataBackup:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    fileSharingSaveAs:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    pin:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    pinNumRetry:
                      type: integer
                    deviceCompliance:
                      type: string
                      default: enable
                      enum:
                      - enable
                      - disable
                    managedBrowser:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    accessRecheckOfflineTimeout:
                      type: string
                      format: duration
                    accessRecheckOnlineTimeout:
                      type: string
                      format: duration
                    offlineWipeTimeout:
                      type: string
                      format: duration
                    numOfApps:
                      type: integer
                      readOnly: true
                    groupStatus:
                      readOnly: true
                      type: string
                      default: notTargeted
                      enum:
                      - notTargeted
                      - targeted
                    lastModifiedTime:
                      type: string
                      readOnly: true
                      format: date-time
                    screenCapture:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    fileEncryption:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                  required:
                  - friendlyName
                  description: Intune MAM iOS Policy Properties.
                  x-ms-client-flatten: true
              x-ms-azure-resource: true
              description: Android Policy entity for Intune MAM.
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
      responses:
        '200':
          description: android entity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  location:
                    type: string
                    description: Resource Location
                  properties:
                    type: object
                    properties:
                      friendlyName:
                        type: string
                      description:
                        type: string
                      appSharingFromLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      appSharingToLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      authentication:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      clipboardSharingLevel:
                        type: string
                        default: blocked
                        enum:
                        - blocked
                        - policyManagedApps
                        - policyManagedAppsWithPasteIn
                        - allApps
                      dataBackup:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileSharingSaveAs:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      pin:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      pinNumRetry:
                        type: integer
                      deviceCompliance:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                      managedBrowser:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      accessRecheckOfflineTimeout:
                        type: string
                        format: duration
                      accessRecheckOnlineTimeout:
                        type: string
                        format: duration
                      offlineWipeTimeout:
                        type: string
                        format: duration
                      numOfApps:
                        type: integer
                        readOnly: true
                      groupStatus:
                        readOnly: true
                        type: string
                        default: notTargeted
                        enum:
                        - notTargeted
                        - targeted
                      lastModifiedTime:
                        type: string
                        readOnly: true
                        format: date-time
                      screenCapture:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileEncryption:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                    required:
                    - friendlyName
                    description: Intune MAM iOS Policy Properties.
                    x-ms-client-flatten: true
                x-ms-azure-resource: true
                description: Android Policy entity for Intune MAM.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
    patch:
      description: Patch AndroidMAMPolicy.
      operationId: Android_PatchMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  readOnly: true
                  type: string
                  description: Resource Id
                name:
                  readOnly: true
                  type: string
                  description: Resource name
                type:
                  readOnly: true
                  type: string
                  description: Resource type
                tags:
                  type: object
                  additionalProperties:
                    type: string
                  description: Resource Tags
                location:
                  type: string
                  description: Resource Location
                properties:
                  type: object
                  properties:
                    friendlyName:
                      type: string
                    description:
                      type: string
                    appSharingFromLevel:
                      type: string
                      default: none
                      enum:
                      - none
                      - policyManagedApps
                      - allApps
                    appSharingToLevel:
                      type: string
                      default: none
                      enum:
                      - none
                      - policyManagedApps
                      - allApps
                    authentication:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    clipboardSharingLevel:
                      type: string
                      default: blocked
                      enum:
                      - blocked
                      - policyManagedApps
                      - policyManagedAppsWithPasteIn
                      - allApps
                    dataBackup:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    fileSharingSaveAs:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    pin:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    pinNumRetry:
                      type: integer
                    deviceCompliance:
                      type: string
                      default: enable
                      enum:
                      - enable
                      - disable
                    managedBrowser:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                    accessRecheckOfflineTimeout:
                      type: string
                      format: duration
                    accessRecheckOnlineTimeout:
                      type: string
                      format: duration
                    offlineWipeTimeout:
                      type: string
                      format: duration
                    numOfApps:
                      type: integer
                      readOnly: true
                    groupStatus:
                      readOnly: true
                      type: string
                      default: notTargeted
                      enum:
                      - notTargeted
                      - targeted
                    lastModifiedTime:
                      type: string
                      readOnly: true
                      format: date-time
                    screenCapture:
                      type: string
                      default: allow
                      enum:
                      - allow
                      - block
                    fileEncryption:
                      type: string
                      default: required
                      enum:
                      - required
                      - notRequired
                  required:
                  - friendlyName
                  description: Intune MAM iOS Policy Properties.
                  x-ms-client-flatten: true
              x-ms-azure-resource: true
              description: Android Policy entity for Intune MAM.
        description: Parameters supplied to the Create or update an android policy
          operation.
        required: true
      responses:
        '200':
          description: android entity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    readOnly: true
                    type: string
                    description: Resource Id
                  name:
                    readOnly: true
                    type: string
                    description: Resource name
                  type:
                    readOnly: true
                    type: string
                    description: Resource type
                  tags:
                    type: object
                    additionalProperties:
                      type: string
                    description: Resource Tags
                  location:
                    type: string
                    description: Resource Location
                  properties:
                    type: object
                    properties:
                      friendlyName:
                        type: string
                      description:
                        type: string
                      appSharingFromLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      appSharingToLevel:
                        type: string
                        default: none
                        enum:
                        - none
                        - policyManagedApps
                        - allApps
                      authentication:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      clipboardSharingLevel:
                        type: string
                        default: blocked
                        enum:
                        - blocked
                        - policyManagedApps
                        - policyManagedAppsWithPasteIn
                        - allApps
                      dataBackup:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileSharingSaveAs:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      pin:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      pinNumRetry:
                        type: integer
                      deviceCompliance:
                        type: string
                        default: enable
                        enum:
                        - enable
                        - disable
                      managedBrowser:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                      accessRecheckOfflineTimeout:
                        type: string
                        format: duration
                      accessRecheckOnlineTimeout:
                        type: string
                        format: duration
                      offlineWipeTimeout:
                        type: string
                        format: duration
                      numOfApps:
                        type: integer
                        readOnly: true
                      groupStatus:
                        readOnly: true
                        type: string
                        default: notTargeted
                        enum:
                        - notTargeted
                        - targeted
                      lastModifiedTime:
                        type: string
                        readOnly: true
                        format: date-time
                      screenCapture:
                        type: string
                        default: allow
                        enum:
                        - allow
                        - block
                      fileEncryption:
                        type: string
                        default: required
                        enum:
                        - required
                        - notRequired
                    required:
                    - friendlyName
                    description: Intune MAM iOS Policy Properties.
                    x-ms-client-flatten: true
                x-ms-azure-resource: true
                description: Android Policy entity for Intune MAM.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
    delete:
      description: Delete Android Policy
      operationId: Android_DeleteMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps:
    get:
      description: Get apps for an iOSMAMPolicy.
      operationId: Ios_GetAppForMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        required: false
        description: select specific fields in entity.
        schema:
          type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        location:
                          type: string
                          description: Resource Location
                        properties:
                          x-ms-client-flatten: true
                          required:
                          - friendlyName
                          - platform
                          properties:
                            friendlyName:
                              type: string
                            platform:
                              type: string
                              default: ios
                              enum:
                              - ios
                              - android
                              - windows
                            appId:
                              type: string
                      x-ms-azure-resource: true
                      description: Application entity for Intune MAM.
                  nextlink:
                    readOnly: true
                    type: string
                    description: Gets the URL to get the next set of results.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps:
    get:
      description: Get apps for an AndroidMAMPolicy.
      operationId: Android_GetAppForMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      - name: $filter
        in: query
        required: false
        description: The filter to apply on the operation.
        schema:
          type: string
      - name: $top
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        required: false
        description: select specific fields in entity.
        schema:
          type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        location:
                          type: string
                          description: Resource Location
                        properties:
                          x-ms-client-flatten: true
                          required:
                          - friendlyName
                          - platform
                          properties:
                            friendlyName:
                              type: string
                            platform:
                              type: string
                              default: ios
                              enum:
                              - ios
                              - android
                              - windows
                            appId:
                              type: string
                      x-ms-azure-resource: true
                      description: Application entity for Intune MAM.
                  nextlink:
                    readOnly: true
                    type: string
                    description: Gets the URL to get the next set of results.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}:
    put:
      description: Add app to an iOSMAMPolicy.
      operationId: Ios_AddAppForMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: appName
        in: path
        description: application unique Name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  required:
                  - url
                  properties:
                    url:
                      type: string
                  description: Android Policy request body for Intune MAM.
              description: MAM Policy request body for properties Intune MAM.
        description: Parameters supplied to add an app to an ios policy.
        required: true
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
    delete:
      description: Delete App for Ios Policy
      operationId: Ios_DeleteAppForMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: appName
        in: path
        description: application unique Name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}:
    put:
      description: Add app to an AndroidMAMPolicy.
      operationId: Android_AddAppForMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: appName
        in: path
        description: application unique Name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                properties:
                  required:
                  - url
                  properties:
                    url:
                      type: string
                  description: Android Policy request body for Intune MAM.
              description: MAM Policy request body for properties Intune MAM.
        description: Parameters supplied to the Create or update app to an android
          policy operation.
        required: true
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
    delete:
      description: Delete App for Android Policy
      operationId: Android_DeleteAppForMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: Unique name for the policy
        required: true
        schema:
          type: string
      - name: appName
        in: path
        description: application unique Name
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups:
    get:
      description: Returns groups for a given iOSMAMPolicy.
      operationId: Ios_GetGroupsForMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: policy name for the tenant
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      responses:
        '200':
          description: groups as collection response
          content:
            application/json:
              schema:
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        location:
                          type: string
                          description: Resource Location
                        properties:
                          x-ms-client-flatten: true
                          required:
                          - friendlyName
                          - platform
                          properties:
                            friendlyName:
                              type: string
                      x-ms-azure-resource: true
                      description: Group entity for Intune MAM.
                  nextlink:
                    readOnly: true
                    type: string
                    description: Gets the URL to get the next set of results.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups:
    get:
      description: Returns groups for a given AndroidMAMPolicy.
      operationId: Android_GetGroupsForMAMPolicy
      parameters:
      - name: hostName
        in: path
        description: Location hostName for the tenant
        required: true
        schema:
          type: string
      - name: policyName
        in: path
        description: policy name for the tenant
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        description: Service Api Version.
        schema:
          type: string
      responses:
        '200':
          description: groups as collection response
          content:
            application/json:
              schema:
                required:
                - value
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          readOnly: true
                          type: string
                          description: Resource Id
                        name:
                          readOnly: true
                          type: string
                          description: Resource name
                        type:
                          readOnly: true
                          type: string
                          description: Resource type
                        tags:
                          type: object
                          additionalProperties:
                            type: string
                          description: Resource Tags
                        location:
                          type: string
                          description: Resource Location
                        properties:
                          x-ms-client-flatten: true
                          required:
                          - friendlyName
                          - platform
                          properties:
                            friendlyName:
                              type: string
                      x-ms-azure-resource: true
                      description: Group entity for Intune MAM.
                  nextlink:
                    readOnly: true
                    type: string
                    description: Gets the URL to get the next set of results.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                required:
                - code
                - message
                properties:
                  code:
                    type: string
                  message:
                    type: string
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}:
    put:
      description: Add group to an iOSMAMPolicy.
      operationId: Ios_AddGroupForMAMPolicy
      parameters:
      - name: hostName
        in: path
[...]
